[2020-08-31 16:17] evilebottnawi commented on #10890
@polx
[code]

[2020-08-31 16:34] whitecolor commented on #7378
For me this with TS using `export {} from` construct causes the issues.

[code]
This causes warning: `"export 'AnimType' was not found in './anim'`

To workaround:

[code]

[2020-08-31 16:36] garyo commented on #7378
Just use `import type {AnimType}...` instead. Requires Typescript 3.8.

[2020-08-31 16:42] whitecolor commented on #7378
Actually, not for import but for export, this removes warning too:

[code]

This is still a workaround, and there is some bug in webpack.

[2020-08-31 17:08] evilebottnawi commented on #11203
@rramaa we are fix even more problems in latest beta release, I would like to know if the problem was solved?

[2020-08-31 17:09] evilebottnawi commented on #11150
@dustin-ruetz friendly ping

[2020-08-31 17:11] evilebottnawi commented on #11071
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-08-31 17:11] #11071 closed

[2020-08-31 17:15] evilebottnawi commented on #10604
Fixed on `terser-webpack-plugin`, we skip already optimized assets from child compilation, without any new options

[2020-08-31 17:15] evilebottnawi commented on #10604
@jantimon Do you search this?

[2020-08-31 17:22] evilebottnawi commented on #7281
I think we can close it, if you faced with this issue again feel free to open a new issue with reproducible test repo/configurations/screenshots/videos

[2020-08-31 17:22] #7281 closed

[2020-08-31 17:26] evilebottnawi commented on #10971
Close in favor #7973

[2020-08-31 17:26] #10971 closed

[2020-08-31 17:26] evilebottnawi commented on #7973
Latest answer from the duplicate issue https://github.com/webpack/webpack/issues/10971#issuecomment-636359287

[2020-08-31 17:32] evilebottnawi commented on #6584
Close in favor https://github.com/webpack/webpack/issues/7973

[2020-08-31 17:32] #6584 closed

[2020-08-31 17:34] evilebottnawi commented on #6675
Should be fixed, most of plugins support webpack@4 (and even webpack@5), let's close, anyway if you faced with this issue feel free to open new issue with reproducible test repo, thanks for using webpack

[2020-08-31 17:34] #6675 closed

[2020-08-31 17:35] evilebottnawi commented on #6216
Docs was updated https://webpack.js.org/plugins/source-map-dev-tool-plugin/ , see `publicPath`

[2020-08-31 17:35] #6216 closed

[2020-08-31 17:37] evilebottnawi commented on #7525
@AMDvsTMD sorry for big delay, problems still exists?

[2020-08-31 17:38] evilebottnawi commented on #8811
Close in favor https://github.com/webpack/webpack/issues/10534

[2020-08-31 17:39] evilebottnawi commented on #10534
https://github.com/webpack/webpack/issues/8811 - Always print `errors` and `warnings` at bottom

[2020-08-31 17:41] evilebottnawi commented on #11262
@isaiahtaylorhh friendly ping

[2020-08-31 17:42] evilebottnawi commented on #11202
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions, don't forget update `terser-webpack-plugin` to latest stable version. If you faced with this issue again feel free to open a new issue with reproducible test repo. Thanks!

[2020-08-31 17:42] #11202 closed

[2020-08-31 17:46] evilebottnawi commented on #11074
@jquense problem still exists? I can help with this

[2020-08-31 17:47] evilebottnawi commented on #11025
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Feel free to feedback if you still have the problem. Thanks!

[2020-08-31 17:47] #11025 closed

[2020-08-31 17:55] evilebottnawi commented on #7787
Close in favor `[contenthash]` and `optimization.realContentHash` https://github.com/webpack/webpack/pull/11339

[2020-08-31 17:55] #7787 closed

[2020-08-31 18:00] evilebottnawi commented on #5931
`babel-minify-plugin-webpack` was deprecated, please migrate on `terser-webpack-plugin`, if you still have same problems feel free to open a new issue with reproducible test repo, thanks for using webpack and sorry for delay

[2020-08-31 18:00] #5931 closed

[2020-08-31 18:01] evilebottnawi commented on #11012
Close in favor https://github.com/webpack/webpack/issues/5029

[2020-08-31 18:07] evilebottnawi commented on #1194
Is anyone still having problems? Firefox 71 fixed many issue with source maps, need feedback

[2020-08-31 18:10] mbrevda commented on #10604
In which version?

[2020-08-31 18:10] belka-ew commented on #1194
Works fine for me on the Developer Edition.

[2020-08-31 18:11] evilebottnawi commented on #4908
You can archive this using https://webpack.js.org/plugins/split-chunks-plugin/, please read docs

[2020-08-31 18:11] #4908 closed

[2020-08-31 18:15] evilebottnawi commented on #8437
Fixed in webpack@5, feel free to test it and leave feedback on this https://github.com/webpack/webpack/issues/9802

[2020-08-31 18:15] #8437 closed

[2020-08-31 18:28] sokra commented on #7973
Webpack 5 support the exports field with `require` `import` and `module` conditions, which allows every library author to choose which semantic they want to use. I recommend the `module` semantic, but one can also choose otherwise.

[2020-08-31 18:38] jquense commented on #11074
@evilebottnawi ya my last question is the latest and still pending if you get a chance to look at it. Thanks!

[2020-08-31 18:54] cellurl3 opened #11400 "npm [ERR] code EMAXREDIRECT during npm install webpack --save-dev"
newbie. Sorry for intrusion.

I am behind proxy .company.com

I was able to find an .msi for npm, nodejs, but is there one for webpack??

Otherwise, I have to yank my work computer to home, install webpack and then get fired... ;-)

-----------------------------------------------------
C:\Users\857723\OneDrive - MyFedEx\Desktop\translate_onhover-master>npm install webpack --save-dev
npm ERR! code

[2020-08-31 19:34] jasonLaster commented on #1194
@evilebottnawi @belka-ew I'm so glad that sourcemaps are working better.

Big props to @loganfsmyth!

[2020-08-31 20:12] kirill-konshin commented on #11293
Just use Webpack 5 and Yarn 2 with PNP mode, make sure to use ts loader and/or SASS loader, you'll see the following error:

[code]

[2020-09-01 04:00] michaelalhilly commented on #4817
Worked for me and makes sense. Thanks @Arish-theGalaxyBea !

[2020-09-01 05:11] tswaters commented on #11382
Combining the `module: true` with `libraryTarget: module`, `libraryExport: default` (I haven't tried named exports), with both `mjs` and `outputModule` experiments on in `5.0.0-beta.29` is met with some... interesting results.

Here's a test repository:

https://github.com/tswaters/webpack-mjs-library-export-issue

This is the closet I've come, and the generated bundle results in the following err

[2020-09-01 05:15] smallalso opened #11402 "export in Source code after builded is not valid"
# Bug report

**What is the current behavior?**

source code
---------------

[code]
------------------

builded code
-----------------

[code]
-------------------------------

window['subapp-app'] is undefined

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack config

[code]

**What is the expected behavior?**

window['sub-app'] is a Moudle Object

**Other rele

[2020-09-01 05:25] jasongrout commented on #9802
We are hoping to have a major release of our software (JupyterLab) in the next month, and we've rewritten key parts to depend on webpack 5 and its module federation system. It works great and we love it! Thanks!

A while ago, you were hoping to release webpack 5 this summer, which worked well for our timeline, but I understand things can shift. To better plan our release, do you have an idea of wh

[2020-09-01 07:33] sokra commented on #11400
not a webpack issue, probably company it problem

[2020-09-01 07:33] #11400 closed

[2020-09-01 07:36] sokra commented on #11402
You are trying to export `subapp` from your entrypoint via `libraryExport`, but the entrypoint only has a `bootstap` exports. Please read the documentation about this option. You probably want to omit it.

-> `library: "sub-app"`

[2020-09-01 07:38] sokra commented on #11382
`libraryTarget: module` is not yet supported...

[2020-09-01 08:45] sokra opened #11406 "webpack 5 release plan"
TL;DR: release planned for 2020-10-10

After nearly 1 year of beta testing and about 2 years of development we feel that it's time to release webpack 5 soon. As promised we do announce the release at least one month earlier to allow the ecosystem to catch up. To support that we ~will release~ have released a Release Candidate (RC) ~soon-ish in about 1-2 weeks~. Once the RC has been released we try

[2020-09-01 08:49] sokra commented on #9802
Yes actually we are moving to the next stage.

-> https://github.com/webpack/webpack/issues/11406 <-

Thanks to all of you for helping to beta test webpack 5.

I'll close this issue now. Please create new issues for problems now. I hope I didn't miss any problems posted here, but there are ~500 comments in this issue now and github isn't the best tool to manage issues with that many comments. So i

[2020-09-01 08:49] #9802 closed

[2020-09-01 09:47] sokra commented on #11378
Looks like circular symlinks between two packages and a context dependencies in one of them.

This could be fixed by checking realpath in folders of ContextModuleFactory.resolveDependencies and avoiding visiting recursive symlinked directories. (add `visited` as `Set<string>` to `addDirectory`, do `path.realpath` before `readdir` and check if the realpath is in the `visited` Set.)

Send a PR

[2020-09-01 10:01] evilebottnawi commented on #10604
@mbrevda https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v3.1.0

[2020-09-01 10:05] evilebottnawi commented on #11293
@kirill-konshin unplugged package?

[2020-09-01 10:23] evilebottnawi commented on #1194
I'll keep the problem open for a while (2 weeks) for feedback, then I close, but if you find something not working, please let us know

[2020-09-01 10:24] ckken opened #11407 "disableHostCheck is no work in beta 29"
webpack 5 beta 24 work well!

[2020-09-01 10:40] evilebottnawi commented on #11407
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Not related to webpack and it w

[2020-09-01 10:40] #11407 closed

[2020-09-01 10:56] ycjcl868 commented on #11406
awesoming ~

[2020-09-01 11:12] jantimon commented on #10604
Wow that's cool 👍

Does that mean child compiler compilation will never be optimised?

[2020-09-01 11:15] evilebottnawi commented on #10604
@jantimon `terser` minimize child assets, but skip them in main compilation (no double minimizing)

[2020-09-01 11:20] jantimon commented on #10604
I don't need any minification at all as I will not output the asset.
Is there any way how I can tell terser to ignore a child compiler entirely for faster builds?

[2020-09-01 11:25] evilebottnawi commented on #10604
@jantimon Why you need it, I can't understand, if you don't have `js` files, terser will now work, minimizers should always work on child compilations, otherwise a lot of assets will no be optimized

[2020-09-01 11:27] jantimon commented on #10604
If you use a webpack loader together with a template file this will generate a `js` under the hood.
Before the emit is happening we remove it from the output and instead execute it directly to generate the html.

It's similar for the favicon generation.

Terser would here minify a file which will only be used internally and therefore slow down the html generation and make it harder to read the sta

[2020-09-01 11:43] evilebottnawi commented on #10604
You should not use `delete`, we have `deleteAsset` for webpack@5, otherwise it does not delete assets by other plugins, for example - `compression-webpack-plugin`, but I understand what do you mean, as workaround you can add `minimized: true` to asset info and terser skip minification for this assets

[2020-09-01 11:53] artem-malko commented on #11406
As for me, webpack 5 is super-fast against its 4 version. Built-in cache works perfectly) And it wasn't to hard to switch from webpack 4 to webpack 5!

There are some issues, how to migrate my own loaders and plugins, but there are just some warnings, and it is nice, cause you've made so many cool features, and there is no serious problems with version switching.

[2020-09-01 12:06] jantimon commented on #10604
Thanks for the heads up on `deleteAsset` 👍

Can you give an example where I would need to place `minimized: true` in https://github.com/jantimon/html-webpack-plugin/blob/17653730164688703ad46ce25ed356c52e79c43f/lib/child-compiler.js ?

[2020-09-01 12:11] evilebottnawi commented on #10604
@jantimon I will send a PR in near future, bit busy right now

[2020-09-01 12:12] jantimon commented on #10604
Cool thanks 👍
Let me know if I can help you there.

[2020-09-01 12:38] tenjojeremy commented on #11406
Amazing work webpack team 👍

[2020-09-01 13:47] #10968 closed

[2020-09-01 14:38] cellurl3 commented on #11400
i know, but the work around is an msi. Of course you hate it, but your number one user (me), needs it ;-)

[2020-09-01 14:48] evilebottnawi commented on #11400
@cellurl3 what do you expect from us to do here?

[2020-09-01 16:12] slorber commented on #7713
Hey,

If there is a good solution to this problem, please let me know.

In the meantime, you can probably disable the warning with warningsFilter option: https://webpack.js.org/configuration/stats/#statswarningsfilter

[code]

Not sure it will work for you because our setup is not very usual (we actually duplicate some code from Webpack), but this worked for me.

[2020-09-01 17:07] kirill-konshin commented on #11293
@evilebottnawi you can either unplug it manually, but Yarn 2 automatically unplugs packages that require `postinstall`. Both `typescript` and `node-sass` seems to do it.

[2020-09-01 17:14] evilebottnawi commented on #11293
@ kirill-konshin Only warnings? Is everything working fine?

[2020-09-01 18:05] kirill-konshin commented on #11293
@evilebottnawi *some* cache files are being created, but I'm not sure that cache is consistent and works well. And as you see the message is ERROR, not WARNING.

[2020-09-01 18:36] sokra commented on #11293
It's only a warning. The caching system will reresolve the build dependencies on restore and the caching should actually work. It might take a small performance hit on restore.

We should still fix that problem. Seems like we are expecting some different file structure here. I guess the format changed since this was implemented.

[2020-09-01 18:42] sokra commented on #10908
I think I randomly found the bug that caused this weird behavior. Cache groups with minSize unset or 0 caused some NaNs in the splitChunks plugin which makes sorting behave really weird. I hope this is fixed now and behave as configured.

[2020-09-01 19:14] kirill-konshin commented on #11293
@sokra Yarn 2 has indeed some weird format of their directories unplugged directories...

![image](https://user-images.githubusercontent.com/1530410/91895792-a9e13600-ec4c-11ea-92ac-49236f215c47.png)

[2020-09-02 03:28] shaodahong commented on #11033
In the actual project, services in remote host, and we may be exposed multiple module, can we do this?

[code]

[2020-09-02 05:31] evilebottnawi commented on #7841
Ref for use case - https://github.com/webpack-contrib/source-map-loader/pull/50

[2020-09-02 05:45] evilebottnawi commented on #10908
@novaknole Can you test it with webpack@5?

[2020-09-02 07:26] wmertens opened #11411 "production module.hot replacing should use `undefined`"
# Bug report

**What is the current behavior?**

During development, `webpack.hot` is an object with members like `accept`. In a production build, `webpack.hot` gets replaced by `false`. If you use `webpack.hot?.accept()`, this will get replaced by `false?.accept()`, which breaks.

**If the current behavior is a bug, please provide the steps to reproduce.**

Use hot module replacement and call `mo

[2020-09-02 07:29] wmertens commented on #11411
nevermind, I see that there are tests for this in v5. https://github.com/webpack/webpack/commit/13b417f27df0adeb4f71c1d305c137c8d33c8ab7

[2020-09-02 07:29] #11411 closed

[2020-09-02 12:44] evilebottnawi commented on #11146
Unfortunately, this will not be very easy to fix and can potentially create new problems, yes, fixed in webpack@5, also we improve generation of `contenthash` https://github.com/webpack/webpack/pull/11339 (`true` by default in `production` mode), now it is always hash of content. webpack@5 release will be `10-10-2020`, so I would like to close this issue, webpack@4 accept only critical fixes, sorr

[2020-09-02 12:44] #11146 closed

[2020-09-02 12:47] evilebottnawi commented on #4817
I want to close this issue, because there are a lot of difference problems without configurations/reproducible test repos. Most of problems related to https://github.com/webpack/webpack/issues/4817#issuecomment-492194612. Anyway if you faced with this issue again, feel free to open new issue with reproducible test repo and we will help you, thanks for using webpack

[2020-09-02 12:47] #4817 closed

[2020-09-02 12:55] evilebottnawi commented on #5870
[code]

Here docs how it works https://webpack.js.org/configuration/resolve/. Feel free to feedback.

[2020-09-02 12:55] #5870 closed

[2020-09-02 13:08] evilebottnawi commented on #6294
Fixed in webpack@5, big sorry for delay

[2020-09-02 13:08] #6294 closed

[2020-09-02 13:31] evilebottnawi commented on #4844
Looks like it was chrome bug, in `Version 85.0.4183.83 (Official Build) (64-bit)` works fine, let's close issue, anyway if you faced with this issue again feel free to open the new issue with reproducible test repo, feel free to feedback

[2020-09-02 13:31] #4844 closed

[2020-09-02 13:36] evilebottnawi commented on #3017
Let's close in favor https://webpack.js.org/configuration/other-options/#amd, you can use `amd: false` to disable AMD support  or like this https://github.com/webpack/webpack/issues/3017#issuecomment-285954512. Some developers still use AMD packages today :disappointed:

[2020-09-02 13:36] #3017 closed

[2020-09-02 13:48] syuilo commented on #11406
Thank you for your hardwork🥰

[2020-09-02 15:40] evilebottnawi commented on #6767
I want to close this issue, for webpack@4 we did everything we could, also almost all loaders and plugins received updates and performance improvements, webpack@5 has more improvements and very fast, anyway if you faced with performance again (in webpack@5 too) please open new issue with reproducible test repo, thanks for using webpack, feel free to feedback

[2020-09-02 15:40] #6767 closed

[2020-09-02 15:55] evilebottnawi commented on #9360
@villesau can you test latest webpack@5?

[2020-09-02 18:09] sokra commented on #9360
Should be fixed in webpack with the realContentHash, which calculates a hash of the content.

[2020-09-02 18:15] evilebottnawi commented on #9360
Yes, I just want to make sure we don't get edge case here.

[2020-09-02 20:26] davidcalhoun commented on #11406
Thank you!  Looking forward to this, especially [the ability to output modules](https://github.com/webpack/webpack/issues/2933), which is why I'm using Rollup at the moment.

BTW: 2020-10-10 = 👓-🙌- 🙌

[2020-09-02 22:48] villesau commented on #9360
@evilebottnawi @sokra Couldn't reproduce anymore with realContentHash=true. Great job! The fix saves a ton of time from devs who would otherwise hit into this problem eventually! :D

I can also confirm that with realContentHash=false, the problem still exist, but I guess that's intentional.

Thank you!

[2020-09-02 22:48] #9360 closed

[2020-09-02 23:39] ncoder opened #11416 "Hot Module Reload fails for web worker (document API doesn't exist)"
# Bug report

**What is the current behavior?**

Hot Module Reloading fails with

[code]

In the webworker when one of it's dependencies needs to be refreshed.

this injected function:
[code]

fails because there is no "document" api inside a web worker.

**If the current behavior is a bug, please provide the steps to reproduce.**

I've got a simple config with two entrypoints, one for my main mod

[2020-09-02 23:47] ncoder commented on #11416
Looks like you can't just dumbly add "prepare" to the list of failure code; "window.location.reload();" won't work either in the webworker. needs to bubble up somehow.

[2020-09-02 23:51] Vanuan commented on #3017
No. Those people who use AMD should opt in. They should feel pain, not people who use the latest and greatest features.

[2020-09-03 00:32] flyskywhy commented on #4039
In my react-native-web case, just use an additional webpack rule, then the `TypeError: Cannot assign to read only property 'exports' of object` is fixed. Maybe you can ref to it.

npm install --save-dev react-app-rewired

Create a `config-overrides.js` in your project root

[code]

Also create a `web/aliases/react-native/index.js`
[code]

Now you can just run `react-app-rewired start` instead of `

[2020-09-03 02:26] wavebeem opened #11417 "eval source-map devtool options cause syntax error on output from inline worker-loader"
# Bug report

When using any of the following devtool options:

- `eval-source-map`
- `eval-cheap-source-map`
- `eval-nosources-source-map`
- `eval-cheap-module-source-map`
- `eval-nosources-cheap-source-map`
- `eval-nosources-cheap-module-source-map`

Any worker loaded via `worker-loader` will contain a malformed `sourceURL`
comment, causing a syntax error and making the inline worker fail to loa

[2020-09-03 02:28] Linkontoask commented on #11406
Look forward to!

[2020-09-03 03:28] Linkontoask opened #11418 "webpack@5.0.0-beta.29 loader should be a non-empty string."
**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Recurring link: [https://github.com/Linkontoask/webpack-5-bug](https://github.com/Linkontoask/webpack-5-bug)

`"babel-loader": "^8.1.0",`
`"eslint-loader": "^4.0.2",`
[code]

**What is the expected behavior?**

`Compiled successfully.`

**Other relevant information:**
webpack ve

[2020-09-03 04:14] chenxsan commented on #11418
You're supposed to use [`Rule.use`](https://webpack.js.org/configuration/module/#ruleuse) for multiple loaders instead of `Rule.loader` which only accepts a non-empty string as the error message showed.

[2020-09-03 05:22] sokra commented on #11417
@evilebottnawi seem to be related to the piece of code in worker-loader that removes the SourceMap comment when no-fallback is set.

[2020-09-03 06:06] Linkontoask commented on #11418
4.x can use `loader: ['','']`, it can run normally.
This is true, but the error prompts given are not friendly enough. When there are multiple rules and they all use `loader: ['','']`, only the last error will be prompted, which will mislead the direction to a certain extent.

4.x can compile normally
[code]

5.x prompts are not friendly enough, only the last configuration error will be prompted,

[2020-09-03 06:29] k644606347 commented on #11406
Thank you for your hardwork:smiling\_face\_with\_three\_hearts:

[2020-09-03 08:19] TomaszWaszczyk commented on #2771
Does anyone has issue with `material-table` and `jsPDF`?

[2020-09-03 08:56] Adityaperiwal commented on #11378
@sokra  `realpath()` is an optional property of `InputFileSystem` in `utils/fs.js` Is there any other way to get `realpath`?.

[2020-09-03 08:59] shaodahong opened #11419 "ModuleFederationPlugin shared undefined cause error when init"
# Bug report

**What is the current behavior?**

Webpack

[code]

Project
[code]

cause `TypeError: Cannot read property 'default' of undefined`

and if set 'shared: {}', it's normal

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.0.0-beta.29
Node.js version: v12.16.1
Operating Sy

[2020-09-03 09:21] shaodahong commented on #11419
@sokra

In my see

https://github.com/webpack/webpack/blob/edf03440bac7f0027eb477a006231af759bb6ae9/lib/container/ContainerEntryModule.js#L211

`RuntimeGlobals.shareScopeMap` maybe have not initialization, `RuntimeGlobals.shareScopeMap` value is `undefined`

[2020-09-03 10:58] evilebottnawi commented on #3017
@Vanuan nobody should should feel pain, nobody forbids you to use the latest and greatest features

[2020-09-03 11:00] evilebottnawi commented on #9360
@villesau maybe you can create minimum reproducible test repo, because ideally it should work without `realContentHash` :smile:

[2020-09-03 11:11] evilebottnawi commented on #11416
@ncoder You need to use `worker-loader` or multi compiler mode with `target: 'webworker'` (https://webpack.js.org/configuration/target/), you can't use multiple entry points for different targets

[2020-09-03 11:11] #11416 closed

[2020-09-03 11:17] evilebottnawi commented on #11419
@shaodahong feel free to send a PR

[2020-09-03 11:24] rramaa commented on #11203
yes @evilebottnawi the problem was resolved
thanks!

[2020-09-03 11:26] fatso83 commented on #3158
@harrywhite4 `strictExportPresence` is deprecated and the docs do not mention what is replacing it for this use case. We had some failing builds, and it took a long while for us to to notice the warning about a missing member in an import.

[2020-09-03 11:57] evilebottnawi commented on #11418
yes, it is breaking change, you should use:
[code]

Please open an issue in https://github.com/webpack/schema-utils repo, this module generate error messages

From https://github.com/webpack/changelog-v5

[2020-09-03 11:57] #11418 closed

[2020-09-03 12:33] evilebottnawi commented on #11203
Let's close, if somebody will faced with the same issue feel free to open the new issue with reproducible test repo/configurations/screenshots/videos/etc, sometimes it is hard to fix these problems

[2020-09-03 12:33] #11203 closed

[2020-09-03 12:48] Vanuan commented on #3017
@evilebottnawi I felt pain because of the need to opt out of "amd"

[2020-09-03 13:00] evilebottnawi commented on #3017
@Vanuan What is package broken, can you provide more context?

[2020-09-03 14:06] Vanuan commented on #3017
@evilebottnawi Wasn't it already mentioned multiple times? https://github.com/webpack/webpack/issues/4465

[2020-09-03 14:15] lukywong opened #11422 "config __dirname: false not working"
# Bug report

**What is the current behavior?**
webpack.config.js

[code]
main.ts
[code]

[code]
ouput '/'

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

it should output the absolute path

**Other relevant information:**
webpack version:  4.44.1
Node.js version: 12.18.3
Operating System: macOS 10.15.6
Additional tools:

[2020-09-03 14:29] evilebottnawi commented on #11422
Duplicate, please read https://github.com/webpack/webpack/issues/1599, also please read https://github.com/electron/electron/issues/3204

[2020-09-03 14:29] #11422 closed

[2020-09-03 14:39] evilebottnawi commented on #3017
@Vanuan because only `lodash` had this problem, also I can't reproduce it again, can you provide reproducible test repo or examples?

[2020-09-03 15:21] youssefsharief opened #11423 "Weird behaviour with dynamic imports"
# Bug report

**What is the current behavior?**
Replacing a static string to a variable string in the dynamic import path change build time and change the size of the resulting build files.

The code snippet below results in fast and smaller builds
[code]
![image](https://user-images.githubusercontent.com/21158003/92133464-475b7780-edbd-11ea-93fb-84cd8a6b775e.png)

The code snippet below results i

[2020-09-03 15:31] evilebottnawi commented on #11423
It is expected, because we don't know value of variable, you can use `const dir = myComplexFunction() ? 'secondaryApp' : 'firstApp'`, we are static analyzer, not dynamic, here docs https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import, so we include all `files` from `../../` in the second example

[2020-09-03 15:39] yarastqt opened #11424 "Loss css after build"
# Bug report

**Introduction**

I have a component with structure:

[code]

**What is the current behavior?**

After build with production mode, css from re exported files will be removed:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Repository with minimal example for reproduce — https://github.com/yarastqt/webpack-css-issue

Steps:

1. Install dependenci

[2020-09-03 16:15] jeffposnick opened #11425 "Guidance on porting a plugin to webpack v5?"
I maintain [`workbox-webpack-plugin`](https://www.npmjs.com/package/workbox-webpack-plugin), and am trying to get a handle on the webpack v5 support story.

The plugin has code that generates one or more new files and then adds them to the `compilation.assets` once it's done: https://github.com/GoogleChrome/workbox/blob/6d38919ebbc9664327e19ff00302d805c8166170/packages/workbox-webpack-plugin/src/g

[2020-09-03 16:24] evilebottnawi commented on #11425
Yes, we need update this, `emit` hook should not be used for adding assets, example of usage:
[code]

If you need I can provide example for using webpack cache

[2020-09-03 16:27] evilebottnawi commented on #11425
For supporting webpack@4 and webpack@5 sources you can use this code:
[code]

[2020-09-03 16:44] sokra commented on #3158
It's not deprecated. Seems like this sneaked into the wrong docs section. Maybe you can send a PR to the docs to fix it.

[2020-09-03 16:46] sokra commented on #11378
If this methods doesn't exist assume that the filesystem doesn't support symlinks and this is not an issue.

[2020-09-03 16:48] sokra commented on #9360
The SourceMapDevToolPlugin could fix that by adding the comment template to the chunk hash via the chunkHash hook.

[2020-09-03 18:36] sokra commented on #11424
Such kind of problem is often caused by incorrect side effects flagging. You seemed to assume that and added sideEffects flags for *.css. But here it misses `Button@desktop.js`. It's not obvious, but it also has side effects. The definition of the sideEffects flags says: "has no side effects when no direct export is used".

But the `Button@desktop.js` module has a side effect (imports the css), wh

[2020-09-03 20:12] sokra commented on #11424
Yes, every module which evaluating has an effect on exports of other modules.

Button@desktop.js has an effect on Button.js.

[2020-09-04 07:07] shaodahong opened #11429 "[Q]: How to disable cache pack info"
cache config

[code]

when I build log more pack info, maybe need `cache.log: 'slient'` to set it

[code]

[2020-09-04 09:16] lukywong commented on #11422
@evilebottnawi thanks, it is a walk-around indeed on electron, but when i target to node, the output makes no different whether config `__dirname` true or false, that's really wired when i tried to compile typescript for a server running app

[2020-09-04 10:56] evilebottnawi commented on #11424
Answer above, feel free to feedback

[2020-09-04 10:56] #11424 closed

[2020-09-04 11:05] evilebottnawi commented on #11429
<w> [webpack.cache.PackFileCacheStrategy] Serializing big strings (145kiB) impacts deserialization performance (consider using Buffer instead and decode when needed)
<w> [webpack.cache.PackFileCacheStrategy] Serializing big strings (191kiB) impacts deserialization performance (consider using Buffer instead and decode when needed)

It is warning and should be fixed, you should not disable it, inste

[2020-09-04 11:05] #11429 closed

[2020-09-04 11:35] evilebottnawi commented on #11422
@lukywong change target on node

[2020-09-04 12:28] Yuri6037 opened #11430 "Bugged as hell"
# Bug report
Whenever application assets are outside the source folder webpack bugs completeley throwing all kinds of errors and warnings:
- Tries to load .txt LICENSE non sense
- Tries to load .ts files even more non sense
- Tries to load .tsx files also non sense
- Tries to load .html files also non sense

And also by changing:

```require("../assets/" + name + ".css");```

with

```require("../

[2020-09-04 12:34] evilebottnawi commented on #11430
Please provide configuration, webpack never do it

[2020-09-04 12:41] Yuri6037 commented on #11430
main.config.js (only for electron bootstrap no react):
https://github.com/ERPMod/electron-react-ts/blob/master/webpack/main.config.js

react.config.js (where things are getting bad, ran exclusively by webpack-dev-server):
https://github.com/ERPMod/electron-react-ts/blob/master/webpack/react.config.js

[2020-09-04 12:42] lukywong commented on #11422
Yes, i did, but it makes no different

[2020-09-04 12:44] evilebottnawi commented on #11430
No problems, all works fine

[2020-09-04 12:45] Yuri6037 commented on #11430
Here look, not all works fine as you can see:

[code]

[2020-09-04 12:46] evilebottnawi commented on #11430
Invalid configuration, but how it related to?

[2020-09-04 12:49] evilebottnawi commented on #11430
You try to import `html` file without `html-loader`

[2020-09-04 12:49] Yuri6037 commented on #11430
When I put ../ sometimes it tries indexing the entire HDD it's just totally random. The best way to get it to bug is to try variants of `require("../" + name)`.
It's just totally random.

But i'm not importing HTML

[2020-09-04 12:51] evilebottnawi commented on #11430
Why do you think it?, where you store project? Using `../` means include all files from up directory

[2020-09-04 12:51] evilebottnawi commented on #11430
I don't understand you

[2020-09-04 12:52] Yuri6037 commented on #11430
Do you mean that Webpack ignores the variable and just uploads everything that is referenced by the prefix?

[2020-09-04 12:54] evilebottnawi commented on #11430
webpack is static analyzer, we don't know value of variable, so we include all modules in bundle and when you try to load `../assets/${something}` we just return one module from all modules

[2020-09-04 12:55] Yuri6037 commented on #11430
That's terrible! What if I include 10 ttf files but only use the first 3 in code well it's going to load the 10 files and take more time. Why is that? Is there any way to disable this?

[2020-09-04 12:57] evilebottnawi commented on #11430
Change your tone

Do not use context `require`/`import`

webpack is static analyzer

Do not use extra context request, it is described in docs https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import

[2020-09-04 12:59] evilebottnawi commented on #11430
You yourself say that you want to include the entire folder(s) in the bundle, the webpack does this

[2020-09-04 13:04] Yuri6037 commented on #11430
Well I did not want that, I did not tell to do this, it just converts my string into a * recursive one. That's the only problem. I'm not referencing every files. I thought Webpack was smart enough to understand that what is inside of assets should not be packed as one big blob but I guess not...

[2020-09-04 13:08] evilebottnawi commented on #11430
@Yuri6037

You can do it, using non standard method https://webpack.js.org/api/module-methods/#requirecontext and use `filter` to achieve this, but I do not recommend do it, it deoptimization your bundle, use `import`

[2020-09-04 13:14] Yuri6037 commented on #11430
At least thanks for the info, now that I know what webpack really does, I can find ways to optimize differently

[2020-09-04 13:14] #11430 closed

[2020-09-04 13:51] shaodahong commented on #11429
Maybe cause by `mini-css-extract-plugin`, i need confirm this, and thanks for you reply, i will report when i confirmed

[2020-09-04 13:53] LLGZONE opened #11431 "LimitChunkCountPlugin max chunks not working for dynamic import"
# Bug report

**What is the current behavior?**
When use LimitChunkCountPlugin with dynamic import for multi entry, webpack will generate chunks even set maxChunks = 1.

**If the current behavior is a bug, please provide the steps to reproduce.**
The [repo](https://github.com/LLGZONE/limitchunkplugin-demo) can show the current behavior, just as the image shown below.
![image](https://user-images.g

[2020-09-04 14:03] flaviotordini commented on #5902
Reopen this. QS.unescape is still not working.

[2020-09-04 14:04] evilebottnawi commented on #5902
webpack@5, remove auto polyfilling, so unnecessary to reopen this

[2020-09-04 14:13] flaviotordini commented on #5902
@evilebottnawi please explain, that's a bit too cryptic for me. Is this fixed in version 5?

[2020-09-04 14:26] evilebottnawi commented on #5902
We don't polyfill node.js modules, it was removed in webpack@5

[2020-09-04 14:40] shaodahong commented on #11429
Cause by `terser-webpack-plugin`, report repository https://github.com/shaodahong/webpack-cache-example

[2020-09-04 14:56] evilebottnawi commented on #11429
It is already WIP

[2020-09-04 15:34] flaviotordini commented on #5902
Ok, got it. So choosing the right polyfill is now up to the user. How is the user supposed to know which is the working one between two very similar projects?

[2020-09-04 15:52] evilebottnawi commented on #5902
I don't know, ask developers of packages

[2020-09-04 18:07] danielmariz commented on #6094
if you're using webpack 3 and babel 6 install `babel-plugin-syntax-dynamic-import` and set the plugin on babelrc.
if you're using webpack 4+ and babel 7 https://babeljs.io/docs/en/babel-plugin-syntax-dynamic-import
if you're using `ExtractTextPlugin` set `allChunks: true` in the pluging configs

That solved the issue for me

[2020-09-04 18:45] ambirdsall-gogo commented on #8871
This is one interpretation, but considering the history and standards of cli tooling, it is a nonstandard one. For example, [the GNU C library](https://www.gnu.org/software/libc/manual/html_node/Standard-Streams.html) documents the stdout and stderr file handles as such:

Progress reports could arguably be considered diagnostic; but they are certainly part of the normal output of the program, much

[2020-09-05 15:11] #10281 closed

[2020-09-05 15:30] smelukov commented on #8426
Seems like here is no activity

[2020-09-05 20:51] whitecolor opened #11432 "Webpack5: how to get module parents/dependants (or deps graph) from loader"
In one of my loaders, I need to know parents/dependants that the current module (handled by loader) was requested by. For this in webpack4 I used a hacky way to do this with access to `this._module.reasons`, but in webpack 5 `reasons` prop does not exist on `_module` object (which is a too deprecated prop). So how the actual task of getting requested parents from within loader may be accomplished

[2020-09-06 08:27] sokra commented on #8156
Fixed in webpack 5

[2020-09-06 11:55] evilebottnawi commented on #8426
I don't think we should close it, because it can be still implemented and reasonable

[2020-09-06 12:01] #8156 closed

[2020-09-06 12:13] evilebottnawi commented on #11432
I think you need to rewrite the loader to the plugin, it is not safe using `this._module.reasons` in the loader in webpack@4, the loader should not do this stuff, please provide link on loader or more information if you need help, I close issue because the issue template was removed, anyway if you will provide more information I will help you here

[2020-09-06 12:13] #11432 closed

[2020-09-06 14:08] whitecolor commented on #11432
This is the code of loader https://github.com/whitecolor/lp-loader/blob/master/src/lp-loader.ts it produces language bundles by combining language for files from different dicts based on where those dicts are required.

Didn't write the plugins, so advice would be appreciated.

[2020-09-06 14:18] evilebottnawi commented on #11432
You really need plugin for this case, using loader is bad idea, just use hook, I think you can use this hook https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L406

[2020-09-07 07:05] dkamyshov commented on #10878
Hi, @sokra!

It is sometimes useful (especially in reactlandia) to have a library with multiple entrypoints, with each entrypoint re-exporting a common module (think of a singleton). We need all entrypoints to `require` the shared module. It is trivial to achieve with rollup, see this demo: https://github.com/dkamyshov/rollup-split-library-reproduction/tree/master/dist

With webpack, it is somewha

[2020-09-07 07:21] ROBOTIS-David opened #11434 "Long time to load asset-manifest.json."
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System: Linux Ubuntu 16.04
Additional tools: atom

Hi, I am running one git page and I received one feedback from China user. When my git page is loaded from Chi

[2020-09-07 08:05] sokra commented on #11434
I can't help you here. This isn't webpack-related.

[2020-09-07 08:05] #11434 closed

[2020-09-07 08:07] ROBOTIS-David commented on #11434
Ops

Sorry about that, but thank you for quick reply

[2020-09-07 09:41] muuvmuuv opened #11435 "ProvidePlugin prints "Module not found: Error: Can't resolve '"value"'"
# Bug report

**What is the current behavior?**

I am trying to use `ProvidePlugin` inside an Angular project using `@angular-builders/custom-webpack` ([see PR repo here](https://github.com/muuvmuuv/angular-builders/blob/fix-json-module/packages/custom-webpack/examples/full-cycle-app)). During compilation, it throws an error saying it cannot find the module I want to import. Unfortunately that "mo

[2020-09-07 09:49] felixcatto opened #11436 "Concatenating multiple css files breaks js file"
# Bug report

**What is the current behavior?**
I am trying to extract multiple css files from js files and concatenate it into one css file. I use this documentation https://webpack.js.org/plugins/mini-css-extract-plugin/#extracting-all-css-in-a-single-file. The css files extracted and concatenated well, but after it, js files from which it extracted breaks, i.e. it stops executing at all.

**If

[2020-09-07 10:24] evilebottnawi commented on #11436
@webpack-bot move to webpack-contrib/mini-css-extract-plugin

[2020-09-07 10:24] #11436 closed

[2020-09-07 10:29] evilebottnawi commented on #11435
@muuvmuuv Can you create reproducible test repo? Why you use `10.0.1-beta.0` in `require`/`import`?

[2020-09-07 13:25] muuvmuuv commented on #11435
The linked "See PR repo here" is reproducible when you follow the steps. It would be difficult to isolate this since the `custom-webpack` package is linked as a local dep. and in a WIP status. The `packages/custom-webpack/examples/full-cycle-app` is a reproducible Angular project.

I am not using the version in `import`, this is the point. `ProvidePlugin` seems to miss generate this into a module

[2020-09-07 15:10] evilebottnawi commented on #11435
Provide plugin just replace one value on other, if you faced with resolve issue it means you replaces something in import/require

[2020-09-08 08:33] sokra commented on #11435
You probably want to use the `DefinePlugin` instead of the `ProvidePlugin`

[2020-09-08 08:33] #11435 closed

[2020-09-08 08:52] uljdcwy opened #11441 "Added this error code when testing the document code use: 'imports-loader?this=>window'"
Insufficient number of arguments or no entry found.
Alternatively, run 'webpack(-cli) --help' for usage info.

Hash: e6ffcc5de24c02225d00
Version: webpack 4.44.1
Time: 39ms
Built at: 2020-09-08 4:50:53 ├F10: PM┤

WARNING in configuration
The 'mode' option has not been set, webpack will fallback to 'production' for this value. Set 'mode' option to 'de
velopment' or 'production' to enable defaults f

[2020-09-08 09:14] muuvmuuv commented on #11435
How could I miss that... Thanks @sokra ! I do use `DefinePlugin` in the project I initially had the error with `custom-webpack`. I have no idea why I typed `ProvidePlugin`.

[2020-09-08 10:23] evilebottnawi commented on #11441
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-09-08 10:23] #11441 closed

[2020-09-08 13:24] mihaisavezi commented on #10352
@jasongrout - have you tried the suggested method, does it work for you? It doesn't work for me in the production app I'm worknig on. But I'll try in a more simple example

[2020-09-08 15:34] WaveString opened #11443 "[Webpack 5] Long time for rebuilds"
# Bug report

**What is the current behavior?**

I get very long rebuilds on Webpack 5, about 1 minutes.

<img width="643" alt="webpack-5-rebuild" src="https://user-images.githubusercontent.com/7781512/92485353-075d2000-f215-11ea-928a-0f51f9c7c1e2.png">

But on weback 4 I get much less rebuild time, about 4 seconds.
<img width="594" alt="webpack-4-rebuild" src="https://user-images.githubuserconten

[2020-09-08 15:40] evilebottnawi commented on #11443
@WaveString pelase provide configuration file

[2020-09-08 15:41] evilebottnawi commented on #11443
Also can you provide examples of removed `import`s?

[2020-09-08 17:17] WaveString commented on #11443
It's just usual packages from node_modules

[2020-09-08 17:36] evilebottnawi commented on #11443
@WaveString Sorry, without reproducible test repo/configurations hard to say what decrease perf, maybe some plugins or loaders (use old API or some hacks), maybe some options in the configuration, nobody knows

[2020-09-08 17:46] codepunkt commented on #10352
This doesn't work with webpack-dev-server.
See https://github.com/webpack/webpack-dev-server/issues/2692

[2020-09-08 18:07] jasongrout commented on #10352
It worked great for me. Here it is in our beta version:

https://github.com/jupyterlab/jupyterlab/blob/13c77d38cfc6b021fd206d037da836fb9faad93e/builder/src/webpack.config.ext.ts#L216

I haven't used webpack-dev-server, so can't comment on that.

[2020-09-08 18:42] sokra commented on #11443
At least the configuration would be helpful.
Any custom watching config/plugins?

[2020-09-09 03:11] agustinCaire opened #11444 "require.context() and export default runtime error"
# Bug report

**What is the current behavior?**
if you use require.context(...) to load some modules and then you use "export default ..." then the generated code fails on runtime with the following message: `Cannot access '__WEBPACK_DEFAULT_EXPORT__' before initialization`

**If the current behavior is a bug, please provide the steps to reproduce.**
To reproduce simply create some files with defa

[2020-09-09 07:09] aboks commented on #9186
This might be the same issue as https://github.com/webpack/webpack-dev-server/issues/2355.

[2020-09-09 08:32] leodr commented on #2797
IMO the rollup configuration file is a pretty great inspiration. It's so easy to add additional functionality with the plugins. The plugins can ship their own TypeScript types so their configuration is documented inside the editor, which is not possible with the current way of using strings for the webpack configuration like so:

[code]

[2020-09-09 09:29] ricokahler opened #11446 "Loader `loadModule` dies silently when called with it's own resource path."
# Bug report

**What is the current behavior?**

In a loader, if you call `this.loadModule` with `this.resourcePath` webpack exits with no error message.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. open [this codesandbox](https://codesandbox.io/s/zen-kepler-uy489?file=/loader.js)
2. open a new terminal
3. `npx webpack`
4. notice how it crashes with no error me

[2020-09-09 10:41] #11446 closed

[2020-09-09 10:54] evilebottnawi commented on #11016
bump

[2020-09-09 12:31] WaveString commented on #11443
I think I found the reason, it's `MiniCssExtractPlugin.loader`. When I replace it to a `style-loader`, rebuild time is acceptable.

![style-loader](https://user-images.githubusercontent.com/7781512/92598395-f1ae3000-f2d2-11ea-8fa3-b5a020f075df.png)

Config for css
[code]

versions:
`"mini-css-extract-plugin": "0.11.1"`
 `"css-loader": "4.3.0"`

[2020-09-09 12:48] chenxsan commented on #11443
It's advised to use `MiniCssExtractPlugin.loader` only for production.

[2020-09-09 12:55] evilebottnawi commented on #11443
@WaveString What is version are you use?

[2020-09-09 13:38] WaveString commented on #11443
@evilebottnawi
[code]

[2020-09-09 14:25] evilebottnawi commented on #11443
@WaveString we need reproducible test repo (you can create minimum) to investigate places with poor performance, please do not ignore requests on providing configuration, otherwise nobody will help you and issue will be closed

[2020-09-09 14:47] wenyanqi opened #11448 "handle sass import in webpack loader"
## Feature request

**What is the expected behavior?**
I want to handle sass import file in the webpack loader.
Just like this:
[code]
I want webpack loader can handle 'theme.scss'

**What is motivation or use case for adding/changing the behavior?**
I want to handle sass file before sass-loader compiled.

[2020-09-09 15:22] evilebottnawi commented on #11448
Just write loader and put it after `sass-loader`:
[code]

Please read https://webpack.js.org/concepts/loaders/

[2020-09-09 15:22] #11448 closed

[2020-09-09 18:37] evilebottnawi commented on #11023
Bump

[2020-09-09 18:49] sokra commented on #11443
Seem to be a caching issue in mini-css with webpack 5

[2020-09-09 19:03] camsjams commented on #10897
Doesn't seem to be caused by `speed-measure-webpack-plugin` (not using it).

I am using the `hard-source-webpack-plugin`, which _might_ be using a similar API as `speed-measure-webpack-plugin`.

Basically the current workaround I have is to
1. `rm -rf node_modules/`
2. `npm i`
3. Run webpack - in my project its using `webpack-dev-server`

If I stop webpack and restart, the error comes back.

[2020-09-09 19:06] camsjams commented on #10897
This is just for other travelers ^

Once I figure out what the root cause is I will either create a new issue or post it on the relevant plugin's GitHub repo :+1:

[2020-09-09 19:50] evilebottnawi commented on #10897
Please open an issue in `speed-measure-webpack-plugin` repo

[2020-09-09 20:57] jimblue opened #11450 "Webpack 5 : HookWebpackError: chunk.files.delete is not a function"
# Bug report

**What is the current behavior?**

Webpack trow the following error on build:

[code]

**What is the expected behavior?**

Webpack should build without error.

**Other relevant information:**
webpack version:  5.0.0-beta.29
Node.js version: 14.9.0
Operating System: macOS Catalina 10.15.6

[2020-09-09 22:02] garyo commented on #7197
This is happening to me too, in a yarn monorepo workspace. I repeatedly do `yarn add --dev webpack webpack-cli` and it installs both of them, but then when I run `npx webpack` it spins for a while and then says "One CLI for webpack must be installed." and it says it would install webpack-cli with npm, which I don't use.

[2020-09-10 02:24] wenyanqi commented on #11448
I have try in this way. But loader can only handle "style.scss", can't get "./theme.scss".

[2020-09-10 02:32] wenyanqi opened #11451 "handle sass import file in webpack loader (reopen #11448)"
[see this](https://github.com/webpack/webpack/issues/11448)

@evilebottnawi please read again.

I have try in this way. But loader can only handle "style.scss", can't get "./theme.scss".

[2020-09-10 08:13] cainrus opened #11452 "webpack 4.44.1 alias bug within webpack.config.ts file only"
# Bug report

**What is the current behavior?**
Alias `{ "@/": path.join(__dirname, 'src') + '/'}` won't work within webpack.config.ts file, but works fine within webpack.config.js

**If the current behavior is a bug, please provide the steps to reproduce.**
set alias `{ "@/": path.join(__dirname, 'src') + '/'}`, add import like `@/config`

Alias can be fixed if we drop last slash: `{ "@": path.jo

[2020-09-10 08:46] Bboyliukun opened #11453 "new Error("Loading chunk " + e + " failed.\n(" + r + ": " + o + ")");"
浏览器内核：applewebkit/603.24 。
使用react-router动态加载。导致页面白屏！分析是加载js失败！使用的HTTPS协议加载的js资源！

[2020-09-10 09:52] evilebottnawi commented on #11453
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-09-10 09:52] #11453 closed

[2020-09-10 09:54] evilebottnawi commented on #11451
Please use stackoverflow for questions, it is bug tracker

[2020-09-10 09:54] #11451 closed

[2020-09-10 09:55] evilebottnawi commented on #11451
Maybe you need https://github.com/sass/node-sass#importer--v200---experimental

[2020-09-10 10:03] evilebottnawi commented on #11450
@jimblue Can you create reproducible test repo?

[2020-09-10 10:18] evilebottnawi commented on #11452
Please report issue to `typescript`, if it works in `webpack.config.js`  then it works and there is nothing we can do on our side

[2020-09-10 10:18] #11452 closed

[2020-09-10 10:34] sokra commented on #11450
Could you run `yarn why webpack` resp. `npm ls webpack` to see if you have multiple different webpack versions installed?

[2020-09-10 10:45] evilebottnawi commented on #11406
@isrmicha What is a problem?

[2020-09-10 11:01] evilebottnawi commented on #11335
/cc @vankop

[2020-09-10 11:38] WaveString commented on #11443
I prepared [repository](https://github.com/WaveString/webpack-5-example), rebuilding on webpack 5 takes 9 seconds. You can change to webpack 4, rebuilding takes much less time.

<img width="667" alt="webpack5" src="https://user-images.githubusercontent.com/7781512/92724268-8167e300-f394-11ea-80ef-4583af08bb46.png">

[2020-09-10 15:50] jeffposnick commented on #11425
I'd prefer to use duck typing, but I don't have a reference to the current `compilation` at the time at which I need to branch my logic between v4 and v5, so I can't do `compilation.hook.processAssets`.

I guess I'll go with `webpack.version[0] === '4'`, but that feels a bit more brittle than the duck typing approach...

[2020-09-10 16:10] evilebottnawi commented on #11425
`webpack.version[0] === '4'` is fine, because webpack@4 will not have new features, so it is safe for you

[2020-09-10 16:18] Yuri6037 opened #11455 "Access to real require or real import"
Hello,

I can't post on StackOverflow so I ask that here. Is there any way to bypass webpack version of require and use the real require or the real async import that just import js files from random locations?
I ask that for the purpose of module based electron application: it is similar to VSCode extension system that can run arbitary JS files coming from extension where those JS files would not

[2020-09-10 16:30] bebraw commented on #11455
I think you might be looking for `__non_webpack_require__`. See https://github.com/webpack/webpack/issues/4175#issuecomment-277232067.

[2020-09-10 16:56] evilebottnawi commented on #11455
Yes, answer here https://github.com/webpack/webpack/issues/4175#issuecomment-277232067, feel free to feedback, we need docs this

[2020-09-10 17:24] jimblue commented on #11450
@sokra indeed seems to have multiple version installed:

[code]

[2020-09-10 17:32] jeffposnick commented on #11425
I'm working my way through our test suite, and running into an issue with https://github.com/GoogleChrome/workbox/blob/bb21e8208ec093dd66fb61b5fbcdfd67314eb2bc/test/workbox-webpack-plugin/node/generate-sw.js#L437-L487, which uses `html-webpack-plugin` along with `workbox-webpack-plugin`.

After updating to `"html-webpack-plugin": "^4.4.1"` and `"webpack": "^5.0.0-beta.29"`, and changing our Workbo

[2020-09-10 17:33] evilebottnawi commented on #11450
You have two version of webpack, https://github.com/FullHuman/purgecss/blob/master/packages/purgecss-webpack-plugin/package.json#L38, please report issue in `purgecss-webpack-plugin`, we can't fix it on our side

[2020-09-10 17:33] #11450 closed

[2020-09-10 17:36] evilebottnawi commented on #11425
@jeffposnick Looks you adding assets, you need to use `compiler.hooks.thisCompilation`:
[code]

[2020-09-10 17:43] jimblue commented on #11450
I think you close that issue way to fast @evilebottnawi.
10min is not enough time to investigate...

Anyway just remove `purgecss-webpack-plugin` and check for multiple webpack version:

[code]

But still getting the same error.

Can you please re open, thank you 😄

[2020-09-10 17:59] evilebottnawi commented on #11450
@jimblue you remove section `How we can reproduce?`, please update the original issue and I will reopen, we can't fix something somewhere

[2020-09-10 17:59] evilebottnawi commented on #11450
`dotenv-webpack` and `friendly-errors-webpack-plugin` do not have compatibility with webpack@5

[2020-09-10 18:14] Yuri6037 commented on #11455
[code]

Produces:

[code]

[2020-09-10 18:25] evilebottnawi commented on #11455
Because `require` doesn't exists in browser

[2020-09-10 18:28] jasonwilliams opened #11456 "Eval sourcemaps truncates [] characters and everything in-between"
Raised from https://github.com/vercel/next.js/issues/15823

## bug
Eval sourcemap doesn’t seem to support [] characters in the sources property. These characters get truncated and this causes nextjs to break.

## To Reproduce
1. Clone next.js and go to https://github.com/vercel/next.js/tree/master/examples/dynamic-routing (master branch or 9.5)
2. install dependencies, then run `yarn|npm run dev`

[2020-09-10 18:34] evilebottnawi commented on #11456
@jasonwilliams webpack@4 or webpack@5?

[2020-09-10 18:35] Yuri6037 commented on #11455
Ok, then my best way is to rely on trying to get contextBridge to not crash miserably and expose some wrapped fs.readFileSync and eval on the client side

[2020-09-10 18:40] Yuri6037 commented on #11455
Well actually not: it seam that electron has done all they could so you cannot create a dynamic module system!

[2020-09-10 18:43] evilebottnawi commented on #11455
@Yuri6037 I think you look this https://webpack.js.org/concepts/module-federation/

[2020-09-10 18:45] evilebottnawi commented on #11455
Alternative you can use `import(/* webpackIgnore */ '/dist/file.js').then()`

[2020-09-10 18:59] Yuri6037 commented on #11455
Thank you but /* webpackIgnore */ has absolutely no effect.
Also adding .then made the client throw an exception:

[code]

[2020-09-10 19:05] evilebottnawi commented on #11455
I can't help because you don't provide what you want achieve and what target/configuration your use

[2020-09-10 19:06] jasonwilliams commented on #11456
@evilebottnawi webpack 4

[2020-09-10 19:06] Yuri6037 commented on #11455
I need a way to inject arbitary JS files that exists on the local file system into the rendering context of Electron. Like IMvcBuilder.AddApplicationPart in Asp.Net Core

[2020-09-10 19:14] Yuri6037 commented on #11455
I think I just found something: when a script block is injected by force into the index.html from the main context, the rendering context seam to not complain and just run my evil JS injection test.

I have a question to Webpack authors: is it guarenteed that a single .js file will be generated from n number of JS files when referenced as an output target in webpack config? Is it guarenteed that t

[2020-09-10 19:20] evilebottnawi commented on #11455
@Yuri6037

Ask this in `electron` repo

Based on your configuration

Yes

Please use QA service for questions, it is bug tracker, you ask help but doesn't provide versions/configurations/structure/goal/etc

[2020-09-10 19:22] Yuri6037 commented on #11455
Thanks a lot.
So if I do

[code]

Then one file will be generated named App.js in dist/release and it will always be named as such and will always be one, right?

[2020-09-10 19:23] evilebottnawi commented on #11417
Close in favor https://github.com/webpack-contrib/worker-loader/issues/285

[2020-09-10 19:23] #11417 closed

[2020-09-10 19:24] evilebottnawi commented on #11455
Yes

[2020-09-10 19:42] evilebottnawi commented on #11088
Let's close in favor https://github.com/webpack/webpack/issues/7300, already reported, should work with webpack@5 and latest version of `mcep`, but need tests, I will do it in the near future

[2020-09-10 19:42] #11088 closed

[2020-09-10 22:19] corymcdonald opened #11458 "Backport terser-webpack-plugin to Webpack 4 to solve serialize-javascript vulnerability"
## Feature request

Version 5 of Webpack has terser-webpack-plugin version updated to the latest version in this pull request https://github.com/webpack/webpack/pull/11302

Webpack 4.44.1 still lists the dependency as version `^1.4.3`. To solve [this NPM advisory for Remote Code Execution
]( http://npmjs.com/advisories/1548) this version should be backported into Webpack 4

**What is the expected

[2020-09-10 22:26] corymcdonald commented on #11458
Nevermind!

https://github.com/webpack/webpack/issues/11309

[2020-09-10 22:26] #11458 closed

[2020-09-11 06:20] cainrus commented on #11452
It also wont work when I call webpack.config.ts via ts-node api:
[code]
I believe that, it's not totally typescript issue. But some incompatibility between both or shared packages like `glob` or some other packages.

When I call webpack with `--display-error-details` arg, then I see, that alias ```{"@/": `${path.join(__dirname, 'src')}/`}``` was not applied during module search. But next alias `{"

[2020-09-11 08:16] shubhamdeodia opened #11459 "[webpack 4] externals, load local json file on runtime"
I have a file uiConfig.json, it has some server URL, and the DevOps team changes the files based on the environment. I am trying to load this file on runtime using webpack.

So far I have tried the following.

[code]
copied uiConfig at root path of build directory

[code]
**What is the current behavior?**

url inside uiConfig is part of prod chunks

**What is the expected behavior?**

app should l

[2020-09-11 10:06] evilebottnawi commented on #11459
- https://webpack.js.org/plugins/define-plugin/
- externals
- webpackIgnore
- fetch/Ajax on runtime

[2020-09-11 10:06] #11459 closed

[2020-09-11 10:06] evilebottnawi commented on #11459
I cannot answer more precisely because you did not say the purpose of the file

[2020-09-11 10:09] evilebottnawi commented on #11452
@cainrus we don't use `glob`

[2020-09-11 10:40] shubhamdeodia commented on #11459
@evilebottnawi : I did mention, the purpose of file is to get some server URL, which will be used for authorization.

Also, many people have a similar issue, official documentation did mention that webpack will use external to load module on runtime, but never gave an example of how it can be used with a local file.

DefinePlugin will not useful, as what I am looking for is config, which can still

[2020-09-11 10:47] otakustay commented on #7094
Also having this issue in `5.0.0-beta.29`

[2020-09-11 10:47] evilebottnawi commented on #11459
@shubhamdeodia https://webpack.js.org/api/module-methods/#magic-comments

[2020-09-11 11:12] shubhamdeodia commented on #11459
@evilebottnawi

 I did try it with fetch.

[code]

But the behaviour is not consistent, what I mean, it doesn't always load the data before it start executing another scripts.

[2020-09-11 11:31] evilebottnawi commented on #11459
change your logic so that it works, we don't touch your `script` tag and `uiConfig.json`

[2020-09-11 14:53] shubhamdeodia commented on #11459
@evilebottnawi

I understand what you are trying to say, but this should have been achievable throw webpack itself.

I want to tell webpack don't include and transform a particular JSON file because I will do it manually.

I did it so with the help of IgnorePlugin.

But after this point, I expect webpack to not touch my imports and keep as it is, instead I see,

`{var e=new Error("Cannot find modu

[2020-09-11 15:08] evilebottnawi commented on #11459
@shubhamdeodia you can use `copy-webpack-plugin`

[2020-09-11 15:22] shubhamdeodia commented on #11459
@evilebottnawi

I did, but what about the import.

So far webpack is helping me ignoring the JSON and letting me copy it.

But, How do tell webpack, not to evaluate the import statement, since I am ignoring the file, the import statement is evaluated to an error.

But the file is actually present (thanks to copy plugin)

[code]

[2020-09-11 15:25] evilebottnawi commented on #11459
webpack is bundle, if you don't need handle this file, use `copy-webpack-plugin` plugin, you should avoid non bundled files in bundle, anyway you can achieve this using:

[code]

[2020-09-11 15:44] billykwok opened #11460 "[Feature Request] Add `init` phase for initializing loader when webpack process starts"
## Feature request

Currently, a typical loader is written with the following structure.

[code]

The loader function is executed statelessly each time an asset needs to be compiled. This looks nice and clean.

However, there are occasions when initialization is expensive. And the fact that they are run every time an asset is compiled (assuming no caching) would slow down the build significantly.

[2020-09-11 15:49] evilebottnawi commented on #11460
It is impossible due each request is handled separably, you still need validate and other actions in loader for each request (`import`/`require`), you can use caches if you need speedup somethings, for example when you write `import('!!my-loader!./file.json')` we will need run init again, so feature is makes no sense

[2020-09-11 15:49] #11460 closed

[2020-09-11 18:24] abettadapur opened #11461 "When using `minimize: true`, the `sources` in the resulting sourcemap only lists one file"
# Bug report

I am having trouble creating accurate source-maps, using `ts-loader` and the built in `terser` plugin.

**What is the current behavior?**
The sourcemap generated with `minimize: false` has the correct number of sources
[code]

Simply flipping the `minimize: true` option on, produces a sourcemap with `sources` that point to a file that does not and has never existed

[code]

**If the

[2020-09-11 18:36] evilebottnawi commented on #11461
@webpack-bot move to webpack-contrib/terser-webpack-plugin

[2020-09-11 18:37] #11461 closed

[2020-09-11 18:49] jimblue commented on #11450
@evilebottnawi, I've just try to disable `dotenv-webpack`, `friendly-errors-webpack-plugin` and `purgecss-webpack-plugin` from webpack config but still getting the same error.

I'll try to create a repo so you can reproduce.

[2020-09-11 18:52] evilebottnawi commented on #11450
@jimblue feel free to ping me

[2020-09-11 18:52] evilebottnawi commented on #11450
Do not forget you need to remove `purgecss-webpack-plugin` from node_modules too

[2020-09-11 18:53] jimblue commented on #11450
sure thank you @evilebottnawi 👍🏼

[2020-09-11 21:32] sokra commented on #10534
First steps for improvements in beta.30:

![image](https://user-images.githubusercontent.com/1365881/92974634-f74c7700-f486-11ea-8a53-53b8fc1b17ce.png)

![image](https://user-images.githubusercontent.com/1365881/92973882-51e4d380-f485-11ea-8671-42fd3253f3c8.png)

![image](https://user-images.githubusercontent.com/1365881/92974305-30381c00-f486-11ea-9b48-c78ecd9d31be.png)

![image](https://user-ima

[2020-09-11 21:35] sokra commented on #8811
Has been fixed.

There is also a new summary at the bottom which would show e. g. `webpack compiled with 4 errors`

[2020-09-11 22:13] sokra commented on #11444
Working as expected. It's a circular dependency and you must not access the default export before it's declaration.

[2020-09-11 22:13] #11444 closed

[2020-09-11 22:15] sokra commented on #11425
This might be problematic once we release `40.0.0`...

[2020-09-12 06:35] sokra commented on #11459
externals is the best way to go.

e. g. If you have the config in a global var use `externals: { uiConfig: "var UICONFIG" }`
This allows `import config from "uiConfig"`

[2020-09-12 08:00] csvan commented on #11406
Module Federation is going to be a gamechanger for us. Very much looking forward to it!

[2020-09-12 12:51] evilebottnawi commented on #11444
@sokra maybe we can improve error reporting here?

[2020-09-12 15:20] evilebottnawi commented on #11443
@WaveString Can you try https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v0.11.2?

[2020-09-12 15:48] evilebottnawi commented on #11443
@WaveString hm, strange, I tested it locally:

webpack@4
[code]

webpack@5
[code]

almost no regressions

[2020-09-12 19:24] WaveString commented on #11443
@evilebottnawi

Tried `"mini-css-extract-plugin": "0.11.2"`, didn't help.

What time is it, is it rebuild time?
When I use `"webpack": "4.44.1"` and change `src/index.jsx`, rebuild time was instant.
<img width="498" alt="webpack4" src="https://user-images.githubusercontent.com/7781512/93003339-0ce59d80-f568-11ea-8580-5c7502228b60.png">

[2020-09-12 19:57] tanekim77 opened #11465 "How to know entry in loader?"
I am trying to run a loader for specific entry only. Is there a way to know which entry is being compiled inside the loader? For example, I want to load a following loader for one of the entries {a:'..a.css', b:'...b.css'}
`  {
        loader: 'string-replace-loader',
      }`

[2020-09-12 20:13] #11465 closed

[2020-09-12 21:02] jmikrut opened #11466 "Need the ability for "issuer" Rule to apply to all dependencies of a top-level issuer recursively"
## Feature request

I am a big fan of the potential that the `issuer` Rule offers.

But, I need it to work recursively. As-is, I can use the `issuer` rule properly to automatically apply a loader to any files that are required by a certain module. But, I need to continue to apply the loader _**recursively**_ to any additional modules that are require'd from modules that are required from the `issu

[2020-09-12 23:59] noe132 opened #11467 "webpack 5.0.0-beta.30 Module not found: Error: Can't resolve '../../core-js/object/define-property'"
# Bug report

**What is the current behavior?**

install `@babel/runtime-corejs3`
for file `index.js`
[code]
and run `webpack ./index.js`

[code]

`beta.29` is working properly on this.

but if we manually edit line 1 in file `./node_modules/@babel/runtime-corejs3/helpers/esm/defineProperty.js`
from
[code]
to
[code]
and this issue goes away.

**If the current behavior is a bug, please provide the

[2020-09-13 00:30] EvHaus commented on #11467
I'm having a very similar issue after upgrading from beta.29 to beta.30, but with this file:

[code]

I'm guessing the cache isn't being reset properly? What's the right way to clear it?

[2020-09-13 00:52] EvHaus commented on #11467
I'm having a very similar problem after upgrading from beta.29 to beta.30 but with this different import:

[code]

Clearing the local filesystem cache (`rm -rf node_modules/.cache`) didn't help. But rolling back to beta.29 worked for me as well.

[2020-09-13 06:01] duan602728596 commented on #11467
I also encountered the same problem, which seems to be caused by enabling mjs experiments, and I did not find a way to close mjs experiments.

[2020-09-13 14:27] AlonMiz commented on #11406
GREAT NEW
issue:
from 5.0.0-beta.27 to 5.0.0-beta.28 i get a peculiar source map error
[code]

[2020-09-13 17:53] sokra commented on #11467
These are all the same issues. In .mjs files or .js files with a package.json with `"type": "module"` imports need to be fully specified. This means you need to have an extension.

That how ESM in node.js is defined, and you are opting in into this behavior by using the .mjs extension resp the field in the package.json.

We didn't enforce this behavior in previous versions while this was still exp

[2020-09-13 18:08] sokra commented on #11444
The error is from the javascript engine we can't change it. But I think it's already pretty clear: "Cannot access ... before initialization"

[2020-09-13 18:10] sokra commented on #11443
That does look like initial build time, not incremental build time @evilebottnawi

[2020-09-13 18:13] sokra commented on #11406
@AlonMiz please create an issue

[2020-09-14 04:05] ocdi commented on #11467
@sokra I have extremely similar symptoms, even with the above `module.rules` suggestion. Rolling back to `beta.29` compiles successfully

[code]

I tried various positions of adding the rule, setting type in other potential rules involving .js/typescript that might affect it, but none solved this module not found issue.

I suspect babel need to fix their code to support this correctly, otherwise t

[2020-09-14 04:35] duan602728596 commented on #11467
After configuring like this, there will still be some modules Can't resolve.

[code]

[code]

[2020-09-14 05:49] namnguyen2091 opened #11468 "Webpack + Reactjs, How to build split vendors, runtime enviroment file and component file"
My purpose, split vendors, runtime enviroments file and component file (js file) maybe like this:
- vendors.js
- runtimes.js
- component.js (each route each component)
I have a layout, every page I will include vendors.js and runtimes.js and each page has unique component.js file. I think this is stupid idea but I wanna know I can do it or not. So can I do it?

[2020-09-14 05:54] AlonMiz opened #11469 "Webpack 5 build failure: Error: "." is not in the SourceMap"
# Bug report

**What is the current behavior?**
Build is breaking in webpack 5.0.0-beta.28, something related to sourcemap
`UnhandledPromiseRejectionWarning: Error: "." is not in the SourceMap`
while the build with 5.0.0-beta.27 works great

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
the build to work with a worki

[2020-09-14 07:26] goto-bus-stop commented on #11469
I think this is a terser-webpack-plugin issue. I'm seeing the same thing, and the build runs fine when setting `optimization.minimize: false`.

[2020-09-14 07:28] sokra commented on #11467
btw this is not an webpack-only error. If you run `import("@babel/runtime-corejs3/helpers/esm/defineProperty.js")` in node.js you get an error too:

[code]

---

Ok I tried that by myself and it doesn't work correctly. Instead you have to do that to change the resolving for these modules:

[code]

`type: "javascript/auto"` might be added to fully disable the different behavior for .mjs files, but

[2020-09-14 07:35] sokra commented on #11468
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-09-14 07:35] #11468 closed

[2020-09-14 08:01] namnguyen2091 commented on #11468
sorry, I will update my answer

[2020-09-14 08:03] restuwahyu13 commented on #959
follow step by step this solution for fix this problem, working with me using webpack 4

1.STEP ONE
output: {
  library: '[name]',
  umdNamedDefine: false
}

optimization: {
  concatenateModules: false,
  providedExports: false,
  usedExports: false
}

2. STEP TWO
remove symlink and caheWithContenxt

3. STEP THREE
remove old project name in heroku, after remove old project create new project name

[2020-09-14 08:04] restuwahyu13 commented on #6094
follow step by step this solution for fix this problem, working with me using webpack 4

1.STEP ONE
output: {
  library: '[name]',
  umdNamedDefine: false
}

optimization: {
  concatenateModules: false,
  providedExports: false,
  usedExports: false
}

2. STEP TWO
remove symlink and caheWithContenxt

3. STEP THREE
remove old project name in heroku, after remove old project create new project name

[2020-09-14 11:00] evilebottnawi commented on #11469
You have broken source maps, without reproducible test repo we can't help, please open new issue in `terser-webpack-plugin` with reproducible test repo

[2020-09-14 11:00] #11469 closed

[2020-09-14 11:01] evilebottnawi commented on #11468
@namnguyen2091 Please use stackoverflow or gitter for questions, there are a lot of guides in google

[2020-09-14 11:05] evilebottnawi commented on #11467
@sokra maybe we can put this option to https://webpack.js.org/configuration/resolve/ (by default `true`), I'm afraid of too many projects use wrong paths in `import`, using:
[code]

with babel/ts/other loaders will increase the size an complex of configurations

[2020-09-14 11:06] evilebottnawi commented on #11467
Also I think we need docs this

/cc @chenxsan

[2020-09-14 11:09] vankop commented on #11467
@evilebottnawi

thats how Node.js resolves.. Maybe we need to point in docs workaround..

[2020-09-14 11:13] evilebottnawi commented on #11443
@WaveString Please provide full `stats` output with time and other information, I can't reproduce locally or provide steps

[2020-09-14 11:24] evilebottnawi commented on #11467
@vankop yes, I known, in theory we can improve error messages out of box, like:
[code]

Because now you might think something wrong with resolving

[2020-09-14 12:38] JamesAlen9352 commented on #11467
![](https://media2.giphy.com/media/l46Czzp0KEHSO7OdG/giphy.gif)

[2020-09-14 12:39] JamesAlen9352 commented on #11467
![](https://media3.giphy.com/media/3ktLJJs5fYT6NP005b/giphy-downsized-medium.gif)

[2020-09-14 12:41] JamesAlen9352 commented on #11467
![](https://media1.giphy.com/media/l0K4cvnVbkOYhvyyA/giphy.gif)

[2020-09-14 14:05] otakustay commented on #11467
I also encounter similar issue but the message is like:

[code]

To what I know this is an error when `@babel/runtime` is importing its internal module (both inside `helpers/esm` folder), es module resolution of node should not forbid internal imports, it only affects how other modules import it from external.

[2020-09-14 14:30] sokra commented on #11467
It's not forbidden. The import request need to be fully specified as `'./iterableToArray.js'`.

[2020-09-14 16:21] boyanio commented on #6389
I am also experiencing this issue with a reasonably small project. I have two configs exported in `webpack.config.js`:
- TypeScript (ts-loader)
- Less (less-loader -> css-loader -> mini-css-extractor-loader)

I get OOM when using `devtool: "source-map"` in production mode. Actually, I started getting OOM when added the Less configuration, before it was fine. Neither of the suggested work-arounds w

[2020-09-14 16:28] evilebottnawi commented on #6389
@boyanio I think you have big project, so you need increase memory, if you provide reproducible test repo I can look at the problem deeply

[2020-09-14 17:02] boyanio commented on #6389
@evilebottnawi Thanks for the quick response! I will try to create one, because the code I am working on is private. But so far I can confirm that removing the devtool from the TypeScript config produces a normal build.

[2020-09-14 17:13] mroczek123 opened #11473 "bug: Webpack wrongly converts require() to __webpack_require__()"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Webpack during bundling converts imports from this function:
node_modules/axios/lib/defaults.js line 16-26
[code]
from:
[code]
to:
fragment of dist/main.js line 288
[code]

which later leads to exception caused by mistaken import.

**If the current behavior is a bug, please provide the steps to reprodu

[2020-09-14 17:18] boyanio commented on #6389
Some further findings: setting `transpileOnly: false` to `ts-loader`'s options and using `fork-ts-checker-webpack-plugin` seaprately seems to work fine

[2020-09-14 17:21] evilebottnawi commented on #11473
No, you target is `web` by default, so we use the `browser` field https://github.com/axios/axios/blob/master/package.json#L71

[2020-09-14 20:08] mroczek123 commented on #11473
Hi, thanks for response. I wasn't aware of "target" setting. Setting this to target: node fixed all my issues. Thanks for help

[2020-09-14 20:08] #11473 closed

[2020-09-14 20:28] metao1 commented on #6994
[code]

[2020-09-15 06:05] jasonwilliams commented on #11456
@evilebottnawi did you need any more info?

[2020-09-15 07:14] WaveString commented on #11443
@evilebottnawi
Steps for reproduce:

For Webpack 5:

1. yarn install
2. yarn start
3. change file `src/index.jsx` (e.g. `Hello Webpack!` -> `Hello Webpack!!!`)
4. get rebuild stat in terminal

For Webpack 4:

1. yarn add -D webpack@4.44.1
2. yarn install
3. yarn start
4. change file `src/index.jsx` (e.g. `Hello Webpack!` -> `Hello Webpack!!!`)
5. get rebuild stat in terminal

`stats`:

- [webpack4

[2020-09-15 07:25] leaves4j commented on #11469
the same, `terser-webpack-plugin` version 4.1.0 is fine.

[2020-09-15 08:42] kunfan96 commented on #11406
666

[2020-09-15 08:53] sokra commented on #11443
Ok I've found the issue. The time is spend in a deprecated method that emulates the old behavior by copying all timestamps. This is called very often. We can cache it to improve the performance. And CssModule should implement `needBuild` insteadof `needRebuild`. The method is also missing a deprecation warning, which probably would have catched this earlier.

![image](https://user-images.githubuse

[2020-09-15 10:45] evilebottnawi commented on #11456
@jasonwilliams can you test it using webpack@5?

[2020-09-15 10:46] evilebottnawi commented on #6994
Do not use `extract-text-webpack-plugin`, please migrate on `mini-css-extract-plugin`

[2020-09-15 10:48] evilebottnawi commented on #6389
Can you clarify?

[2020-09-15 10:49] evilebottnawi commented on #11469
@leaves4j Can you open new issue in terser-webpack-plugin with reproducible example?

[2020-09-15 10:51] boyanio commented on #6389
@evilebottnawi I meant that without a devtool (which was set to `source-map` before), I could build the project normally. But setting the devtool, provudes the OOM error. So far the work-around with `transpileOnly` seems to work for me. I will keep you updated here if I figure out something else

[2020-09-15 10:58] evilebottnawi commented on #6389
@boyanio Maybe you can provide example? No need provide real code, maybe just multiple same examples, I think we can reduce memory usage

[2020-09-15 11:01] evilebottnawi commented on #11443
@sokra It is possible have two methods `needRebuild` and `needBuild` for backward compatibility?

[2020-09-15 11:03] Adityaperiwal commented on #10969
Hii @sokra, is there a way to get the `sourcemap` or `identifier` out of `require.context()`?

[2020-09-15 11:53] boyanio commented on #6389
@evilebottnawi I have created this repo https://github.com/boyanio/webpack4-memory-issue It is very close to what we have as configuration. The code is dummy there, but yet, our project is not that big: 438 .ts files and 285 .less files

[2020-09-15 12:08] evilebottnawi commented on #6389
@boyanio Just note - I recommend to migrate on official CSS minimizer plugin https://github.com/webpack-contrib/css-minimizer-webpack-plugin, instead `OptimizeCSSAssetsPlugin`, `css-minimizer-webpack-plugin` have caches and parallel + working good with source maps and other features

[2020-09-15 12:10] evilebottnawi commented on #6389
/cc @johnnyreilly

[2020-09-15 12:39] sokra commented on #11443
Yes you can have both.

[2020-09-15 13:39] thasmo opened #11477 "stats.maxModules is missing in the types declaration for webpack 5"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
Install the latest `next` version of webpack and set `stats.maxModules` in the `webpack.config.js` file.

**What is the expected behavior?**
`stats.maxModules` should be a valid [stats option](https://github.com/webpack/webpack/blob/master/types.d.ts#L8613).

**Other releva

[2020-09-15 13:43] evilebottnawi commented on #11477
It was removed https://github.com/webpack/webpack/blob/master/lib/validateSchema.js#L31

[2020-09-15 13:43] #11477 closed

[2020-09-15 13:44] evilebottnawi commented on #11477
https://github.com/webpack/webpack/pull/11409

[2020-09-15 13:47] thasmo commented on #11477
@evilebottnawi, thank you!

[2020-09-15 13:57] #11443 closed

[2020-09-15 14:17] jeffposnick commented on #11425
`workbox-webpack-plugin` needs to execute its code after all assets are finalized from the main compilation and any child compilations, and it needs access to the final names (i.e. URLs) and hashes for each asset. Specifically, when run alongside `html-webpack-plugin`, it needs to know about all the HTML assets are created. (But this applies to when it's run alongside any other plugin that perform

[2020-09-15 14:36] evilebottnawi commented on #11425
/cc @jantimon Why `html-webpack-plugin` create ugly assets names which cannot be analyzed?

@jeffposnick I think you need using this `stage` https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L3381

Maybe you can create simple example or provide link on the problem, I will investigate this

[2020-09-15 14:59] jeffposnick commented on #11425
I _am_ generating an asset manifest for a service worker, so that stage does seem relevant 😄

https://github.com/webpack/webpack/blob/9230acbf1a39a8afb2e34f41e2fd7326eef84968/lib/Compilation.js#L3376-L3381

However, even when I set the stage to `PROCESS_ASSETS_STAGE_SUMMARIZE`, I'm not clear how to get the asset names/URLs I need from the `html-webpack-plugin` compilation.

The latest copy of my w

[2020-09-15 15:09] evilebottnawi commented on #11425
You can use `compilation.getAssets()` to get assets, or do you need only `html-webpack-plugin` assets?

[2020-09-15 15:10] TheCodingGorilla commented on #11406
Really looking forward to Module Federation. Thank you for all yours and the teams hard work. 🙇

[2020-09-15 15:55] jantimon commented on #11425
I am in Italy right now but I am planning to upgrade to setAssets soon - what is needed to make it easier for you?

The ugly name is only generated from the child generator and will be removed again - it's only used internally

[2020-09-15 21:11] jeffposnick commented on #11425
When using webpack v4, we rely on the code in [`get-manifest-entries-from-compilation.js`](get-manifest-entries-from-compilation.js) to obtain and filter out the assets based on the user's configuration. In webpack v4, this code ends up returning info for all assets, including those created in child compilations.

Under the hood, the code [calls](https://github.com/GoogleChrome/workbox/blob/bb21e8

[2020-09-16 02:08] dlong500 commented on #11469
@evilebottnawi For what it's worth, I'm also experiencing this error with terser-webpack-plugin v4.2.x.  Everything works fine with v4.1.0.  I don't have time at the moment to look into it but just wanted to voice a concern that something definitely seems to be broken.  I'll open an issue over there when I have time to create a minimal example (assuming it doesn't get fixed before then).

[2020-09-16 09:15] robatwilliams commented on #7689
I used the `chrome://tracing` tool to open and analyse a 186MB file covering a 8.5 minute build, to avoid this issue. The mouse navigation didn't work well at this scale so used the keyboard shortcuts. Yes it's big/slow but that's why I want to profile it.

Indeed.

[2020-09-16 09:23] wojtekmaj commented on #11467
Happening to me as well. Upgrading Webpack from beta.29 to beta.30, not doing literally anything else, breaks the build:

[code]

[2020-09-16 10:30] infoeon opened #11480 "import statement results in root of relative path name being resolved as filename"
# Bug report

**What is the current behavior?**

An `import` statement with a relative filename of `some/long/path.css` will instead import `some.js` if the file exists.

**If the current behavior is a bug, please provide the steps to reproduce.**

See gist: https://gist.github.com/infoeon/f4c81ac060e67458e220c2f55903cecf

**What is the expected behavior?**

Webpack should abort the build since th

[2020-09-16 10:52] evilebottnawi commented on #11469
Yes, please create reproducible test repo in `terser-webpack-plugin`, we don't change source map handling, maybe `ts` stuff have updates?

[2020-09-16 11:18] arcanis commented on #8677
I found a reproduction! Can this issue be reopened? The following repository triggers the bug if you follow the instructions:

https://github.com/arcanis/webpack-project-generator

[2020-09-16 11:31] evilebottnawi commented on #8677
/cc @sokra

[2020-09-16 11:35] evilebottnawi commented on #11480
/cc @vankop

[2020-09-16 12:27] rishabh3112 opened #11481 "Get current Watching's instance from compiler object"
## Feature request
Access instance of current [`Watching`](https://webpack.js.org/api/node/#watching) from [`Compiler`](https://webpack.js.org/api/node/#compiler-instance) object itself.

**What is the expected behavior?**
[code]

**What is motivation or use case for adding/changing the behavior?**
I am developing Interactive mode for `watch` for `webpack-cli` using Plugin API.
I want to implement

[2020-09-16 12:27] rishabh3112 commented on #11481
/cc @evilebottnawi

[2020-09-16 12:34] evilebottnawi commented on #11481
We need this for `iterative` mode for webpack-cli, for pause/start/restart/etc, we can't use `const watching = compiler.watch()`, because other tools (for example `webpack-dev-middleware`) can run `compiler.watch()`

[2020-09-16 12:43] vankop commented on #11480
this should be fixed with latest master.. could you try with `webpack@github:webpack/webpack` ?

[2020-09-16 12:49] jasonwilliams commented on #11456
Sadly not, it won't even build when i try webpack@5. I have a lot of errors some i've fixed but some dependencies faily completely.

[2020-09-16 12:50] evilebottnawi commented on #11456
@jasonwilliams maybe you can create isolated reproducible test repo?

[2020-09-16 13:37] smoliakov commented on #11406
I am sure Module Federation will change microfrontends, looking forward to using it!
It`s a geat work!

[2020-09-16 13:39] sokra commented on #8677
As workaround you can use `optimization.runtimeChunk: "single"`

[2020-09-16 13:47] tobiu commented on #6472
in case this one is still relevant, i figured out a pretty sweet approach to handle this, including split chunks across different apps (which run inside a worker).

details (the code) is here:
https://github.com/neomjs/neo/tree/dev/buildScripts

[2020-09-16 13:53] evilebottnawi commented on #6472
Should work out of box for webpack@5, but need more tests, feel free to try it

[2020-09-16 13:54] tobiu opened #11482 "Duplicate entry-point mappings inside dev & prod mode (with & without file name extensions)"
dist/dev:
<img width="533" alt="Screenshot 2020-09-16 at 15 28 37" src="https://user-images.githubusercontent.com/1177434/93346354-2e7aa980-f834-11ea-8b93-093b17f25191.png">

dist/prod:
<img width="379" alt="Screenshot 2020-09-16 at 15 24 37" src="https://user-images.githubusercontent.com/1177434/93346402-39353e80-f834-11ea-89b0-9ce9bc2dcadf.png">

i searched quite a bit for tickets and inside the

[2020-09-16 13:58] evilebottnawi commented on #11482
Please use the issue template, otherwise I will be close without answer

[2020-09-16 14:12] tobiu commented on #11482
Hi Alexander,

I am mostly sticking to the issue templates. Thought this would be an easy one, so there would not be much value with doing so. I can change the description to match the template, if you really like me to do so.

The entry points do get created with using dynamic imports like this one:
[code]

It is related to the "cross apps split chunks" topic (not needed to read this for this tic

[2020-09-16 14:41] tobiu opened #11483 "Dynamic imports: Support for different path roots"
## Feature request

**What is the expected behavior?**
Following the definition inside the docs:
https://webpack.js.org/api/module-methods/#import-1

We can use static paths inside dynamic imports, to search matching files inside a specific folder / files tree.

Example:
[code]

**What is motivation or use case for adding/changing the behavior?**
There are use cases (especially for the neo.mjs con

[2020-09-16 15:09] evilebottnawi commented on #11483
You should solve it on application side, it is out of scope webpack

[2020-09-16 15:10] evilebottnawi commented on #11482
I don't understand your problem

[2020-09-16 15:19] tobiu commented on #11482
simply put:

[code]

should get (optionally) reduced to:
[code]

which is half the size.

[2020-09-16 15:29] daveisfera opened #11484 "corejs error after update to beta 30"
# Bug report

**What is the current behavior?**
Our build worked with beta 29 and previous, but is failing with beta 30 with the following error:
[code]

**What is the expected behavior?**
Build should continue to work as it did before

**Other relevant information:**
webpack version:  5.0.0-beta.30
Node.js version: 12.18.3
Operating System: debian 10.5
Additional tools: babel-loader 8.1.0

[2020-09-16 15:38] evilebottnawi commented on #11484
Please use search https://github.com/webpack/webpack/issues/11467

[2020-09-16 15:38] #11484 closed

[2020-09-16 15:48] Muratbucak opened #11485 "Webpack"

[2020-09-16 15:51] daveisfera commented on #11484
Thanks for the quick response! I added the recommended rule and it's now working:
https://github.com/webpack/webpack/issues/11467#issuecomment-691982478

[2020-09-16 16:03] evilebottnawi commented on #11484
It is bug from babel

[2020-09-16 16:03] #11485 closed

[2020-09-16 17:17] sokra commented on #11482
You can fix that by making the .mjs part of the path static, so we know at compile-time that all requests will have .mjs.

[code]

---

In webpack 5 this works fine even without changes as .mjs is no longer a extension that is automatically appended.

[2020-09-16 17:23] sokra commented on #11483
A basePath prefix would only work if it is compile-time-constant, which doesn't seem to be.

You could also change the base path of a "context" (webpack name for dynamic request, like import() with expression), via configuration with the `ContextReplacementPlugin`. Maybe this helps here?

[2020-09-16 17:25] sokra commented on #6472
`new Worker(new URL("./worker", import.meta.url))`

[2020-09-16 17:27] sokra commented on #11481
Yep makes sense.

[2020-09-16 19:44] sokra commented on #8677
Thanks @arcanis I think I can fix that... Tomorrow...

[2020-09-16 19:53] tobiu commented on #11482
nice one, thanks. i was not aware that adjusting the import paths with a file name extension would reduce the mappings as well. we can definitely do this for neo apps, since the entry point is always app.mjs.

[2020-09-16 19:53] #11482 closed

[2020-09-16 21:05] infoeon commented on #11480
Confirmed, latest master has resolved the bug.

[2020-09-16 21:05] #11480 closed

[2020-09-16 21:16] tobiu commented on #11483
Hi Tobias,

interesting one. Missed it so far.

In case I add the plugin into the build processes for the app worker using a wildcard regex, it will only get one match (actually 2, but they are almost the same).

It does not really matter though, since it matches the main dynamic imports entry point to lazy load apps.

[code]
https://github.com/neomjs/neo/commit/34babc001cc8c545211aac48a87c1e2d753

[2020-09-16 21:16] #11483 closed

[2020-09-16 21:21] tobiu commented on #11049
we can close this one, since the new build strategy for the neo framework resolves it in a different way.

[2020-09-16 21:21] #11049 closed

[2020-09-16 21:26] tobiu commented on #10949
this one is no longer an issue for the neo.mjs use case. closing it.

[2020-09-16 21:26] #10949 closed

[2020-09-17 07:00] trusktr commented on #3637
Seems a bit of a performance waste to add a plugin just for this (that merges the chunks). Shouldn't there be a built-in option for this?

[2020-09-17 09:50] MrToxy commented on #7077
@yazonnile could you provide an example on how to use it maybe?

[2020-09-17 10:35] yazonnile commented on #7077
@MrToxy
https://github.com/hslayers/hslayers-ng/pull/665

[2020-09-17 10:37] MrToxy commented on #7077
I've seen that, but there's no example whatsoever how to set that option on webpack config. or what options it takes in

[2020-09-17 10:54] evilebottnawi opened #11491 "improve URL supporting"
Amazing feature, thank you! This allows us to use Wasm in npm packages that can be used in Web, Node and Webpack projects.

Did you consider not requiring `./` at the beginning of the relative path? Both

[code]

are the same URL but the second one fails with

_Originally posted by @webmaster128 in https://github.com/webpack/webpack/pull/11276#issuecomment-694070263_

[2020-09-17 11:03] webmaster128 commented on #11491
Thank you for creating this ticket. Ping @vankop

[2020-09-17 11:09] evilebottnawi commented on #11481
@rishabh3112 Feel free to send a PR

https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L336
[code]

[2020-09-17 11:28] #8677 closed

[2020-09-17 11:37] yazonnile commented on #7077
Just one option.
`expression`
This expression puts as dynamic path
https://github.com/inferpse/dynamic-pub-path-plugin/blob/master/index.js

[2020-09-17 11:43] MrToxy commented on #7077
And what does that `expression` look like?

[2020-09-17 12:41] yazonnile commented on #7077
Sorry, I cant spoon-feeding you ˆ)
Check this PR once more.
https://github.com/hslayers/hslayers-ng/pull/665
Its about adding dynamic-pub-path-plugin into existing project. And you can find how expression looks like in file `scripts/webpack.common.js` - just check the changes

[2020-09-17 13:33] #11419 closed

[2020-09-17 14:06] evilebottnawi commented on #11425
Hm, we can do it, we can add assets `info` - `{ childCompilation: true }`, but I found it useless, because you don't know what specific compilation the files came from

[2020-09-17 14:07] evilebottnawi commented on #11425
No, assets is more than `chunkGroup`, because developers can add assets using `copy-webpack-plugin` and other plugins, but each chunk exists in assets

[2020-09-17 14:21] MrToxy commented on #7077
"Spoon-feeding you", really?

The package you keep mentioning has 0 documentation, 0 examples, there's no reference to it anywhere other than another package by the same author.

[code]
how is someone supposed to understand where `HSL_PATH` comes from or why is another module referenced?

[2020-09-17 14:27] yazonnile commented on #7077
`HSL_PATH` is something specific from `hslayers` package. Not from the `dynamic-path...`

You need to set something yours into `expression` option. I dont know how to explain more detailed, coz its just a string option and `hslayers` PR did exactly what you asking for - example of implementing `dynamic-path..` into existing project.

[2020-09-17 14:53] MrToxy commented on #7077
can you share your configuration? I'm having a hard time understanding what `expression` means here

[2020-09-17 18:28] #11293 closed

[2020-09-17 18:36] sokra commented on #11425
In webpack 5 you can still do `getStats().toJson` similar to webpack 4. I would add `all: false` to omit all other properties.

[2020-09-17 19:12] raitisbe commented on #7077
I'm not even sure it's the best approach, but the one-time need was there and dynamic-pub-path-plugin came to the rescue.
HSL_PATH is really project speciffic as @yazonnile mentioned, so lets just name it SOME_VARIABLE.
<script>window.SOME_VARIABLE='path-where-the-chunks-are/'</script>
<script src="path-where-the-chunks-are/hslayers-ng.main.js"></script>

When you load the bundle this way, chunks

[2020-09-18 08:45] jiedongd commented on #7197
1、make sure your package.json has config devDependencies
[code]
2、make sure has installed webpack-cli with -g

hope can help you

[2020-09-18 09:11] diem98 commented on #11230
does this have any plan？

[2020-09-18 10:38] lostpebble commented on #10216
Just ran into this today, which was strange because I never had the issue before. Turns out my current babel config was missing a plugin I had been using over the past couple years but forgot to copy over. I added that back in and it worked again.

So as another temp fix, add this to your babel config, inside `plugins: []`

[code]

[2020-09-18 23:50] nickbouton commented on #11467
Also seeing this issue with beta 30->32 as well, 29 still works ok. All of the errors we're getting are coming from Material UI via @babel/runtime.

[2020-09-19 03:36] antun commented on #8400
@mkempinsky do you know why adding a simple import statement like that causes Webpack to break like this? In my case, I intentionally added a simple module to my code (https://github.com/peterolson/hanzi-tools) and got this same, long, sequence of errors, that don't seem to be related.

[2020-09-19 12:57] ericpitcher commented on #6093
@sokra @evilebottnawi any info on this, has it been fixed?

[2020-09-19 14:02] evilebottnawi commented on #11467
There is no problems on webpack side

[2020-09-19 14:20] StephanBijzitter commented on #6769
It's a shame this is not here yet, I generally appreciate the warnings very much, but

[code]

Can currently only be eliminated by increasing `maxAssetSize`, but that would also increase the limit for a lot of other assets.
Alternatively, I could use `assetFilter` to disable the checks on images, but that could also mean it would accept a PNG file of 100MB. Being able to set different limits for d

[2020-09-20 08:18] hubcarl opened #11503 "Multiple assets emit different content to the same filename css/common.css"
# Bug report

**What is the current behavior?**

development mode , only modify css file trigger webpack hot reload, will follow error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

- The demo can run depends on another issue([https://github.com/webpack-contrib/mini-css-extract-plugin/pull/590](https://github.com/webpack-contrib/mini-css-extract-plu

[2020-09-20 08:51] #8872 closed

[2020-09-20 09:56] Domiii commented on #4175
Currently @mjewell 's workaround seems to be the best, while certainly still having a lot of issues.

When will we get a way to override the `require` behavior dynamically?

Or at least provide some way of resolving require calls with dynamic arguments?

* This would also take care of the cryptic `Critical dependency: the request of a dependency is an expression` problem (which is a webpack warnin

[2020-09-20 17:39] ryanburnette opened #11505 "chunk with dependOn results in invalid Js"
# Bug report

**What is the current behavior?**

Relevant parts of my config.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Error in browser console...

[code]

Offending code in vendor.js...

[code]

Not sure if it would help (of it it's related), but how can I run Babel on the Js that webpack generates? I understand that it will run on the imports, but I

[2020-09-20 17:41] ryanburnette commented on #11505
Also relevant to add...

[code]

Compiling it all to one file works.

[2020-09-20 20:57] AmaanKulshreshtha commented on #6680
I have written the following code:

[code]

and I still get module not found error. Is there something that I am doing wrong?

[2020-09-20 21:17] sokra commented on #11406
https://github.com/webpack/webpack/releases/tag/v5.0.0-rc.0

[2020-09-20 21:29] AmaanKulshreshtha opened #11508 "Dynamic Import not working with variable path"
# Bug report

**What is the current behavior?**
When using a variable path inside of dynamic import, it throws a `Error: Cannot find module` error.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
Tried from #6680

## Also Tried

[code]
Tried from #8341

**What is the expected behavior?**
It should load the module, when the module already exists and should provi

[2020-09-21 05:58] isachinraj commented on #10352
Hi,

I am trying to build a react application with the below mentioned structure and I am facing an issue for which I need your advice.

1) I have a Landing Page (Host) running at http://localhost:3001/
2) I have a Standalone application app1 running at http://localhost:3002/
3) I have a common header running at http://localhost:3003/
4) The common header is consumed by Landing Page and app1
5) ap

[2020-09-21 09:37] marcofugaro opened #11509 "Class isn't tree-shaken if it's instantiated in an unused variable"
# Bug report

**What is the current behavior?**

Tree-shaking doesn't work if the class is instantiated somewhere but its instance is not actually used.

Here is a minimal example:

[code]

This, after being compiled and minified by terser, is outputted as:
[code]

As you can see, the unused class is still in the bundle.

Using `/*#__PURE__*/` in the class instance variable, correctly makes terser

[2020-09-21 09:53] mustafawm commented on #9802
Thanks for the great work!

I'm not sure if this mounts as an issue but I remember the folks on HTTP 203 podcast mentioning that webpack5 will not have the same lib in multiple chunks.

But I'm seeing `leaflet` in a few of them (screenshot).

_I'm lazyloading those components, so could that be it? Am I doing something wrong?_

<img width="1792" alt="Screen Shot 2020-09-21 at 7 44 28 pm" src="https

[2020-09-21 09:54] Domiii opened #11510 "Webpack produces buggy code: "Cannot assign to read only property 'exports' of object '#<Object>'""
# Bug report

## Problem Description

* I am transpiling [`ws`](https://www.npmjs.com/package/ws) to support Node 7 (yes, I know Node 7 is at the end of life, but there is an important reason; would love not having to do this, but its absolutely necessary for now).
* `ws` contains a file `constants.js` which looks like this:
[code]
* It becomes (and looks good to me):
[code]
  module.exports = {

[2020-09-21 10:21] Domiii commented on #11510
Turns out to be [this babel problem](https://github.com/babel/babel/issues/10792#issuecomment-561119049).

Fix: add `sourceType: "unambiguous"` to babel config.

[2020-09-21 10:21] #11510 closed

[2020-09-21 10:41] vankop commented on #11509
It is possible to have a side effect in constructor, e.g.
[code]
as I understand terser does not track this, so `/*#__PURE__*/` notation is important here.
Anyway related to terser, please reopen issue there https://github.com/terser/terser

[2020-09-21 10:41] #11509 closed

[2020-09-21 10:49] vankop commented on #11508
Hack with `webpackIgnore` should work.

Please provide minimum reproducible repo, otherwise it is hard to help.

[2020-09-21 11:27] jantimon commented on #11406
Thanks for the heads up ( https://github.com/jantimon/html-webpack-plugin/issues/1514 ) 👍

Is there any api which returns the calculated publicPath?
Right now we are using https://github.com/jantimon/html-webpack-plugin/blob/f3ccdd5125566ba8d2965cfb4f59b058854fa3c9/index.js#L533-L540

[2020-09-21 11:31] vankop commented on #11505
fixed https://github.com/webpack-contrib/mini-css-extract-plugin/pull/561

please try to use latest `mini-css-extract-plugin`

[2020-09-21 11:31] #11505 closed

[2020-09-21 11:40] sokra commented on #9802
@mustafawm In this case it should indeed do that. Do you have any special `optimization` configuration?

[2020-09-21 11:51] mustafawm commented on #9802
Hi @sokra do you mean because I'm lazy loading them? So if I don't lazy load them, there will be on _leaflet_ in `main.js`

Here is the `optimization` that I've got
[code]

[2020-09-21 12:32] sokra commented on #9802
hmm not sure, it looks like disables `optimization.splitChunks`, neither the vendor splitting nor the duplication splitting is working.

Could you create an issue with a repro?

[2020-09-21 13:02] FVolral commented on #8958
@evilebottnawi I think it is `writeToDisk: true`

[2020-09-21 13:42] evilebottnawi commented on #11503
Please do not duplicate issues, it is traced in `mini-css-extract-plugin` repo https://github.com/webpack-contrib/mini-css-extract-plugin/issues/487

[2020-09-21 13:42] #11503 closed

[2020-09-21 15:46] evilebottnawi commented on #11023
Can't reproduce, all works fine, my output:
[code]

Feel free to feedback

[2020-09-21 15:46] #11023 closed

[2020-09-21 15:46] evilebottnawi commented on #11023
Try to update deps

[2020-09-21 15:53] DragonOsman opened #11511 "Need Help With CSS Configuration on WebPack"
I'm trying to configure webpack.  So far I've managed to add in loaders for React and HTML, but I can't get the CSS to work.  I get an error saying that the the value for `use` has to be a string, which is bad because I need it be an array of loaders.  I saw it here: https://webpack.js.org/loaders/css-loader/

This is my current config file:
[code]
[Here's](https://github.com/DragonOsman/javascrip

[2020-09-21 16:14] evilebottnawi commented on #11511
Please use stackoverflow or gitter for help

[2020-09-21 16:14] #11511 closed

[2020-09-21 18:24] sokra commented on #10352
I can't tell for sure, but a common problem when duplicating repos is that both have the same name in package.json which results in the same value of `output.uniqueName`, which causes conflicts during chunk loading as they both use the same globals.
Give each of them a unique `output.uniqueName`.

[2020-09-21 18:38] DragonOsman commented on #11511
I mainly want to ask how to correctly configure webpack for using CSS with HTML, and to get it to accept an array for the value for "use".

[2020-09-21 18:56] andersonbosa opened #11512 "erro in validation throw `new WebpackOptionsValidationError`"
# Bug report

**What is the current behavior?**
It claims that a configuration is wrong. The configuration that was passed does not use the configuration that is giving an error (see log below), so BUILD should result in success.

**If the current behavior is a bug, please provide the steps to reproduce.**
I can't do a "step by step" because I don't know the reason for the error, which comes from

[2020-09-21 19:42] whitecolor commented on #11432
@evilebottnawi
Hope you don't mind me asking some questions here. This is not an easy thing to get the right way (API) for doing things in webpack internals.

You proposed to use `afterOptimizeTree` hook, where I believe I should add new modules and chunks which currently my loader creates using `require.ensure` API.

A couple of questions:

1) How to add/load new modules from known filePath in th

[2020-09-22 05:35] mustafawm opened #11513 "v5.0.0-rc.0 duplicated module in chunks"
In reference to [this](https://github.com/webpack/webpack/issues/9802#issuecomment-696014390)

## Current behavior
Same module found in multiple chunks

<img width="1792" alt="Screen Shot 2020-09-22 at 3 24 44 pm" src="https://user-images.githubusercontent.com/13101565/93846566-c0c4f680-fce7-11ea-9a11-1f3ac87af119.png">

## Steps to reproduce:

[This repo](https://github.com/mustafawm/wp-splitchun

[2020-09-22 05:38] mustafawm commented on #9802
thansk @sokra, I did. [issue](https://github.com/webpack/webpack/issues/11513), [repo](https://github.com/mustafawm/wp-splitchunks-issue)

I couldn't create a new codebase with the issue, so I had to strip out unrelated parts from the one i'm working on. It only contains the `<Map />` component now. Hopefully it's clear enough

[2020-09-22 09:09] lostpebble commented on #8824
This seems to be a bit of a headache when it comes to monorepos and trying to balance linking external modules through something like `yarn link` / `npm link`, and also keeping your local symlinked packages working correctly with HMR and other things.

@sokra could there ever be a consideration for conditionally controlling the symlink option? I'd like any modules which originate in my project fil

[2020-09-22 10:08] evilebottnawi commented on #11512
Please read the validation error message and fix it

[2020-09-22 10:08] #11512 closed

[2020-09-22 10:20] evilebottnawi commented on #10035
Fixed in `worker-loader`, also webpack@5 supports workers out of box

[2020-09-22 10:20] #10035 closed

[2020-09-22 11:17] andersonbosa commented on #11512
wow! how i couldn't think it! oh, wait...
`- configuration.optimization.splitChunks should be one of these: false | object`
[so it should be the same as it is ... AMAZING!](https://gist.github.com/andersonbosa/e64dee7ae06c450fd8f6a13d8f22c40d#file-webpack-issue-js-L6)

**For those with a similar problem: users on StackOverFlow suggest trying change the version used.**

[2020-09-22 12:02] evilebottnawi commented on #11512
You use docs for v5, but point on v4 in the issue template

[2020-09-22 15:25] AmaanKulshreshtha commented on #11508
Sure thing, just need some time for that...will post it within a few days.

[2020-09-22 15:48] daveisfera opened #11515 "Unhandled Promise Rejection"
# Bug report

**What is the current behavior?**
We just had a bad build deploy and after digging in, it turns out that we there was an unhandled promise rejection that didn't cause the build to fail like it should have. Here's the output:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

This was an error that happened and re-running with the same code didn't ca

[2020-09-22 16:19] evilebottnawi commented on #11515
Please create reproducible test repo otherwise issue will be closed

[2020-09-22 16:23] evilebottnawi commented on #11515
Same - https://github.com/webpack/webpack-sources/issues/65
Same - https://github.com/webpack/webpack-sources/issues/55

Without reproducible test repo we can't help

[2020-09-22 16:46] daveisfera commented on #11515
Actually, this is reproducible, so I'm looking into isolating the cause to see if I can make a reproducer

[2020-09-22 17:01] evilebottnawi commented on #11515
@daveisfera do you use `typescript` or `babel-typescript`?

[2020-09-22 17:34] daveisfera commented on #11515
We've started playing with it but don't use it yet. I've been able to isolate the bundle that's causing the problem, but any advice on isolating the cause the problem?

[2020-09-22 17:37] evilebottnawi commented on #11515
Just create reproducible test repo

[2020-09-22 18:00] daveisfera commented on #11515
Yes, that's what I'm working on, but the issue only happens when `terser` is run because `mode` is set to `production`, so I was wondering if you had any advice on how to isolate what's causing the problem so I can make a minimal reproducer.

[2020-09-22 18:05] evilebottnawi commented on #11515
@daveisfera Just create example with `mode: 'produciton'` :smile:

[2020-09-22 18:34] sokra commented on #9922
Webpack 5 support module concatenation for externals.

[2020-09-22 18:47] daveisfera commented on #11515
The code that's running into this is a large/complex set of application code that I can't share, so I'd like to extract out just the problematic code and make a reproducer from that.

While playing around with things, I noticed that forcing `storybook` to using the more recent versions of `terser` and `terser-webpack-plugin` fixes the issue, i.e. I added the following to `package.json`:
[code]

[2020-09-22 18:55] evilebottnawi commented on #9922
@sokra So we can close?

[2020-09-22 18:57] evilebottnawi commented on #11515
@daveisfera Please report the issue in `terser-webpack-plugin`, we can't fix it on our side, feel free to feedback

[2020-09-22 18:57] #11515 closed

[2020-09-22 19:07] adjenks commented on #11508
I'm curious why you're pulling all the slashes out like this:
`process.cwd().replace('/', '')`
You'd take a directory like  `/some/cool/directory/path/` and change it to `somecooldirectorypath`

Also, in the second example, you don't do this. Is there a reason for that?

Another question, do both tests return the same error message? Or are they different at all?

You should try `console.log(compon

[2020-09-22 19:09] vankop commented on #9922
yep

[2020-09-22 19:09] #9922 closed

[2020-09-22 19:36] sokra commented on #11513
Thanks for the report. It was an interesting bug in SplitChunks when chunks have more than one source type (here: javascript and css). Fix coming soon.

[2020-09-22 20:26] sokra commented on #9922
It could be improved further in cases when it can be concatenated because referenced from different places.

I could imagine some kind of internal flag to enforce concatenation / to ignore other incoming connections to the external module. But this only makes sense when the code for the external is very small, otherwise we would increase the bundle size by duplicating the code. I think it has to b

[2020-09-22 20:41] sokra commented on #11491
I would like to fix this together with `url(path/to/file)` in css etc.

There could be a resolve option in enhanced-resolve which tries to resolve module request relative first and fallback to module resolving afterwards. You could set this for `url` type resolvers.

So `wasm/drand.wasm` in `/path/to/project` would resolve to:

* `/path/to/project/wasm/drand.wasm`
* `/path/to/project/node_modules/

[2020-09-22 20:46] sokra commented on #11491
I think it would be pretty easy to implement by moving this line

https://github.com/webpack/enhanced-resolve/blob/adfbc74e4122d0b736d47b13ad3a824e0ce0a913/lib/ResolverFactory.js#L362

before this:

https://github.com/webpack/enhanced-resolve/blob/adfbc74e4122d0b736d47b13ad3a824e0ce0a913/lib/ResolverFactory.js#L341-L349

when the flag is set.

[2020-09-22 20:55] evilebottnawi commented on #11491
Still not obsolete, in theory you can have relative file and module (`bootstrap` :smile: ), so you need to use `~` if you want to load module instead file, but edge case

[2020-09-22 21:23] sokra commented on #11491
yes, in practice the developer probably works around that by renaming the local file.

Technically node_modules resolving isn't allowed in native web anyway in places where urls are expected. This is kind of kind by webpack to support this anyway^^

[2020-09-22 21:25] vankop commented on #11491
@webpack-bot move to webpack/enhanced-resolve

[2020-09-22 22:05] AmaanKulshreshtha commented on #11508
I did verify the path in both, and it's the same...and if you do `cmd` + click, it actually opens the file too.

[2020-09-22 22:42] adjenks commented on #11508
You need some chunk of static path.
Please see:
https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import
Also this might help:
https://webpack.js.org/configuration/entry-context/#context
Maybe try something like this:
[code]
Hopefully `process.cwd()` will become inlined and webpack can interpret it as a static path. It will cause everything in the `process.cwd()` folder to get proc

[2020-09-22 22:46] AmaanKulshreshtha commented on #11508
I read the docs for this. The thing is I want to avoid path discrepancies for a library I am working on and my sole objective of using `process.cwd()` is to solve that issue.
It'll really help me a lot if you can provide an alternative for that issue.

[2020-09-22 23:08] EvHaus commented on #11467
I'm not having luck with the `fullySpecified` solution. When I add that to my module rules and try the latest `rc.0` build I end up with this failure:

[code]

And sometimes this one:

[code]

The same issues don't happen on beta.29. Is anyone else seeing similar problems?

[2020-09-23 02:36] mustafawm commented on #11513
Glad it was helpful 🙂

[2020-09-23 02:45] brendonco commented on #10352
@sokra How do we test expose component? e.g. snapshot

webpack.config.js
[code]

host2:

ShoppingCart
[code]

test

[code]

[2020-09-23 08:01] sokra commented on #10352
Mock it in unit tests

[2020-09-23 08:21] zlj002 commented on #6094
Extract from all additional chunks too (by default it extracts only from the initial chunk(s))
When using CommonsChunkPlugin and there are extracted chunks (from ExtractTextPlugin.extract ) in the commons chunk, allChunks must be set to true

[2020-09-23 10:33] evilebottnawi commented on #11467
@EvHaus Can you create reproducible test repo?

[2020-09-23 10:33] evilebottnawi commented on #11467
/cc @vankop

[2020-09-23 10:57] evilebottnawi commented on #6094
`ExtractTextPlugin` was deprecated, please migrate on `mini-css-extract-plugin`, I want to close this issue, if you faced with the same issue using `webpack@4`/`webpack@5` and `mini-css-extract-plugin` or without the plugin, please open new issue with reproducible test repo, a lot of

[2020-09-23 10:57] #6094 closed

[2020-09-23 12:58] brendonco commented on #10352
how do you mock this import Widget from 'name/Widget';   --> this will be undefined in unit test

[2020-09-23 13:24] csvan commented on #10352
@brendonco depends on what unit test system you are using. In Jest, you can do e.g.

[code]

[2020-09-23 13:39] brendonco commented on #10352
I dont see this is working @csvan still getting undefined.

test
[code]

[2020-09-23 13:42] csvan commented on #10352
@brendonco you will need to refer to the docs for Jest or whatever you are using for testing. Mocking is not a webpack feature and your problem is not related to it.

[2020-09-23 14:33] AmaanKulshreshtha commented on #11508
@vankop I have created the [repo](https://github.com/AmaanKulshreshtha/webpack-module-error) to reproduce the error.

[2020-09-23 15:40] daveisfera commented on #11515
It's good that it looks like this being resolved, but honestly, my bigger concern was that this "silently failed". It killed the build but the status code was still 0, so a completely bogus build was deployed when it should have been able to be caught, so is that something that could be fixed to prevent this sort of issue in the future?

[2020-09-23 15:51] evilebottnawi commented on #11515
Bug found https://github.com/webpack/webpack-sources/issues/89

[2020-09-23 18:34] jeffposnick commented on #11425
For my use case, I need access to all of the assets that were created by a given invocation of `webpack`, regardless of whether they came from the main or a child compilation. I don't actually need to know which specific child compilation the assets originated from. What exactly is the syntax for enabling that—are you referring to something like `compilation.getStats().toJson({childCompilation: tr

[2020-09-23 20:21] rob-baker-ar opened #11517 "UnhandledPromiseRejectionWarning: Error: "." is not in the SourceMap"
# Bug report

**What is the current behavior?**

Running `webpack --config webpack.config.js` results in the above error and following stack trace:

[code]

... and no files are produced as output.

This seems to be happening only when producing a source map with `devtool: "sourcemap"`. If you swap that for `devtool: false` the build succeeds.

**If the current behavior is a bug, please provide th

[2020-09-23 20:29] rob-baker-ar commented on #11517
Looks like this:

https://github.com/webpack/webpack-sources/issues/89

Maybe close this If I'm right.

[2020-09-23 21:23] sokra commented on #708
fixed by #11327

[2020-09-23 21:23] #708 closed

[2020-09-23 21:26] sokra commented on #11005
fixed by #11489

[2020-09-23 21:26] #11005 closed

[2020-09-23 21:30] sokra commented on #10707
should be fixed by #11379

[2020-09-23 21:30] #10707 closed

[2020-09-23 21:51] EvHaus opened #11518 "5.0.0-rc.0 throws "Maximum call stack size exceeded""
# Bug report

**What is the current behavior?**

Running the code in [this repository](https://github.com/EvHaus/webpack-5-rc-issue) using webpack 5.0.0-rc.0 results in the following crash:

[code]

There's some kind of interplay between `stylus-relative-loader` and `mini-css-extract-plugin` and `webpack@5.0.0-rc.0` that causes this failure.

Downgrading to `5.0.0-beta.29` makes the problem go awa

[2020-09-23 21:51] EvHaus commented on #11467
Logged as a new issue with reproducible test repo here: https://github.com/webpack/webpack/issues/11518 I think it's unrelated to this issue actually.

[2020-09-24 01:36] entrywayaudibly commented on #5703
**For those using TypeScript in webpack config**

It is [required][1] to use `"module": "esnext"`, indeed.

Altough, there's extra steps you may need to follow:

- Set `"moduleResolution": "node"`, inside of your main `tsconfig.json`;
- Install `tslib`;
  - `npm i -D tslib`.
- Create a [separate TypeScript configuration][2], specifically for your webpack configs.
  - If your webpack configs is wri

[2020-09-24 02:25] FishOrBear commented on #10352
I want to make a package that depends on another package (for example,'three'). When I want to publish the package, I don't include `three`, but let the user download it. Is there any way?

[2020-09-24 03:15] brendonco commented on #10352
That's true, this is not part of webpack feature. But eventually once webpack 5 is out, someone will ask how do you mock and test expose components again.

[2020-09-24 03:16] brendonco commented on #10352
I don't think this is relevant to webpack feature.

[2020-09-24 03:34] FishOrBear commented on #10352
Well, I can use rollup.js

[2020-09-24 03:51] Aries-Sushi opened #11519 "http://webpack.github.io/ cannot open"
![image](https://user-images.githubusercontent.com/17898871/94098854-2803b780-fe5c-11ea-94c4-6f72eac1e618.png)

[2020-09-24 04:32] csvan commented on #10352
Exposed components are imported like other components, so the same mocking patterns apply.

[2020-09-24 05:03] lomocc opened #11520 "ModuleFederation rc config file"
## Feature request

**What is the expected behavior?**
I think we can use **.modulerc.js** to configure ModuleFederation.
So we don’t need to configure **webpack.config.js**

[code]

**What is motivation or use case for adding/changing the behavior?**
Easier to use
**How should this be implemented in your opinion?**
[code]

**Are you willing to work on this yourself?**
no

[2020-09-24 05:48] brendonco commented on #10352
Understand @csvan. Maybe @ScriptedAlchemy can include sample unit test/mock in this example https://github.com/module-federation/module-federation-examples/tree/master/shared-routes2/app1 ? That would be helpful.

[2020-09-24 05:56] csvan commented on #10352
@brendonco for which test library? Different libraries do mocking in different ways, and not everyone uses Jest. Again, *exposed modules are just modules as far as the code is concerned*. There is literally no difference between mocking an exposed module and a "regular" module since the import syntax is the same for both, so everything you need should already be in the docs of the test library you

[2020-09-24 06:38] anshumanv commented on #11519
Please use https://webpack.js.org/

[2020-09-24 08:34] Chen-jj opened #11521 "ProvidePlugin can't tree shaking like the doc said"
# Bug report

**What is the current behavior?**

When using ProvidePlugin to provide `join` of `lodash` or `lodash-es`, the output bundle can't drop the rest of lodash as docs said: https://v4.webpack.js.org/guides/shimming/#shimming-globals

![image](https://user-images.githubusercontent.com/11807297/94120067-467ca980-fe82-11ea-9945-18f3888fde40.png)

**If the current behavior is a bug, please pr

[2020-09-24 08:51] plehnen commented on #9969
In vue cli the webpackPrefetch is automatically set for all chunk files. So here `webpackPrefetch: false` actually would make a lot of sence.
Not sure if this has to be fixed here or there (https://github.com/vuejs/preload-webpack-plugin/issues/6).

[2020-09-24 10:29] #11519 closed

[2020-09-24 10:37] evilebottnawi commented on #11517
Close in favor https://github.com/webpack/webpack-sources/issues/89

[2020-09-24 10:37] #11517 closed

[2020-09-24 10:38] evilebottnawi commented on #11520
Sorry, no, you have `webpack.config.js` and can use `require`/`import`

[2020-09-24 10:38] #11520 closed

[2020-09-24 10:51] kirill-konshin commented on #11080
@sokra sorry to ping you, bot marked this as inactive, but I haven't got an answer...

[2020-09-24 17:11] Noeldeveloper opened #11523 "Webpack dynamic import"
## Feature request

We need dynamic imports to resolve variables. It's very important because future microfrontends could be served from a server.

**What is the expected behavior?**

Expected behaviour is to make that work:

`const path = await http.get(''https://myserver/mylib/fesm2015Bundle');`
`// path = 'https://myrepo.com/assets/fesm2015Bundle.js'`
`import(path).then((content) => content.fn(

[2020-09-24 17:17] evilebottnawi commented on #11523
use `import(/* webpackIgnore: true */).then()`

[2020-09-24 17:17] #11523 closed

[2020-09-24 19:05] privatenumber commented on #6784
@KevinGhadyani-minted

The first version checks to see if it can use `self`. `self` doesn't exist in Node.js, so it's a way to identify a non-Node.js environment like a browser or a Web worker.

I imagine there won't be a difference in most-cases when it's loaded top-level because `self === this`, but might make a difference if the module loader used is creating a context for it.

I would default

[2020-09-24 20:16] kevinvalk opened #11524 "Performance.hints: "warning" emits non zero exit code"
# Bug report

`Performance.hints` defaults to `"warning"`. It is my understanding that a warning is not an error (hence we also have the "error" option). However, even with hints set explicitly to `"warning"`, webpack returns a non zero exit code.
[code]
**What is the current behavior?**
Webpack returns a non zero exit code when building with `performance.hints` set to `"warning"`.
[code]

**If th

[2020-09-24 20:40] evilebottnawi commented on #11524
Not sure `hints` should be change exit code, because it is not break build or something elase

[2020-09-25 00:55] sboisse commented on #10227
Maybe I am missing something, but doing this did not fix the issue for me. I still get the same unexpected token at each use of optional chaining I have in my code.

[2020-09-25 04:27] tranvansang opened #11527 "Module is incorrectly disposed if it is required in another chunk during hot-update"
# Bug report

**What is the current behavior?**

Chunk `2` includes module `./src/client/components/shared/flex/FixedFlexSpacer.tsx` (call it module `Boy`).

Chunk `8` includes module `./src/client/components/pages/auth/signup/SignUpSuccessWithConfirm.tsx` (call it module `Father`).

Initially, `Father` does not import `Boy`, then I started webpack in watch mode.

After that, `Father` is edited to

[2020-09-25 09:16] sokra commented on #11527
yes that's a bug. It was fixed by: https://github.com/webpack/webpack/pull/11440 in webpack 5.

[2020-09-25 09:24] sokra commented on #11508
What I think you want is this:

[code]

and in webpack.config.js

[code]

[2020-09-25 09:39] sokra commented on #11425
`size` (and content) is determined during emitting. Determining the size requires to convert that asset to a buffer and that can be expensive. You can determine the size from `compilation.getAsset(name).source.size()` if you want to know it at this time. Maybe we should better set it to `size: undefined` so one can see that it's not determined yet.

I wonder why? That should only happen when there

[2020-09-25 09:52] sokra commented on #11425
I wonder why you want to use the Stats anyway. Usually one doesn't use them before the compilation finished. You can access all info from the Compilation directly:

* `compilation.getAssets()` will give all assets
  * `Asset.source` is the Source object, with `size()` method
  * `Asset.name` is the filename
  * `Asset.info` is a meta info object
    * Asset.info.development` is true for dev-only a

[2020-09-25 10:56] evilebottnawi commented on #11527
Fixed in webpack@5, ETA is `2020-10-10`

[2020-09-25 10:56] #11527 closed

[2020-09-25 11:41] #11481 closed

[2020-09-25 12:19] irenetang1993 opened #11532 "Does wepack create a dependency every time you create a module?"

[2020-09-25 12:22] irenetang1993 commented on #11532
Can you explain ImportDependenciesBlocks and ImportDependency and why we need these when dynamically importing a file

[2020-09-25 12:53] jasonwilliams commented on #11456
Hi @evilebottnawi

I've managed to create a test case:
https://github.com/jasonwilliams/webpack-sourcemap-testcase (I've added the output in the readme)

Interestingly it doesn't truncate the `[]` in the output. However i do get `.js.js` twice which is odd.

I now wonder if this bug lies somewhere in Next's codebase or im missing something that they're doing in my testcase

[2020-09-25 13:24] evilebottnawi commented on #11456
I will look at this in near future

[2020-09-25 13:50] jeffposnick commented on #11425
All of those `compilation.*Asset()` methods are documented as _Available since webpack 4.40.0_. `workbox-webpack-plugin` currently has a [minimum required version](https://github.com/GoogleChrome/workbox/blob/bb21e8208ec093dd66fb61b5fbcdfd67314eb2bc/packages/workbox-webpack-plugin/package.json#L32-L34) of webpack v4.0.0.

Around the time of the webpack v4.0.0 release, when I was working on the cha

[2020-09-25 13:59] sokra commented on #11425
For me this sounds like a good approach. Upgrading from 4.0 -> 4.40 should be straightforward for the user and I guess they already did so anyway. Anyway it wouldn't be a huge breaking change. Probably better than supporting two code paths, even while this isn't too bad. Many official plugins also support webpack 5 with two code paths... One could delete the old path in the next major version and

[2020-09-25 15:34] #11513 closed

[2020-09-25 16:16] mirjalol-norkulov commented on #7378
Thank you very much

[2020-09-26 19:59] RoystonS opened #11536 "webpack can generate a reference to a module it has optimised out"
# Bug report

**What is the current behavior?**

If webpack sees an ES module that consists merely of
[code]
and tree-shaking is turned on (via `sideEffects` flag and the presence of a `sideEffects` property in `package.json`), then the resulting bundle attempts to initialize that module BUT the module has been optimised out.  This produces a bundle that won't load with the error:

[code]

(Why do

[2020-09-26 20:43] tanekim77 opened #11537 "Webpack Watch stops after error"
If I run webpack --watch ... and if I make a change to a file that causes a loader to throw error, the webpack displays the error but it stops watching for the files defined in the entries.

Is there way to configure it so that it will still watch for the files so that when I make a correction to the file that is causing the error, the webpack can resume?

[2020-09-26 23:30] #11537 closed

[2020-09-27 07:07] Aries-Sushi commented on #11519
I want to analyze the output through the website http://webpack.github.io/analyse/, but i have found another tool bundle-stats-webpack-plugin. Thank u all the same.

[2020-09-27 08:52] #11378 closed

[2020-09-27 18:24] godmar opened #11538 "support for arbitrary custom import handlers in addition to custom loaders"
## Feature request

I would like to be able to say something akin to:
[code]

**What is the expected behavior?**

The expected behavior would be to execute `../src/preparesomecontent.js` at build time, save whatever it produces and include it in the bundle, similar to how custom file loaders work.

**What is motivation or use case for adding/changing the behavior?**

It is sometimes useful to reco

[2020-09-27 22:37] AmaanKulshreshtha commented on #11508
My bad, I forgot to mention that I used `process.env` as an example.

My use case requires me to read the value from a `yaml` config file. And so the user has to input the file name there. I don't know if using the `DefinePlugin` will work there.

Really sorry to not have informed earlier ✌️

[2020-09-28 03:22] neoGeneva opened #11539 "Entry with DependOn array not loading"
# Bug report

**What is the current behavior?**

If there are multiple items in the DependOn the module never runs.

**If the current behavior is a bug, please provide the steps to reproduce.**

I have an example repository here: https://github.com/neoGeneva/webpack-dependon-bug

I have a config with three entry points, and four modules.
* Entry1 loads module1.js, which in turn loads module2.js
*

[2020-09-28 06:56] X-neuron commented on #11467
I'm having the similar problem:

webpack version: 5.0.0-rc.0
node version:14.11.0

.babelrc.js
[code]
[code]

[2020-09-28 09:39] Jack-Works commented on #9026
![image](https://user-images.githubusercontent.com/5390719/94416483-7d6bfb80-01b1-11eb-935a-8d3784ceec5e.png)

Agree, I need to provide my own implementation of those hooks otherwise I need to dirty patch on the prototype of Web APIs to make HMR work

[2020-09-28 10:19] evilebottnawi commented on #11508
Read value and pass it to `DefinePlugin`, please use stackloverflow for future questions

Solved, feel free to feedback

[2020-09-28 10:19] #11508 closed

[2020-09-28 10:31] evilebottnawi commented on #11150
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-09-28 10:31] #11150 closed

[2020-09-28 11:29] #10507 closed

[2020-09-28 12:06] evilebottnawi commented on #11538
Sorry, it is out of scope webpack, you can achieve this using loaders or plugins, also it is not part of ES spec, we try to avoid adding non-standard items, also this will create a problem with https://github.com/webpack/webpack/issues/8896

[2020-09-28 12:06] #11538 closed

[2020-09-28 12:17] evilebottnawi commented on #11521
It is expected, here answer https://stackoverflow.com/questions/58741044/why-webpack-doesnt-tree-shake-the-lodash-when-using-import-as

[2020-09-28 12:42] evilebottnawi commented on #11518
/cc @vankop @sokra Interesting bug, if I comment
[code]

inside `stylus-relative-loader`, no problems

[2020-09-28 13:05] sokra commented on #11518
I think that's already fixed on master

[2020-09-28 13:08] evilebottnawi commented on #11518
@sokra Tried master, problem still exist

[2020-09-28 14:00] evilebottnawi commented on #10958
Node for webpack@5, babel has bugs https://github.com/webpack/webpack/issues/11467

[2020-09-28 14:00] #10958 closed

[2020-09-28 16:25] andersonbosa commented on #6816
/home/n3o/workspace/dev/suite/suite-server/node_modules/webpack/lib/RequestShortener.js:16
        return request.replace(NORMALIZE_SLASH_DIRECTION_REGEXP, "/");
                       ^

TypeError: request.replace is not a function
    at normalizeBackSlashDirection (/home/n3o/workspace/dev/suite/suite-server/node_modules/webpack/lib/RequestShortener.js:16:17)
    at new RequestShortener (/home/n

[2020-09-28 16:51] #11518 closed

[2020-09-28 17:21] vankop commented on #11491
Need some improvement on webpack side to

[2020-09-28 17:40] sokra commented on #11538
`import "../src/preparesomecontent.js!"` would do that if you want to go non standard.

[2020-09-28 19:16] sokra commented on #11539
It's not allowed to have more then one runtime on a single html page. You have to use `optimization.runtimeChunk: "single"` for this case. That should also fix this issue.

[2020-09-28 19:17] #11491 closed

[2020-09-28 20:03] evilebottnawi opened #11543 "support worklet"
## Feature request

[code]

**What is the expected behavior?**

Working with `worklet`s out of box

**What is motivation or use case for adding/changing the behavior?**

Why not?

**How should this be implemented in your opinion?**

Like `web workers`, maybe under options

**Are you willing to work on this yourself?**

Not right now

[2020-09-28 20:04] Slapbox opened #11544 "Passing ecmaVersion results in "Invalid configuration object""
# Bug report

**What is the current behavior?**

v4.44.2 crashes with "Invalid configuration object" telling me that `output.ecmaVersion` is not a valid option

**If the current behavior is a bug, please provide the steps to reproduce.**

Provide `output.ecmaVersion` of any value. Tested: `5` and `6`

**What is the expected behavior?**

No crash on using documented option https://webpack.js.org/co

[2020-09-28 20:08] evilebottnawi commented on #11544
This options for `webpack@5` and it was removed

[2020-09-28 20:22] neoGeneva commented on #11539
Hey @sokra, that solved my problem, thanks!

[2020-09-28 20:22] #11539 closed

[2020-09-28 20:30] evilebottnawi commented on #11536
Solved in webpack@5, can you try?

[2020-09-28 20:43] RoystonS commented on #11536
Yup, will try to get some time. I've lost a lot of time over the last few weeks upgrading to Emotion 11, TS3.9, TS4.0 and latest eslint, all of which have had significant breaking changes, but I'll give it a go.

[2020-09-28 22:47] RoystonS commented on #11536
I've not been able to try it on our main codebase as we have a few loaders that are specifying "webpack@^3 || ^4" so they're bound to cause trouble.

But I have tried it on the above repro repository, and it does indeed work with webpack 5rc1 there.
https://github.com/RoystonS/webpack-sideeffect-issue/tree/webpack5

[2020-09-28 23:01] evilebottnawi commented on #11536
Let's close, because fixed, feel free to update loader to support webpack@5 and update your code base, feel free to feedback

[2020-09-28 23:01] #11536 closed

[2020-09-29 02:06] ocdi opened #11545 "webpack5 infinite loop in spaceLimited"
# Bug report

**What is the current behavior?**

During a production build of a particular module that uses federation the build is never finishing. During the build using --progress, the normal module evaluations work, and it appears to be running through Terser.  It just then gets to the end and appears to pause.

I debugged and determined that the `spaceLimited` function is being called within

[2020-09-29 03:31] shaodahong opened #11546 "Module federation with css generate repeat file"
# Bug report

**What is the current behavior?**

generate repeat file

**If the current behavior is a bug, please provide the steps to reproduce.**

[git repository report](https://github.com/shaodahong/module-federation-css-report)

exposes file import css file

### Repeat file
- [x] Module federation with css and without `splitChunks` to extract single file
- [x] Module federation with sass(whet

[2020-09-29 07:02] shaodahong commented on #11546
@sokra it's normal when add

[code]

but if I use sass and `splitChunks` config, it's still

[2020-09-29 07:52] vankop commented on #11543
hm.. I think `parser.worker` should work here..

[2020-09-29 08:18] sokra commented on #11543
yep, expect for the audio worklet, that should work.

[2020-09-29 09:06] vankop commented on #11543
for "base" audio there is https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/audioWorklet

[2020-09-29 10:32] evilebottnawi commented on #11543
@vankop Maybe we can support it out of box as I written in the issue :smile:

[2020-09-29 10:41] vankop commented on #11543
@evilebottnawi we can add this to defaults https://github.com/webpack/webpack/blob/master/lib/dependencies/WorkerPlugin.js#L31

@sokra approve?

[2020-09-29 11:26] ganyanchuan1989 commented on #8515
how fix it?

[2020-09-29 11:32] ganyanchuan1989 opened #11549 "path.join require JSON file is webpackEmptyContext"
# Bug report

**What is the current behavior?**

SourceCode

[code]

BuildCode:
[code]

this problem like: https://github.com/webpack/webpack/issues/8515

[2020-09-29 11:32] ganyanchuan1989 commented on #11549
#8515 https://github.com/webpack/webpack/issues/8515

[2020-09-29 11:56] evilebottnawi commented on #11549
Answered https://github.com/webpack/webpack/issues/8515#issuecomment-447951711

[2020-09-29 11:56] #11549 closed

[2020-09-29 11:57] evilebottnawi commented on #11549
If you need supporting, please use the issue template and provide configurations/reproducible steps, no need copy code from bundle, it is not help

[2020-09-29 12:33] #11545 closed

[2020-09-29 12:56] sokra commented on #11543
Which stage is the worklet spec? Is this final or still a proposal?

[2020-09-29 12:59] sokra commented on #11341
should be fixed

[2020-09-29 13:00] evilebottnawi commented on #11543
`Working Draft` https://developer.mozilla.org/en-US/docs/Web/API/Worklet, but many used them already, maybe improving docs is enough or using `experimentals`

[2020-09-29 13:21] evilebottnawi commented on #11341
@mihaisavezi feel free to feedback

[2020-09-29 13:21] #11341 closed

[2020-09-29 16:24] Aghassi commented on #5489
@artola I don't work on that project anymore as it was for my last job. That being said, I can see if I have time to update it for the current RC. I don't see why it wouldn't be possible. Probably just some internal methods need changing. Happened a few times during the beta period

[2020-09-29 16:37] EvHaus opened #11553 "webpack 5.0.0-rc.1 regression --watch CLI option broke"
# Bug report

**What is the current behavior?**

Looks like there is a regression between rc.0 and rc.1.

Adding the `--watch` option to the `webpack` CLI stopped working in `rc.1` and now returns the following error:

[code]

Rolling back to rc.0 makes the error go away.

**If the current behavior is a bug, please provide the steps to reproduce.**

Using any `webpack.config.js` file run `webpack

[2020-09-29 16:39] evilebottnawi commented on #11553
What is version of webpack-cli?

[2020-09-29 16:47] EvHaus commented on #11553
webpack-cli `3.3.12` and `4.0.0-rc.0` both produce the same error.

[2020-09-29 16:49] evilebottnawi commented on #11553
@EvHaus Thanks

[2020-09-29 17:39] sokra commented on #11553
Let's revert this change to a deprecation instead

[2020-09-29 18:18] Krutsch commented on #11553
I can see the same issue without having a config file.
`webpack -w in.js -o out.js`
`[webpack-cli] Error: A 'callback' argument need to be provided when the 'watch' option is set`
`[webpack-cli] TypeError: Cannot read property 'compilers' of undefined`

[2020-09-29 18:27] sokra commented on #11553
Thanks for the report. Fix is on the way and I'll publish a new RC after that.

[2020-09-29 18:48] #11553 closed

[2020-09-29 19:03] sokra commented on #11553
fix in 5.0.0-rc.2

[2020-09-29 19:48] DavidZidar opened #11555 "[Webpack 5] Broken imports from package using # in path"
# Bug report
I am trying to use the popular memoization library memoizee with webpack 5 and the generated imports of its dependency es5-ext are broken which is causing runtime errors. It works fine with webpack 4.

Other imports are fine, only es5-ext is broken, so I theorize this might have something to do with the odd paths of es5-ext which has a folder named `#`.

**What is the current behavior

[2020-09-29 21:21] #10831 closed

[2020-09-30 00:21] EvHaus commented on #11553
Confirmed. 5.0.0-rc.2 fixes the problem for me.

[2020-09-30 01:34] ocdi commented on #11545
This is confirmed fixed on rc.2, thanks again!

[2020-09-30 02:04] fwh1990 commented on #11406
Who will be faster and more modern between webpack5 and vite?

[2020-09-30 06:17] Acidic9 opened #11557 "Change webpack DefinePlugin value based on Webpack build context"
## Feature request

Allow function to be passed to DefinePlugin with build context passed as an argument.

Stackoverflow post related to this: https://stackoverflow.com/questions/64131789/change-webpack-defineplugin-value-based-on-webpack-build-context

**What is the expected behavior?**

More dynamic DefinePlugin behaviour allowing value of key to be based on the current build context.

**What is

[2020-09-30 07:08] MisterSemaan opened #11558 "'Webpack not installed' error"
# Bug report
**What is the current behavior?**
I am creating a Webpack configuration from scratch, when I try to use my npm scripts build or start my project (development & production mode) I get the error 'Webpack is not installed'.

It recommends installing Webpack...
Install webpack to start bundling: $ npm install --save-dev webpack

Which I have done, already prior to this error message. Howe

[2020-09-30 07:12] anshumanv commented on #11558
Please install `webpack-cli` to invoke webpack from command line

[2020-09-30 07:14] MisterSemaan commented on #11558
I have:  "webpack-cli": "^3.3.12",

[2020-09-30 07:16] anshumanv commented on #11558
Can you try replacing webpack with webpack-cli in your script

`"server": "webpack-cli --config ../config/webpack/webpack.server.js",`

[2020-09-30 07:17] MisterSemaan commented on #11558
Good idea, weirdly it results in the same error

[2020-09-30 07:20] udayrajMT commented on #11319
The error was gone for me a while ago, can't find a way to reproduce it just now. So I guess I shall close it until I encounter it again.

[2020-09-30 07:20] #11319 closed

[2020-09-30 07:20] anshumanv commented on #11558
Strange, can you make a reproducible test repo?

[2020-09-30 07:23] bebraw commented on #11558
That `"server": "webpack-cli --config ../config/webpack/webpack.server.js",` should become `"server": "webpack --config ../config/webpack/webpack.server.js",`. Can you try with that?

[2020-09-30 08:07] artem-malko commented on #11406
When Vite will work with any code, not only with Vue3)

[2020-09-30 08:28] fwh1990 commented on #11406
Vite also works with react and other frameworks.

BTW, webpack is the best tool now.

[2020-09-30 08:28] fwh1990 commented on #11406
Vite also works with react and other frameworks.

BTW, webpack is the best tool now.

[2020-09-30 08:46] #11555 closed

[2020-09-30 10:29] homobel opened #11560 "webpack@5.0.0-rc.3: unrecognized output.ecmaVersion option"
# Bug report

Doc says(https://webpack.js.org/migrate/5/) there is _output.ecmaVersion_ option to make webpack use es5 runtime.

**What is the current behavior?**

But when I use it I got validation error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

`npm i webpack@next webpack-cli`

**webpack.config.js**
[code]

in.js may be empty.

`npx webpack`

**What i

[2020-09-30 11:58] tobiu commented on #10216
I need public class fields as well for the neo.mjs framework.

In general, we should re-think the approach to only add stage 4 proposals. While this was fine 1-2 years ago, these days most browser engines already implement the important stage 3 ones.

Let's take a look at public class fields:
![Screenshot 2020-09-30 at 13 37 37](https://user-images.githubusercontent.com/1177434/94680700-7e706a80-0

[2020-09-30 12:17] DavidZidar commented on #11555
Thank you for the quick bugfix!

[2020-09-30 12:49] yairza commented on #11560
in https://github.com/webpack/webpack/releases  under v5.0.0-beta.30 it says : "output.ecmaVersion is replaced with output.environment which lists features used by webpack"
However i could not find any documentation for output.environment

[2020-09-30 14:05] homobel commented on #11560
At least validation error for environment help here :)
[code]

[2020-09-30 14:19] yairza commented on #11560
on https://github.com/webpack/webpack/releases/tag/v5.0.0-rc.1 : "uses target: "browserslist" as default when a browserslist config has been found, otherwise fallback to target: "web" as usual"

So i tried to remove "targets" from babel.presets, and add browserslist instead, as below, but i dont see any change
` "browserslist": [
    "Chrome >= 70",
    "FireFox >= 52",
    "Safari >= 10",
    "IE

[2020-09-30 15:50] pustovalov opened #11562 "Webpack Manifest Plugin"
## Feature request

Docs about manifest for webpack  https://webpack.js.org/guides/output-management/#the-manifest says:

But
https://github.com/danethurber/webpack-manifest-plugin
https://www.npmjs.com/package/webpack-manifest-plugin

was deprecated by the author

Most likely this plugin will stop working with webpack 5:
https://github.com/danethurber/webpack-manifest-plugin/issues/186

**What is

[2020-09-30 17:13] ogonkov opened #11563 "[webpack 5] Unmet peer dependency"
I have a strange problem with installing webpack@5, macOS 10.15.6, node 10.22.0, npm 6.14.6.

Webpack package is installed (i see it in `node_modules` folder), i can import in `node` interpreter, but `npm` is seems failed to find it.

[code]

[2020-09-30 17:14] #11073 closed

[2020-09-30 17:15] sokra commented on #11073
Fixed

[2020-09-30 20:19] jeffposnick commented on #11425
Just a quick update: things appear to be mostly working based on our test suite. Thanks for everyone's help! We have an alpha of the next major Workbox release coming up in the near future, and I think we'll be good for getting this code out there and encourage developers to test with `webpack` v5 (and `webpack` v4.40+).

Two open questions that I am left with:

- I am not entirely sure how to acc

[2020-09-30 20:39] aalauno commented on #1236
I had similar problem..
I wanted to use some variable from **.env** file as global.
Eventually I could define it using **JSON.stringify()**

It's also related to your custom values.

[code]

then, I could use process.env.HOST variable as global

[2020-09-30 20:44] aalauno commented on #1236
I had similar problem..
I wanted to use some variable from **.env** file as global.
Eventually I could define it using **JSON.stringify()**

It's also related to your custom values.

[code]

then, I could use process.env.HOST variable as global
also you can use process.CUSTOM as object

[2020-09-30 20:46] aalauno commented on #1236
I had similar problem..
I wanted to use some variable from **.env** file as global.
Eventually I could define it using **JSON.stringify()**

It's also related to your custom values.

[code]

then, I could use process.env.HOST variable as global
also you can use process.CUSTOM as object

[2020-10-01 05:52] AkashicSeer commented on #4258
global.$ = require("jquery");
Didn't work for me any other suggestions?

[2020-10-01 07:36] Scrum opened #11564 "[webpack 4] disable parallelism"
How to disable parallel processing `entry` what would they be processed sequentially?

Perhaps there is another way to indicate the dependency `entry` from another `entry`?

as an example I have
[code]

I need `B` to start getting ready after the end of `A`

[2020-10-01 09:20] sokra commented on #11564
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-10-01 09:20] #11564 closed

[2020-10-01 15:57] tarponjargon commented on #4258
Adding both of these lines to the entry js worked for me:

[code]

[2020-10-01 16:41] homobel commented on #11560
So, probably should be converted to docs issue.

[2020-10-01 17:57] FabianHippmann opened #11567 "webpack 5.0.0-rc.3 hashes in chunk output filename leads to broken bundle"
# Bug report

**What is the current behavior?**
Using for example `[name].[contenthash].js`as the filename in output.filename leads to a compiled bundle where the `contenthash` gets compiled as a variable instead of a string.

[code]

the using a different separator works - `[name]-[contenthash].js`

**If the current behavior is a bug, please provide the steps to reproduce.**
This occurs randomly

[2020-10-01 20:22] blephy opened #11568 "CSS module @keyframes not hashed correctly in bundle depending on keyframe naming !"
# Bug report

**What is the current behavior?**

When using css module feature, keyframes hash are not parsed correctly in production build depending on their name .
The bug does not appear in development mode.

**If the current behavior is a bug, please provide the steps to reproduce.**

You can experiment the behavior [in this repository](https://github.com/blephy/allandolle-portfolio/pull/37)

[2020-10-02 00:08] guybedford opened #11569 "typeof process check inlining"
## Feature request

**What is the expected behavior?**

It should be possible to inline `typeof process !== 'undefined' && process.env.NODE_ENV === 'production'` checks used in ES modules.

**What is motivation or use case for adding/changing the behavior?**

It is important that it is possible to write ES modules that do not assume that the `process` global must exist if we are to move to a truly

[2020-10-02 01:51] #8659 closed

[2020-10-02 04:01] tanekim77 opened #11570 "Watching Directories while ignoring some other files in the same directories."
Supposed I have a directory A, and a.css and a.scss in the directory A. Webpack watcher is setup so that whenever I make a change in any file that ends in .scss, then the .scss will be compiled to .css and put into the same directory A.

Webpack only has limited options to watch: Watching folders, and watching files.
If I watch folder A, then whenver I make a change in a.scss, then a.scss will be

[2020-10-02 06:56] #11570 closed

[2020-10-02 07:20] trusktr opened #11571 "output config: Ability to assign all exports to arbitrary object, creating the object if it doesn't exist, re-using it otherwise."
## Feature request

**What is the expected behavior?**

Some sort of `library`/`libraryTarget` option to allow us to assign to an object if it exists, but create it otherwise.

For example, with `libraryTarget: 'assign'` the output is like this:

[code]

but instead, we could make it do this:

[code]

**What is motivation or use case for adding/changing the behavior?**

The only way to get _close_

[2020-10-02 09:40] sokra commented on #11571
Yep send a PR for a new library type. Maybe with a better name, e.g. `assign-copy` or `assign-properties`

[2020-10-02 10:23] csvan commented on #10352
Is it possible to have a _dynamic_ list of remotes, so that I can add new modules on the fly?

Say for example that my main app has something like:

[code]

fetchListOfRemotes() may return new remotes as they are added outside of the app overtime, without the main app itself being rebuilt an redeployed in the meantime. Is this doable?

Sorry if this already is answered above, I've been trying to k

[2020-10-02 10:29] evilebottnawi commented on #11567
Please do not duplicate issues, close in favor https://github.com/webpack-contrib/mini-css-extract-plugin/issues/596

[2020-10-02 10:29] #11567 closed

[2020-10-02 10:31] evilebottnawi commented on #11560
Please use `target: ['web', 'es5']`, we need to update docs ASAP

[2020-10-02 10:56] evilebottnawi commented on #11563
It is expected, because webpack@5 still not released, we do not use `alpha`/`beta`/`rc` releases in peer deps because we don't want support non stable releases

[2020-10-02 10:56] #11563 closed

[2020-10-02 11:57] evilebottnawi commented on #11569
We don't use `process` and `process.env`, what do you mean?

[2020-10-02 11:58] evilebottnawi commented on #11568
@webpack-bot move to webpack-contrib/css-loader

[2020-10-02 11:58] #11568 closed

[2020-10-02 12:02] evilebottnawi commented on #11562
We have `stats` and you can get information from stats, why do not use `stats`?

[2020-10-02 12:06] evilebottnawi commented on #11557
Already possible https://webpack.js.org/plugins/define-plugin/#runtime-values-via-runtimevalue

[2020-10-02 12:06] #11557 closed

[2020-10-02 12:15] csvan commented on #10352
Answering my own question: https://github.com/webpack/webpack/issues/10352#issuecomment-605841924

@ScriptedAlchemy regarding:

Is there an update regarding this plugin?

[2020-10-02 12:33] piecyk opened #11572 "Add LogType `raw`"
## Feature request

**What is the expected behavior?**

Would be possible to pipe output from other process into webpack logging flow without changing format.

**What is motivation or use case for adding/changing the behavior?**

Current when writing simple plugin that spawn typescript in watch mode, and pass output to webpack logger overrides styles and add's a prefix.

![Oct-02-2020 14-22-00](ht

[2020-10-02 12:39] evilebottnawi commented on #11572
Why do you need this? This reduces the readability of errors, since it is not clear which plugin displays errors/warnings/logs

[2020-10-02 12:49] piecyk commented on #11572
When running `webpack --progress` and `tsc --watch --preserveWatchOutput` with `concurrently` output from webpack progress connects with tsc output at one line, without any space.

<img width="1012" alt="Screenshot 2020-10-02 at 14 45 53" src="https://user-images.githubusercontent.com/82964/94924543-02ab2500-04be-11eb-8d99-681bf3f466f3.png">

Imho idea in `raw` is that it could be configurable wha

[2020-10-02 13:06] evilebottnawi commented on #11572
Do you mean `logger.raw`, right?

[2020-10-02 13:11] piecyk commented on #11572
Yes.

[2020-10-02 13:24] evilebottnawi commented on #11572
Make sense :+1:

[2020-10-02 13:25] evilebottnawi commented on #11572
I think we have the same here https://github.com/webpack/webpack/issues/10148

[2020-10-02 13:25] evilebottnawi commented on #10148
Close in favor https://github.com/webpack/webpack/issues/10148

[2020-10-02 13:25] #10148 closed

[2020-10-02 13:26] evilebottnawi commented on #11572
But here is more clean idea/solution

[2020-10-02 15:09] carlotrimarchi opened #11573 "Webpack stuck in a look at compiling due to image url in scss file"
# Bug report

**What is the current behavior?**

Webpack gets stuck in a kind of loop towards the end of its process, showing "Compiling".
After some debugging, I managed to kind of isolate the issue and it's connected to an image inside the `style.scss` file. The problem is not the image itself, but referencing an image from there.
Commenting out the line in the scss file, "fixes" the issue.

Als

[2020-10-02 15:10] sokra commented on #11425
With `publicPath: "auto"` the publicPath is not known at compile-time. Only at runtime. At runtime you can read the publicPath from `__webpack_plugin_path__` (in the main thread). You can pass this value to the Service Worker and append it to the (relative) assets path.

Or you could calculate the publicPath yourself in the Service Worker from `self.location` assuming Service Worker is deployed at

[2020-10-02 15:14] evilebottnawi commented on #11573
@webpack-bot move to webpack-contrib/css-loader

[2020-10-02 15:54] jeffposnick commented on #11425
Thanks for the additional context around `publicPath: 'auto'`.

I don't think passing through `__webpack_plugin_path__` from the main thread is going to be recommendation we make to all developers, but it's good to know how to do it if needed. Something like `navigator.serviceWorker.register('sw.js?publicPath=' + __webpack_plugin_path__)` might be the easiest way to have developers do that.

The `

[2020-10-02 16:48] evilebottnawi commented on #7300
Partial solved in webpack@5:
[code]

[2020-10-02 16:53] sokra commented on #11572
I don't think `raw` is the solution here. It lacks log level info.

I think it's better to detect formated messages with the existing methods and don't mess that up.

The other proposal is also needed to reduce the plugin name spam, but it should always include the plugin name.

[2020-10-02 17:05] sokra commented on #10352
Containers have an API to load modules from them at runtime.

[code]

[2020-10-02 18:31] piecyk commented on #11572
We can require logLevel as first argument, like `logger.raw(3, '[my-webpack-plugin] ' + data)` Then we can have custom formatting off each level.

Current using `node-pty` to run `tsc --watch --preserveWatchOutput` to preserve colors and formatting passing the data to `logger.info` we have

<img width="1016" alt="Screenshot 2020-10-02 at 20 26 34" src="https://user-images.githubusercontent.com/829

[2020-10-02 21:27] SurmaAa opened #11575 "Webpack command builds code with broken exports"
Hey, I've got a problem with making a React Component npm package. In a component in this package I use an image (import MyPicture from 'path/image.png'). I wanted to export it in as a git npm package so I installed babel to transpile it and it failed on converting png to js so I installed webpack and used image-loader + babel-loader. Everything on npm start works but my IDE (Webstorm) doesn't see

[2020-10-03 01:13] guybedford commented on #11569
Ah, yes there was some confusion in the original PR over whether `process` in an ES module would be built in by Webpack. AFAICT it is not currently, but correct me if I am wrong.

[2020-10-03 01:13] #11569 closed

[2020-10-03 06:27] sokra commented on #11575
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. Also make sure your issue is not a question. Questions should be posted on Stack Overflow.

[2020-10-03 10:58] evilebottnawi commented on #11569
No `process` in webpack@5, and polyfilling process on webpack@4, if you use target `web` and using `process`

[2020-10-03 10:58] #11575 closed

[2020-10-03 10:59] evilebottnawi commented on #11575
Please use the issue template and I will reopen issue

[2020-10-03 12:24] evilebottnawi commented on #10985
Fixed https://github.com/webpack/webpack/pull/11498

[2020-10-03 12:24] #10985 closed

[2020-10-03 13:07] piecyk commented on #11572
Added draft PR  #11576, have a look and if is something that could be merge?

This basic would allow webpack logger to be more flexible, here using the logger.raw for output from tsc

<img width="1139" alt="Screenshot 2020-10-03 at 15 00 42" src="https://user-images.githubusercontent.com/82964/94992298-63536400-0589-11eb-9431-c552b2dde4a4.png">

[2020-10-04 00:49] softmarshmallow commented on #959
`TypeError: Cannot read property 'Reflect' of undefined` when using reflect-metadata

[2020-10-04 01:52] pundoo commented on #7112
[Shimming](https://webpack.js.org/guides/shimming/#shimming-globals) did the trick for me...

[code]

requires [global](https://www.npmjs.com/package/global) package

[2020-10-04 11:52] rkumorek commented on #11562
@pustovalov I am guessing you will still be able to use https://github.com/webdeveric/webpack-assets-manifest in place of `webpack-manifest-plugin` if you prefer to, no?

[2020-10-04 13:03] pustovalov commented on #11562
@rkumorek at the moment I'm using https://github.com/webdeveric/webpack-assets-manifest like as a third level dependency.

But there are some problems with that package and I have been waiting for a response from the author for almost a year
https://github.com/webdeveric/webpack-assets-manifest/pull/59

@evilebottnawi thx for your answer, I will check if that functionality can be achieved by using

[2020-10-04 21:44] manuth opened #11579 "[Bug/Feature Request] `__dirname` resolves to unexpected values"
## Feature request
I have no option to set for `node.__dirname` that suites my needs.
This issue is related to #4303 and #1599 .

**What is the expected behavior?**
***src/main.ts***
[code]

***src/Properties/Settings.ts***
[code]

When running the bundle, I'd expect the absolute path to `[bundle-root]/[relative path from bundle-root to context]/src/Properties` to be logged.

**What is motivation

[2020-10-04 23:33] manuth commented on #11579
What I've noticed is that, cause of this behavior, modules such as `puppeteer` and every other module depending on `__dirname` don't work correctly.

[2020-10-05 04:48] inquiztr commented on #8842
I was also hoping to implement this scenario for a large MPA.  It is a large ecommerce site where app1/entry would handle global modules like navigation that will exist on any new page we create. app2 would be page specific apps (eg category app, product app/checkout app).

[2020-10-05 08:13] piecyk commented on #11572
@sokra what was your idea about this

maybe just append name to first message?

[2020-10-05 08:34] matrunchyk commented on #10352
@ScriptedAlchemy Hi! Do you have some updates here? Very keen to try it with Webpack4 (vue-cli and Vue3 to be precise)

[2020-10-05 09:24] evilebottnawi commented on #11579
It is expected, and described in https://github.com/webpack/webpack/issues/4303 and https://github.com/webpack/webpack/issues/1599

[2020-10-05 09:24] #11579 closed

[2020-10-05 09:27] manuth commented on #11579
@evilebottnawi please keep in mind that this is a feature request and therefore logically is not expected by me and causes huge trouble in my projects.

And as described in this issue, `mock` neither suits my needs nor solves my issue. Could you please reopen my issue and help me to provide a new feature as described in this issue?

[2020-10-05 10:03] evilebottnawi commented on #11579
@manuth It works as expected as I written above, please provide example where it "broken"

[2020-10-05 11:06] manuth commented on #11579
@evilebottnawi thanks for hearing me out
The most common use-case for the `__dirname`-variable is to load or store resources at a known location.

`puppeteer`, for instance, usually downloads chromium to its package-directory using `__dirname`.
Cause of the `__dirname` not resolving to the source-directory, the `.local-chromium`-directory is being created at the wrong place. This behavior doesn't

[2020-10-05 12:04] paztis commented on #10516
Hi

Acorn is integration optional chaining in 7.3.0
Webpack 4.44.2 is still pointing to ^6.4.1

Isn't it possible to upgrade it officially without migratiung to webpack 5.0 beta ?

[2020-10-05 14:29] MichielDeMey opened #11580 "[Webpack 5] Default export for JSON modules for arrays"
# Bug report

Assuming you have a JSON file `prices.json` with the following content:
[code]
Note that the root object is simply an array.

And you import it using the default export as required by Webpack 5:

[code]

**What is the current behavior?**

Gives an error when Next.js tries to compile:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the

[2020-10-05 14:36] evilebottnawi commented on #11580
Please open an issue in `Next.js` repo,

[2020-10-05 14:38] evilebottnawi commented on #11580
Also `json` doesn't have `default` export

[2020-10-05 14:45] catherinejanson commented on #11100
I have a client website [https://www.logoforwork.com/](https://www.logoforwork.com)/.  I am doing page speed optimization.it has Recaptcha. I have tried many ways to fix it when I applied lazy load on it then contact [form](url) is not working properly

[2020-10-05 14:47] evilebottnawi commented on #11100
@catherinejanson You problems is not related to this issue

Close the original issue

[2020-10-05 14:47] #11100 closed

[2020-10-05 15:54] evilebottnawi commented on #11579
Why do not use `__dirname: false`?

[2020-10-05 17:17] sokra commented on #11580
This looks like a bug. Do you have a stack trace for this error?

Is it reproducible without next.js?

[2020-10-05 17:26] manuth commented on #11579
Though I had to fiddle with the paths to make them match to the bundle-root, this did the trick
Thanks for taking time

[2020-10-05 17:28] srghma opened #11581 "allow to use loader functions that are defined not only in `module.exports = func...`, but allow custom fields also"
## Feature request

**What is motivation or use case for adding/changing the behavior?**

what if a loader file exports loader function NOT from `module.exports = `

e.g.

[code]

to use it as

[code]

BUT from  `module.exports.foo = `

[code]

and use it as

[code]

**How should this be implemented in your opinion?**

as above

**Are you willing to work on this yourself?**
no

[2020-10-05 17:32] evilebottnawi commented on #11581
Why do you need this?

[2020-10-05 18:49] MichielDeMey commented on #11580
The error suddenly manifested when I upgraded Webpack from `5.0.0-beta.28` to `5.0.0-rc.3` so I assumed it was a Webpack issue. 🙂

Full stack trace:
[code]

I haven't been able to create a repro without Next.js though.

[2020-10-05 18:50] evilebottnawi commented on #11456
Sorry for delay, it is bug, you are right

[2020-10-05 18:52] evilebottnawi commented on #11580
@MichielDeMey If you create reproducible test repo with next I can point to bug line

[2020-10-05 19:21] MichielDeMey commented on #11580
I've create a minimal repo here: https://github.com/MichielDeMey/nextjs-webpack5

Uses Next.js `9.5.4-canary.23`, which has been updated to fix a change in the configuration schema introduced in Webpack `^5.0.0-beta.28`. Webpack version used is `^5.0.0-rc.3`.

[2020-10-05 19:28] evilebottnawi commented on #11456
Try to fix it for webpack@5 tomorrow, we have a problems for all files contains `[id]`/`[hash]`/`[query]`/etc

[2020-10-05 21:56] vankop commented on #11580
@MichielDeMey thanks for repro, we will work on fix.
fast fix for you will be to change webpack config option manually via https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config
[code]
https://webpack.js.org/configuration/optimization/#optimizationconcatenatemodules

[2020-10-05 23:29] Cherry commented on #8842
For those following this issue, Webpack 5 does provide a new configuration option for entrypoints called `dependOn` which as per https://webpack.js.org/configuration/entry-context/#dependencies:

[code]

[code]

I've yet to personally try this, but it looks like it may solved some of the use-cases in this issue.

[2020-10-06 09:34] jasonwilliams commented on #11456
@evilebottnawi that's great news thanks!
Do you know if this fix will be backported to v4? Quite a lot of us can't upgrade to v5 just yet for various reasons (also the fact its still in beta)

[2020-10-06 09:54] evilebottnawi commented on #11456
@jasonwilliams I'm afraid not, only security fixes for webpack@4, webpack@5 is rc and will be release `2020-10-10`, migration is not a hard

[2020-10-06 10:27] srghma commented on #11581
hi @evilebottnawi

I want to write loaders in purescript

but purescript cannot export loader as `module.exports = ...`

it can only export it as `module.exports.loader = ...`

https://github.com/srghma/purescript-halogen-nextjs/blob/74e1165512d94cd7424ec4d70af73e3915ab8832/webpack/NextjsWebpack/IsomorphicClientPagesLoader.purs#L1

![2020-10-06-13:10:58-screenshot](https://user-images.githubuserco

[2020-10-06 10:30] evilebottnawi commented on #11581
Yep, let's improve this

[2020-10-06 10:59] srghma commented on #11581
@evilebottnawi maybe you know if it's possible to write a plugin to use it like

[code]

and write plugin (similar to https://github.com/shaketbaby/directory-named-webpack-plugin/blob/master/index.js )

[code]

[2020-10-06 11:05] rramaa opened #11587 "[Module Federation] If shared scope is not specified, federation fails completely"
# Bug report

**What is the current behavior?**
While using Module Federation Plugin, if `shared` field is not specified, an error is thrown(Cannot read property default of undefined)

<img width="615" alt="Screenshot 2020-10-06 at 4 11 23 PM" src="https://user-images.githubusercontent.com/16651792/95191607-98142500-07ee-11eb-9eec-dbc73e7ca375.png">.

<img width="1133" alt="Screenshot 2020-10-06 a

[2020-10-06 11:15] evilebottnawi commented on #11581
Hm, https://github.com/webpack/loader-runner/blob/master/lib/loadLoader.js#L48, I think you can use `default` :smile: to achieve this right now, we should send a PR to https://github.com/webpack/loader-runner

[2020-10-06 11:18] sokra commented on #11581
Use `default` as property. That should be enough. I don't think we need another one or the ability to customize that

[2020-10-06 11:22] KevinGruber commented on #11154
I can only second that.
We have a custom build pipeline / CLI and use webpack types everywhere.
But since webpack 5 doesn't export the same types we can't really use it.

We are missing the ones mentioned above.
Plus MultiStats for example and all connected Types there.

What does the future plan look like?

[2020-10-06 11:32] srghma commented on #11581
Tnx a lot!!, it worked https://github.com/srghma/purescript-halogen-nextjs/commit/40f8aa2b03eb5524310f7db8be9e1d2b67b78c9c

this is not needed anymore)

[2020-10-06 11:32] #11581 closed

[2020-10-06 13:07] alireza-mh commented on #6792
Why this has been closed?
I have the same issue and how worker loader can help with `thread-loader` issue?

[2020-10-06 13:08] evilebottnawi commented on #6792
Because it is problem of `thread-loader`

[2020-10-06 13:09] evilebottnawi commented on #6792
Please open a new issue in `thread-loader` repo with reproducible test repo

[2020-10-06 13:10] alireza-mh commented on #6792
sure thanks

[2020-10-06 13:39] evilebottnawi commented on #11127
Done in https://github.com/webpack/webpack/pull/11258, I think we can close the issue, feel free to feedback

[2020-10-06 13:39] #11127 closed

[2020-10-06 14:14] wojtekmaj opened #11588 "Webpack 5.0.0-beta.31 broke operations on arrays imported from JSON files"
# Bug report

I have the following code in my project (simplified):

[code]

where imported `types.json` is something like

[code]

and obviously, `validate()` function is ran at some point.

After upgrading from Webpack `5.0.0-beta.29` to `5.0.0-rc.3`, I've noticed that this function started crashing.

I investigated by updating it step by step and here's my outcome:

| Version | Works? |
| -- |

[2020-10-06 14:17] vankop commented on #11588
Thanks for report!
Closing in favor of https://github.com/webpack/webpack/issues/11580

[2020-10-06 14:17] #11588 closed

[2020-10-06 14:24] javier-garcia-meteologica opened #11589 "Error: Cyclic dependency with Block Connections"
# Bug report

**What is the current behavior?**

Latest webpack v4.44.2 cannot build our large typescript project.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The error doesn't happen with v4.44.1 or lower versions. I've traced it down to the commit https://github.com/webpack/webpack/commit/235b87bf9c1460506deff35b4d21e79c92172a5d

**What is the expected

[2020-10-06 14:25] wojtekmaj commented on #11580
As noted in https://github.com/webpack/webpack/issues/11588, it doesn't seem to be Next.js specific (I'm using pure Webpack).

The version in which mapping over arrays imported from JSONs seem to have been broken is 5.0.0-beta.31.

[2020-10-06 14:27] evilebottnawi commented on #11589
Because you have Cyclic dependency, please create reproducible test repo

[2020-10-06 14:28] evilebottnawi commented on #11580
@wojtekmaj It is not Next.js specific, it is bug in webpack and we are working on fix

[2020-10-06 14:34] sokra commented on #11154
Send a PR. Types can be exposed by adding `@typedef`s to `lib/index.js`. Run `yarn special-lint-fix` to update the typings.

[2020-10-06 16:52] #11580 closed

[2020-10-06 16:57] sokra commented on #11589
Webpack itself doesn't use toposort. This seem to be caused by an plugin?

[2020-10-06 18:21] evilebottnawi commented on #1967
Let's close in favor https://github.com/webpack/webpack/issues/7300, because it is the same problem, and it fixed in master

[2020-10-06 18:21] #1967 closed

[2020-10-06 18:23] evilebottnawi commented on #7300
https://github.com/webpack/webpack/pull/11585 should fix it, I will put couple tests in mini-css-extract-plugin to ensure all works fine

[2020-10-06 18:30] borisdamevin opened #11593 "Extract CSS on JS file"
Hi,

I'm looking to do the following thing for work with **Web Components** and **LitElement**: extract the CSS (via Sass) into a JS file, into a variable and if I have multiple CSS files, this based on a JS file template and only change one variable inside .

I can't find a solution, is this possible with Webpack?

**Example:**

**Source**

The Sass file:

[code]

**Output**

The JS file generate

[2020-10-06 18:35] evilebottnawi commented on #11593
No, it is out of scope webpack, but you can write a plugin/loader for this, better open an issue in `lit-element`, but you can use:
[code]

[2020-10-06 18:41] meskill opened #11594 "Option 'bail' causes failed build"
# Bug report

**What is the current behavior?**

Setting option [bail](https://webpack.js.org/configuration/other-options/#bail) to true will break the build for unresolved modules wrapped in try...catch
After setting bail to false bundle builds successfully

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Set bail: true in config
1. Add require to unresolved modul

[2020-10-06 18:42] borisdamevin commented on #11593
@evilebottnawi I already try that, but ``import styles from './style.css';`` is an empty object.

[2020-10-06 21:13] maclockard commented on #10094
This issue should remain open. The inactivity bot should only close issues if it’s blocked on the original poster. This still needs comment from the maintainers.

[2020-10-06 23:33] sokra commented on #10094
The stats only extracts information from the compilation. All information is also available there.

[2020-10-06 23:40] maclockard commented on #10094
My understanding is that using stats is too slow for html-webpack-plugin, which is why they use `compilation.entrypoints`, however, I don't think `compilation.entrypoints` includes information on children that should be preloaded/prefetched.

See this comment here from @jantimon https://github.com/jantimon/html-webpack-plugin/issues/1150#issuecomment-460156688

It's just a shame that you can't pre

[2020-10-06 23:42] maclockard commented on #10094
Also, more conversation on the problems here: https://github.com/jantimon/html-webpack-plugin/issues/1317

[2020-10-07 04:57] sokra commented on #11048
Still valid

[2020-10-07 06:01] #10595 closed

[2020-10-07 06:59] isachinraj commented on #9802
Hi @sokra,

I am using webpack 5.0.0-rc.0 with module federation for a new application and facing an issue with the node process variable. The dependent node module is not able to receive the global node process variable. I am getting the error message **' process is not defined'.**

I have resolved the issue with process.platform and process.browser by using webpack.DefinePlugin as below.

new we

[2020-10-07 07:21] javier-garcia-meteologica commented on #11589
`toposort` is used by the plugin `html-webpack-plugin`

[code]

If I use webpack v4.44.1 with the same versions of html-webpack-plugin and toposort, the error doesn't happen. When I debugged the errors, the plugin wantend to sort ChunkGroups, which were objects of roughly this shape:

[code]

I traced their origin to webpack, and as far as I know `html-webpack-plugin` and `toposort` didn't modify

[2020-10-07 07:24] snitin315 commented on #11048
I will send a PR.

[2020-10-07 07:40] sokra commented on #10352
I think we can close this issue. It gets very long. Please create new issues when there are still problems.

[2020-10-07 07:40] #10352 closed

[2020-10-07 07:41] #10534 closed

[2020-10-07 07:42] sokra commented on #10534
Thanks for all the feedback. I tried to improve the output. Sorry if not all feedback have been implemented, we try to cover all use cases, so you might configure the stats a little bit for your use case.

[2020-10-07 07:44] javier-garcia-meteologica commented on #11589
Oh, I found out that our project was using `html-webpack-plugin` v3.2.0 which is kind of obsolete. With `html-webpack-plugin` v4.5.0, which doesn't use toposort, the error doesn't occur.

I've test our project with webpack v4.44.2 and `html-webpack-plugin` v4.5.0. Everything seemed to work fine, without build or runtime cyclic dependencies.

[2020-10-07 08:38] #11589 closed

[2020-10-07 08:38] sokra commented on #11589
Great. Toposorting chunk groups isn't possible in general. It's always possible to have cycles in the graph.

[2020-10-07 08:44] trullock commented on #6418
would be lovely if wildcard globbing worked

[2020-10-07 08:49] javier-garcia-meteologica commented on #11589
Thank you and sorry for bothering you needlessly.

[2020-10-07 10:02] evilebottnawi commented on #7300
Done https://github.com/webpack-contrib/mini-css-extract-plugin/pull/599 :star:

[2020-10-07 10:02] #7300 closed

[2020-10-07 10:10] evilebottnawi commented on #9802
Please use `process.platform`, not `const { platform } = process;`, we will improve it in future

[2020-10-07 10:26] evilebottnawi commented on #11594
Unresolved module is the error

[2020-10-07 10:29] evilebottnawi commented on #10534
Anyway if you want to something improve or found some very annoying or misleading feel free to open a new issue :star:

[2020-10-07 10:37] evilebottnawi commented on #11593
@borisdamevin hm, yep, I was wrong, you need loader for this, we can implement this using `style-loader` + some extra loader/plugin, let's close in favor https://github.com/webpack-contrib/style-loader/issues/328#issuecomment-516437065

[2020-10-07 10:37] #11593 closed

[2020-10-07 10:54] evilebottnawi commented on #10094
@maclockard It seems to me that it should be solved differently, there are two interesting cases:
- you don't have HTML output - here webpack generate runtime code and all works fine
- you have HTML output - you want to generate `link` and you can't do it right now

Note that both cases can exist at the same time in your app - one chunk can load other chunk which load other chunk and have preloads

[2020-10-07 11:14] isachinraj commented on #9802
Hi @evilebottnawi , @sokra

Thanks for the response.

I have a different scenario. I am using @apidevtools/json-schema-ref-parser which internally uses Node built-ins like process.platform, process.browser and the function process.cwd()

By default, Webpack 5 does not make these built-in nodes available to @apidevtools/json-schema-ref-parser, and therefore a "process is not defined" error is displ

[2020-10-07 11:19] evilebottnawi commented on #9802
Please look at the migration guide, you need polyfill it

[2020-10-07 12:28] evilebottnawi commented on #11562
/cc @danethurber just interesting, why is it deprecated?

[2020-10-07 12:35] nabilfreeman commented on #4039
@flyskywhy thanks a lot, this saved me a day of work!!!! Sending karma your way 👏

[2020-10-07 12:39] rramaa opened #11596 "[Module Federation] Webpack build fails if shared is a non empty array in Module Federation Plugin"
# Bug report

**What is the current behavior?**
On running webpack build(I am using `webpack-dev-server`), the build fails with the following stack trace
[code]

This only happens when the `shared` option of the `ModuleFederation` plugin is a non empty array and the webpack version is at least `5.0.0-rc.0`. This is also happening on the latest `rc.4`
The build runs successfully on version `5.0.0-b

[2020-10-07 12:59] evilebottnawi commented on #11596
`webpack-dev-server` is not supported module federation, but it should not failed with `b.isAsync is not a function`, please create reproducible test repo

[2020-10-07 13:13] mariusrak opened #11597 "Unable to build because of error with export from v. 5 beta 30"
# Bug report
I'm unable to compile [fluent](https://github.com/projectfluent/fluent.js) with new versions of webpack.

**What is the current behavior?**
After an update to webpack 5.0.0-beta.30 or higher, I get an error during compilation:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/mariusrak/Webpack5FluentError

**What is the expected be

[2020-10-07 13:54] meskill commented on #11594
@evilebottnawi, please, look carefully
require is wrapped in try..catch so error for an unresolved module is handled, and it works fine without the option

![image](https://user-images.githubusercontent.com/8974488/95340383-c14fb680-08bd-11eb-95b6-f39800767dd7.png)

[2020-10-07 13:54] AntonyRavelA opened #11598 "I am trying to upgrade from webpack 4 to 5 and got deprecation error in angular 10"
Promise rejection: Error: NormalModuleFactory.beforeResolve is no longer a waterfall hook, but a bailing hook instead. Do not return the passed object, but modify it instead. Returning false will ignore the request and results in no module created.
[webpack-cli] Error: NormalModuleFactory.beforeResolve is no longer a waterfall hook, but a bailing hook instead. Do not return the passed object, but

[2020-10-07 13:57] evilebottnawi commented on #11598
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use rc release of `webpack-cli`

[2020-10-07 13:57] #11598 closed

[2020-10-07 13:59] evilebottnawi commented on #11594
It is default behavior for webpack@4 and webpack@5 we are static analyzer

[2020-10-07 14:01] rramaa commented on #11596
Will do...I missed mentioning that webpack build fails even when it is started without the dev server

[2020-10-07 14:04] evilebottnawi commented on #11594
Oh, I was wrong here, it is bug on `webpack-cli`, please use latest `rc` release

[2020-10-07 14:11] evilebottnawi commented on #11594
From my test:
[code]

[code]

[2020-10-07 15:14] evilebottnawi commented on #11597
Interesting problem - `@fluent` has `"type": "commonjs",` and have `"module": "./esm/index.js",`, webpack thinks it is commonjs module

[2020-10-07 15:21] mariusrak commented on #11597
So it is an issue of webpack or fluent? I've reported issue also at fluent https://github.com/projectfluent/fluent.js/issues/517

[2020-10-07 15:27] sokra commented on #11597
`"module": "./esm/index.js",` doesn't flag files as ESM. It's only an entrypoint.

You can put a `{ "type": "module" }` package.json into the `@fluent/bundle/esm` folder to fix that.

[2020-10-07 15:32] evilebottnawi commented on #11597
You can use https://github.com/ai/dual-publish to achieve supporting commonjs/mjs

[2020-10-07 15:38] mariusrak commented on #11597
So there is mistake in the fluent package? Can I as a user do something about it?

[2020-10-07 15:46] evilebottnawi commented on #11597
Yep

Use `resolve.alias` and point to right file

[2020-10-07 15:58] danethurber commented on #11562
@evilebottnawi lack of support/maintenance mostly. i haven't contributed since 2016 and the other people that were involved are not longer around. I have no plans to maintain the project going further

[2020-10-07 16:36] MayaWolf opened #11599 "electron/index.js bundled since webpack@5.0.0-beta.30"
# Bug report

**What is the current behavior?**
Since version 5.0.0-beta.30, webpack bundles the `electron/index.js` file when using `require('electron')` with target `electron-main`. This causes it to fail, as that file uses `__dirname` to refer to other files in its directory.

**If the current behavior is a bug, please provide the steps to reproduce.**
webpack.config.js
[code]
main.js
[code]

*

[2020-10-07 16:42] evilebottnawi commented on #11599
Why do you want to bundle `electron`?

[2020-10-07 16:43] MayaWolf commented on #11599
I don't. I'm saying the new version _does_ (at least the index.js file), and that's causing problems.

[2020-10-07 16:56] MayaWolf commented on #11599
[code]
Do you mean this? That does appear to work, but it's very much a breaking change.

If `target: 'electron-main'` _intentionally_ no longer does this, what's the difference/advantage compared to using `target: 'node'`?

[2020-10-07 17:05] MayaWolf commented on #11599
For reference, I have also tried
[code]
which doesn't work either (electron/index.js is still bundled). Unless I'm missing anything, I suspect there is a bug in how `externalsPresets` are processed.

[2020-10-07 17:08] evilebottnawi commented on #11599
Weird. Can you create reproducible test repo?

[2020-10-07 17:12] Hornwitser opened #11600 "resolve.fallback fails for linked packages"
# Bug report

**What is the current behavior?**

Configuring `resolve.fallaback` does not work for modules linked from outside the package directory that webpack is being used from.  For example with the following file structure

[code]
Webpack fails to build with the error
[code]

This file structure is similar to how monorepos with tools like lerna are set up.

**If the current behavior is a bug

[2020-10-07 17:17] MayaWolf commented on #11599
https://github.com/MayaWolf/webpack-issue-11599 Sure thing, here you go.

[2020-10-07 17:25] evilebottnawi commented on #11599
hm, no problems with your repo, no `elector` in bundle, same for `target: 'electron-main',`, maybe you have globally installed webpack?

[2020-10-07 17:35] evilebottnawi commented on #11600
I think it is expected, try to change:
[code]

wepback try to resolve `path-browserify` in root and can't find it, you need to specify full path to fallback:
[code]

[2020-10-07 17:37] evilebottnawi commented on #11600
Maybe we should improve the error message here

[2020-10-07 17:38] evilebottnawi commented on #11600
Pseudo code:
[code]

But here no `path-browserify` module

[2020-10-07 17:51] Hornwitser commented on #11600
I can confirm that
[code]
does work here.  Thought I can't really comment on whether or not that is the right behaviour.

[2020-10-07 18:08] sokra commented on #11600
The behavior is correct, but we should improve our breaking change message to include the `require.resolve`. Do you want to send a PR?

[2020-10-07 18:12] Hornwitser commented on #11600
Do you mean change https://github.com/webpack/webpack/blob/96383923c81935c9d7a4766933af0a067ec7e3b7/lib/ModuleNotFoundError.js#L69
to read `\t- add an fallback 'resolve.fallback: { "${request}": require.resolve("${alias}") }'\n`?

[2020-10-07 18:25] sokra commented on #11597
I don't think this will help here. You need to flag the files as ESM:

[code]

[2020-10-07 18:45] sokra commented on #11600
Yep perfect. Maybe you can also fix the `an fallback` typo to `a fallback`.

[2020-10-07 18:57] MayaWolf commented on #11599
I do not have webpack globally installed, and I just tried to clone and run from scratch again. This is what's happening for me.

[code]

This is the bundle it generates.
[code]
As you can see it includes electron/index.js, which then fails because it relies on __dirname.

[2020-10-07 18:57] Hornwitser commented on #11600
There's an issue with this suggestion.  It does not work for replacement packages that are shadowed by the builtin ones.  e.g., for `require("events")` it suggest installing `events`, but doing `require.resolve("events")` returns the string `"events"` instead of the path to the events package that's installed into node_modules.

[2020-10-07 19:22] sokra commented on #11600
I think you can use `require.resolve("events/")`. Does that work?

[2020-10-07 19:25] Hornwitser commented on #11600
Yes.  That works.

[2020-10-07 19:26] sokra commented on #11599
Yep it's a bug.

In this line: https://github.com/webpack/webpack/blob/d10b08b4b5151a02a193b41c63f58589445ae239/lib/electron/ElectronTargetPlugin.js#L34

There is a `.apply(compiler)` missing.

Do you want to send a PR?

[2020-10-07 22:50] sokra commented on #11596
Could you validated that you are really the latest RC? Also check if there are not multiple webpack version installed: `yarn why webpack`

I'm asking because the `b.isAsync` line has been removed in this commit: https://github.com/webpack/webpack/commit/ed06a7f83a7cb7542ff7d9df9fa9755154679258#diff-fb5505dfa4e1d04d2eed8f03d4834740L427 since beta.30

[2020-10-07 22:55] sokra commented on #11587
fixed by #11421

update your remote to the latest RC

[2020-10-07 22:55] #11587 closed

[2020-10-07 22:59] mariusrak commented on #11597
Both solutions helped.
But why it worked till 5 beta 29?

[2020-10-07 22:59] #11597 closed

[2020-10-08 00:14] jedwards1211 opened #11604 "[DllPlugin] manifest has relative paths to dependency files within node_modules"
# Bug report

**What is the current behavior?**

If the `context` in my webpack is a subfolder of my project folder like `src`, then the Dll manifest will contain entries like `"content":{"../node_modules/react/index.js":{"id":1,`

In this case I'm not sure a third-party bundle built with DllReferencePlugin on this manifest can even resolve `react` to the dll bundle.  Unless that third-party bundl

[2020-10-08 00:20] jedwards1211 commented on #11604
I guess I can work around this by building two separate dlls... But I'd really like to keep the number of separate webpack steps down

[2020-10-08 05:32] #4742 closed

[2020-10-08 06:50] #11048 closed

[2020-10-08 06:59] rramaa commented on #11596
Thanks it worked! 🎉
Was due to a version mismatch due to monorepo(multiple webpack versions were installed)

[2020-10-08 06:59] rramaa commented on #11587
Worked!
Thanks!

[2020-10-08 07:09] #11596 closed

[2020-10-08 07:49] oseisaac commented on #5073
What worked for me as to Restart `npm start` and there move the file missing out of the folder and back, then it compiled fine.

[2020-10-08 08:03] Zuckjet commented on #11335
@sokra @evilebottnawi   I am glad to try to fix this issue, and I want to have a discussion here to make sure I don't misunderstand this issue before sending a PR.

when createing a ContextModule
[code]
the **result** params is  a string which valuse is "xxx/src/main/widgets", so  ```resolveDependencies``` function in ContextModuleFactory.js just read files under "main/widgets" directory . And thu

[2020-10-08 08:49] udayrajMT commented on #11406
Thank you for making this game changer tool. Hats off for your hard work! 👏👏

[2020-10-08 10:02] evilebottnawi commented on #11335
/cc @sokra

[2020-10-08 10:03] evilebottnawi commented on #11597
@mariusrak because we start to support `"type": "commonjs"`/`"type": "module"` since beta.29

[2020-10-08 10:17] evilebottnawi commented on #11604
Please read https://github.com/webpack/webpack/issues/3800#issuecomment-383905446, feel free to feedback

[2020-10-08 13:42] smelukov opened #11610 "Fix semantic of target property"
In the target-property, we have different semantic for the different platforms:
`node-webkit[X[.Y]]`
`electron[X[.Y]]-main`

**What is the expected behavior?**

It should be `node[X[.Y]]-webkit` or `<product>[<version>][/<subtype>]`

**What is motivation or use case for adding/changing the behavior?**

Semantic

**How should this be implemented in your opinion?**

Support `<product>[<version>][/<s

[2020-10-08 14:06] sibelius commented on #9758
I'd like to generate builds like this

plugin-dev.js
plugin-prod.js

only using multicompiler is this possible?

https://twitter.com/sseraphini/status/1314201201945112578

[2020-10-08 14:08] evilebottnawi commented on #9758
Yes, multi compiler mode, I think we will improve it in future, allow to define config for each entry (just sugar)

[2020-10-08 14:12] sibelius commented on #9758
maybe `plugin-[env].js`

[2020-10-08 16:16] jedwards1211 commented on #11604
@evilebottnawi I know that the context parameter affects the relative paths to node_modules...

I think this is unhelpful behavior...I'm asking for paths to note modules to **not be relative**.

[2020-10-08 16:21] liebenjoy opened #11611 "React DND(Drag N Drop) is facing a compatibility issue with webpack5 as one of the changes introduced as part of WP5 is setting the 'process' node to false, which is used by react DND."
# Bug report
Webpack 5 removes process, effectively making it impossible to use the [react-dnd](https://github.com/react-dnd/react-dnd) library since it has code like:

function asap(task) {
  var rawTask;

  if (freeTasks.length) {
    rawTask = freeTasks.pop();
  } else {
    rawTask = new RawTask();
  }

  rawTask.task = task;
  rawTask.domain = process.domain;
  (0, _raw.rawAsap)(rawTask);
}

[2020-10-08 16:27] jedwards1211 commented on #11604
In other words, if in project A I have

* node_modules/react
* src/client

And I webpack DLL with context: src/client

And in project B I have

* node_modules/react
* src

And I webpack with context: src and all reference, I want the bundle for project B to use react from project A's Dll.  A and B have different relative paths from the context dir to their node_modules but I don't want that to pre

[2020-10-08 16:29] evilebottnawi commented on #11611
You need to polyfill this, please read https://webpack.js.org/migrate/5/

[2020-10-08 16:29] #11611 closed

[2020-10-08 16:34] jedwards1211 commented on #11604
Can we reopen with title:

### [Feature Request] Use non relative paths in Dll manifest for modules inside node_modules

[2020-10-08 16:48] evilebottnawi commented on #10973
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-10-08 16:48] #10973 closed

[2020-10-08 18:34] #11154 closed

[2020-10-08 18:35] #11600 closed