[2020-07-14 14:36] #11173 closed

[2020-07-14 15:03] Semigradsky commented on #11033
@sokra how I can get `__webpack_initialize_sharing__` and `__webpack_share_scopes__`? I haven't them in global context.

[2020-07-14 16:24] ScriptedAlchemy commented on #11033
`await __webpack_init_sharing__("default");` not initialize

[2020-07-14 16:44] Pet3ris opened #11174 "Default production config build breaks third-party library"
# Bug report

**What is the current behavior?**

A default production webpack build breaks the third-party library `@solidity-parser/parser`, a development build doesn't.

**If the current behavior is a bug, please provide the steps to reproduce.**

Reproduced source: https://github.com/Pet3ris/webpack-parser

You can just do:

[code]
And go to the browser console at `localhost:8080` to see the is

[2020-07-14 16:47] sokra commented on #11033
Thanks fixed

[2020-07-14 16:54] sokra commented on #11174
Minimizing renames classes to shorter names. That's expected. Is this the only difference or does something behave different?

[2020-07-14 16:58] sokra commented on #6093
require.context will watch the directory for changes. Changes to any file in the directory will rebuild the context module. Building the context basically means calling readdir. The modules in the context are watched and build separately

[2020-07-14 17:02] Pet3ris commented on #11174
@sokra here are the differences between the two return objects:

Correct object in `dev`:

![image](https://user-images.githubusercontent.com/224585/87454576-13a17400-c5fc-11ea-98b8-652ae2b9f861.png)

Wrong object in `prod`:

![image](https://user-images.githubusercontent.com/224585/87454663-32076f80-c5fc-11ea-9f14-c4b664251df2.png)

It seems like the prod object is missing several fields.

[2020-07-14 17:04] evilebottnawi commented on #11174
`terser-webpack-plugin@1` uses old version of terser, I think we should do patch release

[2020-07-14 17:04] evilebottnawi commented on #11174
@Pet3ris Can you try to use latest `terser-webpack-plugin` version?

[2020-07-14 17:06] Pet3ris commented on #11174
@evilebottnawi trying `terser-webpack-plugin@1.4.4` now

[2020-07-14 17:08] Pet3ris commented on #11174
@evilebottnawi same issue I'm afraid.

[2020-07-14 17:08] Pet3ris commented on #11174
Just realising it's not the latest version, but not sure why it didn't let me upgrade.

[2020-07-14 17:14] Pet3ris commented on #11174
@evilebottnawi it's not letting me remove version `1.4.4` from another dependency.

[code]

[2020-07-14 17:19] sokra commented on #11174
The `type` is populated from `ctx.constructor.name`. The minimizer changes constructor names. It recommended to not rely on function names in js that is mininized. Best file an issue in the library.

As workaround there is a terser option which allows to disable that. I think it's called `keep_fnames`. This increases the file size.

[2020-07-14 17:29] Pet3ris commented on #11174
Thanks @sokra, is there a way to apply the terser option to only select libraries/files or is it a global property?

[2020-07-14 18:11] evilebottnawi commented on #11174
You can split it to own file using `splitChunks` and enable/disable terser options, terser doesn't support setting options via comments, but you can open an issue about it, I think it will be great feature

[2020-07-14 19:54] budarin commented on #11159
I'm sorry!
Coud yuo add this to webpack code splitting docs?
I am aware that I am not the first and I am not the last to face this
Thank you a lot!

[2020-07-14 20:06] Pet3ris commented on #11174
Thanks very much @evilebottnawi and @sokra for the quick responses and help!

I can confirm that setting `keep_fnames` to true fixed the issue and I will try and make it more granular from here.

I also added the new feature proposal and look forward to it.

[2020-07-14 20:06] #11174 closed

[2020-07-14 23:11] ScriptedAlchemy commented on #11159
Not sure if it really belongs in the docs, but can try making troubleshooting section the bottom. Generally, we do not document implementation details.

[2020-07-15 07:28] vankop commented on #10707
still valid

[2020-07-15 11:34] budarin commented on #11159
@evilebottnawi
just remove string 'comments: true, from babel config in demo project and try to build config - the result is the same - chunks are numerical :(

[2020-07-15 11:55] evilebottnawi commented on #11159
@budarin
[code]

Maybe you have `removeComments: true` in `tsconfig.json`?

I urge you not to touch the default options. Their values were set for a reason. Most of the problems arise precisely when developers begin to touch them without understanding.

[2020-07-15 12:34] #11167 closed

[2020-07-15 14:47] novaknole opened #11178 "Cannot read property 'filter' of undefined"
**What is the current behavior?**

Here is the code I am using :

[code]

This is what I have in `package.json`

[code]

After running `npm run serve`, all looks fine. If I hit `ctrl+s` to save something I changed, it builts again, but exits from terminal with the following error:

[code]

The file that this happens is `HotModuleReplacementPlugin.js:272`.

**What is the expected behavior?**
Expect

[2020-07-15 15:22] evilebottnawi commented on #11178
Please provide reporoducible test repo or full stack of error

[2020-07-15 15:25] novaknole commented on #11178
[code]

[2020-07-15 16:03] evilebottnawi commented on #11178
Looks like some kind of plugin remove chunk or change something, sorry without configuration or reproducible test repo I can't help

[2020-07-15 16:04] novaknole commented on #11178
Yes, I copied the whole `vue.config.js` ..

[2020-07-15 16:07] evilebottnawi commented on #11178
Please open an issue in `vue-cli` repo, vue-cli added plugin which break webpack, we can't solve it on our side. Can you try to update webpack to latest version?

[2020-07-15 16:07] evilebottnawi commented on #11178
Duplicate of https://github.com/webpack/webpack/issues/4759

[2020-07-15 16:08] evilebottnawi commented on #11178
https://stackoverflow.com/questions/43633762/webpack-2-hot-reload-error-typeerror-cannot-read-property-filter-of-undefined

[2020-07-15 16:09] novaknole commented on #11178
Just realised that this causes the error appear.

@evilebottnawi

[code]

[2020-07-15 16:21] evilebottnawi commented on #11178
Why do you use `md5`?

[2020-07-15 16:43] budarin commented on #11159
I have removed them both: babel & tsconfig

[code]

[2020-07-15 17:20] evilebottnawi commented on #11159
Try to update deps, something wrong on your side, code passed to webpack without comments, there is not problems on webpack side, you can see my local output above

[2020-07-15 17:31] #10392 closed

[2020-07-15 17:46] evilebottnawi commented on #11007
Fixed https://github.com/webpack/webpack/pull/11093 for webpack@5

[2020-07-15 17:46] #11007 closed

[2020-07-15 17:47] evilebottnawi commented on #10775
Fixed https://github.com/webpack/webpack/pull/10776

[2020-07-15 17:47] #10775 closed

[2020-07-15 19:05] mkempinsky commented on #8400
Before you fall down the rabbit hole.. I ran into this issue because I had `import {render} from 'sass';` in one of my files accidentally. It must have been automatically imported when I typed 'render' at some point. Removing it fixed the issue in my next.js app.

[2020-07-16 07:00] budarin commented on #11159
@evilebottnawi

Thank you very much for your help !

the problem turned out to be that Babel was connecting a config that is at the root of the project and which also had the `comments: false ' code, although the configuration for babel-loader specified a file that was correct

[2020-07-16 08:55] chaim0m commented on #4039
This worked for me as well, do you understand why though? I am so perplexed

[2020-07-16 10:19] mysticaltech opened #11181 "idea: See what ESBuild is doing right"
Hello, first of all, thank you for this amazing project, the world's best. I will admit that I am mostly ignorant on the inner workings of Webpack but this is just an idea I wanted to share.

I know that WP 5 has made huge improvements when it comes to build times, but there is a specific project written in Golang, https://github.com/evanw/esbuild that is out-of-this-world fast, obviously they are

[2020-07-16 10:41] #5053 closed

[2020-07-16 12:06] evilebottnawi commented on #11181
Interesting project, maybe we have something to see there, especially in parallelism

[2020-07-16 14:21] #8413 closed

[2020-07-16 15:05] mitchell-frost commented on #11063
Can I work on this issue?

[2020-07-16 15:10] evilebottnawi commented on #11063
Yes, PR welcome

[2020-07-16 15:15] mitchell-frost commented on #11063
How do I reproduce the bug and where are the changes supposed to be made?

[2020-07-16 15:41] ChrisSG opened #11182 "HMR for federated modules"
Hello all, hi @ScriptedAlchemy

I opened this separately because I did not get any response on the original thread #10352. The question is if it would be possible to implement "comprehensive" HMR support for federated modules.

That is you have an complete app made from different fragments that are served from other locations - e.g. one host with multiple remotes - and want to work on this using H

[2020-07-16 15:59] evilebottnawi commented on #11063
Example above

[2020-07-16 16:38] sokra commented on #11063
We can workaround that problem omitting `minLength` from the Schema for generating type declarations

See webpack/tooling repo

[2020-07-16 22:09] ericpitcher commented on #6093
@evilebottnawi thanks for response!

@sokra I can't tell if what you are describing is buggy behavior or how it is supposed to work. We're using webpack-dev-server at my work, with watch mode, watching for changes on modules in ./src.

Then there's the fact that there's about 1600 json locale files (30 different languages) colocated with components spread throughout directories below ./src, and re

[2020-07-17 01:22] marcins commented on #9802
It doesn't seem that the persistent cache actually writes anything at the end of the build? This is with `webpack@5.0.0-beta.22` and `webpack-cli@4.0.0-beta.8`.

I've tried an otherwise empty project with just a basic `src/index.js` and this `webpack.config.js`:

[code]

Running `yarn webpack --mode production` produces this output:
[code]

No `node_modules/.cache` folder exists after the build is

[2020-07-17 01:45] AlexanderKidd commented on #4039
I am not mixing import with modules.export, I use the following with require and it works on dev server:
[code]

I used a regular create-react-app, and added some barebones webpack/babel which I'm not 100% sure are even being used but I can run `npm run build`.

[code]

babel.rc:
[code]

babel.config.json:
[code]

package.json:
[code]

[2020-07-17 02:07] SunriseFox opened #11186 "[webpack 5] Identifier of ?. is not correctly parsed"
# Bug report

**What is the current behavior?**

acorn's ChainExpression is not correctly parsed. Variables are not correctly resolved to imports when optional chaining is used.

[code]

compiles to

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/SunriseFox/webpack-bug-optional-chaining

`yarn && yarn start`

**What is the expected behavior

[2020-07-17 04:37] OliverJAsh commented on #11146
@sokra What do you think the chances are of getting a fix retrofitted to v4 for this?

[2020-07-17 08:25] ewaDev opened #11187 "BannerPlugin does not work correctly with AngularCompilerPlugin"
# Bug report

**What is the current behavior?**
When ngToolsWebpack AngularCompilerPlugin is used with webpack BannerPlugin, BannerPlugin adds text to minified components and they appear in the ui. They are interpreted as normal text in the html template and therefore are displayed.

Interestingly, even when the exclude option is selected and all entry points are excluded, the comments are still a

[2020-07-17 09:03] evilebottnawi commented on #6093
@ericpitcher Can you create reproducible test repo? Maybe something other do invalidation

[2020-07-17 09:31] evilebottnawi commented on #11187
I think you should open an issue `AngularCompilerPlugin` repo, looks like it is used hook before `BannerPlugin`

[2020-07-17 09:44] evilebottnawi commented on #11186
On board https://github.com/webpack/webpack/projects/5#card-37921062

[2020-07-17 11:24] sokra commented on #11146
Considering the risk and the work involved to fix this non-critical problem I don't think we will fix that for webpack 4. You can start using the webpack 5 beta, or wait a bit

[2020-07-17 13:03] VincentCharpentier commented on #7470
[code]

this doesn't seem to work on my side:

[code]

I've setup DefinePlugin with this entry:
[code]

I still end up with "production" in my build output

Also I'm exporting a function in webpack.config.js (to read mode arg), could it be the cause ?

webpack@^4.43.0

[2020-07-17 13:53] SPWizard01 commented on #11157
@evilebottnawi https://github.com/SPWizard01/webpackdevtoolbug here you go :)

[2020-07-17 15:57] mitchell-frost commented on #11063
I created a simple webpack project with the documentation here [https://webpack.js.org/guides/getting-started/](url) and copied and pasted the code above. I don't understand where the code for the type entry is supposed to be. i could not reproduce the bug with `npx webpack` or `npm run build` . Is there some other process involved in reproducing it?

[2020-07-17 16:15] fvigotti opened #11194 "Tree shaking doesn't work on second-level-deep modules /with example"
# Bug report

**What is the current behavior?**
simple webpack tree shaking setup with typescript correctly works on 1st level nested functions, but on second-level nested functions doesn't remove unused/never-called code

full working example with readme containing the issue is here :
https://github.com/fvigotti/tree-shaking-test1/tree/master

**If the current behavior is a bug, please provide th

[2020-07-17 16:19] vankop commented on #11194
Should work with `webpack@next`. Unfortunately, this feature implemented only in webpack@5.

[2020-07-17 16:22] evilebottnawi commented on #11194
Answer above

[2020-07-17 16:36] fvigotti commented on #11194
well.. no.. same problem in webpack 5

https://github.com/fvigotti/tree-shaking-test1/tree/webpacknext

[2020-07-17 16:42] fvigotti commented on #11194
one thing that probably could give hints about the internal issue is that seems that dependencies are not entry-point independent.. I mean: if another entry point call a function this is not tree-shaked in other entry points..
but the logic of multiple entry points is that those should be independent!

ie:
if you disable this entry in webpack.config.js:
[code]
the entry3 works.. but this behaviour

[2020-07-17 16:54] vankop commented on #11186
@sokra FYI working on this..

[2020-07-17 16:57] vankop commented on #11194
@fvigotti https://github.com/webpack/changelog-v5#inner-module-tree-shaking

[2020-07-17 18:40] salemhilal commented on #8341
hey @sowinski, because that's an external script, you can't import it and access its contents directly. you can get around this by using that attribute as the `src` attribute in a script tag. I don't know if there's a cleaner way, but I've seen [script.js](https://github.com/ded/script.js) used with success for the google maps api specifically.

[2020-07-17 20:38] roblan opened #11197 "[Webpack 5] Dynamic import is not working with promise externals"
# Bug report

**What is the current behavior?**

~~`__webpack_require__` is called with result of promise external when it's is loaded as dynamic import, which results with error~~
webpack it threating resolved value as module id with dynamic imports witch results with
[code]

webpack generated code (added line breaks for clarity):
[code]

~~part `.then((m) => __webpack_require__.t(m, 7))` seems t

[2020-07-18 06:26] sokra commented on #11197
That part wraps the result in a namespace object as `import()` always returns a namespace object. Here it would return `{ default: 42 }`

[2020-07-18 06:40] roblan commented on #11197
You are right - my expected behavior part is wrong, but either way it does not work as expected.

[2020-07-18 08:43] chess99 opened #11199 "confusion on optimization.runtimeChunk configuration"
document link: <https://webpack.js.org/configuration/optimization/#optimizationruntimechunk>

Is there a comma missing in this sentence:

which means "adds  chunk to ( entrypoint containing only the runtime ) "

maybe it should be:

means "adds ( chunk containing only the runtime ) to entrypoint"

[2020-07-18 11:03] sokra commented on #11199
Yes. Send a PR

[2020-07-18 11:08] sokra commented on #11197
Yeah there really seems something wrong here. The generated code should be `__webpack_require__.t(m, 6)` instead of 7

[2020-07-18 11:09] sokra commented on #11197
If someone wants to send a PR the problem is somewhere in `RuntimeTemplate.js` probably in `namespacePromise`

[2020-07-18 14:23] ericpitcher commented on #6093
@evilebottnawi

Here https://github.com/ericpitcher/webpack-require-context-rebuilding
`npm start` runs webpack-dev-server

Entry file (index.js) has `const context = require.context('./foo', true, /.+.en.json$/);`

When you change a module in ./foo, for instance `module-in-foo.js` which doesn't match the require.context regex,
that module gets rebuilt (expected), but there is also some computatio

[2020-07-18 21:49] k2snowman69 commented on #9186
@Richard-Choooou were you able to figure out the root cause? I'm actually running into a very similar situation and am also having issues finding a solution.

[2020-07-19 04:17] snitin315 commented on #9392
Adding support of another `preset: all`  to output everything seems good to me.

[2020-07-19 06:11] techhead commented on #8826
This is what I ended up going with for doing a conditional import in the NodeJS environment.

[code]

Webpack will optimize away the bare `require` in this case so that you don't end up with the ugly warning below (and extra code injected).

[code]

[2020-07-19 07:12] javadbat commented on #1739
what if we have a multi-entry bundle that every bundle has its own chunks?

[2020-07-19 09:41] chenxsan commented on #11197
Unfortunately I found it's more complex than I expected to fix it, I'm going to close my pull request so anyone interested in it can continue.

[2020-07-19 10:55] SachinShekhar opened #11202 "Webpack destroys/changes original prototype of ES6 Classes"
# Bug report

**What is the current behavior?**
When Webpack (target: node) bundles an imported ES6 class, the class loses its original prototype object.

**If the current behavior is a bug, please provide the steps to reproduce.**
In a file create & export ES6 class:

[code]

In another file, import this class & check this:

[code]

Without Webpack bundling, `Works` gets logged, but with Webpack

[2020-07-19 11:17] rramaa opened #11203 "[Webpack 5] Error: EMFILE, too many open files in watch mode"
# Bug report

**What is the current behavior?**
When I run webpack 5 in watch mode(or webpack-dev-server), webpack compiles my project successfully, but then I start getting the error `Error: EMFILE, too many open files in watch mode`. The terminal tab gets stuck and I am not able to close the process by using (`ctrl`+`c`). I have to close the terminal tab

**If the current behavior is a bug, plea

[2020-07-19 17:05] murtazahassani69 opened #11204 "How to send file from node.js to frontend reactjs, by using __dirname?"
Hey, dear friends, I'm trying to create a contact form in reactJs, send email & receive from it, fore backend I use node.js, and I need to send a file from node.js to react.js, for that I've created a ContactScree.js in front-end/src/screens/folder in react.js, the point is this can I send file to a .js file?

[2020-07-19 17:09] sokra commented on #11202
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-07-19 17:11] sokra commented on #11203
I don't think you need that plugin with webpack 5. It should watch missing node_modules by default

[2020-07-19 17:14] sokra commented on #11204
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2020-07-19 17:14] #11204 closed

[2020-07-19 17:20] murtazahassani69 commented on #11204
I tried but I can't post a question because asked a lot of question

[2020-07-19 20:19] artola commented on #10909
@privatenumber   is it similar to: https://github.com/webpack/webpack/issues/5489. ?

[2020-07-19 20:25] AlexanderKidd commented on #4039
For now I changed the module.exports file to `export default`. I have a lot of mixed syntax between ES6 and CommonJS probably and I will have to look into properly setting up Babel and Webpack...

[2020-07-19 21:29] privatenumber commented on #10909
@artola It is, thanks!

[2020-07-19 21:29] #10909 closed

[2020-07-20 06:46] fregante commented on #10720
It's still an issue though

[2020-07-20 07:03] webpack-bot opened #11206 "Backport to webpack 4: add roots option"
https://github.com/webpack/webpack/pull/11143 needs to be backported to webpack 4.

Send a PR.

cc @vankop

[2020-07-20 08:18] #10119 closed

[2020-07-20 09:13] fvigotti commented on #11194
@vankop
thanks I see now that in the description of the webpack 5 tree shaking it says that webpack 4 does not work on sub-modules, but by definition the term tree-shaking should be a cherry picking of the necessary dependencies(classes/functions/..) and it is implied that it also works for sub-modules,
if this is not the case in the webpack 4 version, it should be specified in the webpack 4 guide

[2020-07-20 09:44] vankop commented on #11194
Feel free to make a pull request https://github.com/webpack/webpack.js.org/tree/webpack-4

Yes, this does not work yet and probably will be implemented in future as a new feature. The problem here, as I see, is that webpack does not know how you will execute your scripts. For example for web app you probably don't want initialize your module twice because of 2 reasons:
- performance, transfer code

[2020-07-20 09:45] fvigotti commented on #11194
plus,
Gonig back to webpack 4, and disabling entry2 from my example, entry3 is correctly tree-shaked , so I see exactly same behaviour in this example from webpack4 and webpack5 with exactly same issue.. that now after more investigation i repeat is not related to second-level deep modules but more with dependencies-graph-interference  between entries ( webpack.config : entry : {..these..} )

[2020-07-20 09:47] vankop commented on #11194
Sorry, I misunderstood problem because of the title.. Yes, this is tree-shaking per entrypoint problem

[2020-07-20 11:04] evilebottnawi commented on #11206
Done https://github.com/webpack/webpack/pull/11207

[2020-07-20 11:04] #11206 closed

[2020-07-20 11:11] evilebottnawi commented on #11202
terser has a problem with `prototype` in near future, try to update `terser`/`tersor-webpack-plugin` to latest version

[2020-07-20 11:17] evilebottnawi commented on #9392
@snitin315 Yes, maybe `vvv` (`very very verbose`)

[2020-07-20 11:51] evilebottnawi commented on #4253
Closing due to inactivity. Please test with latest version and feel free to open a new issue if still regressions. Thanks!

[2020-07-20 11:51] #4253 closed

[2020-07-20 11:55] davidjungermann commented on #7353
Has any work been done in regards to this issue?

Would love an easier way to bundle and ship assets. We are currently using a single repository for documentation in Storybook.js, based on Create-React-App and webpack to bundle and ship components as npm modules. If assets could be loaded using the same path, like @rikbrowning pointed out, it would make life a lot easier for us.

[2020-07-20 13:12] linlinyang opened #11212 "My loader return string contains import, throw error"
In my loader

1. I use [write](https://www.npmjs.com/package/write) sync write in `a.vue` file
2. then return string contain `import componentName from 'a.vue'`
3. It throw an error:  cannot resolve my `a.vue` file

My loader :

[code]

detail demo is [here](https://github.com/linlinyang/md-vue-loader)

[2020-07-20 14:06] evilebottnawi commented on #11212
Please use stackoverfflow for questions or gitter, also you deleted the issue template.

Because `a.vue` doesn't exists

[2020-07-20 14:06] #11212 closed

[2020-07-20 14:13] evilebottnawi commented on #11187
Close in favor https://github.com/angular/angular-cli/issues/18282, feel free to feedback if problem(s) will be with webpack itself (I will reopen the issue), but I can't reproduce too

[2020-07-20 14:13] #11187 closed

[2020-07-20 16:14] SukantPal opened #11213 "Imports are routed to different builds of the same package."
# Bug report

**What is the current behavior?**

I have an app that imports both `pixi.js` and `pixi-batch-renderer`. `pixi-batch-renderer` imports classes from `pixi.js` as well.

The resulting bundle has two pixi.js instances - one from the ESM build (required from the app itself), and one from the CJS build (required from pixi-batch-renderer). (required means `require()` inside the bundle).

Th

[2020-07-20 17:16] gkjohnson commented on #11127
Hey @evilebottnawi I just wanted to check back in to see if you had any further thoughts on this and needed anything more from me. Thanks!

[2020-07-21 00:55] amaschas commented on #9319
I have encountered this bug as well, and can confirm that the behavior changed at some point, because I have a repo build in 3.8.1 that can access split chunks in other bundles via the prefix defined in `__webpack_public_path__`, but as soon as I tried to upgrade to Webpack 4.43.0 it ignores any chunks that aren't split from the bundle that defines `__webpack_public_path__`. This means that I have

[2020-07-21 02:47] uni-zheng commented on #9802
Report a bug.

There has EISDIR error when I use webpack5 build project which directory character include `#`.

[code]

When I build project by `webpack@4.43.0` & `webpack-cli@3.3.12` in `node@12.18.2`, it's working.

[2020-07-21 11:31] jun-sheaf commented on #10460
This only works on yarn.

[2020-07-21 11:47] snitin315 opened #11215 "Logger: out of box color support for errors and warnings"
## Feature request
Logger should support colors for errors and warnings out of the box.

**What is the expected behavior?**
if we log warning with logger.warn('warning') it should print the warning in yellow color. same for errors with red colors.

**What is motivation or use case for adding/changing the behavior?**
we have use color ourself like `logger.warn(chalk.yellow('warning'))`

**How shoul

[2020-07-21 11:48] evilebottnawi commented on #10560
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-07-21 11:48] #10560 closed

[2020-07-21 11:56] evilebottnawi commented on #9802
@marcins Can you open an issue in webpack-cli? If you provide minimum reproducible test repo will be great
@uni-zheng thanks for the issue

[2020-07-21 13:09] evilebottnawi commented on #11213
Here problem https://github.com/webpack/webpack/issues/5756#issuecomment-335093480, workaround https://github.com/webpack/webpack/issues/5756#issuecomment-405468106

[2020-07-21 13:09] #11213 closed

[2020-07-21 13:31] OnurGvnc commented on #10460
https://www.npmjs.com/package/npm-force-resolutions

[2020-07-21 13:47] jun-sheaf commented on #10460
`nom-force-resolutions` doesn't support that behavior.

[2020-07-21 16:37] shadowfoxish commented on #2431
This worked for me, using chunks, I couldn't specify .js or with or without a hash. Hope this helps someone

[code]

[2020-07-21 17:34] Luke-zhang-04 opened #11217 "Webpack doesn't recognize package.json main attribute"
# Bug report

**What is the current behavior?**
WebPack does not resolve modules from the `main` attribute in the `package.json` files in `node_modules`

**If the current behavior is a bug, please provide the steps to reproduce.**
Import or require a module from `node_modules` that has an `src` or `lib` folder (or equivalent) and a `main` attribute, and the modules won't resolve properly. That's h

[2020-07-21 17:41] evilebottnawi commented on #11217
Please provide reproducible test repo, we have tests for `main` property of `package.json`

[2020-07-21 18:28] Luke-zhang-04 commented on #11217
I was just thinking, could it be that the main attribute needs to specify a file and not a directory?

[2020-07-22 01:18] Luke-zhang-04 commented on #11217
I've added those in my issue above

[2020-07-22 06:40] vankop commented on #11217
main field works, in your example for bare specifier `destagnate` browser field is taken, you can check this in resulted bundle

[2020-07-22 10:07] evilebottnawi commented on #11217
Answer above, you can change behavior using this option https://webpack.js.org/configuration/resolve/#resolvealias

[2020-07-22 10:07] #11217 closed

[2020-07-22 10:07] evilebottnawi commented on #11127
/cc @vankop Can you look at this? Don't have time right now

[2020-07-22 11:12] blink1073 commented on #10352
Is there an explicit reason we can't `share` the source package?

Use case: a package that is both an extension provider and a library (provides something that another extension provider can import).

Example repo: https://github.com/blink1073/module-federation-share-self

I would like to `share` a named module that is the same as the current package.

However, only `react` gets a `register()` cal

[2020-07-22 11:47] sokra commented on #10352
@blink1073 I think it should work this way:

[code]

but I'm not sure if this makes sense and how it behaves if a module is shared and exposed.

[2020-07-22 11:49] blink1073 commented on #10352
Thanks @sokra!  I'll play with that and report back.

[2020-07-22 11:53] blink1073 commented on #10352
No luck:

[code]

[2020-07-22 11:55] blink1073 commented on #10352
You're right in that this might not make sense at all and lead to conflicts.  I have a workaround for our use case, since we are auto-generating these bundles for JupyterLab extension authors:

- Create a new npm package on the fly
- Use the metadata and dependencies from the source package
- Have it link to the source package and `share` its index and also bootstrap its extension entry point
- Ru

[2020-07-22 12:33] web-padawan commented on #6719
This appears to be addressed by #11075 and available since `v5.0.0-beta.21`

[2020-07-22 12:34] hsablonniere commented on #6719
Crossing fingers for a backport to v4 ;-)

[2020-07-22 12:34] egoist commented on #11181
Snowpack and Vite are fast but that's mainly because they do no bundling during development.

[2020-07-22 12:52] web-padawan commented on #10831
Confirmed with `highcharts` library, see https://unpkg.com/highcharts@8.1.2/modules/exporting.src.js?module

[code]

The problematic line is this one:

[code]

[2020-07-22 12:59] evilebottnawi commented on #6719
@hsablonniere unfortunately no backport, a lot of stuff require to rewrite

[2020-07-22 13:00] evilebottnawi commented on #11181
@egoist i think we can use it to traspile typescript and ES next syntax (babel)

[2020-07-22 13:11] egoist commented on #11181
@evilebottnawi yeah I actually made a loader: https://github.com/egoist/esbuild-loader

But I guess what makes webpack slow is the bundling process.

[2020-07-22 13:39] evilebottnawi commented on #11181
@egois, interesting, need investigate, maybe problem in parallel?

[2020-07-22 13:42] evilebottnawi commented on #10831
@web-padawan thanks for information, it will be fixed in the near future

[2020-07-22 14:13] vintprox commented on #6647
@jacekk015 Thank you very much!

Adding `minChunks: Infinity` directly to `splitChunks` helps to prevent deep chunking and it was pretty helpful fin my case 👍👍👍

[2020-07-22 14:50] anish2690 commented on #10352
@ScriptedAlchemy  any implementation sample for Vuejs? I have tried to put together but no luck https://github.com/anish2690/mfe-webpack-demo-vue

[2020-07-22 15:09] vankop commented on #11127
You need explicitly specify `publicPath` to webpack, thats how it works. So if you output without it (in your case `index.js` and `1.index.js`) webpack assumes that scripts served from `/`.

[2020-07-22 15:25] fvigotti commented on #11194
Thank you for help, I still have some issues with three shaking but maybe it's material for stackoverflow..
given that you understand the issue and that the title for this issue is now incorrect I feel right to close the comment, you can open a new one and reference this if you need to keep track of the issue
thank you,
Francesco

[2020-07-22 15:25] #11194 closed

[2020-07-22 21:08] Loonride opened #11219 "webpack@4 watch recompiles many times after fs.writeFileSync"
# Bug report

**What is the current behavior?**

For webpack@4, running watch on a file that was just written to with fs.writeFileSync will cause many repeated compilations, even though the file remains the same between those compilations.

This does not happen with webpack@5. It is difficult behavior to work with for e2e testing in webpack-dev-server, because it makes it hard to simulate a user e

[2020-07-23 02:19] Andytreee commented on #10726
Problem still exists.The steps above can be reference to reproduce the problem.
Thx.

[2020-07-23 09:47] codepunkt commented on #10352
I'm running into `Uncaught Error: Shared module is not available for eager consumption`.

I've read the documentation [here](https://webpack.js.org/concepts/module-federation/#troubleshooting), but i don't understand a word. What are _eager consumption_ or _eager execution_? Where are these defined/explained? What are alternatives to eager consumption and/or execution? What are the benefits/drawba

[2020-07-23 10:25] markpradhan commented on #1019
module.exports = {
  resolve: {
    mainFields: ['browser', 'module', 'main']
  }
};

Adding this to the webpack config solved it for me.

[2020-07-23 10:37] ryall commented on #7378
As previously mentioned, `import type` or `export type` seems to fix this. Additionally, it's **only** a problem when **only importing a type and no concrete values**.

[code]

[2020-07-23 12:31] younabobo commented on #8934
Apparently none wants to work on this

[2020-07-23 13:03] evilebottnawi commented on #8934
Let's solve solution for this, @Miaoxingren reproducible repo still has the problem? Sorry for delay

@ufon @younabobo Maybe you can provide reproducible test repo too?

[2020-07-23 13:57] evilebottnawi commented on #10210
Bump

[2020-07-23 14:44] rogerloo opened #11222 "Modify DevServer related documents to facilitate developers"
## Feature request

**What is the expected behavior?**
  Modify [devServer.open](https://webpack.js.org/configuration/dev-server/#devserveropen) related documents

**What is motivation or use case for adding/changing the behavior?**
  When the host is modified to `0.0.0.0`, the edited open parameter will open 0.0.0.0: port, and you need to manually modify the host.

**How should this be implemente

[2020-07-23 17:15] younabobo opened #11223 "Ability to force bundling of a module"
## Feature request

**What is the expected behavior?**
Ability to force bundling of a module

**What is motivation or use case for adding/changing the behavior?**
It is impossible to dynamically import a module using import(moduleName) with moduleName being a variable

**How should this be implemented in your opinion?**
In settings, there should be an array of bundled modules, the modules within i

[2020-07-23 17:21] evilebottnawi commented on #11223
What do you mean? Please clarify

[2020-07-23 18:27] michaelknoch commented on #7353
is there any public example of approach 2) with the `publicPath` property @elado mentioned?

[2020-07-23 19:23] sokra commented on #11215
![image](https://user-images.githubusercontent.com/1365881/88329749-b9569080-cd2a-11ea-938b-cab91264e049.png)

It does already do that

[2020-07-23 21:19] younabobo commented on #11223
https://github.com/younabobo/webpack-dynamic-import-test
Details are in README.md

[2020-07-23 21:19] younabobo commented on #8934
Here's my test repository https://github.com/younabobo/webpack-dynamic-import-test

[2020-07-24 03:59] gkjohnson commented on #11127
This part I understand. I didn't mean to imply this is a bug but I see the title may have made it sound that way.

The other solution I posted that uses an error stacktrace seems to be universal and feels like it would have a small code footprint. I understand the desire to keep the bundle size small but perhaps there's some compromise here? The path resolution code would not be needed if `publicP

[2020-07-24 06:42] anymost commented on #9930
The same issue I found, Can you tell me how to resolve it?

[2020-07-24 08:12] ufon commented on #8934
@younabobo @evilebottnawi
Finally I fixed this by setting `__webpack_public_path__` webpack setting.
My problem was closely related to https://github.com/webpack/webpack/issues/7417

And my final solution is

[code]

[2020-07-24 09:15] sokra commented on #11127
Yes this is a good idea.

I would suggest the following steps:

* Change `PublicPathRuntimeModule.js` to inject automatic publicPath detection when `publicPath` is set to `"auto"`.
  * `document.currentScript` is preferred. error.stack is non-standard.
* Default `publicPath: "auto"` for improved DX.

[2020-07-24 09:19] romeovs commented on #10745
Any news on this?

[2020-07-24 09:46] Igloczek commented on #5703
In my case the problem was using `modules: 'commonjs'` instead of `modules: 'amd'` in the configuration of `@babel/preset-env`

[2020-07-24 10:09] psdon commented on #9930
@anymost
[code]

For more info, check my example script here -> https://github.com/psdon/Flask-Manage-Webpack/blob/master/example/assets/js/main.js

[2020-07-24 11:02] evilebottnawi commented on #11127
Sounds very good

[2020-07-24 11:37] evilebottnawi commented on #11223
Do not duplicate issue https://github.com/webpack/webpack/issues/8934#issuecomment-663237983

[2020-07-24 11:37] #11223 closed

[2020-07-24 11:39] sokra commented on #10745
Sounds like a bug in the HMR plugin. I think it should better check if there is info about the last build in records to determine if a HMR update should be emitted.

[2020-07-24 11:50] evilebottnawi commented on #8934
@younabobo It is documented, we can't build module from `x`, it is runtime value and it is impossible to detect https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import

@ufon You need this https://github.com/webpack/webpack/issues/11127, we will implement it for webpack@5

Original problem related to https://github.com/webpack/webpack/issues/11127

[2020-07-24 11:50] #8934 closed

[2020-07-24 11:51] evilebottnawi commented on #7843
Let's close in favor https://github.com/webpack/webpack/issues/11127

[2020-07-24 11:51] #7843 closed

[2020-07-24 15:23] evilebottnawi commented on #7918
/cc @vankop fixed in webpack@5?

[2020-07-24 15:47] vankop commented on #7918
`file://path/some.wasm` should work.

Feel free to create issue with bug if does not work.

[2020-07-24 17:35] bspeice commented on #7918
Can confirm, everything does seem to be fixed in webpack 5.

[2020-07-24 17:46] evilebottnawi commented on #7918
@bspeice thanks!

[2020-07-24 19:16] sokra commented on #11219
Filesystem accuracy of timestamps on disk make it difficult to see if the file has changed again without a watcher attached.
When we are unsure we better compile again. You can check if the build has the same hash compared to the previous build.

[2020-07-24 20:40] bspeice commented on #7918
One quick clarification after I did some further testing: while Webpack 5 _does_ contain fixes needed to load WASM blobs asynchronously, it doesn't change the underlying issue (`Content-Type` unset for `file://` URLs). I'm having issues trying to find when this was changed in Chrome (and thus Electron as well), but when using `window.fetch('file://*.wasm')`, the `Content-Type` now comes back as `a

[2020-07-24 22:47] gkjohnson commented on #11127
Awesome!

A few thoughts on the implementation, then -- this is my first time looking through the webpack code so any advice or correction is appreciated.

Looking at the built code in my test case it looks like the `publicPath` field is set inside of the require callback which can be called asynchronously. However `document.currentScript` is `null` when called in an asynchronous function:

[code]

[2020-07-25 08:28] eamodio commented on #9607
@sokra Any chance this could be backported to webpack 4?

[2020-07-25 12:24] evilebottnawi commented on #7918
@bspeice Can you open a new issue with reproducible steps?

[2020-07-25 12:24] #7918 closed

[2020-07-25 12:31] evilebottnawi commented on #9607
@eamodio unfortunately, no, you can start to using webpack@5, most of plugins and loader already have compatibility

[2020-07-25 12:36] evilebottnawi commented on #5543
bump

[2020-07-25 13:27] ashiljayaraj commented on #7074
I am facing the issue, "You are currently using minified code outside of NODE_ENV === 'production'.....". While tried to put console inside the bundle file,  NODE_ENV is coming as **undefind**. Can u please give a solution for this.
`for generate Bundle in locally "set NODE_ENV=production && node --max-old-space-size=5120 ./node_modules/webpack/bin/webpack.js --env production",`.
![image](https://

[2020-07-25 14:06] bspeice commented on #7918
@evilebottnawi: no need for a new issue. My intention was to clarify that the underlying issue was Chrome-related, and thus not something webpack could fix. The combination of browser and webpack changes that have come since this issue was opened make it so that everything works correctly. No further work needed, thanks all for the assistance.

[2020-07-25 17:24] evilebottnawi commented on #10726
Remove `new webpack.HotModuleReplacementPlugin()` from `webpack/webpack.config.dev.babel.js`, `webpack-dev-server` automatically enable `HotModuleReplacementPlugin` when you set `hot: true`, anyway we can improve checking for `HotModuleReplacementPlugin` on `webpack-dev-server` for better DX

[2020-07-25 20:20] jchip commented on #8115
you can create a plugin that just override the source generated by webpack/lib/web/JsonpMainTemplatePlugin.js:

[code]

[2020-07-25 21:11] #8876 closed

[2020-07-25 23:43] slavafomin opened #11227 "entry.<name>.import is invalid configuration"
# Bug report

According to the [Entry and Context](https://webpack.js.org/configuration/entry-context/#entry-descriptor) documentation, the entry could be represented as an object with an `import` key that references the module or modules (string or array). However, the Webpack fails to parse such configuration and shows the following error message:

[code]

---

**What is the current behavior?**

[2020-07-26 04:47] eamodio commented on #9607
@evilebottnawi OK thanks -- I've tried to upgrade to webpack 5, but I haven't been able to get it to work. See: https://github.com/eamodio/vscode-gitlens/commits/feature/webpack5
https://github.com/eamodio/vscode-gitlens/blob/2bfc0360b46933f715379016aed4084ad4e75fae/webpack.config.js

It looks like webpack 5 doesn't seem to support a config that returns a function that is an array (or something),

[2020-07-26 09:16] sokra commented on #11227
That webpack 5 configuration. It doesn't work in webpack 4

[2020-07-26 09:58] vankop commented on #9607
@eamodio can you report a new issue with reproducible repo?

[2020-07-26 10:01] #7976 closed

[2020-07-26 11:13] slavafomin commented on #11227
Thank you @sokra for explaining this.

However,

[code]

according to npm registry the latest stable version of Webpack is `4.44.0`. Why do you have documentation published for the beta version? There is also no visible control to change the version of the documentation. This is totally confusing.

I honestly believe that you should publish documentation for the `@latest` version by default (this

[2020-07-26 12:17] pvsgit commented on #2908
I have run into the same error, using the following environment:

- Host machine Windows 10
- Laravel 7.21.0
- Homestead 10.9.1 + VirtualBox Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-96-generic x86_64)

I tried all the potential workarounds in this thread. The only one that worked for me was the suggestion from @schel4ok.

In other words when I modify my `webpack.mix.js` as follows,
`mix.js('resources/

[2020-07-26 12:26] pvsgit commented on #2908
I have run into the same error, using the following environment:

- Host machine Windows 10
- Laravel 7.21.0
- Homestead 10.9.1 + VirtualBox Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-96-generic x86_64)

I tried all the potential workarounds in this thread. The only one that worked for me was the above suggestion from @schel4ok.

In other words when I modify my `webpack.mix.js` as follows,
`mix.js('reso

[2020-07-26 19:48] psytron opened #11230 "Output bundle as directory tree for direct browser loading"
## Feature request

**What is the expected behavior?**
In addition to creating a bundle file, it would be great to have the option to output directory tree with ES6 modules, ideally retaining the same paths, so modules could be loaded directly into the browser.

**What is motivation or use case for adding/changing the behavior?**
Modern browser enable ES6 modules to be loaded directly into browser

[2020-07-26 20:42] sokra commented on #11127
The runtime module should run synchronously, so this should not be a problem.

For `type="module"` scripts `import.meta.url` is recommended. Can we use that too?

Before adding a super hacky solution I would better flag this feature as "modern browsers only" and omit support for IE11. I mean you can still specific `publicPath` manually if you need support for these browsers...

[2020-07-26 20:44] sokra commented on #11230
Maybe we do that, but I have question: What are the benefit you are expecting from this?

[2020-07-26 20:48] vankop commented on #11227
<img width="1098" alt="Снимок экрана 2020-07-26 в 23 42 51" src="https://user-images.githubusercontent.com/10380560/88489032-6420b600-cf9a-11ea-89e8-c95a515a5c62.png">
Sorry if it is not much intuitive..

[2020-07-26 20:57] #6719 closed

[2020-07-27 00:38] psytron commented on #11230
Benefits:
+ Runtime direct editing code in browser dev tools and save to disk
+ Leverage NPM without sacrificing ability for precise control over module loading
+ Debugger breakpointing exactly mirrors source code
+ Promise based import(path).then(obj => <module object>) load optimization

[2020-07-27 02:37] eamodio opened #11231 "Webpack 5: weback.config.js doesn't seem to support a function that returns a config array anymore"
# Bug report

**What is the current behavior?**

See my current `webpack.config.js`: https://github.com/eamodio/vscode-gitlens/blob/2bfc0360b46933f715379016aed4084ad4e75fae/webpack.config.js

It works fine in Webpack 4, but results in
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Using this branch: https://github.com/eamodio/vscode-gitlens/commits/feature/we

[2020-07-27 02:37] eamodio commented on #9607
@vankop Opened https://github.com/webpack/webpack/issues/11231. Thanks!

[2020-07-27 10:59] slavafomin commented on #11227
@vankop the regions, that you've highlighted on the screenshot are not getting displayed on my screen when the menu is expanded. I would suggest to stick those controls to the navbar so it would be always/more visible. It could also be useful to merge those two elements into a dropdown select menu, that would allow to switch between versions of the current page (right now you have to manually swit

[2020-07-27 12:36] frontendphil opened #11232 "Object(...) is not a function"
# Bug report

**What is the current behavior?**

After receiving the update to `4.44.0` our application cannot start anymore. In one of our modules, we export a function as the default export. However, it seems `webpack` is now treating the default as an object, which then cannot be called.

**If the current behavior is a bug, please provide the steps to reproduce.**

I couldn't come up with a min

[2020-07-27 12:38] evilebottnawi commented on #8876
You need included all generated JS files in HTML

[2020-07-27 12:43] evilebottnawi commented on #11232
Sorry without reproducible test repo we can't help

[2020-07-27 15:55] abnud1 opened #11233 "Support graaljs target"
## Feature request

**What is the expected behavior?**
I expect to set `target: "graaljs"` or similar and the bundled code will work on GraalVM without any issues

**What is motivation or use case for adding/changing the behavior?**
Right Now We have a react app bundled using webpack and We're doing server-side rendering using GraalVM polyglot api in which we call javascript code from JVM language

[2020-07-27 16:09] evilebottnawi commented on #11233
We avoid polyfills for webpack@5

What is global object for `Graaljs`?

[2020-07-27 18:17] sokra commented on #11233
Graaljs has a node.js compatible mode. Try to use that with `target: "node"`

[2020-07-27 19:59] pdeva opened #11234 "Regression in 4.44.0: minified code error"
# Bug report

**What is the current behavior?**
seeing this error in minified version of code:

[code]

code works fine in:
- non-minified version
-  when compiled with 4.43.0 of webpack

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

no exceptions

**Other relevant information:**
webpack version:  4.44.0
Node.js version:
Operating

[2020-07-27 21:01] sokra commented on #11234
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-07-27 21:56] sokra commented on #11194
https://github.com/webpack/webpack/pull/11235 will fix your other problem once it's done.

[2020-07-28 02:49] liho98 opened #11238 "Building React with Antd project in production causing error using webpack v4.44.0"
# Bug report

**What is the current behavior?**
`"build": "NODE_ENV=production webpack -p --config webpack.config.prod.js"`
[code]
![image](https://user-images.githubusercontent.com/44250267/88613214-90822280-d0bf-11ea-88dd-461a505b919d.png)

Trying with -d option its working fine.
"build": "NODE_ENV=development webpack -d --config webpack.config.prod.js"

**If the current behavior is a bug, pleas

[2020-07-28 03:32] gkjohnson commented on #11127
You're right! Looks like I misread the braces.

I tried this and unfortunately it's not so simple. If `import.meta` is used _anywhere_ in a script file not imported as a module an error is logged and it can't be caught so this can't happen conditionally. The stack trace approach does work here, too, though

`document.currentScript` works well in the non module case but I'm trying to figure out how

[2020-07-28 04:50] kirkcola commented on #9802
Hi,

the `splitChunks` config seems to be failed for me on the latest beta,

I have this config for production http2 optimization as the [migration guide](https://webpack.js.org/migrate/5/#clean-up-configuration) suggestes:
[code]

and I got this error output:

[code]

Once I remove the `maxSize` property or replace it with `minSize`, the bundling finished just fine.

---

**Releated dependencies

[2020-07-28 11:34] evilebottnawi commented on #11238
Duplicate https://github.com/webpack/webpack/issues/11234, please use search before post the issue

[2020-07-28 11:34] #11238 closed

[2020-07-28 11:36] evilebottnawi commented on #11234
I think here problem with something new with react and terser, without reproducible test repo, we can't help

[2020-07-28 11:52] evilebottnawi commented on #11127
@gkjohnson I think we can provide how to polyfill it (if it is possible)

[2020-07-28 12:33] SS88 opened #11239 "SyntaxError: Unexpected token : at Module._compile (internal/modules/cjs/loader.js:723:23) Eventhough webpack is set correctly"
I have installed webpack using npm and configured the config like follows :
[code]

[2020-07-28 12:45] evilebottnawi commented on #11239
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-07-28 12:45] #11239 closed

[2020-07-28 12:46] evilebottnawi commented on #11239
Here simple example https://github.com/webpack-contrib/css-loader#assets

[2020-07-28 16:17] evilebottnawi commented on #10265
bump, I think we should improve it out of box

[2020-07-28 17:29] TrySound commented on #10265
I add this loader to solve the problem
[code]

[2020-07-28 17:56] evilebottnawi commented on #10265
Yep, we need an option to import default behavior of existing source maps, possible situations:
- remove them if you don't need it (no warnings)
- handle them (move `source-map-loader` into core, logic it very simple, so it should be not hard)
- keep as is (maybe useful in some cases)

[2020-07-28 19:14] sokra commented on #10265
I think we can move this into the core.

[2020-07-29 02:03] liho98 commented on #11238
Because that post https://github.com/webpack/webpack/issues/11234 did not mention the steps to reproduce the error and how to get the error and the tools were using, at least my post is clearly stated.

[2020-07-29 04:28] CxRes commented on #4674
What is the guidance with node now providing an `exports` field? Do we still continue to use `module` or `browser` as previous or do we use them as a properties of `exports`?

[2020-07-29 06:03] codepunkt opened #11240 "HMR broken with module federation"
After having a video call with @ScriptedAlchemy yesterday evening, he asked me to open an issue for HMR being broken with module federation.

- [x] This is a **bug**

- Operating System: Windows 10
- Node Version: 12.16.2
- NPM Version: 6.14.4
- webpack Version: 5.0.0-beta.22
- webpack-dev-server Version: 3.11.0
- Browser: Chrome 84.0.4147.105, Firefox 79.0, Edge 84.0.522.48

### Code

https://git

[2020-07-29 08:08] ctavan commented on #4674
AFAICT `webpack@5` will use `exports` if it is specified and fall back to `module` and `browser` otherwise, `webpack@4` will continue to use `module` and `browser`, and for the time being there are [no plans in `rollup` to support `exports`](https://github.com/rollup/plugins/issues/208#issuecomment-620549486).

So I think for quite a while package maintainers will have to support both if they do w

[2020-07-29 10:39] snitin315 commented on #11215
[code]
The above code outputs without color, do we have to specify some other configurations to get the colors?
![Screenshot at 2020-07-29 16-08-38](https://user-images.githubusercontent.com/46647141/88790424-cb668200-d1b5-11ea-9020-d3de2ce5e006.png)

[2020-07-29 11:35] xaru123 opened #11241 "Problem with first load app.js"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Is there an instruction to optimize app.js size? the first download of a 5.5 MB file takes 10 seconds. which is very long. can someone tell me what to look for?

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Maybe it is ok. but i think it i

[2020-07-29 12:11] evilebottnawi commented on #11241
Please open an issue in `laravel-mix` repo

[2020-07-29 12:11] #11241 closed

[2020-07-29 12:24] evilebottnawi commented on #1564
@webpack-bot move webpack-contrib/worker-loader

[2020-07-29 12:25] #1564 closed

[2020-07-29 12:26] evilebottnawi commented on #10265
Low priority, if anyone want to help, PR welcome

[2020-07-29 12:27] evilebottnawi commented on #11215
@snitin315 strange, can you try to use `warning`/`error`?

[2020-07-29 12:30] snitin315 commented on #11215
Same behavior.
![Screenshot at 2020-07-29 17-59-46](https://user-images.githubusercontent.com/46647141/88800175-5d29bb80-d1c5-11ea-90e0-50502667ed83.png)

[2020-07-29 12:31] sokra commented on #11215
This is not how to use the webpack logger. Use `compilation.getLogger("my-plugin")`

[2020-07-29 12:42] snitin315 commented on #11215
we use logging before we run webpack and sometimes after, and when we do other actions that don't need webpack (like init/info/migrate/generate), so I think we can't use infrastructure logger.

[2020-07-29 13:13] evilebottnawi commented on #11215
@snitin315 we need to search way how we can implement colors using built-in logger

[2020-07-29 13:51] #10246 closed

[2020-07-29 16:11] abnud1 commented on #11233
@sokra that mode can't be used from java with the "Context API" right ?

[2020-07-29 16:34] CxRes commented on #4674
@ctavan Thanks for the answer. I have to say though, this esm transition situation really really sucks! Emotions are flaring up everywhere (not just with this issue) and no end to the confusion for developers in sight!!!!!!

[2020-07-29 18:03] avinoamsn opened #11242 "webpack appears to be missing the stats.preset option in the config schema"
# Bug report

**What is the current behavior?**

Webpack errors out during compilation when the `stats.preset` option is set. This is the error returned:

[code]

Notably, `preset` is missing from this list.

**If the current behavior is a bug, please provide the steps to reproduce.**

Webpack config in question:

[code]

**What is the expected behavior?**

Webpack should compile successfully and

[2020-07-29 18:23] evilebottnawi commented on #11242
It is only for webpack@5

[2020-07-29 18:23] #11242 closed

[2020-07-29 18:46] cfaherty commented on #11234
FWIW I've just had an upgrade to 4.44.0 (from 4.43.0) begin causing failed production builds.. in my project complaints about the aws-amplify module. Sorry for the anecdotal response.

[2020-07-29 18:48] evilebottnawi commented on #11234
**Please** create reproducible test repo, otherwise issue will be closed

[2020-07-29 19:15] jandvik commented on #10352
@ScriptedAlchemy / @sokra I'm running into a real headscratcher here. I have looked through most of the examples in https://github.com/module-federation/module-federation-examples to see if I can find a solution, and I'm still stumped.

My issue is that from loading the main app, it takes 2 minutes to kick off the bootstrapping.

I have 4 apps in the following configuration:
- app-container (host

[2020-07-29 20:00] avinoamsn commented on #11242
@evilebottnawi thank you for the clarification. It would be nice if this information were featured more prominently on the site (e.g. not only in small, cutoff font at top and bottom of the sidebar). Alas.

[2020-07-29 20:40] sokra commented on #10352
@jandvik It's a webpack bug.

The script loading attaches a load event but overrides the load event callback from the other remote.

If you want to send a PR see load script runtime module and make sure to keep the old callbacks.

[2020-07-29 20:50] SukantPal commented on #11213
@evilebottnawi The problem isn't that `module` gets prioritized over `main`. It is that `main` is being prioritized over `module`.

[2020-07-29 22:46] jandvik commented on #10352
Thank you @sokra - I'll look into and see if I can provide a fix in the next few days 👍

[2020-07-30 00:28] crrice opened #11243 "Regression from 4.43.0 to 4.44.0. Package 'aws-amplify' incorrectly bundled."
# Bug report

**What is the current behavior?**

The production build of our website crashes due to an issue with the 'aws-amplify' dependency. In the console we see the following error:

[code]

This is in reference to the following code from the source file, `app.tsx`, which contains the lines (among others):

[code]

So it appears as though the 'aws-amplify' package is not being correctly inclu

[2020-07-30 00:30] crrice commented on #11243
Note that this is the same bug as reported in a comment to another issue here:

https://github.com/webpack/webpack/issues/11234#issuecomment-665837439

[2020-07-30 05:33] sokra commented on #11213
In .mjs files only `main` is used. Node.js defined .mjs so we are keeping strictly with the node.js behavior.

[2020-07-30 05:35] sokra commented on #11243
Thanks for the bug report and creating a repro. I can look into that in an hour. It should be fixable from this.

[2020-07-30 05:36] sokra commented on #11234
Duplicate of #11243

[2020-07-30 05:37] #11234 closed

[2020-07-30 06:54] liho98 commented on #11238
Since the post #11234 did not mention the steps to reproduce the error, how to obtain the error and the tool being used, but at least my post clearly stated.
In addition, the title is different, my post clearly states that building React with Antd project in production causing error using webpack v4.44.0, and I don’t know anything in that post...
here is the reproduce test repo - https://github.co

[2020-07-30 07:10] sokra commented on #11243
fix is on the way

[2020-07-30 08:03] #11243 closed

[2020-07-30 08:04] sokra commented on #11243
https://github.com/webpack/webpack/releases/tag/v4.44.1

[2020-07-30 09:12] nugen commented on #9446
Hi @poolerMF
Did you solve your issue ? I'm under Symfony 5 with Webpack encore and get the same error : My page is working fine without any error, except when rendered with wkhtmltopdf tool.
And i have the same exact error same line in runtime.js.
Thanks !

[2020-07-30 09:16] frontendphil commented on #11232
Apparently "fix bug in sideEffects optimization when using export * from "non-esm" and a default export." in the latest release was the culprit.

[2020-07-30 09:16] #11232 closed

[2020-07-30 09:25] poolerMF commented on #9446
I looked into code and I think I solve it with:
**webpack.config.js:**
[code]

**polyfill-bind.js:**
[code]

but I switched to "nightmare", because phantomjs and wktohtml are not supporting flex box

[2020-07-30 09:43] nugen commented on #9446
@poolerMF
Thank your so much for your answer, i really appreciate, it solves the issue indeed !
Yes, we already had the problem when we switched to flexbox... We have a separate css to ovverride the flex box behaviour, and it is always a nightmare when adding new pages to be printed.

[2020-07-30 10:03] evilebottnawi commented on #10352
@jandvik Let's open a new issue to avoid to lose the problem

[2020-07-30 12:36] SukantPal commented on #11213
Should I should change it to .es.js I think? Thanks!

[2020-07-30 14:16] ryands17 commented on #4303
This is still an issue. Do I need to add separate entrypoints for this? When the bundle is created, it is always set as `__dirname` w.r.t. to the base directory and not where the file originally was.

[2020-07-30 14:28] evilebottnawi commented on #4303
Because after bundling you have an one file, `__dirname` and `__filename` works the same as on a node, what do you expected? We can't break node logic

[2020-07-30 14:32] jandvik opened #11247 "[Webpack 5] Module Federation loading remote module several places overrides load event callback causing 2 minute delay"
# Bug report

**What is the current behavior?**
Loading the same federated remote module twice causes a 2 minute delay in app.

**If the current behavior is a bug, please provide the steps to reproduce.**
Git repo to reproduce issue: https://github.com/jandvik/webpack-module-federation-issue

App configuration:
- app-container (host app)
- home (page app)
- search (page app)
- nav (library/compone

[2020-07-30 14:35] jandvik commented on #10352
@sokra @evilebottnawi  - logged my issue here https://github.com/webpack/webpack/issues/11247
Working on setting up local dev env for webpack to take a crack at it.

[2020-07-30 14:36] jandvik commented on #11247
Pulling over quote from https://github.com/webpack/webpack/issues/10352#issuecomment-665914841 for reference

[2020-07-30 14:48] coemans commented on #2933
I made a [demo](https://github.com/webpack/webpack/files/5001895/demo.zip) with version 5.0.0-beta.22 but it doesn't seem to work. @evilebottnawi am I doing something wrong or isn't it operational yet in the latest beta?

[code]

[code]

[2020-07-30 14:56] evilebottnawi commented on #2933
@coemans It is still under development, bug error is very strange, I want too look at this

[2020-07-30 16:14] sokra commented on #9974
I don't think it's still valid. There is no repro test verify. If this is still an issue open a new issue **with a repro** to verify it.

[2020-07-30 16:14] #9974 closed

[2020-07-30 17:33] evilebottnawi commented on #2933
@sokra I think we should merge `output.module` and `output.libraryTarget` in one option `output.format` to avoid misleading

[2020-07-30 19:04] amaschas commented on #9319
Hey guys, any updates on this one? Potentially a workaround? Being unable to set the public path at runtime for multiple entrypoints is causing some really serious problems.

[2020-07-30 19:09] evilebottnawi commented on #9319
@amaschas You can override `__webpack_public_path__` in each entrypoint, anyway can you provide example of problem?

[2020-07-30 19:09] jandvik commented on #11247
@sokra @evilebottnawi  - I hope I did this right ... here's the PR https://github.com/webpack/webpack/pull/11248

Maybe not the prettiest solution, and I'm open to suggestions. The core of the issue is that each loader has the "inProgress" scoped within its own execution, so when another federated module loads the same - the script exists, but there's no reference to the other callbacks for execut

[2020-07-30 19:15] amaschas commented on #9319
@evilebottnawi I believe there's a repo linked in the earlier reply that demonstrates the issue. (for reference: https://github.com/fabb/webpack-path-problem) In my case, we have many entry points across multiple apps and multiple developers adding and removing them all the time, so it would take a lot of work to both implement and maintain. In our case we'll probably stick on Webpack 3 until this

[2020-07-30 21:45] Leedehai commented on #9974
It _is_ valid. See the initial comment for console printout. I didn't make this up. But yeah, closing this issue is fine due to inactivity.

[2020-07-30 22:22] brandonkal commented on #9337
I'm confident this issue remains.

[2020-07-31 10:58] evilebottnawi commented on #9974
@Leedehai Can you provide old example?

[2020-07-31 13:53] snitin315 commented on #11215
@sokra isn't it possible to have colors with runtime?

[2020-07-31 14:33] evilebottnawi commented on #10504
Not related to webpack, regression on `jquery` side

[2020-07-31 14:33] #10504 closed

[2020-07-31 15:01] evilebottnawi commented on #11215
@snitin315 Please check the code, it is easy

[2020-07-31 16:36] sokra commented on #11215
The runtime logger is intended for in browser usage where the browser devtools take care of colors and filtering.

It's not intended for usage in node.js, because you won't have the ability to filter.

It probably makes sense to offer multiple different runtime loggers for web and node.js targets. A node.js logger could apply console colors and filter e. g. via env variable.

webpack would alias t

[2020-07-31 19:01] evilebottnawi commented on #10630
@tobiu sorry for delay problem still exists?

[2020-07-31 19:03] tobiu commented on #10630
I was not able yet to figure out a solution. To be fair, I had no time to dive into it.

Still on my todo list.

[2020-07-31 19:06] evilebottnawi commented on #10630
@tobiu maybe you can create simple example and I will help you?

[2020-07-31 19:12] tobiu commented on #10630
ha, i got confused with ticket numbers :)

The one where I do need help is that one:
https://github.com/webpack/webpack/issues/11049

For this ticket, my overrides do work fine. Would be nice to see them as webpack configs, but low prio. Feel free to close it.

[2020-07-31 23:09] amalitsky commented on #10889
Folks, is fix in question available or planned for webpack 4.x? Looks like in 4.x we can't use `experiments: { outputModule: true }` option.

And being angular app we can't go for typescript 4.x version just yet.

Any course of action you could recommend? Thanks

Also huge thanks to topic starter @JasonGore, it was quite a relief to find this issue after spending many hours on debugging. 🎉

[2020-07-31 23:51] #10671 closed

[2020-07-31 23:59] kote-isaev commented on #10433
This feature about dependOn etc is referenced at webpack.js.org at Dependency Management page without any mentioning of min beta version

[2020-08-01 05:31] #9445 closed

[2020-08-01 11:53] evilebottnawi commented on #10889
What do you mean?

[2020-08-01 12:30] evilebottnawi commented on #10630
Do you mean `__webpack_public_path__` overrides?

So problems with publicPath only? Maybe it helps https://github.com/webpack/webpack/issues/11127?

[2020-08-01 14:30] evilebottnawi commented on #9319
Just interesting what your expected? You can use multi compiler mode with difference publicPath, you can override them in each script, you can inject value of `__webpack_public_path__` in each script

[2020-08-01 15:51] AllanOricil commented on #7353
I have this problem. I created a package that draws on canvas. The canvas has a background image, which the package bundled. I used file-loader to bundle the image inside the package. Then the package alone can figure out where the image is. Like, I created a index.html and loaded the index.js script in the html to test, and it worked.
But when I use this package as a dependency in another project

[2020-08-01 20:00] christiantjl opened #11255 "Webpack --config logs gigantic object to console, zero context"
# Bug report

Title pretty much says it all. Upgraded from webpack 4 to 5.0.0-beta.22 and the build now fails and dumps a huge object to stdout with no additional context. I intend to workaround this, but the logic behind this logging behavior should likely be patched.

**What is the current behavior?**

The following message is dumped to console, process exits with error code 1:

<details>
<summa

[2020-08-01 20:40] ScriptedAlchemy opened #11256 "Share Scopes doesnt create new cases in switch statements"
# Bug report

**What is the current behavior?**
I don't think share scopes are working outside the default case.
What I am trying to do is import a newer component inside an older react host.
The idea is ill have an adapter which react to mount a div, then use share scope to take advantage of reactNew.render()

My idea was to create two share scopes so that legacy apps importing modern code would

[2020-08-01 20:40] christiantjl commented on #11255
I was able to redirect stdout with `yarn run webpack --config webpack.config.cjs  &> output.txt` and see the error at the top of the file. It looks like the size of the error message was due to how many were generated while rolling up Node dependencies:
[code]

Closing this, error messages were just cut off by the long output.

[2020-08-01 20:41] ScriptedAlchemy commented on #10352
@sokra - potential share scope issue: https://github.com/webpack/webpack/issues/11256

[2020-08-01 20:51] ScriptedAlchemy commented on #11256
![image](https://user-images.githubusercontent.com/25274700/89110269-f17e6300-d3fd-11ea-8666-906c4ceb0cc3.png)

from
[code]

[2020-08-02 04:25] sokra commented on #11256
The host is not sharing `reactNew` here, because it never uses it. It would need to `import "reactNew"` to actually use this version and share it.

As sharing is optional and independent for each build, it's only done when really using the package.

That the host doesn't share `reactNew` doesn't prevent the containers to share it. Actually there would be no benefit when the host shares it except w

[2020-08-02 04:29] sokra commented on #11255
That's and webpack-cli 3 version in-compatiblity with webpack 5. I think the webpack-cli beta has this fixed.

But I think it would be still great to fix it in the stable version.

[2020-08-03 03:51] gkjohnson commented on #11127
I've created PR #11258 to help address this.

Unfortunately I don't believe it's possible to polyfill this so simply such that it matches the spec. It may be possible considering webpack is getting `currentScript` immediately, though, and doesn't rely on it being `null` in async calls. Here are a couple possible polyfills for IE but I haven't tested the robustness of them:

https://github.com/amil

[2020-08-03 04:15] snitin315 commented on #11215
@sokra makes sense, How should I go ahead in Implementing this feature?

[2020-08-03 07:44] sokra commented on #4913
webpack 5 has added a lot improvements for long term caching.
It now produces output files in a deterministic way, so that changes to on part of the application are very unlikely to affect another part of the application. Module and Chunk Ids use determinstic numeric ids (which is a good tradeoff between size, caching and not exposing internals). Exports are mangled in a determinstic way using 1-3

[2020-08-03 07:45] #4913 closed

[2020-08-03 09:02] rramaa commented on #11203
Thanks @sokra !
Webpack rebuild's the project on changes to `node_modules`, but it logs that no changes were found.

I was able to fix this behavior, by setting `cache.managedPaths = []`.

However, I was not able to find this in the migration guide. It was more of a hit and trial. It would be helpful if this was included in the guide

[2020-08-03 10:54] evilebottnawi commented on #11203
What do you mean?

[2020-08-03 11:20] evilebottnawi commented on #10820
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-08-03 11:20] #10820 closed

[2020-08-03 11:31] thundernet8 commented on #9020
Check whether u has used a `require` syntax to import a dynamic module in your code
e.g
[code]

[2020-08-03 11:41] MathiasKandelborg commented on #9802
Webpack handles output, specifically the html entities e.g &lpar; and shows each sign instead of ) - this is even weirder because using html code e.g. &#40; (&lpar;equivalent) is still working alongside html entity &apos; (commonly known html entity being properly parsed makes me think this change is very manual)

This is from usage with NextJS v9.5.1 having `webpack 5.0.0-beta.23` enabled.

I'm u

[2020-08-03 11:48] evilebottnawi commented on #9802
@MathiasKandelborg Can you clarify?

[2020-08-03 11:50] rramaa commented on #11203
<img width="314" alt="Screenshot 2020-08-03 at 5 16 05 PM" src="https://user-images.githubusercontent.com/16651792/89179367-31d01380-d5ad-11ea-89bc-3385a6dcc205.png">

This is the exact log which I am getting on updating a `node_module`.

On adding `cache.managedPaths = []`, everything works and updates as expected.

I am using `webpack-dev-server@3.11.0`

[2020-08-03 12:27] evilebottnawi commented on #11203
Because nothing to change?

[2020-08-03 12:37] MathiasKandelborg commented on #9802
@evilebottnawi I'm not sure what you want clarified.

NextJS is a react framework using Webpack as the file bundler.

In NextJS v9.5.1, the team announces [the move to Webpack 5](https://nextjs.org/blog/next-9-5#webpack-5-support-beta) and encourages people to try it out.

While using NextJS v9.5.1 without Webpack 5, I made a [custom error page](https://nextjs.org/docs/advanced-features/custom-err

[2020-08-03 12:42] rramaa commented on #11203
Nope

The change I made was not something that would not affect the final output of the code(It was a logical change).
Webpack gave the above mentioned log and did not update the code(even after reloading the browser)

However, after adding this line(`cache.managedPaths = []`) and making the same change, webpack detected the change and the hot update worked as well

[2020-08-03 12:47] jquense commented on #11074
@sokra any chance you get, can you confirm if the difference in pitch behavior is intended here and if it can be worked around?

This approach won't work if the inline `!=!` if the pitch phase doesn't behave the same way as a loader specified the normal way

[2020-08-03 13:25] rramaa commented on #11203
This issue is reproducible. I have created a minimum reproducible example [here](https://github.com/rramaa/minimal-webpack-issue-reproduction).

Steps to setup:
1. `yarn`
2. `yarn start`
3. Navigate to  [http://localhost:8080/](http://localhost:8080/)

Expected output => `["extract","parse","stringify","parseUrl","stringifyUrl"]`

Steps to reproduce:
1. Make changes to `node_modules/query-string/i

[2020-08-03 16:25] evilebottnawi commented on #9802
Not related to webpack it self, better open an issue in `NextJS` repo, we don't touch your HTML content

[2020-08-03 16:28] MathiasKandelborg commented on #9802
That's what I was hoping for! I have been looking in the source code and haven't found anything of the sorts, so I've come to just about the same conclusion. Thanks for looking into it.

[2020-08-03 17:51] isaiahtaylorhh opened #11262 "Adding "exclude" to oneOf loaders adds minutes to build time"
# Bug report

**What is the current behavior?**

[code]
Adding the `exclude` block with `/node_modules/` in it adds several minutes to the build time or simply runs out of memory.

**If the current behavior is a bug, please provide the steps to reproduce.**

Add this exclude block to webpack config.

**What is the expected behavior?**

`node_modules` should be excluded from this loader without sev

[2020-08-03 18:35] sokra commented on #11262
As this is a oneOf block, when this rule doesn't match the next one is executed, which is probably expensive

[2020-08-03 18:35] alixander commented on #6615
In case anyone finds this in the future and doesn't want to upgrade to Webpack 5, the solution I used is to just define an entry point that asynchronously loads the actual entry point. This makes the initial chunk ~empty and introduces another roundtrip for the initial page load, but if you're using webassembly in the initial page load anyway, there's no difference between doing this and asynchron

[2020-08-03 18:36] #11247 closed

[2020-08-03 19:06] madilraza opened #11263 "vscode rendering issue"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-08-03 20:06] amalitsky commented on #10889
@evilebottnawi, as far as I know angular version is tightly bound with particular TS version, i.e. the most recent angular version 10 is supposed to be used with TS 3.9.7. Hence we can't simply update TS to 4.x.

I.e [ngtools/webpack package.json file](https://github.com/angular/angular-cli/blob/master/packages/ngtools/webpack/package.json#L31).

[2020-08-03 21:06] doox911 opened #11266 "The class name disappears"
Why does the class name disappear during production product build?

My packege:
https://github.com/doox911/inspector

https://stackoverflow.com/questions/63129448/class-module-is-not-exported

[2020-08-03 21:24] sokra commented on #11266
It's calling "minimizing".

It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue

[2020-08-03 21:24] #11266 closed

[2020-08-03 21:26] sokra commented on #10889
@amalitsky Are you using the latest webpack version?

[2020-08-03 21:33] sokra commented on #11203
webpack assumes you don't make any manual changes to any file in `cache.managedPaths` (`node_modules` by default).
This is a performance optimization and works in pratice where you use `npm` or `yarn` to install packages in node_modules.

There is a note in the changelog: https://github.com/webpack/changelog-v5#persistent-caching

So this is working as expected.

[2020-08-03 21:41] sokra commented on #11074
I would say that's intended. You can short-circur the chain, but you still have to return CSS.

It looks like you just want to replace your loader with `css-loader!some-loader`. In the pitch phase you can modify the loader chain and insert/remove loaders. So for the above case you may want to insert `css-loader` and `some-loader` after your loader.
Not sure exactly what you want to do. Usually loa

[2020-08-03 21:43] amalitsky commented on #10889
@sokra, we are on 4.42 right now and bumping it to 4.44 didn't change much.

[2020-08-03 23:38] logicbomb421 opened #11268 "EvalSourceMapDevToolPlugin filename option is ignored"
# Bug report

**What is the current behavior?**

I am attempting to use `webpack.EvalSourceMapDevToolPlugin` with the `filename` option (per [the docs](https://webpack.js.org/plugins/eval-source-map-dev-tool-plugin/)) to generate standalone source maps for a build artifact tool, but it appears the `filename` option is ignored, and all source maps are inlined with the generated bundles.

**If the c

[2020-08-04 00:51] mattcompiles opened #11269 "compilation.rebuildModule broken in webpack 5"
# Bug report

**What is the current behaviour?**

`compilation.rebuildModule` is broken since the breaking changes introduced in webpack 5 alpha. The source of the issue is the `removeReasonsOfDependencyBlock` function called inside `_rebuildModule`.

`removeReasonsOfDependencyBlock` calls the removed Module API `Module.removeReason` to clean up the old dependencies of the rebuilt module. This cau

[2020-08-04 01:48] mpeyper commented on #9802
Not sure if you want it here or in a new issue (happy to raise one if you want), but I've been trying out the module federation feature in the v5 beta (`5.0.0-beta.22`) and having an issue with shared packages with `strictVersion: false` set.

It seems to not be using the a newer version provided by other remotes, even it it is semver compatible (which is my understanding of what that option is su

[2020-08-04 05:51] rramaa commented on #11203
Got it
Must have missed it...I was actually having the original issue when symlinking packages.

Thanks!

[2020-08-04 05:54] brendonco commented on #10352
@sokra - shared library issue. using beta20. Havent tested in beta22 whether this is fixed.

1. Entry point container with "x library" version 1.0
2.  App2 with "x library" version 1.1.

[2020-08-04 06:41] ckken opened #11272 "Uncaught (in promise) Error: Cannot find module './dev'"
# Bug report

[code]
throw error `Uncaught (in promise) Error: Cannot find module './dev'`

and webpack 5.0.0-beta 22 is worked!

**Other relevant information:**
webpack version:  5.0.0-beta 23
Node.js version: v12.13
Operating System:
Additional tools:

[2020-08-04 06:48] sokra commented on #11203
Symlinked packages are excluded from this as their resolved path is outside of node_modules (except when you disable symlink handling with `resolve.symlinks: false`, which shouldn't be done).

So there shouldn't be a caching issue with these.

[2020-08-04 09:44] evilebottnawi commented on #11269
Yep, let's fix it

[2020-08-04 09:46] evilebottnawi commented on #11263
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-04 09:46] #11263 closed

[2020-08-04 09:49] evilebottnawi commented on #11268
`EvalDevToolModulePlugin` never have `filename` option https://github.com/webpack/webpack/blob/master/lib/EvalDevToolModulePlugin.js, we need fix docs

[2020-08-04 09:55] evilebottnawi commented on #11262
What is use case using `oneOf`?

[2020-08-04 10:02] evilebottnawi commented on #11272
It is expected and described https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import, it is limitation

[2020-08-04 10:02] #11272 closed

[2020-08-04 10:06] evilebottnawi commented on #10889
@amalitsky Do you use mini-css-extract-plugin? Can you try master branch?

[2020-08-04 10:49] meskill commented on #9802
Some packages may require optional dependencies which may not be installed by the end user.
But Webpack 5 now raises an error in `production` node when required package do not exist at build time:

[code]

<details>
<summary>Error</summary>

[code]

</details>

It works just fine for webpack 4

Tested version:
[code]

[2020-08-04 11:44] evilebottnawi commented on #9802
@meskill you need to install peer deps manually, it is out of scope webpack

[2020-08-04 11:49] meskill commented on #9802
It is totally ok to leave package uninstalled, that's why I gave an example with require inside try-catch block. For webpack 4 that was just a warning and succeeded build, but in webpack 5 it generates an error that leads to failed build.

[2020-08-04 11:56] evilebottnawi commented on #9802
@meskill you can use `alias` for this case with the `false` value, it is just create empty module

[2020-08-04 12:26] meskill commented on #9802
is there any way to do it automatically or suppress error at all? We're building a tool to create apps and we cannot just set alias for every package.

[2020-08-04 12:29] evilebottnawi commented on #9802
@meskill no, it is unsafe do it automatically, we don't know it is good to skip module or not

[2020-08-04 14:03] ckken commented on #11272
but webpack 5.0.0-beta 22 is worked!

[2020-08-04 14:15] evilebottnawi commented on #11272
I think it was bug with side effect, we can't analyze runtime variable

[2020-08-04 15:31] sokra commented on #11262
It only matches **one of** the listed rules. The first one the matches successfully.

It's useful for catch all rules that catch all remaining cases.

Example:

[code]

[2020-08-04 15:33] sokra commented on #9802
It should be a warning when used inside of try.

[2020-08-04 15:34] atilkan opened #11273 "initialize hook is undefined"
**Do you want to request a *feature* or report a *bug*?**
 *bug*

**What is the current behavior?**
initialize hook is undefined. https://webpack.js.org/api/compiler-hooks/#initialize

**If the current behavior is a bug, please provide the steps to reproduce.**
I can tap any other hooks but initialize.

[code]

**What is the expected behavior?**
return initialization information.

**If this is a f

[2020-08-04 15:36] sokra commented on #11272
It's a bug. It's already fixed but not yet released.

[2020-08-04 15:37] sokra commented on #11273
Missing!

Probably webpack 4, but this is a webpack 5 hook...

It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue t

[2020-08-04 15:37] #11273 closed

[2020-08-04 16:03] atilkan commented on #11273
Webpack 5 beta but when i go to documentation it is 5 by default. So i need to read little note somewhere on the huge page.

[2020-08-04 17:32] amalitsky commented on #10889
@evilebottnawi, we do indeed use _mini-css-extract-plugin_. We will try to use webpack 5.x but that might take some time.

What I've noticed with _index.ts_ files affected is handling of _xxx.types.ts_ imports has changed. In the past if _xxx.types.ts_ was exporting nothing but TS types _index.ts_ importing that types file would get `import * from './xxx.types.ts';` line dropped on some point. Not

[2020-08-04 17:41] evilebottnawi commented on #10889
Can you try to add `export {}`?

[2020-08-04 17:46] amalitsky commented on #10889
@evilebottnawi, I tried exporting random `const` and it fixed the issue with particular _index.ts_ file. I'll try `export {}` and update this comment.

[2020-08-04 20:15] strass commented on #6571
I agree that this is a cruel trap and that it should at least be consistent between dev and prod

[2020-08-04 23:33] Birch-san opened #11277 "[Webpack 5] (minimal repro included!) __webpack_modules__[moduleId] is undefined"
# Bug report

**What is the current behavior?**

`__webpack_require__` goes bang attempting to import a library local to our project (i.e. a sibling package in the same lerna monorepo).

We did not experience this problem in webpack 4.25.1, but we do experience the problem in webpack 5.0.0-beta.23.

Depending on how modern your browser is, you will encounter one of the following error messages:

[

[2020-08-05 06:31] l5oo00 opened #11279 "[Webpack 5] Why remove the id of runtime chunk from the entriesPart in JsonpTemplatePlugin"
# Bug report

Why remove the id of runtime chunk from the entriesPart in [JsonpTemplatePlugin](https://github.com/webpack/webpack/commit/8ca593e71828f36e582c38b3c6e83234907a003c#diff-ffb5b0d25c4855ca48e315d496203852R95)

**What is the current behavior?**

- `./dist/runtime.js`

[code]

- `./dist/main.js`

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- `./sr

[2020-08-05 08:26] sokra commented on #11279
That was not intended, it's a bug. Do you want to send a PR?

[2020-08-05 11:36] l5oo00 commented on #11279
ok, let me have a try.

[2020-08-05 16:40] isaiahtaylorhh commented on #11262
It makes sense that it's a little bit expensive, but this will go on for 5 or more minutes. Some patterns never complete.

[2020-08-05 16:45] sokra commented on #11262
It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-08-05 17:08] hanford opened #11282 "[Webpack 5] Automatic Node.js Polyfills Removed"
Hello Webpack team!

First of all, **huge** thank you to everything that Webpack has become. I've been happily using webpack for 5 or 6 years now and it's critical software for me.

I'm super excited about Webpack 5 (Especially Filesystem cache & Module Federation). I noticed that the nodejs polyfills are removed which a few my projects rely on, that's totally cool ... but I'm not sure what the be

[2020-08-05 17:13] evilebottnawi commented on #11282
Here docs https://github.com/webpack/changelog-v5#automatic-nodejs-polyfills-removed

Plus you can use `alias` for this https://webpack.js.org/configuration/resolve/#resolvealias

[2020-08-05 17:16] amaschas commented on #9319
I think that's really the issue, that I have to inject the value of `__webpack_public_path__` into each script. In the previous version of Webpack, I could set it once and it would be set everywhere.

[2020-08-05 17:23] evilebottnawi commented on #9319
@amaschas but `__webpack_public_path__` can be difference for each entry point

[2020-08-05 18:31] dasa opened #11283 "Reference to variable declared in switch case is incorrectly replaced with module reference when it shadows the import"
# Bug report

**What is the current behavior?**

This bug is similar to #9055, but happens for variables declared inside switch cases when the case isn't a single block.

**If the current behavior is a bug, please provide the steps to reproduce.**

`a.js`: `export default 1;`

index.js`:

[code]

Bundled code snippet in `none` mode:

[code]

**What is the expected behavior?**

case 1 log should be

[2020-08-05 20:17] krishnaTORQUE opened #11284 "Crash after update"
It was working until I update to latest version

No issue in development server

Once I build the project getting this issue

SyntaxError: missing } after property list
note: { opened at line 1, column 1998

ChunkLoadError: Loading chunk 1 failed
/static/js/1.75c86cba.chunk.js

[2020-08-05 21:29] MehbubRashid commented on #10003
@sokra can you please explain what do you mean by dont bundle a library?then what is webpack used for?i am confused.i am building a libray and i want users to be able to use require/import/browser any of these.

[2020-08-05 21:45] hanford commented on #11282
Thanks!

[2020-08-06 02:02] sokra commented on #11284
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-08-06 04:22] LysKing opened #11286 "Consultation about chunkId and contenthash"
Hello, I want to ask a question, if the output filename is configured and Contenthash is added, when is the hash value generated during the compilation and build of WebPack? Will the hash values be recalculated from the contents of module and Chunk during the build process? If I extract the common module in the mode of 'initial' with splitchunks, when is the common chunkId generated? Looking forwa

[2020-08-06 05:02] simkessy opened #11287 "Loading all chunks in development mode"
When webpack is in development mode, it loads all the chunks in my page as opposed only those needed in development. This is extremely slow on a large site, we're loading multiple mb's per refresh and overload load is 3 minutes.

![image](https://user-images.githubusercontent.com/5871660/89492801-48ba6580-d767-11ea-8fc0-9c3f64f22ecc.png)

[2020-08-06 08:17] mihaisavezi commented on #10352
Question here regarding the `shared` property. in the precursor to this, the API was 'provideExternals'(in the host) and 'useExternals'(in the consumer). I couldn't make it to work with webpack's externals, [array syntax].
(https://webpack.js.org/configuration/externals/#combining-syntaxes), like this:

[code]

[2020-08-06 09:42] #11279 closed

[2020-08-06 10:15] sokra commented on #11287
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-08-06 10:15] #11287 closed

[2020-08-06 10:22] peni4142 opened #11289 "Installing wepack fails"
# Bug report

**What is the current behavior?**

`npm i webpack` fails

Error message:
[code]

Log:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a new project, so execute `npm init` in an empty dir. Submit everything. Execute `npm i webpack`

**What is the expected behavior?**
Installing webpack

**Other relevant information:**
webpack version:
Node.

[2020-08-06 10:25] evilebottnawi commented on #11289
Please report it to `npm` repo

[2020-08-06 10:34] evilebottnawi commented on #10003
@MehbubRashid Problem was in the `libraryTarget` option, you can build library

[2020-08-06 10:37] #11284 closed

[2020-08-06 10:40] andriibodryi commented on #11289
the same issue

[2020-08-06 10:43] mark51-dev commented on #8795
"npm login" helped me
but you need to sign up on npm site

[2020-08-06 10:45] evilebottnawi commented on #11283
Thanks

[2020-08-06 10:46] evilebottnawi commented on #11289
Something wrong on npm side, how we should fix it?

[2020-08-06 10:46] evilebottnawi commented on #11289
/cc @xtuc

[2020-08-06 10:49] evilebottnawi commented on #11286
Please use stackoverflow for questions, you can safely use `contenthash`, don't understand you

[2020-08-06 10:49] #11286 closed

[2020-08-06 10:54] evilebottnawi commented on #11289
Let's reopen to avoid new issues, problem on npm side https://status.npmjs.org/

[2020-08-06 10:57] xtuc commented on #11289
I also have an issue on my repo: https://github.com/xtuc/webassemblyjs/issues/462#issuecomment-669859084. This is due to the ongoing npm incident, not sure what we can do about that.

[2020-08-06 10:59] arminhupka commented on #11289
Problem is with xtuc long.

[2020-08-06 11:02] evilebottnawi commented on #11289
Problem on npm side, please read https://status.npmjs.org/

[2020-08-06 11:22] evilebottnawi commented on #11240
Let's close in favor https://github.com/webpack/webpack-dev-server/issues/2692, sorry for the inconvenience

[2020-08-06 11:22] #11240 closed

[2020-08-06 14:56] evilebottnawi commented on #11289
Fixed

[2020-08-06 14:56] #11289 closed

[2020-08-06 15:40] hanford commented on #11282
Also came across this!

https://medium.com/@sanchit3b/how-to-polyfill-node-core-modules-in-webpack-5-905c1f5504a0

[2020-08-06 20:09] abhchand opened #11291 "[Webpack 5] TypeError when generating hotUpdatedFunction"
# Bug report

**What is the current behavior?**

When using hot reloading, Webpack generates a `hot-update` file for each entry point. Example, I have a general entry point named "application", which generates `http://localhost:3035/packs/application.b7d676d2aa4e2eaad563.hot-update.js`

On Webpack 5, it generates the following file (`avalanche` is the `name` of my application, as defined in `packa

[2020-08-06 22:10] hsablonniere commented on #6719
@evilebottnawi fair enough 😉

[2020-08-06 23:03] kirill-konshin opened #11293 "Cache failed with Yarn 2 PNP"
# Bug report

**What is the current behavior?**

[code]

The contents of the folder are as follows:

![image](https://user-images.githubusercontent.com/1530410/89591188-6a1a6080-d7fe-11ea-8d95-a2e0613b2cd7.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

Have `typescript` unplugged in repository with Yarn 2 with PNP enabled, then just build.

**What is the expect

[2020-08-06 23:27] meszaros-lajos-gyorgy commented on #4991
So it's been over 3 years now since the first report. Any update on this?

[2020-08-07 01:03] marcins commented on #9802
I've spent the last week or so evaluating how Webpack 5 will work with our codebase, and while I have gotten it working (with some of our plugins / config disabled) we are seeing generally lower performance than with Webpack 4.

**What is the current behavior?**

With the latest Webpack 5 beta (24 at the time of writing) we're seeing performance regressions in our dev server setup compared to Webp

[2020-08-07 07:40] cfbo commented on #1189
Having the same issue. Not sure why this was closed like that! :raised_eyebrow:

[2020-08-07 07:42] mihaisavezi commented on #10352
Update:

Have you tried just sharing it and not exposing it ?

[code]

If you have multiple exports in that entry file you'll likely get the error
```ERROR in Conflict: Multiple assets emit different content to the same filename``` but it does work, at least in the poc I made

[2020-08-07 08:33] vankop commented on #7992
bump

[2020-08-07 08:34] sokra commented on #9802
@maraisr Thanks for testing webpack 5 and the interesting results.

40s incremental build time is definitely unacceptable.

A little note about the fs cache. It's layered below the memory cache. So if you enable fs cache, the initial build will copy all used cache entries into the memory cache on read and incremental build will run (in most cases) of the memory cache.

That's pretty huge^^ It take

[2020-08-07 08:47] marcins commented on #9802
@sokra thanks for the thorough feedback. I will have a more detailed look at this next week (Friday evening here already!) and see what I can apply.

The hacky watching was to workaround the Watchpack watcher limit bug by implementing my own watcher plugin with a recursive top level watch - but I may have missed some of the subtleties of what info is provided in the initial change events. I'll try

[2020-08-07 09:02] sokra commented on #9802
There also seem to be something else wrong here. I looked at your logs and your files have a content hash anyway. webpack should never write files with a contenthash if they already exist.

Maybe the memory filesystem doesn't implement `stat` correctly and this causes that problem. I wonder which webpack-dev-server version you are using. From the profile it seems like it's using `memory-fs`, but I

[2020-08-07 09:55] sokra commented on #4991
The persistent cache in webpack 5 is basically that. Instead of compiling all modules it restores them from the cache, only builds changes and watches the files.

[2020-08-07 09:56] sokra commented on #7992
What's open here? To me it seems like everything is done towards this issue

[2020-08-07 09:57] evilebottnawi commented on #11293
How you create `typescript-patch-ba0dbfd217`? Structure it strange

[2020-08-07 10:00] vankop commented on #7992
Auto-bump..

[2020-08-07 10:00] #7992 closed

[2020-08-07 10:14] evilebottnawi commented on #11291
Please create reproducible test repo

[2020-08-07 13:45] alshdavid commented on #4991
How would this impact developers running several webpack instances, where the output of one is required as an input for the other?

[2020-08-07 14:01] evilebottnawi commented on #4991
@alshdavid It is side of your code, you need run first compilation, then run second, you can run them in the same time

[2020-08-07 17:11] kirill-konshin commented on #11293
This is how Yarn 2 handles packages in PNP mode.

[2020-08-07 17:24] #11186 closed

[2020-08-07 17:24] #10227 closed

[2020-08-07 17:30] #11197 closed

[2020-08-07 20:23] meszaros-lajos-gyorgy commented on #4991
My personal reason why I would love to have this feature is that in my current project I run the hosting and the building of the code parallel and cannot make the hosting wait for the first build to happen. So currently the hosting script will start running the old code, then do a live reload after a few seconds when webpack is done with the initial build. I would love to change this to only start

[2020-08-07 23:19] rjb3977 opened #11296 "./src/index.js overrides entry points specified in config"
# Bug report

**What is the current behavior?**
If `./src/index.js` is present, no other entry points are processed.

**If the current behavior is a bug, please provide the steps to reproduce.**

Use the following `webpack.config.js`:
[code]

Make two (potentially empty) files, `./src/index.js`, and `./src/asdf.js`. Run `npx webpack`, and observe that only one entry point is processed, named `main

[2020-08-08 06:34] anshumanv commented on #11296
This seems to be a bug in CLI, I've added a test for it here - https://github.com/webpack/webpack-cli/pull/1718

Should be fine in next release, /cc @evilebottnawi

[2020-08-08 09:06] #11283 closed

[2020-08-08 09:32] sokra commented on #11277
This seem to be related to the `eval` devtool. webpack can't rewrite `__webpack_require__` inside of `eval` calls. We might only need to rewrite `__webpack_require__` when really needed, but to be honest you shouldn't nested webpack bundles anyway.

[2020-08-08 17:14] #11296 closed

[2020-08-08 17:51] #4676 closed

[2020-08-08 18:37] Birch-san commented on #11277
@sokra thanks for taking the time to have a look at this issue.

does that mean that webpack 5 no longer supports importing libraries made by webpack? this same example works in webpack 4.

[2020-08-08 18:39] #9936 closed

[2020-08-08 20:02] #8355 closed

[2020-08-08 20:08] vankop commented on #7975
implemented in https://github.com/webpack/webpack/releases/tag/v5.0.0-beta.23
`add Rule.descriptionData to allow matching data from the package.json`

[2020-08-08 20:08] #7975 closed

[2020-08-09 11:16] timneutkens commented on #7975
I saw, awesome work 🎉

[2020-08-09 11:19] sokra commented on #11277
We support it but it's not recommended

[2020-08-09 12:04] sokra commented on #8952
Yes. We also have better names for the automatic indents in webpack 5.

[2020-08-09 12:04] #8952 closed

[2020-08-09 13:30] Birch-san commented on #11277
@sokra Ah, okay. 🙂 Then, what's the preferred way to distribute a library (to be compatible with webpack)? Just publish the original source code to npm? Or, should we minify+uglify it? Should we export it as ES modules or something?

[2020-08-09 14:47] vankop commented on #2134
webpack does not know anything about package version, it is about bundling files..

closing because it's stale issue.

[2020-08-09 14:47] #2134 closed

[2020-08-09 14:51] vankop commented on #2148
should work with `webpack@latest` (probably you need `target=node`) . Feel free to report issue with reproducible repo, if not.

[2020-08-09 14:51] #2148 closed

[2020-08-09 14:53] vankop commented on #2280
Closing because of inactivity

[2020-08-09 14:53] #2280 closed

[2020-08-09 14:54] vankop commented on #1747
Answer above https://github.com/webpack/webpack/issues/1747#issuecomment-164561113

Closing because of inactivity

[2020-08-09 14:54] #1747 closed

[2020-08-09 14:56] vankop commented on #1643
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 14:56] #1643 closed

[2020-08-09 15:05] vankop commented on #783
`hidden-source-map` could help here.
Closing because of inactivity

[2020-08-09 15:11] vankop commented on #2908
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:11] #2908 closed

[2020-08-09 15:15] vankop commented on #5242
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:15] #5242 closed

[2020-08-09 15:20] vankop commented on #4897
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:20] #4897 closed

[2020-08-09 15:29] vankop commented on #1399
Closing because of inactivity. Feel free to report new issue with reproducible repo.

[2020-08-09 15:29] #1399 closed

[2020-08-09 15:31] vankop commented on #1472
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:31] #1472 closed

[2020-08-09 15:34] vankop commented on #2287
Should work with `webpack@latest`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:34] #2287 closed

[2020-08-09 15:38] vankop commented on #2772
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 15:38] #2772 closed

[2020-08-09 15:46] vankop commented on #5271
Could you try it with `webpack@next`?

[2020-08-09 15:54] vankop commented on #3377
Should work with `webpack@latest` (see https://webpack.js.org/configuration/resolve/#resolvesymlinks). Feel free to report new issue with reproducible repo.

[2020-08-09 15:54] #3377 closed

[2020-08-09 16:04] vankop commented on #5191
Should work with `webpack@next` (mode=production). Feel free to report new issue with reproducible repo.

[2020-08-09 16:04] #5191 closed

[2020-08-09 16:08] mifopen commented on #4589
It is definitely a bug and shouldn't be closed. So, bump =)

[2020-08-09 16:08] vankop commented on #5087
Could you try with `webpack@next`?

[2020-08-09 16:13] vankop commented on #4812
Closing because of inactivity. Feel free to report new issue with reproducible repo.

[2020-08-09 16:13] #4812 closed

[2020-08-09 16:14] vankop commented on #5910
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 16:14] #5910 closed

[2020-08-09 16:24] vankop commented on #5593
duplicate of https://github.com/webpack/webpack/issues/985

[2020-08-09 16:24] #5593 closed

[2020-08-09 16:24] justingrant commented on #3603
Not stale

[2020-08-09 16:24] vankop commented on #5422
Closing because of inactivity. Feel free to report new issue with reproducible repo.

[2020-08-09 16:24] #5422 closed

[2020-08-09 16:31] vankop commented on #6262
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 16:31] #6262 closed

[2020-08-09 16:34] vankop commented on #7515
Closing because of inactivity. Feel free to report new issue with reproducible repo.

[2020-08-09 16:34] #7515 closed

[2020-08-09 16:39] vankop commented on #7045
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 16:39] #7045 closed

[2020-08-09 16:42] vankop commented on #8010
duplicate of https://github.com/webpack/webpack/issues/2933

[2020-08-09 16:42] #8010 closed

[2020-08-09 16:49] vankop commented on #8024
I think flag is clarified https://webpack.js.org/guides/tree-shaking/#clarifying-tree-shaking-and-sideeffects . Feel free to open issue in https://github.com/webpack/webpack.js.org , if you think it does not.

[2020-08-09 16:49] #8024 closed

[2020-08-09 16:54] vankop commented on #7782
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 17:01] vankop commented on #4453
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 17:01] #4453 closed

[2020-08-09 17:05] vankop commented on #9739
duplicate of https://github.com/webpack/webpack/issues/985

[2020-08-09 17:05] #9739 closed

[2020-08-09 17:14] vankop commented on #8886
duplicate of https://github.com/webpack/webpack/issues/985

[2020-08-09 17:14] #8886 closed

[2020-08-09 17:17] vankop commented on #8951
Should work with `webpack@next`. Feel free to report new issue with reproducible repo.

[2020-08-09 17:17] #8951 closed

[2020-08-09 17:49] tsharp commented on #2280
Can the comment please be addressed before closing this issue due to inactivity. It's inactive because of no comment's from the devs ;)

[2020-08-09 17:51] vankop commented on #2280
There is answer https://github.com/webpack/webpack/issues/2280#issuecomment-208084142 , but it is out of date since latest version is `webpack@4`

[2020-08-09 18:24] sokra commented on #7782
This one is not fixed as it's related to multiple async imports instead of entrypoints.

[2020-08-09 18:33] sokra commented on #11277
Raw source if JavaScript in stage >= 4.
Transpiled source if Typescript or any other language.
There is no specced solution for styles yet, but all tools understand importing css. Transpile it to css if in a different language.
Best publish a ESM, but CommonJs is fine too. To usage in node.js publish both.
You can bundle as ESM e. g. via rollup but this breaks/hinders some optimizations like sideE

[2020-08-09 19:31] vankop commented on #7782
Ah, sorry..

[2020-08-09 19:35] ryan-roemer commented on #4453
@vankop -- Yay! 🎉

I upgraded from beta 22 to 24 in https://github.com/FormidableLabs/webpack-tree-shaking-multiple-entry-points/tree/chore/webpack5

[code]

and **finally** had the comparison tests pass (for array of configs which always worked vs single configs which never did until now):

[code]

Thanks!

[2020-08-09 21:32] danoc commented on #4453
So happy to hear this. Thanks!

[2020-08-09 23:01] #10777 closed

[2020-08-10 00:28] marcins commented on #9802
Just a quick update, I haven't had a chance to apply everything yet but a quick test with the memory cache and these changes:
* disabling all our plugins to try and avoid `source` pollution - this brought the incremental build time back to ~20s
* re-enabling the `unsafeCache` - this takes it down to ~15-16s

I'll need to start re-enabling config to identify the culprit that's causing the source in

[2020-08-10 02:13] itmayziii commented on #6094
@evilebottnawi

I can't reproduce this issue when creating my own Webpack configuration. The only time I can get a consistent reproduction is when using Gatsby with loadable components which will give "WebpackError: TypeError: Cannot read property 'call' of undefined." I've been trying to reverse engineer their webpack config to solve this but I've been unsuccessful.

I created a [minimal reposito

[2020-08-10 04:38] AndyOGo commented on #9739
@vankop This is not about linked NPM modules. This is about different module versions. Is it really a duplicate?

[2020-08-10 05:28] vankop commented on #9739
yes, title is misleading.. but this is all about bundling duplicate packages.
Also https://github.com/webpack/webpack/issues/8886 https://github.com/webpack/webpack/issues/5593

[2020-08-10 08:09] Birch-san commented on #11277
thanks very much for the detailed response. 🙂 then, you would recommend rollup rather than webpack for making libraries?

[2020-08-10 09:16] ROME12345 opened #11300 "[rules.issuer]: unknown property 'test'"
Hi,

i get the error "configuration.module.rules[0].issuer.not[0] has an unknown property 'test'. These properties are valid: object { and?, not?, or? }"

`module:
		rules: [
			{
				test: /\.css$/i,
				issuer: {
					not: [{
							test: /\.html$/i
						}]
				},
				use: [{
					loader: MiniCssExtractPlugin.loader
				},
					'css-loader'
				]
			}]}`

I cannot find any place in the document

[2020-08-10 09:54] dassio opened #11301 "Firefox source map not displayed correctly"
# Bug report

**What is the current behavior?**
when debuging an vuejs project with firefox , the genereate source map is not dispalyed correctly. on chrome it is Ok

i have two generated bundle: `main.js` `chunk-verndor.js` and two source map: `main.js.map`, `chunk-vendor.js.map`

this is the screen shot for firefox :
![Screenshot from 2020-08-10 10-37-04](https://user-images.githubusercontent.co

[2020-08-10 10:23] evilebottnawi commented on #11277
@Birch-san There is no better or worse tool here, it all depends on what you want to do.

[2020-08-10 10:38] evilebottnawi commented on #11300
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

It was removed from webpack@5, please open an issue in https://github.com/webpack/changelog-v5 repo, we will update c

[2020-08-10 10:42] evilebottnawi commented on #11301
Duplicate of #1194, please provide minimum reproducible test repo in #1194 issue and we will create new issue in firefox bug tracker

[2020-08-10 10:42] #11301 closed

[2020-08-10 10:43] evilebottnawi commented on #8010
@vankop not sure it is fully duplicate, because this issue about ES modules bundle output without library building, #2933 for library, but I agree, let's track ES module syntax for output in the one issue

[2020-08-10 10:49] evilebottnawi commented on #10862
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-08-10 10:49] #10862 closed

[2020-08-10 11:08] evilebottnawi commented on #6133
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

Sorry, we can't help without reproducible test repo

[2020-08-10 11:08] #6133 closed

[2020-08-10 11:10] evilebottnawi commented on #3123
/cc @sokra empty entry points are valid for webpack@5, right?

[2020-08-10 11:12] evilebottnawi commented on #783
@vankop I don't think it is solved...

[2020-08-10 11:17] evilebottnawi commented on #8952
If somebody faced with the issue again, please open a new issue with reproducible test repo, thanks

[2020-08-10 11:38] evilebottnawi commented on #6094
In my TODO

[2020-08-10 11:52] vankop commented on #783
@evilebottnawi regarding *serving* source map files separately - yes, it is not solved, but I don't think that there is any work from webpack core side. `hidden-source-map` is what you looking for (from webpack side)

To serve them in browser (as in common way) you need browser support to loading source maps. I don't know any browser that does it.. To serve them other way you need a tool for that

[2020-08-10 11:54] vankop commented on #783
for mapping stack trace, unfortunately, I also don't know any public instrument. I did it as a plugin for [graylog](https://www.graylog.org/) in our company, but it is not public..

[2020-08-10 11:57] evilebottnawi commented on #4991
Is the best solution

[2020-08-10 12:08] evilebottnawi commented on #11293
Let's mark as bug

[2020-08-10 12:13] evilebottnawi commented on #783
@vankop you can setup `sentry` with any logic, for example you can store file with mapping like:
[code]

[2020-08-10 12:17] vankop commented on #783
hm.. cool. I did something similar just automated on build.

Anyway I think it is not related to webpack core.

[2020-08-10 12:32] evilebottnawi commented on #783
The problems is you can put source maps in other directories using source map plugin, but maybe you are right, it is out of scope webpack, anyway I want to hear other opinion here, and maybe we will repopen issue

[2020-08-10 12:33] Rauttis commented on #783
I haven't used webpack for while so I don't know if this still works in newer versions, but I've managed to generate source maps to a different output folder by using a relative path like `../sourcemaps/[name].[chunkhash].js.map` as `sourceMapFilename`.

This of course doesn't help with the issue of serving them, since the source map url webpack adds to the bundle probably doesn't point to the pla

[2020-08-10 13:50] gregbenner commented on #7098
me too

[2020-08-10 14:03] sokra commented on #11300
`not: /\.html$/i`

[2020-08-10 14:03] evilebottnawi commented on #5934
I think it can be solved using `writeFiles`, but let's add tests for this case, keep open

[2020-08-10 14:09] evilebottnawi commented on #11300
Answer above, feel free to feedback

[2020-08-10 14:09] #11300 closed

[2020-08-10 14:37] sokra commented on #6121
semver is out of scope for webpack. The package manager will handle semver and install packages in the correct locations.

[2020-08-10 14:37] #6121 closed

[2020-08-10 14:50] sokra commented on #8826
To close up this issue:

**Do not** try to workaround webpacks parser to create node-only `require()`s!

Do use the `browser` field in package.json to differ between environments. See also @jhnns comment about that: https://github.com/webpack/webpack/issues/8826#issuecomment-469197689

In future you may also use the `exports` field in package.json.

Creating parser hacks has multiple disadvantages

[2020-08-10 14:50] #8826 closed

[2020-08-10 15:01] TangBii opened #11303 "Why is the default value SplitChunks.chunks is "all" instead of "async" in the document?"
# Bug report
![image](https://user-images.githubusercontent.com/51776310/89797319-5e5fce80-db5d-11ea-83f0-822a6b692549.png)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-08-10 15:03] sokra commented on #783
It seems with a few small changes we can allow the `append` option to be a function (similar to other filename related option), so this could be better customized. It's running through `compilation.getPath` anyway, which supports functions.

[2020-08-10 15:05] sokra commented on #1399
This is fixed anyway

[2020-08-10 15:06] sokra commented on #7515
I think this was related to a bug with `extends` in module concatenation, which was fixed. So I guess this is fixed

[2020-08-10 15:06] evilebottnawi commented on #11303
Because we split all chunks by default for better splitting

[2020-08-10 15:06] evilebottnawi commented on #11303
If you want to clarify this please open an issue in webpack docs repo

[2020-08-10 15:07] sokra commented on #9802
As this isn't a breaking change, I think we may do that after webpack 5.0.0 release.

[2020-08-10 15:11] phyllisstein commented on #5910
@vankop 11am Monday and you've already made my week. Thanks so much!

[2020-08-10 15:16] evilebottnawi commented on #9802
@marcins Can you open a new issue for this?

[2020-08-10 15:17] evilebottnawi commented on #783
Let's remove, if somebody interested - feel free to send a PR

[2020-08-10 16:24] evilebottnawi commented on #6094
Reproduced, WIP

[2020-08-10 16:45] z1811021 opened #11304 "website www.webpackjs.com changed to webpack.js.org/ have issue"
# Bug report

**What is the current behavior?**
Right now i am in the Chinese version website when i changed to English version the URL is wrong.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. link to https://www.webpackjs.com/
2. Click English Official website
3. Then URL changed to https://www.webpackjs.com/https://webpack.js.org//
![image](https://user-images.

[2020-08-10 17:07] sokra commented on #3123
No empty entries are not valid. No entries (`entry: {}`) are valid. Plugins could create entries.

[2020-08-10 17:09] sokra commented on #3123
On demand chunks referencing entrypoints are invalid and will lead to errors.

[2020-08-10 17:09] #3123 closed

[2020-08-10 17:12] sokra commented on #11303
Actually the default value is `async`. Is that incorrect in the docs?

[2020-08-10 17:36] evilebottnawi commented on #6094
Without `loadable`, it output, so error don't lie, `nothing` to call :smile: :
[code]

Something wrong with resolving, I think better place for it is `Gatsby` repo, there are a lot of additional stuff from `gatsby`

[2020-08-10 18:01] evilebottnawi commented on #603
Let's close in favor the `externals` option, if you have some problems with `externals` please open a new issue with reproducible test repo, thanks for using webpack

[2020-08-10 18:01] #603 closed

[2020-08-10 18:18] wmertens commented on #8826
@sokra but how to require something at runtime in a bundle that was created by webpack?

[2020-08-10 18:31] evilebottnawi commented on #8826
@wmertens You can bundle something by webpack/other tool, and use `externals`

[2020-08-10 20:18] stevenvachon commented on #9766
I'm getting this error and changing `jsonpFunction` isn't fixing anything.

[2020-08-10 20:36] sokra commented on #6604
fixed in webpack 5. We use `filename` for all initial chunks.

[2020-08-10 20:36] #6604 closed

[2020-08-10 20:44] wojtekmaj commented on #10534
Can I get the old behavior somehow via config? I find the new output a little too hard to read.

[2020-08-10 20:44] sokra commented on #4292
This is working as intended. There is no technical problem with `import(expr)` and this used to work in I think webpack 1 and 2 or so, but we disabled this behavior as this is in 99% not the behavior you want. A fully dynamic expression includes many many modules and blow up your bundle. So we only handle partially dynamic imports by default.

But hey if you want to enable webpack handling unknown

[2020-08-10 20:44] #4292 closed

[2020-08-10 23:17] ramirezcgn opened #11305 "Minification trouble"
Hi, I almost sure this is a configuration issue but I don't know anything more to try, the problem is that the minified code has many "__WEBPACK_IMPORTED_MODULE__" for all the code, eg:

[code]

and I guess it should not, I'm using webpack 4 with babel 7 with this configuration:

[code]

Someone could give me a hand?

Regards

[2020-08-10 23:38] alshdavid commented on #4991
I have been using `wait-on` and `concurrently` in combination with `webpack` to achieve this.

[code]

[2020-08-11 00:19] LeslieOA commented on #1021
&nbsp;

_Just_ incase the above isn't clear enough for anyone who stumbles upon this in the future,
you literally just have to replace:

`const someModule = require('some-module)`

...with:

`const someModule = __non_webpack_require__('some-module)`

[2020-08-11 01:08] satheler commented on #1914
Works for me.

[2020-08-11 02:38] LvChengbin commented on #5427
I encountered the same problem, I moved my project directory because I cannot use network in that os, are there any other ways to fix this issue?

[2020-08-11 02:56] LvChengbin commented on #5427
I just fix it by adding new symbolic link:

[code]

[2020-08-11 06:17] mingyuyuyu commented on #1479
this is still an issue

[2020-08-11 06:57] mpeyper commented on #10352
@brendonco I found an issue with the semver implementation in the runtime builds which was fixed in beta.24 (#11271).  I'd be interested to know if this is fixed for you now?

[2020-08-11 07:43] vankop commented on #9766
@stevenvachon could you provide repro?

[2020-08-11 09:36] meszaros-lajos-gyorgy commented on #4991
My current setup is similar, though I use `npm-run-all` instead of `concurrently`:

[code]

`http-server` is good for serving static files, but it's not enough for me, since I have a rest api + db running in the backend.

As I see `wait-on` relies on watching the directory and waiting for the given file to pop into existence, which requires you to remove previously generated files before starting

[2020-08-11 10:23] evilebottnawi commented on #11305
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-11 10:23] #11305 closed

[2020-08-11 10:37] evilebottnawi commented on #4991
It is good solutions :+1: I don't think it is our side how you will run compilations, because we don't know about it nothing

[2020-08-11 10:51] evilebottnawi commented on #10534
@wojtekmaj Can you provide screen show? We remove table view and switch on previously, but I would like to make sure that we are talking about the same

[2020-08-11 12:58] wojtekmaj commented on #10534
Yes, I'm talking about this...

<img width="1122" alt="obraz" src="https://user-images.githubusercontent.com/5426427/89899835-23a07980-dbe3-11ea-9238-6e62b888c05c.png">

[2020-08-11 13:50] Sly1024 commented on #8824
The default of `resolve.symlinks` is true, so you need to change it to `false`. That worked for me.

[2020-08-11 16:39] hanford commented on #11282
@evilebottnawi So I'm able to load my own Node polyfills and that's working great

I ran into another situation that's pretty interesting, I'm depending on [this library](https://github.com/vfile/vfile/blob/main/core.js#L55) which is using `process.cwd()` as a global (not importing process) ... and so my process mocks aren't loaded

Any ideas on how to solve or mock this use case?

[2020-08-11 16:53] evilebottnawi commented on #11282
You need to open an issue in library for browsing supporting or you can use https://www.npmjs.com/package/process (just put `import 'porcess';`), some libraries can be incompatibility with browsers env, we can't fix it

[2020-08-11 16:55] hanford commented on #11282
Thanks @evilebottnawi I'll move my issue to the other repo

[2020-08-11 16:55] #11282 closed

[2020-08-11 19:41] samelliottdlt opened #11309 "Security advisory for serialize-javascript package"
Hey folks 👋🏽

A security advisory was raised by npm for this serialize-javascript package. More info here: https://www.npmjs.com/advisories/1548

Looks like this package is brought in to our dependency trees by way of terser-webpack-plugin. A fix could be to update and publish to the latest version of terser-webpack-plugin which doesn't depend on a vulnerable version of serialize-javascript.

[2020-08-12 05:27] Herz3h commented on #7094
I'm not sure if it is related to this issue. But in certain parts of my code, this happens for JS files. When using `webpack-dev-server` it is out of order, but when I use `webpack` it is in order.

[2020-08-12 06:13] Hookyns opened #11310 "[Webpack 5] "new.target" is replaced by "Object()""
# Bug report

**What is the current behavior?**
Webpack replace "new.target" by "Object()" which cause error.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]

[code]

------------------------------

TypeScript is transpiled right:
[code]

But output of dist.js is:
[code]

**What is the expected behavior?**
"new.target" should be leaved as is.

**Other

[2020-08-12 07:35] petermetz opened #11311 "webpackIgnore: true is ignored, dynamic import/require still processed"
# Bug report

**What is the current behavior?**

Dynamic require gets parsed that isn't supposed to because I marked it with the `webpackIgnore: true` comment based on what I see here: https://github.com/webpack/webpack/pull/7034/files

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js

[code]

x.js

[code]

x.bundle.js

[code]

**What is the expected

[2020-08-12 09:46] webmaster128 commented on #11309
terser-webpack-plugin version ^4, ^3 and ^2 use a sufficiently version range of serialize-javascript (^4.0.0 and ^3.1.0). So webpack 5 is not affected.

For webpack 4 there is a semver-matching terser-webpack-plugin version 1.4.4 that bumps serialize-javascript from "^2.1.2" to "^3.1.0".

[2020-08-12 10:18] evilebottnawi commented on #11310
Thanks for the issue

[2020-08-12 10:51] #10780 closed

[2020-08-12 10:52] evilebottnawi commented on #11311
Please create reproducible test repo, maybe babel/typescript remove comments

[2020-08-12 11:21] evilebottnawi commented on #11309
Please update deps to latest, fixed, all versions of `terser-webpacj-plugin` using `serialize-javascript@4`

[2020-08-12 11:21] #11309 closed

[2020-08-12 13:09] danrot opened #11312 "Code only fails in build using development but not in production mode"
# Bug report

**What is the current behavior?**

We currently have the issue that a certain piece of code works when we do a production build, but it breaks when we do a development build. The scripts for these are described like this:

[code]

The build produced by the watch tasks fails in a certain situation with an error message like this:

[code]

I know that this is a mobx error message, but

[2020-08-12 14:43] mihaisavezi opened #11313 "[Webpack 5] Module Federation - Shared exposed modules from host to remote do not work"
# Bug report

**What is the current behavior?**

application-a **exposes** SharedFromA to application-b  and **imports** AppAgendaChild from application-b
application-b **exposes** AppAgendaChild to application-a but it **imports** {SharedFromA} from 'application_a/SharedFromA';

**If the current behavior is a bug, please provide the steps to reproduce.**

- clone repo https://github.com/mihaisave

[2020-08-12 14:46] sokra commented on #11310
Yep, it's a bug

[2020-08-12 14:51] FANZHETWO opened #11314 "Webpack Failed to Compile Simple Application"
**my config.js**
[code]

when i npm run dev    Failed to compile.
[code]

[2020-08-12 15:16] evilebottnawi commented on #11314
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-12 15:16] #11314 closed

[2020-08-12 15:17] evilebottnawi commented on #11314
Do not compile webpack

[2020-08-12 15:18] evilebottnawi commented on #11312
Please create reproducible test repo, hard to debug based on this information

[2020-08-12 16:40] petermetz commented on #11311
@evilebottnawi Thank you for the response!

Repo: https://github.com/petermetz/webpack-11311

[2020-08-12 17:05] evilebottnawi commented on #11311
@petermetz 404

[2020-08-12 17:22] petermetz commented on #11311
Oops, try now please. Set the visibility to public just now.

[2020-08-12 17:38] sokra commented on #11311
webpackIgnore is only for `import()` not for `require`

[2020-08-12 17:44] sokra commented on #11312
I don't think that this is a webpack error, but instead a problem with your code.

My guess is that the only reason why this "works" in production is that mobx does check for this warning to be faster and smaller in production.

[2020-08-12 18:37] petermetz commented on #11311
@sokra Ohh, maybe turn this into a feature request then? I need the webpackIgnore to work for require because ts-loader compiles the import down to require (need the commonjs module resolution because it's a NodeJS project).

[2020-08-12 20:34] sokra commented on #11313
https://github.com/mihaisavezi/federated-libraries-get-started/blob/05a1d1ed0e75a626afef432ae18f8190fa2d8a8a/packages/application-a/public/index.html#L6

This should be `<script src="http://localhost:3001/remoteEntry.js"></script>`

[2020-08-12 20:34] #11313 closed

[2020-08-12 21:44] sokra commented on #11311
Send a PR to add magic comments for `require()`. There are more possible comments that could apply here:
`webpackExports`, `webpackInclude`, `webpackExclude`, `webpackIgnore`

[2020-08-12 23:06] petermetz commented on #11311
@sokra Here's the PR https://github.com/webpack/webpack/pull/11316
Only added `webpackIgnore` because that's the one I need and fully understand, never needed or used the other ones.

[2020-08-12 23:54] jasongrout commented on #10352
Is there a way to set the webpack publicPath to a dynamic value (like in https://webpack.js.org/guides/public-path/#on-the-fly, i.e., determined in the browser) in the remoteEntry.js file generated by module federation?

[2020-08-13 03:10] brendonco commented on #10352
@mpeyper looks fixed, I'm using beta.25.  Will continue to monitor.

[2020-08-13 05:43] clarkbynum opened #11318 "shim nodejs 'http' and 'https' for duktape"
Hi everyone, I'm curious if it's possible to return a custom implementation of http/https whenever bundled code requires these built-in node packages. The use case being I'd like to redirect http method calls to a custom http implementation provided via go-duktape. Ideally, the custom implementation would be used when requiring statically and when requiring with expressions.

e.g., static: `const

[2020-08-13 06:14] danrot commented on #11312
@sokra You were right, downgrading mobx indeed solved the problem... Going to ask there for assistance. Thanks anyway!

[2020-08-13 06:14] #11312 closed

[2020-08-13 07:44] chiyu-git commented on #4453
it's happy to hear that.
but in my project it is difficult to upgrade to the latest webpack version.
I want to know is there any negative effect if using the array of configs ?

[2020-08-13 07:52] udayrajMT opened #11319 "[Webpack 5] Uncaught TypeError: entry.get is not a function"
# Bug report

**What is the current behavior?**
Getting this error
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
Actually at this point I'm not sure how to reproduce it in a new repository(a lot of configuration may affect this). But perhaps someone can guide me with it.

Something relevant I can share is the module federation plugin config.
[code]

On applyin

[2020-08-13 09:05] webfer commented on #1189
Hello,
Finally, I have a solution!

![image](https://user-images.githubusercontent.com/25346182/90114271-c75c6780-dd52-11ea-8b3b-1af69bbf4284.png)

Explanation:

1. In the root create a folder with two files:

- webpack.config.dev.js  ===> For DEV vesion, that looks something like this:

`/* CORE & LIBRARIES */
const
    webpack = require('webpack'),
    path = require('path'),
    MiniCssExtractP

[2020-08-13 09:06] sokra commented on #11319
Looks like you mixed in an old webpack version. There was a breaking change in the sharing system, get all containers up-to-date.

[2020-08-13 09:08] sokra commented on #11318
You have to use the `ContextReplacementPlugin` to fix that. It's too dynamic for webpack.

[2020-08-13 10:30] evilebottnawi commented on #11319
Answer above

[2020-08-13 10:44] evilebottnawi commented on #11318
Answer above, please use the issue template in future

[2020-08-13 10:44] #11318 closed

[2020-08-13 11:01] evilebottnawi commented on #10886
@tri170391 Sorry fr delay, problem still exists?

[2020-08-13 12:17] tri170391 commented on #10886
Is there an option similar to `amd-require` mode but for UMD instead in latest version og `webpack`?

[2020-08-13 12:20] udayrajMT commented on #11319
@sokra all projects that use moduleFederation are at the same webpack version.
There is a webpack 4 project whose dist output is used in them. But I don't think it should be a problem.

Also interestingly I do not get this error when using webpack-dev-server.
Can you please give me further insight?

[2020-08-13 12:27] evilebottnawi commented on #11319
`webpack-dev-server` doesn't work with `ModuleFederationPlugin` yet, it is weird

[2020-08-13 12:35] udayrajMT commented on #11319
Well, it works practically

[2020-08-13 15:18] #7562 closed

[2020-08-13 15:52] homobel commented on #9802
Hi, tried to use [] in alias feature and have some difficulties with it.
I have alias:
`app: ['root1', 'root2']`
in config and dynamic import in code:
`import(/* webpackMode: "eager" */ 'app/widgets/' + id)`
It seems map created only for root1 directory where as I would expect smth like root2 map extended with root1 map.

Not sure, is it right behavior?

[2020-08-13 15:54] evilebottnawi commented on #9802
@homobel It is related to webpack@5?

[2020-08-13 17:02] sidneifjr opened #11321 "Translating the docs to Portuguese (PT-BR)"
Hello.

I'm a Front-End Developer from **Brazil**; I noticed a decent amount of colleagues/coworkers have a hard time reading the docs in English (not their mother language), so I intend to collaborate by offering to translate the docs.

I don't consider myself a pro, however I already managed to translate four articles/courses in the **Envato Tuts+ Translation Program** so far and I feel very con

[2020-08-13 17:15] 42tg commented on #10352
Hi,
I don't know if this is the correct place for my question.

I experimented today with webpack 5 and Module federation and stuck at one point.

I have an npm library in my monorepo which hold our shared components, based on MaterialUI. This is mainly used in our ui package.
When I'm loading components with hooks via Module federation I recieve the typical "don't use hooks with two React Version

[2020-08-13 18:02] jandvik commented on #10352
@42tg  - I think what you are looking for is "peerDependencies" [https://docs.npmjs.com/files/package.json#peerdependencies](https://docs.npmjs.com/files/package.json#peerdependencies)

If you set React as the peerDependencies in your npm library, it should use the host applications React version and avoid that collision.

If you are having two Module Federations both using React, you can use the

[2020-08-13 18:19] sokra commented on #4453
You can't share chunks when using multiple configurations.

[2020-08-13 18:50] mpeyper commented on #10352
@42tg, to expand on what @jandvik said, I've also been playing with it recently and with react, I found it handy to set the `singleton` option to `true` as well as making it shared.

Unrelated to the above. I've been working on using module federation in conjunction with with systemjs and import maps similarly to [this example](https://github.com/joeldenning/mfe-webpack-demo/tree/system) by @joeld

[2020-08-13 18:58] 42tg commented on #10352
@mpeyper
Currently my SystemJS Implementation which loads the UI (which tries to load the components by Module Federation) blocks me of declaring the shared option in my UI Package, because I never got it to work with Webpack Chunks.
Thanks for the Link to @joeldenning 's repository maybe I find there an solution to bring it all together.

[2020-08-13 20:40] trivikr commented on #11309
Is the dependency on vulnerable version of `serialize-javascript` going to be removed in `webpack@4`?

Latest version of webpack@4, i.e. v4.44.1 depends on `serialize-javascript@2.1.3`
https://github.com/webpack/webpack/blob/cd4af164784f3938353102179adfcbcf8f53949d/yarn.lock#L5789-L5792

To fix, it needs to be updated to `>3.1.0`

[2020-08-13 20:45] trivikr commented on #11309
`webpack@4` just need to update it's `terser-webpack-plugin` dependency to `v1.4.5` which updates `serialize-javascript` package version to `4.0.0`
* Code: https://github.com/webpack-contrib/terser-webpack-plugin/blob/v1.4.5/package-lock.json#L10713-L10720
* PR: https://github.com/webpack-contrib/terser-webpack-plugin/pull/259

Question: Is this fix going to be released in `webpack@4.44.2` or `web

[2020-08-13 21:15] ViRuSTriNiTy commented on #1189
Just my 5 cents, imho too many answers here that try to show an example but fail to mention that this is already covered by the official docs: https://webpack.js.org/guides/production/

TLDR: Separate the environment specific bits out into separate config files whereas values can be parameterized via [environment variables](https://webpack.js.org/api/cli/#environment-options)

[2020-08-14 04:55] jimmydief commented on #9802
I'm not sure if your theoretical optimization already covers this but it would be awesome if the chunk group => file splits could avoid being recalculated in watch mode as well if the dependency graph isn't changing. Feels like that would help with incremental builds with many async chunks (issues like #8644).

[2020-08-14 06:46] sokra commented on #9802
@marcins @jimmydief I also looked into improving the performance for the chunk graph and splitChunks in general and found a few larger improvements that handle these heavy connected cases better.

[2020-08-14 06:52] stefanprobst commented on #9309
i think this is still an issue. there's also an unreviewed PR #10362 for it.

[2020-08-14 07:15] homobel commented on #9802
@evilebottnawi Yep I guess since doc says(https://webpack.js.org/configuration/resolve/#resolvealias):

[2020-08-14 08:25] udayrajMT commented on #11319
@sokra would you mind giving more insights?

[2020-08-14 08:47] alainib commented on #6544
@pleunv  did you find a solution please ? i have the same error with `node_modules/core-js/modules/es.array.index-of.js:22
$({
^
TypeError: $ is not a function`

[2020-08-14 09:55] abhisekpaul opened #11325 "npm audit results in security vulnerability"
│ Low           │ Prototype Pollution                                          │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ minimist                                                     │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Patched in    │ >=0.2.1 <1.0.0 || >=1.2.3

[2020-08-14 10:38] evilebottnawi commented on #11325
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please your deps

[2020-08-14 10:38] #11325 closed

[2020-08-14 10:48] evilebottnawi commented on #9802
@homobel Can you provide minimum reproducible test repo?

[2020-08-14 11:06] evilebottnawi commented on #11319
@udayrajMT Can you create reproducible test repo?

[2020-08-14 11:32] sokra commented on #11319
Could be.

It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-08-14 12:30] adrianflda commented on #5516
Hi, @Ollie-w I am having the same problem. How did you resolve it???

[2020-08-14 13:08] udayrajMT commented on #11319
@vankop Thanks for reopening.
@evilebottnawi @sokra I'll try to give a reproducible repository right when I find the time. Just that my further diagnosis was pointing towards an OS related issue, as it is not giving the error when served locally from the dist folders. The error is occurring in a linux pod only(I wasn't sure earlier, so had not mentioned).

[2020-08-14 13:24] homobel commented on #9802
@evilebottnawi Smth like this https://github.com/homobel/webpack5-dynamic-import

[2020-08-14 15:25] trivikr commented on #11309
For those who're visiting this issue from Dependabot security alerts, here is an example PR where dependency is updated https://github.com/aws-samples/aws-sdk-js-tests/pull/47
I just deleted `yarn.lock` entry for `terser-webpack-plugin@^1.4.3` and re-run yarn command. You can do the same for `package-lock.json` file if you're using npm.

Dependabot cannot automatically create a pull request to fix

[2020-08-14 19:02] #9161 closed

[2020-08-15 06:27] Wheeeeeeeeels commented on #11293
Same to me

[2020-08-15 15:14] alfredsgenkins opened #11328 "Try to resolve file after it is deleted (cache issue)"
## Feature request

**What is the expected behavior?**

We are using custom Fallback plugin, which allows to resolve any file in the project from multiple roots, i.e. your theme, parent theme, core theme. They fallback sequentially, and we are only watching changes in main theme directory (only accessible to user, other are installed as node_modules). Fall-backing from custom theme to parent theme

[2020-08-15 17:52] sokra commented on #11328
That's something that is addressed with webpack 5. It tracks all unsuccessful paths during resolving and watches them.

[2020-08-15 18:13] alfredsgenkins commented on #11328
Nice! Will take a look on beta. While waiting for stable release, will it be correct to say, that caching is implemented here:
- https://github.com/webpack/enhanced-resolve/blob/master/lib/UnsafeCachePlugin.js

Maybe replacing it with custom solution would be enough to implement cache purge.

[2020-08-15 18:14] #11328 closed

[2020-08-15 18:15] alfredsgenkins commented on #11328
And sorry for playing with issue closing button, an "incedent" happened!

[2020-08-16 06:26] seawatts commented on #11310
Also seeing this bug here https://github.com/slackapi/node-slack-sdk/pull/1042

https://github.com/slackapi/node-slack-sdk/blob/078256bb59b5d7d7439ba5fb89b2a6e35bcf1ff5/packages/web-api/src/methods.ts#L36

[2020-08-16 13:43] rapid227 commented on #3105
The simple way you can use

in HTML
`<p>%NODE_ENV%</p>`

and in script
`<script type="text/javascript" charset="utf-8" src="static/'%NODE_ENV%'==='production'?'vendors.min.js':'vendors.js'"></script>`
or
`<script>
if('%NODE_ENV%' === 'production') {
.... some code
}
</script>
`

[2020-08-17 08:28] GChuf opened #11332 "Error: Cannot find module 'webpack/lib/ParserHelpers' (Angular 10)"
# Bug report

**What is the current behavior?**

When running ng serve or ng build (angular) , I get:
`Error: Cannot find module 'webpack/lib/ParserHelpers'.`

[code]

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Just install webpack  5.0.0-beta.26 and try to run "ng build".

**What is the expected behavior?**

No errors. When downgrading to webpack v4, eve

[2020-08-17 11:27] evilebottnawi commented on #11332
Please report the issue to `angilar-cli`

[2020-08-17 11:27] #11332 closed

[2020-08-17 12:06] GChuf commented on #11332
Done:
https://github.com/angular/angular-cli/issues/18556

[2020-08-17 14:38] Arthurdw opened #11334 "Webpack dev server stops bundling after save"
# Bug report

**What is the current behavior?**
The webpack dev server doesn't update the site on save, but it does nothing. (it returns nothing)
(Sorry if my explanation isn't that good, IDK how to word this, so here is an example gif)
![example](https://brain.is-inside.me/yoHlms25.gif)

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a react app (I used typesc

[2020-08-17 16:19] xeptore commented on #5392
@vankop Hi! what if someone still wants to use `webpack<5`? i know it's something related to compilers/transpilers (e.g. babel), but any ideas on how to solve this?

[2020-08-17 16:24] evilebottnawi commented on #5392
@xeptore can you provide reproducible test repo with example of the problem?

[2020-08-17 16:27] evilebottnawi commented on #9802
@homobel Yep, it is bug, let's open separate issue

[2020-08-17 16:29] alexander-akait opened #11335 "context module doesn't work with array of aliases"
**webpack.config.js**

[code]

**index.js**

[code]

Reproducible test repo - https://github.com/homobel/webpack5-dynamic-import

Ref: https://github.com/webpack/webpack/issues/9802#issuecomment-674073005

[2020-08-17 19:29] ydmitry commented on #9802
Trying to use webpack 5 with Angular cli, `ng serve`, but got an error in `ResolverCachePlugin` in these lines when `callbacks === false`:

[code]

[2020-08-17 23:09] jasongrout commented on #10352
To expand on my question:

1. The documented way to have a dynamic public path is to set the `__webpack_public_path__` magic variable in the entry point. However, for remoteEntry.js, there is no one single entry point, and by default the entry points are loaded dynamically, so the public path is needed before the entry point is even run to be able to load the right file.
2. I found one sort of klu

[2020-08-18 07:18] ydmitry commented on #9802
Another issue: angular-cli for xi18n extraction uses MemoryOutputFileSystem:
https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/src/extract-i18n/index.ts
https://github.com/webpack/webpack/blob/webpack-4/lib/MemoryOutputFileSystem.js

Was it renamed or deprecated? Is there something to use instead?

[2020-08-18 09:01] xeptore commented on #5392
@evilebottnawi of course, here is the link to it:
https://gitlab.com/the-xeptore/sandbox/webpack-env-destruction
sorry for late response.

[2020-08-18 09:22] 42tg commented on #10352
Finally got SystemJS updated to 6.4.0 and all upcomming issues are resolved...
But nevertheless I don't get it running completely and fail with the following error:

while loading "./PrimaryButton" from webpack/container/reference/pcweb_gui

when calling it this way:
`const PrimaryButton = React.lazy(() => import('pcweb_gui/PrimaryButton'));`

It seems that the remoteEntry is not loaded properly.

[2020-08-18 09:59] evilebottnawi commented on #9802
@ydmitry Please create reproducible test repo without angular-cli, it can be bug or incompatibility on angular-cli side

[2020-08-18 10:44] peterpoe commented on #4115
Anyone using gatsby, you can alter webpack-hot-middleware configuration by adding the following to gatsby-node.js:

[code]

[2020-08-18 10:44] evilebottnawi commented on #5392
@xeptore To be honestly it is the bug and feature, `EnvironmentPlugin` (and `EnvironmentPlugin`) just find `something.other.value` and replace it on provided value, so destructuring is not working, but I think we can improve it

[2020-08-18 12:13] xeptore commented on #5392
@evilebottnawi yes. it's replacing based on tokens, and destructing is not **_exactly_** what it should replace. i play around with parsed version of both examples in [this gist](https://astexplorer.net/#/gist/36dd41ed35f214fa2e0c910769d68d36/afff7148ea8cabfbfbb1c4a266c85c8eff010d40) and it doesn't seem to be much difference between those trees. maybe one step further :)

[2020-08-18 12:15] ydmitry commented on #9802
@evilebottnawi regarding `ResolverCachePlugin` it's not clear how to reproduce this without angular-cli, it has too big webpack config, and all stack trace is from webpack internals in task_queues process. But by reading the code there is a statement `callbacks = false`, but no check that it can be false. I'm assuming that when it's `false` - need to stop calling callbacks.

About `MemoryOutputFil

[2020-08-18 13:27] evilebottnawi commented on #9802
@ydmitry please create with `angular-cli` reproducible test repo

[2020-08-18 13:36] evilebottnawi commented on #11293
Maybe related https://github.com/webpack/watchpack/issues/142?

Can you try to update yarn to latest version?

[2020-08-18 14:40] sberney commented on #1747
I still don't understand why it doesn't work the way I expected (and the way other bundlers work), but I am not having this problem anymore. Like others, part of the problem was legacy code used in transition for years. Unlike others, I'm never going to fully transition to an entirely webpack-based runtime. I want to partially compile the requires, and partially "pre-compile" them so that requirej

[2020-08-18 14:43] joeldenning commented on #10352
@jasongrout, regarding public path and systemjs, check out https://github.com/joeldenning/systemjs-webpack-interop which sets the public path by looking up the URL in the systemjs registry. Generally I work with bundles that only have a single entry point, so I'm not as familiar with how public path works when there are multiple. But generally you need to set the public path as early as possible b

[2020-08-18 14:57] jasongrout commented on #10352
@joeldenning - thanks very much for your response.

From my experiments, I think that doesn't help in the case of remoteEntry.js files (i.e., the main file produced by module federation)? Since there is no single export included in the remoteEntry.js file by default, there is no user code that is automatically run in that file before anything else is loaded using jsonp. Am I wrong? Is there a reco

[2020-08-18 14:59] joeldenning commented on #10352
I'm not sure how to do this. @ScriptedAlchemy or @maraisr may be able to answer.

[2020-08-18 17:06] evilebottnawi commented on #11203
@rramaa Can you try latest watchpack@beta with latest webpack@beta?

[2020-08-18 18:44] sokra commented on #10352
There is a way: create an entry with the same name as `name` in the ModuleFederationPlugin. These modules will be loaded when the container entry is loaded.

But this isn't that comfortable so I like to have an `init` option that list modules that are executed on container initialization. These might even have async code in them.

[2020-08-18 21:48] kirill-konshin commented on #11293
@evilebottnawi it does not look related...

[2020-08-19 02:17] irudoy commented on #11293
Have the same issue with the latest yarn (from sources). It's definitely not related to https://github.com/webpack/watchpack/issues/142.

[2020-08-19 02:31] johnstew commented on #6389
On 12.x and still having OOM crashes. This seems like it could be a multitude of things. Possibly I have to change up my configuration but also possible that there are some issues internally as well.

[2020-08-19 03:09] zhangwilling commented on #10859
u can define remoteEntry in your js files.

[2020-08-19 04:55] sokra commented on #10859
This was been added via the `script` external

[2020-08-19 04:55] #10859 closed

[2020-08-19 08:17] selfdestruction commented on #4575
@topdev10 output.publicPath: '/' - work for me

[2020-08-19 09:02] mihaisavezi commented on #10352
I have the following situation. I'm using the `bi-directional hosts` example to illustrate what seems to be a bug or an unsupported use-case.

### The issue
- `app1` exposes `indexExternal.js` as `./hostExports` which re-exports some modules from `exports.js` which exports everything from `deps.js` and `effects.js`
- `app2` exposes `demo-exports.js` as `./remoteExports` which is just a constant
-

[2020-08-19 09:30] mihaisavezi opened #11341 "[Webpack 5] Module Federation - Re-exports imported in remote crash application with no error message."
# Bug report

**What is the current behavior?**
Bi-directional hosts. Exposed file is a re-export. Compilation does not throw an error. But application won't load.

**Context**
- `app1` exposes `indexExternal.js` as `./hostExports` which re-exports some modules from `exports.js` which exports everything from `deps.js` and `effects.js`
- `app2` exposes `demo-exports.js` as `./remoteExports` which i

[2020-08-19 10:45] elpddev commented on #1702
Is there an easy way to do this in webpack4?

[2020-08-19 13:01] #9327 closed

[2020-08-19 13:06] whu12yz commented on #10859
how? could u please give  an example

[2020-08-19 13:57] sokra commented on #11341
Yes, this seem to be a bug. The container awaiting each other initialization during initialization. This creates a circular promise which never completes...

[2020-08-19 14:23] mihaisavezi commented on #11341
Since an image is worth a 1000 words, used the federation-dashboard to illustrate the dependencies in this issue.

![image](https://user-images.githubusercontent.com/6965490/90647032-8c6d9e80-e240-11ea-9756-727c474d5514.png)

[2020-08-19 15:41] rizwansoaib commented on #5244
How to do this chunks xhr+eval can anybody show us code

[2020-08-19 16:12] thisVioletHydra opened #11344 "[💡DeprecationWarning] webpack 5 externals-function should be defined like ({context, request}, cb) => { ... }"
terminal warning
[code]

![image](https://user-images.githubusercontent.com/11839238/90647484-0736b980-e241-11ea-8af9-5ed5022d54a3.png)

What I should do?

[2020-08-19 17:02] evilebottnawi commented on #11344
Please open an issue in `node-externals` packages, it is deprecation and they should fix it for webpack@5 compatibility, but I think you don't need this package anymore, we don't mock node globals by default in webpack@5

[2020-08-19 17:02] #11344 closed

[2020-08-19 19:54] thisVioletHydra commented on #11344
when i disable this prop:
[code]

![image](https://user-images.githubusercontent.com/11839238/90683003-88f10c00-e26e-11ea-8065-8fd8ae46c2a5.png)

------
When i turn on

![image](https://user-images.githubusercontent.com/11839238/90683182-ce153e00-e26e-11ea-82cd-612b9ea5ae34.png)

What does it mean? `you don't need this package anymore`

[2020-08-19 22:20] kaczor6418 opened #11347 "[Webpack 5] Can not use web-assembly rust impl"
# Bug report

**Context**
If I create a simple rust function like this one:
[code]
And then I use this method inside constructor of web-component:
[code]
This worked as expected I can see `'a'` in the console:

<center><img src="https://i.stack.imgur.com/g6Fm1.png"></center>

If I create rust struct with implementation like this one:
[code]
And then create `Test` instance inside constructor of web

[2020-08-20 00:25] jasongrout commented on #9802
We are seeing an error when trying to compile a package in webpack 5.0.0-beta.27 (as well as a few earlier betas), but only when compiling in production mode. It works fine in webpack 4.44.1 in both production and development mode. A reproduction repo and instructions are at https://github.com/blink1073/vega-webpack-5. The file that seems to be giving problems is https://github.com/vega/vega/blob/

[2020-08-20 02:49] jasongrout commented on #10352
Thanks!

I agree that would be better.

[2020-08-20 04:06] mgpeng commented on #10823
I had same issue in wechat, why close it? I can't find any solutions in anywhere

[2020-08-20 04:19] jungleBadger opened #11348 "[BETA] beta.27 build error when `mode: production` is set"
# Bug report

**What is the current behavior?**

1. Webpack builds emits an error when using `"mode": "production"`
2. The exact same webpack and project files work fine if I set `"mode": "development"`
3. It works if I hardcode `"mode": "development"` and set `NODE_ENV=production`

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Here is the webpack config example:

[2020-08-20 06:22] rramaa commented on #11203
@evilebottnawi will do

[2020-08-20 07:16] KingSora commented on #9802
Good day!

Is there a possibility that the `resolve.modules` implementation changed in webpack5? I upgraded my project and after a few struggles I found out that I have to change this option to make it work.

Here are a few details to the problem:
This is how the webpack `resolve` object looks in webpack4.
[code]

The file structure of my project:
[code]

In the project I do a import which looks l

[2020-08-20 08:02] Dam998 opened #11350 "[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues."
# Bug report

**What is the current behavior?**
I created a script in node js, it works fine, but when I create a bundle with webpack and run it I receive this error:
`[DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

But I'm not using Buffer
The strange thing is that w

[2020-08-20 08:13] fish-uncle opened #11351 "change rules Use path"
I wrote my own cli for launching and packaging projects
[code]
Then I found a problem

On startup

The Babel loader set in the CLI reads the

The report did not find the loader error

Is there any way to do this?

If the installation in the project is no problem

[2020-08-20 08:18] fish-uncle commented on #11351
[code]

have same problem

[2020-08-20 08:36] #10917 closed

[2020-08-20 08:50] goto-bus-stop commented on #11350
`Buffer()` only emits a deprecation warning if the call to it is _not_ inside `node_modules`. So, if simple-terminal-menu or one of its dependencies is using the deprecated `Buffer()` constructor, you will not get a deprecation warning.

But, when you bundle it with webpack, the code using `Buffer()` is no longer inside `node_modules`: it's now in the bundled file, which to Node.js looks like it's

[2020-08-20 08:53] Dam998 commented on #11350
Oh okay, I understand
Thank you for your support

I'm looking for the package

Another question @goto-bus-stop, Do you know a way to not show this warning? just not print it in the console

[2020-08-20 08:56] goto-bus-stop commented on #11350
The [`node --no-deprecation` flag](https://nodejs.org/api/cli.html#cli_no_deprecation) hides deprecation warnings.

[2020-08-20 09:26] Dam998 commented on #11350
Thank you for your support @goto-bus-stop
I appreciate it

Last question, if you know the response, I want to create an exe with pkg or nexe
Do you know a way to use --no-deprecation with nexe or pkg? because I didn't find documentation in their github

Thank you!

[2020-08-20 09:42] ckken opened #11352 "out of memory in nodejs v10 webpack5 beta 27"
![image](https://user-images.githubusercontent.com/3890513/90754332-53026500-e30c-11ea-92fb-52cdbbfbf594.png)

[2020-08-20 09:44] goto-bus-stop commented on #11350
Sorry, I'm not familiar with those.

[2020-08-20 09:45] sokra commented on #11348
fixed in https://github.com/webpack/webpack/releases/tag/v5.0.0-beta.28

[2020-08-20 09:45] #11348 closed

[2020-08-20 09:46] sokra commented on #11347
Try `experiments.syncWebAssembly` instead of `experiments.asyncWebAssembly`. If this works, the rust infrastructure need to be updated for the new spec.

[2020-08-20 09:47] sokra commented on #11352
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-08-20 09:47] #11352 closed

[2020-08-20 09:48] sokra commented on #11351
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-08-20 09:48] sokra commented on #11351
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-08-20 09:49] sokra commented on #11350
Also see `--trace-deprecation` to get a Stack Trace of the deprecation to find the origin.

[2020-08-20 09:49] #11350 closed

[2020-08-20 10:26] evilebottnawi commented on #10823
@mgpeng Because https://github.com/webpack/webpack/issues/10823#issuecomment-622936221

[2020-08-20 10:34] kaczor6418 commented on #11347
@sokra  this will work but I have to add additional `bootstrap.ts` file which will asynchronously load `index.ts`

I created a branch with example: [sync-web-assebmly-and-bootstrap-file](https://github.com/kaczor6418/webpack-web-assembly-rust-impl-bug/tree/sync-web-assebmly-and-bootstrap-file).

But I think that `experiments.asyncWebAssembly` should work out of the box, or I am wrong ?

[2020-08-20 10:45] evilebottnawi commented on #11344
https://github.com/webpack/changelog-v5#automatic-nodejs-polyfills-removed, please read migrate section

[2020-08-20 10:45] evilebottnawi commented on #11344
If you need to help, please create reproducible test repo

[2020-08-20 10:52] evilebottnawi commented on #11347
No, please read https://webpack.js.org/configuration/experiments/

Do you still have a problem without this option?

[2020-08-20 10:53] #11351 closed

[2020-08-20 10:53] evilebottnawi commented on #11351
I will reopen issue when you fill out the issue template

[2020-08-20 12:15] evilebottnawi opened #11353 "[webpack 5] generators broken in production mode"
We are seeing an error when trying to compile a package in webpack 5.0.0-beta.27 (as well as a few earlier betas), but only when compiling in production mode. It works fine in webpack 4.44.1 in both production and development mode. A reproduction repo and instructions are at https://github.com/blink1073/vega-webpack-5. The file that seems to be giving problems is https://github.com/vega/vega/blob/

[2020-08-20 12:17] evilebottnawi commented on #9802
@jasongrout thanks for the issue, it is bug, I created separate issue https://github.com/webpack/webpack/issues/11353

[2020-08-20 12:19] evilebottnawi commented on #9802
@KingSora order is matter, looks like a fix

[2020-08-20 13:07] mihaisavezi commented on #11341
I'd like to give this a go. But really no clue where to start with this? Any hypotheses for starting points on this ?

Not really familiar with the API or anything. Some hints would help.

I'll start diving into this myself in the meantime.

[2020-08-20 13:07] jasongrout commented on #11353
I simplified the reproduction to a single simple file in https://github.com/blink1073/vega-webpack-5/tree/plain and elaborated a bit more on the versions of terser and terser-webpack-plugin, which look relevant. The error is now clearly from terser. Interestingly, when downgrading to webpack 4 (which works), we have the same version of terser, but  terser-webpack-plugin does downgrade.

[2020-08-20 13:08] jasongrout commented on #11353
Error from terser in https://github.com/blink1073/vega-webpack-5/tree/plain:

[code]

[2020-08-20 13:09] evilebottnawi commented on #11353
@jasongrout Can you try to use latest `terser-webpack-plugin`?

[2020-08-20 13:10] evilebottnawi commented on #11353
Can you write `npm ls terser`?

[2020-08-20 13:25] jasongrout commented on #11353
I'm using yarn. From the readme at https://github.com/blink1073/vega-webpack-5/tree/plain:

I notice that terser-webpack-plugin has released 4.1.0. I'll try that.

[2020-08-20 13:29] evilebottnawi commented on #11353
Bug on `webpack` side

[2020-08-20 13:29] evilebottnawi commented on #11353
Generated code:
[code]

Expected:
[code]

[2020-08-20 13:32] evilebottnawi commented on #11293
Somebody can provide steps to reproduce?

[2020-08-20 13:34] jasongrout commented on #11353
Yeah, manually forcing terser-webpack-plugin to `^4` and terser to `^5` still has an error: https://github.com/blink1073/vega-webpack-5/tree/plain-upgrade-terser

[2020-08-20 13:36] jasongrout commented on #11353
Ah, right, so the bug is also in `yarn run build` (i.e., dev mode), but I didn't notice it because I wasn't actually running the file. Terser caught it, though, which is why we saw the error. Good catch.

[2020-08-20 13:47] sokra commented on #11353
Seem like a problem in the module concatenation code -> ConcatenatedModule.js

[2020-08-20 13:47] evilebottnawi commented on #11353
Yes, thanks for the issue

[2020-08-20 13:51] sokra commented on #11353
Bug is here https://github.com/webpack/webpack/blob/e32daa9be5fed184c8befac87216a88872f7df4a/lib/dependencies/HarmonyExportDependencyParserPlugin.js#L92

The `*` should be in the prefix instead of the suffix

[2020-08-20 13:51] sokra commented on #11353
Send a pr

[2020-08-20 14:10] jungleBadger commented on #11353
I tried to contribute with this one, please let me know if I can improve it in any way: https://github.com/webpack/webpack/pull/11354

[2020-08-20 15:09] jquense commented on #11074
Just to be clear, that is very different from how pitching works normally it seems. It means that you can't short circuit meaningfully because you cannot change or skip configured loaders in the pitch phase.

Example:
[code]
This works fine, it's expected you have to return JS here because the early return means no more loaders are run right?

[code]
This does not compile ☝️  because `'module.expo

[2020-08-20 15:38] DanielAtKrypton commented on #9802
# Problem:

I am trying to make HMR with webpack-dev-middleware work. Unfortunately the error I see is quite misleading.
[This](https://github.com/krypton-unite/Perspective-Bot) is the repository I am working on.

# To build:

[code]

Then the following output is shown:
[code]

# To start:

[code]

Then the following output is shown:

[code]

[2020-08-20 15:41] evilebottnawi commented on #9802
@DanielAtKrypton Please avoid to copy past all output from console here, it is reduce readability

And here your answer

[2020-08-20 15:48] pgangwani opened #11355 "Webpack issues in splitchunk with setup of micro front end (using ESI)"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-08-20 15:50] DanielAtKrypton commented on #9802
After applying those fixes, the same errors are still happening. That is why I posted.

[2020-08-20 16:01] evilebottnawi commented on #9802
@DanielAtKrypton please create reproducible test repo and I will help

[2020-08-20 16:01] evilebottnawi commented on #11355
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-08-20 16:01] #11355 closed

[2020-08-20 16:07] DanielAtKrypton commented on #9802
@evilebottnawi, can I send you a private message?
This is the repository: https://github.com/krypton-unite/Perspective-Bot

You have to copy paste .env_template to .env and fulfill required info. If you want I can send you mine.

[2020-08-20 16:30] pgangwani commented on #11355
@sokra @ScriptedAlchemy : Please help till we migrate to module federation (webpack 5)

[2020-08-20 16:33] evilebottnawi commented on #11355
@pgangwani please open an issue in https://github.com/webpack/webpack/issues/10352 for helping

[2020-08-20 16:35] pgangwani commented on #11355
@evilebottnawi : This issue is not related module federation. Its for webpack4 using external & splitchunks

[2020-08-20 16:39] pgangwani commented on #11355
give me 5, I think updates didnt happen on issue due to n/w glitch

[2020-08-20 16:51] pgangwani commented on #11355
Updated long description (which was lost due to n/w glitch ) again. PLease review

[2020-08-20 16:55] evilebottnawi commented on #11355
It is application error:

Maybe something wrong with your code, will be great if you will create reproducible test repo

[2020-08-20 17:25] evilebottnawi commented on #11291
Can you try to remove https://gist.github.com/abhchand/d165ab9b9ef2c137bb78f72f23f0a127#file-webpack-config-js-L231 this plugin? webpack-dev-server automatically inject this plugin when `hot` is true

[2020-08-20 17:35] pgangwani commented on #11355
Do you need both webpack configs ?

[2020-08-20 18:32] jaydiablo commented on #8814
Ran into this situation today (Webpack 4 completely removing SCSS/CSS files from a production bundle when the CSS is from a package that has `"sideEffects": false` defined in its `package.json`) and was curious if there was a way to override this behavior until the packages used can update their `package.json` to allow CSS/SCSS imports like this.

Modifying the rule for the CSS/SCSS loader by addi

[2020-08-20 19:15] KingSora commented on #9802
@evilebottnawi are you sure about it? Thats a bretty big breaking change imo. and if this behavior is really intended to change like this in webpack 5 shouldn't it be then documented somewhere like in the migration guide?

[2020-08-20 19:26] dmitrysteblyuk commented on #11277
It's not related to `devtool`, but to the fact that webpack dev server does not work with library target anymore.
Specifically dev server client is being exported instead of the given entry.
Since its export is an empty object that's where `Cannot read property 'call' of undefined ` comes from.

I created a very simple reproduction of the issue:
[webpack-entry-point-bug-repro.zip](https://github.c

[2020-08-20 19:39] bitterdev opened #11357 "2 bundles with bootstrap leads into problems."
Hello,

i have a question.

We are using 2 webpack bundles in our project.

Each bundle imports bootstrap.

Therefore we have issues like that the dropdown require 2 clicks (which is an issue when bootstrap is loaded 2+ times)
https://stackoverflow.com/questions/24218663/avoid-having-to-double-click-to-toggle-bootstrap-dropdown

What is the best practice to use bootstrap js in both bundles without

[2020-08-20 21:31] ChildishGiant opened #11358 "When updating from 5.0.0-beta.26 to 5.0.0-beta.27 build fails"
# Bug report

**What is the current behavior?**
When trying to build I get this:
[code]
An example is here: https://github.com/cloverleaf/web/pull/223/checks?check_run_id=1007353755
The only thing that changed in this PR is the version number so I'm fairly sure this is the issue.
The config I'm using can be found here but it's not a minimal repro https://github.com/cloverleaf/web/blob/13d58fdbdccf

[2020-08-21 00:04] chenxsan commented on #11358
Try to update to beta 28 https://github.com/webpack/webpack/releases/tag/v5.0.0-beta.28, I think it's fixed.

[2020-08-21 03:34] PaulMing opened #11362 "What's the use of annotation notation in webpack development environment [some annotation symbols are not real annotations]"
![image](https://user-images.githubusercontent.com/40627394/90849431-cbffcc00-e3a1-11ea-9a30-9ea633c3417d.png)

![image](https://user-images.githubusercontent.com/40627394/90849576-2862eb80-e3a2-11ea-993b-52a6565378d3.png)

[2020-08-21 03:36] PaulMing commented on #11362
Is it for segmentation, placeholder?

[2020-08-21 05:50] sokra commented on #11357
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2020-08-21 05:50] #11357 closed

[2020-08-21 06:58] ScriptedAlchemy commented on #11355
I know what this is likely caused by. Bump this thread if I don't respond tomorrow

[2020-08-21 07:10] pgangwani commented on #11355
Sure @ScriptedAlchemy. I know webpack 5 module federation is way to go in future but currently, I am blocked to use common chunks (using split chunks) & loadable when the esi build is umd with external deps of vendors (react, react-dom etc). If you have any esi setup for micro front ends test, we can utilize as and when required.

[2020-08-21 07:24] pgangwani commented on #11355
@evilebottnawi : Would you meanwhile change the status of the issue to "Open"?

[2020-08-21 14:52] cmonacaps opened #11364 "delayed-eval ENV"
## Feature request

**What is the expected behavior?**

We use webpack to produce a "static application build," which is typical. Several plugins exist to provide `ENV` to the application code, but since the process results in a static build these can't do much other than substituting the `ENV` with values present at build time.

The 12-factor Docker deployment process we use has the expectation t

[2020-08-22 11:21] tranvansang opened #11365 "Document typo mistake"
In short:

[https://webpack.js.org/loaders/css-loader/#exportlocalsconvention](https://webpack.js.org/loaders/css-loader/#exportlocalsconvention)

Current: exportlocalsConvention
Expected: exportLocalsConvention (`L` should be uppercased)

![image](https://user-images.githubusercontent.com/13043196/90955042-f2625c00-e4b4-11ea-9051-c2e45a10bd9a.png)

[2020-08-22 11:24] #11365 closed, assigned to nobody

[2020-08-23 18:07] sokra commented on #10949
The difference is related to the size of the chunks. By default vendors select chunks > 30kb.

[2020-08-24 08:04] kidzen commented on #215
+1

[2020-08-24 14:37] beejaz commented on #959
I had the same problem with this error message. I removed a empty style tag in my newly added component that cause the issue:
<style scoped>
</style>

After that it worked again!

[2020-08-24 14:43] bebraw commented on #11364
@cmonacaps Maybe one option would be to go through webpack [externals](https://webpack.js.org/configuration/externals/#externals) and then feed the static build with something like a configuration global that you consume at your code. You will still have the problem of defining the endpoint and adding it to your build but I believe this could be a potential option as you convert that's build-time

[2020-08-24 16:27] #3237 closed

[2020-08-24 16:42] jsathu commented on #3486
Try this one
expo build:web --clear

[2020-08-24 16:43] pgangwani commented on #11355
@ScriptedAlchemy : Current setup is in production till I tried below 2 things:
1. I used splitchunk common vendor for header & footer entry (non externalized common chunks)
2. I wrapped loadable component for few component,

then boom broke ..

I tried putting optimization.runtimeChunk as
[code]
it accidentally fixed 1st (trying to understand how) but still getting below error for 2nd  and experie

[2020-08-24 16:47] evilebottnawi commented on #11355
@pgangwani update webpack to latest version to avoid `Minified React error #130`

[2020-08-24 21:48] jimblue opened #11371 "Progress Plugin Invalid Options"
# Bug report

**What is the current behavior?**

Following this [Webpack documentation](https://webpack.js.org/plugins/progress-plugin/#root) and using the provide code giving the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Adding the following code in the plugin section of **Webpack** config then run it.

[code]

But I don't change the c

[2020-08-25 03:40] pluscai commented on #10761
solve my problem ,thank you! marques-work

[2020-08-25 06:32] vankop commented on #11371
Please provide your config.

----
Note: you provided link to `webpack@5` documentation

[2020-08-25 09:32] evilebottnawi commented on #11371
I will reopen issue then you fill out the issue template

[2020-08-25 09:49] evilebottnawi commented on #10955
Closing due to inactivity. Thanks!

[2020-08-25 09:49] #10955 closed

[2020-08-25 14:35] Zver64 commented on #8424
I am new in this issue. Could anyone explain why is paths resolving not case sensitive in macos?

[2020-08-25 15:11] pgangwani commented on #11355
I tried 4.44.1, same results

[2020-08-25 15:41] vankop commented on #11371
yep, it is bug in documentation there is not `dependencies`, `dependenciesCount`, `percentBy` options for webpack@4

[2020-08-25 15:43] vankop commented on #11371
@evilebottnawi please transfer to docs repo..

[2020-08-25 16:00] KonstantinBalanchuk commented on #10761
@marques-work

Thanks man!

[2020-08-25 16:09] kemmis commented on #3520
+10000000

Please reconsider this. This isn't just an argument about a preference or matter of style. This is causing severe issues downstream. Please at least add an option to allow the progress to be sent to std out rather than error. Please meet us half way here.

*begging*

[2020-08-25 16:22] kemmis commented on #8871
+100000

Please reconsider implementing this option. This is causing significant headaches downstream, and adding this option will make the world a better place!

[2020-08-25 16:24] evilebottnawi commented on #8871
@kemmis why do you need this?

[2020-08-25 16:27] sokra commented on #8871
while stderr is on fact the right location for such output, you can create a plugin which provides a custom infrastructureLogger which writes to stdout instead.

[2020-08-25 17:06] kemmis commented on #8871
@evilebottnawi Thanks for the quick response. So here's the story:

Over on the [asp.net core project](https://github.com/dotnet/aspnetcore/issues/17277) devs are pulling their hair out and in some cases taking cyanide pills during their lunch breaks. The magic part of the framework that pipes communications between asp.net core and the angular cli depends on turning on 'progress' messages so it g

[2020-08-25 20:31] DraggonFantasy opened #11376 "ModuleNotFoundError: Module not found: Error: Can't resolve 'module'"
# Bug report

**What is the current behavior?**
Webpack throws following error:
`ModuleNotFoundError: Module not found: Error: Can't resolve 'module' in '/home/boris/.local/share/jupyter/lab/staging/node_modules/webpack/lib/node'`
This bug was already reported here: https://github.com/webpack/webpack/issues/6497

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
A

[2020-08-25 20:59] petermetz opened #11378 "[Webpack 5] ContextModuleFactory - RangeError: Maximum call stack size exceeded"
# Bug report

**What is the current behavior?**

The software crashes with stack overflow.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Observe the crash:

[code]

**What is the expected behavior?**

There is no stack overflow crash.

**Other relevant information:**
webpack version: `5.0.0-beta.28`
Node.js version: `v12.16.3`
Operating System: `Ubuntu 20.0

[2020-08-26 03:11] sutineeangs opened #11380 "hide relative path on bundle files"
Hi,
1. I build react project using webpack.
This is my config.
`
var config = {
  mode: NODE_ENV,
  node: {
    __filename: true,
    __dirname: true
  },
  entry: entry,
  optimization: {
    splitChunks: {
      chunks: 'all',
      maxInitialRequests: 2, // default to 2, adjust as needed
    },
    runtimeChunk: 'single', // optional, recommended
  },
  output: {
    publicPath: "",
    path: O

[2020-08-26 09:50] evilebottnawi commented on #11380
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

We can't help you without infro

[2020-08-26 09:50] #11380 closed

[2020-08-26 10:05] evilebottnawi commented on #11378
Thanks for the issue

[2020-08-26 14:15] KingSora opened #11382 "Don't generate webpackBootstrap code if bundling a library"
## Feature request

**What is the expected behavior?**
If I'm bundling a library, then the `webpackBootstrap` code is unwanted. Lets say my library looks like this:
[code]
Then I'm bundling it with the following options:
[code]

<details>
<summary>And I'm getting this as a result:</summary>

[code]

</details>

**What is motivation or use case for adding/changing the behavior?**
I want to bundle m

[2020-08-26 14:24] evilebottnawi commented on #11382
Fixed in webpack@5, can't be ported to webpack@4

[2020-08-26 14:46] KingSora commented on #11382
@evilebottnawi thanks for your quick answer. In `"webpack": "5.0.0-beta.28"` I'm getting this result:

<details>

[code]

</details>

This is better than before, but rollups output is still quite a bit smaller:

<details>
[code]
</details>

Please note that I haven't adapted any configs, so in case Webpack5 has a option to make the output smaller, please let me know.

[2020-08-26 14:52] evilebottnawi commented on #11382
@KingSora Why do you need bundler here? I see `babel` is enough in this case, we can't remove some runtime

[2020-08-26 14:57] KingSora commented on #11382
@evilebottnawi Thats just a minimal example. In reality the library is much bigger.
I understand that you wanna have a runtime in bundled applications, there it makes perfect sense, but in libraries which are ment to be shipped any additional boilerplate code is unwanted imo, (or am I wrong)?

[2020-08-26 15:14] vankop commented on #11382
Not sure why there is no module concatenation here.. with concatenation you should get roughly equal result.

[2020-08-26 16:53] KingSora commented on #11382
@vankop alright, is there a option I have to activate..?

[2020-08-26 17:49] vankop commented on #11382
concatenation does not work for external and json modules yet..

[2020-08-26 18:15] vncsmyrnk commented on #5427
this worked for me!

[2020-08-26 23:37] jasongrout commented on #9802
Does the new webpack 5 optimization setting `moduleIds: 'deterministic'` effectively replace using the `HashedModuleIdsPlugin` plugin? It seems that they are both deterministically setting the module ids, but I'm not sure if there is other context to what these are doing that I'm missing. Thanks!

[2020-08-27 00:40] Losses commented on #9184
bump this issue

[2020-08-27 05:16] sokra commented on #9802
@jasongrout yes. There is also `chunkIds: "deterministic"` and `mangleExports: "deterministic"`. All these are enabled by default in production mode, so you can omit the options from configuration.

[2020-08-27 05:34] artem-malko commented on #9802
@sokra HashedModuleIdsPlugin will be deprecated? As I understand, you thought, that it will be ok to use it in webpack 5. There is a link to discussion: https://github.com/webpack/webpack/issues/9802#issuecomment-542676544

[2020-08-27 08:42] lionel-bijaoui opened #11384 "The current caching strategy explained on the documentation results in ChunkLoadError"
Hello,

I don't really know if this is considered a bug reports as it expand a little bit beyond webpack, so I used this "other" template. I hope it is a correct use of this template.

I have followed the [guide](https://webpack.js.org/guides/caching/) to setup my application and define a caching strategy.
In the following deployments, I (and my users) started to get ChunkLoadError.

I seem that n

[2020-08-27 09:55] melink14 commented on #10828
Thanks Artem for the work around to use the rich types!
I think the fact that we need to change our typings would be good to add to the migration guide.

For example, for exporting the config producing function which takes env and argv, I found CliConfigOptions was missing and I replaced it with `WebpackOptionsNormalized` but I have no idea if that is correct since I just guessed based on the fact

[2020-08-27 10:08] sokra commented on #11384
This is not a valid solution. Why not following one of the listed solutions in the [blog post](http://dimaip.github.io/2020/04/25/deploying-apps-with-code-splitting/) you linked. They are all valid.

The issue is not related to caching. I will occur without long term caching optimization too. It's not even directly related to webpack, but to all lazy-loading techniques, even image lazy loading. So

[2020-08-27 12:05] evilebottnawi commented on #9802
@artem-malko No, `HashedModuleIdsPlugin` is not deprecated

[2020-08-27 13:51] corydorning53 opened #11386 "Using `require.main === module` has unexpected behavior"
# Bug report

**What is the current behavior?**
When using the following code in my index.js file to test whether my module is being run from the command-line, after i bundle my library with webpack, the code is always triggered.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
add the following code snippet to an index.js file and its always runs, even when ca

[2020-08-27 14:39] yoannmoinet commented on #8677
So I wasn't able to reproduce it in a simpler setup.

But, I did found more details on the issue.

It appeared based on the size of chunks important lazy chunks.
Like, smaller chunks wouldn't trigger the bug.

One thing that fixed the issue temporarily was to use `optimization.splitChunks.cacheGroups.default.minSize: 0`.

But, it ended up re-occuring with another chunk, even with this option.

I'v

[2020-08-27 14:54] evilebottnawi commented on #8677
@yoannmoinet Without reproducible test repo it is hard to say why it broken, maybe you can provide more infromation? Plugins/configs/screenshots/etc

[2020-08-27 16:04] artem-malko commented on #9802
@evilebottnawi sor, I mean optimization.moduleIds: 'hashed'

[2020-08-27 16:05] raldone01 commented on #10337
Is there a workaround for this? I need to bundle webassembly into an umd module to import into nodejs.

[2020-08-27 16:08] yoannmoinet commented on #8677
Tough, but fair 😉
I'll continue trying to isolate the problem.

[2020-08-27 16:25] evilebottnawi commented on #9802
@artem-malko No too, https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L1133 :smile:

[2020-08-27 16:55] artem-malko commented on #9802
@evilebottnawi hm, I've got this output with webpack v5.0.0-beta.28:

[code]

[2020-08-27 18:08] RedVelocity commented on #5866
This feature is so much needed on server side development, currently having to resort to separate babel, rimraf libraries rather than a single webpack config to transpile server side code.

[2020-08-27 23:03] #11310 closed

[2020-08-28 03:43] lucaschen opened #11390 "A discussion on the "module" property in package.json"
Where `target: "web"` is set inside Webpack, it defaults `resolve.mainFields` to be `["browser", "module", "main"]`.

I'm running into issues whereby certain libraries like https://github.com/krisk/fuse (amongst others) are not transpiling the code they reference via `module`. This means that where `module` is prioritised over `main`, certain cutting-edge features are making it into the bundle fil

[2020-08-28 07:22] bebraw opened #11391 "entry dependOn doesn't support array syntax"
## Feature request

There's [entry new syntax](https://github.com/webpack/changelog-v5#entry-point-dependency) that looks like this:

[code]

In my use case with webpack-plugin-serve, I have to inject a client script to each of the entries. With the usual object syntax I rewrite the entries as arrays of entry objects (`[{ app: '...path...' }, 'wps-client']`).

The array syntax doesn't appear to wo

[2020-08-28 07:41] bebraw commented on #11391
I found out the array syntax works **within** `import`. That's enough. 👍

[2020-08-28 07:41] #11391 closed

[2020-08-28 09:41] #11376 closed

[2020-08-28 11:09] evilebottnawi commented on #9485
@EricAdonis friendly ping, can you create reproducible test repo?

[2020-08-28 11:27] evilebottnawi commented on #9802
@artem-malko oh, yes, but you can still use it for v5, why do not migrate on `deterministic`?

[2020-08-28 11:28] evilebottnawi commented on #5866
Yes, it will be great feature, we will consider it after the stable webpack 5 release

[2020-08-28 11:41] evilebottnawi commented on #11390
Duplicate of #5756, please put feedback here and we will answer you

[2020-08-28 11:41] #11390 closed

[2020-08-28 12:57] tstibbs commented on #196
I've read the many comments on this issue and still can't work out how to get rid of the error. It's fine when it's your own code and you can use require contexts, but if it's in a third-party module that you don't control, then it's harder. In my case, bundling Mocha causes this error, but it still works fine because I don't use any of the functionality that's affected. So, I just want to suppres

[2020-08-28 14:47] vishalrajole opened #11393 "Deprecation Warnings when migrated from Webpack4 to Webpack5"
I am upgrading existing apps from webpack 4.43.0 to webpack 5.0.0-beta.28. I am seeing multiple deprecation warnings. I am using

[code]
With above setup, when I run
`node --trace-deprecation node_modules/webpack/bin/webpack.js --config ./webpack/webpack.development.js`

I am seeing following Deprecation warnings coming from `last-call-webpack-plugin` and `html-webpack-plugin` plugins

[code]

[co

[2020-08-28 14:48] vishalrajole commented on #11393
@ScriptedAlchemy

[2020-08-28 14:50] evilebottnawi commented on #11393
Please open an issues in `last-call-webpack-plugin`, `html-webpack-plugin` and `duplicate-package-checker-webpack-plugin` plugins, we can't fix it on our side. My reccomendation to migrate from `last-call-webpack-plugin` on official CSS minimizer plugin https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2020-08-28 14:50] #11393 closed

[2020-08-28 14:53] vishalrajole commented on #11393
It looks like `last-call-webpack-plugin` is being used by webpack internally. @evilebottnawi

[2020-08-28 15:07] evilebottnawi commented on #11393
webpack never uses `last-call-webpack-plugin`

[2020-08-28 15:12] artem-malko commented on #9802
@evilebottnawi as I said before https://github.com/webpack/webpack/issues/9802#issuecomment-542676544 cause of the researches of @sokra

[2020-08-28 16:26] dannywillems commented on #6615
I do confirm it does the job for me.

[2020-08-28 16:44] damiangreen opened #11394 "[WebPack 5] fails to bundle default unnamed iterator functions"
# Bug report

**What is the current behavior?**
 Bundling of this code (from d3-hierarchy)

[code]
generators code like this

[code]
It fails to compile because of the `*` in `__WEBPACK_DEFAULT_EXPORT__*`

Naming the iterator function _seems_ to fix it

webpack version: 5.0.0-beta.28
Node.js version: v13.12.0
Operating System: win 10 +mac
Additional tools:Babel

[2020-08-28 22:44] h0jeZvgoxFepBQ2C commented on #4363
Still a thing :/

[2020-08-29 00:02] sokra commented on #11394
fixed by #11354

[2020-08-29 00:02] #11394 closed

[2020-08-29 00:03] sokra commented on #9802
@artem-malko This has been improved since then.

[2020-08-29 02:31] #10367 closed

[2020-08-29 11:25] evilebottnawi commented on #4363
@h0jeZvgoxFepBQ2C Please create reproducible test repo

[2020-08-29 15:49] artem-malko opened #11396 "Strange ValidationError, when config is ok"
# Bug report

I have the following config (optimization part):

[code]

**What is the current behavior?**

Error in logs while production build:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

You can clone this repo https://github.com/artem-malko/webpack-5-beta-config-bug and try it by yourself.

**What is the expected behavior?**

No errors)

**Other releva

[2020-08-29 16:03] evilebottnawi commented on #11396
@artem-malko just note, you don't need `brotli-webpack-plugin`, because https://github.com/webpack-contrib/compression-webpack-plugin#using-brotli

[2020-08-29 16:08] evilebottnawi commented on #11396
Something buggy on `ts` side, because because webpack gets:
[code]

[2020-08-29 16:13] evilebottnawi commented on #11396
Yes, bug on `webpack-merge` side

[2020-08-29 16:18] evilebottnawi commented on #11396
Close in favor https://github.com/survivejs/webpack-merge/issues/145

[2020-08-29 16:18] #11396 closed

[2020-08-29 16:20] evilebottnawi commented on #11386
Why do you use it? can you provide use case?

[2020-08-29 16:24] evilebottnawi commented on #9520
Fixed by https://github.com/webpack/webpack/pull/11339 using the `optimization.realContentHash` option, it is `true` in production mode by default, in development mode we recommend do not use `hash`s in file names, but this will still work as expected

[2020-08-29 16:24] #9520 closed

[2020-08-29 16:43] HandsomeHan515 commented on #9766
IE 8 don't support bind function, add bind polyfill can solve this.

[2020-08-29 16:54] artem-malko commented on #11396
@evenstensberg thx a lot!

[2020-08-30 07:45] sokra commented on #10969
Send a PR

[2020-08-30 11:36] mifopen commented on #7064
bump

[2020-08-30 15:01] #7904 closed

[2020-08-30 20:31] ntucker commented on #9802
When using a function for config like

[code]

the function isn't even run.

[2020-08-30 20:42] vankop commented on #9802
@ntucker could you create a separate issue with repro please?

[2020-08-30 20:47] graingert commented on #3531
This issue should be re-opened. We have thousands of websites with our embeddable script that is built with webpack. These scripts are incredibly bloated since we have to polyfill a global promise that needs to be es6 compatible.

[2020-08-30 22:11] #9157 closed

[2020-08-30 23:14] ntucker opened #11398 "Function configs are not used (webpack 5)"
# Bug report

**What is the current behavior?**
Function configs are not used

**If the current behavior is a bug, please provide the steps to reproduce.**
See https://github.com/ntucker/webpack-example

**What is the expected behavior?**
- `running webpack` is printed to console
- output file is named `out.js`
- entrypoint 'first' points to non-existant directory `src2` and thus cannot compile

*

[2020-08-30 23:15] ntucker commented on #9802
@vankop okay, https://github.com/webpack/webpack/issues/11398

[2020-08-31 05:11] sokra commented on #11398
Seem to be a webpack cli issue

[2020-08-31 05:20] snitin315 commented on #11398
Yes, this issue is fixed in https://github.com/webpack/webpack-cli/pull/1721

[2020-08-31 05:27] #11398 closed

[2020-08-31 05:29] sokra commented on #7904
The library option is supported per entrypoint now

[2020-08-31 08:32] polx commented on #10890
Did I understand properly the beta release-notes that top-level-await is not supported anymore?

At least the two experiments' settings are not valid anymore, importAsync seems now standard but a line such as `import await emscriptenRuntime from './cpp-classes.emsc.js';` breaks in the current beta (beta-29) if the experiments are away.

[2020-08-31 10:20] evilebottnawi commented on #10891
Bump

[2020-08-31 10:40] evilebottnawi commented on #10890
@polx it is not broken, you should use `experiments`

[2020-08-31 11:08] sokra commented on #7565
No longer relevant with the new wasm spec

[2020-08-31 11:08] #7565 closed

[2020-08-31 11:26] polx commented on #10890
I wish you were right @evilebottnawi but that's not what it tells me:

		git clone 'https://github.com/polx/webpack-emscripten.git'
		cd webpack-emscripten
		cd example
		npm install
		node node_modules/webpack/bin/webpack.js --mode development

		[….]

		  postFormatter: [Function: postFormatter],
		  message: 'Invalid configuration object. Webpack has been initialized using a configuration objec

[2020-08-31 11:28] evilebottnawi commented on #10890
`importAwait` and `importAsync` was removed, it is `true` by default right now

[2020-08-31 11:37] polx commented on #10890
Ok. emptied the `experiments` object. Now I get:

        ERROR in ./src/app.js 1:7
        Module parse failed: Cannot use keyword 'await' outside an async function (1:7)

The line is just `import await emscriptenRuntime from './cpp-classes.emsc.js';` .

[2020-08-31 11:40] evilebottnawi commented on #10890
Set `topLevelAwait: true` :smile:

[2020-08-31 11:44] polx commented on #10890
* In experiments? (same "cannot use keyword" error as above).
* outside? (property of module.exports): inappropriate config

Thanks for your help.

[2020-08-31 11:46] evilebottnawi commented on #10890
hm, I will look at this in near future

[2020-08-31 12:06] evilebottnawi commented on #10890
@polx code is not valid :confused:
[code]

[2020-08-31 12:22] polx commented on #10890
You mean it's not valid-JS?  `import await` has never been valid-JS or?
So what would otherwise be an example for `import await` ?

[2020-08-31 12:56] corydorning53 commented on #11386
i use it to determine if i'm running my scripts from the command-line. allows to me to process command line args, test locally, etc. when not calling it from another module/script.

[2020-08-31 16:16] evilebottnawi commented on #11386
When you bundle code `require.main` is not working, it is expected, because now you don't have `main` module, all code in one file