[2021-02-16 08:50] Stexxe opened #12694 "TypeError: __webpack_require__(...) is not a function on nodejs"
# Bug report

**What is the current behavior?**
I get `TypeError: __webpack_require__(...) is not a function` while running bundled script by `node`.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here is the sample project [webpack_require.zip](https://github.com/webpack/webpack/files/5987194/webpack_require.zip). The steps to reproduce the problem are the following

[2021-02-16 08:54] sokra commented on #12683
Will do soon

[2021-02-16 10:16] alexander-akait commented on #12689
You need to update `html-webpack-plugin` to v5

[2021-02-16 10:22] alexander-akait commented on #12185
@ftatzky webpack have the `output.clean` option, so you don't need `clean-webpack-plugin`/`rimraf`

[2021-02-16 10:23] alexander-akait commented on #3165
@ColCh Thanks, https://github.com/webpack/webpack.js.org/issues/4606, we will remove it

[2021-02-16 10:26] alexander-akait commented on #12102
@saivan Please create reproducible test repo or provide profiling

[2021-02-16 10:26] alexander-akait commented on #12673
Answer, feel free to feedback

[2021-02-16 10:26] #12673 closed

[2021-02-16 10:37] trullock commented on #12689
Thanks, I'll look into that

[2021-02-16 10:58] alexander-akait commented on #12694
@Stexxe Here interesting case, when you run `node src/index.js` Node.js uses the `main` field from `package.json` from `node-fetch` package (i.e. `node-fetch/lib/index.js`), but when you run `webpack`, `webpack` uses the `module` field so we bundle `node-fetch/lib/index.mjs`, and because you use `require` we export the `default` **property** (not `default` export, because not `default` export for

[2021-02-16 11:00] alexander-akait commented on #12694
Duplicate https://github.com/webpack/webpack/issues/5756

[2021-02-16 11:00] #12694 closed

[2021-02-16 11:01] alexander-akait commented on #5756
I think we can generate warning for these cases, so developers be able to identify the problem faster

[2021-02-16 11:35] alexander-akait commented on #12681
Unfortunately splitting modules between dynamic imports is not supported, other bundlers doesn't support it too https://bundlers.tooling.report/code-splitting/splitting-modules/dynamic-import/, there are some difficult things here to implement this

[2021-02-16 11:40] Shigawire commented on #11649
To anyone who also has the same problem: We're using rails webpacker and had the described issue.
Rails' `webpacker` 5.x.x is only compatible with `webpack` 4.x.x (https://github.com/rails/webpacker/tree/5-x-stable). You might want to downgrade to `webpack` 4 :)

[2021-02-16 12:11] alexander-akait commented on #11016
I think still valid

[2021-02-16 17:14] marcusds commented on #12681
Interesting, so even though they are unrelated modules they have to be included with other unrelated dynamic imports?

[2021-02-16 17:17] alexander-akait commented on #12681
https://github.com/marcusds/webpack-imports-sample/blob/main/src/index.js#L7 and https://github.com/marcusds/webpack-imports-sample/blob/main/src/index.js#L24 is the same import

[2021-02-16 17:19] marcusds commented on #12681
Ah yes that is true for my reproducation. In my real use case they are coming from separately installed NPM packages. I will attempt to update my example with a proper reproduction.

[2021-02-16 17:37] marcusds commented on #12681
If I was importing several external packages, which shared another external package as a dependency would that result in the same use scenario as importing two modules from the same file?

[2021-02-16 22:16] severinbeauvais commented on #7378
Re-exporting types in TS is coming soon!

https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/

[2021-02-16 23:49] jt3k commented on #9553
I have the same problem.

[2021-02-17 00:46] marcusds commented on #12681
To anyone else who encounters this issue, to get around this problem I am doing a simple "proxy" script just `export { something } from 'something';` and that seems to be solving my problem. Haven't found a reason not to try it this way yet at least.

[2021-02-17 11:00] alexander-akait commented on #9553
@jt3k Update webpack v4 to the latest version

[2021-02-17 11:11] alexander-akait commented on #12003
bump

[2021-02-17 15:12] cdoublev opened #12701 "Watching error with ContextModule"
# Bug report

**What is the current behavior?**

When saving changes to a file bundled in a multi-compiler mode (not sure this is relevant though), of a server side rendered React application, hydrated client side after synchronous loading of the dynamically splitted chunks (meaning the use of `require.resolveWeak`), compiler watching crashes with the following error:

[code]

`path` has the follo

[2021-02-17 17:02] simPod commented on #6693
@web-mi Thx, that helped. Had the issue with w5.

[2021-02-17 22:44] mrrosoff opened #12702 "PostCSS Loader (BrowserslistError) - WIndows"
# Bug report

**What is the current behavior?**

When attempting to compile project on Windows, Webpack throws a BrowserslistError. This does not occur on MacOS or Linux. The error is derived from `postcss`, but has appeared in other packages as well.

Here is the full error log.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The error can be found in [this]

[2021-02-18 06:17] takhello commented on #12689
Really a dangerous update, sorry

[2021-02-18 07:27] ddbhagat opened #12705 "Facing undefined error for json import while running jest enzyme test cases"
# Bug report

**What is the current behavior?**

To fix the below warning
[code]
As suggested in Webpack 5, https://webpack.js.org/migrate/5/#using-named-exports-from-json-modules I am changing JSON imports from import * as data from './data.json'; to import data from './data.json';

This is working perfectly fine for react application. But jest + enzyme test cases started failing with undefined e

[2021-02-18 08:17] rramaa opened #12706 "Sentry support in Module Federation"
## Feature request

**What is the expected behavior?**
Sentry intercepts errors at a global level. That error is tagged with a release version and the sourcemaps related to that release is used for displaying the real source.

But now since an error source can be any part of the code and that part can have different release versions(since they are deployed separately), how I can communicate the re

[2021-02-18 08:42] JhonnyJason commented on #12011
Hello - back on the same track... Keeping my off my critical development path^^

So small bump again.

What is the solution now?
For the immediate case I could again change the package.json of the package or the config. Still there will be a next one. And a next one and so on... If I automate the process then, it helps yhea. Still does require at least one session of reasearch for everyone else to

[2021-02-18 09:00] kaweesi commented on #10551
move the functionality causing that into cypress/support/ such as in commands.js

[2021-02-18 09:25] sokra commented on #12706
Afaik it's not technically possible to tag errors thrown by the source. You need to get that from the stack trace.

[2021-02-18 10:06] cdoublev commented on #12701
Here is a [minimum reproduction repository](https://github.com/cdoublev/webpack-issue) (also updated in my initial comment with the steps to reproduce the bug).

I figured that the bug might come from a conflicting import of `core-js/modules/esnext.set.add-all.js` in `./src/universal.js`, which is injected by `babel` when its configuration has `corejs` option with `proposals: true`.

The thing I c

[2021-02-18 10:13] ftatzky commented on #12185
Oh I didn't know that, thank you!

[2021-02-18 11:19] jt3k commented on #9553
important for me is not to change the nodejs version. I am currently using nodejs version 8
if i change webpack version from v4 to v5 then i have to update nodejs as well but this is not possible in the current project.

Is it possible to fix the problem without changing the nodejs version?

[2021-02-18 12:10] alexander-akait commented on #9553
You don't need update Node.js, update v4 to the latest version

[2021-02-18 12:21] keichinger commented on #11630
I'm also missing a lot of types from v4 that are no longer available/exported in v5

Among those are:

- `MultiStats`
- `Watching`
- `Node` this may have probably probably just being renamed?

This is a blocking issue for me as I can't upgrade our own build tools as long as the types are missing. Is the recommended workaround to copy/paste Webpack's type definition into your project until the miss

[2021-02-18 12:21] alexander-akait commented on #12011
Because it is unsafe

[2021-02-18 12:27] alexander-akait commented on #11630
https://github.com/webpack/webpack/pull/12590

`Compiler['watching']`

`Configuration['node']`

[2021-02-18 12:28] alexander-akait commented on #12702
Won't fix in webpack, please look at stack trace, problem from `postcss-preset-env` and `browserslist`, please report the problem in these repos

[2021-02-18 12:28] #12702 closed

[2021-02-18 12:36] alexander-akait commented on #12705
We just follow the spec, also it is works without `ts`, so you need additional options for jest + enzume + ts, you can open an issue/ask in discussions in these repos, sorry, nothing to fix on webpack side

[2021-02-18 12:36] #12705 closed

[2021-02-18 13:58] keichinger commented on #11630
@alexander-akait do you mean I should do something like `type NodeConfiguration = ReturnType<webpack.Configuration["node"]>;`? Or what are you referring to?

[2021-02-18 14:08] alexander-akait commented on #11630
You don't need `ReturnType` here

[2021-02-18 15:23] PAkerstrand opened #12712 "Module concatenation bug in destructuring assignment with default value"
# Bug report

**What is the current behavior?**

When using destructuring assignment in a module, in combination with a default assignment, it can cause the property looked up in the generated code to be different than the one in the source code _(it uses `newName`)_ if there's a identifier collision.

[code]
[code]
[code]

Generated code:

[code]

The incorrect part is this line:

[code]

**If th

[2021-02-18 15:26] alexander-akait commented on #12712
Thanks

[2021-02-18 15:42] JhonnyJason commented on #12011
@alexander-akait Can you elaborate?
How could this make anything unsafe?

[2021-02-18 15:43] alexander-akait commented on #12011
Because some packages require Node.js packages and package can be broken

[2021-02-18 16:37] jasongrout commented on #12305
We have a report of a very similar problem at https://github.com/jupyterlab/jupyterlab/issues/9819 (but in our case, with the `join` method). It does seem like using UNC paths (which are windows paths that start with `\\`, not with `<drive>:`) falls through to the error case instead of being caught in https://github.com/webpack/webpack/blob/a62ddbd0e72ba3684e9fa25e30cd40324381feeb/lib/util/fs.js#L

[2021-02-18 16:39] alexander-akait commented on #12305
@jasongrout yep, bug :disappointed: Feel free to send a fix

[2021-02-18 16:57] jasongrout commented on #12305
See https://github.com/webpack/webpack/pull/12714. Thanks!

[2021-02-18 17:45] sokra commented on #12712
Send a PR.

The AST is a bit different in this case because of the default value. There is a AssignmentPattern in between that need to be handled.

[2021-02-18 17:56] alexander-akait commented on #12633
@liuliangsir friendly ping

[2021-02-18 18:10] PAkerstrand commented on #12712
Yeah, I saw that... I’ll try to create a PR

[2021-02-18 19:24] Kamil93 commented on #9297
I can confirm the bug:

`chunkFilename: "assets/scripts/[name].js"`

For webpack v4 it works correctly, that chunk was placed in `assets/scripts` folder, now in webpack 5 path is ignored

[2021-02-18 20:26] mrdoob opened #12716 "Foo.prototype.isFoo = true breaks tree-shaking"
# Bug report

**What is the current behavior?**

Seems like [Webpack tree-shaking breaks when adding a property to a class prototype](https://github.com/mrdoob/three.js/pull/21285#issuecomment-780519616).
Rollup however, [seems to be able to tree-shake it](https://rollupjs.org/repl/?version=2.39.0&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29kZSUyMiUzQSU

[2021-02-18 23:34] sanbornhilland commented on #6472
Okay for anyone who comes along with the same migration questions I had, I've gone a little further on this and it does indeed work out of the box in Webpack 5. I had to do two things.

1. Drop `worker-loader` and use this syntax mentioned by @sokra

	new Worker(new URL("./worker", import.meta.url))

1. For workers that were using comlink, drop the `comlink-loader` and switch to use the new syntax

[2021-02-19 02:40] qkreltms commented on #5429
I had similar issue `modules[moduleId] is not a function` it was due to webpack-node-externals.

[2021-02-19 05:15] rramaa commented on #12706
That's what I thought. Traces are mangled in production mode. Is there any federation plugin configuration through which I can get the source application from where the error originated(through stack traces itself or any other way)?

[2021-02-19 10:18] morfair commented on #7426
@Alabit
In which file and in which section to specify this parameter for vue cli?

[2021-02-19 11:06] tsarapke opened #12719 "Webpack 5: Library build with WebWrokers does not work with applications that are dependent on it"
# Bug report

**What is the current behavior?**

We have a core library based on React, that used among several applications that built on top of `react-scripts`.
Our library contain various heavy computations that used among our applications.
Adding `new Worker` construction in library, produces additional chunk in build result (what is quite expected). But when using component from a library tha

[2021-02-19 11:39] alexander-akait commented on #5429
@qkreltms Please update `webpack-node-externals` to the latest stable version

[2021-02-19 12:20] alexander-akait commented on #12701
Problem from `webpack-hot-server-middleware`, if you comment `app.use(webpackHotServerMiddleware(compiler))` code all works fine, here interesting case when you use `requireFromString` https://github.com/60frames/webpack-hot-server-middleware/blob/master/src/index.js#L65, code from webpack evaluated so some globals (from evaluated code) was modified (that is why `Set` polyfill break code) https://

[2021-02-19 12:28] alexander-akait commented on #12701
Here bug in babel (I think), because it is just `proposals`, so using them is very dangerous, they potential break code

[2021-02-19 13:18] alexander-akait commented on #12719
Here two problems, go to `http://localhost:3000/src_workers_helloWorld_worker_js.index.js` and look at content of file, the first problem - you use new webpack v5 syntax - `new URL('./file.js', import.url.meta)` (after bundling you have `new Worker(new URL(/* worker import */ __webpack_require__.p + __webpack_require__.u("src_workers_helloWorld_worker_js"), __webpack_require__.b))`), but because `

[2021-02-19 14:05] tsarapke commented on #12719
Have tried to create "proj2 (https://github.com/tsarapke/proj2.git)" with Webpack 5 avoiding `react-scripts`. So yes, it could not find workerized chunk. It throws 404 error.

![image](https://user-images.githubusercontent.com/7983863/108513595-e0cb0700-72d3-11eb-9e6d-edc4ff0fae1b.png)

So... is it actually a bug or feature? Should Webpack 5 copy worker chunks from library package?

[2021-02-19 14:07] alexander-akait commented on #12719
Here two bugs:
- `react-scripts` should update `webpack` to v5, to understand `new URL` syntax, can't be fixed here
- `webpack` should copy files from bundled `new URL`

[2021-02-19 14:26] tsarapke commented on #12719
Regarding first point, as far as I know, at the moment some work is being done towards migration (have no idea how long it would be).

As for the second... Hope it will be fixed in near future (begging_cat.gif)

[2021-02-19 15:03] cdoublev commented on #12701
My apologies: I don't know how I came to observe that `babel` injects `add-all` when `proposals` is `false`, but it is wrong. Thanks for the helpful insights from above. I was aware of some other issues related to the code eval by `requireFromString`. I'm afraid I'm not competent enough to find a workaround, but I'll try!

[2021-02-19 15:13] alexander-akait commented on #12701
Let's keep open, in theory we can add additional check https://github.com/webpack/webpack/blob/master/lib/cache/ResolverCachePlugin.js#L44 to ensure is it `Set` or our `LazySet`, I think we can fix it using:
[code]

[2021-02-19 15:20] cdoublev commented on #12701
Oh sorry.

I also found this "dumb" workaround for `webpack-hot-server-middleware`:

[code]

[2021-02-19 15:22] alexander-akait commented on #12701
Yep, should also works fine

[2021-02-19 18:39] janeksmielowski opened #12723 "Using splitChunks together with library causes undefined exports"
I'm trying to create library, built by webpack. Creating an entry with some exported function works just fine.
The problem starts when I add splitChunks property with any of these settings: `chunks: "all"`, `"async"` or `"initial"`.
When I'm trying to use the exported module I got `undefined`.

# Bug report

**What is the current behavior?**
Using `splitChunks` and `library` makes exports undefine

[2021-02-19 20:27] wesselvdv opened #12724 "ReferenceError: Cannot access '<something>' before initialization"
# Bug report

**What is the current behavior?**

I am not quite sure how to describe what the situation actually is, but the bottom line is that in some rare cases importing a module in the wrong order causes `ReferenceError: Cannot access '<something>' before initialization`.

Enabling both `innerGraph` and `usedExports` seems to allow one to work around the problem.

**If the current behavior is

[2021-02-19 20:37] jlurena commented on #5433
+1

[2021-02-19 20:42] ndresx commented on #7378
I just stumbled upon this issue and I'm wondering about a specific case where webpack/`HarmonyImportSpecifierDependency` seems to be unable to resolve a decorated + typed class member type, even though it works for another one that gets imported from the same file.

[code]

[code]

In this case, the `ComponentId` type "cannot be found", whereas the `ItemId` can. I'm really not sure what's going on

[2021-02-19 21:09] lonewarrior556 commented on #7378
It has something to do with the decorator see if this works for you: https://github.com/webpack/webpack/issues/7378#issuecomment-617880809

In my project only the `@input()` variables showed this behavior this is definiltly a webpack issue and it's disappointing that it has been closed.

[2021-02-19 23:45] gfortaine commented on #8538
It looks like that this issue is still present : https://github.com/vercel/next.js/issues/22200

[2021-02-20 06:40] sokra commented on #5433
We recently added `layer`s which enables this

[2021-02-20 06:41] #5433 closed

[2021-02-20 07:34] gugu2012 opened #12726 "exec"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2021-02-20 11:56] mrdoob commented on #12716
Rollup maintainer had this to say:
https://twitter.com/lukastaegert/status/1363084395960221703

[2021-02-20 12:47] alexander-akait commented on #12726
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-02-20 12:47] #12726 closed

[2021-02-20 12:53] alexander-akait commented on #12723
You forget to include splitted chunk in HTML file (run `ls -l ./dist`), I recommend do not use `splitChunks` for libraries if you don't understand why you need this, unfortunately you ignore `**If the current behavior is a bug, please provide the steps to reproduce.**` so won't fix

[2021-02-20 13:07] alexander-akait commented on #12724
Much like a circular dependency

[2021-02-20 13:15] alexander-akait commented on #12644
Feel free to feedback

[2021-02-20 13:15] #12644 closed

[2021-02-20 13:15] janeksmielowski commented on #12723
I cannot include it, because I have dynamically named files, with hash. I use it, because I need it, to split same logic, used in multiple places. Why doesn't webpack resolve this splitted chunk itself? Is it possible to make it resolve automatically?

[2021-02-20 13:19] alexander-akait commented on #12723
When you split `initial` chunks you need manually inject them, otherwise what's the point of split them, just don't use `all`

You can use `html-webpack-plugin` or logic from this plugin to generate `script` and `style` tags

[2021-02-20 13:23] mikearnaldi commented on #12724
@alexander-akait the issue doesn't present when optimizations are present and also doesn't reproduce without the usage of webpack looks more like a BUG

[2021-02-20 13:25] alexander-akait commented on #12724
Yes, I see, bug (I think)

[2021-02-20 13:44] mikearnaldi commented on #12724
I have it scoped down to the module flag in TS, if the `tsconfig.json` specify `"module": "commonjs"` the bug reproduces, if instead it is set to `"module": "es6"` it does not

[2021-02-20 13:46] alexander-akait commented on #4674
I think we can close it in favor `exports`, also good answer https://github.com/webpack/webpack/issues/4674#issuecomment-355853969 for legacy projects, feel free to feedback

And docs https://webpack.js.org/guides/package-exports/#providing-different-versions-depending-on-target-environment, anyway feel free to improve it

[2021-02-20 13:46] #4674 closed

[2021-02-20 13:47] mikearnaldi commented on #12724
The repro with the changes are:
https://github.com/wesselvdv/used-before-initialization/tree/repro (commonjs raising the issue)
https://github.com/wesselvdv/used-before-initialization/tree/fine (es6 working as expected)

[2021-02-20 13:51] alexander-akait commented on #6069
We have docs https://webpack.js.org/concepts/hot-module-replacement/

[2021-02-20 13:51] #6069 closed

[2021-02-20 14:16] sokra commented on #12724
There is a circular dependency in `@effect-ts/system`:

`@effect-ts/system/_traced/esm/Layer/definitions.js` exports LayerSuspend,
but before it does that it will import `@effect-ts/system/_traced/esm/Managed`,
which imports `@effect-ts/system/_traced/esm/Managed/methods/api.js`,
which imports `@effect-ts/system/_traced/esm/Layer/core.js`,
which imports LayerSuspend from `@effect-ts/system/_traced

[2021-02-20 14:24] sokra commented on #12716
There are many edge cases which makes this unsafe. [Rollup is a little more aggressive in optimization](https://rollupjs.org/repl/?version=2.39.0&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29kZSUyMiUzQSUyMmltcG9ydCUyMCU3QiUyMEZvbyUyMCU3RCUyMGZyb20lMjAnLiUyRkZvby5qcyclM0IlMjIlMkMlMjJpc0VudHJ5JTIyJTNBdHJ1ZSU3RCUyQyU3QiUyMm5hbWUlMjIlM0ElMjJGb28uanMlMjIlMkMl

[2021-02-20 14:24] #12716 closed

[2021-02-20 14:25] sokra commented on #12716
class properties work a bit different (they define a property instead of calling a setter) and allow a lot more optimizations:

[code]

[2021-02-20 14:31] mikearnaldi commented on #12724
The above without webpack works just fine, compiling with tsc and executing with node so with the Empty constant used

[2021-02-20 14:35] alexander-akait commented on #12724
Because `ts` generate wrong code, but when we try to bundle we face this problem

[2021-02-20 14:37] mikearnaldi commented on #12724
It works even when Empty is explicitly used, both in TS and with webpack & es6 module:

https://github.com/wesselvdv/used-before-initialization/commit/03dcc7750be79b95080da003ce6165bc419da0a0

[2021-02-20 14:42] mikearnaldi commented on #12724
would you mind saying exactly what wrong code does TS generate, if that is true we should raise the issue with the TS team too

[2021-02-20 14:48] alexander-akait commented on #12724
https://github.com/microsoft/TypeScript/issues/20361

[2021-02-20 15:14] martinjlowm commented on #10216
Just sharing my findings here. I couldn't get the monkey patch to work as the parser is assigned to a variable in Webpack (4.46.0) before the config is loaded: https://github.com/webpack/webpack/blob/v4.46.0/lib/Parser.js#L16. A workaround is to do the patching prior to running Webpack through requiring using `NODE_OPTIONS`, e.g. `NODE_OPTIONS="-r extend-acorn.js" npx webpack` with the content pro

[2021-02-20 17:41] #11691 closed

[2021-02-20 19:38] addejans commented on #8382
I had the same issue and this solution worked as well. Thanks!

[2021-02-20 20:43] JhonnyJason commented on #12011
I'm sorry, I think I don't get the idea there

Some packages require nodejs packages - yhea
A package can be broken with nodejs modules - ? hmm

Now the bundling process is broken exactly because of that error - I could not see how to avoid this error in this case would break something else

You mean like, when a packages requires the nodejs polyfill actually?
Then it is broken either way because

[2021-02-21 02:31] liuliangsir commented on #12633
It seems to be working on windows, So I am going to close the issue above.

[2021-02-21 02:31] #12633 closed

[2021-02-21 07:45] Ron-lab opened #12731 "Dynamic import not working with data uri from asset/inline"
# Bug report

**What is the current behavior?**
I'm using asset/inline ([Asset modules](https://webpack.js.org/guides/asset-modules/)) to load a javascript file (myfile.js):
webpack.config:
[code]
and some other javascript file that imports 'myfile.js':
[code]
It seems the Webpack can't resolve dynamic import from variable even when the variable contains data uri that Webpack generated.
**If the c

[2021-02-21 08:28] rahulrsingh09 opened #12732 "How to make SourceMaps work for 1p Packages with WebPack ?"
We have a bunch of 1p JS packages which are used across web and mobile (React Native App). One thing we have noticed is the source map only works for the base package and not for the 1p packages as those are node dependencies added at compile time.

The 1p node modules are not captured as part of the source maps how do we enable for our packages alone? I tried using https://www.npmjs.com/package/s

[2021-02-21 08:34] allanlw commented on #10231
For In addition to inline loaders you can also execute code at webpacking time using magic comments. See this Stack Overflow question: https://stackoverflow.com/a/66300450/315936

[2021-02-21 08:55] CommanderXL commented on #4817
If you using `@babel/plugin-transform-runtime` in your project，and one of your dependency in the `node_module` or file in your src dir that has been compiled for commonJs style by some bundle util like Webpack、Rollup. Your should exclude the file for the `babel-loader`. You can find the reason [here](https://babeljs.io/docs/en/options#sourcetype).

[2021-02-21 09:21] yulodl opened #12733 "optimization.minimizer only access default with `'...'` at the end of array"
https://github.com/webpack/webpack/blob/0dd311ca00fa65b8b953f2d035df148b29b5344b/lib/config/defaults.js#L98

may be `value.slice(0, i)`

[2021-02-21 10:37] npenin opened #12735 "does not compile when using yarn v2"
# Bug report

**What is the current behavior?** When using yarnv2 (which enforces proper dependency usage), it is not able to reference json-schema as it is not declared as a dependency.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?** All references used by webpack should be declared as direct dependencies in package.json

**Other r

[2021-02-21 21:14] cjblomqvist opened #12738 "Performance improvement of using cache"
I just wanted to say great work with persistent caching. My compile times went from 80s to 10s, which makes a huuuuge difference for me and my team development wise.

Really looking forward to lazy loading! (I don't dare to try experimental features, but it sounds truly promising!)

PS. Sorry for bloating the issue tracker.  😊

[2021-02-22 03:51] trusktr opened #12740 "Webpack bundle is empty"
# Bug report

**What is the current behavior?**

The output bundle is empty, and this is the entire content:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Then open `dist/ts/glas.esm.js` and it is empty. Same with `glas.umd.js`.

**What is the expected behavior?**

There should be stuff in the output bundle.

**Other relevant information:**
webpack

[2021-02-22 03:54] trusktr commented on #12740
I added a reproduction.

[2021-02-22 04:22] trusktr commented on #12740
Ah. Looks like because the entry point doesn't do anything, "tree shaking" is actually doing its job and not bundling anything because nothing will run.

[2021-02-22 04:22] #12740 closed

[2021-02-22 04:47] trusktr opened #12741 "Simplify outputModule:true format"
## Feature request

**What is the expected behavior?**

The output re-creates ES Module bindings inside of ES Modules. There's no point.

**What is motivation or use case for adding/changing the behavior?**

It should just `export` things and it is done.

**How should this be implemented in your opinion?**

For example, instead of having this code in the bundle (with concatenated modules turned on

[2021-02-22 04:48] trusktr commented on #12741
Is this format intentional? Or is it just a matter of time before someone has the time to improve it?

[2021-02-22 05:54] sokra commented on #12741
It's an intermediate work in progress state. Eventually this will be change to a direct export.

[2021-02-22 06:46] depl0y opened #12742 "Library build output different since 5.22, variable undefined"
# Bug report

**What is the current behavior?**

I build using the following output configuration:
[code]

This results in a variable `RF` which is `undefined`.

The declaration of a property of RF now occurs using the following code (generated):

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

In versions of webpack before

[2021-02-22 06:53] yyccQQu commented on #4039
just like this

[code]

[code]

[2021-02-22 07:46] #12712 closed

[2021-02-22 07:53] sokra commented on #12742
Yes that seem to be a regression.

[2021-02-22 07:54] sokra commented on #12741
see #2933

[2021-02-22 07:54] #12741 closed

[2021-02-22 08:19] sokra commented on #12738
Thanks for your positive feedback.

You should try it.

[2021-02-22 08:19] #12738 closed

[2021-02-22 08:22] sokra commented on #12731
Yes, expressions in `import()` are not supported. What are you trying to do?

Something like this would work:

[code]

but it this case `asset/inline` doesn't make sense.

If you really want to load a JS as DataURL with native import, this would work: (but I really question why you would want to do that)

[code]

[2021-02-22 08:24] sokra commented on #12732
What are 1p packages?

The error sounds like you are using an outdated webpack version, but I can't say because:

It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closin

[2021-02-22 08:24] #12732 closed

[2021-02-22 08:32] janeksmielowski commented on #12723
The thing is I've got multiple entry points. One is using HTML and the second will just expose library.
I actually need splitting, because it makes my build improved a lot.
Any idea, what should I do?

[2021-02-22 11:37] Ron-lab commented on #12731
@sokra
I want to do that because I'm working on a Wasm based javascript SDK that should be published as a library on npm.
If it wasn't a library that should be installed by other application, so there is not problem.
The library has few Emscripten generated dependency files:
`myFile.wasm, myFile.js and myFile.worker.js + SDK main.js.`
So when packing the library and install it by an application, t

[2021-02-22 13:39] #11219 closed

[2021-02-22 14:38] hhd5206 commented on #12689
You can try to do it like this
module: {
    rules: [
      {
        test: /\.css$/,
        use: ["style-loader", "css-loader"],
      },
      {
        exclude: /\.(css)$/, **//  this is the important**
        loader: "file-loader",
        options: {
          name: "[hash:10].[ext]",
        },
      },
    ],
  },
plugins: [
    new HTMLWebpackPlugin({
      template: "./src/index.html",

[2021-02-22 16:20] radex opened #12748 "--stats-error-details true causes webpack to never exit if cache is used"
# Bug report

**What is the current behavior?**

If all of these conditions are true:

- `cache: { type: 'filesystem', ... }` option is used
- the cache is fresh
- `--stats-error-details true` is passed to CLI

Then `webpack` will never complete, and will get stuck after the final "success" log:

[code]

Dirtying app files, removing cache config, or removing the debug `--stats-error-details true`

[2021-02-22 16:22] johnmusk opened #12749 "documentation"

[2021-02-22 17:24] bb1 commented on #339
optionalDependenciesis a field in the package.json see: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#optionaldependencies

[2021-02-22 19:15] AviVahl commented on #11630
also missing: Externals, ExternalItemFunctionData, ExternalItemValue, ExternalItemObjectKnown, ExternalItemObjectUnknown, ExternalItemValue

[2021-02-22 22:22] #12749 closed

[2021-02-23 04:37] jsg2021 opened #12757 "Destructured assignment/default value sometimes inverted"
# Bug report

**What is the current behavior?**
Some destructured assignments are getting rewritten with invalid syntax... the = and : to rename are in the wrong order.

**If the current behavior is a bug, please provide the steps to reproduce.**
I'm not sure how to get this to happen outside of my app, but I have a component that does something like:

[code]

and `src` becomes something like `{sr

[2021-02-23 05:45] duan602728596 opened #12758 "webpack module handle: _Reflect$construct is not defined"
# Bug report

**What is the current behavior?**
[code]
Class B inherits from class A, if there is no constructor in Class B, an error `_Reflect$construct is not defined` will be reported.

I tested on babel and webpack respectively, and found that the result of Babel compiled is normal, and webpack did not load the `@babel/runtime-corejs3/core-js/reflect/construct.js` module. Perhaps the 7.13.0 ve

[2021-02-23 06:48] YanYuanFE commented on #12758
webpack5 has this issue, "webpack": "^5.24.0","@babel/runtime-corejs3": "^7.13.3",

[2021-02-23 06:59] JonWallsten opened #12759 "Target files on different drive than the output path cause invalid path and error is thrown"
# Bug report

**What is the current behavior?**
When providing assets from a different drive than then output path on Windows Compiler.js throws an error and the build fails.
https://github.com/webpack/webpack/blob/972b7f9bd1c608a0ce8794b4bed236cfffe72b2e/lib/Compiler.js#L796

[code]
A path with multiple drives doesn't seem to be valid on Windows. So just joining the two paths doesn't work.

**If

[2021-02-23 07:03] YanYuanFE commented on #12758
.babelrc

[code]

[2021-02-23 07:34] Edge00 commented on #11444
Same problem. any idea yet？

[2021-02-23 14:50] dmitrysurkin opened #12763 "Ws does not work in the browser. Browser clients must use the native WebSocket object"
My node js application uses a library 'ws'. I'm trying to make a build. An error is thrown in the bundle.

Webpack.config.js
`const path = require('path');

module.exports = {
    entry: path.resolve(__dirname, 'index.js'),
    output: {
        filename: 'index.js',
        path: path.resolve(__dirname, 'build')
    },
    module: {
        rules: [
          {
            test: /\.(js)$/,

[2021-02-23 15:07] kevinschaffter commented on #11944
@Rinaldo, The above works with lazily loading React components.  How would you deal with importing a utility functions to use in a react component from a federated module?

[2021-02-23 15:11] dmitrysurkin commented on #12763
The problem is solved by changing the environment in webpack.config.js

target: 'node',

[2021-02-23 15:11] #12763 closed

[2021-02-23 17:50] char0n opened #12767 "Corner-case with method shorthand syntax"
# Bug report

**What is the current behavior?**

The behavior is documented here and affects webpack@4 only: https://github.com/babel/babel/discussions/12874. I thought originally that it was babel bug, but seems like a webpack@4 one. webpack@5 doesn't use `Object` call so it doesn't manifest with this issue. I'm reporting this on webpack@4 as CRA is still using it.

**If the current behavior is a

[2021-02-23 19:25] npetruzzelli opened #12768 "Webpack 5: TypeError when `output.globalObject = "this"`"
# Bug report

I initially opened this as an issue in `karma-webpack`, but [found the code responsible to be in `webpack@5.x.x`](https://github.com/ryanclark/karma-webpack/issues/497#issuecomment-784434254).

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1.  set `output.globalObject` to `"this"`
    -   setting `output.libra

[2021-02-23 20:07] Hypnosphi opened #12769 "Module concatenation produces invalid syntax when using object destructuring with a default"
# Bug report

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**

See reproduction: https://github.com/Hypnosphi/webpack-5-repro

Here’s the output with invalid syntax:

[code]

**What is the expected behavior?**

[code]

**Other relevant information:**
webpack version:  5.24.0
Node.js version: 12.20.2
Operating System: Linux, macOS
Addit

[2021-02-23 22:13] mbehzad opened #12770 "Webpack 5.22. `compiler.modifiedFiles` is undefined in watch build when config is an array."
# Bug report

**What is the current behavior?**
I've got a webpack plugin which reads modified files from the `compiler.modifiedFiles`. When the webpack config  is an array, then the `modifiedFiles` is `undefined` when the plugins tap callback is called after a file change.

**If the current behavior is a bug, please provide the steps to reproduce.**
see the minimal reproduction repo: https://gith

[2021-02-24 02:57] #12758 closed

[2021-02-24 04:01] #10745 closed

[2021-02-24 04:08] bpowers commented on #12769
I'm also seeing this, but don't have a reproduction (downgrading to 5.23 is my current workaround)

[2021-02-24 06:07] evazion commented on #12742
I believe I'm seeing the same bug. In my case `git bisect` indicates https://github.com/webpack/webpack/commit/9f3950e571c9e56ac6264d55ea31bac99a113fe9 is the broken commit.

[2021-02-24 06:14] Geksanit opened #12771 "Webpack 5 memory leak in watch mode"
# Bug report

**What is the current behavior?**
When I make a change in my web app and Webpack compiles, memory usage seems to increase. If I keep making changes and Webpack keeps re-compiling, memory usage will continue to climb. In a large project I work in, it takes about 10 compilations until Webpack crashes with a "Allocation failed - JavaScript heap out of memory" exception.

**If the curren

[2021-02-24 08:39] huiyifyj opened #12772 "How to specify @babel/register for webpack 5"
For webpack 4, I can use es6 to edit configuration file by using `--config-register` / `-r @babel/register` flag.
Migrate to webpack 5, it doesn't work. It looks the flag be not supported.

[2021-02-24 11:22] alexander-akait commented on #12772
You don't need it, webpack-cli automatically apply `@babel/register` on `.babel.js` files, anyway if you still have problems with migration please open an issue in `webpack-cli` repo

[2021-02-24 11:22] #12772 closed

[2021-02-24 11:41] alexander-akait commented on #12759
PR welcome

[2021-02-24 11:43] alexander-akait commented on #12757
Duplicate https://github.com/webpack/webpack/issues/12769

[2021-02-24 11:43] #12757 closed

[2021-02-24 11:43] alexander-akait commented on #12769
Other example https://github.com/webpack/webpack/issues/12757

[2021-02-24 12:08] alexander-akait commented on #12767
Sorry, webpack v4 is deprecated, we strong recommend to update to v5, unfortunately this cannot be fixed in v4, this fix is likely to create a lot of regressions, so we try not to touch at all v4, sorry again

[2021-02-24 12:08] #12767 closed

[2021-02-24 12:11] alexander-akait commented on #11630
@AviVahl Feel free to send a fix

[2021-02-24 12:16] alexander-akait commented on #12723
You can get this information from `stats`, if you need good logic please look at `HTMLWebpackPlugin` code, it will be faster

[2021-02-24 12:18] alexander-akait commented on #12768
Still, but in `karma-webpack`, nothing to fix on webpack side, sorry

[2021-02-24 12:24] alexander-akait commented on #12731
Can you provide example?

[2021-02-24 12:25] alexander-akait commented on #12735
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Do not ignore `If the current behavior is a bug, please provide the steps to reproduce.`

Webpack don't use `json-schema` package

[2021-02-24 12:25] #12735 closed

[2021-02-24 12:39] alexander-akait commented on #12768
Duplicate https://github.com/webpack/webpack/issues/6522, we need `target: 'universal'` for this (https://github.com/webpack/webpack/issues/6525)

[2021-02-24 12:39] #12768 closed

[2021-02-24 12:41] AviVahl commented on #11630
And if this was a typescript project, I probably would.

Instead, I would have to learn *yet another* syntax for defining and re-exporting interfaces/symbols via jsdocs, plus the custom types building infrastructure in this project. Not fun, and drives many typescript contributors, like myself, away.

If I'm opting to open an issue instead of creating a PR, you may want to ask yourself how easy it

[2021-02-24 12:44] alexander-akait commented on #11630
@AviVahl typescript jsdoc is not new syntax, it is default feature for ts, you don't need to study it, just put necessary types here https://github.com/webpack/webpack/blob/master/lib/index.js#L31

[2021-02-24 12:45] snitin315 commented on #11630
No worries if you don't have bandwidth @AviVahl  I can send a PR for exporting these types.

[2021-02-24 12:47] AviVahl commented on #11630
Awesome, thanks. I'm mainly reporting it to resolve stuff for other people. I've got workarounds in place for all reported issues.

[2021-02-24 14:38] JonWallsten commented on #12759
@alexander-akait: I'll fix. I just need to figure out what the best practices is! 😬

[2021-02-24 15:02] alexander-akait commented on #11659
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions (we done a lot of optimizations). Thanks!

[2021-02-24 15:02] #11659 closed

[2021-02-24 17:08] huiyifyj commented on #12772
Thanks for your reply. 👍

[2021-02-24 17:23] NicholasFalcone opened #12776 "FS error when i start the output of webpack"
# Bug report

Hi,
I got the following error when I try to run my "build" API server after the inclusion of mjml
[code]

My current configuration:

**Webpack.js**
[code]

**.babelrc**
[code]
Can some help me figure out the solution?
I have found nothing online
Thank you

**What is the current behavior?**
Webpack complete the building behaviour, but when I try to start the output this following erro

[2021-02-24 17:34] alexander-akait commented on #12776
Do not ignore this

Sorry won't fix

[2021-02-24 17:34] #12776 closed

[2021-02-24 17:43] NicholasFalcone commented on #12776
Sorry, I miss that bullet.
This behaviour appears when I include mjml on my project, if i remove the reference to this package everything work fine.

I found this guy with a relative issue [https://github.com/yarnpkg/berry/issues/1678](ref)

[2021-02-24 17:45] alexander-akait commented on #12776
Maybe you can provide minimum reproducible test repo?

[2021-02-24 18:01] NicholasFalcone commented on #12776
Sure
[https://github.com/NicholasFalcone/webpack_issues__12776](repo)

[2021-02-24 18:05] deepakbhattmits commented on #4569
i got same error 'output.filename' is required, either in config file or as --output-filename. how to resolve this

[2021-02-24 18:05] NicholasFalcone commented on #12776
my bad, try now

[2021-02-24 18:17] alexander-akait commented on #12776
Why do you try to bundle `uglify-js`?

[2021-02-24 18:27] NicholasFalcone commented on #12776
On that project for no reason, it was an error when copying and pasting to create the sample repository. But I think it must not be the reason for the mistake.

[2021-02-24 18:31] alexander-akait commented on #12776
`uglify-js` is the problem here, here problem https://github.com/mishoo/UglifyJS/blob/master/tools/node.js#L3 is not safe to use, you can keep name of modules and it will fix the problem...

[2021-02-24 18:49] NicholasFalcone commented on #12776
I try to remove ```uglify-js``` from the test repo, but I keep getting the error.
 Some idea? Have you been able to make it work?

[2021-02-24 19:15] #12769 closed

[2021-02-24 20:02] #12770 closed

[2021-02-24 21:25] johnjesse opened #12779 "Optimization moduleIds documentation is wrong"
# Bug report

**What is the current behavior?**
The docs say the default `optimization.moduleIds` setting is `false`
https://webpack.js.org/configuration/optimization/#optimizationmoduleids

But GitHub seems to say something different https://github.com/webpack/webpack/blob/4c2ee7a4ddb8db2362ca83b6c4190523387ba7ee/lib/config/defaults.js#L894

This took me two days to track down - we used to use th

[2021-02-24 22:13] mbehzad commented on #12770
works with 5.24.2. thanx. you guys rock!

[2021-02-25 00:50] joeblynch opened #12780 "Module Federation remotes do not load when using webworker target"
**Do you want to request a *feature* or report a *bug*?**

This appears to be a bug.

**What is the current behavior?**

When using `target: 'webworker'`, for a webworker script which uses `ModuleFederationPlugin` to load a remote module, the error `Uncaught (in promise) DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'XXX' failed to load.` occurs when attempt

[2021-02-25 05:03] b-e-r-t-o commented on #7782
@sokra the workaround is not working for me as I'm getting the 'default' added still. To build on the example above my module looks like this:

[code]

When I go look at my main chunk I see there is a reference to 'default' even though I am importing the separate modules as you've suggested.

[code]

[2021-02-25 06:37] lmxyjy commented on #11926
what? I want get more info...

[2021-02-25 07:48] JonWallsten commented on #12759
@alexander-akait: This is more complex than i though:
[code]

The reason for the error is that `karma-webpack` is trying to read the file after it's written, but with the wrong path since I changed it to not contain `:`
So instead of just fixing the path when the asset is emitted, I need to change the path's source so when stats are returned the path is changed there as well:
[code]

[2021-02-25 11:05] piecyk commented on #12771
I'm also seeing this, running webpack `5.24.2`

[2021-02-25 11:22] alexander-akait commented on #11926
You don't ask something

[2021-02-25 11:29] alexander-akait commented on #12759
So nothing to fix on webpack side, bug in `karma-webpack`

[2021-02-25 11:29] alexander-akait commented on #12776
@NicholasFalcone Can you update repo, I can't reproduce it without `uglify-js`

[2021-02-25 11:40] alexander-akait commented on #11869
Please use `Discussion` for questions, closed due https://github.com/webpack/webpack/issues/11869#issuecomment-727178109

[2021-02-25 11:40] #11869 closed

[2021-02-25 11:54] JonWallsten commented on #12759
That depends. Are you allowed to emit assets with a different drive than the output?
If the answers in yes: Then it's a bug in Webpack since `mkdirp` throws an error. It should then be fixed with some solution.
If the anwer is no: Then it should not be possible to emit a file on a different drive and `emitAssets` and an error should be throws when you do it.

The solution for 'yes' could be that a

[2021-02-25 11:55] alexander-akait commented on #12759
Yep, but, let's fix it

[2021-02-25 12:01] JonWallsten commented on #12759
I'll try to do it this weekend.

[2021-02-25 12:42] xgqfrms commented on #6879
[code]

[code]

[code]

[2021-02-25 13:33] alexander-akait commented on #12031
bump

[2021-02-25 15:41] name-used opened #12782 "Error: Rule can only have one resource source"
The Error Messages Are As Follow:

Error: Rule can only have one resource source (provided resource and test + include + exclude) in {
  "exclude": [
    null
  ],
  "use": [
    {
      "loader": "C:\\Users\\jizhe\\Desktop\\article-html\\node_modules\\@vue\\cli-plugin-babel\\node_modules\\cache-loader\\dist\\cjs.js",
      "options": {
        "cacheDirectory": "C:\\Users\\jizhe\\Desktop\\article

[2021-02-25 15:45] alexander-akait commented on #12782
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please ask this in `vue-cli` repo

[2021-02-25 15:45] #12782 closed

[2021-02-25 17:47] samhuk commented on #12408
I created an issue with webpack-hot-middleware that details an eventual side-effect of this: https://github.com/webpack-contrib/webpack-hot-middleware/issues/398. I believe that it's the exact same thing going on as in your linked issue (https://github.com/webpack-contrib/webpack-hot-middleware/issues/390)

[2021-02-25 19:33] jedwards1211 commented on #7782
@sokra now that I think about your example, there would even be a problem with stateless modules if they have to refer to classes within themselves, class definitions would have to be moved to some shared chunk to prevent `instanceof` problems.

[2021-02-25 19:40] jedwards1211 commented on #7782
Actually I'm confused.  Looking back at my OP it seems like `Toggle` and `Value` instances already *do* get duplicated.  But I assume the first chunk to get loaded registers that module with webpack, and the second chunk loads that preregistered module instead of registering duplicate class, function, etc instances?

[2021-02-25 20:12] sokra commented on #7782
Yes exactly. At runtime there is a module cache that makes sure that only a single instance of each module is instantiated. The first loaded chunk will add the module to the cache and the second chunk will use the module from the cache. So the modules in the chunks need to be identical as any of them might be used for both.

[2021-02-25 20:44] jedwards1211 commented on #7782
Makes sense.  Assuming we had code to split a stateless module into a base of common local variables used by all importing chunks, and tree-shaked modules that import from the base and export only what's used by the chunks, how tricky would it be to work those split modules into webpack?  I've dealt with fairly complex codemods and scope traversal with babel a lot, but I'm not very familiar with w

[2021-02-26 08:32] Eschon commented on #11753
I'm still running into this problem, but only with our production build in a docker image. My local development build works fine.
I'm not sure how to properly reproduce it.

My webpack version is 5.21.2
The docker image is node:14.15-alpine with very little added and the exact node version is 14.15.4
I have a .browserslistrc file with "defaults"

[2021-02-26 09:25] Eschon commented on #11753
Also happens with the latest webpack version (5.24.2) but at least the workaround suggested by @amok fixes it for me

[2021-02-26 09:51] ajunsama commented on #8537
@17biubiu I solved this problem by updating my babel-loader to 8.x and babel-core to @babel/core 7.x

[2021-02-26 10:35] klimnikova commented on #11277
Face the same problem here using webpack 5.22.0, when I build my lib in dev mode.
@sokra Is there any solving already?

[2021-02-26 11:02] piecyk commented on #12771
Trying to pin this but nothing concrete, till then kinda suspicious looks Compilation 🤔

<img width="1304" alt="Screenshot 2021-02-26 at 11 55 32" src="https://user-images.githubusercontent.com/82964/109291847-c809a680-7829-11eb-9231-cf4e267fb239.png">

Compering snapshot 2 vs 3

<img width="1286" alt="Screenshot 2021-02-26 at 11 56 02" src="https://user-images.githubusercontent.com/82964/10929189

[2021-02-26 12:38] alexander-akait commented on #11277
@Robbie-Cook @klimnikova Can you create reproducible test repo?

[2021-02-26 13:13] alexander-akait commented on #12771
@piecyk in original issue, repo don't use `mini-css-extract-plugin`, try to disable it for debug

[2021-02-26 13:30] alexander-akait commented on #12771
@piecyk What is value `devtool`?

[2021-02-26 13:34] piecyk commented on #12771
yeah, trying to create minimal repo with minimal configuration that we can work on.

devtool: false

[2021-02-26 13:44] alexander-akait commented on #12771
@piecyk Can you use `Comparsion` with the first/second snapshots (and sort using `Size Delta` column)?

[2021-02-26 14:11] alexander-akait commented on #9206
Still valid for commonjs, but for ESM (in webpack v5) you need to write `@import 'components/beta/index.js'` (because ESM require it)

[2021-02-26 14:34] piecyk commented on #12771
Hmm something like, also will try to look on this more over the weekend.

First example without mini-css-extract-plugin, rather common setup, babel, react, postcss, html-webpack-plugin,
second with latest  v1.3.9, actions are identical and snapshots are taken after each step compilation finished

1. after cold start
2. change file near the top
3. revert changed file

<img width="1295" alt="Screens

[2021-02-26 14:38] alexander-akait commented on #12771
I think here bug not with `mini-css-extract-plugin`, here bug between memory cache (can you try `cache: false`?) and assets and child compilations, hm, but need snapshots/reproducible repo to make sure of this

[2021-02-26 15:11] alesrosina commented on #11649
Inside `config/webpack/*.js` you should have some configs for your env (as described here: https://github.com/rails/webpacker#webpack-configuration). You need to remove those, so for example, i have in `base.js`:
[code]

it solved this issue for me

[2021-02-26 15:38] janeksmielowski commented on #12723
Thanks for response @alexander-akait !

So, I just emitted the HTML file, with all chunks injected, as you suggested, but still my export is undefined :(
Do you have any further guidelines? Does webpack remove these exports by default? Should I turn on some option to prevent it? I've been searching for many days and I still haven't found a solution.

[2021-02-26 15:43] alexander-akait commented on #12723
Use `html-webpack-plugin`

Do you build library or application?

[2021-02-26 15:47] janeksmielowski commented on #12723
I used this plugin and it outputs HTML with all the necessary chunk names, so it looks fine now. Then, I open the HTML and my export is undefined.
I build an application, with multiple entrypoints. Some of them are for standalone application and some of them are exposing  functions for another app, that is working alongside

[2021-02-26 15:56] alexander-akait commented on #12723
Do you use `webpack serve`?

[2021-02-26 15:57] janeksmielowski commented on #12723
Yes. It also happens when I build it for production

[2021-02-26 15:58] alexander-akait commented on #12723
Please provide simple example

[2021-02-26 16:12] sokra commented on #12771
I can't reproduce that. It doesn't leak memory for me...

But I can help you to use the dev tools and find it yourself:

1. Run a few rebuilds to warmup everything
2. Take 3 memory snapshots for 3 rebuilds. Click "Collect garbage" before taking the snapshots.
3. Select snapshot 3.
4. Choose "Objects allocated between Snapshot 1 and Snapshot 2". That will only show object the are leaking from the f

[2021-02-26 19:11] ASDFGerte opened #12783 "Package name with slashes (e.g. scoped) influencing source map path"
**Bug report**
**What is the current behavior?**
If the package name contains slashes, e.g. by having a scope `@scope/name`, the part after the slash bleeds into the source map path, as in, the path where a debugger searches for the file. This causes all breakpoints in the original source files to be unbound. Maybe i am making a silly mistake, and i also can't be sure, that it's not the fault of v

[2021-02-26 19:45] rifler opened #12784 "runtime chunk content is different from build to build, but source code has not changed"
# Bug report

**What is the current behavior?**
When I run two builds from the same git commit hash on different linux machines - it provides me almost the same output, except runtime chunk

Example:
[code]

As you can see, all hashes are the same, except runtime.

But they don't differ significantly:
https://www.diffchecker.com/Szw487ot

just two variables swap their names - `l` to `f` and `f` to

[2021-02-26 21:31] lorenzodallavecchia commented on #11630
First, I would like to thank all contributors for the improvements to the typings.

For improving the maintenance of the various exports, it may be useful to leverage [API Extractor](https://api-extractor.com/). It can be used for post-processing the .d.ts file(s) and ensuring that they are coherent.
It would not detect a completely missing part of the API, but at least notify about the common cas

[2021-02-26 21:45] rifler commented on #12784
I realize that if I change config to:
[code]

All works fine...

[2021-02-26 23:45] janeksmielowski commented on #12723
Okay, I set up a minimal example and it is working, so I need to compare it with my project and trace, what is causing the problem.

I will keep you updated

[2021-02-27 06:40] sokra commented on #12784
I guess the real content hashing hides the real problem. Could you set `optimization.realContentHash: false` and compare it again.

[2021-02-27 06:41] sokra commented on #12784
And maybe also try with minimizing disable `optimization.minimize: false`

[2021-02-27 10:51] patrickkahl commented on #11671
Please fix this issue

[2021-02-27 14:00] alexander-akait commented on #12784
Also check you don't have other minimizers or maybe you have minimizer inside `plugins`

[2021-02-27 14:13] alexander-akait commented on #12783
Do you expect have `web` in the sources URL? Can you try `output.devtoolNamespace: 'web'`?

[2021-02-27 14:18] alexander-akait commented on #1054
Fixed in v5, please consider migrating to v5

[2021-02-27 14:18] #1054 closed

[2021-02-27 14:23] alexander-akait commented on #2881
Close in favor https://github.com/webpack/webpack/issues/6093

[2021-02-27 14:23] #2881 closed

[2021-02-27 15:20] Nikolov0080 commented on #6890
@CryptoCatOkiOKi  This is weird but works for me too
best regards!

[2021-02-27 15:24] rifler commented on #12784
I will try, but I compare real files:

https://www.diffchecker.com/Szw487ot

[2021-02-27 15:34] alexander-akait commented on #12784
@rifler if you can create reproducible test repo, I can look at the problem

[2021-02-27 16:01] Idletalk opened #12786 "When can i get the cache file while i start filessystem"
hi, i have a question about: i want to get the cache file when start filesystem. i try to use the hook about "done" like this
compiler.hooks.done.tap('', () => {
  // get the cache filesystem
})
but i field.
which hook in compiler or compiler.cache can i use to get the filesystem cache?

[2021-02-27 16:02] alexander-akait commented on #12786
You **should not touch** cache file, please use `Discussions` for questions

[2021-02-27 16:02] #12786 closed

[2021-02-27 16:35] Geksanit commented on #12771
I can't reproduce  that with rebuilding one file. But I found this.

1. Run a few rebuilds (App.tsx and index.ts)
2. Click "Collect garbage" and "Take Snapshot"
3. Save App.tsx and index.ts
4. Repeat.
![image](https://user-images.githubusercontent.com/31949379/109393112-9b9d7980-7952-11eb-8040-e05ce1cb2e17.png)

[2021-02-27 16:37] alexander-akait commented on #12771
@Geksanit can you try to change `logo.svg` (just adding newline and remove it) and record it after ~10/25/50 changes changes

[2021-02-27 17:28] ASDFGerte commented on #12783
Yes, `output.devtoolNamespace: 'no_slashes_here'` fixes the issue, by just using something other than package name, thanks. Sorry for bothering, i should probably read the entire webpack docs from start to finish one day. Stackoverflow couldn't help for days.

I am still a bit confused, why a default of package name including slashes was chosen, but i guess I can wonder about that after some more

[2021-02-27 17:28] #12783 closed

[2021-02-28 01:45] Robbie-Cook commented on #11277
@alexander-akait Can we use OP's https://github.com/Birch-san/webpack-repro ? I'm a bit toight on time atm. Let me know if you really need it though.

From memory, the steps are, for me,

* Make a webpack bundle
* Build it using `mode: development`
* Import it into another webpack lib / npm package / anything
* It breaks

[2021-02-28 06:02] vijay938 opened #12790 "p1"
## Feature request

**What is the expected behavior?**
Yes

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

New
**Are you willing to work on this yourself?**
yes

[2021-02-28 06:58] JonWallsten commented on #11277
@Robbie-Cook: the reason he needs another repro is that this is fixed and confirmed working for others, including me. So there's something else going on. But if you fork OPs repro, update the packages and it's till an issue you can of course use it as a repro.

[2021-02-28 07:03] Geksanit commented on #12771
![image](https://user-images.githubusercontent.com/31949379/109410491-ad703280-79cd-11eb-946a-6cef0b9f9504.png)

[2021-02-28 10:52] #12790 closed

[2021-02-28 10:53] vijay938 opened #12791 "m1"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2021-02-28 12:10] rifler commented on #12784
You are right, with disabled `realContentHash` and `minimize` there are more differences - all in `css` files. But content of that files are the same.

We use array of configs (for each lang) and I realize, that we are instantiating Terser and MiniCssExtractPlugin once for all configs instead of instantiating for each config separately.

But after fixing it nothing changes - css hashes still were

[2021-02-28 12:10] #12784 closed

[2021-02-28 12:46] chozzz opened #12792 "Module build failed: UnhandledSchemeError: Reading from "alias:/App" is not handled by plugins (Unhandled scheme)."
# Bug report

**What is the current behavior?**

Webpack does not resolve path aliases.

I am creating a new react app and trying to configure webpack compiler from scratch.
The issue happens when running the build command with `webpack -c config/webpack.config.ts` - It gives an error as following;

[code]

Any idea what might have caused this or what I am missing? Any suggestion is appreciated.

[2021-02-28 12:47] mutoo opened #12793 "UMD is not exported while devServer inline is on."
# Bug report

**What is the current behavior?**

I am working on a small lib that is exported as UMD type. It works fine, but when I was trying to enable hot-module-reload for development, the UMD export becomes an empty object.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is the MVP code to reproduce the issue:
https://github.com/mutoo/webpack-umd-hmr-issue

[2021-02-28 13:00] mutoo commented on #12793
Found some discussion on the webpack-dev-server repo
https://github.com/webpack/webpack-dev-server/issues/2484

Seems like they had a fix on webpack-dev-server@4

[2021-02-28 13:02] #12793 closed

[2021-02-28 20:31] ktalebian opened #12795 "Typescript: How to add a new compilation hook on a readonly hook?"
How do I go about adding a new hook to webpack compiler? In webpack 4 I could do something like

[code]

The guide [here](https://webpack.js.org/api/plugins/#custom-hooks ) says you can add a custom hook by doing `compiler.hooks.custom = ...` but looking at the code, hooks is frozen https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L120. Indeed, if I try to add extend this anyway by u

[2021-03-01 01:33] ktalebian opened #12796 "Many typescript definitions not exported."
## Feature request

**What is the expected behavior?**
I'm upgrading from webpack 4 and by far the most difficult bit has been the numerous missing type definitions that were previously exported in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/webpack/index.d.ts. For example,

* `CallbackWebhook`
* `StatsError` (and other stats compilation results)
* Different sub configurat

[2021-03-01 07:33] klimnikova commented on #11277
@alexander-akait I made a repo, which has webpack config and dependencies  as in my library https://github.com/klimnikova/webpack-repo.

-  I publish it
-  in my client app I made `yarn add webpack-repo`
- `import Input from 'webpack-repo/controls/Input';`
- got TypeError: __webpack_modules__[moduleId] is not a function
When I downgraded to webpack 4.43 everything works as a magic

[2021-03-01 09:19] zfxj opened #12798 "can not success"
# Bug report
ERROR in ./node_modules/@babel/runtime/helpers/esm/createSuper.js 1:0-46
Module not found: Error: Can't resolve './getPrototypeOf' in '/Users/xujun/Documents/workSpace/founder/yjzh/YJSHWeb/node_modules/@babel/runtime/helpers/esm'
Did you mean 'getPrototypeOf.js'?
BREAKING CHANGE: The request './getPrototypeOf' failed to resolve only because it was resolved as fully specified
(probably

[2021-03-01 10:49] sokra commented on #12798
update your babel version, this has been fixed a while ago

[2021-03-01 10:49] #12798 closed

[2021-03-01 12:12] sokra commented on #11277
I tried to reproduce that with this instructions, but it doesn't throw that error. It probably depends on the consuming application. Please create a new issue with a reproduction for that.

[2021-03-01 12:12] #11277 closed

[2021-03-01 12:20] alexander-akait commented on #12796
Please report them here https://github.com/webpack/webpack/issues/11630

CallbackWebhook doesn't exists in types, neither `DefinitelyTyped` nor `webpack` v5 types, something internal on your side

Why do you need this type?

Please describe them in provided issues

[2021-03-01 12:20] #12796 closed

[2021-03-01 12:24] #12791 closed

[2021-03-01 12:24] alexander-akait commented on #12791
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-03-01 12:33] alexander-akait commented on #12792
Limitation you can't use `something:` in `import`, because `import ... from ...` should have URL, so when you start something with `data:`/`http:`/`https:` webpack recognizes as URL

[2021-03-01 12:35] alexander-akait commented on #12771
hm, no leak...

[2021-03-01 12:42] sokra commented on #12795
This is intentional: https://webpack.js.org/blog/2020-10-10-webpack-5-release/#hook-object-frozen

To offer a custom hook you need to do the following:

Create a module-scope weak map for compilation hooks:

[code]

Create a static method on your plugin:

[code]

Call hooks like this in your plugin:

[code]

Other plugins could access your custom hooks too:

[code]

[2021-03-01 12:43] sokra commented on #12795
see https://github.com/jantimon/html-webpack-plugin#events for an example

[2021-03-01 13:23] slavafomin commented on #10227
It occurs that optional chaining won't be supported in Webpack 4, so the best course of action would be to update to Webpack 5 or use Babel for transpilation.

[2021-03-01 13:33] worlddai commented on #10400
Perfect! I use __dirname to get the current compiled directory, and then generate the same cache file to compile the directory, and it works! Thank you very much. One word woke me up ！

[2021-03-01 13:41] chozzz commented on #12792
@alexander-akait Is this a new limitation introduced in webpack 5? Because, I can see it works with ejected CRA with webpack 4, and I only needed to provide aliases in both `webpack.config.js` for the compiler and `tsconfig.json` for typescript.

[2021-03-01 13:48] alexander-akait commented on #12792
@chozzz And yes and no, we just recognize URLs in `import ... from ...` now, so it is features and it is small breaking change

[2021-03-01 14:11] chozzz commented on #12792
@alexander-akait Thanks for the heads up! It actually works as long as the format of the import isn't prefixed with `:/`.
I've modified the import as in from `models:/` to `models-/` - And the error is now gone.

This is pretty confusing though it's not documented anywhere (Or maybe I missed it?), I was expecting `alias` would work as it used to and how it's named as `alias`.

Feel free to close i

[2021-03-01 14:15] alexander-akait commented on #12792
@sokra What do you think? I think we can improve checking on `[a-zA-Z]://` (i.e. two slashes)

[2021-03-01 14:28] chozzz commented on #12792
@alexander-akait I can see few of improvements, correct me if I am overstepping here;
- Why don't we whitelist only several protocols for URL imports? e.g. (`(https?)|(ftp)://`)
- I also think if `alias` configuration is set, compiler should also decide the priority between this URL feature or the config. And warn user if there's conflicts between them.
- The error message seems to be a bit vague

[2021-03-01 14:36] alexander-akait commented on #12792
webpack supports `http(s)/data` protocols in experimental mode, also ignoring something is not good, better generate warning/error

Make sense

[2021-03-01 22:18] janeksmielowski commented on #12723
Hi,

I've found an issue with my configuration and it came out I simply didn't pull all the required chunks needed.

Thanks for help!

[2021-03-01 22:18] #12723 closed

[2021-03-01 22:50] ScriptedAlchemy commented on #12706
You'd need to tag it somehow or wrap some kind of boundary which labels the remote and labels the current host

[2021-03-01 22:50] ScriptedAlchemy commented on #12706
DefinePlugin(CURRENT_HOST) would work in defining "who am i"

[2021-03-02 02:12] keeganstreet opened #12801 "Single runtime chunk incompatible with library output in Webpack 5"
# Bug report

**What is the current behavior?**

Using the following config works in Webpack 4 but not Webpack 5:

[code]

I would expect the module to be assigned to a variable `A`, but in Webpack 5 `A` is undefined.

**Webpack 4 output:**

[code]

**Webpack 5 output:**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Smallest reproducible bug demo: https://g

[2021-03-02 05:38] keeganstreet opened #12802 "Unable to provide NodeJS APIs as externals in Webpack 5"
# Bug report

**What is the current behavior?**

Targeting NodeJS, and marking a NodeJS API such as `http` as an external does not work in Webpack 5.

For example, given the following config:

[code]

I would expect output to contain something like this (and this is what Webpack 4 provides):

[code]

But Webpack 5 does not apply the external at all, resulting in output like:

[code]

**If the curr

[2021-03-02 05:59] keeganstreet commented on #12801
Closing as this seems to be a duplicate of https://github.com/webpack/webpack/issues/12742

[2021-03-02 09:18] keeganstreet commented on #12801
I will re-open and let you decide if this is a dupe. The steps to reproduce are slightly different so I don't know for sure whether its the one bug causing both issues.

[2021-03-02 09:18] Idletalk commented on #10400
hi，Can you describe the process，about how we "generate the same cache file to compile the directory"

[2021-03-02 10:12] alexander-akait commented on #12802
Fix https://github.com/webpack/webpack/pull/12803

[2021-03-02 10:25] alexander-akait commented on #12801
It is the same problem, duplicate, yes steps are different but the problem is the same

[2021-03-02 10:25] #12801 closed

[2021-03-02 10:28] alexander-akait commented on #12801
Just downgrade webpack to v5.21.2

[2021-03-02 10:28] keeganstreet commented on #12802
Thank-you @alexander-akait !

[2021-03-02 10:29] keeganstreet commented on #12801
OK thanks

[2021-03-02 20:33] sokra commented on #12742
I'm working on that, but it needs some refactoring...

[2021-03-02 20:45] kenklin commented on #11202
Might be same issue as https://github.com/terser/terser/issues/237

[2021-03-02 21:40] skfreddo commented on #12445
Is there a workaround for this in `webpack-dev-server@3`?

[2021-03-03 00:05] ChrissiQ commented on #12506
@waruyama @alexander-akait There is no information in the docs on how I can configure the settings for the terser plugin with Webpack 5.  It just says it's included in Webpack 5, then shows Webpack 4 instructions on how to configure it, which don't work for Webpack 5 because we didn't install terser separately and don't have an exposed TerserPlugin object to configure.

For Webpack 5, do I need to

[2021-03-03 08:43] weber commented on #8656
ghghghghghg

[2021-03-03 08:43] weber commented on #8656
hjjhjhjhjhjhjhjhjh

[2021-03-03 11:21] alexander-akait commented on #12445
webpack-dev-server@beta-0

[2021-03-03 11:24] alexander-akait commented on #12506
@ChrissiQ You setup should work, can you provide minimum example?

[2021-03-03 16:33] dakotaewigman opened #12806 "Exif data stripping in asset modules"
Add a param to delete exif data from images using asset modules

**What is the expected behavior?**
Add a parameter to asset modules that will strip metadata (iptc, exif, etc) from images

**What is motivation or use case for adding/changing the behavior?**
While it's normally preferable to avoid checking in files with metadata into the codebase altogether. If forgotten, it would be good to have a

[2021-03-03 16:46] alexander-akait commented on #12806
You need to implement loader/plugin to achieve this, sorry parsing images out of scope webpack, anyway you can look at https://github.com/webpack-contrib/image-minimizer-webpack-plugin/, most of imagemin plugins do it

[2021-03-03 16:46] #12806 closed

[2021-03-03 20:53] colynb commented on #4276
I have multiple entry points, one of which is a shared css file with a .css extension. This is not working for me either. This is a valid use-case. Also, the docs continue to describe the availability of the `[ext]` substitution so I should only assume it should be available. It's not only `[ext]` that does not work, but also `[base]`. Update the docs if you don't plan on supporting this or it's v

[2021-03-03 20:56] colynb commented on #4276
It's now 2021 and it still doesn't work and the docs still continue to make me think it should.

[2021-03-04 12:30] krutoo opened #12807 "How to set order of processing orders?"
Hi, in my project i use webpack with this config:

[code]

I need these entries to be collected in the order in which they are presented in the array

I thought the option `parallelism: 1` would help, and set it to each entry, but its not working.

I run my last entry in node js immediately after emit and in this app i trying to read files from first entry (client) but this is not emitted

[2021-03-04 12:40] chenxsan commented on #12807
Seems you can set [`dependencies`](https://webpack.js.org/configuration/other-options/#dependencies) for your configurations, e.g.:

[code]

[2021-03-04 12:59] alexander-akait commented on #12807
@chenxsan Let's document it with example

[2021-03-04 16:08] alexander-akait commented on #12506
We have test on this case https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/test/extractComments-option.test.js#L573

[2021-03-04 17:01] gkatsanos commented on #5124
Same question. Does one need to explicitly specify each dynamic import chunk name separately, or is there a default config that takes the filename as [name] ?  @0nse

[2021-03-04 17:14] mupic commented on #12487
Same problem.

[2021-03-04 18:04] shamilovtim opened #12809 "Lack of feedback or errors thrown when Webpack fails on "export from" babel style"
# Bug report

**What is the current behavior?**
There is a style of exporting which some applications have adopted and is supported by babel:
https://github.com/tc39/proposal-export-ns-from

When Webpack encounters this style of exporting, it breaks opaquely, does not throw any error messages and continues onward without notifying the user that it's broken.

**If the current behavior is a bug, ple

[2021-03-04 21:24] rpokorny opened #12810 "Watching symlinked dependencies does not work when resolve.symlinks is set to false"
# Bug report

**What is the current behavior?**
When a webpack configuration includes `resolve: { symlinks: false }`, dependencies that are linked into the `node_modules` folder as symlinks do not get watched properly by webpack-dev-server: changes to those dependencies do not trigger a rebuild or browser refresh.

It is my understanding that using the `resolve.symlinks` property in this way is va

[2021-03-04 21:26] rpokorny commented on #12810
The workaround described at https://github.com/webpack/webpack/issues/11612#issuecomment-705790881 does fix the issue, but it sounds like that is not recommended for performance reasons.

[2021-03-04 21:59] Charles-Chiakwa commented on #5073
This mostly an issue with CaseSensitivePathsPlugin. Be sure your file name is capital case instead of small case.
if you `import MyComponent from "../components/MyComponent"` be sure your file name is `MyComponent` in not `myComponent`

[2021-03-05 02:20] alexcyfong commented on #12474
Is this solved? can we use this now?
        test: /\.png/,
        type: 'asset/resource',
        emitFile: false

[2021-03-05 04:59] Edge00 opened #12811 "How to use ModuleGraph Api in Webpack5 ?"
I'm trying to visit `this._module.issuer.resource` in my own loader

[code]

However i got `[DEP_WEBPACK_MODULE_ISSUER] DeprecationWarning: Module.issuer: Use new ModuleGraph API
`

But how should i use ModuleGraph API to visit issuer?

[2021-03-05 07:24] krutoo opened #12812 "How to log result to terminal with colors using Node API?"
Hi. How can i log webpack work result when using Node API exactly same as with CLI (colored text in terminal)?

There is some kind of default callback for `webpack(options, callback)`?

[2021-03-05 08:44] ketanhdoshi opened #12813 "With Server-side rendering, 'asset/resource' should suppress emitting of the image file (similar to file-loader emitFile=false)"
## Feature request

**What is the expected behavior?**
When handling images with 'asset/resource' using server-side rendering, we do not want the image file to be emitted, but we do want the image URL to be populated in the HTML in the server bundle. The client bundle can emit the image file.

With file-loader one could do this with the emitFile=false flag, but we cannot do that with Webpack 5 Ass

[2021-03-05 09:59] olee opened #12814 "Node modules source maps specifying location without providing source are incorrectly mapped"
# Bug report

**What is the current behavior?**
I have an issue with source map locations of node modules in my monorepo project (it does not seem that the monorepo is the cause here - just FYI).

I am using the npm package `serializr`, which is shipped with source maps.
[Those source maps](https://pastebin.com/BSj9hjUM) specify file locations which do not exist, because the sourceContent is not i

[2021-03-05 10:43] alfonsomunozpomer opened #12815 "output.clean not recognised by Webpack 5.24.3"
# Bug report

**What is the current behavior?**
Using `output.clean` in `webpack.config.js` makes Webpack throw the following error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Add `output: { clean: true }`  to `webpack.config.js` and run `npx webpack`.

**What is the expected behavior?**
According to [the documentation](https://webpack.js.org/configuration

[2021-03-05 11:05] alexander-akait commented on #12815
You still use old webpack v4, we have test on it, please run `npm ls webpack`, feel free to feedback

[2021-03-05 11:05] #12815 closed

[2021-03-05 11:07] timglabisch opened #12816 "Tree Shaking does not work on "const X = FN()""
# Bug report

**What is the current behavior?**

consider you've a index file like

[code]
webpack does not tree shake the file `trans/trans.countries` as i expected.

In this examples the final output contains trans_de and trans_at. **i expected that it contains only foo and trans_de**.
there is no reason to include `trans_at` here.

[code]

it seems to be related to the foo function, these cases

[2021-03-05 11:09] alexander-akait commented on #9517
Still valid

[2021-03-05 11:16] alexander-akait commented on #12809
Fixed in v5, you need update webpack version, sorry, we can't back port it

[2021-03-05 11:16] #12809 closed

[2021-03-05 11:19] alexander-akait commented on #12813
Duplicate of https://github.com/webpack/webpack/issues/12474

[2021-03-05 11:19] #12813 closed

[2021-03-05 11:21] alexander-akait commented on #12802
Fixed https://github.com/webpack/webpack/pull/12803

[2021-03-05 11:21] #12802 closed

[2021-03-05 11:27] alexander-akait commented on #12814
How you pass source maps to webpack? No because we don't check `sources`. Do you use `source-map-loader`?

Yes please create minimum reproducible test repo, I don't see problems here...

[2021-03-05 11:28] alfonsomunozpomer commented on #12815
You’re totally right, I think `package-lock.json` was playing tricks on me. Sorry for the noise.

[2021-03-05 11:49] alexander-akait commented on #12812
Please use `Discussions` for questions
[code]

[2021-03-05 12:08] #12812 closed

[2021-03-05 12:17] alexander-akait commented on #12811
Please use Discussions for questions, answer:
[code]

[2021-03-05 12:17] #12811 closed

[2021-03-05 12:29] alexander-akait commented on #12810
Yep, bug, duplicate https://github.com/webpack/webpack/issues/12246

[2021-03-05 12:29] #12810 closed

[2021-03-05 12:29] alexander-akait commented on #12246
Another example https://github.com/webpack/webpack/issues/12810

[2021-03-05 13:49] olee commented on #12814
I'm using cheap-module-source-map and I can understand that webpack might not check the sources specified in the package's source map file.
Ideally, I would like to just completely disable loading of source maps for my node modules and rather step the unmapped javascript instead of having to deal with missing source maps and this path issue.

The main issue I have here is the source map location o

[2021-03-05 13:53] alexander-akait commented on #12814
webpack by default do not load external source maps, so I want to check which plugin/loader do it and how we can handle it

[2021-03-05 13:54] alexander-akait commented on #12795
Answer above, feel free to feedback

[2021-03-05 13:54] #12795 closed

[2021-03-05 14:00] olee commented on #12814
So webpack itself does not pass those around?

The interesting thing is that this only breaks when a npm package provides sourcemaps itself.

I used this debug function to log files where the sourcemap was not found and got quite some results.
[code]

Please give me a little while to provide a reproduction repo.

[2021-03-05 14:00] kettanaito commented on #12185
What helped me solve this issue is to compare the versions of `webpack` and `@types/webpack` packages. Those turned out to be incompatible:

[code]

Hence the type violation: `@types/webpack` imports something that the latest webpack no longer exports. From what I can see, `webpack@5` comes with built-in TypeScript definitions, so I've simply deleted `@types/webpack`.

[2021-03-05 14:05] alexander-akait commented on #12814
We do not pass external source maps

yes, feel free to ping me

[2021-03-05 14:27] ketanhdoshi commented on #12474
Hi, any news on when we can expect this enhancement?

[2021-03-05 14:31] olee commented on #12814
@alexander-akait while preparing the repo, I started from scratch and noticed that there were no issues with source maps, until I added babel-loader.
The difference of both source maps can be seen [here](https://gist.github.com/olee/41a138a5b7d0afbd3eb67bd5ba22d3c4)
It seems that babel loader tries to embed the source maps encountered when loading modules.

[2021-03-05 14:42] alexander-akait commented on #12814
Yes, maybe `babel` (I think it is `babel` bug, not `babel-loader`) try to rewrite sources and have a bug, will be great to look at this, maybe it is already reported

[2021-03-05 14:59] olee commented on #12814
I tried looking into the babel-loader repository but could not find an issue describing this issue - only some other source-map related stuff.

Here is my reproduction repo: https://github.com/olee/webpack-issue-12814

The code has a debugger; statement and if you try stepping into the following function call, the debugger will show an error that it cannot find the source for the file.

If babel-l

[2021-03-05 15:10] alexander-akait commented on #12025
Still valid, we can get real position from source map, if they present

[2021-03-05 15:17] alexander-akait commented on #12814
@olee Found other problem with `serializr`, look at source map (i.e. `serializr.es.js.map` or other)
[code]

But `serializr` don't have `src` directory (and files), so source maps doesn't have sense here

[2021-03-05 15:18] alexander-akait commented on #12814
If you want to add support of external source maps, i.e. `sourceMapURL`, you need to use `source-map-loader`:
[code]

After this no problems with babel, only problem with non exists source files

[2021-03-05 15:42] olee commented on #12814
Yes, that is what I mentioned already in the beginning. Serializr does not provide the src directory in its package, however even if I copy the sources to the correct location, it does not fix the problem.

Adding source-map-loader and also copying the sources to the correct location did not fix the issue.

[2021-03-05 22:41] Petrik626 opened #12820 "Webpack with forge electron"
# Bug report

**What is the current behavior?**
I using webpack with forge electron. Forge electron has two default scripts
1) electron forge start
2) electron forge make
Also I using React library for creating web application and using electron for building it on desktop. Also on my Router component I using react-loadable package for lazy loading and code splitting and I have the following issues

[2021-03-06 01:57] retorquere opened #12821 "Multi-var assign no longer works for me."
# Bug report

**What is the current behavior?**

With 5.21.2, I used to be able to do multi-var assign using

[code]

to get `f1` and `f2` at the top level (a requirement for the environment in which my code runs). With 5.24.3, this no longer seems to work.

I have put together an MWE at https://github.com/retorquere/webpack-mwe which is a stripped-down version of my [own repo](https://github.com/

[2021-03-06 04:44] Edge00 commented on #12811
Sorry. Thank you!

[2021-03-06 09:37] Rabbitzzc commented on #11672
What property should I use instead？

[2021-03-06 16:10] alexander-akait commented on #12821
Because you can't using ` library: 'var {f1, f2}',`, you need specify name here, yes it is work before because we just put you value inside code, but we refactor code and you faced with it, but using this is wrong, you can solve it on own side

[2021-03-06 16:11] alexander-akait commented on #12814
Should solve, can you provide example? It works on my side without any problems, anyway I think nothing to fix on webpack side here...

[2021-03-06 16:12] alexander-akait commented on #12820
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please fill out all fields, won't fix, sorry

[2021-03-06 16:12] #12820 closed

[2021-03-06 16:19] retorquere commented on #12821
How would I go about solving it on my own side? BTW it turns out multivar assignment does still work, just not with the typescript to javascript code. If I do just javascript, it does work as before.

[2021-03-06 18:34] #12305 closed

[2021-03-06 22:40] pmmmwh opened #12826 "Strict ESM module.id equivalent"
## Feature request

A `module.id` equivalent in the strict ESM world.

Naming up for disscussion - `import.meta.id` or `import.meta.webpackId`?

**What is the expected behavior?**

This would give the same value as `module.id` does today - but only available in strict ESM runtimes.

**What is motivation or use case for adding/changing the behavior?**

The primary use case for this is to implement

[2021-03-07 02:05] davic64 commented on #9410
I can resolve the problem with babel-plugin-webpack-alias

[Here the solution](https://stackoverflow.com/questions/34683682/webpack-aliases-in-node-js-server-code)

[2021-03-08 00:53] animecyc opened #12830 "ConsumeSharedPlugin with HMR throws unexpectedly"
# Bug report

**What is the current behavior?**

When using `runtimeChunk: "single"` or another derivative that splits the runtime out in conjunction with HMR and the `ModuleFederationPlugin` (more specifically `ConsumeSharedPlugin`) you can, in certain circumstances, cause the runtime chunk to update causing the following exception:

[code]

The circumstance that this occurs seems to be related t

[2021-03-08 10:26] izaera opened #12834 "Adding parameters to federation chunk requests"
Dear webpack team,

I know this is a question, but just wanted to check with you before developing my own solution or sending a PR that you may not accept :-).

I made this question in stack overflow last Friday:

https://stackoverflow.com/questions/66492106/how-can-i-add-parameter-to-chunk-requests-in-the-context-of-webpack-federation

What I was thinking is to add a new feature so that users can

[2021-03-08 10:38] sokra commented on #12834
I think the simplest way is this:

[code]

[2021-03-08 10:46] izaera commented on #12834
:sweat_smile: That's what I was proposing to add as a feature. Well, thanks a lot for the hint. I will test it and reply my question in stack overflow and here if I get it working.

[2021-03-08 11:05] 1950195 commented on #11887
But also have to change lots of props in `devServer`(when updating to "webpack-dev-server": "^4.0.0-beta.0")  😧  , likes `before`:

[code]

==>

[code]

❤️  It works!

[2021-03-08 13:13] wojtekmaj commented on #12487
So I looked at the loop that's crashing:

https://github.com/webpack/webpack/blob/8c8f4c93bb2114606bd20978bf2f0ab961bd391e/lib/util/deterministicGrouping.js#L345-L348

and changed it a little bit to see what's causing the error:

[code]

and sure enough, this is what I got: in logs:

[code]

A fix as simple as

[code]

fixed the issue.

[2021-03-08 14:29] izaera commented on #12834
I've tried to add that code to the beginning of the entry point, but because we are using federation it is executed too late and doesn't work.

The problem lies in that the library `.js` file (the one generated by the `filename` configuration of the federation plugin) is the first to load and I cannot execute the proposed code before that file itself calls the original `__webpack_get_script_filena

[2021-03-08 14:57] sokra commented on #12834
Create an normal entrypoint with the same name as in the ModuleFederationPlugin. This is executed when the remote entry is executed.

[2021-03-08 16:33] izaera commented on #12834
Not sure what you mean with _"an entrypoint with the same name as in the ModuleFederationPlugin"_...

Do you mean

* An entry point with the same name as the value of the `name` configuration entry of `ModuleFederationPlugin`?
* An entry point with the same name as the value of the `filename` configuration entry of `ModuleFederationPlugin`?
* An entry point with the same name as the one generated

[2021-03-08 16:38] izaera commented on #12834
In any case, if you are still interested in a configurable feature, I may send a PR to implement it. My initial thought was to allow `GetChunkFilenameRuntimeModule` invoke an external method to tweak the computed URL. Something along the lines of this:

[code]

Obviously the token `window.EXTERNAL_TWEAK_URL` would have to be configurable in the federation plugin, or something like that...

[2021-03-08 17:35] sokra commented on #12834
It meant:

[code]

Since there is already a way to do that you don't need to send a PR for that. We try to avoid globals anyway.

[2021-03-08 19:07] izaera commented on #12834
I see. I will try that tomorrow, since it is cleaner than my solution.

Thanks for your help, very much appreciated. :-)

[2021-03-08 19:17] hnrchrdl commented on #8677
i encountered the same issue with webpack 4, i can confirm it was fixed with https://github.com/webpack/webpack/tree/v4.44.2.

[2021-03-08 22:19] jquense commented on #11074
@alexander-akait 👋  I am back trying to make this work. I am 90% of the way there with the `!=!` syntax but there are problems that seem unsolvable without changes to webpack or css-loader.

To recap, `resourcePath` is empty naturally unless you add one like @non25 did in svelte loader to the end. the **big** problem with that approach tho is you **must** use a resource that exists and is resolvab

[2021-03-09 10:05] #12821 closed

[2021-03-09 10:16] retorquere opened #12843 "Assign variable no longer hoisted to global level for typescript"
# Bug report

**What is the current behavior?**

When compiling typescript using ts-loader with webpack, the `library` variable is not hoisted to the global level, thereby not exposing it at all.

**If the current behavior is a bug, please provide the steps to reproduce.**

MWE at https://github.com/retorquere/webpack-mwe

With webpack 5.21.2, `var MyModule =` is declared at the top of the webpack

[2021-03-09 11:22] izaera commented on #12834
So, it's finally working with your solution. Closing the issue. Thx.

[2021-03-09 11:22] #12834 closed

[2021-03-09 12:32] alexander-akait commented on #12583
On page you can have source maps from other files, for example from CDN or from other files, so we need to use prefix to avoid collisions

But `webpack://` is absolute URL

[2021-03-09 12:54] alexander-akait commented on #11074
@jquense

Let's start to fix it? Can you send a PR or open an issue to investigate it?

[2021-03-09 12:57] alexander-akait commented on #12843
Duplicate https://github.com/webpack/webpack/issues/12742, also https://github.com/retorquere/webpack-mwe/blob/main/webpack.config.ts#L37 should be `var` and https://github.com/retorquere/webpack-mwe/blob/main/webpack.config.ts#L36 should be just `MyModule`

[2021-03-09 12:57] #12843 closed

[2021-03-09 13:17] mihkeleidast opened #12844 "webpack 4/5 compatibility issue"
# Bug report

**What is the current behavior?**

If an app that is bundled with webpack@4 tries to consume library that has been bundled with webpack@5 AND TerserPlugin with `keep_fnames: true` option AND the library exports something that has an async/dynamic module loaded, the app has a runtime error in console.

It _does_ work when both app and library are bundled with the same webpack version

[2021-03-09 13:20] jquense commented on #11074
already working on it! Do you have an idea for dealing with the first problem?

[2021-03-09 13:34] alexander-akait commented on #11074
hm, it should work, I need to look at this, maybe bug

[2021-03-09 13:56] mihkeleidast commented on #12844
Ignore for now, there seems to be a typo in my repro.

[2021-03-09 16:14] mikecarenzo opened #12847 "Webpack v5 missing compilation hook"
# Bug report

**What is the current behavior?**

I'm attempting to migrate my webpack plugin over to webpack 5, but I'm running into an issue:

_The original (Webpack 4) plugin:_
[code]
_The Warning:_
[code]

_The Problem_:
I understand, I can't modify assets this late in the compilation and it has to be done earlier. So I did that:
[code]

But the ".d.ts" assets (being generated by `ts-loader`) d

[2021-03-09 16:18] alexander-akait commented on #12847
You need open an issue in `ts-loader` loader repo, nothing to fix on webpack side, also here work on it https://github.com/TypeStrong/ts-loader/pull/1251

[2021-03-09 16:18] #12847 closed

[2021-03-09 17:00] mihkeleidast commented on #12844
Reopening - managed to reproduce this by adding another variable into the game - the error happens if the library exports something that is loading a dynamic module.

[2021-03-09 17:11] alexander-akait commented on #12844
Expected, do not mix webpack v4 and webpack v5, it was answered a lot of time

[2021-03-09 17:13] mihkeleidast commented on #12844
So you're saying the entire industry should upgrade to webpack 5 at the same time? It's rather difficult even in my own small ecosystem. `app` has some dependency that does not support webpack@5 yet, so I shouldn't upgrade anything else either?

[2021-03-09 17:17] alexander-akait commented on #12844
You need updating consistently, i.e update `app` to v5, then libraries and etc to v5, you can't use webpack v5 features and improvements using v4, they just don't supported

[2021-03-09 17:32] mihkeleidast commented on #12844
Got it. Thank you for your answer.

[2021-03-09 17:32] #12844 closed

[2021-03-10 02:50] SatishChandraPalakoti opened #12848 "Webpack 5 and Webpack-dev-server Integration"
Webpack 5 configured with webpack dev server configuration is **NOT** picking up the file location to serve from. It's forcing me to explicitly mention this at the webpack-cli args in the package.json

NOT WORKING !!!!
[code]

WORKING !!

``` "start": "webpack serve --content-base=build --open",```

I am currently not using any htmlPlugins inside the webpack configuration, assuming it might confli

[2021-03-10 04:31] chenxsan opened #12851 "Problem of `assign` for `output.library.type`."
# Bug report

**What is the current behavior?**

Let's say I have a `src/index.js` file:

[code]
And here's the webpack configuration:

[code]
Here's the bundled library:

[code]
If we run the bundled code in browser, we'll have this error:

[code]
The problem here is we're running `MyLibrary = __webpack_exports__;` [under strict mode](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2021-03-10 06:26] SatishChandraPalakoti commented on #12848
"webpack": "^5.24.4",
    "webpack-cli": "^4.5.0",
    "webpack-dev-server": "^3.11.2"

[2021-03-10 07:27] sokra commented on #12851
yeah, we can opt-out of strict mode for the runtime for these cases.

[2021-03-10 07:38] SatishChandraPalakoti opened #12853 "Webpack React Module parsers fail in webpack-5"
I have my webpack config as follow:

[code]
Surprisingly nothing changed in my code. And things seem to fail suddenly with the following error. It's just a simple react button click in a component bound to render function.

[code]

[2021-03-10 07:40] kanoshin commented on #12771
@sokra @alexander-akait there is no memory leak if you keep editing the same file but it is reproducible if you try to edit different files between heap snapshots.

Try this:
1. Run build and modify `index.tsx` file
2. Create first snapshot
3. Modify `App.tsx`
4. Create second snapshot
5. Modify `App.css`
6. Create third snapshot
7. Now there will be webpack related objects in the snapshot diff

<

[2021-03-10 09:59] janlent1 opened #12855 "Chunksplitting leads to Cannot read property 'call' of undefined"
# Bug report

**What is the current behavior?**
When chunksplitting with the default setup as described here https://webpack.js.org/plugins/split-chunks-plugin/#optimizationsplitchunks, splitting chunks leads to the original chunk to only include one module and that modules moduleId is the path instead of the number that is used in the runtime code to require this module. The right chunk is loaded

[2021-03-10 10:41] ComponentTY opened #12856 "Uncaught (in promise) Error: Cannot find module './/index.vue'"
when I use  "vue-router " of vue3 in webpack, I setting a common method that to import all the component.
webpack5 gives me an Error,but the program is running normally。
[code]

[code]
error msg : Uncaught (in promise) Error: Cannot find module './/index.vue'
webpack build the 'view.js' result :
[code]
webpack index\.vue$_namespace_object
[code]

[2021-03-10 10:54] reynard80 opened #12857 "TerserError while building using DefinePlugin"
# Bug report

**What is the current behavior?**
When trying to inject variables with the DefinePlugin, I get a TerserPlugin punc error. When leaving out the DefinePlugin, the build is successful.

**If the current behavior is a bug, please provide the steps to reproduce.**
Try to build with the following command:
` build:prod: webpack --env prod --progress`

With webpack.config.js:
`

[code]

Gets

[2021-03-10 11:26] alexander-akait commented on #12856
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

You have invalid `import`

[2021-03-10 11:26] #12856 closed

[2021-03-10 11:28] kamilic commented on #12112
Is a very good idea!
I need to includes thousands of folder on `managedPath` if I just want to ignore only one folder on `node_modules` and it causes cache performance problems (maybe, I don't have much time to dig in webpack to find the reasons.) .

comparations:
1000 managedPaths / rebuild (hot caches)-> 10s+
1 managedPaths / rebuild (hot caches) -> ~1s

[2021-03-10 11:30] biziosan opened #12858 ""parser.isAsiPosition is not a function" build error when using DefinePlugin."
# Bug report

**What is the current behavior?**
I inject a static variable with DefinePlugin:

[code]

With Webpack 4.46.0, I usually used the new variable in this way:

[code]

However, building with Webpack 5.24.4 I get the following build error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1.  Add a DefinePlugin:

[code]

2. In any TS file:

[code]

**W

[2021-03-10 11:32] alexander-akait commented on #12855
Sorry, no

Please provide stack of an error, as minimum

[2021-03-10 11:34] alexander-akait commented on #12857
Please add `JSON.stringify` to `__APPLICATION_ROOT__` and `__API_URL__`, `DefinePlugin` doesn't protect from broken code

[2021-03-10 11:34] #12857 closed

[2021-03-10 11:34] alexander-akait commented on #12857
[code]

[2021-03-10 11:35] alexander-akait commented on #12853
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use `test: /\.jsx$/,` (`x` for JSX)

[2021-03-10 11:35] #12853 closed

[2021-03-10 11:37] alexander-akait commented on #12848
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please respect time of other developers and use `Discussions` for help

Double check your `publicPath`

[2021-03-10 11:37] #12848 closed

[2021-03-10 11:41] reynard80 commented on #12857
Thanks!

[2021-03-10 12:13] alexander-akait commented on #12858
Please open an issue in `@angular-devkit`/`@ngtools` repo, can't reproduce:
[code]

**bundle/index.js**

[code]

or please create reproducible test repo and I will investigate it, if I found bug on webpack side I will reopen

Also maybe you have two version of `webpack`, please run `npm ls wepback`

[2021-03-10 12:13] #12858 closed

[2021-03-10 12:25] janlent1 commented on #12855
[code]
After adapting the moduleIds in optimization to natural, the path changed into a id 1872, but still the wrong id is in the requiring chunk 1880... I need to further investigate

[2021-03-10 12:26] janlent1 commented on #12855
I explicitly excluded the app.main.js from optimization, because if I include it, it doesnt load all the necessary chunks for the application to start.

[2021-03-10 12:35] alexander-akait commented on #12154
Sorry, I was confused, here interesting case, you can do it using:
[code]

Other solution is rename `js` files to `mjs` (both).

Why it is not by default?

Webpack has 3 types for parsing javascript files: `javascript/dynamic` (i.e. `sourceType: script`, no `import`/`export`), `javascript/esm` (i.e. `sourceType: module`, ECMA modules) and `javascript/auto` (allow to use `require` and `import`) htt

[2021-03-10 12:35] #12154 closed

[2021-03-10 12:38] alexander-akait commented on #12855
Can you disable https://webpack.js.org/configuration/optimization/#optimizationmoduleids? and `devtool` and provide stack again

[2021-03-10 12:39] alexander-akait commented on #12154
Do not forget `import { require } from './my-lib';` is wrong, because ECMA modules requires extension at the end `import { require } from './my-lib.js';` (or `mjs`)

[2021-03-10 12:43] alexander-akait commented on #12154
Why it worked in v4? Simple - because tree shaking is not working for many cases, but in v5 we improve tree shaking, so now we you faced with the error

[2021-03-10 15:41] sokra commented on #12771
Yes, we should not store the Compilation in AssetGenerator. Let me fix that and recheck...

[2021-03-10 16:10] hasanayan opened #12862 "When two different remotes exposes a component each with the same file name, host application assumes they are the same components"
# Bug report

**What is the current behavior?**

# my module federation setup

I use react and react-router;

**app2**
exposes `./src/Route` and `./src/App` as `app2/Route` and `app2/App`
App is a button with a text: "App 2 button"

**app3**
exposes `./src/Route3` and `./src/App` as `app3/Route` and `app3/App`
App is a button with a text: "App 3 button"

Notice that Route and Route3 have different

[2021-03-10 16:16] jcampbell05 opened #12863 "Optimising "Initial" chunks breaks library scripts."
Webpack 5
Mac OS Catalina 10.15.7

If you optimise only initial or all chunks then library targets which use Webpack will break. This is because some of these new shared chunks will end up as additional entry points with the expectation they will be loaded from the HTML in the correct order.

The HTML plugin would normally handle this for you but since this is a library we do not have control over

[2021-03-10 16:30] sokra commented on #12862
Make sure that each package.json has a different `"name"`. In your example: fix app3/package.json

[2021-03-10 16:56] SatishChandraPalakoti commented on #12853
@alexander-akait I am using the exact samme notation for test clause in the webpack file.  But the issue still seems to appear. I am trying to figure out if this is webpack related or not.

[2021-03-10 17:12] #12862 closed

[2021-03-10 18:00] ef4 commented on #12154
But anyway, yes, thank you for the explanation about the parsing mode. That probably solves my problem.

[2021-03-10 18:36] Neunerlei opened #12865 "Terser fails on dynamic imports"
# Bug report

Hello there, it seems like webpack 5 / terser has an issue with dynamic imports().

**What is the current behavior?**

Every time I try to let webpack create a production build, it fails with an error like:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

package.json
[code]

webpack.config.json
[code]

webpack.watch.js
[code]

main.js
`import('.

[2021-03-10 20:24] janlent1 commented on #12855
Hi @alexander-akait , unfortunately after doing these steps, after 5 hours now the build failed with a oom dump.

[2021-03-10 20:26] janlent1 commented on #12855
What I can do is to disable the moduleids and maybe enable a lighter devtool? Currently I have EvalSourceMapDevToolPlugin enabled. Also you could point me in the code direction where these moduleids are set, so I can have a look myself and --inspect-brk into the webpack build. I will update you once I have built with a lighter sourcemap and disabled moduleids.

[2021-03-10 22:05] nerdo opened #12868 "Segmentation faults keep occurring after a while."
# Bug report

**What is the current behavior?**
After a while of running the webpack dev server in watch mode, webpack 5 segfaults with a message like this:

[code]

It seems to be running out of memory, but I am not sure why. I have recently migrated my project from webpack 4 to 5. On webpack 4, I never experienced segfaults at all. On webpack 5, after a while, it will try to compile and segfault

[2021-03-10 23:41] #10890 closed

[2021-03-11 00:58] claudiovb commented on #1994
Having Issue with using webpack with stream as well, only way I solved the issue was by going into the node-modules files and change references from require("stream") to require("stream-browserify") since the fallbacks got me stuck into other problems...

[2021-03-11 01:30] Brian-McBride opened #12869 "Please export Resolver and ResolvePluginInstance from types.d.ts"
Similar to how `Compiler` and the various plugin interfaces are exported, please add `Resolver` and `ResolvePluginInstance` to the exports.

[code]

I am updating some plugins to work with Webpack 5, and in a typescript environment, I'm missing those types when trying to create a resolve plugin.

[2021-03-11 06:47] JonWallsten commented on #12759
@alexander-akait: I was trying to find the root-cause of the issue, but since it's only reproducible on GitHub Workflow (Windows 2019 server) it takes forever to debug. Had to take a pause from it. I don't know why we're sending additional assets in just this case. Also it would be hard to set up an easy repro since you need Windows and multiple hard drives/partitions.

Something for you and maybe

[2021-03-11 10:44] sokra commented on #12868
Node.js memory is limited by default to 1.4/2GB. You can increase it with `node --max-old-space-size=4196 node_modules/webpack/bin/webpack.js ...`.

[2021-03-11 10:46] sokra commented on #12855
Please upgrade to the latest webpack version first. We fixed some of these problems already.

[2021-03-11 10:48] sokra commented on #12865
Try `target: ['web', 'es5']`

[2021-03-11 10:55] #12487 closed

[2021-03-11 11:43] janlent1 commented on #12855
Hi @sokra I already updated to 5.24.4. when additionally minifying so during emit phase I dont run into OOM again, I get an OOM in lib/stats/DefaultStatsPrinterPlugin.js. I could increase the memory footprint, but to make it work it needs at least 10 more gb of ram, then what it did in webpack3. Im trying to increase the memory until it will work, i will keep updating you
guys. If that wont help i

[2021-03-11 12:03] alexander-akait commented on #12855
No, please provide configuration, maybe some plugins have leaking, can you disable `stats: 'none'`? How big is the project?

[2021-03-11 12:10] janlent1 commented on #12855
I could show it to you in a call or something but I cannot upload it now, if I should upload it i need to anonymize some properties and this is a big configuration. Let me know whether I could show it to you in a call, in the meantime I will try with the stats none flag.

[2021-03-11 12:19] alexander-akait commented on #12853
@SatishChandraPalakoti Remove ` exclude: /node_modules/,`, because `node_modules` can contain react components

[2021-03-11 12:22] alexander-akait commented on #12868
Answer above, sorry without any more information we can't fix it, anyway feel free to feedback, if you provide reproducible test repo I will look and answer your about the problem, won't fix right now, sorry again

[2021-03-11 12:22] #12868 closed

[2021-03-11 12:22] alexander-akait commented on #12063
bump

[2021-03-11 12:25] nerdo commented on #12868
I cannot provide the repo as it is private.

Would you agree that there seems to be a memory management/leak issue?

What other information would you need to look into it besides the actual repository?

[2021-03-11 12:29] alexander-akait commented on #12154
Yes, you are right here, we tried to do it, but found it hard for many cases, it request deep analyze, for example

[code]

So now `require` is `require`, there are more cases...

Ideally, we shouldn't have `javascript/auto`... Look here https://github.com/webpack/webpack/projects/5#card-10425786, I think we revisit it for webpack v6

[2021-03-11 12:30] janlent1 commented on #12855
@alexander-akait also when I set the moduleIds: false, I get possible oom node js errors/breakpoints in the nodejs devtools in the RuntimeTemplate within the function noModuleIdErrorMessage. If this build doesn't work again, I will reset it to 'natural'or just leave it out of the config as previously done.

[2021-03-11 12:35] alexander-akait commented on #12759
I don't know there is the problem, please provide reproducible test repo and step to reproduce, otherwise won't fix, sorry

[2021-03-11 12:39] alexander-akait commented on #4589
Closed in favor https://github.com/webpack-contrib/expose-loader/issues/25

[2021-03-11 12:42] alexander-akait commented on #12868
We have one leak with `assets` modules and fix it in near future, but I don't think it is related to you

Let's start with list of loaders and plugins, also do you faced with the issue in `watch` mode or in regular build? Can you disable `devtool: 'false'` and check again?

[2021-03-11 12:45] alexander-akait commented on #12869
Feel free to send PR, just add them here https://github.com/webpack/webpack/blob/master/lib/index.js#L31 in js docs and they will be in types, don't forget to run https://github.com/webpack/webpack/blob/master/package.json#L156 before adding

[2021-03-11 12:47] sokra commented on #12868
It's most likely not a leak, but it just needs more memory then you provided.

[2021-03-11 12:57] janlent1 commented on #12855
Without the stats and without the EvalSourceMapDevToolPlugin it worked now with minification. Now some other chunks are not laoded. But the moduleid errors are gone.

[2021-03-11 13:01] alexander-akait commented on #12855
I think problem here

[2021-03-11 13:11] janlent1 commented on #12855
But before the issue with the moduleids was fixed by disabling the evalsourcemapdevtoolplugin. But what i mean now is the problem is the missing chunks not modules which are our issue... False moduleids is reallly not soemthing that we adapt./.

[2021-03-11 13:14] janlent1 commented on #12855
okay i have the issue of false moduleids again after not setting the moduleids in the config. will set it to false again.

[2021-03-11 13:17] alex-shamshurin commented on #6719
We can handle with `import.meta` with this babel plugin
[code]

[2021-03-11 13:25] alexander-akait commented on #12855
Can you provide stack or something more, playing guessing is bad practice

[2021-03-11 15:24] MHarrison22 commented on #4258
Got this working by including the [expose-loader npm package](https://www.npmjs.com/package/expose-loader) and adding the following to my webpack.config:

`                {
                    test: require.resolve("jquery"),
                    use: [
                        {
                            loader: "expose-loader",
                            options: "jQuery"

[2021-03-11 16:13] alexander-akait commented on #12865
Answer above, we should set `web` target by default when `platform` target doesn't exists, i.e. `web`/`browser`/`webworker`/`node`/`elector`/`nwjs`

[2021-03-11 16:25] sokra commented on #12742
fixed by #12836

[2021-03-11 16:25] #12742 closed

[2021-03-11 16:31] sokra commented on #12855
That disables module ids and you are expected to provide a plugin for module ids. I don't think you want to configure it this way.

EvalSourceMapDevToolPlugin + minification doesn't make a lot of sense anyway.

[2021-03-11 16:32] sokra commented on #11157
Is this still an issue with webpack 5?

[2021-03-11 16:38] alexander-akait commented on #11157
@sokra Yep, I can create reproducible test repo

[2021-03-11 16:39] sokra commented on #12814
This seem to be a bug somewhere. The relative paths in the source map are not resolved relative to the source map, but relative to the compiler context.

I guess webpack/lib/NormalModule should do this when it sees relative urls as sources.

[2021-03-11 16:41] alexander-akait commented on #12814
@sokra I think here problem on babel side, because without `babel` source maps are good, only `serializr` doesn't provide sources

[2021-03-11 16:44] sokra commented on #11157
Try to change this line:

https://github.com/webpack/webpack/blob/b14ecc1be015dbcf1b9b1e075cc125320ed00030/lib/SourceMapDevToolPlugin.js#L386

to `const sourceMap = { ...task.sourceMap };` and check if this fixes it.

[2021-03-11 16:45] sokra commented on #12814
That's interesting. Maybe babel-loader processes the input source map incorrectly...

[2021-03-11 16:48] alexander-akait commented on #12814
Yep, I think the same, so I asked for a simple example, hard to say why it was broken

[2021-03-11 16:58] janlent1 commented on #12855
it seems like since updating to 24.4 from 16, the emit takes much longer. Also much more ram is used. Is this DefaultStatsPrinterPlugin new since >16?

[2021-03-11 17:09] alexander-akait commented on #12855
We don't have these versions

[2021-03-11 17:13] janlent1 commented on #12855
you are right i meant 5.24.4 and 5.16.0

[2021-03-11 17:24] alexander-akait commented on #12855
We fixed some leak issue in master, maybe you can test?

[2021-03-11 17:40] ef4 commented on #12154
Makes sense. I agree, we should all be pulling the ecosystem toward clear standards and not a mishmash like auto mode. Thanks.

[2021-03-11 18:24] janlent1 commented on #12855
Was there some stuff downported? I see this now also in the 5.16.0 build:
Uncaught RangeError: Invalid string length
    at Array.join (<anonymous>)
    at itemsJoinMoreSpacing (name/webpack/node_modules/webpack/lib/stats/DefaultStatsPrinterPlugin.js:759:61)
    at Hook.eval [as call] (eval at create (name/webpack/node_modules/webpack/node_modules/tapable/lib/HookCodeFactory.js:19:10), <anonymous>

[2021-03-11 18:30] #12830 closed

[2021-03-11 18:30] alexander-akait commented on #12855
Does it happen with the latest version?

[2021-03-11 18:51] janlent1 commented on #12855
![DefaultStatsPrinterPlugin](https://user-images.githubusercontent.com/22960683/110838687-0d56bb00-82a3-11eb-8426-6811af8e9b29.png)

Seems to be also in the master that i just installed and also in another configuration that just uses this webpack because its in the subfolder.
Will debug

[2021-03-11 18:54] alexander-akait commented on #12855
Yes, please debug it, it is easy, just print `items` in `itemsJoinMoreSpacing`, I still think bug in custom plugin

[2021-03-11 19:49] kanoshin commented on #12771
@sokra there is still a leak if I don't use AssetGenerator at all:

<img width="1920" alt="Screen Shot 2021-03-11 at 11 42 41 AM" src="https://user-images.githubusercontent.com/11817360/110845065-06a65480-825f-11eb-9c51-4da2ba6286c0.png">

Do you want me to create a new issue for that? Here is what I did to reproduce without AssetGenerator: https://github.com/kanoshin/wp5-memory-leak/commit/67fb51

[2021-03-11 20:00] #12474 closed

[2021-03-11 20:01] 7rulnik opened #12876 "Inline loaders don't work with asset type"
# Bug report

**What is the current behavior?**

I'm trying to use an inline loader with `!!` to have some unique behavior for several modules.

[code]

But if rule has one of type `asset/resource`, `asset/inline`, `asset/source` or `asset` it will be transformed with this type, not the inline loader. But if a rule has `use` inline loader will be applied and loaders from `use` will be ignored.

Ru

[2021-03-11 20:02] Brian-McBride commented on #12869
PR up at #12875

Thanks for the pointer.

[2021-03-11 20:22] sokra commented on #12771
Hmm yeah I see. That's the weird backward-compat stuff...

[2021-03-11 21:56] plohoj opened #12877 "Promise is undefined with target: ['web', 'es5'] using webworker"
# Bug report

**What is the current behavior?**

IE 11 throws a "'Promise' is undefined" exception if there is a promise or async in the code, even with `babel-loader`.
This error occurs in a piece of code generated by webpack:
![image](https://user-images.githubusercontent.com/10156573/110858932-bd401e80-82cb-11eb-9e83-4a630c8f793f.png)

**If the current behavior is a bug, please provide the step

[2021-03-11 22:00] terpimost commented on #6472
Guys, I'm very confused by this situation, documentation, examples and workarounds.
I do appreciate work that Webpack team does and would happily donate money if somebody could put clarity in this.
It is so frustrating that I'm happy to pay just to get an answer.

There is [example](https://github.com/webpack/webpack/tree/master/examples/worker) of how Webpack can understand that we are importing

[2021-03-11 22:25] nerdo commented on #12868
It only happens in watch mode after the project has been recompiled several times. I will update the ticket with the list of loaders and plugins shortly.

[2021-03-11 22:39] sokra commented on #12877
es5 is the syntax level. It's not about the runtime api. You need to provide polyfills for the stuff you are using.

[2021-03-11 22:57] nerdo commented on #12868
I'm using the following webpack plugins:

[code]

I was previously using `raw-loader`, `file-loader` and `url-loader` for assets in Webpack 4, but removed and refactored my project to  use the recommended Webpack 5 asset modules instead. Maybe it is related to the asset modules after all?

I'll also mention the webpack packages I have installed and am using for development, especially since I was

[2021-03-11 22:59] nerdo commented on #12868
I'm sorry, I think I was unclear with what's happening. It works for a one-time build and will re-compile for a while in watch mode. It just eventually segfaults and I have to keep restarting it.

Wouldn't it always segfault if there wasn't enough memory allocated?

[2021-03-11 23:36] janlent1 commented on #12855
Okay I made it work again with the master and could get the build to build. But the error persists and the only usabble callstack is this here
[code]
The __webpack_modules__ is an array but some entries are no numbers but are actual module ids(paths|loader prefixes) as name.
These modules with the name for the file or the name plus loaders are everything from ts(x) js less css files... They are fr

[2021-03-12 00:02] janlent1 commented on #12855
So after also disabling the devtool:false, and not having other EvalSourceMapDevToolPlugin enabled the split chunks split by the splitchunksplugin have a eval-source-map, but those original have no source map.
This is now only working in the master for me before that the build never finished.

[2021-03-12 01:12] #5934 closed

[2021-03-12 02:17] anilanar commented on #6472
@terpimost I'm not sure if it's the same for workers or not but for normal chunks, you gotta use `chunks: 'all'` to make entrypoints share chunks. Otherwise, chunks are only shared between async chunks.

Documentation says:

[2021-03-12 05:32] plohoj commented on #12877
In my example, I am using babel-loader and @ babel/preset-env. And it provides polyfill for my code, but babel-loader cannot provide polyfills for import code generated by webpack.

My input code:
[code]
My output code:
[code]
And the same file contains the following code generated by webpack
[code]

I suppose this is happening because babel-loader does its job before webpack replaces the import f

[2021-03-12 09:57] sokra commented on #12771
Ok I looked into that a bit deeper and there is a pretty serious memory leak that happens when removing modules from the compilation. e. g. removing an `import`.
But it's not that easy to fix.

One problem are backward-compat back references to objects one should not have access too. That's easy to fix by removing the backward-compat references when the next Compilation starts. In the next major t

[2021-03-12 11:28] janlent1 commented on #12855
If I enable eval-source-map in the devtool, the optimized and non-optimized but going through splitchunks chunks look simialr except the module id still being faulty in the non-optimized chunk.

[2021-03-12 12:05] alexander-akait commented on #6472
@terpimost Can you provide simple example?

[2021-03-12 12:17] alexander-akait commented on #12876
It is not workaround, it is official solution https://webpack.js.org/guides/asset-modules/#replacing-inline-loader-syntax

In long term we need to avoid and remove inline syntax for loaders (we keep them for backward compatibility), because it is out of ECMA modules spec, also it is specific webpack syntax, it is bad for future JS ecosystem.

I think we need update docs on new approach.

[2021-03-12 12:20] alexander-akait commented on #12868
@nerdo We found more memory leaks https://github.com/webpack/webpack/issues/12771#issuecomment-797377454

 Let's check it, can you increase node memory and see if this happens with increased memory?

[2021-03-12 12:22] nerdo commented on #12868
Yes, I'll try increasing memory today and see how it holds up.

Thanks

[2021-03-12 12:22] alexander-akait commented on #12855
Sorry I can't help you, won't fix for me, I can’t guess and unfortunately I don’t have time for that, if you need help try to reduce your app and provide example of the problem

[2021-03-12 12:29] surma commented on #6472
@terpimost

Take a look at the [code-splitting example](https://github.com/GoogleChromeLabs/tooling.report/tree/live/tests/code-splitting/subtests/between-workers/webpack) that we have for Webpack 5 on [tooling.report](https://tooling.report).

Looking at the [webpack config of that example](https://github.com/GoogleChromeLabs/tooling.report/blob/live/tests/code-splitting/subtests/between-workers/

[2021-03-12 12:29] surma commented on #6472
Also, I am thing I can officially call this issue resolved with Webpack 5 🎉 🎉 🎉 🎉 🎉 🎉

[2021-03-12 12:29] #6472 closed

[2021-03-12 12:49] rgeerts opened #12879 "ie 11 silently failing feature after build"
# Bug report

**What is the current behavior?**
I am using a vue, vue cli, and bootsrap-vue in a project.  When I run a project in development mode, it is working fine.  When I go to build the project a particular feature doesn't work.  I have a table filtering feature where you can type in a text field and the table is searched for the contents.
If i put in a .vue.config.js with "mimize":false...

[2021-03-12 12:55] alexander-akait commented on #12879
oh, again IE 11, 2021 year...

[2021-03-12 12:59] rgeerts commented on #12879
I know...Edge <= 44 too. That probably doesn't make it too much more enticing.

[2021-03-12 13:04] alexander-akait commented on #12879
I will look at the problem, I'm pretty sure the problem isn't in webpack, problem in babel/terser/package, in most places we don't touch your code, just rewrite `import`/`export`/`require`/etc on own function + some runtime

[2021-03-12 13:10] alexander-akait commented on #12877
Answer above, webpack doesn't do polyfilling for you, you need do it manually, here you can found  how you can do it https://stackoverflow.com/questions/38960490/how-can-i-polyfill-promise-with-webpack. Yes, babel may don't add polyfills, because you use `useBuiltIns: 'usage'`, so if you don't have Promise in your code babel doesn't add them, you need manually add them.

I strongly recommend do no

[2021-03-12 13:14] rgeerts commented on #12879
yeah...I wasn't exactly sure webpack's relation with terser.  Saw some other terser related issues issued here. I can add an issue with terser directly too.

[2021-03-12 13:15] alexander-akait commented on #12877
For library you can improve readme and add description like:

"You need `Promise` for using this library".

Here good library https://github.com/stefanpenner/es6-promise

For application I recommend just put
[code]

In your HTML file

[2021-03-12 13:16] alexander-akait commented on #12877
I think we need doc it

[2021-03-12 13:28] rgeerts commented on #12879
I see submitting a bug to terser may be more complicated that I originally estimated.  They don't want webpack included.  I spent a fair amount of time already organizing this code example.  not sure I can get this issue condensed down to a terser issue very quickly.

[2021-03-12 13:41] roddypratt opened #12880 "5.25.0 has broken my builds"
# Bug report

I have a Laravel app which uses blade.php for browser-side content, with some small <script> sections using JQuery.
JQuery is part of the vendor.js chunk created by Webpack, via Laravel Mix

When build with 5.24.4, everything works as expected

**What is the current behavior?**

However, with 5.25, the bundles are created  but when a page loads and attempts to use JQuery I get  the d

[2021-03-12 13:47] #12686 closed

[2021-03-12 13:48] alexander-akait commented on #12880
Sorry, won't fix, without example we can't help you

[2021-03-12 13:57] roddypratt commented on #12880
Understood. Will try and make a minimal example.

[2021-03-12 14:08] hugoebarboza commented on #12165
I have the same issue Cannot read property 'includes' of undefined".

[2021-03-12 14:11] alexander-akait commented on #12879
You don't use `webpack version: 5.24.4`, run `npm ls webpack` and look at output, maybe bug in `terser`, but v5 only available in `webpack` v5 (or in `terser-webpack-plugin` v5, but it require `webpack` v5 too), you need to open issue in `vue-cli`, unfortunately we can't fix it on our side also I try to debug it using IE 11/10 and even 9, all works fine

[2021-03-12 14:26] rgeerts commented on #12879
I experience the issue with webpack 4 and 5(I thought).  I used vue cli alpha version to get the webpack 5.  Not sure it is worth you looking at anymore if you couldn't replicate it with 4 even.  but my npm ls webpack does show 5.24.4. Did you use the webpack5 branch?

npm ls webpack
test_app@0.1.0 /Users/rgeerts/code/test_app
├─┬ @vue/cli-plugin-babel@5.0.0-alpha.7
│ ├─┬ babel-loader@8.2.2
│ │ └─

[2021-03-12 14:31] alexander-akait commented on #12879
I can't reproduce the problem with IE 11 using webpack v4 and webpack v5 in your branch, all works fine

[2021-03-12 14:32] alexander-akait commented on #12879
Also if is working with `minimize: false`, nothing to fix on our side, sorry

[2021-03-12 14:35] rgeerts commented on #12879
thanks for your effort, any chance I could get your package-lock.json that was generated

[2021-03-12 14:37] alexander-akait commented on #12879
For v4 or v5?

[2021-03-12 14:38] rgeerts commented on #12879
lets go with v5

[2021-03-12 15:30] alexander-akait commented on #12879
I am using `yarn` (just note your package doesn't install using npm v7)
[yarn.lock.txt](https://github.com/webpack/webpack/files/6131054/yarn.lock.txt)

[2021-03-12 15:32] alexander-akait commented on #12879
Reproduced, give me time to investigate

[2021-03-12 16:03] mtwalsh commented on #12880
Same issue here, I'm using Laravel Mix but no jQuery in the mix here, downgrading to `5.24.4` from `5.25.0` resolved the issue.

**What is the current behaviour?**

JS is not being executed client-side, I can't even get a `console.log()` output. No errors in the console either.

**What is the expected behaviour?**

JS should be executed client-side.

**Other relevant information:**

webpack versio

[2021-03-12 16:05] alexander-akait commented on #12880
I thing bug on `Laravel Mix` side, as you can see not reports from other developers

[2021-03-12 16:05] alexander-akait commented on #12880
Bug without example I can't help

[2021-03-12 16:06] roddypratt commented on #12880
Inevitably, my minimal example doesn't have the problem.  :( However it looks in the 'broken' version, all the js chunks are loaded but Webpack never "runs" them.

[2021-03-12 16:07] alexander-akait commented on #12880
What is output of `dist` and generated `index.html`?

[2021-03-12 16:14] terpimost commented on #6472
@surma @anilanar @alexander-akait sorry guys I forgot to tell that Webpack can split code nicely thanks to:
[code]
BUT after that the app **simply doesn't work**:
![image](https://user-images.githubusercontent.com/1903309/110964291-09697e00-8321-11eb-9184-96c143060696.png)
Here is the example https://github.com/terpimost/webpack-examples/tree/main/worker

Please tell me if I'm doing something wron

[2021-03-12 16:16] roddypratt commented on #12880
My HTML is unchanged (Webpack isn't generating that).

Relevant section snipped is
[code]
`dist` contains all the expected files.  Generated JS files seem identical apart from the last few lines. I can post an example of those if that helps?

In manifest.js there's this code, which I think is the actual module "runner".  It seems that `__webpack_require__.o()` is always returning false for these m

[2021-03-12 16:25] alexander-akait commented on #12880
Not all modules write yourself to `window`, so using `$` is not a safe using here, do you have `window.jQuery`

[2021-03-12 16:36] anilanar commented on #6472
@terpimost `chunks: all` changes entrypoints in a dynamic way. Webpack, after a build is done, will tell you what js files you need to load for an entrypoint to work. To get the list of those files programmatically (or automatically), you need to use html webpack plugin or webpack manifest plugin that would output a json file to tell you what files needs to be loaded.

[2021-03-12 17:05] terpimost commented on #6472
Ok, so we must load all the assets with shared libraries in index.html before our main app and the way to do so is HtmlWebpackPlugin. And if something isn't working we have an error in importing scripts in html or error in dynamic imports.
shared modules must be loaded first
after that main app
Do we need to be sure that shared modules loaded in html before we use Worker in which those modules are

[2021-03-12 17:10] alexander-akait commented on #12879
Yep, bug in `terser`. I can't say what is wrong, but if you set `terserOptions.compress.unused = false;` https://github.com/terser/terser#compress-options all works fine

[2021-03-12 17:11] alexander-akait commented on #12879
Looks something was removed by terser as unused, but it still need for IE 11, i think it is polyfill

[2021-03-12 17:14] anilanar commented on #6472
@terpimost Sorry, I don't know how it would work for workers. In a worker context, you somehow need to load all files that belong to the worker entrypoint; because a web worker is like a separate browser tab with 100% isolation from the main js thread. Workers need a different handling similar to what HtmlWebpackPlugin does and I'm not sure if webpack or a plugin has a feature to support that.

Th

[2021-03-12 17:31] alexander-akait commented on #12879
Unfortunately, I can't help much, I spent 3~4 hours on debug and no luck, feel free to report it in `terser` repo and provide information about `compress.unused: false` is fix the problem. Nothing to fix on our side, sorry, I helped as much as I could

My **BIG** recommendation is drop IE 11, I know that some clients still require it, but it's time to tell them no, it is not possible and it is ver

[2021-03-12 17:31] #12879 closed

[2021-03-12 17:59] vladar opened #12882 "Webpack drops aggregated changes when using Watching.resume()"
# Bug report

**What is the current behavior?**

This is an issue with `resume`/`suspend` flow of webpack Watching. In an edge case (described below) webpack drops some of the aggregated changes and they are not included in the compilation result.

**If the current behavior is a bug, please provide the steps to reproduce.**

All of the following conditions must be met to reproduce it:

1. `resume`

[2021-03-12 18:07] rigor789 opened #12883 "ENAMETOOLONG when emitting HMR chunk"
# Bug report

**What is the current behavior?**

In a complex project we are applying multiple loaders - everything works as expected, however when a HMR build triggers the emitted `hot-update.json` file has a too long name.

[code]

I have tried changing `config.output.otUpdateMainFilename` & `config.output.hotUpdateChunkFilename` however if I remove the `[runtime]` placeholder - the filenames ar

[2021-03-12 18:08] #12706 closed

[2021-03-12 18:10] alexander-akait commented on #12883
Feel free to send a PR, low priority

[2021-03-12 18:10] alexander-akait commented on #12814
@olee friendly ping

[2021-03-12 18:14] rigor789 commented on #12883
@alexander-akait to avoid going down the wrong path, do you have pointers where should we check the filename length? Happy to work on a PR!

[2021-03-12 18:16] alexander-akait commented on #12883
How you get this long path?

[2021-03-12 18:56] rigor789 commented on #12883
The config is from an upcoming webpack5 rewrite of the NativeScript build setup - we're building the config dynamically using webpack-chain, and here's a rough output of the config that causes the ENAMETOOLONG issue when doing hmr:

https://gist.github.com/rigor789/838c5ae02139c3e26aeb638493021611

In this particular case - disabling the "bundle" loader stack: https://gist.github.com/rigor789/838c

[2021-03-12 19:01] gpoitch opened #12884 "Asset modules custom publicPath"
## Feature request

**What is the expected behavior?**
Need a way to set a different publicPath per asset.
`assetModuleFilename` and `generator.filename` allow file name customization but not public path.

**What is motivation or use case for adding/changing the behavior?**
file-loader has this option: https://github.com/webpack-contrib/file-loader#publicpath
My use-case is that I host font assets

[2021-03-12 19:25] roddypratt commented on #12880
I'd get the same problem. My `app.ts`  starts with

[code]
... But that code is never executed because Webpack never 'runs' the modules it loads.  Breakpoints on that line are never hit in 5.25, but they are in previous 5.x builds.

[2021-03-12 22:05] sokra commented on #12880
This is very likely a bug in webpack. We did some refactoring to the startup logic.

You said only a few lines changed. Maybe you can post the diff?

[2021-03-12 22:15] roddypratt commented on #12880
I'm about to publish a small repo which demonstrates the issue. It's triggered by including a .scss file via mix. webpack thinks the load is not 'fulfilled' because it never 'sees' the scss file being loaded...

[2021-03-12 22:18] sokra commented on #6472
Workers will automatically load all the chunks they need if it's splitted into multiple chunks.
I think (not super sure) that you only need `chunks: "all"` if you want to split the real entrypoints. The worker entries should get splitted without it too. So two worker should share chunks even without that. But the threshold of 20kb will still apply if you don't set minSize.

[2021-03-12 22:20] sokra commented on #12880
Ah that's possible if you have a chunk with only css and no JS, due to splitChunks.

[2021-03-12 22:21] roddypratt commented on #12880
Here's the repo.
https://github.com/roddypratt/webpack252bug

[2021-03-12 22:52] thecrypticace commented on #12880
Hi! I'm one of the people who works on Mix. I'd be happy to help where I can with this!

Yep this happens because we split CSS using `splitChunks` with a filename test + type: css/mini-extract + enforce: all

[2021-03-13 00:57] terpimost commented on #6472
@sokra and @anilanar thank very much for clarifications. I understand that new way of creating a worker is
`const w = new Worker(new URL('./worker.js', import.meta.url));`
which will handle things for us, but could you please clarify how can I do the same without using `import.meta.url`?
From my understand steps should be like this:
- allow webpack to split chunks `chunks: 'all', minSize: 0,`
- cr

[2021-03-13 11:41] xinggangling opened #12885 "arrowFunction exsit in es5 mode？"
# Bug report

`{
    target: 'es5'
}`

[code]

1. webpack/lib/dependencies/HarmonyCompatibilityDependency.js
2. webpack/lib/runtime/AsyncModuleRuntimeModule.js

1. runtimeTemplate.supportsArrowFunction()
2. Can traditional functions cause other errors ？

[code]

[code]

**Other relevant information:**
webpack version:  5.25.0
Node.js version: 12
Operating System: mac
Additional tools:

english is

[2021-03-13 11:41] xinggangling opened #12886 "arrowFunction exsit in es5 mode？"
# Bug report

`{
    target: 'es5'
}`

[code]

1. webpack/lib/dependencies/HarmonyCompatibilityDependency.js
2. webpack/lib/runtime/AsyncModuleRuntimeModule.js

1. runtimeTemplate.supportsArrowFunction()
2. Can traditional functions cause other errors ？

[code]

[code]

**Other relevant information:**
webpack version:  5.25.0
Node.js version: 12
Operating System: mac
Additional tools:

english is

[2021-03-13 13:15] alexander-akait commented on #12886
Duplicate https://github.com/webpack/webpack/issues/12885

[2021-03-13 13:15] #12886 closed

[2021-03-13 13:56] plohoj commented on #12877
I've tried all the suggested ways, but it doesn't help. I added to my webpack.config.js:
[code]
`src_scripts_worker_ts.js` file contains polyfill import:
![image](https://user-images.githubusercontent.com/10156573/111031465-bc68d300-8418-11eb-82be-570e35e5a94c.png)

And the `vendors-node_modules_core-js_modules_es_object_to-string_js-node_modules_core-js_modules_es_p-2bb844.js` file contains the d

[2021-03-13 14:23] alexander-akait commented on #12885
Fix https://github.com/webpack/webpack/pull/12887

[2021-03-13 14:24] alexander-akait commented on #12877
Sorry, it is impossible, again, just add `<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> ` in HTML file, without promise async loading are impossible

[2021-03-13 14:35] plohoj commented on #12877
It also doesn't work. Because the error is happening in the `src_scripts_worker_ts.js file`, which is executed in the **webwerker area**

[2021-03-13 14:49] alexander-akait commented on #12877
Please provide example

[2021-03-13 14:51] plohoj commented on #12877
Exemple pinned in main message:
https://github.com/plohoj/webpack-web-es5-webworker-promise-issue

[2021-03-13 14:59] alexander-akait commented on #12865
Oh, not we can't , because `es5` not provide platform, please use `target: ['web', 'es5']`

[2021-03-13 14:59] #12865 closed

[2021-03-13 15:45] sokra commented on #12884
Send a PR. AssetModulesPlugin is a good place to start. Tests can go into test/configCases/asset-modules.
You also need to change the schema in schemas/WebpackOptions.json to add the new option.

[2021-03-13 16:36] rigor789 commented on #12883
Update: I managed to reproduce it in an isolated projects, and it seems to be related to worker chunks.

Included steps to reproduce in the README:

https://github.com/rigor789/webpack-hmr-enametoolong

[2021-03-13 16:39] alexander-akait commented on #12883
I am afraid it is not easy to fix, even more I think it is not fixable

[2021-03-13 17:09] alexander-akait commented on #12877
workaround:
[code]

close in favor https://github.com/webpack/webpack/issues/3531, we should allow to setup `Promise`, also pulling `__webpack_promise__` in worker scope

[2021-03-13 17:09] #12877 closed

[2021-03-13 17:24] rigor789 commented on #12883
@alexander-akait Thanks for looking into it - got me worried for a second there! 😆 If you can point me in the right direction, I'm happy to work on the fix!

[2021-03-13 17:37] alexander-akait commented on #12883
https://github.com/webpack/webpack/blob/master/lib/HotModuleReplacementPlugin.js, but looks it require more code

[2021-03-13 18:07] alexander-akait commented on #12880
Yep, looks the regression, optimization options:
[code]

Entry:
[code]

i.e. using `mini-css-extract-plugin` + CSS `entry` + `optimization.runtimeChunk` broken

[2021-03-13 19:29] rigor789 commented on #12883
I traced back where the `runtime` name is generated:
https://github.com/webpack/webpack/blob/e643b85a6accde7e4c7f19c8770816e5aaf6a945/lib/dependencies/WorkerPlugin.js#L266-L270

Would it be safe to do a length check & truncate very long names (with a hash) like this: https://github.com/webpack/webpack/blob/e643b85a6accde7e4c7f19c8770816e5aaf6a945/lib/optimize/SplitChunksPlugin.js#L1634-L1639

[2021-03-13 22:28] fmagaldea opened #12889 "Unable to migrate to webpack@5 without stable dev server"
Hi,

All community see you are doing great efforts in webpack package.
But for now is sad to say that is for nothing, because there is no decent way to use in local in development mode (= served locally, with hot, all in memory...).

Why?
Because the package you recommend for dev environment [webpack-dev-server](https://www.npmjs.com/package/webpack-dev-server) has so many issues (hot broken, inco

[2021-03-13 23:36] tobiu commented on #6472
As already mentioned 6 months ago: webpack does a great job regarding worker based split chunks.

The neo.mjs project is adjusted to use webpack v5 now and we get split chunks across different threads (workers & main thread) as well as for different Apps which run inside the Application worker.

Obviously each thread does need to load the shared chunks it needs on its own. Not an issue for me, sin

[2021-03-14 07:17] JGreenlee commented on #1403
Hey, is there a way to do this for real yet? It's 2021. We shouldn't need to use Babel anymore.

[2021-03-14 13:25] finom commented on #10885
Doesn't work for me for some reason. I always get

But the error disappears if I manually remove "browser": "browser.js" from generated package.json from node_modules

[2021-03-14 19:03] sokra commented on #12889
cc @alexander-akait

[2021-03-14 19:07] sokra commented on #12883
As workaround you can manually give the worker chunk a name with `/* webpackChunkName: "name" */` in the `new Worker(..)` call.

[2021-03-14 19:32] #12880 closed

[2021-03-14 19:51] rigor789 commented on #12883
Thanks @sokra, I have found your comment about that in https://github.com/webpack/webpack/pull/11439#issuecomment-688693800 and have tried naming the chunk. It is renamed, however a HMR chunk/update still crashes. Patching the WorkerPlugin & truncating the `entryOptions.runtime` seemed to solve the crash (and everything else appears to be fine), but I don't feel confident it's the right fix.

[2021-03-14 21:12] roddypratt commented on #12880
Thanks - Can confirm 5.25.1 fixes both my original project and the repo previously provided to reproduce the issue.!

[2021-03-15 02:33] gui-killer commented on #11650
I have this message too, and it is not clear to known where is wrong, can you share that how did you fix it?

[2021-03-15 04:04] arash-bizcover opened #12892 "fuck webpack"

[2021-03-15 04:04] #12892 closed

[2021-03-15 09:01] small-pot opened #12893 ""setTimeout is not a function" in webpack5 target:"node""

[2021-03-15 11:08] sokra commented on #12771
Interesting thing I figured out:

Using the devtools sometimes show fake memory leaks. Seems like the something in devtools is holding some references which prevents that some WeakMap references to be collected. I think it's either the Source panel or the memory dumps themselves. Creating heapdumps via API fixes that problem...

Anyway I found a memory leak that happens when modules are no longer

[2021-03-15 11:31] alexander-akait commented on #1403
Just rename `webpack.config.js` to `webpack.config.mjs` or add `type: "module"` in `package.json` (make sure you update `webpack-cli` to the latest version)

[2021-03-15 11:33] alexander-akait commented on #12893
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-03-15 11:33] #12893 closed

[2021-03-15 11:38] alexander-akait commented on #12889
We are working on new release, hope we will finish it on this week. @fmagaldea You can try `webpack-dev-server@beta-0` and if you faced with the issue, feel free to open a new issue in `webpack-dev-server` repo, sorry for this

[2021-03-15 11:38] #12889 closed

[2021-03-15 11:41] alexander-akait commented on #12883
@rigor789 Yep, it is just workaround

[2021-03-15 12:09] mayu888 opened #12895 "Do you have more detailed documentation for plugins ？"
I'm going to write a plugin to modify the code in the JS file, but I have too many doubts by looking at the official documents. The plugin has too many hooks. What should the hooks in each stage do? Is there a detailed tutorial?

[2021-03-15 12:11] mayu888 commented on #12895
我的目的是编译前在js/jsx文件以及css文件中修改我的部分代码，但是我不知道在哪个钩子内做这些事，有比较详细的文档吗？

[2021-03-15 12:11] mayu888 commented on #12895
My goal is to modify some of my code in js/jsx and CSS files before compiling, but I don't know which hook to do these things. Do you have a more detailed document?

[2021-03-15 12:19] alexander-akait commented on #12895
You need to implement own `loader` in this case, but you can apply loader inside plugin, example https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob/master/src/index.js#L255, please use `Discussions` for questions, thanks

If you need add something after bundling you can use `processAssets` hook, example here https://github.com/webpack-contrib/image-minimizer-webpack-plugin/blob

[2021-03-15 12:19] #12895 closed

[2021-03-15 12:20] alexander-akait commented on #12895
Also if you need better docs about it, feel free to open issue in docs repo https://github.com/webpack/webpack.js.org

[2021-03-15 13:49] janlent1 commented on #12855
@alexander-akait i could also debug some more if you could give me a point where module ids are transformed into the numbers as they should be. The setmoduleid is not the right call because that happens with the path but i didnt see it with numbers yet.
Maybe I can then go up the stack and take a look at where this processing is started and try to figure out why they are not transformed.
I also fi

[2021-03-15 14:01] alexander-akait commented on #12855
@janlent1 sorry, your problem is not fixable, please provide an example of how we can reproduce the error, otherwise I will have to close it and mark it as `won't fix`

[2021-03-15 14:03] vladar opened #12898 "Webpack skips changes to files when compilation is suspended"
# Bug report

**What is the current behavior?**

This is an issue with `suspend` and `resume` flow of `Watching`. The second and subsequent aggregated changes that occur after `suspend` are dismissed by webpack.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Call [`suspend`](https://github.com/webpack/webpack/blob/58dfda2796edc57c9d18526053d6bcde6f06b8b7/lib/Watch

[2021-03-15 14:07] alexander-akait commented on #12898
Please prefer to use the one issue to track all problems with `suspend` and `resume`, looks it is side effects of the one problem

[2021-03-15 14:09] alexander-akait commented on #12876
Answered

[2021-03-15 14:09] #12876 closed

[2021-03-15 14:10] alexander-akait commented on #12724
@mikearnaldi I think we can close it... nothing to fix on webpack side here, sorry

[2021-03-15 14:19] vladar commented on #12898
No, those are actually different bugs (they hit different codepaths). Fixing one won't fix the other. That's why I've opened two issues.

[2021-03-15 14:20] #12771 closed

[2021-03-15 16:02] #12885 closed

[2021-03-15 16:02] #12577 closed

[2021-03-15 16:05] sokra commented on #10249
fixed by #12896

[2021-03-15 16:05] #10249 closed

[2021-03-15 16:07] alexander-akait commented on #6693
I think nothing to fix on webpack side, here bug with `webpack-manifest-plugin`, also manifest generation (i.e. `webpack-manifest-plugin` inside core in our roadmap https://github.com/webpack/webpack/issues/11562), workaround above https://github.com/webpack/webpack/issues/6693#issuecomment-745688108

[2021-03-15 16:07] #6693 closed

[2021-03-15 16:08] alexander-akait commented on #6784
Duplicate https://github.com/webpack/webpack/issues/6522, workaround above

[2021-03-15 16:08] #6784 closed

[2021-03-15 16:29] KENNYSOFT opened #12899 "Support force tty of nodeConsole"
## Feature request

**What is the expected behavior?**

Provide some environment variable or someway to support force set `tty` of `nodeConsole`.

**What is motivation or use case for adding/changing the behavior?**

To use with Jenkins.

I make builds using Jenkins, and it supports colors by AnsiColor plugin.
Since Jenkins shows 'Console Output' as non-TTY environment, I need to set force color o

[2021-03-15 16:37] alexander-akait commented on #12899
it is breaking change and potential break terminal for other developers

[2021-03-15 16:55] KENNYSOFT commented on #12899
I see, then how about using a new environment variable, something like `process.env.WEBPACK_FORCE_TTY` ?

[2021-03-15 17:03] alexander-akait commented on #12899
I think we need logic here:
[code]

[2021-03-15 17:04] alexander-akait commented on #12899
So you can force enable and disable it

[2021-03-15 17:04] eps1lon opened #12900 "inline loader not migrateable to webpack 5 when used in require.context"
# Bug report

**What is the current behavior?**

The documentation in https://webpack.js.org/guides/asset-modules/#replacing-inline-loader-syntax to replace inline loaders with Asset Modules does not apply to `require.context`. Specifically, it doesn't seem like I can exclude a source asset from being parsed by other loaders. This was possibly in webpack 4 with `require.context("!raw-loader!./code

[2021-03-15 17:17] KENNYSOFT commented on #12899
Yeah but not `process​.​env​.​TERM​ ​&&​` since the property may not exists.

[2021-03-15 17:23] alexander-akait commented on #12900
Intersect rules, please use:
[code]

otherwise `test` is preferred

[2021-03-15 17:28] alexander-akait commented on #5730
Original problem was resolved, if you still have a problem, please create a new issue, other issue https://github.com/webpack/webpack/issues/12900, `test` is preferred over `resourceQuery`, so if you have intersection for `test`, you need specify `resourceQuery` for both rules, i.e. ` resourceQuery: /raw/,` and ` resourceQuery: /^(?!\?raw$).*/,`

[2021-03-15 17:28] #5730 closed

[2021-03-15 17:34] eps1lon commented on #12900
That's not what the documentation is saying though? Now I have to change any existing (and future) rule that might process assets loaded as source.

[2021-03-15 17:38] alexander-akait commented on #12900
@eps1lon You need do it only for rules where `test` can have intersections

[2021-03-15 17:40] eps1lon commented on #12900
That's not adressing my problem though. I have to make sure anybody who adds rules considers this.

How does you comment adress the problem where I don't have access to the rule objects e.g. when extending a nextjs webpack configuration?

[2021-03-15 17:44] alexander-akait commented on #12900
What about this? So you don't need exclude `resourceQuery` from other rules

[2021-03-15 17:54] eps1lon commented on #12900
I'm not following. How would I then be able to migrate from inline-loaders? Based on file extension is not possible since I need some files both as regular JS and their raw source.

[2021-03-15 17:58] alexander-akait commented on #12900
Sorry, I don't understand you.

Using `resourceQuery`,

`resourceQuery: /^(?!\?raw$).*/,`

I provide solution above.

Do you want to avoid using `resourceQuery: /^(?!\?raw$).*/,`? If yes, above I suggested that we could prioritize `resourceQuery` over `test`, so you don't need `resourceQuery: /^(?!\?raw$).*/,` in your config

[2021-03-15 18:05] eps1lon commented on #12900
But you said you want to "privatize ressourceQuery". I interpreted "privatize" as "not being part of the public API" i.e. not usable.

Could you summarize how I would write the initial set of rules without changing the rule that applies the babel-loader?

[2021-03-15 18:07] alexander-akait commented on #12900
@eps1lon sorry, typo, I mean `prioritize`

Right now only using `resourceQuery: /^(?!\?raw$).*/,`, we need think more about it

[2021-03-15 18:18] alexander-akait commented on #11074
@jquense All problems are solved, something else?

[2021-03-15 18:39] xiaoxiaojx commented on #12884
cool, I also need this feature, I'll mention a mr, thanks
https://github.com/webpack/webpack/pull/12902

[2021-03-15 19:32] #12701 closed

[2021-03-15 19:33] #12851 closed

[2021-03-15 19:42] rashkov opened #12903 "Export source asset module to default"
https://github.com/webpack/webpack/blob/2abcede6cd044d3424b072ccf06ab076ae1cdb19/lib/asset/AssetSourceGenerator.js#L42

can we modify this to support exporting to the “default” keyword? I’m unable to use this loader in my code base because it only uses require().

[2021-03-15 19:45] sokra commented on #12900
That's pretty un-readable. You could use `resourceQuery: { not: /raw/ }`.

But even better use `oneOf` rules:

[code]

write a helper function if this is too much nesting for you...

[2021-03-15 19:48] sokra commented on #12903
This is not a loader. This is webpacks internal format of defining modules.

I don't understand why you are unable to use it. You can `import` or `require` it.

[2021-03-15 19:56] rashkov commented on #12903
@sokra thanks for your super quick response. You were right, I can require() it just fine. I'm using Rescript lang, and my module binding was incorrect on the Rescript side, so it was transpiling to require("asset").default instead of just require("asset").

Thanks again. Closing this issue.

[2021-03-15 19:56] #12903 closed

[2021-03-15 22:05] nerdo commented on #12868
I didn't really run this part of my project on Friday, but I ran it as suggested all day today with no segfaults.

I'm a little confused as to what changed. I'm still running the same version of node as I was when using webpack 4 and didn't have this issue.

Is webpack requesting a different memory limit of node somehow? Or am I misunderstanding what's going on?

[2021-03-16 00:18] AviVahl commented on #12903
@sokra existing code that used `file-loader` or `raw-loader` got an es module in the last stable releases.
so if someone imported a file directly using commonjs, they usually added `.default` lookup to the request.
it makes it a bit trickier to migrate existing code when moving from the loaders to the new built in functionality.
would u consider making it esm by default (with esModuleInterop) or m

[2021-03-16 00:20] barak007 commented on #12903
We have such case in a large codebase that prevent us from move forward to webpack5 `AssetModules`. In my opinion making it configurable will do the trick

[2021-03-16 05:26] aoisummer commented on #12465
I found a similar problem:
[code]
This is a ES6 method, may not be compatible with `target: ['web', 'es5']`

webpack: 5.26.0
node: 14.16.0
browser: IE 11

[2021-03-16 05:30] monic-shixi opened #12904 "css module `import * as` not work after upgrade to webpack5"
# Bug report

I had update webpack4 to webpack5, but some css module not work.

For example:

[code]

[code]

### not work

- env
   - **webpack@5.16.0**
   - css-loader@5.0.1

[code]

### work

- env
   - **webpack@4.35.0**
   - css-loader@5.0.1

[code]

I had read change log, so, it's because of `tree-shaking`? But i had set `sideEffects: true`, that not work.

**What is the current behavior?**

[2021-03-16 05:52] Bosch-Eli-Black commented on #12179
I think this is still an issue.

[2021-03-16 07:31] JonWallsten commented on #12759
@alexander-akait: I will take a look at the Node side of the problem. Joining two paths on different drives and get a valid url. What I'm unsure about is if this should be done by the user or fixed in Webpack. I'll get back to you shortly.

[2021-03-16 07:52] eps1lon commented on #12900
I just copied the docs :sweat_smile:: https://webpack.js.org/guides/asset-modules/#replacing-inline-loader-syntax

That does not work for me. I do not have control over all the rules since I'm using nextjs. I could technically but the order of the rules isn't some public API. And even then the point about future rules still apply: I need to manually verify no rules conflicts whenever I update next

[2021-03-16 11:54] alexander-akait commented on #12868
No

Problem still exists? Do you try the latest version of v5?

[2021-03-16 11:58] alexander-akait commented on #12084
bump

[2021-03-16 12:01] alexander-akait commented on #12900
@sokra using `oneOf` is not very convenient in many cases, also some developers can't have access to `webpack.config.js`

[2021-03-16 12:03] alexander-akait commented on #12179
What is the problem?

[2021-03-16 12:06] alexander-akait commented on #12904
You should not disable `esModule` (i.e. remove this option), not related to webpack

[2021-03-16 12:06] #12904 closed

[2021-03-16 12:10] alexander-akait commented on #12465
@aoisummer Please read our docs, you need polyfills for IE 11

[2021-03-16 12:17] alexander-akait commented on #12903
@AviVahl @barak007 It is internal webpack format and it is always use exports as `default`. Example:

**webpack.config.js**

[code]

**entry.js**

[code]

**test.txt**

[code]

Output:
[code]

Same for `asset/resource` and `asset/inline`

You don't need to use `default`, it is always `default` for ES modules and for commonjs.

[2021-03-16 12:21] alexander-akait commented on #12903
Yes, it is breaking change between `file-loader`/`url-loader`/`raw-loader` and `assets` modules, I don't think we really need to create a new option here, you can use `file-loader`/etc right now and start to migrate using `test`/`include`/`exclude` step by step

[2021-03-16 12:46] alexander-akait commented on #12759
I tested right now on windows, my program on `D:\`, my config
[code]

And all works fine.

Here problem what the `targetFile` should not be absolute. You output files relative to `output.path`, so using `targetFile` as absolute is not safe

[2021-03-16 13:24] alexander-akait commented on #11157
Check it on webpack the latest v5 (i.e. `5.26.0`)

I was wrong, all bugs are fixed, feel free to feedback, anyway if you faced with bugs again please open new issue(s)

[2021-03-16 13:24] #11157 closed

[2021-03-16 13:40] majioa commented on #11649
this solutio  isn't working

[2021-03-16 13:41] JonWallsten commented on #12759
Yeah, preferably one should not add assets with an absolute path. But we can't fix it with path.relative either since it doesn't work with two separate drives. So I guess we need to find where does assets are emitter and fake a valid path then?

[2021-03-16 13:46] jquense commented on #11074
it should be solved, I'm running into some issue with `matchResource` being `undefined` when it shouldn't be. Seems like at some point webpack creates a new NormalModule with the fully resolved request (which doesn't include the matchResource) I'm trying to figure out why that's happening and why the behavior is different than in your tests

[2021-03-16 13:58] alexander-akait commented on #11074
`matchResource` can be empty when it is not defined in `request`, so you need check `if (matchResource) { // You logic }`

[2021-03-16 14:00] alexander-akait commented on #12759
You **should not** pass absolute paths, it is unsafe, it is bad for cache, it is bad for compatibility.

Not related to webpack.

No. I don't think we should do it and it is unsafe, because you should not use `absolute` paths, there is no problems, please open an issue in plugin/loader there used absolute paths, it is wrong.

[2021-03-16 14:00] jquense commented on #11074
the problem is requests like `./button.module.css!=!my-loader!./Button.js?foo` are getting to `css-loader` with `matchResource` undefined, when it should be defined. trying to simplify the case to figure out why

[2021-03-16 14:02] alexander-akait commented on #11074
Yes, please provide simple example and I will look

[2021-03-16 14:06] JonWallsten commented on #12759
I meant in ts-loader. Since the issue is only apparent when using project references it might be the doing of TypeScript. So I guess we need to make sure that the paths are relative to the working directory so they can be joined with the output folder. I'll start digging. But your are fine with the fact that Webpack crashes without a relevant error message when you provide assets with an absolut p

[2021-03-16 14:16] alexander-akait commented on #12759
Let's wait answer from @sokra I send a simple fix and tested manually

[2021-03-16 16:17] JonWallsten commented on #12759
That's an interesting approach. It's weird that the assets will be written back in the source folder, but since that's the path emitted, it's correct. And it will not crash. Besides, when you see the compiled assets in your source folder you will definitely know something is wrong in your setup, which is good. Then the user can investigate why they emit absolute paths.

[2021-03-16 16:43] sokra commented on #11074
Why and where are you reading `matchResource`? You shouldn't not read that in a loader.

[2021-03-16 16:49] alexander-akait commented on #11074
@sokra Example:
[code]

in `css-loader` we have logic to apply CSS modules if the `resourcePath` option have `/\.module\./`, but in this case we can't detect it because `other.js` doesn't have `/\.modules\./`, we can't control file names because developers name them and it is bad for DX ask to set `modules: true` in `webpack.config.js`

[2021-03-16 16:49] sokra commented on #12900
hmmm... https://github.com/webpack/webpack.js.org/pull/4734/files

[2021-03-16 16:51] jquense commented on #11074
I think more of an issue than `modules: true`, without looking at matchResource you can't actually hash the class names correctly and get collisions

[2021-03-16 16:53] alexander-akait commented on #12900
@sokra Some configuration have a lot of rules, using `oneOf` will be difficult, also most of our configurations will use `oneOf` because it is very popular

[2021-03-16 16:58] sokra commented on #12900
btw. there is another way, which would work without touching any other part of the config:

[code]

[code]

This treats content of file.js as it was written in `file.txt`.

Not sure if this works with `require.context`, but you could try it with
`require.context("code.txt!=!./code", false, /\.js$/)`, but this might look a bit weird anyway.

Otherwise you could also go with:

[code]

and generate c

[2021-03-16 17:05] alexander-akait commented on #12900
@sokra I think we should try to avoid webpack specific syntax in code, it will be problem in future...

[2021-03-16 17:08] eps1lon commented on #12900
How would this look in require.context? Specifically:
[code]

[2021-03-16 17:11] sokra commented on #12900
Yeah that why I only mentioned the other solutions first.

But he is already using `require.context` as webpack-specific syntax and there is not official replacement for that and there probably won't be...

If you want a solution without any webpack magic you can go with:

1. Create a pre build script that collects all source code needed into a JSON file.
2. Import that JSON file during the build.

[2021-03-16 17:15] alexander-akait commented on #9769
Original problem solved, if you still have this problem or want to improve something, feel free to open an issue

[2021-03-16 17:15] #9769 closed

[2021-03-16 18:06] alialamine opened #12908 "Webpack bundle have inadvertedly commented code in the webpack bootstrap"
# Bug report

**What is the current behavior?**
Webpack is compiling and having the following code as the output. Notice that the `//runtime` comment is commenting out the `var __webpack_modules__` code and rendering all the below code invalid
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It should create a newline after th

[2021-03-16 18:50] hugoebarboza opened #12910 "Invalid configuration object"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

{
"name": "mf-demo",
"version": "0.0.0",
"scripts": {
"ng": "ng",
"start": "npm run start:shell",
"start:shell": "ng serve shell -o --

[2021-03-16 18:51] hugoebarboza opened #12911 "Invalid configuration object"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

{
"name": "mf-demo",
"version": "0.0.0",
"scripts": {
"ng": "ng",
"start": "npm run start:shell",
"start:shell": "ng serve shell -o --

[2021-03-16 18:54] hugoebarboza commented on #12911
webpack-5

[2021-03-16 19:54] #12908 closed

[2021-03-16 22:14] KENNYSOFT commented on #12899
So could I make a PR?

[2021-03-17 00:00] MarkKoester opened #12913 "Create type declarations for more interfaces"
Webpack's exported types are missing many that were previously provided by @types/webpack.

Examples include:
- ConfigurationFactory (extremely common)
- MultiConfigurationFactory
- Loader function signature

[2021-03-17 02:06] monic-shixi commented on #12904
No. If `esModule: true` in option:

- env
   - webpack@4.35.0
   - css-loader@5.0.1

[code]
So, i think it's because of webpack.

[2021-03-17 02:31] dopry commented on #12913
It would also be nice to export all defined interfaces such as CallbackFunction<T>, etc so they're easy to depend on in consuming code.

[2021-03-17 06:49] vladimir-tikhonov opened #12914 "__webpack_modules__[moduleId] is not a function with webpack >= 5.24.0"
# Bug report

**What is the current behavior?**

Starting from webpack@5.24.0 webpack generates bundles with a `__webpack_require__(null)` inside, leading to a runtime error.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here's the minimal example - https://github.com/vladimir-tikhonov/webpack-bug. It works without webpack and with webpack@5.23. There is a circular

[2021-03-17 08:57] adsazad commented on #4258
Tried everything on this page but nothing seems to work. It's a really big issue with webpack and also the only issue that is bugging a lot.

[2021-03-17 11:59] alexander-akait commented on #12904
No problems on webpack side, if you need help please open an issue in `css-loader` and provide simple reproducible test repo

[2021-03-17 12:02] alexander-akait commented on #12899
Yes, let's send a PR

[2021-03-17 12:03] alexander-akait commented on #12911
Duplicate https://github.com/webpack/webpack/issues/12910

[2021-03-17 12:03] #12911 closed

[2021-03-17 12:03] alexander-akait commented on #12910
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please respect time of other developers, won't fix

[2021-03-17 12:03] #12910 closed

[2021-03-17 12:10] alexander-akait commented on #12913
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use this https://github.com/webpack/webpack/issues/11630 issue to report about missing types and please respect time of other developers and use the issue template

[2021-03-17 12:10] #12913 closed

[2021-03-17 12:21] alexander-akait commented on #12914
You should not use `concatenateModules: true` and `new webpack.optimize.ModuleConcatenationPlugin()`, just only one, otherwise you will have two plugins and it is unsafe, it is limitation

[2021-03-17 12:21] #12914 closed

[2021-03-17 12:24] vladimir-tikhonov commented on #12914
@alexander-akait huh, my bad, for some reason I thought that those are related. Thanks for the help!

[2021-03-17 12:27] alexander-akait commented on #12914
In future you can look here https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js to check it, for the `concatenateModules` option our logic is  https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js#L376

[2021-03-17 12:28] monic-shixi commented on #12904
Ok, thanks for you response.

[2021-03-17 12:48] alexander-akait commented on #12193
In the latest release (i.e. `5.26.2`), it is `undefined`, fixed :smile:

[2021-03-17 12:48] #12193 closed

[2021-03-17 13:03] alexander-akait commented on #4121
`AggressiveSplittingPlugin` is deprecated in favor `SplitChunksPlugin` for webpack v5, I don't think we should fix this given that it will be removed in the future and deprecated now, please avoid using `AggressiveSplittingPlugin`, also I can't reproduce... Sorry for delay

[2021-03-17 13:03] #4121 closed

[2021-03-17 13:06] alexander-akait commented on #8096
Let's close in favor https://github.com/webpack-contrib/expose-loader/issues/25

[2021-03-17 13:06] #8096 closed

[2021-03-17 13:16] alexander-akait commented on #12619
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2021-03-17 13:16] #12619 closed

[2021-03-17 13:16] #12614 closed

[2021-03-17 13:24] alexander-akait commented on #12731
I recommend to avoid using `import file from './file.[ext]'` for non JS files, it is not supported by browsers or node, instead please use `new URL('./image.png', import.meta.url)`.

Yes, expression is not supported, if you still need `import`, please use `/* webpackIgnore: true */`

Don't think it is good idea... You can `import` files directly sand avoid this.

Feel free to feedback

[2021-03-17 13:24] #12731 closed

[2021-03-17 19:05] ferdinando-ferreira opened #12920 "New Asset Modules type: asset/null, to properly replace null-loader"
## Feature request
New asset module type: `asset/null`, to properly replace the now deprecated `null-loader`

**What is the expected behavior?**
[code]

To replace the use of the now deprecated `null-loader` in situations analogous to the following

[code]
That is: to tell webpack to ignore a module but, instead of based on a name, to ignore a module based on a rule.

**What is motivation or use c

[2021-03-17 19:51] AnthumChris opened #12921 "Upgrade elliptic@ dependency"
Would it be possible to upgrade the implicit dependency `elliptic` that `webpack` uses?  There's a security advisory for it:

https://www.npmjs.com/advisories/1648

[2021-03-17 19:55] MarkKoester commented on #11630
Are the ConfigurationFactory and MultiConfigurationFactory types in webpacks scope or is that something that would ideally be exported from webpack-cli? The comments in this PR #11964 make it seem like it would be webpack-cli's responsibility.

Types for reference (from @types/webpack):
[code]

[2021-03-17 20:01] AnthumChris commented on #12921
my mistake, latest `elliptic` is installed with latest webpack

[2021-03-17 20:01] #12921 closed

[2021-03-17 20:05] vitoyucepi commented on #11630
@MarkKoester it's difficult question for me because `webpack-cli` uses config options from `webpack` itself.
https://github.com/webpack/webpack-cli/blob/efde4c0f72e220bf31bc8ff28d82bec59f69dca7/packages/webpack-cli/lib/webpack-cli.js#L478

[2021-03-18 00:44] noppa opened #12924 "Async chunk loading breaks complex expressions in globalObject option"
# Bug report

**What is the current behavior?**

[code]
generates code
[code]
The ternary expression for `globalObject` isn't protected as an expression, but gets mixed with the surrounding code.
In case the condition is true (`typeof self !== 'undefined'`) and consequent path is taken, the result of this expression ends up being the equivalent of
[code]
which then throws in the next line
[code]

[2021-03-18 01:32] MichaelDurfey commented on #7300
I created a plugin to fix this for us and hold us over until webpack 5. Works fine after the webpack 5 upgrade, but this plugin did the job until then: https://github.com/michaeldurfey/fix-style-emits-webpack-plugin Just concats the empty js files onto the main entrypoint js.

[2021-03-18 01:44] jsg2021 opened #12925 "Compiled app doesn't start"
# Bug report

I've been trying to understand this all day. If I specify `runtimeChunk`, and (maybe?) it gets minified my app doesn't start. If I comment out `runtimeChunk` my app starts. The sources all look okay and are loading, but the entry point doesn't exec.

**What is the current behavior?**
Blank screen after build.

**If the current behavior is a bug, please provide the steps to reproduce.

[2021-03-18 05:35] EugeneJang commented on #959
never ending..

[2021-03-18 06:32] FezVrasta commented on #11543
Could somebody provide a complete example or link to some documentation please?

[2021-03-18 09:17] pazderka commented on #4276
yep, please at least update the docs If you dont plan to support it, It is still not working and took me a while to figure its actually bug

[2021-03-18 09:33] folex commented on #8531
@xtuc had you had any chance to work on this?

[2021-03-18 09:48] xtuc commented on #8531
BigInt/I64 has now shipped in all major browser. I think we could just remove the webpack limitation now

[2021-03-18 12:15] alexander-akait commented on #12925
Sorry, information is not enough to help you, maybe you forget to add something to your HTML file

[2021-03-18 12:38] alexander-akait commented on #12924
To be honestly using `()` is always good, because it is always protect your code, but yes we can fix it

[2021-03-18 12:49] vadimka123 commented on #12925
I has same problem on rebuild on watch mode or build when not have previous build
Problem started after upgrade to 5.26.0, in version 5.25.1 all working fine

[2021-03-18 12:50] alexander-akait commented on #12925
@vadimka123 Maybe you can create example?

[2021-03-18 13:14] vadimkuragkovskiy commented on #12925
hey Guys,

I'm using MacOS and also have similar issue. My teammates don't have it on linux.

So we upgraded our webpack to the version `"webpack": "5.26.3"` and the initial build is ok but the rebuild is broken.

Here is command
[code]

when I apply some changes to the file, my webpack does rebuild automatically and I'm getting blank screen without any errors in console.

How I fixed this issue t

[2021-03-18 13:18] alexander-akait commented on #12925
Please avoid posting configurations in posts, it is unreadable and very rare helps, thanks

[2021-03-18 13:27] candrews opened #12926 "CVE-2021-27290 due to using old version of `ssri`"
# Bug report

**What is the current behavior?**
[CVE-2021-27290](https://nvd.nist.gov/vuln/detail/CVE-2021-27290)

The fix is to bump `ssri` to `8.0.1`.

The dependency path to `ssri` is `webpack` > `terser-webpack-plugin` > `cacache` > `ssri`

I've reported this issue in `terser-webpack-plugin` at https://github.com/webpack-contrib/terser-webpack-plugin/issues/388

**If the current behavior is a

[2021-03-18 13:31] vadimkuragkovskiy commented on #12925
hey @alexander-akait could you please let me the desired way? I'll update my previous post to keep it looks good for the community

[2021-03-18 13:33] alexander-akait commented on #12926
Do not duplicate issues

[2021-03-18 13:33] #12926 closed

[2021-03-18 13:35] candrews commented on #12926
What issue is this one a duplicate of?

[2021-03-18 13:36] alexander-akait commented on #12926
https://github.com/webpack-contrib/terser-webpack-plugin/issues/388

[2021-03-18 13:36] alexander-akait commented on #12926
Don't know why you spam it in multiple repos and no one from these repos can fix it directly

[2021-03-18 13:37] alexander-akait commented on #12925
@vadimkuragkovskiy

Yep, just create small reproducible test repo in own account, it is easy to debug and search a problem(s)

[2021-03-18 13:43] candrews commented on #12926
I'm not spamming.

Each project has this problem and to fix it, each has to do something.

For example, `webpack` could fix it by overriding the `ssri` version. Or, it could fix it by updating to a later version of `terser-webpack-plugin` when (if?) it becomes available. But it has to do something in order to fix the problem - doing nothing won't fix the problem. And since action is required to fi

[2021-03-18 13:45] alexander-akait commented on #12926
No, you need read how package manager works

[2021-03-18 13:45] alexander-akait commented on #12926
Nothing to fix on CRA/webpack side

[2021-03-18 13:47] alexander-akait commented on #12926
`terser-webpack-plugin` v5 doesn't use `cacache`, so nothing to fix for webpack v5 too

[2021-03-18 14:35] jsg2021 commented on #12925
Yeah, i know. This is a project that's been fine for years. I'm still trying to figure out the minimum reproduction.

I think it has something to do with mixing mode: development and runtimeChunk... but i'm not 100% there.

I'll keep trying to find a min repro.

[2021-03-18 14:54] KENNYSOFT commented on #12899
Cool, let me study awhile for write js test code.

[2021-03-18 15:01] alexander-akait commented on #12920
`asset` modules for assets, there is no `null`, you can use to ignore any `require`/`import`, also it is unsafe and will be broken with CSS modules, because you lose all locals

[2021-03-18 15:01] #12920 closed

[2021-03-18 15:06] alexander-akait commented on #12920
For real assets, you can use `emit: false` https://github.com/webpack/webpack/pull/12871

[2021-03-18 15:08] alexander-akait commented on #12920
Also you can use `asset/inline` and `generator.dataUrl: () => 'data:,0'` also

[2021-03-18 15:24] guybedford opened #12928 ""imports" field support"
## Feature request

In addition to the `"exports"` field, Node.js also defines the [`"imports"` field](https://nodejs.org/dist/latest-v15.x/docs/api/packages.html#packages_imports) to permit private internal resolutions to simplify backtracking and local conditional resolution cases. As far as I can tell this field isn't yet supported in Webpack.

**What is the expected behavior?**

When writing a

[2021-03-18 15:27] alexander-akait commented on #12928
We already support it

[2021-03-18 15:27] alexander-akait commented on #12928
https://github.com/webpack/enhanced-resolve/blob/master/lib/ImportsFieldPlugin.js

[2021-03-18 15:49] ferdinando-ferreira commented on #12920
@alexander-akait : OK, that works for me, except `() => ''`. Thanks!

[2021-03-18 15:50] alexander-akait commented on #12920
@ferdinando-ferreira anyway, let's reopen original issue, I think we need this option

[2021-03-18 15:50] ferdinando-ferreira commented on #12920
Thanks! I can submit a PR for it if you guys want.

[2021-03-18 15:54] alexander-akait commented on #12920
Yep, let's do it

[2021-03-18 15:57] ferdinando-ferreira commented on #12920
@alexander-akait: when you say `original issue` you mean 12920, right?

[2021-03-18 15:59] alexander-akait commented on #12920
Mean this https://github.com/webpack-contrib/mini-css-extract-plugin/issues/713

[2021-03-18 16:01] ferdinando-ferreira commented on #12920
Right. The original PR had a technical issue. Should I redo it but on the loader side instead of on the plugin?

[2021-03-18 16:06] guybedford commented on #12928
I've posted a failing test here in https://github.com/webpack/webpack/pull/12929.

[2021-03-18 16:11] alexander-akait commented on #12920
Ideally we should not run plugin, just create locals and return them

[2021-03-19 02:24] olee commented on #12814
Sorry for the wait.
What exactly would you need from me?

[2021-03-19 07:31] zhangchao828 opened #12934 "Cannot read property 'updateHash' of undefined"
# Bug report

**What is the current behavior?**
Cannot read property 'updateHash' of undefined with experiments.lazyCompilation=true

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
experiments.lazyCompilation work well

**Other relevant information:**
webpack version:  5.26.3
Node.js version: 14.15.0
Operating System: window
Additio

[2021-03-19 08:56] #12928 closed

[2021-03-19 08:59] sokra commented on #12934
Looks like a bug. Could you provide further information?

[2021-03-19 09:04] sokra commented on #12899
Is using env vars the best idea for that?

What do you think about using config options for that `infrastructureLogging.colors: false/true` and `infrastructureLogging.appendOnly: false/true`?

[2021-03-19 10:00] SUH11 commented on #12165
Me too. So how to solve this problem?

[2021-03-19 11:43] alexander-akait commented on #12165
Looks you forget to include runtime chink in your HTML files, if you provide example I will help

[2021-03-19 11:46] alexander-akait commented on #12934
@zhangchao828 Never ignore `If the current behavior is a bug, please provide the steps to reproduce.`, otherwise issue will be closed

[2021-03-19 11:57] alexander-akait commented on #12814
@olee Can you create simple example? I can't find here problems on webpack side, only broken source maps in `serializr` due lack of source

[2021-03-19 12:10] zhangchao828 commented on #12934
I'll give you an example later

[2021-03-19 12:25] simmi08 commented on #12165
Hi ! This is the template project, for which I am getting the error -  https://github.com/simmi08/Microfrontends

[2021-03-19 13:40] zhangchao828 commented on #12934
[https://github.com/zhangchao828/webpack-demo](url)
@sokra @alexander-akait
1. clone the repository
2. install dependencies
3. yarn start
4. click link in the browser
5. then you'll see the error: Cannot read property 'updateHash' of undefined

[2021-03-19 14:17] KENNYSOFT commented on #12899
Ooh that's cool also.

[2021-03-19 14:30] alexander-akait commented on #12934
@zhangchao828 Thanks

[2021-03-19 15:03] sunpietro commented on #10220
anyone can explain it, please?

[2021-03-19 15:50] hugoebarboza commented on #12165
Hi, if you are using Angular, try to follow this tutorial and use only yarn....https://github.com/angular-architects/module-federation-plugin/blob/main/packages/mf/tutorial/tutorial.md

[2021-03-19 16:01] simmi08 commented on #12165
I am following the same and had tried with yarn as well. But same error shows up with yarn also. The problem is  @angular-devkit/build-angular@0.1102.3 dependency on webpack 4.44.2, while for Module Federation plugin it requires webpack 5 or above.

[2021-03-19 16:14] hugoebarboza commented on #12165
Hi @simmi08, I solved the issue following the tutorial I had sent you....doing it from scratch using only yarn / NOT NPM.....4 minutes ago my app worked well.

Package
{
  "name": "mf-demo",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "npm run start:shell",
    "start:shell": "ng serve shell  -o --port 5000",
    "start:mfe1": "ng serve mfe1 -o --port 3000",
    "start:all":

[2021-03-20 00:13] EECOLOR opened #12940 "Regression: rule not accepted anymore by schema in v5"
# Bug report

**What is the current behavior?**

Rule in the `module` section is not accepted anymore by the the schema. The error is:

`configuration.module.rules[0].oneOf[6].resource.or[0] has an unknown property 'exclude'. These properties are valid:
   object { and?, not?, or? }`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behav

[2021-03-20 02:59] simmi08 commented on #12165
Hi ! Thanks, I copy-pasted this, it's working. But, still this warning is shown on doing yarn-
warning "@angular-devkit/build-angular > @ngtools/webpack@11.2.5" has incorrect peer dependency "webpack@^4.0.0".
warning "@angular-devkit/build-angular > @angular-devkit/build-webpack@0.1102.5" has incorrect peer dependency "webpack@^4.6.0".
warning "@angular-devkit/build-angular > webpack-dev-middlewar

[2021-03-20 09:23] EECOLOR commented on #12940
If I change the rule to this:

[code]

I get this error:

[code]
---
And if I change it to this:

[code]

I get this error:

[code]

And that one feels kinda weird considering the following comments in the documentation:

[2021-03-20 10:06] EECOLOR commented on #12795
It might be a good idea to change the documentation to reflect this: https://webpack.js.org/api/plugins/#custom-hooks

[2021-03-20 11:34] KENNYSOFT commented on #12899
BTW if we use something like `infrastructureLogging.colors` we should also provide `force` value to address this issue.

[2021-03-21 09:26] primozs commented on #12855
Upgrading from "webpack": "^5.22.0", to "webpack": "^5.23.0" and all versions above I get
[code]
not using anything "special"
<img width="1669" alt="Screenshot 2021-03-21 at 10 25 57" src="https://user-images.githubusercontent.com/1006789/111899929-eb420300-8a2f-11eb-865f-9a76673a3682.png">

[2021-03-21 14:04] primozs commented on #12855
my issue was resolved for version 5.23.0 and all above that by removing
new webpack.optimize.ModuleConcatenationPlugin(),
https://webpack.js.org/plugins/module-concatenation-plugin/

[2021-03-21 15:03] apostolos opened #12941 "Regression: Lazy compilation broken after v5.26.0"
# Bug report

**What is the current behavior?**

When enabling lazy compilation webpack crashes when it first tries to compile a lazy import.

[code]

The client side error returned is:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Enable lazy compilation in latest webpack version and do a dynamic module `import()`

**What is the expected behavior?**

Webpa

[2021-03-21 23:41] itsjoesullivan opened #12942 "Undetermined shared module version in federated module for specific dependency"
# Bug report

**What is the current behavior?**

When using the @apollo/client dependency in a webpack build in which react is a module that is shared through the federated modules plugin, the version of react that @apollo/client requires is not determined, resulting in the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Install basic-host

[2021-03-22 00:39] chenxsan commented on #12941
Seems I can reproduce it with webpack 5.26.3, here's how:

1. clone `https://github.com/webpack/webpack.js.org`
2. run `yarn` to install
3. run `yarn start` to start the dev server
4. now open `localhost:3000` in browser and wait
5. we'll soon see this error under terminal:

[code]

[2021-03-22 05:33] sokra commented on #12940
There is no test within resource. You can only use `and`, `or` and `not` since webpack 5.

[2021-03-22 06:48] EECOLOR commented on #12940
From the documentation:

There is also no `Condition.test` I think

---

Just to understand the new structure better, is this:

[code]

The same as?

[code]

[2021-03-22 06:56] EECOLOR commented on #12940
Maybe resource is an `and` by it self, and it could be simplified to:

[code]

[2021-03-22 08:17] flyyang commented on #10036
It would be nice if officially support this feature.

[2021-03-22 08:36] vadimka123 commented on #12925
Working fine in version 5.27.1
Can be closed

[2021-03-22 08:41] ckken opened #12943 "publicPath=auto default to publicPath=/"
when use mini-css-extract-plugin
/asset/body.css
[code]

we want change `publicPath=auto` the `publicPath` default to `/`

+ webpack-5
+ bug

[2021-03-22 08:53] maxlk commented on #5543
Still happens (aka @webpack-bot don't close it)

[2021-03-22 09:28] EECOLOR commented on #12940
I don't think time should be spend on this issue. I naively thought I could quickly switch to v5, but after reading some of the motivation I realized this is not going to be that kind of upgrade.

We will re-evaluatate our configuration and plugins, quite a few things have become obsolete by new features in v5. It is gonna be quite some work to get things implemented a backwards compatible fashion

[2021-03-22 09:28] #12940 closed

[2021-03-22 11:52] alexander-akait commented on #12943
You can do it, just change it, we have option for this

[2021-03-22 11:52] #12943 closed

[2021-03-22 11:54] jdelStrother opened #12947 "SourceMapDevTool plugin leaks memory in watch mode"
# Bug report

**What is the current behavior?**

If I use `devtool:"cheap-module-source-map"`, assets with `[contenthash]` filenames, and webpack in watch mode, it appears to store sourcemaps in webpack's in-memory cache with identifiers including a hash key. On a large app these source maps can be pretty big and eventually cause webpack to run out of memory.

I added a logpoint to webpack's Cache

[2021-03-22 11:59] sokra commented on #12947
Best avoid using contenthashes during development. This does have similar problems in other places, e. g. it writes a lot files into the filesystem (on disk or in memory).

[2021-03-22 12:00] sokra commented on #12925
@jsg2021 Could you try 5.27.1?

[2021-03-22 12:03] alexander-akait commented on #12795
@EECOLOR Yep, can you open an issue?

[2021-03-22 12:05] alexander-akait commented on #12899
@KENNYSOFT Byt with this option, you can do it in `webpack.config.js`

[2021-03-22 12:07] alexander-akait commented on #12947
You can use `output.clean` to remove them

[2021-03-22 13:04] #12941 closed

[2021-03-22 13:32] KENNYSOFT commented on #12899
@alexander-akait Do you mean it's already implemented? I cannot find :(

[2021-03-22 13:34] alexander-akait commented on #12899
@KENNYSOFT No, it is not implemented

Why you need force here?

[2021-03-22 13:39] KENNYSOFT commented on #12899
Ah, may not. I've seen some programs ignore color flags even manually set when using in non-TTY environment. So if I implement without ignoring when TTY then it's not needed.

[2021-03-22 13:44] alexander-akait commented on #12899
We can provide option to disable/enable colors for `infrastructureLogging` and you can implement any logic on own side

[2021-03-22 13:53] KENNYSOFT commented on #12899
Yup it's great. So someone will want:

[code]

just like now, or I will want:

[code]

to force set colors everywhere!

[2021-03-22 14:51] vovkvlad opened #12949 "`output.clean : true` is not working with dev server"
# Bug report

**What is the current behavior?**

`output.clean: true` is not working with webpack dev server, when building for the first time, or when project is rebuilding due to sources change.

## Description
I was trying to configure webpack to clean the dis folder for one of my projects, and decided to use brand new [output.clean configuration](https://webpack.js.org/configuration/output/#ou

[2021-03-22 15:13] alexander-akait commented on #12934
Fixed in `5.27.2`, please update

[2021-03-22 15:13] #12934 closed

[2021-03-22 15:27] jsg2021 commented on #12925
I will give it a try today

[2021-03-22 16:01] alexander-akait commented on #12949
Yes, limitation, because we use `fs` module when it is `true` to write files

[2021-03-22 16:26] alexander-akait commented on #12949
@webpack-bot move to webpack/webpack-dev-middleware

[2021-03-22 16:26] #12949 closed

[2021-03-22 16:31] alexander-akait commented on #12733
Fixed https://github.com/webpack/webpack/pull/12832

[2021-03-22 16:31] #12733 closed

[2021-03-22 16:38] ilgonmic opened #12951 "Incorrect source URL in source maps when sources not under context hierarchy"
# Bug report

**What is the current behavior?**
There is project layout
|- js
|-- packages
|--- lib
|---- `package.json`
|---- `webpack.config.js`
|---- compiled
|----- `my.js`
|----- `my.js.map`
|- lib
|-- `My.kt`

Imagine that `my.js` was produced from `My.kt` and `my.js.map` is appropriate source map, `sources` field in source map is something like `["../../../../lib/My.kt"]`.
NPM project (`pac

[2021-03-22 18:56] EECOLOR commented on #1122
@alexander-akait Could you give a bit more detail on how it is solved?

[2021-03-23 00:19] taylorthurlow commented on #12748
FWIW I am also having this no-exit-after-success problem, haven't pinned it down yet.

[2021-03-23 01:11] jtbandes opened #12960 "Optional chain is incorrectly removed when used on import"
# Bug report

**What is the current behavior?**

Webpack incorrectly compiles `x?.value` to `(something).value` when `x` is something that's been imported.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js:
[code]
index.js:
[code]
x.js:
[code]

Produces dist/main.js:
[code]
which leads to `TypeError: Cannot read property 'value' of undefined` at runti

[2021-03-23 03:41] ycjcl868 opened #12961 "Need output.crossOriginLoading more refinement"
## Feature request

I only want the `<link>` tags to add `crossorigin` attribute in dynamic loading, not `<script>`, but after looking at the source code, I didn't find a solution for my needs.

When turning on the `output.crossOriginLoading`, all dynamic asset chunks will be added `crossorigin` attribute.

https://github.com/webpack/webpack/blob/1c044bc75be02fcfe78eb6a291f2d107f8ac58eb/lib/runtim

[2021-03-23 05:16] luvsta commented on #12638
script tag must be support ESM.

[2021-03-23 06:56] #12884 closed

[2021-03-23 07:25] Soombra opened #12962 "Support AMD when loading splitChunks"
## Feature request

**What is the expected behavior?**
Webpack use JsonP to load other chunks. wondering whether we can load chunks by requireJs?

**What is motivation or use case for adding/changing the behavior?**
in my case, i want to share common chunks among different compilations, and assets from different compilations maybe used in the same page. since we use JsonP to load chunks, the outpu

[2021-03-23 09:43] tgelu commented on #11240
But that other issue seems to describe a different broken behaviour, not related to HMR.

[2021-03-23 09:57] rjgotten commented on #1122
The cheeky answer is probably: module federation. If you have module chunks that should be shared across build configurations, that's definitely one way of doing it.

[2021-03-23 11:13] alexander-akait commented on #12962
Duplicate https://github.com/webpack/webpack/issues/5489

[2021-03-23 11:13] #12962 closed

[2021-03-23 11:25] alexander-akait commented on #12961
What is use case?

[2021-03-23 11:26] chenxsan opened #12964 "Cannot read property 'call' of undefined"
# Bug report

**What is the current behavior?**

There's an issue report https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/328 on `react-refresh-webpack-plugin`, and I happened to encounter it as well.

At fist glance it seems to be a bug over there, however, it might be a bug in webpack after I debug with a breakpoint.

![image](https://user-images.githubusercontent.com/1091472/112138

[2021-03-23 12:07] Soombra commented on #5489
Is there any progress ？

[2021-03-23 12:36] sokra commented on #12964
That's a webpack bug

[2021-03-23 16:29] sokra commented on #12964
It's a problem when new split chunks where introduced. These would need to be downloaded. It's a bit tricky to decide which one are relevant. I need to think about that a bit.

[2021-03-23 17:30] rdicroce opened #12966 "terser-webpack-plugin not importable with Yarn 2 + strict pnpMode"
# Bug report

The docs for terser-webpack-plugin state: `If you are using webpack v5 or above you do not need to install this plugin. Webpack v5 comes with the latest terser-webpack-plugin out of the box.` This is not quite true if you are using Yarn 2 with pnpMode = strict, and you want to provide a custom terser configuration.

**What is the current behavior?**

Adding `require('terser-webpack-p

[2021-03-23 17:34] alexander-akait commented on #12966
When you add `require('terser-webpack-plugin')` in your code **you need to install package manually**

It is impossible, please read how package managers works

[2021-03-23 17:34] #12966 closed

[2021-03-23 17:42] rdicroce commented on #12966
It is very much possible. In fact, it was the default behavior in Yarn 1. And it can be accomplished in Yarn 2, as explained by the docs I linked to.