[2021-06-06 07:50] SkReD commented on #12102
Ok, i see. So in CI without cahce persistence setup webpack 4 will be as slow as webpack 5. Thank you for clarification.

There seems to be remaining question with local builds where caching only terser artifacts were totaly fine and not required complex cache invalidation setup. Is it possible to somehow return `terser-webpack-plugin@4` behaviour in terms of filesystem cache without setup whole b

[2021-06-06 10:48] myNameIsDu commented on #13461
If you change the function to a let declaration and run it in a browser, it will also report an error

[2021-06-06 19:00] popmanhe commented on #5658
I have the same issue.

[info] - 2021-06-06T18:58:30.201Z | HTTP GET /**adminmain**.d9f55c450d9a1b1833d5.hot-update.json

I belive the url should be /admin/main.d9f55c450d9a1b1833d5.hot-update.json

And I can see main.d9f55c450d9a1b1833d5.hot-update.json in the folder.

Any idea how to add slash to the url?

Thanks.

[2021-06-06 21:24] danielgindi commented on #13495
@alexander-akait here's a sample: https://github.com/danielgindi/webpack-bug-sample
1. `git clone https://github.com/danielgindi/webpack-bug-sample && cd webpack-bug-sample && npm start`
2. `http://localhost:8080/`
3. F12 -> Sources tab
4. Look for `webpack-bug-sample/./app/sample.js`
5. Look for `webpack-bug-sample/app/other.vue`
6. Look for `webpack-bug-sample/./app/other.vue?artifacts`

In full

[2021-06-07 05:06] RA80533 commented on #12102
Beautiful. Thank you for posting your solution.

[2021-06-07 06:06] sokra commented on #13461
@ilgonmic that's a known limitation on how we are wrapping modules in functions.
In some cases with
* Circular dependencies
* Reexports
* Exporting hoised bindings like function declarations
you will see some exports being undefined during the circular evaluation

In production mode scope hoisting will get rid of most wrapping so that won't happen here.

I think it also won't happen for side effec

[2021-06-07 10:23] alexander-akait commented on #12102
No, the current cache API is more flexible and faster and stable. What is the problem with `filesystem` cache? Yep, you can't use cache between different CI builds, but if you don't have different filesystem paths you can have one cache on build, it is even better for testing.

[2021-06-07 10:34] #13523 closed

[2021-06-07 10:42] alexander-akait commented on #13127
@nigel-codaio The problem still exists?

[2021-06-07 10:46] SkReD commented on #12102
You need to setup invalidation rules correctly (accroding to this doc https://github.com/webpack/changelog-v5/blob/master/guides/persistent-caching.md#opt-in) and if you developing generic build tool which is using webpack than it is kind a hard, not impossible but error prone. For example end user can change passed webpack config, use additional external dependency and not provide entry for [buil

[2021-06-07 10:54] alexander-akait commented on #12102
@SkReD almost all plugins and loader do it (except some of incompatibility non official old plugins, but you can report them about it). Also just put custom config in `buildDependencies` like we do in `webpack-cli` https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L1843 (all `require`/`import` will be parsed and added too, nested too). Other custom variable

[2021-06-07 11:43] alexander-akait commented on #13495
And no problem here:
- app/other.vue is source of file
- ./app/other.vue is transpiled file from vue to js

If they have the same name, you will lose some of the information.

[2021-06-07 11:54] StreetStrider commented on #12102
@alexander-akait we have pretty big application in which I've measured memory consumption.
In the same conditions it takes ~6.1Gb on webpack4, ~7.3Gb on webpack5.
If I use filesystem cache memory consumption grows enormally, like ~9.9Gb on cold boot, and then, when using hot cache it might take up to 13Gb memory. So, 16Gb PC becomes unresponsive for a time, because of the swap disk consumption + w

[2021-06-07 12:03] alexander-akait commented on #12102
@StreetStrider it is non normal size of cache and memory usage, I think you have memory leak(s) somewhere, can you provide more information?

[2021-06-07 12:10] StreetStrider commented on #12102
@alexander-akait I can try, how would you recommend to do it?

[2021-06-07 12:14] alexander-akait commented on #12102
Ideally provide repo, if you can't do it, you can provide example of usage where memory grow up (you can generate example of modules), also you can profile https://github.com/webpack/webpack/issues/12102#issuecomment-738038218, or as minimum provide `webpack.config.js` (it allows to look on loader/plugins set).

[2021-06-07 12:16] dennemark commented on #13504
Thanks a lot for looking into this issue in such great length! The yarn dependencies solution might be the best option! I will have a look at it and let you know, how it worked out!

[2021-06-07 12:23] StreetStrider commented on #12102
@alexander-akait I will, but it will take some time. I already prepped some config which is similar to our real setup. I can't share real setup because of the inner complexities, it is not a single config and there're many moving parts.

Can you first check my setup from here https://github.com/webpack/webpack/issues/12102#issuecomment-852126557 and look what your timing differences between w4 and

[2021-06-07 12:50] alexander-akait commented on #12102
@StreetStrider

Here the same problem as I described above https://github.com/webpack/webpack/issues/12102#issuecomment-855237846, you need enable `filesystem` cache, but you have broken runner, you need run `compiler.close` in webpack v5:
[code]

stat for 4 [
  4143, 4108, 4099, 4090,
  4028, 4086, 4011, 4137,
  4105, 4154, 4287, 4032,
  4192, 4118, 4301, 4052
]
mean   4121.438ms
stddev 83.009ms

[2021-06-07 13:03] StreetStrider commented on #12102
Oh, wow. Okay, I will retry with the fix. I was consulting [this doc](https://webpack.js.org/api/node/), but I think this was before the documentation was updated, because it was just single callback api then, without finalization. Thank you for help.

I will consider mini-css update as well.

[2021-06-07 15:22] nevcos opened #13530 "webpack serve compiling twice with a specific dependency package.json"
# Bug report

**What is the current behavior?**

Webpack is compiling the project twice, when running in serve mode, if the project imports a library with the following `package.json` `main` config:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Open https://stackblitz.com/edit/webpack-double-compilation
2. Run `npm start`
3. Notice that compilation is run

[2021-06-07 15:22] nevcos opened #13618 "webpack serve compiling twice with a specific dependency package.json"
# Bug report

**What is the current behavior?**

Webpack is compiling the project twice, when running in serve mode, if the project imports a library with the following `package.json` `main` config:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Open https://stackblitz.com/edit/webpack-double-compilation
2. Run `npm start`
3. Notice that compilation is run

[2021-06-07 15:29] danielgindi commented on #13495
Nope, you are missing the problem. The transpiled pieces are suffixed with a hash, using the fallback template.
In any case, the sourcemaps are meant to show the *sources*.
So if you look for the sources for the vue file, and for the source of the js file- you'll see them in a different folder although they are physically in the same folder.
If you'll uncomment the template functions in the `webpa

[2021-06-07 15:30] testacode opened #13531 "configuration has an unknown property 'writeToDisk'. These properties are valid"
# Bug report

**What is the current behavior?**
"dev" build exits with status 2.

**If the current behavior is a bug, please provide the steps to reproduce.**
It happens when executing `webpack serve --progress --profile --config webpack.dev.js`

### Webpack config
[code]
### Webpack dev config
[code]

**What is the expected behavior?**
The build should finish without errors, this property is supp

[2021-06-07 15:36] alexander-akait commented on #13531
No problems with webpack, please read the error message again, `writeToDisk` should be in `devServer` option for webpack-dev-server v3 and `devServer.devMiddleware.writeToDisk` for v4 (current beta)

[2021-06-07 15:36] #13531 closed

[2021-06-07 15:36] alexander-akait commented on #13531
i.e.
[code]

[2021-06-07 15:49] alexander-akait commented on #13495
oh, I see, feel free to send PR, honestly I would call it more an improvement than a bug

[2021-06-07 15:56] testacode commented on #13531
Thanks for the reply, this is also happening with `disableHostCheck`.

[2021-06-07 15:58] alexander-akait commented on #13531
Please read CHANGELOG before when you migrate on beta, there are a lot of changes, also the error message contains allowed options, in your can use need to set `firewall: false`

[2021-06-07 15:59] #13491 closed

[2021-06-07 16:04] sokra commented on #13495
That really shouldn't be this way.

All files should be prefixed with `./` (or `../` if they are outside the project directory). The names used here usually are the names webpack also displays in stats.

[2021-06-07 16:47] danielgindi commented on #13495
Why `./`? `./` is redundant, and also apparently 3rd party plugins (aka vue-loader...) do cleanup the paths...

[2021-06-07 16:53] alexander-akait commented on #13495
@danielgindi it means vue-loader has bug here, because `namespace` is like `root`, you can set `namespace` to empty string, it is not part of path as I am saying before

[2021-06-07 17:00] danielgindi commented on #13495
I think you are wrong. The `./` is still redundant. Even in root. Look at any other path systems. Whether windows, linux, unix, or devtools sourcemaps. Only webpack generates those `./`. That's just a drawback of using a fixed template without any normalization.

I'll create a simple PR to fix that.

[2021-06-07 17:11] alexander-akait commented on #13495
Note - css-loader and some other loaders and plugins also use `./` always, note `file.ext` and `./file.ext` is different URLs, you can have `sourceRoot: /path/to/static/assets`, so when you have `file.ext`, you will get `/path/to/static/assetsfile.ext`, but with `./file.ext` you will get `/path/to/static/assets./file.ext`, we cannot know how it server will worj with trailing urls (i.e. ending with

[2021-06-07 18:34] sokra commented on #13495
sourceRoot and source is concatenated with a `/` when sourceRoot doesn't end with `/`.

[2021-06-07 18:35] sokra commented on #13495
We use `./` to indicate that these paths are relative to your project and that's not absolute paths.

[2021-06-07 18:44] danielgindi commented on #13495
Still not convinced. The `[namespace]` is the project's root. Everything is relative to that.
Anything below that - will have `../../` etc. in it.

[2021-06-07 18:44] markjm opened #13532 "Error.captureStackTrace is slow"
# Bug report

Related to #7378

**What is the current behavior?**
As discussed in #7378, TS type-only import/exports cause a large number of HarmonyLinking/WebpackError. In a sufficiently large project like ours, there are thousands of these errors. While the warnings existing don't cause much issue (since we just use `ignoreWarnings` regex to block them out), I noticed some interesting perf issue

[2021-06-07 21:46] SevlaMare opened #13534 "Asset Modules with source mode to load SVG, result as string instead of element"
# Bug report

**What is the current behavior?**
SVG is loaded embed as string into HTML instead of a SVG element, so is not render, using the new Asset Modules.

**If the current behavior is a bug, please provide the steps to reproduce.**
drop this config into your webpack.config.js:
[code]
import a SVG into your React component, and insert it:

[code]

now after build, it will be as a string in y

[2021-06-07 22:49] xobotyi opened #13535 "HMR does not work with `target: ['web', 'es5']`"
# Bug report

**What is the current behavior?**
Browser's console stucks on `[HMR] Waiting for update signal from WDS...` stage and do not go on.

**If the current behavior is a bug, please provide the steps to reproduce.**
Set the config's `target` field to `['web', 'es5']`

**What is the expected behavior?**
Should work with `es5` target as it works with default `web` target.

**Other relevant i

[2021-06-08 03:29] Jules-Bertholet opened #13537 "Allow adding additional watch paths"
## Feature request

**What is the expected behavior?**
Currently, there is no way to tell Webpack to watch additional paths for changes when using `watch`.  It would be nice if this was possible.

**What is motivation or use case for adding/changing the behavior?**
In one of my projects I use `BannerPlugin` to add some text to the top of my Webpack bundle. This text is stored in a separate file; i

[2021-06-08 10:02] dgaenko commented on #11887
I test it on
    "webpack": "^5.38.1",
    "webpack-cli": "^4.7.0",
    "webpack-dev-server": "4.0.0-beta.x" (0-3)
it's not works :(

[2021-06-08 14:02] alexander-akait commented on #13537
What about if `my_text_file` have other `import`/`require` or something else?

[2021-06-08 14:09] alexander-akait commented on #13495
you can set `namespace` to `''` (empty string) and if you change `./` on nothing you will get absolute paths

ok then if there is no difference and both are valid we prefer to use `./` and it is our default behaviour

[2021-06-08 14:12] alexander-akait commented on #13534
You should fix it in your app, sorry won't fix, there is no HTML in JS, only strings

[2021-06-08 14:12] #13534 closed

[2021-06-08 14:52] danielgindi commented on #13495
So I understand that you want to preserve this weird behaviour- that's fine, thank you. I do have a local workaround.

[2021-06-08 14:52] #13495 closed

[2021-06-09 08:29] srigar opened #13541 "webpackPrefetch failed with webpack version >= 5.25.0"
# Bug report

**What is the current behavior?**
Server should get start without any error with **webpackPrefetch** in dynamic import. But it is failed to start if the webpack version is >= 5.25.0 and it is working fine if webpack version <= 5.24.0.

Got below error while starting server
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Issue is because of adding

[2021-06-09 09:08] politsin opened #13542 "webpack 5 / devServer.socket miss"
The task is to listen with webpack dev-server  normal unix-socket (not a port)

There is no  `devServer.socket` parameter in webpack 5 and there is no mention of it anywhere and no way to work around

## webpack `4` parametrs list
https://v4.webpack.js.org/configuration/dev-server/#devserversocket
[code]

## webpack `5` parametrs list
https://webpack.js.org/configuration/dev-server/#devserversockh

[2021-06-09 09:15] #13542 closed

[2021-06-09 09:45] dennemark commented on #13504
The solution via dependencies seems to work! I tried it with yarn within a yarn workspace environment and I did not experience any issues yet. So I see this issue as resolved.
Thanks a lot again @alexander-akait , your explanation was very helpful!

[2021-06-09 09:45] #13504 closed

[2021-06-09 10:18] akgupta0777 commented on #13541
Not reproducible with webpack version 5.38.1.
Please give us more info.
Also show us webpack config

[2021-06-09 11:12] alexander-akait commented on #13541
Duplicate https://github.com/webpack/webpack/issues/12993, feel free to feedback or provide example how we can reproducible if it is no duplicate

[2021-06-09 11:12] #13541 closed

[2021-06-09 11:31] xccjk opened #13543 "You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders"
version:

macos: 10.15.7
node: v14.17.0
npm: 6.14.13

[code]

# Bug report

[code]

webpack.production.config.js

[code]

./src/index.js

[code]

**What is the current behavior?**

However, when I package and build in the local environment and the official environment, it can run normally without any error message. I don't know if this error is related to webppack. So I am very confused

**If the

[2021-06-09 11:33] xccjk commented on #13543
Sorry, forgot to provide babel configuration information

.babelrc

[code]

[2021-06-09 11:39] #13543 closed

[2021-06-09 12:44] llooz opened #13545 "jsonp chunk loading doesn't work on legacy platforms (Function.prototype.bind)"
**Do you want to request a *feature* or report a *bug*?**

bug / feature

**What is the current behavior?**

Jsonp chunk loading uses `Function.prototype.bind` and on old platforms where it's not available there is no way to use a polyfill.
https://github.com/webpack/webpack/blob/ff1b314d30fbf996dc0acf37b7b789eab8ca33e1/lib/web/JsonpChunkLoadingRuntimeModule.js#L419
Using the `entries` like this i

[2021-06-09 12:49] alexander-akait commented on #13545
Sorry webpack dones't polyfill old browser itself, you need do it in own application side, because you want to use polyfill runtime you need manually add polyfill before running webpack generated code, sorry we can't it here.

Also you can create own plugin for this, example https://github.com/gregberge/loadable-components/issues/636#issuecomment-742646656

[2021-06-09 12:49] #13545 closed

[2021-06-10 01:52] biggywk opened #13547 "Prop `className` did not match"
Webpack 5 causes className of client-side didn't match with server-side and UI go wrong when refreshing the page.
UI won't go wrong when using Webpack 4.

  "dependencies": {
    "@material-ui/core": "^4.11.4",
    "@material-ui/icons": "^4.11.2",
    "@material-ui/lab": "*",
    "next": "^10.0.7",
    "react": "^17.0.1",
    "react-dom": "^17.0.1",
    "swr": "^0.3.11"
  },
  "devDependencies": {

[2021-06-10 04:11] ScriptedAlchemy commented on #11811
This was too complex to implement last we tried.

[2021-06-10 05:22] hkjpotato commented on #8826
@dvcrn can you share how you add "externals" in create-react-app? It seems no easy way to modify the webpack configs.

[2021-06-10 05:31] dvcrn commented on #8826
@hkjpotato I'm not at my machine right now so I can't check the full code but we're using craco to override webpack configuration. Something like this in craco config (copied from a different github issue):

[code]

[2021-06-10 08:15] Akazm opened #13549 "WebpackModuleFederation is verbose and documented poorly"
I'm currently working on several features demanding abilities like Module Federation should provide. I do need to use the dynamic module federation features specifically. I've encountered several barriers I haven't been able to overcome for several days now, so I decided to fill in a 'complain', hinting at some issues I discovered with provided examples.

Since I don't know how Module Federation w

[2021-06-10 08:58] andersk opened #13550 "Webpack 5 uses dramatically more memory than Webpack 4"
# Bug report

**What is the current behavior?**

We’ve been unable to migrate Zulip from webpack 4 to webpack 5 due to an enormous memory usage regression. Memory usage is important to us because many of our users are on VMs with just 2 GB RAM.

In an effort to debug this with as few variables and moving parts as possible, I deleted everything except our JavaScript and an extremely minimal nucleus

[2021-06-10 11:12] akgupta0777 commented on #12393
can you tell me what will happen if multiple webpages are prefetching the same resources ?. I mean they will be cached and when requesting on other pages will instantly serve the resource.

[2021-06-10 11:57] Allain55 commented on #12393
Yes, the resources should be cached. But they should be cached regardless of prefetching.
I used prefetch to speed up the initial render of a big resource that is not needed right away.

[2021-06-10 12:12] akgupta0777 commented on #12393
@Allain55 I mean that if for instance the pageA prefetches the chunk already and when user moved to pageB then another network call is made or not to prefetch the chunk again. Does this impacts performance ?

[2021-06-10 12:24] alexander-akait commented on #13547
Not related to wetback, sorry, please ask this in `next` repo

[2021-06-10 12:24] #13547 closed

[2021-06-10 12:35] Allain55 commented on #12393
Prefetching happens in the background with low priority so I don't think it has any noticeable performance impact. Still another network call will be made

[2021-06-10 14:33] bastimeyer opened #13552 "Loading assets via a loader's `this.loadModule()` doesn't emit asset files"
# Bug report

**What is the current behavior?**
When calling `this.loadModule( "some-path", callback )` from a loader while `some-path` is defined as an asset in the module rules (eg. `type: "asset/source"`), webpack won't emit `some-path` as an asset.

**If the current behavior is a bug, please provide the steps to reproduce.**
See my simple reproduction repo here: https://github.com/bastimeyer/w

[2021-06-10 14:52] alexander-akait commented on #13552
You need specif syntax here in this case: ``${this.resourcePath}.webpack[asset/source]!=!${request}`,`

[2021-06-10 16:18] dmnsgn commented on #13372
Does that also mean that any added `buildDependencies` from a in-memory outputFileSystem (eg. `memfs`) will not be cache invalidated?

I have got a webpack config with:
- an entry point that is in memfs (`compiler.outputFileSystem = memoryFs`)
[code]
- `cache: {  type: 'filesystem' },`
- `webpack-dev-server` and `webpack-dev-middleware`
[code]

When I manually regenerate the "index.js" and writeFi

[2021-06-10 16:26] bastimeyer commented on #13552
The point is that this was working correctly on webpack4 while using the `file-loader` (or any other loader/combination), and nothing in the migration guide, changelog or documentation is describing this breaking change.

I am not sure what you mean with "specific syntax" in the context of the loader's `loadModule` method and passing it an arbitrary request string.

https://webpack.js.org/api/load

[2021-06-10 16:32] alexander-akait commented on #13552
You need pass specific syntax to `request`, otherwise built-in parser/generator will not work

[2021-06-10 17:58] privatenumber commented on #13372
WP5 fs caching reads from `intermediateFileSystem`, so make sure you update that too via my solution [here](https://github.com/webpack/webpack/issues/13372#issuecomment-841598405)

[2021-06-10 21:22] dmnsgn commented on #13372
Yeah unfortunately even when setting `compiler.intermediateFileSystem = memoryFs`, it doesn't seem to pickup the fact that my in-memory `index.js` entry point has changed. The change btw, is writting a new `import * as Module from "my-dependency"` and using "Module" later, if that changes anything.

[2021-06-10 21:36] dmnsgn commented on #13372
Also when writing to fs (by not setting any compiler file system), no issue.

[2021-06-10 21:57] kanoshin commented on #13127
@alexander-akait @sokra we observe the similar issue with our application. Memory consumption with `cache: { type: "memory" }` is around 2GB but with filesystem cache it grows dramatically (7-8GB). This basically makes filesystem cache unusable in our setup, my personal laptop starts memory swapping aggressively which degrades performance.

I was able to make a memory snapshot with Chrome, here is

[2021-06-11 03:35] markjm opened #13554 "High cost of addFileTimestamps and addContextTimestamps"
# Bug report
In very large projects (especially those with child compilers - which our project does due to using `worker-loader`), copying these two maps can be very expensive.

**What is the current behavior?**
`addFileTimestamps ` and `addContextTimestamps` copy huge maps on every recompile. In our project, `compiler.fileTimestamps` has around 300k entries (I believe this is mainly because all i

[2021-06-11 03:47] privatenumber commented on #13372
I can try to take a look if you post your configuration code.

[2021-06-11 03:52] kemuscorp opened #13556 "ERROR in ./node_modules/react-dom/cjs/react-dom.production.min.js 12:39-63"
Hello. I don't know if this is a bug or something we are not doing well, but I am since morning trying to fix this error that appears when configuring webpack and building the output:

[code]

This is my webpack config file:

[code]

[2021-06-11 03:55] #13556 closed

[2021-06-11 03:55] kemuscorp commented on #13556
I already see what I did wrong.

[2021-06-11 08:16] HYzihong opened #13557 "webpack5 > webpack.IgnorePlugin failure"
# Bug report

**What is the current behavior?**

In the process of learning Webpack 5

[code]

Expectations for main.js <=170kb

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]

**What is the expected behavior?**

ignore

moment>dist>locale

**Other relevant information:**
webpack version:  ^5.38.1
Node.js version: v12.16.3
Operating System:  mac 10.15.

[2021-06-11 09:18] dmnsgn commented on #13372
Thank you. I have put together a repro as a gist: https://gist.github.com/dmnsgn/4214e9419161c37372ede8c48045ecad

### Install it with:
[code]

### What it does:
- starts an express server (with webpackDevMiddleware)
- run webpack with `index.js` as entry point
- `index.js` is generated by the MyPlugin in memoryFs
- `index.js` imports all `dependencies` from `package.json` and logs them to console

[2021-06-11 10:55] alexander-akait commented on #13127
@kanoshin What is webpack version?

[2021-06-11 10:59] alexander-akait commented on #12869
bump

[2021-06-11 11:14] alexander-akait commented on #13557
Please use:
[code]

From docs:
[code]

[2021-06-11 11:14] alexander-akait commented on #13557
We should throw an validation error

[2021-06-11 11:44] GeekyMonkey commented on #11467
If you're using chainWebpack, then it's like this

chain.module.rule("mjs-rule").test(/\.m?js/).resolve.set(fullySpecified, false);

[2021-06-11 12:16] bastimeyer commented on #13552
Your suggestion does not work and no asset file is being emitted by the generator. See my demo-changes and the build log:
- https://github.com/bastimeyer/webpack-load-module-asset/commit/307c62a90b13abba6d53fa2cf923c02d56bb1509
- https://github.com/bastimeyer/webpack-load-module-asset/runs/2802577559?check_suite_focus=true#step:5:7

My intention of this issue thread is not seeking for help or aski

[2021-06-11 13:06] alexander-akait commented on #13532
Fixed https://github.com/webpack/webpack/pull/13533

[2021-06-11 13:06] #13532 closed

[2021-06-11 15:42] JakobJingleheimer commented on #6753
@alexander-akait this appears to be broken: `filename: '[name][ext]'` results in `[ext]` literally in the output filename.

My problem is that all but a small number of files start and end as ESM (so package.json's `type` is set to `module`), but the others are commonjs, so their file extension is `.cjs`. That needs to persist, but webpack blindly replaces all of them with just `.js`.

[2021-06-11 15:47] alexander-akait commented on #6753
filename never support `[ext]`, just use `.mjs` in you case, you can't have `js` files with commonjs and EC modules in one repo

[2021-06-11 15:55] JakobJingleheimer commented on #6753
@alexander-akait the docs include `[ext]`: https://webpack.js.org/configuration/output/#outputchunkfilename

CJS is the exception, so it would make far more sense to use that different/special file extension for the small number (2) of special cases rather than the hundreds of other (ESM) files. Also, mjs is not valid outside of node (and the cjs files are exclusive to the node part of the app).

[2021-06-11 15:58] alexander-akait commented on #6753
@JakobJingleheimer I don't understand your problem, please provide example

[2021-06-11 16:09] JakobJingleheimer commented on #6753
[code]

`my-electron-app/backend/index.cjs` is a hack around Electron detecting esm and arbitrarily sh*tting the bed (it would actually work just fine if they just got out of the way because node supports loading commonjs in ESM). That file is commonjs and tricks Electron's detection code. Anything that needs Electron dependency injected must be a commonjs file, but there are only like 2 places wh

[2021-06-11 16:13] alexander-akait commented on #6753
Do you need to use `.js` in one directory and `.cjs` in other? But `[ext]` will not help your here...

[2021-06-11 16:19] JakobJingleheimer commented on #6753
No, but the `.cjs` files occur in only the `backend` directory (but  there are non-cjs files in there too).

In the frontend directory, `.jsx` should be replaced with `.js`.

[2021-06-11 16:21] alexander-akait commented on #6753
But how webpack should understated this?

[2021-06-11 16:25] JakobJingleheimer commented on #6753
Yes, fair question.

I have 2 different webpack configs (and npm tasks), one for backend and one for frontend. In the backend one, I just want to (effectively) disable replacing the file extension (use whatever the original was).

[2021-06-11 16:37] alexander-akait commented on #6753
Just specify file extension in `filename` for backend and other value for frontend

[2021-06-11 16:46] JakobJingleheimer commented on #6753
The whole problem is that the file extension cannot be blindly set to an arbitrary value for everything.

The workaround I mentioned above:

[code]

[2021-06-11 16:54] alexander-akait commented on #6753
How you detect `cjsFiles`?

[2021-06-11 16:56] privatenumber commented on #13372
As suspected, you didn't follow the specific recommendation [here](https://github.com/webpack/webpack/issues/13372#issuecomment-841598405).

This issue is about [`compiler.intermediateFileSystem = memoryFs`](https://gist.github.com/dmnsgn/4214e9419161c37372ede8c48045ecad#file-run-js-L107) not [working expectedly](https://github.com/webpack/webpack/issues/13372#issuecomment-840125734).

[2021-06-11 17:10] kanoshin commented on #13127
@alexander-akait 5.38.1

[2021-06-11 17:12] alexander-akait commented on #13127
@kanoshin we need `entire snapshot`, please do it not only once, 1-2-5-10 runners, you can put it here, because I don't think it contains something sensitivity

[2021-06-11 17:12] kanoshin commented on #13127
I also tried setting `maxMemoryGenerations: 0` and experimental option from `mini-css-extract-plugin` but it didn't help. We have a codebase with about 9k typescript & less files.

[2021-06-11 17:16] alexander-akait commented on #13127
Feel free to ping me when you prepare more snapshots, maybe leaking in non official plugins, you can test it locally

[2021-06-11 18:04] JakobJingleheimer commented on #6753
I don't—I think I can't because webpack does not expose the information I need to do so; if the original extension was available in filename()'s argument, I could use that, but it's not. So, cjsFiles is a hardcoded list that is in no way connected to the actual file names (which is not ideal):

[code]

I could do something like recursively look for all `.cjs` files in the directory and build a lis

[2021-06-11 18:53] kanoshin commented on #13127
@alexander-akait attaching the snapshots. It's almost impossible to take the snapshot in our larger app, so I decided to use a smaller one but it still shows a very disproportional memory usage comparing to the codebase size. This app is around 223MB of source code with node_modules but initial memory usage is 3x of that amount and then it keeps growing between rebuilds.

What I'm trying to say is

[2021-06-11 19:53] Tarnadas opened #13559 "WebAssembly with Reference Types cannot be parsed"
# Bug report

WebAssembly modules with enabled Reference Types cannot be loaded.
The webpack version I tested this with is 5.38.1

For a minimal reproduction I created this repository:
https://github.com/Tarnadas/webpack-5-wasm-reftypes

The error message is the following:
[code]

I used Rust with wasm-bindgen, which provides a cli option to enable reference types. Instead of directly using wasm-b

[2021-06-11 19:55] alexander-akait commented on #13559
Please open an issue in `@webassemblyjs`, look at stack trace

[2021-06-12 00:03] Jules-Bertholet opened #13560 "Plugins can't provide custom WASM loading types"
# Bug report

**What is the current behavior?**
Running `EnableWasmLoadingPlugin.setEnabled(compiler, "custom-loading-type")` from an `afterEnvironment` hook fails to add a custom WASM loading type.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a new plugin with an `apply` method containing the following code:
[code]
2. Add the plugin to your Webpack confi

[2021-06-12 01:01] Jules-Bertholet opened #13561 "LimitChunkCountPlugin breaks projects that use WASM imports"
# Bug report

**What is the current behavior?**
When LimitChunkCountPlugin is used with max chunks set to 1, projects that use WASM modules break.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone https://github.com/Jules-Bertholet/wasm-chunk-test
2. Run `yarn` then `yarn start`
3. Open browser console, you should see `Hello World!`
4. Now uncomment the `LimitC

[2021-06-12 10:25] dmnsgn commented on #13372
I did try your suggestion of adding a plugin to setup file systems early but it had no effect: following the "How to test the issue" steps will still result in showing only one dependency being logged instead of two after reload.

If you want to double check, I have updated the gist with a `ConfigureCompilerPlugin` instance to confirm that: https://gist.github.com/dmnsgn/4214e9419161c37372ede8c480

[2021-06-12 15:47] alexander-akait commented on #13561
Do not use `LimitChunkCountPlugin`, it is old plugin and will be deprecated (removed) in future

[2021-06-12 16:29] Jules-Bertholet commented on #13561
What are the alternatives?

[2021-06-12 16:31] alexander-akait commented on #13561
What are you trying to achieve?

[2021-06-12 16:33] Jules-Bertholet commented on #13561
I am trying to produce a single JavaScript file (I am running my project in an environment where I can only have one JS file)

[2021-06-12 16:52] alexander-akait commented on #13561
You can use: `import(/* webpackMode: "eager" */ "../pkg/index.js").catch(console.error);`, but it is impossible due
[code]

[2021-06-12 16:53] alexander-akait commented on #13561
It means you always need extra chunk for WebAssembly, so LimitChunkCountPlugin is working as exacted

[2021-06-12 17:04] alexander-akait commented on #13560
No problem:
[code]

output:
[code]

[2021-06-12 17:05] alexander-akait commented on #13356
Answered, feel free to feedback

[2021-06-12 17:05] #13356 closed

[2021-06-12 17:23] Jules-Bertholet commented on #13560
Oops, forgot a step in the reproduction instructions, `output.wasmLoading` needs to be set also

[2021-06-13 05:09] myNameIsDu commented on #13557
@alexander-akait I found that it had validation code
[code]

[code]
And he really doesn't throw errors, which I think are validate errors

[2021-06-13 15:37] alexander-akait commented on #13557
Yes, feel free to send a PR with fix, just remove it from schema

[2021-06-13 16:08] myNameIsDu commented on #13557
Sorry, there are some problems mentioned above, should be increased
[code]
I will send a PR later

[2021-06-14 01:35] logger-ctrl opened #13564 "Webpack gives error without any clue"
# Bug report

**What is the current behavior?**

Right the moment I'm having an issue within webpack where I migrated from create-react-app into creating a custom webpack config, but when I want to run the project it gives me errors where one of them I understood where I'm trying to make a work around how to solve it, but the other one is **unknown**, despite that I'm using the same configuration

[2021-06-14 02:48] levanify commented on #11033
I'm able to load the component dynamically, however, it seems like host container cannot share the React Context with the Remove container. Any idea why?

[2021-06-14 03:39] ScriptedAlchemy commented on #11033
It should work. Is more than one copy of react getting loaded? If not then I don't see a reason why it wouldn't work.

Are you perhaps not sharing something that depends on react context. Like a node module

[2021-06-14 04:31] #13564 closed

[2021-06-14 17:33] markjm commented on #13554
@sokra thoughts on this one?

[2021-06-14 19:22] myNameIsDu commented on #13550
Webpack5 cache is in memory by default in development mode, [you can disable the cache with false](https://webpack.js.org/configuration/other-options/#cache),[ or put it on disk](https://webpack.js.org/configuration/other-options/#cachetype)

[2021-06-14 20:00] andersk commented on #13550
@myNameIsDu As you can see, I’m in production mode, so the cache is already disabled. (I tried `cache: false` anyway, and as expected, it has no effect.)

[2021-06-14 22:38] matthias-ccri opened #13569 "Rename DefinePlugin"
Consider renaming "DefinePlugin" to something more accurate. DefinePlugin does not define anything, at least, not in the typical sense of defining a javascript variable.

See examples of places where people think DefinePlugin can create a global variable:
- https://github.com/webpack/webpack/issues/1236
- https://stackoverflow.com/questions/37656592/define-global-variable-with-webpack
- https://st

[2021-06-14 22:50] matthias-ccri commented on #1236
DefinePlugin doesn't actually define anything. What it does is replace variables that exist in your bundle code. If the variable doesn't exist in your code, it will do nothing. So it doesn't create global variables.

In order to create a global variable, write it in your code:
[code]

And use DefinePlugin to replace `MY_GLOBAL` with some code:
[code]

Then your output JS will be like this:
[code]

[2021-06-15 00:54] andersk commented on #13550
By bisecting commits in webpack and terser-webpack-plugin, I was able to attribute most of the memory usage regression to webpack-contrib/terser-webpack-plugin#344.

I found that patching terser-webpack-plugin to remove `enableWorkerThreads: true` reduces memory usage back to the range of Webpack 4, without a noticeable performance impact.

@alexander-akait FYI.

[code]

[2021-06-15 01:44] levanify commented on #11033
Thank you @ScriptedAlchemy for your reply. Really appreciate it!

I'm loading just one copy of react, I'm setting the webpack config for both host and remote containers to be

`react: { singleton: true, requiredVersion: deps['react'] }`

If I understand correctly, `singleton` would ensure that only one copy of react is loaded

May I clarify what do you mean by this?

[2021-06-15 08:25] SkReD opened #13570 "Webpack 5: Cache is not shared effectivly between compilations with configurations where only entry differs"
# Bug report

**What is the current behavior?**
Assume we have two projects with only index.js files in them, which are having same content:
![image](https://user-images.githubusercontent.com/938036/122017048-4c2c6d80-cdca-11eb-909a-6f0acbb36152.png)

and this webpack config:
[code]
After cache warmup with `webpack5-1` repo we build first `webpack5-1` and then - `webpack5-2`

warmup time:
[code]

[2021-06-15 09:23] dmnsgn commented on #13372
@privatenumber are you saying this should be a separate issue?

I would say that he fact it doesn't even work when setting `compiler.intermediateFileSystem` early (with a plugin) and that disabling cache (`{ cache: false }`) do work, points to an issue either with the webpack-dev-middleware or the webpack cache.

[2021-06-15 11:52] alexander-akait commented on #13570
Duplicate of https://github.com/webpack/webpack/issues/10400, unfortunately shared cache is not supported right now

[2021-06-15 11:52] #13570 closed

[2021-06-15 11:54] #13569 closed

[2021-06-15 12:02] alexander-akait commented on #13550
@andersk What is Node.js version, built-in `worker_threads` is faster, but there are some regressions in Node.js in some versions (especial on old 10 and 12)

[2021-06-15 12:05] fengyinchao commented on #5424
@licebeam @maikelmclauflin I recently came across the same issue in my electron application. And I solved it by modify webpack config like this:

module.exports = {
  target: 'electron-renderer',
  node: {
    __dirname: false, //set false to prevent webpack mock
    __filename: false,
  },
};

See https://www.yuque.com/fengyinchao/axyqmr/izibbp for more details

[2021-06-15 12:17] SkReD commented on #13570
Cant see how its relative because in my case all modules except entry are in one place (root node_modules folder) so even absolute paths should be valid across compilations

[2021-06-15 12:23] alexander-akait commented on #13570
@SkReD yes, but you have different `package.json`, we keep it too in cache for resolutions purposes

[2021-06-15 15:43] BurntCoffee543 opened #13572 "Webpack Hash is not FIPS-Compliant"
# Bug report

**What is the current behavior?**
Building on a FIPS-enabled system, the digest "md4" is not supported (and furthermore is not FIPS-compliant). Upon building, the following error is thrown...

<pre><code>UnhandledPromiseRejectionWarning: Error: Digest method not supported
    at new Hash (internal/crypto/hash.js:46:19)
    at Object.createHash (crypto.js:115:10)
    at module.exports

[2021-06-15 15:52] alexander-akait commented on #13572
Please update webpack to v5

[2021-06-15 16:18] BurntCoffee543 commented on #13572
@alexander-akait I definitely plan to in the future, but I am currently limited by Angular 11 and @angular-builders/custom-webpack 11 which use Webpack 4 as its underlying dependency. Any advice for handling this?

[2021-06-15 16:26] alexander-akait commented on #13572
Only monkey patching webpack

[2021-06-15 19:21] andersk commented on #13550
14.17.0 (as specified in my initial report).

I can reproduce the same issue in Node.js 10.24.1 with `NODE_OPTIONS=--experimental-worker`, 12.22.1, 14.17.0, and 16.3.0.

| Node.js version | stock | remove `enableWorkerThreads` |
| --- | --- | --- |
| 10.24.1 | 574900 KiB | 583024 KiB |
| 10.24.1 `--experimental-worker` | 3836652 KiB | 596276 KiB |
| 12.22.1 | 3625192 KiB | 672796 KiB |
| 14.17.0 |

[2021-06-16 09:11] panlina commented on #6586
So there's no way to workaround it for inline loader? Since there's no way to set `type: "javascript/auto"`.

[2021-06-16 09:36] panlina commented on #9309
Still an issue on 4.46. Any plan to fix it?

[2021-06-16 09:41] panuhorsmalahti commented on #10885
I can fix this with:
[code]

in webpack configuration.

[2021-06-16 10:22] alexander-akait commented on #9309
Only webpack v5

[2021-06-16 10:25] alexander-akait commented on #12792
bump

[2021-06-16 10:28] alexander-akait commented on #12759
bump

[2021-06-16 10:30] alexander-akait commented on #13550
@andersk Can you check `5.1.1` version?

@SimenB maybe you have understand why this is happening, we use `jest-worker` in `terser-webpack-plugin` and enable `enableWorkerThreads`, but memory consuming is very big

[2021-06-16 10:32] alexander-akait commented on #13550
We use `jest-worker` v26 previously (https://github.com/webpack-contrib/terser-webpack-plugin/blob/v5.1.2/package.json#L47), then we update `jest-worker` to v27 (https://github.com/webpack-contrib/terser-webpack-plugin/blob/v5.1.3/package.json#L47) and look somewhere memory leak in `jest-worker`...

[2021-06-16 12:00] alan-agius4 commented on #13550
While I don't know if there is a memory regression in jest-worker version 27.

Increase in memory usage in the main process is expected when using worker threads. This is because unlike forked processes work thread are same process. Overall though, the memory consumption should be lower because there is no overhead from the extra forked processes.

[2021-06-16 12:02] alexander-akait commented on #13550
@alan-agius4 I think so because only jest-worker will be updated in near future, will be great of somebody check it on the big project

[2021-06-16 12:50] dervaux commented on #13290
I can confirm this issue is still relevant. I'm getting the following error:
[code]

[2021-06-16 13:29] sergeu90 commented on #13550
On the 5.1.1 works good on the 5.1.2 i get error. vm have 2gb ram.

[2021-06-16 19:06] markjm opened #13573 "Limit cost of large LazySet.addAll during summarizeDependencies"
# Bug report

**What is the current behavior?**
`summarizeDependencies` calls addAll to `fileDependencies` and a few other LazySets with a bunch of very small Sets and LazySets. When this hits the 100k mark, we flatten the set, which is very expensive. In a large project, this can happen a few times during `summarizeDependencies`. If we filter out LazySets that are empty, we have to go through fla

[2021-06-16 21:46] andersk commented on #13550
For the test case I’ve shown, the problem seems the same with terser-webpack-plugin@5.1.1.

<details>
<summary>yarn.lock patch</summary>

[code]

</details>

[code]

[2021-06-16 22:16] edusperoni opened #13575 "When using dynamic method names, webpack 5 may fail to generate valid code"
# Bug report

**What is the current behavior?**

If you use dynamic property names on a class that extends another class, webpack may generate invalid code.

Example:
[code]

Generates:
[code]

For additional details, different kind of configurations and tests are in the provided repository.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/edusperon

[2021-06-17 01:34] duan602728596 opened #13578 "When the outputModule of the experiments is configured as true, the method of importing the module packaged by the dll plugin is undefined"
# Bug report

When webpack is configured

[code]

Introducing the module packaged by webpack.DllPlugin, the method will be undefined.

**What is the current behavior?**

After a module is packaged by webpack.DllPlugin, the method of importing the module, the method is undefined, resulting in an error.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com

[2021-06-17 05:32] panlina commented on #9309
Can't this be fixed in v4?

[2021-06-17 06:38] Fea-Sin commented on #6544
{
        test: /\.jsx?$/,
        exclude: /node_modules/,
        use: { loader: "babel-loader" },
      }

[2021-06-17 09:38] sokra commented on #13127
@kanoshin thanks for these profiles. That were very useful. I needed to implement some custom tooling to analyse them, since the devtools show WeakMap references very badly.

Anyway I found two problems:

1. The `less-loader` keeps hold on the last webpack compilation the processed less files.

2. There is a weird reference of some Compilations in v8 feedback vectors:

![image](https://user-images

[2021-06-17 09:55] SkReD opened #13581 "Add readonly mode for filesystem cache"
## Feature request

Add `readonly` mode for filesystem cache to outcome shared cache missing limitation

**What is the expected behavior?**

It should be possible to use already existing cache without tackling problems of concurrent write access, handling unused entries and managing uncontrolled grow of cache.

**What is motivation or use case for adding/changing the behavior?**

This will allow r

[2021-06-17 10:24] sokra commented on #13127
@kanoshin I released the 2. change as https://github.com/webpack/webpack/releases/tag/v5.39.1 Maybe you could test with that version again and capture new profiles (In this case a single one after 20 rebuilds would be enough). It's difficult to see from the profile if this is was the only problem...

[2021-06-17 10:25] sokra commented on #13127
If you want to "workaround" for problem 1, you can remove this line: https://github.com/webpack-contrib/less-loader/blob/465ffc4052642d799bb29a85056517db31ee1bf5/src/utils.js#L198

[2021-06-17 11:14] michaelboyles opened #13584 "Node can no longer find exported fields when built with Webpack 5"
# Bug report

**What is the current behavior?**

I deploy a bunch of Lambdas to AWS to handle API requests. The runtime is Node 14.

AWS expects that each entry point should export a variable named 'handler': `export const handler = ...`

Webpack 4 works perfectly. When I use the Webpack 5 version as the body of a Lambda function, I get the following error

[code]

**If the current behavior is a b

[2021-06-17 12:31] alexander-akait commented on #13581
You can implement this using custom plugin

[2021-06-17 12:33] alexander-akait commented on #13127
I think we can do major release for less-loader and drop it

[2021-06-17 12:41] alexander-akait commented on #9309
No, v4 only security fixes

[2021-06-17 12:59] alexander-akait commented on #13127
@kanoshin Please try https://github.com/webpack-contrib/less-loader/releases/tag/v10.0.0

[2021-06-17 12:59] SkReD commented on #13581
@alexander-akait could you point me where can i do that? Is it this place, where i should register my own plugin instead of bundled
https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js#L560 and for that allow to pass custom plugin via `cache.store`?

[2021-06-17 13:02] alexander-akait commented on #13005
Closing due to inactivity.

[2021-06-17 13:02] #13005 closed

[2021-06-17 13:02] #13435 closed

[2021-06-17 13:59] alexander-akait commented on #13578
No problems, DLL by default create `commonjs` format (look at the `type` option), so you should use `default` export, you can use:
[code]

but yes, it is not good.

i.e. you need to set (unfortunately we cannot inherit `outputModule`, you need explicitly set `type`, same for `library.target`):
[code]

Unfortunately, external pure ECMA modules is not supported yet, close in favor https://github.com

[2021-06-17 13:59] #13578 closed

[2021-06-17 14:10] #13584 closed

[2021-06-17 14:40] SkReD commented on #13581
Do it that way
[code]

[2021-06-17 14:43] alexander-akait commented on #13581
Yep, it is good solution, ideally we should fix and allow to use shared cache instead trying to do workarounds

[2021-06-17 14:46] SkReD commented on #13581
agreed, but shared caches are staying in review status for a long time already. And fixing it is beyond my capabilities for this moment.

[2021-06-17 14:52] alexander-akait commented on #13581
/cc @sokra What do you think?

[2021-06-17 14:53] alexander-akait commented on #13581
We have PR, but we need time to finish https://github.com/webpack/webpack/pull/10491

[2021-06-17 14:56] alexander-akait commented on #13550
@andersk Maybe you can share your application with me (if need I can sign NDA)? I can disable `enableWorkerThreads`, but I feel it is wrong, will be great to investigate why it happens

[2021-06-17 15:46] sokra commented on #13550
It looks very much like what @alan-agius4 said:

time doesn't measure memory usage of child processes, so using worker_threads will report higher memory usage.

[2021-06-17 15:49] michaelboyles commented on #13584
Spot on. It works now after applying your proposed change. Thanks so much for the quick reply.

[2021-06-17 16:28] jquense commented on #11074
still unsolved thanks!

[2021-06-17 18:36] andersk commented on #13550
@alexander-akait I did share the application and a full reproduction recipe in the original report above. Totally open source, Apache 2.0 license, no NDA necessary. ☺

@sokra Hmm. You seem to be right that `time` doesn’t measure what I thought it was measuring. It does measure over the entire child process tree, but it only reports the largest *single* process within that tree, rather than the tot

[2021-06-17 18:36] #13550 closed

[2021-06-18 06:20] sokra commented on #8531
The limitation has already been removed for `experiments.asyncWebAssembly`.
It's still in `experiments.syncWebAssembly`, but that's deprecated anyway.

[2021-06-18 06:22] sokra commented on #11074
Maybe you could quickly summarize whats the remaining issue? Too many comments in the issue...

[2021-06-18 07:23] andersk opened #13588 "Quadratic time and memory explosion for storing JSON module in filesystem cache"
# Bug report

**What is the current behavior?**

In a project with a JSON module containing a moderately sized object, using `cache.type = "filesystem"` causes webpack to take an enormous amount of time and memory. For example, with an object of 10000 keys, webpack takes 10 seconds and 2.5 GiB. When changing the size of the object, both time and memory appear to scale quadratically.

**If the curr

[2021-06-18 07:25] #13573 closed

[2021-06-18 08:05] Edge00 commented on #12031
My case:
First i found complied code contains **arrow fucntion**. so i add `target: ['web', 'es5']` to solve the problem.
Then code became:
[code]
So i need to add `output.globalObject: 'window'` to solve this problem.

But it seems a little weird because once you set `target: ['web', 'es5']`. You need to configure `output.globalObject: 'window'` too. Which is not mentioned in documentation.

[2021-06-18 08:31] sokra commented on #13588
hmm yeah. I'll fix it...

[2021-06-18 10:25] #13588 closed

[2021-06-18 10:26] #13440 closed

[2021-06-18 10:39] sokra commented on #12816
I'm unable to reproduce it.

With your example the output is:

[code]

It correctly tree-shakes the `trans_at` export

[2021-06-18 15:18] elialbert commented on #7197
note that if you're running into this nonlocally but not locally, you're probably not loading dev dependencies nonlocally, so you could just move webpack-cli into regular dependencies.

[2021-06-19 15:05] sidverma32 commented on #13339
@alexander-akait Hi, If this is still pending ,then can i pick this and raise a PR?

[2021-06-19 15:35] snitin315 commented on #13339
@sidverma32 Yes, feel free to send a PR.

[2021-06-19 16:41] sidverma32 commented on #13339
Based on the above discussion and suggestion, updated the `loadLoader.js` file,
@snitin315   Please review [57](https://github.com/webpack/loader-runner/pull/57) and let me know incase if any modification required.

[2021-06-20 01:56] ScottAwesome commented on #2933
@sokra  Any updates on this? Last I've seen comment wise is from February and I haven't seen much else after sifting through PRs.

I hesitate to overstate the case, however this is one of the most requested features for webpack I can think of. if it had a special library mode like you mentioned, for building shared libraries efficiently, and a separate ESM export mode for production, it would solv

[2021-06-20 04:28] jbowa commented on #10035
For me this worked:

[code]

[2021-06-20 08:45] jcamden commented on #13557
I'm a little confused. Can you guys help me understand why this IgnorePlugin config (for co-located tests) doesn't work with Webpack 5 enabled (but does work with Webpack 4):

const webpack = require('webpack');

[code]
It seems like it would be fine, vis-a-vis [the relevant docs](https://webpack.js.org/plugins/ignore-plugin/), but it doesn't work. Am I gathering from this thread that both resourc

[2021-06-20 09:16] myNameIsDu commented on #13557
@jcamden from this configuration, it works in Webpack5. Can you give an example of an error

[2021-06-20 09:24] myNameIsDu commented on #13557
@jcamden
[code]
you can try again

[2021-06-20 09:37] myNameIsDu commented on #13557
[code]
you can try this, if not you can provide an error example

[2021-06-20 12:33] xyoscer commented on #12507
Excuse me, through watchFileSystem
 How can I get the current changed files? There are too many files as a result of watcher.getTimeInfoEntries()

[2021-06-20 12:46] xyoscer commented on #12507
Encountered the same problem, how is this problem solved?

[2021-06-20 15:52] jcamden commented on #13557
Thanks @myNameIsDu . I was intentionally not escaping the periods, but I should have added a glob, and you're right that my regex probably should include escaped periods to be more specific: (i.e. `/.*\.test(\.).*(ts|tsx)$/` ) Here's what I'm running:
[code]
Seems to work with Webpack 4, but build fails with Webpack 5 enabled:
[code]

I assume this means that the modified Webpack config didn't add

[2021-06-20 15:55] jcamden commented on #13557
Ah, by the way, it looks like pageExtensions is the best solution to the problem of co-location: https://github.com/vercel/next.js/discussions/23959#discussioncomment-894210

[2021-06-20 21:04] NAkhilC commented on #10053
We need to use default followed by require tag in react js.
src={ require('../images/'+image_name+'.png').default }

[2021-06-21 05:38] erolsmsr58 opened #13598 "Webpack keeps recompiling endlessly when doing webpack --watch"
When I use the watch feature to compile my Typescript and SASS, Webpack gets into an infinite loop of compiling the files. The first compilation goes without any problems, but when I make a change to a file it keeps infinitely compiling. My machine gets really hot because of it and the compiled result comes later as Webpack doesn't pick up the changes in my files right away as it's busy compiling

[2021-06-21 07:08] xyoscer commented on #12507
can use `compiler.modifiedFiles ` instead of webapck4's `mtimes` to get a list of changed files

[2021-06-21 11:13] alexander-akait commented on #13290
Fixed by https://github.com/webpack/webpack/pull/12693

[2021-06-21 11:13] #13290 closed

[2021-06-21 11:21] karlhorky commented on #13290
Nice, really cool! Looking forward to using this! (also with our students in Next.js!)

Will this be in a new patch (`5.39.2`) or minor (`5.40.0`)?

[2021-06-21 11:22] alexander-akait commented on #13290
@karlhorky I think we will have minor release in near future

[2021-06-21 11:23] alexander-akait commented on #13290
We want to finish some critical issues and support `import something from './test.json' assert { type: "json" }` https://github.com/tc39/proposal-import-assertions

[2021-06-21 11:24] karlhorky commented on #13290
Oh nice!! I've seen that syntax floating around, wanting to try it for a while 🙌

[2021-06-21 11:34] alexander-akait commented on #13598
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by formatting or recreating the issue using one of our templates.

Please fix it and I will reopen and help you, unfortunately i cannot reproduce the problem. If for some reason you cannot use bug template for issue (https:

[2021-06-21 11:34] #13598 closed

[2021-06-21 15:25] Dailyscat opened #13606 "The requested module 'my-package' does not provide an export named"
Good morning. First thanks for the help.
My situation is as below.
I tried to export {alert, confirm} in the original index.js file and use it through import {alert, confirm} from "my-package" in a file that uses that package.
However, after bundling, when I download the package and try to use the package through import {alert, confirm} from "my-package", an error like "The requested module 'my-pa

[2021-06-21 15:27] #13606 closed

[2021-06-21 16:00] sokra commented on #2933
I'm working on that, but was distracted by some other stuff. Expect something in the next few days...

[2021-06-21 16:17] #13575 closed

[2021-06-21 16:55] ChrisWiles commented on #12102
Wow! That greatly reduce compile time. I added `cache: { type: 'filesystem' }` and `new MiniCssExtractPlugin({ filename: 'styles.css', experimentalUseImportModule: true })`

- Before webpack 5.39.1 compiled in 7,200 ms
- After webpack 5.39.1 compiled in 1,787 ms

[2021-06-21 16:58] alexander-akait commented on #12102
@ChrisWiles

I think we can be faster here more, looks like something is not cached, maybe you can provide more information?

[2021-06-22 07:08] arrgson commented on #13457
I have the same issue happening with @angular/common .

`shared module @angular/common - Warning: No required version specified and unable to automatically determine one. Unable to find required version for "@angular/common" in description file (.../node_modules/@angular/common/package.json). It need to be in dependencies, devDependencies or peerDependencies.`

In the package.json file there is no

[2021-06-22 08:03] sokra commented on #12951
yeah

[2021-06-22 09:29] sokra commented on #9517
`[name]` won't be implemented in context of `webassemblyModuleFilename` as it's related to chunks and `webassemblyModuleFilename` is related to modules.

[2021-06-22 09:29] #9517 closed

[2021-06-22 10:06] chikadance commented on #2134
in webpack.config.js

plugins: [
        new HtmlWebpackPlugin({
            templateContent: indexHtml
        }),

in my case, indexHtml I have set bundle.js and HtmlWebpackPlugin default inject:true to inject another bundle.js, it cause import module 2 times
the solution is inject:false

        new HtmlWebpackPlugin({
            inject: false, // since my indexHtml has include bundle.js so in

[2021-06-22 11:04] grafikri commented on #5029
+1 bump

[2021-06-22 15:17] skaneprime opened #13617 "Can't build webpack if code uses it as it's dependency"
# Bug report

**What is the current behavior?**
Throws error on initializing
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
[code]

[code]

[code]
[code]
**What is the expected behavior?**
It should build `sub.ts` as webpack did with `app.ts` but programmatically

I'm building an app which requires dynamic compilation of multiple typescript files into o

[2021-06-22 15:23] alexander-akait commented on #13617
Can't reproduce

[2021-06-22 15:27] skaneprime commented on #13617
I updated the issue (included webpack config). Check it please and try again

[2021-06-22 16:04] slorber commented on #13034
Just seen the maxGenerations options, that might help improve the perfs for my usecase, will test that

[2021-06-22 17:23] WalterWeidner commented on #12102
We've also been seeing 2x slowdown when rebuilding Webpack 5. However, production builds seem pretty close to the same build times. We are on Node 14.16.1.

I've tried to read through this entire issue and try the recommendations. From what I've observed `cache: { type: 'filesystem
'}` was about the same if not a little slower than the default caching configuration. I haven't been able to get the

[2021-06-22 17:26] alexander-akait commented on #12102
[code]

something can break cache

[2021-06-22 17:28] alexander-akait commented on #12102
@WalterWeidner Will be great to look at configuration file, especial on plugin list

[2021-06-22 17:58] WalterWeidner commented on #12102
I commented out the code that the deprecation error was coming from. Its an older version of pdfjs-webpack that uses an old version of `worker-loader`.

@alexander-akait don't judge me, I inherited this and it is not pretty 😄 .

[Webpack Config.zip](https://github.com/webpack/webpack/files/6696428/Webpack.Config.zip)

[2021-06-22 18:05] alexander-akait commented on #12102
@WalterWeidner The main interesting place commented `// dev-only plugins` :smile: Do you really need `aggregateTimeout` and `poll`? Values is very high. Also can you provide `global.THREADS` value? Better do not touch this

[2021-06-22 18:24] WalterWeidner commented on #12102
I definitely want to look at adjusting those watch values.

This is what `THREADS` is defined as:
`define('THREADS', Math.max(1, Math.floor(cpus().length * (3 / 4))));`

[2021-06-22 18:25] alexander-akait commented on #12102
@WalterWeidner Can you try to disable `thread-loader` and enable filesystem cache?

[2021-06-22 18:45] myNameIsDu commented on #13617
@alexander-akait I reproduced it, but there were some problems
[code]
It outputs the
[code]
I wonder why it prints relative paths

[2021-06-22 18:46] alexander-akait commented on #12638
Still valid

[2021-06-22 18:47] alexander-akait commented on #13617
How you run webpack? Do you use registers?

[2021-06-22 18:49] alexander-akait commented on #13617
Also you should run `compiler.close()` after `run`, i.e.:
[code]

[2021-06-22 19:34] WalterWeidner commented on #12102
This is what I observe with `thread-loader` commented out (already have `cache: { type: 'filesystem' }` set in my config).

[code]

this is with thread loader:

[code]

[2021-06-22 19:35] alexander-akait commented on #12102
@WalterWeidner As you can see `thread-loader` decrease build time...

[2021-06-22 19:43] skaneprime commented on #13617
No, I don't

[2021-06-22 19:45] skaneprime commented on #13617
The result is the same
[code]
[code]

[2021-06-22 19:47] alexander-akait commented on #13617
Try `entry: { main: path.resolve(__dirname, "./sub.ts") }` Can you create simple reproducible test repo?

[2021-06-22 19:50] WalterWeidner commented on #12102
Yeah looks like about a second.

I noticed in the profile that
[code]

[2021-06-22 19:55] alexander-akait commented on #12102
@WalterWeidner let's check it before, can you comment it and measure speed, ideally will be great comment as much as possible and do measure speed, then uncomment step by step, so we can find the problem place

[2021-06-22 20:16] alexander-akait commented on #13617
You have `webpack.config.js` and also pass options using Node.js API in `app.js`, it is wrong:

[code]

and run it using `npx ts-node app.ts` (you can install `ts-node` in your dev deps).

Note you will see the error from `ts-loader`: `Error: error while parsing tsconfig.json`, you need create `tsconfig.json`.

Please read docs again https://webpack.js.org/api/node/

Node.js api is not autoload co

[2021-06-22 20:16] #13617 closed

[2021-06-22 20:32] WalterWeidner commented on #12102
I could be misunderstanding but if I put `module.reasons` back in the config it will fail.

I commented out the entire `common` chunk (including that test function) and the rebuild time stayed pretty much the same.

[2021-06-22 20:37] alexander-akait commented on #12102
@WalterWeidner Maybe you can invite me in private repo with project?

[2021-06-22 20:45] WalterWeidner commented on #12102
I'd have to have our IT department approve that. I don't have that kind of access in this project.

[2021-06-22 22:30] WalterWeidner commented on #12102
It looks like the major culprit for us is the `CssExtractPlugin.loader.` I commented it out and the build time dropped to 2 seconds.

@alexander-akait I tried your [comment](https://github.com/webpack/webpack/issues/12102#issuecomment-855896740) mentioning `experimentalUseImportModule` but we're still in the 8 second range.

[2021-06-22 22:46] aendrew commented on #6522
That bit in the documentation is super key but really hidden. Can perhaps this issue be changed to a documentation issue about needing a warning for NodeJS targets if UMD is used without setting globalObject to `this`?

[2021-06-23 00:28] RReverser commented on #12638
Having thought about this a bit more, while I think it would be useful, it's likely not the most uncommon usecase and other bundlers don't seem to support this either. To keep consistency I suppose I'll close it.

[2021-06-23 01:39] petermikitsh commented on #9766
I can confirm this fix works in situations where, on a single webpage, one bundle is built with webpack 2.x and another bundle with 4.x. In this case, I added the `output.jsonpFunction` option to the webpack 4.x bundle.

[2021-06-23 07:17] skaneprime commented on #13617
the `sub.ts` should be build with `app.js` because the `app.js` will be shipped as just one file.

Так, я делаю штучку и в `app.js` нужно чтобы сам Вебпак был ВНУТРИ него как его Модуль т.е вот сама идея

app.js это программка которая помимо билда будет иметь другие штуки. А сам билд устроен вот так `webpack`  компилит указанный TS файл (у TS файла могуть быть модули, импорты и пр) в один жс файл.

[2021-06-23 08:13] brendonco opened #13620 "TypeError: SyncHook is not a constructor on Webpack 5.40.0"
Upgrading to 5.40 got:

 npx webpack serve

[webpack-cli] TypeError: SyncHook is not a constructor

[code]

node v12.16.0

[2021-06-23 08:29] otakustay opened #13621 "5.40 breaks type of webpack-dev-server"
# Bug report

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/639549/123063007-9a331800-d43f-11eb-8c7f-07ef1ef79781.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

1. install `webpack` and `@types/webpack-dev-server`
2. create a variable of type `Configuration` from`webpack`
3. Try to access its `devServer` property

**What

[2021-06-23 11:13] alexander-akait commented on #13621
Feel free to send PR

[2021-06-23 11:14] alexander-akait commented on #13620
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-06-23 11:14] #13620 closed

[2021-06-23 11:16] alexander-akait commented on #12638
@RReverser I think we can keep open, for me it is feature than bug

[2021-06-23 11:19] alexander-akait commented on #6522
@aendrew We are based on browserslist by default, if you support `globalThis` by versions, we will use `globalThis` and it will work everywhere

[2021-06-23 11:22] alexander-akait commented on #13617
@skaneprime Just use multi compiler mode and `dependecies` https://webpack.js.org/configuration/other-options/#dependencies

[2021-06-23 11:32] alexander-akait commented on #12102
@WalterWeidner maybe you can profile? Perhaps there is an inefficient code somewhere, unfortunately you need to look on profiles

[2021-06-23 11:55] dkrnl opened #13623 "splitChunks: new `issuer` option for `cacheGroups`"
I need separate some polyfills and vendor chunk by new option -- `splitChunks.cacheGroups.{cacheGroup}.issuer`.

## Feature request

And i try write code, using undocumented field `module.resourceResolveData`. This work well only first build.
But second build (with cache enabled) `module.resourceResolveData` already empty.

This code is not a bug report, but just an example:
[code]
**What is the e

[2021-06-23 11:57] alexander-akait commented on #13623
You can have multiple `issuers`, also some modules just don't have issuers, relying only on it is not always a good idea

[2021-06-23 12:16] dkrnl commented on #13623
Ok, thank you!

Can i write bug-report for empty `module.resourceResolveData` (undocumented field) in cached build?

[2021-06-23 12:17] alexander-akait commented on #13623
`resourceResolveData` can be empty too, it is expected

[2021-06-23 12:18] #13623 closed

[2021-06-23 12:20] Mesoptier opened #13624 "Webpack ignores errors thrown in callback passed to `runAsChild()`"
# Bug report

**What is the current behavior?**
If the callback passed to `runAsChild()` throws an error for whatever reason (e.g. https://github.com/webpack-contrib/mini-css-extract-plugin/pull/763), webpack will swallow/ignore the error and happily continue compiling. Eventually the process will finish "without errors" (i.e. error code `0`).

The only trace of anything actually having gone wrong

[2021-06-23 13:05] skaneprime commented on #13617
Neither of them helps out. It's happening dynamically, not concurrently

[2021-06-23 13:25] alexander-akait commented on #13617
You can't do it dynamically

[2021-06-23 15:19] myNameIsDu commented on #13621
:cold_sweat:I notice it doesn't seem to have a declaration file

[2021-06-23 15:19] JoshuaKGoldberg opened #13626 "Higher stable memory usage in Webpack 5 on cold start"
# Bug report

**What is the current behavior?**

https://github.com/JoshuaKGoldberg/webpack-5-memory-repro

I set up ☝️  reproduction repository to show a surprising behavior with Webpack 5 compared to Webpack 4: although the _peak_ memory usage is improved on cold start, the _stable_ amount is an extra 50%+ higher.

Webpack 4 memory usage grows towards a peak, then down to a stable amount:

| Run

[2021-06-23 15:21] alexander-akait commented on #13626
Problem in non official plugins

[2021-06-23 15:23] alexander-akait commented on #13626
You can look at memory usage here https://webpack.github.io/benchmark/

[2021-06-23 15:23] alexander-akait commented on #13626
Also please note using https://github.com/JoshuaKGoldberg/webpack-5-memory-repro/blob/main/script5/webpack/app.config.js#L62 increase memory because we need collect buffers and save them

[2021-06-23 15:45] JoshuaKGoldberg commented on #13626
Fascinating: trying out memory or no cache made it more deterministic _(makes sense)_ but also a bit worse for peak memory usage. I updated the README.md.

**cache: true ('memory')**

| Run | Stable  | Peak    |
| --- | ------- | ------- |
| 1   | 1.18 GB | 1.84 GB |
| 2   | 1.27 GB | 1.84 GB |
| 3   | 1.25 GB | 1.84 GB |

**cache: false**

| Run | Stable  | Peak    |
| --- | ------- | ------- |
|

[2021-06-23 15:48] alexander-akait commented on #13626
@JoshuaKGoldberg due problems in non official plugins as I described above

[2021-06-23 15:48] JoshuaKGoldberg commented on #13626
Sorry, I'm a little unclear on what your intent with that is: are you saying I should re-post this issue in `webpack-dev-server`?

[2021-06-23 15:56] alexander-akait commented on #13626
@JoshuaKGoldberg Can you measure memory with/without dev server, also I found https://github.com/JoshuaKGoldberg/webpack-5-memory-repro/blob/main/script5/webpack/app.config.js#L2/https://github.com/JoshuaKGoldberg/webpack-5-memory-repro/blob/main/script5/webpack/app.config.js#L3/https://github.com/JoshuaKGoldberg/webpack-5-memory-repro/blob/main/script5/webpack/app.config.js#L7/etc non official pl

[2021-06-23 17:07] slorber opened #13627 "Persistent caching return stale results when updating resolve.alias"
# Bug report

**What is the current behavior?**

When changing `resolve.alias`, affected persistent cache entries are still used instead of being evited.

**If the current behavior is a bug, please provide the steps to reproduce.**

I'm using the filesystem cache with resolve aliases:

[code]

Now, let's change the aliases:

[code]

When building/running again (dev server or prod), Webpack will ke

[2021-06-23 17:15] alexander-akait commented on #13627
No problems here... How you run webpack? If you use webpack-cli we automatically added your configuration as `buildDependencies` https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L1855, so any changes in file will invalidate cache, but if you use external file you need do it manually, also we have https://webpack.js.org/configuration/other-options/#cachever

[2021-06-23 17:16] alexander-akait commented on #13627
It is impossible, webpack can't know about your external variables/envs/files/etc

[2021-06-23 17:22] alexander-akait commented on #13627
In theory we can keep resolved aliases from `resolve.alias` for each module and invalidate module only when something in `resolve.alias` was changed, but `version` does not let us know which of these variables is used as `alias`. Also, this can be said about many options from configuration, it is really complex and kill cache performance

[2021-06-23 17:46] slorber commented on #13627
Sorry, my example was a bit wrong:  I'm reading aliases from the filesystem structure, and they are not static in the webpack config file (so I guess `buildDependencies: {config: [__filename]}` can't kick in):

[code]

I could maybe add `/dirname/theme/**` to buildDependencies as well, but it is also quite aggressive to evict the cache if any of the files are updated.

---

Actually, I don't ask w

[2021-06-23 17:46] WalterWeidner commented on #12102
@alexander-akait I hope these help.

I had a hard time figuring out how to get the profiler to working. The node profiler wasn't outputting if you killed it with signal interrupt and the Profile plugin throws V8 errors for me.

I took these profiles using `--inspect` and the Chrome node debugger. Hopefully it worked correctly.

[Webpack Profiles.zip](https://github.com/webpack/webpack/files/670392

[2021-06-23 17:53] alexander-akait commented on #13627
Yep, feel free to send an improvement to docs

You can create more smart function to collect only necessary cache dependencies.

We already have doing it, the main problem here, they are in external files, if you will use `require`/`import` webpack config, webpack invalidate cache, when something was changed in required/imported files, but I think you are using `glob` here. Also even we will store

[2021-06-23 21:46] billyjanitsch opened #13628 "`module.rule.generator.emit = false` results in different emitted filenames"
# Bug report

**What is the current behavior?**

When `module.rule.generator.emit` is set to `false` for asset resources, webpack is supposed to emit the same filename as when it's set to `true`. This doesn't work correctly if there's an image minimizer in the chain, presumably because the minifier is only running when `{emit: true}` and ends up influencing the asset hash.

Note that this reproduc

[2021-06-23 21:57] alexander-akait commented on #13628
Firstly we need found place where bug stored, when we will fix or move the issue in other repo

[2021-06-23 21:57] alexander-akait commented on #13628
Close in favor https://github.com/webpack-contrib/image-minimizer-webpack-plugin/issues/217

[2021-06-23 21:57] #13628 closed

[2021-06-24 01:33] alexander-akait commented on #12102
@WalterWeidner hmm, can you profile whole build too (with `mini-css-extract-plugin`), thanks?

[2021-06-24 08:25] dkrnl opened #13629 "`CleanPlugin` ignore assets from ` compression-webpack-plugin` (*.gz and *.br)"
# Bug report

**What is the current behavior?**

`output.clean` not delete  `*.gz`  and `*.br` in dev-server and watch mode

**If the current behavior is a bug, please provide the steps to reproduce.**

1. run prod build -- `.br` and `.gz` files created
2. run webpac-dev-server -- old assets cleaned, except `.br` and `.gz`
3. run webpack watch -- old assets cleaned, except `.br` and `.gz`

**What

[2021-06-24 09:49] slorber commented on #13627
Not sure it solves the problem. Even if I filter the buildDependencies, any change will evict the whole cache.

Yes

I understand

---

Was wondering if Webpack offers any API for imperatively invalidate/manipulate some cache entries.
Current options (buildDependencies/version) seem to evict all entries at once.

[2021-06-24 10:25] tu4mo opened #13630 "webpack re-builds unstable, sometimes breaks the app"
# Bug report

**What is the current behavior?**

I have a simple webpack React app that has a dependency of a large-ish component library. webpack (running with `serve` in `development` mode) notices when I re-build the library but sometimes the app will break and I have to save a file for webpack to start the re-build again and then it might work. Sometimes the re-build process starts multiple ti

[2021-06-24 13:25] alexander-akait commented on #12961
Closing due to inactivity.

[2021-06-24 13:25] #12961 closed

[2021-06-24 13:26] #13630 closed

[2021-06-24 13:31] alexander-akait commented on #13627
in theory it is possible, here we implement logic for resolving https://github.com/webpack/webpack/blob/master/lib/cache/ResolverCachePlugin.js, also we have hooks for get/store cache

[2021-06-24 13:38] agurney opened #13632 "webpack-cli can only be found as a sibling package"
# Bug report

**What is the current behavior?**

When running webpack, it will check to see if webpack-cli is installed. If not, it will issue an interactive prompt. Whereas this check previously used `require.resolve`, it's now a plain search for `node_modules` directories in the current hierarchy. That means that it can no longer find webpack-cli if that's installed globally but webpack is insta

[2021-06-24 13:46] alexander-akait commented on #13632
Here two limitations:
- `require.resolve` never resolve global packages and it will not work before (try it) (here package for it https://github.com/sindresorhus/resolve-global, but please read below)
- `require.resolve` caches requests and we can't use it for interactive installation

I want to say it is limitation, if you want to use `webpack-cli` globally you need to install `webpack` globally

[2021-06-24 13:46] #13632 closed

[2021-06-24 14:56] alexander-akait commented on #13629
No problems for prod and watch, all assets were removed on first start and generated after compilation for build and prod, for dev server here issue https://github.com/webpack/webpack-dev-middleware/issues/861

[2021-06-24 14:58] alexander-akait commented on #13629
We always remove all assets from `dist` on first run for https://github.com/webpack/webpack/blob/master/lib/CleanPlugin.js#L65, for dev server other problem, because we use memory fs, webpack can't find old assets, but I have idea have to fix it

[2021-06-24 15:05] WalterWeidner commented on #12102
I've tried to profile it a few times but Chrome crashes so I am not sure I'll be able to get the full build with a rebuild. I've attached three different variations of a full development build but will keep trying to get the rebuild to run.

Also started seeing this warning now that I'm using the filesystem cache:
[code]
[DevelopmentBuild-ExtractCSSPlugin.cpuprofile.zip](https://github.com/webpack

[2021-06-24 18:47] alexander-akait commented on #12102
`babel-plugin-lodash` create wrong `require`/`import`, it will break cache

[2021-06-24 19:45] richiejd commented on #10375
Haven't firgured out the best way to handle, but to clarify what's happening:
package where dll is generated resolves to a given virtual namespace
package where dll is used resolves to a different virtual namespace, thus

require('../4970a0b490...') and
require('../76a393ef8c...') do not match as being the same underlying resolution

I haven't figured out how to have more control over the virtuali

[2021-06-24 20:04] WalterWeidner commented on #12102
I removed that plugin from our babel config couldn't see an observable difference in the rebuild speed. There's no warning though ;).

[2021-06-24 21:13] cheapsteak commented on #12771
Would appreciate instructions for creating heap dumps via api 🙏 (think we're hitting another memory leak)

[2021-06-24 22:18] dandansoysauce commented on #12719
I am having this bug as well. Though I don't use CRA, but webpack is not copying the files resulting to a `404 Not Found`

![image](https://user-images.githubusercontent.com/25461756/123339449-30b92380-d57d-11eb-9e8f-21700b26211b.png)

[2021-06-24 23:05] thecynicalpaul commented on #11543
@alexander-akait are there any plans to work on its support? Or this out of scope for a long time?

[2021-06-25 01:45] gita-codaio opened #13633 "Source Map Shows Generated Code File"
# Bug report

**What is the current behavior?**
For any of the devtool modes or using the configured SourceMapDevToolPlugin the generated code file for the source maps also shows up.
There are two files for each file -- the generated code and the original code.
For example the generated code file shows up as `webpack-internal:///./modules/browser/react-components/icon.ts` and the original file sou

[2021-06-25 03:16] Superwzw commented on #959
I  also encountered a similar problem in my project. After troubleshooting for a long time, I found that it might be a problem with scope hoisting enabled. I temporarily solved this problem, setting: optimization.concatenateModules:  false

[2021-06-25 04:38] adamtay commented on #12984
Bumping this as it would still be highly desirable.

[2021-06-25 07:41] tmeasday commented on #6093
@sokra this issue is very much alive in webpack5 and also affects dynamic `require()` and `import()` calls. I created another repro, although probably @ericpitcher's is just as good: https://github.com/tmeasday-shopify/webpack-require-context-repro

We are very interested about this for Storybook in large code bases because we rely on `require.context()` or some other globbing mechanism to import

[2021-06-25 07:54] tmeasday commented on #6093
Assuming this is still true, I can see why it might cause the issue. I've experimented a little bit and if the changed file is outside of the `require.context()`'s "field of view", the rebuild times are better; but certainly still nowhere near as fast as if there is no `require.context()` (~500-1000ms rebuilds vs 10ms).

Note this includes the case when the changed file does not affect the `requir

[2021-06-25 10:15] 7rulnik commented on #12084
@telenko published his own plugin and seems that we both agree that it shouldn't be in core so for now I think it should be closed

https://mangolik931.medium.com/how-i-implemented-module-federation-in-nodejs-and-did-something-wrong-724642c26da5
https://github.com/telenko/node-mf
https://github.com/telenko/node-mf-example

[2021-06-25 10:15] #12084 closed

[2021-06-25 11:33] alexander-akait commented on #959
@Superwzw What is webpack version?

[2021-06-25 11:38] alexander-akait commented on #12984
You can do it without adding types...

[2021-06-25 11:39] alexander-akait commented on #11543
@thecynicalpaul now we focused on ES modules code generation, we are on Node.js 12 and should start to migrate on ESMA modules everywhere

[2021-06-25 11:51] alexander-akait commented on #13633
It means you have two plugins for source map generation, please use https://github.com/webpack/webpack/discussions if you can't create reproducible test repo

[2021-06-25 12:22] alexander-akait commented on #12984
[code]

[2021-06-25 12:22] #12984 closed

[2021-06-25 12:43] alexander-akait opened #13636 "perf problems with `require.context`"
@sokra this issue is very much alive in webpack5 and also affects dynamic `require()` and `import()` calls. I created another repro, although probably @ericpitcher's is just as good: https://github.com/tmeasday-shopify/webpack-require-context-repro

We are very interested about this for Storybook in large code bases because we rely on `require.context()` or some other globbing mechanism to import

[2021-06-25 12:45] alexander-akait commented on #13636
@tmeasday yep, I think we have critical bug here

[2021-06-25 14:50] cjpearson opened #13637 "Providing __system_context__ when an entry point sets library.type = 'system'"
# Bug report

**What is the current behavior?**

When setting `library.type` per entry point, `__system_context__` is not set for SystemJS entry points and compilation sometimes fails.

**If the current behavior is a bug, please provide the steps to reproduce.**

The easiest way to reproduce this is by changing the test in `configCases/target/system-context`.

The original config:

[code]

I would

[2021-06-25 15:00] alexander-akait commented on #13637
please use `library: { type: 'system' } instead `libraryTarget` in `output` options

[2021-06-25 15:17] cjpearson commented on #13637
Thanks Alexander. I had copied that directly from the test, but I've updated the example to make it more clear. The behavior is the same in both cases.

[2021-06-25 15:19] alexander-akait commented on #13637
weird, we have test on this https://github.com/webpack/webpack/tree/master/test/configCases/target/system-context

[2021-06-25 15:20] cjpearson commented on #13637
Yes, the test case works correctly. The problem is when you define `library.type` under the entry point instead of under output.

[2021-06-25 15:25] alexander-akait commented on #13637
@cjpearson great, `libraryTarget` for compatibility, in future it will be removed in favor `library.type`, maybe we should improve it in docs

[2021-06-25 15:39] cjpearson commented on #13637
It looks like the docs already mentioned that it's deprecated. I think the test was written before that though.

[2021-06-25 15:47] JCMais commented on #12768
This is a common error when converting an ejected CRA project to use webpack v5. The fix would be to change the `output.globalObject` option to something other than `this`.

[2021-06-25 16:20] govindrai commented on #520
For us this was a problem because our client/server code shared on package.json. This was making our server host a bunch of client side dependencies that were already taken care of at build time. Basically we only needed 5/25 dependencies on our server. The solution to this was to separate our client and server into separate directories and have their own package.json. Then actual client side depe

[2021-06-25 16:31] alexander-akait commented on #12102
Please update https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v1.6.1, many memory leaks were fixed

[2021-06-25 16:31] alexander-akait commented on #13127
Please update https://github.com/webpack-contrib/mini-css-extract-plugin/releases/tag/v1.6.1, many memory leaks were fixed

[2021-06-25 19:46] gita-codaio commented on #13633
I only have one plugin defined using devtools -- if I remove that then there is no source map. I will try and create repro.

[2021-06-25 19:56] glebmachine commented on #12102
Found some interesting metrics
That's about dramatic performance reduction with webpack 5

I've got huge angular application, and just replaced webpack from `4.44.2` to `5.40.0` (every other dependency was left the same version as it was):
![image](https://user-images.githubusercontent.com/1610882/123478565-49225000-d608-11eb-8ad9-6a6167bcdb5f.png)

*_Insta rebuild_ means that it triggers right af

[2021-06-25 21:02] WalterWeidner commented on #12102
@alexander-akait I updated to the latest and I am still in the 7-8s range for a rebuild. I'll see if the profile changes much though.

[2021-06-25 21:32] csvan opened #13638 "Webpack output differs between operating systems (works on OSX, breaks on CentOS)"
# Bug report

**What is the current behavior?**
The same dependency gets different ids when building on different OS - one of those IDs is invalid, and leads to crashing during runtime.

**If the current behavior is a bug, please provide the steps to reproduce.**
Unfortunately I don't have a repro for this, since it involves building a proprietary system on different operating systems. I will do m

[2021-06-26 00:17] guybedford opened #13639 "module: true does not provide all exports"
# Bug report

**What is the current behavior?**

A module like:

[code]

when running under the `module: true` mode will not export anything. Ideally `module.exports` should be treated as the `default` export surely.

In addition, a module like:

[code]

would be expected to at least export `export const valid = true` but this does not seem to be the case.

**If the current behavior is a bug, plea

[2021-06-26 01:15] tmeasday commented on #13636
Thanks @alexander-akait. Happy to help with a solution once the path forward is known.

[2021-06-26 06:01] sokra commented on #13639
What do you mean with `module: true`?

[2021-06-26 14:14] edoardo-bluframe commented on #11649
How come this is downvoted?

Isn't this **the** official Webpack solution?

[2021-06-26 17:24] csvan opened #13641 ""export * from" breaks tree shaking"
# Bug report

**What is the current behavior?**
One of our dependencies re-exports the index.js file of https://www.npmjs.com/package/@material-ui/core like so:

[code]

We would expect Webpack 5 to tree shake this as per https://webpack.js.org/blog/2020-10-10-webpack-5-release/#nested-tree-shaking, however, inspecting the build shows that the ENTIRE `@material-ui/core` is included in the bundle -

[2021-06-26 20:06] csvan commented on #13641
Hm, looking into it, it seems like this is non-standard syntax (still a proposal - https://github.com/tc39/proposal-export-default-from), I suppose that is the reason it does not work?

[2021-06-26 21:15] Slapbox commented on #13641
That would explain a lot about how little good tree-shaking does on our project.

[2021-06-26 21:53] Bikeman868 commented on #2868
I am still experiencing this issue in 2021.
It looks like I only see this when mode=development. I have not been able to reproduce the problem with mode=production.

[2021-06-26 22:23] Bikeman868 opened #13642 "Byte order marks included in output file"
# Bug report

When running on Windows and when the webpack mode=development byte order marks from the source files are copied to the output file. This results in broken Javascript.

This was reported a few years ago here https://github.com/webpack/webpack/issues/2868 and was never resolved.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. On a Windows 10 machine wit

[2021-06-27 08:02] harish-sethuraman commented on #13557
@alexander-akait  Is it enough if we change the `anyOf` to `oneOf` in the [ignorePlugin.json](https://github.com/webpack/webpack/blob/master/schemas/plugins/IgnorePlugin.json) to allow one of the two objects and throw error ?

[2021-06-27 09:44] csvan commented on #13641
Would be helpful to know which non-standard constructs currently work with tree shaking. For example, I noticed Material UI and several others use the export-default-as format:

[code]

Does this for example work with TS?

[2021-06-27 12:45] guybedford commented on #13639
I mean the output option https://webpack.js.org/configuration/output/#outputmodule when used alongside `libraryTarget: 'module"`.

[2021-06-27 14:54] sokra commented on #13639
Hmm yes that not implemented yet. That's also why it's flagged as experimental.

You can try https://github.com/webpack/webpack/pull/13622 which implements basic support for that.

[2021-06-27 14:57] sokra commented on #13641
`export *` is not related to the export-default-from proposal.
Nonetheless all of these constructs are supported for tree shaking.

Could you please provide a complete reproduction for the problem?

[2021-06-27 15:04] sokra commented on #13633
That's expected when using the eval-source-map devtool. It's a workaround needed for chrome to handle breakpoints in source-maps correctly.

[2021-06-28 06:31] csvan commented on #13641
@sokra thanks for clarifying, will see what I can do

[2021-06-28 08:18] agawley opened #13648 "TypeError: Cannot read property '__esModule' of undefined when I use /* webpackPrefetch: true */"
# Bug report

**What is the current behavior?**
I am building a React App on serverless framework. I use webpack to compile both client-side and server-side code with Loadable-Components to do codesplitting. Everything works fine until I try to add `/* webpackPrefetch: true */` to any of the imports in my Loadables. When I do this, although everything still compiles fine, server code will hard cra

[2021-06-28 08:29] sokra commented on #12102
@WalterWeidner I looked into your DevelopmentBuild+ExtractCSSPlugin+Experimental.cpuprofile.zip profile:

![image](https://user-images.githubusercontent.com/1365881/123603551-48511000-d7fa-11eb-9e24-79a46b31bedb.png)

It's a bit difficult to reason about rebuild when the profile is a full build. You seem to have quite a lot CSS...
I noticied that mini-css hashing takes unexpected long time (5s, in

[2021-06-28 10:25] alexander-akait commented on #12063
Still valid, will be great to support `undefined`

[2021-06-28 10:35] alexander-akait commented on #13639
I think we can close, fixed https://github.com/webpack/webpack/pull/13622

[2021-06-28 10:39] alexander-akait commented on #13633
Answered, feel free to feedback

[2021-06-28 10:39] #13633 closed

[2021-06-28 10:43] alexander-akait commented on #13638
I think you have problem with case insensitivity, on mac os you can have `import foo from './Module.js'`,  but in file system `Module.js` and `module.js`, so it will work on macos but broken on case sensitivity os

I think you load this module using dynamic `import()`

[2021-06-28 10:44] alexander-akait commented on #13638
You can use `named` and debug the problem https://webpack.js.org/configuration/optimization/#optimizationmoduleids

[2021-06-28 10:49] alexander-akait commented on #13642
Expected, we don't remove `Byte order marks` in development mode, because we try to make optimizations in production, also in some cases developers may want to keep it (but by default terser remove it). I recommend setup linter and enable this rule https://eslint.org/docs/rules/unicode-bom, better to check on problems on lint step, feel free to feedback

[2021-06-28 12:20] #13639 closed

[2021-06-28 14:20] ef4 commented on #12549
Yeah, this can happen if you're using [babel-plugin-transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime) along with babel's [`sourceType: 'module'`](https://babeljs.io/docs/en/options#sourcetype).

babel-plugin-transform runtime is inserting an import statement into the file, which causes webpack to treat the file as an ES module, which causes it to be an error to try to a

[2021-06-28 14:21] #3531 closed

[2021-06-28 14:23] graingert commented on #3531
I think still make sense

[2021-06-28 14:25] alexander-akait commented on #3531
Yep, but time to drop IE9/IE10/IE11, not sure it is good idea to spend time on this...

[2021-06-28 15:17] mozhs commented on #6753
<img width="1027" alt="截屏2021-06-28 下午11 09 37" src="https://user-images.githubusercontent.com/11417330/123660740-7ff5a180-d866-11eb-8f85-cfa29146355d.png">

Putting [ext] in Output related configuration items in the document can easily mislead developers. As of 2021-06, there are still people who are misled by this document, which is enough to show that the document needs to be considered.

[2021-06-28 16:05] sokra commented on #12102
Above hashing in mini-css should be addressed by https://github.com/webpack-contrib/mini-css-extract-plugin/pull/774

[2021-06-28 16:06] sokra commented on #12102
btw. You can use `node --cpu-prof node_modules/webpack/bin/webpack.js ...` to create cpu profiles without using the devtools (which often crash)

[2021-06-28 17:52] WalterWeidner commented on #12102
Does that work for incremental builds? Maybe I was just using it wrong but if I used `Ctrl + C` to end the process, I was always left without a profile. I remember seeing a bug report in Node for that issue. Is there another way to end the process so that the profile is output?

[2021-06-28 18:14] WalterWeidner commented on #12102
@alexander-akait and @sokra you are both awesome. Thank you for continuing to follow up on this.

That dropped the build down to 3.91 seconds!

[2021-06-28 18:25] csvan commented on #13638
Closing this since I am pretty sure it has nothing to do with Webpack per se, but rather how we use it. This happened when two particular builds (out of dozens) happened to run in parallel, so I am guessing something weird was going on.

@alexander-akait probably has the right idea, but everything started working as soon as these two builds were run separately. Webpack is working as intended.

[2021-06-28 18:25] #13638 closed

[2021-06-28 18:34] sokra commented on #12102
That works for me. It will write a cpuprofile file the the process is closed with `Ctrl + C`

[2021-06-29 07:35] JakobJingleheimer commented on #6753
Yes, this is what mislead me.

Also very strange that it is absent in the ones available to filename (which has all? others)

[2021-06-29 13:01] glen-84 opened #13664 "5.41.0 regression: Cannot use keyword 'await' outside an async function"
# Bug report

**What is the current behavior?**

I'm using `experiments.topLevelAwait`, and after upgrading to 5.41.0, I'm seeing:

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a webpack config with `experiments.topLevelAwait` set to `true`, and use top-level await.

I can create a repro if it helps.

**What is the expected behavior?**

No error, as this wor

[2021-06-29 13:08] brendonco opened #13665 "Truncated codes when Function exported as federated module"
# Bug report

**What is the current behavior?**
Currently have 42 line of codes in a utils.js file which will be used in another Module Federation.

**Federate Module 1**

delta.js // with 22 line of codes
[code]

utils.js // with 42 line of codes. All are exported functions
[code]

webpack.config.js
[code]

**Federated Module 2**

module2.js

[code]

webpack.config.js //module 2

[code]

**Soluti

[2021-06-29 14:08] alk-sdavid opened #13667 "Webpack 5.41.0 regression: Systemjs bundle exports are missing"
# Bug report

**What is the current behavior?**

When I bundle a Systemjs module with webpack v5.41.0, exports are missing. For example, if my module exports `someMethod()`, then when I import this System module with Systemjs, the method will be missing:

[code]

It seems this issue occurs only when the module have an external dependency.

**If the current behavior is a bug, please provide the ste

[2021-06-29 14:31] Aabir1 opened #13668 "Unable to migrate from webpack 4 to 5."
I am very new to webpack. I have to migrate an application which written in Laravel, Docker and below versions.
I read complete documents and tried with stackoverflow as well.
____________________
|   Previous Version        |
---------------------------------
node v9.11.2
npm v5.0.3
babel-loader:  v^6.2.4
gulp v3.9.1
webpack v^3.8.1

preCommand => ./node_modules/.bin/webpack --progress --colors

[2021-06-29 15:31] #13668 closed

[2021-06-29 15:38] alexander-akait commented on #13665
Duplicate https://github.com/webpack/webpack/issues/13457

[2021-06-29 15:38] #13665 closed

[2021-06-29 15:57] sokra commented on #13664
as workaround update the acorn version. We need to force push the version in the package.json. If you want to you can set a PR.

[2021-06-29 16:28] gpoitch opened #13671 "File path info in chunkFilename function when optimization.chunkIds is deterministic"
## Feature request

**What is the expected behavior?**
I am using the `output.chunkFilename` function to generate friendly readable chunk filenames based on their source path.  This works well if `optimization.chunkIds` is set to `named`.  However, this leaves big long ids in the source code references (e.g. "src_web_app_components_home_index_js").  Ideally, I'd like to leave `optimization.chunkId

[2021-06-29 16:42] alexander-akait commented on #13671
You can use `/* webpackChunkName: "my-chunk-name" */`

[2021-06-29 16:45] alexander-akait commented on #13671
Also you can implement own plugin for naming, example https://github.com/webpack/webpack/blob/main/lib/ids/DeterministicChunkIdsPlugin.js

[2021-06-29 17:03] gpoitch commented on #13671
I want the file naming to be automatic based on the source path without having to add webpackChunkName comments everywhere. I also just want the default DeterministicChunkIdsPlugin id generation.

I guess i'm looking for where `output.chunkFilename` gets called in the source code.  All of the name & files info gets excluded from the `chunk` in deterministic mode.

[2021-06-29 17:18] alexander-akait commented on #13671
it is not easy and not possible in some cases

[2021-06-29 20:08] gpoitch commented on #13671
I'm having some success simply applying both plugins. Not sure of any unintended side-effects yet:

[code]

[2021-06-29 21:54] kanoshin commented on #13127
@sokra @alexander-akait I made the same measurements using updated less-loader and mini-css-extract-plugin. Looks like memory consumption improved in absolute numbers but I still see steady growth from snapshot to snapshot. This time I used [heapdump](https://www.npmjs.com/package/heapdump) package for taking snapshots.

There are still references to Compilation between the snapshots:

<img width=

[2021-06-29 22:42] sokra commented on #13127
hmm... interesting... Could you try to run `gc()` before doing the heapdump? (`--expose-gc`)

[2021-06-30 00:19] kanoshin commented on #13127
@sokra sure, just did that again. Here are two snapshots one after 1 rebuild and second one after ~20 rebuilds across 4-5 different files (TS, LESS, CSS) https://drive.google.com/file/d/1p0v_sdl65CqaaS1PY2WU2iSWzfk-Cn7X/view?usp=sharing.

<img width="898" alt="Screen Shot 2021-06-29 at 4 37 00 PM" src="https://user-images.githubusercontent.com/11817360/123880804-42415900-d8f8-11eb-8023-771f1bea16e

[2021-06-30 07:25] AHRL commented on #12964
Is this problem solved?

[2021-06-30 07:29] sokra commented on #12964
afaik yes

[2021-06-30 07:29] #12964 closed

[2021-06-30 10:12] armandorod2000 opened #13673 "Whitesource vulnerability CVE-2021-23364 detected"
Hello!

A Whitesource scan is detecting a MEDIUM vulnerability in a dependency to **browserslist** https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-23364

I've seen there was already an issue reporting this but unfortunately, it was closed and the PR wasn't merged (https://github.com/webpack/webpack/pull/13471).

Any plans for taking care of this?

[2021-06-30 11:33] AHRL commented on #12964
I updated webpack from 4.29.6 to 5.40.0. The local build succeeded. But when I published my project, a similar error occurred.
![image](https://user-images.githubusercontent.com/31957724/123953592-f7980d80-d9d9-11eb-88a4-9570a68f3af3.png)

[2021-06-30 11:44] AHRL commented on #12964
I updated webpack from 4.29.6 to 5.40.0. The local build succeeded. But when I published my project, a similar error occurred.What could be the cause of the error?
![image](https://user-images.githubusercontent.com/31957724/123954877-7fcae280-d9db-11eb-8b2f-6fd426259e8d.png)
![image](https://user-images.githubusercontent.com/31957724/123954939-983afd00-d9db-11eb-8427-5589d6b18fd6.png)

[2021-06-30 11:50] alexander-akait commented on #12964
@AHRL please provide reproducible example?

[2021-06-30 11:56] alexander-akait commented on #13673
Please run `npm update`, we use `^` https://github.com/webpack/webpack/blob/main/package.json#L14 for this purposes

[2021-06-30 11:56] #13673 closed

[2021-06-30 12:08] alexander-akait commented on #13671
Interesting solutions :smile:  but should work without problems :smile:

[2021-06-30 12:09] AHRL commented on #12964
@alexander-akait
https://codesandbox.io/s/trusting-tree-q39oi?file=/build/webpack.dev.conf.js
Here are some of my configurations.

[2021-06-30 12:11] alexander-akait commented on #12964
@AHRL Weird, files are empty...

[2021-06-30 12:52] armandorod2000 commented on #13673
Thanks @alexander-akait.

I'm using the version 7.6.0 of nestjs-cli and this one is using an outdated version of webpack. I should post this issue in the nestjs-cli repository instead.

Sorry, my bad.

[2021-06-30 13:16] AHRL commented on #12964
@alexander-akait sorry,please retry.

[2021-06-30 14:49] BurntCoffee543 commented on #13572
@alexander-akait We recently upgraded to Webpack 5.40.0 and are running into issues with the md4 hash in [ChunkGraph.js](https://github.com/webpack/webpack/blob/v5.40.0/lib/ChunkGraph.js) and [FileSystemInfo.js](https://github.com/webpack/webpack/blob/v5.40.0/lib/FileSystemInfo.js). Any way to handle this? Thanks!

[2021-06-30 15:35] alexander-akait commented on #13572
I want to say you need md4 support to works with webpack

[2021-06-30 21:04] VictorGaiva commented on #11444
I was able to find out what the issue was. I had the following files:

[code]

This caused a circular dependency. To resolve the issue I changed the default importal at `src/b.jsx` to be the same as `src/a.jsx` and the issue was fixed.

[2021-07-01 03:39] AHRL commented on #12964
@alexander-akait
I modified my configuration.
`
runtimeChunk: {
            name: 'manifest'
        },
`
![image](https://user-images.githubusercontent.com/31957724/124060337-6bc8c480-da5f-11eb-8fae-85b9125bae04.png)
This is mainifest file.   https://codesandbox.io/s/trusting-tree-q39oi?file=/manifest.js

[2021-07-01 05:11] AHRL commented on #12964
![image](https://user-images.githubusercontent.com/31957724/124068851-da148380-da6d-11eb-9ca8-9dc318568296.png)

[2021-07-01 05:33] AHRL commented on #12964
I solved this problem by adding the following configuration.Thanks~
`
concatenateModules: false
`

[2021-07-01 06:32] brendonco commented on #13457
@sokra does webpack version 5.41.1 fix this issue?

[2021-07-01 07:55] aberezkin commented on #5866
@alexander-akait, hi 👋

Stable webpack 5 was there for a while. Can we expect progress on this issue?

[2021-07-01 08:02] sokra commented on #13127
Ok it took me a full day to implement tooling for analysing heapsnapshots, but I think I created something that works. Using the devtools it's next to impossible to follow the retainer chain when WeakMaps are involved. The tricky thing with WeakMaps it that you would need to follow the key retainer and the WeakMap retainer while skipping over cycles where the key is held by something the value ref

[2021-07-01 08:27] oxygene opened #13679 "Minimize optimization changes program logic with certain Nullish Coalescing usages"
# Bug report
I'd like to raise awareness that program logic can be broken when using the nullish coalescing operator and minimize optimization using webpack 5.

**What is the current behavior?**
A special use case of the nullish coalescing operator breaks when minimize optimization is turned on using terser.

**If the current behavior is a bug, please provide the steps to reproduce.**
See bug repo

[2021-07-01 09:30] martinstark commented on #11277
I'm running into this issue over and over with the latest version(s) of webpack, when linking packages built locally, inside or outside of monorepos. Via `yarn link` or other methods.

compiling the external dep with commonjs:

`ReferenceError: __WEBPACK_EXTERNAL_MODULE__module_name__ is not defined`

and as umd:

`TypeError: __webpack_modules__[e] is not a function`

Doesn't seem to matter if I b

[2021-07-01 10:52] alexander-akait commented on #5866
Hello, it is on our roadmap, recently we implement support es modules output with small limitations, after fixing limitations we will implement this

[2021-07-01 11:08] aberezkin commented on #5866
Nice to hear that, thank you. As you said earlier it will be a great feature :)

[2021-07-01 11:15] mdirshaddev opened #13681 "Nested Routing with webpack dev server not working"
I have a query webpack is used to build the creact-react-app and so cra works properly with nested routing with react-router-dom. But when i configure react app with webpack 5. Nested routing stops working. Its says history.pushState error.

[2021-07-01 11:26] jantimon commented on #13127
The html-webpack-plugin stores a singleton of `PersistentChildCompilerSingletonPlugin` to the compiler using a `WeakMap`:
https://github.com/jantimon/html-webpack-plugin/blob/8f8f7c53c4e4f822020d6da9de0304f8c23de08f/lib/cached-child-compiler.js#L60-L67

This singleton stores a the result of a child compiler:

https://github.com/jantimon/html-webpack-plugin/blob/8f8f7c53c4e4f822020d6da9de0304f8c23d

[2021-07-01 11:57] XfaonAE opened #13682 "Webpack HMR breaks when webpack is installed in a library which is then installed to a project"
# Bug report

**What is the current behavior?**
I have created a library which contains webpack, vue and electronjs.  When you call the dev function, it calls webpack which this block of code...
[code]
I set the cwd so that it finds the webpack config in the root of the library
Now, everything loads, electron vue and webpack does its buisness, although one problem is, hmr doesnt work.
When I updat

[2021-07-01 12:02] alexander-akait commented on #12995
Closing due to inactivity. Feel free to feedback. Thanks!

[2021-07-01 12:02] #12995 closed

[2021-07-01 12:03] alexander-akait commented on #12465
I think we should print warning in this case, still valid

[2021-07-01 12:05] alexander-akait commented on #13681
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please ask this in CRA repo

[2021-07-01 12:05] #13681 closed

[2021-07-01 12:08] alexander-akait commented on #11277
@martinstark Please provide example how we can reproduce it

[2021-07-01 12:10] alexander-akait commented on #13679
Close in favor https://github.com/terser/terser/issues/1003, sorry we can't solve it here, please wait the fix in terser

[2021-07-01 12:10] #13679 closed

[2021-07-01 12:14] alexander-akait commented on #13457
No, you can send a fix

[2021-07-01 13:02] artaommahe opened #13683 "Inline loaders are ignore in webpack 5"
# Bug report

**What is the current behavior?**

Inline loaders are ignored if webpack configuration has rules for these files.

[code]

[code]

results in
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/artaommahe/webpack-5-inline-loaders

code https://github.com/artaommahe/webpack-5-inline-loaders/blob/main/src/index.js
webpack config http

[2021-07-01 13:10] alexander-akait commented on #13683
Works as expected `file-loader` is not compatibility with asset modules

[2021-07-01 13:10] #13683 closed

[2021-07-01 13:10] alexander-akait commented on #13683
Also `[ext]` includes `.` (dot), you should not specify `.` when you use `[ext]`

[2021-07-01 13:14] alexander-akait commented on #13683
`image-webpack-loader` should be used as pre loader, because it is compression and not affected on output format (i.e. commonjs or es modules) https://webpack.js.org/configuration/module/#ruleenforce

[2021-07-01 13:25] alexander-akait commented on #13127
@jantimon this is memory leak...

[2021-07-01 13:31] alexander-akait commented on #13648
Duplicate https://github.com/webpack/webpack/issues/12993, you can check it using patch from https://github.com/webpack/webpack/pull/13431

[2021-07-01 13:31] #13648 closed

[2021-07-01 15:28] orosro commented on #11671
Any news regarding this issue? It's pretty frustrating :)

[2021-07-01 15:47] alexander-akait commented on #12964
It should work without using `concatenateModules: false`

[2021-07-01 15:54] alexander-akait commented on #12964
You use webpack v4 due `vue-cli-service`, run `npm ls webpack` and look at output, `vue-cli-service` still use `webpack` v4, you have mixed version and get a lot of problems with it like above

[2021-07-01 15:55] alexander-akait commented on #12964
Original bug was solved

[2021-07-01 18:43] #13664 closed

[2021-07-02 02:43] masx200 opened #13687 "Can the asynchronous script be loaded without deleting the script tag?"
https://github.com/webpack/webpack/blob/c181294865dca01b28e6e316636fef5f2aad4eb6/lib/runtime/LoadScriptRuntimeModule.js#L140

Can the asynchronous script be loaded without deleting the script tag?

[2021-07-02 03:49] hy739455177 opened #13688 "error in ./node_modules/@vue/reactivity/dist/reactivity.esm-bundler.js"
Could you tell me how to solve this problem???When I create a new Vue  project,then yarn serve

environment  "@vue/cli-service": "~4.5.0",

Module parse failed: Unexpected token (763:13)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
| }
| class RefImpl {

|     _shallow;
|     _valu

[2021-07-02 03:57] hy739455177 commented on #13688
bug

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "webpack ***@***.***&gt;;
发送时间: 2021年7月2日(星期五) 中午11:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [webpack/webpack]  error  in .***@***.***/reactivity/dist/reactivity.esm-bundler.js (#13688)

For maintainers only:

 webpack-4

 webpack-5

 bug

 critical-bug

 enhancement

 documentation

 performance

 depende

[2021-07-02 03:59] snitin315 commented on #13688
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-07-02 04:39] namnguyen2091 commented on #959
just clear cache in my case

[2021-07-02 05:14] sokra commented on #13127
Let's call it a "cache". It doesn't leak a infinite amount of memory, only the latest compilation used for html generation.

Maybe we can reduce the memory usage a bit by not referencing `Chunk` objects from the compilation (Chunks will hold on the whole Compilation and parent Compilation, because you can reach other chunks from there and modules, and for backward-compat reasons, etc.)

[2021-07-02 06:16] jantimon commented on #13127
I also can't see any leaks here. But we can definitely try to improve the cache size :)

Maybe I should explain why this cache was introduced at all:

Previously the html-webpack-plugin child compiler would compile on every watch run even if no relevant file was changed.
With the new filesnapshot api it was finally possible to run a child compiler only if it's files change

[2021-07-02 06:59] #13667 closed

[2021-07-02 08:01] jingleding commented on #13688
我也遇到这个问题，怎么解决呢，今天一来打包就坏了

[2021-07-02 08:09] jingleding commented on #13688
"webpack": "^4.46.0",
@vue/cli-plugin-babel": "~4.5.0",
    "@vue/cli-plugin-eslint": "~4.5.0",
    "@vue/cli-plugin-router": "~4.5.0",
    "@vue/cli-plugin-typescript": "~4.5.0",
    "@vue/cli-plugin-vuex": "~4.5.0",
    "@vue/cli-service": "~4.5.0",
    "@vue/compiler-sfc": "^3.0.0-0",
    "@vue/eslint-config-prettier": "^6.0.0",
    "@vue/eslint-config-typescript": "^5.0.2",
    这是我的配置文件

[2021-07-02 08:34] hy739455177 commented on #13688
我没解决，我也不知道咋整，然后想了下，还是用vite吧，vite和vue3更配

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "webpack/webpack"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月2日(星期五) 下午4:10
***@***.***&gt;;
***@***.******

[2021-07-02 08:35] jingleding commented on #13688
哦，我是今天突然不行了，之前是可以的

---Original---
From: ***@***.***&gt;
Date: Fri, Jul 2, 2021 16:34 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [webpack/webpack]  error  in .***@***.***/reactivity/dist/reactivity.esm-bundler.js (#13688)

 我没解决，我也不知道咋整，然后想了下，还是用vite吧，vite和vue3更配

 ------------------&amp;nbsp;原始邮件&amp;nbsp;------------------
 发件人:

[2021-07-02 08:47] zlls opened #13691 "TypeError: Cannot read property 'jsonData' of undefined"
Please excuse that the bug report is quite short. I don't have time to debug the problem myself today. Since the bug doesn't come from other dependencies according to the stacktrace and the only change since the last usage is in the webpack version, I post the bug report anyway.

# Bug report

**What is the current behavior?**

The build process crashes when watching for changes. The first build w

[2021-07-02 08:59] anilverma087 commented on #11350
**Created node API with HTTPS Server**

working fine on local host getting   [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues.
while hosting  on IIS server

[2021-07-02 10:24] liamfend commented on #13691
I had this problem  just now,   deps. is

 "@pmmmwh/react-refresh-webpack-plugin": "^0.4.3",
 "react-refresh": "^0.10.0",
 "webpack": "^5.38.0",
"webpack-dev-server": "^3.11.2",

simple page is work fine ,  but when  real project building     process  will crashes.

[2021-07-02 10:48] hronro commented on #2933
@sokra any updates?

[2021-07-02 10:52] agawley commented on #13648
Thanks @alexander-akait. Patch confirms this is the issue.

[2021-07-02 10:53] alexander-akait commented on #2933
Ready for testing https://github.com/webpack/webpack/releases/tag/v5.41.0

[2021-07-02 10:59] alexander-akait commented on #13691
Please provide reproducible test repo

[2021-07-02 11:00] alexander-akait commented on #13688
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use English.

[2021-07-02 11:00] #13688 closed

[2021-07-02 11:01] #13687 closed

[2021-07-02 11:02] alexander-akait commented on #13028
bump

[2021-07-02 11:04] alexander-akait commented on #13127
@jantimon Why we need to keep whole compilation, maybe we can cache only related stuff?

[2021-07-02 11:09] liamfend commented on #13691
I try to revert webpack version to 5.38.0. project works fine!    I should more time to provide reproducible test repo.because project files is too many..I haven't figured out what caused the error

[2021-07-02 11:10] alexander-akait commented on #13691
If you need fix ASAP, please provide, bug I think bug somewhere else

[2021-07-02 12:05] liamfend opened #13694 "tree shaking is broken"
# Bug report

**What is the current behavior?**

 tree shaking  is broken!!!
I have written some components like this:

[code]
I'm just import Svg1 ,eg:
[code]

bundle file includes all svg files

**If the current behavior is a bug, please provide the steps to reproduce.**

this is repo.
git@github.com:liamfend/webpack-tree-shaking.git

**What is the expected behavior?**
tree shaking  work fine

*

[2021-07-02 12:29] alexander-akait commented on #13694
No

[2021-07-02 12:47] alexander-akait commented on #13694
Output after setting `esmodules: true` for babel:

**minimizer**

[code]

As you can see you have only one module, i.e. SvgAddCommentsFill

[2021-07-02 12:51] alexander-akait commented on #13694
I think better ask why removed modules is not marked for `webpack-bundle-analyzer`, here repo  https://github.com/webpack-contrib/webpack-bundle-analyzer, webpack works as expected

[2021-07-02 12:51] #13694 closed

[2021-07-02 12:54] alexander-akait commented on #13127
@kanoshin Can you test again, please update webpack https://github.com/webpack/webpack/releases/tag/v5.42.0 and less-loader https://github.com/webpack-contrib/less-loader/releases/tag/v10.0.1

[2021-07-02 13:17] liamfend commented on #13688
你去 node_modules看下webpack版本。。。  强制指定一下版本webpack的版本 。。

[2021-07-02 13:17] artaommahe opened #13695 "Improve emitAsset error with sourceFilename"
## Feature request

Currently assets with the same filenames provide an error like `Conflict: Multiple assets emit different content to the same filename ${file}`. This error includes final file destination (like `assets/smth.svg` e.x.) but there is no way to know what particular local files lead to this.
https://github.com/webpack/webpack/blob/c181294865dca01b28e6e316636fef5f2aad4eb6/lib/Compilat

[2021-07-02 13:22] alexander-akait commented on #13695
Note, not all assets can have `sourceFilename`, but there it possible we can do

[2021-07-02 13:23] alexander-akait commented on #7519
bump

[2021-07-02 14:56] meskill commented on #13691
@alexander-akait There is my [reproduction repo](https://github.com/meskill/webpack5-json-data-bug) for the issue.

I managed to narrow down the bug to using only one external package `ajv` with a specific version

[2021-07-02 14:58] alexander-akait commented on #13691
Critical

[2021-07-02 15:50] StreetStrider commented on #13127
I've tried it. I see no memory growth when modifying both TS and LESS modules. We had +100Mb per modification of all files in package once. Right now it is gone :+1: However, when I modify LESS files there's an occasinal error in the debugger. It crashes the process. This is it:
[code]
I remember no such error in the previous tests (before today's fixes). May it be caused by the fixes?

[2021-07-02 15:52] alexander-akait commented on #13127
Yes, regression, please wait, we will fix it in near future

[2021-07-02 16:10] jantimon commented on #13127
yes that's what I meant by we should try to decrease the cache size 😄

Right now the following is cached:

https://github.com/jantimon/html-webpack-plugin/blob/8f8f7c53c4e4f822020d6da9de0304f8c23de08f/lib/cached-child-compiler.js#L31-L37

[code]

ChildCompilationResultEntry is coming from: https://github.com/jantimon/html-webpack-plugin/blob/8f8f7c53c4e4f822020d6da9de0304f8c23de08f/lib/child-compi

[2021-07-02 16:13] alexander-akait commented on #13127
@jackfranklin yes
[code]

 above trace where they stored

[2021-07-02 16:19] StreetStrider commented on #13127
I see some `ModuleGraphConnection` objects in the delta. I've also detected them in the previous tests.
![изображение](https://user-images.githubusercontent.com/2124761/124302788-4c6a8e00-db6a-11eb-8e44-2b13e7000a14.png)

[2021-07-02 16:22] alexander-akait commented on #13127
@StreetStrider It can be any non official plugin, please provide profiling

[2021-07-02 16:44] StreetStrider commented on #13127
@alexander-akait
https://drive.google.com/file/d/14C4JDlYMssApdpXl5OLPvWYCQCcbKXQC/view

[2021-07-02 16:45] alexander-akait commented on #13127
thanks I will look soon

[2021-07-02 16:59] benjamind commented on #2933
I tried the 5.41.0 release, unfortunately I'm still getting this error:

[code]

This is with the following config:

[code]

[2021-07-02 17:01] alexander-akait commented on #2933
You still on old vesion

[2021-07-02 17:03] benjamind commented on #2933
I'm on 5.41.0, and lit is definitely ES Module format as I am using it elsewhere directly.

[2021-07-02 17:07] alexander-akait commented on #2933
Are you sure? Please provide example, I'm pretty sure that webpack prefer to use non es format due invalid `main`/`exports` or other fields in `package.json`

[2021-07-02 17:10] benjamind commented on #2933
Yes very sure that lit-element is an es module format, here's a snippet from its package.json:

[code]

 Its a web component base class library, and its used extensively in ES module only environments.

[2021-07-02 17:37] alexander-akait commented on #2933
Can you provide small repo I want to look at this

[2021-07-02 17:41] benjamind commented on #2933
Sure thing, here you go:

https://github.com/benjamind/webpack-modules

[2021-07-02 20:20] raduchiriac commented on #13691
While waiting...

I did a little `package.json` hack to force an older webpack version:
[code]

Then run `npm i`

[2021-07-02 21:34] benjamind commented on #2933
Further investigation seems to indicate the module output works if I force the internal environment in the options to module:

[code]

This stops the error, but doesn't result in a valid module output. It appears that for the ES Module externals we're not getting an appropriate chunkId set in the ChunkGraph. This then results in entries like this in the output bundle:

[code]

With the `__WEBPACK_

[2021-07-03 01:03] TerrySlack commented on #13691
@raduchiriac  I get this error in StoryBook, running webpack 5.39.1 - 5.41.1. Tried your fix and no luck.

[2021-07-03 01:22] alanquigley-toast commented on #13691
Running into the same issue, switching to 5.41.0 doesn't resolve issue.

node version v12.x
Operating System: osx

Works when building to a system module directly, but fails in fresh storybook running webpack 5

[2021-07-03 01:47] peiris commented on #13691
I have the exact same issue.

[2021-07-03 03:20] KevinPan commented on #10537
My entry js didn't run if dependOn is specified

[2021-07-03 04:02] nhhockeyplayer opened #13698 "webpack interfering with elite frameworks - - Error: Module not found: Error: Can't resolve 'fs'"
SUBJECT: - Error: Module not found: Error: Can't resolve 'fs'

This error is rampant all over the web and intersects across many build methods

WEBPACK is forcing our SPA build configuration to create an angular webpack builder and add a configuration to the webpack.config.js as part of our build in order to get past this as follows

[code]

and the following code within webpack.config.js is neede

[2021-07-03 06:40] KevinPan commented on #10537
I found my entry js is not going to be "webpackBootstrap" if dependOn is specified, so the entry is not excuted.

[2021-07-03 07:23] raduchiriac commented on #13691
@TerrySlack I used that very snippet inside a storybookjs project myself. Make sure you only have webpack inside the `resolutions` and you run `npm i` (this is not to be taken as a solution, it's temporary)

[2021-07-03 08:20] agawley commented on #12993
Hi webpack folks. Any guidance on when this fix might make it into a release? Or if there is anything I can do to help it along. Thanks!

[2021-07-03 08:39] winixt commented on #13691
I try to revert webpack version to 5.41.1. project works fine!

[2021-07-03 13:02] alexander-akait commented on #13691
We will fix it in near future, sorry

[2021-07-03 13:04] alexander-akait commented on #2933
Thanks for feedback, we will fix it

[2021-07-03 13:05] #13698 closed

[2021-07-03 18:17] KevinPan commented on #12863
I have the same problem.

[2021-07-03 19:53] guybedford opened #13700 "Target: node12 throws no dynamic import"
# Bug report

**What is the current behavior?**

When setting `target: 'node12'` for a modules build, I get the message:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Set `target: 'node12'` and build a module with a dynamic import into an output module.

**What is the expected behavior?**

Node.js 12 supports the latest modules features so should work equal

[2021-07-04 07:41] #12814 closed

[2021-07-04 09:42] dilyanpalauzov commented on #2933
The generated ES6 output contains the lines:
[code]
I think both lines are not necessary.

[2021-07-04 12:19] dgb23 commented on #13691
I have the same issue, when importing avj (json-schema library) and running webpack with `--watch`. The first build runs normally without errors, but subsequent builds (typically the second one after a changing a file) crashes webpack with the same stacktrace as above.

Setting `cache: false` on `webpack.config.js` resolves the issue.

[2021-07-04 13:41] TerrySlack commented on #13691
@raduchiriac @dgb23 This worked.  I don't have a webpack.config.js for Storybook, but I made an entry in main.js in the  webpackFinal method setting config.cache = false;  And it works.  Thanks for this.  I spent a lot of time trying various suggestions and only this one worked.

[2021-07-04 13:53] AviVahl opened #13701 "[5.42.0 Regression] TypeError: Cannot read property 'dataUrl' of undefined"
# Bug report

This is a regression we've had when moving from 5.41.1 to 5.42.0.
When compiler is In watch mode (using `webpack-dev-middleware`), on a second file change, I get the following crash:
[code]

@sokra I suspect it might be related to https://github.com/webpack/webpack/pull/13680

**What is the current behavior?**

Crashes the process with that exception.
The `Module` instance without th

[2021-07-04 14:21] karlhorky commented on #13290
I've requested that the compiled version of webpack be upgraded in Next.js too: https://github.com/vercel/next.js/issues/26914

[2021-07-04 15:03] myNameIsDu commented on #13691
@alexander-akait
Can I try to fix this problem？

[2021-07-04 15:41] peiris commented on #13691
This worked. Thanks @dgb23 & @TerrySlack

`module.exports = {
  ...
  webpackFinal: async (config, { configType }) => {
    ...

    config.cache = false
    return config
  },
}`

[2021-07-04 20:32] dnsnx commented on #13691
-   Webpack Version: 5.42.0
-   Node Version (`node -v`): v14.17.0
-   NPM Version (`npm -v`):  6.14.13
-   OS: Windows 10 20H2 (Build 19042.1052)

I'm having this bug, too. Here are some information from my side. Maybe it helps to find the issue. This is the error I get, when it happens:

This is the content of the file `2021-07-04T19_15_00_411Z-debug.log`:

Actually it happens every second edit

[2021-07-04 21:31] My69goodtimes opened #13702 "Ok"
Ok

_Originally posted by @My69goodtimes in https://github.com/webpack/webpack/discussions/13699#discussioncomment-963603_

[2021-07-04 22:01] My69goodtimes commented on #13691
Cool

[2021-07-04 22:02] My69goodtimes commented on #13691
⁸

[2021-07-05 04:15] Airkro commented on #536
We have too many [plugins](https://github.com/jantimon/html-webpack-plugin#plugins) to handle html tags inject, they have many mutex logic. and that list keep became longer.

HTML entry could really save the day.

[2021-07-05 04:56] iceleo-com opened #13705 "A small chunk file"
When I compiled code, I got a chunk file with content
`(self.webpackChunkccApp=self.webpackChunkccApp||[]).push([[20],{7020:function(){}}]);`

What is this file? And how to combine it with the main app file?

[2021-07-05 09:53] sokra commented on #2933
`output.module: true` is the option you want to set, instead of these internal options. You also need to set `experiments.outputModule: true` to enable the experiment. Actually these internal options should also require enabling the experiment.

[2021-07-05 10:00] sokra commented on #2933
If you see an error like that:

[code]

you want to put only browsers that support ESM into your browserslist, or add an browserslist, or add `target: ["web", "es2015"]`.

[2021-07-05 10:12] sokra commented on #2933
There also seem to be a bug that `module` externals doesn't work correctly when concatenated.

[2021-07-05 10:14] sokra commented on #2933
Note that it's still very experimental and work in progress. Still these feedback is very value-able.

[2021-07-05 10:17] sokra commented on #2933
I don't see `Object.defineProperty(exports, '__esModule', { value: true })` anymore in the output.

yes `"use strict"` is unnecessary and could be removed. Note that minimizing will also remove it.

[2021-07-05 10:18] sokra commented on #2933
For now set `optimization.concatenateModules: false`...

[2021-07-05 10:23] jkthinksmart opened #13709 "TypeError: Cannot read property 'jsonData' of undefined"
During app rebuild this error happens:

let data = module.buildInfo.jsonData;
TypeError: Cannot read property 'jsonData' of undefined

Webpack 5.42.0

[2021-07-05 10:41] dilyanpalauzov commented on #2933
I call `webpack --mode development` using 5.42.0 with webpack.config.js:
[code]
the resulting file contains:
[code]
so the line `Object.defineProperty(exports, '__esModule', { value: true });` is there.

Since the purpose of IIFE is to protect from namespace pollution and since ES6 modules serve the same purpose, the IIFE-construct above is not necessary.

`optimization.concatenateModules: false`

[2021-07-05 11:09] dnsnx commented on #13709
This bug is already mentioned here:

https://github.com/webpack/webpack/issues/13691

[2021-07-05 11:11] dnsnx commented on #13709
Duplicate of #https://github.com/webpack/webpack/issues/13691

[2021-07-05 11:34] #13702 closed

[2021-07-05 11:36] #13709 closed

[2021-07-05 11:36] alexander-akait commented on #13701
Duplicate https://github.com/webpack/webpack/issues/13691, sorry for this regression

[2021-07-05 11:36] #13701 closed

[2021-07-05 11:43] #13691 closed

[2021-07-05 11:44] alexander-akait commented on #2933
@dilyanpalauzov yep, it is bug, we will fix it, so we have it in `experiments` :+1:

[2021-07-05 11:47] alexander-akait commented on #13705
Duplicate https://github.com/webpack/webpack/issues/11671 or you have empty module, feel free to feedback

[2021-07-05 11:47] #13705 closed

[2021-07-05 11:48] alexander-akait commented on #13700
Do you use es module output?

[2021-07-05 13:26] lovasoa commented on #6725
Hello ! Could this be re-opened, since it still seems to be an issue for a lot of people ?
Why does webpack still try to parse the wasm file when instructed to load it with file-loader ?
Is there a solution for those using create-react-app ?

[2021-07-05 13:57] guybedford commented on #13700
Yes this is for the es module output specifically.

[2021-07-05 14:00] alexander-akait commented on #13700
You need specify Node.js version https://github.com/webpack/webpack/blob/main/lib/config/target.js#L174, because 12 includes `12.0.0`/`12.1.0`/etc but these versions are not supported dynamic import

[2021-07-05 14:01] guybedford commented on #13700
Right, is there a way to specify latest 12 though? It seems a bit unintuitive otherwise to expect all versions of a release line.

[2021-07-05 14:03] alexander-akait commented on #13700
12.7 means your support 12.7 and above, ideally you should set the same version of node as you specify in package.json, it's like a lower limit

[2021-07-05 14:05] guybedford commented on #13700
Ah ok thanks I wasn't aware that syntax was supported. So effectively `12` means `12.0` and not `12.latest`. Is there a syntax for `12.latest` without knowing the current minor?

[2021-07-05 14:12] alexander-akait commented on #13700
No `latest` syntax

[2021-07-05 14:26] wafflepie commented on #13683
@alexander-akait Are inline loaders going to be deprecated soon?

I maintain an internal library of React components where SVG icons are imported like this:

[code]

It's really ugly, but it allows the library to be used in any Webpack application without needing to rely on some specific config, so it's one less thing to track in a plethora of different applications. The SVG icons are thus plug'n'

[2021-07-05 14:33] alexander-akait commented on #13683
We have `!=!` syntax for complex cases, look at here https://github.com/webpack/webpack/issues/11074#issuecomment-648658214

[2021-07-05 14:34] alexander-akait commented on #13683
Also we prepare new version of `image-minimizer-webpack-plugin`https://github.com/webpack-contrib/image-minimizer-webpack-plugin/`  and describe a lot of cases, so you can migrate from `image-webpack-loader` on good, full featured and cachable version

[2021-07-05 15:06] guybedford commented on #13700
Thanks for the info. Closing.

[2021-07-05 15:06] #13700 closed

[2021-07-05 16:27] wafflepie commented on #13683
@alexander-akait Thanks a lot for the response. I've managed to get a single icon working:

[code]

SVGR now correctly transforms the SVG file to a React component and no `.svg` rules apply. The issue comes with using an expression to import the icons.

[code]

This doesn't work for me, the resulting file contains

[code]

Is it possible to use the `!=!` syntax somehow with these expressions?

I'm

[2021-07-05 16:29] alexander-akait commented on #13683
Can you clarify? Maybe you can create small repo with example what do you want to achieve and I will help you

[2021-07-05 16:30] wafflepie commented on #13683
Sure, I'll prepare a repo and get back to you, thanks!

[2021-07-05 16:42] PillarsZhang commented on #6630
I'm trying to solve the problem at its root.

- In **terser-webpack-plugin**, the stage to tap into 'processAssets' is [PROCESS_ASSETS_STAGE_OPTIMIZE_SIZE](https://github.com/webpack-contrib/terser-webpack-plugin/blob/491b2fd25dd42723ba3368ff15a8aa32f647d8a4/src/index.js#L658).

- In **BannerPlugin**, the stage is [PROCESS_ASSETS_STAGE_ADDITIONS](https://github.com/webpack/webpack/blob/c46ccfb56a6

[2021-07-05 16:50] alexander-akait commented on #6630
We need the new options for banner plugin, `afterMinize: true | false` and use other hook, feel free to send a PR, we have the same request for CSS too https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/64

[2021-07-05 17:06] wafflepie commented on #13683
@alexander-akait https://github.com/wafflepie/reproduction-svgr-webpack `yarn && yarn start`

For some reason, this reproduction throws an error instead of emitting a file with a data URI, but the fully static import works fine.

[2021-07-05 19:33] rossng commented on #12960
I'm also seeing this problem.

[2021-07-05 20:22] PierBover commented on #6437
The solution by @micha149 with `webpack-virtual-modules` works beautifully, although it would be great if Webpack simply accepted a string of code as an entry.

[2021-07-05 21:12] lorenzodallavecchia commented on #2933
Thanks for the hard work: this generated module code has improved a lot.

I have a question though: what's the story about tree shaking?
After a test, I obtained the following bundle (excerpt).

[code]

The code populating the `__webpack_exports__ ` makes it impossible to statically analyze the connection between exports and function declarations. An external process attempting to tree-shake this

[2021-07-05 21:54] guybedford opened #13719 "type: null throws an error"
# Bug report

**What is the current behavior?**

Create a `package.json` with `"type": null` and this will throw:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Running a build of any module file in the same folder output into the same folder.

**What is the expected behavior?**

While this is an invalid value, it shouldn't fail the build.

**Other relevant

[2021-07-05 22:22] sokra commented on #2933
Currently the focus is on creating applications or runtime-consumed libraries and not build-time-consumed libraries (tbh, they should be published unbundled anyway).

Nonetheless this need to be fixed not for tree-shaking support, but for live-binding support.

[2021-07-05 22:54] sokra commented on #6437
You can use Data URL for that:

[code]

[2021-07-05 22:58] PierBover commented on #6437
Is this documented anywhere?

[2021-07-06 00:12] peripateticus commented on #2933
Wait a second, but this is precisely (or a main driver) of why this feature is needed if, I'm not mistaken. This builds and outputs ESM modules which allows downstream build tooling to tree-shake out unused code. This is needed specifically at build time.

[2021-07-06 02:05] CooLNuanfeng commented on #12186
+1

[2021-07-06 05:15] sokra commented on #6437
In which configs didn't it work?

A data url Module is kind of anonymous so you have different options to apply rules to it:

By `mimetype`: Instead of `test` you can use `mimetype`. You can also come up with your own mimetypes for modules like svelte

By giving the module a name:

[code]

[2021-07-06 08:21] #13719 closed

[2021-07-06 09:23] sokra commented on #2933
Let's make it step by step. The first step is application support.

For real library support there will be a new mode that disables chunking and emit the modules directly (optionally concatenated).

[2021-07-06 09:47] shen-lan opened #13727 "When specified, "proxy" in package.json must be a string or an object."
1、`Vue Project`. `vue.config.js`
[code]
2、the code:

    proxy: [
      {
        context: ['/auth', '/api'],
        target: 'http://localhost:3000'
      }
    ]

[2021-07-06 12:36] hahaiamzd opened #13728 "When i use source-map, the tree shaking is doesn't work."
# Bug report

**What is the current behavior?**
When i use source-map, the tree shaking is doesn't work.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://webpack.js.org/guides/tree-shaking/
I follow the code in this guide, but i use source-map. After webpack, i will find the square function is in the bundle.

**What is the expected behavior?**
I expect the squa

[2021-07-06 13:53] bkuster opened #13731 "Webpack 5: Invalid export when using runtimeChunk 'single'"
# Webpack 5: Invalid `export` when using runtimeChunk 'single'

**What is the current behavior?**
When exporting a `module` from a multiple entry project with a common runtime chunk, the `export` is wrapped in an arrow function.

**If the current behavior is a bug, please provide the steps to reproduce.**
I created a small reproducable repo [here](https://github.com/bkuster/webpack-runtime-bug).

[2021-07-06 14:12] PierBover commented on #6437
Thanks for the tips @sokra I will try to reproduce and open an issue once I have figured it out.

Is all this documented anywhere? I looked at the entry docs but didn't find anything related to data URIs or the `!=!` thing.

[2021-07-06 14:26] chenxsan commented on #6437
@PierBover https://webpack.js.org/api/loaders/#inline-matchresource for `!=!`.

[2021-07-06 14:43] PierBover commented on #6437
Thanks @chenxsan . Would you accept a PR to the entry docs to mention these?

[2021-07-06 20:00] ColCh opened #13735 "Specify target context for chunk loading"
## Feature request

**What is the expected behavior?**

Specify `window` context (as for `document.createElement` as following) AND element append target for `ensureChunkHandlers`

**What is motivation or use case for adding/changing the behavior?**

This is useful for bundling libraries using webpack. Let me elaborate on this a bit.

As lib author (like playerjs or hls.js - that are examples, I'm

[2021-07-06 23:32] chenxsan commented on #6437
PR welcome.

[2021-07-07 03:01] maoamao commented on #11066
I have the same question.Has it been solved??

[2021-07-07 07:02] Bikeman868 commented on #13642
Sorry, but this is really dumb. Why would developers want BOM in the middle
of their output when it makes the Javascript unparsable and therefore
unusable.
BOM only makes sense as the first few bytes of a file as stored on disk. It
never makes sense to include BOM in the middle of a file.
This is utter nonsense. If you just don't want to fix it, then just say
that you don't want to fix it. Making

[2021-07-07 14:11] vquigley commented on #11887
This fix worked for me but I worry that I am now moving to a more unstable version in general. Does anyone know if 4 will be released as stable? Should we log a bug against 3 for a fix against that version?

[2021-07-07 14:18] guybedford opened #13740 "Source maps only generated for .js files"
# Bug report

**What is the current behavior?**

In ncc, when generating builds for `.cjs` or `.mjs` files, source maps seem to be disabled for these non-`.js` extensions.

**If the current behavior is a bug, please provide the steps to reproduce.**

ncc currently includes the following hack for the `.cjs` file extension:

* Adding a `.js` extension to the output filename - https://github.com/verc

[2021-07-07 14:22] #13728 closed

[2021-07-07 14:28] alexander-akait commented on #13642
Why do not setup linter and avoid BOM in files? It was middle due bundling, but I think it makes sense to remove it, feel free to send a fix

[2021-07-07 14:32] alexander-akait commented on #13740
Yep, bug, feel free to send a fix

[2021-07-07 15:37] kiruh opened #13742 "[entryname] template string on Chunk-level"
## Feature request: Allow using entry name template string when generating chunk name

**What is the expected behavior?**

Following config

[code]

Generates following result

[code]

**What is motivation or use case for adding/changing the behavior?**

I have multiple entries with chunks and I want to put each entry and its chunks in separate folder.

**How should this be implemented in your opi

[2021-07-07 15:49] guybedford commented on #13740
After further checking this does seem to be working fine for the `.mjs` cases, it is just the `.cjs` hack that is needed here.

[2021-07-07 16:06] patel-jeel92 opened #13743 "Webpack Compilation errors when trying to run e2e tests using cypress"
# Bug report

**What is the current behavior?**
We have an angular application which I have started to write e2e tests for using cypress. This test runs fine when I run it using the run command. However, we also have a script in package.json that clones in another repo (configs-repo) into a directory defined in our angular app (src/assets) and builds it. After I pull the repo into our angular app

[2021-07-07 18:24] guybedford opened #13744 "External node-commonjs not working"
# Bug report

**What is the current behavior?**

When using the external return value `'node-commonjs ...'`, Webpack is throwing an error that this module is not found, instead of parsing the format value.

**If the current behavior is a bug, please provide the steps to reproduce.**

Set the externals hook return value to the string `"node-commonjs external"`.

**What is the expected behavior?**

[2021-07-08 05:25] Bikeman868 commented on #13642
Setting up the linter does not fix the problem, it just tells you that the problem exists. This is an improvement, but actually it's quite easy to see already, the browser refuses to parse the JavaScript and stops at line 1 character 1. I recognized it right away as BOM.

To anyone reading this that wants to know how to fix the problem, you need to open each source file in VS Code, then on the bot

[2021-07-08 05:28] #13744 closed

[2021-07-08 08:44] #13743 closed

[2021-07-08 08:46] alexander-akait commented on #13740
Bug here https://github.com/webpack/webpack/blob/78e9a002c6b2ba2a4461769f8074256bce6cd9ff/lib/SourceMapDevToolPlugin.js#L155, just add cjs extension

[2021-07-08 08:50] alexander-akait commented on #13727
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Pleask ask this in vue-cli repo, anyway there is recommendation how to fix the problem, please follow this

[2021-07-08 08:50] #13727 closed

[2021-07-08 10:24] sokra commented on #13127
I open-sourced a tool to easily analyse these heapsnapshots: https://github.com/sokra/heapdump-analyser

[code]

This shows the retainer graphs for all `Compilation` objects within the heapsnapshot.

[2021-07-08 12:15] parasharsh commented on #11705
Upgrading from Webpack 4 to Webpack 5 , alias starting with '#' does not work. https://github.com/webpack/webpack/issues/11705#issuecomment-712875972 mentions that we should not use '#'. Is this a change in behavior in Webpack 5?

[2021-07-08 13:21] sokra commented on #13127
@StreetStrider I can't see a leak in your profiles...

[2021-07-08 14:19] StreetStrider commented on #13127
@sokra thanks, I was not exactly sure. Increasing in delta does not mean leak directly, but the numbers seemed suspicious to me.

How to prepare the third profile? Usually I take 1st profile, then make some actions, then take 2nd. Do I need to just add another round to that process?

[2021-07-08 14:25] sokra commented on #13127
Another round. Then view the 3rd profile with `Objects allocated between 1 and 2` selected.

[2021-07-08 14:52] jkosir opened #13755 "WebAssembly module is (sometimes) included in initial chunk."
# Bug report

**What is the current behavior?**
When including a wasm module with `const wasmPromise = import('@/path/to/wasm/module.wasm')` the build sometimes fails without any other changes being done to the code or configuration (like 1 in 15 times). Otherwise it works as expected, wasm module is not included in initial chunk and is loaded asynchronously when requested.

I have even tried wrap

[2021-07-08 15:31] SevenOutman opened #13756 "`splitChunks.cacheGroups.defaultVendors` not extending default behavior"
# Bug report

I was trying to split my app code and all `node_modules` packages into two separate bundles and I wanted to name the dependencies bundle `vendors.js`.

Here's my configuration:

[code]

**What is the current behavior?**

The output app bundle contains only runtime scaffold and vendors bundle contains both dependencies and all my app
 code.

**If the current behavior is a bug, please

[2021-07-08 22:37] MuhammadMabrouk commented on #2090
Any updates on this issue?!

[2021-07-08 23:25] youroff opened #13760 "Dynamic imports with query parameters"
## Feature request

**What is the expected behavior?**
I'm trying to use dynamic module loading like this:
[code]
Currently the module is perfectly resolved and split when no query parameters used. Once I add query param, the build fails with: `protected\:5 Uncaught Error: Cannot find module './protected?token=XXXXXXX'`

**What is motivation or use case for adding/changing the behavior?**
In my ca

[2021-07-09 07:01] olabala opened #13762 "webpack5 migrate thrown an 'can not get final name' error"
# Bug report
I'm using [react-virtualized](https://github.com/bvaughn/react-virtualized) which uses [babel-plugin-flow-react-proptypes](https://github.com/brigand/babel-plugin-flow-react-proptypes),

**What is the current behavior?**

and when I tried to migrate to webpack 5 from webpack 4, got this error.
[code]
(It worked perfect in webpack4)

**If the current behavior is a bug, please provide t

[2021-07-09 08:33] xgidiussenjensent-els opened #13763 "Webpack throws an error when tslint-loader has errors"
# Bug report

We are having problems with a change introduced in Webpack version 5.22.0 (https://github.com/webpack/webpack/pull/12632).
With that change, Webpack throws errors when a module has errors.

In our case, we use the tslint-loader module for linting.
We have configured the tslint-loader module to emit linting errors as errors and not warnings.

**What is the current behavior?**

Webpack

[2021-07-09 10:58] sod opened #13764 "asset modules concatenation"
Version: webpack@5.44.0

While playing around with https://webpack.js.org/guides/asset-modules/ in webpack@5, i wondered why the production build doesn't inline the resources and instead keeps them in module form.

I'm talking about this kind of rule:

[code]

This creates a module for every file that just returns a string. Adding `sideEffects:false` seems to yield the same.

What we do right now

[2021-07-09 18:26] sokra commented on #13764
Yes, concatentation for asset modules isn't implemented yet, but makes sense.

[2021-07-10 00:06] mkotsollaris commented on #11811
Do we have any updates on this? I am very much looking to build next federated apps too.

[2021-07-10 03:14] yellow1912 opened #13765 "[v5 migration] Cache group "default" conflicts with existing chunk."
# Bug report

**What is the current behavior?**

I'm not exactly sure if this is a bug, so please let me know if I should move this somewhere else. I'm in the processing of moving webpack from v4 to v5, and I run into the following error:

In my webpack config file, I use the below config:

[code]

I want to make sure everything is put into a single file. I know it's not optimized but the size of

[2021-07-10 06:51] #12983 closed

[2021-07-10 10:17] gkn opened #13767 "webpack 5.44.0 Watch mode: Cannot read property 'get' of undefined"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

This is from a very large codebase for a web application.
Initial builds are running OK. When running webpack watch it will fail compiling with the following message when changing a source file:

[1] ERROR in [initial]
[1] Cannot read property 'get' of undefined
[1] TypeError: Cannot read property 'g

[2021-07-10 19:12] #13740 closed

[2021-07-10 20:15] ScriptedAlchemy commented on #11811
I created a plugin called nextjs-MF which solves the problem for nextjs

[2021-07-11 00:19] echofriend commented on #6719
Webpack team,
Your import.meta support has issues.
Following your instructions to import web workers as per your documentation "https://webpack.js.org/guides/web-workers/#example" is not working for me.

The moment I add this line "const worker = new Worker(new URL('./myworker.js', import.meta.url));", I get this error on webpack-cli    :    "Critical dependency: Accessing import.meta directly is

[2021-07-11 14:51] nikhilnayyar002 opened #13768 "dynamic import of modules containing same import statements sometimes result in duplicate code generation"
# Bug report

**What is the current behavior?**

If we have two modules say A and B. A and B imports react.
During dynamic import of these two module I found react code to be duplicated.

**If the current behavior is a bug, please provide the steps to reproduce.**

This is the [repo link](https://github.com/nikhilnayyar002/react-min).

This is the source and public.
![image](https://user-images.gi

[2021-07-11 20:02] mkotsollaris commented on #11811
Thanks Zack. I believe [nextjs-mf](https://github.com/module-federation/nextjs-mf#readme) works great for CSR, but doesn't support SSR apps. For SSR, the only workaround I've seen is [this one](https://github.com/module-federation/module-federation-examples/tree/master/nextjs-ssr) which uses [telenkos' package](https://github.com/telenko/node-mf)

[2021-07-11 22:59] knynkwl opened #13769 "Option to generate only one banner.txt file - webpack.BannerPlugin"
## Feature request

**What is the expected behavior?**
Only generate one banner.txt file

**What is motivation or use case for adding/changing the behavior?**
Currently, we have a lot of js files that are being split. This plugin adds a new file for every js file generated, but all the copyright is the same across all txt files.

**How should this be implemented in your opinion?**
As an option

**

[2021-07-11 23:45] ScriptedAlchemy commented on #11811
I have others which are not publicly available. You can use fetch() and post to have remotes SSR themselves inside a next/dynamic instance server side

[2021-07-11 23:55] My69goodtimes commented on #13768
[9128254029](9128254029)
Duplicate of #

[2021-07-12 08:19] l-zoy commented on #13621
@alexander-akait
Hi, I tried to solve it, but found yarn run special-lint-fix
`
type IsAnyReplaceObeject<T> = true extends T & false
? {[Key: String]: Any}
: T;
type DevServer = IsAnyReplaceObeject<import(‘webpack-dev-server’).Configuration>
`
Finally, types.d.ts will become `DevServer: {[key: string]: any }`

Is there any way to skip compiling `import(‘webpack-dev-server’).Configuration` ?

The e

[2021-07-12 08:37] stachupl opened #13772 "Webpack 5 - failed to load chunk on IE 11. Problem with script added with appendchild"
# Bug report

Question on StackOverflow: https://stackoverflow.com/questions/68317209/webpack-5-failed-to-load-chunk-on-ie-11-problem-with-script-added-with-append

**What is the current behavior?**
After upgrade webpack from version 4 to 5 I have problem with IE 11. I have all chunks in path '/' and I have script with code:
[code]
After executing the above code, the browser starts trying to fetch

[2021-07-12 09:29] geekeren opened #13773 "".s" in AMD target bundled js often change and cause content hash change"
There is always a ".s" equal to a number, in my bundled javascript, which is in a AMD target, and I will use requireJS to load the js file.

for example

[code]

Sometimes, The number "142" in the bundled js will change (into 141) even though my source code doesn't.
 I want to know what is the ".s=" and the number after it in the code. And how can I avoid the number's change to cause content-hash

[2021-07-12 09:38] alexander-akait commented on #13772
Expected, you need polyfill https://developer.mozilla.org/ru/docs/Web/API/Document/currentScript or set `publicPath: '/'`

[2021-07-12 09:38] #13772 closed

[2021-07-12 09:41] alexander-akait commented on #6719
@echofriend Please provide reproducible example

[2021-07-12 09:42] nikhilnayyar002 commented on #13768
Which one?

[2021-07-12 09:42] alexander-akait commented on #13762
Please fix it and we will reopen an issue

[2021-07-12 09:42] #13762 closed

[2021-07-12 09:43] alexander-akait commented on #13773
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-07-12 09:43] #13773 closed

[2021-07-12 09:44] alexander-akait commented on #13773
Please respect time of other developers, we don't know your version/code/configuration/etc, so it is impossible to help

[2021-07-12 09:50] alexander-akait commented on #13755
Fixed in webpack v5, please consider to update, webpack v4 only accept security fixes, sorry, also you can ask vue cli about webpack v5 compatibility

[2021-07-12 09:50] #13755 closed

[2021-07-12 09:55] alexander-akait commented on #13760
It means you have invalid URL, please create reproducible example to I can help you

[2021-07-12 09:56] #13760 closed

[2021-07-12 09:58] alexander-akait commented on #13769
Sorry, banner plugin for creating something on the top of file(s), creating new file is out of scope banner plugin, anyway you can create own plugin https://webpack.js.org/contribute/writing-a-plugin/.

Also you can have `test`/`include`/`exclude` (https://webpack.js.org/plugins/banner-plugin/) to add something on a one file.

[2021-07-12 09:58] #13769 closed

[2021-07-12 10:00] alexander-akait commented on #13763
Please open an issue in `tslint-loader`, we can't fix it here, sorry

[2021-07-12 10:00] #13763 closed

[2021-07-12 10:02] #13767 closed

[2021-07-12 10:10] alexander-akait commented on #13756
Yes, using `splitChunks.cacheGroups.defaultVendors` is not extending default behavior, it is expected (https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L1030), we need docs it, feel free to feedback

[2021-07-12 10:32] alexander-akait commented on #13731
Fixed https://github.com/webpack/webpack/releases/tag/v5.44.0, please update webpack, also to avoid es6 syntax, please set `target: ['web', 'es5']`, or create browserslist with required browsers https://webpack.js.org/configuration/target/#browserslist

[2021-07-12 10:32] #13731 closed

[2021-07-12 10:32] xgidiussenjensent-els commented on #13763
That's ok @alexander-akait, thank you

[2021-07-12 10:33] sokra commented on #13735
I don't think that use case is that common to be included in the core.

It's possible to replace the whole `LoadScriptRuntimeModule` with your own variant of it.

Alternatively I'm open to add a `__webpack_load_script__` module API to override the script loading at runtime. That's only a 5 LOC change and would allow to do that:

[code]

[2021-07-12 12:31] #11944 closed

[2021-07-12 12:43] Abito12 opened #13779 "Uncaught ReferenceError: Cannot access '__WEBPACK_DEFAULT_EXPORT__' before initialization"
# Bug report

I saw the issue https://github.com/webpack/webpack/issues/13411. This talks about the circular dependencies.

But in my case the only change is webpack upgrade from 4 to 5.
![IssueWebpack](https://user-images.githubusercontent.com/18062708/125288905-44fe6e00-e33c-11eb-86de-d98f61881030.PNG)

webpack version:  5.40.0
Node.js version: v14.17.2
Operating System: windows OS

[2021-07-12 12:45] alexander-akait commented on #13779
Please do not ignore the issue template, fix it and I will reopen

[2021-07-12 12:45] #13779 closed

[2021-07-12 12:45] alexander-akait commented on #13779
Fill out all fields from https://github.com/webpack/webpack/issues/new?assignees=&labels=&template=Bug_report.md

[2021-07-12 12:46] alexander-akait commented on #13779
But in 99% cases you have circular dependencies

[2021-07-12 14:00] Abito12 commented on #13779
I can see a difference in the file generated before and after upgrade from v4 to v5.

![image](https://user-images.githubusercontent.com/22198939/125299869-29e52b80-e347-11eb-8732-36d5c5e039a5.png)

``
__webpack_require__.d(__webpack_exports__, {
    /* harmony export */
    "default": ()=>(__WEBPACK_DEFAULT_EXPORT__)/* harmony export */
});
``
This is the extra line of code getting generated and

[2021-07-12 14:04] alexander-akait commented on #13779
Because you have circular deps

[2021-07-12 14:44] sokra commented on #13768
Yes this might happen as long the shared potion is smaller than 20kb. In this case the optimizer allows duplication to save a request (to the shared chunk). It usually doesn't know that your two `import()`s are always triggered together. It assumes that each `import()` may or may not be used based on some condition. It assumes that all `import()` on the same level are [independent](https://en.wiki

[2021-07-12 16:43] dmnsgn commented on #13372
@privatenumber Looking at it differently, is there a way to programatically invalidate the cache for a specific file? (in memory or not)

[2021-07-12 19:53] ColCh commented on #13735
Sure, that's why I was not sure writing that text :)

I think that dynamic `import()` + `importFunctionName` is way more functional, and I really like it.
Demo is here: https://github.com/ColCh/webpack-13735

And it's really looks like `__webpack_load_script__` override, but it seems to cover all our needs for `import()` control... "Seems to"

Let my try to work a bit on that... I may return with

[2021-07-12 19:53] #13735 closed

[2021-07-13 09:24] nikhilnayyar002 commented on #13768
Thanks @sokra

### First Thing

Yeah I understand your point. After doing the changes you suggested, all node_modules library imports of app and app2 are put down in one chunk:
[code]

But this code:

[code]

I did it intentionally. Why? Well imagine this scenario:
[code]

Here we cannot put both the components in same file. Is'nt?
As you described:

So here I guess we might have to change somethi

[2021-07-13 17:13] slorber commented on #11612
Also affected by this with Docusaurus, since turning `symlinks` from true to false I see a lot of problems in our monorepo:
- dev only hot reload for changes in some parts the codebase (packages using Yarn workspace symlinks)
- Netlify prod/deploy previews deploy stale code due to persistent caching.

Change PR, than can serve as a repro: https://github.com/facebook/docusaurus/pull/5126/ + `yarn i

[2021-07-13 17:18] alexander-akait commented on #11612
Yep, here bug, maybe we need prioritize it

Why you need this? It is fully unsafe, it will not work with yarn PnP, pnpm, etc?

[2021-07-13 17:20] alexander-akait commented on #11612
Ideally you should not disable `symlinks`, if you have problems with this, better to fix it, disable it should be workaround for cache only

[2021-07-13 17:27] slorber commented on #11612
I don't understand what you mean here, this is the default mode of a Yarn workspace and all monorepos I work on behave this way.

The Docusaurus website consumes its own monorepo packages , exposed as symlinks
Symlink `./node_modules/@docusaurus/monorepo-package` targets `./packages/monorepo-package`
And we do update `./packages/monorepo-package/dist/MyReactComponent.js` in dev and expect hot relo

[2021-07-13 17:48] alexander-akait commented on #11612
I mean change something in `node_modules`, except linked repos, i.e. workspaces

[2021-07-13 23:12] isasmendiagus opened #13780 "[Question]: Bundle a generic library with workers for NodeJS and Electron"
### **Context**:
We have a central JS-based library that uses workers. We are trying to bundle the library with WebPack and use it among differents environments (NodeJS, Electron and also will be used to develop a plugin for VS Code).

### **Problem**:
The bundle is working in NodeJS so far so good. But when we try to import it into an electron application ([Electron-react-boilerplate](https://git

[2021-07-14 03:32] Vict0r-Chen commented on #9980
I also encountered this problem, I don't know how to make webpack skip the package in optionalDependencies

[2021-07-14 03:55] rimline opened #13784 "不开启mfsu或dynamicImport，build失败"
# Bug report

**What is the current behavior?**
**图一：**
![image](https://user-images.githubusercontent.com/16633071/125558144-9560c6b5-c444-4b63-b29b-cc187ca562f7.png)
[https://github.com/webpack/webpack/issues/12345#issuecomment-755273757](url)
**图二**
![Snipaste_2021-07-14_11-52-58](https://user-images.githubusercontent.com/16633071/125558427-9a64ea56-8ae4-40b1-92f9-ba1930dc0176.png)
初步分析：图一的构建失败

[2021-07-14 05:31] #13007 closed

[2021-07-14 08:31] AnubhutiRoX commented on #13779
how can you identify circular dependencies. any suggestions ?

[2021-07-14 08:56] cdalexndr opened #13787 "Build simple bundle no runtime chunk"
## Feature request

**What is the expected behavior?**

Build simple bundle without any runtime chunk code overhead.
Stackoverflow question: https://stackoverflow.com/questions/68369841/webpack-simple-bundle-no-runtime-chunk

**What is motivation or use case for adding/changing the behavior?**

Building simple, independent bundles. No need for additional runtime code (useless overhead).

**How sho

[2021-07-14 09:40] barak007 commented on #11660
Is there any progress on the topic?

[2021-07-14 09:59] alexander-akait commented on #13784
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use English

[2021-07-14 09:59] #13784 closed

[2021-07-14 10:02] alexander-akait commented on #13787
Duplicate, already tracked https://github.com/webpack/webpack/issues/11382 and https://github.com/webpack/webpack/issues/2933, but it is possible only for libraries

[2021-07-14 10:02] #13787 closed

[2021-07-14 10:10] alexander-akait commented on #13780
Please ask this in electron repo, you set https://github.com/isasmendiagus/scanoss-scannerJS/blob/main/webpack.config.js#L9, so `import.meta.url` should be supported, but looks like your env is not supported `import.meta.url` why? Due:

electron thinking it is commonjs format, try change `filename: 'electron-scanoss.js'` on `filename: 'electron-scanoss.mjs',`

Please use https://github.com/webpack

[2021-07-14 10:10] #13780 closed

[2021-07-14 10:12] alexander-akait commented on #13779
You can try https://github.com/aackerman/circular-dependency-plugin

[2021-07-14 11:47] bcis-kassel commented on #7613
Im also interested in this feature. My use case is an electron app which by design needs two configurations (one for electron-renderer and one for electron-main) because it is only possible to specify one target per configuration.

However, in watch mode my electron app should restart on file changes, but it restarts twice per file change.

[2021-07-14 16:07] ItsOnlyBinary opened #13791 "Webpack 5 multiple web workers with shared chunks failing to load"
# Bug report

**What is the current behavior?**
Multiple web workers within webpack are unable to load shared chunks from the correct url due to the workers self.location being different than the window.location of the original page

**If the current behavior is a bug, please provide the steps to reproduce.**
I have created a demo project to reproduce the issue here: https://github.com/ItsOnlyBina

[2021-07-14 16:41] Cherry opened #13792 "Optional chaining operator stripped when used with imported file"
# Bug report

**What is the current behavior?**

When importing a file that exports a simple object, attempting to use that import with optional chaining results in the operator being stripped.

A full reproduction can be found on the repo here: https://github.com/Cherry/webpack-optional-chaining-imports, but here's a quick example:

- An `imported.js` and an `index.js`. `imported.js` looks like
[

[2021-07-14 16:43] alexander-akait commented on #13792
Thanks

[2021-07-14 17:20] vgaraschuk opened #13793 "Watch mode: Changes from node_modules are ignored unless package version is changed"
# Bug report

**What is the current behavior?**

When you start webpack in the watch mode, then change something in a module from node_modules, webpack initializes the build process, but the changes are not reflected in the resulting file. However if you change the version of that module, the changes are applied properly.

**If the current behavior is a bug, please provide the steps to reproduce.*

[2021-07-14 17:20] Cherry commented on #13792
Looks like this might be a duplicate of #12960 after investigating further - sorry!

[2021-07-14 17:23] alexander-akait commented on #13793
Expected and will be answered a lot of time https://github.com/webpack/webpack/issues/11612

[2021-07-14 17:23] #13793 closed

[2021-07-14 17:25] alexander-akait commented on #13792
Yep, you are right, duplicate, let's close in favor https://github.com/webpack/webpack/issues/12960, thanks for hing

[2021-07-14 17:25] #13792 closed

[2021-07-14 17:25] alexander-akait commented on #12960
Other example https://github.com/webpack/webpack/issues/13792

[2021-07-14 19:57] Wesleysaur opened #13794 "DefinePlugin doesn't replace argument to a function using typescript"
**Do you want to request a *feature* or report a *bug*?**

Bug fix

**What is the current behavior?**
The key in my code is not replaced with the proper value. `undefined` is printed in console.log

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
Add the following to the webpack config:
[code]
Create a constants.tsx file in the src directory with the following:

[2021-07-14 20:01] alexander-akait commented on #13794
`DefinePlugin` doesn't change identifier in `import`/`export`, it is expected, you need to use:
[code]

[2021-07-14 20:03] alexander-akait commented on #13794
Also please use:
[code]

https://webpack.js.org/plugins/define-plugin/#usage

Feel free to feedback

[2021-07-14 20:03] #13794 closed

[2021-07-14 21:25] Wesleysaur commented on #13794
Got it, thanks

[2021-07-15 01:58] dko-slapdash opened #13795 "In --watch mode, have an option to compare "before" and "after" CONTENT of the changed file, not only the timestamp"
## Feature request

Have an option in `watchOptions` which tells the watcher to additionally compare the changed file's content and not trigger if the timestamp is changed, but the content is not.

Consider this command:

[code]

**What is the expected behavior?**

With this new option set to `true`, the above `touch` may not trigger the watch-mode build.

**What is motivation or use case for addi

[2021-07-15 10:57] alexander-akait commented on #13795
What is webpack version?

[2021-07-15 11:22] johnnykrk commented on #215
In my case the styles in bootstrap.css was always at top of my custom styles scss.
To fix that I changed the loaders order in webpack.dev.config.js to have fisrt the test: /\.scss$/:
            {
                test: /\.scss$/,
                use: [
                    'style-loader', 'css-loader', 'sass-loader'
                ]
            },
            {
                test: /\.css$/,

[2021-07-15 11:24] alexander-akait commented on #215
I think we can close it, if somebody have problems with order, please open an issue in https://github.com/webpack-contrib/css-loader with example of the problem, currently most of the problems are solved

[2021-07-15 11:24] #215 closed

[2021-07-15 12:01] alexander-akait commented on #13791
You have wrong `publicPath` due local server, please use ` publicPath: 'auto',`, empty `publicPath` is invalid in most of cases, we strongly recommend to use `auto` value if you need relative URLs

[2021-07-15 12:01] #13791 closed

[2021-07-15 13:19] p3x-robot opened #13796 "FEATURE MISSING (this function is working with file-loader) Asset modules is only working with relative paths"
I have an output that is not in the `/` path, but instead, it is in `/prod/webpack/`.
So the output is there.
The problem:
[code]

So, if everything for the assets is relative generating paths it generates a css like this:
[code]

So it generates the url: `prod/webpack/assets/89a52ae1d02b86d61439.eot`
But given the CSS is already under a public path: `prod/webpack/bundle.13123891f123.css`

it trie

[2021-07-15 13:21] alexander-akait commented on #13796
`useRelativePath` was removed due bugs, we have `publicPath: 'auto'` for relative URLs, please use this

[2021-07-15 13:21] #13796 closed

[2021-07-15 13:28] alexander-akait commented on #13683
Hm, works fine:
[code]

[code]

webpack config:
[code]

but you can safely remove `url-loader`:
[code]

I am missing something?

And sorry for delay

[2021-07-15 13:32] alexander-akait commented on #13796
Yes, they are relative, you don't need provide `publicPath` anymore in most cases, except you use CDN, all URLS are relative and you don't need worry about it anymore

[2021-07-15 13:33] alexander-akait commented on #13796
It is valid, you should setup right static value for your server

[2021-07-15 13:36] alexander-akait commented on #13796
don't know, you ignore the issue template

[2021-07-15 13:38] alexander-akait commented on #13796
If you need something weird you can use `assetModuleFilename` as `Function` and generate any URLs, `publicPath: 'auto'` create relative assets, and it is enough for 99% cases, in other case please use `Function`, but in most cases it means you have wrong static value for your server

[2021-07-15 13:41] alexander-akait commented on #13796
check `html-webpack-plugin` options if you use it and place there it was generated

[2021-07-15 14:00] dmnsgn commented on #13372
More info:

- after installing a new dependency, I can see the entry point file is updated correctly `http://localhost:8080/index.js` when loaded directly in the browser
- looking at devtool `Sources` though (`webpack://webpack-memfs-cache/../../%00#test/4214e9419161c37372ede8c48045ecad/index.js?`), I see the webpack generated code isn't updated and only contain the previous state, with only one d

[2021-07-15 14:19] jacobp100 opened #13797 "ModuleFederationPlugin does not pass down options.shareScope to ContainerPlugin"
# Bug report

ModuleFederationPlugin does not pass down options.shareScope to ContainerPlugin

In these lines, https://github.com/webpack/webpack/blob/7fbf3af0950713ccd2de7130b7208ae02f51616b/lib/container/ModuleFederationPlugin.js#L63-L69, `options.shareScope` is not passed down, even though ContainerPlugin accepts this.

**What is the current behavior?**

nil

**If the current behavior is a bug,

[2021-07-15 15:07] jacobp100 opened #13800 "Module Federation runtime-dynamic share scope"
## Feature request

We're trying to have a very strict setup, where all versions of MFEs get the exact versions of packages they were tested with locally. We're having a few hiccups with peer dependencies - mainly react UI libraries where react is marked as a peer dependency. Two MFEs could have the same version of a react UI library, but different versions of react.

For now, we've got a share sc

[2021-07-15 15:42] alexander-akait commented on #13797
Because it is different options? `ContainerPlugin` is low level api.

[2021-07-15 15:43] alexander-akait commented on #13800
Because it is expected, and should not be used in this way?

[2021-07-15 15:47] jacobp100 commented on #13800
@alexander-akait What's wrong with the approach set out? I don't think we'll be the only ones that want to dynamically create share scopes at runtime

[2021-07-15 15:56] jacobp100 commented on #13797
@alexander-akait If I'm not mistaken, shared scopes don't work without passing this down to the container plugin. If share scope considered low level, maybe it should be taken out of `ModuleFederationPlugin`.

[2021-07-15 15:58] wh1t3cAt1k opened #13801 "Webpack 5 worker import fails with "chunks: 'all'" + [contenthash] in output filename"
# Bug report

**What is the current behavior?**

Worker import started producing a script loading error as soon as I added `[contenthash]` into the output filename.

I see a strange 404 error in the console for a **non-existent** chunk script with a strange path (note the `.undefined.js` postfix):

`https://localhost/addin/src_functions_parallelism_caching_passport-worker_ts-_36b50.undefined.js`

[2021-07-15 15:59] wh1t3cAt1k commented on #13801
Apologies: I might have confused the string ID with the filename. Let me debug this further before reporting.

[2021-07-15 16:08] wh1t3cAt1k commented on #13801
Added additional content into the issue, please take a look.

[2021-07-15 16:08] alexander-akait commented on #13801
Please use `publicPath: auto`

[2021-07-15 16:08] alexander-akait commented on #13801
You have invalid URL

[2021-07-15 16:09] alexander-akait commented on #13797
Please provide how we can reproduce the problem?

[2021-07-15 16:11] alexander-akait commented on #13800
two reacts with different versions?

[2021-07-15 16:12] wh1t3cAt1k commented on #13801
@alexander-akait are you sure it's a question of public path?

To reiterate, the worker import **was** working properly before I added `[contenthash]` into `output.filename`.

(In my case `publicPath` is a variable I define in advance in the configuration, its value seemed irrelevant since it was working without the `[contenthash]`, so I didn't paste it)

[2021-07-15 16:14] alexander-akait commented on #13801
Please provide reproducible test repo, otherwise we can't help here, maybe other plugin break contenthash

[2021-07-15 16:30] wh1t3cAt1k commented on #13801
Some more context before I jump into test repo:

I tried replacing `filename: '[name].[contenthash].js',` with `filename: '[name].[chunkhash].js'`.

The worker still tries to import a non-existed script, but instead of `undefined`, it references a chunkhash that is not present in the filename.

I.e. the browser tries to load `chunk-id.5deff33769142387d785.js` , but in the filesystem, the only file

[2021-07-15 16:32] wh1t3cAt1k commented on #13801
During build time, I see a warning that might be relevant:

[code]

[2021-07-15 16:33] jacobp100 commented on #13797
@alexander-akait Please see repo https://github.com/jacobp100/webpack-13797. Please let me know if you have further questions.

[2021-07-15 16:38] jacobp100 commented on #13800
Yeah, it is possible for our use case. Each MFE gets one HTML element - and can use whatever framework it wants to on that element. So each MFE using React basically does `ReactDOM.render(<MFE />, element)`.

The MFEs server render too, so we need to make sure that if they're using react, they'll hydrate the MFE with the same version of react on the server.

Did the description in the initial post

[2021-07-15 16:44] alexander-akait commented on #13800
We stringy recommend don't do it, there are a lot of side effect which will break your app

[2021-07-15 16:45] alexander-akait commented on #13801
It means you have plugin which break contenthash

[2021-07-15 16:46] alexander-akait commented on #13801
I don't know why it is hard to use the issue template and provide example how we can reproduce, this will not only make your life easier, but also reduce the time spent trying to guess, and will also save your nerves

[2021-07-15 16:51] wh1t3cAt1k commented on #13801
I used the issue template as is; re reproducible repo, agree it's not hard, just time consuming to strip down the NDA-protected codebase down to a reproducible example.

Thus, I am trying to figure out the potential root cause as is first, failing that I'll work on getting the example into the room.

For the record, I managed to get rid of the above warning by updating all my plugins, the issue wa

[2021-07-15 16:52] alexander-akait commented on #13801
unfortunately there can be many problems here, I cannot help without repo :disappointed:

[2021-07-15 17:49] ItWorksOnMyMachine opened #13802 "target attribute doesn't seem to be working as it should"
# Bug report

**What is the current behavior?**
I got a BREAKING CHANGE notice after upgrading from v4. It was related to polyfills.  I resolved it by adding the target: "web" attribute to my config. Everything built and ran fine.  Then, I got to the part of my upgrade where I have to support IE11 and realized there was a note about using ["web", "es5"] or setting target to browserslist.  I found

[2021-07-15 18:00] #13802 closed

[2021-07-15 18:31] cspotcode commented on #13621
We will need clarification on the appropriate fix for this bug.

This issue says that a PR is appropriate, but #13666 was closed.  webpack ships its own types which eliminates the need for @types/webpack.  Yet in #13666, it is claimed that the webpack-dev-server types *should remain* in DefinitelyTyped.  This seems contradictory and so is likely to confuse anyone attempting a fix for this issue.

[2021-07-15 18:40] wafflepie commented on #13683
@alexander-akait I can't use `!@svgr/webpack!./assets/${type}.svg` because we're trying to avoid the `asset/resource` rule.

I've updated the reproduction repository to include the original issue we're trying to avoid, here's a quick recap:

1. Some existing application (whose Webpack config I don't want to modify) uses `asset/resource` for SVGs.
2. I want to skip this rule and instead supply my o

[2021-07-15 19:17] alexander-akait commented on #13683
Why not register svgr loader on `resourceQuery` and using `./assets/foo.svg?type=svgr`? It is real weird, we try to avoid inline syntax and strongly recommend do not use it, it is old legacy stuff, we are on es modules, so we can use `query` or `assert` (will be in near future)

[2021-07-15 19:32] artaommahe commented on #13683
For us the main issue is tooling and different webpack configs. E.x. angular and storybook for angular use different loaders at least for images. For consistent behavior we have to use inline loaders, but now they are ignored by assets modules rules and we have to fine-tune storybook's webpack config... It doesn't look like scalable solution.

[2021-07-15 20:29] jtbandes commented on #12960
@vankop @sokra It looks like you two were the original authors on #11221 so I hope you can help — I spent some time understanding the root cause and looking at potential fixes, but I got stuck. It looks like this issue has been present since the initial PR and is not a regression.

The root cause is that a parser code path of `extractMemberExpressionChain` + `objectAndMembersToName` loses the `opt

[2021-07-15 20:57] wafflepie commented on #13683
@alexander-akait Sure, I can find a workaround and this would probably work pretty well. I was just hoping/asking if there is a supported solution where it wouldn't be necessary to modify the Webpack config at all, because this would require modifying 5 of them on our side if we dropped the inline loaders completely (just because of a single React component with specific requirements).

If this is

[2021-07-15 23:40] shanshanzhu commented on #11696
i ended up using `webpack-node-externals` in webpack config to sort of bypass this issue
[code]

This solution creates duplicated babel/runtime file injections and can also be mitigated by https://webpack.js.org/loaders/babel-loader/#babel-is-injecting-helpers-into-each-file-and-bloating-my-code

            whitelist: [/^@babel\/runtime/],
          }),

[2021-07-16 00:56] dko-slapdash commented on #13795
2.43.0 - I believe there is just no code which compares the files’ content when the timestamp is changed.

[2021-07-16 05:31] rvramesh commented on #7300
Hi, I am still seeing an empty js file in my setup. The issue can be seen in https://github.com/rvramesh/empty-js-webpack-repo

Steps

1. Clone the repo
2. execute `npm run build`
3. In the dist folder we see main.js which is empty and I don't expect the file to be there.

Please let me know if I am missing something.

[2021-07-16 07:53] sokra commented on #13795
The watcher doesn't support that, but webpack can be changed to compare file content hashes instead of timestamps to check for module invalidation. It would still rebuild, but would just take all modules from the cache.

https://webpack.js.org/configuration/other-options/#snapshot

[code]

This will compare file content hash, when timestamp has changed. Note that this makes the initial build slowe

[2021-07-16 08:03] sokra commented on #13621
`@types/webpack-dev-server` extends the webpack typings with the `devServer` property:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/415b6859c78cc7fe694fb12a10ea88f1fadfe958/types/webpack-dev-server/index.d.ts#L347-L355

For this to work `webpack` must not provide a `devServer` property in `Configuration`.

This seems fine and nothing has changed between these version.

* Make sure you

[2021-07-16 08:37] rvramesh commented on #11671
i am also running into the same issue. The issue can be seen in https://github.com/rvramesh/empty-js-webpack-repo

Steps

- Clone the repo
- execute npm run build
- In the dist folder we see main.js which is empty and I don't expect the file to be there.

Please let me know if I am missing something.

[2021-07-16 11:21] alexander-akait commented on #13796
hm, what `setModuleUrl` should done?

[2021-07-16 11:29] alexander-akait commented on #13796
`new URL('./path/to/script.js', import.meta.url)` syntax, if you need URL of JS file

[2021-07-16 11:37] alexander-akait commented on #13683
To be honestly inline loader syntax is hack from the past, when dreamed about ES modules, now we have them and even more we have `import foo from './something.ext' assert { type: "something" }`, of course we can probably see how improve inline syntax for as context requests, but I think we need to get away from this syntax as soon as possible in favor `import something from './something?query'` an

[2021-07-16 12:23] terranc commented on #9814
想问electron打包之后require.context能正常使用？

[2021-07-16 13:34] dilyanpalauzov commented on #2933
Please update https://github.com/webpack/webpack/projects/8 with what is done and what needs to be done.

Shall new tickets be opened, like for the emitted `“use strict”;`?

[2021-07-16 14:58] #13554 closed

[2021-07-16 15:08] alexander-akait commented on #11917
Done https://github.com/webpack/webpack/pull/12278

[2021-07-16 15:08] #11917 closed

[2021-07-16 15:09] alexander-akait commented on #13683
Also we merged https://github.com/webpack/webpack/pull/12278, so you can try it on the next release, I think it is great syntax/feature :star:

[2021-07-16 16:56] noahnu opened #13811 "Webpack compilation failing in 5.45.0 (works in 5.44.0)"
# Bug report

**What is the current behavior?**

Trying to upgrade from 5.44.0 to 5.45.0. Using Yarn Berry (v3 PnP), in 5.45.0 it fails to compile with this error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

My config is a bit complicated, but the core part:

[code]

The  failure is coming from a 3rd party dependency which shouldn't go through babel but s

[2021-07-16 17:02] #13811 closed

[2021-07-16 17:10] noahnu opened #13813 "Deduplicate chunks using resolved virtual filepath when using PnP (Yarn Berry)"
## Feature request

**What is the expected behavior?**

Yarn Berry introduces the concept of "virtuals" whereby multiple instances of a package may be created and referred to by virtual filenames. This is to ensure isolation of modules when the same package is served multiple sets of peer dependencies, based on how it's imported.

Rather than include the source code for each instance (as it's base

[2021-07-16 17:15] p3x-robot opened #13814 "Any file js, that has an "assert" string in it, throws an error."
# Bug report

**What is the current behavior?**

After i removed the `package-lock.json` and reinstalled i got this error.

**If the current behavior is a bug, please provide the steps to reproduce.**

It is a big project, i can't reproduce, but could you please look at the error, because it only happens in files that have `assert` functions or imports.

**What is the expected behavior?**
I think

[2021-07-16 17:19] alexander-akait commented on #13814
/cc @xtuc

[2021-07-16 17:20] alexander-akait commented on #13814
Here fix https://github.com/xtuc/acorn-import-assertions/pull/8

[2021-07-16 17:31] alexander-akait commented on #13814
please wait fix and we will do patch release after merge

[2021-07-16 17:34] xtuc commented on #13814
xtuc/acorn-import-assertions#8 has been merged and published. Update in webpack: https://github.com/webpack/webpack/pull/13815.

[2021-07-16 17:35] alexander-akait commented on #13814
Let's keep open until we do patch release

[2021-07-16 18:19] redonkulus commented on #13814
Are we sure https://github.com/webpack/webpack/pull/12278 isn't also the cause of this issue? It was merged 3 hours ago and published 2 hours ago, which would be in line with when our builds all started failing (after pulling in v5.45.0).

[2021-07-16 18:23] alexander-akait commented on #13814
Yep, due this https://github.com/webpack/webpack/blob/main/package.json#L14, you don't get latest version (1.7.2 latest)... maybe we should use `^`, but it is parser to avoid regressions between versions

[2021-07-16 18:25] pdemro opened #13816 "Webpack Fails on ag-grid-community, GraphQL with 5.45.0 Release"
# Bug report

**What is the current behavior?**
Webpack builds have started failing in our automated deployments as of the 5.45.0 release a few hours ago

**If the current behavior is a bug, please provide the steps to reproduce.**

In our project. ag-grid-community and GraphQL dependencies fail to compile (stack trace and webpack config file below).

Our project is closed source unfortunately but

[2021-07-16 18:26] alexander-akait commented on #13816
Duplicate https://github.com/webpack/webpack/issues/13814

[2021-07-16 18:26] #13816 closed

[2021-07-16 18:28] alexander-akait commented on #13816
Already merged, patch release will be soon

[2021-07-16 18:29] pdemro commented on #13816
You guys are on top of it.  Cheers 🍻

[2021-07-16 18:41] redonkulus commented on #13814
I'm curious how the previous PR passed to merge that in, when the current one to fix this issue is not passing?

[2021-07-16 19:07] dko-slapdash commented on #13795
Thanks @sokra!

Just tried that. Surprisingly, I can't tell any difference in performance when using `hash: true` or false. Testing with `find . | grep '.js$' | head -n100 | xargs touch` - in both cases, the compilation takes the same amount of time. Probably individual build time itself is not a bottleneck in our repo, but some other steps are, so "to not build" and "to build with just one cache-

[2021-07-16 19:10] yura3d opened #13817 "webpack 5.45.0 doesn't work with jQuery"
# Bug report

**What is the current behavior?**
webpack 5.45.0 (latest) doesn't work with jQuery 3.6.0 (latest):
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Install `webpack`, `webpack-cli` and `jquery`.
2. Create 1 entrypoint which should be a file that imports jQuery.
3. Run webpack in production mode.

**What is the expected behavior?**
Successful co

[2021-07-16 19:12] alexander-akait commented on #13817
Duplicate https://github.com/webpack/webpack/issues/13814, please use search before post

[2021-07-16 19:21] cspotcode commented on #13621
The confusion is as follows:

webpack 5 bundles types, eliminating the need for @types/webpack
Does webpack also want to bundle types with the dev server to eliminate the need for @types/webpack-dev-server?

Avoiding @types/webpack and yet requiring @types/webpack-dev-server is inconsistent.  If this is the intended approach, a documentation update can avoid the confusion.

Regardless of the answe

[2021-07-16 19:25] alexander-akait commented on #13621
We should add types to webpack-dev-server

[2021-07-16 19:55] elpollouk commented on #13817
The node.js [buffer](https://github.com/feross/buffer) modue also has a similar issue matching on asser.

[code]

An example of a failed build with this issue can be found here:
https://github.com/elpollouk/Itokawa/pull/195/checks?check_run_id=3089083712

[2021-07-16 19:58] #12993 closed

[2021-07-17 07:55] yukihirop opened #13818 "False positives regarding WebpackOptionsValidationError? (configuration.module.rules[0].use should be non-empty string)"
# Bug report

**What is the current behavior?**

I have set up a custom loader in the `chainWebpack` settings in `vue.config.js`.
As follows

[code]

`configuration.module.rules[0].use`  is not empty as you can see.
However, when I try to compile, I get the following error.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavio

[2021-07-17 09:37] yukihirop commented on #13818
Excuse me. Was self resolved.
It was because I was giving a function to `loader`.  🙇🏻‍♂️

https://webpack.js.org/contribute/writing-a-loader/#setup

[2021-07-17 09:37] #13818 closed

[2021-07-17 13:30] #13817 closed

[2021-07-17 13:31] alexander-akait commented on #13814
Let's close, temporary reverted :disappointed: will be added late again

[2021-07-17 13:31] #13814 closed

[2021-07-17 16:31] #7064 closed

[2021-07-18 03:02] devongovett commented on #12638
FYI I just implemented support for this in Parcel (see link above). Came across this issue while I was researching so thought I would let you know. 😉

[2021-07-18 08:06] meetdheeraj commented on #13797
I would wish to quickly fix this issue. Please assign so I can raise a PR. Thanks.

[2021-07-18 16:54] RReverser commented on #12638
Ah thanks :)

[2021-07-18 17:07] sokra commented on #13621
No webpack doesn't want to bundle dev server types. They are not part of webpack.

What you want is webpack-dev-server bundling it's own types.

I think that's a breaking change so it should be a major release...

[2021-07-18 17:19] cspotcode commented on #13621
Yes, that is precisely what I was asking:  "Does the webpack team want to do that?"

[2021-07-19 11:12] alexander-akait commented on #13621
Yes, we want to add types for webpack-dev-server

[2021-07-19 11:28] sokra commented on #13795
You are just not printing all arguments. It'probably something like:

[code]

[2021-07-19 11:32] sokra commented on #13795
As it will compute and compare hash only when timestamp differs, it would only compute it for a single file, which is fast enough.

You might only see a difference in cold build performance. So only when you delete the persistent cache.

[2021-07-19 15:56] OptimistLabyrinth opened #13823 "404 status code when using option { output.filename: '[name].[contenthash].js' } in webpack.config.js"
# Bug report

# **What is the current behavior?**

I apologize in advance that I'm not that good at English.

While I was following the webpack docs guide(https://webpack.js.org/guides/caching/),
I came across an issue.
I'm not sure if this is really an issue or not, but I think it could be problematic.
I tried 3 cases to figure out when the issue occurs and when it doesn't

I used webpack-dev-ser

[2021-07-19 16:27] #13823 closed

[2021-07-19 17:29] dispalt opened #13825 "Sealing hashing takes forever when hot: true"
# Bug report

Performance for hot: true seems to be pretty bad, taking a 12s compile to a 110s compile.  And it seems to be completely dependent on a slowing hashing function from `webpack-sources`.  It only appears when you have lots of small files, like 3k+.  Here's the last status update by the progress flag:

` [webpack.Progress] 65% building 4/4 entries 26696/26696 dependencies 6288/6288 modu

[2021-07-19 17:36] alexander-akait commented on #13825
Please do it, otherwise we can't help, I think something wrong in non official webpack plugin, no problems in our tests

[2021-07-19 18:24] sokra commented on #13825
Interesting profile. Do you have the cpuprofile for the first one?

[2021-07-19 18:25] dispalt commented on #13825
I have no plugins enabled, and just css loader and asset module.  There are just a ton of files and modules in this project.

I could get one real quick. brb.

[2021-07-19 18:31] dispalt commented on #13825
[issue 13825 - v1.zip](https://github.com/webpack/webpack/files/6843140/issue.13825.-.v1.zip)

Here's a similar run with the same characteristics. @sokra

[2021-07-19 18:52] sokra commented on #13825
Thanks that was very useful. I'll see tomorrow if that can be fixed.

[2021-07-19 20:51] gpoitch commented on #13671
The example I posted breaks in watch mode.  Ended up just making a simpler plugin to assign a `chunk.name` based on the root module file path.  Ideally webpack could leave all the chunk info in deterministic mode.

[2021-07-19 20:51] #13671 closed

[2021-07-20 11:20] richardchen85 opened #13827 "throw an Error with type: 'asset', parser.dataUrlCondition.maxSize"
# Bug report

**What is the current behavior?**

I got an `TypeError: Cannot read property 'get' of undefined` when rebuild with config `type: 'asset', parser.dataUrlCondition.maxSize=1000`

**If the current behavior is a bug, please provide the steps to reproduce.**

- webpack.config.js
[code]

- require a image with size under 10000
- rebuild and got error

[code]

**What is the expected behavio

[2021-07-20 11:29] alexander-akait commented on #13827
Seems you have broken data URI

[2021-07-20 11:39] richardchen85 commented on #13827
it works fine if i comment codes below

[code]

[2021-07-20 11:44] alexander-akait commented on #13827
never do it

[2021-07-20 11:44] alexander-akait commented on #13827
Please provide code

[2021-07-20 13:04] #13825 closed

[2021-07-20 16:13] atfzl commented on #13125
@sokra @mathiasbynens Could you take a look at this?

[2021-07-20 16:19] alexander-akait commented on #13125
@atfzl it is v8 problem, we can't fix it here, you can disable arrow function or use `es5`

[2021-07-20 16:26] dispalt commented on #13825
And, just confirmed it is totally fixed, wow, thank you @sokra!

[2021-07-20 16:39] jacobp100 commented on #13800
I did find another reason this might be necessary - you could have the following setup,

[code]

This can be necessary for peer dependencies.

However, there's no way to initialise sharing for both `package-a` and `package-b` - so you could end up with extra network requests. If either of those packages rely on being singletons - like event busses - you'll also get correctness issues.

With this s

[2021-07-20 16:47] jacobp100 commented on #13800
Possibly one way we could make this API nicer is doing the following,

[code]