[2018-01-06 10:18] sokra commented on #6244
@phyllisstein There is a bugfix for JSON modules in concatenated modules in 4.0.0-alpha.4. This probably fixes your issue.

[2018-01-06 10:27] michael-ciniawsky commented on #6244
### `webpack >= v4.0.0-alpha.3` (`development`)

![webpack v4 0 0](https://user-images.githubusercontent.com/5419992/34638830-66ad926c-f2d4-11e7-97af-407174c4817e.png)

### `webpack v3.0.0`

![webpack v3 0 0](https://user-images.githubusercontent.com/5419992/34638842-8dd53318-f2d4-11e7-8f89-d8e3f38c029d.png)

[2018-01-06 10:44] ooflorent commented on #6244
@michael-ciniawsky Does it happen since `4.0.0-alpha.3` or `4.0.0-alpha.4`?

[2018-01-06 11:19] michael-ciniawsky commented on #6244
@ooflorent Affects all `webpack v4.0.0` alphas as it seems :).

[2018-01-06 11:23] michael-ciniawsky commented on #6244
`html-loader@next` && `style-loader` use a similar approach and are also affected. If I didn't misconfigurate something, there is a bug somewhere 😛

[2018-01-06 12:25] justgeek commented on #2771
Without Modifying Webpack File, this works!!

[code]

[2018-01-06 13:04] sokra commented on #6244
hmm weird. What's the configuration?

[2018-01-06 13:10] sokra commented on #6244
yeah... don't do that...

[2018-01-06 22:39] mikeyhogarth commented on #6241
Do you have a link to a repo that this issue is occurring on?

[2018-01-07 00:28] andkhong commented on #6244
Can't wait to try out webpack 4!

[2018-01-07 02:56] mikejacques007 commented on #6224
thanks, I googled it and still the deprecated version comes up < 1 year old.

https://medium.com/@fastlane80/setup-react-js-with-npm-babel-6-and-webpack-in-under-1-hour-1a714f973506

Can you recommend a tutorial for setting this up or a direct link to the
correct docs.

On Tue, Jan 2, 2018 at 11:10 AM, Tobias Koppers <notifications@github.com>
wrote:

[2018-01-07 04:46] phyllisstein commented on #6244
@sokra Sure does! Thanks for being on top of all this, super excited for the new version.

[2018-01-07 06:41] avesus commented on #1967
@kenberkeley it's not what it's source code tell me it's doing. No solution yet.

[2018-01-07 06:43] JacobWay commented on #4638
This solution is far too weird, not configurable.

[2018-01-07 16:19] Ricardo-Marques commented on #4638
Agreed. Not so much a solution as it is a hacky way around the problem.

[2018-01-07 17:35] dvakatsiienko commented on #6244
+1 on defaults! 🔮🌠

[2018-01-07 19:38] ooflorent commented on #5074
You're right. I can reproduce the issue. The runtime creates each module using:

[code]

A possible fix is to add a flag to each module and change the context of the factory:

[code]

[2018-01-07 19:48] ooflorent commented on #5074
Doing this is quite challenging with the current runtime. Another solution is the replace `this` by `undefined`.

[2018-01-07 21:15] avesus commented on #2613
It yet adds 4 empty lines in the end of file :-(

[2018-01-07 21:26] stereobooster commented on #4674
@alexfedoseev found solution, package should be in this form to work properly with wepback

[code]

Full example https://github.com/stereobooster/main-module-browser-test

[2018-01-07 22:21] KidkArolis commented on #6244
Just to expand on my point above and to echo @probablyup's comment.

If webpack defaults to `.` instead of `src` it allows for more familiarity and flexibility imho. With `.` it means that:

* if current dir has a `package.json` with `main` or `browser`, that main is gonna be used as the entry
* if no `package.json` is found, `index.js` is gonna be used

This is nice because it's very similar to h

[2018-01-07 22:46] samccone opened #6256 "beautify-lint and eslint configs fight (#next branch)"
Right now if you run eslint fix over the code and then run beautify-lint you will hit this error

![image](https://user-images.githubusercontent.com/883126/34655097-6f824154-f3b9-11e7-90e2-7f1862300547.png)

if you run in the inverse order eslint will complain.

[2018-01-07 23:16] avesus commented on #2145
@sokra thinks you don't need to edit your original files in browser:

Anyway ;-)

https://github.com/webpack/webpack/issues/559#issuecomment-60888621

I don't think that webpack 4 is going to solve any actual problems you need to solve:
- CSS component dependencies with ExtractText plugin without module code inserted for each CSS import (you can ignore it now though).
- Debuggable and editable min

[2018-01-07 23:25] sompylasar commented on #6244
@KidkArolis That's actually a good point if package.json references will be considered.

[2018-01-07 23:34] sokra commented on #6256
I know. That's a problem with `return` followed by `(`.

We eventally move to prettier and remove js-beautify and eslint styling...

[2018-01-07 23:47] samccone commented on #6256
Would it be reasonable to disable one of these so every presubmit test does not fail?

[2018-01-07 23:48] KidkArolis commented on #6244
That's already how webpack works, if you point entry config to a dir with `package.json` it will find the entry module with all the same rules as when looking for an entry to an npm package. E.g. will look at `main` and `browser` of package.json and other things it looks at.

[2018-01-08 00:51] #4866 closed

[2018-01-08 01:16] wbobeirne commented on #4510
I'm also encountering this error in a babel minified build, and not on the dev build. I'm inclined to believe this isn't a webpack issue, but something in one of the minifiers in babel minify.

[2018-01-08 02:23] fhchina commented on #6252
It works. It''s my error. I directly use webpack at command line. The global version is old, 2.x version. I use npx webpack or reinstall to version 3.x, it works.

[2018-01-08 02:23] #6252 closed

[2018-01-08 03:38] chaosheng-git opened #6258 "webpack watch mode will cause a permission issue"
**Do you want to request a *feature* or report a *bug*?**

report a bug

**What is the current behavior?**
use nodejs api to watch a file with a dependencies like below
--build-script.js
--entry-file.js
--src
----test
------file-import-by-entry-file.js
it will cause a Windows permission denied dialog when deleting the src folder in windows.

**If the current behavior is a bug, please provide the s

[2018-01-08 04:35] TheLarkInn commented on #6234
I believe so!

[2018-01-08 04:36] TheLarkInn commented on #6234
However feel free and profile the differences in execution.

[2018-01-08 07:24] seekwe opened #6259 "output umd bug"
Old version of UMD output :
[code]

New version of UMD output :

[code]

`import * as test from './umd.js'`

Two output is wrong.

1.{__esModule: true}

2.Window {frames: Window, postMessage: ƒ, blur: ƒ, focus: ƒ, close: ƒ, …}

[2018-01-08 08:39] filipesilva commented on #5718
@TheLarkInn what's the plugin name going to be when it makes it into webpack 4?

[2018-01-08 08:52] rosea1 commented on #6241
NO, it is currently on a local machine.
Here is my webpack config;

const path = require('path');
const CopyWebpackPlugin = require('copy-webpack-plugin');
const ExtractTextPlugin = require("extract-text-webpack-plugin");
const env = process.env.NODE_ENV;
const themeDirectory  = path.resolve(__dirname, 'theme');

module.exports = {
  	entry: './app.js',
  	output: {
  		path: path.join(__dirname,'

[2018-01-08 08:54] rosea1 commented on #6241
I have had to comment out the watch as it just gets caught in an uncontrollable loop when files are copied with the copy loader.

[2018-01-08 08:57] rosea1 opened #6260 "Source map non existent to SCSS files"
Bug

When running webpack, i would like a source map created either in a seperate css.map file or as comments in the build css file

Config below;
[code]

Source map created so when inspecting elements it points back to scss files

I have tried searching all over the internet for this but no luck, i have all source map options set to true, i have the source-map dev tools thing set and no source ma

[2018-01-08 09:21] rosea1 commented on #6241
Update on this, When i put the watchOptions.ignored config in there and comment out the copy command, to test weather files are actually being ignored it works. So i ignore both whole directories where the copy command is getting files from and copying to. Confirmed that the ignore is working by changing files in both of these directories and webpack does not rebuild as expected. However when i un

[2018-01-08 11:28] Miller547719886 commented on #215
so how do you handle the css order problem?

[2018-01-08 11:56] AoDev commented on #215
@Miller547719886 Only one file required is what I've decided to do. All the imports are handled by my CSS pre-processor and I have 100% control about the order in which the styles are defined. I have an index.less (or scss, etc) which is the only one imported through Webpack.

[2018-01-08 12:23] Miller547719886 commented on #215
@AoDev what if I need to import the css in node_modules？ In my project，I need to import a UI Toolkit with its css file.In this case how should I handle the css file in production mode?I don't want to copy one and use it as my static assets.

[2018-01-08 12:36] AoDev commented on #215
@Miller547719886 I import such files like this (with `~`)

Example:
[code]

I try to avoid UI components / libraries that inject their style themselves.

[2018-01-08 14:46] filipesilva commented on #6244
I noticed that UglifyJS is loaded automatically as part of the option defaults: https://github.com/webpack/webpack/blob/37cc6f4f6ec178d0406dcf816de690cab9b1bf8f/lib/WebpackOptionsDefaulter.js#L172-L182

What happens when users want to add a different version or different options?

[2018-01-08 15:16] ooflorent commented on #5570
Fixed on #6209 and released in webpack 4.0.0-alpha.3.

[2018-01-08 15:16] #5570 closed

[2018-01-08 15:20] sokra commented on #6244
@filipesilva You can just override the option:

[code]

The same way you can add additional minimizer i. e. for CSS.

[2018-01-08 15:43] filipesilva commented on #6244
Coolio, did not know that 👍

[2018-01-08 15:48] sokra commented on #6258
Yep, that's how windows works. Watching a folder locks the parent folder.

Try to change the require first and delete the folder afterwards.

[2018-01-08 15:48] #6258 closed

[2018-01-08 15:49] chaosheng-git commented on #6258
[this](https://github.com/chaosheng-git/webpack-watch-issue) is the reproduce repo; and it's ok on mac

[2018-01-08 15:55] gaearon opened #6262 "Watcher doesn't see a new file until restart"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Consider this project:

`package.json`

[code]

`src/index.js`

[code]

`src/x.js`

[code]

Then do this series of steps:

1. Run `npm install`.
1. Run `npm start`.
1. Delete `src/x.js`.
1. Create `src/x` folder.
1. Create `src/x/index.js` with same content as `src/x.js` used to have.

**What is the

[2018-01-08 15:57] chaosheng-git commented on #6258
got it; thanks for the comment.

[2018-01-08 16:50] Birowsky opened #6264 "Unexpected code after tree-shake"
**Do you want to request a *feature* or report a *bug*?**
Either a bug or unclear docs.

**What is the current behavior?**
Given `entry` is the entry module:
<img width="750" alt="screen shot 2018-01-08 at 17 19 34" src="https://user-images.githubusercontent.com/3199950/34681428-28df7576-f49c-11e7-942d-12caa6e905b8.png">

It just uses `function1` from `external1` module.

I expected that `external

[2018-01-08 17:11] sokra commented on #6256
For now, just write code this way:

[code]

[2018-01-08 17:13] sokra commented on #6259
I don't understand the problem...

[2018-01-08 17:49] sompylasar commented on #6244
@sokra RE: [overriding options](https://github.com/webpack/webpack/issues/6244#issuecomment-355995326), could you please give a few more examples? My concern is overriding an array versus extending it (adding additional minimizer). And please put the name of the file which you show a snippet from, it's never too verbose when giving examples which stay on the Internet and show up in Google results.

[2018-01-08 18:21] sokra commented on #6262
This is caused by the "unsafe" resolver cache. You can disable the cache with `resolve.unsafeCache: false` but this has very negative impact on performance.

[2018-01-08 18:37] wbobeirne commented on #4510
Pardon my previous comment, I was on the right track but was mistaken by a little bit of Javascript caching that led me to the wrong conclusion.

After some extensive narrowing down, I've discovered that it's a combination of babel-minify-webpack-plugin's `evaluate` and `propertyLiterals` minifiers, on [the following lodash file](https://github.com/lodash/lodash/blob/6cb3460fcefe66cb96e55b82c6febd

[2018-01-08 18:39] gaearon commented on #6262
Is there any middle ground or a heuristic we could use? For example, if a file is not found, then invalidate any cache entries around it on any FS event.

[2018-01-08 18:56] vict-shevchenko commented on #215
@Miller547719886 I personally have included extract-text plugin and configured it to produce 2 css files. `app.css`(general styles) and `components.css`(specific styles). The order they are included is defined in `index.html`.

Probably soon will switch to css-in-js solution.

[2018-01-08 20:11] gaearon opened #6266 "Use shorter variable name for an import"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

Webpack uses names like `__WEBPACK_IMPORTED_MODULE_0__lodash___default` for the imports. This makes errors very long and a bit hard to read:

![example message with long variable name](https://camo.githubusercontent.com/421c84099cc51bb3f0e7d386ed1df0ac6aecc3d7/68747470733a2f2f646c2e64726f70626f7

[2018-01-08 21:59] samccone commented on #6256
OK.

I still think that if one of the tools that is supposed to autofix the code generates code that causes another linter on the project to fail that it is a pretty poor experience for a contributor that is not privy to this info.

[2018-01-08 23:26] gaearon commented on #5902
Maybe worth reopening so somebody else can take it? The issue still exists.

[2018-01-09 02:11] justinlazaro-ubidy opened #6267 "How can i build or bundle per file?"
Is there a way that i can build per file?

example:
[code]

thanks

[2018-01-09 02:27] seekwe commented on #6259
@sokra

Old version of UMD output :
[code]
New version of UMD output :
(function webpackUniversalModuleDefinition(root, factory) {
        // root === Window {frames: Window, postMessage: ƒ, blur: ƒ, focus: ƒ, close: ƒ, …}
	if(typeof exports === 'object' && typeof module === 'object')
		module.exports = factory();
	else if(typeof define === 'function' && define.amd)
		define("aa", [], factory);
	e

[2018-01-09 08:39] ooflorent commented on #2168
Superseded by #4603

[2018-01-09 08:39] #2168 closed

[2018-01-09 08:47] ooflorent commented on #6266
Relates to #3957

[2018-01-09 08:51] ooflorent commented on #6267
Duplicates #4908

[2018-01-09 08:51] #6267 closed

[2018-01-09 10:29] ooflorent commented on #5209
@mattpap What would you expect here? Should `require` be a binding to the native `require` or to webpack's one? I'm asking this because both function differs. `Module#require` accepts a `String` whereas `__webpack_require__` accepts a `Number`, so the following would not work as expect:

[code]

Maybe what you are looking for is [`__non_webpack_require__`](https://webpack.js.org/api/module-variabl

[2018-01-09 11:04] gaearon commented on #3957
I don’t think suggesting to treat modules not per spec is a good idea. I wouldn’t like to see an option to disable live bindings, it’s only going to cause endless confusion.

Rollup somehow is able to preserve names in live bindings (due to module concatenation). I doubt that would be fast enough for development, but thought it’s worth mentioning.

[2018-01-09 13:57] mrchief commented on #4603
@fluency03 Have you tried [shebang-loader](https://github.com/webpack/webpack/issues/2168#issuecomment-339184660) ?

[2018-01-09 14:04] Dragon-Rider commented on #1240
@dschissler Hi，Have you solved the problem？There are too many magic files in my "dist' folder.

[2018-01-09 15:14] ooflorent commented on #3118
UglifyJS does not support ES2015+ syntax. You must migrate to the latest version of `UglifyJSPlugin` in order to minify your code.

First you need to add (or update) the plugin dependency:

[code]

Then _require_ the plugin:

[code]

And update your build configuration:

[code]

[2018-01-09 15:14] #3118 closed

[2018-01-09 15:35] behrens4ft commented on #672
+1

[2018-01-09 15:42] httpete opened #6275 "In IE11 wds 2.10.0 is broken 2.9.7 works - Invalid Character"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Invalid Character in my bundle. This issue has been around before, it's some library in the dependency tree that uses ` .
**If the current behavior is a bug, please provide the steps to reproduce.**
Just start the dev server in IE11

**What is the expected behavior?**

**If this is a feature request, what

[2018-01-09 16:03] JounQin opened #6276 "[4.0] `module.hot` is replaced by `false` on development"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
As title

**If the current behavior is a bug, please provide the steps to reproduce.**

configuration:
[code]

source code:
[code]
generated code:
https://github.com/JounQin/webpack-next-study/blob/module.hot/dist/main.js#L80

**What is the expected behavior?**
`module.hot` should not be replaced by `f

[2018-01-09 16:25] al-the-x commented on #1942
For people who find this issue in future because of the same bug, you can use [`imports-loader`](https://webpack.js.org/loaders/imports-loader/) on `semver@4` to [force `webpack` to ignore the faulty `define` call and force CommonJS](https://webpack.js.org/loaders/imports-loader/#disable-amd):

[code]

[2018-01-09 16:34] MagicDuck commented on #3957
@gaearon and the weird import names are not causing endless confusion...? 😆

[2018-01-09 16:42] gaearon commented on #3957
They are a debugging inconvenience, sure. (Potentially solvable by tooling.)

Coming up with your own language semantics to avoid an inconvenience is a much harder problem to unravel.

[2018-01-09 17:11] balmas commented on #5627
Any news on a fix for this?

[2018-01-09 20:33] jchitel commented on #6244
Just out of curiosity, is there a checklist, or a "definition of done" for this alpha stage? All I've seen is these feedback issues. Basically, what is required before v4 moves to beta?

No rush, I'd just like a better idea of a timeline if there is one.

[2018-01-09 21:53] tsharp commented on #2280
I would also like to be able to do this. I would like to pass in the [name] and have it convert the [name] to a namespace instead of simple object access.
From this `window["base"] = window["base"] || {}; window["base"]["nested.namespace.from.filename"] =` to this
[code]

I know it's longer but I need the dynamic namespace generation.

[2018-01-10 00:14] geotrev commented on #2983
Not trying to reanimate the dead, but I'm also having this problem. Even if I reset my default browser to Safari vs. Firefox vs. Chrome. Very strange indeed.

For reference, the command I'm running is simply `webpack-dev-server --config webpack.dev.js --open`

[2018-01-10 03:31] MagicDuck commented on #3957
@gaearon I understand your point of view and I think it would be ideal, but on the other hand I am supporting hundreds of devs which often complain about this problem. What am I to tell them, suck it up and get used to adding the magic incantation before your vars ? The other thing is, I have been reading that one of the reasons for the live nature of module bindings is circular devs. Would that n

[2018-01-10 03:34] MagicDuck commented on #3957
Ugh autocorrect. Deps not devs at the end there. And webpack not "as black " lol

[2018-01-10 04:06] JamesCyrilJordan commented on #959
I had the same issue, and it hasn't resurfaced since I put 'babel-polyfill' as an entry point.
webpack.config.js:
`module.exports = {
	context: path.resolve('src/'),
	entry: {
		vendor: [
			'babel-polyfill',
			'react',
			'react-dom',
			'prop-types',
			'redux',
			'react-redux',
			'axios',
			'lodash.isempty',
			'jquery',
			'bootstrap'
		],`
package.json:
`"dependencies": {
		"axios": "^0.1

[2018-01-10 05:26] VaishaliRavindran commented on #1641
@Andrei- How did you solve this ?

[2018-01-10 08:12] pleerock commented on #6248
@filipesilva I have new reports with your branch and webpack 4. First 10+ minutes of `RemoveParentModulesPlugin` execution without `max_old_space_size` being set:

![screenshot 2018-01-10 12 52 10](https://user-images.githubusercontent.com/1753397/34761485-e105a6d8-f605-11e7-844a-3fff54f22a98.png)

[webpack4_no_high_memory.cpuprofile.zip](https://github.com/webpack/webpack/files/1617915/webpack4_n

[2018-01-10 10:40] filipesilva commented on #6248
Great job on getting those CPU profiles @pleerock! I think the high memory CPU log is the most accurate one because the other will have a lot of time spent on GC, and that doesn't really help narrow down the problem.

It looks like the seal hook is running into a lot of error cases:
![image](https://user-images.githubusercontent.com/4172079/34768402-a1216f38-f5f2-11e7-8705-d03dea1233ff.png)

@sokr

[2018-01-10 10:43] ooflorent commented on #6248
@pleerock @filipesilva have you tried the fix in my PR?

[2018-01-10 10:45] ganapativs commented on #5569
You can pass options to configure `SourceMapDevToolPlugin`  for `nosources-source-map` or `hidden-source-map`.
[code]

[2018-01-10 10:51] filipesilva commented on #6248
I have not, no. I don't have access to the repo where the problem manifests. @pleerock can you try manually patching your local `webpack` node_modules with https://github.com/webpack/webpack/pull/6249/files?

[2018-01-10 11:30] pleerock commented on #6248
@filipesilva I will. btw it was running since I posted my message (over 3hrs) and Im going to stop execution since I don't see the end (last time I run it with webpack3 and node9 was over 6hrs and I stopped execution as well)

[2018-01-10 12:12] pleerock commented on #6248
So, its same with provided code. Problem is still in `while` cycle. In 10+ minutes it run 2500 cycles each iteration take 200ms in average. Profile results:

(https://github.com/webpack/webpack/files/1618650/webpack4_extra_changes.cpuprofile.zip)
![screenshot 2018-01-10 17 11 10](https://user-images.githubusercontent.com/1753397/34772266-487b87c4-f629-11e7-8335-9230f339c336.png)
[webpack4_extra_ch

[2018-01-10 12:43] pleerock commented on #6248
Okay, I downgraded node from 9.3.0 to 8.9.4 and same `while` cycle iteration now takes ~50ms. As I previously told I wasn't able to finish `serve` process since I upgraded to node 9.

Results of running 10 minutes with node8:

![screenshot 2018-01-10 17 41 38](https://user-images.githubusercontent.com/1753397/34773492-ad61974c-f62d-11e7-962a-eab8c9f5bcf5.png)
[webpack4_node8.cpuprofile.zip](https:

[2018-01-10 12:50] filipesilva commented on #6248
@pleerock was this last one done with increased memory cap? Looking at that log I still get the feeling that the same error handling logic is taking a lot of time, but that the memory thrashing might be hiding it somewhat.

[2018-01-10 13:02] pleerock commented on #6248
@filipesilva yes:

[code]

[2018-01-10 13:05] filipesilva commented on #6248
Huh, don't know why so much time is spend on GC then...

[2018-01-10 14:04] muodov commented on #783
Are there any technical difficulties related to this? Or is it a good ticket to start contributing to webpack? :)

[2018-01-10 14:28] errorx666 commented on #6244
@probablyup I expect the package.json `main` to refer to the build output, not its input.

[2018-01-10 15:09] chrisui commented on #959
@TheLarkInn @sokra @jhnns @SpaceK33z

Is there *anything* that can be done around here that would make this issue easier to diagnose? Better error message? More context in the error message?

It feels every time we make a half significant change to our webpack configuration (adding/moving/removing plugins/optimisataions) we end up hitting this and have a hard time working out where the problem is

[2018-01-10 15:27] qiming-kooboo commented on #4230
@mishelen I have the same issue with you, Did you get any solution for this?

[2018-01-10 15:34] Kemper-Diao opened #6282 "npm run build can't pack,but no error"
My project is build by vue-cli+webpack . when I use 'npm run build'  to pack the project ,Terminal always show  'building for production...'. but no error. what's the problem . how to  resolve......

[2018-01-10 16:28] jgentes commented on #5682
I found the solution to be this:

Don't use the built-in version of uglifyjs-webpack-plugin and install the latest version using `npm install -D uglifyjs-webpack-plugin`. Add it to your plugins property in your configuration:
[code]

Taken from https://stackoverflow.com/questions/45870467/error-in-bundle-js-from-uglifyjs-name-expected

[2018-01-10 18:08] jeremywiebe commented on #1949
@simshanith Just note that you need quotes around the value passed to `webpackChunkName`. Took me a while to get your example working and that was the issue!

[code]

[2018-01-10 18:38] retyui opened #6284 "Webpack watch mode , so many recompilation"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
I'm testing a plugin that creates automatically icon fonts:
Webpack watch mode : compiler triggered ~30-40 `invalid` event

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**What is the expected behavior?**
 triggered 1 `invalid` event

**Please mention other relev

[2018-01-10 18:53] lewismoten commented on #5964
No luck with webpack 3.10.0

[2018-01-10 19:18] sokra commented on #3957
`__webpack_require__.i` no longer exists.

@thecotne The code you posted actually looks promising. I guess we can use it. It looks ugly but you won't see it with Source Maps.

[2018-01-10 19:23] ooflorent commented on #6282
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-10 19:23] #6282 closed

[2018-01-10 20:11] swASO commented on #5964
i am not really sure if its really a webpack bug because we are using c# api with NancyFx and when nancy response 304 we get the chunk error ( other files, static files works with 304 )  but! when i use a little simple express server and the server response a 304 everything works fine.

so maybe someone can confirm my assumption

[2018-01-10 20:13] TheLarkInn commented on #6244
@jchitel we are very close for alpha => beta, but we've been trying to keep as much feature work (as possible) in alpha. This way, we can purely focus on stabilization for beta=>RC, etc

We are overdue on a list but currently its a bit nebulous at the moment. The large ticket items are complete right now and we've been focusing on UX/Defaults/Build Perf small items at the moment.

[2018-01-10 23:17] TheLarkInn commented on #5718
It will be `webpack.debug.ProfilingPlugin()`

On Mon, Jan 8, 2018, 12:39 AM Filipe Silva <notifications@github.com> wrote:

[2018-01-10 23:36] devpascoe commented on #4861
A combo of comments: true in .babelrc and webpack config to include chunkFilename = '[name].js' did the trick.

[2018-01-11 00:04] ORESoftware commented on #1421
Isn't there a way to use webpack programmatically to create a dynamic build? something like

[code]

[2018-01-11 09:22] EugeneHlushko commented on #6276
Hi @JounQin
I cannot reproduce, can you set up a reproduction repo? Using your repo the build command does build in production mode and works as expected. If i add build-dev script it also works fine e.g.:

[code]

[2018-01-11 09:26] JounQin commented on #6276
@EugeneHlushko The reproduction is at `module.hot` branch, just run `yarn build`.

[2018-01-11 09:46] EugeneHlushko commented on #6276
I think you need to explicitly set module hot in plugins or pass a hot option in the cli:
e.g. `webpack --hot` or in the config:
[code]

I suppose that in the master branch the koa-webpack requires the plugin in development mode for you along these deps
https://github.com/shellscape/koa-webpack/blob/f2eb3f99adbed049ac854f48adb056910d261dca/index.js#L5-L6

[2018-01-11 10:01] JounQin commented on #6276
I can't add `HotModuleReplacementPlugin` into plugins because of `koa-webpack@2.0`, see https://github.com/shellscape/koa-webpack#migrating-to-version-2x .

[2018-01-11 11:12] sokra commented on #6276
This is working as expected on webpack side, see @EugeneHlushko answer.

You should file the issue on koa-webpack if you have problems using it.

[2018-01-11 11:12] #6276 closed

[2018-01-11 11:13] sokra commented on #6275
Wrong repo. File this on webpack-dev-server

[2018-01-11 11:13] #6275 closed

[2018-01-11 11:15] sokra commented on #6284
This is expected behavior because of filesystem timestamp inaccuracy.

[2018-01-11 11:15] #6284 closed

[2018-01-11 11:17] sokra commented on #6260
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-11 11:17] #6260 closed

[2018-01-11 11:17] retyui commented on #6284
@sokra  How fix this problem ?

[2018-01-11 11:20] rosea1 commented on #6260
I did use the issue template?

[2018-01-11 11:25] mixtur commented on #6241
Looks like the same bug as this one https://github.com/webpack/webpack/issues/5749.
Also there is shorter reproduce example.

[2018-01-11 11:28] rosea1 commented on #6241
sure looks like the same issue, is there any fix for it ? this must be something that lots of other people would want to do right?

[2018-01-11 11:33] mixtur commented on #6241
Not really. In my own plugin I just sent new files to the past via `fs.utimes`. It worked but I felt dirty after doing that)
Just found this issue https://github.com/webpack/watchpack/issues/53. It seems to be closer to the root cause.

[2018-01-11 11:37] rosea1 commented on #6241
hmm ok, gulp seems to do this really well with no issues so maybe il go back to that.

[2018-01-11 12:03] sokra commented on #6248
hmm I have an idea...

[2018-01-11 12:39] shellscape commented on #6276
@JounQin webpack-hot-client handles injecting that plugin. Haven't seen that behavior before with that module.

[2018-01-11 12:39] sokra commented on #6248
Could you try this fix https://github.com/webpack/webpack/pull/6292/files?

[2018-01-11 12:42] keshidong opened #6293 "The module name about import/require in the folder of node_modules will be replaced with resolve.alias"
Whether the webpack can limit the scope of resolve.alias. let it work on some folder or not work on some folder.

Now, resolve.alias also replace the module name even the code at the node_modules folder. It not reasonable. Because of the complexity of module dependency, we can't control the module name not conflict with resolve.alias. So if limit the scope of resolve.alias, some problems may be av

[2018-01-11 13:02] sokra commented on #6293
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-11 13:02] #6293 closed

[2018-01-11 13:02] JounQin commented on #6276
@shellscape So it should be an issue of `webpack-hot-client`? You can check https://github.com/JounQin/webpack-next-study/blob/module.hot/src/index.js#L19, branch `module.hot`, simply run `yarn dev`.

[2018-01-11 13:08] truebden opened #6294 "ModuleConcatenationPlugin option to disable name scoping"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently ModuleConcatenationPlugin keeps the scope for exports by adding an identifier in front of the variables (the name of the file).

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Add an option to disable this behavior, so that

[2018-01-11 13:11] sokra commented on #6294
1. Don't rely on class names. They will be removed by minimizers anyway.
2. ModuleConcatenation already tries to keep variable names and only rename when conflicts occur.

[2018-01-11 13:12] shellscape commented on #6276
First thing that stands out to me is that `publicPath` should just be `'/'` here: https://github.com/JounQin/webpack-next-study/blob/module.hot/server/index.js#L17. You actually shouldn't even have to set that.

I'm not sure why that's not working. But I can point you to the test app in webpack-hot-client that works as expected (https://github.com/webpack-contrib/webpack-hot-client/blob/master/tes

[2018-01-11 13:25] truebden commented on #6294
1. For minimizing we have a special handling. But this handling is expensive and not needed for development.
2. Currently it changes always the names of the exports in our project

[2018-01-11 14:17] kidwm commented on #6244
@TheLarkInn How about this feature, is it feasible? https://github.com/webpack/webpack/issues/5433

[2018-01-11 14:19] sokra commented on #6294
You can look at this example:

https://github.com/webpack/webpack/tree/master/examples/scope-hoisting#jsoutputjs

Here `x` and `y` are not renamed because they are unique. `a` is renamed because it occurs in two modules.

[2018-01-11 14:24] sokra commented on #5433
It's not possible to alter modules depending on entry name.

You can use multiple configurations for this.

[2018-01-11 14:42] Kielan commented on #6223
`
var plugins = [
  new webpack.DefinePlugin({
    'process.env': {
      'ENV': JSON.stringify(process.env.ENV),
    }
  })
]
const WebpackRecipe = deepmerge({
  cache: false,
  devtool: '',
  entry: entry,
  module: {
    loaders: loaders
  },
  output: {
    path: path.join(process.cwd(), 'public'),
    publicPath: '/',//publicPath, //isProduction was just /
    chunkFilename: 'js/[name].js',

[2018-01-11 14:52] #6195 closed

[2018-01-11 14:55] vedmalex opened #6295 "require the same library with module drive to different files to be required"
i've posted the [question on stackoverflow](https://stackoverflow.com/questions/48208632/strange-webpack-create-react-app-graphql-graphq-tools-behaviour-the-same-librar)
**Do you want to request a *feature* or report a *bug*?**
I think this is the bug ot expected to the feature.

**What is the current behavior?**
it is about module loading:

When we require the module that have not meaning `pkg.mo

[2018-01-11 18:07] ORESoftware opened #6299 "Bug when creating library with UMD format"
So what I am doing is creating a library with UMD format, to be loaded with RequireJS. This is a simple bug.   I have this webpack.config.js file:

It generates output like so:

[code]

the problem - I was getting this error:

http://requirejs.org/docs/errors.html#mismatch

to fix the error, all I had to do was add the name:

[code]

Now it works. so maybe this is a simple bug that can be fixed? d

[2018-01-11 19:13] Kielan commented on #6223
The problem I have found is with the deepmerge package which does not support new webpack types. I recommend using webpack-merge which solved using functions. Using deepmerge dependency will break on plugins in latest webpack.

[2018-01-11 19:13] #6223 closed

[2018-01-11 20:26] shelbyspeegle commented on #5474
@rodoabad @TurboTim i had this issue too. turns out i needed to remove a globally installed version of `webpack`. hope this helps!

`yarn global remove webpack`
or maybe
`npm remove -g webpack`

[2018-01-11 20:58] devnieL commented on #4921
same problem here :(

[2018-01-11 23:25] mwistrand opened #6302 "Bug: mid never defined when passing `amd {request}` to `externals` callback in v3"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Using webpack 3.10.0, when specifying the type as "amd" from within an `externals` function in the configuration, a module that exports `__WEBPACK_EXTERNAL_MODULE_{id}__` is defined, but that constant is not included in the UMD wrapper arguments.

**If the current behavior is a bug, please

[2018-01-12 00:11] ImDavaloper commented on #6244
from ./src to ./dist
It's to readable default structure

[2018-01-12 02:09] maogongzi commented on #4557
still getting this error on 3.10.0...

and seems it happens not all the time, in our team several Windows machines work fine while some others don't.

[2018-01-12 02:25] markgoho-EDT opened #6303 "TypeError: Cannot read property 'message' of undefined"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm using the Angular CLI to build a project. When I `ng serve` the build starts to compile and then stops abruptly with this error:

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I would expect the build to complete and show err

[2018-01-12 03:08] medv commented on #4550
Adding a swap drive will fix the above, for anyone landing here in the future, though has little to do with original issue:

https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04

[2018-01-12 07:13] ankitanaik471 commented on #4569
i got same error 'output.filename' is required, either in config file or as --output-filename. how to resolve this

[2018-01-12 07:14] truebden commented on #6294
Okay, that is true. For me the question is then, why it does the name scoping. I checked in the Code of ConcatenatedModule why this does happen and the reason is, that the class variable is added to the list of allUsedNames already at the begining where the global names are added and the check with the regex for __WEBPACK_MODULE_REFERENCE__ [here](https://github.com/webpack/webpack/blob/b545b519b2

[2018-01-12 07:17] jdb8 commented on #2934
Wondering if this is still in the works? I know that scope hoisting is now done, but it seems like single-bundle files still contain a fair amount of unnecessary boilerplate. For example, an entrypoint containing the one-liner `document.body.focus()` produces this output (without -p):

[code]

and with `-p`:

[code]

As you can see, in both cases there seems to be additional code in the output bun

[2018-01-12 07:41] JounQin opened #6305 "[4.0] json tree shaking with object spread"
**Do you want to request a *feature* or report a *bug*?**
I don't know is it as expected or a bug indeed

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/JounQin/webpack-next-study/blob/json_tree_shaking/src/index.js

**What is the expected behavior?**
both codes should work

**Please mention other relevant

[2018-01-12 07:44] akshayjai1 commented on #4569
@Siyanda-Mzam It must be how, ES6+ has defined it, in my guess

[2018-01-12 08:25] sokra commented on #6294
Could you create a minimal test case for this?

[2018-01-12 08:26] sokra commented on #6294
Maybe `class` is handled incorrectly?

[2018-01-12 08:27] sokra commented on #6305
Better use it this way:

[code]

[2018-01-12 08:33] sokra commented on #6302
You can't use a AMD external with an UMD library. Use an UMD external instead.

[code]

[2018-01-12 08:34] sokra commented on #6299
https://webpack.js.org/configuration/output/#output-umdnameddefine

[2018-01-12 08:34] #6299 closed

[2018-01-12 08:41] sokra commented on #6295
You should better file the issue in the graphql library.

You can avoid this issue by not using inner requires.

[code]

[2018-01-12 08:41] #6295 closed

[2018-01-12 08:57] vedmalex commented on #6295
this not only one library

[2018-01-12 08:57] JounQin commented on #6305
@sokra I'm using TypeScript which does not support ESM style import for json files, so I'm using object spread to short json variables usage.

[2018-01-12 09:02] vedmalex commented on #6295
this code works differently in nodejs and in nodejs using webpack? is that might be possible?
[code]
there a lot of guys that use this way of requiring files.
your solution is not a solution at all...
Any suggestions?
if you point me to the source code I can contribute as well.

[2018-01-12 09:15] ORESoftware commented on #6299
umdNamedDefine: true

[2018-01-12 09:24] zhenwenc commented on #5749
I noticed this issue as well. And I created a webpack project [here](https://github.com/zhenwenc/cra-issue) with minimal configuration to reproduce this issue. Just clone the repo and run `reproduce.sh` script.

[2018-01-12 10:03] sokra commented on #6305
yeah, it's currently not supported.

[2018-01-12 10:04] truebden commented on #6294
Maybe, but it does not seems to be a simple case as I already made a small test for it.
I hope I can create a small test, where this also happens and will let you know about it.

[2018-01-12 10:24] rmja opened #6306 "Manual opt-in for dynamic dependencies"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
`import()` with [dynamic dependencies](https://webpack.js.org/guides/dependency-management/) includes [all matching dependencies](https://github.com/webpack/webpack/issues/87) by default.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?

[2018-01-12 11:23] pleerock commented on #6248
@sokra thank you, now `serve` takes only 1001676ms (~17 minutes). It is a great optimization already.

`while` cycle takes **25169ms** and has `741` iterations (372 chunks). Now majority of time taken by `for` loop right after `while` loop. Please see [this log](https://github.com/webpack/webpack/files/1625849/webpack4-optimized-while.log) for the following code:

[code]

As you can see it takes s

[2018-01-12 12:26] #6302 closed

[2018-01-12 13:11] axe312ger opened #6307 "Bug: --verbose breaking --json log file"
**Do you want to request a *feature* or report a *bug*?**

This is a bug with latest webpack (`3.10.0`), some version between `3.10.0` and `3.3.0` introduced this bug.

**What is the current behavior?**

`module` root property is missing in json output, producing a log file which breaks several analysers like [webpack-bundle-analyzer](https://github.com/webpack-contrib/webpack-bundle-analyzer) and

[2018-01-12 13:48] sokra commented on #6307
hmm yeah seem to be a bug. `--json` should enable `modules: true`. You can send a PR to webpack/webpack-cli

[2018-01-12 13:50] sokra commented on #6306
`webpackMode: "weak"`

see https://webpack.js.org/api/module-methods/#import-

[2018-01-12 13:50] #6306 closed

[2018-01-12 14:49] axe312ger commented on #6307
So here we go, PR is open. Worked for me locally :)

[2018-01-12 17:55] ahmadawais commented on #1191
Actually, these two work great.

[code]

[2018-01-12 22:32] TheLarkInn commented on #6305
@JounQin I believe this actually is possible. cc @danielrosenwasser

[2018-01-12 22:57] TheLarkInn opened #6309 "[WP4 - Spec] - Developers can set advanced production capabilies w/ ease"
**Do you want to request a *feature* or report a *bug*?**
Feature [Spec]

**What is the current behavior?**
With webpack 4 we now have the ability to assign `mode: 'production'` however there are additional advanced optimizations but are specific to advanced scenarios.

These advanced scenarios consist of:
* Automatically split commons chunk from the initial bundles - you need to generate the HTML

[2018-01-13 01:36] EmmaRamirez commented on #6244
This might not be possible, but would it be possible to detect if the entry uses a typescript extension and then use Typescript to parse it?

(I know this might open the floodgate to doing it with _any_ extension, but I think Typescript is become so popular that other bundlers are dealing with it in their default configuration).

[2018-01-13 07:27] trusktr opened #6310 "[perf] Why not avoid so many property accesses for imports?"
In the output, I see stuff like

[code]

That code is running in an animation loop, along with a bunch of other similar code. It has:

1. string creation
1. property access

In contrast, the original code is just

[code]

1. no string creation
1. no property access

which means better performance.

It can at least be simply:

[code]

at the top of the module so that the variable is cached for ever

[2018-01-13 07:30] trusktr commented on #6310
There's also so may function calls:

[code]

Can this not be prevented? I don't imagine that the `object_define_property` polyfill module ever changes the value of the export.

[2018-01-13 10:16] trusktr opened #6311 "Is there something like rollup-plugin-commonjs for Webpack?"
I'm curious to know: is there something like `rollup-plugin-commonjs` (which converts CommonJS modules to ES6 Modules so that tree-shaking can be done) for Webpack?

[2018-01-13 11:26] sokra commented on #6311
https://github.com/indutny/webpack-common-shake

It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also

[2018-01-13 11:26] #6311 closed

[2018-01-13 11:31] sokra commented on #6310
ESM imports are live bindings, so it's a getter to the variable in the foreign scope.

This can be omitted when using Scope Hoisting -> ModuleConcatenationPlugin (will be default in webpack 4).

The JS optimizer optimizes most of this away anyway. Functions/Getters/properties access are inlined, strings optimize away.

You can "cache" the imported binding in a local variable if you want too. You w

[2018-01-13 13:53] coldi commented on #6084
+1
I'm also having this issue when bundle an entry for usage with web worker under webpack 3.10.
Was running fine on 3.8 before, since it referenced with `this` instead of `window`.

[2018-01-13 15:49] reergymerej commented on #6074
Hey, @CWelshE.  Want to tag team this?  I've got the tests for `false`/`"false"` done and looking to support the glob option [here].

[here]: https://github.com/reergymerej/webpack/commit/591d0534bb551f3f8d7a28721fa38ed1adf79d8e

[2018-01-13 17:48] ev1stensberg commented on #6072
it's available in the webpack-cli, and soon in webpack after beta has been released

[2018-01-13 17:50] #6307 closed

[2018-01-13 22:37] bpartridge commented on #6262
This seems to be the same root issue as #5523, and we're running into it as well when gradually refactoring a codebase (in our case, the watcher starts reporting ENOENT when you rename x.js to x.ts or similar).

It seems that this is where the cache entry is saved (in the line above, `resolve.unsafeCache` is what determines the `cachePredicate`): https://github.com/webpack/webpack/blob/f352436a0fd

[2018-01-14 00:58] arikkfir commented on #5634
Same here, latest versions of everything.

[2018-01-14 02:12] #2694 closed

[2018-01-14 02:32] alexleventer commented on #1805
+1

[2018-01-14 05:15] codeuniquely commented on #5433
i would like to achieve this

(All third party CSS obtained NPM installs in node_modules/**/*.css ) - loaded and extracted into the final build css without any alteration of the style names found in those CSS files.  All of the CSS file in project and not included as NPM from node_modules folders to be named according to CSS_MODULES naming and extracted with a CSS_MODULE name along the lines of na

[2018-01-14 06:55] irejwanul commented on #2999
Thanks, @IAMtheIAM

[2018-01-14 10:06] johnnyreilly commented on #6244
Hey all,

I'm just turning my attention to trying out `ts-loader` and `fork-ts-checker-webpack-plugin` with webpack 4.  Would you be able to advise what the advised upgrade path for plugins is that currently use the `compiler.applyPluginsAsync` hook? eg:

[code]

Presently erroring out with:

[code]
Linking back to the migration guide you provided for `compiler.plugin("before-compile", ` -> `compi

[2018-01-14 10:27] sokra commented on #6244
Hi @johnnyreilly

It looks like you added a custom hook for your plugin. Since the new plugin system adhoc hooks are no longer possible, instead each hook must be registered before being able to call it.

To register your hook add the hook to `object.hooks`:

[code]

You can call the hook with:

[code]

To make back-compat layer work for your hook:

[code]

Hook is automatically mapped to the came

[2018-01-14 11:16] johnnyreilly commented on #6244
Thanks @sokra - I'll take a look and report back!

[2018-01-14 13:36] eteeselink commented on #5703
Just writing a comment here for anybody else ending up on this issue when googling for this:

If you use `import()` in TypeScript, you also need to set `"module": "esnext"` in your tsconfig.json. If your TypeScript project is old-ish it's probably set to `"commonjs"`. When that's the case, TypeScript will turn it into a static `require` statement and webpack won't have anything left to split.

Tha

[2018-01-14 13:39] johnnyreilly commented on #6244
I think that the changes that the html-webpack-plugin is making for webpack 4 probably illustrate what you're advising @sokra.  Specificially the changes to `index.js` and `compiler.js`:

https://github.com/jantimon/html-webpack-plugin/pull/823/files#diff-168726dbe96b3ce427e7fedce31bb0bc

Might see if I can use that as a basis.  Looks like @graham42 is using `AsyncSeriesWaterfallHook` where you ad

[2018-01-14 14:53] geeofree commented on #959
Hope this helps someone. I had this problem for almost a day and it turns out it was just because of this `NamedChunksPlugin` config I had:

[code]

Which I had just swapped with `chunkFilename` e.g

[code]

and now everything works for me!

[2018-01-14 15:18] buster95 opened #6315 "Object.defineProperty should be at the end of the module, not at the beginning"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I can't export a variable, when I import the variable, variable is undefined

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

**What is the expected behavior?**
Import variable not work

**If this is a feature request, what is motivation or use case for chan

[2018-01-14 15:19] johnnyreilly commented on #6244
I've been taking a look at getting ts-loader to support webpack.  You can see what I've done here:

https://github.com/TypeStrong/ts-loader/pull/710

Unfortunately I'm getting a rather cryptic error when I try to run most of the tests:

[code]

My guess is that this is something to do with the changes here:

[code]

They look fine to me; can anyone offer any thoughts on this?

[2018-01-14 15:35] sokra commented on #6244
[code]

[2018-01-14 15:35] EugeneHlushko commented on #6264
While this might not be what you want, but i suggest trying webpack 4 which does not include that external2 thing.

[2018-01-14 15:36] johnnyreilly commented on #6244
Lemme try

[2018-01-14 15:36] sokra commented on #6244
for both hooks

[2018-01-14 15:38] johnnyreilly commented on #6244
Done - now ts-loader hangs :-(

[2018-01-14 15:38] sokra commented on #6244
I call this Progress...

[2018-01-14 15:41] johnnyreilly commented on #6244
😄 I've just committed - it's still just hanging though.  Should make Travis hang too now 😉

[2018-01-14 15:43] buster95 commented on #6315
------- app_core
![image](https://user-images.githubusercontent.com/15637669/34917634-eea35040-f90e-11e7-82d7-563b28a8a033.png)
------- LoginController
![image](https://user-images.githubusercontent.com/15637669/34917636-fabc71fe-f90e-11e7-894b-42745afaa046.png)

When I change Object.propertyDefine at the end of the module export work
![image](https://user-images.githubusercontent.com/15637669/349

[2018-01-14 16:21] buster95 commented on #6315
# **Solution**
**imports** at the start
**exports** at the end

[2018-01-14 17:15] johnnyreilly commented on #6244
Yeah I'm wondering if there's something wrong with `after-compile`.  I've commented it out and committed to illustrate the problem I'm experiencing: https://travis-ci.org/TypeStrong/ts-loader/jobs/328757985

[2018-01-14 19:06] ooflorent commented on #2868
Could someone create a gist or a repository to reproduce the issue?

[2018-01-14 23:07] sindresorhus commented on #196
@timkendrick Thanks. That's what I ended up using.

[2018-01-14 23:10] sindresorhus commented on #196
I'm in no rush. CommonJS works fine. ESM has dynamic "require" with `import()`, so I don't see how that changes things.

Another example: https://github.com/sindresorhus/pokemon/blob/797cbdcbbe914347b3f73918b54cdde042f7918f/index.js#L30

[2018-01-15 00:58] cdac901 opened #6317 "require.context, keys() no return correctly"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
keys() functions no return correctly

**If the current behavior is a bug, please provide the steps to reproduce.**
I have this structure directory:

[code]

**What is the expected behavior?**
list.keys() should be:
[code]

**Please mention other relevant information such as the browser version, Node.js

[2018-01-15 06:20] johnnyreilly commented on #6244
Okay - got some sleep and tried something else.  The `after-compile` hook is running fine as long as I remove the code that reports errors to webpack.  This guy: https://github.com/johnnyreilly/ts-loader/blob/master/src/after-compile.ts#L39

I'll do some more digging but it looks like calling `registerWebpackErrors` might be the problem.

[code]

Can anyone advise?

[2018-01-15 07:57] awhhrn opened #6318 "webpack-dev-server version problem"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Initialize the project with vue scaffolding,webpack-dev-server2.9.1version 'Syntax error',webpack-dev-server2.7.1version  normal operation
![1](https://user-images.githubusercontent.com/31606784/34931949-faad6436-fa0b-11e7-81bf-812d908b1239.jpg)

**What is the expected behavior?**
webpack-dev-server2.9

[2018-01-15 08:44] juliomatcom commented on #5140
Hello @Samvrie the solution for me was import the `uglifyjs-webpack-plugin` package as says in
:information_source: https://github.com/webpack-contrib/uglifyjs-webpack-plugin#uglifyjs-webpack-plugin
Only if you are using webpack v3.X

[2018-01-15 09:27] sokra commented on #6318
upgrade to latest versions

[2018-01-15 09:30] sokra commented on #6317
keys always start with `./`.
Your regexp doesn't match `./3.js`

[2018-01-15 09:30] #6317 closed

[2018-01-15 09:34] sokra commented on #6315
That's how the ESM spec defines it.

Import and Exports are "executed" before the source is evaluated.
Your app has a circular dependency. ESM spec also defines the order in which the sources are evaluated:
Assuming app_core.js is your entrypoint, the order of evaluation is: LoginController.js first then app_core.js.

[2018-01-15 09:37] sokra commented on #6244
compilation.errors is still an Array.

[2018-01-15 10:24] johnnyreilly commented on #6244
Yup - just did the `Array.isArray` test to be extra sure :wink:

Any ideas on how I could on why adding extra errors to the `compilation.errors` property in `after-compile` might be problematic? / how to better to approach this please?

[2018-01-15 12:06] jeremiegirault commented on #3603
Hi,

Just encountered this issue having "out-of-context" `node_modules` folder (using a monorepo with workspaces).
I used this workaround in my configuration to avoid absolute path in source maps :

[code]

[2018-01-15 12:52] nechita commented on #6303
hey @markgoho-EDT I'm getting the same error. Did you manage to find a fix?

[2018-01-15 13:06] snarun commented on #6310
Also, Can these imported dependencies be pushed to global (window), to avoid the duplicates. In our app, we need these references badly to avoid the duplicates, as we're injecting the web pack chunk files at run time.
[code]

As these are defined with in the global scope of webpack, what is the best way to publish this outside?

[2018-01-15 15:28] GreggOrdHume commented on #1542
For me doing the .babelrc worked as well as removing `-p` from my run script.

For Heroku i had my package.json postinstall script set to:
`"postinstall": "webpack --config webpack.config.js -p --progress",`

It seems webpack -p was trying to process on top of uglify or babel.

.babelrc
[code]

webpack config (babel-loader automatically reads the .babelrc file, you need to point it there)
[code]

[2018-01-15 15:49] TimMeade commented on #4160
After reading and trying most of the options here this worked from me:   @tugayilik got it....

      Containers: path.resolve('src/containers/'),
      Components: path.resolve('src/components/'),

What worked here.

[2018-01-15 18:19] phaistonian opened #6320 "Importing chunks asynchronously in require.context scope is not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`import`ing chunks inside a require.context scope will not result in code-splitting.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

The files (js files) contain `import` calls that are not loaded asynchronously, as expected.

What happens is that the chunks are in

[2018-01-15 22:26] sokra commented on #6248
I have a plan, but this will take a bit...

[2018-01-15 22:27] sokra commented on #6320
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-01-16 01:18] jacobdfriedmann commented on #6226
Typically, the result of executing a polyfill is that the global method it is designed to polyfill will be defined, even in browsers that don't natively support it (in this case `window.JSON`). Rather than using the ProvidePlugin to replace references to the global method, you probably just need to make sure that the polyfill is executed before your application code. You can do this by making it t

[2018-01-16 02:45] g0t4 commented on #6157
So, going forward will the typical end user be encouraged to `npm install webpack-cli` and no longer `npm install webpack`?

Is that something we'll see in the docs? For example, would that end up in https://webpack.js.org/guides/installation/#local-installation?

[2018-01-16 02:59] g0t4 commented on #6157
Also, how about keep `webpack` as the command name? That might cause less confusion.

Separately, why extract the CLI to a new package versus the API to a new package? I'm not suggesting this, just curious to learn more about the thought process and maybe more about how to think about this re-organization.

[2018-01-16 04:21] #5172 closed

[2018-01-16 06:59] SauravDas90 commented on #1083
@djuretic `var debug = process.env.NODE_ENV !== "production";
var webpack = require('webpack');
var path = require('path');

module.exports = {
  context: path.join(__dirname, "src"),
  devtool: debug ? "inline-sourcemap" : false,
  entry: "./js/client.js",
  module: {
    loaders: [
      {
        test: /\.jsx?$/,
        exclude: /(node_modules|bower_components)/,
        loader: 'babel-loader'

[2018-01-16 09:42] Birowsky commented on #6264
@EugeneHlushko tried compiling with:

[code]

Got:

<img width="687" alt="screen shot 2018-01-16 at 10 41 43" src="https://user-images.githubusercontent.com/3199950/34982150-e132016c-faa9-11e7-8428-a3767f1bb505.png">

[2018-01-16 09:43] phaistonian commented on #6320
As it turned out, this was caused by using a too greedy regex in the `require.context` call.

That said, false alarm, apologies.

[2018-01-16 09:43] #6320 closed

[2018-01-16 10:37] Reinmar commented on #5931
@nealoke, I think that this ticket is more about the DX, not the error itself.

Regarding the error, see:

* https://github.com/webpack/webpack/issues/6131 (with steps to reproduce the issue)
* https://github.com/mozilla/source-map/issues/304 (issue on source-map's side, with steps too)

[2018-01-16 10:38] JulienDemarque opened #6323 "npm build fails"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
npm build sends an error

![screen shot 2018-01-16 at 12 33 20](https://user-images.githubusercontent.com/27313954/34984401-87639e92-fab9-11e7-996e-9618c92108d0.png)
**If the current behavior is a bug, please provide the steps to reproduce.**

followed the getting started tutorial until npm script
Her

[2018-01-16 11:14] automeow commented on #1914
I am getting this issue due to a dependency.

`import Navigation from '@atlaskit/navigation'` causes the error
`const Navigation = {}` "fixes" it (at least lets it build) ignoring run time errors

`--max_old_space_size=4096` does not fix it for me (node never goes above ~1.4Gb anyway)

[2018-01-16 11:32] NN--- commented on #6226
@jacobdfriedmann I need something that doesn't change global object and using ProviderPlugin was simplest working solution.
It just lacks one small feature.

[2018-01-16 12:44] sokra commented on #6323
Did you run `npm install`?

[2018-01-16 12:45] #5663 closed

[2018-01-16 13:01] sokra commented on #6264
This doesn't work yet. We don't do this kind of scope analysis yet, but this is prepared in some places and could be added.

[2018-01-16 13:04] txinfo commented on #1866
I found the same as @wmzy after my own lengthy investigation. I have opened an issue on watchpack's issue tracker to make that option configurable: https://github.com/webpack/watchpack/issues/61

[2018-01-16 13:22] ev1stensberg commented on #6157
@g0t4  CLI for CLI and webpack for node api.

[2018-01-16 13:52] rustam87 opened #6324 "webpackJsonp is not defined with CommonChunkplugin"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When i start build my apps with webpack, common chunk plugin work correctly, but when i add some code and watcher see a changes in my code i have this error  - **webpackJsonp is not defined**

i noticed that webpack generate other code when i start webpack and when my files change
1. when i start webpa

[2018-01-16 15:14] JulienDemarque commented on #6323
Yes.
Here is what the node_modules folder look like:

![screen shot 2018-01-16 at 17 13 17](https://user-images.githubusercontent.com/27313954/34995902-9902513a-fae0-11e7-87a7-7225854d8326.png)

![screen shot 2018-01-16 at 17 12 03](https://user-images.githubusercontent.com/27313954/34995874-7b75b260-fae0-11e7-9167-a024e0212300.png)

[2018-01-16 15:17] evilebottnawi commented on #6323
@JulienDemarque `ls -l node_modules/.bin/`?

[2018-01-16 15:20] JulienDemarque commented on #6323
Here it is:

![screen shot 2018-01-16 at 17 19 34](https://user-images.githubusercontent.com/27313954/34996177-7c82c296-fae1-11e7-846d-2d19f94e0012.png)

[2018-01-16 15:26] evilebottnawi commented on #6323
@JulienDemarque don't reproducible locally using you repo, seems you have problem in you shell (`sh`)

[2018-01-16 15:27] JulienDemarque commented on #6323
npx webpack --config webpack.config.js works fine. Only the npm scripts tags fails...

[2018-01-16 15:28] JulienDemarque commented on #6323
I had a similar issue with create-react-app. Any idea how to fix the problem? (except changing computer... :) )

[2018-01-16 15:36] buster95 commented on #6315
you have the reason, I am a beginner, I try understand these, thanks for explain me

[2018-01-16 15:49] JulienDemarque commented on #6323
I just tried with bash, sh and zsh. Still got the same result... :/

[2018-01-16 15:54] evilebottnawi commented on #6323
@JulienDemarque try to reinstall node and npm

[2018-01-16 16:04] JulienDemarque commented on #6323
I reinstalled node and npm. Still not helping...

[2018-01-16 16:15] pat310 commented on #1805
+1

[2018-01-16 16:39] blackn1ght commented on #5399
Yeah, same error here.  One minute it was working fine, suddenly it wasn't.

Issue happens on webpack@3.10.0 and 3.4.1.  Not using the `ExtractTextPlugin`.

[2018-01-16 18:36] pbn04001 opened #6325 "Webpack hot redeploy not firing when changing sass/css files"
Using webpack v: 2.11.0

I have all of my js, html, sass under the src folder in my project, and have my dev server configured as such
`devServer: {
    contentBase: './src',
    watchContentBase: true,
    before(){
      console.log("Compiling css");
      cmd.run('yarn run compile-css');
    }
  }`

Start the server using this command.
webpack-dev-server --config ./config/webpack.config.js --po

[2018-01-16 18:39] evilebottnawi commented on #6325
@pbn04001 you should use `sass-loader` for hot reloading

[2018-01-16 19:08] pbn04001 commented on #6325
@evilebottnawi I am not including the sass via my react components because 1) It breaks trying to use wild card includes 2) I am going to be including my compiled css in the html, and it will be actually saved to a cdn.
I have a before command that works perfect to compile my sass to css every time web dev server start, just doesn't pick up any changes to those files after the fact...

[2018-01-16 19:29] SauravDas90 commented on #1083
Added    "babel-preset-es2015": "^6.3.13"  dependency in package.json

[2018-01-16 20:00] kenoyer130 opened #6326 "WebPack bootstrap throws undefined error when loading specific chunk"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
We are currently injecting multiple webpack modules javascript projects into our app. The issue is if we inject Module A and download a chunk, then inject Module B and download a chunk for that module, then go back to Module A and download a specific chunk it fails with the following error:

 -- boots

[2018-01-17 02:03] jfehrman opened #6327 "r"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-17 02:21] atav32 commented on #2675
My problem was a line in a library similar to

[code]

[2018-01-17 02:45] TheLarkInn commented on #6157
Wes, I think the problem lies within the sheer amount of different
dependencies that the cli uses. Unfortunately we dont want to muddy all of
our users with a bunch of Babel and other dependencies for just webpack
alone (if let's say they are just using the node API).

This is crazy but, maybe we could create a webpack target for the cli that
publishes two packages. One with the base API cases, an

[2018-01-17 02:53] richtera opened #6328 "Unable to get DefinePlugin, CommonsChunkPlugin and UglifyJsPlugin to work together."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using DefinePlugin and UglifyJsPlugin together the minification is done before the DefinePlugin searches for variables. So things like process.env.NODE_ENV is not substituted inside of a CommonsChunkPlugin chunk. I have tried many combinations and disabling UglifyJSPlugin by removing it will corre

[2018-01-17 02:58] jfehrman commented on #6327
Opened by mistake.  So sorry.  Started typing vim commands and this happened.

[2018-01-17 02:58] #6327 closed

[2018-01-17 05:57] ooflorent commented on #6328
Could you provide these informations please?

I did my best to reproduce the issue but everything works as expected. Maybe you are using an outdated version of webpack or did something wrong within your configuration (hard to tell without the full picture).

[2018-01-17 06:56] TheLarkInn commented on #5952
Hmm, @sokra. How do we want to skin this lizard? Iterating over both chunks and modules and calculating their percentages of duplication is likely to be pretty costly no? Probably:

* Opt In Plugin
* We'd need to build this into stats, (stats needs a refactor also).
* I feel like a visual would be heavily beneficial here, and theres no reason why we can't, but I don't think fits the 4.x milestone.

[2018-01-17 08:37] eshwarenm commented on #4258
@ptflp 's solution works for me..

[2018-01-17 09:25] evilebottnawi commented on #6325
@pbn04001 Do you include `css` in your react components (using `style-loader/css-loader`)? If not it is impossible, `webpack` don't known about you `sass/scss/css` files and can't add their to dependencies graph.

[2018-01-17 12:10] ev1stensberg commented on #6157
It's in the roadmap, CLI should be a buffer for the CLI and node API

[2018-01-17 12:44] richtera commented on #6328
I am using Mac OS X 10.13.2 (17C205) running 8.9.1 of node.
webpack is webpack@3.10.0. My webpack config is definitely complicated and uses a Promise to return the config. Is there a way to see the sequence of webpack plugins running during packing?
I decreased the size of the project by removing all components and dependent files and then it works correctly with and without uglify. I seem to be h

[2018-01-17 12:48] evilebottnawi commented on #6328
@richtera can you create minimum reproducible test repo?

[2018-01-17 12:50] richtera commented on #6328
I can create a minimum repo but it works in the minimal configuration. I can't quite figure out what makes it break.

[2018-01-17 12:52] ooflorent commented on #6328
Could you post the resolved config? Even if it doesn't work, maybe we could find what's wrong

[2018-01-17 13:03] richtera commented on #6328
Here is a simplified version of the project.
https://github.com/richtera/webpack-project-for-debugging
It uses yarn to pull in the correct dependencies but this sample project only imports react in each of the index.js files.
NOTE: We use NODE_ENV=production to turn on and off the Uglify project.

[2018-01-17 13:21] ooflorent commented on #6328
I can't reproduce the issue using your repository. Here is what I did:

[code]

Inspecting `commons.*.js` reveals the production build on React, as expected.
Without specifying `NODE_ENV`, the bundle contains:

[code]

Am I missing something?

[2018-01-17 13:24] ericorruption commented on #196
I went through this issue and couldn't find THE go-to way of solving the 3rd-party depending on dynamic imports problem. The suggested documentation links no longer work, for example.

[2018-01-17 14:19] richtera commented on #6328
That's correct without uglify and it's working in the repo without the code. Once I put the rest of my code in it breaks. Seems to be some kind of limit. When I look at my built version it looks like this:
[code]

[2018-01-17 14:34] ooflorent commented on #6328
Sorry I can't reproduce. I used uglify and it worked as expected. What command did you use to build the project?

[code]

Even without minification:

[code]

I think the problem is elsewhere. Your repro-repository works as expected. Without issue.

[2018-01-17 15:00] felipellrocha opened #6330 "Webpack is not externalizing one of my packages"
**Report a *bug***

**What is the current behavior?**
I'm trying to externalize one of the packages in my library, but webpack seems to miss it.

**If the current behavior is a bug, please provide the steps to reproduce.**

Install `react-bootstrap`, externalize it like so:

[code]

run webpack: `NODE_ENV=development webpack --display-modules`

Verify that `react-bootstrap` was not included in the

[2018-01-17 15:27] #6063 closed

[2018-01-17 15:33] ooflorent commented on #6330
I'm not able de reproduce the issue. I've created a gist: https://gist.github.com/ooflorent/7930acb4ef38d82342a7434bffb58056

As you can see, the modules are externalized. If you want further help, please create a repository that match your case to reproduce the behavior you described and reopen this issue. Thanks!

[2018-01-17 15:33] #6330 closed

[2018-01-17 15:38] ooflorent commented on #6323
@JulienDemarque could you include the **NPM log** and the output of the following commands:

[code]

[2018-01-17 15:57] JulienDemarque commented on #6323
[2018-01-17T15_49_02_075Z-debug.log](https://github.com/webpack/webpack/files/1639629/2018-01-17T15_49_02_075Z-debug.log)

node v8.9.4
npm v5.6.0

I tried previously with node v6.11.1. It wasn't working either.

[2018-01-17 15:58] richtera commented on #6328
That's exactly my problem. My full project (using the same webpack config) fails but without all the source code it works normally. I don't know how to figure out what about the project source code causes uglify to fail in production.

[2018-01-17 17:20] mikeaustin commented on #6318
I'm having a similar problem. Upgrade to the latest versions of what? I upgraded webpack-dev-server from 2.9.7 to 2.11. Webpack is at 3.10.

Related notes:

[code]

[2018-01-17 18:27] richtera commented on #6328
Ok I was able to add a few files from my deployment to reproduce the error in the sample repo.

[2018-01-17 21:11] richtera commented on #6328
So far I narrowed it down to the CommonChunksPlugin. If I add some shared code and then set the minChunks to 2 I can make the error happen easily.

[2018-01-17 21:11] richtera commented on #6328
Does anyone know how to make sure to run the DefinePlugin before the UglifyPlugin in the case of a common chunk?

[2018-01-18 01:28] chingling123 commented on #5902
I'm having the same problem. Has any fix?

[2018-01-18 02:16] richtera commented on #6328
There might be a problem with just the DefinePlugin as well. When disabling Uglify it does seem to solve some of the instances of process.env.NODE_ENV, but I still find more of them in the output text. So there might be a combination of things going on. Is there a maximum limit of js code?

[2018-01-18 02:31] #5190 closed

[2018-01-18 02:51] #5166 closed

[2018-01-18 04:54] gdborton commented on #5718
Attempted to run our profiling script against the newer alpha versions, but I hit some errors against `pre.3` and `pre.4`

[code]

Here are the numbers anyway, although I don't know how relevant they actually are.

Build setup looks like:
  Compiler: client, entryPoints: 3, modules: 4923

 | node version | webpack version | iteration 0 | iteration 1 | iteration 2 | average time (ms) |
 | ---------

[2018-01-18 07:52] basaa88 commented on #5073
npm install --save-dev case-sensitive-paths-webpack-plugin

It should do the trick

[2018-01-18 08:04] sokra commented on #5718
Did this mean we got slower between alpha.2 and alpha.3?

[2018-01-18 08:07] sokra commented on #5718
Ah that's what you are saying about the error. They are probably not comparable, because of the error. Looks like you need to remove the `json-loader` from configuration to fix the bug.

[2018-01-18 08:30] vjpr commented on #4772
Just to summarize, `require.context`'s arguments must be static and not be variables.

Good:

[code]

Bad:

[code]

[2018-01-18 08:59] rustam87 commented on #6324
sorry, i realized that i cannot have chuck name - common, because i have a entry point with analogy name

`common:         './common/common.js',`

[code]

i just change my chunk name

new webpack.optimize.CommonsChunkPlugin({
            name: "common-chunk",
            filename: "common-chunk.js"
        })
[code]

[2018-01-18 09:00] #6324 closed

[2018-01-18 09:08] vjpr commented on #1316
To get around this I don't rely on `require.context`, instead manually code generating the `require` statements.

[2018-01-18 09:17] sokra commented on #6326
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-01-18 11:00] callamwilliams commented on #5399
Same error here webpack@3.10.0,  extract-text@3.0.2

Downgrading extract-text & webpack doesn't resolve it

[2018-01-18 11:37] 1more commented on #5326
(FYI)
Thanks to @benjycui @nowells .
Below steps are how I fix my `item.source is not a function` error.

1. try to change webpack code like this [line](https://github.com/webpack/webpack/commit/1af69d6fa1fb1f06a47ceeb808174df059e031fc#diff-1064caa9219b7da75fbad061b1a25ec5R163) (only the 163 line of `Chunk.js` file)
2. test webpack doesn't print `item.source ~~` error message.
   1. if it works, s

[2018-01-18 12:03] DorianGrey commented on #6318
There are already a couple of issues and PRs pending in the `webpack-dev-server` repo regarding this issue - suppose it's better to follow up these.

https://github.com/webpack/webpack-dev-server/issues/1278
https://github.com/webpack/webpack-dev-server/pull/1273
https://github.com/webpack/webpack-dev-server/pull/1279

[2018-01-18 12:09] richtera commented on #6328
The latest test code in here uses a git submodule. Sorry I forgot to mention this.

[2018-01-18 12:32] richtera commented on #6328
I simplified the test project and added a README. It shows that the problem shows up with and without UglifyJsPlugin enabled. So I am suspecting the problem is the DefinePlugin rather than the UglifyJsPlugin.

[2018-01-18 12:41] ThiagoMiranda opened #6333 "Lazy import and webpackChunkName behavior different from documentation"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Lazy import is not working as expected. My chunk file name doesn't change from [id].js and a conditional import is merged in only one file. In the console output the Chunk Names are empty. I've followed this doc link:
https://webpack.js.org/guides/lazy-loading/

Output:
[code]

**If the current behavio

[2018-01-18 13:16] ooflorent commented on #6333
Remove `babel-plugin-dynamic-import-webpack`. This transform replaces `import()` by `require.ensure` which has a different behavior.

[2018-01-18 13:16] #6333 closed

[2018-01-18 13:27] ThiagoMiranda commented on #6333
Thanks @ooflorent but which one can I use? Removing it outputs an error:
[code]

[2018-01-18 14:05] ooflorent commented on #6333
You must add ˋbabel-plugin-syntax-dynamic-import` to enable `import()ˋ within Babel's parser.

[2018-01-18 14:07] pladaria commented on #3735
How was this issue fixed?

[2018-01-18 15:49] ThiagoMiranda commented on #6333
Tha's it @ooflorent !
Sorry for the issue but my focus was on the webpack configuration.
Thanks!!!

[2018-01-18 15:57] ooflorent commented on #6333
No problem. I'm glad it solved your issue.

[2018-01-18 21:48] Sawtaytoes commented on #1079
@MilosRasic I've separated stuff out into a separate bundle, but how do I run UglifyJS on that one bundle separately from the rest? In my particular case, I need to mangle for one set of code and not mangle for the rest.

[2018-01-18 22:47] MilosRasic commented on #1079
@Sawtaytoes
[code]

[2018-01-18 23:02] orzechowskid commented on #6259
we experienced a similar problem and had to downgrade to webpack 3.4 from 3.5+ to properly build UMD modules.

[2018-01-19 02:21] #2471 closed

[2018-01-19 02:35] TaylorBriggs opened #6336 "Dynamic imports causing test failures"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
`Error: Uncaught [TypeError: __webpack_require__.e is not a function]` when running tests via Karma.

**If the current behavior is a bug, please provide the steps to reproduce.**
The bug can be reproduced by running this repository:
https://github.com/TaylorBriggs/webpack-import-bug

**What is

[2018-01-19 06:15] johnnyreilly commented on #6244
Hey @sokra,

Just wondering if you've any ideas on how I could on why adding extra errors to the `compilation.errors` property in `after-compile` might be problematic? Is there an alternate approach for registering errors with webpack that we could use instead?

Much ❤️

[2018-01-19 08:10] oennen opened #6337 "invalid event hook only triggered for one file when multiple files have been invalidated"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
"invalid" plugin hook is only called once when detecting file changes. If you saved multiple files at one time, only one of them will be provided via the "invalid" plugin hook.

**If the current behavior is a bug, please provide the steps to reproduce.**
Write a simple plugin like this:

[code]

Run `w

[2018-01-19 08:20] penge opened #6338 "chunkhash, webworker target"
**chunkhash**

Problem:
chunkhash is always from source file, not output file
chunkhash is the same for minified and non-minified file

How it should be:
chunkhash is computed from output file

Example:
Removing comments and console using MinifyPlugin
Changing comments in source file changes chunkhash of output file even when output file is the same as before because comments are removed.

**webwo

[2018-01-19 08:58] Sawtaytoes commented on #1079
Thanks! I was able to run this against my chunk name, and it did work. All I had to do was to put the UglifyJS plugin declaration in there twice. Once for the main bundle files excluding this particular one and another declaration for this particular one with `mangle: false`. I appreciate the help 👍.

[2018-01-19 09:35] ChrisOHu commented on #2134
Hi. I think webpack should load the same module only once.

[2018-01-19 09:44] Zephir77167 opened #6339 "Undefined named imports don't fail build, but rather fail at runtime"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When importing an undefined named import, it doesn't produce any warning or error in build, but fail at runtime. I am using babel-preset-env, with `modules: false`.

**If the current behavior is a bug, please provide the steps to reproduce.**

a.js
[code]

b.js
[code]

**What is the expected behavior

[2018-01-19 09:58] Zephir77167 commented on #3158
Bumping into this as well, babel-preset-env's `modules: false` doesn't fix it in my case.

https://github.com/webpack/webpack/issues/6339

[2018-01-19 09:58] Zephir77167 commented on #6339
Just realised this was a duplicate of https://github.com/webpack/webpack/issues/3158. Sorry

[2018-01-19 09:58] #6339 closed

[2018-01-19 10:28] Assoumadjo opened #6340 "my vendor.bundle.js is 12MB"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
I am a webpack newbie, I tried to build my angular 2 project but the size of my vendor file is huge even in production , which make my app too slow to load.

my webpack config :

[code]

I build the project with command :
[code]

**If the current behavior is a bug, please provide the steps to rep

[2018-01-19 13:14] monkindey commented on #5166
I think the bot is not smart enough yet. Maybe we should not close the issue has the `feature` and `enhancement` label ?

[2018-01-19 13:38] varadero commented on #959
I have reproduced it. I am using Angular-CLI version 1.6.5 in order to build very simple Angular app. I have attached .zip file with the project and instructions in README.md. Here is how you can reproduce the error:
[code]

Sample package.json file:
[code]

Please see attached file for reproduction. It also contains webpack build in ```dist``` folder that causes the error.
[call-error-repro.zip](

[2018-01-19 13:48] ooflorent commented on #6340
While 12MB is a lot, it is possible. It's most likely because:

- You have a lot of vendors, some may be heavy (try to trim your dependencies)
- Some dependencies are bundled multiple times because of version conflicts (fix your `package.json`)

Please provide a working repository if you need further help.

[2018-01-19 13:48] #6340 closed

[2018-01-19 14:33] nartamonov commented on #4518
Any update on this, guys?

[2018-01-19 15:37] gastonrampersad commented on #1805
+1

[2018-01-19 16:01] light24bulbs commented on #3800
Just to clarify for anyone who finds this, the context is a way to trim off the beginning of the path from the module, so that the plugin can match the path strings and replace modules based on their path, even if the location of the node_modules folders are actually different.

[2018-01-19 16:26] TaylorBriggs commented on #6336
Investigated further and found the tests start failing with v3.7. I updated the repository above with a branch that shows the tests passing with web pack v3.6.

[2018-01-19 17:28] marapper commented on #672
Is it still relevant? webpack 3.2+

Before
- start.d395a0e3f23b51e053fc.6ff8406df2b1b3d2d64d863c42d52f60.css
- start.d395a0e3f23b51e053fc.js

After
- start.d395a0e3f23b51e053fc.691904d4bbec16a4b8cdcdc94b80e13b.css
- start.d395a0e3f23b51e053fc.js

[code]

[2018-01-19 17:41] varadero commented on #845
#959

[2018-01-19 17:49] haishengwu-okta commented on #1495
@sokra would you link the fix commit and what's the release version the fix has?

[2018-01-19 18:32] funcphp commented on #959
pls kill me

[2018-01-19 20:28] gaearon opened #6343 "Why isn't bail: true the default?"
**Do you want to request a *feature* or report a *bug*?**

A confusing default?

**What is the current behavior?**

With 3.x, running `webpack` from CLI on a codebase that has a bad `require` that doesn't resolve anywhere compiles the bundle (but the require fails at runtime).

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create an entry that imports a non-exist

[2018-01-19 20:55] plexigras opened #6344 "(feature) load the same file with different rule sets without inline loaders"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
you need to use `import Styles from 'style-loader!css-loader?modules!./styles.css';`

~~**If the current behavior is a bug, please provide the steps to reproduce.**~~

**What is the expected behavior?**
i would like to be able to load the same kind of file with different rule sets defined in the co

[2018-01-19 22:39] mikezks commented on #2131
There seems to be a bug:

If  ``"@angular/cli": "^1.5.0"`` is defined in ``package.json`` and ``1.5.0`` is currently installed in ``node_modules`` everything works fine.

As soon as I delete the local ``node_modules`` folder and use ``npm install`` the currently available CLI minor version will be installed (now: ``1.6.5``), but not all necessary sub dependencies get installed. E.g. webpack is not

[2018-01-20 06:15] ooflorent commented on #6344
What you’re proposing is not valid JavaScript syntax so webpack can’t handle it.

[2018-01-20 06:15] #6344 closed

[2018-01-20 11:17] koushik72 commented on #1542
Replace the file suffix name from `.js `to `.jsx` and see if that works.
That worked for me.

[2018-01-20 13:41] dandv commented on #431
I see `.npmignore` is no longer used; instead there's a [`files` section in package.json](https://github.com/webpack/webpack/blob/next/package.json#L81).

However, after ` yarn add webpack@webpack/webpack#next --dev` I ended up with irrelevant files and directories installed, like .travis.yml or `.github`:

![image](https://user-images.githubusercontent.com/33569/35184020-7a3aaa24-fda4-11e7-87ef-2

[2018-01-20 14:32] ottoo commented on #6328
For me everything also works correctly with this plugin. I have defined env vars in a separate `env` variable and then have the NODE_ENV accordingly and its value is production as intended

[code]

and

[code]

[2018-01-20 14:42] plexigras commented on #6344
i don't understand, pseudo code is by definition not valid?

[2018-01-20 14:49] richtera commented on #6328
Turns out of all the modules I am using those two are the only ones without node:false or other ways of building the output file. I posted two pull requested to fix those two modules.

- fakiolinho/react-loading#42
- borisyankov/react-sparklines#108

You can install temporarily directly from github.

- npm install or yarn add https://github.com/richtera/react-loading.git
- npm install or yarn add 

[2018-01-20 14:50] richtera commented on #6328
Maybe I didn't explain this well enough. Both of the modules react-sparklines and react-loading contain the process polyfill in their main file.
Example from react-loading

[code]

Any file included after that one in the bundle will get process injected instead of keeping the global.
After commenting out the dependencies and usage of those two modules webpack does the correct DefinePlugin substitu

[2018-01-20 15:06] ooflorent commented on #6344
Absolutely. That’s why there is not pseudo code in webpack but comment directives and runtime.

[2018-01-20 15:09] ooflorent commented on #6328
@richtera thanks for the explanation. Unfortunately webpack can’t do anything about this. You need escalate the issue those vendors bug trackers.

[2018-01-20 15:09] #6328 closed

[2018-01-20 15:17] richtera commented on #6328
It would be nice if the output log showed whether node support was used. Also maybe DefinePlugin should not break with a process shim that's part of webpack or at least shows a warning if it seems process being injected.

[2018-01-20 15:22] plexigras commented on #6344
this is infuriating you do understand that i don't want to have non valid js to work right?

https://en.wikipedia.org/wiki/Pseudocode

[2018-01-20 15:25] ooflorent commented on #6328
It’s more tedious than this.

**tl;dr** webpack can’t know about the shim.

If a code using `process` is bundled, then the bundled will add `var process = require("process");` in the file. After this operation, the `process` binding no longer reference the global `process` binding.

Moreover, it is most probably not a `require` call but a call to `__webpack_require__` or browserify own `require`.

[2018-01-20 15:27] ooflorent commented on #6328
Same apply for all shimmed global bindings.

[2018-01-20 15:32] richtera commented on #6328
I am not suggesting "fixing it" I am suggesting to output a list of injected variables and if those variables contain something DebugPlugin replacements start with output a warning. I agree that this cannot automatically resolve the problem but it was really hard to find and resolve this problem by folding and grepping the output file. There has to be a way to output the variables that are being i

[2018-01-20 15:34] sokra commented on #6343
webpack 4 doesn't emit output files in productions mode on errors.

In my opinion failing on the first error isn't the best solution. I think it's better to get a list of all errors of the build.

[2018-01-20 15:37] sokra commented on #6338
The issue here is that chunkhashes need to be inside of the output file.

webworker: File separate issue.

[2018-01-20 15:39] sokra commented on #6337
This is expected. The invalid hook is called when the bundle becomes invalid. It's doesn't trigger for each change. Otherwise if would be called `file-changed`.

[2018-01-20 15:40] ooflorent commented on #6344
Let me clarify my answer.

Webpack can't parse invalid JavaScript. Its parser walks the AST (defined by ESTree) and emits events on interesting nodes such as `require` calls or `import` / `export` statements. If you want to specify loaders or instrument the code, it must done using JavaScript valid code.

To achieve this webpack chose to add metadata into the import source (or required path) to co

[2018-01-20 15:47] ooflorent commented on #6328
That's possible to be done. However, there as multiple internal plugins that rely on globals (`process`, `module`). For example, webpack's source contains at least 500 overridden bindings (based on a regex search). What I'm trying to say is that overriding bindings is quite common.

Creating a plugin that _flag_ redefinitions is a good idea. If you want, you could create PR on `next`branch and we

[2018-01-20 15:49] richtera commented on #6328
Hmmm, ok. Other question then. When process is being injected, would there be a way to still make DefinePlugin work? That might actually be a more reliable approach.

[2018-01-20 15:52] ooflorent commented on #6328
Unfortunately not. Ignoring binding redefinitions would be a breaking change. The issue is that vendors should not include the shim. It’s not webpack’s responsibility to fix their mistakes.

[2018-01-20 16:04] richtera commented on #6328
But if there was a reason to include the process shim for some other reason should the user expect that process.env.NODE_ENV replacement no longer works? Seems and unintended side effect if node process is required. But maybe there is no way. I guess we'll have to put some script to make sure the build worked.

[code]

[2018-01-20 16:10] gaearon commented on #6343
Fair enough! Yeah, I was mostly puzzled by the fact that it still emits files. Sounds like this is solved then, thanks!

[2018-01-20 16:10] #6343 closed

[2018-01-20 16:22] richtera commented on #6328
Maybe we should have a "find broken modules" plugin which specifically searches for globals that DefinePlugin might want to replace.

[2018-01-20 17:15] richtera commented on #6328
I can't figure out how webpack detects the fact that a module returns process in order to inject it into the next modules that reference process. Would it be possible to disable that detection in addition to the automatic injection of process? Because if a module includes a process shim and only uses it internally I don't think that would be a problem.

[2018-01-20 17:44] plexigras commented on #6344
pseudo code is not computer readable and not intended to be.

[2018-01-20 19:08] ooflorent commented on #6328
Webpack cannot directly operates on the source code. It needs to _parse_ it into an [AST](https://en.wikipedia.org/wiki/Abstract_syntax_tree). This data structure describes what the file is made of. It is a mandatory step in order to perform a static analysis of your program.

While _traversing_ the AST, webpack tracks what is in the scope. For example, a variable declaration adds a new binding in

[2018-01-20 19:30] TheLarkInn commented on #6344
@plexigras, this is something that wouldn't be possible currently in webpack or for the future module type architecture. However you maybe could accomplish this in some way through a loader, but it may not give you what you are looking to accomplish.

However, what I would highly encourage is taking a look at the current architecture we have in the source code, and if you provide some nice context

[2018-01-20 19:40] kzc commented on #6328
I think `webpack`'s inclusion of the node browser polyfill by default into bundles that happen to reference a node global is an undesirable feature. The majority of browser apps and libraries do not want that polyfill by default. They are just dealing with the `process.env.NODE_ENV` development/production legacy. The node browser polyfill should be an explicit opt-in to avoid very difficult to dia

[2018-01-21 03:21] #5037 closed

[2018-01-21 03:31] #2342 closed

[2018-01-21 03:31] #1501 closed

[2018-01-21 03:51] #4099 closed

[2018-01-21 08:25] stevefan1999 opened #6347 "[Feature] Export the internal module environment to window or global for dynamic external usage"
I intend to use it for plugin usage (Separate JS). I have this in mind for so long. I remember I was able to put my `require` context into windows in Browserify in an experiment, and it was so cool, now I just missed it so much when webpack introduced ID-based require, which is IIRC _passing perfect hash/integers_ instead of _real module name_. I know webpack do this for the sake of performance, b

[2018-01-21 09:19] sokra commented on #431
This happens because you install from git. This won't occure in the published package on npm.

[2018-01-21 09:24] sokra commented on #6347
The DllPlugin can help you here. You can put all shared modules in the dll and reference the dll from the application and plugins. So you have 3 bundles: Dll, App and Plugin.

[2018-01-21 12:53] garfileds commented on #959
So, has the issue been solved ?

[2018-01-21 18:58] afuno opened #6348 "The problem of resource compilation"
Guys, here there was a problem of expansion of Rails application which uses Webpacker 3.2 (or 3.2.1).

The main discussion was conducted here: https://github.com/rails/webpacker/issues/1168

The problem seems to be that node does not have enough RAM. But on the server 4 Gb of RAM. And when deploying, node does not consume more than 12% of the RAM of the server.

I any more do not know as to be. Pr

[2018-01-21 21:53] ooflorent commented on #6348
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-21 21:53] #6348 closed

[2018-01-22 04:36] dandv commented on #431
@sokra: I did install using `yarn add webpack@webpack/webpack#next`.

[2018-01-22 08:38] walidream opened #6351 "webpack 怎么实现api的url可配置"
我现在有这样一种需求，在src中我定义api.json的文件 `{"ip":192.168.1.1,"prot":8888}` ,然后我在其他js文件中import导入这个api.json文件，可以正常工作。
但是当我打包好了放在服务器上，由于服务器老出现问题，只需要更改 ip地址，不需要每次生成dist目录，请问我应该怎么配置webpack

[2018-01-22 08:51] vok123 commented on #6351
1. 后台提供均衡负载?
2. 把接口文件写成一个js, 用window挂载api地址, 对应读取api地址也在window上取, 最后在html文件里面引用这个文件即可. 这个文件可以放cdn上, 或者放项目目录

[2018-01-22 09:18] Dakuan commented on #3975
I also have this issue but appear to have library set correctly. My configs:

webpack.development.js

[code]

[code]

Thanks in advance for any help!

[2018-01-22 09:51] ztamizzen commented on #2180
Documentation states:

new webpack.ProvidePlugin({
  'window.jQuery': 'jquery'
});

[2018-01-22 10:08] sokra commented on #6351
Please use english here

[2018-01-22 10:08] #6351 closed

[2018-01-22 11:43] pgn-vole commented on #5906
I'm experiencing the same issue. Can it be looked at ?

[2018-01-22 12:10] stormpat commented on #6323
I have the same issue. I think this behaviour was introduced with upgrading my osx deps (via homebrew)

I have a npm script i use for a alias like so:
```"compress": "./node_modules/.bin/webpack -p --env=production"```

The same command CAN successfully be run from the terminal, but when running it via npm i get errors:

[code]

[code]
To make things more weird, i CAN run other npm script successf

[2018-01-22 12:10] sokra commented on #6248
ok, after a big refactoring I was able to remove the need of rewriting chunks in reasons which should improve performance a lot.

Here is the experimental PR, untested and not sure if it's totally correct yet. But if you want to try it:

https://github.com/webpack/webpack/pull/6354

[2018-01-22 12:15] filipesilva commented on #6248
@sokra awesome work! @pleerock can you try using that PRs branch with my webpack4 branch? You should be able to install it via `npm install webpack/webpack#performance/remove-rewrite-chunk-in-reasons`.

[2018-01-22 13:06] pleerock commented on #6248
@filipesilva I have an `webpack.optimize.CommonsChunkPlugin is not a constructor` error

[2018-01-22 13:24] filipesilva commented on #6248
Ok it seems like there isn't a `CommonsChunkPlugin` anymore (https://github.com/webpack/webpack/pull/6341 and https://gist.github.com/sokra/1522d586b8e5c0f5072d7565c2bee693). I'm going to need some time to figure out how this affects our settings.

[2018-01-22 14:13] sokra opened #6357 "webpack 4.0.0-alpha.5 feedback"
Complete changelog for 4.0.0-alpha.5 compared to version 3:

Items changed from 4.0.0-alpha.4 to 4.0.0-alpha.5 are prefixed with `[new]`

# Big changes

* Environment
  * Node.js 4 is no longer supported. Source Code was upgraded to a higher ecmascript version.
* Usage
  * You have to choose (`mode` or `--mode`) between two modes now: production or development
    * production enables all kind of

[2018-01-22 14:20] sokra commented on #6244
Next alpha version: https://github.com/webpack/webpack/issues/6357

[2018-01-22 14:20] sokra commented on #6244
Thanks for all the feedback

[2018-01-22 14:20] #6244 closed

[2018-01-22 14:31] ooflorent commented on #4857
Fixed in `4.0.0-alpha.5`.

[2018-01-22 14:31] #4857 closed

[2018-01-22 14:31] ooflorent commented on #5663
Fixed in `4.0.0-alpha.5`.

[2018-01-22 14:32] ooflorent commented on #5074
Fixed in `4.0.0-alpha.5`.

[2018-01-22 14:32] #5074 closed

[2018-01-22 14:34] johnnyreilly commented on #6357
Hey @sokra,

Just wanted to flag up that we're still hitting issues regarding when we're attempting to adding extra errors to the `compilation.errors` property in `after-compile` in `ts-loader`. Is there an alternate approach for registering errors with webpack that we could use instead?

[2018-01-22 15:06] #6337 closed

[2018-01-22 15:11] tommhuth opened #6359 "Async imports' child imports do not end up in async imports chunk"
**Do you want to request a *feature* or report a *bug*?**
Think this might be a bug.

**What is the current behavior?**

I asked about this on  [Stack Overflow](https://stackoverflow.com/questions/48323721/dynamic-imports-child-imports-and-webpack-chunking), but got no answers, so as a last effort I'm trying my luck here.

I have a fairly large app, where I always know where the user is going to s

[2018-01-22 15:31] ooflorent commented on #6359
I would say using `CommonsChunkPlugin`. **However, this plugin has been removed in v4.0.0-alpha.5**. In the next version of webpack, a new plugin is automatically optimizing your module dependencies to create _commons_ chunks.

[2018-01-22 15:44] tommhuth commented on #6359
But how would `CommonsChunkPlugin` solve this? If the only thing it does is split out common stuff, the stuff belonging only to "async" would still be stuck under "main"? Or does it do more than I think?

[2018-01-22 15:51] ooflorent commented on #6359
You can add the plugin multiple times to create more chunks.
See [Extra async commons chunk](https://webpack.js.org/plugins/commons-chunk-plugin/#extra-async-commons-chunk) document.

[2018-01-22 16:17] tommhuth commented on #6359
Thanks man! One step closer,  but there is still one problem: It looks like the `CommonsChunkPlugin` cannot split out different parts from the same private NPM module. Everything ends up in "main". Is this a known limitation?

[2018-01-22 16:19] ooflorent commented on #6359
You can use the `minChunk` parameter to control what should be included in the chunk. `CommonsChunkPlugin` is really hard to configure, that's why it has been replaced by an automatic chunk splitter.

[2018-01-22 16:22] sokra commented on #6359
Do I understand the issue correctly that your scenario is like this:

[code]

[code]

and you would expect `file.js` and `async.js` to be in the same chunk named `async`, while `entry.js` is in the `main` chunk.

[2018-01-22 16:24] sokra commented on #6357
hey @johnnyreilly

I have no clue about your issue. `error` is a standard Array, without any special stuff. As long you pushing Errors into it it should work fine. Maybe you can open a separate issue, with a minimal loader repro repo.

[2018-01-22 16:26] SerenityInAllThings commented on #4596
@coreyleelarson This helped me greatly. Many thanks.

[2018-01-22 16:27] tommhuth commented on #6359
@sokra yes, exactly!

[2018-01-22 16:28] johnnyreilly commented on #6357
Thanks @sokra - will do!

[2018-01-22 16:40] tommhuth commented on #6359
@ooflorent Yes it is a little confusing. Also, if `minChunks` must be higher than 1, what about files which are only used once? They will never be moved to the async common chunk?

[2018-01-22 17:55] lsagetlethias opened #6360 "await import('@priv' + var); a.k.a Dynamic Third-party Namespaced Module Loading"
**Do you want to request a *feature* or report a *bug*?**
I request a godlike ***feature***

**What is the current behavior?**
[Here](https://stackoverflow.com/questions/47925569/dynamic-third-party-namespaced-module-loading-with-yarn-typescript-and-webpack) the question on StackOverflow. Sadly, no one can give me any response since one month.

Until now, I had no issue because loading something a

[2018-01-22 18:34] sandorTuranszky opened #6361 "Partial builds are super slow for a Vue starter project with webpack 3.6.0"
I have "webpack": "^3.6.0", & "extract-text-webpack-plugin": "^3.0.0", and partial builds are super slow for a Vue starter project.

[2018-01-22 18:50] gdi2290 commented on #959
For everyone running into this,
The problem is usually the the order if the files and webpack's module wrap when you use **CommonsChunkPlugin** or **HtmlWebpackPlugin**

for **HtmlWebpackPlugin** you can manually sort your files with `chunksSortMode`
[code]

for **CommonsChunkPlugin** the order of the when webpack creates chunks matter since they inject `webpackJsonp` in the main file. Here's a si

[2018-01-22 18:52] IronSean commented on #5594
Those imports are happening before your window assignments are happening. `require()` calls aren't hoisted to the top of the window, so try this instead:
`import * as $ from 'jquery';

window.jQuery = $;
window.$ = $;
window.jquery = $;

require('@progress/kendo-ui/js/kendo.web');
require('@progress/kendo-ui/js/kendo.aspnetmvc');`

[2018-01-22 18:56] sokra commented on #6361
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-22 18:56] #6361 closed

[2018-01-22 19:02] sandorTuranszky commented on #6361
@sokra I see a lot of sense in your issue template. But my case is dead simple to reproduce - I simply installed the official (sorry, forgot to mention it) Vue starter project and it takes 15 sec to partially reload.

[2018-01-22 19:10] br4ndur commented on #1805
+1

[2018-01-22 19:54] benstaker commented on #959
If you're using [hard-source-webpack-plugin](https://github.com/mzgoddard/hard-source-webpack-plugin) or [babel-loader](https://github.com/babel/babel-loader) with the **cacheDirectory** option enabled, try deleting the contents of the cache directory; this defaults to `node_modules/.cache/**`. For me, this fixed the issue.

[2018-01-22 20:17] leksyib commented on #6359
SMH

[2018-01-22 20:44] hamouda06 commented on #959
@varadero
Hi i see your post about your problem with Quill.
I have the same problem but with other library named Handsontable.
I see your project attachement , the problem is the import of quill in ngx-quill....

in the quill-editor.component.ts :
               import * as QuillNamespace from 'quill';
                let Quill: any = QuillNamespace;
Should be something like :  declare var Quill :

[2018-01-22 21:15] tommhuth commented on #6359
@sokra does that mean that if I in entry.js do:

[code]

and then in async.js do

[code]

they all get packed up in main anyway? I know for a fact that the module is NOT use anywhere else then in what is imported async.

[2018-01-22 22:04] johnnyreilly commented on #6357
@sokra I spent some more time digging into this; it looks like the trigger for making webpack hang is registering errors in the `after-compile` hook when `mode` has not been specified.  Not quite sure why that happens.

I'm going to go through our test pack and make sure that our configs are webpack 4 compliant.

[2018-01-22 22:16] sokra commented on #6359
Not in general. Does sub1 imports sub2? Best check with `--display-reasons --display-modules` why a module is included.

[2018-01-23 03:03] HipsterZipster commented on #6357
@sokra Amazing! Where can I find more information on sideEffects support? Will we be able to tree shake typescript transpiled code? See: https://github.com/mishoo/UglifyJS2/issues/1261

[2018-01-23 03:11] zhanghonglibj opened #6363 "webpack-dev-server --config webpack.config.dev.js"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-23 05:03] VladShcherbin commented on #2638
@sokra maybe such option can be added in webpack 4, there are often times when you don't need this bootstrap code in your bundle. I'm pretty sure we can test this in alpha version if added.

[2018-01-23 06:09] DrSensor commented on #4674
Just have similiar problem and happen to found this issue.
@stereobooster What is the difference between `index.js` and `index.browser.js`? Is it `umd` and `cjs` or something else?

[2018-01-23 07:14] VladShcherbin commented on #6357
@sokra Is it somehow possible to remove webpack `webpackBootstrap` code from bundle in webpack 4? Rollup produces far more cleaner output but doesn't have all plugins that webpack has.

I've tried different config configurations, `concatenateModules` option, etc with no luck.

[2018-01-23 07:26] #6363 closed

[2018-01-23 07:59] michael-ciniawsky commented on #6357
@VladShcherbin

**webpack.config.js**
[code]

[2018-01-23 08:13] stereobooster commented on #4674
@DrSensor here is full spec https://github.com/defunctzombie/package-browser-field-spec

it doesn't specify types of the packages. One thing that matters is if code uses browser-specific (example: Dom) or server-specific (example: filesystem) features.

[2018-01-23 08:13] nontachaiwebdev opened #6366 "Dynamic import react component not working with webpack3"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I try to use dynamic import to code splitting react component but i found this problem
```__webpack_require__(...) is not a function```
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I want to import react component success.
**If this is

[2018-01-23 08:18] VladShcherbin commented on #6357
@michael-ciniawsky close, but it just extracts it into separate as a chunk which I don't need.

[2018-01-23 08:28] param-fk commented on #5532
Any way around for this issue?

[2018-01-23 08:50] taoqf commented on #5532
This issue is fixed already. see https://github.com/webpack/webpack/pull/6200

[2018-01-23 08:50] #5532 closed

[2018-01-23 09:50] tommhuth commented on #6359
I'm having a really hard time with this. My `babelrc` looks like this:

[code]

If I add the `babel-preset-minify` at the end of `presets`, I suddenly get 18 extra chunks in addition to my "async" one.

[2018-01-23 10:42] andreyvolokitin commented on #4855
@evilebottnawi, I have the similar issue. My HTML is built using PostHTML and webpack, so it is not static I guess. I looked into ```webpack-dev-server``` source and as far as I understood, in case of ```hot: true``` [client just emits](https://github.com/webpack/webpack-dev-server/blob/master/client-src/default/index.js#L215) ``` webpackHotUpdate``` when ```webpack-dev-server``` detects that some

[2018-01-23 11:13] TheLarkInn commented on #6357
@VladShcherbin it sounds like you are looking to suggest a library target feature? If so open a separate issue regarding this plz 🙇

[2018-01-23 11:20] nickcorin commented on #3043
I have attempted to use:

[code]

Although, I am still getting errors with files with no extension for example a file in one of my external libraries is failing to load.

[2018-01-23 11:22] drcmda commented on #6357
It suddenly stopped working in production, anyone knows where my error is?

    ERROR in   Error: The loader "/Users/drcmda/dev/stepdoctor/node_modules/html-webpack-plugin/lib/loader.js!/Users/drcmda  /dev/stepdoctor/.dev/index.template.ejs" didn't return html.

[code]

Another thing i thought was odd, `mode: production` wires up uglyfy, env and so many other things, but it doesn't seem to minimiz

[2018-01-23 11:56] sokra commented on #6357
@drcmda cc @jantimon

Seems like the optimization options also affect child compilations. This seem to cause more (virtual) files than html-webpack-plugin expects. We can provide a hook for child compilers to specify if they can handle multiple initial chunks in entrypoints.

[2018-01-23 12:01] sokra commented on #6357
No that's currently not possible. We may add such a mode in future, but this is not a goal of the 4.0.0 release. webpack is more focused on applications when readability of the output files is not relevant.

[2018-01-23 12:04] sokra commented on #6366
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-01-23 12:23] andreyvolokitin commented on #4855
When webpack done compiling, ```webpack-dev-server``` [sends message with compile stats to the socket](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L71), which in turn sends message to the client (https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L671 , https://github.com/webpack/webpack-dev-server/blob/master/client-src/default/index.js#L133), whic

[2018-01-23 13:12] nontachaiwebdev commented on #6366
Thankyou for fast reply. This is my code.

route.js
[code]

AsyncComponent.js
[code]
this is error message
[code]

thankyou

[2018-01-23 13:20] Andarist commented on #6357
Super cool, list of changes is amazing ❤️ it even has a thing that I was about to request last week but didn't have time yet to create an issue ("[new] Dead branches are now removed by webpack itself")

[2018-01-23 14:31] ooflorent commented on #6357
Output is correct. You should get an error. `module` is not defined in ESM and import statements are processed at compile time.

[2018-01-23 14:47] sokra commented on #6357
@Andarist

`module.defaultRules`: use `module.rules` instead.

Like @ooflorent already says, you rules say: "Threat every module as ESM-only. This basically opts-out of CommonJs. So `test.js` contains nothing meaningful for webpack. So nothing is exported and `import` will show this as error.

---

You probably want to do this instead:

No `module.rules`/`module.defaultRules`.

[code]

[2018-01-23 15:11] Andarist commented on #6357
Actually the result was kinda what I wanted. I was just confused by those statements from the announcement:

And I still dont know what second point is about. What form under what rules does it allow? I have understood it this way:
- javascript/esm is more strict than javascript/auto
- AND imported specifiers need to exist in imported module
- AND non-esm can be imported only as default

It seems

[2018-01-23 15:50] zanettin commented on #6357
hi!
great new features ❤️
@sokra your "docs" for common chunks seams to be outdated:

[code]

output
[code]

[2018-01-23 17:06] afenton90 commented on #6359
I'm also seeing this behaviour with a very similar setup to the one @tommhuth is describing.
Example:

I have the **main entry point**:
[code]

Component **A** _roughly_ looks like this
[code]

And component **B** is consuming component **C** like this
[code]

I would expect webpack to output the main entry point & **A** in the main bundle.
Then components **B** & **C** in the split async bundle/c

[2018-01-23 19:54] atav32 commented on #2030
Haven't had a chance to look into `output.libraryExport`, but I got this setup to work.

*./src/library.js*
[code]

*webpack.config.js*
[code]

*package.json*
[code]

- - - - -

*client.js*
[code]

[2018-01-23 22:15] #6051 closed

[2018-01-23 22:34] TheLarkInn commented on #6360
What if you could have the best of both worlds?

I imagine this is because:

* Angular builds are taking lots of time, or are federated across multiple teams, you want to work on a Component (aka an entire web app), separately, and then have a "root" actual application consume it dynamically.

What if instead:

You build your component like you do, but since you are using webpack there, let's say

[2018-01-23 22:58] bios21 commented on #6360
First of all, I was at dotJS, and your talk was awesome, thank you for that. 👌

In my case, I don't use Angular, it's just for the exemple because I have, like angular, namespaced modules separately developed by another team.
The only common things is the entry point and the module name format.

Like you said, there is "components" which are published in our private registry under a namespace, and

[2018-01-23 23:09] atav32 commented on #5404
@AlexGalays you could add some options, [ModuleConcatenationPlugin.js](https://github.com/webpack/webpack/blob/f75418f6683af5e7cab86d67d896bf5001075836/lib/optimize/ModuleConcatenationPlugin.js) and open a PR

[2018-01-23 23:53] stefanpenner opened #6372 "[Feature Request] allow a node_module to specify its externals"
**Do you want to request a *feature* or report a *bug*?**

Requesting a Feature.

**What is the current behavior?**

A node_module cannot specify it's own `externals`. This forces the consumers of said node_module to set configurations, breaking encapsulation and resulting in [a very poor usage experience, and a poor node_module maintainer experience](https://github.com/stefanpenner/es6-promise/is

[2018-01-24 01:28] pavelloz commented on #6357
16.7.0 Darwin Kernel Version
node v8.9.3
npm 5.6.0
Wepback 4 alpha 5,

In production mode, with config:

[code]

[code]

package.json:

[code]

[2018-01-24 02:01] franjohn21 opened #6373 "[Feature Request] Include output path in webpack stats object"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The webpack stats object does not include the output path.

When using a tool like [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer), it requires a second option to pass the webpack output path. Ideally the stats file already contained this path and was able to be par

[2018-01-24 03:51] #2431 closed

[2018-01-24 05:50] ycscholes commented on #1275
@jaredreich , Work for me

[2018-01-24 07:31] alvinbriones232 commented on #1079
Hi i'm having the same issue, my question is how to except a file in mangle? is it possible?

[2018-01-24 08:34] probablyup commented on #6234
This can be closed now 👌

[2018-01-24 09:26] truebden commented on #6294
Sorry for the long delay.
Here https://github.com/unblu/webpack-test-naming you find a repo with a small test scenario which causes the issue. Could you please check it out?

[2018-01-24 11:45] bios21 commented on #6360
I've done a test repo : https://github.com/bios21/test-webpack-private-namespace ; I thaught about what you told me and my next try will be on DllPlugin ; but i've got no idea how to make it work with my repo -_-

[2018-01-24 12:31] Pushplaybang commented on #1468
none of these solutions are working for me.

still getting the error :)

[2018-01-24 13:18] joacle commented on #385
Does exist some kind of approach to solve the problem that dg-grow-virgiliu-ratoi exposed?

[2018-01-24 16:34] boxmein opened #6376 "Webpack's CLI parses numbers too aggressively"
**Do you want to request a *feature* or report a *bug*?**

I would like to report a bug. I'm using webpack@3.10.0 without any loaders or plugins. (see [the Gist link](https://gist.github.com/boxmein/51948f5634ac2178712f2947c95e4f90))

**What is the current behavior?**

Webpack's command line parses environment arguments into numbers (because yargs does). This causes issues with passing short commi

[2018-01-24 17:12] swateek opened #6377 "Working with Bower + WebPack3"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

WebPack Bower plugin is not supported for WebPack3 - what is the workaround to support the same?

**What is the expected behavior?**
To be able to build my current Grunt+Bower project with WebPack3+Bower (and finally migrate to

[2018-01-24 20:50] sokra commented on #6357
@pavelloz extract-text-webpack-plugin is not yet compatible.

@zanettin Thanks. I'll fix the docs.

@Andarist I'll try to reword this.

[2018-01-24 21:53] sokra commented on #6372
webpack also supports the `browser` field when targeting the browser.

[2018-01-24 21:57] sokra commented on #6377
Bower is deprecated..

You could try `resolve.directoryFiles: ["package.json", "bower.json"]` and the other resolve config options.

[2018-01-24 22:02] sokra commented on #6376
We can't control this behavior since it's controlled by yargs. You can report it there, but that probably neither helps.

Since it's pretty edge-case-y I would recommend working around it by prefixing something to the commit: i.e. `--env.commit sha:12354e2` and removing it in the configuration.

[2018-01-24 22:02] #6376 closed

[2018-01-24 22:04] sokra commented on #6373
Send a PR.

[2018-01-24 22:13] bluepnume commented on #3531
Any developments on this issue? I'm in exactly the same situation that @jmrog describes (thanks for the eloquent example, by the way!). It would be great if `ProvidePlugin` worked for this use-case.

[2018-01-24 22:31] boxmein commented on #6376
This behavior can be controlled by yargs config options though - I can submit a PR tomorrow.

[2018-01-24 22:33] bluepnume commented on #5968
@coryc5 What was the mistake on your end? I'm having the same problem.

[2018-01-24 22:39] bluepnume commented on #2739
Any planned resolution for this one?

[2018-01-24 23:22] drcmda commented on #6357
@sokra There is a bug that misinterpretates `this`, relates to:

I first thought it's babel: https://github.com/babel/babel/issues/7264

This turns:

[code]

into ` method(a = undefined.b)`, but only if an import is made above (see babel github issue).

[2018-01-24 23:32] ooflorent commented on #6357
@drcmda could you file an issue? I’d be happy to fix this. I must admit i didn’t think about this case.

[2018-01-25 02:04] benthemonkey commented on #6357
What is the reasoning behind giving each entry its own runtime chunk (when `runtimeChunk: true`)? Is there no longer a way to have a single "global" runtime chunk?

This is the biggest source of friction so far as I try to upgrade.

[2018-01-25 03:02] abiduzz420 commented on #6074
Hi @CWelshE I want to know if you are still working on it ?

[2018-01-25 03:30] nontachaiwebdev commented on #845
I also meet this problem.
My webpack version is 3.10.0

my code breakdown when dynamic import is execute.

Anyone can help me?

[2018-01-25 03:37] abiduzz420 commented on #6157
Hi, I'm looking for issues to contribute to webpack. I find this to be an interesting feature, I would like to work on this, if nobody is ?

[2018-01-25 03:51] #4802 closed

[2018-01-25 03:57] TheLarkInn commented on #6360
Sorry I should apologize what i described is currently not possible in webpack today, but describes how we might engineer a story for building a partial graph from webpack (IE: your components), that webpack would consume. So it's very much like DLL but without the perf constraints (DLLs can't be treeshaken, scope hoisted etc)

[2018-01-25 04:01] #4851 closed

[2018-01-25 04:03] TheLarkInn commented on #6360
Perhaps since this is something we have a strong intent to implement for after webpack 4, I should create a separate issue and "spec" the behavior of this feature itself, and the internal requirements.

[2018-01-25 04:09] swateek commented on #6377
You mean "descriptionFiles"?

[2018-01-25 04:29] yakovenkoroman1993 commented on #1875
How I can set an alias in package.json ? I want to replace node --max_old_space_size=4096 to simple node My scripts section is ugly.

[2018-01-25 07:31] drcmda opened #6379 "[4] Webpack turns "this" to undefined in class definitions"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

See https://github.com/webpack/webpack/issues/6357#issuecomment-360308225 and https://github.com/babel/babel/issues/7264

Webpack turns the method in this code:

[code]

into

[code]

probably confusing the top-level with class-level. Curiously without the import (any import) it seems to be fine.

**

[2018-01-25 08:26] leizore opened #6381 "ios webview page cat't catch the url change which use vue spa"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-25 08:33] ooflorent commented on #6381
Please use Stack Overflow or other communication channels for support.

[2018-01-25 08:33] #6381 closed

[2018-01-25 09:29] benjaminadrom commented on #4558
is this still a thing? the solution "compress: false", works but it is accompanied by much larger files :/

[2018-01-25 10:37] andreialecu commented on #4558
This has been fixed in `uglify-es` for a few versions now as far as I can tell. This was merged in December: https://github.com/mishoo/UglifyJS2/pull/2614

Make sure your webpack, or uglifyjs-webpack-plugin is using the latest `uglify-es` version.

[2018-01-25 11:09] sokra commented on #6357
@benthemonkey The chunk map in the runtime chunk contains only chunks referenced from that entry point. But I can see scenarios where a single runtime chunk is needed (i. e. using multiple entrypoints in a single page). If you want to you can contribute `runtimeChunk: "single"` in a PR.

[2018-01-25 11:10] sokra commented on #6357
This alpha is over, please report bugs with the beta version as issues now.

[2018-01-25 11:10] #6357 closed

[2018-01-25 11:10] sokra commented on #6377
yep

[2018-01-25 11:12] sokra commented on #6360
Dynamic import is not possible, but you can make a dynamic import static with the ContextReplacementPlugin. You need to know all possible requests at compile time.

[2018-01-25 13:07] libetl commented on #863
Many thanks... I wasted a lot of time before learning that.

[2018-01-25 13:38] benoj opened #6383 "Invalid less generated"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Less fails to build correctly?

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

My webpack config:
https://gist.github.com/benoj/908f20a64066ca8606733c36206bccdd

I have been following the tutorial here to import semantic-ui-less into my webpack project https://med

[2018-01-25 14:29] seuck commented on #4163
Any update on this issue?
I have the same error.

Here some extracts of my web pack.config.js:

`const entryConfig = {}

const babelConfig = JSON.parse(
  JSON.stringify(babel)
    // note that `"env",` (with comma) is replaced as it is uniquely pointing
    // to the babel-preset-env-plugin whereas as only `"env"` could also be
    // the node environment configuration key
    .replace(new RegExp

[2018-01-25 14:52] bios21 commented on #6360
@TheLarkInn If I can help in any way, let me know.

@sokra Thanks for the suggestion ; ContextReplacementPlugin sadly, after many time spent on the doc, I can't understand how to use it for me..
But I've done it in another way, with expose-loader and imports-loader : https://github.com/bios21/test-webpack-private-namespace/tree/expose-imports
Do you think it's a temporary acceptable solution ?

Th

[2018-01-25 15:56] ev1stensberg commented on #6157
I think maybe this already is implemented @abiduzz420. I can grab some other issues for your if you'd like!

[2018-01-25 18:47] reergymerej commented on #6074
@abiduzz420 I've got a PR that needs a modification to the glob feature.  It's a pretty small change, but I'm not able to follow up on it right now.

[2018-01-25 19:47] nreoch25 commented on #1866
Something I did which isn't the most ideal is just install the babel plugin as a devDependency in the module you are linking into your project.  The babel-plugin-dynamic-import-node was the culprit for me so I just installed that. Errors cleared up and I can continue working on my package.  Pretty much a time saver so I can stop looking into this issue and move forward.

[2018-01-25 20:03] kanzelm3 opened #6385 "Make require-ensure plugin append jsonp-scripts to body instead of head"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When dynamically imported scripts are loaded via JSONP, they are appended to the head of the document. See https://github.com/webpack/webpack/blob/master/lib/JsonpMainTemplatePlugin.js#L106 for code that drives this behavior.

**What is the expected behavior?**

It would be great if scripts loade

[2018-01-25 21:27] b3none commented on #2785
If you're here and you still have no clue...

``` yarn add babel-preset-stage-0 ```

or

``` npm install babel-preset-stage-0 ```

and refer to comment number 5.

[2018-01-25 22:06] coryc5 commented on #5968
@bluepnume The real problem had nothing to do with the promise, but we were missing another ES6 polyfill

[2018-01-25 22:39] bbmattieu9 commented on #2131
![screen shot 2018-01-25 at 23 38 04](https://user-images.githubusercontent.com/32313099/35416282-e39c6d3a-0228-11e8-89d8-b98ba553b01d.png)

still not working even after

npm remove webpack -g
npm i webpack --save-dev
npm run webpack

[2018-01-25 22:41] TheLarkInn commented on #2131
What version of Node are you running @bbmattieu9

[2018-01-25 22:50] TheLarkInn commented on #6385
@kanzelm3 I spoke with @hulkish about this personally and I'll express the same concerns:

`<scripts>` loaded into the head will gain blocking parse, load, and eval priority, so lazy loaded chunks would ideally _need_ (for the fastest lazy-load), to be added into the `<head>`.

That being said, you could technically write a plugin to do this by tapping into the "require-ensure" hook of the `MainTe

[2018-01-25 22:50] #6385 closed

[2018-01-25 22:51] TheLarkInn commented on #6383
Best bet would be to start by verifying this is an issue with [less-loader](https://github.com/webpack-contrib/less-loader) first. Would you mind submitting this there and tagging me in it.

[2018-01-25 22:51] #6383 closed

[2018-01-25 23:58] TheLarkInn opened #6386 "[spec: webpack 5] - `target.webpackGraph` - Persistent graph target"
## Current Problems & Scenarios
**To have the most performant web app, users have to leverage Rollup to package libs and webpack consume those libs:** webpack when it bundles, contains module wrappers and runtimes for running in the browser or another support target (IE: node, electron etc.). People can choose to create a UMD, or CommonJS output, however when this format is consumed by webpack (fo

[2018-01-26 03:03] abiduzz420 commented on #6157
Yeah sure @ev1stensberg That would be great! :)

[2018-01-26 03:59] bbmattieu9 commented on #2131
@TheLarkInn node version v9.1.0
npm version 5.5.1
could this be the problem?

[2018-01-26 04:11] #3150 closed

[2018-01-26 04:25] kevinbarabash commented on #2748
@ryan702 there's a typo in `extenstions: ['', '.js'],`.

[2018-01-26 06:08] mzgoddard commented on #6386
@TheLarkInn This spec is awesome. I've thought of something similar along this line of thought a few times working on `hard-source-webpack-plugin`.

So relaying on what I've experienced maintaining and further developing hard-source:

### How will webpack 6 work with this?

A big question this will need to answer is forward and backwards compatibility. Will webpack 6 be able to use version 5 graph

[2018-01-26 06:21] kanzelm3 commented on #6385
@TheLarkInn so for example, you are saying that if my main bundle is in the head and it lazy loads script b, you want to ensure it gets blocking priority over the rest of the content on the page? I think that makes sense.

I will look into other options, but I wonder if there is a way to always have the lazy loaded chunk scripts be placed after the entry chunk.

Theoretically, lazy loaded chunks w

[2018-01-26 06:49] guru-zoomforth commented on #4558
I'm still running into this issue with the recent version of uglifyjs-webpack-plugin -- it appears to be using the most recent version of uglify-es as well. (yarn info on the package says 'uglify-es': '^3.3.4')

[2018-01-26 06:51] IgorMinar commented on #6386
This appears to me as the wrong direction for webpack because of at least the following 3 reasons:

1/ Webpack can't reliably and deterministically recreate library's build environment within an app built environment.

2/ Shipping nonstandard webpack specific build artifacts is going to be a versioning and compatibility headache.

3/ Lastly, the premise of this proposal goes against side-effect fr

[2018-01-26 06:58] guru-zoomforth commented on #4558
We are still running into this problem even though our uglifyjs-webpack-plugin is using the most recent uglify-es (version 3.3.8)

[2018-01-26 06:58] TheLarkInn commented on #6386
Thank you for this information. And it is exactly the kind of feedback we want.

[2018-01-26 07:05] benjaminadrom commented on #4558
@guru-zoomforth yes we too,
we installed "uglifyjs-webpack-plugin" -V1.1.6
and used it in the webpack.config-File like

....
const UglifyJsPlugin = require('uglifyjs-webpack-plugin');
...
plugins: [
	...
	new UglifyJsPlugin(),
	...
]

[2018-01-26 07:40] TheLarkInn commented on #6386
@IgorMinar Would you rather see webpack attempting to simply output ESModule format instead? Or not even focus on it. The point here is to have a persistent caching system that allows us to compose multiple builds and spread them across multiple instances, etc.

The determinism statement I'm not sure about yet (I would like to understand more what you mean). And 2. I can understand the nonstandard

[2018-01-26 08:09] yantakus commented on #4558
Here are results of my experiments with `"uglifyjs-webpack-plugin" -V1.1.6`:

Webpack 3.10.0 with `-p` flag, no uglifyjs-webpack plugin:
**326 000** ms build time, **150** mb bundle size

"uglifyjs-webpack-plugin" -V1.1.6 (removed the `-p` flag), no config:
**496 000** ms build time, **183** mb bundle size

uglifyjs-webpack-plugin with the following config:
[code]
**315** 000 ms build time, **183*

[2018-01-26 10:02] wzup opened #6387 "What does 'Chunks' mean in CLI output?"
Command I run:
[code]

This is the result I get. What does `chunks` mean? Why sometimes they are change?
If I understand it right, the more chunks the better. But I can't see same amount of files. If I have 0-1-2 chunks in every entry point, where are chunks' files then? I have only entry points

Many
![wp_chunks](https://user-images.githubusercontent.com/3880497/35434589-61563d20-0290-11e8-97f5-f

[2018-01-26 13:56] IgorMinar commented on #6386
ESM output (flattened or not) is something that developers will require in the future. So that's the right direction.

Also thinking about how to break up a large monolithic build into several concurrent once is right.

Just don't try to do this for libraries by asking lib owners to ship webpack specific data structures.

[2018-01-26 14:53] dg-grow-virgiliu-ratoi commented on #385
how about the documentation section on their website, is that good?

https://github.com/darrenscerri/duplicate-package-checker-webpack-plugin#resolving-duplicate-packages-in-your-bundle

[2018-01-26 16:16] noahleigh opened #6388 "e"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-26 16:27] RiZKiT commented on #370
There is also: https://github.com/thecotne/webpack-glob-entry

[2018-01-26 17:40] mzgoddard commented on #6386
Yup. I think that means this spec would need to deviate one of two ways to answer it. The better way would be not to recreate the library's build environment but verify that the created build environment is the same as the library used. A non-optimal way would be to not need to recreate the build environment.

The "better way" opens a Pandora's box of usability issues for either library authors or

[2018-01-26 17:42] Mouvedia commented on #4807
@sokra when you something like
[code]

Will it work for `pathname === 'baz/qux.vue'` as well?
Does it drill in the sub-directories?

[2018-01-26 17:52] IgorMinar commented on #6386
@mzgoddard for production builds of libraries with large number of optional symbols you either want a tool that can do code-splitting at the symbol level (webpack can't do that) or a combo of a tool that can code split on ES module level (webpack v4, but not v3) + libraries that have rich (internal) ES module structure that webpack can traverse and use for code-splitting.

This means that webpack

[2018-01-26 17:56] tschaub opened #6389 "Using webpack 4 on a large project (or, how to avoid "JavaScript heap out of memory" with production mode)"
**Do you want to request a *feature* or report a *bug*?**

Maybe this a feature request.  I'm really looking for suggestions on using webpack (4) with many entry points (~165), a large set of dependencies, and a lot of shared code between entry points.

I guess it could also be considered a bug since `webpack --mode production` fails and `webpack --mode development --watch` succeeds.

In this case

[2018-01-26 18:00] jakelacey2012 commented on #6388
@noahleigh did you mean to create this? Has no details so should be closed!

[2018-01-26 18:01] evilebottnawi commented on #6389
@tschaub `serialize-javascript` uses uglify and compression plugin for cache ident. Can you raise the minimum allocated memory? Or you have many modules or memory leak

[2018-01-26 18:02] evilebottnawi commented on #6389
Source https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L158

[2018-01-26 18:03] evilebottnawi commented on #6388
@noahleigh if you have issue with webpack please recreate issue using template, thanks!

[2018-01-26 18:03] #6388 closed

[2018-01-26 18:03] noahleigh commented on #6388
@jakelacey2012 um, somehow my browser had focus instead of my editor, and a serendipitous series of keystrokes created this issue and submitted it? I didn't think this had actually been posted...

[2018-01-26 18:16] evilebottnawi commented on #6388
@noahleigh don't worry

[2018-01-26 19:31] #5908 closed

[2018-01-26 20:00] eteeselink opened #6390 "Link to legacy Webpack 1 docs for people stuck in legacy land"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**

When I google for a problem in a legacy webpack 1 setup, I might end up on pages like this: https://webpack.github.io/docs/using-plugins, which currently shows nothing but

![image](https://user-images.githubusercontent.com/703546/35457829-859c2a92-02da-11e8-85cf-bdd41e8769d5.png)

and then redirect

[2018-01-26 20:18] tschaub commented on #6389
Thanks for the response @evilebottnawi.  I'll try with `cache: false` or a different minifier and debug a bit more.  I'm not using any other plugins in the config above.  It isn't yet clear to me what the cache is in this context.  Would you expect compression to fail when using many `entry` points but succeed when using few?

[2018-01-26 20:33] ascott18 commented on #684
Also just spent quite a while running into this same issue. At the very least an informative error message that this does not work would be greatly appreciated.

[2018-01-26 20:48] TheLarkInn commented on #6390
For the work needed here. Let's just have a note near "Support" section of our README. I'm going to mark this as a first-time contribution opportunity for anyone who would like to grab it.

TODO:
- [ ] Add link to webpack 1 docs in wiki in support section of README in webpack/webpack repo
- [ ] Open issue in webpack/webpack.js.org to explore the _right_ location to link back to wiki from new docs

[2018-01-26 20:50] evilebottnawi commented on #6389
@tschaub can you and `debug` or `console` after cache ("require('fs').writeFileSync(`debug.{file}.log`, task.cacheKey)") and dump here file?

[2018-01-26 20:54] evilebottnawi commented on #6389
@tschaub also can you disable `uglify` plugin to ensure problem in plugin?

[2018-01-26 20:56] TheLarkInn commented on #6387
Answered the q on SO.

[2018-01-26 20:56] #6387 closed

[2018-01-26 21:01] tschaub commented on #6389
@evilebottnawi - I think disabling `uglify` will fix things.  Before seeing your messages above, I modified `WebpackOptionsDefaulter.js` with `cache: false` for Uglify.  And the build succeeded (in 414090ms).  This is promising.

I can reenable the cache and dump the `task.cacheKey` in a bit (off to a meeting now...)

[2018-01-26 21:03] dalimian commented on #1315
@earslap had the same issue, @sokra wonder if this issue is gonna be addressed with webpack4 since you are rewriting treeshaking. I hope wp4 gets long term caching right, we been burned with it 3 times now with webpack 2-3

[2018-01-26 21:17] paztis commented on #3459
I'd like to do the same.
As the tree shaking cleanup is only done by the uglify-webpack-plugin, is there a way to let the build in dev mode, manually add the ugluify plugin and configure it to only do dead code cleanup (no mangling, no compress) ?

I search how uglify is configured in prod mode (or at least with the --optimize-minify option) and it seams to be all the default options only source-m

[2018-01-26 21:43] DrewML opened #6392 "HarmonyImportDependency should throw during build for missing module"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Inlines a `throw` statement into a bundle when a module is missing

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone [this repository](https://github.com/DrewML/webpack-loadmodule-bug)
2. Run `npm install`
3. Run `npm start`
4. Open `dist/bundle.js` and grep for `Ca

[2018-01-26 22:08] julsgud opened #6393 "rty party"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-26 22:49] tschaub commented on #6389
@evilebottnawi it looks like it successfully serializes cache keys for each of the 165 entry points.  Here is the key for the final one: https://gist.github.com/tschaub/af36fa5ad8837fad0c5fced2a4345380 (most of the keys are around 1.5 MB).

Is the cache used for incremental builds?  I'm guessing the solution will be to disable it for many entry points.

[2018-01-26 22:57] #6393 closed

[2018-01-26 22:58] TheLarkInn commented on #6392
One thing, how would this work with watch mode if we completely threw?

[2018-01-26 23:04] DrewML commented on #6392
I guess maybe I should rephrase "throw at build time" to "report a module error". IOW, like `webpack` does today for mistyped paths or missing dependencies.

[code]

[2018-01-26 23:11] TheLarkInn commented on #6386
@IgorMinar does this differ from something like bazel's persistent cache file format? I would even be fine to standardize on a caching format that any tool could pickup also.

Things that surface in my mind that we want to accomplish:

- prevent forcing a user to need two separate tools for lib + app
- prevent forcing a user to need to use complex build orchestration to solve slowness, when really

[2018-01-26 23:28] TheLarkInn commented on #6309
Closing as we have surfaced these capabilities, we'll look into presets down the road.

[2018-01-26 23:28] #6309 closed

[2018-01-26 23:43] IgorMinar commented on #6386
I'm afraid that webpack's architecture is fundamentally incompatible with
that of Bazel in this regard.

In Bazel everything is hermetically built by default (or it's a bug),
intermediate build artifacts are files stored on fs, and lastly the build
graph is fully statically analyzable and inferred from build rules. None of
these hold true for webpack so I find the convergence with today's webpack

[2018-01-27 00:27] develra commented on #4558
@yantakus - not sure how you are chunking, but I've found it really easy to duplicate a ton of dependencies if you don't start the plugin chain with a something like
`
new webpack.optimize.CommonsChunkPlugin({
            children: true,
            async: true,
            minChunks: 3
        })
`
Adding this reduced my chunked out size from 208Mb to 6.3Mb

[2018-01-27 02:53] kzc commented on #6389
@evilebottnawi Wouldn't a lot of memory be saved if a hash of the cache identifier is used as the `task.cacheKey`? Something along the lines of https://github.com/webpack/webpack/pull/5997.

[2018-01-27 03:05] michael-ciniawsky commented on #6389
Yep, we should consider adding `asset.hash`  (equal to `module.hash/chunk.hash`) or simply generate one in the meantime, instead of using the whole source as `cacheKey`

[2018-01-27 07:16] imakan commented on #5336
how do you resolved? please help me

[2018-01-27 10:56] hnxydingchen commented on #959
this is beause of the "use strict" ,
in ES5， arguments.callee() and arguments.caller() are forbid ,
 you can delete the file  ".babelrc " ->"  'modules': false  "  ,
everything is OK.

[2018-01-27 13:01] evilebottnawi commented on #6389
PR https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/215

[2018-01-27 13:02] evilebottnawi commented on #6389
@webpack-bot move to webpack-contrib/uglifyjs-webpack-plugin

[2018-01-27 13:02] #6389 closed

[2018-01-27 14:18] tschaub commented on #6389
Thanks for the help with this!

[2018-01-27 21:33] AyushAgrawal104 commented on #4569
I find the same error and I resolved it but still confuse why its work

module.exports.config = {
.....
}

gives error

var config = {
...}

module.exports = config;

works

[2018-01-27 23:31] probablyup opened #6399 "[FR] Warn when plugins are duplicated"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
There is no warning if two or more instances of the same plugin are applied.

**If the current behavior is a bug, please provide the steps to reproduce.**
n/a

**What is the expected behavior?**
A warning should be emitted for each plugin that is duplicated, featuring the name of the plugin.

**If

[2018-01-28 03:08] ruszki opened #6400 "Source maps with newer Chrome DevTools' workspaces"
**Do you want to request a *feature* or report a *bug*?**
Feature, but also a bug in a sense.

**What is the current behavior?**
Source map plugins inject three new lines and a footer template into every source map objects. This behavior not works well with Chrome DevTools' new workspaces 2.0 API.

**If the current behavior is a bug, please provide the steps to reproduce.**
Use any kind of source

[2018-01-28 04:21] #5202 closed

[2018-01-28 04:31] #5292 closed

[2018-01-28 04:42] #5251 closed

[2018-01-28 06:10] tusharthe opened #6401 "npm install webpack error"
PS C:\Program Files\nodejs\node_modules\npm> npm i webpack --save
npm ERR! Unexpected end of JSON input while parsing near '...d-resolve":"0.5.x","c'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\tkpar\AppData\Roaming\npm-cache\_logs\2018-01-28T06_06_30_062Z-debug.log
PS C:\Program Files\nodejs\node_modules\npm>

[2018-01-28T06_08_13_605Z-debug.log](https://github.com

[2018-01-28 07:36] abiduzz420 commented on #6390
@TheLarkInn Hi, I would like to work on this issue. This would be my first contribution to webpack.

[2018-01-28 07:39] ooflorent commented on #5363
In webpack 4, the plugins defined in the configuration are _added_ like this:

[code]

Whereas internal defined plugins are added this way:

[code]

What's interesting in the last example is that webpack doesn't know _what_ is the plugin. A plugin is a closure that accept a `Compiler` instance. But for compatibility reasons `.apply` has been kept.

Knowing this, how webpack could identify that a p

[2018-01-28 07:39] ooflorent commented on #6399
Duplicates #5363

[2018-01-28 07:39] #6399 closed

[2018-01-28 09:06] mzgoddard commented on #6386
I haven't seen hermetic used this way before. I think I get it but I'm unsure I fully grok it.

webpack modules represent this with their cacheable flag. Modules that are not cacheable are rebuilt for every rebuild after webpack starts in the dev server or with the watch flag. Its rare to have non-cacheable modules in builds. If a module in a build was non-cacheable we'd exclude it from any cache,

[2018-01-28 09:39] uncledb commented on #4072
@AndrewRayCode yeah, same with you,Thank you

[2018-01-28 09:40] TheLarkInn commented on #6386
Agreed.

On Sun, Jan 28, 2018, 1:06 AM mzgoddard <notifications@github.com> wrote:

[2018-01-28 09:41] TheLarkInn commented on #5363
With the new plugin system we can detect multiple instances with interceptors. See how ProfilingPlugin does this.

[2018-01-28 09:42] #6234 closed

[2018-01-28 09:43] TheLarkInn commented on #6234
Thanks!

[2018-01-28 09:50] ooflorent commented on #5363
That’s true for plugins using `hooks`. Not those who are relying on the compat layer.

[2018-01-28 09:55] ooflorent commented on #5363
Even with `intercept` there will be false alarms. For example, given following plugin:

[code]

It will register the same hook multiple times:

[code]

[2018-01-28 13:48] matthewjh opened #6402 "ModuleConcatenationPlugin not working with ES module `Module is not an ECMAScript module`"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
ModuleConcatenation bails out:
`
] D:/build/b.js 52 bytes {0} [built]
  ModuleConcatenation bailout: Module is not an ECMAScript module
] D:/build/a.js 77 bytes {0} [built]
  ModuleConcatenation bailout: Module is not an ECMAScript module

`
**If the current behavior is a bug, please provide the steps

[2018-01-28 13:57] matthewjh commented on #6402
Turns out to be the same issue as #5408. I was running my build vs a global install of webpack. If I run via the node_modules bin webpack, it works.

[2018-01-28 13:57] matthewjh commented on #5408
I had the same problem in #6402. Took a while to work it out.

I was running my build via a global install of webpack rather than the one in node_nodules.

[2018-01-28 13:58] #6402 closed

[2018-01-28 16:10] mittalyashu commented on #2537
What is the difference between `webpack -p` and `NODE_ENV=production`.

[2018-01-28 16:23] fr-ser commented on #4603
this can also help:

https://stackoverflow.com/questions/40755149/how-to-keep-my-shebang-in-place-using-webpack

[2018-01-28 16:42] wzup opened #6403 "Error: You did not specify any valid target chunk settings."
From here https://webpack.js.org/plugins/commons-chunk-plugin/

Config
[code]

Why error?

[2018-01-28 16:48] ooflorent commented on #6403
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-28 16:48] #6403 closed

[2018-01-28 16:50] ooflorent commented on #6401
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-28 16:50] #6401 closed

[2018-01-28 17:14] wzup commented on #1693
@Wyntau Broken link
https://github.com/Treri/webpack-example/tree/feature/then-loader

[2018-01-28 19:30] wzup commented on #4445
@sokra
You guys really should do something with `CommonsChunkPlugin` and code splitting practice in Webpack. Rocket science seems easier than code splitting in Webpack now.

[2018-01-28 20:09] wzup commented on #4445
@MtDalPizzol

What was your console output after fix? Could you share a screenshot?
That solutions doesn't work for me. `vendors` is always `big`.

[2018-01-29 01:22] sindresorhus commented on #2537
@mittalyashu It's in `webpack --help`:

[code]

[code]

[2018-01-29 01:39] Wyntau commented on #1693
@wzup the new code is in https://github.com/Wyntau/webpack-angular-example master branch.

[2018-01-29 04:52] avinashbnaik commented on #1805
+1

[2018-01-29 06:07] psimoneau22 commented on #5851
For anyone who comes across this same issue, the problem that I had was that I was using the wrong 'devtool' defined in webpack config.   When building react for production, Avoid inline-*** and eval-*** devtool config values.  For prod, you can use 'source-map' and dev you can use 'eval-source-map'

[2018-01-29 06:23] probablyup commented on #5363
What if the new plugin system had a way of a plugin signaling that duplication was OK? Or perhaps vice versa (disallow). Uglify definitely shouldn't be run more than once.

I do think comparing constructors is probably sufficient, short of a way of adding unique names to plugins. We aren't looking for a silver bullet here, just a good-enough way of avoiding pitfalls.

[2018-01-29 09:03] AaronFlower opened #6406 "how to disable installedModules cache when load JS dynamically and execute."
**Do you want to request a *feature* or report a *bug*?**
Request a feature.

**What is the current behavior?**

[Here's the problem detail](https://github.com/AaronFlower/webpack-disable-installedModules/blob/master/README.md)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Please see the above problem detail link.

**If this is a

[2018-01-29 10:16] toverux commented on #4861
**If you are using TypeScript**, please also ensure that you don't have this option in your `tsconfig.json`:

[code]

Let the removal of the comments to another plugin/loader, like UglifyJS. This option is only useful if you're not using a complex build tool, which is obviously not the case if you're reading this issue :)

[2018-01-29 10:18] meinto commented on #2174
Some people disliked the comment of @kaibyao. What are the disadvantages using webpack-node-externals targeting node applications?

[2018-01-29 10:25] filipesilva commented on #6386
I'm a bit late to this thread but there's some things I'd like to discuss.

I don't the way libraries are built should bear any impact to how they are consumed, besides resolution of the appropriate entry point. Build artifacts are, by definition, in the correct format to be consumed. They are already the common agreed interop format. It is a good thing that the individual parts of a build setup p

[2018-01-29 11:46] filipesilva opened #6407 "ModuleConcatenationPlugin throws on array default exports with functions"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug.

**What is the current behavior?**
`webpack.optimize.ModuleConcatenationPlugin()` throws `Cannot read property 'range' of null` when two modules are imported that:
- declare a function with the same name
- declare a default export
- the default export is an array with empty (not undefined) elements

For instance, thi

[2018-01-29 11:50] filipesilva commented on #6407
This bug also exists with `webpack@4.0.0-beta.0`:
[code]

[2018-01-29 11:57] sokra commented on #6407
yep seem to be a bug

[2018-01-29 12:05] evilebottnawi commented on #5820
Closing due to inactivity. Better place for this is `slack`, `gitter` or `stackoverflow`. Thanks!

[2018-01-29 12:05] #5820 closed

[2018-01-29 12:21] ocombe commented on #6407
This is unfortunate as we have these conditions in Angular right now. We can change the code on our side, if this is bug not going to be resolved anytime soon (I would understand that it gets low priority given that it happens in very odd conditions).

[2018-01-29 14:05] sokra commented on #6407
As workaround you can disable module concatenation until this is resolved:

[code]

[2018-01-29 14:06] TroodoNmike commented on #2131
removing package-lock.json an running npm install worked for me

[2018-01-29 14:06] sokra commented on #6407
But seem to be easy to fix

[2018-01-29 14:08] sokra commented on #6407
I guess: Insert a `if(!n) return undefined;` here https://github.com/webpack/webpack/blob/3972d9ae734a0b65725e6237e8a221d5e320fd51/lib/optimize/ConcatenatedModule.js#L146

[2018-01-29 14:10] ocombe commented on #6407
Yes it works, I'll make a PR then!

[2018-01-29 14:18] ocombe commented on #6407
Where should I add a test? You have like 2k test files :D

[2018-01-29 14:21] sokra commented on #6407
`test/cases/scope-hoisting`

[2018-01-29 15:12] ocombe commented on #6407
PR sent :) https://github.com/webpack/webpack/pull/6408

[2018-01-29 16:12] bfred-it opened #6409 "TypeError: webpack.optimize.UglifyJsPlugin is not a constructor"
This is in **`webpack@4.0.0-beta.0`**

**Do you want to request a *feature* or report a *bug*?**

**bug**

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Also:

[code]

**What is the expected behavior?**

`webpack.optimize.UglifyJsPlugin === function`

**Please mention other relevant information such as the browser v

[2018-01-29 17:26] bbmattieu9 commented on #2131
@TroodoNmike thanks...this worked for me
`npm remove webpack
npm install --save-dev @angular/cli@latest.`

[2018-01-29 18:15] davidfarina opened #6410 "Extensionless imports error for node modules"
I am sorry in advance if this issue got already sorted out, but all solutions I could find in here and on the internet did not solve my issue, despite them being similar situations.

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When i have node modules that import files without extension like so

`import type LedgerComm from "./LedgerComm";`

t

[2018-01-29 18:20] michael-ciniawsky commented on #6409
`CommonChunksPlugin` (removed) && `UglifyJsPlugin` aren't exposed as plugins anymore since `webpack@v4.0.0-beta.0`, use `config.optimization.splitChunks && config.optimization.minimize` instead please

[2018-01-29 18:24] bfred-it commented on #6409
Any docs available for those two?

[2018-01-29 20:00] jeffposnick opened #6411 "Expose webpack version in the `compiler` object passed to plugins"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
When writing a plugin whose goal is compatibility with both the legacy and webpack v4 plugin system, it's something of a manual process to determine which version of webpack we're running under. It would likely involve loading the `webpack/package.json` that applies to the current compilation, an

[2018-01-29 20:04] davidfarina commented on #6410
I am sorry for the inconvinience, i figured out it was a problem with a third party library i was using.

[2018-01-29 20:04] #6410 closed

[2018-01-29 20:32] sokra commented on #6411
Sounds useful, feel free to send a PR which exposes the version as property on the compiler object.

But in general you should use feature detection instead of version testing:

i. e. use `if(compiler.hooks)` instead of `if(compiler.version >= 4)`

[2018-01-29 20:40] #6407 closed

[2018-01-29 21:20] ev1stensberg commented on #6157
Could you do this? https://github.com/webpack/webpack-cli/issues/249

[2018-01-29 23:02] joshjg opened #6413 "[v4] Duplication between split chunks"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
A bunch of async child chunks in my application require a common dependency (which lives within my repo). The common dependency also has its own 3rd party dependencies (in node_modules). Webpack creates two output chunks which **both** include the 3rd party dependencies:
* childA\~childB\~childC
* vend

[2018-01-29 23:43] stephencookdev commented on #2811
I've created a plugin to do this (measure timing stats for loaders + plugins): https://www.npmjs.com/package/speed-measure-webpack-plugin

It aggregates all grouped loaders (as the api isn't granular enough otherwise, and tbh I'm not sure timing stats on each individual loader is _that_ helpful)

It gets the plugin timing data by wrapping all of the plugins (so the original plugins are only ever u

[2018-01-30 00:02] TheLarkInn opened #6414 "ProfilingPlugin errors when user is loading JSON."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If you use the `new webpack.debug.ProfilingPlugin` available in v4, and you are loading/importing JSON via webpack (without loader, default behavior), then the plugin will throw an error.
**If the current behavior is a bug, please provide the steps to reproduce.**

**Error message**
[code]

**What is t

[2018-01-30 00:11] samccone commented on #2811
Hi all, this landed in webpack 4!

example trace
https://chromedevtools.github.io/timeline-viewer/?loadTimelineFromURL=drive://1kj9M7frgskdtlWH_eMFDwuT8USgOte9w

how to use

![](https://pbs.twimg.com/media/DUlhldNVwAAs_kN.jpg:large)

[2018-01-30 00:22] mmckeaveney commented on #6414
I can pick this :)

[2018-01-30 00:31] TheLarkInn commented on #6414
Look forward to the PR :-D feel free and ping me on it. Also double check that Reflect.has() is supported on our min version req for node ( I believe it is, but good things for you to check anyways as a first PR ).
@ mention me once you have the PR submitted.

[2018-01-30 00:39] SEAPUNK commented on #2811
This seems like just a webpack plugin profile, and not a loader profile. I'd like to know which loaders are hogging up all of the time, rather than plugins.

[2018-01-30 00:54] jeffposnick commented on #6411
I'd rather do feature detection: https://github.com/GoogleChrome/workbox/issues/1151#issuecomment-360904727

@TheLarkInn suggested version detection instead: https://github.com/GoogleChrome/workbox/issues/1151#issuecomment-360964776

Is `if ('hooks' in compiler) {...}` sufficient for feature checking, or is there something better or additional that we'd need to check for?

[2018-01-30 00:57] TheLarkInn commented on #2811
Plugins are instantiated by loaders and could show some insights. I'd try
it first. 😏

On Mon, Jan 29, 2018, 4:39 PM ivan k <notifications@github.com> wrote:

[2018-01-30 00:58] TheLarkInn commented on #6390
Great! The check boxes above in the issue should give you guidance on where to start, ping me for any questions.

[2018-01-30 01:02] wlach commented on #1194
Ran into this today. FWIW, I filed a bug in Firefox with a reproducible test case: https://bugzilla.mozilla.org/show_bug.cgi?id=1434081. This affects a bunch of Mozilla projects so I'm hoping to apply some leverage to get this fixed.

[2018-01-30 01:08] SEAPUNK commented on #2811
That's not helpful. Judging from the example trace link samccone posted, where aside from a multitude of plugins that run for a few microseconds, there's just one big SingleEntryPlugin in the user timing tab, which tells me nothing about what it's actually doing.

[2018-01-30 03:11] SEAPUNK commented on #2811
Yes, but my point is that it still involves digging around through the devtools, and provided you have some knowledge with the profiler and how to use it, you have to know what you're looking for. Not to mention, you could still profile this stuff without this plugin.

The better solution here would be to just time and log the aggregated times of the loader execution, with maybe some other stats (

[2018-01-30 04:11] bluepnume opened #6417 "Chunking / lazy-loading doesn't split out exports that are in the same file"
**Do you want to request a *feature* or report a *bug*?**

Report a (potential?) bug

**What is the current behavior?**

Let's say I have the following file layout:

    // index.js

    import { foo } from './foo';
    import { bar } from './bar';

    foo();
    bar();

----

    // foo.js

    export function foo() {
        console.log('foo');

        import('./bar').then(res => {

[2018-01-30 04:52] swarajgiri commented on #6409
@bfred-it - https://gist.github.com/sokra/1522d586b8e5c0f5072d7565c2bee693

[code]

[2018-01-30 04:56] bfred-it commented on #6409
Thanks! Is it possible to configure the minification as well?

[2018-01-30 05:05] abiduzz420 commented on #6157
Thanks @ev1stensberg for pointing out. I shall take it up :)

[2018-01-30 05:41] lydiali9 commented on #5002
I also have the same problem, How to resolve it?

[2018-01-30 06:52] TheLarkInn commented on #6417
@sokra I could see this working if user in above example used destructure syntax in `import().then(({baz}) => {});` then we could statically determine the other export isn't used, etc. However I'm unaware what export function's do to this behavior. I also tested this with webpack 4 in the same manner. Probably a good test we should add no matter what the behavior is supposed to be.

[2018-01-30 07:13] bluepnume commented on #6417
@TheLarkInn -- I like the idea of webpack recognizing destructuring -- but that said, even if the lazy import doesn't use destructuring, webpack should still have enough information at compile time to know that `function baz` isn't statically imported anywhere -- so it can be pushed into a lazy chunk. Right?

[2018-01-30 07:30] ooflorent commented on #6411
@jeffposnick should be enough.

[2018-01-30 07:36] ooflorent commented on #6409
@bfred-it yes. Set `optimization.minimize` to `false`, add `uglifyjs-webpack-plugin` to your project deps. Use this one instead of webpack’s builtin.

[2018-01-30 07:45] sokra commented on #6417
It may be possible to do this in this example, but it's not in general true, because of two aspects:

* Ensure correct evaluation order according to spec
* Allow all exports to access a single scope

Example:

[code]

bar evaluated should only be printed once.

counter must be shared between bar and baz.

You could argue that it's still possible by moving `counter` into a new module, but this is g

[2018-01-30 07:49] sokra commented on #6411
yep

[2018-01-30 07:49] #6411 closed

[2018-01-30 07:49] NekR commented on #6409
Now it's even more confusing. What exactly minimize option is doing then?

[2018-01-30 07:52] bluepnume commented on #6417
Totally makes sense. But that said -- it would be fairly straightforward to detect whether the functions are consuming any module-level variables, right? Each export could be marked pure/impure based on whether it depended on external state or execution order.

[2018-01-30 07:53] sokra commented on #6359
It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-01-30 07:57] stephencookdev commented on #2811
@SEAPUNK that's exactly what [the plugin](https://github.com/stephencookdev/speed-measure-webpack-plugin) I mentioned does
It returns an output like
[code]

[2018-01-30 07:59] SassNinja opened #6418 "Import with wildcard not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Importing several files via wildcard is not working.
No matter if I use ES6 native `import './riot/tags/*.tag';` or `require.context('./riot/tags', false, /\.js$/);`
The only way that seems to work is importing without wildcards via `import './riot/tags/example.tag';`

**If the current behavior is a bu

[2018-01-30 08:17] ooflorent commented on #6409
When `mode` is `production` or not defined, `minimize` is enabled. This option automatically adds Uglify plugin. If you want to add your own setup, you should set `minimize` to `false` to avoid double minification.

[2018-01-30 08:45] prewk commented on #883
Somebody has to say it: **Stop posting "+1" on GitHub!**

The emoji buttons are there for a reason..

[2018-01-30 08:52] TheLarkInn commented on #6417
Would sideEffects be applicable here @sokra?

On Mon, Jan 29, 2018, 11:52 PM Daniel Brain <notifications@github.com>
wrote:

[2018-01-30 09:07] TheLarkInn commented on #6386
Webpack can produce hermetic results but it's responsibility isn't setting
the environment. That's why package.locks/yarn.locks and build
orchestration tools that lock node versions down are good for.

But it doesn't change the fact that given the exact same sources and node
binaries (regardless of OS), webpack will produce deterministic and
hermetic results. We literally hash and snapshot the res

[2018-01-30 09:23] filipesilva commented on #6386
I'm sorry but this isn't true.

If you change a loader the build can produce different results for the same input. That's why `hard-source-webpack-plugin` has the environment hash (https://github.com/mzgoddard/hard-source-webpack-plugin#environmenthash).

If you change webpack, loader or plugin configuration you can also get different results. Just imagine using `babel-loader` with a different pre

[2018-01-30 09:26] NekR commented on #6409
Totally confusing again. So right now anyone who uses Uglify plugin has
double minification?

On Jan 30, 2018 11:17 AM, "Florent Cailhol" <notifications@github.com>
wrote:

[2018-01-30 09:50] evilebottnawi commented on #2563
@tomascharad problem still exists?

[2018-01-30 09:54] SrihariThalla commented on #4603
This issue is now resolved as the JSONStream has been updated here: https://github.com/dominictarr/JSONStream/commit/debb492597e1332318798bdd9802f36c21034151

[2018-01-30 10:00] sm1990 commented on #5118
I'm having a similar issue as well. I'm using webpack 3.10.0 and the runtime error I'm getting is below.

[code]
I'm not using ModuleConcatenationPlugin(). Any thoughts on how to fix this issue. Thanks in advance :)

[2018-01-30 10:07] bfred-it commented on #6409
If you set `minimize: false` you won’t have double minification.

What I don’t understand is why not make `minimize` accept a `uglifyjs-webpack-plugin` config object.

[2018-01-30 10:10] ooflorent commented on #6409
Because `minimize` tells webpack to use `optimization.minimizer` to create the minification plugin. Currently it creates uglify’s one but one could set it to closure or babili.

[2018-01-30 10:11] ooflorent commented on #6409
But sure, minimize could also accept an object and pass it to minimizer. What do you think about this @sokra?

[2018-01-30 10:14] evilebottnawi commented on #6409
@ooflorent should accept, otherwise, how to configure uglify plugin?

[2018-01-30 10:14] ooflorent commented on #6418
I’m not sure if I correctly understand your issue. Are talking about this?

[code]

[2018-01-30 11:13] mmckeaveney commented on #6414
No problem, thanks @TheLarkInn. Looks like `Reflect.has` isn't supported in node 5, which webpack should still support in v4, right? Will get a look at the code tonight, but assuming `hooks` exists on the `instance` itself and not up the prototype chain, I think we could get away with `Object.hasOwnProperty`

[2018-01-30 11:23] SassNinja commented on #6418
Yup @ooflorent that's exactly what I'm talking about.
I would like to avoid importing all files within a folder hard coded.

[2018-01-30 11:27] SassNinja commented on #6418
One additional note:
the files I'm importing in my example case (riot tag files) are no ES modules, meaning there's no `export ...` in it (don't know if this matters).
However `import "./foo/test.tag"` is working and `import "./foo/*.tag" not.

[2018-01-30 11:34] tomascharad commented on #2563
Hi @evilebottnawi, yes.

[2018-01-30 12:10] evilebottnawi commented on #2563
@tomascharad do you have problem in `dev` or `production`? Because `npm run dev` don't works without `webpack.dev.config.js`. In `production` you have only comments in you bundle and seems all works fine.

[2018-01-30 13:10] ooflorent commented on #6418
That’s the expected behavior. There is not issue here. `import` targets a file, not a glob match. If `*.js` is specified it means _“import the file named `*.js`”_.

[2018-01-30 13:10] #6418 closed

[2018-01-30 13:31] evilebottnawi commented on #4834
@valdmir `oneOf` https://webpack.js.org/configuration/module/#rule-oneof . Also `slack/gitter/stackoverflow` is better place for this. Thanks!

[2018-01-30 13:31] #4834 closed

[2018-01-30 14:49] tomascharad commented on #2563
@evilebottnawi the problems are in production.

In dev assets are not minified.

[2018-01-30 14:52] evilebottnawi commented on #2563
@tomascharad i have all fine using your repo? What is exactly wrong?

[2018-01-30 14:56] tomascharad commented on #2563
Well the history is quite long, but you might find relevant to read the history of the comments of the issues.

In summary, the minified files get duplicated when being served after refreshing the page a couple of times. You have to refresh the page before the loading of the minified file completes.

I left a sample in the  repo of how chrome duplicates the file: main.d90603e7e9c46c1577d5.bundle.j

[2018-01-30 15:13] joacle commented on #385
I'll try it, thanks. :)

Anyway, is in the roadmap some kind of stable solution for this problem? npm allows multiple versions for any dependency, It's not difficult to reproduce this problem.

[2018-01-30 15:19] evilebottnawi commented on #2563
@tomascharad do you have latest chrome version? I can't reproducible, all fine in your test repo.

[2018-01-30 15:24] tomascharad commented on #2563
Yeah, chrome updated.
I have a live application on which it happens:

![image](https://user-images.githubusercontent.com/1534092/35574412-89c06382-05b8-11e8-8ac1-fead46737f55.png)

[2018-01-30 15:49] benthemonkey commented on #6409
I could be mistaken, but if you look at https://github.com/webpack/webpack/blob/next/lib/WebpackOptionsApply.js#L306, you'll see that if `optimization.minimize = true`, then webpack just takes the array of plugins from `optimization.minimizer` (e.g. `optimization.minimizer = [new UglifyJSPlugin(your options)]`) and applies it to the compiler. So I think that's how you should configure the uglify p

[2018-01-30 15:58] evilebottnawi commented on #2563
@tomascharad :confused: don't reproducible, maybe you have firewall or invalid network configuration, proxy cache server or maybe you provider sniff traffic? Try to install https (use let's encrypt) and check using https. Also try to reproduce problem in other place (home, friends, remote desktop).

[2018-01-30 16:17] tomascharad commented on #2563
@evilebottnawi .

It happens to all of my clients. Application is hosted on heroku, and I can reproduce in my local environment.

[2018-01-30 16:18] SassNinja commented on #6418
Ok, I see, no issue.

But would you tell me how to achieve an import with glob match otherwise?
The right keywords would already help bcz I'm still new to webpack and haven't be able to find a solution yet.

[2018-01-30 16:22] tomascharad commented on #2563
1. First disable cache, eveything will look normal (This way you clean caché)

![image](https://user-images.githubusercontent.com/1534092/35577329-06819e2a-05c0-11e8-9126-88ea80c7714e.png)
2. Hit refresh again with disabled cache again, now before the .js files load completly, hit refresh again and re-enable cache and keep hitting it multiple times before the .js files load (main.8b29a73ba42e9fe42

[2018-01-30 16:23] tomascharad commented on #2563
I'll make a video

[2018-01-30 16:26] tomascharad commented on #2563
https://drive.google.com/file/d/1qTJtVcKS1sCAcnqy79cPcZvfSWFCff4I/view?usp=sharing

[2018-01-30 16:33] ooflorent commented on #6418
Unfortunately there is no automatic solution. You have to manually import all files. You could also try to generate the file outside of webpack which imports all your tags and then import type from your app.

[2018-01-30 16:47] evilebottnawi commented on #2563
@tomascharad can't reproduce :confused: but i watched your video, can you click on error file and show here which line affected error (also error stack).

[2018-01-30 16:51] evilebottnawi commented on #2563
@tomascharad congrats! Reproduce problem. Investigate :+1:

[2018-01-30 16:52] tomascharad commented on #2563
@evilebottnawi , did you de-activate disable cache button on the same iteration (In the video I do it really fast so you may have not noticed it)

Sure here is a screenshot:

![image](https://user-images.githubusercontent.com/1534092/35579079-91aab488-05c4-11e8-8b59-8863993a0bf8.png)

And here you can see how chrome duplicates the file:

![image](https://user-images.githubusercontent.com/1534092/3

[2018-01-30 17:02] evilebottnawi commented on #2563
@tomascharad Can you remove `Content-Range:bytes 829988-829988/1816878` header? Seems you have invalid bytes and so you got error. One part of main (first refresh) bundle concatenated with second part (second refresh).

[2018-01-30 17:15] frankandrobot opened #6419 "webpack4: Cannot read property 'fileLoader' of undefined"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`4.0.0-beta.0` does not build
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
Successful build

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant i

[2018-01-30 17:29] evilebottnawi commented on #6419
@frankandrobot seems you use old version `url-loader` (which use old version `file-loader`), looks https://github.com/webpack-contrib/file-loader/blob/v0.11.2/index.js#L14. Try to update `url-loader` to latest version

[2018-01-30 17:45] ev1stensberg commented on #6157
Awesome, send me a message if you need help :)

[2018-01-30 17:57] dandigangi commented on #1022
Randomly stumbled here. This plugin will make your life much easier.

https://github.com/webpack-contrib/copy-webpack-plugin

[2018-01-30 18:15] tomascharad commented on #2563
@evilebottnawi
That header is only sent after the file is duplicated...

Here you can see if it loads correctly it is ok:
![image](https://user-images.githubusercontent.com/1534092/35583314-504f571c-05d0-11e8-8aae-af1458639aa9.png)

Here is when it loads duplicated:
![image](https://user-images.githubusercontent.com/1534092/35583343-6963a442-05d0-11e8-9500-8728c78f416a.png)

[2018-01-30 18:23] evilebottnawi commented on #2563
@tomascharad can you remove to make sure problem not in header?

[2018-01-30 18:51] jeffposnick commented on #6411
Thanks! 👍

[2018-01-30 18:55] tomascharad commented on #2563
I'm not sure to be able to remove it, I'm not sure if I can control that.

[2018-01-30 19:01] evilebottnawi commented on #2563
@tomascharad problem not in webpack, because locally using `file://` this problem don't reproducible, server configuration problem. Also problem reproduce in firerfox and Edge.

[2018-01-30 19:07] tomascharad commented on #2563
@evilebottnawi, the server is Ruby on Rails, I don't seem to have problems with any other type of file rather than webpacked files

[2018-01-30 20:10] maciej-ka opened #6420 "[question] is there a plugin event for package change"
I'm working on https://github.com/facebook/create-react-app/issues/2956 and would like to write a plugin, that will trigger a webpack rebuild whenever any package in node_modules is changed by `yarn upgrade`.

Is there an event that a plugin can subscribe to, that will notify about any file change inside `node_modules` (or just `package.json` of these modules)?

In `Compiler` source there is a lin

[2018-01-30 20:45] hermy991 opened #6422 "module.exports = ./../../../node_modules/webpack/buildin/harmony-module.js;"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-01-30 20:46] hermy991 commented on #6422
[code]

[2018-01-30 20:49] hermy991 commented on #6422
I am using "@angular/cli": "^1.6.6" it uses webpack "version": "3.10.0"

[2018-01-30 20:52] kirill-konshin commented on #2983
@mcpherson-sa would you like to make a pull request with your proposed change?

[2018-01-30 20:53] sokra commented on #6422
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-30 20:53] #6422 closed

[2018-01-30 21:00] sokra commented on #6420
webpack watches all dependencies including node_modules by default.

But CRA explicitly exclude node_modules from watching:

https://github.com/facebook/create-react-app/blob/5348d6eecf208a6298e48072314157804282002e/packages/react-scripts/config/webpackDevServer.config.js#L78-L80

[2018-01-30 21:10] tejohnso commented on #2010
@sokra given what you said above re what makes sense, why is webpack unexpectedly breaking node's behaviour? Shouldn't the node options all be *false* automatically if target is *node*? The mangling of __dirname is counter intuitive and without warning. And in most cases, the output built for node will operate incorrectly rather than failing.

[2018-01-30 21:31] mmckeaveney commented on #6414
@TheLarkInn PR is up for review. Thanks for the help on this one

[2018-01-30 23:04] gdborton opened #6426 "ENAMETOOLONG for import()'d bundles"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Webpack is generating the following error when running our build:
[code]

It looks like webpack is combining several of our async imported file names into one.

**If the current behavior is a bug, please provide the steps to reproduce.**
I don't know how to recreate outside of running our build.

**Wha

[2018-01-31 00:24] fcastilloec commented on #3118
@ooflorent I'm using the version `uglifyjs-webpack-plugin@1.1.8` and I've imported it into my `webpack.config.js`
[code]
The plugin section looks like this:
[code]

I'm still getting the error about back ticks: ```ERROR in bundle.js from UglifyJs Unexpected character '`' ```
If using `webpack-dev-server` there's no problem, but `webpack -p` always shows the error.
I have also tried using the same

[2018-01-31 00:58] saboya opened #6427 "webpack3/4 only emits files with 2 or more dynamically added entries"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm currently writing a plugin that needs to dynamically add entries to webpack,

During `compiler.plugin('make'`(now `compiler.hooks.make.tapAsync('TestPlugin'`), I call `compiler.addEntry`, following [this instructions](https://github.com/webpack/docs/wiki/plugins#makec-compilation-parallel).

Howeve

[2018-01-31 01:04] TheLarkInn commented on #6411
🙇

On Tue, Jan 30, 2018, 10:52 AM Jeffrey Posnick <notifications@github.com>
wrote:

[2018-01-31 01:36] TheLarkInn commented on #6427
What's the cause of this plugin? Or I should ask: what are you trying to accomplish with this Test plugin?

[2018-01-31 01:37] TheLarkInn commented on #6419
Thanks for the report and confirmation. Closing.

[2018-01-31 01:37] #6419 closed

[2018-01-31 01:38] TheLarkInn commented on #6420
Oh strange...

Yeah thats a good starting place.

[2018-01-31 01:39] TheLarkInn commented on #6414
webpack/webpack's (#next branch) minimum supported node version is 6. So you can use Reflect in that case. I'll look at the PR though.

[2018-01-31 01:50] saboya commented on #6427
@TheLarkInn I'm writinga plugin to simplify a build for an existing Chrome extension. The idea is to read files from 2 different directories and add each file from each directory as an entry.

There's an argument to be made that that info is known beforehand and I could just do that in the `webpack.config.js` file and be done with it. But I wanted to have all the logic inside the plugin since that

[2018-01-31 04:21] #3627 closed

[2018-01-31 06:12] imposibrus commented on #5384
Just stay opening

[2018-01-31 07:35] simonbuchan commented on #6400
In my testing, workspaces works fine so long as:
- `moduleFilenameTemplate` (`output.devtoolModuleFilenameTemplate` for devtool) maps the resource to an absolute `file:` URI, including using `/` on windows.
- `module` is enabled (default for plugins, or use one of the `module-` devtool values), otherwise the source only maps to the transpiler output, which is pretty useless.
- `columns` is enabled

[2018-01-31 07:55] sokra commented on #6427
In you code you are calling `callback` multiple times. This is wrong and may cause unexpected behavior. Use something like `async.js` forEach.

[2018-01-31 07:58] sokra commented on #6426
Workaround:

`optimization.splitChunks.name: false`

or

`output.chunkFilename: "[chunkhash].js"` <- no `[name]`

---

We should limit the automatically generated name to a maximum length. In these cases we can omit the name, that doesn't hurt.

[2018-01-31 07:59] sokra commented on #6426
Somebody can send a PR

[2018-01-31 08:03] sokra commented on #6420
see also https://github.com/facebook/create-react-app/pull/294

[2018-01-31 08:04] SassNinja commented on #6418
Ok thanks for the explanation. I really thought there has to be a way to use import with global match in webpack.
I think I'll precompile & concatenate the files via gulp then and import the output file.

[2018-01-31 08:34] maciej-ka commented on #6420
Thank you, these links are on spot!

[2018-01-31 09:13] ruszki commented on #6400
Replacing backslashes in absolute resource paths solves file recognition in Chrome on Windows. It seems that Chrome display the file itself in that case, and it uses only some metadata from source maps. Debugging is broken in a very strange way in my case, but that's Chrome's problem.

When footer is removed, setting devtoolModuleFilenameTemplate is not required, and even debugging seems ok.

[2018-01-31 09:38] evilebottnawi commented on #2563
@tomascharad only on js files add this header, never before met this problem, seems it is invalid server configuration

[2018-01-31 09:39] evilebottnawi commented on #3118
@fcastilloec `webpack -p` add to configuration build-in `uglify` plugin in webpack with old version

[2018-01-31 09:50] dlong500 commented on #3118
The posts here after the year 2016 aren't related to the original bug report (which specifically dealt with changes in webpack 2 syntax that broke some things under certain conditions).  However, that specific issue is resolved now.  Please open a new bug report if you are getting errors as they aren't related to this very specific bug report.

[2018-01-31 09:52] evilebottnawi commented on #5789
@umeboshi2 problem still exists?

[2018-01-31 09:54] skn3 opened #6428 "ContextReplacementPlugin causes secondary/repeated module build in watch mode."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

ContextReplace seems to cause duplicate (Wasted) rebuilds in watch mode.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

A single build and then subsequent builds upon file change.

**If this is a feature request, what is motivation o

[2018-01-31 09:55] evilebottnawi commented on #5519
@dpisani problem still exists?

[2018-01-31 09:58] skn3 commented on #6428
here is the source to the CoreProtocolPlugin

[code]

Basically its an interface to a custom path lookup sytem I have in my app framework. It allows defining of custom protocols and then attaching logic to path segments. E.g. "template://globals" can return the path to a global variables mixin.

[2018-01-31 09:59] evilebottnawi commented on #5436
@FrogTheFrog `nested-require-loader` is not part `webpack` or `webpach-org` with loader, please create this issue in `nested-require-loader` repo. Thanks!

[2018-01-31 09:59] #5436 closed

[2018-01-31 10:03] evilebottnawi commented on #5295
@reznord please use for automatically installed new package https://github.com/webpack-contrib/npm-install-webpack-plugin, also you can install new package without stopping webpack. Thanks for issue!

[2018-01-31 10:03] #5295 closed

[2018-01-31 11:19] skn3 commented on #6428
So on further investigation it seems this is definitely related to webpack picking up generated files and rebuilding. As my context replace was operating on my root directory, it is picking up the output folder for my js. This happened no matter what options I used (during testing), that could be Ignore plugin, watchOptions, contextreplace regexp pattern...

My solution to work around this was to

[2018-01-31 12:54] LewisWBPD commented on #706
Just for reference for anyone coming from a google search, Webpack 3 has an option called [libraryExport](https://webpack.js.org/configuration/output/#output-libraryexport) that can be set to "default" which should hopefully fix this issue.

[2018-01-31 13:11] saboya commented on #6427
@sokra Thanks for pointing that out. Turns out calling callback multiple times is what makes it work. This is the updated code:

[code]
Running this with `TEST_COUNT=1` will only call callback once, and not emit any files. `TEST_COUNT>1` will call callback multiple times and emit the files as desired.

So, the intended behavior is to not emit files in this case? Is this not the correct way to add

[2018-01-31 13:29] tomascharad commented on #2563
@evilebottnawi But the header appears after the file is duplicated.
Give me a couple of days to dig into the header problem.

[2018-01-31 14:06] benkovsk commented on #5618
Global modules are not unheard of even in javascript ecosystem, though:

[2018-01-31 14:28] pravi commented on #5618
We add `resolve` and resolveLoader` options to every package's webpack.config.js to work around this.

[2018-01-31 17:44] filipesilva commented on #6248
@pleerock can you try with https://github.com/angular/angular-cli/pull/9459 please?

[2018-01-31 20:24] askoretskiy commented on #5548
acorn now supports it https://github.com/ternjs/acorn/issues/388

[2018-01-31 21:35] simonbuchan commented on #6400
Interesting about it matching by content if it doesn't recognize the path - how does it know how to save changes back? It might explain why my devtools deadlocks when I first open it for ~15s - I have my `C:\code` directory added as a workspace root 😱

I don't see debugging issues either with the known good types above - not sure what's going on there?

[2018-01-31 21:45] simonbuchan commented on #6400
Hmm, with more experimentation, I'm going to retract recommending `eval-module-source-map`, it seems to miss several modules (in my case, the entry point and the CSS files!?). But yeah, no problems with debugging or mapping files with `module-source-map`.

I'm using the babel 7 beta, could that be the difference?

[2018-02-01 10:20] yachaka commented on #5455
@Jack89ita Unfortunately, I didn't find a fix to this. :/ Only fix is to have only one parent dependency.

[2018-02-01 10:49] arekstryjski commented on #6168
I got the same error after code refactoring (React components renaming) when I had circular-dependency-plugin [https://www.npmjs.com/package/circular-dependency-plugin] switched on.
My version of webpack is 3.10.0.

[2018-02-01 11:04] sijakret commented on #520
At the same time, in my opinion,  everything that is bundled into the distribution should __not__ be in dependencies in most scenarios.
Take a look at the vue.js or react.js package.json for example..

https://github.com/vuejs/vue/blob/dev/package.json
https://github.com/facebook/react/blob/master/package.json

..they have __0(!) dependencies__, only devDependencies. The dev dependencies are a lot

[2018-02-01 11:33] Natim commented on #5548
Does it mean that the next release of acorn and then webpack will handle it?

[2018-02-01 12:21] alangpierce commented on #5548
The webpack parser will need to be updated to handle the syntax as well, since it has special-case code for each node type. I recently wrote a (hacky) webpack plugin that patches the parser to handle the syntax, so the updated "walk" functions in the code are approximately what will need to be changed. But it should be an easy fix, I think.

https://github.com/alangpierce/sucrase/tree/master/integ

[2018-02-01 14:10] Delagen commented on #6426
@sokra This issue also when use
[code]
with chunkName1~chunkName2......~chunkNameN path

[2018-02-01 14:33] pacey commented on #5756
Is there a fix or workaround for this? I have the issue where deepmerge is coming in as transitive dependency so I can't change the way that library is importing/requiring it.

[2018-02-01 15:56] sokra commented on #6428
For a context webpack watches the whole directory, i. e. to listen for new files added, renamed or removed.

Don't generate files into these directories.

[2018-02-01 16:31] adambugaj commented on #223
What is the problem in this webpack entry?

![image](https://user-images.githubusercontent.com/23665681/35690275-c1129490-0775-11e8-90c6-f89ae67b2436.png)

[2018-02-01 17:02] #6420 closed

[2018-02-01 17:04] QuietWind commented on #6168
my webpack version :  "version": "3.10.0"

[2018-02-01 17:18] marlonmarcello commented on #3974
I think I have the most simple set up and I'm still getting this error.
`//package.json
"devDependencies": {
    "babel-core": "^6.26.0",
    "babel-loader": "^7.1.2",
    "babel-preset-env": "^1.6.1",
    "webpack": "^3.10.0"
  },`
`\\webpack.config.js
module.exports = {
  target: 'web',
  entry: "./src/es6/wtc-swearjar.js",
  output: {
    path: path.resolve(__dirname, "dist"),
    filename: 'bu

[2018-02-01 17:45] marlonmarcello commented on #3917
I think I have the most simple set up and I'm still getting this error.
[code]
[code]

[2018-02-01 17:47] WikiWookie commented on #4258
So does bootstrap not allow you to include scripts the old way anymore with regular script tags?

[2018-02-01 20:14] umeboshi2 commented on #5789
I will adjust my emacs config and get right back to you.  Thanks! :)

[2018-02-01 20:41] umeboshi2 commented on #5789
@evilebottnawi
Yes, the problem still exists.  When an auto save file under a ```system.import``` directory is created the dev server rebuilds everything.  The original bug was autoclosed for no activity, which is why I opened this, but I didn't test.  After testing, the autosave file still triggers a rebuild.

[2018-02-01 20:47] linclark opened #6433 "Use WebAssembly.instantiateStreaming instead of WebAssembly.compileStreaming"
Unfortunately there are performance issues with `WebAssembly.compileStreaming` on iOS. On iOS devices, there is a limited amount of faster memory. Because of this, the engine doesn't know which kind of memory to compile for until `instantiate` is called.

If I understand correctly, for the JSC engine `compileStreaming` will just do a memcopy of the .wasm. It's only when `instantiate` is called tha

[2018-02-01 21:43] koutsenko commented on #5320
Same issue.

[2018-02-01 23:07] tomtom92 commented on #5073
I am having the same issue with React. I created an app using `create-react-app`, and am not using webpack to compile. I have tried renaming the React node package, deleting it, reinstalling it, and the same error continues. Therefore, maybe it isn't a webpack issue? Using node v8.9.1, React v16.2.0

[2018-02-02 00:45] skn3 commented on #6428
Even with the various filters applied? I am filtering both via the regexp in the plugin config and also using the new webpackExclude inline comment hat has been added to latest beta (and there is a back port plugin available as a gist)

[2018-02-02 03:51] TheLarkInn commented on #6248
Any updates? Just curious if we need further action.

[2018-02-02 05:21] #1384 closed

[2018-02-02 06:35] ekumlin opened #6434 "Incremental builds are significantly less performant than initial builds"
**Do you want to request a *feature* or report a *bug*?**

This is a bug report, related to performance.

**What is the current behavior?**

When building a project using Webpack (3.10.0, latest), and using `webpack -d --progress --profile` with `watch:true`, my **incremental builds take 40s+**, even if no content changes (e.g. save a leaf `html` file without changing its contents). About 21~28s o

[2018-02-02 06:42] #4977 closed

[2018-02-02 06:55] pleerock commented on #6248
@TheLarkInn yes I have left comment in https://github.com/angular/angular-cli/pull/9459 . Build now takes 2,5 minutes however there are other issues Im currently facing, but I think they are related to angular cli and not webpack

[2018-02-02 09:12] pigulla commented on #5408
Just ran across this very issue. In my case the `es2015`-preset turned out to be the reason. See [this question](https://stackoverflow.com/questions/45384170/how-to-fix-modules-with-moduleconcatenation-bailout-module-is-not-an-ecmascrip) on StackOverflow.

[2018-02-02 10:10] hotrush commented on #5627
Any news?

[2018-02-02 10:11] hotrush commented on #4899
@reyraa can you show your webpack config please. I tried to use script loader (not babel), but still see evals

[2018-02-02 10:17] evilebottnawi commented on #5627
No, we need `eval` here. Solution:
1. https://csp-evaluator.withgoogle.com/
[code]

[2018-02-02 10:18] evilebottnawi commented on #4899
@dcsaszar https://github.com/webpack/webpack/issues/5627#issuecomment-362543814

[2018-02-02 10:24] EugeneHlushko commented on #5895
@sokra you should close this now

[2018-02-02 13:07] mbardelmeijer commented on #1866
Any updates on this issue? 😄

[2018-02-02 15:05] AvraamMavridis opened #6435 "Duplicated dependencies with CommonChunk plugin"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
<img width="707" alt="screen shot 2018-02-02 at 14 39 08" src="https://user-images.githubusercontent.com/283690/35739780-06fc0c4e-0833-11e8-8e7c-243fe5a33d81.png">

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

I am using an ui-lib whi

[2018-02-02 16:25] budarin opened #6436 "Proposal: after building inform from which versions of browsers code can be run"
After building the app you have full info about the code and can query to canIuse to identify versions of browsers from which versions the app will work properly

[2018-02-02 17:28] tim-soft commented on #1805
If Google has brought you here, ask yourself this: Is my app running already?

Running an app in production via pm2 for instance, then starting the same app in development will yield these errors in your browser.