[2016-12-26 03:34] yiminghe commented on #3128
@tangoabcdelta
use
[code]

[2016-12-26 04:02] DanielFallon opened #3578 "Enhancement: Event based build"
**I recognize this is a major overhaul, and would likely have a huge number of breaking changes, I just wanted to open a dialog about this direction to see if it has been considered and hear the feelings of current webpack maintainers.**

I wanted to see about migrating to an event based build system for webpack in the future. I think this would be a more coherent way to do build and is consistent

[2016-12-26 04:05] nwoltman opened #3579 "Cheap source maps for ES2015 modules have incorrect line mappings"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**

When any of the cheap source map [devtools](https://webpack.js.org/configuration/devtool/) are used, files that are considered ES2015 modules have incorrect lines mappings. For `cheap-module-*` source maps, the mappi

[2016-12-26 05:32] #2637 closed

[2016-12-26 05:52] bebraw commented on #2572
Can you try with webpack 2? Can you set up a standalone project to test?

[2016-12-26 08:43] lili21 commented on #2675
How this one be closed ?

[2016-12-26 10:17] biuuu commented on #3531
The problem for me is that "babel-plugin-transform-runtime" can’t transform it.

[2016-12-26 10:20] artnova-david commented on #3502
@ev1stensberg currently i don't have a repository for this cause i'm playing around with some code.
I'm not convinced this is a webpack bug though. Webpack was always giving me the same error and so I tried to compile my sass with gulp to see what this would result in. After the first 5 saves or so, ...bam same error as I received from webapck.
So this problem was no so obvious and this got me thi

[2016-12-26 11:07] lbialy commented on #2899
Any updates on this guys'n'gals?

[2016-12-26 11:39] zzzgit opened #3582 "the error info is not clear enough in the terminal"
![image](https://cloud.githubusercontent.com/assets/1060733/21481462/cf1d510c-cba2-11e6-998e-8fab89522501.png)

[code]
i wrote npm script in package.json for webpack
but it got wrong
and the info is not clear enough
it's a pain for me

[2016-12-26 11:43] juristr commented on #3582
@zzzgit Hey, the problem is that the port webpack is trying to start it's development server is already in use. Take a look at the line where it says

[code]

You need to start webpack on a different port or stop your current server running at localhost 8080 😄. This is a standard error you get when you run a node app that wants to listen at a given port.

[2016-12-26 11:45] zzzgit commented on #3582
thanks very much

[2016-12-26 11:46] juristr commented on #3582
@zzzgit plz close the issue if this solves your problem. Thanks 👍 😃

[2016-12-26 11:49] #3582 closed

[2016-12-26 12:05] segrey commented on #3520
Thanks, I see. Unfortunately, IDE cannot remove `--progress`, as it's usually [hardcoded](https://github.com/preboot/angular-webpack/blob/master/package.json#L7) in package.json. Also, IDE cannot modify webpack config to add its own plugin.
Not sure there are good ways of resolving this issue on IDE side only.

[2016-12-26 14:26] ev1stensberg commented on #3502
@artnova-david That's weird. Would need a repro to check what is going on. Try the `--save` option once that PR has been added to check if it's any different. A theory of mine would be that webpack first needs to compile to javascript from sass and the watch mode can't pick up the change.

Is your issue solved?

[2016-12-26 14:32] hishamkaram opened #3583 "error with webpack -d"
configrations:
[code]
cmd error:
[code]

[2016-12-26 16:44] artnova-david commented on #3502
@ev1stensberg well, my issue is kinda solved, because now I use webpack to compile my javascript and component files and use gulp to compile my sass files. I don't find this a huge problem and can live with that. I must state that webpack **does** pick up the changes in my main.scss and the imported child.scss files, because the resulting .css file contains the changes. Its only that webpack does

[2016-12-26 17:22] TheLarkInn commented on #3486
We are tracking The discussion in the original "Performance Budget" issue. Id send the link but I'm on my phone currently 😅

[2016-12-26 17:44] DevVersion opened #3584 "Webpack 2 is not able to handle files with no exports"
**Do you want to request a *feature* or report a *bug*?**
- Bug

**What is the current behavior?**

- Webpack is not able to proceed when a file does not contain any `export`'s but the file is re-exported by another file.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- I've created a small repository to reproduce the issue. Please take a look at it
  See ht

[2016-12-26 17:56] drewwells commented on #2675
The short answer is that webpack statically analyzes your require statements explained here: https://webpack.github.io/docs/context.html

Fixing this is different for every case. If you post some code somebody should be able to point you in the right direction. https://gitter.im/webpack/webpack

[2016-12-26 18:10] trusktr commented on #1788
Hi @gund, see my solution here: https://gist.github.com/gund/fa244bfef5024ebe2aba72d31d565cb0#gistcomment-1957158

(Note, I made a typo, which I mentioned in a following comment)

[2016-12-26 18:13] trusktr commented on #1312
@bebraw Not sure, but I can just re-open it if encountered again.

[2016-12-26 18:38] SpaceK33z commented on #3583
And you are sure you have installed `style-loader` locally? I'm missing this from your description.

[2016-12-26 19:03] ev1stensberg commented on #3502
Could be that `scss` are being seen as static files. Should output anyway. You should use webpack for your sass as well. Removes a big dependency hole with both webpack and gulp in one project. Your entry should be plain javascript. If you import the scss through an `index.js` first, and specify it to be the entry point, it should work. Issue is that webpack has to compile down  to js, making it a

[2016-12-26 19:11] gavindoughtie commented on #2985
@bebraw Removing multistep: true from HotModuleReplacementPlugin fixed my webpack2 hot-reload issue as well. (I also had upgraded to node 7.3, but was having the same issue until I removed multistep)

[2016-12-26 19:30] artnova-david commented on #3502
@ev1stensberg I tried including my app.scss file into my app.js true `import styles from 'app.scss'` and in my app.scss @importing all partials and this didn't work either (= no console output but webpack does add the changes to my .css file.) . The only way it works is when I import the .scss partial individual in my .jsx or .vue components and thus my .scss files are compiled on .js changes (I g

[2016-12-26 19:52] elodszopos commented on #3407
Hey guys. I ran into this as well in the above issue that I created in Nikolay's repo. For me the issue was that I still left in the `add-module-exports` plugin.

As soon as I removed it `Cannot read property 'a' of undefined` disappeared along with it.

Lesson learned:

`['es2015', {modules: false}]`
and adding module exports using babel are a no-go. Not really WebPack related.

[2016-12-26 20:00] ev1stensberg commented on #3502
You need to change your webpack command in package.json to use [this](https://webpack.github.io/docs/cli.html#display-modules)

[2016-12-26 21:27] raviroshan opened #3585 "Webpack [url/file-loader] is not resolving the Relative Path of URL"
I am facing a weird problem in Webpack regarding Relative Path. Let me try to explain the scenario :

I have 2 separate project in XZY directory :

1. Project-A [Bundling using Gulp] : **Stable, working and old project**
2. Project-B [Bundling using Webpack] : **New project**

As both the projects are using same Styling, so I wanted to reuse the SCSS files [consisting of standard variables, predef

[2016-12-26 22:48] Kovensky commented on #3407
_Please_ don't use add-module-exports, regardless of webpack 2. Its only purpose is keeping API compatibility with Babel 5's modules implementation.

Furthermore, using it means that adding any export other than `default` to a module, normally harmless, becomes a _breaking_ change.

Removing it is also a breaking change for commonjs consumers, but at least you only have to remove it once.

[2016-12-26 22:52] Kovensky commented on #3584
Add `export {}` (exports nothing, not empty object) as a workaround.

Webpack still has to be able to support commonjs modules so the lack of `import` or `export` cannot be made into an error, like TypeScript's `isolatedModules` option...

`export * from` also can't just reject modules webpack thinks are commonjs as they may be babelmodules

[2016-12-27 00:26] dschissler commented on #3562
I'm getting this message on `2.2.0-rc.2`.  Can someone explain what this means?

[2016-12-27 00:34] dschissler opened #3586 "[2.2.0-rc.2] 'export' can not be used as shorthand property"
Starting with v2.2.0 release candidates I am no longer able to export the commented out code below and instead I need to export an object.  Is the original code valid syntax?

[code]

[2016-12-27 00:49] noherczeg commented on #3562
As mentioned before the problem still exists in `2.2.0-rc.2`. Is this an actual error?

[2016-12-27 01:18] Kovensky commented on #3586
Looks like a bug, but it's not what you say it is in the title :)

`export default { /* some object */ }` should work. Note that `export default` is not a shorthand property; a shorthand property would be something like `var someObject = { default }`, which _should_ be a syntax error.

[2016-12-27 01:56] dschissler commented on #3586
That message was copied from the terminal.  However, now its now giving this error message.

[2016-12-27 01:58] bjornstar commented on #3486
#3216 For discussion about the feature

And regarding source maps, #3503 says:

[2016-12-27 03:04] TheLarkInn commented on #3562
Have you reviewed the merged pull request which I closed this issue for? 😏

[2016-12-27 03:37] FAOfao931013 commented on #368
@shidaping it solved my problem `webpackJsonp is not defined`

[2016-12-27 06:08] elodszopos commented on #3407
Thanks for the detailed answer @Kovensky. Appreciate it!

[2016-12-27 07:35] hishamkaram commented on #3583
thank you fixed . i installed  `style-loader` global by mistake with `npm install -g style-loader`

[2016-12-27 07:35] #3583 closed

[2016-12-27 09:29] Kovensky opened #3588 "Binding exports / reexports are defined in the wrong order compared to imports"
[code]

**What is the current behavior?**

The modules reexported from `./modules` itself, which have a circular dependency on the top level module above, do not see the `default` or the `api` export. The `api` export could be filed as a corner case, but the `default` export should definitely be available.

Reordering the `export { default } from './core'` to be above the `export * from './modules

[2016-12-27 09:39] bebraw opened #3589 "Give a warning if placeholders aren't named correctly"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

Using a placeholder that doesn't exist gets passed through as is. Example: `[foobar]`.

**What is the expected behavior?**

It should give a warning.

**If this is a feature request, what is motivation or use case for changing the behavior?**

It's possible to end up with broken output if you ty

[2016-12-27 09:53] hishamkaram opened #3590 "cannot ignore file with noparse"
cmd :
![capture](https://cloud.githubusercontent.com/assets/24391550/21497432/7d2b49cc-cc2d-11e6-8a5d-1f4e5b5fe011.PNG)
configrations :
[code]
app structure :
![app structure](https://cloud.githubusercontent.com/assets/24391550/21496990/08126dc0-cc2b-11e6-992c-303cac1470a0.PNG)

[2016-12-27 10:12] abbymrs commented on #3215
@bebraw thank you,got it.
I just posted this question at Stack Overflow

[2016-12-27 10:43] artnova-david commented on #3502
when I just type --webpack into the console the all modules (paths, ...) are logged only for the first time and only for .js file watches, after that, all changes are logged for .js files but not for .scss files. When i turn on --progress, I do see a blink of the progress appear when a .scss files changes so the watch does occur but nothing is logged/outputted to the console for .scss files.

[2016-12-27 10:43] SpaceK33z commented on #3590
Could you try to use a backslash instead of forward slash in the regex? Also, you could try to see if it does work if you only do `/ol\.js$/` (temporarily of course). If that works, it's an error in your configuration.

Sidenote: you forgot to escape dots in your regex.

[2016-12-27 10:50] SpaceK33z commented on #1281
Moved to https://github.com/webpack/watchpack/issues/46

[2016-12-27 10:50] #1281 closed

[2016-12-27 10:56] SpaceK33z commented on #1336
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-12-27 10:56] #1336 closed

[2016-12-27 10:56] hishamkaram commented on #3590
[code]

[2016-12-27 11:01] SpaceK33z commented on #3590
Ah, I think you need to use `webpack.IgnorePlugin`. Something like this (note: untested, you might have to play with it a bit):

[code]

[2016-12-27 11:02] hishamkaram commented on #3590
wow working fine now thank you very much. 👍 @SpaceK33z

[2016-12-27 11:24] hishamkaram commented on #3590
@SpaceK33z Failed to load resource: the server responded with a status of 404 (NOT FOUND)

[2016-12-27 11:59] d-ph commented on #3562
tl;dr: Error will go away in the next release after `2.2.0-rc.2`. The fix: https://github.com/webpack/webpack/pull/3566/files

[2016-12-27 13:16] jmcclell commented on #3486
Thanks guys!

[2016-12-27 13:33] d-ph opened #3591 "[Bug][Cosmetics][2.2.0.rc.2] Compilation progress indication is not being displayed cleanly in Windows Command Prompt."
**Do you want to request a *feature* or report a *bug*?**
A bug.

**If the current behavior is a bug, please provide the steps to reproduce.**
0. You probably need Windows to reproduce it. Problem is reproducible with the Command Prompt and with Cmder.
1. `git clone https://github.com/d-ph/bugreport-webpack-cli-progress-windows.git`
2. `cd bugreport-webpack-cli-progress-windows`
3. `npm install`
4

[2016-12-27 13:45] ev1stensberg commented on #3502
Can you screenshot your unexpected output?

[2016-12-27 15:08] hishamkaram opened #3592 "webpack bundle error in browser"
i am using React + material-ui + boundless sdk
webpack configrations;
[code]
package.json
[code]
sample of jsx file
[code]
error
![capture](https://cloud.githubusercontent.com/assets/24391550/21502231/1a171abc-cc57-11e6-9c89-9ecb0c616a5c.PNG)

[2016-12-27 15:22] SpaceK33z commented on #3592
Please ask these kind of questions on StackOverflow. This is not a bug in webpack, but a configuration error. You'll get better help there.

[2016-12-27 15:22] #3592 closed

[2016-12-27 15:27] shlomiassaf commented on #3584
@Kovensky Unless exporting an empty file is defined as invalid by the modules spec this is a bug.

In the `@angular/material` case its a third party lib so if the author won't fix it it won't work...

[2016-12-27 15:28] SpaceK33z commented on #3591
Thanks for your clear bug report. Would you be interested in doing a PR for this? We can certainly use help for this. The relevant code can [be found here](https://github.com/webpack/webpack/blob/master/lib/ProgressPlugin.js).

[2016-12-27 15:43] scottdj92 commented on #3522
Hmm, seems to be working fine on Node 7.3.0. I tried building the project using `webpack` and `webpack-dev-server`

[2016-12-27 16:09] SpaceK33z commented on #3522
Interesting. Since no others complained about this, I'm closing this.

[2016-12-27 16:49] born2net opened #3593 "In ng-cli / webpack often you don't get reference to file causing the error"
Webpack 2

I moved to Webpack (angular-cli) from SystemJS and I must say that the one things that is really troubling to me is that with Webpack is that errors often do not have reference to the original file name as they were all bundled up. Now sometimes you will get a reference to the module name, which is good enough, but it really depends on the type of exception.

With SystemJS I always got

[2016-12-27 16:54] d-ph commented on #3591
I can try. Let me see.

[2016-12-27 17:16] kopax commented on #1275
I have tried with

    - webpack: "2.1.0-beta.25"
    - react: "15.4.1"

The solutions of :

@buildbreakdo , @jide, @larrybotha, @sokra, @YoussefTaghlabi

None worked for me, when I create a module to export as a umd module, the one who use react-dom (react-onClickOutside), complain with this error :+1:

    Dynamic page loading failed Error: addComponentAsRefTo(...): Only a ReactOwner can have re

[2016-12-27 19:06] TheLarkInn commented on #3586
So are you saying this does, or does not still give you errors. For us to look into this, we would really appreciate a small reproducible example (in a repo or somewhere) that we can test against.

[2016-12-27 20:15] ApolloTang opened #3595 "webpack2 with less-loader: ERROR: "is not a loader (must have normal or pitch function)""
Hello,
I would like to report a problem of webpack2 when using less-loader.
I get a message:
[code]

I think this is related to:
https://github.com/webpack/webpack/issues/3180
https://github.com/webpack/loader-runner/issues/9

I am using
[code]

reproduce able via:

<img width="1096" alt="screen shot 2016-12-27 at 3 06 22 pm" src="https://cloud.githubusercontent.com/assets/1150961/21507456/64ba453

[2016-12-27 20:28] aruntk commented on #547
I've built a package to handle polymer/webcomponents files and html imports (with code reload support) https://github.com/aruntk/wc-loader. check out.

[2016-12-27 20:42] aruntk commented on #2723
I've built a package to handle polymer/webcomponents files and html imports (with HMR support)

https://github.com/aruntk/wc-loader. check out.

Demo https://github.com/aruntk/polymer-webpack-demo

[2016-12-27 21:31] DevVersion commented on #3584
Can we get some feedback on this @d3viant0ne @TheLarkInn?

[2016-12-27 23:48] kazimuth commented on #2190
Still an issue for me as well.

[2016-12-28 00:08] TheLarkInn commented on #2190
Is this an issue in latest RC?

[2016-12-28 01:09] dfleury commented on #2739
@mhingston I've got the same issue.
I solved that by "polyfilling" manually before using `require.ensure`. It's a workaround.
Take a look:
[code]
That way, Promise will be available when webpack's ensure method try to use it.
Is your call decide which Promise library you'll use to polyfill.

[2016-12-28 02:34] jdb8 opened #3596 "Deletion of compilation assets in 2.2.0-rc.2 fails in SizeLimitsPlugin"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

A plugin which deletes assets during the `emit` step via `delete compilation.assets[filename]` causes the SizeLimitsPlugin to fail with the following traceback:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Gist with simple repro: https://gist.github.com/jdb8/

[2016-12-28 02:43] olalonde commented on #2675
@drewwells the real issue was that thousands of lines were printed making it hard to find out what the issue was

[2016-12-28 03:02] drewwells commented on #2675
I understand there was a specific start to this thread, but the title indicates a more general issue that people find via Google searches. This being the use of variables in require() calls. It may help to change the title or open a new issue about console.log() if its desired to fix that. I don't think that particular bug will be addressed, since require.ensure is documented already: https://webp

[2016-12-28 03:39] umermughal commented on #1706
I'm using Windows 7 and after upgrading Node version to latest my cpu drops to almost zero. One more thing if you were using polling = true in settings then don't forget to change it to false.

[2016-12-28 03:46] Kovensky commented on #2739
@dfleury note that your snippet has the [zalgo problem](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony). `initApp` runs synchronously or asynchronously depending on the environment; if you're going to make it asynchronous, it should always be asynchronous.

Also, asynchronously loading polyfills is dangerous if you have any third party scripts, as they might be able to see / use

[2016-12-28 05:00] bebraw commented on #3595
You should use `less-loader` over `less` at your loader definition. Otherwise it won't match the loader correctly as it requires full names now by default.

[2016-12-28 05:04] TheLarkInn commented on #3596
@jdb8 Would you be willing to submit a PR for this? This _appears_ like it might be a good solution. We can work on this together.

[2016-12-28 05:15] ApolloTang commented on #3595
yes, I forgot! "-loader" is now mandatory.

thanks for marking this urgent.

[2016-12-28 05:20] ApolloTang commented on #3595
is working now. Thanks

[2016-12-28 05:20] #3595 closed

[2016-12-28 06:11] ZenSoftware commented on #3216
I think all of us see the value that this feature brings to the table.  It’s awesome.

Really I think what the community is shouting about is our concern for the cleanliness of the output of webpack.  Some of us have strong feelings on the default manner in how webpack outputs information.  It is after all, our most important tool in our tool chains.  Some of us believe that the only thing that sh

[2016-12-28 07:22] sokra commented on #3596
This happens because the Chunk still has a reference to the asset. Ignoring these assets seem to be a good idea.

[2016-12-28 07:30] sokra commented on #3584
This is a bug that happens in this combination of exports:

`export { x } from "a"` -> `export * from "b"` -> `export * from "c"` -> c is a commonjs module not exporting x.

In this case `a` incorrectly exports `x = undefined` which overrides/hiddes other exports of `x` in `a`.

[2016-12-28 07:32] sokra commented on #3593
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2016-12-28 07:32] #3593 closed

[2016-12-28 07:37] #3591 closed

[2016-12-28 08:28] ZenSoftware commented on #3216
For those that don't realize how nasty the current incarnation of this feature can get... please note that the following only has one offending bundle that goes over the presumptuous max size.  It seems that chunks that come after the offending bundle, cascade a whole bunch more warnings for some reason.  We're really not making things up when we say this is spammy.

[code]

[2016-12-28 08:41] kazimuth commented on #2190
...As it turns out, I had the wrong version of Webpack installed.

Not actually a problem, sorry.

[2016-12-28 08:56] ds3783 commented on #1743
I met the problem, it seems a mac OS's bug, after I reboot my mac, it disappear.

[2016-12-28 10:00] d3viant0ne commented on #3584
@DevVersion - Looks like you got one better ^^ :)

[2016-12-28 10:36] ashwinirajput commented on #2131
Please help

mytasklist@1.0.0 start /Users/ashwini/Documents/mytasklist/client

module.js:327
    throw err;
    ^

Error: Cannot find module './config/webpack.dev.js'

[2016-12-28 10:44] ashwinirajput opened #3598 "Cannot find module './config/webpack.dev.js'"
#webpack-dev-server --inline --progress --port 8080

module.js:327
    throw err;
    ^

Error: Cannot find module './config/webpack.dev.js'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/Users/ashwini/Documents/mytasklist/client

[2016-12-28 11:18] sokra commented on #3598
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2016-12-28 11:18] #3598 closed

[2016-12-28 11:20] sokra commented on #3590
This seem to a another issue.

[2016-12-28 11:20] #3590 closed

[2016-12-28 11:21] sokra commented on #3585
`--display-error-details` should show more info

[2016-12-28 11:21] sokra commented on #3585
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2016-12-28 11:21] #3585 closed

[2016-12-28 11:24] sokra commented on #3579
Looks like a bug in the `ReplaceSource`, it seem to handle replacements with newlines incorrectly.

[2016-12-28 11:32] sokra commented on #3573
I don't think this is related to webpack itself.

[2016-12-28 11:45] SpaceK33z commented on #738
Looks like this has been fixed a while ago, at least webpack 2 shows this when executing without command:

[code]

[2016-12-28 11:45] #738 closed

[2016-12-28 12:01] sokra commented on #3584
Note that an empty module (or any module without `import` or `export` statement) is threaded as commonjs module and disables tree shaking and other harmony optimizations for all module reexporting all exports (`export *`).

We cannot say anything about the exports of a commonjs module, so we cannot say anything about the exports of a module reexporting all exports of the commonjs module.

[2016-12-28 12:30] #3584 closed

[2016-12-28 12:42] SpaceK33z commented on #1126
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-12-28 12:42] #1126 closed

[2016-12-28 12:46] d3viant0ne commented on #3584
@sokra - Cheers for the quick turn around on this one :) All us Material junkies thank you in advance

[2016-12-28 13:02] SpaceK33z commented on #3140
@Gentlehag, did the above fix your issue?

[2016-12-28 13:07] imkhan commented on #2145
Had same problem:
Chrome(v. 55.0.2883.95 ) on macOS Sierra(v. 10.12.1 )

Upgraded Webpack to 1.14.0 and it worked for `cheap-module-eval-source-map`

[2016-12-28 13:37] dfleury commented on #2739
I think I need to apologize for using a real world snippet without all needed context.
Let's forget my snippet and start again with focus on the Promise problem.

If you take a look at the template @mhingston found, https://github.com/webpack/webpack/blob/master/lib/JsonpMainTemplatePlugin.js#L85 you will notice webpack use the global Promise available, but this can't be always true. In IE11< this

[2016-12-28 13:53] TheLarkInn commented on #2739
@dfleury Do you think you could create a minimal example repo that reproduces this behavior?

[2016-12-28 14:01] d-ph commented on #3591
As I mentioned in the PR, the problem isn't solved entirely by that PR. Now the progress indicator stays in one place, but still isn't right:
![bugreport-after-gif](https://cloud.githubusercontent.com/assets/4347095/21523346/4c33e332-cd05-11e6-938f-0a49ba3a904e.gif)

I found, that the problem lies in the fact, that virtually anything can `console.log()` during the progress output, which breaks Win

[2016-12-28 14:06] #3511 closed

[2016-12-28 14:07] sokra commented on #3496
I wonder why this doesn't work because most of our tests are compiled with `target: node` and work fine.

I close this until we get more information.

[2016-12-28 14:07] #3496 closed

[2016-12-28 14:17] jdb8 commented on #3596
@sokra your solution looks great! Thanks for quickly triaging and fixing 👍

[2016-12-28 14:30] dfleury commented on #2739
Take a look on Promise support http://caniuse.com/#feat=promises
If you think it still need an example repo, I'll take a time for do that
(which is scarce at the moment)

On qua, 28 de dez de 2016 at 11:54 Sean Larkin <notifications@github.com>
wrote:

[2016-12-28 14:34] born2net commented on #3593
sorry will re-do properly
regards

[2016-12-28 14:37] #3596 closed

[2016-12-28 14:42] bebraw commented on #3509
@rob-bateman Any update? A test repo would help a ton.

[2016-12-28 14:48] born2net opened #3602 "Webpack / Angular cli: no reference to file name on errors (bundle name instead)"
**Subject:**
Webpack / Angular cli: no reference to file name on errors (bundle name instead)

Please adds ability to get a reference to a file name when more obscure errors occur.

**What is the current behavior?**
Often when I refactor applications I get into scenarios which I get errors from ng and the only file reference is a webpack bundle. Now, I am aware this is more of a Webpack issue but

[2016-12-28 15:41] bmeck opened #3603 "Document `webpack://` & make sourcemaps have relative paths to original files and improve default source map behaviour for Node users"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Sourcemaps are generated with differing file paths [depending on which devtool you use](https://webpack.github.io/docs/configuration.html#output-devtoolmodulefilenametemplate):

[code]

This uses a custom protocol; but it does not have a well defined format for that protocol, nor does it have los

[2016-12-28 15:45] bmeck commented on #3603
Of note: we may want to consider well defined extensions `x_webpack_*` for other various metadata related to the sourcemap.

[2016-12-28 17:31] raviroshan commented on #3585
@sokra : I have updated the ticket with the issue template. Also provided the Stackoverflow and Code Repo URL for further details.
You can open the ticket now.

[2016-12-28 17:48] TheLarkInn opened #3606 "Revisit including yarn.lock file"
Now that [Travis supports yarn out of the box](https://blog.travis-ci.com/2016-11-21-travis-ci-now-supports-yarn), the catch is that it uses `yarn.lock` to trigger the build. This is an open discussion to determine if we want to use `yarn.lock`.

@thejameskyle @kittens Just to make sure because I feel like I never got an official answer: Does having a `yarn.lock` prevent you from getting upstream

[2016-12-28 17:50] SpaceK33z commented on #3606
There is a nice blog post on the [yarn site about this](https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all). The tl;dr is at the bottom: "Please commit your yarn.lock files." [even in libraries].

[2016-12-28 17:54] TheLarkInn commented on #3606
Okay this answers my question a bit. I'm on board.

[2016-12-28 17:56] TheLarkInn opened #3607 "Remove object-assign in favor of Object.assign()"
Now that we have officially dropped Node 0.12 support in master ( #3605  ), we should be able to drop `object-assign` as an npm dependency.

[2016-12-28 18:04] PTC-JoshuaMatthews commented on #3562
Can someone help me understand how this issue can just start happening out of nowhere? I had everything working last week on my build server, no code has been changed since, and all of the sudden my builds are failing with this error. I don't understand, since I have specific versions of libraries in my package.json how can issues like this be affecting me without making any changes?

[2016-12-28 18:18] d-ph commented on #3562
This warning is not specific to webpack. It can be displayed by any code/library, that uses `ajv-keywords` lib. It's likely, that you started to see this warning, because of some other js library (mis)using `ajv-keywords`.

And unless you use [npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap), you might get newer versions of deeper libraries even though you might have your immediate libraries

[2016-12-28 18:29] epoberezkin commented on #3562
@d-ph the issue is closed and fixed in webpack - it uses ajv-keywords directly.

[2016-12-28 18:47] jdb8 commented on #3607
@TheLarkInn just created a quick PR, not sure if there's anything else required for this.

[2016-12-28 18:50] #183 closed, assigned to nobody

[2016-12-28 18:58] SpaceK33z commented on #1016
Going to close this since the original question was answered and this became a place to discuss semi-related issues. **If you still have an issue, please file a new issue so we can actually do something see it and do something about it.** For questions, please refer to StackOverflow.

[2016-12-28 18:58] #1016 closed

[2016-12-28 19:12] SpaceK33z commented on #3607
Closed by #3608. Thanks!

[2016-12-28 19:12] #3607 closed

[2016-12-28 19:41] #2864 closed

[2016-12-28 19:43] PTC-JoshuaMatthews commented on #3562
@d-ph ` npm ls webpack `displays `webpack@2.1.0-beta.27`

[2016-12-28 21:13] TheLarkInn opened #3611 "RFC: Performance Budgets v2"
Placeholder fo new ideas and ways to make perf budgets smarter, and able to detect environments and "just work" only when "it's supposed to". Ref #3604 #3216

[2016-12-28 21:33] noherczeg commented on #3562
@PTC-JoshuaMatthews Could be caused by a transitive dependency as well.

[2016-12-28 22:17] d-ph commented on #3562
@PTC-JoshuaMatthews Ok.

The short story is: start using npm shrinkwrap.

The long story is:
If you don't use `npm shrinkwrap`, then your `node_modules` is not reproducible. I.e. every time you build it's potentially different. That's why even though you don't make any changes in your code, things are still different every time you `npm install`. As to why `shrinkwrap` isn't the default npm's beha

[2016-12-28 22:38] shlomiassaf commented on #3584
@sokra RC3!!! so soon! THANK YOU!

[2016-12-28 23:23] TheLarkInn commented on #3216
@ZenSoftware we listened as you can see we have turned it off by default. https://github.com/webpack/webpack/issues/3604

But as an aside, those warnings are not coming up for no reason. I do not know your business case or user base or device or load time requirements, and I am not responsible for your apps page speed, but FWIW, shipping 3MB of JavaScript is massive and should probably be addresse

[2016-12-28 23:48] born2net commented on #3602
more examples :(

[code]

[2016-12-29 00:30] ZenSoftware commented on #3216
Alright!!!  We are so happy to see that the project is molding itself for the betterment of the community.

Yes, it really is an enormous vendor bundle isn’t it?  We are effectively trying to build what is an operating system, that runs in a web browser.  So you could say we need a couple of 3rd party libraries, haha.  When no tree-shaking is done, that’s what ends up happening.  It’s really not u

[2016-12-29 01:16] TheLarkInn commented on #3216
Okay that is not only a great point but pretty funny as well. We will keep this thread open for now in case additional feedback is given. Thank you for the support and feedback.

[2016-12-29 01:54] andriytyurnikov opened #3612 "Both docs and behavior for webpack.LoaderOptionsPlugin are wrong"
*bug*

**What is the current behavior?**
webpack.LoaderOptionsPlugin doesn't pass options to sass-loader
While in need for customised sass loadpath and separate css fiile output I've spent some time configuring bleeding edge Webpack 2 with bleeding edge sass-loader (:
Good news is that old-school approach works:
**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

*

[2016-12-29 03:19] westfalenxqq commented on #439
I metthe same problem.So I should wait for webpack2 release

[2016-12-29 03:42] everedifice opened #3614 "Support `--support-ie8` option for UglifyJS plugin"
UglifyJS plugin of webpack compress source in this manner.

src
[code]

compressed
[code]

When i compress source by UglifyJS2 Command line API. single quote is not disappear.

[code]

[code]

So i need to pass `support-ie8` option to UglifyJS plugin in webpack project.

Is there way to pass this option?

[2016-12-29 04:17] gitanupam opened #3616 "Repo description points to 1.x docs"
I know 2.x docs are WIP but the repo [description](https://github.com/webpack/webpack) points to 1.x docs whereas README points to the 2.x web site everywhere (except an explicit mention to 1.x docs at one place). Not sure if that is intentional but seems like it would be good to make it consistent with the repo description (or maybe just have both links in repo description for now?)

[2016-12-29 05:00] zjuasmn commented on #2057
It' possible. Just add `__webpack_require_loader__` to global scope
[code]

[2016-12-29 05:25] cecilemuller commented on #3216
Would it also be useful to have a warning for HTML files larger than [14Kb](https://docs.google.com/presentation/d/1IRHyU7_crIiCjl0Gvue0WY3eY_eYvFQvSfwQouW9368/present?slide=id.gec17ded7_048) ?

[2016-12-29 05:53] danbucholtz commented on #2867
Any update on this? I am surprised to see this not a part of the 2.x milestones. This is a major issue IMO because this is one of the "killer apps" of Webpack 2.x and it doesn't seem to be working as one would expect for even basic examples.

What can we do to help expedite this?

Thanks,
Dan

[2016-12-29 06:32] eltiare commented on #3562
Or maybe `yarn` instead? Supposedly it's more reliable than `npm shrinkwrap`.

[2016-12-29 09:15] sokra commented on #3616
The repo description points to the base site, which points to both webpack 1 and 2 doc

[2016-12-29 09:15] #3616 closed

[2016-12-29 09:16] sokra commented on #3614
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2016-12-29 09:16] #3614 closed

[2016-12-29 09:55] Kovensky commented on #3603
I actually wrote this fun hack many months ago to help Chrome DevTools be able to map source map paths to disk...

[code]

[2016-12-29 10:03] Kovensky commented on #3585
The problem seems to be related to how SCSS concatenates partials. It assumes urls point to paths in a server, but webpack expects them to point to real files.

I don't know if there is a way to make SCSS transform relative path in the URLs, but other solutions are to use paths starting with `/` (always treated as being a server path), or to [disable `url` handling](https://github.com/webpack/css-

[2016-12-29 10:28] ArturBaybulatov commented on #237
@andreialecu I've asked the same question in #3530

[2016-12-29 10:45] btipling commented on #2782
All of these examples still use `loaders` as a top level under modules which is what webpack 2 has deprecated. That's just the webpack 1 way of doing things which still works. Webpack 2 uses `rules`, that replaces `loaders`. I hope nobody is using these examples just because they happened to work. They work because of temporary backwards compatibility, not because that's how webpack 2 works.

Exam

[2016-12-29 10:49] Kovensky opened #3627 "RFC: New emit for ES modules (webpack 3?)"
Current webpack modules have several details that are not exactly spec-compliant, particularly when circular references are involved. It is "good enough" for most current cases, but in order to be as close to the spec as we can get without `Proxy`, I was thinking of how to change the way webpack emits ES modules.

This tries to emit modules as close to the ES2017 and the current draft of EPS 002 a

[2016-12-29 11:48] botezatpv opened #3628 "A bug with configs"
Im using Webpack@2 and it rise me an error:

You may need an appropriate loader to handle this file type.
|  */
|
| @import url("font_awesome/css/font-awesome.min.css");
| @import url("ionicons/css/ionicons.min.css");
| @import url("material-design-iconic-font/css/material-design-iconic-font.min.css");

My package.json is:

    "babel": "^6.5.2",
    "babel-es6-polyfill": "^1.1.0",
    "babel-runt

[2016-12-29 11:56] SpaceK33z commented on #3628
This is not a bug, it's a usage question.

You seem to be trying to include css from a node_module, but in your webpack config you specfically exclude the css-loader from applying on `node_modules`.

If this doesn't fix your issue, please ask on StackOverflow.

[2016-12-29 11:56] #3628 closed

[2016-12-29 12:14] neeharv commented on #3539
@sokra @TheLarkInn I'd like to take a crack at this. Any pointers on where to get started? Thanks!

[2016-12-29 13:26] wenbing opened #3629 "UglifyJsPlugin does not support figure_out_scope(/* options */)"
webpacke@1.14

webpack/lib/optimize/UglifyJsPlugin.js#145

[code]

should be

[code]

[2016-12-29 14:42] bmeck commented on #3603
@Kovensky this kind of thing is exactly why I brought up this issue, do you have any comments on my idea?

[2016-12-29 14:49] neeharv opened #3630 "Unable to run tests locally on Node v6.7.0 & npm v3.10.3"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Cloned webpack, did `npm `i, ran `npm t`, errors out with
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
With Node v6.7.0 and npm v3.10.3
[code]

**What is the expected behavior?**
Should run tests!

**Please mention other relevant information such as the browser

[2016-12-29 15:07] TheLarkInn commented on #3630
Did you forget to run npm link && npm link webpack?

[2016-12-29 15:07] #3630 closed

[2016-12-29 15:12] sokra commented on #3629
send a PR

[2016-12-29 15:12] #3629 closed

[2016-12-29 15:18] rosskevin opened #3631 "Cannot assign a scoped module to a specific entry point"
version: `webpack@2.2.0-rc.3`

**What is the current behavior?**
I'm following the [Code Splitting - Libraries guide](https://webpack.js.org/guides/code-splitting-libraries/) to split the `application` vs `vendor` bundle entry points.  All is well **except** a private scoped module; it is _not_ being placed in the `vendor` bundle as expected with the other packages.

**If the current behavior is a

[2016-12-29 15:44] neeharv commented on #3630
@TheLarkInn ah hah! That was a bit idiotic of me. Thanks for helping correct the noob mistake 🍻

[2016-12-29 16:36] gkostov opened #3633 "Is it possible to load a non-existent file?"
My use-case is that I need to load a type of file which does not exist but can be generated on-the-fly.

Imagine a file giving the current directory listing and I'd like to import that as `./some/path/dir.json`. Obviously I don't want to create those files in every directory and to maintain them so I wrote a loader to provide the content of the file when it is needed. The problem is that the loade

[2016-12-29 16:58] pvieira91 opened #3635 "Different loaders for same extension files"
I searched over several sites and did not find any answer for this which I think is a very common use case.

Is it possible to have multiple loaders for same extension?
For example, I have two folders with svgs.
- client/images
- client/images/svgsprites

I would like to have different loaders being applied to those folders.

 {
      extensions: ['ttf', 'eot', 'svg', 'cur'],
      test: /\.(ttf|s

[2016-12-29 17:17] sqal commented on #3635
i believe it should work if you use exclude/include in those two loaders. E.g.

[code]

[2016-12-29 18:00] Strate opened #3637 "Option to disable code splitting completely"
As for now, there is no way to disable code splitting feature with some option.

Build & rebuild time is more with code splitting, so, it is useful from developer experience point of view to disable it in development mode. https://www.npmjs.com/package/babel-plugin-remove-webpack could handle some of cases, excluding modern `import()` signature.

[2016-12-29 18:02] TheLarkInn commented on #3637
Have you profiled and confirmed that code splitting is a main cost. I'd need to see it to believe it. Chrome Dev tools JS Profile Heap snapshots, etc.

[2016-12-29 18:03] pvieira91 commented on #3635
It worked perfectly. thanks

[2016-12-29 18:03] #3635 closed

[2016-12-29 19:50] Strate commented on #3637
@TheLarkInn I've not profiled this deeply, but I have simple test case for my project:
without babel-plugin-remove-webpack rebuild time ~10-12s
with babel-plugin-remove-webpack rebuild time ~4-5s

The biggest difference in webpack builtin profiler output is "sealing" operation: 100-300msec without splitting (with babel plugin enabled) and 4-5 sec with it.

[2016-12-29 19:51] TheLarkInn commented on #3637
Could you make a small example repo that I could clone to test locally?

[2016-12-29 20:00] Strate commented on #3637
Notable performance difference would be only on big repo.

[2016-12-29 20:43] artnova-david commented on #3502
Sorry for the late response. Here is a screenshot.
As you can see, de sass is compiled to a .css (styles.css) file and the first time the output is logged in the CLI. When this screenshot was taken I modified 5 .scss files that were imported into app.scss, all modifications are visible in the styles.css file but the watch of webpack does not output changes to the CLI.

![2016-12-29_21-34-57](https

[2016-12-29 22:29] nicois opened #3639 "2.2.0rc3: when installed locally, global version is used instead"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
with 2.2.0rc2: my webpack builds. With rc3 installed locally, I get errors as it uses the (old) global webpack.

**If the current behavior is a bug, please provide the steps to reproduce.**
webpack: https://gist.github.com/nicois/ddf218a56bf98475138ca561d656c134

**What is the expected behavior?**
webp

[2016-12-30 00:26] hansl opened #3641 "Bug: Entry resolves before async `resolve` call the callback function"
This is a regression from beta.25 or higher.

# Expected Behaviour
The `resolve` event should be asynchronous and need to wait for all plugins callbacks before continuing the resolution, but doesn't (at least for the entry).

# Actual Behaviour
Right now, webpack does not wait for all `resolve` handlers before continuing the resolution.

The following Webpack configuration (custom plugin) will fin

[2016-12-30 00:56] unional commented on #3549
Tested with webpack 2 using `context` solves the problem. Thanks. 🌷

[2016-12-30 00:56] #3549 closed

[2016-12-30 04:33] lygstate opened #3642 "Support __dirname __filename properly for NodeJS"
index.ts or index.js

The __dirname __filename should be as is.
The imported moduble by index.ts should dynamically
create the new index.ts & index.js properly.

[2016-12-30 06:29] hitao123 commented on #1435
[code]
i meet this problem too! i was struggling with it! i want cry!!!

[2016-12-30 07:10] vijayg3584 commented on #3573
I tried the setup in my colleagues machine and it worked fine. I'm assuming there might be some conflicting npm modules installed globally.
You can go ahead and close this issue for now.

[2016-12-30 07:15] #3573 closed

[2016-12-30 07:22] neeharv commented on #2129
@bebraw Should I add support for this as part of #3632 ?

[2016-12-30 07:27] bebraw commented on #2129
@neeharv It would be better as a separate PR as it's easier to review then. I guess #3632 has to be merged before that, though.

[2016-12-30 07:35] litinghh opened #3644 "import scss files, there is no outputs and no error log when using webpack"
If i import css file, It's ok.
But if i import scss file, then there is no error log and no outputs

I have install webpack 1.14.0, node-sass 4.1.1
the config file for scss is:
{test: /\.scss$/,loaders: ["style", "css", "sass"]}

When I write scss with error, there will show error logs to  tell me where the error is.

Have you ever met this problem before? Or any suggestion for this problem？

[2016-12-30 08:43] IvanKalinin opened #3645 "Error: options/query provided without loader. Webpack 2.2.0-rc.3"
I've updated webpack from rc2 to rc3 and since that I can not start my project via `npm start`. I get an error like that
[code]

Here is my config:
[code]

rollback to rc2 doesn't resolve the problem.. I believe that the problem is in rc3 because I have another project which had rc2 and could start. It have broken right after webpack updated to rc3

[2016-12-30 09:37] bebraw commented on #3645
Instead of `query` you should use `options` I think.

[2016-12-30 09:48] ChristopherBiscardi commented on #3633
You can load "non-files" by using a require statement that specifies the loader as such:

[code]

or as an entry point:

[code]

then write `mything-loader` to do whatever you need it to and return whatever code you want.

[2016-12-30 11:14] sokra commented on #1435
@hitao123 read the comment above!

[2016-12-30 11:28] gkostov commented on #3633
Your suggestion appears equivalent to what I already have (but setup differently)
[code]
and it works well for files that exist but not for ones that don't.

Specifying the loader in the `requre()` call is not supposed to do anything different from an entry in the `loaders` block, right? Or am I missing something particular?

[2016-12-30 12:19] sokra commented on #3645
It should be either:

[code]

or

[code]

use + query is not allowed. Loader and query/options should always appear in combination.

[2016-12-30 12:19] #3645 closed

[2016-12-30 12:19] sokra commented on #3644
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2016-12-30 12:19] #3644 closed

[2016-12-30 12:19] sokra commented on #3642
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2016-12-30 12:19] #3642 closed

[2016-12-30 12:27] sokra commented on #3641
It's correct this way.

with your `resolve` plugin you add an alternative how to resolve modules. Because you add it after the original resolvers the original resolving algorithm has higher priority. From logical point of view your plugin is only used if the original algorithm is not successful. For performance reasons hooks are not executed in sequence but parallel (see `applyPluginsParallelBailR

[2016-12-30 12:32] sokra commented on #3633
He proposed calling the loader without file.

---

It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or

[2016-12-30 12:32] #3633 closed

[2016-12-30 12:38] sokra commented on #3602
https://webpack.js.org/configuration/devtool/#devtool

[2016-12-30 12:38] #3602 closed

[2016-12-30 12:53] gkostov commented on #3633
Oh, I see - to call `require()` but only specify a loader and no file - didn't expect that but will give it a try. Thanks

[2016-12-30 13:09] hh9527 opened #3651 "[question] is it possible to replace resolver system of webpack?"
I am building a distribute build system on top of webpack, I need to resolve modules to a virtual network based FS api (not a drop in replacement of fs module), so I need to replace webpack's own module system. how could I do? is there some document to describe this? plugin interface?

[2016-12-30 14:00] raviroshan commented on #3585
@Kovensky : Thank you for your inputs. As  suggested by you, using a path starting with / is not breaking the build BUT **not solving the issue** either.
Basically  '/'  is ignoring the respective image and further url-loading or file-loader is not acting on it. [Not able to copy the file to the output folder].

Looking for a solution where the Image/Fonts/other assets can be copied instead of jus

[2016-12-30 14:41] sokra commented on #3651
yes, you can replace the `compiler.inputFileSystem`.

[2016-12-30 14:41] #3651 closed

[2016-12-30 16:39] #3606 closed

[2016-12-30 16:52] kachkaev commented on #2764
@galensheen What helped me was installing `extract-text-webpack-plugin@^2.0.0-beta` as @sokra has suggested earlier:

[code]

Here is my current very simple webpack config, which seems to work:

[code]

[2016-12-30 17:35] teonik commented on #3562
Message went away with 2.2.0-rc.3....Thanks

[2016-12-30 17:53] nmaves opened #3653 "Documentation on recordsPath"
I am looking for a bit of insight on how to use the recordsPath file.

We are using code splitting and the commons chunk plugin and we would love to have long term caching of our bundles.

What we don't know or understand is how we get this with our recordsPath file.  We would like to know when/if we should be persisting this file.  Should it change for each developer on each build?  Does the webp

[2016-12-30 18:07] igorskuhar commented on #672
+1

[2016-12-30 21:00] TheLarkInn commented on #2797
How do we feel about @andywer's webpack-blocks? This has gotten a lot of praise we should weigh up and downsides

[2016-12-30 21:38] dmitriid commented on #2797
Warning: 2 cents incoming :)

Looking at webpack-blocks, I can't really say it's a better solution:

- doesnt-do-anything-out-of-the-box-itis. Multiple configuration options spread over 10 different packages
- pulls everything into the upper level of configs: PostCSS configuration (which is a plugin config, unless I'm mistaken) is passed to the `createConfig` as a top-level configuration option on

[2016-12-30 21:43] dmitriid commented on #2797
Also, unless I'm mistaken, gulp requires its plugins to be written in exactly one manner: that is

[code]

See https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md This is something webpack should strive for as well. At the very least it will make the plugin-related part of configuration simpler  and handling easier.

[2016-12-30 21:55] mohsen1 commented on #3525
This is an issue in extract-text-webpack-plugin

[2016-12-30 21:55] #3525 closed

[2016-12-30 22:25] Zigzauer commented on #3334
just use:  template: require('./templatet.html') instead of templateUrl: require('./items.component.html')

[2016-12-30 22:30] ilwebdifabio opened #3655 "UglifyJsPlugin problem Module build failed: Error: Parse Error: <img ng-src="{{vm.item.thumbnailMainBig}}""
Hi there,
I'm using html-loader
[code]
It works just fine in the dev build.
But when I run the prod build
where I'm using UglifyJsPlugin
[code]

I've got
_Module build failed: Error: Parse Error: <img ng-src="{{vm.item.thumbnailMainBig}}"_

Can you help me, please ?

UPDATE
I'm awfully sorry it's my fault :)

[code]

[2016-12-30 23:07] nasushkov opened #3656 "AgressiveSplittingPlugin with UglifyJsPlugin"
When I use AgressiveSplittingPlugin with UglifyJsPlugin I've got the following error:

My current config for these two plugins is pretty simple:

[code]

So what is the right way to use AgressiveSplittingPlugin with applied minification?

[2016-12-30 23:11] #3655 closed

[2016-12-30 23:26] andywer commented on #2797
@dmitriid The arguments to the blocks are quite consistent, though, I think, *but* they might be more consistent nevertheless. But they got to reflect the different ways in which the loaders/plugins are configured.

But I don't even want to focus on webpack-blocks here. There is just one design decision that consistently gets me puzzled:

Why do I have to configure the Babel loader, for instance,

[2016-12-31 00:06] joshhunt commented on #2797
For what it's worth, this has been address in Webpack 2.x

[code]

The changes to clean this up in Webpack 2 I think are much appreciated - the insane way of configuring loaders with config strings was the worst part of the config, and I'm glad to see that fixed.

Personally, I prefer declaring loaders and plugins as functions (like your example) rather than strings, but tbh I think that's more su

[2016-12-31 08:02] bebraw commented on #2449
Can you check this against webpack 2?

[2016-12-31 08:22] #1719 closed

[2016-12-31 08:22] #2596 closed

[2016-12-31 08:23] #1724 closed

[2016-12-31 08:24] #1250 closed

[2016-12-31 08:26] bebraw commented on #2023
Can you try against webpack 2?

[2016-12-31 08:28] bebraw commented on #1433
There's tree shaking now. The lodash webpack plugin is cool too. Please open specific issues if you run into problems.

[2016-12-31 08:28] #1433 closed

[2016-12-31 08:46] Kovensky commented on #1433
Tree shaking unfortunately doesn't help with the lodash (or lodash-es) situation, see https://github.com/webpack/webpack/issues/1750.

Even with lodash-es, a module where no imports are used must still execute according to spec.

[2016-12-31 09:37] dmitriid commented on #2797
@joshhunt The `query` parameter was there in 1.x, too: http://webpack.github.io/docs/using-loaders.html#query-parameters

In webpack 2 it's renamed to [options](https://webpack.js.org/configuration/module/#useentry). Which is a goo thing :)

[2016-12-31 09:39] dmitriid commented on #2797
@andywer My reasoning for having everything in "JSON land" is this:

- all configuration is declarative
- all configuration is consistent: it's just the name of the thing we want to use followed by a key-value configuration

BabelLoader might be a function that expects an obect. SomethingLoader might be a function that expects multiple arguments. SomethingElseLoader might be a function that expect

[2016-12-31 10:31] galensheen commented on #2764
@kachkaev Thanks, I will try with extract-text-webpack-plugin@^2.0.0-beta

[2016-12-31 12:33] woohling commented on #582
I'm not sure My situation fits. I used fancyBox plugin, and this plugin generated html `<a href="javascript:jQuery.fancybox.jumpto(1);" `. When I clicked this anchor, the error was jQuery is not defined. I used all the methods mentioned above, but still didn't work.
Any help please? I use Angular and webpack together BTW.

[2016-12-31 13:22] #2614 closed

[2016-12-31 13:24] bebraw commented on #2411
Is this relevant still?

[2016-12-31 13:25] bebraw commented on #2612
Closing as this is an upstream issue.

[2016-12-31 13:25] #2612 closed

[2016-12-31 13:28] bebraw commented on #1545
We are running RCs now. Probably time to close this issue.

[2016-12-31 13:28] #1545 closed

[2016-12-31 13:30] bebraw commented on #2237
Closing as this was answered.

[2016-12-31 13:30] #2237 closed

[2016-12-31 13:31] #2615 closed

[2016-12-31 13:33] bebraw commented on #1795
Can you re-open at Stack Overflow for more ideas?

[2016-12-31 13:33] #1795 closed

[2016-12-31 13:35] bebraw commented on #2514
Closing. Feel free to re-open if you can repro.

[2016-12-31 13:35] #2514 closed

[2016-12-31 13:36] bebraw commented on #1946
Can you re-open at Stack Overflow? Thanks.

[2016-12-31 13:36] #1946 closed

[2016-12-31 13:44] bebraw commented on #2810
Any idea what to so with this as `System.import` was dropped in favor of dynamic `import`?

[2016-12-31 13:46] bebraw commented on #2146
Can you re-open at Stack Overflow for more ideas?

[2016-12-31 13:46] #2146 closed

[2016-12-31 13:48] bebraw commented on #1484
Maybe using sourcemaps would help. You have to run uglify in any case. Digging deeper into the plugin (or loader) might be worthwhile.

[2016-12-31 13:48] #1484 closed

[2016-12-31 13:57] jouni-kantola opened #3660 "Should throw if not absolute output path"
**Do you want to request a *feature* or report a *bug*?**
I guess it's a feature, since things do work now. However with words like "must be an absolute path", I'd call it a bug 😉

**What is the current behavior?**
[Docs](https://github.com/webpack/webpack.js.org/blob/develop/content/configuration/index.md) and webpack-dev-server (v2.2.0-rc.0) requires `output.path` to be absolute (or `/`), howeve

[2016-12-31 14:16] glenjamin commented on #1129
Is this being wontfixed? I still think it's a useful improvement, and would be far more efficient in webpack itself.

[2016-12-31 14:19] bebraw commented on #1129
Alright. I labeled this accordingly.

[2016-12-31 14:23] bebraw commented on #1129
By the way, enabling `new webpack.NamedModulesPlugin()` for development can be a good idea. That gives me `[HMR]  - ./app/component.js` kind of updates and makes it easier to debug the dev code anyhow.

[2016-12-31 15:23] glenjamin commented on #1129
`NamedModulesPlugin` sounds perfect - is this a fairly new addition? I don't think it existed when this issue was first opened.

I'll give it a go - sounds like it does exactly what this issue requested.

[2016-12-31 15:24] bebraw commented on #1129
Webpack 2, yup.

[2016-12-31 15:25] bebraw commented on #1129
Never mind. It's in webpack 1 too.

[2016-12-31 15:31] glenjamin commented on #1129
Looks like this got added in https://github.com/webpack/webpack/commit/a04ffb928365b19feb75087c63f13cadfc08e1eb which was first released in `v1.10.0` (approx 3 weeks after https://github.com/webpack/webpack/issues/1129#issuecomment-109789979)

I think this can safely be called closed fixed then.

Is there a tracking issue for documenting the existence / reason / usage of core plugins like this?

[2016-12-31 15:57] bebraw commented on #1129
Not really. Feel free to open issues at the webpack.js.org repo, though.

`NamedModulesPlugin` would be great development default even. Maybe something for webpack 3.

[2016-12-31 15:57] #1129 closed

[2016-12-31 16:07] danbachar commented on #3440
@IAMtheIAM could you include your package.json? I'm having a similar issue

[2016-12-31 18:44] TheLarkInn commented on #3660
I agree this is a great idea to add this kind of validation. In a perfect world I would love to bake this into our validation schema, but I don't think it's possible. Can we adapt the logic in WDS @SpaceK33z

[2016-12-31 18:47] TheLarkInn commented on #3656
Thanks for submitting your first webpack issue!!!! Do you think that I could twist your arm into creating a tiny repo that I could reproduce this error? If you'd like, we could even create some tests inside of "configCases" and assert that errors don't occur.

[2016-12-31 22:22] rob-bateman commented on #3509
@Kovensky i don't really follow how what you describe would cause the problem. The ```export *``` line is adding all module classes in ```__WEBPACK_IMPORTED_MODULE_6__awayjs_view__``` to the ```exports``` object in regular javascript, and this is a completely separate process from importing the module (and doesn't result in potential object clashes regardless of order).

I'm also not requiring the

[2017-01-01 06:04] dodekeract commented on #2656
@bebraw Here you go:

## `npm run a`

[code]

## `npm run b`

[code]

## `npm list | grep webpack`

[code]

[2017-01-01 06:07] bebraw commented on #2656
Thanks, tagged.

If you could push a test repo, that would be great.

[2017-01-01 06:12] dodekeract commented on #2656
@bebraw The only thing needed to reproduce this is the package.json I posed above. I think a repo is overkill and would only (further) pollute my GitHub profile. Sorry, but I won't do that for a single file.

[2017-01-01 06:19] bebraw commented on #2656
Ok, cool.

[2017-01-01 09:53] nasushkov commented on #3656
Hi Sean,
Thank you for a fast response.
`Do you think that I could twist your arm into creating a tiny repo that I could reproduce this error? `
Sure, here you go [https://github.com/nasushkov/aggressive-split-test](https://github.com/nasushkov/aggressive-split-test)

This small repository resembles, what I've got for my project.  This configuration is for DllPlugin part, so when I run build:dll,

[2017-01-01 10:04] syedfarrukhqamar commented on #3562
Dear All, I have tried with above suggestion of npm shrinkwrap but still getting the following error

keywords if/then/else require v5 option
module.js:472
    throw err;
    ^

Error: Cannot find module 'reflect-metadata'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/modu

[2017-01-01 11:35] d-ph commented on #3562
`keywords if/then/else require v5 option` is not your error. `Error: Cannot find module 'reflect-metadata'` is. Solve it by `npm install --save reflect-metadata`

[2017-01-01 11:56] blade254353074 opened #3666 "Uncaught TypeError after build with OccurrenceOrderPlugin in webpack@1.14.0"
Enviroment:
Chrome 55
Node 6.7
webpack@1.14.0

I found manifest throw a TypeError when using **OccurrenceOrderPlugin** to optimize build:

[code]
[code]
<img width="447" alt="2017-01-01 19 48 05" src="https://cloud.githubusercontent.com/assets/9346008/21581070/5493e032-d05b-11e6-9940-65186733dab5.png">

I created a [minimized webpack build project](https://github.com/blade254353074/webpack1-long-t

[2017-01-01 12:03] syedfarrukhqamar commented on #3562
Thanks for the answer.
now it is giving the error below
when i tried to build project for ios.

bmc:apiapp myuser$ ionic build ios

keywords if/then/else require v5 option
[13:01:28]  ionic-app-scripts 0.0.47
[13:01:28]  build dev started ...
[13:01:28]  clean started ...
[13:01:28]  clean finished in 7 ms
[13:01:28]  copy started ...
[13:01:28]  transpile started ...
[13:01:31]  build dev failed:

[2017-01-01 15:19] syedfarrukhqamar commented on #3562
thanks a lot for all your help. now it is fixed. i have updated my ionic now and last error seems to be fixed 👍

[2017-01-01 15:49] hshafy commented on #2180
@chungtinhlakho why do you use both `webpack.ProvidePlugin` and `expose` as far as I understand these are two use cases, check the answer #23 in this thread http://stackoverflow.com/questions/29080148/expose-jquery-to-real-window-object-with-webpack

Also this fix didn't work for me, I tried with webpack 1.13.2 & 1.14 nothing works, I use React Starter Kit.

Any ideas?

[2017-01-01 17:05] bebraw commented on #3666
Can you test against webpack 2 (release candidate atm)?

[2017-01-01 17:27] blade254353074 commented on #3666
@bebraw I can test webpack 2 tomorrow, it's too late (2017-01-02 01:15:09)...

[2017-01-01 18:03] blade254353074 commented on #3666
I've just found that the builds can be broken with or without OccurrenceOrderPlugin.
It seems that the webpack build results are related to the entry name "vendor".

### Case 1:

[code]

|Original|+OccurrenceOrderPlugin|
|---|---|
|![image](https://cloud.githubusercontent.com/assets/9346008/21582361/fb0fcbd2-d08e-11e6-96e9-7c04a6fcf537.png)|![image](https://cloud.githubusercontent.com/assets/93460

[2017-01-01 19:22] kachkaev commented on #3612
Have you tried just this?

[code]

It should set `includePaths` option for all loaders and you make this behaviour specific only to sass loader by defining `test` in addition to `options`.

Not 100% sure all will work though, I've got a somewhat similar issue ATM.

[2017-01-01 19:25] andriytyurnikov commented on #3612
@kachkaev , thanks Alex, I have another workaround in place, opened an issue coz LoaderOptionsPlugin doesn't work as expected or as error message suggests

[2017-01-02 03:13] wtgtybhertgeghgtwtg opened #3673 "Consider moving `UglifyJsPlugin` out of main package."
Relative to other plugins, it has a disproportionate number of dependencies.  Additionally, with the advent of [`babili`](https://github.com/babel/babili), `uglify` is no longer a necessary part of a production build process.

[2017-01-02 05:50] TheLarkInn opened #3674 "Refactor Abstract Plugin `this._plugins` object to `Map`."
Per notes from @Kovensky. We could refactor [`this._plugins`](https://github.com/webpack/webpack/pull/3669/files#diff-98d86f85810fbbe76e0d3d0ec2843a5eR17) to use `Map` instead of an object. However, this plugin is used in a bunch of places and would be a larger refactoring job. Will link this to existing PR where noted but this is an open opportunity for anyone to submit a PR for.

 https://github

[2017-01-02 06:33] bebraw commented on #3673
Yeah, agreed. It's also pretty hard to use the harmony branch of Uglify due to this. Basically you have to fork webpack and then tweak `package.json` to point to it.

This is probably a webpack 3 change, though, as it's too late to so the change for 2 if the others agree.

[2017-01-02 07:12] bebraw commented on #1899
There's a related issue at https://github.com/webpack/webpack-cli/issues/15 if you want to track.

[2017-01-02 07:12] #1899 closed

[2017-01-02 07:13] bebraw commented on #3653
Moved to https://github.com/webpack/webpack.js.org/issues/577. Please track there.

[2017-01-02 07:13] #3653 closed

[2017-01-02 09:53] #2261 closed

[2017-01-02 09:54] bebraw commented on #1306
Any update on this? Can you try against webpack 2?

[2017-01-02 09:57] bebraw commented on #1845
@jpvanhal Can you try against webpack 2 rc?

[2017-01-02 09:57] bebraw commented on #1067
Can you try against webpack 2?

[2017-01-02 10:00] #1516 closed

[2017-01-02 10:01] bebraw commented on #1366
If still relevant, please re-open at https://github.com/webpack/watchpack/issues .

[2017-01-02 10:01] #1366 closed

[2017-01-02 10:02] bebraw commented on #1713
Can you try against webpack 2?

[2017-01-02 11:22] borela opened #3678 "How to enable sourcemaps generated from modules"
Consider this structure:

[code]

The `Modules A` and `Module B` are pre compiled and each has their source maps generated in the `build` dir. When I bundle the files with webpack `target: web`, the final source map generated looks for the `.js` files in the `build` directory instead of the original source in the `src` directory.

It looks like it is ignoring the `qux.js.map` and generating its ow

[2017-01-02 11:59] wzup opened #3679 ""At this point the application starts executing..." Where does it start?"
A screenshot:

![entry and context - google chrome 2017-01-02 19 51 24](https://cloud.githubusercontent.com/assets/3880497/21588835/9b49012c-d125-11e6-89df-9e1b2a1d6218.png)

It is not clear what you mean. Please improve the docs, add explanation.
Specifically,
* when does it start executing? When Webpack starts parsing it or when I plug in a parsed bundle in the page? `<script src="bundle.js"></s

[2017-01-02 12:57] wzup opened #3681 ""every property of the exported object is copied..." Copied how? Where to?"
A screenshot:

![output - google chrome 2017-01-02 20 52 39](https://cloud.githubusercontent.com/assets/3880497/21589511/74f4e79a-d12d-11e6-8187-4c6fb1699dcf.png)

It is not clear what you mean. Please improve the docs, add explanation.
Specifically,
* What do you mean by `copied`?
* Where is it `copied` to?
* Does it have any impact on performance? What exactly? During WP parse or in production c

[2017-01-02 13:29] Lacroute commented on #1468
Didn't work neither, but now it's ok. What I did:
[code]

I also re-converted my fontfiles using online convertors, and now it works like a charm.

[2017-01-02 14:57] clemgrim commented on #2012
Hello, I have the same issue with webpack 2.2.0-rc.3 and webpack.2.1.0-beta.28
It's blocking at 91%. No minification, no sourcemaps.
I'm using extract plugin (2.0) and awesome typescript loader.

[2017-01-02 15:06] bebraw commented on #2012
@clemgrim Could you set up a project so it's easier to debug what's going on?

[2017-01-02 15:11] sokra commented on #3681
Please file this issue on the documentation repo. webpack/webpack.js.org

cc @bebraw

[2017-01-02 15:11] #3681 closed

[2017-01-02 15:11] sokra commented on #3679
Please file this issue on the documentation repo. webpack/webpack.js.org

cc @bebraw

[2017-01-02 15:11] #3679 closed

[2017-01-02 15:12] sokra commented on #3678
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2017-01-02 15:12] #3678 closed

[2017-01-02 15:19] sokra commented on #3674
AbstractPlugin is only a helper used for shorter way writing plugins.

Maybe we should remove AbstractPlugin and write all plugins in a consistent way:

[code]

The class syntax is shorter anyway. AbstractPlugin doesn't bring much benefit here.

[code]

[2017-01-02 15:24] chicoxyzzy commented on #3674
I'll file a PR

[2017-01-02 16:01] chicoxyzzy commented on #3674
I need some help with this.

lib/dependencies/RequireIncludeDependencyParserPlugin.js
[code]

How should it be rewritten as class and without Abstract plugin?

[2017-01-02 16:16] sokra commented on #2810
Not related to this issue.

As there is guys plugin (https://github.com/guybedford/systemjs-webpack-plugin) now, I think it's safe to close this issue.

[2017-01-02 16:16] #2810 closed

[2017-01-02 16:17] sokra commented on #3674
[code]

[2017-01-02 16:42] chicoxyzzy commented on #3674
This is exactly what I tried but tests failed

[2017-01-02 16:54] blade254353074 commented on #3666
@bebraw I tested with webpack 2.
https://github.com/blade254353074/webpack2-long-term-cache
I know that webpack 2 has already enabled OccurrenceOrderPlugin by default.
So... There is no problem with webpack 2.

[2017-01-02 16:56] bebraw commented on #3666
@blade254353074 Alright. So do you think it would be safe to close this issue based on that? webpack 1 won't receive fixes anymore.

[2017-01-02 17:00] blade254353074 commented on #3666
@bebraw I think so.
People should move on, and webpack 2 feels more powerful than 1.
You guys did very good job! Thanks

[2017-01-02 17:00] #3666 closed

[2017-01-02 17:02] chicoxyzzy commented on #3674
Also I've tried to wrap code into this
[code]

But tests fail in that case too

[2017-01-02 17:27] sokra commented on #3674
It's a **parser** plugin, so it's `apply(parser)`. See my code example. It's applied to the parser instance instead of the compiler instance.

[2017-01-02 17:27] TheLarkInn commented on #3674
This is because context is lost for `parser` because this is node 4.7 arrow functions. When you go multiple deep `this` still is `RequireIncludeDependencyParserPlugin` class, rather than this of function scope.

Easy solution is to do.

[code]

[2017-01-02 17:28] sokra commented on #3674
[code]

[2017-01-02 19:30] bebraw commented on #2824
Can you try against webpack 2 and the newest Chrome?

[2017-01-02 19:32] bebraw commented on #2037
Can you try against webpack 2? In webpack 1 using UglifyJsPlugin causes css-loader to go into minifying mode. It doesn't do that in webpack 2. Perhaps that could be it.

[2017-01-02 19:34] wzup opened #3686 "How to update WP? What version to use?"
I have `webpack 1.13.1` globally and locally
How to update each one to `2.x`. Seems your docs miss it

This doesn't work. I get `"webpack": "^1.14.0"`, not `2.x`
[code]

What is your current version to use whatsoever? Stable? recommended? LTS? How can I know what to use? No info about that

![webpack - google chrome 2017-01-03 03 47 22](https://cloud.githubusercontent.com/assets/3880497/21595304/8

[2017-01-02 19:36] #1079 closed

[2017-01-02 20:57] chicoxyzzy commented on #3674
#3683

[2017-01-02 21:10] ludovicofischer commented on #3686
I suspect you’re hitting this bug https://github.com/webpack/webpack/issues/3639

[2017-01-02 21:30] #3674 closed

[2017-01-02 21:37] TheLarkInn commented on #3686
@wzup Correct. We are in Release Candidate right now, so latest stable on npm is still 1.14.X.

If you'd like to update to webpack 2 you can use `npm install webpack@beta`

[2017-01-02 21:38] TheLarkInn commented on #3611
Subscribing @addyosmani for when the ball gets rolling on this.

[2017-01-03 02:00] elyobo commented on #3092
As @GianlucaGuarini mentioned, I'm seeing a lot of dependencies come in via `node-browser-libs` that weren't there before which is significantly increasing my build size.  It seems to be pulling in many which I don't use at all as far as I can tell (e.g. `bn.js` via `crypto-browserify`) and weren't pulled in by webpack 1.  Is this expected behaviour?

[2017-01-03 02:52] wtgtybhertgeghgtwtg opened #3690 "Consider using `lodash`."
There are more than a few places where it would certainly be useful.  More importantly, it's [already a dependency](https://github.com/webpack/webpack/blob/master/yarn.lock#L206), since `async` depends on it.
Admittedly, not the best argument.

[2017-01-03 04:07] w567675 opened #3692 "webpack@2.2.0-rc.2 cannot be used together with happypack"
## versions:
    node@v6.9.1
    webpack@2.2.0-rc.2
    happypack@3.0.2
## code:
[code]

## errors:
[code]

## why?
why can't use the custom property ?

[2017-01-03 07:32] todd-richmond commented on #3612
The proper workaround to get sass-loader working with Webpack2 is to put BOTH context and path in the options section

https://github.com/bholloway/resolve-url-loader/issues/33#issuecomment-249830601

[2017-01-03 07:48] bebraw commented on #3692
Webpack 2 schema doesn't support custom properties. There's something known as `LoaderOptionsPlugin`. I'm not sure if it would help in this particular case, though.

[2017-01-03 07:57] jhnns commented on #3692
This is clearly a happypack issue and should be reported there. webpack 2 is much stricter in regards of the config object's shape. Maybe @amireh can shed some light on it.

[2017-01-03 07:57] #3692 closed

[2017-01-03 08:00] w567675 commented on #3692
thanks @bebraw @jhnns

[2017-01-03 09:04] amireh commented on #3692
That notation for wiring up happypack was meant as a convenience but brought along too many issues so it was dropped in [v3.0](https://github.com/amireh/happypack/blob/master/CHANGELOG.md#300). It should not cause a problem when configured as shown in the readme.

[2017-01-03 10:29] MoOx commented on #2419
I recently switched to a new machine and I am facing this again: watch mode with dev server is working but consuming one core completely (my npm run process take 130% of my cpu).
Not sure what can cause this issue.

[2017-01-03 10:39] MoOx commented on #2419
Reinstalling node modules seems to fix the issue...

[2017-01-03 10:43] bebraw commented on #2419
@MoOx FYI, there's a [PR where we might move to sane over chokidar](https://github.com/webpack/watchpack/issues/36). I have a feeling that might help with this one.

[2017-01-03 11:13] guybedford commented on #2810
I would not recommend that plugin experiment as an approach here at all. It is very limited, and was really just to try and form a discussion point to think about how such an integration might work.

Having considered about this problem a little further, I think it's worth rather picturing webpack chunks themselves as the only public modules which should exist in the browser module registry. Such

[2017-01-03 11:32] keerthivasan-r commented on #2771
@martinreus Were you able to fix it? I have the same problem with angular-cli :worried:

[2017-01-03 15:08] martinreus commented on #2771
Hi @keerthivasan-r, no, unfortunately I wasn't able to fix the problem.. But I haven't invested much more time in it.. If you find a solution for this problem please let us know!

[2017-01-03 15:29] cnweibo commented on #2822
@laggingreflex , you saved me several hours. thanks!

[2017-01-03 16:07] blade254353074 commented on #3631
Enviroment:

* webpack 2.2.0-rc.3
* node 6.7.0
* Mac OS X 10.11.6

---

I have same problem with webpack 2 and the same config:

[code]

When `System.import('./component')` or `import('./component')`,
the `__webpack_require__ ` function will get the error: `TypeError: Cannot read property 'call' of undefined`

![image](https://cloud.githubusercontent.com/assets/9346008/21613575/c4a1d436-d210-11e6-

[2017-01-03 16:48] #3686 closed

[2017-01-03 16:55] sokra commented on #3631
Could you go up one level in stack trace and show us the generated code in the `2.82554519.js` file? In addition to this I like to see the stats output for the compilation. Is `manifest.e2d728.js` and `2.82554519.js` part of the same compilation?

[2017-01-03 17:39] jhnns commented on #3690
Could you provide some examples where you think it could be useful?

[2017-01-03 17:55] TheLarkInn commented on #3690
@jdalton You've mentioned a few times in the past that using lodash can help improve runtime and node engine performance.

Trying to set your bias aside what kind of wins in build times would we see by using lodash?

[2017-01-03 18:34] chicoxyzzy commented on #3690
In most cases lodash is faster because it doesn't consider edge cases and is written the way JIT compilers can optimize code earlier and better. We won't use weird edge cases in Webpack codebase, rigth? :) So I think it's worth it because performance matters 👍

[2017-01-03 18:40] chicoxyzzy commented on #3690
What's most important here is that we need some example app and webpack config to run benchmarks against to measure performance advancements / regressions.

[2017-01-03 19:52] nmaves commented on #1856
We are super interested in this as well.  I actually opened up an issue with the new webpack 2 docs site to help explain how and when to use the recordsPath.json file.  We really want to know when to commit this file into git.  It changes for us between a DEV and PROD build so we are really confused on when to save the build "state".

[2017-01-03 20:22] TheLarkInn opened #3712 "Increase Coverage for `AutomaticPrefetchPlugin`."
"As the `AutomaticPrefetchPlugin` depends on being in watch mode I would go with writing a test/watchCases test. After doing this you can take a look at the coverage and check what's missing."

From #3682

[2017-01-03 21:43] jouni-kantola opened #3713 "Config loader chaining with ! in Webpack 2"
**Do you want to request a *feature* or report a *bug*?**
Bug, I guess?

**What is the current behavior?**
Chaining loaders with `!` results in `Module not found: Error: Can't resolve 'style-loader!css-loader!less-loader'` (i.e: `use: 'style-loader!css-loader!less-loader'`).

This issue started out in a [tweet from me to @TheLarkInn](https://twitter.com/jouni_kantola/status/816337476566609924) and

[2017-01-03 22:00] jdrelick-leafgroup commented on #3496
So I've been working closely with import() and have a couple notes to contribute to this thread:

1. Node will complain about import(), but can be re-written to require.ensure() using the 'dynamic-import-node' babel plugin

2. Including 'dynamic-import-node' in .babelrc will cause code-splitting not to work, so I start my server using `babel-node server.js --plugins=dynamic-import-node` so it used

[2017-01-03 22:02] wtgtybhertgeghgtwtg commented on #3690
The most obvious place would be cases like [this](https://github.com/webpack/webpack/blob/master/lib/DllPlugin.js#L22-L24)
[code]
which could be rewritten as
[code]
[Type comparison](https://github.com/webpack/webpack/blob/master/lib/DefinePlugin.js#L43-L50) could also be simplified a bit, from
[code]
to
[code]
but that's a more opinionated change.
I'll admit that these aren't particularly great a

[2017-01-03 22:24] jdalton commented on #3690
@TheLarkInn

I wouldn't worry about the perf angle unless you're dealing with uniqing, intersecting, or unioning arrays.

@wtgtybhertgeghgtwtg

Yep. Once you start using it places will jump out all over that can be simplified or streamlined.

[2017-01-03 22:30] jdalton commented on #3690
Btw. I'm taking Lodash in a different direction for v5 *(just started working on it)*. it won't ship with a monolithic package. Instead it'll enforce the cherry-picked form,`require('lodash/forOwn')`, as the default letting folks opt-in to the monolithic syntax, `_.forOwn`, by way of the `babel-plugin-lodash`.

[2017-01-03 23:35] johnstew commented on #2313
Is this still an issue on RC3? I just took a look and wanted to try and help here but it looks like the output has been improved.

![screen shot 2017-01-03 at 6 33 32 pm](https://cloud.githubusercontent.com/assets/2146973/21627053/3b4d9648-d1e3-11e6-83ab-9ad36411188f.png)

Specifically last line:
[code]

[2017-01-04 00:59] alistairjcbrown opened #3716 "Get all files over 80% test coverage"
There are files which are 80% or under for test coverage on Coveralls, giving them a red label. Providing these files with dedicated unit tests will help solidify their API, as well as bring their coverage up to 100%.
Please see the coverall coverage report: https://coveralls.io/github/webpack/webpack

This issue aims to help co-ordinate any effort to add unit test for these files, with the aim th

[2017-01-04 00:59] alistairjcbrown commented on #3716
I'm currently working on adding tests for `lib/MultiCompiler.js`, splitting it out into three separate modules, each of which can be tested.

[2017-01-04 01:07] wtgtybhertgeghgtwtg commented on #3716
Wouldn't it be better to update the syntax of these, first?

[2017-01-04 01:15] alistairjcbrown commented on #3716
@wtgtybhertgeghgtwtg Adding tests should be independent of any syntax changes (so they can be done in parallel). If the question is related to effort, then we'd need to elaborate on "better" - is updating the syntax a higher priority than adding tests, and if so, why?
For me, having tests in place allows us to be sure that any syntax changes made have not caused any changes in functionality. The n

[2017-01-04 01:36] xyyjk commented on #3502
@artnova-david

Because you are using the new version of `extract-text-webpack-plugin` "^2.0.0-beta.4"
Need to be modified into this way:

before:
[code]
after:
[code]

See details : https://github.com/webpack/extract-text-webpack-plugin#usage-example-with-css

[2017-01-04 01:38] wtgtybhertgeghgtwtg commented on #3716
Syntax change tends to alter coverage, usually negatively.  But you're right, testing should probably be done before syntax change.

[2017-01-04 02:20] jouni-kantola opened #3719 "When mixing import & module.exports module's undefined"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm migrating an application from Webpack 1 to 2, where we on and off have updated code from `module.exports` to ES2015 `import/export`. Here and there, we got a mix. When cases like this occurs, Webpack seem to export/import modules in a non-backwards compatible way.
In the example repo I've made, I'v

[2017-01-04 02:22] daibin91 opened #3720 "webpack-2: HMR , css and html browser is not work label:webpack-2"
when I use webpack-dev-server@2 and HMR,
 (webpack@2  node@7.0.0  npm@3.5.2)

my config.js:
[code]
I use Command line mode such as
[code]
When I change js file ,command line is tell me something has changed and the browser can reload.
But when I change  css or html file , command line tell me something has changed , but the browser do not reload , I want to know,which reason cause it;

[2017-01-04 03:04] jouni-kantola commented on #3491
I'm guessing this is exactly what I'm getting here: https://github.com/webpack/webpack/issues/3719

@sokra: By your answer I take it as we should migrate code meanwhile/before moving over to Webpack 2. I don't know how common the use case is, that `import`/`module.exports` are mixed.

[2017-01-04 03:12] Verten commented on #3720
i met the similar problem, but my problem is the webpack and browser will not recompile and reload after i change any file.

[2017-01-04 03:46] e-cloud commented on #3612
Yes, after debugging breakpoint inside `LoaderOptionsPlugin`, finally find out the current behavior(webpack2 version) will wipe out the original context's options, then, ** it breaks down a bunch of loaders** acquiring some data from the original `options` property of `loaderContext`.

[2017-01-04 05:39] blade254353074 commented on #3631
@sokra

### [stats with bug](https://gist.githubusercontent.com/blade254353074/be2f9de36579e823ee68911870e8edfd/raw/c2b3de21e668d26b139456f71e7e3cee7f1e44aa/stats_with_bug.json)

[code]

![image](https://cloud.githubusercontent.com/assets/9346008/21632538/651cf848-d282-11e6-8600-f66406b2697e.png)

### [stats without bug](https://gist.githubusercontent.com/blade254353074/86e6e237e205fc516039aa97eee

[2017-01-04 05:44] TheLarkInn commented on #3631
Hey @rosskevin.
Does this issue still happen if you change
[code]

to

[code]

and inside vendor you do the following:

[code]

Curious whether there is some sort of resolver snafu or this is related to plugins itself. Or something different. Or even better, could I convince you to make a small reproducible repo in which this happens?

[2017-01-04 08:33] IFmiss commented on #1151
I tried some methods but didn't work ，zzz

[2017-01-04 08:40] artnova-david commented on #3502
@xyyjk
I tried this before but same result. First log is outputted to the CLI and thats it.

[2017-01-04 12:00] Munter opened #3733 "npm linked modules resolve ProvidePlugin dependencies wrong"
I have `Project`, which depends on a node module `Dep`. `Dep` uses `fetch` in its source code, but doesn't provide a polyfill. `Project` provides a polyfill for `fetch` like so:

[code]

I'm making changes to `Dep`, so I linked it in using `npm link`. `Dep` is now a symlink in my `node_modules`.

When I run a build webpack tries to resolve `isomorphic-fetch` from  `Dep/node_modules` instead of `Pr

[2017-01-04 12:18] martinko2009 opened #3735 "several DllReferencePlugin & import one js in html,throw ReferenceError: dll2 is not defined"
I use webpack 1.13.1, and win7 system.

When I write several DllReferencePlugins in webpack.config.js,and using <script> to  include one js file,though I have several DllReferencePlugins, but in this html I just need to use one js file.Then it breaks some errors like this picture:
![image](https://cloud.githubusercontent.com/assets/3345987/21641949/207f2ec6-d2ba-11e6-8817-b635f53d83f5.png)

projec

[2017-01-04 12:47] martinko2009 opened #3740 "Two DllReferencePlugin can't exist together"
[several DllReferencePlugin & import one js in html,throw ReferenceError: dll2 is not defined #3735](https://github.com/webpack/webpack/issues/3735)

project root
[code]

webpack.config.js
[code]

In that issues,When I delete 'scope' in the second DllReferencePlugin.Then I use
<script src="../build/dll1-min.js"></script>
<script src="../build/dll2-min.js"></script>
[code]
in the example.html,
then

[2017-01-04 12:53] sokra commented on #3740
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2017-01-04 12:53] #3740 closed

[2017-01-04 12:56] sokra commented on #3735
you need it.

[2017-01-04 12:56] #3735 closed

[2017-01-04 12:58] sokra commented on #3733
The provided module resolves relative to the injected file.

[code]

[2017-01-04 12:58] #3733 closed

[2017-01-04 12:59] sokra commented on #3720
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2017-01-04 12:59] #3720 closed

[2017-01-04 13:02] martinko2009 commented on #3735
I have add issue template.

[2017-01-04 13:03] sokra commented on #3719
duplicate of #3491

[2017-01-04 13:03] #3719 closed

[2017-01-04 13:05] sokra commented on #3713
`use: 'style-loader!css-loader!less-loader'` should not work.
`loaders: 'style-loader!css-loader!less-loader'` should work but is deprecated.

[2017-01-04 13:05] martinko2009 commented on #3735
some pages need dll1-min.js and dll2-min.js,but some pages just need dll1-min.js.
I want to include the thirdparty bundled by my requirement. Like windows dll.

[2017-01-04 13:06] martinko2009 commented on #3740
I have add issue template

[2017-01-04 14:00] bebraw commented on #3713
`use: 'style-loader!css-loader!less-loader'` could result in a warning.

[2017-01-04 14:32] jouni-kantola commented on #3713
@sokra and @bebraw: So what is the correct way of configuring according to the new rules config? In the gist I explained how I tried a lot of different ways, and only deprecated `loaders: 'style-loader!css-loader!less-loader'` worked with `!` chaining.

[2017-01-04 14:42] bebraw commented on #3713
@jouni-kantola I have covered the basic variants [here](http://survivejs.com/webpack/understanding-loaders/loader-definitions/).

[2017-01-04 15:15] #3713 closed

[2017-01-04 15:17] basickarl opened #3747 "Simple Webpack2 / Babel / React example?"
I can't get my hands on a working configuration for webpack, babel and react. All of the tutorials and blogs tell you 50% and then just expect you to figure it out.

I'd like to use:
[code]

I'm surprised there isn't a full example of this.

[2017-01-04 15:31] sylhero opened #3748 "performance hint does not work on windows 10"
on windows it needs to be
`plugins: [
       new webpack.LoaderOptionsPlugin({
         // test: /\.xxx$/, // may apply this only for some modules
         options: {
           performance: ...
         }
       })
     ]
`
but on linux it needs to be
`
performance: {
  hints: false
}
`

webpack version: 2.1.0-beta.27

[2017-01-04 15:38] bebraw commented on #3713
@jouni-kantola That's my understanding, yeah. It's still useful for special usage (i.e. chaining within an `import`), but it's better to avoid it in loader definitions and use the other ways instead.

[2017-01-04 15:40] bebraw commented on #3747
I cover the React bits [here](http://survivejs.com/webpack/advanced-techniques/configuring-react/). You have to check some other chapters too (esp. [the Babel one](http://survivejs.com/webpack/building-with-webpack/processing-with-babel/)). There are a couple of things you need to do a little differently with webpack 2.

Feel free to re-open at Stack Overflow.

[2017-01-04 15:40] #3747 closed

[2017-01-04 15:50] jouni-kantola commented on #3713
The reason why I post issues related to the config (like this one, as well: https://github.com/webpack/webpack/issues/3660), is because a lot of time for me while learning Webpack 1, was finding examples that differed a little in about a gazillion ways.

The description you made, @bebraw, is really good, imo; `It is good to keep in mind that webpack's loaders are always evaluated from right to lef

[2017-01-04 17:03] bebraw commented on #3713
Sure. [Open an issue at the docs repo](https://github.com/webpack/webpack.js.org/issues) or PR as you see fit. 👍

[2017-01-04 17:57] janv commented on #2729
I could just observe a problem in our codebase related to the behavior in the current version of Firefox.

We have code that is structurally similar to the OPs example.
Firefox has a weird bug that results in the getter returning `undefined` unless I go to some lengths to make it retain the reference to `dateNow` (namely by doing `window.setTimeout(() => dateNow)`)

So I would ask to reconsider ch

[2017-01-04 18:56] also opened #3759 "webpack indicates success for rejected config promise"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If `webpack.config.js` returns a Promise that is rejected, the `webpack` command exits successfully with 0.

[This line](https://github.com/webpack/webpack/blob/8fd29574178527fdade0325d4f3d63ce8af1e8af/bin/webpack.js#L169) in `bin/webpack.js` does not set an exit code.

**If the current behavior is a

[2017-01-04 19:02] sokra commented on #3748
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2017-01-04 19:02] #3748 closed

[2017-01-04 19:03] sokra commented on #3759
You are right. Do you want to submit a PR?

[2017-01-04 19:07] sylhero opened #3761 "performance hint does not work on windows 10"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
require different configuration for windows and linux

**If the current behavior is a bug, please provide the steps to reproduce.**
pack something over the size limit and you will see the performance hint message

**What is the expected behavior?**

should be either
[code]
or
[code]
**If this is a fe

[2017-01-04 19:09] sokra commented on #3631
@blade254353074 Are you using the extract-text-plugin? Could you try to disable it and check if this affects the bug?

[2017-01-04 19:22] sokra commented on #3761
It's always

[code]

Using `LoaderOptionsPlugin` is not correct here.

I'm also using windows 10 and it's working for me.

Try to use to latest version `^2.2.0-rc.3`

[2017-01-04 19:24] sylhero commented on #3761
with webpack 2.1.0-beta.27 it prints out that error message on the screen

[2017-01-04 19:49] sokra commented on #3761
performance hints were introduced on v2.1.0-beta.28: https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.28

[2017-01-04 19:49] #3761 closed

[2017-01-04 20:59] artnova-david opened #3764 "webpack --watch crashes npm cli?"
Hi,
I recently posted this issue [https://github.com/npm/npm/issues/15275](url) in the npm repo and there someone indicated this could be a webpack (watch) related issue. Has anyone encountered this problem on windows 10?

Thanks.

[2017-01-04 23:36] halt-hammerzeit opened #3769 "Incorrect __WEBPACK_IMPORTED_MODULE_ placement"
I have this in my bundle:

[code]

As can be seen from this code the order of these two lines is incorrect: it should have defined the variable first and only then check the `if` condition.

This is `rc.3`

[2017-01-04 23:38] halt-hammerzeit commented on #2806
I resolved this issue by moving webpack configs to a separate `webpack` folder and then creating a simple `.babelrc` there:

[code]

[2017-01-05 03:21] DylanPiercey opened #3770 "Add quiet option to webpack/hot/poll"
**Do you want to request a *feature* or report a *bug*?**
Feature request.

**What is the current behavior?**
webpack/hot/poll always console.logs.

**What is the expected behavior?**
That I could silence the logs coming from webpack/hot/poll.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Currently my terminal is spammed with:

[code]

This only happe

[2017-01-05 04:54] bebraw commented on #3769
Can you provide a minimal project generating this type of code so we can fix?

[2017-01-05 06:10] martinko2009 commented on #2793
what is the use of scope?

[2017-01-05 07:07] joetidee commented on #3404
Are you able to provide a full solution to how to include Mongoose client validation into a Webpack oriented application?

[2017-01-05 07:50] cdchambers commented on #2824
Still seeing the problem with webpack: 2.2.0-rc.3.
Tried it on both
Chrome beta: 56.0.2924.28 beta (64-bit)
Chrome stable: 55.0.2883.87 (64-bit)

[2017-01-05 08:29] andrewvmail commented on #3128
[code]

Getting this problem with webpack during the dll process i have, although after that using above methods i can get webpack to watch. whats the official integration method for moment with the require locale support?

[2017-01-05 09:37] clemgrim commented on #2012
Here is my config:

[code]
It takes ~25s (I optimized from 35 to 25s with `noParse` option)
But the  `91% additional asset processing` is taking a very long time, and I can't figure what is done in this step. there's no uglify plugin or whatever.
Note that I'm building 600+ modules

[2017-01-05 09:57] atrefz commented on #3522
I have this same bug under node v7.3.0 with webpack v2.2.0-rc3

[2017-01-05 10:26] deveedutta commented on #3128
@andrewvmail @18601673727 - suggest you to read + understand + remove the lines of code that trigger this error from `antd/node_modules/moment` . I tried the alias approach & removed 2-3 lines of code, it has been working normally ever since.

**PS:** It won't work with build environments. Therefore, you may have to freeze the `antd` library by including in your git repo.

**OTHER:** https://githu

[2017-01-05 10:41] cynicaldevil commented on #3712
I'll take this one!

[2017-01-05 11:17] halt-hammerzeit commented on #3769
The error goes away if I perform these changes:

[code]

[2017-01-05 11:57] halt-hammerzeit opened #3777 "[Docs] Babel now seems to support dynamic imports"
The [migration guide](https://webpack.js.org/guides/migrating/) says:

At the same time, seems that it has been added recently:
https://github.com/babel/babel/issues/4944

I'm now running my project without that babel syntax plugin and it seems to work.
So maybe reflect that in the migration guide, that the syntax plugin is not needed for the newest babel (or that developers should update their ba

[2017-01-05 12:30] bebraw commented on #985
Can someone check this against webpack 2? Thanks.

[2017-01-05 13:03] martinko2009 opened #3783 "two DllReferencePlugin doesn't work"
Because the wepack 2.0 is still beta version,so I use wepack 1.13.1 and 1.14.0

**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**
when I bundle two jquery component by two DllPlugins, I use two of them in html by DllReferencePlugin in webpack.config.js
the second plugin doesn't work.I can not use the method in them.
but When I  use

[2017-01-05 13:45] sundaesfruit opened #3788 "webpack 1.13.3 bug ?"
when i  used  webpack to package my javascript  file, whose  **version  is 1.13.3** , i found the default could not be change "default" .  i sent a lot of time to found  bug that i came across.  when i  checked  the file that was packaged **,i  saw  the default could not  be changed "default".**

[2017-01-05 14:21] sokra commented on #3788
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2017-01-05 14:21] #3788 closed

[2017-01-05 14:26] sokra commented on #3783
both dlls contain the jquery module. So you get two different instances of jquery.

It's not a webpack bug, but a problem with your setup. Make sure that the dlls doesn't share modules. Or use the CommonsChunkPlugin to create one root dll which hoists shared modules.

[2017-01-05 14:26] #3783 closed

[2017-01-05 14:27] sokra commented on #3777
Please file this issue on the documentation repo: webpack/webpack.js.org

cc @bebraw

[2017-01-05 14:27] #3777 closed

[2017-01-05 14:47] baderbuddy commented on #2797
What I would personally love to see is defaults in the loader's code. Instead of something like this.

`loaders: [
            { test: /\.css$/, loader: "style-loader!css-loader" }
        ]`

I could have something much more simple

`loaders: ['css']`

The css loader should be able to specify that the default test is `/\.css$/`, because 90% of the time that's what people are going to use it with,

[2017-01-05 15:54] gustavohenke commented on #3637
I'm interested in this feature, but not because of performance.
I have a config to bundle my tests... additional files in this case present no advantage for me.

[2017-01-05 16:25] sokra commented on #3764
As it works fine without `npm` I guess it's not a webpack issue.

It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template

[2017-01-05 16:25] #3764 closed

[2017-01-05 16:48] #3759 closed

[2017-01-05 17:10] mjbates7 commented on #3522
I also get the same issues as @atrefz above.

[2017-01-05 17:14] SpaceK33z commented on #3522
Okay, re-opening. If someone could do a PR while maintaining node v4+ compatibility, that would be great.

[2017-01-05 17:31] folmert opened #3791 "Dynamic require breaks when using more than one webpack bundle at the same time"
I've run into this issue several times, and it seems the reason behind it lies in conflict between multiple webpack bundles.

While it's possible to generate multiple bundles like this:
[code]

it's impossible to use them both at the same time (on same page), because if  I use `System.import` (or `require.ensure`) both bundles will share one `modules` array.
In effect, we end up with namespace con

[2017-01-05 18:18] ntrrgc opened #3794 "Following "Getting started" guide shows a very different output and huge warnings"
I'm trying to learn webpack, so first I read the [Getting started](https://webpack.js.org/get-started/#creating-a-bundle) tutorial prominently advertised in the front page and followed it step by step.

At the end of the **Creating a bundle** section this is the output from webpack that, according to the tutorial, I should expect:

[code]

But I get this instead:

[code]

There are many confusing

[2017-01-05 18:34] g-patel commented on #191
@altano it's a late post on this thread, but did you get this working? how? I am running into same problem and can't fix it, even though adding json-loader in the webpack config.

[2017-01-05 18:39] g-patel commented on #184
@sokra Even though late post here, I can't get it working without adding `.json` in the require. However, it works when I have have full file name including `.json` in the require.

[2017-01-05 18:51] artnova-david commented on #3764
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
CLI crashes when using --watch in custom script in package.json

**If the current behavior is a bug, please provide the steps to reproduce.**
Hi,
I recently posted this issue [https://github.com/npm/npm/issues/15275](url) in the npm repo and there someone indicated this could be a webpack (wat

[2017-01-05 18:59] andrewvmail commented on #3128
@deveedutta

Thanks, yeah I was able to get it to work by mucking around in the antd package in around datepicker module date-picker/locale/zh_CN.js:23

The guys at antd got me to create a new ticket at
https://github.com/ant-design/ant-design/issues/4491

Nothing major just throwing it out there.

Cheers

[2017-01-05 19:53] ArunAdPushup commented on #2584
Hey @OlegLustenko, I was trying out your example, and I kept getting an error, even though I had the `sass-loader` installed -

[code]

I am using your above mentioned config. Any idea what I could be doing wrong ?

Thanks.

[2017-01-05 19:59] jouni-kantola commented on #3794
@ntrrgc: This issue probably is more suitable in https://github.com/webpack/webpack.js.org/issues

[2017-01-05 20:18] wzup commented on #1465
@sokra

Then why didn't you name the error that way?
`element.loader.split is not a function` vs. `Change `loader` to `loaders` if you pass an array`
Oh, they soooo absolutely the same. Simply twins

[2017-01-05 20:18] wzup commented on #1465
@sokra

Then why didn't you name the error that way?
`element.loader.split is not a function` vs. `Change `loader` to `loaders` if you pass an array`
Oh, they soooo absolutely the same. Simply twins

[2017-01-05 20:26] chrisVillanueva commented on #3794
@ntrrgc : please contribute your thoughts here:

https://github.com/webpack/webpack.js.org/issues/486

We can combine issues there to improve docs.

[2017-01-05 21:22] TheLarkInn commented on #3179
Fixed by #3570 Thanks @elodszopos I didn't even know this got tackled!

[2017-01-05 21:22] #3179 closed

[2017-01-05 23:06] cmosguy opened #3798 "Add watch php files to execute phpunit tests"
Hey @TheLarkInn,

Thanks for getting back to me on [twitter](https://twitter.com/TheLarkInn/status/817141858958712833).

What I was looking for was some type of webpack snippet that I could place in my config file so that I could add the ability to do a `npm run tdd` from my `package.json`.  In there I would call webpack with some argument that would run the task to sit and watch like `webpack --w

[2017-01-06 00:35] jods4 commented on #1634
Having the same issue here. I need to resolve modules in a webpack plugin, which uses sync tapables.
But when I try to call `resolveSync` it tells me that the file system is in async mode.
It seems that I'm stuck :(

[2017-01-06 00:58] jods4 commented on #1634
I have looked at the source code. The error is thrown here:
https://github.com/webpack/enhanced-resolve/blob/master/lib/Resolver.js#L25

Basically, `resolveSync` calls `resolve` like you would and then checks whether the callback was called before it returns or not.

Two things strike me:
- It implies `resolve` may or may not call its callback on the same turn, depending on whether it executed asy

[2017-01-06 00:59] TheLarkInn commented on #3798
@sokra can we synthetically tie watchers? Wasn't unsure if the api was exposed from watchpack inside a plugin hook.

[2017-01-06 02:02] DodekaHydra commented on #3769
@halt-hammerzeit This fix saved me from hours of pain. Thank you!

[2017-01-06 02:50] cage1618 commented on #959
I have the same promble `Uncaught TypeError: Cannot read property 'call' of undefined`. I think the reason maybe if you use code spliting, webpack will generate a id for the chunk. Every build time, the chunk id maybe change, but if you don't change the chunk file, this file's chunkhash will not change, so the browser will use the cache first. This time, the another file which require the chunk by

[2017-01-06 03:05] bebraw commented on #3794
Yup. Better continue at the docs tracker. 👍

[2017-01-06 03:05] #3794 closed

[2017-01-06 03:06] bebraw commented on #3798
@cmosguy Would it work if you set up a dummy entry pointing at the php files and then processed them through a noop-loader (avoids crash)?

[2017-01-06 03:14] sokra commented on #3798
There are other tools to watch files and run a command on change. You don't have use webpack for this.

It's like you want "webpack" without the "web" part and without the "pack" part + the ability to run custom commands. There is nothing left from webpack that you need.

[2017-01-06 03:14] #3798 closed

[2017-01-06 03:15] sokra commented on #3791
If using multiple webpack runtimes with JSONP chunk loading on the same page you need to specify different jsonp functions for each one. `output.jsonpFunctionName`

[2017-01-06 03:15] #3791 closed

[2017-01-06 03:16] sokra commented on #3791
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template.

[2017-01-06 03:17] sokra commented on #3637
`LimitChunkCountPlugin` with 0 chunks

[2017-01-06 03:17] #3637 closed

[2017-01-06 03:19] edmcmanwich commented on #748
👍

[2017-01-06 03:48] sokra commented on #3769
I can't reproduce this bug. 😢  I would be great the get a testcase from you.

[2017-01-06 03:52] cmosguy commented on #3798
Hey @sokra,

Thanks for the feedback.  Unfortunately, I have not found any good watch tools that did not look at all directories for a change then run phpunit command upon a change.  In fact, I like having a watch command for my php files and the html/css files in parallel with a single tool.  If webpack can do it, I am assuming that it could do it for other use cases as part of the build chain.

[2017-01-06 03:54] cmosguy commented on #3798
@bebraw I am totally new to webpack, so I am googling `noop-loader` and trying to figure out how to build an entry point to this.  All I want to do is leverage the watch mechanism in webpack, see a change in files with extension `*.php` then if so execute phpunit in the command shell.

[2017-01-06 04:44] ianks opened #3800 "Bundle includes modules which are referenced by DLL"
**What is the current behavior?**

I have a large app, and I am using the DLL plugins in development to create a separate vendor DLL. However, it seems that the all of the code for the DLL is also included inside of the app bundle.

**What is the expected behavior?**

I would expect the app bundle to not include code from the DLL, since it can just reference the code from the DLL. Is this a correc

[2017-01-06 05:00] martinko2009 commented on #3783
what is the share modules?
Could you tell  me how to make share modules.
 How to create one root dll and how to share the modules?
I have no idea about this.Please tell me more.Thank you.

[2017-01-06 05:07] blade254353074 commented on #3631
@sokra ...You are right. After disable extract-text-plugin, the builds are correct.

[2017-01-06 06:55] TheLarkInn commented on #3534
Thanks for this!!!!! Closing with #3567

[2017-01-06 06:55] #3534 closed

[2017-01-06 07:22] TitanNano opened #3804 "webpackJsonp is not defined with webpack2 and split-by-path plugin"
We are using webpack2 and the [split-by-path-webpack-plugin](https://github.com/fabiandev/split-by-path-webpack-plugin). We had to patch the plugin in order to use it with webpack2, but after building the bundle, it seems that there is still something wrong.
This is our configuration:
[code]
Both bundle and vendor files are created and we load the bundle file first, but they don't get executed as

[2017-01-06 09:03] halt-hammerzeit commented on #3769
@sokra Well, I have this big boilerplate project of mine:
https://github.com/halt-hammerzeit/webapp/blob/master/frontend/code/reducers/index.js#L6
And I don't think I would reduce it to something smaller because it's all complex and interconnected.
There are running instructions in case you'll be interested but I guess you always have better things to do like fixing those blockers for 2.2 release.

[2017-01-06 09:23] jsrraman opened #3805 "Running multiple webpack dev servers in the same host"
Currently I am running a webpack dev server on the localhost port 3000 for one UI project

[code]

Now when I want to run another webpack dev server on the localhost port 4000 for another UI project it throws `EADDRINUSE` error because webpack-dev-server is bound to first UI project in port 3000

How do I configure webpack-dev-server to run both UI projects simultaneously?

[2017-01-06 09:25] #3805 closed

[2017-01-06 10:17] folmert commented on #2112
It's safer to use module's id as unique element, because output of `Date.now()` won't differ at all on fast machines if you're generating multiple bundles in one run. I've just tested it on my config and 4/5 of my bundles share the same jsonpFunction name.

[2017-01-06 13:26] pleunv commented on #1096
I've been thinking about this a bit recently. My use case is a large enterprise product that has dozens of customer instances. Each of these have at least some basic theming requirements (simple prop mapping would do), however, some of these go a lot further and require implementation of house styles and so on. Most css (in js) solutions these days can deal with the basic requirements, but if you

[2017-01-06 13:58] aunz commented on #3271
Hello, @prsolucoes could you post all your webpack configs, it will be easier to find bugs for you.

Anyway, from your video, I assume you are also using webpack-dev-server. If you look into the directory `node_modules\webpack-dev-server\package.json`, what is the version?

If it's 1.x, then you should reinstall it with `npm i -D webpack-dev-server@2.2.0-rc.0`

If you want to know more about the i

[2017-01-06 14:48] e-cloud commented on #2797
@baderbuddy I think it would be better to create a wrapper for more general usage or create something like preset. Coz webpack is super feature-rich. It's hard to simplify the usage at the core level. Just like most linux command line tools.

[2017-01-06 15:07] ev1stensberg commented on #3804
Do you have a reproduction of your repo?

[2017-01-06 15:35] dreyks commented on #1542
Harmony branch worked for me

[code]

[2017-01-06 16:00] baderbuddy commented on #2797
@e-cloud based on my usage I think if the loaders' maintainers set some default values and then webpack allowed the ability to overwrite them then that would probably make most people's usage easier.

In my example the maintainer of the CSS loader can say that the default test is for the CSS extension and by default the values get fed into the style loader but someone using the loader could still

[2017-01-06 16:21] gajus commented on #815
Is there an efficient way to subscribe to a single event? i.e. `once` event emitter equivalent.

[2017-01-06 17:06] nolanlawson commented on #947
`immediate` is not a shim for `nextTick`; it uses microtasks whereas `setTimeout` creates a macrotask. The closest thing to `nextTick` is https://github.com/defunctzombie/node-process which is indeed (correctly) based on `setTimeout`.

[2017-01-06 17:22] nolanlawson opened #3819 "Feature request: modular "process" module"
Currently if you use Webpack to build the following code:

[code]

or

[code]

Then by default it will include all of [node-process](https://github.com/defunctzombie/node-process) which is  803 bytes min+gz (2.5KB bytes min), most of which contains a `nextTick` polyfill designed to work around old IE bugs and frameworks that modify the global `setTimeout` function.

Note that Browserify does this

[2017-01-06 17:24] nolanlawson commented on #3819
BTW this might technically be a feature request on [node-process](https://github.com/defunctzombie/node-process) since it will require coordination with that project (and maybe coordination with Browserify/Rollup too...). /cc @calvinmetcalf

[2017-01-06 17:49] STRML commented on #947
What I meant is, the bug is in `node-process` (webpack simply uses it), not in webpack itself. And `node-process` uses `setTimeout` for *both* `process.nextTick()` and for `setImmediate()`, but `setImmediate()` should have a microtask shim instead.

[2017-01-06 18:02] mccool commented on #582
@jdivock @fredriks solution worked for me. You need to specify `'window.jQuery'` not simply `jQuery` or `$`. I originally had
[code]
but was still seeing jQLite elements in my directives until i added `'window.jQuery':'jquery'`. I had to keep `jQuery:'jquery'` because i was seeing an error from transition.js about jQuery being undefined. I don't have the time at the moment to understand why since

[2017-01-06 18:54] nolanlawson commented on #3819
Hm so I guess a good first step would be to refactor node-process to have:
- index.js for cjs consumers (classic)
- index.es.js for ES6 consumers (Rollup, Webpack 2)
- nextTick.js, browser.js, env.js etc. for modular CJS consumers (e.g. `require('process/nextTick')`

Then once it's *possible* to consume `process` modularly, Webpack can move on to solving the parsing/dependency graph problem.

[2017-01-06 19:06] nolanlawson commented on #947
Yes this issue should be closed because it doesn't apply to Webpack. Also FWIW I think the current node-process implementation is fine. It's the closest thing to the semantics of nextTick.

[2017-01-06 19:07] calvinmetcalf commented on #3819
I'm not sure I agree, the es6 and cjs ones would end up filling some slightly different niches so we probably don't need to merge them, just use the es6 one when you need es6 and the classic when you need classic.

probably the better next step is a focus on *inlining* of process.browser and envs as those are static values, once that low hanging fruit is done we can figure out if we need modularit

[2017-01-06 19:20] STRML commented on #947
Hang on; no, this is backwards.

* `setImmediate` should use the macrotask queue, which it does via the [setimmediate shim](https://www.npmjs.com/package/setimmediate), which is imported by `timers-browserify`, which webpack correctly uses. Note that this is still faster than `setTimeout(func, 0)`. The OP was incorrect in saying that webpack uses `setTimeout` for `setImmediate` shimming; the curre

[2017-01-06 19:27] nolanlawson commented on #3819
Fair enough, but I think it would be fairly simple to add a `prepublish` to `node-process` to simply Rollup the ES6 source into separate CJS packages. But yeah it's purely a code organization thing and as-is it's perfectly usable in either ES6 or CJS.

Question for Webpack folks is whether this is sufficient for them, or if they need something else.

[2017-01-06 19:46] calvinmetcalf commented on #3819
doing the equivalent of inline-process-browser and envify are probably like 99% of all real world code gains that we are likely to make so I'd really suggest focusing on those 2 special cases first

[2017-01-06 20:03] calvinmetcalf commented on #3819
@nolanlawson I pinged you on the pouchdb slack if you want to try to get on the same page

[2017-01-06 20:05] DodekaHydra commented on #3769
Hm. I tried reproducing it from the `harmony` example and did not succeed.

Both @halt-hammerzeit and I use vendor-dlls in our projects, but removing mine from the build did not get rid of the error.

Not sure what else to try.

[2017-01-06 21:25] shlomiassaf opened #3822 "Proposal: SpawnPlugin"
A Plugin that allows running spawn before webpack starting the compilation and after it's done.

This will allow a lot of freedom but for me the main reason is to simplify the work with **npm scripts**. Since a lot of tasks do the same thing with minor changes you get a long list of scripts referencing other scripts with a changed flag or arg.

Consider the `UglifyJS`, `Copy` etc... Webpack plugin

[2017-01-06 21:25] shlomiassaf commented on #3822
I approved i'll post a PR

[2017-01-07 01:20] martinko2009 opened #3824 "how to compress the modules chuck of require.ensure"
I use wepack 1.13.1 and 1.14.0

**Do you want to request a *feature* or report a *bug*?**
I want to report a bug, or there is a solution I won't find out.

**What is the current behavior?**
When I use require.ensure echarts modules,it makes a chunk of that,but this chunk is not compressed.
so this chunk is too big.

![image](https://cloud.githubusercontent.com/assets/3345987/21738035/663e1484-d4ba

[2017-01-07 01:35] martinko2009 commented on #3783
@sokra,hello,I still am not able to understand what you said.
like,
1.Make sure that the dlls doesn't share modules, what is that the dlls share modules.
2.how to use the CommonsChunkPlugin to create one root dll which hoists shared modules.May you give some examples about the second problem.
thank you.

[2017-01-07 01:43] martinko2009 commented on #3783
@sokra
the dlls do shared some modules.
1.dll1 has included vue.js.dll2 has a js file about custom directive code.
2.In dll2.js ,it has require("jquery") code,so like you said maybe there is two diference jquery instance,How can i deal with it.

[2017-01-07 02:10] joetidee opened #3825 "Webpack build process - module not found: Error: Cannot resolve module *"
Please see the following S.O. question. I imagine that it is a simple fix, but I have found it difficult to understand what the next step is from the Webpack documentation.

http://stackoverflow.com/questions/41516931/webpack-build-process-module-not-found-error-cannot-resolve-module

[2017-01-07 06:15] Knight-Yoshi opened #3828 "ES6 Inheritance in Webpack"
So I'm having issues with sub-classes extending a super class in Webpack.

My super class: core/Main.js

    class Main {
    	constructor () {
    		console.log('Main Class Initialized');
    	}
    }

    module.exports = Main;

Sub-class:  app/Launch.js

    var Main = require('core/Main.js');
    class Launch extends Main {

    	constructor () {
    		console.log('Before Super')
    		super()

[2017-01-07 06:52] Knight-Yoshi commented on #3828
Got it. I copied `Main.js` into `app/` and required that. Works fine now.

[2017-01-07 09:08] #3828 closed

[2017-01-07 12:18] jouni-kantola opened #3829 "import() should access default by default"
**Do you want to request a *feature* or report a *bug*?**
Feature request

**What is the current behavior?**
When using `import()` the `default` property must be accessed before executing the module.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Code in this branch:
https://github.com/jouni-kantola/webpack-output-by-build-type/tree/webpack2-import

**What is

[2017-01-07 12:37] arturparkhisenko commented on #1740
@sokra I solved it but I'm not sure which way is preferred.
The first way my own implementation finding nearest `node_modules` folder function named `resolveLocalWebpack` in 35 lines (was inspired by `require.resolve` [doc](https://nodejs.org/api/modules.html#modules_all_together)),
the second way is simply using a new package dependency `resolve` in 2 lines.
And I wrote about tests in PR, maybe s

[2017-01-07 15:26] alistairjcbrown commented on #3716
I'm currently working on adding tests for `lib/LibraryTemplatePlugin.js`

[2017-01-07 15:52] chicoxyzzy commented on #3829
Promise will be resolved with module namespace https://github.com/tc39/proposal-dynamic-import/issues/21

[2017-01-07 17:18] jouni-kantola commented on #3829
@chicoxyzzy: But I'm already using:
[code]

[2017-01-07 17:18] aem commented on #3310
Was going to try and tackle this. Is the correct behavior to error out or should we attempt to flatten the array and then apply all plugins contained in child arrays?

[2017-01-07 17:56] #3829 closed

[2017-01-07 18:32] bebraw commented on #2818
@flyon Did you have any luck with this?

[2017-01-07 18:33] bebraw commented on #3149
Can you try against webpack 2? Standalone project to check would be ideal.

[2017-01-07 18:51] yegnyg opened #3836 "Documentation and Guides Feedback"
I'm really happy with the step forward that Webpack has taken in making sure the documentation is easily found and accessible for Webpack 2.

I just wanted to give feedback on my experience with the guides. The react hot reloading guide is phenomenal and just works and explains everything really well. However the code-splitting guides (library code-splitting & css code-splitting) aren't good. I've

[2017-01-07 19:26] rafde commented on #3836
I think this issue is better suited for https://github.com/webpack/webpack.js.org/issues

[2017-01-07 20:47] arturparkhisenko commented on #3639
@nicois maybe related to the https://github.com/webpack/webpack/issues/1740 ? already opened PR for this https://github.com/webpack/webpack/pull/3830

[2017-01-07 21:51] jtinfors commented on #3716
Working on `test/NodeWatchFileSystem.test.js`

[2017-01-07 22:06] denisinla commented on #3502
Are you using a webpack.config.dev.js file at all? I had a similar issue but when using webpack as part of create-react-app. My dev environment would work properly after editing webpack.config.dev.js by adding .scss to the loaders' exclude but when running npm run build would get the same @import error when scss files. Turns out I needed to define it in webpack.config.prod.js as well so the build.

[2017-01-07 22:41] ArunMichaelDsouza opened #3838 "Order of execution for multiple entries"
Hi,

I have a webpack config with multiple entries that generates some js and css files.
The first entry generates a file that is required by the second entry, since these two processes run in parallel I have no control over the order in which they are executed.

The second entry ends up running first and exits with an error as it is not able to find the module which the first entry builds (which

[2017-01-07 23:00] flyon commented on #2818
Nope, still have the issue, not sure what to do about it

[2017-01-07 23:02] hansl commented on #3641
So you're saying the best way for me to wait for my entry point's dependency (because TypeScript will error if I compile too early) to be ready is to either rename the entry point to something that doesn't exist, or hook up `before-resolve`?

I understand how and why you do it, but isn't there a way to shut the original resolver for certain filetypes?

[2017-01-07 23:47] toothGandalf commented on #215
Wow what a tool!
And so many great things to discover in webpack for a newcomers (as myself).
I should write another article about how cool webpack is!

[2017-01-07 23:56] alistairjcbrown commented on #3716
If you're looking at the [low coverage top 10 on coveralls for the latest build](https://coveralls.io/builds/9567491), you'll notice two new files <80% coverage that have snuck in. I've got those covered in PR #3839, so the 6 left above are still the ones to tackle next.

[2017-01-08 00:37] alistairjcbrown commented on #3716
@jtinfors Thanks - one more struck off the list! 🎉

[2017-01-08 02:06] IanVS opened #3841 "Show `V1` on every page of webpack.github.io"
**Do you want to request a *feature* or report a *bug*?**
Documentation Suggestion

**What is the current behavior?**
When searching Google (or my favorite, DuckDuckGo) for Webpack, many links point to `webpack.github.io`.  However, it can be unclear from looking at those pages that the docs are for V1.  For example, nowhere can a version number be seen on https://webpack.github.io/docs/configurat

[2017-01-08 03:39] bebraw commented on #2818
@flyon Could you set up a little project showing the behavior so it's possible to debug better? Thanks.

[2017-01-08 06:19] nasushkov commented on #3656
Hi @TheLarkInn ,  did you manage to reproduce this in your environment?

[2017-01-08 06:28] aluanhaddad commented on #2873
I realize this is largely unrelated, being a development time concern, but even with the recent improvements, the sheer textual bloat of the development bundles Webpack 2.2.0-rc.3 emits is a massive pain.
The following is the '@angular/core' exports section from an unoptimized Angular 2 bundle
[code]
This all gets compressed decently with uglify for production but, as part of a 5-10MB _development

[2017-01-08 07:24] aluanhaddad commented on #3017
I look forward to the day when both AMD and CommonJS are considered legacy formats, especially for browser based work.

That said, when I have to work on a Webpack project (my preference is for loaders, not blunders, no offense intended) I find that the AMD support makes me feel a bit more at home.

[2017-01-08 07:47] NekR commented on #2873
So there is [`rollup-loader`](https://github.com/egoist/rollup-loader) now, isn't it a solution?

[2017-01-08 09:38] jouni-kantola commented on #1479
Thank you for sharing your findings, @dmitry. This has always puzzled me as well, and remains the same with Webpack 2. As I go back and forth from Windows, MacOS and CI, I see quite a lot of hash changes. This issue explained quite a lot.

As I see it, CI is pretty much a requirement for running Webpack. Local push is too fragile, since people will most definitely have different setups.

This issu

[2017-01-08 10:10] saman commented on #382
 Thanks for sharing.

[2017-01-08 10:45] dcworldwide commented on #3017
Using AMD on a large enterprise project with esri js api (who do not support commonjs).

[2017-01-08 11:39] chvin commented on #382
Thanks for sharing.

[2017-01-08 12:02] alistairjcbrown commented on #3716
I'm currently working on adding tests for `lib/webworker/WebWorkerMainTemplatePlugin.js`

[2017-01-08 14:13] NekR opened #3847 "Problem with `-loader` error"
**Do you want to request a *feature* or report a *bug*?**

Report bug.

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone https://github.com/NekR/webpack-loaders-issue
2. `npm install` & `npm build`
3. Compilation fails with `offline-plugin` error

**What is the expected behavior?**
Compilation should fail with `-loader` error f

[2017-01-08 14:14] NekR commented on #3847
Relevant: https://github.com/NekR/offline-plugin/issues/152

[2017-01-08 15:15] andreasgruenh opened #3848 "--hot --inline breaking CommonsChunkPlugin"
Hello everybody,

I've been struggling with the following problem for the whole day now:

I created a CommonsChunkPlugin that includes all vendor files so that build speeds should increase (because the vendor files never change) but as soon as I add --hot --inline to the npm script, the vendor js file gets emitted on every change of a file. You can reproduce this with the following setup:

package

[2017-01-08 15:42] halt-hammerzeit commented on #1979
I would also propose an idea of an extended `module` property
[code]

[2017-01-08 18:01] TheLarkInn commented on #3841
Thanks for submitting your first webpack issue! I think this is a pretty worthwhile idea.

[2017-01-08 18:02] TheLarkInn commented on #3836
@bebraw would you or @pksjce mind moving this over to webpack/webpack.js.org

[2017-01-08 18:03] TheLarkInn commented on #3838
Would you be able to provide a small example of what your config looks like? Thank you.

[2017-01-08 18:03] TheLarkInn commented on #3824
Have you tried this in webpack 2 yet?

[2017-01-08 18:04] bebraw commented on #3836
It's better if @yegnyg does that since it's his/her feedback.

[2017-01-08 18:04] TheLarkInn commented on #3836
Agreed. @yegnyg Would you mind?

[2017-01-08 18:57] ArunMichaelDsouza commented on #3838
Hey @TheLarkInn,

Here's an example config file -
[code]

The first process converts the `.scss` files and creates two files - `website.style.css` and `editor.style.css`. Now these two files are required by the second process to output the final minified build file `website.min.css`. In this case, the second process starts first and exits with an error as it is not able to find the requried files.

[2017-01-08 20:00] artnova-david commented on #3502
@denisinla yes, i'm definitly using webpack.config

[2017-01-08 20:24] buu700 opened #3851 "AggressiveSplittingPlugin chunks don't include Webpack runtime"
**Do you want to request a *feature* or report a *bug*?**

Report a (probable?) bug.

**What is the current behavior?**

Using the most minimal configuration I could come up with (see config 1 below), the output of this plugin appears to be unusable for a variety of reasons:

1. There's no main.js in the output; instead, the Webpack runtime seems to be arbitrarily added to one of the chunks (in th

[2017-01-08 22:59] sokra commented on #3769
Ok I've got the problem. `Array.sort` is unstable in node.js and that's the problem when sorting dependencies in a module.

[2017-01-08 23:06] halt-hammerzeit commented on #3769
@sokra Can you tell us more on why is `Array.sort` "unstable"?
I.e. does it return random order for equal elements? I would assume that's the issue.
I.e. internally you have some kind of `weights` (or `priorities`) for dependencies and then you sort them with their weight descending, but for `default` and named exports you had equal `weight`s so their order was random in Node.js after `Array.sort`

[2017-01-08 23:29] niieani commented on #985
@bebraw The problem described in the issue is still present in Webpack 2, and as far as I understand will not be fixed, because the dependency resolution algorithm is based on the one provided by Node. Webpack works properly, but it's an arguably bad design decision on Node's part that Webpack follows. A webpack resolve plugin can be used to mitigate the problem successfully.

[2017-01-08 23:59] holms commented on #1151
How can one knowing how unix way works, do in this in CLI..? Don't follow ROR community anti-patterns, read UNIX recommendations. Both - config and CLI way should work equally. Sometimes it's ok to put additional params to configuration, but definitely not vice versa!!!!!!

[2017-01-09 02:01] Panya commented on #3769
@halt-hammerzeit "unstable" is the correct term for that. See https://en.wikipedia.org/wiki/Sorting_algorithm#Stability

[2017-01-09 02:29] e-cloud commented on #3612
@sokra because `context` object already has a property named "options", if user defines a `options` property for `LoaderOptionsPlugin`, it will override the original `options` object inside the `context` object.

One simple way to solve this is to use `Object.assign` that simply combine object property of `context`.
But it may let the user get the chance to override other context properties.

Ther

[2017-01-09 05:54] vincent-pli commented on #312
Ha. after 3 years I have same problem ^_^

[2017-01-09 09:08] codepunkt commented on #3522
Same as @atrefz

webpack 2.2.0-rc.3, node 7.2.0, 7.3.0 and 7.4.0 - WebpackOptionsValidationError message is completely missing. 6x LTS versions are fine.

[2017-01-09 10:57] SpaceK33z commented on #3522
@codepunkt we know it's happening, if someone would like to submit a PR that would really be welcome... Shouldn't be too difficult.

[2017-01-09 11:18] sreyan32 opened #3854 "How are the type files loaded ?"
I am unable to understand how the type files are loaded for an angular2 application. I have loaded jquery globally by the use of the angular-cli.json file. But then how am I getting intellisense in VSCode without including the typings file anywhere ?

Whats more weird is that if I use jquery plugins like typeahead.js I don't have to include the typings file in the project. (I have to download them

[2017-01-09 11:31] fanyegong commented on #672
+1

[2017-01-09 11:42] martinko2009 commented on #3824
I won't try webpack 2 until now.because webpack2 is still beta version.It is not stable version.

[2017-01-09 11:44] Tsouef opened #3855 "Webpack2 couldn't file preset es2015 or react"
Hi,

I have a folder with my modules and my webpack.config in my project.

My webpack.config:
[code]

My package.json:

[code]

And in my module, my package.json:
[code]

In my desktop.js, when I import myModule1. I have this error:
Module build failed: Error: Couldn't find preset "es2015" relative to directory "/space/www/myModules/myModule1/src"

If I remove es2015 preset, I have the same proble

[2017-01-09 12:20] alistairjcbrown commented on #3716
Note about the `NodeWatchFileSystem` tests - test run on CI do not include watch tests, so these tests will not be included in the coverage report. This is most likely due to the time required for these tests - perhaps small and quick unit tests could be included, with only costly tests behind the `NO_WATCH_TESTS` flag?

[2017-01-09 13:07] tarang9211 commented on #2313
@TheLarkInn would this be a good issue for me since I am completely new to the repo?

[2017-01-09 13:17] KCreate commented on #2313
@tarang9211 As far as I understood this issue is solved?

Check @johnstew's screenshot.

[2017-01-09 13:18] KCreate commented on #2313
I'm closing this issue as it is no longer relevant.

[2017-01-09 13:18] #2313 closed

[2017-01-09 14:22] tomitrescak commented on #1315
I'm desperate, if I try to use the "working" solution, I get `cannot use [chunhash] for chunk in [name]-[chunkhas] use [chunk] instead.

When I use [chunk] instead, both manifest and vendors file are generated with the same hash (yet have different sizes), and when I change app, this id changes on both. Any idea please?

[code]

[2017-01-09 14:25] uncleyo opened #3857 "Proposal: check stats hash before calling handler"
**Do you want to request a *feature* or report a *bug*?**
potential bug

**What is the current behavior?**
webpack only suppressess stats with identical hash in CLI mode

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
output behavior is the same whether webpack is used through CLI or node API

**If this is a feature request, what is

[2017-01-09 14:29] TheLarkInn commented on #3656
I have not looked into this yet. Thank you for the follow up.

[2017-01-09 15:59] rochapablo opened #3858 "ERROR in [default] Cannot find module(s)"
**Do you want to request a *feature* or report a *bug*?**
report  a bug (i guess)

**Please mention other relevant information such as the browser version, Node.js version, Operating System and programming language.**

[code]

**... first let me say something**

I'm learning how to deal with webpack. I had something before I decide to update to last version that was running the same code and every

[2017-01-09 16:10] TheLarkInn commented on #3509
Pinging for update. This could be one of the last issues on our milestone and we want to hunt this down if we can get an example. Thank you so much.

[2017-01-09 16:10] TheLarkInn commented on #3769
Closing with #3852

[2017-01-09 16:10] #3769 closed

[2017-01-09 16:16] gund commented on #3509
If I correctly understand there is an issue when webpack generates sometimes code where he tries to access import before it actually imports it?

Because I had this issue with my library and what I did is just reordered position of exports.
If that is the issue I can try to provide real case repro.

Please let me know if that will make sense. Thanks.

[2017-01-09 17:48] piuccio opened #3859 "ProvidePlugin does not support named exports, only default"
[ProvidePlugin](https://webpack.github.io/docs/list-of-plugins.html#provideplugin) can only be used for default exports, the example in the doc is jQuery.

[code]

However if you're using libraries with named exports, like `preact` you're out of luck

Hello world with preact:

[code]

The variable `h` is never used in the source file but it's needed because babel transpiles jsx into `h()` calls.

[2017-01-09 18:13] wtgtybhertgeghgtwtg commented on #3083
Is there still work to be done on this, or can it be closed?

[2017-01-09 19:36] bebraw commented on #3855
Let's close this in favor of the [Stack Overflow question](https://stackoverflow.com/questions/41547822/webpack2-couldnt-file-preset-es2015-or-react#comment70309139_41547822) as SO is a lot better for support.

[2017-01-09 19:36] #3855 closed

[2017-01-09 19:52] yelodia opened #3861 "Synchronus loading of bundles like RequireJS"
I am trying to migrate my big single page application from Require.js to webpack and there is some troubles with code splitting. My application has structure:
[code]
So I want to create a separate bundle for every page. I'm using bundle-loader in my router.js to do this:
[code]
It's OK. Also every page has define section with some components (not all) that it needs. For example:
[code]
Webpack put

[2017-01-09 20:14] TheLarkInn commented on #3083
Can definitely be closed. Thanks for pinging me on this.

[2017-01-09 20:14] #3083 closed

[2017-01-09 20:15] TheLarkInn commented on #3491
@sokra this is fixed now with #3580 right?

[2017-01-09 20:43] 3axap4eHko commented on #3861
did you try to use this approach?
[code]
in output folder you will have 1 "stuff" files with grouped modules

[2017-01-09 20:51] tarang9211 commented on #2150
Hey! Is this still open? I'd like to help out as my first PR on this repo.

[2017-01-09 21:31] a-r-d commented on #3825
@joetidee take at look at your "resolve" entry. Specifically the "root". I would remove it and use "context" instead.

Here are docs on context: https://webpack.github.io/docs/context.html
Here are docs on resolve: https://webpack.github.io/docs/resolving.html

[2017-01-09 22:06] alistairjcbrown commented on #3716
If you're looking at the [low coverage top 10 on coveralls for the latest build](https://coveralls.io/builds/9584589), you'll notice `lib/formatLocation.js` <80% coverage. This is covered in PR #3862.

[2017-01-09 23:28] wtgtybhertgeghgtwtg commented on #3690
Another use case that came up when looking into #3213.  A lot of `webpack` is dealing with arrays; consequently, a lot of `webpack` is dealing with for loops.
[An example](https://github.com/webpack/webpack/blob/master/lib/Entrypoint.js#L28-L40) from `Entrypoint.js`
[code]
could be rewritten as
[code]

[2017-01-09 23:52] jdalton commented on #3690
or
[code]

[2017-01-10 00:32] halt-hammerzeit opened #3868 "`module.hot.accept` only works in one place"
(latest Webpack 2.2)

Suppose there's a file `./source.js` which is `import`ed in two other files each of them having a `module.hot.accept` hook set up.
The issue is that only one of those hooks fires while the other one does not.
When the first hook is removed then the second one starts working.

Can't Webpack handle both of these hooks?

[2017-01-10 01:17] sdras opened #3869 "Loading an image source within SVG <image> xlink:href fails"
First off, thanks so much for your hard work on webpack, I use it every day! 🙌

After speaking to @TheLarkInn, I do believe that this is a bug, though likely low use-case. (until people figure out how awesome this implementation is 😎)

Currently if I load an image with a relative src within a .vue file, it works, but images embedded within an SVG DOM are not recognized. This is probably due to the

[2017-01-10 01:21] halt-hammerzeit commented on #3868
I tried to perform a workaround.

At first it was

#### a.js

[code]

#### b.js

[code]

Then I thought that combining those two in a single file would work:

#### ab.js

[code]

So, even when combined in a single file, `a` is again updated and `b` again stays as it was before the update.

[2017-01-10 01:23] halt-hammerzeit commented on #3868
My current workaround is:

#### ab.js

[code]

[2017-01-10 01:29] halt-hammerzeit commented on #3868
(a workaround found, but not a solution)

[2017-01-10 01:29] #3868 closed

[2017-01-10 01:51] martinko2009 commented on #3735
I find a problem.when the second dll2.config.js including some jquery third party component like that has some code like below:
[code]
It will throw that error message.

[2017-01-10 01:53] #3825 closed

[2017-01-10 03:22] TheLarkInn commented on #3869
I'm guessing this may be either vue-loader or url-loader, let's leave this in here for now @bebraw until I hunt down the culprit. Hunch is url-loader?

[2017-01-10 05:44] bebraw commented on #3869
Yeah, check url-loader first.

[2017-01-10 06:09] martinko2009 opened #3871 "Webpack provider one way to share jquery instance or another instance between several dlls"
Because the wepack 2.0 is still beta version,so I use wepack 1.13.1 and 1.14.0
**Do you want to request a *feature* or report a *bug*?**
I want to request a feature

[code]
**[two DllReferencePlugin doesn't work](https://github.com/webpack/webpack/issues/3783)**
[**Two DllReferencePlugin can't exist together**](https://github.com/webpack/webpack/issues/3783)

**What is the current behavior?**
I us

[2017-01-10 06:56] TheLarkInn commented on #2150
Yup still open!! I'm not specifically sure how to reproduce this so I'm not sure where in the code to guide you. @bebraw are you familiar with this?

[2017-01-10 06:58] tarang9211 commented on #2150
Awesome!

[2017-01-10 07:03] bebraw commented on #2150
Nope. You would have to walk through the code to tell any better. Look up where webpack refers to package.json.

[2017-01-10 07:05] tarang9211 commented on #2150
So should I go through the entire src code?

[2017-01-10 07:15] bebraw commented on #2150
One option would be to walk through the code with a debugger till you get to the error. That would reveal the place to tweak most likely. It takes some setup to do this, but the process should be covered online.

[2017-01-10 07:23] sokra commented on #3869
You better ask this question on the vue-loader repo. I'm not sure how vue processes your markup.

[2017-01-10 07:23] #3869 closed

[2017-01-10 07:25] sokra commented on #3861
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2017-01-10 07:25] #3861 closed

[2017-01-10 07:25] sokra commented on #3859
There is an open PR adding this feature.

[2017-01-10 07:27] lili21 commented on #3265
similar issue here. `__webpack_public_path__` only work for lazily-load chunks. the `entry point` - `app.js` , `common-chunks` - `vendor.js`, and  `manifest.js` are not effected.

[2017-01-10 07:27] sokra commented on #3858
You don't have `"node_modules"` in your `resolve.modules`. See migration guide

[2017-01-10 07:27] #3858 closed

[2017-01-10 07:33] lili21 commented on #3265
should I open a new issue ?

question about `imports are hoisted`,

[code]

[code]

is `__webpack_public_path__ = ` executed before `import './components`

[2017-01-10 08:05] w3apps commented on #2867
Tree shaking still not working as expected with rc.3

[2017-01-10 08:10] yelodia commented on #3861
@3axap4eHko Yes, I tried, but it is not what I need. CommonsChunkPlugin groups components, but I need to split each component.

[2017-01-10 08:31] lili21 commented on #3265
my webpack config.

[code]

[2017-01-10 08:37] rasentry opened #3872 "dependency does not move to common chunk"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
class ReusableComponent doesn move to common chunk despite I set
minChunks: 2,
children: true

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/rasentry/webpack-chunks

**What is the expected behavior?**
It should move to main chunk

**Please mention other

[2017-01-10 09:01] Swizec opened #3873 "Webpack 2 dynamic async imports resolve subdirs incorrectly"
**Do you want to request a *feature* or report a *bug*?**
I wish to report a bug.

**What is the current behavior?**

When you run

[code]

It resolves the file path to `./MyModule` and says the module cannot be found.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is a repository that reproduces this behavior. It also shows that the dynamic path resolution doe

[2017-01-10 09:36] rochapablo commented on #3858
Ok, thank you. I'll check that.

[2017-01-10 10:30] soulcm commented on #2145
I have the same problem with you @mariussl

[2017-01-10 11:02] piuccio commented on #3859
@sokra thanks, I didn't notice that. I think however you refer to the merged PR #3597 which makes this issue a duplicate of #2864

I guess it just needs to be released, will probably be fixed in whatever version comes after `2.2.0-rc.3`, maybe `rc.4` or maybe `2.2.1`

[2017-01-10 11:02] #3859 closed

[2017-01-10 11:35] doorman02 opened #3878 "Webpack chunk files on CDN server"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I have an angular 2 app and I am using WebPack for bundling. WebPack generates chunk files which are dynamically added to the webpage when it is loaded:

`<script type="text/javascript" charset="utf-8" async="" src="0.b422af7997bfeca78d4.chunk.js"></script>`

I want these chunk files to be located

[2017-01-10 11:55] wtgtybhertgeghgtwtg commented on #3690
I wanted to avoid things that might not work in the next version.  `_.property` shorthand is getting removed in the next version, isn't it?

[2017-01-10 13:23] andreiglingeanu commented on #3265
@lili21 That's the solution you're looking for: https://github.com/webpack/webpack/issues/2776#issuecomment-233208623

[2017-01-10 14:23] TheLarkInn commented on #3869
Moved to vuejs/vue-loader#569

[2017-01-10 15:54] jdalton commented on #3690
@wtgtybhertgeghgtwtg Ah ok. It's still some time out but I plan on having shorthands usable via a babel plugin.

[2017-01-10 15:55] #3491 closed

[2017-01-10 16:05] sokra commented on #3854
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2017-01-10 16:05] #3854 closed

[2017-01-10 16:11] sokra commented on #3851
This looks like a bug.

This is planned for webpack 3. Currently scripts need to be in correct order. You need to include all script for an entrypoint. The order is in the stats. There is a `entrypoints` property. You can also show it with `--display-entrypoints`.

[2017-01-10 16:13] sokra commented on #3848
HMR adds the hash of the compilation to the entry chunk.

Try `names: ['vendor', 'manifest'],` for the commons chunk plugin and include both files as script tags

[2017-01-10 16:13] #3848 closed

[2017-01-10 16:39] roine opened #3886 "inline hot reload request a localhost while I need to request a custom URL"
Running the server with

    webpack-dev-server --inline --hot --host 0.0.0.0 --config config/webpack.config.js

When I change a file I get a ajax request to a JSON file on a localhost. The problem is that my server is in a VM. Haven't found anything anywhere to change the host. Did I miss it or is it not configurable?

[2017-01-10 16:59] #3886 closed

[2017-01-10 17:01] roine commented on #3886
Spend hours looking for a solution, write an issue here, 10 seconds after solution found.

[2017-01-10 17:55] dlombardi commented on #2844
Ncage1974:  I'm doing the same thing, how did you resolve?

[2017-01-10 17:58] buu700 commented on #3851
Thanks a lot for the help! Using the AggressiveSplittingPlugin config with the init.js commons chunk and appending script tags in the order from `stats.compilation.entrypoints.main.chunks` did the trick.

Two related unimportant questions:

1. Is it possible to use the compiler API with the CLI command or otherwise still get the output produced by the CLI when using the Node.js compiler API? (It's

[2017-01-10 19:01] tarang9211 commented on #2150
@bebraw walk through the entire source code? Which process are you referring to?

[2017-01-10 19:04] bebraw commented on #2150
@tarang9211 Here's the [basic idea](https://medium.com/webpack/webpack-bits-learn-and-debug-webpack-with-chrome-dev-tools-da1c5b19554).

[2017-01-10 22:12] jouni-kantola commented on #3878
@doorman02: Check the `publicPath` config: https://webpack.js.org/configuration/output/#output-publicpath

[2017-01-10 22:59] jouni-kantola commented on #3873
If it's of any help, both these options work:
- `System.import('modules/Change')`
- `System.import('modules/Change/index.js')`

[2017-01-10 23:07] Swizec commented on #3873
@jouni-kantola thanks. That might work when paired with a very large switch statement.

Would be really great if this worked with a variable. Maybe I'm wrong and it was never meant to?

[2017-01-10 23:12] akatechis opened #3893 "Webpack2 is inserting invisible characters into bundle (visible in chrome devtools)"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Bundling a bunch of JS into a single file creates a bundle, where the last bundle in the file has some strange characters in its eval source. Best way for me to demonstrate is to show images of the bundle in editor

![image](https://cloud.githubusercontent.com/assets/1058931/21828576/34da023e-

[2017-01-10 23:15] jouni-kantola commented on #3873
It's the same with `import()`:
[code]

[2017-01-11 00:25] tracker1 opened #3894 "\node_modules\source-map\source-map.js didn't return a function"
**What is the current behavior?**

After updating my project dependencies (determined via `yarn outdated`), I'm getting the following error when trying to run webpack on my project...

    ERROR in Loader C:\src\ea-git\ea-portal2\node_modules\source-map\source-map.js didn't return a function
 @ multi app

I'm running on Windows 10, using the latest stable yarn, and the latest LTS node version.

Un

[2017-01-11 00:52] rafde commented on #3861
This issue is similar to http://stackoverflow.com/questions/38707267/how-to-disable-bundling-in-webpack-for-development

[2017-01-11 01:09] Swizec commented on #3873
Yes, and it works without the subpath.

[code]

Which leads me to believe it should work with paths more complex than `./` too.

[2017-01-11 01:26] Swizec commented on #3873
Surely a better fix must exist for this issue than doing something like this:

[code]

[2017-01-11 01:32] jjinux commented on #3579
This bug is biting me too. I have a fairly complicated .babelrc file, but this patch is a workaround for the problem:

[code]

This transforms ES6 modules into CommonJS syntax, which nullifies some of the advantages of Webpack 2, but it does fix the sourcemaps :-/

[2017-01-11 01:43] jouni-kantola commented on #3873
This works:
[code]

[2017-01-11 02:53] jouni-kantola commented on #3873
As a final test I disabled `babel-loader`and created a small config, to try it out as much out-of-the-box as possible. Same results.

Gist with all code:
https://gist.github.com/jouni-kantola/26f211781956e6d2a1aec8054e0415d8

Code:
[code]

[2017-01-11 03:21] lili21 commented on #3265
Looks like my issue is related to `html-webpack-plugin`. [issue](https://github.com/ampedandwired/html-webpack-plugin/issues/119)

[2017-01-11 05:59] TheLarkInn commented on #3712
All yours.

[2017-01-11 05:59] TheLarkInn commented on #3712
Make sure you tie the issue from your PR. So we can make sure this gets closed.

[2017-01-11 06:42] bebraw commented on #3878
Please re-open at Stack Overflow. `publicPath` should do the trick.

[2017-01-11 06:42] #3878 closed

[2017-01-11 07:57] Swizec commented on #2867
Adding another datapoint: Tree shaking seems ineffective in real-world projects.

I have a vendor.js chunk with a bunch of libraries (React, ReactDOM, MobX, etc.). Using Babel 6.14.0 and Webpack 2.2.0.rc.3 the file compiles to 2.34MB without minification.

Enabling minification brings it down to 939kB.

Disabling `unused` and `dead_code` flags on UglifyJsPlugin adds 30kB. This implies tree shaking

[2017-01-11 08:22] mstijak commented on #2867
I did a small investigation a while ago. Based on a couple of issue threads and HackerNews comments, I think that proper tree-shaking (rollup way) will be implemented after v2 is released.
There is an also an open issue in UglifyJS which is preventing good tree-shaking results right now. https://github.com/mishoo/UglifyJS2/issues/1261

[2017-01-11 08:31] jhnns commented on #2867
Exactly. Most libraries still ship with CommonJS that's why it will take some time until tree-shaking will be actual effective.

[2017-01-11 09:19] ataraxus opened #3895 "Treeshaking breaks Typescript namespace imports/exports"
**Do you want to request a *feature* or report a *bug*?**
 **bug**

**What is the current behavior?**

----

**Disclaimer** my project is an ionic project. i provide a [gist](https://github.com/ataraxus/issue-es2015) which reproduces the error, but needs ionic to be installed. This project also contains 2 files:
* mainbroken.txt
* mainworking.txt

which is the output of webpack. These files can ea

[2017-01-11 09:56] zhiqunq commented on #1817
The weak-weak question，how is it going？

[2017-01-11 10:23] doorman02 commented on #3878
Hi @jouni-kantola  and @bebraw I tried the public path but the path is added everywhere except to the chunk file. Here is my configuration am I missing something?

`output: {
      path: helpers.root('dist'),
      publicPath: 'https://my-cdn.net/',
      filename: '[name].[chunkhash].bundle.js',
      sourceMapFilename: '[name].[chunkhash].bundle.map',
      chunkFilename: '[id].[chunkhash].chunk

[2017-01-11 11:17] henryzp opened #3897 "hot update cannot effective"
There is a error:

[code]

webpack version: 1.14.0

webpack-dev-server: 1.16.2

node version: 6.9.4

npm version: 3.10.10

[2017-01-11 12:57] rochdev commented on #1914
Same issue for a very small project

[2017-01-11 12:57] rochdev commented on #2157
Same issue for a very small project

[2017-01-11 14:01] sokra commented on #3897
not a webpack issue

[2017-01-11 14:01] #3897 closed

[2017-01-11 14:02] balazsorban44 commented on #1746
Hi! I have the same problem, but after reading this issue, I still could not solve it. This is the first time I use webpack, so the following code will be an almost unmodified code I found on the internet with changes only on the paths.

Commenting out the devtool line has no effect for me, the file is not created, though in terminal it says it is emitted without errors.

[code]
And here is the li

[2017-01-11 14:02] sokra commented on #3895
already fixed in master branch

[2017-01-11 14:02] #3895 closed

[2017-01-11 14:03] sokra commented on #3894
Read the migration guide -> `-loader`

[2017-01-11 14:03] #3894 closed

[2017-01-11 14:04] sokra commented on #3893
Save the source file as UTF-8 without BOM, instead of UTF-8 with BOM

[2017-01-11 14:04] #3893 closed

[2017-01-11 14:05] sokra commented on #3873
It's a known bug...

[2017-01-11 14:07] sokra commented on #3872
In your example you didn't require ClassC and ClassA doesn't use the component.

[2017-01-11 14:07] #3872 closed

[2017-01-11 14:11] sokra commented on #3822
Feel free to publish the plugin as separate plugin.

[2017-01-11 14:11] #3822 closed

[2017-01-11 14:12] sokra commented on #3824
With `compress` you mean minimize?

Run `webpack -p`

[2017-01-11 14:12] #3824 closed

[2017-01-11 14:18] shlomiassaf commented on #3822
@sokra Makes sense.

Where can I find the current tags? do you have a link?

[2017-01-11 14:21] sokra commented on #3800
Probably `context` is wrong.

Both compilations must resolve a vendor lib to the same relative path from `context`.

correct

[code]

wrong

[code]

[2017-01-11 14:26] sokra commented on #3509
I think this issue is fixed in master branch. Please reopen if not.

[2017-01-11 14:26] #3509 closed

[2017-01-11 15:11] rasentry commented on #3872
ClassC is using in ClassB
[code]

[2017-01-11 15:15] #3512 closed

[2017-01-11 16:08] SpaceK33z commented on #3411
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2017-01-11 16:08] #3411 closed

[2017-01-11 16:27] vitkrv commented on #903
For Webpack 2 just update `resolveLoader` section.
I've dropped my custom loaders to **custom-webpack-loaders** folder.
[code]

[2017-01-11 16:31] tracker1 commented on #3894
@sokra could you be a little more specific?  It was working about a month and a half ago...

[react-redux-materialui-boilerplate](https://github.com/tracker1/react-redux-materialui-boilerplate/)

I'm not seeing any 1.13 to 1.14 migration guide.. let alone a -loader?

[2017-01-11 16:51] sokra commented on #3894
Oh sorry you deleted the issue template so I didn't know what version you are using.

[2017-01-11 16:54] sokra commented on #3804
Better file this issue on the plugins repo.

[2017-01-11 16:54] #3804 closed

[2017-01-11 16:55] Swizec commented on #3873
@sokra is there a list of known bugs I could have referenced? I tried searching and it didn't look like anyone else had run into the problem. (my search-fu is probably bad)

[2017-01-11 17:11] sokra commented on #3873
Here is a list: https://github.com/webpack/webpack/issues?q=is%3Aissue+is%3Aopen+label%3Abug
;)

[2017-01-11 17:17] #537 closed

[2017-01-11 17:18] #787 closed

[2017-01-11 17:18] #859 closed

[2017-01-11 17:29] ianks commented on #3800
I'm a little confused by what you mean here.

Say my webpack configuration is is `./config/environments/dev.js` and my dll config is at `./config/environments/dll.js`

Would I set context in my webpack config to be `process.cwd()` and the DLL reference to be `process.cwd()` as well?

[2017-01-11 17:51] leanne1 opened #3909 "Webpack 2 2.2.0-rc.4 throws error in test setup"
I am putting together a project boilerplate using Webpack 2. I set up unit tests using a Karma/Mocha/Phantom stack and got everything working. I nuked my `node_modules` and the tests started throwing an error. I traced the issue to the webpack update from `2.2.0-rc.3` to `2.2.0-rc.4`. Under `2.2.0-rc.3` everything continues to work as expected but the upgrade to `2.2.0-rc.4` throws.

I can see the

[2017-01-11 17:56] tracker1 commented on #3894
Okay, I'm a dumbass...  was missing the source-map-loader from the package.json ... probably one of the last things I'd worked on.

[2017-01-11 18:11] johnnyreilly commented on #3909
I'm getting a similar error - was just about to raise an issue when I noticed this. If you need another repro then check this out: https://github.com/TypeStrong/ts-loader/tree/master/examples/webpack2-gulp-react-flux-babel-karma

[code]

Again works fine with rc3

[2017-01-11 18:22] sokra commented on #3800
yep, they need to be equal if you only have one node_modules folder.

[2017-01-11 18:23] sokra commented on #3800
In your case you could omit the context options, as both configs are in the same directory.

[2017-01-11 18:26] TheLarkInn commented on #3909
Thanks for reporting. This is caused by https://github.com/webpack/karma-webpack/issues/193. We need to patch how karma sets the entry point value which currently it is not. Working on this atm.

[2017-01-11 18:44] jdalton commented on #2506
Patched and merged in #3551.

[2017-01-11 18:48] johnnyreilly commented on #3909
Cool - thanks!

[2017-01-11 18:49] TheLarkInn commented on #2506
Yup thanks @jdalton closing thanks to #3551

[2017-01-11 18:49] #2506 closed

[2017-01-11 19:21] SEAPUNK opened #3917 "2.2.0-rc.4's es6 modules' "module" usage detection seems to be broken"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

External modules (symbol-observable, moment) no longer compile with this release.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Use webpack 2.2.0-rc.4
2. Compile a script that requires moment or symbol-observable (or another module that triggers this problem)

**Wh

[2017-01-11 20:00] leanne1 commented on #3909
Brilliant thanks for your help!

[2017-01-11 20:23] fresheneesz commented on #537
@sokra Could you comment on why you closed this? Has a fix from uglify been pulled in to fix the problem with already-compiled files?

[2017-01-11 20:33] jamez14 opened #3922 "TypeError being thrown, "utf8 is not a function""
**Current behavior**
After updating to webpack v2.2.0-rc.4 from v2.2.0-rc.3, an error is thrown in `/lib/Compiler.js` line 324 that states: `TypeError: utf8 is not a function`. This happens within a Docker environment.

<img width="734" alt="screen shot 2017-01-11 at 3 25 09 pm" src="https://cloud.githubusercontent.com/assets/2854919/21865060/74f06a12-d812-11e6-83e0-97e158f569a7.png">

A commit fr

[2017-01-11 20:36] TheLarkInn commented on #3922
What version of node are you using?

[2017-01-11 20:38] terinjokes commented on #3917
Adding to `symbol-observable`, it looks like `lodash-es` falls into this same bug.

[code]

[2017-01-11 20:38] TheLarkInn commented on #3917
By exporting And importing this is considering it an esm module. Esm has no access to local `module` or `exports` values even if only used as some sort of UMD wrap, which it appears to be here.

[2017-01-11 20:42] jamez14 commented on #3922
@TheLarkInn Sorry, I read [the release notes](https://github.com/webpack/webpack/releases/tag/v2.2.0-rc.4) but didn't draw the comparison. Our Docker server is still running v0.12 of Node. That explains that. Thanks!

[2017-01-11 20:42] #3922 closed

[2017-01-11 20:43] TheLarkInn commented on #3922
No worries at all thanks for reporting!

[2017-01-11 20:46] jdalton commented on #3917
Checking for the existence of a variable should not trigger the warning. It's valid JavaScript regardless of context. If possible, it would be better to detect assigning to the free variables in question:
[code]

[2017-01-11 20:47] TheLarkInn commented on #3917
Was just asking about this. Thanks for the follow-up

[2017-01-11 20:49] jdalton commented on #3917
Ah, that might still catch UMD juggling which is safe. Maybe instead of a hard error treat it as a warning? Or get fancy and only throw the warning if the assigned `exports` or `module.exports` assignments are done outside of an `if` block.

[2017-01-11 20:54] SEAPUNK commented on #3917
I don't think that would catch all the ways this could happen, may it be in a try/catch, or even indirect assignment a-la `exportMethods(module)`, which looks like what symbol-observable is doing.

I think it's better as a warning, instead of a hard error, with the possibility of disabling the warning on certain locations in the config.

[2017-01-11 21:12] RyanHirsch commented on #3922
I'm having this same issue with node v4.3.2
Updating to latest LTS v6.9.4 does not have the issue

[2017-01-11 21:12] TheLarkInn commented on #3917
@jdalton @SEAPUNK Is the vast majority of this UMD handling or interop checks you are guessing?

[2017-01-11 21:14] SEAPUNK commented on #3917
I think it is. Moment's code where the error appears looks slightly different, but I'd bet that it's the case for it too.

[2017-01-11 21:14] TheLarkInn commented on #3922
Yup our minimum version supported will be node 4.7. We have it set in the package.json currently and once we publish final release we will also update badge etc. Would be open to PR's to have CLI runtime checks for node version and throw if less than the min version we have set on the "engines" property.

[2017-01-11 21:20] jdalton commented on #3917
For the falsely flagged cases yes. For common UMD patterns see the [umdjs repo](https://github.com/umdjs/umd/tree/master/templates)

[2017-01-11 21:22] jdalton commented on #3917
You may find most UMD cases check for the existence of the free variables before use so tripping a `typeof` check. While non-UMD cases just assign at will without existence checks.

[2017-01-11 21:23] TheLarkInn commented on #3917
🤔 We do have support based on the `module` and `main` field. I'm not saying we shouldn't fix this, but I feel like working together with lib authors to publish according to @defunctzombie 's https://github.com/defunctzombie/package-browser-field-spec

webpack's module resolution pattern respects this resolution spec. Just as workaround?

[2017-01-11 21:24] TheLarkInn commented on #3917
I think thats a good start.

[2017-01-11 21:28] ianks commented on #3800
I have tried this configuration, and unfortunately the issue still persists.

[2017-01-11 21:34] dkrutsko commented on #3917
It looks like it's also breaking on `module.hot`. Is this normal? are we suppost to use something else now?

[code]

[2017-01-11 21:37] jdalton commented on #3917
In that case I think the warning, (so instead of a straight error a warning), should be triggered since you're assuming the existence of `module`, so not checking it exists before using it.

[2017-01-11 21:42] dkrutsko commented on #3917
@jdalton: You're right. Although shouldn't there be a different way of implementing HMR now? Like through importing the `module.hot` function. Similar to how react-hot-loader does it with `AppContainer`?

[2017-01-11 22:28] TheLarkInn commented on #3917
@SEAPUNK Thank you for submitting your first issue btw!!! 🙇

[2017-01-11 22:31] SEAPUNK commented on #3917
Haha, no problem. I've been using Webpack for a while; it's a great project! Someday I hope to contribute to it.

[2017-01-11 22:40] TheLarkInn commented on #3917
Never too late to start :-D :-D

The suspect plugin here is: **CommonJSInHarmonyDependencyParserPlugin.js**

![screen shot 2017-01-11 at 4 39 13 pm](https://cloud.githubusercontent.com/assets/3408176/21869290/9456ab64-d81c-11e6-8fe3-45d583b79964.png)

I believe either in the individual DependencyBlocks or here, we need to conditionally hook into only certain types of ast aware logic. Like "Was thi

[2017-01-11 23:24] Kovensky commented on #3917
It looks like it needs `"typeof module"` and `"typeof exports"` plugins to replace them with the constant `"undefined"`. I am not sure, but I _think_ webpack should then detect the rest of the expression is unreachable and not parse it.

[2017-01-11 23:32] Kovensky commented on #3917
@dkrutsko the `module.hot` expression, specifically, is supposed to work.

One thing that won't work is, say, passing the `module` object to a function that then checks for the `hot` property. Would need to use something like `{ get hot () { return module.hot } }` in that case.

[2017-01-12 00:09] griffinmichl commented on #3917
redux and redux-form both use lodash-es, which means they produce this same bug

[2017-01-12 00:12] jdalton commented on #3917
That's a maybe. redux uses the `isPlainObject` module of Lodash which may or may not access the `freeModule` code path.

[2017-01-12 00:13] griffinmichl commented on #3917
One or the other is broken by this issue. They're the only libraries using lodash-es in my failing build.

[2017-01-12 02:45] Holi0317 opened #3925 "Parser fail when yield-ing an import() statement"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Webpack parser will fail when it parse `yeild import('module')`.

**If the current behavior is a bug, please provide the steps to reproduce.**
Using `node_modules/.bin/webpack --entry='./generator' --output-filename='out.js'` for generating output. lodash is already installed.

Consider the fo

[2017-01-12 07:18] sokra commented on #3917
UMD handling in an ES2015 module doesn't make sense. If you have `import`/`export` in a file, it's not parse-able in any other module style.

So having an UMD handling in a ES2015 module is just wrong.

The error only occurs if you are using `module` as free var. If you declare it it should be fine.

[2017-01-12 07:26] sokra commented on #3917
yes we could change webpack behavior to be less strict here. But doesn't it make sense to point out these "wrong" usage of UMD?

[2017-01-12 07:31] jdalton commented on #3917
Projects have various builds and environment checks can shake out of that (if UMD is a hangup think of it as generic environment checks).

[2017-01-12 08:27] QuentinRoy commented on #3560
Just to clarify, it is now impossible to build a UMD library that can be directly required with commonjs (`var foo = require('mylib')`, which should also make `import foo from 'mylib'` possible with webpack) and set to the right browser global value (e.g. `MyLib` as specified) except if one is ready to forget about tree shaking and es6, is it?
I do not want to complain the above looks exactly as o

[2017-01-12 08:52] tessact commented on #1831
Is it the same case with import fetch from 'isomorphic-fetch'
Do I have to just include : import 'isomorphic-fetch' instead

[2017-01-12 08:53] 89alex commented on #606
good，i study now

[2017-01-12 08:55] boringer commented on #3560
@QuentinRoy
I've realized something wrong with my understanding, so I closed this issue. I want to delete it but there's no way to.

Thanks a lot to everyone, sorry for wasting your time.

[2017-01-12 09:02] QuentinRoy commented on #3560
@boringer No there is something very inconvenient in the way webpack is currently dealing with UMD bundling which, IMHO, makes it mostly useless.
The main reason is that webpack "dumbly" wraps whatever is exported when you use UMD target (except for the odd global loop thing @sokra was talking about earlier, I am not too sure why there is an exception here).
If you use ES6 (the only way to leverag

[2017-01-12 09:29] yeyu456 commented on #2824
I met same problem using Typescript 2.1.4 with webpack 1.13.2, 1.14.0 and the latest version 2.2.0-rc.4.
And i have to insert //@ sourceURL= before first line.
Maybe insert sourceURL can help before the bug fixed. @cdchambers

[2017-01-12 09:45] johnnyreilly commented on #3909
Testing with `karma-webpack` v2.0.1 (shipped last night) the issue appears resolved on my own machine.

@leanne1 - same for you?

[2017-01-12 09:47] halt-hammerzeit opened #3928 "[Safari] Unexpected keyword 'const'. Const declarations are not supported in strict mode."
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

In Safari 9 it outputs the error

**Please mention other relevant information such as the browser version, Node.js version, Operating System and programming language.**

This is the line at which the error is thrown:

[code]

Is it ok for Webpack to use `const` in the output files?
I'm using `["es201

[2017-01-12 09:49] halt-hammerzeit commented on #3928
The relevant compiled file (an `npm` dependency package) is:

[code]

[2017-01-12 09:51] halt-hammerzeit commented on #3928
Ok, I get it now: this `index.es6.js` file isn't transpiled with Babel, and so the library author should just add `'use strict'` at the top.
Webpack 2 only handles `import`s, it doesn't do any transpilation.

[2017-01-12 09:51] #3928 closed

[2017-01-12 10:04] QuentinRoy opened #3929 "Ability to export only module's default when building a library"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
Currently, library always exports the module itself when using es2015+ (there is an exception when library is `undefined` for global export, but it does not help much).
For example:

*lib/mylib.js*
[code]

*webpack.config.js*
[code]

When importing  using commonjs a consumer will actually get the

[2017-01-12 10:05] halt-hammerzeit opened #3930 "[2.2.0-rc.4] utf8 is not a function"
This is a bug in Node.js `4.0.0` (during a Travis CI build).
Introduced by @TheLarkInn
https://github.com/webpack/webpack/commit/7327ee608a040ec784cc251663be85c2aedac44c#diff-7a14ca420cc4fa7cf55f788246117e7cL324
Don't you have a CI test for Node.js `4.0.0`? Or doesn't Webpack support it now?

[2017-01-12 10:09] leanne1 commented on #3909
@johnnyreilly @TheLarkInn Yes - now running `webpack v2.2.0-rc.4` and `karma-webpack v2.0.1` and everything runs fine, with no `entry` key required in the `webpack` config of `karma.conf.js`. All fixed - thanks again for your help!

[2017-01-12 10:20] egoroof commented on #3560
@QuentinRoy yeah, I was exporting commonjs and importing ES6 modules, and now since rc4 I switched to import commonjs, because what you say about how libraries should work is true.

[2017-01-12 10:28] egoroof commented on #3930
update to 4.5+ should help and you won't have any breaking changes in nodejs

[2017-01-12 10:30] halt-hammerzeit commented on #3930
Ah, ok, I see:

[code]

Well, ok, Webpack supports `4.7` then

[2017-01-12 10:30] #3930 closed

[2017-01-12 10:36] Corey600 commented on #959
@TheLarkInn which version will fix this problem ?

[2017-01-12 11:33] xwenliang opened #3931 "Increase or decrease entry causes hash changed"
I have five entries, part of my webpack.config.js:
[code]
run the project, then i get a manifest from `common` like this:
[code]
and i also get five files:
[code]
Notice that "0"->page1 "1"->page3 "2"->page2 "3"->page4

part of `page2_432fa67e7e.js`
[code]
then i delete page1 from entry, and run the project again, like this:
[code]
part of new common:
[code]

part of `page2_af23ae09d9.js`
[code]

[2017-01-12 12:04] Cuel commented on #3530
I'm also interested in this. Had this weird idea that this would work:

[code]

But __TEST__ is always undefined

[2017-01-12 12:22] shults commented on #304
[code]

[code]

[2017-01-12 12:23] graingert commented on #304
@shults just use sinon@next

[2017-01-12 12:39] Kitanotori opened #3932 "Code splitting and caching documentation needs improvement"
I've been now trying the past few days to figure out "the correct approach" for splitting my app into meaningful minified bundles, and have come to the conclusion that the documentation is either out-of-date or insufficient. I of course understand that development has higher priority than documentation, but I think code splitting is one of the great core features of Webpack, and deserves documenta

[2017-01-12 13:18] Cuel commented on #3530
config
[code]
class MyPlugin {
    apply(compiler) {
        compiler.apply(new webpack.DefinePlugin({
            // values
        }));
    }
}
[code]

[2017-01-12 13:24] samjbmason opened #3935 "loaderUtils.parseQuery(loader.query) doesnt contains config options with Postcss-loader"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Build is failing with `postcss-loader` error message is `Module build failed: Error: No PostCSS Config found in:...`

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
As config is being passed in as options I expect it should find i

[2017-01-12 13:30] michael-ciniawsky opened #3936 "rules.use.options doesn't support functions"
webpack@2.2.0-rc.4

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

**webpack.config.js**
[code]

**postcss-loader/index.js**

console.log( utils.parseQuery( this.query ) )

  => `{} || { key: null }`

**If the current behavior is a bug, please provide the steps to reproduce.**

**webpack.config.js**
[code]

  => `{} || {/* missing parser: '' */,

[2017-01-12 13:35] michael-ciniawsky commented on #3935
Related to #3936

[2017-01-12 14:38] blade254353074 commented on #3631
@sokra Is that a bug caused by  extract-text-plugin?

[2017-01-12 14:47] ssijak commented on #2771
Still have this problem.

[2017-01-12 15:48] TheLarkInn commented on #3917
So I'm torn. There are Pros and Cons to this. By keeping the constraint we could have more consistent and standardized way of splitting up esm and cjs code with https://github.com/defunctzombie/package-browser-field-spec

The con is that this is allowed in JS but it comes at the cost of lib authors (which of course we'd want to help them change this). It's valid js like @jdalton said but dose incr

[2017-01-12 16:15] jdalton commented on #3917
FWIW `lodash-es` does [work](https://jsbin.com/cazurag/) the latest [Safari Technical Preview](https://developer.apple.com/safari/technology-preview/) which supports `type=module`.
[code]

[2017-01-12 16:18] TheLarkInn commented on #3917
Exactly.

[2017-01-12 16:22] mattkime commented on #3242
i'm seeing this problem as well. i'll dig around when i have a moment

[2017-01-12 16:24] danscrima commented on #1256
Any update oh this?? I've been trying to use resolve.alias to find scoped packages during a webpack compile but it can never find them. Any updates would be great. Thanks.

[2017-01-12 16:42] d3viant0ne commented on #3909
@TheLarkInn / @bebraw - This issues has been addressed in `karma-webpack v2.0.1` and can probably be closed.

[2017-01-12 17:19] johnnyreilly commented on #3909
Agreed

[2017-01-12 17:24] #3909 closed

[2017-01-12 19:05] zackify commented on #3873
Yep, just ran into this myself :)

[2017-01-12 19:20] danscrima opened #3939 "scoped packages not being found by webpack"
I'm reporting what I think is a bug around webpack not finding scoped packages.

Current Behavior:
My company has a private npm repo with a scoped package, which is then in the dependencies block of our package.json file:
[code]
For this particular webpack config, we're using the DllPlugin, but we see similar results across other webpack configs we have. When we run the build we end up getting thi

[2017-01-12 20:48] TheLarkInn commented on #3936
@michael-ciniawsky Would you be able to make a repo which reproduces this so we can test against?

[2017-01-12 21:25] sokra commented on #3931
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2017-01-12 21:25] #3931 closed

[2017-01-12 23:43] Kovensky commented on #3917
@jdalton the way lodash-es detects exports (i.e. by using `typeof`) _is_ supposed to work in webpack 2 (well, it doesn't work because of a bug where it didn't specify typeof' result), but _actually accessing_ it should be a `ReferenceError`.

[2017-01-12 23:55] jdalton commented on #3917
@Kovensky are you thinking out loud?

[2017-01-13 02:01] xwenliang opened #3941 "Increase or decrease entry causes hash changed"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Increase or decrease entry causes hash of other unrelated output file changed.

**If the current behavior is a bug, please provide the steps to reproduce.**

I have five entries, part of my webpack.config.js:
[code]
run the project, then i get a manifest from `common` like this:
[code]
and i also get f

[2017-01-13 03:37] TheLarkInn commented on #3930
Am open to PRs for node validation if you'd like

[2017-01-13 06:37] bebraw commented on #3932
Could you re-open at the [docs repo](https://github.com/webpack/webpack.js.org/issues)? Thanks.

[2017-01-13 07:08] bebraw commented on #593
Is this relevant still?

[2017-01-13 07:11] pacanionio commented on #883
+1

[2017-01-13 07:12] sokra commented on #3941
Looks like you are not using `records`. `records` ensure that hash stay the same.

[2017-01-13 07:12] #3941 closed

[2017-01-13 07:12] TrySound opened #3944 "Buffer.from in source map plugin doesn't work in node4"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
[code]

this breaks my deploy

**If the current behavior is a bug, please provide the steps to reproduce.**

`devtool: '#inline-source-map'` in node4?

**If this is a feature request, what is motivation or use case for changing the behavior?**

In this commit `Buffer.from` is used, but it was introduc

[2017-01-13 07:13] sokra commented on #3935
see https://webpack.js.org/guides/migrating/#complex-options

[2017-01-13 07:16] sokra commented on #3944
@TheLarkInn Could you fix it?

[2017-01-13 07:19] sokra commented on #3925
Looks like a bug in the acorn plugins. @kesne

[2017-01-13 07:30] phyllisstein commented on #3917
For reasons I don't quite understand, this error is being triggered for me by files that use the `export * from 'foo';` syntax. For example, I have a module whose `index.js` looks like this:

[code]

...and `fields.js`, which has a number of named exports:

[code]

Webpack 2.2.0-rc.3 emits the following...

[code]

...but Webpack 2.2.0-rc.4 aborts with the error that's already been described. I'm

[2017-01-13 07:32] kesne commented on #3925
Yeah looks like an issue with this: https://github.com/kesne/acorn-dynamic-import

I'll take a look in the morning, and also make sure that babel works as expected with yield statements too.

[2017-01-13 07:46] mikecao opened #3945 "Error about module.exports when not using ES import/export"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Getting errors about `module.exports` not being allowed, yet my code does not use any import/export syntax. Here is an example file:

[code]
And this is the error:
[code]
I am using Babel so the transpiled code looks like this:
[code]

**If the current behavior is a bug, please provide the steps to r

[2017-01-13 08:16] halt-hammerzeit commented on #3930
@TheLarkInn No, if it says `4.7` then `4.7` that is.
"node validation" is not a "PR".
In a sane CI system it's simply adding a string.
You might want to learn about Travis CI:
https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Choosing-Node-versions-to-test-against

[2017-01-13 09:09] xwenliang commented on #3941
It works, thanks!

[2017-01-13 09:24] ilanc commented on #1736
@Kay2dan I noticed that you don't have an `output.path`. Try adding `output : { path: 'app/', }`. NOTE not `/app/`.

I'm getting weird inconsistencies with webpack like you've described - i.e. no errors but no output and I'm not using `devtool : 'source-map'`. In my case it seems to work sometimes with output.path = /app/, and sometimes it doesn't produce output. But with output.path = app/ it see

[2017-01-13 09:40] littlelake commented on #382
ty!

[2017-01-13 10:04] sanex3339 opened #3946 "webpack@2.2.0-rc.4: maxModules option not working"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`stats.modules: false` and `stats.maxModules: 0` doesn't work.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js
https://github.com/javascript-obfuscator/javascript-obfuscator/blob/master/webpack.config.js

**What is the expected behavior?**

`stats.mod

[2017-01-13 10:37] egoroof commented on #3944
but it was backported in 4.5.0 so update Nodejs to 4.5+

[2017-01-13 10:41] Bolza opened #3947 "webpack@2.2.0-rc.4 alias not working with Angular2 components"
I'm using webpack@2.2.0-rc.4 to serve NG2 project. Linking my modules only works  using relative paths. The absolute paths are not working.

This is how the resolve is configured

     config.resolve = {
            modules: [path.resolve(__dirname, "src"), 'node_modules'],
            extensions: ['.ts', '.js', '.json', '.css', '.scss', '.html'],
        };

this is how i link the files

    impo

[2017-01-13 13:25] mhheise commented on #3947
I gather your folder structure resembles this:

[code]
I take it you are trying to import from your `src/app/components/child.component.ts` file into your `src/app/app.module.ts` file?

In that case, you should specify the relative path for your import in your `app.module.ts` file like this:
[code]
Otherwise, you are hinting to `webpack` that the file can be found at what would be an absolute path

[2017-01-13 13:39] TheLarkInn commented on #3944
Yup can fix

[2017-01-13 13:39] TheLarkInn commented on #3944
But first is this being reported in node 4.7?

[2017-01-13 14:43] TheLarkInn commented on #3944
I'm think maybe we should have cli command that asserts on minimum version of webpack.

[2017-01-13 14:55] TheLarkInn commented on #3930
We test against those versions. What I am trying to say is having a friendly warning to prevent folks from having to submit an issue without realizing the minimum version of node required to run the library.

[2017-01-13 15:00] halt-hammerzeit commented on #3930
Oh, I see.
Yeah, maybe something like this could be used:
http://stackoverflow.com/a/41620850/970769
Not willing to do that myself though.
Maybe someone else from Google will try.

[2017-01-13 15:09] sokra commented on #3947
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Provide information about your

[2017-01-13 15:09] #3947 closed

[2017-01-13 15:11] sokra commented on #3945
Looks like Babel emits ES2015 module imports.

[2017-01-13 15:16] TheLarkInn commented on #3945
@hzoo can you confirm?

[2017-01-13 15:17] TheLarkInn commented on #3945
Thank you so much @mikecao for reporting your first webpack issue.

[2017-01-13 15:19] sokra commented on #3945
related to the babel-runtime transform.

https://babeljs.io/docs/plugins/transform-runtime/

[2017-01-13 15:23] sokra commented on #3946
If you want to hide the modules try `stats.modules: false`. I investigate why maxModules: 0 isn't working.

It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please

[2017-01-13 15:26] sanex3339 commented on #3946
`stats.modules: false` doesn't work

![image](https://cloud.githubusercontent.com/assets/9210534/21935209/bdcb3da0-d9bd-11e6-84bb-4470d0205925.png)

[2017-01-13 15:34] sanex3339 opened #3949 "webpack@2.2.0-rc.4: `stats.maxModules: 0` and `stats.modules: false` options are doesn't work"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`stats.modules: false` and `stats.maxModules: 0` doesn't work.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js
https://github.com/javascript-obfuscator/javascript-obfuscator/blob/dev/webpack.config.js

package.json
https://github.com/javascript-obfusc

[2017-01-13 15:56] danscrima commented on #3939
This ended up being an issue where the error message just wasn't clear enough and took some digging. The module couldn't be loaded because it was a package that had no index.js file and was purely scss/css, so webpack couldn't successfully load it. A message like "this package is missing a main file so it cannot be loaded" or something similar would have definitely helped here, but I'm also new to

[2017-01-13 15:56] #3939 closed

[2017-01-13 16:27] Vanuan commented on #740
Chrome version: 57
Webpack version: 2.2.0-rc.2

cheap-module-source-map: Chrome shows "sourcemap detected", but doesn't actually shows files.
eval-source-map: Chrome doesn't show "sourcemap detected"
source-map: Chrome shows "sourcemap detected", but doesn't actually shows files.

How is it supposed to work?

[2017-01-13 17:08] edwardaa opened #3950 "Promise.all creates multiple chunks"
**What is the current behavior?**

I'm using webpack 2.2.0-rc.4,  following code creates two separate chunks.
[code]
**What is the expected behavior?**

Only create one chunk like what `require.ensure(['./routes/Home', './routes/Home/reducers'])` does.

How to achieve that using `import`?

[2017-01-13 17:36] mikecao commented on #3917
@phyllisstein I'm getting the same error (#3945) but for the opposite reason, I'm not using any import/export syntax. We're both using Babel so the issue could be a false positive somewhere in the babel code.

[2017-01-13 18:26] kesne commented on #3925
This is also happening in the babel parser.

[2017-01-13 18:38] todd-richmond commented on #3917
recent react-redux 5.0.2 update from 5.0.1 causes this exact lodash-es error to happen for me and the only fix was to hard-code the previous version. The new version included a large set of dependency updates so not sure which initiates the problem

[2017-01-13 19:32] niieani commented on #3917
We have another use case in Aurelia. We have a module which can be bundled/run by Webpack, RequireJS, SystemJS or NodeJS and it "detects" which one it is. Webpack seems to trip up during the Node detection:

[code]

It returns the same error. We should have a way to disable this warning when used purposefully.

[2017-01-13 21:24] TheLarkInn commented on #3917
We are working on that as we speak!! Thank you for all the reports!

[2017-01-13 21:26] SEAPUNK commented on #3917
What's the plan of action?

[2017-01-13 22:04] TheLarkInn commented on #3917
My thoughts are:

We will still warn for assignment on global usages of module and exports inside harmony detected modules, however will not warn of `typeof` and other valid cases of JavaScript. (Ie: new declaration, etc.).

For most cases treating `typeof module` inside of a harmony detected module could also be transformed like with DefinePlugin to `undefined` This would cut out or drop BinarySt

[2017-01-13 22:12] SEAPUNK commented on #3917
Warn as in a compliation error, or a plain warning?

[2017-01-13 22:16] TheLarkInn commented on #3917
Error, sorry we call them warns in their classes but an actual invalid use of cjs exports inside of harmony modules will and should fail.

[2017-01-13 22:22] SEAPUNK commented on #3917
That's what I was concerned about -- I feel that even if doing those typeof checks and such will help not trigger most cases, but I'm almost sure that there will always be another weird 'edge case' that trips this problem.

For instance, consider this code:

[code]

So rather than causing a compilation error, can't it just be a compilation warning? Even if it *could* cause problems at runtime, it'

[2017-01-13 22:44] farism commented on #3463
I'm currently trying to switch a project over to a monolith using lerna. The issue I'm running into is that `npm dedupe` is meant to work with a very specific structure with top level node_modules. With the following structure I think having the dedupe in webpack makes more sense:

[code]

`some_dep_v1` is being included in bundle twice. `npm dedupe` will not solve this issue. Furthermore, the dee

[2017-01-13 22:58] Bnaya commented on #536
That would be extremely powerful if one day you will be able to give webpack index.html as entry, or even app manifest.json, declare the target platform(s), output directory, and he will do all the rest with sane defaults.
My feelings are that the day is getting closer :)

[2017-01-13 23:31] earksiinni commented on #2631
I'm having a related problem. I have a module that looks like this (note, I'm using Babel's `transform-class-properties` plugin, hence the class properties syntax):

[code]

Then I shim the module using `ProvidePlugin` like so:

[code]

Then when I call `app.state`, I get an object that has a property called `default` that has all of the properties like `firstName`, `lastName`, etc. But that's wro

[2017-01-13 23:56] TheLarkInn commented on #2797
I know this is already a long standing thread but I think we should address discussions had here as part of our Usability overhaul.

### require env as a parameter
https://twitter.com/dan_abramov/status/820045292032688133

I think there are pros and cons to this but it's valid to an extent.

[2017-01-14 01:05] resistdesign commented on #536
@bnaya That is the goal of this CLI http://rdx.resist.design

[2017-01-14 01:36] TheLarkInn commented on #3950
Best advice would be to create a module which imports them both, and then import that file. That way they can be imported together from one file in one chunk.

[2017-01-14 02:34] MirkoJotic commented on #883
+1

[2017-01-14 02:42] michael-ciniawsky commented on #3936
@TheLarkInn Yep of course 😛

[2017-01-14 07:01] timse commented on #3944
I could do that :)

[2017-01-14 09:37] onnozel opened #3951 "webpack@2.2.0-rc.4: Build fails on node < 6"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Node throws an error when webpack runs.

[Error log](https://gist.github.com/onnozel/db6a5bae5960cac1c2c09a5c6a1f4577)

**If the current behavior is a bug, please provide the steps to reproduce.**

[package.json](https://gist.github.com/onnozel/2bf5ba5f7142278d62e6bb632d67b1e5)

[webpack.config.js](ht

[2017-01-14 10:41] arturparkhisenko commented on #3081
@pksjce how it's going? tried to make another PR, but got [this](https://github.com/webpack/webpack/issues/3081#issuecomment-251356860) issue too. If you're busy, pls explain a little bit about it, I could make that PR for you.

[2017-01-14 11:09] niieani commented on #3917
@TheLarkInn if Webpack only ignores the `typeof module` construct, will the following code behave properly?:

[code]

Above, we are explicitly checking that both `typeof module` and `typeof module.require` are defined (i.e. this module is being run under NodeJS or Electron), and only then using `module.require` to load a module. Webpack should allow for usages of module as long as they are wrapped

[2017-01-14 11:09] timse commented on #3951
I would guess that is primarily a Node problem.

`Buffer.from` was introduced in v5.10 (see: https://nodejs.org/api/buffer.html#buffer_class_method_buffer_from_string_encoding) and apparently backported to 4.5 (see: https://github.com/webpack/webpack/issues/3944)

[2017-01-14 11:36] pksjce commented on #3081
Oh! I have forgotten about this issue. Let me check with latest webpack how it goes. There has been a bunch of changes in webpack regarding testing. I havent caught up with that yet.

[2017-01-14 11:51] TitanNano commented on #3804
@sokra but can you give us any hint why webpack is not adding the jsonp function to the first chunk?