[2018-04-25 17:51] Maximaximum opened #7123 "Documentation should be explicit about the default configs for development and production modes"
**Do you want to request a *feature* or report a *bug*?**
*documentation*

**What is the current behavior?**
I've spent quite some time trying to figure out what is the exact configuration that is used when `mode` is set to `production`, but haven't found a clear answer yet.

I need to tweak a single config option (`collapse_vars`) for the `UglifyJsPlugin` and, as far as I see, there is no way to

[2018-04-25 17:53] Maximaximum commented on #7123
Just in case someone is interested, why do I need to set `collapse_vars` to false, is because of this bug: https://github.com/mishoo/UglifyJS2/issues/3096 which has been fixed but not yet released.

[2018-04-25 19:35] frank3stein commented on #1746
I had the same issue. Try replacing __dirname with path.resolve(__dirname) .

I had my output
[code]
changed it to
[code]

Now it creates the file.

[2018-04-25 20:46] kzc commented on #7123
The webpack config is not exactly obvious...

https://github.com/webpack/webpack/issues/6567#issuecomment-368500509

and that example did not detect production mode correctly. You need to do this:

https://github.com/webpack/webpack/issues/6460#issuecomment-364286147

[2018-04-25 21:40] montogeek commented on #7123
It is in the docs https://webpack.js.org/concepts/mode/#usage

[2018-04-25 21:40] montogeek commented on #7123
Also, report documentation issue to https://github.com/webpack/webpack.js.org

[2018-04-25 21:41] #3042 closed

[2018-04-26 00:30] simonbuchan commented on #5548
webpack upgraded `acorn-dynamic-import` to 3.0.0, which depends on acorn@^5.0.0 in 5a1ffb53dc181fe8b7745e35b7777c4bd55a77d9, included in webpack 4.0.0-alpha.5, so it looks like that's a yarn bug.
If you nuked both `node_modules` and `yarn.lock` and it's still happening, I dunno.

[2018-04-26 00:48] simonbuchan commented on #5548
Hmm, though webpack has had an acorn@^5.0.0 dep since 2.4.0, so it's probably just that you're still on webpack 3. Just tested and yarn 1.6.0 correctly updated the transitive acorn going from webpack 3 to 4.
You'll also want to update jest, or you'll just get the same error when running it.

[2018-04-26 01:34] jugglinmike commented on #5782
@sokra This bug has a pull request, it's just blocked on a confusing linting error. Can you please offer some guidance there?

[2018-04-26 03:26] dtothefp commented on #6693
This strangely just started occurring for me.

webpack v4.6.0
webpack-dev-server v3.1.3
react-hot-loader v4.0.1

Everything works fine until I reload the current page and then I get the `Uncaught ReferenceError: webpackHotUpdate is not defined` error. Adding `multi-step` seems to work but messes up things like progress bars and seems to slow down my build after multiple saves.

[2018-04-26 03:44] foisonocean commented on #6812
Any update?

[2018-04-26 04:46] PerspectivesLab opened #7124 "cant compile examples"
hi there, impossible to compile the examples:
after : npm install
then : npm run build:examples

its hangs forever on cd aggressive-merging && node build.js

and no tutorial, or any information on wiki or website....

[2018-04-26 06:00] depoulo commented on #5433
@sshmyg I guess your fork is the multiplex loader? Ho do you demultiplex back before ExtractTextPlugin?

[2018-04-26 06:25] sshmyg commented on #5433
@depoulo I no need this. Just create files.

[2018-04-26 06:39] depoulo commented on #5433
@sshmyg same here - I just want multiple differently themed css files. Would you mond shedding some light?

[2018-04-26 06:56] sshmyg commented on #5433
@depoulo Run webpack build for each theme.

[2018-04-26 07:00] depoulo commented on #5433
@sshmyg that's what I'm currently doing 😓. No need for any extra plugin then of course.

[2018-04-26 07:01] xhite commented on #6812
I wonder if it's rather related to webpack-dev-server. I switched to webpack-serve. No issues now

[2018-04-26 07:34] lichliu opened #7125 "sourcemap don't show full path when use cheap-module-source-map"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When i use 'source-map',the map file can show the full path, like "webpack:///./src_fe/page/index/App.vue",but when i use 'cheap-module-source-map', it only show "webpack:///App.vue", so if I have two files named App.vue, only one could match exactly.
**If the current behavior is a bug, please provide

[2018-04-26 07:53] ooflorent commented on #7122
I like what's proposed here except:

Coming from Flow, I must admit I prefer the `Array` syntax because it matches `Map`, `Set` and other generic classes and it is less ambiguous. Brackets should be preferred to type tuples: `[number, string]`.

---

A few things that needs to be decided:

### Descriptions

Do functions/methods/whatever always require a description?
If so, how do we write it?

1.

[2018-04-26 08:10] Maximaximum commented on #7123
No, it is not - that's why I've created this issue. See:

On https://webpack.js.org/concepts/mode/#usage page I don't see, for example, the config object being passed to `UglifyJsPlugin` constructor

[2018-04-26 08:11] sokra commented on #7086
Ok here is some early results: when using `removeAvailableModules: false`, `splitChunks` becomes very slow in some cases.

[2018-04-26 08:13] Maximaximum commented on #7123
@kzc well, the documentation lacks clear information about the `optimization.minimizer` option as well - that's why I was unable to find it :disappointed:

[2018-04-26 08:14] Maximaximum commented on #7123
@montogeek copied this issue to https://github.com/webpack/webpack.js.org/issues/2080

[2018-04-26 08:15] sokra commented on #7124
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-04-26 08:15] #7124 closed

[2018-04-26 08:42] montogeek commented on #7123
We can't duplicate documentation everywhere, UglifyJsPlugin options are on its respective page: https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

[2018-04-26 08:42] #7123 closed

[2018-04-26 08:43] montogeek commented on #7123
Duplicate of https://github.com/webpack/webpack.js.org/issues/2080

[2018-04-26 08:52] lohfu opened #7126 "Importing from local file resolves differently from importing from another NPM module"
**Do you want to request a *feature* or report a *bug*?**

Bug.

I've only reproduced it using NPM modules i have created myself, so there is a risk that I have set them up in a way that is not intended to work with webpack 4. It's all explained below.

**What is the current behavior?**

Importing an NPM module in a local file resolves differently from importing the same module from another NPM mo

[2018-04-26 08:59] Hanterdro opened #7127 "Feature Request: better support for native Web Components CSS"
Hey,

Webpack 5 will include the extract CSS plugin. This are great news.
It would be a great when importing a css file we would have an option that the CSS file would be but not added automatically to the document. Instead of that we would get back the PATH of the file.

Example:

[code]

[code]

For Web Components I need the CSS inside the shadow DOM of the Web Component. If I get the URL I coul

[2018-04-26 09:50] MrSantaCloud commented on #7112
🎉 🍻   **SOLVED ✔️ ** 🍻  🎉

Changed this:
` { test: /\.ts$/, include: /ClientApp/, use: isDevBuild ? ['awesome-typescript-loader?silent=true', 'angular2-template-loader', 'angular2-router-loader'] : '@ngtools/webpack' },`

In this:
` { test: /\.ts$/, include: /ClientApp/, use: ['awesome-typescript-loader?silent=true', 'angular2-template-loader', 'angular2-router-loader'] },`

So I've actually:
✔️ ▶

[2018-04-26 09:52] montogeek commented on #7112
Congrats!

[2018-04-26 09:54] Maximaximum commented on #7123
@montogeek well, I can't find any mentions of `optimization.minimizer` option on https://webpack.js.org/plugins/uglifyjs-webpack-plugin/ page anyway

[2018-04-26 09:56] montogeek commented on #7123
@Maximaximum It shouldn't be there, it is a different option, you can use any plugin as `minimizer` option, I don't know if there is more 🤔

[2018-04-26 09:57] montogeek commented on #7123
@Maximaximum I just merged https://github.com/webpack/webpack.js.org/pull/2053, it is already live https://webpack.js.org/configuration/optimization/

[2018-04-26 10:02] Maximaximum commented on #7123
@montogeek Yeah, thanks a lot! :smiley:  Now it's clear about `optimization.minimizer`.

It would be great to resolve https://github.com/webpack/webpack.js.org/issues/2080 as well. :smiley:

[2018-04-26 10:04] tdd commented on #7084
Can confirm, FWIW

[2018-04-26 10:07] tdd commented on #7084
From what I see, switching to `webpackPreload: true` (for now; said code will end up in a non-entry chunk) doesn't help, either. No relevant `link` element is injected in the DOM.

[2018-04-26 10:30] lorenzodallavecchia opened #7128 "Duplicate files in developer tools when using eval source maps"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

When using any `devtool` strategy that uses `eval`, such as `cheap-module-eval-source-map`, the browser developer tools show _two_ sets of files with quasi-identical names. The first set under the `webpack://` origin contains original sources. The second set under `webpack-internal://` origin contai

[2018-04-26 11:17] kannancet commented on #3027
Spend several hours on this. Realised that there was a service open on `8080` port and `npm run start-hot-dev` didn't throw any errors, but silenced and showed compile was successful. I killed the service and it worked!

[2018-04-26 11:48] moitias commented on #7082
as @badpunman points out above, there seems to be no way to require() files with .json extension that are not valid JSON in webpack - even with raw-loader! or forcing the loader in config to be raw does not help, although it fails in a different place;

[code]

The only workaround I've discovered so far is using another extension than .json. This might be a separate issue, though?

[2018-04-26 12:26] akki-jat commented on #1459
Hi, Let me know if anyone found the way to disable chunk loading.
I am also looking for this.

[2018-04-26 13:05] mbonaci commented on #5491
@devssh so you get sourcemaps even with `devtool: "source-map"`, or what?
Can you post your webpack config?

[2018-04-26 15:03] otroboe commented on #6917
I can confirm, somehow maybe it's related.
Watching my files was not working anymore, since update to `webpack-cli 2.0.15`

I did that:
[code]
And it's working again.

[2018-04-26 15:41] dtothefp commented on #6649
`new webpack.HotModuleReplacementPlugin({multiStep: true})` although this potentially introduces new problems

https://github.com/webpack/webpack/issues/6693

[2018-04-26 15:51] AngeIII commented on #7108
this helped me in codemirror I think same will be there - https://github.com/graphql/graphiql/issues/665#issuecomment-381919771

[2018-04-26 16:55] pleunv commented on #6767
I'm having a similar experience. Just went through an upgrade from 3 to 4, and went from a custom config to an ejected CRA config.

- The project consists of ~3800 modules.
- With 3 our incremental rebuilds were between 3-4 seconds, consistently.

After upgrading and using the CRA config I ended up with rebuilds between 8-12 seconds. Panic mode set in, started disabling all I could disable, and tr

[2018-04-26 16:56] buoyantair commented on #5542
@TheLarkInn ^

[2018-04-26 17:00] evilebottnawi commented on #5542
Let's close this issue, if somebody face this issue feel free create new issue. Thanks!

[2018-04-26 17:00] #5542 closed

[2018-04-26 18:42] pristas-peter commented on #6586
If someone needs different solution, just rename the .json to another extension and it will work.

[2018-04-26 20:04] mstarets opened #7130 "Feature request: support "lazy" webpackMode (async) for the AMD require calls"
**Do you want to request a *feature* or report a *bug*?** feature

**What is the current behavior?**
Dynamic imports allow lazy and lazy-once bundling behavior, while the dynamic (AMD) require only seem to support lazy-once.
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use cas

[2018-04-26 20:58] jlchereau commented on #6701
@bf, somehow https://github.com/webpack/webpack/issues/7085 resolved it for me.

[2018-04-26 21:09] mohsen1 commented on #7122
ESLint doesn't like arrow functions in JSDoc (https://github.com/webpack/webpack/pull/7046#discussion_r183595371) but TypeScript doesn't like your proposed syntax either (https://github.com/Microsoft/TypeScript/issues/23722)

I personally like arrow functions but declaring parameter description is important so I think we should go with the JSDoc syntax once TS understands it.

+1 to `Use @typedef

[2018-04-26 21:39] amscher opened #7131 "loaderUtil.getOptions returns null: “this” object is empty in loader function"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm trying to create a custom loader in order to generate the manifest.json file for a chrome extension, and the "options" object via loaderUtils.getOptions() is null because `this` is an empty object...

**If the current behavior is a bug, please provide the steps to reproduce.**
The relevant code...

[2018-04-26 21:40] MLoughry commented on #7084
It may make sense for webpack to offload this work in the case where the HTML page is generated at the same time.

However, in our case, we just upload the output to a version directory on a CDN, and a server page just takes in a version parameter and serves the scripts from there. We *could* modify the build to upload the manifest of entry-child chunks, and have the server page make an additional

[2018-04-26 21:43] devssh commented on #5491
Yes Here is my baseConfig

[code]

Now in the dev server
const baseConfig = require('./webpack.base.conf');

What was added to fix the issue was
[code]

[2018-04-27 00:01] #5781 closed

[2018-04-27 00:44] adamcarr commented on #2868
I am seeing this issue intermittently. Is there active work being done to fix this? Change the encoding type to UTF-8 fixes the issue.

[2018-04-27 02:28] xiao8cn commented on #2776
window.__webpack_public_path__ why not use

[2018-04-27 06:57] sokra commented on #7131
An arrow function has no this binding. Use a function expression instead.

[2018-04-27 06:57] #7131 closed

[2018-04-27 07:02] sokra commented on #7130
As you noticed this mode is not supported AMD require, either are "magic comments". I don't think it's worth the work of adding support for "magic comments" for AMD require. Migration to `import()` makes sense and AMD is old. There are no technical reasons why this can't be implemented and if you would send a  PR I would probably accept it, but I recommend to mirgate your code to ESM `import()`.

[2018-04-27 07:10] bf commented on #6701
Thanks for your quick reply, @jlchereau

Your issue is a bit different than mine, I think I will open my own ticket. My problem is that the app bundle grows to 20MB even though I use `SplitChunks`. I found some success with using `AggressiveSplittingPlugin`.

[2018-04-27 07:29] sokra commented on #7128
This is a hack required for Chrome. Elsewise breakpoints doesn't work in Chrome.

Actually `webpack://` uses the name of the module and `webpack-internal://` the identifier. They are just equal in development mode.

[2018-04-27 07:39] lorenzodallavecchia commented on #7128
Yes, I also did some research before opening the issue and found the place where the URL is appended and the motivation.

To be honest, I never noticed `webpack-internal` before version 4. Going back to version 3 I realized that this was because it used numbers, so the modules never showed up in the Chome "Open File" command.

Is there a way to go back to the old behavior of using numbers as ids?

[2018-04-27 07:49] lohfu commented on #7126
@sokra ok, makes sense. updated the modules, and everything seems to be working again. thanks

however, it does seem webpack still respects the `browser` property in package.json files, even from .mjs files.

i have set

[code]
with index.js and index.mjs files in both directories, and my webpack build pulls in ./browser/index.mjs

[2018-04-27 07:49] #7126 closed

[2018-04-27 07:53] darshanags commented on #7074
I think this bit of information should be reflected in the documentation: https://webpack.js.org/concepts/mode/. As it reads now - "Provides process.env.NODE_ENV with value XXXXXX", this lead me to believe that passing the mode as a CLI argument set process.env.NODE_ENV for the whole environment.

[2018-04-27 07:55] sokra commented on #7128
`optimization.namedModules: false` should do the trick.

[2018-04-27 07:58] sokra commented on #7125
I tried that, but it shows the full path

[2018-04-27 07:59] sokra commented on #7127
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-04-27 07:59] #7127 closed

[2018-04-27 08:07] Hanterdro opened #7135 "Feature Request: better CSS support for native Web Components"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
With the extract CSS plugin (or similar ones) it is not possible to add the extracted CSS manually to the document/template.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Webpack 5 will include the extract CSS plugin.
It would be

[2018-04-27 08:16] sokra commented on #7122
That's a good question.

How is `@template` scoped?

Does this work?

[code]

[2018-04-27 08:32] Aqours commented on #6159
I encounter the same issue. I want to use gulp to handle the file outputed by webpack.

[2018-04-27 08:56] sokra commented on #7122
I updated the issue text with all the feedback. If you could take another look that would be great. 😃

I'll copy this to `CONTRIBUTING.md` once done.

[2018-04-27 09:40] glen-84 commented on #7122
FWIW, the tslint recommended configuration uses [this rule](https://palantir.github.io/tslint/rules/array-type/) with the `array-simple` option:

[code]

I use this option as well.

I realize that you're not using TypeScript directly, but it may still be relevant to the decision.

[2018-04-27 09:52] TeodorDre opened #7136 "Dynamic binding src attribute for an image in VueJS"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Wrong parsing images by webpack

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Current binding a src attribute from 'string'

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention

[2018-04-27 10:47] evilebottnawi commented on #7135
@Hanterdro Can you provide repo what you have right now and what you expected. In near future we will implement build-in css support. But your issue is some measleading.

[2018-04-27 11:51] JamesRamm commented on #1866
My workaround (for webpack 3) which is compatible with webpack-dev-server:

First set the `resolve.modules` property:

[code]

It is important that you supply the abs path to your `node_modules`

The, for each babel preset and plugin, explicitly use `require.resolve`.

[code]

Note this means you need to explicitly move any babel setup you have in a babelrc file into your webpack config (in my cas

[2018-04-27 11:54] sokra commented on #7136
webpack doesn't do that. Maybe file this issue in the vue repository. cc @yyx990803

[2018-04-27 12:05] Hanterdro commented on #7135
I am not sure what is misleading, but your wish is my command.

Here is a small demo of what I meant:

https://github.com/Hanterdro/webpack-web-component-issue-demo

[2018-04-27 12:37] evilebottnawi commented on #7135
@Hanterdro Thanks!

[2018-04-27 13:06] TeodorDre commented on #7136
I have found something interesting in my bundle.

https://imgur.com/a/tTqVZ2G

why it is duplicate?

[2018-04-27 13:09] ryan-codingintrigue commented on #4238
@jlebras Seeing the same behavior in `webpack@4.6.0`. The object syntax used to work fine for me in `3.x` but as of `4.x` I must use the string `"commonjs hyphen-separated"`

Looks like either a bug, or an issue with the docs.

[2018-04-27 13:11] evilebottnawi commented on #7136
@TeodorDre I think it is out of scope `webpack`, can you enable/disable loader and looks who is do it. When create issue in their repo(s). Thanks!

[2018-04-27 13:12] constfun commented on #4659
This just bit us in production too. A rollback failed as files with different contents looked the same to the CDN. Big deal indeed, anyone using minification and chunking (ie. almost everyone?) is susceptible to this issue.

[2018-04-27 13:16] TeodorDre commented on #7136
I'll try to wait Evan`s answer. Please dont close this issue, i do it myself, when i resolve problem.

[2018-04-27 13:40] PlayMa256 commented on #6486
So, the convention here would be to not process the `imports` if they are hoisted inside a function, as sokra pointed out?

[2018-04-27 13:46] okonet commented on #7074
I’d argue it should actually set the variable to allow related tools be executed in the right context.

[2018-04-27 14:58] evilebottnawi opened #7138 "bug: `chunkhash` changes for `js` when `css` was changed"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I use https://github.com/webpack-contrib/mini-css-extract-plugin with options

[code]

And

[code]
for long term caching.
When i change something in `js` only `chunkhash` changes (i.e. all works as expected).
When i change something in `css` `chunkhash` for `js` changes, but `js` content is same and

[2018-04-27 15:02] lohfu commented on #7126
@sokra i just want to add that i think it is good webpack checks and prefers the browser property if it exists, even when in the esm graph. this behaviour is analogous to how that property has always worked, and is how rollup's node resolve for example works as well. i would argue that even when using .mjs files the ability to differentiate between node and browser builds still has valid use cases

[2018-04-27 16:18] moritzuehling commented on #6475
Is there a known workaround for this? At the moment it seems like this pretty much renders webpack + wasm unusable. What does the timeline for a fix look like?

[2018-04-27 16:49] FlamesoFF commented on #6917
@ooflorent It was confusing, because at that moment the command `npm install webpack-dev-server@latest` gave me version something 2.x.x, but not 3.0.0.
That''s very strange at all, that your official plugin not synchronized with the webpack itself.
Or if it's not official, why you haven't your own? That's very bizzare development approach, I would say.

[2018-04-27 18:30] TheLarkInn commented on #7122
I personally like having @description because it allows this code to become
reference documentation. Maybe I would say not _disallowed_ but not
_required_ either.

On Fri, Apr 27, 2018, 4:41 AM Glen <notifications@github.com> wrote:

[2018-04-27 18:33] foo-baar opened #7139 "Polyfills.ts is loading before main.ts, hence failing in ie11."
Hello,

I am trying to use the default polyfills.ts file provided with Angular boiler plate, However I replaced the bootstraping from cli to webpack, this results in an unusual lading behaior of files:

![image](https://user-images.githubusercontent.com/13655874/39378881-a041e4ce-4a27-11e8-957e-3322f7875c22.png)

Resulting in code failing to work on IE 11, here is my webconfig code:
[code]
Highly

[2018-04-27 18:47] TheLarkInn commented on #7122
cc @weswigham for question https://github.com/webpack/webpack/issues/7122#issuecomment-384899656

[2018-04-27 19:04] TheLarkInn commented on #7122
Actually seeing that JSDOC interperets @description in the same way, I guess I'd have to see what the downsides would be if any to omitting it?

[2018-04-27 19:38] aj-r commented on #2675
In case anyone else comes across this - I got this error because I was using `"module": "umd"` in my `tsconfig.json`. The solution was to use `"module": "commonjs"` instead - you can still get umd output by using `libraryTarget: "umd"` in `webpack.config.js`.

[2018-04-27 20:30] mstarets commented on #7130
Thanks, Tobias. I will look into replacing our require() calls with imports during the Webpack build (we still have to support Require.js by a large number of our framework's users). Any pointers on implementing an efficient plugin for that (perhaps examples of plugins performing similar tasks)?

[2018-04-27 21:25] sandersn commented on #7122
@TheLarkInn  `@typedef` captures type parameters from its scope, so @sokra's example works fine. `@typedef` doesn't work correctly with `@template` right now though:

[code]

is not equivalent to the typescript `type TPair = [T, T]` the way it should be. Tracked by Microsoft/TypeScript#23745.

Note that `@callback` isn't supported yet either; Microsoft/TypeScript#9546 is a start that was never fin

[2018-04-27 21:36] sandersn commented on #7122
Also, the Typescript compiler doesn't understand `@private` and `@abstract` right now either, although they are simple to add. If you use them without compiler support now, it means that the compiler will become suddenly strict about your usage after some future Typescript update.

[2018-04-27 21:56] Bnaya commented on #5718
@dtothefp for dev, i'm swapping mini-css-extract-plugin with plain style-loader.
So i get HMR and much faster rebuilds.
Also, i'm on typescript project, and i set my ts-loader to transplieOnly, and i'm running `tsc` separately,
And my rebuilds are very fast (1s~)

[2018-04-28 07:27] Mathieu-R commented on #7110
That seems to work. Thanks :) !

[2018-04-28 07:32] 171563857 opened #7142 "How can i config when i run 'webpack' and happen this problem"
ok!

yes,it's version of 3.6.0

how can i try this :)
**Do you want to request a *feature* or report a *bug*?**
i have some question for run 'webpack'

QAQ...but i find many solution and none can solve it
**What is the current behavior?**

![qq 20180428153000](https://user-images.githubusercontent.com/22027896/39393536-03c858da-4af9-11e8-9064-5a8de8e53dca.png)
![qq 20180428152943](https://user-ima

[2018-04-28 09:24] 8427003 opened #7143 "when optimization.splitChunks minChunks==1"
**Do you want to request a *feature* or report a *bug*?**
report bug

**What is the current behavior?**
4.6
**If the current behavior is a bug, please provide the steps to reproduce.**
webpack optimization.splitChunks  when minChunks==1, what means ? why not start with 2?
why not stay the same as the document [commons-chunk-plugin](https://webpack.js.org/plugins/commons-chunk-plugin/) require
`
Th

[2018-04-28 10:33] hackape commented on #2797
Has anyone considered writing an IDE extension based on [./schemas/WebpackOptions.json](https://github.com/webpack/webpack/blob/71a12c8bc1fc06968c5028d03da261bf802f0c51/schemas/WebpackOptions.json)?

I really like the way VSCode handle its `setting.json`, as shown in screenshot:
![image](https://user-images.githubusercontent.com/8945315/39395112-38a8b036-4b0d-11e8-8d75-9d901d71a96b.png)

Basically

[2018-04-28 10:54] hackape commented on #2797
@niieani mentioned utilizing typescript typings to help. I've tried the `@types/webpack`. I think it's nice to have TS linting and hinting on my webpack config, but it's not quite there.

The missing block is, no description on value.
![image](https://user-images.githubusercontent.com/8945315/39395629-2117823e-4b13-11e8-9a80-723638940582.png)

TS type system cannot handle describing value, JSDoc s

[2018-04-28 11:07] ooflorent commented on #7139
It looks like you just deleted our [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template.

[2018-04-28 11:07] #7139 closed

[2018-04-28 18:33] mubaidr opened #7145 "[BUG] Cannot disable logging when using `compiler.watch` or `compiler.run`"
**What is the current behavior?**
Too many logging messages in console related to process. I am unable to disable these messages. Tried using `quiet: false`, `no-info: true`, `'info-verbosity':'none'`, `infoVerbosity:'none'`, `stats : false` in `options`

**If the current behavior is a bug, please provide the steps to reproduce.**
Try to write own script to require web-pack and run watcher.
[code]

[2018-04-28 18:46] PlayMa256 commented on #7142
How are you calling webpack, which parameters are you given to webpack? The config seems to be ok, but it is not looking into this file.

[2018-04-28 18:52] #1921 closed

[2018-04-28 18:58] mubaidr commented on #7145
**Update**
Logging is being done by one of the hooks (error in afterCompile), but still error text is too much, cannot even scroll to the run command in cmd.

[2018-04-28 18:59] #7145 closed

[2018-04-28 19:24] sevaTechoPark opened #7146 "typescript const enum + lodash + webpack"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Uncaught ReferenceError: someEnumName is not defined

**If the current behavior is a bug, please provide the steps to reproduce.**
if typescript enum is const, and use _.values(someEnumName) webpack crashed.
if enum isn't const everything is okay

**Please mention other relevant information such as the

[2018-04-28 20:40] db2147 commented on #6858
changed file to index.js and worked great!!

[2018-04-28 22:53] xorkevin commented on #7110
@Mathieu-R @wyze How could I ever thank you. I've been stuck on this issue for over a month now. The `compress.unused: false` totally fixed it. I'm curious why this is occuring though. I originally thought it was just for dynamic imports, but when I tried it for regular static imports in `react-router`, it didn't work as well.

[2018-04-28 23:26] trusktr opened #7148 "TypeError: Cannot read property 'compilation' of undefined at ModuleConcatenationPlugin.apply"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

After updating from Webpack 3 to 4, I get an error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Reproduction: https://github.com/trusktr/lowclass/tree/webpack-issue-7148

To get the error:

[code]

which triggers Webpack with Babel 7 loader and Buble loader.

[2018-04-28 23:36] trusktr commented on #7148
Reproduction: https://github.com/trusktr/lowclass/tree/webpack-issue-7148

To get the error:

[code]

which triggers Webpack with Babel 7 loader and Buble loader.

Once dependencies are installed, you can see relevant configuration files at

- node_modules/builder-js-package/config/webpack.config.js
- node_modules/builder-js-package/config/babel.config.js
- node_modules/builder-js-package/config/b

[2018-04-28 23:37] trusktr commented on #7148
If you disable the line with `new ModuleConcatenationPlugin`, the error goes away, obviously.

[2018-04-28 23:45] trusktr commented on #7148
Seems `Compiler.hooks` does not exist. Does this need to be listed in the breaking changes of the release notes, and does Webpack need to update it's own plugin? Or is ModuleConcatenationPlugin deprecated? Or something?

[2018-04-28 23:50] trusktr commented on #7148
The release notes (https://github.com/webpack/webpack/releases/tag/v4.0.0) say that

But when I inspect both `Compiler` and an instance of `Compiler` in devtools, neither of them have a `hooks` property.

[2018-04-28 23:52] trusktr commented on #7148
Ah, I see, this plugin does not need to be used anymore.

Perhaps, it should've been completely removed, that would've been much more helpful (I would've gotten an error trying to call `new undefined`) in my `webpack.config.js`.

[2018-04-28 23:52] #7148 closed

[2018-04-28 23:55] trusktr commented on #7148
I should've read the _whole_ release note, not just the section with "breaking" in it. It helps if _all_ breaking changes are in a section with "breaking" in the title. :)

[2018-04-29 02:10] malliapi commented on #1315
is this still happening for webpack 4?

[2018-04-29 02:29] trusktr commented on #7148
The release note says

which doesn't seem to have been true in this case.

[2018-04-29 03:37] trusktr opened #7149 "Webpack 4: devtool: 'source-map' makes an error"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Adding `devtool: 'source-map'` to my config causes the error

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/trusktr/lowclass/tree/webpack-issue-7149

Check out that branch and run

[code]

**What is the expected behavior?**

No error, with so

[2018-04-29 03:51] trusktr commented on #7149
Okay, it's working now in the reproduction, not sure what changed.

[2018-04-29 03:51] #7149 closed

[2018-04-29 04:27] 171563857 commented on #7142
sorry
i just know why i can't webpack
because i use vue-cli and webpack will loading ./webpack.conf.js to get config
but i didn't create this file in current folder
is it this way ? i will close this problem if 'yes'
^0^ thanks for you help

[2018-04-29 06:05] Toxicable opened #7150 "[Proposal]: hook for when HMR cannot update for Nodejs apps"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
There is no way to know when a process restart is required, when a Nodejs application is running in hot mode

**If the current behavior is a bug, please provide the steps to reproduce.**
It's not a bug but you can reproduce this here
https://github.com/Toxicable/nodejs_target_demo
1. `yarn`
2. `yar

[2018-04-29 13:09] Legends commented on #7146
Please provide a minimal reproducible example, thanks

[2018-04-29 13:27] sevaTechoPark commented on #7146
ok this is **file.ts**

## does'not work
[code]

## work

[code]

[2018-04-29 15:44] satazor commented on #7084
From what I understood, webpack doesn't prefetch/preload chunks that are direct children of entrypoints. It seems that it assumes that developers are using `html-webpack-plugin` or similar.

Anyway, I think it would be useful to have some option to change the behavior to prefetch the direct children as well.

[2018-04-29 15:58] NickCis commented on #5433
I've sorted a way in order to do this, full explanation is on [this gist](https://gist.github.com/NickCis/a4b2e4dc7a2466c13ce54240d4ab5d04).

tl;dr;

Duplicating imports (as [multi-loader](https://github.com/webpack-contrib/multi-loader) does), inlining loader configuration with _ident_ and adding (in a hackish way) loader configuration to the RuleSet's references dictionary.

[2018-04-29 15:59] montogeek commented on #7146
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-04-29 16:01] montogeek commented on #7142
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-04-29 16:02] sevaTechoPark commented on #7146
Okey i will try do it later

[2018-04-29 16:15] sokra commented on #7150
There are callback to notify about that: https://webpack.js.org/api/hot-module-replacement/#apply

[2018-04-29 16:33] 8427003 commented on #7143
i got it,  in commons-chunk-plugin, minChunks can be a func，we can extract a vender.
when deal with vender，minChunk as a num can be 1.
so  optimization.splitChunks use  `cache group`  data structure do the two things

[2018-04-29 17:07] 8427003 opened #7151 "what reuseExistingChunk: true means, can give a sample?"
**Do you want to request a *feature* or report a *bug*?**
document not clear

**What is the current behavior?**
what optimization.splitChunks reuseExistingChunk: true means, can give a sample?
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
can give a sample?  `reuseExistingChunk`: true or false,  what different?

**If this is a feat

[2018-04-29 17:59] Toxicable commented on #7150
Unless i misunderstand it that is only available to the process being hot reloaded, not the host.
Therefore it would be impossible for the process to kill itself and recreate it

[2018-04-29 18:26] rowild opened #7153 "Uglify is deprecated, but still shown as an example"
I get an error when using Uglify:
```Error: webpack.optimize.UglifyJsPlugin has been removed, please use config.optimization.minimize instead.```
The docu still shows it as an example:
```https://webpack.js.org/concepts/plugins/```
Being new to webpack, this confuses me a lot... What to do?

[2018-04-29 18:40] PlayMa256 commented on #7142
@171563857 apparently, the problem here is that your webpack config file has a different name than the usual one. When you invoke `webpack`, the cli goes and looks for common webpack file names, currently it looks for `webpack.config` or `webpackfile`. You can see [here](https://github.com/webpack/webpack-cli/blob/master/bin/convert-argv.js#L49).
When `webpack-cli` can't find those files, webpack

[2018-04-29 18:41] PlayMa256 commented on #7153
Please, open an issue https://github.com/webpack/webpack.js.org here or send a pr to update the docs!
Thanks!

[2018-04-29 18:51] rowild commented on #7153
Isn't this an issue?

[2018-04-29 19:11] PlayMa256 commented on #7153
No, this is correct, just docs are not updated, the removal of webpack.optimize.uglifyjsplugin was announced during the v4 release.

[2018-04-29 21:56] DanielRuf opened #7154 "make ProfilingPlugin accessible for plugins option"
It seems ProfilimgPlugin can not be used through the plugins option of the cli.

[2018-04-29 22:04] #5886 closed

[2018-04-30 05:12] 8427003 commented on #7151
@PlayMa256  that's no clear, can give a sample?

[2018-04-30 07:30] sokra commented on #7146
This is not a webpack issue. It's maybe a typescript issue, but I guess it's not an issue at all since `someEnumName` is a type and `_.values` doesn't take type. It depends on the error message you get (which you didn't provided).

[2018-04-30 07:30] #7146 closed

[2018-04-30 07:31] #7143 closed

[2018-04-30 07:31] sokra commented on #7154
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-04-30 07:31] #7154 closed

[2018-04-30 07:34] sokra commented on #7136
He probably won't answer, it's not his repo.

Closing because it's not a webpack issue. Copy it to your own issue tracker if you want to keep it.

[2018-04-30 07:34] #7136 closed

[2018-04-30 07:37] DanielRuf commented on #7154
Hm, but I see many questions also in the issues here on GitHub so this is a bit confusing. And would this be ok on StackOverflow today?

[2018-04-30 07:42] sokra commented on #7122
For consistency I would try to avoid this. Either choose "must" or "must not".

I guess for a reference documentation we eventually generate it from the comments into some kind of markdown/html file. In this case it won't matter if you add `@description` or not.

Great

It would be great to add support for that. Currently there is no way to declare function is a way that is jsdoc-valid and typescr

[2018-04-30 07:46] sokra commented on #7082
add `type: "javascript/auto` to the rule.

[2018-04-30 08:00] weswigham commented on #7122
Both the closure compiler and the TS compiler recognize syntax for inline function definitions like

[code]

Which you _could_ use until `@callback` is supported. (That's partly why `@callback` was deferred - we found few usages of it in the wild other than the usejsdoc site (compared to other patterns), and it's practical usage is mostly subsumed by typedefs and the function syntax above). You st

[2018-04-30 08:31] DanielRuf commented on #7154
There you go: https://stackoverflow.com/questions/50096722/how-to-use-profilingplugin-with-webpack-cli-for-webpack-4

[2018-04-30 09:57] gpessa commented on #6767
Same drama here :(

[2018-04-30 11:16] evilebottnawi commented on #7138
Other example of problem https://github.com/webpack-contrib/mini-css-extract-plugin/issues/117

[2018-04-30 11:16] mishelen commented on #7138
Confirm that behaviour. This is repo for reproduction https://github.com/mishelen/reproduce_hash_invalidation

[2018-04-30 12:36] TobiasBaumgarten opened #7156 "webpack-cli doesn't execute"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
webpack doesn't execute and doesn't show any errors. After a while there comes an fatal memory error.

**If the current behavior is a bug, please provide the steps to reproduce.**
I just installed webpack (npm i -D webpack) without the cli.
It's the version 4.6.0. After I was setting up my typescript p

[2018-04-30 12:38] Legends opened #7157 "Mode production with devtool set to one of `eval-*` settings --> no tree-shaking"
Referencing [open issue](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/267)

**Do you want to request a *feature* or report a *bug*?**
Bug?

**What is the current behavior?**
Treeshaking doesn't take place if `devtool` is set to any of the eval entries.

The docs says: for production use one of these:

- (none),
- source-map,
- hidden-source-map,
- nosources-source-map

What is

[2018-04-30 12:39] evilebottnawi commented on #7156
@TobiasBaumgarten `webpack-cli 2.1.0 ` was broken. Also it is related to `webpack-cli`. We release new very light and fast CLI https://github.com/webpack-contrib/webpack-command. Feel free to try it first. Thanks!

[2018-04-30 12:39] #7156 closed

[2018-04-30 14:47] Pliman commented on #959
The root cause is what @gdi2290 said.
Because "You must load the generated chunk before the entry point" [CommonsChunkPlugin](https://webpack.js.org/plugins/commons-chunk-plugin/)

In my case, I used ['common', 'c1', 'c2'] in HtmlWebpackPlugin, I used
[code]
I don't know why it works before.
So I change "chunk1.id - chunk2.id" to "chunk2.id - chunk1.id", all chunks are in right order now!
Problem

[2018-04-30 15:39] developit commented on #6525
@sokra - could we just change the default `output.globalObject` to `"self"`?  It should be consistent across all of the necessary contexts for the `web` output target.

[2018-04-30 15:40] #6168 closed

[2018-04-30 16:28] alexhoma commented on #6326
Hi @sokra @edude03, is there any update onn this issue?

[2018-04-30 16:30] jshcrowthe commented on #6525
If I remember correctly, just changing the `output.globalObject` isn't sufficient because of the environment specific runtimes that exist:

- Web (https://github.com/webpack/webpack/blob/fde018300aa52262c384e937c408d5dd97d62951/lib/web/JsonpMainTemplatePlugin.js#L96-L139)
- Web Worker (https://github.com/webpack/webpack/blob/fde018300aa52262c384e937c408d5dd97d62951/lib/webworker/WebWorkerMainTempl

[2018-04-30 18:40] gmathieu commented on #6979
Hello,

We were able to implement @lavelle's Babel workaround but had to tweak a couple `import *` as Babel and Webpack handle them differently (happy to provide more details). We could rewrite the code to be testable as @Janpot suggested by exporting a single object vs individual util functions.

It seems weird having to re-introduce CommonJS when we've moved everything to ESM. More importantly,

[2018-04-30 19:26] sokra commented on #7150
Only the running process knows when the update happens and if it failed. You can send a message back to the parent process if you need to.

[2018-04-30 19:26] #7150 closed

[2018-04-30 19:28] sokra commented on #7138
Use `ouput.chunkFilename: "[contenthash].js"` instead.

[2018-04-30 19:37] evilebottnawi commented on #7138
@sokra it is recommendation? should we send PR to docs or it is workaround?

[2018-04-30 19:41] mishelen commented on #7138
works! Are here some downgrades use-cases?

[2018-04-30 19:54] Toxicable commented on #7150
@sokra The idea here is that webpack should be able to serve this websocket server so that I have a reliable, and well known message bus to connect to.
Your proposed solution will not work for my use case since I do not control the script being hot loaded.

[2018-04-30 20:33] constfun commented on #4659
In our case this turned out to be an issue with the `webpack-md5-hash` plugin. See https://github.com/erm0l0v/webpack-md5-hash/issues/7 Pulling the plugin out means pretty much nothing gets cashed, but that's a separate issue and a lesser of two evils.

I could not reproduce the issue with plain webpack (version 2.4.1 here)

[2018-04-30 21:13] TheLarkInn commented on #6525
Not only that but also approaches to handle the JsonpTemplates which handle lazy loading and splitChunks (aka initial chunk groups)  in their respective envs

[2018-04-30 21:45] mishelen commented on #7138
@evilebottnawi  @sokra
I have example of other workaround without changing `[chunkthash]` on `[contenthash]`. As I understand it done under hood.

[code]

[2018-05-01 01:04] chaoyzeng opened #7162 "Object.assign used when importing json in development mode."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

In 'development' mode, importing JSON files generate `Object.assign` in the resulting bundle.

An example of this looks like: `Object.assign({}, _test__WEBPACK_IMPORTED_MODULE_1__, {\"default\": _test__WEBPACK_IMPORTED_MODULE_1__})`

This means that in development mode the resulting bundle does not w

[2018-05-01 01:16] mkotsollaris commented on #1214
Adding `target: 'web'` in my `webpack.config.js` fixed the issue indeed.

[2018-05-01 07:27] DerJacques commented on #6501
Hey @ypconstante, is there any chance you are using the [hard source webpack plugin](https://github.com/mzgoddard/hard-source-webpack-plugin/)?

We have started experiencing this exact same issue, but everything seems to work fine as soon as we disable hard source. Here's a very new related issue in their repo:
https://github.com/mzgoddard/hard-source-webpack-plugin/issues/310

[2018-05-01 07:33] montogeek commented on #7156
@evilebottnawi What is the distinction between both CLI, it seems that this is going to confuse our users a lot.

[2018-05-01 08:10] #7157 closed

[2018-05-01 09:16] sebastiaanluca commented on #2972
@enzoferey Have been breaking my head on this for hourssss. Webpack kept uglifying my code, throwing errors when it couldn't read ES2015 modules. Thank you!

For reference: https://github.com/JeffreyWay/laravel-mix/issues/823#issuecomment-385562911

[2018-05-01 10:15] KangZiRu opened #7167 "Webpack stucks and keep spawning hundreds of nodejs processes"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
Webpack is stuck when running the command and keep spawning nodejs processes.
The nodejs processes can up to 300 processes or even more, until I force stop it by using Ctrl+C.

The commands I mentioned above are:
`webpack --mode development`
`webpack --mode production`
or other basic commands.

I tri

[2018-05-01 12:51] sokra commented on #7167
webpack shouldn't spawn processes at all.

Is the webpack command really executing webpack?

Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-05-01 15:12] gaterking commented on #6929
same when I use development mode.

[2018-05-01 15:31] ypconstante commented on #6501
Yes, it's one of the plugins used in this build. In the end, I just modified the imports to not have recursive imports, which in my case was simple.

[2018-05-01 15:50] TheLarkInn commented on #7122
@sokra @ooflorent @mohsen1 How should we treat situations where we need to define a `/** @typedef */` in multiple files, should we opt to add this to `declarations`?

If so, can we import classes into this definitions file.

[2018-05-01 15:52] mohsen1 commented on #7122
Can we export `@typedef`s?

[2018-05-01 16:01] TheLarkInn commented on #7122
Also, I had a great comment from @Kovensky who suggested:

This is something we could define in `declarations.d.ts` and then use throughout in any places we can't or need follow up on an `any` type.

[2018-05-01 16:04] xtuc commented on #6475
yes @Eruant Webpack is going to use `instantiateStreaming` in the future to bypass this limitation.

[2018-05-01 17:10] sandersn commented on #7122
@TheLarkInn @mohsen1 As of Microsoft/TypeScript#23723, typedefs are always exported. That went in yesterday so should be available in typescript@next.

Previously we recommended that people use a declarations.d.ts. typedef/callback tags still don't support some corner cases, like a function that also has properties:

[code]

But besides that, you might be OK with a declarations.js instead.

[2018-05-01 17:26] EmilyRosina commented on #4160
I have not found a solution yet, but this occurs in all new Vue-CLI projects - works in my older ones...

This is (at least for me) down to the addition of using `@Types` in my node modules, I guess Vue uses this now.. but i'm in the middle of trying to solve this without pulling my hair out. It is interesting to know that `@Babel` does not trip up the use of `@` aliases within paths...

Thought i

[2018-05-01 17:35] bf commented on #5314
This bug is still an issue.

[2018-05-01 17:41] CSHaze commented on #6858
For me this error was related to using the old way of loading a config file.

I was using

`var myConfig = Object.create(webpackConfig);
webpack(myConfig, function (err, stats) { .........
`
instead of just using the config directly like this

`webpack(webpackConfig, function (err, stats) { ..........`

[2018-05-01 17:43] justinhelmer commented on #6919
@sokra / @ooflorent - now that #7083 is merged, is there something I need to do in order to get `webpack@3.12` published with these fixes?

Then, I can close this issue.

Thanks

[2018-05-01 19:51] #5136 closed

[2018-05-01 20:14] krajasekhar commented on #1206
I tried doing like the same by adding new target in webpack for the server and I felt hard writing a server script which supports as many features as 'webpack-dev-server'.
But later got an easy way by using before() in webpack config to handle by http request from client.

I have added below part in my webpack.config.js.

`devServer: {
        port: 8080,
        stats: "minimal",
        before(a

[2018-05-01 22:03] kiran8910 commented on #443
@kellyrmilligan
Using window.resourceBaseUrl in main.ts is throwing an error as below
**Property 'resourceBaseUrl' does not exist on type 'Window'.**

I've defined resourceBaseUrl in index.html under src/public

[2018-05-02 01:46] KangZiRu commented on #7167
I think I can't create a github repo, because the problem is located in webpack itself. I confirmed that there is a infinite loop that causes this problem. I confirmed it by using simple `console.log` in `node_modules/webpack/bin/webpack.js` and `node_modules/webpack-cli/bin/webpack.js`.

Here is the screenshot (not working one):
![image](https://user-images.githubusercontent.com/10009075/39501400

[2018-05-02 06:45] lorenzodallavecchia commented on #7128
Thanks @sokra it worked: I can easily select the right files now.
Do you think there is something better that webpack could do or should we close the issue?

[2018-05-02 07:16] no-more opened #7170 "Feature: Support for dynamic node module import"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Dynamics imports works only for project local files with a prefix path + variable and does not work when only a variable corresponding to a module name is provided

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It would be great to

[2018-05-02 07:40] pleunv commented on #6767
So I guess what you're saying is to pull all of the `node_modules` out of the main dependency graph and put them in a separate entry point during dev.

I'm curious if there would be a way to more easily automate or or configure this behavior... @sokra, any insight in this by any chance? :) This is something the CommonsChunkPlugin used to be able to do with a filter I guess, but this probably didn'

[2018-05-02 07:59] MrSantaCloud opened #7172 "Webpack with Typescript: "inline-source-map" does not map Typescript correctly - wrong typescript mapping"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Since I've migrated to webpack 4.6.0, Visual Studio breakpoints started positioning in the end of the file as a wrong mapping symptom. With the same configuration but with webpack 3.11.0, it used to work fine

**If the current behavior is a bug, please provide the steps to reproduce.**
See my webpack.c

[2018-05-02 08:27] gpessa commented on #6767
mmmm sounds like a solution but not the solution, I think there must be something of more automatic. With webpack 3 everything was going pretty well and it was fast

[2018-05-02 08:46] MrSantaCloud commented on #7172
🍻 🎉 **SOLVED** 🎉 🍻

ADOPTED SOLUTION:
**Disabling "browser link" on my visual studio 2017 dropdown list worked**

Seems not to be a webpack related issue. Feel free to close this.
Also, excuse me for every time-waste that I could have caused to webpack staff with this.
Hope this would be helpful to other users too!

[2018-05-02 08:46] MrSantaCloud commented on #7172
@webpack-bot close

[2018-05-02 11:08] jinxin479 opened #7175 "caching problem: delete js file or add js file, many js files's hash will change"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I use react-router to spilt chunks,but when I delete a route or add a route,almost all the chunks's hash has changed even the chunk'content has not been changed
**If the current behavior is a bug, please provide the steps to reproduce.**
**this is a github repo
[webpack-reproduce-repo](https://github.c

[2018-05-02 11:43] evilebottnawi commented on #4659
Looks like stale issue. Close due stale. Feel free to open new issue if somebody faces with this problem in `webpack@3` and `webpack@4`. Also i use latest uglify plugin and using long term cache and all works fine. Maybe problem can be in other plugins. Thanks

[2018-05-02 11:43] #4659 closed

[2018-05-02 11:46] evilebottnawi commented on #7175
@jinxin479 Please use all points fo issue template and create minimum reproducible test repo. Feel free to reopen after your fix issue. Thanks!

[2018-05-02 11:49] evilebottnawi commented on #7162
сс @sokra looks like important bug

[2018-05-02 11:53] evilebottnawi commented on #7138
@mishelen `webpack-md5-hash` is workaround for very old hash problem, and use logic as  `contenthash`. We should fix this problem inside `webpack` and/or add note about this do docs.

[2018-05-02 12:27] PlayMa256 commented on #7167
I tried to reproduce the problem, and there is something weird in between because, if i run `webpack --mode developmenta` as you ran, `webpack-cli` yells saying developmenta [is not a known choice](http://prntscr.com/jcqqpi) for mode and stops the proccess upfront. `Webpack/bin/webpack.js` is only called once, the flow is: `webpack/bin/webpack.js` -> `webpack-cli/bin/webpack.js` -> `webpack/lib/we

[2018-05-02 12:59] reohjs commented on #3165
I'm not using the loader, but thanks for the suggestion.

[2018-05-02 13:10] aj-r opened #7176 "`output.library.root` should accept an array"
**Do you want to request a *feature* or report a *bug*?**

Bug?

**What is the current behavior?**

In `webpack.conf.js`:

[code]

Result:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Create the configuration above and run `webpack`.

Note that I can pass an array directly to the library as shown below. In that case, the correct object is added to `root`,

[2018-05-02 14:42] evilebottnawi commented on #7138
@mishelen looks we should use `[contenthash]` instead `[hash]` and `[chunkhash]`, issue about update readme https://github.com/webpack/webpack.js.org/issues/2096

[2018-05-02 14:42] ooflorent commented on #7176
Using an array is not something we want to encourage.
`library` can be an array for compatibility reason.

[2018-05-02 14:49] jinxin479 commented on #7175
please reopen this issue.thanks

[2018-05-02 15:18] rpellerin commented on #6812
4.6.0 does not fix the issue for me. Still affected.

[2018-05-02 15:28] aj-r commented on #7176
Why is it not encouraged? I need my library to exist on `root["My"]["Library"]` for compatibility reasons.

[2018-05-02 15:30] rpellerin commented on #6929
I am having the same issue when building for production using webpack.

[2018-05-02 15:31] evilebottnawi commented on #6812
@rpellerin do you add `@import "webfont.scss";` in some scss file?

[2018-05-02 15:33] evilebottnawi commented on #6929
We need minimum reproducible repo, without this it makes no sense to write about the fact that you have a problem. Thanks!

[2018-05-02 15:50] rpellerin commented on #6929
Good point, sorry for not providing a repo, it's private (work-related). Configuration is hardly reproducible.
A few pointers:
- We use `uglifyjs-webpack-plugin`
- We use the latests versions of `webpack` and `webpack-cli`
- We use `CompressionPlugin`

[2018-05-02 16:40] bregenspan commented on #6979
I really like @gmathieu's proposed solution to this in https://github.com/webpack/webpack/pull/7132, which acknowledges both that Webpack 4's behavior here is correct and that sometimes it can be desirable to override the correct behavior in the context of a test.

My team has also been relying on the ability to spy on properties of module namespace objects via Sinon, and I've seen a number of rep

[2018-05-02 18:30] salemhilal commented on #6527
I mostly lurk here, so take these with a grain of salt:

1. This sort of change would be a huge win. I'm working to replace an old in-house build system with webpack for a large, sprawling codebase with many entrypoints. It feels like this spec addresses the specific painpoints we're running into.

2. To the HappyPack point, I believe HappyPack solves a separate problem (parallelizing actual loade

[2018-05-02 18:39] sokra commented on #7176
Send a PR

[2018-05-02 18:46] sokra commented on #7175
Thanks for your report. It would be great if you reduce your issue to a **small** reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-05-02 20:11] #5428 closed

[2018-05-02 21:37] mikeyoon opened #7179 "Webpack 4 chunkhash can vary between builds"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm finding that the chunkhash varies between builds in v4. Using the diff utility between the the different files shows no differences. Attempting to narrow the codebase down reduces the frequency of different hashes.

**If the current behavior is a bug, please provide the steps to reproduce.**
I've b

[2018-05-02 21:50] michael-ciniawsky commented on #7179
[code]

TLDR: Use `[contenthash]` instead of `[chunkhash]` to ensure that every asset (output file) has a stable hash based on it's contents.

`[chunkhash]` isn't very 'stable'  as it can change when e.g a module of a chunk is moved for some reason etc etc (It's always hard to tell why and will always be based on how `[chunkhash]` works (in terms of browser caching)). For predictable long term (br

[2018-05-02 21:50] #7179 closed

[2018-05-02 21:56] michael-ciniawsky commented on #7179
Also don't forget to set the `chunkFilename` for Code Splitting (Async Chunks)

[code]

[2018-05-02 22:46] mikeyoon commented on #7179
I changed it to contenthash, but I still get different hashes and they have the same content. I even took out the sourcemap output to make sure they are exactly the same.

[2018-05-03 04:51] abruzzihraig commented on #6929
Got the same issue when developing with hot reload.

[2018-05-03 04:54] abruzzihraig commented on #6812
Still having the same issue at 4.6.0.

[2018-05-03 06:11] dipalibi2903 opened #7180 "Getting Issue while updating from webpack 2 to webpack 4"
we have two files
# **first :  webpack.plugin.js**

const { resolve } = require('path');
const webpack = require('webpack');
const appConfig = require('./config');
const R = require("ramda");

//*************************************************************************
// Constants
//*************************************************************************
const nodeEnv = R.compose(R.toLower, R.pro

[2018-05-03 06:14] dipalibi2903 commented on #7180
@sokra : I have followed your suggestion for updating webpack 4. still getting issue. kindly guide to resolve issue

[2018-05-03 07:26] KangZiRu commented on #7167
Yes, it should be the expected behavior, but in this case, whatever you input in the cli, it won't run the command. Instead it only spawning bunch of nodejs processes through the `require("webpack-cli")` I mentioned above.

[2018-05-03 07:26] sokra commented on #7180
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-05-03 07:26] #7180 closed

[2018-05-03 07:33] sokra commented on #7167
Sound like a bug in webpack-cli @ev1stensberg

[2018-05-03 08:10] ev1stensberg commented on #7167
This is fixed

[2018-05-03 08:30] unional commented on #5754
Don't need this in webpack 4 anymore.

[2018-05-03 09:25] evilebottnawi commented on #7167
@ev1stensberg i.e. we can close this issue?
@KangZiRu friendly ping, update `webpack-cli` to latest version and check again

[2018-05-03 09:48] gkatsanos opened #7181 ""name" option in splitChunks.chunkGroups config not honoured"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Generated filenames for chunks just have a number instead of the 'name' option I provide.  (Regardless of whether I use `true` or a string.)
For example:

chunk-1.[hash].js , chunk-2.[hash].js

**If the current behavior is a bug, please provide the steps to reproduce.**
full configuration:
https://gist

[2018-05-03 11:16] NoChapter commented on #1315
To a certain extent, webpack 4 improved this situation, at least reducing the frequency of vendor hash changes, but the problem still exists.
See full code [here](https://github.com/NoChapter/webpack4-starter/tree/07d95d88367adc1df90d2c96ba8783c89cab09d2)
First,`npm run build`, output
![image](https://user-images.githubusercontent.com/1981743/39572261-1012b89a-4f01-11e8-9959-942b88ad11ef.png)
If y

[2018-05-03 11:29] MilosRasic opened #7182 "Move vendors cacheGroup to a mode more specific than 'none'"
**Do you want to request a *feature* or report a *bug*?**

Requesting a feature, well, more of a change to existing feature.

**What is the current behavior?**

With webpack 4.6.0, with mode: 'none', webpack is still building vendors~ chunks because of the default settings for optimization.splitChunks.cacheGroups. We have to explicitly pass vendors: false to disable this behaviour.

**If the curre

[2018-05-03 11:33] evilebottnawi commented on #7182
@MilosRasic It is breaking changes, we can't do this in `webpack@4`, also mode for enable optimization, `splitChunks.cacheGroups` is code splitting, not optimization

[2018-05-03 11:37] MilosRasic commented on #7182
True, and I'm not asking for it in webpack 4, but I think it's the right thing to do at some point.

idk, it's optimization.splitChunks, makes me think splitting is part of optimization

[2018-05-03 11:41] evilebottnawi commented on #1315
@kevinrenskers
I close this issue due with a very large number of questions/posts with very difference problems. t's also hard to understand exactly what the problem - in the configuration or it's a real bug. Also please read https://medium.com/webpack/predictable-long-term-caching-with-webpack-d3eee1d3fa31 (some steps no needs because it is already fixed in `webpack`). Feel free create new issue

[2018-05-03 11:41] #1315 closed

[2018-05-03 11:47] evilebottnawi commented on #7182
Need discussion around this

[2018-05-03 11:51] venkikonamma458 opened #7183 "vendors.bundle.js:formatted:1 Uncaught ReferenceError: exports is not defined"
`module.exports = {
    entry: [
        './src/client/index'
    ],
    output: {
        filename: '[name].bundle.js',
        path: path.resolve(__dirname, 'public/assets/scripts')
    },
    resolve: {
        extensions: ['.webpack.js', '.web.js', '.ts', '.tsx', '.js'],
        modules: [
            'node_modules'
        ]
    },
    module: {
        rules: [
            {

[2018-05-03 12:01] evilebottnawi commented on #7183
@venkikonamma458 please use issue template. Feel free to reopen issue after fix it. Thanks!

[2018-05-03 12:01] #7183 closed

[2018-05-03 12:17] yuqingc commented on #2427
@donce Thanks a lot. It works!! I have been researching the reason why everything was undefined when I tried getting the value from the `window` object. This `DefinePlugin` thing is really a trick.

[2018-05-03 12:34] ethannguyens commented on #368
My case is that `manifest` need to load before `vendor`

[2018-05-03 12:46] marcofugaro opened #7185 "Contenthash doesn't work with splitchunks: 'all'"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Webpack throws a `Cannot convert undefined or null to object` error when `contenthash` is used for `output.filename` and `splitChunks.chunks: 'all' is enabled`.

<img width="381" alt="screen shot 2018-05-03 at 14 33 44" src="https://user-images.githubusercontent.com/7217420/39576915-178896f6-4ee0-11e8

[2018-05-03 12:49] lorenzodallavecchia commented on #6929
Ok, here is a [minimal test case](https://github.com/lorenzodallavecchia/webpack-bug-6929) for the leak that I am experiencing.

I extracted the example from a much larger project that I am working on. The problem here seems caused by a third-party plugin, `DojoWebpackPlugin`, but in some snapshot I recall seeing other plugins that were causing the issue.

It appears that webpack is keeping `Compi

[2018-05-03 12:51] evilebottnawi commented on #6929
@lorenzodallavecchia Thanks!

[2018-05-03 12:53] evilebottnawi commented on #7185
/cc @sokra looks like important bug

[2018-05-03 13:06] the-spyke opened #7186 "Side-effects options breaks Lodash's chain method"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Importing `chain` from `lodash-es@4.17.10` doesn't work with `sideEffects: true` (production mode).

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Should work as it does with `sideEffects: false`.

**If this is a fea

[2018-05-03 14:33] MrSantaCloud commented on #7172
Seems like that the problem is not solved yet.
This time, I also get the following error:

Even if I explicitly define mode in my configuration or in every command.

[2018-05-03 16:30] sokra commented on #7182
`mode: "none"` is supposed to not do any development or production specific optimizations. It's doesn't disable all optimizations. `optimization.splitChunks` is not development or production specific, like `optimization.availableModule` `optimization.mergeDuplicationChunk`, etc. It's a general chunk graph transformation. So in my opinion that makes sense.

Anyway as @evilebottnawi already said, ch

[2018-05-03 17:07] trusktr opened #7188 "require.context not expanded when using path generated with Define plugin."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When doing something like

[code]

and `APP_PATH` is defined with `DefinePlugin`, webpack will not bundle all the files, it will leave the context call in the bundle with `APP_PATH` replaced with an actual value.

**If the current behavior is a bug, please provide the steps to reproduce.**

...

**Wh

[2018-05-03 17:14] phiphou commented on #6703
@l0gicgate I think you can close the issue, since an alternative solution has been given.

You though open a similar issue in `extract-text-webpack-plugin`'s repository.

[2018-05-03 18:32] pravdomil opened #7190 "Bundle still contains all exports after sideEffects: false"
**Do you want to request a *feature* or report a *bug*?**
possible bug

**What is the current behavior?**
Output bundle contains `index.js` `a.js` `b.js` `c.js` from `big-module`, and `a.js` `b.js` `c.js` from `big-module-with-flag`.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/webpack/webpack/tree/master/examples/side-effects

**What is

[2018-05-03 19:37] zachgoll commented on #196
Is there an updated answer to this issue?  Have been Googling all morning and cannot find a solution that works.

[2018-05-03 19:51] kylops opened #7191 "document.Rt is not a function"
Hi all,

I am using "uikit": "^3.0.0-beta.42", "webpack": "^3.11.0"
When doing `import UIkit from 'uikit'` in the entry, console throws this error`TypeError: document.Rt is not a function`.

Also very wired, if I import font-awesome `require('font-awesome/css/font-awesome.css')`, the error is `Uncaught TypeError: document.Z is not a function`,

 If I do `window.UIkit = UIkit` without the window.UI

[2018-05-03 21:10] montogeek commented on #7191
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-03 21:10] #7191 closed

[2018-05-03 21:12] briandipalma commented on #6929
I found the leak in Karma by using the Chrome dev tools and I'd recommend others to do the same. Starting node with `--inspect-brk` to debug the running process and run memory profiling. I doubt any of these issues are Webpack related, almost certainly they are in Loaders/Plugins or the usage of such.

[2018-05-03 21:18] evilebottnawi commented on #6929
@briandipalma if you found memory leak please create issue in `loader/plugins` repo. We very much appreciate this issue and fix their very fast (try to fix fast asap :smile: ).

[2018-05-03 21:29] montogeek commented on #7186
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-05-03 21:30] briandipalma commented on #6929
I was talking about the leak in this comment https://github.com/webpack/webpack/issues/6929#issuecomment-383591954 I'd suggest people use the Chrome tooling to trace down the leaks themselves it's doable with some patience.

[2018-05-03 22:33] evilebottnawi commented on #7138
Close in favor https://github.com/webpack/webpack.js.org/issues/2096.
Short: use `[contenthash]` instead `[hash]` and `[chunkhash]`.

[2018-05-03 22:33] #7138 closed

[2018-05-03 22:34] evilebottnawi commented on #7138
@mishelen `[chunkhash]` only for backward compatibility

[2018-05-03 22:37] l0gicgate commented on #6703
@phiphou how is that a fix? The issue is also on this repo’s end. There’s even an option to ensure that bundles that have a size of zero shouldn’t even be output. I’m not closing this until it is resolved.

[2018-05-03 22:56] TylerOlthuizen opened #7193 "Webpack Vendor Bundles"
What is the purpose of using splitChunks and having a vendor bundle. I have one set up right now and it is working great, I currently just have jQuery in it. I also have a few other frameworks that I was wondering if they could go in the vendor bundle, such as Materialize CSS, Isotope , GSAP.
Right now in my index.js im just importing the things I need.

import '../css/main.scss';
import Materiali

[2018-05-03 23:33] augbog commented on #6915
Also hit this issue FYI to people who might be using SVG loaders and loading the same svg file with different svg-loaders.

[2018-05-04 00:30] jordwest opened #7194 "Module order issue introduced in 3.11"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

Webpack 3.11 appears to bundle modules in a different order compared to 3.10. When bundling CSS with webpack this has impacts on CSS specificity where module import order was relied on.

**If the current behavior is a bug, please provide the steps to reproduce.**

This happens in a large pro

[2018-05-04 02:51] lili21 commented on #6703
@l0gicgate You are using `extract-text-webpack-plugin` which doesn't support webpack@4. as I said before, you should use `mini-css-extract-plugin`.

[2018-05-04 03:44] zengxiaoluan commented on #6994
@nschubach did you solved this problem?

[2018-05-04 04:03] TheLarkInn commented on #7194
If you could reduce this case to an isolated repository using less complexity and webpack-4 and mini-css-extract-plugin, do you think you could verify if this issues still exists?

[2018-05-04 04:28] logan70 commented on #6858
I met this problem too.And I think the errorr was:

[2018-05-04 04:33] logan70 commented on #6858
I met this problem too.And I think the errorr was:
1. You defined a variable named browserConfig but you didnot assign it to `module.exports`,it should be this:
`module.exports=browserConfig`
2.Use `module.exports` instead of `module.export`

[2018-05-04 04:47] #7125 closed

[2018-05-04 04:54] sokra commented on #7186
That's true. Let me explain why and how this could be fixed in lodash-es @jdalton

`chain` imports `wrapperLodash` and creates an object of this wrapper.

The other part is `lodash.default.js` which also imports `wrapperLodash` and adds methods to it's prototype. This is a sideeffect in `lodash.default.js`.

And there is the entrypoint `lodash.js` which imports `chain`, `lodash.default.js` and som

[2018-05-04 05:25] jdalton commented on #7186
Hi @the-spyke!

Chaining isn't really supported with cherry-picking. There's some WIP transforms for `babel-plugin-lodash`, but I'm not really looking to carry it forward. As @sokra mentioned chaining would pull in all of Lodash so something I don't want to encourage.

[2018-05-04 05:33] unional commented on #5754
Actually, the issue still exists in webpack@4. reopening.
I still can't find a way to get the included packages mapped to a manageable path.

[2018-05-04 05:34] sokra commented on #7194
The change you found really looks incorrect. Looks like this was changed accidentally. Could you send a PR including a test case and change this back to index order.

the `module.id` is not available that this point, so that's wrong.

[2018-05-04 05:37] sokra commented on #7194
Note that webpack 4 seem to does it correctly, feel free to copy this part

https://github.com/webpack/webpack/blob/e361ba52d7aadfd2418289a25643a0aebe200ba6/lib/Compilation.js#L973-L975

[2018-05-04 06:07] crazyfx1 commented on #7181
You need to set
`optimization.namedChunks` to `true`, since it's not enabled by default when `mode` is `production`.

[2018-05-04 07:20] mperdeck opened #7197 "webpack keeps asking if I want to install webpack-cli"
**Do you want to request a *feature* or report a *bug*?**

I guess this is a bug

**What is the current behavior?**

I just installed Webpack, using:
npm install -g webpack

I then run webpack from the command line without parameters:
webpack

Each time I do this, it asks me if I want to install the webpack-cli
Would you like to install webpack-cli? (That will run npm install -D webpack-cli) (yes/

[2018-05-04 07:23] #7197 closed, assigned to nobody

[2018-05-04 07:25] TheLarkInn commented on #7142
@PlayMa256 Have you tried removing the context property?

[2018-05-04 07:26] TheLarkInn commented on #7167
@ev1stensberg can you please reference PR # for this issue so they are linked together?

[2018-05-04 07:29] TheLarkInn commented on #7130
@mstarets You could start by looking at the `ImportParserPlugin.js` and then also the `AMDParserPlugin` which gives you examples on how webpack listens to Parser hooks as it traverses module ast's and creates Dependency objects on that module.

[2018-05-04 07:31] gkatsanos commented on #7181
Adding

[code]
had no effect.

output:

[code]

[2018-05-04 08:01] sokra commented on #7190
It only works when `optimization.sideEffects: true` is enabled, which is only enabled in `mode: "production"`

[2018-05-04 08:11] ev1stensberg commented on #7167
#377 this PR made the bug, reverted it for now ( sadly )

[2018-05-04 08:12] gkatsanos opened #7199 "All non separate-file sourceMap devtool options break layout when changing CSS from Chrome Dev Tools"
**What is the current behavior?**
When I use anything else besides an external source map file option as a value in the dev option (for example "source-map"),  https://webpack.js.org/configuration/devtool/#development , when I modify a CSS property in my Chrome dev tools inspector, something weird happens: Chrome seems to add dynamically many copies of my rule/file which I modified (and naturally

[2018-05-04 08:13] montogeek commented on #824
@TheLarkInn Do you know if it is possible to get a graph from TS annotations?

[2018-05-04 08:53] the-spyke commented on #7186
Thank you guys for such extensive answers. I haven't got any time yesterday to investigate it by my self, so I've cheated and just posted this issue :)

First of all I want to say about size. I know that `.chain()` will pull in the entire Lodash. But I also know that in my application (~5MB minified uncompressed) even without `.chain()` there is a half of Lodash (saw this in bundle analyzer). So,

[2018-05-04 09:05] philipp-spiess commented on #7185
I'm seeing a similar issue when limiting the max number of chunks to 1 using the following plugin:

[code]

The build will fail with the same error message and enabling verbose mode also shows a stack-trace:

[code]

Setting `maxChunks: 2` will make the script work again (as does no `LimitChunkCountPlugin` setting) but will emit an additional chunk, even when used in combination with a high `minCh

[2018-05-04 09:08] philipp-spiess commented on #7185
Yes! Same stack-trace when I use your example repo, @marcofugaro.

[code]

[2018-05-04 09:09] sokra opened #7200 "Jest issues tracker"
@niieani

* [ ] `afterAll` and `beforeAll` are called even if the test cases are skipped

* [ ] running test suites with all test cases skipped takes very long time

* [ ] `yarn test:integration -t runtime-chunk --watch` on node.js v10.0.0 (windows) causes this:

[code]

* [ ] The WatchDetection suite cause jest crashing in watch mode

Investigation: When running jest in watch mode and running the

[2018-05-04 09:28] evilebottnawi commented on #7199
@gkatsanos can you look on your when you dome multiple css changes, looks like you have duplicate `style` tags with same content

[2018-05-04 09:29] evilebottnawi commented on #7199
@gkatsanos `head` section or place where you put styles

[2018-05-04 09:36] evilebottnawi commented on #7181
@gkatsanos looks you use
[code]

Also for css, right?

[2018-05-04 09:37] pravdomil commented on #7190
hi guys, I have set `mode: "none"` that was the issue, do you consider removing the unused exports even if mode is set to nothing? I have this case:

[code]

[code]

but it fails to run because the `export * from "./server-code"` is still evaluated (even with sideEffects: false)  in `mode: "none"` and that server part fails to build for specific targets

I will update the example so that is more c

[2018-05-04 09:43] gkatsanos commented on #7181
@evilebottnawi .css files are not relevant, for now I just want to name properly the .js files.

[2018-05-04 09:44] gkatsanos commented on #7199
@evilebottnawi  yes, the duplicates are happening after I do the change. the browser is trying to refetch styles and it's adding multiple instances of the style in question.
What exactly would you like to know?

[2018-05-04 09:45] evilebottnawi commented on #7181
@gkatsanos please provide your full webpack configuration

[2018-05-04 09:47] gkatsanos commented on #7181
https://gist.github.com/gkatsanos/00b584f4eb9966a7632b461a6d2adc3f (base)
https://gist.github.com/gkatsanos/92f5e92ee3ef0c74fd67a28445430be0 (PRD)

[2018-05-04 09:49] evilebottnawi commented on #7181
@gkatsanos
Can you add plugin `new webpack.NamedChunksPlugin()` here https://gist.github.com/gkatsanos/92f5e92ee3ef0c74fd67a28445430be0#file-webpack-prd-conf-js-L42

[2018-05-04 09:49] gkatsanos commented on #7181
sorry, posting new configuration :
https://gist.github.com/gkatsanos/7c677f83eb21ad525b76192bbead330a - BASE
https://gist.github.com/gkatsanos/e7316e76e99461dd095a96db019ecfe3 - PRD

[2018-05-04 09:51] gkatsanos commented on #7181
The names now work. I think we can close the issue. What was happening was that some criteria were not met (maxInitialRequests, and the "test") and the files were not created.

[2018-05-04 09:51] #7181 closed

[2018-05-04 09:58] evilebottnawi commented on #7181
@gkatsanos i.e. `optimization.namedChunks` doesn't work, but using plugin works, right?

[2018-05-04 09:59] tgxhx commented on #1949
Hi, I wrote a babel plugin to name dynamic chunk:
[code]

and it will be transformed to
[code]

https://www.npmjs.com/package/babel-plugin-webpack-async-module-name

[2018-05-04 10:06] gkatsanos opened #7203 "splitChunks : none of the options is self-explanatory and documentation is cryptic"
I know this ticket might not conform with the issue creation policy but I will try to compile a list of questions here hoping that they can be addressed (I am willing to make PRs to improve the documentation)

**1. optimization.runtimeChunk**
I guess this makes sense if you have more than one entry points.  In any other case, the appropriate value should be `'false'` , correct?

**2. optimization.

[2018-05-04 10:10] montogeek commented on #7203
@webpack-bot move to webpack/webpack.js.org

[2018-05-04 10:10] #7203 closed

[2018-05-04 10:26] Birdy1234 commented on #7203
How do I remove this so I can see my messages

[2018-05-04 10:28] gkatsanos commented on #7181
I thought this option was obsolete? https://github.com/webpack/webpack.js.org/issues/2103 I didn't find it in the docs.

[2018-05-04 10:37] montogeek commented on #7181
@gkatsanos Or never documented :(

[2018-05-04 10:39] gkatsanos commented on #7181
I dont understand.

If no chunk is created, setting namedModules to true will create a chunk? But whats the purpose if its not done on production mode?

[2018-05-04 11:15] MilosRasic commented on #7182
Makes sense, but I still think there should be a more elegant way to opt out of the defaults.

One way I can think of that wouldn't be a breaking change is a flag, for example `optimization.useDefaultCacheGroups`, that defaults to true. Not a perfect solution but better than passing `defaults: false` and `vendors: false` and `optimization.splitChunks.cacheGroups`

Ideally I'd love to see it as opt

[2018-05-04 11:38] evilebottnawi commented on #7181
@crazyfx1 will be fixed in `webpack@5`, because breaking changes, feel free to SEND PR enable `NamedChunksPlugin` for production and `HashedModuleIdsPlugin` to production.

[2018-05-04 11:41] evilebottnawi commented on #7182
@MilosRasic great idea about `webpack.defaultCacheGroups` :+1: It is not breaking changes, you can send PR

[2018-05-04 11:44] MilosRasic commented on #7182
@evilebottnawi It is because it would only make sense if users had to explicitly spread it into their `optimization.splitChunks.cacheGroups`, which breaks it for current webpack 4 users who don't but rely on the chunks output by the defaults :(

[2018-05-04 11:46] pravdomil opened #7204 "Support nested properties in resolve.mainFields"
## Feature request

http://2ality.com/2017/04/transpiling-dependencies-babel.html#extended-versions-of-pkgesnext

`webpack.config.js`:
[code]

`package.json`:
[code]

**What is the expected behavior?**

nested properties in resolve.mainFields in not supported

**What is motivation or use case for adding/changing the behavior?**

deliver un-transpiled source code for different platforms

**How shou

[2018-05-04 11:50] crazyfx1 commented on #7181
There is no bug in webpack.

In production mode, named modules and named chunks are disabled per default.

What I meant was: If no chunk is created because splitChunks does not pick it up, the namedChunks setting is not relevant. In this case you need to use the namedModules setting to get the named files.

[2018-05-04 11:52] evilebottnawi commented on #7182
But i think code splitting and dev/prod mode is very difference and better to avoid mixed this options.

We should find way to better enable and disable `cacheGroups` without `isDevelopmentEnv ? {} : { //Splitting }` construction.

[2018-05-04 11:54] #7185 closed

[2018-05-04 11:55] evilebottnawi commented on #7182
@MilosRasic
Maybe `splitChunks.modeSwitcher: true` (maybe better name)? If `modeSwitcher` enable `cacheGroups` for production and disable for development. \

[2018-05-04 11:58] MilosRasic commented on #7182
@evilebottnawi I suggested `optimization.useDefaultCacheGroups` but it could also be `optimization.splitChunk.useDefaultCacheGroups`

tbh, I find it a bit confusing that there's `optimization.splitChunks` with a bunch of properties but `optimization.runtimeChunk` is not part of it.

[2018-05-04 12:33] gkatsanos commented on #7181
@crazyfx1 can you point me to the documentation of these two settings?
I admit I am more confused now than I was when I got here :)

[2018-05-04 12:44] evilebottnawi commented on #7181
`NamedChunksPlugin` and `HashedModuleIdsPlugin` should be used in production for long term caching

[2018-05-04 13:15] crazyfx1 commented on #7181
It's not in the documentation yet I think. But this article has some description.
https://medium.com/webpack/webpack-4-mode-and-optimization-5423a6bc597a

[2018-05-04 13:39] Octavector opened #7205 "Cannot read property 'compilation' of undefined | ProvidePlugin.js"
I'm in the process of updating the workflow of a website which is _currently_ dependant on jQuery (a number of slider plugins require it etc.).

This workflow uses Gulp and Webpack-stream to bundle(Webpack) and then move(Gulp) the files to another destination.

Everything works fine until I tried to implement JQuery. I have tried a number of methods but the most promising looked to be the ProvideP

[2018-05-04 14:04] philipp-spiess opened #7207 "Limiting max chunks together with CSS chunks will throw"
# Bug report

**What is the current behavior?**

Webpack throws the following error when the `MiniCssExtractPlugin` together with the following configuration:

[code]

[code]

Initially I thought that this would also be fixed by https://github.com/webpack/webpack/issues/7185 since the stack trace was similar but the issue is still present after the 4.7.0 release.

**If the current behavior is a bu

[2018-05-04 15:25] gkatsanos commented on #3165
https://github.com/webpack/webpack/issues

[2018-05-04 15:33] UiCandy opened #7208 "[Documentation] Css-Bundle examples are broken in the docs"
Following the examples on the readme I found the documentation & the respective directory `/css-bundle` for the following links is broken:
#### CSS Bundle
- css-bundle
- multiple-entry-points-commons-chunk-css-bundle

It would help if we could remove the links for greater clarity or even better, someone can push the required files, as I'm sure the multiple-entry-points example will be a good sprin

[2018-05-04 15:37] KangZiRu commented on #7167
Sorry for the late reply.  I upgraded to  `webpack-cli@2.1.2` and now it works as charm.

[2018-05-04 15:45] nschubach commented on #6994
@zengxiaoluan : yeah

[2018-05-04 15:47] Octavector commented on #7205
UPDATE: To rule out any Gulp related issues from what appeared to be a Webpack problem, I made some amendments to my webpack.config.js and ran webpack directly:

**webpack.config.js**
[code]

This succeeded, and JQuery appeared to be bundled correctly.
Knowing this, I removed webpack-stream and used [gulp-shell](https://www.npmjs.com/package/gulp-shell) to simply run the webpack script directly.

[2018-05-04 16:15] #7167 closed

[2018-05-04 16:49] evilebottnawi commented on #7208
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-04 16:49] #7208 closed

[2018-05-04 17:06] ooflorent commented on #6486
I implemented a flag to disable `import` hooks in a recent PR.
Does #7034 fit to your needs?

[2018-05-04 18:35] phiphou commented on #6703
@l0gicgate As @lili21 said, the issue is not related to Webpack but to `extract-text-webpack-plugin`, it's not  a bug from Webpack.

There is nothing to fix here, but in the `extract-text-webpack-plugin`.

Create an issue there and close this one if you don't really want to use the new  `mini-css-extract-plugin` (for some reasons I don't understand)

[2018-05-05 00:33] philippkuehn commented on #6767
I can also confirm that.

webpack 3: 4 sec. HMR
webpack 4: 10-20 sec. HMR

(node 8.9.4)

[2018-05-05 04:54] TheLarkInn commented on #7094
@brycehill are you saying that unused CSS which causes the development mode to look different from production mode is getting treeshaken?

[2018-05-05 07:15] phaistonian commented on #7025
Can *this* be used for node apps too －  so that a `require` directive will be *allowed* to be handled by node (runtime) instead of webpack taking over and including the required code to the bundle?

[2018-05-05 16:45] 171563857 commented on #7142
![_20180506003805](https://user-images.githubusercontent.com/22027896/39665380-c36167d2-50c5-11e8-8451-c7a69f2d2787.png)
it's my project file structure
i run "webpack" in /ROOT and not have webpack.config.js in there
so happen this error that i think
i don't know if it's right ?
i use "vue-cli" and it provide some packing methods,so doesn't need to use "webpack "

[2018-05-05 21:43] byzyk commented on #7176
@aj-r tried to fix that in #7184. Would you be able to check if it works for your case?

[2018-05-05 21:45] aj-r commented on #7176
@byzyk looks good from my perspective :)

[2018-05-06 09:50] jinxin479 commented on #7175
I have create a github repo  [](https://github.com/jinxin479/webpack-repo) .

[2018-05-06 09:51] jinxin479 commented on #7175
I have create a github repo .[webpack-repo](https://github.com/jinxin479/webpack-repo)

[2018-05-06 10:54] glebmachine commented on #6985
I found that, i'm unable to use webpack2/3 bundled scripts together with webpack 4 project, because they replace window["webpackJsonp"] array with function and brokes things down.

That's so frustrating me now. I can't control third party webpack version...

[2018-05-06 11:59] webfrontzhifei opened #7211 "what does the file 'webpack.web.js' in the lib folder for?"
In the package.json, I find a this mapping '"web": "lib/webpack.web.js"', but i have not found anyone else use this file, so i want to the the usage scenarios of that file. Thank you all!

[2018-05-06 12:19] evilebottnawi commented on #3113
Closing due to inactivity. Also `webpack@2` is deprecated. Thanks!

[2018-05-06 12:19] #3113 closed

[2018-05-06 13:06] evilebottnawi commented on #1343
@gcao @nico-onmap problem still exists? Can you test this with `webpack@4`?

[2018-05-06 13:07] glebmachine commented on #6985
@sokra Is it possible to move from `webpackJsonp` to `MODERN_WEBPACK_webpackJsonp` or something like this (to keeps backward compatibility?)

[2018-05-06 13:08] evilebottnawi commented on #3132
Closing due to inactivity. Also `System.imports` is deprecated. Thanks!

[2018-05-06 13:08] #3132 closed

[2018-05-06 13:09] evilebottnawi commented on #6177
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 13:09] #6177 closed

[2018-05-06 13:13] evilebottnawi commented on #6628
Thanks everyone, release https://github.com/webpack-contrib/webpack-command

[2018-05-06 13:13] #6628 closed

[2018-05-06 13:14] glebmachine commented on #6985
I'm found `output.jsonpFunction`

[2018-05-06 13:14] evilebottnawi commented on #3365
Closing due to inactivity. Please test with latest webpack version and feel free to reopen if still regressions. Thanks!

[2018-05-06 13:14] #3365 closed

[2018-05-06 13:25] evilebottnawi commented on #2157
Thanks everyone, we have a lot of difference issues here, it is hard to track and resolve their. When you have very very very big project you really need to increase node memory (i.e. `node --max_old_space_size=4096`). Also some loaders/plugins can have memory leak.

If you faced with `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`:
1. Try to update all deps to

[2018-05-06 13:25] #2157 closed

[2018-05-06 13:35] evilebottnawi commented on #3160
Closing due to inactivity. Please test with latest webpack version and feel free to reopen if still regressions. Thanks!

[2018-05-06 13:35] #3160 closed

[2018-05-06 13:41] evilebottnawi commented on #6190
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 13:41] #6190 closed

[2018-05-06 13:48] evilebottnawi commented on #6318
Closing due to inactivity. Please test with latest webpack and webpack-dev-server version and feel free to reopen if still regressions. Thanks!

[2018-05-06 13:48] #6318 closed

[2018-05-06 14:17] evilebottnawi commented on #5704
@webpack-bot move to `webpack/webpack-cli`

[2018-05-06 14:17] #5704 closed

[2018-05-06 14:35] evilebottnawi commented on #5519
Closing due to inactivity. Also webpack@4 have other splitting mechanics https://webpack.js.org/plugins/split-chunks-plugin/. Thanks!

[2018-05-06 14:35] #5519 closed

[2018-05-06 14:37] evilebottnawi commented on #5710
@josemaia problem still exists with webpack@3 or webpack@4?

[2018-05-06 14:38] evilebottnawi commented on #5647
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 14:38] #5647 closed

[2018-05-06 14:41] igordata opened #7212 "TypeError: Cannot read property 'call' of undefined"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
Uncatched error pops up if some resource is not found in array.

`try` block have no `catch` block, only finally. That leads to interruption of execution of webpack client-side script.

**If the current behavior is a bug, please provide the steps to reproduce.**
Honestly, I don't know how to reproduc

[2018-05-06 15:04] evilebottnawi commented on #6325
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 15:04] #6325 closed

[2018-05-06 15:13] evilebottnawi commented on #6131
Not related to `webpack`. Looks problem in `babel-minify` and/or `babel-minify-webpack-plugin` https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68. Thanks!

[2018-05-06 15:13] #6131 closed

[2018-05-06 15:29] evilebottnawi commented on #4837
Problem still exists with latest webpack?

[2018-05-06 15:33] evilebottnawi commented on #6266
Close in favor https://github.com/webpack/webpack/issues/3957

[2018-05-06 15:33] #6266 closed

[2018-05-06 15:40] evilebottnawi commented on #6623
@marnusw can you provide systems/node/webpack version where problem happens?

[2018-05-06 16:00] evilebottnawi commented on #5590
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-06 16:00] #5590 closed

[2018-05-06 16:01] evilebottnawi commented on #4894
@maciej-gurban Problem still exists? can you try with latest webpack (i.e. 4)?

[2018-05-06 16:03] evilebottnawi commented on #7009
@vladtar https://github.com/webpack/webpack/issues/7009#issuecomment-380186453 help you?

[2018-05-06 16:27] evilebottnawi commented on #6849
@joshunger duplicate https://github.com/webpack/webpack/pull/6395?

[2018-05-06 16:33] evilebottnawi commented on #5876
@dmastag problem still exists? Can you try this with `webpack@4`?

[2018-05-06 16:42] igordata commented on #7212
Updated description. Problem persists in 4.7 https://github.com/webpack/webpack/blob/v4.7.0/lib/MainTemplate.js#L200

[2018-05-06 16:59] evilebottnawi commented on #6438
@JustinBeckwith problem still exists? Can you test with latest webpack version? Also please provide full repository. Can reproducie using your gist

[2018-05-06 17:26] evilebottnawi commented on #4234
@webpack-bot move to webpack-contrib/worker-loader

[2018-05-06 17:26] #4234 closed

[2018-05-06 17:30] evilebottnawi commented on #4557
Don't reproducible for `webpack@3` and `webpack@4`.
@madeinfree can you create minimum reproducible test repo?

[2018-05-06 17:32] evilebottnawi commented on #4835
@drcmda problem still exists?

[2018-05-06 17:58] evilebottnawi commented on #6464
webpack@4 also have this problem

[2018-05-06 17:59] evilebottnawi commented on #6464
/cc @sokra

[2018-05-06 18:33] evilebottnawi commented on #672
Please use `contenthash` instead `hash` and `chunkhash` (for `output.filename` and `output.chunkFilename`). Ref https://github.com/webpack/webpack.js.org/issues/2096.

Also don't use `ETWP` for extract styles for `webpack@4` use instead https://github.com/webpack-contrib/mini-css-extract-plugin/. Also use `contenthash` for options https://github.com/webpack-contrib/mini-css-extract-plugin/#long-te

[2018-05-06 18:33] #672 closed

[2018-05-06 18:41] felixmosh commented on #6525
Why it can't remain as it was implemented in Webpack 3?
[code]

[2018-05-06 18:45] evilebottnawi commented on #1256
Looks problem solve for `webpack@3` and `webpack@4`. Right?

[2018-05-06 18:56] evilebottnawi commented on #7211
For run webpack in browser, also please don't remove issue template in future.

[2018-05-06 18:56] #7211 closed

[2018-05-06 19:23] r-tock opened #7213 "_newArrowCheck failing for webpack 4.6.0 and above"
# Bug report

**What is the current behavior?**
In webpack 4.5.0  a global arrow function generates the following code gen

Original code
[code]

Generated code 4.5.0 and below;
[code]

In webpack 4.6.0 and above the same thing generated
[code]

And the newArrowCheck fails. This seem to be happening for global functions under Both safari 11 and Chrome 66. So I am thinking this is a webpack bug.

*

[2018-05-06 19:33] evilebottnawi commented on #6909
@samccone looks like all done and we can close issue

[2018-05-06 19:41] developit commented on #6525
@felixmosh Top-level `this` doesn't work in Modules:

https://jsfiddle.net/4ogrk3b0/3/show/

[2018-05-06 20:01] kamleshchandnani opened #7214 "Example - side-effects"
# Bug report

**What is the current behavior?**
The `output.js` in this [link](https://github.com/webpack/webpack/blob/master/examples/side-effects/README.md) has some discrepancies.

**What is the expected behavior?**
Ideally for `big-file-with-flag` only `a.js` and `b.js` should be present in the `output.js` but currently `c.js` is present as well.

**Other relevant information:**
webpack versio

[2018-05-06 21:02] mmiller42 commented on #4638
Let's say that my app has a "core" which contains some application framework source code and one or more "sites." When the page is rendered, the core bundle is always loaded, then one of the "site" bundles.

If a module is imported by core, it should stay in the core chunk. If a module is imported in both a core and at least one site, it also should be added to the core chunk so the site doesn't h

[2018-05-06 21:27] felixmosh commented on #6525
Ha, thank you for the explanation.

[2018-05-06 22:51] drcmda commented on #4835
@evilebottnawi I think either babel 7 or webpack 4 fixed it.

[2018-05-06 22:51] #4835 closed

[2018-05-07 02:08] noahgrant opened #7217 "splitChunks.chunks option is too limited"
## Feature request

Please feel free to close if I've missed something, but after spending a couple days trying to upgrade to webpack 4 (`CommonsChunkPlugin` -> `optimization.splitChunks`), it seems like while we've gotten a lot of great additional behavior, we've also lost a really important one: I can no longer specify which chunks I want to contribute to the splits.

With `CommonsChunkPlugin`,

[2018-05-07 02:32] dangh opened #7218 "webpack doesn't eliminate module required under false condition"
Related issue: https://github.com/mishoo/UglifyJS2/issues/3110

# Bug report

**What is the current behavior?**

webpack include dev module in production bundle.

**If the current behavior is a bug, please provide the steps to reproduce.**

Re-pro: https://github.com/dangh/test-webpack-treeshaking

The `dev.js` is included in the bundle with the following code:

[code]

But not this one:

[code]

[2018-05-07 02:55] aapoalas commented on #6486
@ooflorent Your PR at least implements the feature that I wanted / needed, that is disabling import hooks and allowing native ESM dynamic import usage. Great stuff!

[2018-05-07 03:05] webfrontzhifei commented on #7211
thank you

[2018-05-07 03:29] bengrunfeld commented on #6460
Just to clarify for all those a little who need a little extra explanation (I fall into that camp).

    webpack --mode development

**webpack.config.js**

    module.exports = (env, argv) => {
      console.log(argv.mode)        // outputs development
      return {
        // All your other custom config...
      }
    }

[2018-05-07 05:44] maciej-gurban commented on #4638
You could use Yarn workspaces and a package.json each `site`. Doing yarn
install would then resolve the dependencies the way you'd expect. Your
webpack config and imports would remain unchanged

On Mon, May 7, 2018, 00:02 Matt Miller <notifications@github.com> wrote:

[2018-05-07 05:57] mlrsoft commented on #6916
@tanguy29
Hi, is there typo's in the cacheGroups definition or is there some special extra processing going on?
Im asking because the value of the property names 'AB' and 'CD' on the cacheGroups object is duplicated, which normally result in the last entry taking precedence and the other being ignored.
eg.
[code]
is being overwritten by the next entry with same property name.
[code]
so
[code]
woul

[2018-05-07 06:03] mlrsoft commented on #6916
@tanguy29
Hi, is there typo's in the cacheGroups definition or is there some special extra processing going on?
Im asking because the value of the property names 'AB' and 'CD' on the cacheGroups object is duplicated, which normally result in the last entry taking precedence and the first being ignored.
eg.
[code]
is being overwritten by the next entry with same property name.
[code]
so
[code]
woul

[2018-05-07 08:53] UiCandy opened #7222 "[Documentation] Css-Bundle examples are broken in the docs"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The documentation & the respective directory `/css-bundle` for the following links is broken
##### CSS Bundle
- css-bundle
- multiple-entry-points-commons-chunk-css-bundle

**If the current behavior is a bug, please provide the steps to reproduce.**
Just follow the examples on the main readme file and

[2018-05-07 09:39] evilebottnawi commented on #7222
@UiCandy where documentation broken?

[2018-05-07 09:39] evilebottnawi commented on #4557
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-07 09:39] #4557 closed

[2018-05-07 09:41] evilebottnawi commented on #6486
/cc @JoshuaKGoldberg https://github.com/webpack/webpack/issues/6486#issuecomment-386665470

[2018-05-07 10:43] chenyiqi opened #7224 "ERROR in v20180507182839/js/main.ca1d7fad.js from UglifyJs"
new webpack.optimize.UglifyJsPlugin({
        // 压缩文件
        compress: {
            warnings: false,
            drop_console: true,
            drop_debugger: true
        }
    })

![image](https://user-images.githubusercontent.com/3357208/39698198-70ffd1ec-5226-11e8-8fc2-3bb650668de5.png)

# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the

[2018-05-07 10:45] evilebottnawi commented on #7224
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-07 10:45] #7224 closed

[2018-05-07 10:46] marnusw commented on #6623
@evilebottnawi I must admit have completely forgotten about this issue. I eventually upgraded from v3.10 to v4 and haven't noticed this issue since. If this has not been reported by anyone else I'd be happy to just close this issue. Thanks for the reply though!

[2018-05-07 10:47] #6623 closed

[2018-05-07 11:14] montogeek commented on #7222
@evilebottnawi Here https://github.com/webpack/webpack/tree/master/examples#css-bundle
I haven't tested but half of those links don't work, a lot of examples were deleted when CommonChunkPlugins were refactored.

[2018-05-07 11:16] evilebottnawi commented on #7222
@montogeek yep, we need delete broken examples, maybe fix other

[2018-05-07 12:05] JoshuaKGoldberg commented on #6486
What if you want some (most) imports to use the normal logic and hooks, but an occasional whitelist to not? I do. The new PR looks great but I don't think completely fills the gap.

[2018-05-07 12:28] evilebottnawi commented on #6486
/cc @ooflorent

[2018-05-07 12:51] ooflorent commented on #6486
@JoshuaKGoldberg I'm afraid your use-case might be too _specific_. You have multiple options:

1. Since 4.7.0 you could use `/* webpackIgnore: true */` to prevent the processing of an `import` call
2. Wrapping a `require` call by a `try/catch` also it to _fail_. Maybe it also works use `await import` in a `try/catch` block (I haven't tried). If not, you could submit a PR since the logic for `requi

[2018-05-07 13:39] edmorley commented on #7190
@sokra, it seems that there are quite a few cases of user confusion over `mode: 'none'`. Has it been considered to remove support for it in webpack 5, and make `mode` mandatory at all times? (Or at least make the default be `production` rather than `none`?)

[2018-05-07 13:43] r-tock commented on #7213
Both tests were done with optimize: false and mode: 'development'

[2018-05-07 15:31] sokra commented on #7213
cc @ooflorent

[2018-05-07 15:34] sokra commented on #7190
The default is `production`. You have explicitly add `mode: "none"` to the configuration and the documentation tells you to not do that.

[2018-05-07 15:34] #7190 closed

[2018-05-07 15:41] enscope commented on #7205
@Octavector It would be very nice of you to add that replacement configuration of yours to serve as a temporary override for others (myself included) until it is properly fixed by the team.

[2018-05-07 15:50] brycehill commented on #7094
@TheLarkInn That's what I thought was happening at first.

However, if you take a look at my example [repo](https://github.com/brycehill/webpack-css-order), none of the CSS is eliminated, **but** setting `sideEffects: true` fixes the problem. To reiterate from my previous comment:

[2018-05-07 16:37] grgur opened #7226 "Optionally include plugins in config via ternary operator"
## Feature request

I would find it useful to be able to optionally pass plugins to a configuration.

**What is the expected behavior?**
A quick way to turn plugins on or off based on ternary operator.

**What is motivation or use case for adding/changing the behavior?**
I'm too lazy to create new modes and combinations of modes for specific environmental configurations (e.g. specific CI situation

[2018-05-07 16:45] evilebottnawi commented on #7226
@grgur why not
[code]

[2018-05-07 17:33] Pushplaybang commented on #1468
@kaankucukx  - ok, will try that out. thanks.

[2018-05-07 20:11] grgur commented on #7226
@evilebottnawi good thinking. This goes to my point that organizing plugins based on `modes` would be clean and maintainable. However, it's often the case that we need to turn things on and off based on finer criteria, or even temporary (e.g. debugging a CI failure, tweaking a specific environment setup, or similar).

This can obviously be achieved as such:
[code]

... but that just doesn't feel r

[2018-05-07 20:13] evilebottnawi commented on #7226
@grgur you can create noop plugin with empty apply :smile:

[2018-05-07 20:14] sokra commented on #7226
also possible:

[code]

This can be solved on user level and don't need special handling in webpack

[2018-05-07 20:14] #7226 closed

[2018-05-07 20:34] Robin-Law opened #7228 "4.8.0 install hangs on Node 6/NPM 3 on Windows"
# Bug report

**What is the current behavior?**
With the 4.8.0 release of webpack, we are seeing builds timeout on our CI server (VSTS) during `npm install -g webpack`. This also happens on a local machine running the same version of node/npm. 4.7.0 and 4.6.0 install without issue.

**If the current behavior is a bug, please provide the steps to reproduce.**

Steps to reproduce:
1. Use node 6.9.1

[2018-05-07 20:36] Robin-Law commented on #7228
The logs around the time of the hang:

[code]

[2018-05-07 20:38] tstewart15 commented on #7228
I was about to file a bug report as well. Only difference in my case is that I'm using node v7.x.x and npm v4.2.0.

[2018-05-07 20:56] sokra commented on #7228
@xtuc Is there anything special with your packages?

[2018-05-07 21:07] xtuc commented on #7228
We have some cyclic depency issues,  I doubt it causes this.

[2018-05-07 21:08] xtuc commented on #7228
Webpack also uses a Windows based CI, right?

[2018-05-07 21:10] sokra commented on #7228
yep, but we use yarn to install

[2018-05-07 21:49] mtraynham opened #7229 "Ramifications of Webassembly GPLv2 license?"
I tried a simple upgrade to Webpack 4.8 and my license checker found the new Webpack version has pulled in the WebassemblyJS code which is [licensed under GPLv2](https://github.com/xtuc/webassemblyjs/blob/master/LICENCE).  I'm not a lawyer or anything, but is this safe to use?

Seems like it requires all code using this library to be licensed under GPLv2 as well, but as I said, I'm not a lawyer, s

[2018-05-07 23:08] SEAPUNK commented on #6845
Why is this planned for webpack 5? Can't this land in webpack 4 as a feature request? I don't see how any of this would be a breaking change, this is primarily a non-breaking feature (or even a bugfix).

[2018-05-08 00:20] lencioni opened #7230 "Webpack 4 splitChunks causes reused chunks to not be executed"
# Bug report

I am working in a complicated app that has a bunch of bundles on every page. Most of these are "global" bundles and appear on every page. So, I have configured webpack to prevent any modules that appear in these bundles from appearing in any other bundle via splitChunks. More context on this here: https://stackoverflow.com/questions/49163684/how-to-configure-webpack-4-to-prevent-chun

[2018-05-08 01:30] vladtar commented on #7009
Yes, ty. Specifying the dependencies explicitly wasn't too much work and definitely the correct thing to do. All set.

[2018-05-08 01:30] #7009 closed

[2018-05-08 04:45] mohsen1 commented on #7229
@sokra @TheLarkInn this is important

[2018-05-08 05:02] zD98 commented on #6929
hi...maybe there are some conflicts between `webpack's cache` and `other webpack plugin/loader's cache `
In webpack4 config file, i set `'cache':true` and comment `cache-loader` and `cache option of the babel-loader`，then the node don't crash.
So try it.

[2018-05-08 06:03] xtuc commented on #7229
What's the correct license to use? MIT?

[2018-05-08 06:54] ooflorent commented on #7212
The lack of `catch` block is intentional. If you need to catch the error you must wrap your `require` call by `try/catch`.

[2018-05-08 06:57] ooflorent commented on #7151
@webpack-bot move to webpack/webpack.js.org

[2018-05-08 06:57] #7151 closed

[2018-05-08 07:47] sokra commented on #7228
I tried with node.js 6.14.1 and npm 3.10.10 on Windows 10 and it worked fine.

I also tried with node.js 6.9.1 and npm 3.10.8 and it also worked.

[2018-05-08 08:03] valvic66 opened #7233 "Dot starting folders not matching in require.context result regex"
# Bug report

We are working on a project built with lerna and storybook.
One of the folders we are trying to match in require.context starts with dot: .stories
We have folders like this in the root folder:
packages/name1/src/.stories/one.js
packages/name2/src/.stories/two.js
packages/name3/src/.stories/three.js

**What is the current behavior?**
The below is not matching and is returning an empty

[2018-05-08 08:09] sokra commented on #7233
They are intentionally excluded. Rename them.

[2018-05-08 08:13] sokra commented on #7229
MIT would be great

[2018-05-08 08:15] sokra commented on #7229
@mtraynham I'm not a lawyer, but I guess it safe to use this as long you don't ship these code within your application (which webpack doesn't do).

[2018-05-08 08:37] UiCandy commented on #7222
I'll go through the links later today and send a PR truncating all the broken links : )

[2018-05-08 08:37] valvic66 commented on #7233
Thanks a lot for your quick reply.

[2018-05-08 09:38] mnieber opened #7234 "Webpack 4 'loader' docs should explain difference between 'query' and 'options'"
Hi, the Webpack 4 documentation states that loader options can be set via `options` or `query`, but doesn't explain how to choose between them (e.g. can you just use either one? or does the choice depend on the option that you are trying to set?). Since these 2 choices are in different bullet points, I get the impression that they are not aliases for the same thing.

[2018-05-08 09:43] montogeek commented on #7234
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2018-05-08 09:43] #7234 closed

[2018-05-08 09:43] montogeek commented on #7234
Documentation says https://webpack.js.org/configuration/module/#rule-options-rule-query:

`.query` exists for backward compatibility reasons, nothing more. We encourage to use the new way `.options`.

[2018-05-08 09:54] evilebottnawi commented on #7233
@valvic66 can we close issue?

[2018-05-08 09:57] #6849 closed

[2018-05-08 09:58] evilebottnawi commented on #7228
Looks like something invalid with node installation and/or npm, or other os environment problems
@xtuc maybe more information about os will help solve problem/detect.

1. What is windows and version (example as here https://www.lifewire.com/windows-version-numbers-2625171)?

2. Also try to run `npm doctor`.

3. Try to install https://github.com/coreybutler/nvm-windows and switch to node/npm versio

[2018-05-08 10:05] budarin opened #7235 "Webpack does'n lift common code up to ansector's level"
# Bug report

**What is the current behavior?**
After compiling the project many bundles have common code

**If the current behavior is a bug, please provide the steps to reproduce.**
here is my config:
[code]

**What is the expected behavior?**
in case of switchin new behavior in wp4 off - webpack should lift all common code on to one level upper in whole bundles hierarchy:
for an example:
(all p

[2018-05-08 10:14] igordata commented on #7212
Without `catch` block an error breaks through

**Examples**

withCatch.js
[code]
output
[code]

withoutCatch.js
[code]

output

[code]

The second example ends up with an error and no "Successful end" in output.

[2018-05-08 10:33] valvic66 commented on #7233
Yes pls. We have already changed the name of the folders. Thanks a lot.

[2018-05-08 10:33] #7233 closed

[2018-05-08 11:16] beatlecz commented on #6994
Same to me. I've just upgraded my webpack to latest version and I got this error

[2018-05-08 11:32] montogeek commented on #6994
Please try to run `npm install` or `yarn install` again.

[2018-05-08 11:44] iamakulov commented on #6075
@Maximaximum Better make a new issue – the comment won’t be noticed here.

(Also: does this affect webpack or UglifyJS’ default settings?)

[2018-05-08 11:49] beatlecz commented on #6994
`C:\my_project\node_modules\webpack-cli\bin\webpack.js:243
                                throw err;
                                ^

Error: Cannot find module 'webpack/lib/removeAndDo'
...`

When I see into source of webpack/lib I don't see the module. So maybe webpack-cli has wrong reference?

[2018-05-08 11:57] beatlecz commented on #6994
It seems like the file has been removed from version 4.x.x+

[2018-05-08 12:11] mtraynham commented on #7229
Gotcha.  I'm just a bit uneasy about the copyleft aspect of GPL and exactly what a derivation means.  It would be great to stick to a permissive free license, such as MIT, Apache or BSD, which doesn't have a copyleft aspect to it.

[2018-05-08 12:57] sokra commented on #7235
remove `optimization.splitChunks.cacheGroups.default: false`. This disables the deduplication of common code. Moving common code to the parent doesn't make sense, because defeats the propose of Code Splitting.

[2018-05-08 12:59] sokra commented on #7228
Using webpack on node.js 6 is not recommended anyway, as it's super slow... Upgrade your node.js installation.

[2018-05-08 13:07] josemaia commented on #5710
Unfortunately I am not in a position to check easily. Feel free to close the issue if you cannot reproduce.

[2018-05-08 13:12] budarin commented on #7235
Why it doesn't make sense??
PageA, PageB & PageC have some shared code and if it's lifted up to Page1 - it's the same as standalone async chunk but without additional request to the server.

[2018-05-08 13:13] evilebottnawi commented on #5710
@josemaia feel free to reopen/create new issue/feedback if problem happens again. Thanks!

[2018-05-08 13:13] #5710 closed

[2018-05-08 13:42] igordata commented on #7212
Finally I updated description according template. :D

[2018-05-08 14:46] TheLarkInn commented on #7229
MIT would definitely be the desired decision. Is this within our control or
from a third party package?

Sean

On Tue, May 8, 2018, 7:11 AM Matt Traynham <notifications@github.com> wrote:

[2018-05-08 14:50] Dinfyru commented on #7212
+1

[2018-05-08 14:50] montogeek commented on #7229
@TheLarkInn 3rd https://github.com/xtuc/webassemblyjs/blob/master/LICENCE

[2018-05-08 14:57] xtuc commented on #7229
It's me, I'll change it.

[2018-05-08 15:00] florian-bd opened #7237 "dynamic publicPath for SourceMapDevToolPlugin"
## Feature request

**What is the expected behavior?**
Define a dynamic publicPath for sourceMaps

**What is motivation or use case for adding/changing the behavior?**
Having different enviromnents when deploying the code makes it impossible to have statically defined sourceMaps publicPath

**How should this be implemented in your opinion?**
Provide a global variable like ``` __webpack_public_path

[2018-05-08 15:11] odedniv opened #7238 "requiring a missing module throws a different error message than native"
# Bug report

The pattern thrown by exceptions is important when attempting to ensure we catch the exception we expect to catch.

**What is the current behavior?**

[code]

throws: `Cannot find module "missing-module".` (with double quotes and period)

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Should throw: `Cannot fin

[2018-05-08 15:23] vzaidman opened #7239 "circular dependencies are broken using "import().then" or "require.ensure""
# Bug report

**What is the current behavior?**
importing between circular deps is broken with the error:
`Uncaught TypeError: __webpack_require__.e is not a function`

**If the current behavior is a bug, please provide the steps to reproduce.**
cross import a dependency dynamically:
[code]

here is a repo:
https://github.com/vzaidman/webpack-circulars-test

notice the different branches that prov

[2018-05-08 15:25] lencioni commented on #7230
I've gotten this to behave slightly better by adding this to my chunkGroup test:

[code]

but it still doesn't work as expected.

[2018-05-08 15:29] lencioni commented on #7230
This seems to maybe be happening intentionally here: https://github.com/webpack/webpack/blob/2986ab1a18e895ac3f2546ac0c70bf73c0fdb679/lib/optimize/SplitChunksPlugin.js#L559-L565

However it isn't clear to me from the code or the commit message (added by https://github.com/webpack/webpack/commit/18ae73dad4bb761593a9f5529a182601e1b57520) why this behavior exists.

[2018-05-08 15:43] tstewart15 commented on #7228
My issue has been resolved, perhaps related to 4.8.1 release; webpack v4.8.1 was successfully updated to (from v4.7.0) using `npm up`, npm v4.2.0, node v7.9.0

[2018-05-08 15:49] #7142 closed

[2018-05-08 15:50] SebastianS90 commented on #5158
I don't have that problem any more with latest `vue-loader`, as the options are no longer passed as query string.

[2018-05-08 15:50] #5158 closed

[2018-05-08 15:57] evilebottnawi commented on #7228
Looks like we can close issue with recommendation to upgrade `4.8.1` node. ~~Maybe something broken in `node` and/or npm (or together)~~ https://github.com/npm/npm/issues/13722. We can't do anything in webpack with this, sorry. Thanks everyone! Feel free to feedback.

[2018-05-08 15:57] #7228 closed

[2018-05-08 16:08] johnsanthosh commented on #6586
ORIGIN_DESTINATION_DATA contains "src/data/origin_destination.json" string  rather than the actual json content.  I'm not able to figure out what is wrong.

`const ORIGIN_DESTINATION_DATA = require('../.././data/./origin_destination.json');`

_Webpack config_ :

`var webpack = require('webpack');
var path = require('path');

const flaskApp = path.join(__dirname, '../', 'airsage');

module.exports

[2018-05-08 16:14] jamiebuilds opened #7240 "Could Parcel have the @parcel/@parceljs/@parcel-bundler scopes on npm?"
Hi, I contribute to https://parceljs.org

We noticed that the `@parcel/`, `@parceljs/`, and `@parcel-bundler/` npm scopes/usernames are taken by members of the Webpack team.

I sent a message the other day to the team member (@rynclark) who owns `@parcel/` requesting it for ourselves and they refused and then blocked me and other Parcel team members.

Squatting on names like this isn't okay. It's

[2018-05-08 16:40] mtraynham commented on #7229
Thanks guys, much appreciated!

[2018-05-08 16:41] evilebottnawi commented on #7240
/cc @webpack/core-team @contributor-team

Looks like shame, sorry

[2018-05-08 16:49] timdorr commented on #7240
https://www.npmjs.com/settings/parcel/members
https://www.npmjs.com/settings/parceljs/members
https://www.npmjs.com/settings/parcel-bundler/members

Someone with admin access add `thejameskyle` and/or `devongovett` and everything will be 200 OK.

[2018-05-08 16:50] evilebottnawi commented on #7240
I would like to apologize for some members of `webpack` team. It is not possible to learn about what is happening in the minds of some people. I hope for an early solution of the problem.

[2018-05-08 16:50] shellscape commented on #7238
![meme](http://i0.kym-cdn.com/photos/images/original/000/288/186/d7d)

[2018-05-08 16:53] jeremenichelli commented on #7240
I second @evilebottnawi, as part of the webpack documentation team, hope this gets fixed soon.

[2018-05-08 17:00] shellscape commented on #7240
I'm locking this issue as we don't know, nor can we presume to the know the reasoning or motivation behind the conflict. Posting an issue instead of going through a myriad of other available channels to resolve this seems an awful lot like trying to shame the project into action. You could have chosen a better path, and your issue isn't going to do much to lessen the silly polarization and side-ta

[2018-05-08 17:03] Den-dp commented on #7074
I was very surprised that `--mode=production` doesn't set `process.env.NODE_ENV` with value `production` within `webpack.config.js` but only _provides_ this variable for your bundles.

So basically just a replacement for the old fashioned:
[code]

[2018-05-08 17:35] ooflorent commented on #7238
Feel free to send a PR.

[2018-05-08 17:45] ooflorent commented on #7212
@igordata What I am saying is that it is intended that the error is not catch:

- **we want** the exception to be thrown
- **we don't want** the exception to be catch by webpack

If you need to catch it, use a `try/catch` block:

[code]

[2018-05-08 17:48] igordata commented on #7212
Why then do you have this `try` and `finally` blocks and variable `threw` and check of that variable? o_O

[2018-05-08 17:51] TheLarkInn commented on #7240
We do not own this package. I have already spoken with @devongovette about this. We can do our _best_ at the very least and just as we have in the same way in the past, will not make any exceptions and help if we can.

[2018-05-08 18:10] ooflorent commented on #7212
Because `finally` is required to de-reference the module if the `require` call failed.
Considering the following file:

[code]

And this one:

[code]

Thanks to the `finally` statement, webpack forgets about `silly.js` and will try to evaluate this module until it succeeds.

The above example is really naive but we could imagine something more real:

- my app uses a custom profiler that is heavy t

[2018-05-08 18:25] nicolasxu-bg commented on #2297
I am having the same problem

"webpack --watch --progress --hot --mode development "

[2018-05-08 19:15] Maximaximum opened #7246 "Webpack production mode should have uglifyOptions.output.comments = false by default"
## Feature request

**What is the expected behavior?**
I'd expect the webpack bundles to be as small as possible in the production mode. Currently, however, the comments don't get removed from the bundles.

**What is motivation or use case for adding/changing the behavior?**
The very idea of a "production" mode is that the bundles should be as small as possible and load as fast as possible. Removi

[2018-05-08 19:16] Maximaximum commented on #6075
Opened a new issue regarding comments: https://github.com/webpack/webpack/issues/7246

[2018-05-08 19:18] sunny920406 opened #7247 "when I use webpack@4, modifyVars in less-loader can not work"
"webpack": "^4.8.0",
"less-loader": "^4.1.0",
![image](https://user-images.githubusercontent.com/8424604/39777938-8a867ea6-5337-11e8-94ad-6ae24fa3377c.png)
modifyVars: theme this code can not work!

[2018-05-08 19:49] igordata commented on #7212
OK, got it.

The problem is I have no optional dependencies and I don't know what makes this error to appear.
And if I add this `catch` block - everything works fine and I don't see any missing resources. =(

Maybe that's an issue of next.js, or just chunks are assembled in a wrong way...

[2018-05-08 20:41] evilebottnawi commented on #7246
@Maximaximum Expected behavoiour, webpack don't remove legal comment (copyright, licenses and etc), we should respect other developers. You can configure uglify plugin in `minimizer` option and set `comments: false`. Thanks!

[2018-05-08 20:41] #7246 closed

[2018-05-08 23:30] mikedll opened #7248 "Two entry points, nested dynamic imports, and one require.context(...) breaks output"
# Bug report

**What is the current behavior?**

When compiling with two entry points and dynamic import statements, it's possible for webpack to become confused and output calls to `__webpack_require__.e` even though that function will not be defined in the resulting bundle.

This occurs when you have one entry point use a require.context call to load up all of your components in preparation for

[2018-05-09 02:52] mikedll commented on #7248
I devised a workaround for now. I added the following code to my server entry point:
[code]
That allow the code to proceed server-side, and my code splits are being dynamically loaded on the client side.

[2018-05-09 03:25] noahgrant commented on #7235
I would actually second this request—having a vendor file extracted from your code, for example, is nice, but if it's fetched dynamically via webpack, you have to wait for your javascript to download and execute before the vendor file request is made. On the other hand, if you extracted it into a top-level standalone file, you can add it as a `<script>` tag in your html file and benefit from looka

[2018-05-09 05:47] vzaidman commented on #7248
may be related to #7239

[2018-05-09 06:14] ooflorent commented on #7247
@webpack-bot move to webpack-contrib/less-loader

[2018-05-09 06:14] #7247 closed

[2018-05-09 06:42] ooflorent commented on #7212
I'm closing this issue for now. Please open a new one with an example to reproduce the error if the problem is still there.

[2018-05-09 06:42] #7212 closed

[2018-05-09 06:45] ooflorent commented on #711
I'm closing this issue since the problem is not reproducible using webpack 4 and webpack 3 is on maintenance mode.

[2018-05-09 06:45] #711 closed

[2018-05-09 06:51] ooflorent commented on #1977
This is fixed. Since webpack 3, the parser now fully understands ES6 semantics.

[2018-05-09 06:51] #1977 closed

[2018-05-09 06:57] youyouliangshao commented on #5630
I've met the same problem ,has anyone solved it yet?

[2018-05-09 06:59] ooflorent commented on #4751
Fixed by #5387

[2018-05-09 06:59] #4751 closed

[2018-05-09 07:10] ooflorent commented on #5569
This issue is not longer relevant with webpack 4. I'm closing it for this reason. As sokra said, source map support depends on `devtool` value. If you still encounter this issue, please open a new issue on `webpack-cli` repository.

[2018-05-09 07:10] #5569 closed

[2018-05-09 07:14] ooflorent commented on #5888
This is a usage question, and we encourage you to ask it on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2018-05-09 07:14] #5888 closed

[2018-05-09 07:30] ooflorent commented on #6305
@damianobarbati no. If you want tree-shaking on JSON files, don't use `import * as`.

---

According to the original question, the issue is about object destructuring and not object spread. Object destructuring is not supported by the tree-shaking algorithm. To enable tree-shaking you must use named imports:

[code]

[2018-05-09 07:31] ooflorent commented on #6256
`beautify-lint` is gone. Long live `prettier` 🎉

[2018-05-09 07:31] #6256 closed

[2018-05-09 07:45] #7229 closed

[2018-05-09 07:50] #7213 closed

[2018-05-09 07:50] JounQin commented on #6305
@ooflorent But actually it works like following as like in description:

[code]

[2018-05-09 07:53] ooflorent commented on #6305
@JounQin Hmm. I'll try to find out what's going on then.

[2018-05-09 09:17] akx commented on #6977
Adding a single runtime chunk also works around this React problem (copy-pasting for searchability, emphasis mine):

Without a single runtime chunk, Webpack seems to have a multiple maps of loaded modules (within each runtime), so the modules (no matter which chunk might contain them) get initialized several times, which confuses React (I assume it's an issue with `Symbol`s being always-unique or

[2018-05-09 09:17] Strate opened #7250 "webpack4 breaks import() with non-module file, whith expected to return array"
# Bug report

**What is the current behavior?**
`import("resource")` always returns object

**If the current behavior is a bug, please provide the steps to reproduce.**
Just try to do `import("yaml-loader!file.yml")`, which contains array on top level.

**What is the expected behavior?**
`import()` expected to return promise, which resolves to array (as webpack3 do)

**Other relevant information:*

[2018-05-09 10:31] shawtung commented on #5977
@weituotian @FrankFang
这个包不在node_modules里, 会被babel-loader处理, 而且还开了transform-runtime的polyfill (默认开), 如果有Object.assign这类静态方法的话会被以import方式引入polyfill的方法, 所以这个模块就这样莫名其妙变成了esm. webpack 2.2.0之后有很多[限制](https://github.com/webpack/webpack/commit/a7a41848c73f14ff294b48285f42063e1f0de4b1), 其中一条就是module.exports为undefined且只读, 所以会报这个错.

[2018-05-09 15:21] AaronAlphabet opened #7253 "npm audit security report, ---- is this my problem or webpack？ (～ o ～)~zZ"
[code]

[2018-05-09 15:26] AaronAlphabet commented on #7253
d3js in my project can not be used； when i delete node_module , and re-install all dependencies, it can be used again 。。。。

[2018-05-09 16:01] montogeek commented on #7253
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-09 16:01] #7253 closed

[2018-05-09 16:02] isopen commented on #7253
I join this thread.
npm i webpack
[code]
The workaround is written here https://github.com/isopen/ngx-cable/blob/master/out_dir/native_build.help.md

[2018-05-09 16:44] isopen opened #7255 "deep-extend security vulnerability"
# Bug report

**What is the current behavior?**
[code]
<a href="https://nodesecurity.io/advisories/612">https://nodesecurity.io/advisories/612</a>

**If the current behavior is a bug, please provide the steps to reproduce.**
npm i webpack

**What is the expected behavior?**
There should be no errors. Temporarily to correct it is possible so(decision at the end of the document):
https://github.com/

[2018-05-09 16:46] AaronAlphabet opened #7256 "npm audit security report, ---- is this my problem or webpack？ (～ o ～)~zZ"
# Bug report

**What is the current behavior?**

[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**

i do not know ... sorry~~~

**Other relevant information:**
webpack version:  4.8.1
Node.js version:  9.11.1
Operating System: win10
Additional tools: None

[2018-05-09 16:51] AaronAlphabet commented on #7256
d3 in my project is not work ,until i delete all dependencies and re-install

[2018-05-09 16:54] isopen commented on #7256
https://github.com/webpack/webpack/issues/7255

[2018-05-09 17:51] GPavlovic commented on #7082
Could this be due to the json file encoding? I have run into this same error due to my json being encoded with BOM. Changing to just utf-8 solved it for me.

[2018-05-09 19:06] ooflorent commented on #7256
duplicate of #7255

[2018-05-09 19:06] #7256 closed

[2018-05-09 19:46] christiango opened #7258 "Upgrading to Webpack 4.8.0 results in "Error: Cannot find module Debug""
# Bug report

**What is the current behavior?**
Webpack is throwing the error "Cannot: find module debug" as of version 4.8.0.

I attached a node debugger and that module is being required by
@webassemblyjs\ast\1.3.1\node_modules\@webassemblyjs\ast\lib\traverse.js

The relevant line of code is here:
https://github.com/xtuc/webassemblyjs/blob/master/packages/ast/src/traverse.js

Looking at the pack

[2018-05-09 20:01] xtuc commented on #7258
That's correct, the dependency is missing.

Would you mind sending a PR against https://github.com/xtuc/webassemblyjs? I'll release it asap.

[2018-05-09 20:55] mattjbrent opened #7259 "Webpack 4.8.1 [dev] deep-extend security vulnerability"
# Bug report

**What is the current behavior?**
Installing webpack 4.8.1 in [dev] has an outdated dependency of deep-extend with this vulnerability https://snyk.io/vuln/npm:deep-extend:20180409

with the path:

webpack > watchpack > chokidar > fsevents > node-pre-gyp > rc > deep-extend

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

[2018-05-09 22:04] christiango commented on #7258
Sure thing @xtuc , I'll do so later today.

[2018-05-09 22:37] christiango commented on #7258
@xtuc I'm having issues cloning a fork of the repo on windows. I keep getting this error:
fatal: cannot create directory at 'packages/wast-parser/test/tokenizer/number-literals/+nan:0x304050': Invalid argument
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry the checkout with 'git checkout -f HEAD'

Is there someone on webassemblyjs th

[2018-05-09 22:51] isopen commented on #7259
https://github.com/webpack/webpack/issues/7255

[2018-05-09 23:32] GregLevenhagen commented on #7205
I believe this is an issue with [webpack-stream](https://github.com/shama/webpack-stream), since passing in the second argument to it tells _webpack-stream_ to override its built-in version of _webpack_ and use whatever version of _webpack_ you've **required**.

[2018-05-10 02:42] isopen opened #7260 "I tried to install the webpack 4.8.1 from the sources."
# Bug report

I probably do not understand something in this world

**What is the current behavior?**
[code]

**What is the expected behavior?**
We need to do something...If you have a solution, tell me please.
Has helped: npm install express@4.16.3
In general, again you need to edit the package.json and check as many versions as possible.
In some cases, the replacement occurred at the package nam

[2018-05-10 02:52] Rohit-L opened #7261 "[Webpack 4] Percentage in ProgressPlugin is NaN"
# Bug report

**What is the current behavior?**

Prior to webpack 4, when running webpack-cli with `--progress` percentage was shown during the build. After upgrading to webpack 4, the percentage stopped appearing.

**If the current behavior is a bug, please provide the steps to reproduce.**

Run webpack-cli with `--progress`

**What is the expected behavior?**

Percentage should be shown through

[2018-05-10 03:22] Kovensky opened #7262 "Unhandled rejection TypeError: Cannot read property 'modules' of undefined"
# Bug report

**What is the current behavior?**

[code]

As this is an unhandled promise rejection, the build just hangs because it's waiting for the promise to be fulfilled.

**If the current behavior is a bug, please provide the steps to reproduce.**

It seems that adding `AggressiveSplittingPlugin` to my pre-existing config causes this crash whenever a build is done with pre-existing records (`

[2018-05-10 03:50] aleen42 commented on #5964
When testing under Fiefox 40 with Webpack@4.4.1, `onScriptComplete` has marked as undefined and thrown a script error. It seemed wierd.

[2018-05-10 04:32] aleen42 opened #7263 "`onScriptComplete` is not defined under Firefox 40"
# Bug report

**What is the current behavior?**

During bootstrap, `onScriptComplete` has an error script when runing under Firefox 40+

**If the current behavior is a bug, please provide the POC.**

Error script was thrown by the script generated by `lib/web/JsonpMainTemplatePlugin.js`.

I have tested that it did not seem the problem of hoisted, as the following snippet has worked under Firefox 4

[2018-05-10 04:33] aleen42 commented on #7263
Someones has created a PR before, #7210, which resolution seems wrong. And is it necessary to create another PR?

[2018-05-10 05:09] NeekSandhu opened #7264 "Can't find a way to disable WebAssembly parser"
# Bug report

**What is the current behavior?**

WebAssembly parser kicks in even when `module.noParse` is set to `/.wasm$/`

**If the current behavior is a bug, please provide the steps to reproduce.**

Please see this conversation for a deeper context - https://github.com/NeekSandhu/onigasm/issues/2#issuecomment-387949215

[code]

[code]

[code]

After the setup above is compiled, and `grep` is

[2018-05-10 05:19] isopen opened #7265 "yarn test"
# Bug report

**What is the current behavior?**
DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
    at I18nPlugin.apply (../node_modules/i18n-webpack-plugin/dist/index.js:70:16)
    at webpack (../webpack/lib/webpack.js:37:12)
DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead
    at Object.pitch (../webpack/node_modules/wor

[2018-05-10 05:40] #7265 closed

[2018-05-10 05:48] BeniCheni commented on #7222
Hello, @UiCandy. Would you happen to be still helping update the links in the css-bundle doc? (Saw you comment from 2 days ago. Just wondering if I can pick up this "_D0: My First Commit_" labeled open issue, if you not working on it anymore. 🙏

[2018-05-10 06:46] #7259 closed

[2018-05-10 06:46] ooflorent commented on #7259
Duplicates #7255

[2018-05-10 07:18] nataliaperina commented on #7197
I am having the exact same issue. Is there any fix? It just keeps prompting me to install web-pack CLI even when i've installed like 5000 times.

[2018-05-10 07:34] ematipico commented on #5337
This should have a solution :)
I don't want to have this gets closed

[2018-05-10 08:20] Janpot commented on #7238
Doesn't seem like the most solid practice to make your code depend on what's in an error message. I don't think they're guaranteed to be always the same. Seems like webpack rather needs something like [error.code](https://nodejs.org/api/errors.html#errors_error_code)?

[2018-05-10 08:34] odedniv commented on #7238
1. There's an e.code, it only tells the error type - not which module is missing (e.g successfully requiring a module that then requires another module that is missing - I want to crash there).
2. There is no reason to have this tiny deviation from the standard which is seen across v4,6,8,9 of nodejs (I'm guessing it's through all of them - those are the ones I tested). Our code (which is a depend

[2018-05-10 09:11] ooflorent commented on #7205
[code]

This error means that webpack 3 is used because `hooks` is defined within the compiler constructor. Please open an issue in webpack-stream repository.

[2018-05-10 09:11] #7205 closed

[2018-05-10 09:20] pravdomil commented on #7204
Great!

[2018-05-10 09:26] montogeek commented on #7260
What is the issue?

[2018-05-10 09:28] montogeek commented on #7264
@xtuc Any insight in this issue?

[2018-05-10 09:29] isopen commented on #7260
If you do not see any problems, you can close the ticket for technical support.

[2018-05-10 09:33] xtuc commented on #7264
Not really, this should be handled by Webpack's rules.

I'll look into it, maybe I missed an option.

[2018-05-10 09:37] xtuc commented on #7264
Also i'm wondering, why can't you use the builtin wasm support in Webpack?

[2018-05-10 09:39] xtuc commented on #7258
Ok, sorry about that. I'll fix the missing dependency and ensure that it works on windows.

[2018-05-10 11:07] enten commented on #5907
In my experience, we use webpack (without watch mode) to build project in a continous integration service (inside an ad hoc build container). In that way: the incremental build isn't useful.

So, when an error is thrown, we fixe it on a local development environment with the watch mode.

I tried with the webpack config below and when there is an error with bundle A: the bundle B is still built. **

[2018-05-10 11:53] bochen2014 opened #7268 "exposing process.env.NODE_ENV to webpack"
in both `webpack@3.x` and `webpack@2.x` we config node env in `package.json` scripts
[code]
and in `webpack.configure.js` we do
[code]
to have NODE_ENV exposed to  `webpack`;

in `webpack@4.x` it seems that we still need to
[code]

but I was wondering if this mapping is even needed. To be specific, in source code,

https://github.com/webpack/webpack/blob/eda273d57954c1c80614a037f91b0d25fc57ab1a/li

[2018-05-10 11:55] evilebottnawi commented on #7268
@bochen2014 what about if i have `stage` NODE_ENV?

[2018-05-10 11:58] bochen2014 commented on #7268
I think the convention is  anything difference from 'production' is treated as 'development'

[2018-05-10 12:01] evilebottnawi commented on #7268
@bochen2014 i disagree, i have many NODE_ENV with difference configuration some of them in development mode some on in production.

[2018-05-10 12:02] evilebottnawi commented on #7268
Also it it breaking changes, i can't change in `webpack@4`, only in `webpack@5` lso we need discussion

[2018-05-10 12:03] evilebottnawi commented on #6845
@SEAPUNK because it is breaking changes in `webpack/watchpack` and can't breaking some build for some developers.

[2018-05-10 12:18] bochen2014 commented on #7268
I don't think  `process.env.NODE_ENV` 's value matters, as `webpack` only forwards that value to modules; it's up to modules to interpret and action on;

the risk is how `definePlugin` get its `process.env.NODE_ENV` value populated. If we can always assume that it comes from environment variable 'NODE_ENV',  then I think it's safe to bypass the mapping and read environment variable directly.

I ca

[2018-05-10 13:51] ooflorent commented on #7218
webpack is able to evaluate expressions but it does not memoize the bindings' value.

[code]

**tl;dr:** webpack only optimizes constant expressions. Use `DefinePlugin` to replace variables.

[2018-05-10 13:51] #7218 closed

[2018-05-10 13:54] ooflorent commented on #7268
@bochen2014 In `prop-types` is it shrink at compile-time.

If you want to set a custom env you could also do this:

[code]

[2018-05-10 14:00] ScottRudiger opened #7269 "BannerPlugin: Accept a Function in addition to String/Object"
## Feature request

**What is the expected behavior?**

I'd like to see the BannerPlugin accept a function in addition to a string or an options object, similar to [`config.output.filename`](https://webpack.js.org/configuration/output/#output-filename). The function would have access to a `chunk` variable or anything else necessary for an actual reference to `'[hash]'`, `'[chunkhash]'`, `'[name]'`

[2018-05-10 14:50] NeekSandhu commented on #7264
I would love to use Webpack for that but for [certain reasons](https://github.com/NeekSandhu/onigasm/issues/2#issuecomment-387950702), I can't.

In a nushell, `onigasm.wasm` is compiled with emscription and we must have access to WASM runtime memory on JS side through `malloc`, `free`, `HEAP8`, `HEAP32`, etc.

Webpack won't provide those hooks.

Perhaps we should consider emitting something simila

[2018-05-10 15:39] kyle-villeneuve commented on #6661
installing webpack globally fixed the issue for me

[2018-05-10 15:44] TimeBandit opened #7271 "Regular Expression Denial of Service"
![webpack 2 screenshot from 2018-05-10 16-37-39](https://user-images.githubusercontent.com/2059850/39878783-1b9dfd6c-5471-11e8-8743-43f1e17e9ddf.png)
![webpack screenshot from 2018-05-10 16-35-24](https://user-images.githubusercontent.com/2059850/39878784-1bb9259c-5471-11e8-95ec-054ae4387849.png)

# Bug report

**What is the current behavior?**
running `npm audit` with the latest webpack `"webpack

[2018-05-10 15:49] evilebottnawi commented on #7271
@TimeBandit please update you lock, also issue don't related to webpack, please create issue in chokidar if you have their after update. Also before create issue please looks on `path` where problem places. We can't control all repositories. Thanks!

[2018-05-10 15:49] #7271 closed

[2018-05-10 16:06] danny-andrews-snap commented on #4913
I got most of my example config from the [official docs on caching](https://webpack.js.org/guides/caching/). Not sure what's "extremely confusing" about it. Although, I do agree the one from the medium article is more robust.

[2018-05-10 16:18] dmitriid commented on #4913
@danny-andrews-snap

Thta page is just a "running start". If you need an actual caching solution, you have to follow the several-screens-long explanation in the medium post. However, caching as described in the post,  should work out of the box, and not require umpteen plugins with arcane configurations to get what you need in the first place.

On top of that, that entire documentation page is alr

[2018-05-10 16:31] TimeBandit commented on #7271
Yes i am aware of the path, that is why I posted the screenshot, but as latest version of webpack relies on this doesn't it make sense to at least add an advisory sentence in the webpack release notes asking devs to install the latest version of `sshpk` separate before installing webpack etc etc

[2018-05-10 16:35] evilebottnawi commented on #7271
@TimeBandit We can't do this because at any time other packages may be mark as vulnerable. Better solution is create issue about security problem in each package. Also `webpack` packages don't uses in 99% in production code and in theory it is not important security problem.

[2018-05-10 16:41] TimeBandit commented on #7271
Great, that is clear, I have raised a PR against one of the dependencies; PRs for both can be found at [tough-cookie](https://github.com/salesforce/tough-cookie/issues/112) and [node-http-signature](https://github.com/joyent/node-http-signature/issues/70) thanks and have a nice day :+1:

[2018-05-10 16:46] xtuc commented on #7264
Ok, here's my suggestion.

We could publish the emscripten JavaScript glue on npm and link it against the wasm module in webpack.

Currently you'll have an error like: module `env` not found and we can use an alias to map `env` to the emscripten glue.

However it's not possible yet since the emscripten glue is not publisheable easily.

[2018-05-10 16:55] evilebottnawi commented on #7271
@TimeBandit joynet looks as abadoned, not sure what https://github.com/joyent/node-http-signature/issues/70 will fix it one day

[2018-05-10 17:18] #7255 closed

[2018-05-10 17:40] ooflorent commented on #7268
I’m against having `process.env.NODE_ENV` in my build set to the current environment. That’s a completely different thing. Even more of you have build servers.

As said in my previous comment, setting `optimization.nodeEnv` is the way to go.

[2018-05-10 17:45] Rohit-L commented on #7261
@evilebottnawi Here is a repo: https://github.com/Rohit-L/webpack-test

I have narrowed the problem down to when the webpack config returns an array of configurations. This causes the ProgressPlugin to go into the `if (compiler.compilers)` check, which is where the bug I described above lies.

[2018-05-10 18:32] Janpot commented on #7238
I'm not at all against aligning with what node does. I'm only mentioning it because I don't think the message is as "standardized" as the error code. If by "the standard" you mean "canonical across node versions". To me it feels a bit brittle to rely on the error message and parse out the intended required module through some regex or something.

[2018-05-10 18:54] xtianus79 opened #7272 "Cannot run webpack as of 4.8.1 upgrade -- Error: Cannot find module 'webpack/lib/removeAndDo'"
# Bug report

**What is the current behavior?**
Webpack fails to run

**If the current behavior is a bug, please provide the steps to reproduce.**
npm start -- --env=local >>>>>
`The CLI moved into a separate package: webpack-cli
Would you like to install webpack-cli? (That will run npm install -D webpack-cli) (yes/NO)

module.js:472
    throw err;
    ^

Error: Cannot find module 'webpack/lib/rem

[2018-05-10 19:00] evilebottnawi commented on #7272
@xtianus79 install `webpack-cli` or `webpack-command` for using CLI.

[2018-05-10 19:00] #7272 closed

[2018-05-10 20:04] danny-andrews-snap commented on #4913
Cool, I think it makes sense to point people to that article in the meantime.

[2018-05-10 20:47] TheLarkInn commented on #7268
I would agree to this. @sokra what are your thoughts?

[2018-05-10 21:03] justinhelmer opened #7273 "please deploy webpack-3 branch with latest fixes"
# Bug report

**What is the current behavior?**

`hot.accept` breaks with used in conjunction with `webpack.definePlugin`

I am not getting any traction on https://github.com/webpack/webpack/pull/7083. I think it might just be because the code has been merged and the webpack bot set labels for the PR and the parent issue https://github.com/webpack/webpack/issues/6919 such that its falling off the

[2018-05-10 21:29] evilebottnawi commented on #7268
But `optimization.nodeEnv` is real misleading

[2018-05-10 21:59] christiango commented on #7258
Thanks for the quick fix!

[2018-05-10 22:01] ooflorent commented on #7269
I’ve opened a PR. Does it fit your use case?

[2018-05-10 22:28] manish2535 commented on #7101
Any updates on this?

[2018-05-10 22:34] michael-ciniawsky commented on #7268
`process.env.NODE_ENV` is simply often used for switching the 'mode' of your/a node application between  `development` && `production` similar to how it's the intend for `config.mode` in `webpack` with the difference that it is 'accessible'  for other tools aswell (or custom `loaders` && `plugins` in `webpack` if you will) and has broader support as an defacto 'standard'. What particular `env` var

[2018-05-10 22:38] evilebottnawi commented on #7101
@manish2535 need investigate, but looks chrome bug

[2018-05-10 22:45] kevinfahy commented on #6915
Appears to be fixed in v4.7.0.

[2018-05-10 22:49] evilebottnawi commented on #6915
@kevinfahy need test using https://github.com/Hypnosphi/webpack-issuer-repro

[2018-05-10 23:00] bochen2014 commented on #7268
I dont quite get it. Where does staging coming from in your example? Environment variable named  ‘NODE_ENV’ ? Then why can’t webpack map it itself? Why developers need to map it.

I see what @michael was saying, I.e. it doesn’t need to be an exact name making, e.g you can use WEBPACK_MODE mapped to your nodeEnv, which makes sense to me, but I haven’t run into scenarios like that.

[2018-05-11 00:43] NeekSandhu commented on #7264
Totally agree.

Would be certainly cool, but AFAIK the main challenge here that `emscripten` takes a bunch of compiler flags when compiling and those flags get baked into the glue code. Those flags go hand-in-hand with `.wasm` file and respective `.js` file. The challenge?? How do we go about doing that process without involving `emscripten`?

Well, the flags that actually get baked into `.js` glu

[2018-05-11 00:45] NeekSandhu commented on #7264
However in the meantime I'd really thankfull if `module.noParse` is patched and WebAssembly parser stops interupting.

[2018-05-11 01:01] Rohit-L commented on #7261
@evilebottnawi Did you get a change to look at this. The fix should be very simple.

[2018-05-11 01:11] #5233 closed

[2018-05-11 01:34] kripken commented on #7264
I apologize as I don't have a deep understanding of webpack, and I'm not sure I follow the discussion here. But in general, emscripten will emit a JS file and a wasm file which the JS will use, and emscripten can emit that JS as a module (the `MODULARIZE` option, and soon, also as an [ES6 module too](https://github.com/kripken/emscripten/pull/6483)). So my first thought is, can we use that JS like

[2018-05-11 02:08] NeekSandhu commented on #7264
Thanks for coming by, Alon. As fair as I understand, what Webpack team (everyone really) is trying to accomplish is ability to *literally* import `.wasm` file and have it work out of the box. No strings attached.

Like so:

[code]

And really, code above will work when compiled with Webpack 4. But problem comes with complex modules like `onigasm.wasm` where the JavaScript runtime needs access to `

[2018-05-11 02:29] kripken commented on #7264
Thanks @NeekSandhu , that explained a lot to me!

Makes sense to want to allow `import('./add.wasm')` directly. I think that is what the emscripten-generated JS should do, just like other JS that is run through webpack. And people that want to use the wasm will import that JS normally as well. So far, I don't think there is anything different in the emscripten case, **except** that emscripten does

[2018-05-11 02:50] aimergenge opened #7274 "--progress cause console to mess around"
# Bug report

**What is the current behavior?**
When I set the --progress flag, it start to output bundling info in console, but it doesn't stop at a place, instead it run across the screen and mess around.
\

**Other relevant information:**
webpack version:  4.8.1
Node.js version: v8.10.0
Operating System: windows10
Additional tools: git bash or powershell have same issue

[2018-05-11 03:17] isopen commented on #7260
The result for today is similar.
npm install (method by contradiction)
[!] 27 vulnerabilities found - Packages audited: 26634 (23087 dev, 650 optional)
    Severity: 11 low | 12 moderate | 4 high
The list is also deep-extend@0.4.x and other obsolete dependences.

[2018-05-11 03:30] isopen commented on #7255
Guys, I obviously do not understand something in this world, but the error in the installation is the same.
npm install
+ webpack@4.8.1
added 314 packages from 274 contributors in 22.636s
[!] 1 vulnerability found [3517 packages audited]
    Severity: 1 low
    Run `npm audit` for more detail

[2018-05-11 03:34] ScottRudiger commented on #7269
Yes, I believe it does. Thanks for the quick action! I'll be sure to close this once it's merged and I try it out.

[2018-05-11 03:42] bascott commented on #3148
I can build fine with a symlink to a different drive, but watch crashes on file changes.

`ERROR in ./D:/Users/Brian/projects/react-vis-example/src/index.tsx
Module build failed: Error: Cannot find module 'C:\Users\Brian\projects\react-vis-example\D:\Users\Brian\projects\react-vis-example\node_modules\ts-loader\index.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:1

[2018-05-11 04:03] NeekSandhu commented on #7264
In my opinion, I wonder why would Webpack even bother complaining about `env` or anything else really. If a user wants to consume "pure" `wasm`, sure webpack needs to "inspect" and fill in the holes since there won't be emscripton glue accompanying it. But in the other case, if webpack can deem that there **IS** glue code present and available, it can just keep quiet and do a regular import *[1]*.

[2018-05-11 04:33] ScottRudiger commented on #7269
Actually, I'm not sure I'm doing it right, but I checked out the code with npm like so:

[code]

And I got an error with this as the banner:

[code]

<details><summary><code>TypeError: str.includes is not a function</code></summary

<code>    at wrapComment (/Users/scott/Desktop/personal-projects/AsyncAF/node_modules/webpack/lib/BannerPlugin.js:16:11)
    at BannerPlugin.banner.options.raw.data (/

[2018-05-11 06:54] klassicd commented on #6767
Incase this helps anyone else, I was getting crazy slow hot reloads times after starting a new project based on a previous architecture and upgrading it to webpack 4.

Reading through this thread I tried to downgrade to an older version of webpack and realized that it was actually a performance degradation in flow `0.57.1`.  See https://github.com/facebook/flow/issues/5858

I've successfully upgra

[2018-05-11 07:43] gabesu commented on #6460
@bengrunfeld This was the explanation I needed and it worked perfectly. Cheers.

[2018-05-11 09:01] andyrichardson commented on #6991
I totally agree - the ability to limit chunk sizes would be a huge help. Using _AggressiveSplittingPlugin_ breaks automatic script tag inserts handled by _HTMLWebpackPlugin_.

I'm not sure why others might need this feature but my justification is because [_sw-precache-webpack-plugin_](https://www.npmjs.com/package/sw-precache-webpack-plugin) won't cache files more than 2.1mb.

[2018-05-11 10:09] ooflorent commented on #7274
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-05-11 10:13] ooflorent commented on #7264
Instead of skipping the parsing you could change the `type` of the `/\.wasm$/` rule to something else. I don’t know if the config validator would accept it but it will disable the wasm pipeline for the matching rule.

[2018-05-11 10:35] evilebottnawi commented on #7260
@isopen we don't use `deep-extend` directly, looks you should create issue in loader/plugin where `deep-extend` used. Thanks!

[2018-05-11 10:35] #7260 closed

[2018-05-11 10:36] evilebottnawi commented on #7261
@Rohit-L WIP

[2018-05-11 11:48] moonshineBoy commented on #2972
@pavel06081991  then how do you solved your problem?

[2018-05-11 12:18] evilebottnawi commented on #7261
@Rohit-L don't reproducible

[2018-05-11 12:18] evilebottnawi commented on #7261
All works fine

[2018-05-11 12:26] byzyk opened #7276 "Consider running prettier before eslint"
While working on #7187 I noticed that `yarn pretty` script is being unused. Shall we consider running `prettier` prior to running `eslint` so formatting issues could be fixed automatically?

[2018-05-11 13:03] badpunman commented on #7082
I imagine this is probably an issue. Would explain why my jsons wouldn't work in webpack 4. I can't confirm right now for sure though. I'm developing on windows so it could even be about line endings that crash it. The overly strict json file format support might be deserving of a separate open issue though, as this primarily deals in error handling.

[2018-05-11 13:19] aimergenge commented on #7274
Here is the repo: https://github.com/aimergenge/webpack4-issue-7274-reproduce.git

You can clone it, then run `yarn && yarn run build` to see the output in console.

It just mess around.

[2018-05-11 14:10] sokra commented on #7276
We are using the prettier-eslint plugin. So prettier runs as part of eslint. `yarn fix` will also fix these issues.

[2018-05-11 14:10] #7276 closed

[2018-05-11 14:13] sokra commented on #7274
Works for me...

[2018-05-11 14:15] evilebottnawi commented on #7274
For me too, looks problem in shell
@aimergenge can you test this on other computer/os/virtual machine?

[2018-05-11 14:16] sokra commented on #7274
I tried cmd, git bash and powershell on windows 10.

[2018-05-11 14:18] sokra commented on #7264
`type: "javascript/auto"`

[2018-05-11 14:26] aimergenge commented on #7274
I test it in powershell and git bash, neither works...

I use windows10 1803

[2018-05-11 14:57] evilebottnawi commented on #7273
@justinhelmer Done in https://github.com/webpack/webpack/releases/tag/v3.12.0

[2018-05-11 14:57] #7273 closed

[2018-05-11 14:58] evilebottnawi commented on #6909
Feel free to feedback. Thanks!

[2018-05-11 14:58] #6909 closed

[2018-05-11 14:59] evilebottnawi commented on #7022
@salahassi problem still exists?

[2018-05-11 15:01] evilebottnawi commented on #4719
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-11 15:45] dbkaplun opened #7278 "Bug: minimal repro for WARNING with imports-loader"
# Bug report

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
See https://github.com/dbkaplun/webpack-7278-repro for repro steps.

Note that imports-loader is clearly working correctly. You can test this by commenting out the `module` section in webpack.config.js and running `npm test` to encounter a reference error without imp

[2018-05-11 16:00] IanVS commented on #7230
@amakhrov if you got it working, do you mind sharing your config?  I am still struggling to convert to webpack 4 because of this issue.

[2018-05-11 16:02] jt3k commented on #5392
I'm still waiting

[2018-05-11 16:12] cokencode commented on #7261
@evilebottnawi I got the list of process logs from test repo.
In the picture below, the left side is the current behavior, and the right side is the behavior after fixing the line that @Rohit-L mentions in the report.
![webpack-error](https://user-images.githubusercontent.com/7133704/39933761-d9bca848-5511-11e8-940f-b128c749c11f.PNG)

[2018-05-11 16:13] sokra commented on #7258
4.8.2

[2018-05-11 16:39] sokra commented on #7268
Here is my opinion on that topic. I'm in general against using environment variables to configure stuff. You may ask why. I think it's a very sneaky/leaky way to pass values. They are like globals, but even worse. You can read them anywere and set them nearly anywere. Setting them is not even restricted to this process. They can be set on OS-level or in process in between, i. e. by the shell or CI

[2018-05-11 16:51] christiango commented on #7258
Unfortunately it still repros, now in a different package of webassemblyjs. I submited a pr that will hopefully address this: https://github.com/xtuc/webassemblyjs/pull/308/files

[2018-05-11 16:59] evilebottnawi commented on #7258
@christiango can you double check webpack version in `node_modules` (cat `node_modules/webpack/package.json`) and look on version field?

[2018-05-11 17:05] evilebottnawi commented on #7258
@christiango hm, looks regression

[2018-05-11 17:06] evilebottnawi commented on #7258
@christiango feel free to PR

[2018-05-11 17:09] xtuc commented on #7258
Thanks for the PR. I don't understand why the CI doesn't catch that. Sorry

[2018-05-11 18:34] evilebottnawi commented on #6693
@GabrielDuarteM can you test this with latest webpack (i.e. `4.8.2`)?

[2018-05-11 18:38] GabrielDuarteM commented on #6693
@evilebottnawi I just tested using `4.8.2`, still the same thing

[2018-05-11 18:46] amakhrov commented on #7230
@IanVS here you go:
[code]

[2018-05-11 19:53] GabrielDuarteM commented on #6693
@evilebottnawi I still did not found a reliable way to reproduce it, but i'm gonna try to make it and post here

[2018-05-11 19:56] justinhelmer commented on #6919
Resolved via #7273

[2018-05-11 19:56] #6919 closed

[2018-05-11 20:09] GabrielDuarteM commented on #6693
What i noticed is that webpack throws a message `Compilation needs an additional pass and will compile again.` when the build needs to be run twice, and webpack only do this when that `multistep` option is enabled on `webpack-dev-server`

[2018-05-11 20:57] mobimation commented on #7255
I get this with 4.8.2

├─┬ webpack@4.8.2
│ └─┬ watchpack@1.6.0
│   └─┬ chokidar@2.0.3
│     └─┬ fsevents@1.2.3
│       └─┬ node-pre-gyp@0.9.1
│         └─┬ rc@1.2.6
│           └── deep-extend@0.4.2

[2018-05-11 21:55] TheLarkInn opened #7281 "[WIP] - investigation - fail doesn't process exit 1 all the time"
`bail: true` was set on a webpack 4 build, and not _everytime_ was the process not  exiting completely

![screen shot 2018-05-11 at 2 52 51 pm](https://user-images.githubusercontent.com/3408176/39948494-17ea8054-552b-11e8-8bcb-72f3b9303f83.png)

You can checkout https://github.com/thelarkinn/webpack-workshop-2018

[2018-05-11 21:55] TheLarkInn commented on #7281
branch feature/0502-not-so-dynamic-code-splitting

[2018-05-11 22:08] anthonyhastings commented on #7162
Can confirm I've been bit by this issue also; any JSON file that I load gets wrapped in `Object.assign` calls which break in IE11 or older browsers. For me, it was our CI server that noticed the issue first, as our integration tests run on an old version of webkit which, like IE11, seems to have issues with `Object.assign`.

[2018-05-11 22:45] michael-ciniawsky commented on #7268
Maybe better to leave `env` variables aside as this is imho missing the point :) (You don't mandatorily need them, it's just a common convention). What people want is a simple and 'reliable' way to switch between `development` && `production` mode. `mode` already provides that... but currently only for some `webpack` 'internals'. The moment one uses a third-party loader/plugin, he/she often needs

[2018-05-11 23:17] aimergenge commented on #7274
![image](https://user-images.githubusercontent.com/13799160/39950552-7c49b6bc-55b4-11e8-9af6-879ef5bf5063.png)

like this

[2018-05-12 01:08] devineloper commented on #6977
@crazyfx1 Thank you! This solved my problem. jQuery was being imported 3 different times, each time overwriting any event bindings that were set up. Adding a separate runtime chunk solved this. I did not see this behavior in Webpack 3, so this was driving me nuts all day as I tried to upgrade to Webpack 4.

[2018-05-12 01:27] ProtonScott commented on #1189
So I've watched and I've watched.

Is there still no practical solution to outputting files into different directories? Not everyone (and frankly it slows the hell out of development time if you're not using the webpack-dev-server or its lot). I develop python-backed apps, so I don't really care about those things (and they're plugins anyway! So let the plugin makers deal with it, if you must)

Th

[2018-05-12 03:41] #5804 closed

[2018-05-12 03:57] searene commented on #6767
I just did the following things, which made the rebuild process n times faster.

1. Use `node v8.9.4`

[code]

2. Replace `awesome-typescript-loader` with `ts-loader`, then turn on `transpileOnly` and `experimentalWatchApi`

[code]

3. Turn on `development` mode and disable `pathinfo`

[code]

Most of the ideas come from https://medium.com/@kenneth_chau/speeding-up-webpack-typescript-incremental-b

[2018-05-12 04:01] NeekSandhu commented on #7264
Thank you so much, the `type` hack worked.

At this point, this issue can be closed unless you guys want to consider enhancing WebAssembly support when its compiled with emscripten.

Described here: https://github.com/webpack/webpack/issues/7264#issuecomment-388253498

TL;DR - skip parse but still "link" `.wasm` file when it's being imported by emscripten's JS glue code

[2018-05-12 05:36] #7176 closed

[2018-05-12 07:53] #7264 closed

[2018-05-12 07:57] sokra commented on #7237
That does work for technical reasons. SourceMap reference is defined by special comment. It can't contain dynamic values.

[2018-05-12 07:57] #7237 closed

[2018-05-12 13:59] evilebottnawi commented on #7274
@aimergenge looks like you only one who have this problem, can you test this on other computer

[2018-05-12 14:05] evilebottnawi commented on #2875
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-12 14:05] #2875 closed

[2018-05-12 14:06] evilebottnawi commented on #4230
Somebody can test this in webpack@4?

[2018-05-12 14:09] evilebottnawi commented on #5655
Closing due to inactivity. Please test with latest version `webpack` and `webpack-dev-server` and feel free to reopen if still regressions. Also i recommend migrate on `webpack-serve` Thanks!

[2018-05-12 14:09] #5655 closed

[2018-05-12 14:16] gluons commented on #4230
@evilebottnawi I've been using `stats: 'none'` with [webpack-stylish](https://github.com/webpack-contrib/webpack-stylish) in webpack 4.

It actually works for me now.

[2018-05-12 14:36] evilebottnawi commented on #4230
@gluons Thanks!
/cc @jrpomeroy @mishelen @jbellenger

[2018-05-12 20:14] #7258 closed

[2018-05-12 20:27] fatfisz opened #7283 "Add require.context.keys-like feature to import"
## Feature request

**What is the expected behavior?**
I'd like webpack to set a specific id for the chunk generated for dynamic imports, something similar to this:

[code]

After that I could refer to the generated keys through an appropriate `require` call (I'm new to tinkering with webpack, so I'm not yet sure if `require.cache` is ok or not).

**What is motivation or use case for adding/changi

[2018-05-12 20:58] sokra commented on #7283
There is a `mode` parameter to `require.context` which also allows behavior like `import()`.

[2018-05-12 21:29] khanghoang commented on #7222
@BeniCheni I'd like to take this if @UiCandy is busy atm.

[2018-05-12 21:31] #4765 closed

[2018-05-12 21:33] fatfisz commented on #7283
Thanks for the info! I looked hard again and I couldn't find any documentation for this option though.

I managed to find the `webpack/lib/dependencies/RequireContextDependencyParserPlugin.js` file, so I'll start learning from there.

If you were interesting in extending `import` anyway, I'd be happy to help!

[2018-05-13 03:30] isopen opened #7285 "Guys! I do not understand how at the current moment you can use the webpack"
# Bug report
[code]
![image](https://user-images.githubusercontent.com/7373292/39963528-dcb6b6d8-5697-11e8-8c47-98858bb29abf.png)

**What is the current behavior?**
Everything as before. From Yarn you need to leave. Npm followed my common sense and I like it.

**If the current behavior is a bug, please provide the steps to reproduce.**
All errors are presented above. Earlier I asked to fix this. P

[2018-05-13 04:13] aweary commented on #7285
The issue you reported in the Webpack repo is related to react-scripts, a package thats used by create-react-app. Somebody already reported the issue here: https://github.com/facebook/create-react-app/issues/4446

This repo is used only for bug reports and feature requests for React itself.

[2018-05-13 04:30] BeniCheni commented on #6390
Hi dear maintainer(s), I've taken a stab at this issue about _Webpack 1_ doc with #7286 to give my "_1st-timer_" PR an attempt at a small update such as a doc change. 🙏 in advance for your time reviewing.

[2018-05-13 05:45] isopen commented on #7285
The fact is that I have already started to update the project to new dependencies. You can say that everything is cool, as necessary, and lowered his fingers. But this is complete ... :)

[2018-05-13 06:16] mohsen1 commented on #7285
This is where this is stuck: https://github.com/dominictarr/rc/pull/103

[2018-05-13 06:40] isopen commented on #7285
I completely agree with this, but it's a complete thrash. At the moment, this is all a good solution for landings where such things are not particularly monitored. Translation into native javascript is good, but at the same time you need to control dependencies, and not take everything in a row. But the result for this reason, for some reason, is at the level of the user of the collectors etc. The

[2018-05-13 07:51] aimergenge commented on #7274
@evilebottnawi I tried on my notebook which is windows10 1803 and on a desktop which is also window10. both output are wrong.

However, I tried in WSL, it just works :joy:

[2018-05-13 08:00] #7285 closed

[2018-05-13 08:01] malliapi commented on #1750
is it ? How do we do tree-shaking with lodash-es and webpack 4?

[2018-05-13 08:15] aimergenge commented on #7274
I make a gif here:
D:\ScreenRecords\webpack.gif

[2018-05-13 08:25] #6475 closed

[2018-05-13 08:25] sokra commented on #6475
fixed

[2018-05-13 08:28] sokra commented on #6433
This is fixed. We now use `instantiateStreaming` when possible. Falling back to `compileStreaming` + async `instantiate` for WASM-to-WASM dependency chains.

Falling back non-streaming variants when streaming is not supported by the browser.

[2018-05-13 08:28] #6433 closed

[2018-05-13 08:29] sokra commented on #6433
Note: adding Promise support to the importsObject would allow us to remove the `compileStreaming` + async `instantiate` fallback.

[2018-05-13 08:31] sokra commented on #7283
If you propose a good way/syntax to do that while being spec-compliant that would be a start.

[2018-05-13 08:59] sokra commented on #7274
babel seem to print a console.log in between. You probably should not run babel-loader on node_modules, but that's another story.

If you have an idea how to fix it, feel free to send a PR.

[2018-05-13 09:00] sokra commented on #7199
How do other browsers behave?

[2018-05-13 11:04] yishn opened #7287 "Prefer .js files over .wasm files"
# Bug report

**What is the current behavior?**

Assume we have a `.js` file and a `.wasm` file with the same file name in the same directory. When importing the file (without file extension), webpack will prefer the `wasm` file over the `js` file.

**If the current behavior is a bug, please provide the steps to reproduce.**

Provide an `a.js` file and an `a.wasm` file in the same directory with `

[2018-05-13 11:45] no-more opened #7288 "nodejs __dirname and __filename invalid separator for cross platform"
# Bug report

**What is the current behavior?**
I run webpack on windows to compile a nodejs application with `__dirname` and `__filename` set to `true` in my config.
The polyfill replace the dynamic behavior with a static string of the original path, but the issue is that I as the compilation is done on windows, the path contains windows separators. But then I'm running the package on a linux pla

[2018-05-13 11:47] ooflorent commented on #7287
There are multiple ways to solve this:

1. This is my favorite solution: always specify the extension
2. Override `resolve.extensions` in you configuration to specify your favorite order

[2018-05-13 11:47] #7287 closed

[2018-05-13 12:11] isopen commented on #7255
I used to like the behavior of webpack in my Angular project, but from now on I still switched to standard `ng serve` and replaced the command in the documentation.
It is very sad. Previously, both teams worked in the project.
Later I will deal with it. there are some inconsistencies with the package `dev-webpack-server`, etc.
`ng serve` works after updating without superfluous telodvizheny.
There

[2018-05-13 13:42] isopen commented on #7255
I started my open project through a new web package. Soon I will reset the settings. But I would say that work for an astronaut who does not want to write anything, but must write. Precisely not for the novice.

[2018-05-13 14:10] ooflorent commented on #7255
@isopen Please open a new issue to discuss the other problems you encountered. Moreover, feel free to send a PR to change the _vulnerable_ dependency is the proposed solution does not cover your use-case.

[2018-05-13 14:39] liorama opened #7289 "Webpack 4 production mode bundle throws an Uncaught ReferenceError: require is not defined"
# Bug report

**What is the current behavior?**
When using the `mode : "production"` setting I get an `Uncaught ReferenceError: require is not defined` error thrown, `none` and `development` modes work as expected.
The target is web not node.

**If the current behavior is a bug, please provide the steps to reproduce.**
These are my webpack config files:

 #_webpack.common.js_:
[code]
_webpack.prod

[2018-05-13 16:02] nokola commented on #1470
For me this also works (typescript):
[code]

[2018-05-13 16:12] #1750 closed

[2018-05-13 16:13] jdalton commented on #1750
Yep, Webpack 4 supports the `"sideEffects": false` flag, which `lodash-es` uses to enables cherry-picking.

[2018-05-13 16:28] isopen opened #7290 "Documentation error new webpack.optimize.CommonsChunkPlugin"
# Bug report

https://webpack.js.org/guides/code-splitting/

**What is the current behavior?**
new webpack.optimize.CommonsChunkPlugin({
removed or distribute by version. deprecated.
Example of using the latest version of the plugin.
https://github.com/isopen/ngx-cable/blob/master/webpack.config.js

**If the current behavior is a bug, please provide the steps to reproduce.**
Go to the site https:/

[2018-05-13 17:10] rmanoka opened #7291 "Executing bundle from inside a loader"
## Feature request

**What is the expected behavior?**

A `NormalModule` instance could provide access to `loaderContext` so that we can hook `require` calls to `loadModule` recursively and _execute a module inside a loader_ using `vm` (and `fibers` / `sync`).

Please see working implementation [here](//github.com/rmanoka/thoughts/blob/master/src/exec-loader/index.js).  The repository can be clone

[2018-05-13 18:21] isopen opened #7292 "Hip-hop Webpack + Angular 6.0.1"
`npm run-script build`

Guys in general, I'm already too lazy to understand. But I tried to understand and understood that the old config is not good at all.
Config:
https://github.com/isopen/soc/blob/master/frontend/webpack.config.js
[code]

Everything happened after switching to Angular 6.0.1. But Angular himself has nothing to do with it.
[code]
Works great.
But I also want to work fine and thr

[2018-05-13 18:30] isopen commented on #7292
Another such moment. If you insert such a piece of code, then the webpack swears.
[code]
`ng serve` behaves adequately with the current implementation :)

[2018-05-13 19:51] montogeek commented on #7292
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-13 20:52] isopen commented on #7292
This is by template other.Open please the issue

[2018-05-13 23:19] montogeek commented on #7292
What is your issue?

[2018-05-13 23:40] isopen commented on #7292
I need to fix the config so that there are no more warnings and es2018 was going to.
Yesterday I did everything I could. Now it's your turn.

It is the webpack. ng works. thanks:*)

[2018-05-13 23:47] elliottsj commented on #6248
Using the latest versions of webpack & Node.js (v4.8.3 & v10.1.0 currently), I've found that RemoveParentModulesPlugin is much faster on my project that has ~230 chunks. Previously was on the order of 30-40 seconds, now appears to be less than 2 seconds.

@filipesilva @kenotron @pleerock I encourage you to try out the latest versions of webpack & Node to see if there's any improvement.

[2018-05-14 00:41] aldarund commented on #6522
// Rant mode on
That hilarious, as i see it was in 4 beta already. Now its 4.8.3, and its still there without a proper fix. Spent a day for this. Behaviour so inconsistent that i wanted to break something xD So many combinations and only one really worked for me.
// Rant mode off
Proposed solution  from above ( globalObject: 'typeof self !== \'undefined\' ? self : this' ) simply dont work for me i

[2018-05-14 01:06] aldarund commented on #6522
Ok, even last solution not fully worked. Well, it seems to be working but im still getting error messages in both browser and node console that
``export 'default' (imported as 'mylib') was not found in 'mylib'``
It happens if i import normally
```import  mylib from "mylib"```
if i import it like in prev message error doesnt happen
```import * as mylib from "mylib"```
And it happens after it print

[2018-05-14 03:41] ScottRudiger commented on #6522
I'm not sure Webpack actually provides a method of outputting ES modules for the browser. I've probably spent a cumulative day searching for how it could be done. The conclusion I came to is it's not possible at this time. You have at least a couple alternatives: 1) output modules with babel 2) use rollup.

Someone _**please**_ correct me if I'm wrong.

Since my lib is already set up with Webpack

[2018-05-14 04:37] sqw2016 opened #7293 "set css-loader in webpack.config.js, but not work"
I require two simple css file in my main.js
![image](https://user-images.githubusercontent.com/24272627/39977425-762dce12-576c-11e8-90c7-929db5359f42.png)
and i set it in webpack.config.js
![image](https://user-images.githubusercontent.com/24272627/39977481-cebf4dc6-576c-11e8-9157-695497aa21cb.png)
when i build,got a error:
ERROR in ./src/css/test.css
Module parse failed: Unexpected token (1:0)
Yo

[2018-05-14 04:46] pleerock commented on #6248
@elliottsj its faster thanks to this issue I believe. We are using latest version. With webpack 3 it took hours to build, now it takes only 6 minutes with webpack 4. Great improvement but waiting 6 minutes after each change during development isn't acceptable.

@sokra since more and more people are using lazy loading in their apps, current situation won't be scalable for webpack. Do you have any i

[2018-05-14 06:04] lili21 commented on #1685
still have the problem.

[2018-05-14 06:15] michael-ciniawsky commented on #7293
=> No `'`

[code]

A `{RegExp}` isn't a `{String}` :)

[2018-05-14 06:15] #7293 closed

[2018-05-14 06:25] sqw2016 commented on #7293
@michael-ciniawsky Thank you very much! I`m too stupid.

[2018-05-14 07:08] lorenzodallavecchia commented on #6929
I did some more investigation on my leak involving `dojo-webpack-plugin` (see the updated [test cast](https://github.com/lorenzodallavecchia/webpack-bug-6929)) and I found the root cause of the leak.

The gist of what `dojo-webpack-plugin` is doing is the follwing.

[code]

As you can see, it is registering a `Compiler` hook that internally holds a reference to each `Compilation` object. This leak

[2018-05-14 09:57] arunprakashpj opened #7294 "ImportDeclaration should appear when the mode is ES6 and in the module context"
ESLint Version: 3.19.0
Node Version:8.9.1
npm Version: >=5.0.0

"babel-eslint": "7.2.2",

The eslint was fine until I upgraded the web pack version from 1.x to 4.x
Currently, my web pack version is 4.8.

[code]

I am getting the following error when i run eslint .

AssertionError [ERR_ASSERTION]: ImportDeclaration should appear when the mode is ES6 and in the module context.

The webpack 4 upgrade

[2018-05-14 11:05] evilebottnawi commented on #7294
@arunprakashpj you have invalid `eslint` configuration, please read docs how linting `import`, also you should use `babel-eslint` for better support async `import`. Thanks!

[2018-05-14 11:05] #7294 closed

[2018-05-14 11:22] jpswade opened #7296 "SyntaxError: Cannot parse records: Unexpected token c in JSON at position..."
# Bug report

**What is the current behavior?**

When the JSON parse fails you aren't provided with enough information to troubleshoot the issue.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**

This type of issue should be gracefully handled so you can report on where the JSON failing is.

**Other relevant information:**
web

[2018-05-14 11:37] lusentis commented on #6659
This is the related issue: https://github.com/webpack/webpack/issues/6567. Took me ages to figure out, since its title refers to a feat request.

[2018-05-14 11:43] arunprakashpj commented on #7294
@evilebottnawi I am using babel-eslint of version 7.2.2 . My question is , will the webpack upgrade as any relation with this particular error ?

[2018-05-14 11:47] evilebottnawi commented on #7294
@arunprakashpj I don't understand you, how `webpack` related to `eslint` errors?

[2018-05-14 11:48] evilebottnawi commented on #7296
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-14 11:48] #7296 closed

[2018-05-14 13:17] jpswade opened #7297 "SyntaxError: Cannot parse records: Unexpected token c in JSON at position..."
# Bug report

**What is the current behavior?**

When the JSON parse fails you aren't provided with enough information to troubleshoot the issue.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**

This type of issue should be gracefully handled so you can report on where the JSON failing is.

**Other relevant information:**
web

[2018-05-14 13:25] orangeyyy commented on #5440
Hi @sokra  I have got the same problem, the steps to reproduce the problem is shown as below:
1, start a webpack dev server at local which is use **http**;
2,start a proxy server to proxy the resource online to local(the online site use **https**),in this case we can debug the online website at local;

everything is ok now except the HMR, the screen is shown below ：
![default](https://user-images.

[2018-05-14 13:59] akx commented on #6977
To expand on my last comment, by the way, there's a slightly undocumented syntax for `optimization.runtimeChunk`: You can actually set it to ```
optimization: {
  runtimeChunk: {
    name: 'shared',
  },
}
[code]

[2018-05-14 14:55] ooflorent commented on #7292
I don’t see the problem here. These are just warnings. If you need support, please ask your question on dedicated channels such as stackoverflow or our gitter chat.

[2018-05-14 14:57] ooflorent commented on #7292
Regarding the async iterator, please open a new issue.

If you want to disable the size warnings, add `performance: false` to your configuration.

[2018-05-14 15:01] Curiousite commented on #7101
Probably related: Chrome also got rid of the Node-Inspect Button in version 66.
https://stackoverflow.com/questions/50152331/i-lost-the-node-js-debug-button-in-chrome

Another workaround would be to use Chrome 65 until the problem is fixed. You can get it here: https://www.slimjet.com/chrome/google-chrome-old-version.php

[2018-05-14 15:04] isopen commented on #7292
I agree that the last 2 varings seem to be okay.
But the first inconsistency is not very good :( While it is not clear how to close it correctly.

[2018-05-14 15:08] #7292 closed

[2018-05-14 15:30] isopen opened #7298 "Regarding the async iterator"
# Bug report

[code]
https://github.com/isopen/soc/tree/master/frontend

**What is the current behavior?**
syntax error

**If the current behavior is a bug, please provide the steps to reproduce.**
npm install
Paste this piece of code into the center of my application.
npm start

**What is the expected behavior?**
should work the same as in `ng serve`

**Other relevant information:**
webpack versi

[2018-05-14 15:36] evilebottnawi commented on #7298
@isopen acorn can't parse this

https://astexplorer.net/#/gist/c35d1e4a22a671c17dcaa88c2feb818a/d81c6eb1024e0b490a4d674ce5afa101d11c85f2

[2018-05-14 15:45] isopen commented on #7298
This is some kind of magic in my example that's earned today via webpack. Yesterday did not work.
About the design itself, it's a relatively new feature :)

[2018-05-14 18:15] #7269 closed

[2018-05-14 18:17] elliottsj commented on #6248
To clarify, I was previously using webpack@4.8.0 and Node.js v8.11.0 when I had the build times of 30-40 seconds. webpack@4.8.3 was recently released with [this improvement](https://github.com/webpack/webpack/commit/4daaf6cd3308cfd0331f43ccbf686602b3603f3d#diff-85fbed05eca5e121b22d10eb9cd921d5), and I suspect that Node.js v10 includes some optimizations to Map / WeakMap / Set which improve perform

[2018-05-14 19:58] edmorley opened #7300 "splitChunks can create initial chunks that are empty after CSS extraction"
# Bug report

**What is the current behavior?**

The `splitChunks` feature (using `chunks: 'all'`) doesn't take into account CSS extraction (via `mini-css-extract-plugin`) when deciding whether to create a new inital chunk. A new chunk can end up being created that is empty (other than the webpack functions) and under the default 30KB `splitChunks.minSize` threshold so shouldn't have been created.

[2018-05-14 20:12] evilebottnawi commented on #7300
@edmorley Maybe related https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85?

[2018-05-14 21:26] GabrielDuarteM commented on #6693
@evilebottnawi I got a reproducible repo available [here](https://github.com/GabrielDuarteM/webpack-multistep), can you check it out?

To reproduce the bug:

* Run `yarn install` or `npm install`
* Run the script `start`
* Run the script `start:server` in another shell instance
* Go to `localhost:3000`
* Edit the render of the file `src/components/App/App.js` (in my case, I included the letter "a"

[2018-05-14 23:59] mikedloss opened #7301 "Test Issue"

[2018-05-14 23:59] #7301 closed

[2018-05-14 23:59] mikedloss commented on #7301
was created in error - sorry!

[2018-05-15 00:05] evilebottnawi commented on #1574
A lot of difference problem with perf als issue is very old. Closing due to inactivity. Please test with latest `webpack` version and feel free to create new issue if you still have problem with perf with minimum reproducible test repo. Thanks!

[2018-05-15 00:05] #1574 closed

[2018-05-15 00:09] evilebottnawi commented on #2670
`webpack@2` is officially deprecated. Closing due to inactivity. Please test with latest version and feel free to recreate issue if problem still exists. Thanks!

[2018-05-15 00:09] #2670 closed

[2018-05-15 00:14] evilebottnawi commented on #6040
@superandrew problem still exists?

[2018-05-15 00:15] evilebottnawi commented on #7263
@aleen42 feel free to send pr

[2018-05-15 00:17] evilebottnawi commented on #6377
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-15 00:17] #6377 closed

[2018-05-15 03:54] TienDo1011 opened #7302 "Need update docs: Dynamic import doesn't work as shown in the docs"
# Bug report

**What is the current behavior?**
As shown in the [documentation](https://webpack.js.org/guides/code-splitting/#dynamic-imports) about dynamic imports, we should get lodash from `import(/* webpackChunkName: "lodash" */ 'lodash').then(_ => doSomething());` but instead the lodash value is wrapped inside a namespace with default property.

**If the current behavior is a bug, please prov

[2018-05-15 06:26] sokra commented on #7302
@webpack-bot move to webpack/webpack.js.org

[2018-05-15 06:26] #7302 closed

[2018-05-15 06:27] sokra commented on #7300
Yep that's true

[2018-05-15 06:28] odedniv commented on #7238
Yes @Janpot it is brittle, unfortunately this is the error object NodeJS supplies :disappointed:  I definitely would wish that it had a `module` property as well as the `code` property, but I don't think that's something to fix here in webpack (it wouldn't help my use case since I can't rely on the project getting webpacked).

[2018-05-15 06:28] sokra commented on #7289
Remove `noParse`. When not parsing a file, `require` is not handled by webpack. i. e. for react.

[2018-05-15 06:28] #7289 closed

[2018-05-15 06:45] arunprakashpj commented on #7294
I raised the concern with [eslint repo ](https://github.com/eslint/eslint/issues/10349) as well . Webpack upgrade has some dependency upgrade in my package json  which leads to this issue. I made webpack version changes / webpack dependency upgrade changes with package json alone . No other changes were done so i suspect if this webpack upgrade has something to do with my issue . (I believe yes)

[2018-05-15 06:49] aleen42 commented on #7263
The PR #7210 has been waited for merging, and what is the current stage? If it has been merged, this issue can be solved at the same time.

[2018-05-15 06:58] #6390 closed

[2018-05-15 06:59] odedniv commented on #7238
Closed by #7303

[2018-05-15 06:59] odedniv commented on #7238
Closed by #7303

[2018-05-15 06:59] #7238 closed

[2018-05-15 08:03] isopen opened #7304 "sshpk"
# Bug report
![image](https://user-images.githubusercontent.com/7373292/40043894-0bf46ec2-5850-11e8-95bf-d55a0dfc0bee.png)

**What is the current behavior?**
Deprecated dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/isopen/soc/tree/master/frontend
npm install
npm start
npm audit

**What is the expected behavior?**
No deprecated package

[2018-05-15 08:08] isopen opened #7305 "tough-cookie deprecated"
# Bug report

![image](https://user-images.githubusercontent.com/7373292/40044480-aa9ef2ee-5851-11e8-9aca-b44b5c332a33.png)

**What is the current behavior?**
Deprecated dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/isopen/soc/tree/master/frontend
npm install
npm start
npm audit

**What is the expected behavior?**
No deprecated packag

[2018-05-15 08:16] kleinph opened #7306 "serve property in webpack.config.js is treated as invalid"
# Bug report

**What is the current behavior?**
A _webpack.config.js_ containing a `serve` property (to configure https://github.com/webpack-contrib/webpack-serve) is treated as invalid.

**If the current behavior is a bug, please provide the steps to reproduce.**
Use a _webpack.config.js_ which contains the `serve` property and start webpack.

**What is the expected behavior?**
A _webpack.config.

[2018-05-15 08:34] pleunv commented on #6767
I'm not using TS and I've tried all of those things, none made a meaningful impact. Could someone help me profile my particular case? Still can't get the ProfilingPlugin to work for a rebuild.

[2018-05-15 08:46] montogeek commented on #7306
cc @shellscape

[2018-05-15 08:47] montogeek commented on #7305
Please open this issue on `request` dependency repository.

[2018-05-15 08:53] ooflorent commented on #7305
We are aware that webpack may use deprecated transitive dependencies. Unfortunately those are so deep that it is hard to fix them all. Please send a PR. We will happily review it!

[2018-05-15 08:55] ooflorent commented on #7304
Send a PR

[2018-05-15 08:59] ooflorent commented on #7298
This should be fixed since it reached stage 4.

[2018-05-15 09:04] isopen commented on #7298
He worked in my project yesterday :)
The day before yesterday there was an error in the line https://astexplorer.net/#/gist/c35d1e4a22a671c17dcaa88c2feb818a/d81c6eb1024e0b490a4d674ce5afa101d11c85f2

[2018-05-15 09:20] wintercounter opened #7308 "What would it take to create multiple types of bundles for production and serve those based on browser support?"
I don't really know what this would exactly take, but I'm sure it would involve multiple projects across the eco-system to achieve this seamlessly (webpack, babel, babel-preset-env, etc). Currently you always have to transpile code to support older browsers and you need to serve that to modern browsers as well.

What if Webpack would create transpiled, semi transpiled (async/await/generators, clas

[2018-05-15 09:25] ooflorent commented on #7308
You should have a look at the [HNPWA](https://hnpwa.com) project. Some demos use webpack and per-browser builds.

[2018-05-15 09:44] evilebottnawi commented on #7306
Strange for me all works fine
@kleinph can you provide your configuration

[2018-05-15 10:28] kleinph commented on #7306
[code]

[2018-05-15 10:33] evilebottnawi commented on #7306
Yep, it is bug, feel free to Send PR :+1:

[2018-05-15 10:34] evilebottnawi commented on #7306
It is very easy :+1:

[2018-05-15 10:46] evisong commented on #2134
In my case, I had the same modules loaded multiple times, esp. `React` and `lodash`, which caused me a lot of troubles.

For some reason, I had several named entries in Webpack config, and some of them must be added to the same page. They do point to the same `React` in bundled in a `cacheGroup`, but it's loaded multiple times.

Eventually, I've solved this by adding `optimization.runtimeChunk: 's

[2018-05-15 10:52] evilebottnawi commented on #4776
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!