[2020-10-21 17:22] evilebottnawi commented on #11776
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please read changelog

[2020-10-21 17:22] #11776 closed

[2020-10-21 17:32] advanceddev opened #11777 "DeprecationWarning: SingleEntryPlugin was renamed to EntryPlugin - ReactJS start/build"
# Bug report

**What is the current behavior?**

When i run **start** or **build** reactjs script i have:
DeprecationWarning: SingleEntryPlugin was renamed to EntryPlugin

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Eject create-react-app
2. Update webpack from **v.4.42.0** to **v.5.1.3**
3. Run **npm start** or **npm run build**

**What is the expected behavio

[2020-10-21 17:34] evilebottnawi commented on #11777
Fix the deprecation, answer in the deprecation message:
[code]

[2020-10-21 17:34] #11777 closed

[2020-10-21 17:34] evilebottnawi commented on #11777
You need to report about this to `create-react-app`, sorry, we can't fix it on our side

[2020-10-21 17:57] cben commented on #9769
Found the relevant code.
Before https://github.com/webpack/webpack-cli/pull/1772/files , webpack CLI provided its own progress handler using `readline.clearLine` and `readline.cursorTo`.
Now it's using the default logic from https://github.com/webpack/webpack/blob/5ff5c0d1cf6d3d491b5b54577d95a3bed71e23c7/lib/ProgressPlugin.js#L82-L83 which is using `logger.status` for disappearing messages, implem

[2020-10-21 18:01] evilebottnawi commented on #9769
I think no

[2020-10-21 18:02] evilebottnawi commented on #9769
@cben Maybe you can show the problem?

[2020-10-21 18:27] kirill-konshin commented on #11080
Please take a look at the description. It was configured like so: `libraryTarget=umd` and `library=[SomeNS, SubNS]`.

And the output is

[code]

The expectation is that namespaces are applied more consistently.

There is no way to control it.

[2020-10-21 18:59] cben commented on #9769
Well I guess details depend on use case, but the common thing is seeing _all_ progress messages dumped on output without in-place overwriting of previous lines is inconvenient, it just drowns everything else :volcano:

- Under CI, I'm resorting to --no-progress, although seeing _some_ rate-limited progress could be nice.
- @kross-italk For docker, try using `docker run --tty` flag?
- My case is pr

[2020-10-21 19:46] raix opened #11778 "Webpack 5 module federation: output.publicPath only works if an url"
# Bug report

**What is the current behavior?**
It fails to load vendor chunks:
![image](https://user-images.githubusercontent.com/1136718/96773771-5043ef00-13e5-11eb-958b-de6463c22969.png)
*the files are served without the publicPath on the root on app1 but correctly on app2 - just not loaded - it would never make sense that app1 and app2 are mounted on the same publicPath so somethings is missin

[2020-10-21 19:48] evilebottnawi commented on #11778
dev server doesn't support module federation

[2020-10-21 19:48] #11778 closed

[2020-10-21 19:49] evilebottnawi commented on #11778
Other related issue https://github.com/webpack/webpack/issues/11182

[2020-10-21 20:06] jsnajdr opened #11779 "Webpack 5 doesn't support extended globs in the sideEffects field"
# Bug report

**What is the current behavior?**
When a `package.json` specifies `sideEffects` field with filename-matching globs that use the [extended glob syntax](https://www.linuxjournal.com/content/bash-extended-globbing):
[code]
or
[code]
then webpack doesn't match the files that should the globs: it interprets the `!` and `()` characters as regular characters, not as a special syntax.

**Wha

[2020-10-21 20:11] evilebottnawi commented on #11779
I think `glob-to-regexp` should supports this patterns

[2020-10-21 20:17] antonioaltamura commented on #8895
Is there a plan to implement `libraryTarget: module`? That's is what I actually need: consume a module I built in webpack as a library in another project (built in webpack), of course keeping the first one as an external dependency.

[2020-10-21 20:22] evilebottnawi commented on #8895
@antonioaltamura

Yes, we have issue for this, on top our roadmap, after fixing critical regression after stable release

[2020-10-21 21:17] jonschlinkert commented on #11779
try `"!**/dist/api/**"` or `"!dist/api/**"`

[2020-10-21 22:00] BATCOH opened #11780 "ProfilingPlugin output dosen't displayed in Chrome"
# Bug report

**What is the current behavior?**
JSON produced by ProfilingPlugin is shown in Chrome with one single "Evaluate Script" line without any additional info.
Although events.json is pretty large, contains a lot of lines, timestamps, and looks like a valid JSON file.
Maybe there are some changes in Chromium itself related to this issue.
![Screenshot 2020-10-22 at 00 26 18](https://user-im

[2020-10-22 05:07] ScriptedAlchemy commented on #11033
Yeeeeee!!! 🥳

Thrilled it resolved the problem.
Where did you read about the old config? Or is this just an old copy from beta 16 that you've been using.

Need to know if I should actually update my articles or not 😂😂

[2020-10-22 05:17] ScriptedAlchemy commented on #11778
Yeah there's workarounds. Contact me or chat on the other thread.

[2020-10-22 05:18] royriojas commented on #11033
@ScriptedAlchemy Old example forked from https://github.com/mizx/mfe-webpack-demo which was using the beta version

[2020-10-22 05:19] ScriptedAlchemy commented on #11182
Heads up on live reload. I need to fork the project because multiple remotes attempt to start the server on same port.

I'll separate server boot from reload commands so it'll work with multiple remotes.

[2020-10-22 05:24] ScriptedAlchemy commented on #11033
Ahhh yep. He helped me build out some examples, he was the first outside user. Module federation examples was actually based on his initial effort to help us make example projects. Will DM and see if he wants to drop a link or update some examples

[2020-10-22 05:54] iwangotamarjo commented on #9802
Hi, I'm facing the exact problem with respect to migrating from v4. Do you have a guide or reference for the polyfill that we can follow? Thanks.

[2020-10-22 06:59] ChrisSG commented on #11182
Ok, great!  I'm still stuck with untangling the stuff I did so I can create a repo. Will take a while...

[2020-10-22 07:14] raix commented on #11778
Thanks @ScriptedAlchemy I might reach out 👍  (not sure if the solution is to manually configure the client - examples I've seen)

Fortunately we proxy the front-end into a development cluster locally so I might be able to use publicPath as url locally - I did a production build test and things seemed to work as expected (so I'm happy about that)

@evilebottnawi I'm not sure if it's already being l

[2020-10-22 07:18] xiaohong14 opened #11783 "StringDecoder.write method doesn't accept TypedArray argument"
# Bug report
StringDecoder.write function accepts Buffer or TypedArray argument in Node.js according to [their docs](https://nodejs.org/api/string_decoder.html). And it really works when I pass a Uint16Array object.
But the string_decoder.js bundled by webpack doesn't accept TypedArray argument, it seems only accept Buffer argument.

**What is the current behavior?**
If we pass a Uint16Array argum

[2020-10-22 07:25] ZuBB commented on #11181
Any chance Webpack team will look into this? especially after v5 is out

[2020-10-22 07:36] ScriptedAlchemy commented on #11182
We can create a private repo if it's got things you don't want public. I have many companies who send or Grant me access to their code.

Otherwise I'll await your public repo!

[2020-10-22 07:53] sokra commented on #11779
Negative patterns are not supported. Be positive...

I feel ok that only simple patterns are supported. Supporting a too wide range of patterns was a mistake. That only lead to inconsistencies between tooling. Restricting to simple patterns is good.

But we should improve the documentation about what's supported.

[2020-10-22 08:35] sokra commented on #11770
hmm, yes that's a tricky case... The import is actually unused in `index2`, but merging the two variants of `dep1` into a common variant (shared by both runtimes) generates an invalid `__webpack_require__(891)`.

We probably need to generate some code to conditionally import the dependencies depending on runtime, so these forcefully shared modules can be generated correctly.

There are multiple wo

[2020-10-22 09:12] sokra commented on #11181
We are always watching what other tools are doing...

[2020-10-22 09:15] sokra commented on #11783
webpack 5 drops these default polyfills.

Report the problem to the string_decoder package: https://github.com/nodejs/string_decoder

[2020-10-22 09:15] #11783 closed

[2020-10-22 10:04] evilebottnawi commented on #11780
Sorry it is out of scope `ProfilingPlugin`, please read what is `profiling` https://developer.mozilla.org/en-US/docs/Tools/Performance

[2020-10-22 10:15] evilebottnawi commented on #11182
@ScriptedAlchemy Maybe you want to help with webpack-dev-server?

[2020-10-22 10:57] gtwilliams03 commented on #11740
I think this might have to do with me using NVM to manage node versioning and possibly the yarn global cache is attached to a different version that I don't have installed - but I am still investigating it.  But I think this is definitely NOT a webpack issue since the same repo is working fine for me on a different computer.

[2020-10-22 11:01] evilebottnawi commented on #11740
@gtwilliams03 I think so, anyway feel free to feedback here, It would be great to post a solution here when you find it.

[2020-10-22 11:08] samal-rasmussen commented on #11779
Not sure if I should file a new bug for this as it is also an issue caused by glob-to-regexp.

But adding a regex to the config.devServer.watchOptions.ignored list also trips glob-to-regexp with `throw new TypeError('Expected a string');`.

I now see that `config.devServer.watchOptions` is deprecated and I should use `config.watchOptions` instead. It has a type of `string | RegExp | string[]`, so

[2020-10-22 11:12] evilebottnawi commented on #11779
@samal-rasmussen update webpack to latest version, and this problem is different

[2020-10-22 11:40] samal-rasmussen commented on #11779
I updated webpack to the latest this morning. That's when I got this issue.

[2020-10-22 11:49] evilebottnawi commented on #11779
@samal-rasmussen please do not spam in the not related issue, you still use old version, `yarn upgrade --latest` is not upgrade major release

https://classic.yarnpkg.com/en/docs/cli/upgrade/

[2020-10-22 11:53] gtwilliams03 commented on #11740
@evilebottnawi Thank you for your support!  I am still investigating.  The `react-redux` package has a pretty extensive build script and specifies `"module": "es/index.js"` in `package.json`:

[code]

The first error I am getting is from the built `/es/index.js` file:

[code]

So it looks like it is building the packages correctly - but then the import seems to be trying to use a relative path to

[2020-10-22 12:07] samal-rasmussen commented on #11779
`yarn upgrade --latest` did upgrade webpack from 4 to 5.

I'd love to move this discussion to a new issue if you want. I wouldn't want to do a DenverCoder9: [https://xkcd.com/979/](https://xkcd.com/979/)

[2020-10-22 12:11] evilebottnawi commented on #11779
@samal-rasmussen no need to new issue, webpack@5 provide own types, so you don't need `@types/webpack`, please read how typescript work before using it

[2020-10-22 12:12] antalutrazvan commented on #9309
What is the status on this guys ?
For webpack `4.42.0` this is still an issue :(

[2020-10-22 12:17] evilebottnawi commented on #11740
react-redux code:

**./utils/reactBatchedUpdates.js**

[code]

it is very strange to have `eslint-disable import/no-unresolved` here

[2020-10-22 12:37] gtwilliams03 commented on #11740
I am unfamiliar with what that comment line would do...

[2020-10-22 12:47] evilebottnawi commented on #11740
Nothing, it is just comment, sorry, we don't have time to help all developers with the migration (we just don't have time on this), you can use stackoverflow or gitter or other Q&A services for supporting, no problems with webpack here

[2020-10-22 12:52] samal-rasmussen commented on #11779
The migration guide doesn't say that you need to remove @types/webpack when you upgrade in order to get the new v.5 types. If I saw the right types then I would have been able to figure out why I was getting errors with glob-to-regexp, and I wouldn't have come here.

[2020-10-22 12:57] evilebottnawi commented on #11779
@samal-rasmussen https://webpack.js.org/migrate/5/#changes-to-internals, feel free to send a PR with improvements

[2020-10-22 13:00] gtwilliams03 commented on #11740
Yes - one issue has come up with webpack that I wonder if it is relevant (and I appreciate your comments).  If I comment out `'node-modules'` here:

[code]

webpack throws this error:

[code]

[2020-10-22 13:00] gtwilliams03 commented on #11740
Sorry - I cross-posted with your message.  Thank you for your help.

[2020-10-22 13:09] evilebottnawi commented on #11740
@gtwilliams03 interesting issue, can you create minimum reproducible test repo?

[2020-10-22 13:10] evilebottnawi commented on #11740
We should stop posting here different problems, because it is useful for other developers and for resolving issues, I will open this issue after resolving problem above

[2020-10-22 13:11] evilebottnawi commented on #11740
Anyway if you use PnP you **shound not** have `node_modules`

[2020-10-22 13:49] gtwilliams03 commented on #11740
Repro updated (was able to reproduce the error in the test repro at https://github.com/gtwilliams03/test-webpack-repro.git on two different computers

[2020-10-22 13:52] #11726 closed

[2020-10-22 14:08] evilebottnawi commented on #11616
Related https://github.com/nodejs/node/pull/35747

[2020-10-22 14:11] baylesa-dev commented on #11767
The related issue in node.js: https://github.com/nodejs/node/issues/35730

[2020-10-22 14:17] bmeck commented on #11750
We noticed this diverges from node since it adds back the searching behavior. Is there a way to turn off the searching (either we can PR a config or some path towards convergence)?

[2020-10-22 14:25] evilebottnawi commented on #11750
@bmeck I think we need support both scenarios right now, because it can potential break some packages, but we should implement this https://github.com/webpack/webpack/issues/11616

[2020-10-22 14:30] bmeck commented on #11750
@evilebottnawi that seems fine as long as we have some eventual convergence, I'm not asking to remove searching just to have a flag or something (even just a warning when searching would be fine) to make sure it matches node.

[2020-10-22 14:35] daniele-orlando commented on #11725
I can reproduce the bug even with `devtool: false`.
My project does work as expected with Webpack **4**, but fails on Webpack **5**.

[2020-10-22 14:36] evilebottnawi commented on #11750
@bmeck yes, but before flag/option/warning we should implement recommended solution, so let' continue discussion https://github.com/webpack/webpack/issues/11616

[2020-10-22 14:43] evilebottnawi commented on #11725
@daniele-orlando Please create reproducible test repo

[2020-10-22 14:45] bmeck commented on #11616
I'm not sure I understand how this fixes path searching. Example of problem w/ collision of preact expecting searching but react transforms appending `.js` recently occured; given:

[code]

I'm unclear how `import("react/hooks")` [really Preact] would be fixed with patterns, it would require Preact to update, which it already could do w/o patterns but has chosen not to.

[2020-10-22 14:48] evilebottnawi commented on #11616
@bmeck hm, I don't understand you, what is the problem here

[2020-10-22 14:54] sokra commented on #11725
Please create a new issue

[2020-10-22 14:58] sokra commented on #11750
The issue was about a package.json was not read for the `type: module` flag. How does it relate to searching?

[2020-10-22 14:59] bmeck commented on #11616
react transforms now include the file extension in transpilation (e.g. `import "react/hooks.js";`) instead of the old `import "react/hooks"`; preact implemented an exports maps with only the non-file extension form so the specifier `"react/hooks.js"` generated by transpilers isn't found. The fix was in https://github.com/webpack/enhanced-resolve/pull/260 which added back searching. Searching made

[2020-10-22 15:02] johnthecat commented on #11668
@sokra Hi, is there any estimate on this issue? Migration in my company is blocked by this bug, but, unfortunately, we do not have free time to do PR ourselves 😔

[2020-10-22 15:03] evilebottnawi commented on #11616
Resolving with extensions only for cjs by default, if you use `import` and don't disable `fullySpecified` all will work fine

[2020-10-22 15:05] evilebottnawi commented on #11668
@johnthecat this problem appears when something can't be resolved, it should not blocker for you, because you still need to fix resolving problems

[2020-10-22 15:09] sokra commented on #11616
The mentioned PR doesn't add back searching for import "react/hooks"; only for commonjs require like Node.js does.

[2020-10-22 15:23] 3DGISKing opened #11787 "Can not import css file not exported from package.json"
I am working on https://github.com/CesiumGS/cesium-webpack-example.
This is very simple web pack configured web app.

It works well with webpack 4(original version).
But after I update web pack version, it shows following error.

Module not found: Error: Package path ./Build/Cesium/Widgets/widgets.css is not exported from package E:\MyResearch\CesiumJsGIS\node_modules\cesium (see exports fiel
d in

[2020-10-22 15:30] evilebottnawi commented on #11787
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-22 15:30] #11787 closed

[2020-10-22 15:32] evilebottnawi commented on #11787
Expected, because https://github.com/CesiumGS/cesium/blob/master/package.json#L35, css is not exported for other packages

[2020-10-22 15:33] evilebottnawi commented on #11787
https://github.com/webpack/webpack/issues/11467#issuecomment-708871353, but I **strongly don't recommend** to do this

[2020-10-22 15:41] 3DGISKing commented on #11787
so what is the solution?

[2020-10-22 15:43] joakimriedel commented on #11668
If this is a resolving problem - could someone please elaborate or post a link on how to debug and find the eventual culprit? I have a fully working build, no errors or warnings (unless I enable filesystem cache with path to config that is..), no runtime errors, but still can't enable file system cache due to this issue.

[2020-10-22 15:46] evilebottnawi commented on #11787
Solutions:
- open an issue in repo and ask to export CSS files
- avoid using not exported CSS files and use `copy-webpack-plugin`
- Use workaround above, right now and search alternatives

[2020-10-22 15:47] evilebottnawi commented on #11668
@joakimriedel interesting, can you provide reproducible test repo?

[2020-10-22 16:30] Buntelrus commented on #10216
@tobiu @PeteX The quoted solution from @OnurGvnc works perfectly fine for me. I recommend using yarn as package manager. Add the resolutions entry to _package.json_ and run `yarn install`

[2020-10-22 17:06] evilebottnawi commented on #11661
/cc @ScriptedAlchemy friendly ping

[2020-10-22 17:22] joakimriedel commented on #11668
@evilebottnawi I'll try my best, it's a pretty big project evolved during many years and versions of Webpack so I'll need to break it down a bit first. During the last hour, I got at least the following findings;

At this line: https://github.com/webpack/enhanced-resolve/blob/0f51a8cf62b47cde4f57977cf4a205d832f8da69/lib/ParsePlugin.js#L33

the `request` object is supposed to have a `request `key (

[2020-10-22 17:25] jdelStrother commented on #11668
I'm seeing similar issues, and also have a .scss file containing:

[code]

[2020-10-22 17:26] evilebottnawi commented on #11668
Thanks I will look at this in near future, a lot of issues :disappointed:

[2020-10-22 17:30] pavelloz commented on #11674
Well, yes, because there is very little JS in the project, and tailwindcss is a postcss plugin, so thats where the time goes.

Versions are: PostCSS 8.1.2, postcss-loader 4.0.4

I think i need to wait for the same performance tracking plugin to work on both versions to compare and detect more. Right now i jus see that its around 2x slower but dont know if thats webpack or not, because a lot of loa

[2020-10-22 17:45] evilebottnawi commented on #11674
@pavelloz Can you create reproducible example and I will help, otherwise we will close issue, because we can't solve something somewhere

[2020-10-22 19:13] evilebottnawi commented on #11668
Hm, look like bug is not in webpack, problem with `sass-loader`, webpack just generate ugly error, WIP

[2020-10-22 19:14] gtwilliams03 commented on #11668
@jdelStrother @joakimriedel Yes - my project also contains `bootstrap` and `react-bootstrap`

[2020-10-22 19:16] joakimriedel commented on #11668
I'm sorry for the bootstrap red herring. It turned out to be fontawesome.

I have a repro here: https://github.com/joakimriedel/webpack-cache-bug-repro

[2020-10-22 19:27] evilebottnawi commented on #11668
Yes, I was right here two problems:
- bug in `sass-loader`
- ugly error from webpack when you run:

[code]

WIP on first

[2020-10-22 19:38] 3DGISKing commented on #11787
I see. Thanks.

[2020-10-22 20:09] evilebottnawi commented on #11668
https://github.com/webpack-contrib/sass-loader/pull/896, release will be in near future

[2020-10-22 20:20] evilebottnawi commented on #11668
Please try https://github.com/webpack-contrib/sass-loader/releases/tag/v10.0.4

[2020-10-22 20:24] evilebottnawi commented on #11668
@joakimriedel Found how we can improve your build :smile: small change and your time will be `webpack 5.2.0 compiled with 2 warnings in 168 ms` :smile:

[2020-10-22 20:51] joakimriedel commented on #11668
@evilebottnawi can confirm sass-loader 10.0.4 solves the issue I've had with the cache, webpack 5 feels rock solid now! 🎉

In my real project, compile time went from 14440 ms to 1667 ms using the filesystem cache. (on a threadripper)

I'm really curious about the small change to bring the compile time even further down?

[2020-10-22 21:00] evilebottnawi commented on #11668
@joakimriedel Can you try to disable `parallel` for `terser-webpack-plugin` (https://github.com/webpack-contrib/terser-webpack-plugin#parallel)? I think we need improve creating of workers

[2020-10-22 21:09] joakimriedel commented on #11668
@evilebottnawi yes, that shaved the not-cached run down from 14440 ms to 11523 ms, but cached run still around ~1650 ms. Still, thanks for the tip - appreciate it!

[2020-10-22 21:14] evilebottnawi commented on #11668
@joakimriedel Just interesting how much JS assets you have?

[2020-10-22 21:17] tobiu commented on #10216
@Buntelrus If I would create an app, it would do this right away.

The thing with creating an UI framework: it has to run for every dev who wants to use it.
This gets especially tricky in case you create an app via "npx neo-app":

https://github.com/neomjs/create-app

I did not dive deep into yarn yet, but I doubt we can use it for npx calls.

Best regards,
Tobias

[2020-10-22 21:24] joakimriedel commented on #11668
Not that big, 73 files, 173 kB in total source, but ~30 entrypoints and everything is processed typescript > babel > ie 11 support.

[2020-10-22 23:55] drewlustro commented on #11668
Is this issue fixed for `enhanced-resolve`  ? I'm still experiencing it.

[2020-10-23 01:21] fregante opened #11789 "webpack-cli@4 does not exit with non-0 code on error"
# Bug report

`$ webpack` should exit with a non-0 code when it finds an error in `webpack.config.js`

**What is the current behavior?**

The `webpack` version was also changed between screenshots, but it doesn't actually affect the result. The same thing happens with `webpack@4` and `webpack-cli@4`

<img width="237" alt="" src="https://user-images.githubusercontent.com/1402241/96945484-834cb800-1

[2020-10-23 01:44] snitin315 commented on #11789
Thanks for the report I'm looking into it.

[2020-10-23 02:18] snitin315 commented on #11789
Working fine for me.

![Screenshot at 2020-10-23 07-47-54](https://user-images.githubusercontent.com/46647141/96948833-21706a80-1504-11eb-8dec-ffd23a9f6d06.png)

[2020-10-23 02:37] linbudu599 opened #11791 "Missing type definition on @types/webpack package"
## Feature request

**What is the expected behavior?**
`@types/webpack` is missing some type definitions which are required on some plugins work, like `ModuleFileNameHelper` and `Compilation.updateAsset`, I got this problem in a [plugin file](https://github.com/sorrycc/esbuild-webpack-plugin/blob/master/src/index.ts), which is declared in webpack source type.d.ts: [ModuleFileNameHelper](https://gi

[2020-10-23 02:44] snitin315 commented on #11791
I think you can send a PR for exporting more types as per your need.
Types can be exposed by adding `@typedefs` to `lib/index.js`. Run `yarn special-lint-fix` to update the typings.

[2020-10-23 03:13] martinoppitz opened #11792 "A with webpack v5 bundled unchanged svelte app, does not work anymore"
# Bug report

A successful bundled svelte app, does not build after webpack 5 upgrade.

**What is the current behavior?**

Link: https://github.com/martinoppitz/poc-flexible-web-application-architecture/runs/1296036819?check_suite_focus=true#step:5:328

**If the current behavior is a bug, please provide the steps to reproduce.**

Please use the bash commands to reproduce the same code.

Console:
[

[2020-10-23 03:21] martinoppitz commented on #11792
https://github.com/sveltejs/svelte-loader/issues/139

[2020-10-23 03:25] linbudu599 commented on #11791
Thanks a lot~

[2020-10-23 03:25] #11791 closed

[2020-10-23 03:35] fregante commented on #11789
I don't know where you're testing because it doesn't work anywhere for me. Here's a plain GitHub Action workflow where CI passes even if webpack fails: https://github.com/fregante/webpack-issue-11789/runs/1296100000?check_suite_focus=true

[code]

<img width="564" alt="" src="https://user-images.githubusercontent.com/1402241/96953506-d3814580-14b6-11eb-8b1b-3bf70481a941.png">

[2020-10-23 04:31] ScriptedAlchemy commented on #11661
I'll work on it this weekend

[2020-10-23 04:36] ScriptedAlchemy commented on #11182
@evilebottnawi We would need to get on a call. I don't understand HMR at the level I need to for this.

I'm happy to help WDS and I really want to learn HMR api and would like to enable prod hmr with MF

If you're willing to walk me thru, I'll gladly dedicate efforts toward it

[2020-10-23 07:03] #6845 closed

[2020-10-23 07:24] grantila commented on #11780
Then what's the purpose/scope of the plugin, @evilebottnawi? I used it, got a 500mb file, shows nothing in chrome event viewer.

[2020-10-23 07:51] #9007 closed

[2020-10-23 08:15] snitin315 commented on #11789
Just added a test case for the same in webpack/webpack-cli#1979

[2020-10-23 08:39] xkelvinx666 opened #11793 "Webpack 5 dev server doesn't show detail error in overlay"
# Bug report

the dev server doesn't show detail error in overlay in webpack 5

**What is the current behavior?**

the overlay message doesn't show the compiler error, maybe the error scheme change in webpack 5?

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/15306173/96970774-beec8e00-1546-11eb-974c-14d49496d06b.png">

**If the current behavior is a bug, please provi

[2020-10-23 08:50] fregante commented on #11789
Yes but the test passes while the example code doesn’t work on GitHub Actions and on my computer, so the test isn’t effectively testing the same thing/environment.

[2020-10-23 08:53] fregante commented on #11789
This is the same demo code running on webpack-cli@3: https://github.com/fregante/webpack-issue-11789/runs/1297071918?check_suite_focus=true

It fails as expected.

[2020-10-23 08:58] fregante commented on #11789
Here’s another workflow testing every major version of webpack-cli. Every version correctly fails except v4

https://github.com/fregante/webpack-issue-11789/runs/1297087059?check_suite_focus=true

[2020-10-23 09:59] fregante commented on #11789
It's possible that https://github.com/webpack/webpack-cli/pull/1971 fixed it just a couple of days ago but hasn't been pushed yet 🍰

[2020-10-23 10:44] snitin315 commented on #11789
can you try with the `master` branch?

[2020-10-23 10:46] fregante commented on #11789
I tried but it's a monorepo, I don't know how to `npm install` that

[2020-10-23 10:50] snitin315 commented on #11789
You can create a symlink with `npm link webpack-cli`

[2020-10-23 10:54] evilebottnawi commented on #11793
No problems in webpack

[2020-10-23 11:06] evilebottnawi commented on #11780
@grantila What do you want to see? I don't understand your problem

[2020-10-23 11:08] grantila commented on #11780
What am I *supposed* to see? What is the purpose of this plugin? I don't see anything. That's not expected.

[2020-10-23 11:10] evilebottnawi commented on #9007
/cc @SassNinja Do you try webpack@5? filename and chunkName can be functions now

[2020-10-23 11:21] evilebottnawi commented on #11668
@drewlustro Yes (https://github.com/webpack/enhanced-resolve/pull/261), but you will have error in this case, so we need to find loader with problems, can you provide config/minimum reproducible test repo

[2020-10-23 11:30] evilebottnawi commented on #11182
@ScriptedAlchemy yep, I will help you, I want to finish webpack-dev-server v4 and we will focus on HMR for module federation

[2020-10-23 11:53] BATCOH commented on #11780
Well, according to [docs](https://webpack.js.org/plugins/profiling-plugin/): "It will then display timeline stats and calls per plugin!".
And there is no timeline stats and no calls per plugin.

At least docs have to be changed if this is valid and expected behavior.

[2020-10-23 12:26] evilebottnawi commented on #11780
hm, something wrong with chome, investigate

[2020-10-23 12:36] evilebottnawi commented on #11780
![Screenshot from 2020-10-23 15-35-29](https://user-images.githubusercontent.com/4567934/97004254-74b6dd00-1545-11eb-83c2-017dde751bab.png)

No problems on webpack@4 and webpack@5, please open an issue in `create-react-app`, also we have tests on this

[2020-10-23 12:38] evilebottnawi commented on #11780
You have

[2020-10-23 12:56] evilebottnawi commented on #11780
@BATCOH

Can you provide example or link?

[2020-10-23 13:02] talalalamdar commented on #9077
Worked for me after updating my node version to v`10.4.0`, my old version was v10.2.0

[2020-10-23 13:06] evilebottnawi commented on #11792
Bugs on svelte side:
[code]

Original code:
[code]

Should be:

[code]

Why? Because https://nodejs.org/api/esm.html#esm_import_statements

This file will not work on node too

Output:
[code]

Some deprecation messages, but it is not the problem (just update deps).

[2020-10-23 13:06] #11792 closed

[2020-10-23 13:08] evilebottnawi commented on #11792
Workaround - https://github.com/webpack/webpack/issues/11467#issuecomment-691873586, but we strongly discourage doing this

[2020-10-23 13:10] evilebottnawi commented on #11792
Can't reproduce https://github.com/webpack/webpack/issues/11792#issuecomment-714883718, maybe already fixed, but there is nothing to do something on webpack side

[2020-10-23 13:28] evilebottnawi commented on #11668
Fixed in both places (update deps to latest, i.e. `sass-loader` and `enhanced-resolve`), please leave feedback

[2020-10-23 13:59] birdofpreyru commented on #11670
@evilebottnawi This issue is real, I also encountered it. For me the crash happens in this line of code generated by Webpack@5: https://github.com/webpack/webpack/blob/master/lib/web/JsonpChunkLoadingRuntimeModule.js#L325 when I reload a page after the first HMR happened.

I am not able to reproduce it with a simple codebase, but I figured out that it can be fixed by setting initial values of `cur

[2020-10-23 14:14] evilebottnawi commented on #11670
I am too, so I can't find a problem, we can't change code without tests

[2020-10-23 14:21] gpoitch opened #11796 "[webpack 5] moduleIds hashed shouldn't be deprecated for deterministic"
## Feature request

**What is the expected behavior?**
Webpack 5 presents a warning that moduleIds: hashed is deprecated in favor of deterministic.  These aren't interchangeable when modules are referenced across more than 1 build.

**What is motivation or use case for adding/changing the behavior?**
In a multi-compiler build (e.g. SSR server & client) we collect which modules initiate dynamic imp

[2020-10-23 14:23] evilebottnawi commented on #11796
Use should not use `hashed` or `deterministic` in this case

[2020-10-23 14:35] gpoitch commented on #11796
@evilebottnawi can a function currently be used? Documentation doesn't say that it can. You're right, it would be probably faster to only uniquely identify the modules we need and do the fastest/simplest thing for the rest.

[2020-10-23 14:38] evilebottnawi commented on #11796
@gpoitch because it is very non standard, I thing you need to implement own plugin, you can look at code of `hashed` plugin

[2020-10-23 14:57] gpoitch commented on #11796
@evilebottnawi ok, I think that could be doable.  What's the best way to determine if a module is a dynamic import trigger now?  I was checking `module.reasons` but it was removed in webpack 5.  My workaround was calling `compilation.getStats()` which still contains the reasons but I think that wouldn't work during the custom module id'ing phase.

[2020-10-23 15:03] evilebottnawi commented on #11796
You need graph for this

[2020-10-23 17:54] ScriptedAlchemy commented on #11182
Excellent, all my HMR work will be reallocated to WDS, very excited to work with you again @evilebottnawi - its been a while since our last collab on mini-css

[2020-10-23 18:05] BATCOH commented on #11780
@evilebottnawi
I made a minimal repo with webpack@5 and the issue is still there.
https://github.com/BATCOH/webpack-profiling-example

[2020-10-23 18:06] evilebottnawi commented on #11780
Thanks!

[2020-10-23 18:41] birdofpreyru commented on #11670
@evilebottnawi I figured it out. It happens if any `XXX.hot-update.js` is by mistake loaded into the frontend as a standalone script. Thus not a Webpack bug, but detecting it automatically and throwing a clear error message may be a nice feature. The mistake is easy to do, if somebody takes chunk names from webpack stats and infects them all as `<script>` into html (oiginally there is no `xxx.hot-

[2020-10-23 18:52] evilebottnawi commented on #11670
@birdofpreyru Do you have ideas how we can improve it?

[2020-10-23 18:58] sokra commented on #11796
ModuleGraph getIncomingConnections

Yep, best don't use ids for this task. Even with hashes ids there is no guarantee that ids are identical. Use the default ids and store mappings for id to the information you need.

[2020-10-23 18:58] yeminxuan opened #11798 "webpack-dev-server can't use"
# Bug report
use webpack 5.1.3 and webpack-dev-server found a mistack:
cmd console:
Error: Cannot find module 'webpack-cli/bin/config-yargs'
Require stack:
- F:\webpack-demo\node_modules\webpack-dev-server\bin\webpack-dev-server.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:831:15)
    at Function.Module._load (internal/modules/cjs/loader.js:687:27)
    at Module.requi

[2020-10-23 19:02] evilebottnawi commented on #11798
Please open `webpack-dev-server` repo and look at pinned issue

[2020-10-23 19:02] #11798 closed

[2020-10-23 19:03] evilebottnawi commented on #11798
https://github.com/webpack/webpack-dev-server/issues/2424

[2020-10-23 19:03] gtwilliams03 commented on #11740
@evilebottnawi I am not sure if this is relevant, but I pass it along - maybe it explains the `undefined` error a few posts above: `Cannot read property 'availableChildren' of undefined`

Example error with `node_modules` listed in webpack.config as a module:
[code]

Note the path for the warnings and errors...:  `../node_modules/react-redux/` which resolves to `/Users/gtw/node_modules/react-redux

[2020-10-23 19:15] evilebottnawi commented on #11668
@joakimriedel Can you try https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v5.0.1 and provde some feedback on performance? Try it on `node@12` or `node@14`

[2020-10-23 19:17] evilebottnawi commented on #11740
Yes, in my TODO, I will look at this tomorrow, can you try `master`, we did some fixes

[2020-10-23 19:51] Guymestef opened #11799 "[Webpack5]|code splitting] installChunk: Cannot read property 'length' of undefined"
# Bug report

**What is the current behavior?**
When using @loadable/component library, with SSR, I get the error:
installChunk: Cannot read property 'length' of undefined
In debug, I can see that chunk object only contains __LOADABLE_LOADED_CHUNKS__, no object modules, ids or runtime.
So it crashes on chunkIds.length

[code]

**If the current behavior is a bug, please provide the steps to reprodu

[2020-10-23 20:30] gtwilliams03 commented on #11740
@evilebottnawi Thanks!  I ran my test repro with webpack latest master and it generated the same error above.

[2020-10-23 21:05] gpoitch commented on #11796
Thanks for the tips.  I'm realizing the modules ids aren't matching up anymore in webpack 5 prod mode even if I set `hashed`.

I ended up leaving `moduleIds` to its default (unset).

Then in my plugin, used the moduleGraph to find the module for each chunk in the client bundle that triggers a dynamic import and record its dependency `request`.  Then find each module in the server bundle who has ma

[2020-10-23 21:31] pustovalov opened #11800 "[Webpack 5] Can't find module from library which was compiled via webpack 5"
# Bug report

**What is the current behavior?**

webpack 5

config:
[code]

[code]

dist output
[code]

**What is the expected behavior?**

webpack 4

config:
[code]

[code]

dist output:
[code]

**Other relevant information:**
webpack version: 5.2.0
Node.js version: 14.14.0
Operating System: macOS
Additional tools: yarn 1.22.10

## UPD:

remove `library` field fixed that, updated config:
[code]

[2020-10-23 21:35] MichaelMikeJones commented on #2949
I had this problem, just updated webpack-cli from 4.0.0 to 4.1.0 and it fixed it!

[2020-10-23 22:02] jasonwilliams commented on #11456
This issue also affects webpack5, so I don’t know if it needs the label also? I hope it doesn’t get left behind now that activity is focused on v5 😔

[2020-10-23 22:09] birdofpreyru commented on #11670
@evilebottnawi something like this: https://github.com/birdofpreyru/webpack/commit/0f228d356c6e936e458743594b10a48aa5c5b5ab (though, I'd guess, there is a better way to check it)?

[2020-10-23 22:14] doberkofler commented on #11770
I'm hitting the same problem. Using `optimization.sideEffects: false` seems to work around the issue for me.

[2020-10-24 00:31] juwens commented on #2933
Just for info, if somebody stumbles upon this:

**es module output didn’t made it into webpack 5 yet**.
Alt least not up until now (webpack 5.2.0).

[2020-10-24 04:31] #10309 closed

[2020-10-24 09:39] andersk opened #11801 "Empty bundle prohibition is inconvenient for TypeScript users"
## Feature request

**What is the expected behavior?**
The `EntryItem` type should be `string[] | string`, not `[string, ...string[]] | string`.

**What is motivation or use case for adding/changing the behavior?**
The `[string, ...string[]]` type is annoying to work with in TypeScript, because it’s incompatible with almost every nontrivial way you might compute the `entry` parameter other than wr

[2020-10-24 09:44] joakimriedel commented on #11668
@evilebottnawi might bring some small improvements on a cold cache, but on warm cache it seems to perform equally (node v12.18.4)

I think most of my processing time is spent exporting json data for async import of CLDR and Globalize.js for our multilingual application. Marking as off-topic but any help improving build times is appreciated, could have a separate thread about this somewhere.

[2020-10-24 10:29] geekuillaume commented on #11543
I've been trying to create a AudioWorklet with Webpack 5 for 3 hours and I cannot seem to find any way to make it work. Even by trying to add everything I could think of in `parser.worker`, nothing works. In some case the AudioWorklet file is imported as a normal JS file (and emit an error as the class `AudioWorkletProcessor` is not available in the main context), in other case the file is importe

[2020-10-24 11:18] sokra commented on #11799
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-10-24 11:23] sokra commented on #11770
There is a bugfix here: https://github.com/webpack/webpack/pull/11802
but I'm unsure if this has more undiscovered side effects...

Maybe you can test the PR in your real repos, that would give me more certainty that it works fine?

You can just reference a branch in your package.json `"webpack": "webpack/webpack#bugfix/11770"`

[2020-10-24 11:48] sokra commented on #2933
This will be one of the next features we will work on.

[2020-10-24 12:15] evilebottnawi commented on #11670
@birdofpreyru I think we should output this only when HMR enabled for reduce runtime code, anyway good idea, maybe you can send a PR?

[2020-10-24 12:17] evilebottnawi commented on #11668
@joakimriedel Will be great to look at example, maybe part of application and configurations, hard to say without it

[2020-10-24 12:20] evilebottnawi commented on #11799
Please update https://github.com/gregberge/loadable-components/releases/tag/v5.14.0

[2020-10-24 12:20] #11799 closed

[2020-10-24 12:20] evilebottnawi commented on #11799
Feel free to feedback if it doesn't help, also please provide reproducible test repo

[2020-10-24 12:25] evilebottnawi commented on #11543
@geekuillaume Can you provide reproducible test repo?

[2020-10-24 12:28] evilebottnawi commented on #11801
Yes, PR welcome

[2020-10-24 12:31] #10896 closed

[2020-10-24 12:54] evilebottnawi commented on #11219
bump, I think we can improve this in webpack@5

[2020-10-24 13:00] evilebottnawi commented on #11780
@BATCOH All works fine too :confounded:
![Screenshot from 2020-10-24 15-59-52](https://user-images.githubusercontent.com/4567934/97082391-f8d69680-1611-11eb-833d-26aca2bda895.png)

[2020-10-24 13:56] Knagis commented on #11770
will do. hopefully during weekend, if not, on Monday.

[2020-10-24 15:13] RodrigoRodriguesX10 commented on #7978
I have the exact same problem with JS simple router, I wrote a code like navigateTo() and this code disappear on bundle.js minified file.

The workaround I found was send to window scope all declared functions.

[code]

Which resolve another problem: when you minified and uglify this functions, they lose the global scope, and onclick="navigateTo()" will fail because navigateTo was send to another

[2020-10-24 15:22] 23cicada opened #11803 "Why does it generate "anvendors-node_modules_css-loader_dist_runtime_api_js.js" in the development?"
configuration:
[code]

[2020-10-24 15:28] evilebottnawi commented on #11803
Because we avoid conflict with other names

[2020-10-24 15:28] #11803 closed

[2020-10-24 15:29] evilebottnawi commented on #7978
You should not do it

[2020-10-24 15:31] 23cicada commented on #11803
sorry. I changed the description. Please help me.

[2020-10-24 15:34] 23cicada opened #11804 "Why does it generate "anvendors-node_modules_css-loader_dist_runtime_api_js.js" in the development?"
configuration:
[code]

result:
[code]

When I configure
[code]
 it generates:
[code]

the production environment is normal, And why css-loader/dist/runtime related information appears

[2020-10-24 15:55] evilebottnawi commented on #11804
Please use **stackoverflow** for questions and read docs https://webpack.js.org/plugins/split-chunks-plugin/#defaults and https://webpack.js.org/plugins/split-chunks-plugin/#optimizationsplitchunks

[2020-10-24 15:55] #11804 closed

[2020-10-24 16:50] doberkofler commented on #11770
@sokra I just tested the the `bugfix/11770` branch  and unfortunately it shows about 100 errors like the following.
Is there anything I can do to help?

[code]

[2020-10-24 16:54] alex-vukov opened #11805 "Unexpected token '!==' when importing external module using ModuleFederationPlugin"
# Bug report

**What is the current behavior?**
When trying to build an application importing an external module exported via ModuleFederationPlugin I get the following error:
Uncaught SyntaxError: Unexpected token '!=='
The following code is generated by Webpack:
`/***/ "webpack/container/reference/BillingMFE":
/*!*****************************!*\
  !*** external "BillingMFE" ***!
  \*************

[2020-10-24 17:00] evilebottnawi commented on #11805
Please provide good information for the issue, you issue is not readable, I will reopen it after you fix it

[2020-10-24 17:00] #11805 closed

[2020-10-24 17:03] birdofpreyru commented on #11670
Sure @evilebottnawi , PR created.

[2020-10-24 18:06] fregante commented on #10720
It's still an issue though

[2020-10-24 18:08] sokra commented on #11770
Could you add `stats.errorDetails: true` or `stats.errorStack: true` to get a stack trace?

[2020-10-24 18:16] fregante commented on #10720
This appears to be fixed in 5.2.0 🎉

[2020-10-24 18:16] #10720 closed

[2020-10-24 18:20] fregante commented on #10720
The concatenation was now successful, but I noticed that Webpack now still outputs a lot of junk regardless of concatenation. 🤷‍♂️

Here are the 2 outputted files in full:

[code]

[code]

[2020-10-24 18:21] evilebottnawi commented on #10720
Terser remove all junks for production mode

[2020-10-24 19:16] ScriptedAlchemy opened #11811 "Module federation: internal async boundary"
## Feature request

Posting here for visibility @sokra

Projects that work synchronously, like next.js - cause problems with sharing vendor code. Since next has no async boundary internally to pause execution whole container negotiations take place between runtimes.

To solve this, we change the webpack runtime startup to prevent base app boot till sharing is resolved.

**What is the expected beha

[2020-10-24 19:47] ScriptedAlchemy commented on #11691
[code]

[2020-10-24 21:29] gabsprates commented on #894
Thanks to this comment I found another good option: [jest.isolateModules(fn)](https://jestjs.io/docs/en/jest-object#jestisolatemodulesfn)

It runs the module inside a kind of sandbox.

[2020-10-24 23:32] #11674 closed

[2020-10-24 23:33] pavelloz commented on #11674
https://github.com/webpack/webpack/issues/11674#issuecomment-708332516

I wont prepare more.

[2020-10-25 00:56] BATCOH commented on #11780
I ran some tests in different environments and finally found something useful.

It’s all about node version.
In node v14.5.0 and below everything fine. Issue appears since 14.6.0 and above, including latest 15.0.1.

I've read the [14.6.0 changelog](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V14.md#14.6.0), but it's hard for me to say what exact change could lead to such ef

[2020-10-25 03:33] alex-vukov commented on #11805
Edited. Please re-open

[2020-10-25 06:16] doberkofler commented on #11770
@sokra Does this help
[code]

[2020-10-25 08:21] scdmn opened #11814 "browserslist ie 11 show a problem"
**What is the current behavior?**

       var chunkLoadingGlobal = this["webpackChunknews_app"] = this["webpackChunknews_app"] || [];
        /******/
        var parentChunkLoadingFunction = chunkLoadingGlobal.push.bind(chunkLoadingGlobal);
        /******/
        chunkLoadingGlobal.push = webpackJsonpCallback;

    The code above reports an error ， TypeError: Cannot read property 'webpackChunkn

[2020-10-25 09:57] neoncube2 commented on #10668
For anyone else who finds this thread, here's how to do this with the ProvidePlugin:

In `webpack.config.js`:
[code]

[2020-10-25 12:58] geekuillaume commented on #11543
My bad, worklet-loader is working with Webpack 5 (with some deprecation warnings).

[2020-10-25 17:09] Cronus1007 commented on #11691
Sir I am looking into shelljs and will soon send a PR to close this issue with all the test Cases, snapshots and typing updated.
For understanding the concept of module federation referring to this video of yours
https://www.youtube.com/watch?v=HDRIvks0yyk

[2020-10-25 17:26] jerome-diver opened #11815 "documentation update and confusions around"
# Bug report

**What is the current behavior?**

Read a documentation about webpack-5 who is talking about webpack-5.

**If the current behavior is a bug, please provide the steps to reproduce.**

Go to [webpack-5 official documentation page](https://webpack.js.org/guides/getting-started/) and look, code is about webpack-4 again. That's confusing new user like me.

**What is the expected behavior?

[2020-10-25 18:06] salzhrani opened #11816 "Hooks to implement chunk retry on failed downloads"
## Feature request

**What is the expected behavior?**
Be able to intercept async load failures and retry by recreating the script tag with cache busted url

**What is motivation or use case for adding/changing the behavior?**
We found that retrying the download with the use of cache busting params is very effective, and we could not find a way to utilize it correctly. existing plugins replace the

[2020-10-25 18:21] ScriptedAlchemy commented on #11691
I published it here (use MergeRuntime)
https://github.com/module-federation/nextjs-mf

[2020-10-25 18:22] ScriptedAlchemy commented on #11691
dont use shelljs, not if this is going to be a webpack PR, this plugin is a hack, but it works for now

[2020-10-25 19:33] Cronus1007 commented on #11691
I think we can approach like this we can have a copy of the runtime requirements from the RuntimeRequirementsDependency.js and then expose the runtime requirements via the container.json file.

[2020-10-25 21:54] barak007 opened #11818 "[5.2.0] Unused new URL is not being tree-shaked"
# Bug report

**What is the current behavior?**

I'm trying to use the new asset loading api (new URL) and noticed that unused code isn't being tree-shaked

**If the current behavior is a bug, please provide the steps to reproduce.**

[Exmaple repo](https://github.com/barak007/webpack-asset-url-bug)
follow steps in readme

**What is the expected behavior?**

I expected the bundle to not contain th

[2020-10-25 23:44] ScriptedAlchemy commented on #11691
Yeah agreed. That's the best approach I can think of

[2020-10-25 23:50] natew commented on #11181
@sokra thoughts on esmodule mode that avoids bundling but still supports HMR? I believe there should be some big wins for HMR speed by doing that.

[2020-10-26 08:13] #11668 closed

[2020-10-26 08:21] vbartusevicius opened #11820 "Webpack-5 filesystem cache not detects changed files"
# Bug report

**What is the current behavior?**
The changes in the project's source-tree are not detected with the following config:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/vbartusevicius/webpack-5-persistent-cache

**What is the expected behavior?**
Webpack should see the changed files in source-tree and recompile what's needed.

**O

[2020-10-26 08:36] sokra commented on #11820
`__filename` is a node.js variable that gives the filename of the current file. If you place this code in a nested file only this file will be added to the buildDependencies and not the top-level file.

`__filename` must be placed in the top-level webpack config.

In your case it probably make sense to pass it from the top-level config:

[code]

[code]

[2020-10-26 08:46] sokra commented on #11816
Try something like this:

[code]

Note that this would break prefetching as urls are not identical, but this might not apply in your case.

[2020-10-26 08:59] vbartusevicius commented on #11820
@sokra - did what you recommended, still, the issue remains. If I understand correctly, the guide (https://github.com/webpack/changelog-v5/blob/master/guides/persistent-caching.md) tells that it should compare the snapshots, and other fancy stuff to find the changed tree.

[2020-10-26 09:29] sunginHwang opened #11821 "webpack-5 Nested tree-shaking is not working"
# Bug report

**What is the current behavior?**
* example code
[code]

* webpack.config.js
[code]

* webpack output file
![image](https://user-images.githubusercontent.com/13899553/97155090-2b21f880-17b8-11eb-9bd2-d01c5fc29503.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
i expected remove b. like this document
![스크린샷 2

[2020-10-26 10:29] vankop commented on #11821
with `optimization.minimize = true` dead code will be eliminated.

[2020-10-26 11:01] evilebottnawi commented on #11674
@pavelloz Can you try to update `TerserPlugin` to latest? We fix some perf issues

[2020-10-26 11:10] evilebottnawi commented on #11821
Yes, minimizer remove dead code, you should not disable this for production mode, Answer above

[2020-10-26 11:10] #11821 closed

[2020-10-26 11:12] evilebottnawi commented on #11780
Thanks, it is real weird, maybe regression on node side...

[2020-10-26 11:15] evilebottnawi commented on #11543
@geekuillaume Anyway can you provide example of the problem, I want to fix it, we should avoid `worklet-loader` in future in favor built-in supports

[2020-10-26 11:34] rjgotten commented on #11676
Hate to be that guy, but ...

Have you considered to just use a custom loader keyed on `/([\\/])?package\.json$/i` to explictly removes sensitive information?
That kind of scrubber seems _faa------r_ more appropriate for these cases.

[2020-10-26 11:56] geekuillaume commented on #11543
@evilebottnawi Here is the test case: https://github.com/geekuillaume/webpack-audioworklet-testcase

If you look at the console, you'll see this error:
[code]

The `src/audioworklet.js` file is not emitted as a new entrypoint. It is directly loaded in the main scope.

[2020-10-26 12:10] jantimon opened #11822 "Extend Webpack Compilation Stages"
## Feature request

Add more `processAssets` stages to process assets after they have been optimised (e.g. by terser)

**What is the expected behavior?**

Webpack allows plugins to hook into the asset generation using the [`processAssets` hook](
https://webpack.js.org/api/compilation-hooks/#processassets) of the compilation:

[code]

Right now we have the following stages:

- `PROCESS_ASSETS_STAGE

[2020-10-26 12:13] evilebottnawi commented on #11822
It is impossible, because terser can be replaces in any time on other plugin, I think you are a little mistaken how it works

[2020-10-26 12:14] evilebottnawi commented on #11822
It should be implemented on plugin side, we don't know how you process it

[2020-10-26 12:16] evilebottnawi commented on #11822
I have said many times that you should delete **minify** from the plugin :disappointed:

[2020-10-26 12:36] jantimon commented on #11822
@evilebottnawi I am not sure what you mean - this is also a step towards removing html minification from the html-webpack-plugin

Maybe you misunderstood what I meant by inlining css require access to the optimised assets during html generation.
I don't want to add additional stages for css inlining. I only want the html generation to happen AFTER the css (or js) has been optimised so my plugin ca

[2020-10-26 12:38] Knagis opened #11823 "Watch mode rebuilds due to "missing" invalid files"
# Bug report

This might be issue for [source-map-loader](https://github.com/webpack-contrib/source-map-loader/issues) instead, please let me know if it must be moved. But for me it seems that there could be generic solutions possible at webpack/watchpack level that would work around the source-map-loader problem as well.

Running webpack in watch mode results in immediate rebuild once due to file

[2020-10-26 12:45] evilebottnawi commented on #11823
You miss `If the current behavior is a bug, please provide the steps to reproduce.`, please fix it and I will reopen

[2020-10-26 12:46] evilebottnawi commented on #11822
How you minify js/css? Just for information

[2020-10-26 12:52] jantimon commented on #11822
I don't want to minify it by myself - I want to get the asset after all optimisations have been completed.
This would allow me to get the minified result if another plugin minified it.

[2020-10-26 12:55] evilebottnawi commented on #11822
But how you want to minimize inlined code (`<script>`/`<style>`/`<svg>`/etc)?

[2020-10-26 13:05] Knagis commented on #11823
@evilebottnawi added

[2020-10-26 14:07] evilebottnawi commented on #11543
@geekuillaume Do you use `https`?

[2020-10-26 14:19] evilebottnawi commented on #11805
Because you can have multiple them?

[2020-10-26 14:30] evilebottnawi commented on #11820
You have to put all build files to `buildDependencies` and `webpack.config.js` and `app/config/webpack.config.js` in your case

[2020-10-26 14:33] dr-js commented on #11676
@rjgotten I think you're right, for my usage this is the exact need.
I'll later try write a JSON trim loader & test how it goes.

[2020-10-26 14:38] #11796 closed

[2020-10-26 14:38] jasonwilliams commented on #11630
`Output` no longer works since upgrading a plugin to Webpack 5.
I can see it in the types.d.ts file but maybe its just not exported?

[2020-10-26 14:39] jantimon commented on #11822
https://webpack.js.org/api/compilation-object/#getassets

[code]

After the optimisation this would already give me the minified code so I don't need to minify it any further

[2020-10-26 14:48] evilebottnawi commented on #11820
Try to set `cache: false` and you will have the same problem, I think something wrong on babel side :confounded:

[2020-10-26 14:51] evilebottnawi commented on #11822
Your problem is directly related to this problem

It is how you get assets, not minified

[2020-10-26 15:00] jantimon commented on #11822
Why isn't the plugin which optimizes the javascript not using [`updateAsset`](https://webpack.js.org/api/compilation-object/#updateasset)?

[2020-10-26 15:03] vbartusevicius commented on #11820
The problem is here:
[code]

with `[name].js?[contenthash]` it does not work, but with `[name].bundle.js` - everything is fine.

[2020-10-26 15:04] evilebottnawi commented on #11820
Yep, looking at this

[2020-10-26 15:07] evilebottnawi commented on #11820
Yes, it is interesting case/bug, we do not look at source code if it is `immutable` file (i.e filename `contenthash`), but you have  `contenthash` in query and no query on filesystem

[2020-10-26 15:10] vbartusevicius commented on #11820
Having `?[contenthash]` helps us to temporary keep the old files between releases for users, who have not refreshed the page yet.

[2020-10-26 15:11] evilebottnawi commented on #11822
Because update assets should not do it

[2020-10-26 15:14] sokra commented on #11770
Yep, thanks that helped. I updated the PR with a fix for that and a few other fixes I discovered. If you have some time it would be cool to test the PR again. If it works for you, I would publish a new webpack version for this.

[2020-10-26 15:14] evilebottnawi commented on #11820
Honestly, using `[contenthash]` for query is real not good idea, but it, anyway we should fix it

[2020-10-26 15:14] jantimon commented on #11822
But terser-webpack-plugin is using `updateAsset`:
https://github.com/webpack-contrib/terser-webpack-plugin/blob/69419c2cf0927828e221061418f573f172724f5f/src/index.js#L488

[2020-10-26 15:16] sokra commented on #11820
ah I see... that's a problem

[2020-10-26 15:19] evilebottnawi commented on #11822
I think you misunderstood my question. I mean how you want to minize content inside `style/script/etc` tags inside `HTML` file

[2020-10-26 15:50] jantimon commented on #11822
maybe all we need is

[code]

[2020-10-26 15:55] guybedford commented on #11616
@sokra CommonJS require only does searching for trailing `/` subpath matches (which are now being deprecated), not exact matches.

[2020-10-26 16:07] evilebottnawi commented on #11616
@guybedford import do the same, no differents between `CommonJS` and `ES` for `exports`

[2020-10-26 16:22] evilebottnawi commented on #11823
Yes, it is bug on source-map-loader, we should not add broken utils for wathing

[2020-10-26 16:22] evilebottnawi commented on #11823
@webpack-bot move to webpack-contrib/source-map-loader

[2020-10-26 16:22] #11823 closed

[2020-10-26 16:29] killpowa opened #11826 "leveldown - no native build was found"
# Bug report
I am trying to create a production executable with `electron-builder`. My issue is with the module `leveldown`.
When using webpack and creating a production release, I get the following error. Without using webpack it works and it works in dev too, with and without webpack. The issue is only happening in production with webpack.
I read that adding `leveldown` to the externals solved t

[2020-10-26 16:50] doberkofler commented on #11770
@sokra I'm working on it ...

[2020-10-26 17:00] JonWallsten opened #11827 "[Webpack 5] Modules from internal library cannot be loaded when using mode: development (work in production)"
# Bug report

**What is the current behavior?**
Modules from internal library (also built with Webpack) is missing all exports and is missing from `__webpack_modules__` when building with `mode: development`.
The same code works and the page is loading fine when building with `mode: production` and serving dist.

It seems like the dist bundle file is never "expanded" in `__webpack_modules__`.
If y

[2020-10-26 17:03] evilebottnawi commented on #11827
How you run webpack?

[2020-10-26 17:03] evilebottnawi commented on #11827
webpack-dev-server don't support libraries yet

[2020-10-26 17:05] doberkofler commented on #11770
I have now tested the update PR and the `TypeError: str.replace is not a function` have disappeared but unfortunately the generated bundle does still not run. Interestingly the bundle did work before when using the `optimization.sideEffects: false` option but now also fails with this option.

The error stack looks like this:
![image](https://user-images.githubusercontent.com/1009585/97203742-88687

[2020-10-26 17:11] JonWallsten commented on #11827
I use `webpack serve` as per this issue: https://github.com/webpack/webpack-dev-server/issues/2759
But the same issue occur if I build a development build with Webpack and then use a third party package for serving the dist.
[code]

So I can't import modules from another bundle built with Webpack? Or is library something else in this context?

I'll work on a repro.

[2020-10-26 17:14] evilebottnawi commented on #11827
No, you can, we should fix it, but maybe it is not related to your problem, yep, will be great to look at repo

[2020-10-26 17:16] Knagis commented on #11770
In my case the error I used to get due to the common chunk seems to be fixed.

[2020-10-26 17:18] Knagis commented on #11770
@doberkofler did you try using `innerGraph: false` as a workaround? That is how I worked around the issue in my repo and it seems to be better than completely turning off sideEffects - at least compared to webpack 4 there wouldn't be a loss of optimizations.

[2020-10-26 17:21] JonWallsten commented on #11827
Yeah, it's a guessing game without a repro. Was hoping someone had had the same issue and could point in the right direction. But I'll continue with the repro. It might be done tonight or tomorrow morning.

[2020-10-26 17:35] doberkofler commented on #11770
I have also tried `innerGraph: false` but it still generated a bundle does not run. Maybe I'm hitting a different bug?

[2020-10-26 17:46] evilebottnawi commented on #11770
@doberkofler yep, maybe... Can you provide example of code or reproducible repo or maybe you can simplify to provide simple example

[2020-10-26 17:54] doberkofler commented on #11770
@evilebottnawi As I wrote something must have changed in this PR because now the `optimization.sideEffects: false` workaround is no longer working as well. I would love to provide a simple example but unfortunately most of my problem only appear in one of my very large production environments. Do the errors I get indicate anything that might help you to identify what goes wrong or help me to under

[2020-10-26 17:58] #11820 closed

[2020-10-26 18:03] sokra commented on #11770
Could you disable source map and look at the `extends UiElement` code (the generated code)?

[2020-10-26 18:32] doberkofler commented on #11770
The line itself looks like this
[code]

[2020-10-26 18:42] JonWallsten commented on #11827
I've created a repo now by removing most of our code but leaving the structure. One thing that differ though is that in my repro the web-lib-core library is completely missing `__webpack_require__` for some reason. That is not happening in our app right now. So to get to the real problem I need help with understandning why this is happening.
Close this repo:
https://github.com/JonWallsten/monorepo

[2020-10-26 18:54] sokra commented on #11770
Yep that's what I through. Ill fix it...

[2020-10-26 18:56] doberkofler commented on #11770
... fortunately I don't need to understand ;-)

[2020-10-26 18:59] Cronus1007 commented on #11691
I have just updated the schema and declarations so that you will have a look at how I have exposed the runtimerequirements to the ModuleFederationPlugin

[2020-10-26 19:29] cascornelissen opened #11829 "Documentation on errors like "No code generation entry for ..." errors is missing"
I've asked on [Gitter](https://gitter.im/webpack/webpack?at=5f8d68fabbffc02b58271be5) and [Stack Overflow](https://stackoverflow.com/questions/64461486/webpack-5-plugin-no-code-generation-entry-for-module-error) without any response for over 2 weeks so I'm hoping to find an answer here.

Posting the StackOverflow post here for context but I'm mainly looking for documentation on how to generate an

[2020-10-26 20:42] mmkal opened #11830 "Explicitly document removed polyfills"
Webpack 5 removed automatic polyfills - that's reasonable. Things might have broken in future because of secret polyfill magic. But for users that webpack 4 was working great for - can we get a list of the exact polyfills that _were_ being used, and what the recommended replacements are? Based on error messages I've got from the upgrade (which don't seem to appear all in one go, presumably because

[2020-10-26 21:45] sokra commented on #11830
Here is the full list: https://github.com/webpack/webpack/blob/master/lib/ModuleNotFoundError.js#L13-L42

[2020-10-26 21:51] sokra commented on #11829
* when do you add the module?
* Do you also add the module to `compilation.modules`?

[2020-10-26 22:52] mmkal commented on #11830
Thanks - I linked to that in the OP. The request was for them to be documented somewhere so people don't have to hunt through the code.

Also, I don't think that list is complete. In my case, I also needed `buffer` and a `ProvidePlugin`.

In case it's relevant to anyone, here's what I had to do, it involved a fair amount of trial and error (note that this project runs inside postgres' plv8 hence t

[2020-10-27 01:08] sunginHwang commented on #11821
@vankop , @evilebottnawi  thank you ~!!!!

[2020-10-27 02:53] dr-js commented on #11676
The loader `webpack-json-pick-loader.js`:
[code]

The sample usage:
[code]

The updated test pack with loader `exportMode` set to `export-both` and `json`: [test-webpack5-json-module-20201027.zip](https://github.com/webpack/webpack/files/5442584/test-webpack5-json-module-20201027.zip) (with webpack@5.2.0)

And test log from `npm t > output-test.log 2>&1`:

<details><summary>[output-test.log]</summ

[2020-10-27 03:55] UxieVerity opened #11832 "中文官网，展示的svg过大导致导航栏无法点击"
中文官网，展示的svg过大导致导航栏无法点击

[2020-10-27 06:00] sokra commented on #11770
@doberkofler ok fixed. Could you try once again?

[2020-10-27 06:40] doberkofler commented on #11770
@sokra I had to reinstall all modules after completely removing my node_modules directory and the package-lock.json file before seeing any difference but unfortunately I now get a different error.

![image](https://user-images.githubusercontent.com/1009585/97265558-247e9a00-1827-11eb-91e7-ecc3e80c11ce.png)

in this line
[code]

Is there anything else I can do to help ?

[2020-10-27 07:17] sokra commented on #11770
Ok. So the `extends UiElement` is fixed and this is another one...

You could add `optimization: { minimize: false, moduleIds: "named" }` to the config to get better stack traces. Interesting would be the location of the bundle where the `__webpack_require__` is called. (here: `at Object.47916`, but it's different with the different settings)

[2020-10-27 07:30] vbartusevicius commented on #11820
Do you have any idea when it could be in a release?

[2020-10-27 07:33] sokra commented on #11770
Maybe I add a little explanation why this issue is so complex:

Since webpack 5 webpack optimizes used exports per entrypoint. So if entrypoint A uses export X of module M and entrypoint B uses export Y of module M, then webpack will optimize the graph for each entrypoint separately. This means if export X of module M references module N, then module N will only be part of the graph of entrypoint

[2020-10-27 07:38] doberkofler commented on #11770
I guess so

`minimize: false` was already set and i now also set `moduleIds: "named"` with the following results

**this is the stack**
![image](https://user-images.githubusercontent.com/1009585/97270173-04eb6f80-182f-11eb-88a0-4695fe8c5371.png)

**at __webpack_require__ (las_mod_dashboard.min.js?_=20.10.0:25879)**
`/******/ 		__webpack_modules__[moduleId].call(module.exports, module, module.expor

[2020-10-27 07:47] sokra commented on #11770
Ok I think this is related to module concatentation, which doesn't seem to handle conditional imports correctly.

I guess if you add `optimization.concatenateModule: false` the error disappears?

[2020-10-27 07:56] doberkofler commented on #11770
I guess it was the `concatenateModules` option and yes, by disabling module concatenation the error disappears.

[2020-10-27 08:05] doberkofler commented on #11770
Thank you for the explanation that I most likely did not fully understand ;-)
It is quite stunning how complex a seemingly simple task like bundling can be and unfortunately most people are not aware of the complexity and just take the results as granted.
Thank you for your great work! (I'm happy to at least contribute a little)

[2020-10-27 08:15] sokra commented on #11770
Great. I work on fixing that thing too...

[2020-10-27 08:19] sokra commented on #11770
Most complexity doesn't come from a single feature. Most features along are pretty straight-forward. Most complexity comes from combining multiple features so that they play well together. This issue is a good example. It only occurs as a combination of:

* Code Splitting and especially custom chunk merging via `splitChunks`
* used exports analysis per runtime
* side-effect-free modules
* analysis

[2020-10-27 08:42] #11779 closed

[2020-10-27 08:52] electerious commented on #5087
Has anyone already tested if the issues are resolved with Webpack 5?

[2020-10-27 08:58] keaderzyp opened #11833 "webpack5 hmr cannot work"
我通过@webpack-cli/serve启动本地服务运行项目，并且配置了--hot
更新代码的时候只有控制台有自动更新的日志出现，浏览器页面不自动更新
"webpack": "^5.1.3",
    "webpack-cli": "^4.1.0",
    "webpack-dev-server": "^3.11.0",
只有切换到webapck4.44.*的版本hmr才能正常工作

[2020-10-27 08:58] Birch-san commented on #11827
@JonWallsten I think you're running into the same issue we encountered. Another minimal repro and findings here: https://github.com/webpack/webpack/issues/11277.

[2020-10-27 10:56] sokra commented on #11833
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-10-27 10:56] #11833 closed

[2020-10-27 10:57] sokra commented on #11830
Yeah, sure, send a PR to the documentation.

[2020-10-27 11:02] Lonniebiz opened #11834 "Accept PayPal Donations on webpack.js.org"
Why doesn't webpack.js.org also accept donations via PayPal?:
https://opencollective.com/webpack/donate

Donation pages should conform to the convenience the donator. There's no telling how many people have not followed through with their intention of donating simply because they didn't immediately see a PayPal option.

Having to setup an account with another 3rd party (while one already has a rel

[2020-10-27 11:05] kubijo opened #11835 "Porting assets modification plugin to V5"
Hey.

I'm giving another shot to V5 upgrade in a more incremental way and one thing
I strugle with is porting of my plugin for assets modification.

The idea is that we are running multiple compilations of the project (one per color theme)
and I'm removing all non-css assets from all compilations except the first one.

The whole rather simple code that is working for us on V4 is here:
[code]

This

[2020-10-27 11:14] sokra commented on #11770
Ok, this was a big one... Should be fixed now. Maybe you can try it again? Sorry for bothering you so often...

[2020-10-27 11:15] sokra commented on #11770
yeah npm and yarn doesn't really like if the `version` in package.json doesn't change.

[2020-10-27 11:30] sokra commented on #11834
There is an paypal option on opencollecti ve

[2020-10-27 11:33] doberkofler commented on #11770
That's the least I can do without having provided a simple example.
I guess something it comes handy to have a huge and complicated production environment ;-)
I switched back to the original configuration and it works like a charm now.
Congratulations!

[2020-10-27 11:35] doberkofler commented on #11770
The only way for me: removing the `node_modules` directory and the `package-lock.json` file.

[2020-10-27 11:37] yinsang opened #11836 "installed webpack-cli will output a error while process exit"
# Bug report
When webpack is installed but webpack-cli is not . After put yes to shell, at last it will install webpack-cli ,but still output an error to shell .

**What is the current behavior?**
➜  react-babel-study npm run test

npm WARN react-babel-study@1.0.0 No description
npm WARN react-babel-study@1.0.0 No repository field.

audited 263 packages in 2.183s

23 packages are looking for fundi

[2020-10-27 11:40] evilebottnawi commented on #11835
Because you use invalid hook, no modification for assets on emit/beforeEmit hooks, please use this hook https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L551:
[code]

[2020-10-27 11:40] #11835 closed

[2020-10-27 11:44] evilebottnawi commented on #11820
@vbartusevicius Already released https://github.com/webpack/webpack/releases/tag/v5.2.1

[2020-10-27 11:49] evilebottnawi commented on #11832
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-27 11:49] #11832 closed

[2020-10-27 11:50] #11770 closed

[2020-10-27 11:53] evilebottnawi commented on #5087
Should be yes, feel free to test it and report if you have problems

[2020-10-27 11:55] evilebottnawi commented on #11836
You problem is not readable, sorry

[2020-10-27 11:56] Lonniebiz commented on #11834
@sokra That's good; they should showcase that prominently, because I don't see a paypal logo [here](https://opencollective.com/webpack/donate) among the other logos showcased.

Even still, every additional step required to make a donation will reduce the number of donations completed. Online marketers are familiar with this concept. If someone has a paypal account, they are accustom to making dona

[2020-10-27 11:57] evilebottnawi commented on #11836
If you want to run webpack using CLI, you **need** to install webpack-cli

[2020-10-27 11:57] sokra commented on #11770
great. released as [5.3.0](https://github.com/webpack/webpack/releases/tag/v5.3.0)

[2020-10-27 12:03] evilebottnawi commented on #11834
@Lonniebiz These are our sponsors, not a donation methods, sorry we cannot just accept money because it is taxed, so we use open collective https://opencollective.com/webpack, we made it as simple as possible

[2020-10-27 12:03] sokra commented on #11770
Thanks for all your testing and comments

[2020-10-27 12:05] yinsang commented on #11836
when I have not a webpack-cli ,webpack bin notice me I need install webpack,
after I put 'yes' ,webpack-cli is installed successfully, but still output a error about `require('webpack-cli')`
I just want to fix the output error.

[2020-10-27 12:06] yinsang commented on #11836
![image](https://user-images.githubusercontent.com/12373328/97299362-d18cfd00-188f-11eb-9833-b589e5b4ae4a.png)

[2020-10-27 12:06] doberkofler commented on #11770
You are welcome

[2020-10-27 12:13] evilebottnawi commented on #11836
Because you need to put `webpack-cli` in your package.json, no `npm`/`yarn`/etc list, you decrease performance for all developers, no body have problems with it, so something wrong with your env, please provide steps to reproduce

[2020-10-27 12:15] Lonniebiz commented on #11834
@evilebottnawi Oh, I see. I thought that was some list of payment methods accepted by OpenCollective.

However, this misconception is beside my point that "less steps equal more donations". I think you're losing some donations without a direct paypal button. Maybe it is worth it. Not my call.

[2020-10-27 12:15] yinsang commented on #11836
{
  "name": "react-babel-study",
  "version": "1.0.0",
  "description": "",
  "main": "webpack.config.js",
  "scripts": {
    "w": "webpack"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "@babel/core": "^7.12.3",
    "@babel/preset-env": "^7.12.1",
    "react": "^17.0.1",
    "react-dom": "^17.0.1"
  },
  "devDependencies": {
    "@babel/plugin-syntax-jsx": "^7.12.1",
    "@babe

[2020-10-27 12:22] evilebottnawi commented on #11834
But there we can get a tax problem :disappointed: I think open collective repo it is the best places for asking UX improvements, but yes, maybe we should improve this on our site too

[2020-10-27 12:23] evilebottnawi commented on #11836
@yinsang Put `webpack-cli` in your package.json

[2020-10-27 12:26] yinsang commented on #11836
I know how to fix my problem.
I mean while `questionInterface.question` has put **yes**, an error is output  after 'webpack-cli' is installed.
[code]

[2020-10-27 12:31] evilebottnawi commented on #11836
Please provide **all** steps to reproduce, all works fine

[2020-10-27 12:35] yinsang commented on #11836
src/index.js
[code]
webpack.config.js
[code]
webpack.config.js
[code]

shell:
[code]
[code]
you will see the error:
![image](https://user-images.githubusercontent.com/12373328/97302338-e1a6db80-1893-11eb-8223-e898800a2adb.png)

[2020-10-27 15:19] Lonniebiz commented on #11834
Interesting. For some reason I thought webpack was a non-profit organization and didn't realize there were any taxes on charitable donations. Maybe, I think know things, but I don't :)

[2020-10-27 15:35] richnew10 commented on #7378
I found that this error appeared when some unused code was present deep in one of my Webpack targets, when that target included IE 10, and these two plugins were (redundantly, thanks to the IE target) present:

[code]

Removing those two plugins resolved the issue.

[2020-10-27 15:47] bmblb opened #11840 "ModuleConcatenationPlugin produces a bundle with mixin name collisions"
# Bug report

**What is the current behavior?**

When building JS application with mixins I get exception because of mixin name collision.

**If the current behavior is a bug, please provide the steps to reproduce.**

To reproduce please refer to this repository which contains simple and complete test case: https://github.com/bmblb/ModuleConcatenationPluginNameCollision
Just checkout repo, install

[2020-10-27 17:11] Cronus1007 commented on #11691
@sokra  @ScriptedAlchemy  Sir ModuleFederationPlugin.js lacks the runtimeRequirements (including both the chunkRuntime and  the present runtime ) So first of all we have to enable the chunkRuntime and then we have to merge the chunkRuntime and the runtimeRequirements
![Screenshot (100)](https://user-images.githubusercontent.com/56436023/97336883-8bdb2f00-18a5-11eb-83ce-2ffe8f1bb443.png)

[2020-10-27 17:26] evilebottnawi commented on #11836
Weird, can't reproduce

[2020-10-27 17:29] evilebottnawi commented on #11836
Reproduced

[2020-10-27 17:33] evilebottnawi commented on #11836
Second execution is successful

[2020-10-27 17:35] evilebottnawi commented on #11740
Sorry for delay, look at this tomorrow

[2020-10-27 17:35] evilebottnawi commented on #11827
Sorry for delay, look at this tomorrow

[2020-10-27 17:40] JonWallsten commented on #11827
No stress at all man!

[2020-10-27 18:12] franktopel opened #11844 "Using webpack 5 in gulp via webpack-stream creates empty output files"
We are using webpack via [gulp][1] / [webpack-stream][2] in our project, and are checking how to make the transition to the recently released webpack 5. I assume this is still a very common usage scenario for webpack.

Luckily, [webpack-stream][2] allows to use a webpack version different from the one that comes as a dependency (which currently is 4.26.1), by specifying a reference as an optional

[2020-10-27 19:19] geekuillaume commented on #11543
It is running on localhost, there is no protection about loading external module on local hosts. You can verify this as there is no warning or error in the console.

[2020-10-27 20:28] cascornelissen commented on #11829
@sokra, thank you so much, the second comment pushed me in the right direction and I have finally solved the problem I was running into.

Unrelated to this specific issue I want to thank you for everything you do for the community, you're an amazing person and I'm sure a lot of people (including me) look up to you. Keep on rocking! 🤘

[2020-10-27 20:28] #11829 closed

[2020-10-27 20:36] #11844 closed

[2020-10-27 20:36] franktopel commented on #11844
The mistake was on my side. The imported component was actually empty, so webpack 5 obviously creates the superior output.

[2020-10-27 21:35] lorenzodallavecchia commented on #11230
I also think that this could be useful.

For me, the best part would be using **loaders** without bundling. Webpack has an excellent loader ecosystem that could be leveraged by server-side code and by libraries.

[2020-10-27 22:43] juanger commented on #11659
@sokra @evilebottnawi Sorry to bother you, but I need to consider my options. Any pointers?

I'm thinking about splitting my configs so I can run multiple compilers in separate processes (not in parallel) and thus minimize the max memory that it uses, but I still feel that I should be able to configure the stats so it doesn't have to keep track of so much data.

[2020-10-28 01:34] yinsang commented on #11836
Yes, it is. Because of the 'require' error in error stack. Thinking of  fix it by a way like Error.captureStackTrace.
Thanks

[2020-10-28 05:55] ScriptedAlchemy commented on #11691
I'm not sure if that would be don't in the MF plugin directly but I think we need to add runtime requirements to the container specifically.

[2020-10-28 09:02] barak007 commented on #11818
@sokra I also notice that __webpack_require__.p is not being tree-shaked too. probably separate issue.

[2020-10-28 09:04] Cronus1007 commented on #11691
Sir as per my observations We need to handle  runtime dependent code in the ModuleFederationPlugin,js.Have a look at #11843

[2020-10-28 09:38] AntonGordei opened #11851 "Add CDN for static files"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-10-28 09:43] AntonGordei opened #11852 "<!-- identifier: admin-actions -->"
*For maintainers only:*

* [ ] webpack-4
* [x] webpack-5
* [ ] bug
* [ ] critical-bug
* [ ] enhancement
* [ ] documentation
* [ ] performance
* [ ] dependencies
* [x] question

_Originally posted by @webpack-bot in https://github.com/webpack/webpack/issues/11851#issuecomment-717814756_

[2020-10-28 09:44] #11852 closed

[2020-10-28 09:50] evilebottnawi commented on #11851
Please use stackoverflow for questions. You can do it:
- use `output.publicPath` with CDN address
- use `output.publicPath` as `Function` to put only some assets to CDN

[2020-10-28 09:54] AntonGordei opened #11853 "Add CDN for static files"
How can we add CDN to images, etc. But the scripts are loaded as before.
How it was possible for example in webpack 4 and url-loader.
![image](https://user-images.githubusercontent.com/49307594/97420688-b2887c80-191c-11eb-92cb-9e5000bb1015.png)

How to do it using the assets module in the webpack 5.

[2020-10-28 09:57] evilebottnawi commented on #11853
Answered, stop spamming

[2020-10-28 09:57] #11853 closed

[2020-10-28 09:58] AntonGordei commented on #11853
@evilebottnawi Where i can check answer?

[2020-10-28 10:00] evilebottnawi commented on #11659
@juanger It is hard to say what is better without configuration(s). If you have real big projects and need to increase memory usage.

[2020-10-28 10:12] evilebottnawi commented on #11543
@geekuillaume Sorry you need https for this feature, try to use this feature without webpack

[2020-10-28 11:14] dubovik02 opened #11855 "TypeError: compiler.plugin is not a function"
# Bug report

**What is the current behavior?**
"build": "webpack --mode production",
"dev": "webpack serve --mode development --open --watch"
Unsuccessful builds with error: TypeError: compiler.plugin is not a function
It happened after install webpack-md5-hash.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Successful build

**Ot

[2020-10-28 11:14] evilebottnawi commented on #11836
Sent PR with fix

[2020-10-28 11:17] evilebottnawi commented on #11855
Please open an issue in `webpack-md5-hash` (no compatibility with webpack@5), anyway you don't need this plugin for v5, webpack do it for `mode: 'production'`

[2020-10-28 11:17] #11855 closed

[2020-10-28 11:37] Knagis commented on #11770
I might have spoken too soon... With 5.3.0 still getting these same errors. Will now try to pinpoint what is the cause.

[2020-10-28 12:01] sampsonli commented on #11728
The problem has been solved in v5.3.0

[2020-10-28 12:01] #11728 closed

[2020-10-28 12:05] evilebottnawi commented on #11740
Yes, bug, problem here:
[code]

and

[code]

Due this webpack can't resolve modules from `shared`, you should have get this error message: `Can't resolve 'react'` (and for other modules) in your case, but you got the ugly error, we should fix it.

@sokra How we can use `resolve.modules` with pnp _ any custom dir

[2020-10-28 12:09] doberkofler commented on #11770
@Knagis Just an idea but I had to manually remove the `node_modules` directory and the `package-lock.json` file to successfully update to the new npm version.

[2020-10-28 12:14] evilebottnawi commented on #11827
Yes, duplicate #11277, let's close, we are working on fixing

[2020-10-28 12:14] #11827 closed

[2020-10-28 12:20] evilebottnawi commented on #11826
I can't reproduce your problem

[2020-10-28 12:21] gtwilliams03 commented on #11740
That structure of `webpack.config.js` was a carryover from years ago from a starter kit I used.  If webpack 5 requires a different pattern, I can adopt it pretty easily.

[2020-10-28 12:22] evilebottnawi commented on #11826
We just have `require(node_modules/leveldown)` in our code

[2020-10-28 12:22] Knagis commented on #11770
@doberkofler I had the error from fresh CI build, so nothing cached is to be blamed.

@sokra The error I get now is due to:
[code]

obviously moduleId `null` does not work... This module is one that is extracted into a common chunk as part of concatenated module with ID=784404 - an ID that is not referenced anywhere at all.

Should I report another issue or reopen this?

[2020-10-28 12:24] evilebottnawi commented on #11740
@gtwilliams03 there is not really a problem only in webpack@5 here, there is problem between pnp and webpack, you can try it using `node_modules` and all will work fine, we should - fix the error message + provide example how use `resolve.modules` + pnp

[2020-10-28 12:26] evilebottnawi commented on #11770
@Knagis let's open a new issue, I think this is a related problem, but not the same

[2020-10-28 12:37] Knagis opened #11856 "`__webpack_require__(null)` when using manual splitChunks, concatenateModules"
# Bug report

**What is the current behavior?**

This might be closely related to #11770.

[code]

obviously moduleId null does not work... This module is one that is extracted into a common chunk as part of concatenated module with some ID like 784404 - an ID that is not referenced anywhere at all.

**If the current behavior is a bug, please provide the steps to reproduce.**

Reproduces in our hu

[2020-10-28 12:51] sokra commented on #11740
You need to put `"node_modules"` into `resolve.modules` PnP will run at this position.

[2020-10-28 12:54] gtwilliams03 commented on #11740
Thank you - that (^^) did get my test repro working!

[2020-10-28 12:54] geekuillaume commented on #11543
@evilebottnawi My bad, there was an error in my code, I was not waiting for the promise returned by `addModule()`. It's working now (even in http when running on 127.0.0.1). I still need to find out why it's not working in my other project but as the build system is quite complex this can be because of a number of things unrelated to this issue.

We can close this issue but it would be great to do

[2020-10-28 12:55] evilebottnawi commented on #11740
Will be great to update docs + let's keep open for fixing error message

[2020-10-28 12:56] evilebottnawi commented on #11543
@geekuillaume Let's keep open, because we need to add tests and improve docs after this

[2020-10-28 12:56] gtwilliams03 commented on #11740
@evilebottnawi I appreciate you sticking with me through this!

[2020-10-28 13:12] Knagis commented on #11856
`usedExports: "global"` also prevents the issue

[2020-10-28 13:32] skratchdot commented on #11543
If you use `new URL()` then it's treating the worklet as an asset, and the code is not bundled/transpiled. That means you can't import other files and have them bundled with the worklet.  Is there a way to get around this?

Using `worket-loader`:
https://codesandbox.io/s/webpack-v5-audio-worklet-89vy3?file=/src/index.js

Using `new URL()`:
https://codesandbox.io/s/webpack-v5-audio-worklet-forked-3

[2020-10-28 13:36] evilebottnawi commented on #11543
@skratchdot For this you need to specify `parser.worker`, so webpack can understand what it is not assets, it is entry point

[2020-10-28 13:46] skratchdot commented on #11543
I don't know how to do that. I've tried a few things and keep seeing errors. When I try examples higher up in the thread I see `ReferenceError: AudioWorkletProcessor is not defined`. It would be nice if someone could modify this example:
https://codesandbox.io/s/webpack-v5-audio-worklet-forked-3292t?file=/src/index.js
to use `parser.worker` appropriately.

[2020-10-28 13:50] evilebottnawi commented on #11543
Yep, I will update example in the next future

[2020-10-28 13:58] triforcely opened #11859 "Unable to produce large library bundle that can be consumed by other projects."
# Bug report

**What is the current behavior?**
Webpack is unable to consume library that was created from other webpack project and is built for commonjs target. It fails with "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out
of memory"

**If the current behavior is a bug, please provide the steps to reproduce.**
This happens with large projects, my "

[2020-10-28 14:03] evilebottnawi commented on #11859
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Sorry without provide this information we can help you, I will reopen when you fix it

[2020-10-28 14:18] triforcely commented on #11859
@evilebottnawi I used "other" type which doesn't provide any specific fields to fill.

[2020-10-28 14:21] joshxyzhimself commented on #10796
This one does the trick, right?

[code]

[2020-10-28 14:21] evilebottnawi commented on #11859
You haven't even shown in your webpack version, problems with memory is bug, so please use the issue template for bugs

[2020-10-28 14:25] triforcely commented on #11859
Thanks, I will use bug template then.

[2020-10-28 14:28] evilebottnawi commented on #11859
@triforcely Can you try webpack@5?

[2020-10-28 14:36] triforcely commented on #11859
My solution is deeply coupled with vue-cli-service which uses webpack 4. I won't be able to use webpack 5 unless they add support for it.

[2020-10-28 14:45] evilebottnawi commented on #11859
@triforcely maybe you need to open an issue in `vue-cli`, because I don't think we can fix something here

[2020-10-28 14:47] triforcely commented on #11859
@evilebottnawi Alright, thanks for you help.

[2020-10-28 14:47] #11859 closed

[2020-10-28 17:41] sokra commented on #11856
Hmm yes that really sounds related to that. To me it sounds like a bug in the module concatenation, especially the algorithm that selects which modules are concatenated. Probably related to the runtime filtering. I have one idea which I can try to figure out how to reproduce it (note to myself: entry A -> c -> d, entry B -> d, c and d force to chunk, c + d concatenated, maybe c -> d conditional).

[2020-10-28 18:21] criles25 opened #11860 "Trouble using output.importFunctionName"
# Bug report

**What is the current behavior?**
I'm trying to do `output.importFunctionName: 'shimport'`, but it's not replacing the `import()` expression with `shimport()`.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.3.0
Node.js version:
Operating System:
Addit

[2020-10-28 19:26] sokra commented on #11856
Ok I found something. Looks really like your issue. I'm pretty sure https://github.com/webpack/webpack/pull/11861 fixes your issue, but it would be great if you could test it in your codebase.

[code]

[2020-10-28 19:44] #11836 closed

[2020-10-28 20:05] #11856 closed

[2020-10-28 20:21] Knagis commented on #11856
Yes, just tested and this issue is fixed in the branch.

[2020-10-28 20:31] juanger commented on #11659
@evilebottnawi I understand it is hard since I cannot share my real big project, but I think the one I linked to is showing the same issue:

https://github.com/juanger/webpack_memory_issues/blob/master/webpack.config.js

[code]

I can also try changing things myself and possibly send a PR but I want to first understand if a change is needed or if it is just a limitation of how I'm running webpack.

[2020-10-28 20:40] #11801 closed

[2020-10-28 22:50] Knagis opened #11863 "Incorrect conditional require `tslib` for forced common chunk"
# Bug report

The conditional require inside a common chunk (enforced, shared by multiple entries) incorrectly skips loading of `tslib` (not sure if it is specific to just it or more generic issue).

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

No reproduction repository, happens in our large monorepo. All optimizations en

[2020-10-28 23:52] Knagis commented on #11863
using `usedExports: "global"` "fixes" this issue.

no luck in making small reproduction...

[2020-10-28 23:56] JamesVanWaza opened #11864 "Webpack Caching Error"
# Bug report

**What is the current behavior?**
Shows Deprecated Warning

**If the current behavior is a bug, please provide the steps to reproduce.**
See screenshot
<img width="1379" alt="Screen Shot 2020-10-28 at 7 34 56 PM" src="https://user-images.githubusercontent.com/4000076/97508702-a9b49c80-1956-11eb-9c4e-cb7aeb1d32f7.png">

https://webpack.js.org/guides/caching/. - Change the moduleIDs fr

[2020-10-29 02:13] yinsang commented on #11836
Thanks so much!

[2020-10-29 04:48] ScriptedAlchemy commented on #11691
Nice work, definitely will take a closer look

[2020-10-29 05:27] sokra commented on #11864
The build will still work with the warning, but the warning won't disappear.

[2020-10-29 06:09] brendonco opened #11867 "Webpack 5 and webpack-dev-server"
# Bug report

[code]

**What is the current behavior?**
1. using Webpack v5.3.0. and package.json "start": "webpack serve", works
2. using Webpack v5.3.1 and package.json "start": "webpack serve", doesnt work

Error:
[code]

[2020-10-29 06:56] sabeurios opened #11868 "Polyfilling node core modules in webpack 5"
Webpack 5 no longer do auto-polyfilling for node core modules.

# Bug report
<img width="756" alt="Screenshot 2020-10-27 at 16 23 55" src="https://user-images.githubusercontent.com/57177536/97535594-29c11d80-19bc-11eb-9177-b30ea780db19.png">

**Other relevant information:**
webpack version:  5.2.0M
Node.js version: 12.18.4
Operating System: macOS Mojave
Additional tools: Jhipster 6.10.4

#  PS
I'm

[2020-10-29 07:08] sokra commented on #11868
You'll find the solution in the error message. What exactly is unclear to you about that?

[2020-10-29 07:18] sokra commented on #11863
Could you try some other flags too?

* `optimization.innerGraph: false`
* `optimization.concatenateModules: false`

[2020-10-29 07:23] brendonco commented on #11867
closing this issue, after reinstall webpack 5.3.1. I was able to launch webpack dev server.

[2020-10-29 07:23] #11867 closed

[2020-10-29 07:31] sokra commented on #11863
Maybe you can share your repo privately with me? Seems like a good repo to find more issue related to this...

[2020-10-29 07:53] sabeurios commented on #11868
I have already tried the solution but always the same error
<img width="353" alt="Screenshot 2020-10-29 at 08 51 09" src="https://user-images.githubusercontent.com/57177536/97540619-2af64880-19c4-11eb-8596-0ee4b1bc5c22.png">
<img width="465" alt="Screenshot 2020-10-29 at 08 52 03" src="https://user-images.githubusercontent.com/57177536/97540624-2c277580-19c4-11eb-9830-dabb2d3fb8c5.png">

[2020-10-29 08:08] gexiaolin commented on #11868
Maybe you need to configure `target: ['node']`

[2020-10-29 08:20] sabeurios commented on #11868
@gexiaolin not working
<img width="743" alt="Screenshot 2020-10-29 at 09 19 28" src="https://user-images.githubusercontent.com/57177536/97543038-f97f7c00-19c7-11eb-822e-f631e870859b.png">

[2020-10-29 08:48] Knagis commented on #11863
I am asking my management about it. I hope it will be possible under NDA.

[2020-10-29 09:27] 435352980 commented on #11868
https://github.com/duplotech/create-react-app/commit/d0be703d40cd4bc32cd91128ba407a138c608243

[2020-10-29 10:40] evilebottnawi commented on #11863
@Knagis Maybe you can found part of code what is broken?

[2020-10-29 10:44] evilebottnawi commented on #11233
bump

[2020-10-29 10:44] lcjnil commented on #4039
Just a remind, see https://github.com/webpack/webpack/issues/4039#issuecomment-419284940 to fix this problem

[2020-10-29 10:47] evilebottnawi commented on #11868
It was answered a lot of time, please use search, use this:
[code]

[2020-10-29 10:47] #11868 closed

[2020-10-29 10:48] Knagis commented on #11863
@evilebottnawi unfortunately, not yet. I am finally releasing 5.3.1 with `usedExports: "global"` to my org, fingers crossed everything will work and I will get time to research this issue in more detail. Last night I could not get the module concatenation to concat a class together with something else at all - which seems to be the key since otherwise tslib will never be made conditional require.

[2020-10-29 10:49] sokra commented on #11863
yep

[2020-10-29 10:50] BriceChaponneau opened #11869 "Module Federation Dynamic Import"
# Bug report

**What is the current behavior?**
Page no rendering
`main.js` return error : `Uncaught SyntaxError: Unexpected token '!=='`

**If the current behavior is a bug, please provide the steps to reproduce.**
I have 2 apps :
- shell : manager, head of app
- fragment: one of the multiple apps. Will be duplicated to have n apps in MFE.

**SHELL**
index.html
[code]

App.vue
[code]

webpack.js

[2020-10-29 10:51] sabeurios commented on #11868
@evilebottnawi
I tried it and I have already posted screens
![Uploading Screenshot 2020-10-29 at 09.19.28.png…]()

[2020-10-29 10:52] sabeurios commented on #11868
<img width="233" alt="Screenshot 2020-10-29 at 09 19 12" src="https://user-images.githubusercontent.com/57177536/97558949-1c685b00-19dd-11eb-9fb1-9162c2349ca0.png">

[2020-10-29 10:52] salzhrani commented on #11816
Thank you for your assistance

[2020-10-29 10:52] #11816 closed

[2020-10-29 10:53] evilebottnawi commented on #11868
@sabeurios Please provide reproducible test repo

[2020-10-29 10:58] sabeurios commented on #11868
@evilebottnawi I think I don't have a reproducible test repo or else don't know what exactly you want ... don't forget please I still beginner. Thanks

[2020-10-29 11:12] evilebottnawi commented on #11869
/cc @ScriptedAlchemy

[2020-10-29 11:31] evilebottnawi commented on #11868
I think better ask this question in your boilerplate repo, sorry, without reproducible test repo and more information I can't help

[2020-10-29 11:33] barak007 opened #11870 "Asset modules in conjunction with url-loader/file-loader yields duplicate files with different hashes"
# Bug report

**What is the current behavior?**

When using `new URL('./asset.jpg', import.meta.url)` and have a url-loader setup the compilation will emit two assets with different hashes for the same file.

The output bundle does not contains the "loader module" (only the asset/* module) but the internal compilation does.

**If the current behavior is a bug, please provide the steps to reproduce

[2020-10-29 11:37] evilebottnawi commented on #11659
@juanger Can you try to disable plugins and look at memory? What is the size of code?

[2020-10-29 11:42] evilebottnawi commented on #11870
You should not use `url-loader` in this case, I will deprecate this in near future in favor https://webpack.js.org/guides/asset-modules/

[2020-10-29 11:43] evilebottnawi commented on #11870
Or you need to disable this rule https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L441

[2020-10-29 12:01] barak007 commented on #11870
It's just creates a wired case that the `css-loader` and `mini-css-extract-plugin` dose not use the new AssetsModules API and forces me to use the `url-loader`.

[2020-10-29 12:07] evilebottnawi commented on #11870
In this case you need to `exclude` assets from `url-loader`, sorry you have two loader for assets, so you have two assets

[2020-10-29 12:08] evilebottnawi commented on #11870
`URL` API is very new so we can't change everything right now

[2020-10-29 12:33] sokra commented on #11863
I think I found the problem. At least I found one that is very similar.

It happens when the execution order in a concatenated module is different between runtimes

[2020-10-29 13:13] evilebottnawi commented on #11860
`importFunctionName` for external(s), `webpackIgnore` ignores whole constructions (does nothing with it)

[2020-10-29 13:13] evilebottnawi commented on #11860
es modules are not supported yet right now, this option for future improvements

[2020-10-29 13:14] criles25 commented on #11860
that makes sense, i will close this issue then. thank you.

[2020-10-29 13:14] #11860 closed

[2020-10-29 13:23] joelwurtz opened #11871 "Order of imported (or exported) values is not respected between dev and prod env"
# Bug report

**What is the current behavior?**

Order of imported values (when using `import * as values`) is not respected between dev and prod environment

**If the current behavior is a bug, please provide the steps to reproduce.**

foo.js:

[code]

bar.js:

[code]

webpack 4 dev + prod will output ['W', 'A'];
webpack 5 dev will output ['W', 'A'];
webpack 5 prod will output ['A', 'W']

**What

[2020-10-29 13:25] evilebottnawi commented on #11871
What is use case?

[2020-10-29 14:10] barak007 commented on #11870
10x for the info.

I'm working on a new webpack 5 plugin for [stylable](https://stylable.io/) I need to take these use-cases into account in order to provide the right asset path in the css. this way I'm not *sure what to support right now.

*I have workarounds these issues but as plugin developer it's very hard to know all possible user configurations and support them.

Also I notice that when se

[2020-10-29 14:18] evilebottnawi commented on #11870
@barak007 please don't mix issues, I can't say anything about your problem, I don't know the context

[2020-10-29 14:43] joelwurtz commented on #11871
It's not really a use case but in our app we have some wrapper in front of react router where we get our routes like this:

[code]

then later we do a switch

[code]

It broke our application on webpack 5 prod, because `Switch` rely on order to match: first matching = first display. Since we have a NOT_FOUND route to handle bad routes, every route named after it (in alphabetical order) was no long

[2020-10-29 14:50] evilebottnawi commented on #11871
/cc @sokra

[2020-10-29 15:59] vovkvlad commented on #11277
Hi! I'm experiencing the same issue as described here and in the closed duplicate https://github.com/webpack/webpack/issues/11827 with external libraries built into umd by webpack 4.

Are there any timelines known on when to expect it?
Thanks in advance!

[2020-10-29 16:55] sokra commented on #11863
could you try: https://github.com/webpack/webpack/pull/11873

[2020-10-29 18:33] sokra commented on #11871
The spec requires alphabetical order, but for technical reasons we can't ensure that when commonjs interop is involved. But in a pure ESM we should make sure it's in that order.

[2020-10-29 18:38] sokra commented on #11870
Regarding you url-loader problem.

Either add `type: "javascript/auto"` to your rule to override the default value (asset). This makes `new URL` also processed with the url-loader.

Or add `dependency: { not: "url" }` to exclude `new URL` from the rule.

[2020-10-29 18:43] sokra commented on #7879
We can't fix everything. Piling up issues neither fixes them.

But anyway this is fixed in webpack 5

[2020-10-29 19:03] Knagis commented on #11863
Looks like the fix is working.

[2020-10-29 19:31] #11863 closed

[2020-10-29 19:39] amannn opened #11874 "Compile top-level await to ES5"
# Bug report

**What is the current behavior?**

Top-level await code is currently always compiled to native async/await code and therefore doesn't work in browsers like IE11.

**If the current behavior is a bug, please provide the steps to reproduce.**

Reproduction repository: https://github.com/amannn/webpack-top-level-await

Here's the relevant part of [the output](https://github.com/amannn/we

[2020-10-29 20:24] martinoppitz commented on #11792
Sorry that is not fixed!

![image](https://user-images.githubusercontent.com/6279703/97628589-316cda80-1a2d-11eb-9952-70e6f1e0fb48.png)

[2020-10-29 20:25] martinoppitz opened #11875 "A with webpack v5 bundled unchanged svelte app, does not work anymore"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-10-29 20:25] martinoppitz commented on #11875
https://github.com/webpack/webpack/issues/11792

[2020-10-29 20:29] martinoppitz commented on #11875
https://github.com/martinoppitz/poc-flexible-web-application-architecture/actions?query=workflow%3A%22GitHub+CI+%28Webpack%2BSvelte%29%22

[2020-10-29 20:29] martinoppitz commented on #11875
it is not fixed

[2020-10-29 20:39] Beefaz commented on #10053
phpstorm, node, react
i saw some vulnerable packages so i did:
'npm audit fix -f'
i saw some green inline message "thank you for installing jake"
had same problems as in topic until i uninstalled it: 'npm uninstall jake'
back to 1 high vulnerability though :(

[2020-10-29 22:36] sokra commented on #11868
It looks like you are compiling your webpack config instead of using your config as config. How are you calling webpack?

[2020-10-29 23:48] snoack commented on #6699
Node.js is now (as of 14.15.0) providing named exports for CommonJS modules imported from ESM. So if `javascript/esm` in webpack is meant to be consistent with Node.js, then the current semantics are incorrect, and this issue should be revisited.

[2020-10-30 00:31] martinoppitz commented on #11875
Error with latest versions...

https://github.com/martinoppitz/poc-flexible-web-application-architecture/runs/1329685663?check_suite_focus=true#step:5:322

[2020-10-30 02:56] Schweinepriester opened #11876 "In Webpack 5 a target containing IE 11 doesn't build the runtime in ES5"
# Bug report

**What is the current behavior?**

In Webpack 5 a [`target`](https://webpack.js.org/configuration/target/) containing Internet Explorer 11, e.g. `target: 'browserslist:ie 11',`, doesn't build the runtime in ES5.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Have a target which includes IE 11, e.g. `target: 'browserslist:ie 11'`
2. Run webpack
3. Tr

[2020-10-30 04:09] agalatan commented on #9964
@robertsonk82 React.lazy doesn't actually need a separate chunk. All it needs is a Promise of an object with key `default`.
This works: `const LazyComponent = React.lazy(() => Promise.resolve({ default: SomeComponent }))`

[2020-10-30 07:23] sabeurios commented on #11868
@sokra
I have an existing project generated with jhipster 5.7 so I upgraded to 6.10 and I transferred the existing files to the new directory and suddenly I had this polyfilling problem

[2020-10-30 07:58] WebReflection opened #11878 "Named exports for CJS"
# Bug report

**What is the current behavior?**

Named exports for CJS are part of NodeJS LTS 14 and current version 15, and are being [backported to LTS 12](https://github.com/nodejs/node/pull/35757), but standard code that runs without issues in NodeJS cannot currently be bundled with webpack due error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

create

[2020-10-30 10:11] evilebottnawi commented on #11875
What we should do on our side?

[2020-10-30 10:12] evilebottnawi commented on #11875
Read the error message:
[code]

[2020-10-30 10:12] #11875 closed

[2020-10-30 10:13] evilebottnawi commented on #11875
I don't known why svelte say what they in ES module syntax, but don't use valid `import`

[2020-10-30 10:33] evilebottnawi commented on #11875
@martinoppitz `./node_modules/svelte/index.mjs` - using `mjs` means it is ES modules syntax, so **all** import should have extensions at the end, try to run it on node without webpack

[code]

[2020-10-30 10:37] evilebottnawi commented on #11875
@Rich-Harris @Conduitry @tanhauhau

[2020-10-30 10:48] evilebottnawi commented on #11868
@sabeurios please open an issue `jhipster` or ask them to explain the problem to you

[2020-10-30 10:53] #7879 closed

[2020-10-30 11:03] evilebottnawi commented on #11874
It is invalid syntax, you can't use `await` in `export`

[2020-10-30 11:16] evilebottnawi commented on #11874
You need babel-loader to transform it for IE11

[2020-10-30 12:02] evilebottnawi commented on #11874
As you can see there is not magic for `topLevelAwait` https://github.com/webpack/webpack/blob/master/lib/dependencies/HarmonyDetectionParserPlugin.js#L51

[2020-10-30 12:05] amannn commented on #11874
Thanks for your quick response!

I've created a `babel-loader` branch based on your feedback in my repo: https://github.com/amannn/webpack-top-level-await/tree/babel-loader

Is it? It seems like it at least compiled. I've now changed the code to this:

[code]

Does that look ok to you?

I've added babel loader, `@babel/preset-env` and `@babel/plugin-transform-async-to-generator` in the branch now.

[2020-10-30 12:09] evilebottnawi commented on #11874
Yep, you are right

[2020-10-30 12:13] evilebottnawi commented on #11874
Feel free to send a PR https://github.com/webpack/webpack/blob/master/lib/async-modules/AwaitDependenciesInitFragment.js

[2020-10-30 13:17] Coolpix commented on #11869
Inside your webpack config, if you dont set the url into your remote name with @ you need to set library type

new ModuleFederationPlugin({
      name: "shell",
       library: { type: "var", name: "shell" }, --> THIS ONE
      filename: "remoteEntry.js",
      remotes: {
        // fragment1: "fragment1@http://localhost:3001/remoteEntry.js",  // WORK
        fragment1: "fragment1",

[2020-10-30 14:03] bcoe opened #11882 "Populate sourceRoot for benefit of source-maps consumed by Node.js"
## Feature request

👋 I'm a developer who's been working on [adding source map support](https://nodejs.medium.com/source-maps-in-node-js-482872b56116) to Node.js stack traces.

I've noticed that webpack's source maps use special pseudo paths, which look something like this:

**webpack:///./index.js**

When these source maps are loaded in Node.js, it's difficult to know what path `./index.js` shoul

[2020-10-30 14:06] evilebottnawi commented on #11882
It was answered a lot of time... Do you try using search?

[2020-10-30 14:07] evilebottnawi commented on #11882
Duplicate of https://github.com/webpack/webpack/issues/9601

[2020-10-30 14:07] #11882 closed

[2020-10-30 14:10] BriceChaponneau commented on #11869
Ok, i try immedialty.
But without set url, how shell know where is the fragment ?

[2020-10-30 14:12] amannn commented on #11874
Thanks for the pointer! I've created an initial PR with a failing test (https://github.com/webpack/webpack/pull/11881), but I'm struggling a bit to understand how I can wrap the whole module consumption in a `.then(…)`. If you could help with some more guidance, that would be great! I'm a first-time contributor and not really familiar with the internals of webpack.

[2020-10-30 14:14] evilebottnawi commented on #11874
Just use `then` :smile:

[2020-10-30 14:19] Coolpix commented on #11869
Because you´re loading the remote directly from your index.html

[2020-10-30 14:20] amannn commented on #11874
I'm really not sure how 🙂. It looks like with `AwaitDependenciesInitFragment` I can add a line before the module exports are consumed, but how can I wrap the whole consumption? I'd need to insert code at the end as well, right?

[2020-10-30 14:22] BriceChaponneau commented on #11869
Ok but it's not dynamic so. I have to retrieve the urls of the fragments in a configuration file.

If i add dynamically a <script src... /> that does not work. Do you hnow how do that ?

[2020-10-30 14:32] evilebottnawi commented on #11874
try experimenting, just open `node_modules/webpack/lib/async-modules/AwaitDependenciesInitFragment.js` in your reproducible test repo and change runtime and look what webpack generated

[2020-10-30 14:32] evilebottnawi commented on #11869
@BriceChaponneau better ask this vue team

[2020-10-30 14:49] evilebottnawi commented on #11878
Yep, we should improve it

[2020-10-30 14:50] evilebottnawi commented on #11063
Fixed https://github.com/webpack/webpack/releases/tag/v5.3.1

[2020-10-30 14:50] #11063 closed

[2020-10-30 14:52] Coolpix commented on #11869
Of course that way its not dynamic. Ir order to implement dynamic import you must use webpack´s api in runtime and load the remote dynamically, you can follow that example, its not framework´s related, its pure JS.

[2020-10-30 14:53] evilebottnawi commented on #4841
Sorry for delay and is it out of scope webpack, you can use `webpack-dev-middleware` and implement own logic for loading

[2020-10-30 14:53] #4841 closed

[2020-10-30 14:55] evilebottnawi commented on #5722
Answer above, close due inactivity

[2020-10-30 14:55] #5722 closed

[2020-10-30 15:00] evilebottnawi commented on #8425
I think we fix it on `webpack-cli` side, but if somebody faced with error without stack trace feel free to open new issue

[2020-10-30 15:04] evilebottnawi commented on #9392
Solved in webpack@5

`verbose` is not out everything because it will be very big output with extra unnecessary information in most of cases, anyway if you want to output `all`, please use:
[code]

[2020-10-30 15:04] #9392 closed

[2020-10-30 15:04] BriceChaponneau commented on #11869
I've try with library. That do not work. I have same error

[2020-10-30 15:08] evilebottnawi commented on #9441
Please open an issue `ts-loader` or `awesome-typescript-loader`, sorry for delay, not related to webpack

[2020-10-30 15:08] #9441 closed

[2020-10-30 15:12] evilebottnawi commented on #3603
No, it not solve the problem

[2020-10-30 15:24] finngl commented on #10216
The fix @PeteX worked for me :-)

[2020-10-30 15:47] DaleyKD opened #11883 "Webpack 5 Watch Only Rebuilds Once, Never Again"
# Bug report

**What is the current behavior?**
When running `webpack --mode development --watch --progress` in Webpack 5, it builds everything fine, then goes into watch mode.  Upon the **first** change of my .tsx, it then successfully rebuilds it again.  However, after I change that same .tsx a **second** time, webpack notices the change, but does not rebuild.

PLEASE NOTE: I rolled back to Webp

[2020-10-30 15:53] evilebottnawi commented on #11883
Please create reproducible test repo

[2020-10-30 16:02] johnnyreilly commented on #9441
Possibly related to this https://github.com/TypeStrong/ts-loader/pull/822 - long time ago though so I forget

[2020-10-30 16:38] rocetspace opened #11884 "Question: How to avoid duplication of module?"
Hey there! I have a question.

I have two npm-packages: `sub` and `common`. I'm writing my app using this packages.

**`sub`** includes `common` as dependency.
[code]

**my app**
[code]

The final bundle contains two copies of `common` package. The first copy is for my app, and the second one - for package `sub`.
**final bundle**
[code]

Could I combine `common` in one module to avoid duplication?

[2020-10-30 16:46] montogeek commented on #11884
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2020-10-30 16:46] #11884 closed

[2020-10-30 18:00] bcoe commented on #9601
I like @OliverJAsh's recommendation that when `--node` is set, the path would omit the  `webpack://` prefix, and emit a path 👍

When I look at the source maps generated by TypeScript:

`"sources":["../../../src/v1/secret_manager_service_client.ts"]`

and rollup:

`"sources":["../lib/yerror.ts","../lib/utils/apply-extends.ts","../lib/parse-command.ts","../lib/argsert.ts"]`

Both opt to use relative

[2020-10-30 18:06] sokra commented on #9601
A SourceUrl like `webpack:///./index.js` is an absolute URL and one should not try to resolve it. That's how it's specced. But nonetheless one can configure different patterns for the sources in the SourceMap with `output.devtoolModuleFilename`. I would recommend to keep the `webpack://` prefix as sources in SourceMap might not match sources on disk at this location. The prefix is a good indicator

[2020-10-30 19:38] Knagis commented on #11883
i have observed something like this a few times. the watch build triggered but the build output said that everything is unchanged/emitted from cache.
usually went away after restarting webpack process.

[2020-10-30 19:48] DaleyKD commented on #11883
@evilebottnawi - I will try, but it's going to be a while when I can find some time to do so.
@Knagis - Yeah. I cancel the watch (Ctrl+C), do a build again (I'm using `npm run build`), and it works great the first time, then the first watch time, then I have to Ctrl+C again and rinse/repeat.  Been using 4.44.2 all day now without issue.

[2020-10-30 21:21] bcoe commented on #9601
@sokra so, you'd advocate that when handling source maps for stack traces in Node.js, we do something like this:

[code]

☝️ if a URI of this format is observed.

[2020-10-30 23:17] dperetti opened #11887 "[Webpack 5 bug, works in 4] exported library in an empty object"
# Bug report

**What is the current behavior?**

Exported library is an empty object.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

[code]

**What is the expected behavior?**

[code]

**Other relevant information:**
webpack version:  5.3.2
Node.js version: 12.4.0
Operating System: OSX 10.15.7
Additional tools:

[2020-10-31 02:22] martinoppitz commented on #11875
@evilebottnawi - Thank you for your help!

[2020-10-31 03:13] jandreola opened #11888 "resolverFactory.plugin method is not a function"
# Bug report

**What is the current behavior?**
I use a plugin called `webpack-concat-plugin` https://github.com/hxlniada/webpack-concat-plugin, which was working correctly with webpack version 4.
When trying to migrate to version 5 I've got this error
[code]
This is where the code is failing:  https://github.com/hxlniada/webpack-concat-plugin/blob/master/index.js#L121
Initially I thought there wa

[2020-10-31 06:15] sokra commented on #9601
Yes

[2020-10-31 07:43] oliverschwendener opened #11889 "Webpack 5 watch not failing on error"
# Bug report

**What is the current behavior?**

When I start webpack in watch mode it does not fail on a TypeScript error.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Clone this GitHub repository: https://github.com/oliverschwendener/webpack-typescript
2. Install dependencies: `$ yarn install`
3. Start bundler in watch mode: `$ yarn bundle --watch`
4. Look at

[2020-10-31 08:37] ScriptedAlchemy commented on #11869
Dynamic remote can be ported to vue. Webpack doesn't care what framework is calling it. Just use the vue equivalent lifecycle hooks.

[2020-10-31 08:38] ScriptedAlchemy commented on #11869
fragment1: "fragment1"

Probably doesn't work because you're setting library manually. Which can change how the remote is referred to

[2020-10-31 10:34] BriceChaponneau commented on #11869
**Setting library**
The fragment output is :

[code]

What's wrong ?

[2020-10-31 11:37] evilebottnawi commented on #11887
Please do not ignore `If the current behavior is a bug, please provide the steps to reproduce.`, for webpack-dev-server it is known issues

[2020-10-31 11:37] #11887 closed

[2020-10-31 11:43] evilebottnawi commented on #11883
@DaleyKD

Unfortunately, then we have to close the problem, we cannot fix something somewhere, yes, it is likely that there is a bug somewhere, but without reproduce it will be keeping here forever

[2020-10-31 11:43] evilebottnawi commented on #11883
@DaleyKD Can you try https://github.com/webpack/watchpack/pull/179#issuecomment-719759391?

[2020-10-31 11:44] evilebottnawi commented on #11888
Please open an issue in `webpack-concat-plugin`, this plugin uses old API and it was removed

[2020-10-31 11:47] evilebottnawi commented on #11888
I will open an issue for updating docs

[2020-10-31 13:57] evilebottnawi commented on #11888
Let's keep open

[2020-10-31 19:09] sokra commented on #11889
This looks like an ts-loader problem

[2020-10-31 19:34] oliverschwendener commented on #11889
But it works as expexcted with webpack 4.44.2. The only thing I upgraded is webpack itself and that's why I thought it might be an issue of webpack 5 and not the loader.

[2020-10-31 19:48] ScriptedAlchemy commented on #11869
Looks right to me. I'll need to see console errors or a repo to inspect. It's something small

[2020-11-01 00:59] andersk commented on #10298
Also happens with mini-css-extract-plugin: webpack-contrib/mini-css-extract-plugin#643.

[2020-11-01 01:08] Becavalier opened #11893 "How can I pass importObject to a WebAssembly module with Webpack 5 as a building tool?"
## Feature request

**What is the expected behavior?**

There should be a way to pass importObject for the instantiation of some special WebAssembly modules. So, how can I do that with Webpack 5 as a building tool?

Let's say, for example, to use the below Wasm module, I need a way to pass the implementation of the function "minus" to instantiate the module instance.

[code]

Currently, I get this

[2020-11-01 02:01] andersk opened #11894 "Error referencing asset module with multiple different query strings"
# Bug report

**What is the current behavior?**

When handling `.eot` files as asset modules, loading [`font-awesome/css/font-awesome.css`](https://github.com/FortAwesome/Font-Awesome/blob/v4.7.0/css/font-awesome.css) with `css-loader` causes “Error: Prevent writing to file that only differs in casing or query string from already written file. This will lead to a race-condition and corrupted files

[2020-11-01 03:40] snitin315 commented on #11889
What's the version of `webpack-cli` you are using?

[2020-11-01 03:43] snitin315 commented on #11889
I think your issue is similar https://github.com/webpack/webpack-cli/issues/1581 , which was fixed in webpack-cli v4

[2020-11-01 07:01] fregante commented on #6226
Inactive but still needed. Currently it's impossible to use ProvidePlugin with polyfills unless they specifically watch out for this this gotcha, which isn't always possible.

[2020-11-01 07:02] oliverschwendener commented on #11889
webpack-cli 4.1.0

[2020-11-01 10:04] BriceChaponneau commented on #11869
https://github.com/BriceChaponneau/module-federation

[2020-11-01 16:38] raimund-schluessler opened #11897 "Uncaught TypeError: (!0) is not a function"
# Bug report

I hope this is the correct repository and it is actually webpacks fault. If it is not, please excuse me in advance.

**What is the current behavior?**

Webpack production build creates a file which gives the following error: `Uncaught TypeError: (!0) is not a function`. The development build runs fine. The compiled javascript file contains this part which seems the reason for the err

[2020-11-01 18:38] sokra commented on #11897
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-11-01 19:30] raimund-schluessler commented on #11897
I will try to do that, although I am not really sure this will work, since I don't know what actually causes the problem. The line in question works fine on other occasions, so it seems to be a special combination with other things that causes it.

What I can say so far is that the code compiles fine when I downgrade webpack to `4.44.2` (from `5.3.2`) and terser-webpack-plugin to `4.2.2` (from `5.

[2020-11-01 19:47] joakimriedel commented on #11897
This might not help, but I have spent many hours today trying to build a small reproducible sample to post an issue of this exact same bug with the minimizer. Since @raimund-schluessler beat me to it, I'll hijack this issue instead.

For me, it reproduces on this line;

[code]

which gets minimized to

[code]

The offending code is inside a Vue component, all transpiled with Babel and minimized wi

[2020-11-01 19:50] PratishShrivastava commented on #10604
Can I work on this issue.

[2020-11-01 20:20] raimund-schluessler commented on #11897
I managed to create a MWE, you can find it under https://github.com/raimund-schluessler/mwe-webpack-11897.

Just clone the repository, run `npm ci` and `npm run build` afterwards and checkout `js/mwe.js`. I ran it on the bash with `js mwe.js` and got `TypeError: true is not a function`.

Let me know if I can be of any more help.

[2020-11-02 05:50] baixiaoyu2997 commented on #11833
same issue

[2020-11-02 06:32] ScriptedAlchemy commented on #11869
Try adding the library option like you have on the shell. One config has library var. one does not.

[2020-11-02 06:41] baixiaoyu2997 commented on #11833
我找到了相关问题，我把tagert设置为web就可以了。
https://github.com/webpack/webpack-dev-server/issues/2758

[2020-11-02 09:26] ttjimsen opened #11898 "unknown"
To install them, you can run: npm install --save webpack/lib/web/FetchCompileAsyncWasmPlugin webpack/lib/web/FetchCompileWasmPlugin

[2020-11-02 09:53] HKalbasi opened #11899 "Watching.close does not really close watching"
# Bug report

**What is the current behavior?**
When I remove the webpack entry file after watching.close callback called, webpack generate an error like this:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Remove entry file with a code like this:
[code]

**What is the expected behavior?**
`Watching.close` should close the watching and webpack don't run again

[2020-11-02 10:09] sokra commented on #11898
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-11-02 10:09] #11898 closed

[2020-11-02 10:10] sokra commented on #11899
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-11-02 10:12] sokra commented on #11869
You can also add `remoteType: "var"`. The default is `remoteType: "script"` which requires `global@URL`.

[2020-11-02 11:10] evilebottnawi commented on #6226
@fregante What do you mean?

[2020-11-02 11:15] evilebottnawi commented on #11893
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Do not ignore the issue template questions

[2020-11-02 11:50] HKalbasi commented on #11899
I made a small sample but it was right in it, when I went back to my code I saw it right there too! Without changing a single line of code.
Very strange! If it happens again and I understand in what condition it happens, I will reopen this issue.

[2020-11-02 11:50] #11899 closed

[2020-11-02 11:54] LakinduK opened #11901 "ag-grid logo is not properly visible"

[2020-11-02 12:40] evilebottnawi commented on #11889
@oliverschwendener bug on `ts-loader` side

cc @johnnyreilly

[2020-11-02 12:54] oliverschwendener commented on #11889
Alright I'll report this in the `ts-loader` project, thanks for looking into this guys!

[2020-11-02 12:55] evilebottnawi commented on #11889
@oliverschwendener let's do it better

[2020-11-02 12:55] evilebottnawi commented on #11889
@webpack-bot move to TypeStrong/ts-loader

[2020-11-02 12:55] #11889 closed

[2020-11-02 12:56] evilebottnawi commented on #11889
No need to write it again :smi

[2020-11-02 12:57] oliverschwendener commented on #11889
Cool thanks! 😄

[2020-11-02 13:28] JonWallsten opened #11903 "Type information for WatchOptions.ignored seems to be wrong"
# Bug report

**What is the current behavior?**
Type information for Webpack states `WatchOptions.ignored` can take `string | RegExp | string[];` but the documentation states it can take `anymatch`.

From anymatch:

**If the current behavior is a bug, please provide the steps to reproduce.**
Add the following to the config:
[code]

This causes the following error:
![image](https://user-images.gith

[2020-11-02 13:29] evilebottnawi commented on #11903
Feel free to send a fix

[2020-11-02 14:15] jandreola commented on #11888
Will check the deprecation note in v4 and fix that library. Thank you.

[2020-11-02 14:39] littleprincewdk opened #11906 "webpack execute and replace my umd module code during compile"
# Bug report

**What is the current behavior?**
webpack execute and replace code like `typeof define === "function"` and `typeof module === "object"` during compile.

**If the current behavior is a bug, please provide the steps to reproduce.**
suppose we have two file:
`src/index.js`:
[code]
`src/umdModule.js`(usually a library in node_modules):
[code]
`webpack.config.js`:
[code]
the reproduction

[2020-11-02 14:48] sokra commented on #11906
webpack supports AMD and CommonJS. If AMD comes first in the `if` UMD block, it's used. The CommonJs is removed since it's dead code and will never be entered.

Note that your UMD module is wrong of AMD:

[code]

[2020-11-02 14:50] sokra commented on #11903
The documentation is not up-to-date here, but it probably also makes sense to add RegExp support for watchpack.

[2020-11-02 15:00] JonWallsten commented on #11903
@sokra I'm already using RegExp and can confirm that matching files does not trigger a new build or end up in the compilation process the next rebuild. At least for Webpack 4. Isn't Watchpack just passing the option on to chokidar?

Using the following code:
`` `
const distFilesFilter = /[\\\/]packages[\\\/]web-(?:lib|app)-.*[\\\/]dist[\\\/]/;

watchOptions: {
    aggregateTimeout: 300,
    ignore

[2020-11-02 15:11] evilebottnawi commented on #11903
we don't use `chokidar` for webpack@5

[2020-11-02 15:13] JonWallsten commented on #11903
Then everything makes sense! Thanks!

[2020-11-02 15:25] JonWallsten opened #11907 "Should WatchOptions.ignored really exclude changes from the compilation process or just from triggering a new build?"
This is kind of an open question to the maintainers, and if it's already addressed in Webpack 5 you can just close this.
While creating a plugin for our monorepo where I wanted to exclude our dist files from triggering a new build in upstream packages, I noticed that these files was also excluded in the compilation process for the next rebuild. Isn't this really two different things?
Ignoring file

[2020-11-02 15:31] evilebottnawi commented on #11907
You just disable watching for these files or directories

[2020-11-02 15:34] #11907 closed

[2020-11-02 16:13] ScriptedAlchemy commented on #11869
Yeah I've done this as well when dealing with server-side next. RemoteType likely will resolve

[2020-11-02 16:23] fregante commented on #6226
ProvidePlugin inexplicably tries to provide a module **to itself**, breaking any feature detection inside it: `typeof something === 'undefined'` will not be true inside it, so the polyfill won't run.

Currently, the only way to avoid this is to have the polyfill check for, say `window.something` or `'something' in window` while using `new ProvidePlugin({something: 'something-polyfill'})`. Not ever

[2020-11-02 16:27] evilebottnawi commented on #6226
@fregante  you can re-send PR, staled https://github.com/webpack/webpack/pull/9420

[2020-11-02 16:32] fregante commented on #6226
I think that while that PR would probably fix it and extend the functionality, it'd require more configuration. My suggestion would be to exclude _self_ automatically since I can't think of a situation where a module would basically require itself.

[2020-11-02 16:33] evilebottnawi commented on #6226
But here edge case when you can use `if (something) { something = code; }` inside module

[2020-11-02 16:36] littleprincewdk commented on #11906
Thank you. Indeed i dont want AMD, i use it in nodejs, i want CommonJS。The actual scenario is that I use a library called [X2JS](https://github.com/x2js/x2js/blob/09934740124896582ce208b23c3f2295feceab75/x2js.js#L41), its source code:
[code]

when i compile and run it in nodejs, it broken, because nodejs doesn't support AMD. `module.exports = factory(require("xmldom").DOMParser);` gone. output is:

[2020-11-02 16:36] fregante commented on #6226
The module itself is `something`, why would it check for itself? ProvidePlugin currently transforms that code to:

[code]

No `'something'` module would do that

[2020-11-02 16:45] evilebottnawi commented on #11906
You can disable AMD if you don't want it

[2020-11-02 16:45] evilebottnawi commented on #11906
https://webpack.js.org/configuration/other-options/#amd

[2020-11-02 16:46] evilebottnawi commented on #6226
What about?
[code]

[2020-11-02 16:55] evilebottnawi commented on #11888
Yes, you need to migrate on `hooks`, please look at https://github.com/webpack/webpack/blob/master/lib/cache/ResolverCachePlugin.js#L173

[2020-11-02 17:13] evilebottnawi commented on #4121
I think still valid :disappointed:

[2020-11-02 17:42] fregante commented on #6226
I don't think we're on the same page. `ProvidePlugin` is about **not** using `require` in the code. This is the module injected by ProvidePlugin:

[code]

and it's transformed to:

[code]

[2020-11-02 17:57] kelunik opened #11908 "Caching failed for pack: Error: Unable to snapshot build dependencies"
# Bug report

**Reproduction Steps**

See https://github.com/kelunik/webpack-5-testing/commit/a800896c6c10df3572d50b573ef03c9e2a8607f6 for a simple reproduction. The README includes two scenarios, both for the large file and generic tracking of the project root as build dependency.

**What is the current behavior?**

[code]

I did some debugging in `FileSystemInfo.js` and found the following error

[2020-11-02 18:16] piernik commented on #11562
Any news on this one?

[2020-11-02 18:47] sokra commented on #11908
Were you able to determine the file which caused the error?

Note that you can enable debug logging with `infrastructureLogging.debug: /FileSystemInfo/`. Maybe that yields something useful...

[2020-11-02 18:54] kelunik commented on #11908
`path` was the root of the project. Do I need to set `infrastructureLogging.debug: /FileSystemInfo/` inside `stats`?

[2020-11-02 18:57] kelunik commented on #11908
I see: https://webpack.js.org/configuration/other-options/#infrastructurelogging

[2020-11-02 19:18] kelunik commented on #11908
Only yields that exact error, but would have prevented me editing the files manually to get the error.

[code]

I found the file using `ncdu` and deleted it, the message is gone then. But there might be other large files in the project directory that aren't related to my webpack build at all.

[2020-11-02 21:54] cymptom commented on #11152
@evilebottnawi and anyone else --

Mine might be a separate issue or a different manner of oversight, but I thought I'd ask anyway:

In my case, I'm using webpack to create a library module and wanted to chunk out the vendor portion of it. I'm not using `<script/>` includes -- my webpack output is being consumed via ES `import`.

It works fine as a single bundle, but as soon as I introduce the `sp

[2020-11-03 00:29] jantimon opened #11909 "Webpack 5 - child compiler ignores library target / name options"
# Bug report

Webpack 5 - child compiler ignores library target / name options

**What is the current behavior?**

webpack.config.js
[code]

Input: (src/child.js)

[code]

Result:

[code]

Reproduction: [webpack-bug.zip](https://github.com/webpack/webpack/files/5478718/webpack-bug.zip)

**What is the expected behavior?**

The result should export a variable called TEST e.g. `var TEST = ...` as spe

[2020-11-03 01:18] isaacl opened #11910 "Sourcemaps from webpack & mini-css-extract-plugin have slightly different directory structure"
# Bug report

**What is the current behavior?**
In webpack 5 w/ `mini-css-extract-plugin` and config `devtool: 'source-map'`, chrome groups css and js in different directories:
![image](https://user-images.githubusercontent.com/1027886/97935704-58861d80-1d47-11eb-9e35-8953081e9248.png)

Here's the relevant snippet from the sourceMap files:
main.17fbf8.css.map: `"sources":["webpack://main/src/main.

[2020-11-03 03:33] littleprincewdk commented on #11906
This can solve my problem temporarily. But if webpack can retain the code, what exactly is determined by the runtime，will it be better? Then my code can support AMD and CommonJs. When i set `libraryTarget: 'umd'`, The code generated by webpack itself is reserved and not replaced，then the user's should be kept。
<img width="582" alt="截屏2020-11-03上午11 27 28" src="https://user-images.githubusercontent

[2020-11-03 04:06] rishabh3112 opened #11911 "feat: expose sibling compilers from compiler object in MultiCompiler mode"
## Feature request
A `compiler.siblings` property so that we can access all compilers available in MultiCompiler mode through Compiler as well.

**What is the expected behavior?**
`compiler.siblings` to contain all child compilers of multi compiler.

**What is motivation or use case for adding/changing the behavior?**
While implementing interactive output mode in webpack-cli, I need the ability to

[2020-11-03 04:06] rishabh3112 commented on #11911
/cc @evilebottnawi

[2020-11-03 07:51] #11840 closed

[2020-11-03 09:16] lk8888 opened #11912 "Dynamic imports: Can the webpackInclude Contains variable ?"
![image](https://user-images.githubusercontent.com/24668282/97967440-2c76a500-1df8-11eb-9ce9-e28186153c38.png)

[2020-11-03 09:28] shijiezhou1 commented on #6879
That's for js bro

[2020-11-03 09:34] sokra commented on #11906
This lib behaves different depending on the module system use. This is not recommended. But as there is nothing you can do there try to add this to your config:

[code]

[2020-11-03 09:35] sokra commented on #11912
No, but you can use the ContextReplacementPlugin

[2020-11-03 09:35] #11912 closed

[2020-11-03 09:38] sokra commented on #11908
hmm, we should add stack traces to the logging...

[2020-11-03 09:50] sokra commented on #11908
Yeah, weird that `/home/kelunik/Git/project-xy` is in your build dependencies. This shouldn't be that way. It actually makes the cache useless as it's always invalidated when anything changes. This might be caused by some kind of fallback behavior, because the usually way doesn't work...

[2020-11-03 09:53] sokra commented on #11908
Is your webpack.config.js an node.js ESM?

[2020-11-03 10:08] kelunik commented on #11908
No, code in the project is ESM, but the webpack config is CJS.

Do you have anything specific in mind I should check?

[2020-11-03 11:14] evilebottnawi commented on #11908
Do you have big project? Maybe you can show webpack config?

[2020-11-03 11:19] sokra commented on #11908
I think this is related to ESM in build dependencies which is not fully supported and falls back to including whole directories... Working on that

[2020-11-03 11:22] evilebottnawi commented on #11910
@webpack-bot move to webpack-contrib/css-loader

[2020-11-03 11:22] evilebottnawi commented on #11910
@webpack-bot move to webpack-contrib/css-loader

[2020-11-03 11:22] #11910 closed

[2020-11-03 11:26] evilebottnawi commented on #11911
@rishabh3112 we can have child compilation in child compilation (very deep), maybe you can describe deeply what do you want achieve

[2020-11-03 11:28] rishabh3112 commented on #11911
Ability to access all compliers in case of mulitiple compilers.

[2020-11-03 11:40] evilebottnawi commented on #11911
Why we need access for child compilators? They are already in printed stats

[2020-11-03 11:41] evilebottnawi commented on #11152
@cymptom do you use webpack-dev-server or simple webpack compilation?

[2020-11-03 11:44] rishabh3112 commented on #11911
Each child compiler has it's own interactive plugin, I need to know when all of them have completed their compilation, this would be possible when I can access siblings of compiler.

[2020-11-03 11:47] evilebottnawi commented on #11911
hm, I think we should avoid adding interactive plugin for child compilations, at least it should disabled by default, for example, mini-css-extract-plugin creates many child compilations, it will be like spam in interactive mode

[2020-11-03 11:58] rishabh3112 commented on #11911
I think we are not on same page. I am talking about child compilers i.e. `MultiCompiler.compilers` not about the compilation processes itself.

[2020-11-03 12:06] yes1am commented on #1410
if someone still meet the same problem, take care, use:

your-loader.js
[code]
instead of
[code]

[2020-11-03 12:09] evilebottnawi commented on #6226
I see... to be honest, this plugin was not designed for polyfills, the problem is that different polyfills need to be configured in completely different ways, and to be honest again it's not even safe, but yes it work in simple cases, why do you want using this plugin for polyflling? Maybe you can provide example of code, want to ivnestigate deeply, maybe you can find good approach and improve our

[2020-11-03 12:12] evilebottnawi commented on #11911
I'm a little confused :smile: But we can get `compiler.compilers`

[2020-11-03 12:26] rishabh3112 commented on #11911
One can't register plugin on a `MultiCompiler` which has this `compilers` prop that you are mentioning as far as I know. It doesn't have `options` prop:
https://github.com/webpack/webpack/blob/83a1def18015e05186d0f1e4ed9b5ae8cb61e807/lib/MultiCompiler.js#L49

[2020-11-03 13:14] rishabh3112 commented on #11911
So, should I go ahead with PR for the same?

[2020-11-03 13:22] evilebottnawi commented on #11911
@sokra Can you look?

[2020-11-03 13:30] Bhavik-Ardeshna commented on #11894
Hey ! I need to work on this issue
But I m new to this can you plz guide me how to start go through this webpack repo.

Means from which file I would start ?

[2020-11-03 13:55] littleprincewdk commented on #11906
OK，thank all of you。It is really a problem with X2JS, I should raise the issue to it

[2020-11-03 14:00] #11906 closed

[2020-11-03 14:02] alex-vukov opened #11914 "Libraries loaded twice using ModuleFederation plugin"
# Bug report

**What is the current behavior?**
I have a shell React application which must display a component from another application using the ModuleFederation plugin. I run them both on localhost. Shell app is on port 8080, BillingMFE app is on port 8082. When running the entire setup I can see that a bundle containing React is loaded once from the MFE app (by remoteEntry.js) and once by the

[2020-11-03 14:07] evilebottnawi commented on #11914
Please do not ignore fields in the issue template

Do not ignore this, respect time of other, thanks

[2020-11-03 14:07] #11914 closed

[2020-11-03 14:10] jrschumacher commented on #6226
@fregante that was my experience as well, but at this point the change would be breaking so I don't think a "fix" is a good idea. The impact on existing usecases could be large. IMO the solution is to extend it to allow for exclusion.

---

The usecase which I have for the provide plugin is to override native functions (i.e. XHRHttpRequest) without impacting the sites where my library is used. Spe

[2020-11-03 14:36] #11876 closed

[2020-11-03 14:36] #11878 closed

[2020-11-03 14:42] cymptom commented on #11152
@evilebottnawi I'm using simple webpack compilation. The config is something like this:

[code]

It's being consumed in my code like this:
[code]

This works perfectly without the `splitChunks` setting. With `splitChunks` on, however, I'll get an error in the console: `Cannot read property 'ImageEditor' of undefined`.

[2020-11-03 14:49] evilebottnawi commented on #11152
@cymptom Can you create reproducible test repo, I think we fixed it in master, want to check

[2020-11-03 14:51] cymptom commented on #11152
I'll do that and get back to you. Thanks :)

[2020-11-03 19:25] fregante commented on #6226
Yeah, it could still be an optional behavior like `includeSelf: true` rather than having to specify the same module twice like https://github.com/webpack/webpack/pull/9420 would allow.

Context: https://github.com/mozilla/webextension-polyfill/issues/156

This polyfill-ish uses UMD, so if I load it directly it will act as a proper polyfill, but if I ask webpack to include it (via whichever method)

[2020-11-03 20:02] raimund-schluessler commented on #11897
@sokra Unfortunately the issue is not fixed with webpack 5.4.0 although #11904 is included as far as I know. Please checkout the updated MWE under https://github.com/raimund-schluessler/mwe-webpack-11897. Running the compiled javascript still gives `TypeError: true is not a function`. Please let me know if can help debugging this.

[2020-11-03 20:17] joakimriedel commented on #11897
@sokra @raimund-schluessler can confirm that my similar issue was resolved with 5.4.0, but adding my code in your MWE did not reproduce so perhaps they have different root cause?

[2020-11-03 22:39] chrisands opened #11915 "Doesn't work hot reload with browserslist config"
# Bug report

**What is the current behavior?**
After editing code it should perform hot reload.
In console no correct initialization, it stops on waiting.
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
- clone repository
- install packages `npm install`
- start server with `npm start`
- open browser (chrome, edge) on `localhost:8000`
- try to change text in `s

[2020-11-03 22:57] xtuc opened #11917 "Implement import assertions"
## Feature request

**What is the expected behavior?**
webpack can use https://github.com/tc39/proposal-import-assertions to enforce JavaScript module type at runtime or build time (like with JSON modules, presumably based on file extension).

**What is motivation or use case for adding/changing the behavior?**
For security reasons browser will use the syntax for some non JavaScript Module types.

[2020-11-04 03:55] BriceChaponneau commented on #11869
I've update and that works. Thanks.

@ScriptedAlchemy do not understand with server-side, for dynamic ? Do you have source ?

Another thing, where can we found documentation about full config please ?
share router, share store, optimisation (export module for tree shaking...) ?

[2020-11-04 09:05] sokra commented on #11911
Technically you can add plugins to the MultiCompiler too. This is only possible from the Node.js API and not from config, but that should be possible to do in the CLI.

Unrelated from that, we should allow to add plugins to the MultiCompiler from config too.

[2020-11-04 09:35] rishabh3112 commented on #11911
Can you point to me on how to do it?

[2020-11-04 09:44] sokra commented on #11911
[code]

Just like with normal compilers. It as similar hooks like the `Compiler` but not all of them.

[2020-11-04 10:08] sokra commented on #11814
should be fixed by #11886
released in 5.4.0

[2020-11-04 10:08] #11814 closed

[2020-11-04 11:00] alex-vukov opened #11921 "ModuleFederation App Not Working as Described in Documentation"
# Bug report

**What is the current behavior?**
According to ModuleFederation plugin documentation the loading of both the host and the component provider application must be moved to a bootstrap file which should then be imported dynamically in index.js. However in one of the webpack examples at [https://github.com/module-federation/module-federation-examples](url) this setup doesn't work and not

[2020-11-04 11:41] evilebottnawi commented on #11909
yep, `iife: false` doesn't work together with libraryTarget: "commonjs2" right now, es supporting is still in our roadmap, try to do not use it right now

[2020-11-04 11:45] #11897 closed

[2020-11-04 11:56] evilebottnawi commented on #11921
Please open an issue in https://github.com/module-federation/module-federation-examples, it require more fixes

[2020-11-04 11:56] #11921 closed

[2020-11-04 12:01] evilebottnawi commented on #11869
@sokra @ScriptedAlchemy maybe we can open an issue with module federations questions to avoid multiple issues with many questions, we even create FAQ in the top post with popular questions

[2020-11-04 12:10] evilebottnawi commented on #10889
@amalitsky friendly ping, problems still exists with latest webpack version?

[2020-11-04 12:10] jantimon commented on #11909
Thank you for your feedback 👍 unfortunately it doesn't work with `iife: false`:

Child Compiler config:

[code]

Result:
[code]

Result (non minified):
[code]

The result should export a variable called `TEST` e.g. `var TEST = ...ß as specified in the library target options

[2020-11-04 12:13] evilebottnawi commented on #11911
@rishabh3112 it helps to solve a problem?

[2020-11-04 12:22] evilebottnawi commented on #11909
For libraries `iife` is not working, because this option only for es modules (experimental), so we don't respect it

[2020-11-04 12:27] raimund-schluessler commented on #11897
Can I somehow test #11920 before the release of 5.4.1?

[2020-11-04 12:29] snitin315 commented on #11897
Yes use the `master` branch of webpack

[2020-11-04 12:46] jantimon commented on #11909
Okay that's fine - `iife` is not that important to me..
How can I use library targets: `var` or `assign` for child compilers?

Maybe I can give you a short background what I am trying to achieve and you can guide me to a work around for now.
For many years (since html-webpack-plugin 2.x) I am using the child compiler to compile the html template.
This allows to use any webpack loader for the tempa

[2020-11-04 13:54] jpzwarte opened #11922 "ModuleFederationPlugin's name may not include dashes"
With webpack 5.4.0, if I use the `ModuleFederationPlugin` with `name: 'share-ical-link'`, I will get a `ReferenceError: ical is not defined` error at runtime. If I change the name to `share_ical_link`, the error goes away.

This is due to the generated code being eval'ed and `name` is used as a variable name: `if(typeof share-ical-link !== \"undefined\")`

Please fix this so `name` may include das

[2020-11-04 13:54] evilebottnawi commented on #11909
weird, it should be undefined, can you try other values for ` type: 'var',`

[2020-11-04 13:57] evilebottnawi commented on #11922
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-11-04 13:57] #11922 closed

[2020-11-04 13:58] evilebottnawi commented on #11922
I will reopen it after you fix the issue template, please respect time of other developers, thanks

[2020-11-04 14:01] jantimon commented on #11909
It doesn't matter which type I set all cause the same result.
I tried so far: `assign` `umd` `amd` `var` `global`

I also tried invalid values e.g:

[code]

Which brings again the exact same result - I got the feeling that I am doing something wrong here 😞

I  attached the `libraryTarget: '🌎'` version if you want to try it out yourself:

[webpack-bug.zip](https://github.com/webpack/webpack/files/5

[2020-11-04 14:09] evilebottnawi commented on #11909
Can you try:
[code]

[2020-11-04 14:17] jpzwarte opened #11923 "ModuleFederationPlugin's name may not include dashes"
# Bug report

**What is the current behavior?**
`ReferenceError: ical is not defined`

**If the current behavior is a bug, please provide the steps to reproduce.**
`new ModuleFederationPlugin({ name: 'share-ical-link' })`

**What is the expected behavior?**
No error. Workaround is to use underscores: `share_ical_link`.

**Other relevant information:**
webpack version:  5.4.0
Node.js version:
Opera

[2020-11-04 14:21] evilebottnawi commented on #11923
Anyway feel free to send a fix, it should be easy

[2020-11-04 14:24] jantimon commented on #11909
Yes sure:

[code]

[code]

[code]

As you can see it is the exact same result again.

Here is a zip of that version:

[weboack-bug.zip](https://github.com/webpack/webpack/files/5488295/weboack-bug.zip)

[2020-11-04 14:28] evilebottnawi commented on #11909
cc @sokra

[2020-11-04 14:54] vitorventurin commented on #2882
It worked but then I had one pitfall: when the web-app is "installed" on the device, once you open the app, it returns blank page instead of index page.

[2020-11-04 15:03] cymptom commented on #11152
Alrighty, repo is here:
https://github.com/cymptom/webpack-chunk-demo

Steps to reproduce:

1. `npm install` in `\lib\guid-generator` and `\site`
2. `npm start` in `\site`.
3. Navigate to `localhost:3000` and observe guid printed to page using bundled uuid dependency.
4. Uncomment the `optimization` section of `\site\webpack.config.js`.
5. `npm run build:libs` in `\site` to re-run webpack.
6. Refr

[2020-11-04 15:09] rishabh3112 commented on #11911
Yeah it helps. Will try this out and see if this works 😅

[2020-11-04 15:09] kshitij86 commented on #11923
I'll fix this. @evilebottnawi can I get assigned?

[2020-11-04 15:14] evilebottnawi commented on #11923
Done

[2020-11-04 15:22] DaleyKD commented on #11883
@evilebottnawi - I was just now able to get back around to this.  I wasn't sure how to specifically try the PR you linked, but I did update to webpack 5.4 today, and it seems better.  I'll close this for now.  If I see anything start to happen again, I'll find time to get you a repo.

Thanks for your hard work! It's greatly appreciated.

[2020-11-04 15:22] #11883 closed

[2020-11-04 15:37] evilebottnawi commented on #11883
@DaleyKD Yes, feel free to open new issue(s) if you faced with problems

[2020-11-04 15:41] evilebottnawi commented on #4121
@buu700 Can you provide simple reproducible test repo?

[2020-11-04 15:42] evilebottnawi commented on #7525
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks! Should be fixed in 5.4

[2020-11-04 15:42] #7525 closed

[2020-11-04 16:00] janlent1 opened #11924 "[Webpack 5] Reference error: __webpack_require__ is not defined"
# Bug report

**What is the current behavior?**
I would like to upgrade our repo to webpack5. We have custom requires and custom dependency and templates. In webpack4, the dependency could be added without issues. Now though, the compiled code doesnt inlcude the __webpack_require__ inside the function argument, so the __webpack_require__ which we replaced doesnt work anymore.
`/***/ 9126:
/***/ ((

[2020-11-04 16:08] evilebottnawi commented on #11924
It is breaking change, you need fix compatibility with webpack@5

Please provide code how you do it

[2020-11-04 16:23] evilebottnawi commented on #11894
WIP on this, task is not easy

[2020-11-04 16:23] janlent1 commented on #11924
@evilebottnawi thanks for the swift reply!
It is company code I cannot show it. But could i orientate myself at lib/dependencies/AMDRequireDependency.js at the AMDRequireDependencyTemplate where
`if (dep.functionRange && !dep.arrayRange) {
			const startBlock = ``${promise}.then((``;
			const endBlock = ``).bind(exports, __webpack_require__, exports, module)).catch(${RuntimeGlobals.uncaughtErrorHa

[2020-11-04 16:31] evilebottnawi commented on #11924
Can you refactor the issue, it is not readable

Unfortunately, most likely you will unanswered in this case, I do not ask to show all the code, I ask to show an example

You can look at code in https://github.com/webpack/webpack/tree/master/lib/dependencies

[2020-11-04 16:37] evilebottnawi commented on #11894
Workaround:
[code]

[2020-11-04 16:39] janlent1 commented on #11924
@evilebottnawi sorry for the inconveniences. What else do you need to see?
We hook into the custom require call inside the compilation when this call is executed. Then we add the dependency to the parser.state.current.addDependency.
Additionally we hook into the compilation and then execute this here:
[code]
Is this helpful?
The dependency itself is a simple dependency nothing crazy...

[2020-11-04 17:09] sokra commented on #11924
You need to declare the correct `runtimeRequirements` in your custom dependency. Choose one from `RuntimeGlobals`.

[2020-11-04 17:14] rishabh3112 commented on #11911
Yes it worked. Thanks everyone 😄

[2020-11-04 17:14] #11911 closed

[2020-11-04 17:22] grknsolak opened #11926 "WARNING in asset size limit: The following asset(s) exceed the recommended size limit (977 KiB). This can impact web performance."
WARNING in asset size limit: The following asset(s) exceed the recommended size limit (977 KiB).
This can impact web performance.
Assets:
  5.js (1.91 MiB)
  6.js (1.14 MiB)
  8.js (1.02 MiB)

WARNING in entrypoint size limit: The following entrypoint(s) combined asset size exceeds the recommended limit (391 KiB). This can impact web performance.
Entrypoints:
  truRequire (1.2 MiB)
      vendor.js

[2020-11-04 17:22] janlent1 commented on #11924
Hi @sokra,
thanks as well for the answer!
So you mean just adding runtimeRequirements from the outputOptions and call on it runtimeReqiurements.add(RuntimeGlobals.require)? I only need the __webpack_require__...
Or do we have to do more like creating this promise like in the template of lib/dependencies/AMDRequireDependency.js?

[2020-11-04 17:32] evilebottnawi commented on #11926
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

You can disable it `performance: false`

[2020-11-04 17:32] #11926 closed

[2020-11-04 17:47] evilebottnawi commented on #11870
@barak007 Do you want to documented it?

[2020-11-04 18:07] sokra commented on #11924
Yes that should be it.

[2020-11-04 18:34] amalitsky commented on #10889
@evilebottnawi, looks like problem is resolved for us:

![wpba-ts-402](https://user-images.githubusercontent.com/1457274/98150151-1104ac00-1e83-11eb-869a-07e41f1383f5.png)

We are on Webpack 4.44.1 and TS 4.0.2.

Thanks for the follow up

[2020-11-04 18:46] evilebottnawi commented on #10889
Great, will be great if you try `webpack@5` (most of critical regressions are fixed, so it should be safe), anyway if you faced with the problems again feel free to open new issue(s)

[2020-11-04 18:46] #10889 closed

[2020-11-04 22:40] janlent1 commented on #11924
@sokra this seemed to work.
Thanks so much! You saved me hours of work!!! :))

I am now having a problem regarding **require.context**, it throws errors that it cannot **resolve module** abc/def/ghiTest.js in blablablatoabc/ even though the path is blablablatoabc/abc/def/ghiTest.js.. do you know how to solve that or should i open up a new ticket? The require context is called with the path-alias,t

[2020-11-05 01:31] bazineta commented on #11659
We found similar behavior in our project (absurd memory usage, dev server crashing after just a couple of recompiles, extremely slow compilation), and found them to be apparently caused by eslint-webpack-plugin. That is, we remove it from the configuration, and our memory usage and performance returns to normal. If you happen to be using it, worth a look. Admittedly a long shot since it sounds lik

[2020-11-05 02:05] AshkanSumaiL opened #11928 "Downloading last version (5.4.0) from NPM"
Hi Im new here, tried to download the last version of nest js and i had a problem downloading the last package of webpack, then just to ensure I have tried to install via:

**Input:**
`npm i webpack@5.4.0`

**Output**
[code]

It seems that its not in your registry:

**Input:**
`npm view webpack`

**Output**
[code]

[2020-11-05 02:21] differentsmoke commented on #11875
I fixed this by changing

[code]
to
[code]
in `node_modules\svelte\index.mjs`

But now I'm curious: is this a SVELTE or a WEBPACK issue?

[2020-11-05 02:27] AshkanSumaiL commented on #11928
I dont know why my registry was setted to taobao, but changing it solved my issue:
`npm config set registry https://registry.npmjs.org/`

[2020-11-05 02:27] #11928 closed

[2020-11-05 02:32] AshkanSumaiL commented on #11928
yep try :
`npm config get registry`
to ensure that you are using npmjs registry, if not then execute this:
`npm config set registry https://registry.npmjs.org/`

[2020-11-05 03:02] cookch10 commented on #10537
I ran into this same issue with testing webpack 5.  It isn't clear in the documentation, so I ask, is dependOn supposed to function in such a way that it will dynamically load the necessary dependencies for an entry point without including it in the bundled entry point module?

[2020-11-05 07:38] 23cicada opened #11929 "How to run examples?"
I executed the following steps
[code]
then report error
![image](https://user-images.githubusercontent.com/52289446/98211385-ed259100-1f7c-11eb-894c-3d94e1999689.png)

[2020-11-05 08:03] alex-vukov commented on #11033
Reading this conversation as I am implementing dynamic module loading at the moment. I don't understand why react and react-dom have to be declared as singletons. Isn't the idea of "shared" exactly having only a single instance of all libraries loaded at all times? Why should this be set manually and how do I decide for which libraries it's necessary?

[2020-11-05 08:08] kshitij86 commented on #11923
@jpzwarte @evilebottnawi  So if I understand the issue corectly, when defining a new `ModuleFederationPlugin`, we want to enforce that the name in the options object cannot have dashes and throw an error if it does? Is that correct? Or should it automatically convert dashes to underscores, or do both of the above tasks?

[2020-11-05 08:13] jpzwarte commented on #11923
@kshitij86 Since name is a string in `webpack.config.js`, it should accept any value and convert the text to a valid variable name imo.

[2020-11-05 08:42] raimund-schluessler commented on #11897
I can confirm that the issue has been fixed in the MWE as well as in my production build. Thanks a lot!

[2020-11-05 09:35] anaisbetts opened #11930 "Webpack TypeScript types don't export 'Mode'"
# Bug report

**What is the current behavior?**

Writing Webpack v5 configuration methods cannot be typed correctly:

[code]

**What is the expected behavior?**

Because `Mode` is not exported, it can't be used as the type in the above type signature instead of `string` here

**Other relevant information:**

webpack version:  5.4.0
Node.js version: 15.1.0
Operating System: Linux x86_64
Additional

[2020-11-05 09:43] linlinyang opened #11931 "How to use cache in developing plugin"
I write a plugin for compress image.
But it waste too much time by every compress.
Please show me some demo, thanks.

[2020-11-05 09:46] sokra commented on #11923
It depends on the library type used. The default type is `var` which have problem with dashes.

If you want to add a validation, add it here:

https://github.com/webpack/webpack/blob/a01988f55a38a82fe66b1101fb10f8ffb0da6622/lib/library/AssignLibraryPlugin.js#L142

Check if `base` is an valid identifier.

[2020-11-05 09:58] barak007 commented on #11870
I thinking to add a Warning somewhere in the Module Assets docs with the following:

When using the old assets loaders in webpack 5 you might want to exclude them from the assets module processing to prevent asset duplication. This can be done by overriding the asset configuration for that asset type by setting it's module type to `"javascript/auto"`.
To exclude assets that came from `new URL` cal

[2020-11-05 10:30] zengpl opened #11932 "Why doesn't changing RawSource at renderModuleContent work?"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

before webpack5.0.0@alpha.17, it can work
[code]

at webpack5.0.0+, it doesn't work
[code]

**Other relevant information:**
webpack version:  5.0.0
Node.js version: 12.18.3
Operating System: windows
Additional tools:

[2020-11-05 10:44] sokra commented on #11930
You don't need the type. Pass `"development"` or `"production"`. If you want to declare a type for it use: `{ mode: "development" | "production" }`

[2020-11-05 10:44] #11930 closed

[2020-11-05 10:45] sokra commented on #11931
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2020-11-05 10:45] #11931 closed

[2020-11-05 11:42] evilebottnawi commented on #11932
Because it was changed, you don't provide context - what is the problem, why you change it and etc, so we can't help, sorry

[2020-11-05 11:42] #11932 closed

[2020-11-05 11:43] evilebottnawi commented on #11870
@barak007 No, sounds fine

[2020-11-05 11:44] evilebottnawi commented on #11875
SVELTE

[2020-11-05 11:44] evilebottnawi commented on #11875
try to run this code in browsers without webpack, you will get the same problem

[2020-11-05 12:03] evilebottnawi commented on #11924
Please provide example

[2020-11-05 12:06] anaisbetts commented on #11930
@sokra oof, duplicating the type seems really Gross

[2020-11-05 12:11] evilebottnawi commented on #11930
You can get the `Mode` type using `Configuration["mode"]`

[2020-11-05 12:59] janlent1 commented on #11924
@evilebottnawi
Okay the above description is really all i can give you, this is more central coding. And as of now, it just gives out the warnings but the code actually works... I also don't know what exactly i could show you that could help here... Maybe I'll get back to it later.

What I would like to know though, is that I have a custom HtmlPlugin, and this used to be able to get the CSS as an

[2020-11-05 13:08] evilebottnawi commented on #11924
Because `style-loader` do not create new assets, only mini-css-extract-plugin

[2020-11-05 13:19] janlent1 commented on #11924
@evilebottnawi you are right im sorry, we used the extracttextplugin and that still seemed to work in v4. I will try to upgrade to the mini-css-extract-plugin, and will come back to you in a bit. Let you know soon.
Thank you for your help!

[2020-11-05 13:35] sokra commented on #11929
The examples still use the old webpack-cli. So you need to run `Run yarn add --dev webpack-cli@3` instead.

[2020-11-05 13:47] evilebottnawi commented on #11929
@sokra I sent a PR with updating

[2020-11-05 14:22] nickperkinslondon commented on #5922
This seems like a no-brainer.  Just make it a separate option like "watchConfigFile" that does exactly ( and only ) what it says it does.  That's what the people want.  Something very simple.  They don't want abstract arguments about "incompleteness".

[2020-11-05 15:05] kshitij86 commented on #11923
@sokra After we check if `base` is a valid identifier, and find that it does include illegal dashes, should we modify the `base` property to replace dashes with underscores?
Or should we do something like `throw "In ModuleFederationPlugin, 'name' cannot include dashes";`

[2020-11-05 15:16] evilebottnawi commented on #11923
Throw an error

[2020-11-05 15:17] evilebottnawi commented on #11923
or maybe we can use `JSON.stringify` and maybe it will work

[2020-11-05 15:27] janlent1 commented on #11924
Hi @evilebottnawi TypeError: The 'compilation' argument must be an instance of Compilation is the error im getting when using mini-css-extract-plugin@1.2.1...

[2020-11-05 15:43] Cronus1007 commented on #11691
#11843 Sir can we merge this pr to main?

[2020-11-05 16:01] evilebottnawi commented on #11924
I want to close, because original problems was solved

Double check what you don't have two webpack versions

[2020-11-05 16:01] #11924 closed

[2020-11-05 16:01] evilebottnawi commented on #11924
Anyway feel free to feedback

[2020-11-05 17:28] kshitij86 commented on #11923
@evilebottnawi I tried implementing the error throwing part and it works perfectly when searching `base` for dashes. Submitting a PR for this issue now.

![hyphen](https://user-images.githubusercontent.com/26821140/98275147-52e43e00-1fba-11eb-9683-821f36a87bcc.png)

[2020-11-05 18:24] evilebottnawi commented on #11152
Sorry for delay, look at this tomorrow

[2020-11-05 18:29] usmanbuilds opened #11935 "Webpack does not transpile arrow functions and template strings passed to higher order functions"
# Bug report

**What is the current behavior?**

Arrow functions (including those that contain template strings) are not transpiled down to ES5 _only_ when they are passed to higher order functions like filter() and map(). My setup uses browserslist to supply targets so I haven't included "web" and "es5" in my webpack config intentionally.

**If the current behavior is a bug, please provide the st

[2020-11-05 21:40] jcubic opened #11936 "Webpack load all files in node_module directory in development mode and dynamic import name"
# Bug report

The issue reported to Codemirror codemirror/CodeMirror#5297 but in fact it's bug in Webpack development mode module loading. Webpack load everything that is in node_module, if module have invalid files (like html file) it give warnings in <5 and errors in version 5.

**What is the current behavior?**

Can't load Codemirror in development mode.

Webpack 5 throw error:

[code]

Webpack

[2020-11-05 21:51] jcubic commented on #11936
This is something to do with import when using variables:

[code]
I think that the actual require that is called is not the one I have in code. The same probably happen for other case in Codemirror issue:

[code]

[2020-11-05 22:03] jcubic commented on #11936
Here is simplify example:
[code]

Same webpack file (without b.js) and a.js is:

[code]

running `npx webpack` give error:
[code]

[2020-11-05 22:33] csvan commented on #11935
Webpack does not transpile JS - Babel does. Have you tried using the Babel loader?

[2020-11-06 04:53] martinoppitz commented on #11875
Thank you!

[2020-11-06 04:55] martinoppitz commented on #11875
Please read this issue: @ScriptedAlchemy

Link: https://github.com/sveltejs/svelte/issues/5617

[2020-11-06 05:36] sokra commented on #11923
no

that won't work in this context. Other library types allow that and it's already implemented that way. e. g. `library.type: "global"` uses `self["name-with-dashes"] = `

[2020-11-06 06:48] ScriptedAlchemy commented on #11875
Is this still related to their loader? Virtual modules is depended on by svelte

[2020-11-06 08:09] andersk opened #11937 "[path] in assetModuleFilename may unexpectedly traverse parent directories"
# Bug report

**What is the current behavior?**

With `output.assetModuleFilename` configured as `"[path][name][ext]"`, referencing an asset from outside the project root via `..` or a symlink through `..` causes a file to be written outside of the `output.path` directory.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

webpack has created `dist/../../foo.txt

[2020-11-06 10:19] actuallymentor opened #11938 "Webpack devtool validation fails on 'eval-source-map'"
# Bug report

**What is the current behavior?**

When running webpack with the below config object I receive the following error: `configuration.devtool should match pattern "^(inline-|hidden-|eval-)?(nosources-)?(cheap-(module-)?)?source-map$".`

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

See configuration object above, see [regex101 preview](https://reg

[2020-11-06 10:27] actuallymentor commented on #11938
When running without flag `-d` there seems to be no error and I have no idea why.

[2020-11-06 10:39] evilebottnawi commented on #11935
Answer above

[2020-11-06 11:04] evilebottnawi commented on #11937
Sorry, expected, `file-loader` uses `loader-utils` for creating filename, but it is buggy, there are a lot of other cases when it is valid

[2020-11-06 11:04] #11937 closed

[2020-11-06 11:14] evilebottnawi commented on #11938
Why it is hard do not ignore, proving link on regexp and steps to reproduce is different `If the current behavior is a bug, please provide the steps to reproduce.`?

Sorry I can't give your answer because I don't know how you run webpack, what is full configuration and other information, for me `devtool: 'eval-source-map',` for fine, without problems.

I will reopen and give you answer when if you

[2020-11-06 11:14] #11938 closed

[2020-11-06 11:17] evilebottnawi commented on #11938
Flag `-p` was removed, you need to use `--mode production`, flag `-d` require value, i.e. `-d eval-source-map`

[2020-11-06 11:54] andersk commented on #11937
A directory traversal bug is *expected*?

To be clear, I don’t care about reproducing the exact behavior of `file-loader`—I’m just saying webpack shouldn’t pick a path that’s outside the directory I told it to output.

[2020-11-06 12:10] evilebottnawi commented on #11937
Where you see bug? We just write file about `output.path` as you declare

[2020-11-06 12:21] evilebottnawi commented on #11937
When you use `fs` method and using `../../` what you expected? Do not do magic here

[2020-11-06 13:01] dkamyshov commented on #11688
The issue is still present as of webpack@5.4.0. Is this working as intended? Am I missing something in the config?

[2020-11-06 13:05] evilebottnawi commented on #11688
No, need a fix, feel free to send a fix

[2020-11-06 14:34] evilebottnawi commented on #11936
Expected, please read https://webpack.js.org/guides/dependency-management/#require-with-expression

[2020-11-06 14:34] #11936 closed

[2020-11-06 14:37] evilebottnawi commented on #11936
We are static analyzer, so it cannot know what is variable value, so we include all files, you can `ignore` some extensions, look at docs or setup loader for them

[2020-11-06 14:37] evilebottnawi commented on #11936
You should not use:
[code]

it is unsafe

[2020-11-06 14:47] dmitryweiner opened #11940 "webpack 5.4 + react 17.0: Uncaught TypeError: superCtor is undefined"
# Bug report

**What is the current behavior?**
When I'm trying to build bundle, I get error in browser:
Uncaught TypeError: superCtor is undefined
    inherits inherits_browser.js:5
    js parser_stream.js:27

**If the current behavior is a bug, please provide the steps to reproduce.**
Install latest Webpack and React.
Here is package.json https://github.com/jyabka/Chat_Name/blob/54136bd46ad76b43

[2020-11-06 14:57] sokra commented on #11940
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2020-11-06 14:58] evilebottnawi commented on #11661
@ScriptedAlchemy Friendly ping, we try to close all critical issues ASAP, but without reproducible example we can't do it

[2020-11-06 15:17] dmitryweiner commented on #11940
Here is the example:
[code]

[2020-11-06 15:32] DamienBernardCanal commented on #11277
Hi, I do have the exact same issue (lerna monorepo+libraries) and I'm looking for a workaround, any lead?

And/or is there an estimated ETA?
I mean, should I hope to use webpack 5 soon (I really love the "dependsOn" on feature, it's a marvel!) or wait a few months that the team had time to fix this issue?

Best regards and thanks a lot for this incredible tool 😃

[2020-11-06 15:37] tothethousand opened #11943 "webpack5.0 webpack-dev-server cannot live reloading Webpage"
Start command：
![image](https://user-images.githubusercontent.com/50653328/98384143-5f36cc80-2088-11eb-9899-78b6f1004bf2.png)
congif：
![image](https://user-images.githubusercontent.com/50653328/98384237-7b3a6e00-2088-11eb-807f-b3a0fc314299.png)
version：
![image](https://user-images.githubusercontent.com/50653328/98384416-b50b7480-2088-11eb-9ada-5507956a986d.png)
detail：When I modify the JS file, I

[2020-11-06 15:38] tothethousand commented on #11943
webpack-5

[2020-11-06 15:39] tothethousand commented on #11943
webpack-5

[2020-11-06 15:45] evilebottnawi commented on #11943
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please respect time of other developers. It was known bug and tracker in webpack-dev-server, set `target: 'web'`

[2020-11-06 15:45] #11943 closed

[2020-11-06 15:48] evilebottnawi commented on #11277
@DamienBernardCanal it should be fixed, but keep opened for tracking, please provide reproducible test repo

[2020-11-06 15:49] evilebottnawi commented on #11277
@dmitrysteblyuk problems not in wepback, webpack-dev-server never supports library, yep, it works in some cases

[2020-11-06 15:52] vankop commented on #11940
you need to provide correct pollyfill for stream `require('stream').Writable === undefined`

[2020-11-06 16:17] actuallymentor commented on #11938
You seem needlessly frustrated. I thought a configuration object would be clear.

As I commented I came to that conclusion, there is no mention of it in the migration guide though. `-d` used to mean 'development mode' not 'devtool mode'.

This is the recycling of a cli argument while changing it's usage but not documenting it in the warnings.

The issue was resolved, I hope you have a nice day.

[2020-11-06 16:18] dmitryweiner commented on #11940
Thank you very much!

Now I get:
Uncaught ReferenceError: Buffer is not defined
    js util.js:103
    Webpack 45
![Снимок экрана от 2020-11-06 23-17-28](https://user-images.githubusercontent.com/6175334/98389234-5a711900-2086-11eb-8b65-f9b7f3e892bb.png)

[2020-11-06 16:20] danvoyce commented on #8699
The problem for me was related to this https://github.com/sass/node-sass/issues/2666, and the simplest solution for me was to do this instead ```process.kill(process.pid, 'SIGINT');```

[2020-11-06 16:29] vankop commented on #11940
this worked for me https://github.com/vankop/webpack-bug/commit/271f437af6fce5b29faa8ba0b0960ebb08a194cd

[2020-11-06 16:36] dmitrysteblyuk commented on #11277
As far as I can see `webpack-dev-server` is being used in the reproduction case of this issue and not just webpack.
[code]
So why are we keeping it here and not moving it to `webpack-dev-server`?

Afaiu there's already existing issue describing the same problem https://github.com/webpack/webpack-dev-server/issues/2484.
Please correct me if I'm wrong and it's actually a different one (in that case

[2020-11-06 16:43] evilebottnawi commented on #11277
@dmitrysteblyuk Because we have the same issue but not related to webpack-dev-server

Yes, we wait it

[2020-11-06 16:45] DamienBernardCanal commented on #11277
In my project I don't use `webpack-dev-server` and I can reproduce the issue with `Webpack 5.3.1`

[2020-11-06 16:46] evilebottnawi commented on #11277
@DamienBernardCanal Can you try `5.4`, we fixed many issues?

[2020-11-06 16:47] evilebottnawi commented on #11277
@DamienBernardCanal if it will not help, please provide reproducible example

[2020-11-06 17:02] DamienBernardCanal commented on #11277
Sorry, same issue with `5.4`.

I noticed that in our dev server we use `express` with  `webpack-dev-middleware` and `webpack-hot-middleware` maybe it's related to these packages?

[2020-11-06 17:23] Rinaldo opened #11944 "Remote can crash host app when using ModuleFederationPlugin"
# Bug report

**What is the current behavior?**

An incorrectly configured remote can crash its host app

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/module-federation/module-federation-examples/blob/master/basic-host-remote
On [this line](https://github.com/module-federation/module-federation-examples/blob/master/basic-host-remote/app2/webpack.

[2020-11-06 17:28] evilebottnawi commented on #11944
And what do you want? public path is wrong so you get the error

[2020-11-06 17:29] evilebottnawi commented on #11277
Yep, `webpack-hot-middleware` has same problem

[2020-11-06 17:39] Rinaldo commented on #11944
what I want is to be able to protect app1 from errors in its remotes. There doesn't seem to be any way to catch the ChunkLoadError and display some sort of fallback.

[2020-11-06 17:40] evilebottnawi commented on #11944
Where you place `try`/`catch`, we don't have magic for errors

[2020-11-06 17:42] PratishShrivastava commented on #11917
@xtuc  can I work on this issue

[2020-11-06 17:56] kelunik commented on #11908
Ok, I've debugged this today. I followed the advice of the new [cache configuration](https://github.com/webpack/changelog-v5/blob/master/guides/persistent-caching.md#build-dependencies) and added `tsconfig.json` as additional file to `buildDependencies.config`. However [this](https://github.com/webpack/webpack/blob/7415a618460795874fdf95c8f03363ea96709d52/lib/FileSystemInfo.js#L1212-L1215) fails f

[2020-11-06 18:00] evilebottnawi commented on #11908
Can you provide simple reproducible test repo?

[2020-11-06 18:03] kelunik commented on #11908
I'll try to do that now, yes.

[2020-11-06 18:19] kelunik commented on #11908
See https://github.com/kelunik/webpack-5-testing/commit/a800896c6c10df3572d50b573ef03c9e2a8607f6 for a simple reproduction. The README includes two scenarios, both for the large file and generic tracking of the project root as build dependency.

[2020-11-06 18:55] aryaroudi commented on #10510
Valid point, I'm facing the same issue now, any fix for that?

![image](https://user-images.githubusercontent.com/43990136/98403960-0f490d00-206a-11eb-99f8-b9441a2cb5f5.png)

[2020-11-07 02:38] dmitryweiner commented on #11940
This error was caused by stream.js. I should read [the doc](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed) more careful:

The issue can be closed.

[2020-11-07 02:38] #11940 closed

[2020-11-07 10:17] jantimon opened #11947 "types.d.ts: Plugin interface is incompatible to all Webpack Plugins"
# Bug report

Type Error: `Type '(compiler: Compiler) => void' is not assignable to type '() => void'.ts(2322)`

**What is the current behavior?**

A plugin is a class with an `apply` function **without** a `Compiler` instance:

https://github.com/webpack/webpack/blob/7415a618460795874fdf95c8f03363ea96709d52/types.d.ts#L6638-L6640

All webpack plugins have an `apply` function **with** a `Compiler`

[2020-11-07 11:37] evilebottnawi commented on #11947
PR welcome

[2020-11-07 12:03] jantimon commented on #11947
Will do 👍

[2020-11-07 15:06] jantimon commented on #11947
@evilebottnawi can you please take a look at #11948 ?

[2020-11-07 15:39] ChrisAckerman opened #11949 "Attach ModuleFederationPlugin containers to a namespace"
## Feature request

**What is the expected behavior?**

ModuleFederationPlugin should attach exposed containers to a namespace (e.g. `window.__webpack_module_federation_containers__.app1`)

**What is motivation or use case for adding/changing the behavior?**

- The current behavior of just attaching federated module containers to the window, is prone to collisions with window apis and globally att

[2020-11-07 15:59] ChrisAckerman commented on #11944
Also ran into this. The dynamic import promise should be rejected, since the chunk error should happen within the bounds of that promise.

[2020-11-07 16:00] Scorpovi4 opened #11950 "Uncaught TypeError: Cannot read property 'call' of undefined when import from node_modules"
# Bug report

Error message: **Uncaught TypeError: Cannot read property 'call' of undefined**

compiled line with error:

`/* harmony import */ var lightgallery_dist_js_lightgallery_all_min__WEBPACK_IMPORTED_MODULE_0__ = __webpack_require__("./node_modules/lightgallery/dist/js/lightgallery-all.min.js");`

[code]

webpack config:
[code]

module code:

[code]

**What is the expected behavior?**

Pro

[2020-11-07 16:19] ChrisAckerman commented on #11923
Related to https://github.com/webpack/webpack/issues/11949. A namespace would allow for the solution mentioned by @sokra

[2020-11-07 16:21] ChrisAckerman commented on #11923
My feeling is that while validation might be a good interim step. It's not correct longterm. The name that seems most logical to me is the name of the package itself. And `package.json` names can contain hyphens.

[2020-11-07 16:25] kshitij86 commented on #11923
@ChrisAckerman What would be the most optimal solution then? I'm already working on a [fix using validation](https://github.com/webpack/webpack/pull/11934). Could you point me in a direction for the **namespace**?

[2020-11-07 17:44] ChrisAckerman commented on #11923
@kshitij86 See this issue https://github.com/webpack/webpack/issues/11949

[2020-11-07 18:10] Birch-san commented on #11277
Thanks @evilebottnawi for looking into this, and for recommending to try out the latest fixes in Webpack 5.4.0.

I've [reproduced in Webpack 5.4.0 **without** `webpack-dev-server`](https://github.com/Birch-san/webpack-repro-2).

The [problem arises](https://github.com/Birch-san/webpack-repro-2/commit/1a84e7e91ccc9e12b10a8a9623dbf238097f487d) when importing a library built using `eval` devtool (e.g

[2020-11-08 11:21] DragonFly378 commented on #10053
how to update style-loader

[2020-11-08 12:52] Birch-san commented on #11277
Looking at the original assessment by @sokra:

Yes, having webpack rewrite `__webpack_require__` inside of `eval` calls may not be viable.

That said: I think we have **one other option** here: change the _library_ (rather than changing how the web application consumes the library).

Because this is a problem specific to monorepos. The only time a _library_ would be built with `eval` devtool is if

[2020-11-08 17:05] IljaDaderko opened #11951 "within monorepo keep getting [webpack-cli] The command moved into a separate package: @webpack-cli/serve"
I'm not sure if this is a bug or something else, but on every version after 5.2 I keep getting following error when trying to run serve command:
[code]

The command that triggers this is
[code]

CLI asks me if I want to install `@webpack-cli/serve`, I agree to that prompt and install that, but then still get the error. My hunch is that it can be related to monorepos?

My repo structure looks like

[2020-11-08 18:14] sokra commented on #11949
That's already possible via with config in the ModuleFederationPlugin:

[code]

[2020-11-08 22:24] ChrisAckerman commented on #11949
@sokra Ah, interesting. I did not know that.

[2020-11-09 01:09] birdofpreyru opened #11952 "HMR does not pick up changes from dependency packages inside "node_modules""
# Bug report

**What is the current behavior?**

HMR does not pick up changes from dependency packages inside `node_modules`, and it looks like `package.json` of dependency packages acts as a barrier (explanation below).

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Clone [https://github.com/birdofpreyru/webpack5-bug1.git](https://github.com/birdofpreyru/webpack

[2020-11-09 08:28] vincentbriglia commented on #11951
and once that error is fixed by adding `@webpack-cli/serve` as a dependency, you will get
`[webpack-cli] You need to install 'webpack-dev-server' for running 'webpack serve'.` but there it's because the require stack goes all the way up to the hoisted node_modules

[code]

the only way I managed to get it to work is by adding a `nohoist` section for lerna / yarn workspaces.

add this to your `work

[2020-11-09 08:31] snitin315 commented on #11951
Please provide a minimal reproducible repo.

[2020-11-09 09:06] IljaDaderko commented on #11951
@snitin315 here you go https://github.com/IljaDaderko/webpack-11951

to recreate the issue run following from root (or yarn equivalent, might need to change scripts in `package.json`)

[code]

[2020-11-09 10:07] evilebottnawi commented on #11952
You **should not** tocuh files in node_modules, you can disable use using https://webpack.js.org/configuration/other-options/#cachemanagedpaths

[2020-11-09 10:07] #11952 closed

[2020-11-09 10:12] evilebottnawi commented on #11949
Answered, feel free to feedback

[2020-11-09 10:12] #11949 closed

[2020-11-09 10:27] evilebottnawi commented on #5271
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-11-09 10:27] #5271 closed

[2020-11-09 10:30] evilebottnawi commented on #11277
/cc @sokra

[2020-11-09 10:53] evilebottnawi commented on #11944
/cc @sokra

[2020-11-09 11:10] dmitrysteblyuk commented on #11277
right, sorry for confusion, indeed it was completely different issue.

As a matter of fact I played with it a bit.

So I removed the part of `CompatibilityPlugin` which does rewriting of `__webpack_require__` (afaik it was added in webpack 5 and worked fine without it before).
It fixed this issue, but when I ran tests I had one failing (only one out of 30k).
Specifically `test/configCases/library/

[2020-11-09 11:28] evilebottnawi commented on #11950
Can't reproduce, please provide minimum reproducible test repo

[2020-11-09 11:39] dmitrysteblyuk commented on #11725
It makes sense to fix that, but in general avoid bundling libraries to be bundled again. Double bundling is inefficient. A library should be released as individual files not as bundle.

https://github.com/webpack/webpack/issues/11277

[2020-11-09 11:46] evilebottnawi commented on #11725
Yes, duplicate of https://github.com/webpack/webpack/issues/11277, let's close

[2020-11-09 11:46] #11725 closed

[2020-11-09 11:58] ezze opened #11958 "ReferenceError: __WEBPACK_DEFAULT_EXPORT__ is not defined when running a bundle with circular dependencies"
# Bug report

**What is the current behavior?**

With Webpack 5.4.0 when using circular dependencies I get an error at runtime for my Node.js project (transpilation is done without any errors and warnings):

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I narrowed down the problem in my real project. Here is a repo to reproduce: https://github.com/ezze/webpa

[2020-11-09 12:19] sokra commented on #11958
This is working as expected. You are using `Job` before it's defined. In webpack 4 this incorrectly returned `undefined` when it should cause an error instead.

[2020-11-09 12:19] #11958 closed

[2020-11-09 13:13] dmitrysteblyuk opened #11960 "Misleading documentation on externals type or potential bug"
The [documentation](https://webpack.js.org/configuration/externals/#string) makes us believe that this example:
[code]

will result in `jquery` imports to be replaced with `jQuery` variable:
[code]
[code]

However it's not exactly true.
The default type of externals is defined by `externalsType` option. Which is by default defined as follows:

https://github.com/webpack/webpack/blob/master/lib/con

[2020-11-09 13:27] tmeyer2115 opened #11961 "Tree shaking not working as expected"
I've got a relatively simple library that I'm using Webpack to bundle. The library is made available on the `window`. I can't get tree shaking to work as I would expect. Roughly, my code is structured something like this:

entry.js
[code]

formatters/formatters.js
[code]

and formatters/formatters-internal.js
[code]

In `formatters.js`, I would expect that if I delete `prettyPrint` from the `impor

[2020-11-09 13:30] evilebottnawi commented on #11961
Please format the issue using the issue template, I will reopen it after you fix it, respect time of other developers, thanks

[2020-11-09 13:30] #11961 closed

[2020-11-09 13:30] evilebottnawi commented on #11961
And, we fix a lot of bugs with tree shaking in v5, please try v5

[2020-11-09 13:34] ezze commented on #11958
@sokra, thanks for clarification and sorry for this. I thought it was working but you're right about `undefined` value of the import in Webpack 4. I should reorganize my source code somehow then.

[2020-11-09 13:48] birdofpreyru commented on #11277
@dmitrysteblyuk:

_E.g._ for debug/development purposes: you can compile a library in dev/watch mode with output into `/node_modules/library` of a host codebase, then also run the host codebase with dev server, and then any updates in the library are automatically propagated into the host code. I guess, not many Webpack users do something like that, but it worked like a charm with Webpack@4, and w

[2020-11-09 13:57] birdofpreyru commented on #11952
Thanks @evilebottnawi ! I agree to you regarding the normal workflow, but for debugging/developing libraries it is super-useful to watch selected libraries in `node_modules`, to edit their code and immediately see the effect on a host codebase. I guess, with the config option you pointed out I'll be able to achieve that again in my development setup.

My suggestion is to mention that in Webpack co

[2020-11-09 14:01] evilebottnawi commented on #11952
@birdofpreyru Can you open an issue in webpack docs repo?

[2020-11-09 14:03] evilebottnawi commented on #11277
@birdofpreyru this problem on our roadmap

[2020-11-09 14:21] Scorpovi4 commented on #11950
Test repo is ready here https://github.com/Scorpovi4/test . Local deployment in Readme file.

The case already simulated with adding import from node_modules to the `_HTML/src/assets/js/_pages/page-index.js`

The config of webpack for pages is on path: `_HTML/components/js-pages.js`

[2020-11-09 14:45] evilebottnawi commented on #11950
Just note - `webpack-stream` uses `webpack@4`, please consider to update (open an issue in `webpack-stream` repo), something wrong with `webpack-stream` or your gulp setup, you invalid order of webpack output in your HTML file, it should be:
[code]

nothing to do in webpack, I would say even more, you have a completely wrong setting, avoid using `splitChunks` if you concat output, it doesn't make

[2020-11-09 14:45] #11950 closed

[2020-11-09 14:57] dmitrysteblyuk commented on #11277
one can still compile in dev/watch mode using different from `eval-*` devtool, no? There're quite a few of them: https://webpack.js.org/configuration/devtool/#devtool
This issue exists only when eval is used.

[2020-11-09 15:01] evilebottnawi commented on #11277
In this case,  the library should be considered as the production thing, so using `production` source maps, but maybe we can improve this

[2020-11-09 15:04] birdofpreyru commented on #11277
@dmitrysteblyuk yes, and that's what I do now (and to be honest, I am not sure what `devtool` does for me; at least for my purposes setting `devtool: false` did not create any visible problems so far); however `eval-*` is still default setting for a dev build.

[2020-11-09 16:50] sokra commented on #11961
Yes this case only works in webpack 5

[2020-11-09 16:52] sokra commented on #11960
Yes the documentation may need some improvements here. Good that you discovered that. Do you want to send a PR to improve the documentation?

[2020-11-09 17:05] dmitrysteblyuk commented on #11960
So it's the expected behaviour then?
I guess then external type ideally should always be set explicitly like `jquery: 'var jQuery'` (so that it works no matter which library target is selected later on).

sure, I'll see what I can do.

[2020-11-09 18:24] csvan commented on #11944
ping @ScriptedAlchemy

[2020-11-09 21:55] Birch-san commented on #11277
Re: @dmitrysteblyuk

Fast development iteration, whilst retaining ability to debug.

Imagine you're making a library of components. it's super big, so changes take ages to compile. You can make this faster with a cheap devtool. You cannot disable devtool, because you intend to debug the library.

The primary way you develop the library of components is by using it inside an application (also built

[2020-11-10 00:20] petermetz opened #11965 "fix(ContextModuleFactory): RangeError: Maximum call stack size exceeded"
# Bug report

**What is the current behavior?**

Crashes with a stack trace of

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Clone the repo where the failure can be reproduced: https://github.com/petermetz/blockchain-integration-framework/tree/build/webpack-optimization-139
2. Check out the branch called `build/webpack-optimization-139`
3. Execute `npm r