[2019-03-27 17:51] paulirwin commented on #7074
This does not seem to be working with the `-p` flag as expected.

Here's the docs when you run `webpack --help`:
[code]

This seems to clearly state that `process.env.NODE_ENV` should have the string value of `"production"` when run with the `-p` flag, even if that environment variable is not otherwise defined externally. But that doesn't seem to be the case. Added a little bit of debugging code t

[2019-03-27 19:14] ajhool commented on #5073
If you're using `create-react-app` and Visual Studio Code and you're seeing this bug after changing the casing on a filename, this timeless solution worked for me...

1. Restart your dev server (eg. `ctrl + C` ... `yarn start`)

2. Restart Visual Studio Code

[2019-03-27 19:21] erickskrauch commented on #8957
@evilebottnawi,
With `./hello.png!=!!file-loader!text2png-loader?text=Hello!` I was finally able to build the module successfully. But the link turns out to be `/[hash].bin`, not a named output value. In general, this is still not what I expect. I have created a repository with a minimal replayable configuration.

https://github.com/erickskrauch/named-webpack-import-example.

[2019-03-27 19:39] evilebottnawi commented on #8957
Try to use `!!./hello-world.png!=!text2png-loader?text=hello world!`

[2019-03-27 20:42] th0rgall commented on #223
@dt-rush thanks for [your answer](https://github.com/webpack/webpack/issues/223#issuecomment-338299435). It helped me solve a nasty similar problem.

In my project meant for use with node.js & the browser I include a module that uses the package.json [`browser` field](https://github.com/defunctzombie/package-browser-field-spec) to provide an alternative .js script for a script that is dependent on

[2019-03-27 20:48] evilebottnawi commented on #223
@th0rgall should works fine, can you create minimum reproducible test repo?

[2019-03-27 22:20] erickskrauch commented on #8957
I [sent this version to my example repository](https://github.com/erickskrauch/named-webpack-import-example/commit/168a4fa898752f89accdd775ab7badd2ccaf2e4b).

I now get the following error for both formats:

[code]

[2019-03-28 00:15] jharris4 commented on #5970
I just hit on this issue as well, because I was trying to figure out why the `compilation.fileTimestamps` is always empty on first compile.

I would say that this bug has definitely not been fixed. Too bad, as it makes it really hard to check for changed source files etc. (Really biting me with service workers where they install/activate for any change which this bug is causing)

[2019-03-28 02:35] onlybye opened #8972 "contenthash is inconsistent while build on multi machine"
# Bug report

**What is the current behavior?**

we have deployed our webapp via two servers , index.html and static files are build and deployed seperately.when we apply the contenthash of webpack4.29.6, we found that the content hash of vendors and app are different when builded on multi machines, and some other cachegroup is same,such as angular. we have apply the  HashedModuleIdsPlugin and Nam

[2019-03-28 05:53] IAMSBLOL opened #8973 "The hash of babel-plugin-react-css-modules does not match the hash of css loader"
This is my project

https://github.com/IAMSBLOL/react-cli

this is my config --

https://github.com/IAMSBLOL/react-cli/blob/master/config/webpack.config.js

The style is invalid because the hash value does not match, but the webpack is packaged and can be viewed in the browser resource.

I am getting a mentality explosion by this shit problem.

[2019-03-28 07:26] onlybye commented on #7179
@mikeyoon have you solved  this problem ?

[2019-03-28 08:02] montogeek commented on #8973
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-03-28 09:38] evilebottnawi commented on #7179
Please create minimum reproducible test repo

[2019-03-28 09:38] rainjm commented on #5440
I have got the same problem @orangeyyy

[2019-03-28 09:53] Tidyzq commented on #4039
I solved this issue by adding `"sourceType": "unambiguous"` in my babelrc file

[code]

After adding it, `@babel/plugin-transform-runtme` will inject `require` expression instead of `import` in my commonjs files so they won't mix XD

[2019-03-28 10:03] evilebottnawi commented on #5440
@rafde if you self signr certificate what is not accepted your browser

[2019-03-28 10:04] evilebottnawi commented on #8973
Close in favor https://github.com/webpack-contrib/css-loader/issues/877

[2019-03-28 10:04] #8973 closed

[2019-03-28 10:22] IAMSBLOL commented on #8973
@evilebottnawi
Fucking hell, I thought it might be my css-loader problem, so updating to the last version will take effect.
This huge problem has finally been solved.

[2019-03-28 10:42] evilebottnawi commented on #8973
@IAMSBLOL first and last notice about words what are you use

[2019-03-28 11:00] evilebottnawi commented on #8972
@onlybye please create minimum reproducible test repo

[2019-03-28 11:33] victorschinaider opened #8974 "Cannot find module 'reflect-metadata'"
# Bug report

**What is the current behavior?**
When i generate a bundle, it gives me `Cannot find module 'reflect-metadata'`.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is a repro steps repository.
To ensure steps:
- execute `npm run tsc && npm run webpack`
- get file `/bundle.js` and move to other folder without `node_modules`, execute `node bundle.js` in

[2019-03-28 12:25] orwell1984 opened #8975 "plugin process env limits env var runtime visibility"
I've defined couple of plugins as follows:
[code]
Now process.env of my application only has those 2 keys. I can't access all other envvars that are visible via `env` command.

What am I doing wrong?

[2019-03-28 13:36] shennan commented on #6392
Am I crazy but did I used to see yellow warnings when trying to import functions/variables from files that didn't exist?

I was brought here because recently a bug slipped through the net which could have been caught if there had been a module missing warning/error at compile time.

[2019-03-28 15:14] evilebottnawi commented on #8974
Looks something wrong in https://github.com/liady/webpack-node-externals/, can you try to disable `webpack-node-externals` and check again

[2019-03-28 15:18] evilebottnawi commented on #8975
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-03-28 15:18] #8975 closed

[2019-03-28 15:20] evilebottnawi commented on #8975
Also i can't understand what you want to do. You can use `webpack.DefinePlugin` for this case

[2019-03-28 15:21] evilebottnawi commented on #4039
Here answer https://github.com/webpack/webpack/issues/4039#issuecomment-273804003. Thanks for using webpack!

[2019-03-28 15:21] #4039 closed

[2019-03-28 16:30] Jaskaranbir commented on #8656
For me, I resolved it by using `require` instead of `import`. Not a classy-solution, but it works.... :wink:

[2019-03-28 20:42] victorschinaider commented on #8974
@evilebottnawi , it works. But this example was only a part of "full code", if i do not use "nodeExternals", then i get "Cannot find module "fs"", and "Cannot find module "tls"", etc. Any suggestion?

[2019-03-28 21:32] ItamarGronich commented on #4039
I think for me what happened was that i am using `useBuiltIns: 'usage'`
This feature lets babel automatically import polyfills for stuff based on the provided targets when they are used in the file.
[code]

So `preset-env` would automatically import polyfills from core js inside my common modules. for example this file:
[code]

So the `import` automatically inserted at the top of my file and the m

[2019-03-29 00:36] rainjm commented on #5440
@evilebottnawi
This https site service is not built by me, and how to set up ssl in intranet ip

[2019-03-29 03:51] #8021 closed

[2019-03-29 06:17] lukastaegert commented on #8656
I see that Webpack has been hit hard by acorn's unfortunate decision to let their plugins depend on acorn...

[2019-03-29 07:04] aseroj opened #8978 "webpack chunk split while using alias"
# Bug report

**What is the current behavior?**

We are using webpack alias and chunk split to get the chunks splitted by routes.
currently we are using @loadable/component and the pattern we are using alias upon is the following

[code]

please note that each root folder has its own `index.js` file for ease of use while importing. the largest route is around 2.4kb and the rest are fairly smaller

[2019-03-29 09:23] onlybye commented on #8972
@evilebottnawi https://github.com/onlybye/test_hash

this is the test repo, run : npm install & npm run build ,on multiple server, the contenthash of vendor is different. We have found it's due to jquery , if set jquery as external module, contentHash is identical

[2019-03-29 12:04] lkiarest commented on #2908
hi, I have the same problem with ManifestPlugin and Mac, and have you fixed it yet ?

[2019-03-29 19:59] evilebottnawi commented on #8079
Bump

[2019-03-29 20:06] evilebottnawi commented on #8978
Please provide minimum reproducible test repo

[2019-03-29 21:21] #8025 closed

[2019-03-30 02:21] #2129 closed

[2019-03-30 03:29] mikeyoon commented on #7179
I have not looked at the issue since I posted about it last time. I also haven't had a chance to try out the latest major release either. We're still just using v3.x for now.

[2019-03-30 07:03] Primajin commented on #6769
#7769 was never reviewed... If it would have been we could close this issue here...

[2019-03-30 11:40] glen-84 commented on #7074
@paulirwin,

That will define `process.env.NODE_ENV` within the context of your bundled code. You need to run webpack with `NODE_ENV=production` (or set that globally).

[2019-03-30 18:16] brumik commented on #6604
Same here, super annoying, had to switch back to v3* with Laravel-mix to get it to work.

[2019-03-30 19:36] elado commented on #7353
Been contemplating how to do the same thing myself. Not sure I'd call this use case "localized" because currently, there's a hard limitation on including images/fonts in packages, without embedding them as base64.

`url-loader` is not optimal for bigger images, and `file-loader` cannot be used due to a different `publicPath` that the consumer app may have.

For example:

[code]

`file-loader` puts

[2019-03-31 01:06] arkadyt commented on #8929
@evilebottnawi, it looks like we'll need to modify the `acorn` AST tree in the Parser.

When the shorthand syntax is used, acorn assigns the same object reference to both `key` and `value` props of the tree node. When shorthand syntax is not used, `key` and `value` props both correspond to their respective counterparts in the expression.

I was thinking to deep clone the object and figure out how

[2019-03-31 09:03] jantimon opened #8982 "Add FileSystemInfo to Webpack4"
## Feature request

As @sokra [announced](https://github.com/jantimon/html-webpack-plugin/issues/1129#issuecomment-456078898) Webpack 5 will come with the new `FileSystemInfo` Api to help developers find out which files have changed since the last build.

I really like the API design a lot and I believe it is a great improvement over the previous way to access it using `compiler.fileDependencies`

[2019-03-31 09:11] jantimon commented on #8537
Please help plugin developers to prepare for 5 by deprecating breaking apis e.g: https://github.com/webpack/webpack/issues/8982

[2019-03-31 11:47] evilebottnawi commented on #8929
Just check what it is call

[2019-03-31 12:14] zhangZippo commented on #8664
hello, I don't then per import() means,could you show me one example? thanks

[2019-03-31 17:34] arkadyt commented on #8929
@evilebottnawi there are many things happening down the line, which place exactly do you mean?
`CommonJsRequireDependencyParserPlugin.js`? Or some function other than `walkObjectExpression` in the Parser?

I was talking in the context of `walkObjectExpression` function in my prev. post.

I'll look into this once again when I get home.

[2019-03-31 22:36] mattsjones commented on #8537
`Compilation.rebuildModule` seems to be broken in the alpha. Digging through the code, it is relying on the removed `Module.removeReason` inside `Compilation.removeReasonsOfDependencyBlock`. I imagine this will affect almost all plugins calling `rebuild`.

[2019-04-01 06:29] elmeerr commented on #8886
I'm facing the same issue!! Any update on this?

[2019-04-01 07:30] zhangZippo opened #8986 "How to understand the option of splitChunks.maxAsyncRequests?"
I always confused about the maxAsyncRequests;
for example: I set the maxAsyncRequests 1
![image](https://user-images.githubusercontent.com/20042465/55310263-98619080-5492-11e9-8904-61cfefa4916f.png)
and then I use three async modules in one modules,I think they will be into one chunk,but i get three
![image](https://user-images.githubusercontent.com/20042465/55310365-e1194980-5492-11e9-8989-bb2b63

[2019-04-01 07:41] #6838 closed

[2019-04-01 08:14] Airkro commented on #8968
Since you said so, I won't use it without loader anymore.

Even if `loader` is added, it is still not as expected.

example: [[Branch: with-loader]](https://github.com/Airkro/webpack-resolve-problem/tree/with-loader)

[2019-04-01 08:27] evilebottnawi commented on #8886
It is open source feel free investigate

[2019-04-01 08:28] evilebottnawi commented on #8986
Please use gitter or stack overflow for question

[2019-04-01 08:28] #8986 closed

[2019-04-01 10:02] trkaplan commented on #6323
You can try updating the system variables mentioned in these answers:
https://github.com/react-community/create-react-native-app/issues/533#issuecomment-410956284 https://github.com/react-community/create-react-native-app/issues/533#issuecomment-417245119

[2019-04-01 12:42] joakimbeng commented on #4111
There still seems to be an issue with this, because I ran into the same issue today with:

webpack: 4.29.5
file-loader: 3.0.1
url-loader: 1.1.2
webpack-dev-server: 3.2.1

and the following config:

[code]

I tried the proposed solutions above by setting `publicPath: '/'` and `outputPath: 'assets/` but that broke the URL's when running webpack without the dev server.

**The solution** I found was t

[2019-04-01 13:15] lovetingyuan opened #8987 "when call watcher.close, webpack still hung up"
# Bug report

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
just run code above

**What is the expected behavior?**
webpack should quit or exit after calling `watcher.close()`
If this method is not aim to close webpack, which api should I use to close webpack compiler?

**Other relevant information:**
webpack version:  4.29.6

[2019-04-01 13:15] CT1994 opened #8988 "RangeError: Maximum call stack size exceeded"
# Bug report

**What is the current behavior?**
RangeError: Maximum call stack size exceeded using html-webpack-plugin in development or production mode

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/CT1994/html-webpack-plugin-range-error

if you don't see the error bump up the for loop to increase the amount of plugins

**What is the expected beh

[2019-04-01 13:22] evilebottnawi commented on #8987
Can you create minimum reproducable test report?

[2019-04-01 15:43] SetTrend opened #8989 "Animated GIFs don't get correctly processed"
### Synopsis

webpack fails when pushing animated GIFs into the loader pipeline. The file content is scrambled.

I tested this issue with both, `url-loader` and `file-loader`.

Other file types are processed correctly.

## System Data

* Operating System: Windows 10x64
* Node Version: v10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.29.6
* url-loader Version: 1.1.2

## Expected Behavior

The fol

[2019-04-01 15:52] evilebottnawi commented on #8989
Not related to webpack, please don't duplicate issue

[2019-04-01 15:52] #8989 closed

[2019-04-01 17:04] evenfrost commented on #4160
In case someone runs into similar issue when using CSS modules via [babel-plugin-react-css-modules](https://github.com/gajus/babel-plugin-react-css-modules), here's my solution: https://github.com/gajus/babel-plugin-react-css-modules/issues/25#issuecomment-478661715.

[2019-04-01 19:37] JoshRobertson commented on #8656
A similar issue exists with Typescript exports where switching to Yarn does NOT solve the problem. Exporting a TS interface errors (while the export of the module does not).

Yarn 1.15.2
Webpack 4.29.6
Typescript 3.4
[code]

generates

[code]

pinning `acorn` to 6.0.5 with yarn resolutions is required for this code to compile:
[code]

[2019-04-01 20:21] #7958 closed

[2019-04-02 02:41] zzh8829 commented on #5960
@stavalfi
Did you follow these steps exactly
1. having @babel/preset-env in babelrc
2. webpack filename is `webpack.config.babel.js`
3. running webpack with `yarn webpack`

If you did then I have no idea, it does work for me.

[2019-04-02 02:50] lovetingyuan commented on #8987
I am so sorry, it is my fault, I forgot to close a child process. Apologize again, I will close this issue.

[2019-04-02 02:50] #8987 closed

[2019-04-02 03:08] yoshi95 commented on #8524
@ScriptedAlchemy  how will this work with the current `universal` family?  especially on the SSR side, how will `flushChunks` know the latest chunk names to flush (i assume `clientStats` needs to be pull in every request from layout engine?)

i have hacked together something similar because i have different teams managing sitewide header stuff, vs page-specific stuff, and both teams wants independ

[2019-04-02 04:33] yoshi95 commented on #8574
hi @jstrimpel, wanna checkup on if you had success on this path? i am about to do the same and write some webpack plugins to unblock my teams to have independent deployments, and stitch the share chunks at runtime

[2019-04-02 06:07] ScriptedAlchemy commented on #8524
Okay. So I’ve actually been working on solving this whole problem and basically cracked most of it tonight.

This is part of my wider project which will replace Most of my previous work. Respond framework, Rudy, Remixx.

The primitive idea - get two builds loading bundles. This I cracked with scout file technology. But it’s just too simple and I want chunks, not entry points on the Frontend. Howev

[2019-04-02 06:36] ScriptedAlchemy commented on #8524
So to sum it up.

Modify splitChunks/plugin which does

Babel plugin to write some boilerplate if needed

Webpack plugin which hydrates stuff

Some additional Babel magic to expose and unite as much of internal webpack as possible.

Some utility functions and extra meta side loaded into the manifest (find by path, find by name, external require, import() an external url.

[2019-04-02 08:56] raj-here opened #8991 "Always getting production env in build"
# How to handle multiple env in webpack

i have to handle multiple environment => production, Preprod, Staging and development
**What is the current behavior?**
I'm bundling js file from ts using below scripts.
[code]

And running the build using below script

[code]

I'm loading Mongourl from .env.**ENVIROMENT_VARIABLE** file.

but whenever i'm running always it, getting a wired result.
console.l

[2019-04-02 08:59] montogeek commented on #8991
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-04-02 09:34] mems commented on #7731
I've got the same issue compiling JS and CSS with [webpack-fix-style-only-entries](https://www.npmjs.com/package/webpack-fix-style-only-entries). I had circular dependencies, which I removed using [circular-dependency-plugin](https://www.npmjs.com/package/circular-dependency-plugin)

[2019-04-02 10:31] raj-here commented on #8991
Hi @montogeek, thanks for a quick reply.

Here is my test Repo.

[https://github.com/raj-here/webpack-8991](https://github.com/raj-here/webpack-8991)

[2019-04-02 10:36] raj-here commented on #8991
Follow the below command to reproduce

`npm run build`
`npm run start`

i'm printing
 `console.log('ENV', process.env.NODE_ENV);`

instead of printing environment name it is printing **mode**.
if you will change the mode name in webpack file. it will print accordingly.

[2019-04-02 10:49] firojasha opened #8992 "Issue with webpack - Critical dependency: the request of a dependency is an expression"
When doing server less webpack seeing the below errors,
===============================
external "fs" 42 bytes {0} [not cacheable]
   [2] ./src/splunk.ts 2.13 kB {0} [built]
   [3] external "zlib" 42 bytes {0} [not cacheable]
   [4] ./src/splunklogger.ts 4.02 kB {0} [built]
   [5] external "url" 42 bytes {0} [not cacheable]
   [6] ./src 160 bytes {0} [built]

WARNING in ./src/splunklogger.ts
72:25

[2019-04-02 10:54] firojasha commented on #8992
"webpack": "^3.10.0",
"serverless-webpack": "^2.2.3",

[2019-04-02 11:49] evilebottnawi commented on #8992
Please use issue template. Servless webpack is not official part of webpack, better create issue in their repo, thanks

[2019-04-02 11:49] #8992 closed

[2019-04-02 11:58] theshem commented on #8302
Any updates on this?

[2019-04-02 12:10] stavalfi commented on #5960
@zzh8829  No, I didn't. didn't know I should do `yarn webpack`. I will try. Thanks

[2019-04-02 14:21] tstirrat15 commented on #8886
I'd love to, but so far the investigations that I've done haven't borne any fruit. Do you have any recommendations on where to start looking? I've messed around with `runtimeChunk`, and that's the only thing that I've found that other issues/SO answers have pointed to.

I've got a few ideas of things that I can try - such as cutting down on my project until something changes, or seeing if I can re

[2019-04-02 17:07] voordev commented on #4258
Still not working.

This is soo stupid a normal import jquery does not work...
Made both modifications to webpack.config and the import $ part
restarted node static generator.

[code]

This frustrates me amazingly

[2019-04-02 17:08] jstrimpel commented on #8574
@yoshi95 We had to go down a more reliable path using a combination of the expose loader and externals configuration. We are still creating multiple bundles and re-assembling them at run time though.

[2019-04-02 17:09] voordev commented on #4258
Anyone knows a solution?

Im using yarn add jquery
 3.1.1 latest as of now

[2019-04-02 17:37] jcrommar commented on #5073
Tried all the solutions on this thread and nothing works. Only thing I can think of is npm vs yarn as someone already mentioned. : (

[2019-04-02 18:25] brycehill commented on #7094
Looks like this was fixed in v4.12.1 as described by @sokra, however it broke again in the next minor release (v4.13.0).

I pushed an update to my test [repo](https://github.com/brycehill/webpack-css-order) showing this.

[2019-04-02 19:24] yoshi95 commented on #8524
@ScriptedAlchemy thank you for the explanation and time.

i drew a lil picture to help me digest what you have said, and have some remaining questions in the yellow box if you have some free time.

the picture is specific to MFE with `universal`, i understand that the vision is more generic.

![image](https://user-images.githubusercontent.com/1912743/55429989-bcc87600-5541-11e9-9460-6264a4919915.p

[2019-04-02 19:30] fatso83 commented on #6979
I am slightly stumped at why people go through hoops to involve WebPack in their test runs. We use babel and webpack for our builds, of course, but Mocha in itself can run the tests fine without involving WebPack.

To make Mocha test some module written using ES Next and JSX all I need is to to add `--require @babel/register` to my Mocha config (given that a babel config file exists somewhere). If

[2019-04-03 01:57] 1Crazy opened #8993 "Webpack4 image can‘t be packaged successfully"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I want to package the image in my assets folder into the dist file. I don't know why the image is not packaged after npm run build, but no error is reported.Can you help me resovle this problem，Thanks！

**Other relevant information:**
web

[2019-04-03 01:58] 1Crazy commented on #8993
https://github.com/1Crazy/TodoList-Vue   this is my github Repository

[2019-04-03 06:56] mudit94 opened #8994 "WebPack error on starting kibana 6.5.2"
I was trying to update the kbn network graph plugin to support more than 2 nodes.
However i am getting the following error in the browser:
__webpack_require__(...).register is not a function

Version: 6.5.2
Build: 18828
Error: __webpack_require__(...).register is not a function
@http://localhost:5601/bundles/commons.bundle.js:3:2547982
__webpack_require__@http://localhost:5601/bundles/vendors.bund

[2019-04-03 08:42] MemoryNoodles opened #8995 "为什么我不能打包文件夹"
之前我记得可以用webpack src/ --out-dir esm/把src文件夹下的所有东西都打包到esm上，现在怎么不可以了啦

[2019-04-03 08:48] xwchris opened #8996 "Uncaught TypeError: Cannot read property 'call' of undefined"
# Bug report

**What is the current behavior?**
In webpack production mode, bundled file has error when running in the browser.

**If the current behavior is a bug, please provide the steps to reproduce.**

`webpack.config.js`
[code]

`.babelrc`
[code]

`index.js`
[code]

`App.js`
[code]

`index.html`

[code]

and here is the react and react-router version
[code]

After bundled these file, open th

[2019-04-03 10:40] evilebottnawi commented on #8995
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-04-03 10:40] #8995 closed

[2019-04-03 10:49] evilebottnawi commented on #8994
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Not related to webpack please o

[2019-04-03 10:49] #8994 closed

[2019-04-03 10:50] evilebottnawi commented on #8996
@xwchris i think we already fix this problem, but not released, can you test this using https://github.com/webpack/webpack/commit/dc2668873162ff3369eb8787c1b79f909650e040?

[2019-04-03 10:52] victorschinaider commented on #8974
Thanks!

[2019-04-03 10:52] #8974 closed

[2019-04-03 10:54] evilebottnawi commented on #6914
Bump

[2019-04-03 10:56] evilebottnawi commented on #8982
@jantimon do you want send a PR?

[2019-04-03 11:21] evilebottnawi commented on #8993
Please use stackoverflow or gitter for help, it is bug tracker, thanks

You use `url-loader` https://github.com/1Crazy/TodoList-Vue/blob/master/webpack.config.js#L49 what change you image to `data:stuff` URI

[2019-04-03 11:21] #8993 closed

[2019-04-03 11:34] erdillon commented on #2031
FYI. Ran into similar issue to what is listed here. I wasted 10h+ when the "fix" was to rename ".babelrc" to "babel.config.js" and change content with `module.exports=...`
Do read the https://babeljs.io/docs/en/config-files#6x-vs-7x-babelrc-loading carefully...

[2019-04-03 11:52] xwchris commented on #8996
@evilebottnawi I have tested the case with [dc26688](https://github.com/webpack/webpack/commit/dc2668873162ff3369eb8787c1b79f909650e040),but I'm sorry it's still has the error as I mentioned before.

[2019-04-03 12:04] evilebottnawi commented on #8996
Can you create minimum reproducible test repo?

[2019-04-03 12:09] evilebottnawi commented on #8972
@onlybye can you provide version/distrib of `windows` and `linux`

[2019-04-03 12:23] evilebottnawi commented on #8957
Use:
[code]

[2019-04-03 12:32] evilebottnawi commented on #8968
Yep, looks like a bug, feel free to send a PR

[2019-04-03 12:39] xwchris commented on #8996
@evilebottnawi I create the test repo [webpack-issue-8996](https://github.com/xwchris/webpack-issue-8996) here

[2019-04-03 12:49] evilebottnawi commented on #8996
@xwchris thanks for issue, looks like a bug, feel free to send a PR

[2019-04-03 13:04] jzhangnu opened #8998 "Unable to install webpack due to @xtuc/long dependencies"
# Bug report

**What is the current behavior?**
1. npm install webpack
2. then get the error
`npm ERR! Maximum call stack size exceeded`
3. then check the log
`108 http fetch GET 404 https://registry.npmjs.org/@xtuc%2flong 479ms
109 silly fetchPackageMetaData error for @xtuc/long@4.2.2 404 Not Found: @xtuc/long@4.2.2
110 verbose stack RangeError: Maximum call stack size exceeded
110 verbose stack

[2019-04-03 13:20] evilebottnawi commented on #8998
/cc @xtuc

[2019-04-03 13:20] evilebottnawi commented on #8998
@jzhangnu do you use `npm` and/or yarn?

[2019-04-03 13:21] evilebottnawi commented on #8998
Looks problem with register, not with webpack, because https://registry.npmjs.org/@xtuc%2flong return 200

[2019-04-03 13:24] xtuc commented on #8998
See https://github.com/xtuc/webassemblyjs/issues/462 or https://github.com/webpack/webpack/issues/8798.

[2019-04-03 13:25] evilebottnawi commented on #8998
Close in favor https://github.com/xtuc/webassemblyjs/issues/462

[2019-04-03 13:25] #8998 closed

[2019-04-03 14:59] alanpoon commented on #8928
The problem is resolved in wasm bindgen 0.2.40. Thanks.

[2019-04-03 14:59] #8928 closed

[2019-04-03 16:09] Cobertos commented on #6675
Same issue, but https://github.com/webpack/webpack/issues/6675#issuecomment-399036340 was ultimately the case.

I was using a version too new of [`webpack-stream`](https://github.com/shama/webpack-stream) and had to downgrade it to handle our Vue build. Looks like this error is a signal that you have some version incompatibility if you're handling multiple versions of webpack.

[2019-04-03 17:39] mudit94 opened #8999 "WebPack error on starting kibana 6.5.2"
# Bug report

**What is the current behavior?**
The kibana UI is failing to start. After the loading is completed, webpack errors are coming.
typeError: __webpack_require__(...).register is not a function kibana 6.5.2
**If the current behavior is a bug, please provide the steps to reproduce.**
I had been trying to modify the kbn network plugin to support multi node relation.
PFA the js file change

[2019-04-03 17:41] evilebottnawi commented on #8999
Please open issue in kibana, we can not be responsible for other people's projects

[2019-04-03 17:41] #8999 closed

[2019-04-03 19:39] ScriptedAlchemy commented on #8524
Ahhhh you’re leaning more towards LOSA architecture.

So it will take another few weeks for Remixx to be built.

But with universal, I’ve got a solution available. It’s by no means as awesome as what I’m working on, however it will work.

I’ll need to setup a repo with two MFEs. I’ve already planned on introducing an article and webpack plugin on scout file technology (the most basic)

And another

[2019-04-03 20:41] hiroppy opened #9000 "change examples template syntax"
# Bug report

**What is the current behavior?**

Currently, examples template for creating README is following syntax, but it is fixed by prettier when save.

[code]

It will be as follows when it is fixed by prettier.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Don't fix by prettier. So we have to change this syntax.

[2019-04-03 21:52] jablko commented on #4742
Hrm ... So I've got:
- a dependency `A` that `package.json` -> `["module"]` -> `export default X`
- a dependency `B` that `const X = require("A")`
- Webpack that implements `require("A")` -> `{ default: X }`

Without getting into fixing any one of these (as far as I can see, if you implement `require("A")` -> `X` then in CommonJS you can't `require()` any named exports, and if you implement `requi

[2019-04-04 07:08] xwchris commented on #8996
@evilebottnawi I think I have found the reason of the problem.

With the webpack's config above, SplitChunksPlugin extracts the `entryModule` of chunk `main` and add it to the chunk `vendors`, but `main` still has reference of `entryModule`. Then ModuleConcatenationPlugin concatenate modules in `vendors` which include the `entryModule` and form a new concated module. So modules list have not `entr

[2019-04-04 10:09] jakubwojcik commented on #6389
@hubgit, yeah, they've migrated with 311a7285d36b38bada46102967c431e93ff48a89

[2019-04-04 11:09] cromefire opened #9003 "Load chunks using import()"
## Feature request

**What is the expected behavior?**
Loading chunks with `import()`

**What is motivation or use case for adding/changing the behavior?**
Imports are much cleaner than jsonp and in the future more and more browsers and platforms are going to support it, making a unified approach

**How should this be implemented in your opinion?**
Just use `import()` to load the chunk

**Are you

[2019-04-04 11:21] evilebottnawi commented on #9003
Duplicate https://github.com/webpack/webpack/issues/2933

[2019-04-04 11:21] #9003 closed

[2019-04-04 11:56] jpmohan1111 opened #9004 "Webpack doesn't throw error or warning when the entry file mentioned is config is not found."
# Bug report

**What is the current behavior?**
Running webpack build through node api does not tell whether the entry file is present or not.

**If the current behavior is a bug, please provide the steps to reproduce.**
Try changing the entry file to any file that doesn't exist and run the build process. There is no errors or warning shown.

**What is the expected behavior?**
Show an error or war

[2019-04-04 12:02] evilebottnawi commented on #9004
@jpmohan1111 please provide minimum reproducible test repo

[2019-04-04 12:13] jpmohan1111 commented on #9004
```webpack.config.js:``` with valid file.
[code]

```webpack.config.js:``` with non existing file.
[code]

I am running the build through the node webpack API as below: node-build.js
[code]
```node node-build.js```

When the entry file exists it builds the file as expected, but when the entry file is not present, it shows no error/warning and there is no built file.

[2019-04-04 12:21] sneakyfildy opened #9005 "Webpack externals order"
## Feature request

**What is the expected behavior?**
Make possible to control the order of externals execution.

**What is motivation or use case for adding/changing the behavior?**
Sometime the order of including scripts is important, for example in legacy application we need to use angularjs + angular-ui-sortable plugin which is an adaptation of jQuery plugin, so it requires jQuery to exist in

[2019-04-04 12:23] evilebottnawi commented on #9005
@sneakyfildy please provide minimum reproducible test

[2019-04-04 12:24] evilebottnawi commented on #9004
hm, yep, feel free to send a PR

[2019-04-04 13:17] evilebottnawi commented on #7992
Bump

[2019-04-04 14:08] hiroppy commented on #9000
@evilebottnawi Do you have any idea?

[2019-04-04 14:21] evilebottnawi commented on #9000
@hiroppy don't look this issue, many other work, anyway feel free to investigate and fix it

[2019-04-04 15:02] sneakyfildy commented on #9005
https://github.com/sneakyfildy/shitpack

npm install
npm start

open index.html
you will see errors about lack of jQuery

comment "externals" section in webpack.lib and everything will work

[2019-04-04 15:12] evilebottnawi commented on #9005
@sneakyfildy first and last warning about `sh*t` word

[2019-04-04 15:49] hiroppy commented on #9004
@jpmohan1111 Please add `bail`.

[2019-04-04 16:18] Izhaki commented on #6979
@fatso83

A few reasons:

- We don't want to configure two builds using two different tools, especially as these builds are not trivial in nature (typescript, es7, polyfills, pre-processing, you name it).
- The code base is huge, and a build takes around 40 seconds. Webpack already does the smart stuff of only updating what has changed - we don't want to have another build running building exactly

[2019-04-04 16:35] jpmohan1111 commented on #9004
@hiroppy thanks adding bail in the config throws the error.

[2019-04-04 16:56] evilebottnawi commented on #9004
I was wrong, it is expected, answer above

@hiroppy thanks

[2019-04-04 16:58] evilebottnawi commented on #9004
/cc @hiroppy maybe we should enable bail by default for webpack@5 for better DX

[2019-04-04 17:18] hiroppy commented on #9004
Yeah, I agree. I'll investigate this.

[2019-04-04 19:02] SpeakInCode commented on #8865
Thank you @j-low this was driving me nuts and was my exact same issue. Thank you for sharing your solution.

[2019-04-04 19:17] fatso83 commented on #6979
Thanks for elaborating, @Izhaki, and I do see the issues you bring up can make using Webpack a required intermediate step. _But_ for many, focusing their efforts on simplicity in the builds can get you quite far. We have a 200KLOC project with typescript, es.next and polyfills (no pre-processing, though, which I wouldn't know how to solve for tests) with dev and prod builds on the TeamCity server.

[2019-04-04 19:37] StJohn3D commented on #8951
Same thing, I have a npm library with an index file containing a bunch of `export * from './foo'` statements.
My consuming app has to explicitly use `import { foo } from 'my-package/lib/foo'` because if I do `import { foo } from 'my-package'` it includes everything & forces me to have unused peer-dependencies installed.

I wish tree-shaking worked on my node-modules too. I even have `"sideEffects"

[2019-04-05 09:20] artemkaint commented on #7526
I also have the same issue. I'd like to load multi project basic module. And do it dynamically. I've found one decision.
[code]

With some Webpack hack
[code]

But this code is quite unstable and hard linked with systemjs version. Also it needs to be build before.
Moreover systemjs with this modification still acts in global :(

[2019-04-05 10:17] SassNinja opened #9007 "output.filename not working if function"
# Bug report

**What is the current behavior?**

When I use a function for `output.filename` it doesn't work for my dynamic imports: they get emitted as `1.js`, `2.js` etc. with identical chunk value (whereas chunk name is correct)

In addition things get worse when I set `optimization.runtime` to `single` what results in even the entries being affected (only `runtime.js` is correct then).

The sa

[2019-04-05 11:28] evilebottnawi commented on #9007
Please create minimum reproducible test repo, i think problem in configuration

[2019-04-05 13:11] jantimon commented on #8982
Hey @evilebottnawi cool that you are open to add that change 👍

I haven't looked to much into the webpack 5 `FileSystemInfo` api implementation.
And although I know that your time is quite limited right now but it would take me to long to do it by myself.

Can you briefly outline what would be necessary to do so it would be mergeable?

[2019-04-05 13:21] SassNinja commented on #9007
@evilebottnawi sure, here's an example repo

https://github.com/SassNinja/webpack-filename-issue

Would be great if it's just a configuration problem (I'm afraid it's not)

[2019-04-05 13:25] evilebottnawi commented on #8982
hm, why `compiler.fileDependencies` is bad? Can you provide examples/edge cases?

[2019-04-05 13:33] evilebottnawi commented on #9007
Can't reproduce all woks as expected with string and with function

[2019-04-05 13:36] evilebottnawi commented on #9007
If i use
[code]
Only `runtime1.js` has right name.

If i use:
[code]

All chunks have `1` at end.

It is problem right?

[2019-04-05 17:22] rafaelcastrocouto opened #9008 "Remove duplicate search results from localhost/workspace (file system)"
## Feature request

**What is the expected behavior?**
After searching in the "search" bottom panel, only one the workspace files should appear.
After last update it shows both the "workspace file" and the "localhost file".

**What is motivation or use case for adding/changing the behavior?**
Making the search results more readable and avoid redundant items.
And avoid "this file has not been saved

[2019-04-05 17:30] tstirrat15 commented on #8886
How does `require` work on nodejs? Will consecutive calls to require produce a reference to the same object?

Additionally, I noticed that the webpack require references an entry in a big ol' array of import code. Is that meant to provide a caching mechanism as well? Is it possible that the webpack require array closures are messing up the node require caching somehow?

[2019-04-05 17:37] dantman commented on #6918
I still would like to see this happen. It just needs a maintainer to look at it and provide feedback.

[2019-04-05 17:45] evilebottnawi commented on #8886
Can you provide minimum reproducible test repo with notes about that you actually have and what you expected, thanks

[2019-04-05 17:47] evilebottnawi commented on #9008
Can't understand then problem can you create minimum reproducible test repo with example what you have  and what you expected?

[2019-04-05 17:47] evilebottnawi commented on #6918
It is proposal officially supported?

[2019-04-05 17:50] dantman commented on #6918
@evilebottnawi No, what support are you expecting? This proposal does not have any effect inside of Node.js itself, only bundlers. So "official" support is up to WebPack, Rollup, etc... maintainers accepting it.

[2019-04-05 17:53] evilebottnawi commented on #6918
@dantman so PR welcome with tests. In babel people how write RFC implement PoC before dicussion

[2019-04-05 20:44] tstirrat15 commented on #8886
I'm working on a minimal reproduction repo.

One thing I did notice, though, was that when I included `react` in the exceptions to our `externals` configuration, the problem went away. Seems like it might have something to do with the interaction between node's `require` and the webpack require internals?

[2019-04-06 02:13] berthold43 opened #9010 "Order in left column"
Hallo!

Why have you change the order in left column it not so easy to follow any more. I mean the tutorial for webpack 4.29.6.

Thommy Johansson

[2019-04-06 06:56] SidKwok opened #9011 "Common module imported by more than one module was shown only once in `stats.json`"
# Bug report

**What is the current behavior?**
I'm trying to find all the modules that import `common.js` through `stats.json`, but only `a.js` shown in `common.js` field in `stats.json` such as:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

see the [repository](https://github.com/SidKwok/Reproduction/tree/webpack-stats-bug)

**What is the expected behavio

[2019-04-06 07:44] hiroppy commented on #9010
Don't delete our issue template and you have to submit to https://github.com/webpack/webpack.js.org

[2019-04-06 08:13] eliot-akira opened #9012 "Server-side hot reload not working for Node 11.x"
# Bug report

**What is the current behavior?**

On Node.js 11.x, server-side hot reload does not work.

I tracked it down to the function `hotDownloadManifest` in `lib/node/NodeMainTemplate.runtime.js`, which is always returning undefined. It's the `require` statement that's failing - even though the manifest file `$hotMainFilename$` exists.

**If the current behavior is a bug, please provide the

[2019-04-06 08:42] hiroppy commented on #9012
Please submit a reproducible repository.

[2019-04-06 16:40] eliot-akira commented on #9012
OK, will try to set up a minimal example demonstrating the issue.

[2019-04-06 16:54] Sebazzz commented on #8075
Any comments?

[2019-04-06 21:02] cJayyy opened #9013 "[i18n-webpack-plugin]: Using default locale throws 'Missing localization' warnings"
# Bug report

**What is the current behavior?**
If `null` is passed as `localization` argument while creating new I18nPlugin instance, warning about missing localizations occurs.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Clone [official example](https://github.com/webpack/webpack/tree/master/examples/i18n).
2. Initialize npm project with dependencies.
3. Defi

[2019-04-06 21:20] hiroppy commented on #9013
You should change `failOnMissing` to `true` if you want to get errors.
In addition, please submit this issue to https://github.com/webpack-contrib/i18n-webpack-plugin if you want to change behavior.

[2019-04-06 22:46] taewdy opened #9014 "misleading error message: configuration.module.rules[].exclude"
# Bug report

**What is the current behavior?**
misleading error message: configuration.module.rules[].exclude
All other config property is removed here for clarity.

When I use string for `exclude`
- config
[code]
- error message
[code]

If I use array of string for `exclude`
- config
[code]
- error message
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. u

[2019-04-07 01:54] eliot-akira commented on #9012
Here's an example: https://github.com/eliot-akira/webpack-server-side-hot-reload-issue/

I use [n](https://github.com/tj/n) to switch between Node versions. I specifically confirmed with Node.js 10.15.3 and 11.13.0. With the former, the above repo has working hot reload; with the latter, it doesn't.

[2019-04-07 11:03] nikparo commented on #8970
Unfortunately I don't know webpack well enough to quickly create a simple test repo, but it seems someone beat me to it anyway - [Server-side hot reload not working for Node 11.x #9012](https://github.com/webpack/webpack/issues/9012)

[2019-04-07 11:23] hiroppy commented on #9012
I confirmed this issue only Node11.

[code]

[2019-04-07 11:30] nikparo commented on #9012
With the test repo I get the same behaviour that @eliot-akira does - in node.js 11.x, server-side hot reload does not work, in 10.x it does. I get no errors.

[2019-04-07 18:53] eliot-akira commented on #9012
As per #9015, this should be fixed in the next Node.js 11 release. I searched their issues and pulls but couldn't find the relevant commit. I'll keep this issue open and note when the fix is confirmed.

[2019-04-08 01:57] brion-fuller commented on #8895
Any update for this?  I would be interested in helping on this task but would like to have an approval beforehand.

[2019-04-08 06:00] SassNinja commented on #9007
@evilebottnawi yes, that's exactly the problem!

[code]
doesn't behave identical to
[code]

Can you confirm this is a bug?

[2019-04-08 06:18] SassNinja commented on #9007
For easy comparison here's what I get (you may run `node webpack --production` in my provided example repo to reproduce)

the former (function):

| Asset | Size | Chunks | | Chunk Names |
| --- | --- | --- | --- | --- |
| 0.js | 287 bytes | 0 | [emitted] | app |
| 1.js | 167 bytes | 1 | [emitted] | bar |
| 2.js | 166 bytes | 2 | [emitted] | foo |
| runtime.b961c074116a1b3bb974.js | 2.12 KiB | 3 |

[2019-04-08 08:01] jantimon commented on #8982
It is not supported for webpack 5

[2019-04-08 09:15] evilebottnawi commented on #9013
Yes, please open issue in plug-in repo, thanks

[2019-04-08 09:15] #9013 closed

[2019-04-08 09:31] cJayyy commented on #9013
Thanks for an advice @hiroppy, although it's not what I was asking.

My goal here isn't about getting errors instead of warnings. My goal is that **no** warnings (or errors) about missing translations should be invoked when passing `null` as translations argument - because we obviously know that `null` contains nothing and we are passing it because the strings we want to use with default language

[2019-04-08 09:52] evilebottnawi commented on #9010
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-04-08 09:52] #9010 closed

[2019-04-08 10:06] evilebottnawi commented on #9014
@taewdy Why? We support String, look on message:

[2019-04-08 10:09] evilebottnawi commented on #8895
It is open source, so you can send a PR :+1:

[2019-04-08 10:10] evilebottnawi commented on #8982
@jantimon hm, it should be work, can you provide link/example where it is doesn't work?

[2019-04-08 10:11] evilebottnawi commented on #9007
I think it is bug, so feel free to send a PR (for webpack@5 because it is breaking change)

[2019-04-08 10:13] evilebottnawi commented on #9011
Due `splitChunks.cacheGroups` configuration, you use module same module in difference chunk and you need to move their in own chunk (`default`/`commons`/`etc`). Can you provide minimum reproducible test repo, thanks!

[2019-04-08 10:18] evilebottnawi commented on #9011
Here default configuration https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L239 and docs about this https://webpack.js.org/plugins/split-chunks-plugin/

You can use second example https://webpack.js.org/plugins/split-chunks-plugin/#splitchunkschunks to exclude this

[2019-04-08 10:33] SidKwok commented on #9011
I see...

My goal here is to build a tool that get a module's call-relationship and inject it into the runtime code. In this case is to find out who uses 'common.js' and the call-relationship like (see field `issuerPath`):
[code]
and inject the scheme above into the runtime code.

But as you mentioned, webpack seems to combine them into one. Is there a better way to get the call-relationship?

[2019-04-08 10:39] evilebottnawi commented on #9011
Why? What is problem you try to solve? Looks very weird. Also i recommend you gitter or stackoverflow for questions because it is bug tracker, thanks

[2019-04-08 10:45] SidKwok commented on #9011
Yup, Thanks

[2019-04-08 10:45] #9011 closed

[2019-04-08 11:15] navyaagarwal23 opened #9017 "How can we dynamically load modules after compilation"
# Bug report
I'm creating an enterprise app and I'm wanting to make it as flexible as possible when it comes to adding new features.

 While it's easy to load in external modules by adding them to your imports etc before you compile it, I'd like to make it easier to deploy modules as new features.

So say I've got a MyFace app, it has two modules:

AppRoot - Basically a container that has a router

[2019-04-08 11:20] evilebottnawi commented on #9017
Please use stackoverflow and/or gitter for questions, it is bug tracker, thanks

[2019-04-08 11:20] #9017 closed

[2019-04-08 11:32] rafaelcastrocouto commented on #9008
Thanks for the response @evilebottnawi

Step 1 - Add a folder to the "Workspace" on the "Filesystem" panel (in the "Sources" tab)
Step 2 - Create an html file in this folder.
Step 3 - Serve this html with any local server and access it on the localhost URL.
Step 4 - Under "More Tools", open the "Search" bottom panel
Step 5 - Search for a word that appears on the file you created.

**What is the ex

[2019-04-08 11:52] evilebottnawi commented on #9008
It is only for css, right?

[2019-04-08 12:17] rafaelcastrocouto commented on #9008
No, it happens for all file types, (html, js, css)
Seems like it's no longer able to map the served files to the one in the workspace.

[2019-04-08 12:47] jantimon commented on #8982
Sure we have an open issue for that:
https://github.com/jantimon/html-webpack-plugin/issues/1129

[2019-04-08 14:39] mkarajohn opened #9018 "Third party library is always provided with the wrong version of the buffer module"
# Bug report

**What is the current behavior?**

My project has a dependency on [music-metadata-browser](https://github.com/Borewit/music-metadata-browser), which, itself, [has a dependency](https://github.com/Borewit/music-metadata-browser/blob/master/package.json#L91) on `buffer^5.2.1`.

However, [importing `buffer`](https://github.com/Borewit/music-metadata-browser/blob/master/src/index.ts#L1),

[2019-04-08 14:44] evilebottnawi commented on #9018
For this case package should provide bundle for browsers, not all package compatibility with browser, as workaround you can use https://webpack.js.org/plugins/normal-module-replacement-plugin/

[2019-04-08 15:18] mkarajohn commented on #9018
First of all THANK YOU SO MUCH, I have been dealing with this since last week, and this is the first time I managed to get it working.

However, I have a few questions, still:

What is the difference between `NormalModuleReplacementPlugin` and `ProvidePlugin` ? `ProvidePlugin` reads:

Which, theoretically should work when I did `new webpack.ProvidePlugin({Buffer: 'buffer'})`, no? The `music-metada

[2019-04-08 15:49] evilebottnawi commented on #9018
NormalModuleReplacementPlugin > for replace in `require`/`import`
ProvidePlugin > for include `require`/`import`

But you don't have `require`/`import` `Buffer`

https://github.com/defunctzombie/package-browser-field-spec

You should provide bundled version for browser using `browser` field. Why? Some modules can be polyfilled, some can be mocked, but not all. Example some packages can use modules

[2019-04-08 17:02] mkarajohn commented on #9018
Ok, thank you very much, I am ok with closing this.

[2019-04-08 17:02] #9018 closed

[2019-04-08 17:55] conav opened #9019 "Problem with Webpack/Terser"
# Bug report

**What is the current behavior?**
`ERROR in scripts.b0f2874ebd3860c496ad.js from Terser
Unexpected character '#' [scripts.b0f2874ebd3860c496ad.js:4,1]`

**If the current behavior is a bug, please provide the steps to reproduce.**
Tried to build an angular project in PROD through Angular CLI using:
`ng build --prod --build-optimizer  --base-href="/HOTAC/"`

**What is the expected beha

[2019-04-08 17:56] hiroppy commented on #9019
Please submit a reproducible repository.

[2019-04-08 18:10] sokra commented on #8996
This should be fixed by https://github.com/webpack/webpack/pull/8916

Could you check this?

[2019-04-08 18:58] sokra commented on #9007
Only the `runtime` chunk is affected by `output.filename`. The other chunks are affected by `ouput.chunkFilename`.

If `output.filename` is a string, `output.chunkFilename` defaults to the same string. If it's a function `output.chunkFilename` defaults to `[id].js`. You cannot provide a function to `output.chunkFilename`.

[2019-04-08 18:58] eamodio commented on #5895
Please don't close this. It is needed for better problem matcher support in vscode

[2019-04-08 19:00] sokra commented on #9005
The externals are executed in the order you call the `require`s in your application code.

[2019-04-08 19:02] sokra commented on #9004
There is a error. The problem is in the same the error handling is written:

[code]

should be this instead:

[code]

[2019-04-08 19:02] #9004 closed

[2019-04-08 19:05] sokra commented on #8991
`process.env` at build is not embedded into the bundle by default. You can use the EnvironmentPlugin to select environment variable to be embedded.

[2019-04-08 19:08] sokra commented on #8968
Yep, many this behavior is a bit weird. Changing this makes sense, but as it's a breaking change we can only do it for the next major.

As workaround copy the alias configuration to the rule, or merge it in config.

[2019-04-08 19:09] #9000 closed

[2019-04-08 19:14] ChristianIvicevic opened #9020 "Webpack unexpectedly watches unrelated files even the ones not imported anywhere"
# Bug report

**What is the current behavior?**
Webpack in watch mode is recursively scanning unrelated files in the current working directory and the `src` folder even though none of them should appear in the dependency graph and they don't happen to be imported in any of the files defined by the `entry` config.

The result is that even though those files don't end up in the bundle, webpack still

[2019-04-08 19:17] ChristianIvicevic commented on #8126
I am having performance issues with this as well since webpack is going through all unrelated files as well described in #9020.

[2019-04-08 19:20] sokra commented on #9020
cc @johnnyreilly

[2019-04-08 19:24] sneakyfildy commented on #9005
It's not true.
Check linked repo example and run webpack,
index.js which is used to build a lib:

[code]
In final result file:

[code]

[2019-04-08 21:13] johnnyreilly commented on #9020
Do you experience the same if you're using the `fork-ts-checker-webpack-plugin`? Example setup here: https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin

[2019-04-08 23:16] ChristianIvicevic commented on #9020
@johnnyreilly I just tried the sample you linked and compilation and bundling is of course nearly instant with the single `foo.ts` file, but nonetheless the entire `src` tree is being linted in the background. So basically webpack is still attempting to go over virtually every single file.

I might attempt to integrate ForkTsCheckerWebpackPlugin in our codebase nonetheless to figure out whether bu

[2019-04-09 05:27] raj-here commented on #8991
@sokra ,I've fixed using **DefinePlugin**  plugin and working fine for me.
`new webpack.DefinePlugin({
      'process.env.NODE_ENV': JSON.stringify(process.env.NODE_ENV || 'development')
    })
`

[2019-04-09 05:28] raj-here commented on #8991
By the way Thanks @sokra , I'll try with EnvironmentPlugin.

[2019-04-09 07:29] SassNinja commented on #9007
@sokra this explains the behavior – thanks for clarifying it!

I've already read this on some other issues but wasn't able to find an explanation why it's technical not possible to use a function for `output.chunkFilename`

Would you tell me the reason behind this?

For a current project I'm using `[name].[chunkhash].js` for most of the files. But because of some internal reasons there are some fi

[2019-04-09 07:43] YAN7 commented on #2031
thanks，It help me useful！！

[2019-04-09 08:56] xwchris commented on #8996
@sokra I test with [#8916](https://github.com/webpack/webpack/pull/8916) and it works now.

[2019-04-09 09:02] #8996 closed

[2019-04-09 10:22] #8991 closed

[2019-04-09 10:24] evilebottnawi commented on #5895
@eamodio what your problem? Please create minimum reproducible test repo with what you actually have and what you expected

[2019-04-09 10:30] sneakyfildy commented on #9005
So what? You want me to create another issue?

[2019-04-09 10:30] evilebottnawi commented on #9007
@sokra

I think it is misleading and has bad DX, maybe we can introduce `output.runtimeFilename` to avoid this misleading?

Also i think it is misleading too :smile: Maybe we can change behavior in next version? Better don't override `chunkFilename` value from `filename` when it is string.

What about allow `chunkFilename` to be `Function` too?

[2019-04-09 10:35] evilebottnawi commented on #9005
@sneakyfildy very strange, need investigate

[2019-04-09 10:47] sneakyfildy commented on #9005
Okay. I will try to dig this in.

[2019-04-09 11:43] taewdy commented on #9014
Firstly, thanks for the good tool, really appreciate it. You guys are making JS ecosystem great!
Secondly 'node_modules' and '/node_modules' are both string.
One produce error the other doesn't. String is supported only when in absolute path format as the error message suggest.

No problem, no biggie, just thought it could save 5 minutes of some other developer, although 10 times time of that coul

[2019-04-09 14:21] dannycochran commented on #8910
@montogeek I believe this is still an issue. This is causing breakpoints to not work in any user using CRA, which is a pretty big blocker.

[2019-04-09 16:08] sandersn opened #9021 "webpack doesn't compile with typescript@next (2019-04-09)"
I updated lib.dom.d.ts yesterday and thanks to @saschanaz, it now has WebAssembly types. That means that the forward declaration `declare const WebAssembly` in declarations.d.ts needs to be updated to avoid an error in typescript 3.5 and above. I'll put up a PR shortly.

The fix is easy; change the webassembly declaration to `declare namespace WebAssembly {}`.

**What is the current behavior?**

[

[2019-04-09 17:04] CT1994 commented on #8988
https://github.com/jantimon/html-webpack-plugin/issues/1186#issuecomment-480975190

based on sokra comment i have created a very barebones example of the issue here
https://github.com/CT1994/tapable-range-error

the issue seems to be coming from tapable

[2019-04-09 21:56] CT1994 commented on #8988
@sokra I’ve created an example of the issue, it seems to be coming from https://github.com/webpack/tapable/blob/2a07fea1dc1f05a2d1de3c9e4be385947596a87d/lib/HookCodeFactory.js#L32

This is what I found to be causing the range error and was able to generate the arguments to test outside of tapable

https://github.com/CT1994/tapable-range-error/blob/master/fnRangeError.js

[2019-04-09 22:00] limeandcoconut commented on #4719
@evenstensberg totally still happening for me

`chunkFilename: '[name].[chunkhash:8].chunk.js',`

`const {supportsWebp} = await import(/* webpackChunkName: "chunk-bar-baz", webpackPrefetch: true */ '../shared/utils')`

<img width="958" alt="Screen Shot 2019-04-09 at 14 59 37" src="https://user-images.githubusercontent.com/14302276/55838098-244d6b00-5ad8-11e9-912d-12912687f616.png">

`"webpack": "^

[2019-04-09 22:04] evilebottnawi commented on #4719
@limeandcoconut Duplicate https://github.com/webpack/webpack-dev-server/issues/1717? If not please open issue in `webpack-dev-server` with minimum reproducible test repo, thanks!

[2019-04-09 22:14] limeandcoconut commented on #4719
@evenstensberg  It does not appear to be a duplicate of that. I think it's a duplicate of [#8677](https://github.com/webpack/webpack/issues/8677) (which I just now found). I agree with @maclockard that creating a minimal repo large enough to cause chunking issues using dynamic imports is non-trivial.

[2019-04-09 22:31] livemixlove commented on #6983
For others arriving here via google,  webpack-dev-server continues to be the supported/current tool of choice.   https://webpack.js.org/configuration/dev-server/

webpack-serve is deprecated.

[2019-04-10 01:39] Miaoxingren commented on #8934
@sokra @evilebottnawi Any updates on this issue?

[2019-04-10 01:56] tracker1 opened #9024 "import() code splitting + lazy loading not working for me."
I'm afraid I have a relatively complicated webpack.config.  But what it comes down to is the code splitting isn't working, if I set a max-size to say 250000, it will split into chunks, but they don't load async... I do have `import()` statements specifically around my router... but in the end some heavy libraries wind up loaded that are only in a couple of routes.

// webpack.conf
[code]

Here's b

[2019-04-10 04:20] nhooey opened #9025 "Error message too vague: "You may need an appropriate loader to handle this file type.""
# Bug report

**What is the current behavior?**

When running `npx webpack`, I get the following vague error message:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Run this:
[code]

2. Use this `webpack.config.js` file:
[code]

**What is the expected behavior?**

The error message should mention what loader, if any or not, was used to attempt to load the

[2019-04-10 06:24] AlexLeung opened #9026 "HotModuleReplacementPlugin allow for custom implementations of hotDownloadManifest and hotDownloadUpdateChunk"
## Feature request

**What is motivation or use case for adding/changing the behavior?**

Sometimes you might want to have influence over how the HMR runtime fetches the manifest and update files. For example perhaps in node, you want to perform a XHR request rather than requiring the file from the operating system's file system. Another example: perhaps in a bundle which targets the web, you want

[2019-04-10 06:48] #9021 closed

[2019-04-10 07:14] ShootPassSlam commented on #8794
Since the above pull request was merged with master, should this Issue be closed?

#8803

[2019-04-10 07:26] pcarballeda commented on #6983
I have the same problem after updating to the latest version (3.3.1)

[2019-04-10 07:31] rgranger commented on #8794
Yes, the issue has been correctly fixed by the PR. I'm closing this issue.

[2019-04-10 07:31] #8794 closed

[2019-04-10 08:01] #8013 closed

[2019-04-10 10:17] evilebottnawi commented on #6983
@pcarballeda it is fixed in `3.3.1`, you still use old version

[2019-04-10 10:18] evilebottnawi commented on #9026
@AlexLeung you can implement own plugin, what is problem?

[2019-04-10 10:19] evilebottnawi commented on #9025
Feel free to send a PR

[2019-04-10 10:20] evilebottnawi commented on #9024
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-04-10 10:20] #9024 closed

[2019-04-10 10:20] evilebottnawi commented on #9024
Please use stackoverflow or gitter for questions, thanks

[2019-04-10 10:45] abusufian12 commented on #2131
npm install webpack-rtl-plugin

[2019-04-10 11:38] evilebottnawi commented on #6581
We can't use `optimization.minimizer = new UglifyJsPlugin(options)` due minimizer can be not only for `js`, here developers can add `css` optimizes, `image` optimizer and etc

[2019-04-10 11:38] #6581 closed

[2019-04-10 12:28] evilebottnawi commented on #7703
Please try with latest webpack version, if you still have problem, please open new issue with reproducible test repo, thanks

[2019-04-10 12:28] #7703 closed

[2019-04-10 12:31] #9008 closed

[2019-04-10 12:55] #8833 closed

[2019-04-10 13:06] yaroslavert opened #9027 "Dynamic Import replace path"
other.js
var env = { url: " htts://any.domen.com" }
Index.js
import('./entry')
entry.js
console.log('run');
index.html

<script type="text/javascript" src="htttps://other.domen.com/other.js"></script> <script type="text/javascript" src="./index.js"></script>
build all and get index and entry chunk.

entry chunk I am storage in " htts://any.domen.com"

I need Dynamic change chunk URL

example impor

[2019-04-10 13:18] evilebottnawi commented on #9027
It looks like you just deleted our lovely crafted issue template It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-04-10 13:18] #9027 closed

[2019-04-10 13:57] yaroslavert commented on #9027
import(
  './entry'.
  env.url
);

when we back finished building I am needing in folder dist have index.js that include entry.js and using
this path (env.url + ./entry)(remote path) not this ./entry(local path)

[2019-04-10 14:32] OliverJAsh commented on #8766
This is still open. Was it fixed by https://github.com/webpack/webpack/pull/8816? /cc @sokra

[2019-04-10 14:43] DustinGaudet opened #9028 "https://webpack.js.org/ pages not loading CSS / images (404 errors)"
# Bug report

**What is the current behavior?**
Styles and images are missing on the webpack documentation pages at https://webpack.js.org/, console shows numerous 404 errors for image / css requests, across multiple pages.

**If the current behavior is a bug, please provide the steps to reproduce.**
Visit https://webpack.js.org/ on Chrome, Firefox or Safari (probably any browser, really)

**What

[2019-04-10 14:47] evilebottnawi commented on #9028
@webpack-bot move to webpack/webpack.js.org

[2019-04-10 14:48] #9028 closed

[2019-04-10 15:03] ShootPassSlam commented on #3673
As mentioned above, UglifyJsPlugin has been removed from the dependencies for terser-webpack-plugin. Should this issue be closed?

[2019-04-10 15:14] evilebottnawi commented on #3673
Yes, we can close issue, also you can using own plugin for minification, terser by default for better DX

[2019-04-10 15:14] #3673 closed

[2019-04-10 15:15] wtgtybhertgeghgtwtg commented on #3673
No, but it might be more accurate to rename it.  All that needs to be done to accomplish what this issue set out to do (externalize minification to potentially red) would be to remove `terser-webpack-plugin` from the default configuration.

[2019-04-10 15:27] evilebottnawi commented on #3673
@wtgtybhertgeghgtwtg why it is normal and expected:
1. You should have minimizer out of box - young developers have problems with configure webpack - it is very bad, we want better DX and less configurations
2. It is dev dependencies
3. It is part of `0CJS`
4. When you use bundler you want write code so we did it for you

[2019-04-10 15:56] wtgtybhertgeghgtwtg commented on #3673
`webpack` configuration is difficult, yes, but adding `terser-webpack-plugin` as `webpack` does by default is pretty straightforward.
[code]
Moreover, I'd argue that a new developer probably wouldn't even have to do that; while I can't know how many projects start from a boilerplate, I do know that a significant and growing portion of `webpack` downloads are transitive from packages that manage `w

[2019-04-10 16:16] evilebottnawi commented on #3673
Weird, don't work on company what can block internet

All of them use `terser` because it is one stable solution for minification js right now

It is dev dependencies so you can relax about this, also future `pnp` technologies solve local size problem with node_modules

DX > extra dep in dev deps

[2019-04-10 16:36] wtgtybhertgeghgtwtg commented on #3673
Many companies use private package registries (i.e. Nexus), which can, among other things, enforce licensing and security policies.
While they do happen to all use `terser`, they do so explicitly (`terser-webpack-plugin` for `react-scripts` and `nuxt`, custom plugin wrapping `terser` for `next`), completely eschewing the default and potentially the version of `terser-webpack-plugin` that `webpack`

[2019-04-10 17:03] evilebottnawi commented on #3673
Using private package registries is not solve problem. Code still have security problems and can have license problems (copy/paste code, using git submodules, invalid licenses and etc). You need more powerful tools for this.

Yes, but right now it is stable. It is open source, no guaranties (MIT license).

Here is PR to solve DX and you problems https://github.com/webpack/webpack/pull/6395. But it

[2019-04-10 17:24] AlexLeung commented on #9026
You're saying it would be preferable for me to implement a substitute for HotModuleReplacementPlugin than to extend the behavior of the plugin?

[2019-04-10 17:45] wtgtybhertgeghgtwtg commented on #3673
I never said it solved the problem, it's just what some companies do, with the side-effect being development can be halted if a transitive dependency is flagged.  This's happened before with `sockjs` in `webpack-dev-server`.
The point is that including it as a default increases the dependency tree by no small amount, while also being completely unused in many setups.  It doesn't matter if you're u

[2019-04-10 17:49] evilebottnawi commented on #3673
It is just dev deps, what is problem with extra package?
Disk space? `pnp` solve this
Extra package? In any big projects you already have many dev deps (90% of this you don't use)
Perf? No

Please provide link on **real** problem where developers have problem with this extra dep. Answer - 'i just want' is not enough.

[2019-04-10 18:48] wtgtybhertgeghgtwtg commented on #3673
A larger dependency tree means more to download, which, besides just needing more disk space, also means more network usage and install time, both of which [negatively impact downstream users](https://github.com/facebook/create-react-app/issues/3880).  This is especially noticeable in containerized environments where it does not install from a cache.
The bottom line is that dependencies are not fr

[2019-04-10 18:53] evilebottnawi commented on #3673
This problem out of scope webpack, feel free to open issue in `npm`/`yarn`. Here doesn't exists right solution, some uses caches, some `pnp`, some move deps to own container and etc. It is problem related to **any** javascript (and not only) ecosystem.

[2019-04-10 18:56] evilebottnawi commented on #3673
At the moment we are leaving everything as it is and in the near future we don't change that, because there are more important problems than this, we may revise it in the future and reopen, but not now and not in near future. Thanks

[2019-04-10 18:56] evilebottnawi commented on #3673
Also removing `terser` doesn't solve https://github.com/facebook/create-react-app/issues/3880, because CRA use terser

[2019-04-10 19:00] evilebottnawi commented on #3673
Also a lot of packages don't use `files` field n package.json and provide many files what is never used (tests, examples, extra docs, images and etc). It is problem also related to javascript ecosystem. It can be solved only package manager level (warnings or fail on publish/reduce size of register level/other solutions).

[2019-04-10 19:23] wtgtybhertgeghgtwtg commented on #3673
It's not a problem that can be solved, only alleviated, and only by the developers of the individual packages.  `yarn` and `npm` can't make you make your package simple.  If you include tests, if you include docs, if you include a CLI, if you include defaults, if you include [ASCII pictures of Guy Fieri](https://github.com/babel/babel/blob/f36d07d30334f86412a9d2771880cb566a82a9b6/packages/babel-co

[2019-04-11 00:48] webvs2 opened #9030 "webpack4中CommonsChunkPlugin的示例修改建议"
官方指南文档非常好，在阅读学习wepack4的代码分离中防止重复(prevent duplication)一章的CommonsChunkPlugin是使用示例希望修改，虽然看错误报告，然后百度一下可以解决.

[2019-04-11 00:50] evilebottnawi commented on #9030
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use english and `Commons

[2019-04-11 00:50] #9030 closed

[2019-04-11 02:41] #8069 closed

[2019-04-11 05:28] zoro00000000 commented on #6094
After npm install and npm install webpack-dev-server@x.x.x ! Solved my problem!

[2019-04-11 08:32] mansouryaacoubi commented on #3148
This issue still persists and I cannot confirm that this is just an issue working on the same drive.
My drives differ and the correct path cannot be resolved.
Here you can find out what I mean: https://github.com/nuxt/create-nuxt-app/issues/217

[2019-04-11 09:45] rickygarg opened #9031 "Duplicate vendor modules when relative path to local dependency is used."
# Bug report

See also: https://github.com/webpack/webpack/issues/2134 which has the same issue with a different project structure (which works fine for me).

**What is the current behavior?**

Let's say we are using two  components where the main-component is dependent on the other-component.

(1) main-component
(2) other-component

Also, both these components have a common dependency, let's say

[2019-04-11 11:12] evilebottnawi commented on #1054
Bump

[2019-04-11 13:13] olofsellgren commented on #368
This might help someone:

If there are multiple webpack runtimes on the same page (e.g.a third party script, also compiled with webpack) you might need to rename output.jsonpFunction if the other script also is using the default jsonpFunction name.

https://webpack.js.org/configuration/output/#outputjsonpfunction

webpack example
[code]

vue-cli (vue.config.js) example:
[code]

[2019-04-11 14:19] SleepWalker commented on #8126
I've found interesting thing. If I use `babel-plugin-dynamic-import-node-babel-7`, that replaces all imports with require, the execution time of `processDependenciesBlocksForChunkGroups` drops from 3-4s to 500ms (the most of the work performed in `while (queue2.length) {` loop).

As a result, I've decided to use that plugin for both `node` and `browser` targets in dev mode for faster builds (1.5-2

[2019-04-11 14:21] #7883 closed

[2019-04-11 17:50] tonyanziano commented on #6094
Was facing this same issue after we upgraded from `webpack-dev-server@3.2.1` to `webpack-dev-server@3.3.1`. Went back down to `3.2.1` and everything worked again.

[2019-04-11 17:55] evilebottnawi commented on #6094
@tonyanziano future webpack version can be incompatibility with `3.2.1` due internal bugs, you still should upgrade

[2019-04-11 20:29] dark-swordsman commented on #2882
I am currently having this issue. I tried the base tag and the `output: { publicPath: '/' }` and they both aren't working.

[2019-04-11 22:34] goinnovative opened #9033 "Combine hashed class-names and readable class-names"
Hey,

I am using the React create-app to create a new React-App.

By default, any mechanism of webpack or the style-loader (?) deletes class-names from my component when building, which are not in use.

`<Button className={'hello'} />`

would result in:

`<Button />`

In general this makes sense. But I want to add classes anyway. So I can affect the styling of the button from the "outside" of the

[2019-04-11 22:37] hiroppy commented on #9033
This issue will be closed if you don't use out issue template. /cc @goinnovative

[2019-04-11 23:06] evilebottnawi commented on #9033
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use stackoverflow or git

[2019-04-11 23:06] #9033 closed

[2019-04-12 00:26] idangozlan commented on #8755
anything new?

[2019-04-12 00:29] evilebottnawi commented on #8755
Acorn problem, just add `acorn: <latest>` in you package.json

[2019-04-12 00:29] evilebottnawi commented on #8755
Close in favor https://github.com/webpack/webpack/issues/8656

npm still not fix problem, it is shame

[2019-04-12 00:29] #8755 closed

[2019-04-12 03:51] baiyuze commented on #8996
## **I used the latest version of webpack@4.29.6, and still had this problem. And I'm not using `config. Optimization` either.**

Here is my webpack configuration

[code]

Here is my .babelrc configuration

[code]

webpack@4.29.6
webpack-cli@3.1.3

![1555040760639_图片](https://user-images.githubusercontent.com/27543832/56011059-93190700-5d18-11e9-84e6-aba7389bf7c6.png)

## Did I miss something?

##

[2019-04-12 03:55] xwchris commented on #8996
@baiyuze The issue has been fixed, but not release.

[2019-04-12 06:23] CosminIonascu commented on #8996
@xwchris when it will be released? Can we test on an unreleased version? I'm having the same problem thanks

[2019-04-12 06:27] baiyuze commented on #8996
如果直接使用github最新代码应该是OK的吧？

[2019-04-12 06:30] nailfar commented on #8996
@baiyuze  然而并不是的，哈哈哈 。我看了下代码和merge的代码不一致；可以去提交pr 的那个人仓库里去安装 他的版本，暂时修复，等release 之后再处理吧

[2019-04-12 06:34] baiyuze commented on #8996
@nailfar 我记得这个问题在去年就有了，为什么现在一直没有处理。。。
有啥方法能够避过这个坑吗？

[2019-04-12 06:36] nailfar commented on #8996
@baiyuze  `concatenateModules:false`

[2019-04-12 06:42] xwchris commented on #8996
@CosminIonascu @baiyuze the latest code of master can work. To avoid this, you can use `concatenateModules:false` to disabled `ModuleConcatenationPlugin` like @nailfar mentioned.

[2019-04-12 07:27] sokra commented on #8988
should be fixed by https://github.com/webpack/tapable/pull/95 resp. https://github.com/webpack/tapable/pull/96

[2019-04-12 08:19] erickskrauch commented on #8957
@evilebottnawi, it's not working as I expected. It just copies loader implementation as `.js` file, not the contents it's generating.

[2019-04-12 08:55] baiyuze commented on #8996
This really does solve the problem. thank you

[2019-04-12 08:57] webvs2 commented on #9030
Oh, sorry, I have reviewed the suggested template, this is the first time I submit the question. If the Chinese contribution can be modified, I will try

[2019-04-12 10:20] CT1994 commented on #8988
@sokra thank you this has resolve the issue :)

[2019-04-12 10:20] #8988 closed

[2019-04-12 10:38] evilebottnawi commented on #8996
It is not released yet

[2019-04-12 10:43] evilebottnawi commented on #8957
What you expected? What is weird you try to do?

[2019-04-12 10:46] erickskrauch commented on #8957
Please, take a look at the [sample repository](https://github.com/erickskrauch/named-webpack-import-example/blob/168a4fa898752f89accdd775ab7badd2ccaf2e4b/src/index.js#L5-L9).

[2019-04-12 11:25] evilebottnawi commented on #8957
Why don't add image url to query param?

[2019-04-12 12:15] erickskrauch commented on #8957
Because it does not exist and generated via my loader. Please, read again head message with an explanation of the problem, that I'm trying to solve.

[2019-04-12 14:27] sod commented on #8537
@wmertens watcher chokidar was removed in https://github.com/webpack/watchpack/pull/90 for the sake of removing dependencies. IMHO fsevents (that chokidar uses) is the only reliable method to watch files on macos. So if this ships with webpack 5, I forsee a lot of frusttration with mac users. I hope @sokra may at least allow us to use chokidar if installed manually, so mac users may stil use it wh

[2019-04-12 14:36] evilebottnawi commented on #8537
@sod next version of `chokidar` remove `fsevents` too becaue it is unnecessary and many bug fixed in node? What is problem you have without chokidar? Can you provide reproducible test repo? `chokidar` was create to solve problem nodejs implementation in `fs.watch`, but they fixed many of them for `v8`

[2019-04-12 14:52] sod commented on #8537
On macos some watchers drove me up the wall - like watchman, node native or gaze. It manifested in sometimes a change just not being recognised, a few seconds delayed, high cpu consumption, watches triggered multiple times or new directories unwatched until restart. Chokidar was just rock solid. Can't remember a single issue in 2 years.

Tested webpack 5 alpha a few weeks ago and indeed the watche

[2019-04-12 15:01] Ali-architrave commented on #1312
I am facing the same issue, have anyone got it solved? if yes can you help me to understand it? thanks, @bebraw looks like you had some reason to close this one?

[2019-04-12 15:02] evilebottnawi commented on #8537
@sod node@10 should works file without chokidar, in future many projects can migrate from `chokidar` because now we don't need this, it was workaround for problem between os not more. Will be great if you test wepback@5 with large project and give feedback to us. I think you don't have problems, also avoid `chokidar` increase perf

[2019-04-12 15:17] evilebottnawi commented on #1312
@Ali-architrave can you create minimum reproducible test repo?

[2019-04-12 16:09] sneakyfildy commented on #9005
Lol.
Webpack makes different order of externals in production and development modes.
Anyone knows for what reason?

[2019-04-12 16:25] evilebottnawi commented on #9005
@sneakyfildy looks problem in `terser`, can open issue in `terser-webpack-plugin` with reproducible test repo, thanks

[2019-04-12 17:04] getsetgopi opened #9037 "Minify multiple CSS files compiled out of SCSS"
I'm compiling multiple SCSS file to individual CSS file using file-loader. The file loader extracting to individual files and SCSS is compiling to CSS, but file-loader does not have feature to minify CSS.
Is there a plug-in that can read the output CSS path and minify the CSS?
I have tried the following pulg-ins with no luck.

- ExtractTextPlugin
- extract-text-webpack-plugin
- clean-css-loader
-

[2019-04-12 17:05] evilebottnawi commented on #9037
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Minify css out of scope webpack

[2019-04-12 17:05] #9037 closed

[2019-04-12 17:06] evilebottnawi commented on #9037
Please use https://github.com/NMFR/optimize-css-assets-webpack-plugin

[2019-04-12 17:58] jeffposnick opened #9038 "Way of determining if an asset's filename contains a hash"
## Feature request

**What is the expected behavior?**
I would like a way of examining each asset that's generated as part of a webpack compilation and determining whether the corresponding filename contains some flavor of hash (e.g. content hash, chunk hash, etc.—not sure how many possible hashes there are).

One way of accomplishing this might be a new `boolean` flag that's added to each asset,

[2019-04-12 18:22] evilebottnawi commented on #9038
Yes, we have this problem, example we need regenerate `hash` in `terser` based on output file, but we can't detect change hash right. Feel free to send a PR :+1:

[2019-04-12 18:22] bebraw commented on #1312
@Ali-architrave There wasn't enough info to reproduce.

[2019-04-12 18:30] jeffposnick commented on #9038
Which of the proposed solutions would work best for the `terser` use case?

[2019-04-12 18:40] evilebottnawi commented on #9038
Store `hash` as property of asset in `assets` and render hash when in emit phase

[2019-04-12 19:00] jeffposnick commented on #9038
Apologies if I'm misunderstanding, but won't *every* asset have a `hash` property assigned to it if I took the steps that you suggest, irrespective of whether the filename uses that hash or not?

I'd like to know whether *any* flavor of hash (it [looks like](https://github.com/webpack/webpack/blob/8a7597aa6eb2eef66a8f9db3a0c49bcb96022a94/lib/TemplatedPathPlugin.js#L7-L10) the possible types might

[2019-04-12 19:09] evilebottnawi commented on #9038
I mean `hash` is any of https://github.com/webpack/webpack/blob/8a7597aa6eb2eef66a8f9db3a0c49bcb96022a94/lib/TemplatedPathPlugin.js#L7-L10.

What we need in terser (and any minimizer):
[code]

[2019-04-12 19:35] jeffposnick commented on #9038
I need to know whether an asset's filename contains some sort of hash value, regardless of what kind of hash value it is. You could, I guess, stick in two different kinds of hashes into the same filename, like `filename: 'app.[contenthash:8].[chunkhash:8].js'` or whatever. If someone were to do that, the answer that I need to get back is yes, the filename contains a hash.

Are you suggesting that

[2019-04-12 20:07] evilebottnawi commented on #9038
Yes

`hash: { contenthash: 'value', chunkhash: value}`

I think this solution will help you and me.

[2019-04-12 20:21] jeffposnick commented on #9038
Gotcha. Last(?) question: can I use a property name on the asset other than `hash`? I think that naming confused me when you made you original suggestion. How about calling the new property name `hashesUsedInFilename` instead?

So for three hypothetical assets, here's how it could behave:

**Asset 1**
filename template is `asset1.[hash].js` and the asset's `hash` value is `'abcdef123456'`, that wo

[2019-04-12 20:29] evilebottnawi commented on #9038
Maybe better, i think name will be discussion in PR, it is not hard to change :smile:

Not sure, maybe we should include hash as is

maybe `undefined`? No hash - no property.

Anyway `const hasHash = Boolean(asset.hashesUsedInFilename)` should works in all cases.

/cc @sokra need your advice

[2019-04-12 20:42] jeffposnick commented on #9038
@developit pointed out that similar hash replacement logic also happens in https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js for assets that originate from a loader, so presumably I'll need to treat replacements that take place there similarly to ones that happen in https://github.com/webpack/webpack/blob/8a7597aa6eb2eef66a8f9db3a0c49bcb96022a94/lib/TemplatedPathPlugin.js#

[2019-04-13 05:59] CarterLi commented on #6929
[code]
[report.20190413.135130.5249.0.001.txt](https://github.com/webpack/webpack/files/3075811/report.20190413.135130.5249.0.001.txt)

[2019-04-13 10:00] seeden commented on #6544
@sokra  is there any workaround if you have to include node_modules and transform code in 3rd party code?

[2019-04-14 10:34] artem-malko opened #9041 "Use resolve.modules from config in exec function in loader"
# Bug report

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**

I need to compile modules in my loader. So, I have my custom exec implementation in my loader:
[code]
I've got it from https://github.com/webpack/webpack.js.org/issues/1268#issuecomment-313513988
Actually, this exec implementation looks like exec from webpack itself https:/

[2019-04-14 15:15] lexaknyazev opened #9042 "webpack' parser evaluates node-related expressions even when polyfills are disabled"
# Bug report

**What is the current behavior?**
webpack evaluates and optimizes-out node-related expressions even when polyfills are disabled.

**If the current behavior is a bug, please provide the steps to reproduce.**

**webpack.config.js**
[code]

**src/index.js**
[code]

Compiled output (**dist/main.js**):
[code]

**What is the expected behavior?**
webpack's parser should not make such strong

[2019-04-15 06:05] kof1290 commented on #4807
can i pass vriable into `webpackChunkName `like this
[code]

[2019-04-15 06:32] Ali-architrave commented on #1312
@bebraw thanks, I still facing the same situation when trying to bundle a big app at once, its slow in this case, and it won't work if I try to build several bundles together, (` having an array as output od webpack config file)`

[2019-04-15 08:39] shenanheng opened #9043 "When web pack configures template using html-webpack-plugin plug-in, report Entrypoint undefined = index.html"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
   Template report undefined

**What is the expected behavior?**
Normal display of pages

**Other relevant information:**
webpack version:  4.29.6
Node.js version: 10.8.0
Operating System: win10
Additional tools
![配置1](https://user-images.githubusercontent.com/24730317/5611

[2019-04-15 09:59] evilebottnawi commented on #9041
Can you create minimum reproducible test repo?

[2019-04-15 10:04] evilebottnawi commented on #9042
Can you create minimum reproducible test repo?

[2019-04-15 10:17] lexaknyazev commented on #9042
Sure. https://github.com/lexaknyazev/webpack_node

[2019-04-15 10:44] sneakyfildy commented on #9005
Finally.
It is not a bug actually, seems like it's conflict of different configurations ("externals" technique against webpack modes concepts).
--
If you want to keep an order of "externals" dependencies in a "development" mode of webpack use
[code]
And you'll be fine. Thanks everybody.

[2019-04-15 10:44] #9005 closed

[2019-04-15 11:08] artem-malko commented on #9041
@evilebottnawi I will try to do it tomorrow.

[2019-04-15 14:10] paramaggarwal commented on #8656
This is a genuine problem. Using `"webpack": "4.28.4"` fixed it for me.

[2019-04-15 18:11] joshjg commented on #8057
Has anyone found a workaround for this issue?

[2019-04-16 05:10] Boycce commented on #6525
Any luck 14 months on?

[2019-04-16 10:21] evilebottnawi commented on #6525
It is open source, PR welcome, there a lot of other problems/features with more priority, thanks

[2019-04-16 12:03] ronanamsterdam commented on #7410
@charliedavison nope -> I just stopped using this feature. The only impact for me using `import` without `webpackPrefetch` is that I don't have `rel="prefetch"` for file links that I'm getting and in my case I've addressed that by having really small chunk sizes. Basically my localization files contain information needed only for a particular page, so I don't load the whole localization for the en

[2019-04-16 13:42] yairEO commented on #7746
I also facing this problem and while disabling the *source maps* helps, I cannot work without them on `dev` for obvious reasons.

[2019-04-16 13:50] evilebottnawi commented on #7746
increase you node memory

[2019-04-16 14:52] soztrk commented on #6460
@bengrunfeld , thanks for solution. It works properly.

[2019-04-16 14:53] soztrk commented on #6460
@bengrunfeld , thanks for solution. It works properly.

[2019-04-16 16:16] artem-malko commented on #9041
@evenstensberg here you are https://github.com/artem-malko/webpack-loader-exec-test
I described two problems with exec in loader. Will wait for feedback.

[2019-04-16 17:29] OfekA commented on #8656
I'm using nuxt@2.4.5 and I'm having this issue as it seems this version uses webpack@^4.29.5.

I tried the solutions above and also using Yarn (with resolutions for both 'webpack' and 'acorn-dynamic-import') but it didn't work for me. I'm not sure how to downgrade webpack honestly, any solutions?

[2019-04-16 18:00] evilebottnawi commented on #8223
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-04-16 18:00] #8223 closed

[2019-04-16 21:30] evictor commented on #6929
v4.29 here while using dev server. Looking at the memory sample during OOM does not clarify to me what the cause is. Compiler from Webpack along with MemoryFileSystem from [memory-fs](https://github.com/webpack/memory-fs) register with ~800 MB or so. This is after 1 hour or so of development whereas the initial memory footprint is a few MB only.

Obvious suspect would be in-memory file system (Mem

[2019-04-16 22:13] nmccready commented on #5087
@sokra any ideas? This issue is still prevalent and old. pnpm is very promising and this is blocker.

[2019-04-17 00:01] #8105 closed

[2019-04-17 01:39] EricTurf commented on #1599
@saurabh-deep

I was running into the issue where `__dirname` was set to `/` in my electron **main** process bundle with webpack. I added
[code]
to my config and that did the trick

My full config 👇
[code]

[2019-04-17 03:25] petermikitsh commented on #5593
The least disruptive solution for me has been to take advantage of Webpack's `resolve.alias` option. I only have under a handful of large duplicated dependencies, so manual intervention works, but certainly isn't scalable.

I understand that Webpack's `DedupePlugin` has been deprecated/removed for awhile, but I don't understand what would have been too hacky about it. If I have two imports with th

[2019-04-17 05:03] lingo commented on #3997
@pkit I had a problem with this that turned up suddenly, and I tracked it to the use of core-js with babel.

It seems that if I allow babel to include parts of `core-js`, via the `@babel/preset-env` setting of `useBuiltins: usage`, then I get problems in the browser from my other source files (which use `require` and `module.exports`).

I assume that the babel plugin is adding "import" statements

[2019-04-17 08:08] jaydenseric opened #9044 ".mjs ESM wildcard import from .js CJS causes incorrect build error"
# Bug report

**What is the current behavior?**

An ESM wildcard import from a CJS `.js` file within a `.mjs` file incorrectly causes the following Webpack build error:

[code]

In reality ESM wildcard imports from CJS files has always worked in Node.js `--experimental-modules` mode:

<img width="1342" alt="Screen Shot 2019-04-17 at 5 32 13 pm" src="https://user-images.githubusercontent.com/175487

[2019-04-17 10:51] vishalraj82 commented on #1914
@kevinSuttle  +1 I also encounter error in production mode, but not in development

[2019-04-17 11:09] lexaknyazev commented on #9042
The issue is that `NodeStuffPlugin` always registers `__dirname` and `__filename` constants regardless of `node` configuration.

In the following example, even when `node.__dirname` is equal to `false`, the identifier will be registered:
https://github.com/webpack/webpack/blob/b72b96a2bc5d2c7a308d0943567e0db191d3c358/lib/NodeStuffPlugin.js#L78-L92

Compare with `NodeSourcePlugin` that adds its exp

[2019-04-17 11:34] evilebottnawi commented on #9042
I think it is expected for `webpack@4` (can you test this with `webpack@5`)? We can't change this because it is breaking change

[2019-04-17 11:51] lexaknyazev commented on #9042
`webpack@5` (taken today from the `next` branch) has the same issue since the plugin in question has the same logic.

The documentation [says](https://webpack.js.org/configuration/node/):

While in fact, only `NodeSourcePlugin` is being turned off completely:
https://github.com/webpack/webpack/blob/b72b96a2bc5d2c7a308d0943567e0db191d3c358/lib/node/NodeSourcePlugin.js#L14-L19

[2019-04-17 11:59] mvanbutselaar opened #9045 "Package added to a higher precedence directory in resolve.modules does not trigger compile in watch mode"
# Bug report

**What is the current behavior?**

When having multiple resolve.modules (e.g. override-packages, and base-packages), on building and initial webpack-dev-server compilation, the packages are correctly loaded from the directory with highest precedence.
However when a package is in base-packages on the first compilation, and you add an override package with the same name to override-pac

[2019-04-17 13:12] taimoortahir7 commented on #7641
any updates on this issue ?
waiting for response

[2019-04-17 14:24] realhoffi commented on #8656
Still got the same error :( stuck on version 4.28.4

[2019-04-17 15:15] Jaskaranbir commented on #8656
For people still running in this error (found this solution in one of above comments, but removing lock-files was what worked for me):

* Install Webpack 4.30.0 (no reason to not use old one)
* `npm i acorn@^6.1.1`

* Make Webpack resolve to newer acorn; add this at end of your `package.json`:
[code]

* Delete your `node_modules` and `package-lock.json` and `yarn-lock.json` (if using yarn).
* Run

[2019-04-17 15:53] PaulRBerg commented on #943
Also using yarn workspaces and still not working. Any updates?

[2019-04-17 17:01] pkit commented on #3997
@lingo it seems like the solution posted in babel/babel#6980 indeed works
My case is very similar: I want to share some client functionality between cli client (node js) and a browser client.

[2019-04-17 17:31] dmitriyK1 commented on #4072
In my case it was some problem with yarn.lock, I deleted it and run `yarn` and problem was gone

[2019-04-17 17:51] justingrant commented on #8226
Related: is the webpack:// URL scheme documented anywhere?  If not, then documenting the current scheme would be quite helpful (e.g. when authoring a custom function for `devtoolModuleFilenameTemplate` in order to work around upstream sourcemap problems) and would add value well in advance of any transition to a new URL scheme.

Also, FWIW, the `info` argument that's passed into `devtoolModuleFile

[2019-04-17 18:00] cacheflow commented on #9025
I've always wanted this as well or for Webpack to recommend a possible loader based on the file extension. I'm happy to do the first part of this and display what loaders were used when trying to load the file.

[2019-04-17 18:20] evilebottnawi commented on #9025
@cacheflow :+1:

[2019-04-18 03:28] mc-zone commented on #6525
I was submitting a WIP PR(#8579) for this in Jan and ask for some discussion to moving on but actually got less response. I'd like to continue if it could get more feedback.

[2019-04-18 03:44] natew commented on #7378
@igorkamyshev somehow, no matter using stats or your plugin, I'm still getting errors :/

[2019-04-18 08:29] posva commented on #7782
Hey, I think having the tree shaking for statically imported files included in async chunks could make it very easy for people to split their bundles. As you said it does require having pure functions in the file. In flux architectures like vuex and probably redux and mobx, everything needed by the function is injected or available through _context_. As we were thinking of the next iteration of Vu

[2019-04-18 09:57] bartaz commented on #2683
@sokra What are the security concerns of using inline scripts to pass data?

Using something like:
[code]

seems much more explicit and controlled then:
[code]
and having this specific element found by id inside of bundled module, data parsed, etc.

Are there any webpack docs that explain it in a bit more detail?

[2019-04-18 10:02] evilebottnawi commented on #6933
Solved in #7038

[2019-04-18 10:02] #6933 closed

[2019-04-18 10:06] evilebottnawi commented on #6525
@mc-zone :+1: Will reviewed in near future

[2019-04-18 11:37] manucorporat commented on #6719
Any update on this one? `import.meta` is already an important part of the platform and any dependency using it will make webpack automatically to crash.

Could at least update the webpack's parser to not crash?

[2019-04-18 13:21] #7491 closed

[2019-04-18 17:21] #7546 closed

[2019-04-18 19:24] joker-777 opened #9048 "library isn't available anymore in window after adding splitChunks"
# Bug report

**What is the current behavior?**

By using a library name and returning an object in our entry files we were able to make certain functionality accessible through window.<library name>.
Since we added the splitChunks optimization, this doesn't work anymore. `window.<library name>` is undefined.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is th

[2019-04-18 20:10] daprahamian opened #9049 "guidance for node-only libraries being consumed by webpack"
A few weeks ago, a change in the [`mongodb`](https://www.npmjs.com/package/mongodb) project caused errors for users of webpack (you can see more details [here](https://jira.mongodb.org/browse/NODE-1925))

`mongodb` is fundamentally a node-only library, and is not meant to be run in a browser environment. We had assumed that users would not try to run the library through `webpack` since it could be

[2019-04-19 05:30] princed commented on #1050
😐

[2019-04-19 06:50] igorkamyshev commented on #7378
Sorry, it was deprecated. =(

[2019-04-19 08:11] #6097 closed

[2019-04-19 10:42] evilebottnawi commented on #9048
Please create minimum reproducible test repo

[2019-04-19 10:47] evilebottnawi commented on #9049
Please use issue template otherwise issue as closed

What do you mean? Why this library can be bundled? Can you create minimum reproducible test repo for investigation?

[2019-04-19 13:59] andrefox333 commented on #8656
@Jaskaranbir Yeah that worked for me. 🙏

[2019-04-19 14:10] jimmykane commented on #8656
My only solution was to migrate to Yarn and get rid of NPM once and for all.
That does not require to be forced to include all weird tips or workarounds for such a major issue.
During my 7 years of development, I had many bugs and much time wasted with NPM.
Farewell.

[2019-04-19 14:44] dstarosta commented on #8656
I had to include the `"acorn": "6.1.1"` into `devDependencies` with Webpack 4.29.0 and NPM. Then you have to delete the lock file or run `npm dedupe` for the Webpack not to fail.

Webpack 4.30.0 seems to work without the `acorn` dependency.

[2019-04-19 20:01] arpowers commented on #9020
I'm having a similar issue, I have a node_modules folder nested in a project which is unrelated to the webpack build. But it's getting scanned somehow and takes the build process from 15s to 100s (or webpack just crashes)

[2019-04-19 20:49] joker-777 commented on #9048
@evilebottnawi Thanks for your response. A test repo you can find [here](https://github.com/joker-777/webpack-starter).
IMPORTANT: I already figured out why it is happening. We want to load all javascript resources [asynchronously](https://github.com/joker-777/webpack-starter/blob/master/webpack.config.js#L35). If the js resources are loaded synchronously, the library window attribute is actually

[2019-04-19 21:13] Bobris commented on #7782
Here is example how this problem is solved in Bobril-build:
Input: https://github.com/bobril/bbcore/tree/master/Lib/Bundler/Js/Tests/Inputs/TwoLazyLibsSharingLib

Output: https://github.com/bobril/bbcore/tree/master/Lib/Bundler/Js/Tests/Expected/TwoLazyLibsSharingLib

Look inside files with "cb-" prefix (it means compressed and beautified by uglify).

Basically shared module is changed to be lazy

[2019-04-19 21:40] gangupraveen commented on #4921
sometimes in the import ionic-angular is changed as 'ionic-angular/umd'. just remove /umd it should be ok

[2019-04-20 19:09] sokra commented on #9042
Looks like a bug. Send a PR

[2019-04-22 02:15] Tusta commented on #4258
Install with npm jquery and paste the code below to webpack.config.js

[code]
And import this code to main file.
[code]

So it worked for me.

[2019-04-22 03:57] artem-malko commented on #9041
@evilebottnawi up!)

[2019-04-22 06:45] HarshitChhipa commented on #959
This is my webpack.dev.js and I m having the same issue any help would be apprciated....
I have Tried everything to resolve it but nothing works.

/**
 * Weback.dev.js is the main build file which is used for various tasks for local dev
 */
const webpack = require('webpack');
const writeFilePlugin = require('write-file-webpack-plugin');
const webpackMerge = require('webpack-merge');
const BrowserS

[2019-04-22 06:50] malash opened #9053 "Wrong loaders order when using inline match resource"
# Bug report

I'v create a repo to reproduce the issue here https://github.com/malash/webpack-inline-match-resource-issue

**What is the current behavior?**

The demo from [inline matchResouce document](https://webpack.js.org/api/loaders/#inline-matchresource) doesn't work.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Th

[2019-04-22 06:51] malash commented on #9053
cc: @Jimexist @imyelo

[2019-04-22 07:41] #8154 closed

[2019-04-22 08:26] maoxiaoke commented on #7197
I tried the following steps:

[code]

Then

[code]
After that, you can run `webpack xxx` in root auth. May it help!

[2019-04-22 10:11] marcofugaro commented on #4453
At the moment webpack doesn't even tree-shake unused function/variables that are declared in the same file (the `one-file` way). Not even when using `sideEffects: false` for a library.

A real-world example is the library three.js, which [exports using es6 modules but from the same file](https://github.com/marcofugaro/three.js/blob/dev/build/three.module.js).

When you import a single item `import

[2019-04-22 10:51] evilebottnawi commented on #9041
Because using require(something/other) mean load something package from node modules and load other from this package, I still can't understand problem and how it is related to execute

[2019-04-22 10:52] hangaoke1 commented on #8656
o my god, i spend many hours on this problem TTTTTTT

[2019-04-22 11:13] artem-malko commented on #9041
@evilebottnawi I have custom exec in my loader https://github.com/artem-malko/webpack-loader-exec-test/blob/master/loader/index.js#L7
I need it for some reasons.
So, I try to execute this module https://github.com/artem-malko/webpack-loader-exec-test/blob/master/src/moduleA/index.js
You can find require('moduleB') there. This require is resolved by webpack config https://github.com/artem-malko/web

[2019-04-22 11:36] evilebottnawi commented on #9041
/cc @sokra

[2019-04-22 12:45] chuilee commented on #4817
[https://babeljs.io/docs/en/babel-plugin-transform-es2015-modules-commonjs](url) it works for me

[2019-04-22 13:46] ryan-roemer commented on #4453
My original error reproduction repository encompassed both "one-file" tree-shaking and "multiple file re-exports". I just updated to:

[code]

and everything still fails tree-shaking for both of those as expected: https://github.com/FormidableLabs/webpack-tree-shaking-multiple-entry-points (see [`src/one-file`](https://github.com/FormidableLabs/webpack-tree-shaking-multiple-entry-points/tree/maste

[2019-04-23 06:01] malash commented on #9053
cc: @sokra @xtuc @yyx990803

[2019-04-23 07:06] #8116 closed

[2019-04-23 07:41] #8153 closed

[2019-04-23 09:45] evilebottnawi commented on #7172
Hi, sorry for delay, you can send a PR with fix :+1:

[2019-04-23 09:55] evilebottnawi commented on #9053
PR welcome with fix

[2019-04-23 10:09] PTCNelsonSilva commented on #8659
We should at least have the ability to remove the attribute on the generated <script> tags since its considered obsolete and causes HTML validation tests to fail.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#Deprecated_attributes

[2019-04-23 10:41] sokra commented on #9044
Send a PR.

The behavior is already implemented, only the error need to be removed.

[2019-04-23 10:45] sokra commented on #9041
`exec` will execute the source code in node. This won't apply any webpack logic.

[2019-04-23 10:54] artem-malko commented on #9041
@sokra so, is it possible to apply webpack logic?)

[2019-04-23 11:04] evilebottnawi commented on #9041
multi compilation mode

[2019-04-23 11:33] irudoy commented on #8659
@PTCNelsonSilva can you open an issue for that?

[2019-04-23 11:41] depoulo commented on #5627
This is no longer true:
- https://mathiasbynens.be/notes/globalthis
- https://github.com/ungap/global-this

[2019-04-23 12:28] SassNinja commented on #9007
Any update on this?

@sokra would be awesome if you can clarify things a bit (why `chunkFilename` can't be a function)

[2019-04-23 12:34] evilebottnawi commented on #9007
@SassNinja i think we can make `chunkFilename` as Function

[2019-04-23 12:37] mtlewis opened #9055 "Reference to variable declared via spread operator is incorrectly replaced with module reference"
# Bug report

**What is the current behavior?**
When Webpack replaces module references during bundling, it incorrectly replaces shadowing variables with the same name as an imported module if those variables are declared via the spread operator.

**If the current behavior is a bug, please provide the steps to reproduce.**
[This repro](https://github.com/mtlewis/webpack-spread-issue-minimal-repro)

[2019-04-23 12:51] evilebottnawi commented on #9055
Yep bug, feel free to send a PR, thanks for issue

[2019-04-23 13:07] Pezhvak commented on #3645
for me this worked:
[code]

[2019-04-23 13:08] artem-malko commented on #9041
@evilebottnawi what does it mean?

[2019-04-23 13:10] 321zeno commented on #138
@jafar-rezaei

I ended up adding this to my Webpack config:
[code]

[2019-04-23 13:22] evilebottnawi commented on #9041
@artem-malko type, child complication, you can find example here https://github.com/webpack-contrib/mini-css-extract-plugin/blob/master/src/loader.js#L81

[2019-04-23 13:22] #9041 closed

[2019-04-23 13:38] artem-malko commented on #9041
Oh, thanks) I'll try it

[2019-04-23 13:48] filipesilva commented on #7369
@sokra I don't quite follow why this is correct behaviour.

Webpack supports a few different [targets](https://webpack.js.org/configuration/target/), one of which is `web`, described as `Compile for usage in a browser-like environment (default)`.

In the example above the target is set to `web`. But even if it wasn't, it would default to `web` anyway.

In the browser, the provided code is valid. I

[2019-04-23 13:57] filipesilva commented on #7369
Here's an example of how this bug can affect existing code: https://github.com/angular/angular/issues/30050

In this issue, a user has a project that runs correctly when built with Angular CLI (which uses webpack) and using `es5` entry points. When the same app is using `es2015` entry points, it fails at runtime with the error described in this issue.

The difference between these entry points is

[2019-04-23 14:40] jolestar commented on #6475
Create a URL object by Buffer, then use instantiateStreaming async method to load wasm.

    const blob = new Blob([buffer], { type: "application/wasm" });
    const url = URL.createObjectURL(blob);
    wasm = await instantiateStreaming(fetch(url), {});

https://stackoverflow.com/a/55813693/334103

[2019-04-23 15:18] pppglowacki commented on #8656
@Jaskaranbir Yeah that worked for me too. 🙏

[2019-04-23 15:26] tstirrat15 commented on #8886
More examples of people seeing this issue here:

https://github.com/facebook/react/issues/13991

The fix described above didn't end up working - I ran into the same hooks error described in the issue above. What did fix it was removing `react` from externals and then adding aliases for resolution:

[code]

Which still seems to point to some issue with webpack internals. Is this being tracked anywh

[2019-04-23 16:32] ifeltsweet commented on #6379
This is still happening with v4.30.0

[2019-04-23 16:34] evilebottnawi commented on #6379
you still have old webpack package, maybe you use global webpack installation

[2019-04-23 16:39] ifeltsweet commented on #6379
After a bit of reading I think this is Babel to blame - https://stackoverflow.com/questions/34973442/how-to-stop-babel-from-transpiling-this-to-undefined-and-inserting-use-str

[2019-04-23 16:49] hksix commented on #2131
I've had this issue come up and the way to resolve it by doing the following. First make sure that webpack isn't listed as a dev dependency in your package.json.

1. Delete node modules
2. Delete package.lock.json
3. Delete the dist folder
4. Double check to see if the entire node_modules folder and dist folder are deleted.
5. Run NPM cache verify
6. Run NPM install

[2019-04-23 16:54] rodogir commented on #8656
In our setup, we import TS code from the `node_modules` folder. Our webpack configuration takes that into account and has always transpiled our code up until the webpack update.

Now we are seeing the exact same issue.
[code]

We were **not** able to make it work with the mentioned solutions. I double checked the `yarn.lock` file to make sure that the right version of `acorn` is used.

Is in my ca

[2019-04-23 17:26] bogem commented on #8656
@rodogir same error I see after the update of typescript to 3.4.1 and babel to 7.4.3. We use an older webpack (4.28.4), so it's not the webpack issue.

The only solution I found :
[code]

[2019-04-23 17:29] Pauan commented on #6475
@jolestar Don't forget to call [`URL.revokeObjectURL`](https://developer.mozilla.org/en-US/docs/Web/API/URL/revokeObjectURL) afterwards:

[code]

[2019-04-23 17:32] JoshRobertson commented on #8656
@bogem

I believe that is a regression in the @babel/parser in ^7.40 : https://github.com/babel/babel/issues/9763

I've used a yarn resolution to avoid the latest version: `@babel/parser": "7.3.4"`

[2019-04-23 17:53] bogem commented on #8656
@JoshRobertson yes, thank you, that solved the issue!

[2019-04-23 18:09] noppa commented on #7369
What makes this particularily difficult to deal with is that top level variable `module` _is_ allowed when `devtool'` is some of the eval-based options, so things will work in development but break on production (at runtime, not at compile time).

I ended up making [a simple Babel plugin](https://github.com/noppa/babel-plugin-disallow-top-level-identifier) that changes those problematic top-level

[2019-04-23 18:18] christophpre commented on #8302
Invalid source-maps with 4.29.6 and 4.30.0.

devtool: 'source-map'
babel-loader
babel/preset-env

Although it doesn't seem to have anything to do with babel, since I get invalid source maps (wrong line number) even when removing babel completely.

[2019-04-23 19:48] twickstrom opened #9056 "devServer open: 'chrome'"
# Bug report

**What is the current behavior?**
I am on macOS with Safari as my default browser. I am attempting to open Google Chrome with the following in my webpack config:

[code]

This only works is chrome is already open on my Mac. If all browsers are closed it will open Safari if Chrome is open it will open the build in Chrome.

I have also tried
[code]
**If the current behavior is a bug, p

[2019-04-23 23:18] CryptoCatOkiOKi commented on #6890
make a empty index.js file in src folder and works

[2019-04-24 02:50] calebjanderson opened #9058 "TypeError: Cannot read property 'replace' of undefined"
# Bug report

**What is the current behavior?**

Construction of webpack compilation instance throws TypeError.

**If the current behavior is a bug, please provide the steps to reproduce.**

From WSL with node installed
[code]

**What is the expected behavior?**

Calling `new webpack.Compiler()` should result in creation of webpack Compiler instance and not throw TypeError.

**Other relevant infor

[2019-04-24 09:11] abhinavsingi commented on #1403
Webpack-4
Babel-7
Monorepo - Yes

Using babel.config.js at the root
Writing webpack.config.babel.js

No clear way to make this scenario work?

[2019-04-24 10:23] evilebottnawi commented on #9056
It is `os` limitations, please read https://github.com/sindresorhus/open#app, we can't do something on our side, maybe you can open issue in https://github.com/sindresorhus/open repo

[2019-04-24 10:23] #9056 closed

[2019-04-24 10:25] evilebottnawi commented on #9058
Please provide minimum reproducible tst repo

[2019-04-24 12:47] fleck commented on #8677
I've noticed this bug also but didn't have the time to dig into it and ended up just doing without a dynamic import.

here's our webpack config:

[code]

[2019-04-24 13:32] PaulRBerg commented on #7361
With webpack 4, do you even need any wasm loader? In this [official-example][official-example], they don't seem to be using anything.

[official-example]: https://github.com/webpack/webpack/tree/master/examples/wasm-simple

[2019-04-24 14:38] ernestjumbe commented on #6460
My understanding of this issue is that if `webpack --development` from the command line you will have do:
[code]
and if you execute it from your `package.json`  i.e:`npm run dev` where your configuration is:
[code]

Then it picks up:
[code]

[2019-04-24 17:05] Amirq17 opened #9059 "webpack doesn't update build"
Hi everyone.  When I `npm run build` my bundle does not update.
I tried reinstalling webpack, that helped, but turns out I have to do it every time when I want to update my bundle which is not really convenient. And sometimes, even after reinstalling webpack, my bundle doesn't update.
Here is my directory:
![image](https://user-images.githubusercontent.com/44486919/56678678-1a855380-66e5-11e9-8975

[2019-04-24 17:07] evilebottnawi commented on #9059
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use gitter or stackoverf

[2019-04-24 17:07] #9059 closed

[2019-04-24 18:07] filipesilva opened #9060 "`ReferenceError` on circular dependencies with ES2015 `let`"
# Bug report

**What is the current behavior?**
When using `export let` and circular dependencies, runtime will have `ReferenceError` errors.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

This repository contains only three source files:
[code]
[code]
[code]

Running `webpack-cli --mode development --devtool source-map` will produce a bundle at `dist/main.js

[2019-04-24 19:29] hannadrehman commented on #2431
[code]

[2019-04-24 20:04] sokra commented on #9060
This is working as intended. With circular dependencies you get TDZ errors.

It's similar to the errors you get in this code:

[code]

[2019-04-24 20:08] sokra commented on #9058
The `Compiler` constructor has an argument. Provide it.

But the better question is: Why do you want to instanciate a Compiler? Why not using the webpack node API: `webpack(options)` which returns a `Compiler`?

[2019-04-24 20:11] #7458 closed

[2019-04-24 21:51] #7690 closed

[2019-04-24 22:22] filipesilva commented on #9060
Hi @sokra, thank you for looking at this. You're completely right.

This is expected behaviour with circular dependencies and `let`/`class` (both suffer from TDZ). I also tried Rollup and Chrome with individual ES modules and they both behave the same as you describe.

[2019-04-24 22:22] #9060 closed

[2019-04-25 00:37] calebjanderson commented on #9058
Webpack documentation for [compiler hooks](https://webpack.js.org/api/compiler-hooks/) links to [this example](https://github.com/pksjce/webpack-internal-examples/tree/master/compiler-example) implementation. The example uses webpack version `^2.1.0-beta.25` and is not compatible with webpack v4.30.0. The version discrepancy was root cause of issue.

[2019-04-25 00:37] #9058 closed

[2019-04-25 01:50] wittibs commented on #6845
@birdy @evilebottnawi - I saw this issue was marked as "D0 first commit" so I decided to pursue it :P

In researching this issue, I think I understand the problem, but I am unable to reproduce the issue with webpack not picking up on changes in symlinked module. I created a [sample repo](https://github.com/wittibs/webpack-issue-6845) to demonstrate how I am unable to reproduce this issue. Is this

[2019-04-25 05:47] trotyl commented on #7369
@sokra

That's not true, it's only an error in CommonJS source file, not ES Module source file.

Try `node --experimental-modules index.mjs` and it will work correctly:

[code]

I don't think anyone here is trying to redeclare a `module` variable in CommonJS file.

[2019-04-25 08:21] rodogir commented on #8656
@JoshRobertson I saw that too and am still seeing the mentioned error with both "@babel/parser" and "acorn" resolutions.

Already spent some hours debugging the problem. I'll try to create a minimal reproduction.

[2019-04-25 10:05] #8148 closed

[2019-04-25 11:47] evilebottnawi commented on #6496
bump

[2019-04-25 13:51] #6464 closed

[2019-04-25 15:04] joker-777 commented on #9048
@evilebottnawi Would be great if you could have a look. Thanks!

[2019-04-25 15:06] icezeko opened #9064 "Webpack error with node 12"
I updated my nodejs version on my machine to node 12.0 and when i run (npm run dev) to start my project i get a:
ERR! code ELIFECYCLE
npm ERR! errno 3221225477
npm ERR! exiles@1.0.0 dev: `webpack-dev-server --inline --progress --config build/webpack.dev.conf.js`
npm ERR! Exit status 3221225477
npm ERR!
npm ERR! Failed at the exiles@1.0.0 dev script.

The log file [log](https://pastebin.com/NPduWFP

[2019-04-25 15:28] evilebottnawi commented on #9064
Problem in webpack-dev-server

[2019-04-25 15:28] #9064 closed

[2019-04-25 16:00] RevanScript commented on #8893
@chnliquan have you found the solution? I'm experiencing the same problem.

[2019-04-25 18:16] evilebottnawi commented on #8275
Not webpack problem, you need install plugin for babel-loader

[2019-04-25 18:16] #8275 closed

[2019-04-25 19:00] sschaefer-rms commented on #2410
How do I replace the configurations that are located in resolveLoader.root and resolveLoader.fallback in the new API?

[2019-04-25 22:12] kelihansen commented on #6094
Upgrading from webpack-dev-server@3.3.0 to webpack-dev-server@3.3.1 was also a breaking change for us, apparently because of https://github.com/webpack/webpack-dev-server/commit/b31cbaaf49417eb4adf8949cd87c36ca82653b25. After seeing this error and (way too much) investigating, we seem to have fixed the issue by adding ''webpack-dev-server/client?http://localhost:3100' to our `entry` array.

[2019-04-25 23:15] captbaritone opened #9067 "Extra tiny chunk created when transitively dynamically importing a module that shadows Node builtin"
# Bug report

Creating a dynamic `import()` which either directly or transitively includes a module named `stream` results in an extra, tiny, chunk being generated.

**What is the current behavior?**

An extra chunk (`2.js`) is created:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Clone `https://github.com/captbaritone/webpack-node-import-bug`
2. cd int

[2019-04-26 02:26] moderndeveloperllc commented on #8010
@RebeccaStevens Just a note that the [webpack-babel-multi-target-plugin](https://www.npmjs.com/package/webpack-babel-multi-target-plugin) has this functionality. It would be nice if this was in the main package though!

[2019-04-26 05:37] a15218378694 opened #9068 "vue项目build时候报内存溢出, 仅少数电脑出现这种情况, 同一个项目, 网上各种方法没法解决"
![Snipaste_2019-04-26_13-36-55](https://user-images.githubusercontent.com/29919045/56785586-79071a80-6828-11e9-86e3-b36c56122fe1.png)
![Snipaste_2019-04-26_13-37-21](https://user-images.githubusercontent.com/29919045/56785587-79071a80-6828-11e9-8e69-00636a89c91c.png)

[2019-04-26 06:11] #6248 closed

[2019-04-26 07:22] montogeek commented on #9068
Please use English, that error is a RAM limit error.

[2019-04-26 10:05] #9068 closed

[2019-04-26 12:54] bstst commented on #6818
Was investigating this right now. And can't see this happening any time soon.

You library may be imported in to different projects with different asset delivery pipelines, and to deliver an async chunk your library needs to know where to look for it, a generic `publicPath: '/assets/` won't simply work here. And for you library to know where to look for a chunk — there needs to be a generic way to

[2019-04-26 19:19] marcusjwhelan commented on #8431
Same issue. but with

[code]

No matter how much memory I add it still crashes

[2019-04-26 19:24] evilebottnawi commented on #8431
@marcus Please provide full error stack or create minimum reproducible  test repo

[2019-04-26 21:50] TheLarkInn commented on #9067
@captbaritone Have you tried setting just

[code]
?

[2019-04-26 21:54] TheLarkInn commented on #9067
@sokra is the empty chunk technically a bug?

[2019-04-26 22:10] TheLarkInn commented on #9049
Hi @daprahamian!!!!!!

A few points here based on your comments in your issue tracker:

node developers/authors are encouraged to bundle their JavaScript even run on node. This is because it significantly reduces runtime and startup cost of that service running on node. For those who choose to do this, they do so using the `target: node` property. It is [documented in our documentation](https://we

[2019-04-26 22:12] TheLarkInn commented on #9048
@joker-777 Unless you are a Multipage App Architecture, I would recommend not using the `splitChunks` property. Does turning it off work also?

[2019-04-26 22:17] TheLarkInn commented on #9038
We did considerably alter hashing in webpack 5 so I think we should consider how this works there as well because I don't want to implement a v5 API that obsoltes v4's need also.

@jeffposnick Is the amount of cachebusting that large for devs running new builds every time currently?

[2019-04-27 11:56] joshuan opened #9070 "Webpack crash on nodejs@12"
# Bug report

**What is the current behavior?**

If use nodejs@12, webpack crash with error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- `nvm use 12`
- `npm i webpack webpack-cli`
- `./node_modules/.bin/webpack`

**What is the expected behavior?**

Any, at least run

**Other relevant information:**
webpack version: 4.X.X and 5.X.X-alpha.X
Node.js versio

[2019-04-27 16:59] montogeek commented on #9070
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-04-27 17:14] Zazck commented on #9070
same issue here, when running an Aurelia project with `au run --watch`
it shows
`#
# Fatal error in , line 0
# Check failed: U_SUCCESS(status).
#
#
#
#FailureMessage Object: 00000090F37ADDC0`
the node version is
`node --version
v12.0.0`
so the example maybe just create a new aurelia project

[2019-04-27 18:05] montogeek commented on #9070
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-04-27 18:06] omid265 commented on #7494
npm install -g --save-dev webpack-cli

[2019-04-27 18:11] joshuan commented on #9070
@montogeek for reproduce issue you not need project. Just go this code:
```cd /tmp && npm i webpack webpack-cli && ./node_modules/.bin/webpack```
it is only important - node.js version: 12.0.0

[2019-04-27 20:57] hp8wvvvgnj6asjm7 commented on #1194
Same here for FF Developer Edition

[2019-04-28 07:29] coocssweb opened #9071 "images was damaged after the build"
# Bug report

**What is the current behavior?**

images was damaged after the build. and the photo can't even preview.
recently, i update babel to 6.7.7, webpack to 4.30.0, file-loader to 3.0.1, url-loader to 1.1.2, cause this bug, and i can't solve it. Can you take a moment to help.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is the webpack.config.js link [

[2019-04-28 07:59] DJAlejandro opened #9072 "Is it correct to use NamedChunkPlugin in production?"
I know the difference between HashedModuleIdsPlugin and NamedModulesPlugin .But What about NamedChunkPlugin.Is it correct to use NamedChunkPlugin in production?

[2019-04-28 08:20] DJAlejandro commented on #9072
[code]

 If setting namedModules:true, namedChunks: true, moduleIds:hashed.Do I need NamedModulesPlugin, NamedChunksPlugin, HashedModuleIdsPlugin anymore???

[2019-04-28 09:02] Aarbel opened #9073 "How to solve warning: `host.client` does not match `host.server`. This can cause unpredictable behavior in the browser."
Hi webpack teams, how could i fix this warning ? Thanks a lot for your help !

`host.client` does not match `host.server`. This can cause unpredictable behavior in the browser.`

![image](https://user-images.githubusercontent.com/25119847/56861814-f8215d80-69a4-11e9-890d-7f7216e9877c.png)

**WEBPACK CONFIG**
[code]

[2019-04-28 10:10] alreadyExisted commented on #9073
Sorry, i'm not from the team webpack)
I think you need to create minimum reproducible test repo.
Maybe this will help you: https://github.com/webpack-contrib/webpack-serve/issues/56#issuecomment-377912611

[2019-04-28 11:33] junjie-lean commented on #9070
我也发现了这个问题，webpack-dev-server在nodev12的环境下不能要运行。而vue-cli和Create-react-app都是用到了这个包。目前我的解决办法是把node环境降级到v11.5

[2019-04-28 14:46] joker-777 commented on #9048
@TheLarkInn Thanks a lot for your answer. Yes, it works without `splitChunks`. Why would you not recommend using it? When exactly do you think one should use `splitChunks`? When is an app for you a Multipage App Architecture?

[2019-04-29 01:38] #9071 closed

[2019-04-29 04:55] slikts commented on #8537
@evilebottnawi Would you have a source for what's changed in node 10 that would make Chokidar unnecessary?

[2019-04-29 08:54] eliot-akira commented on #9012
The issue is solved on Node 12.x.

[2019-04-29 08:54] #9012 closed

[2019-04-29 10:02] evilebottnawi commented on #9070
I think problem in webpack-dev-server, please create minimum reproducible test repo

[2019-04-29 10:03] evilebottnawi commented on #9073
`webpack-serve` is deprecated, please use `webpack-dev-server`

[2019-04-29 10:03] #9073 closed

[2019-04-29 10:05] evilebottnawi commented on #9038
@TheLarkInn problem not in memory, problem what we need detect/change existing hashes

[2019-04-29 10:05] evilebottnawi commented on #9072
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Yes it is normal to use this plugin, please use gitter or stackoverflow in future for questions, thanks

[2019-04-29 10:05] #9072 closed

[2019-04-29 13:17] captbaritone commented on #9067
@TheLarkInn I've confirmed that `node: { stream: false }` behaves the same as `node: false` and allows me to sidestep the issue in this specific case.

[2019-04-29 15:24] filipesilva opened #9075 "webpackChunkName: "[request]" only works with context dependencies"
# Bug report

**What is the current behavior?**
Using `webpackChunkName: "[request]"` on `import` only works if the request is a context dependency (one with a variable name).

**If the current behavior is a bug, please provide the steps to reproduce.**
-
- create empty `src/lazy.js`
- create `src/index.js` with `import(/* webpackChunkName: "[request]" */ './lazy');`
- run `npx webpack-cli`:
[code

[2019-04-29 20:45] axed commented on #9070
I am getting the same result, taking the reproducing steps that OP provided. Any create-react-app that is based on webpack is now broken with node 12.0.0.

[2019-04-29 20:49] jeffposnick commented on #9038
👋 @TheLarkInn

I am definitely interesting in seeing something implemented that plays nicely with v5. If there are changes planned for v5 related to the `[*hash*]` filename replacement code path, then perhaps it makes sense to wait until those are finalized before attempting this new functionality.

As @evilebottnawi says, this is not related to optimizing resource consumption during the build pro

[2019-04-29 20:54] hiroppy commented on #9070
Currently, this problem does not occur in Node12.1.0 so I'll close.

[2019-04-29 20:54] #9070 closed

[2019-04-29 22:55] noahgrant opened #9076 "Follow-up on still needing to use require.ensure"
## Feature request

**What is the expected behavior?**/**What is motivation or use case for adding/changing the behavior?**

Awhile back I created an issue trying to make a case for [keeping around `require.ensure`](https://github.com/webpack/webpack/issues/5909), which I knew would get deprecated as `import()` was adopted. But the two are not interchangeable, and I'd like either to add webpack-sp

[2019-04-29 23:05] chrisui opened #9077 "Fails to parse BigInteger Literal"
# Bug report

**What is the current behavior?**

[code]

Causes the following error:

[code]

Compiling from [typescript ](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-2.html) to `esnext`.

[Repro Repo](https://github.com/chrisui/bigint-literal-webpack-issue)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

[2019-04-29 23:23] KenEucker commented on #8656
Also having this issue and I can't find a single combination of webpack and babel to get past the error:

[code]

[2019-04-30 02:08] liqiang0335 commented on #2031
work for me

[2019-04-30 02:51] jizhangattw commented on #959
Awesome, it works.
https://webpack.js.org/configuration/optimization/#optimizationconcatenatemodules

[2019-04-30 04:03] smac89 commented on #1736
You can supply the [`writeToDisk`](https://webpack.js.org/configuration/dev-server/#devserverwritetodisk-) option to have the files written to disk instead of in memory.

[2019-04-30 07:05] paulmorar opened #9078 "No treeshaking when importing *"
# Bug report

**What is the current behavior?**

If you destructure your imports (ie `import { something } from './nothing'`) webpack will only bundle that variable/function/whatever you imported - as expected.
If you don’t destructure your imports (ie `import * as nothing from './nothing'`), and only use one of the variable/function defined in that file, webpack will kindly not do any treeshaking

[2019-04-30 07:48] qiuzuhui commented on #8115
Is there any official solution for this case. in my case i need build a library. but can't limit the path where others place the files in. so i suggest to load chunk from main file with relative path instead relate to html file.

[2019-04-30 10:00] evilebottnawi commented on #8287
Bump

[2019-04-30 10:01] evilebottnawi commented on #9077
Can you create minimum reproducible test report?

[2019-04-30 10:08] ilprima opened #9079 "Ionic 4: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema"
Hi, i have an Ionic 4 project and if I run my app I have this error. I checked a lot of solutions but none helps me.

`Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration has an unknown property 'optimization'. These properties are valid:
   object { amd?, bail?, cache?, context?, dependencies?, devServer?, de

[2019-04-30 10:15] evilebottnawi commented on #9079
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use gitter or stackoverflow for questions, thanks

[2019-04-30 10:15] #9079 closed

[2019-04-30 10:15] evilebottnawi commented on #9079
You have invalid configuration please read error message

[2019-04-30 10:42] ilprima commented on #9079
Done: https://stackoverflow.com/questions/55919228/ionic-4-invalid-configuration-object-webpack-has-been-initialised-using-a-conf

[2019-04-30 11:17] chrisui commented on #9077
@evilebottnawi is there a specific format for a test report? Happy to provide. If you attempt to build a bundle with that one line script above it will fail.

[2019-04-30 11:24] evilebottnawi commented on #9077
reproducible test repo without typescript, maybe bug in typescript, but i don't think

[2019-04-30 12:12] ViceIce commented on #5087
webpack should have a peeDependency to `events`, because hot module loading requires it

https://github.com/webpack/webpack/blob/81cf088cd6a0231b94fa2399bd29294eccee1907/hot/emitter.js#L1

[2019-04-30 13:14] chrisui commented on #9077
That syntax is not typescript.

https://github.com/tc39/proposal-bigint
http://2ality.com/2017/03/es-integer.html#core-parts-of-the-proposal

[2019-04-30 13:19] evilebottnawi commented on #9077
I know what is not typescript syntax, typescript - is transpiler and can have problems also, we use BigInt in our project and no problems with webpack, so i ask you create minimum reproducible test repo without typescript

[2019-04-30 13:39] chrisui commented on #9077
@evilebottnawi gotcha. Here's a repro https://github.com/chrisui/bigint-literal-webpack-issue

[code]

[2019-04-30 13:45] evilebottnawi commented on #9077
hm, we support stage 4 only without babel/transpiler (except dynamic imports), but BigInt in stage 3

[2019-04-30 14:12] chrisui commented on #9077
Ah, makes sense.

Bit of a shame since Stage 3 is all but complete but understandable.

[2019-04-30 14:17] evilebottnawi commented on #9077
Sometimes proposals on stage 3 were declined, so i don't think it is good idea support this out of box

[2019-04-30 14:39] marcusjwhelan commented on #8431
@evilebottnawi I have made a smaller repo. It looks like everything works fine but as I add more ts files are hooked up to the project with more interfaces the project then runs out of memory. My main error comes from /fork-ts-checker-webpack-plugin
Every time I get a memoryLimit error
Also cannot edit the plugin.

[2019-04-30 14:46] evilebottnawi commented on #8431
You can post issue in `fork-ts-checker-webpack-plugin` with reproducible test repo, maybe memory leak

[2019-04-30 14:48] marcusjwhelan commented on #8431
@evilebottnawi Their first response will be to edit the options of ForkTsCheckerWebpackPlugin. However much I try I can't seem to edit the plugin when using electron-webpack. It seems to always load ForkTsCheckerWebpackPlugin default values.

[2019-04-30 14:50] evilebottnawi commented on #8431
Maybe you can post issue in `electron-webpack` too

[2019-04-30 16:56] dnalborczyk commented on #9078
this is not destructuring, you are using `named imports`.

here you are importing the entire module, where you can access the exports via property notation.

named exports can be statically analyzed, whereas importing the full module underlies the rules of javascripts dynamic nature, hence that's the reason webpack doesn't do any tree shaking.

might be not intended. but it's probably a hard probl

[2019-04-30 20:56] smaranh commented on #5429
I am facing this bug in my Angular App and found out that the problem is with the version of `webpack-dev-server`. I had this in my package.json,
`"webpack-dev-server": "^3.1.4",`

I removed the caret(^) and now it works fine. I believe there is a bug in the recent version of `webpack-dev-server` that might be causing this.

[2019-05-01 01:59] shcarrico commented on #6496
bump

[2019-05-01 05:38] smac89 opened #9080 "How do I include all vendor libs into one and have it executed in browser"
**Do you want to request a *feature* or report a *bug*?**
Not sure if this is a bug or feature.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

What I am trying to do seems like a very easy task to me, but webpack is making it difficult.

I have an index.html which includes a bunch of javascript libraries at the top (jquery, bootstr

[2019-05-01 08:41] xtuc commented on #7565
I'm re-opening this issue because it can be used in an environement we are interested in and should be behind a flag for now.

[2019-05-01 12:29] evilebottnawi commented on #9080
@smac89 please use issue template, thanks

[2019-05-01 13:13] qiuzuhui opened #9081 "how to make main.js to load chunk files with relative path (in same folder)"
I'm trying to use webpack to build a library which use for many project for my team. it build the files include main.js and chunk files in a folder. but when i copy it to a sub folder of other server. and after loading main.js , it can't found the chunk files.  according the code in "jsonScripSrc" it load chunk files from the root.

my proposal is load chunk files from the same folder of main.js.

[2019-05-01 13:16] qiuzuhui commented on #9081
currently i override the jsonpScrptSrc function with
`return __webpack_require__.p + document.currentScript.src+ "/../" + ({}[chunkId]||chunkId) + ".js"`
it's a hacking way , and i need know if there some good way for it ?

[2019-05-01 13:20] evilebottnawi commented on #9081
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-05-01 13:20] #9081 closed

[2019-05-01 13:44] glen-84 commented on #5337
If I'm understanding [this](https://github.com/webpack/webpack/pull/7987#pullrequestreview-153760830) correctly:

* The `ExtendedAPIPlugin` adds `__webpack_hash__` to the runtime<sup>[1]</sup>.
* Because the global hash is included in the runtime, the `chunkhash` of the runtime needs to change with any change to the compilation.
* I'm assuming that the chunkhash of the runtime is calculated on sou

[2019-05-01 19:05] SheikhG1900 commented on #8656
I did the same but I had to run `npm dedupe` as well.

[2019-05-01 21:32] Oyatullo commented on #5073
./src/Card.js
Cannot find file: 'index.js' does not match the corresponding name on disk: '.\node_modules\React\react'.
can someone help with this

[2019-05-01 22:41] #8066 closed

[2019-05-02 00:24] nahidakbar commented on #6792
Bump! We recently updated our CRA/webpack and now we have this =(

[2019-05-02 03:39] kevinnio commented on #9078
Maybe this could be solved by dynamically analyzing imported modules with something like [Iroh](https://github.com/maierfelix/Iroh).

[2019-05-02 06:59] wood1986 opened #9082 "compiler.hooks.emit get called when I return true in the needAdditionalPass at this first time"
# Bug report

**What is the current behavior?**
`compiler.hooks.emit` get called when needAdditionalPass return true at this first time

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I would expect if needAdditionalPass return true, it should not emit. Is it by design?

**Other relevant information:**
webpack version:  4.30

[2019-05-02 12:01] mindplay-dk commented on #748
It's 2019 🤐

[2019-05-02 12:42] LeaveTheCapital commented on #2031
For anybody trying this on windows, it is necessary to replace node_modules\/MY_MODULE with node_modules\\MY_MODULE because of windows using backslashes for file paths.. anyone who has ever diagnosed a bug to being a conflict between the direction of slashes on Windows vs Unix you will feel my pain!

[2019-05-02 12:56] philippwalterJS commented on #4039
I was also running into this problem when using `@babel/preset-env` with the `useBuiltIns: 'usage'` option, switching to `core-js` version 2 is what fixed it for me.

[2019-05-02 13:33] evilebottnawi commented on #9082
It is by design on emit event some plugins can add other assets

[2019-05-02 13:33] #9082 closed

[2019-05-02 13:45] ranand commented on #7197
@seanlarge - how did you end up fixing this issue? I'm facing the same on my jenkins servers as well. Please let me know. Thanks!

[2019-05-02 13:52] Rickgrendel commented on #1312
I have the same issue when i use the dynamic `import()` the one with the promise. Webpack freezes and uses all my processor power.

[2019-05-02 17:15] jmoo commented on #8406
I've reproduced this issue here using vue-loader + babel-loader:
[jmoo/webpack-use-function-bug](/jmoo/webpack-use-function-bug)

Steps to reproduce:
1. Create two rules w/ loaders
2. Set up one of the rules with 'use' using a function
3. Make sure that the 'use' function returns a loader + options (it will succeed if 'options' is not used)
4. Create an entry that will trigger both rules + loaders

[2019-05-02 18:53] smac89 commented on #9080
Problem solved.

First I removed the vendor entry from my webpack.config.js; then I copied all the vendor libraries into a main.js file and imported them all there. Then I added `main.js` as an entry point in webpack.config.js

**main.js**
[code]

Next I also moved all the scripts from the script tags in my html file into `main.js`. These scripts are the ones that needed jquery

Finally in the `pl

[2019-05-02 18:53] #9080 closed

[2019-05-02 23:03] HarshitChhipa opened #9084 "Help needed on prod build."
I am building a project with webpack and angular.
I am not able to run my project in production.

**Any help would be appreciated here is my webpack file.**
`/**
 * Production config for the app.
 */
const webpack = require('webpack');
const webpackMerge = require('webpack-merge');
const ExtractTextPlugin = require("extract-text-webpack-plugin");
const MomentLocalesPlugin = require('moment-locales

[2019-05-03 03:01] #8150 closed

[2019-05-03 06:24] harrybin opened #9085 "webpack4 high CPU usage of dev-server on win10 system when server is idle even on "watch: false""
**Do you want to request a *feature* or report a *bug*?**
--> *bug*

**What is the current behavior?**
Using the latest versions of webpack and dev-server causes the dev-server to have high CPU usage in any case.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a project using create-react-scripts, usage some material-ui components and the datagrid devextreme. (

[2019-05-03 07:08] september28 commented on #8302
Also an issue for me!
I was on node v10.15.3 with npm v6.4.1 and I had the issue.
Just updated to npm v6.9.0 and the issue is still present.
Running a sourcemap through a validator produces:
[code]

[2019-05-03 07:41] #2983 closed

[2019-05-03 10:01] Ali-architrave commented on #1312
@evilebottnawi @bebraw, unfortunately, I can not provide you with a live example as I need a big  app to do so, but FYI the app I am working on is like 6 MB in one bundle,  I did three things to make it work:
1 - increase node memory (--max_old_space_size=8192)
2- using `thread-loader` to reduce the parallel jobs
3- I used to use an array as an output of `webpack-config` file to build two builds (

[2019-05-03 13:53] MohitTilwani15 commented on #9084
@HarshitChhipa This is the not the correct place to ask for help what you're expecting. If you're facing any issue in webpack which you think is webpack issue, then you should create a issue mentioning the details of the issue. Stackoverflow would be a correct place for this.

[2019-05-03 14:06] montogeek commented on #9084
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2019-05-03 14:06] #9084 closed

[2019-05-03 15:08] geongeorge commented on #6890
@CryptoCatOkiOKi  You are a lifesaver! But isn't there any way we can name our file other than index.js to not make the empty file?

[2019-05-03 18:46] jeffposnick opened #9088 "Unable to use SplitChunksPlugin in a child compilation"
# Bug report

CC: @prateekbh

**What is the current behavior?**
I am creating a child compilation inside of a custom webpack plugin.

In that compilation, I'd like the entry (which is created via `SingleEntryPlugin`) to have the optimizations that `SplitChunksPlugin` performs applied to it.

However, the `optimization.splitChunks` settings from the parent compilation is not carried over to the chi

[2019-05-03 19:27] bjyoungblood commented on #9085
I was also experiencing this exact same problem on macOS after having recently upgraded from Node 11 to 12. I was able to fix it by forcing a rebuild (`npm rebuild` or `yarn --force`). Deleting node_modules and reinstalling should have the same effect.

[2019-05-03 22:54] adjenks commented on #4861
Can you make it just dynamically import a file just purely based on the text string and do the chunking yourself instead of having webpack mangle the names for you?

[2019-05-04 02:51] #8157 closed

[2019-05-04 05:42] calidion opened #9090 "unable to generate prefetch html"
# Bug report

**What is the current behavior?**

for prefetch:
[code]
got:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
[code]

**Other relevant information:**
webpack version:  4.30.0
Node.js version: v10.15.3
Operating System:  Ubuntu
Additional tools:

[2019-05-04 06:05] AlexTeixeira commented on #9070
I confirm, updating to node 12.1.0 fix the issue.

[2019-05-04 15:33] marigerr commented on #6586
There is info on webpack docs under Module/Ruletype

https://webpack.js.org/configuration/module/#ruletype

![image](https://user-images.githubusercontent.com/15229372/57181330-89576f00-6e92-11e9-8895-01a95e860ad1.png)

[2019-05-04 18:01] #8235 closed

[2019-05-04 19:42] jeffposnick commented on #9088
@prateekbh, who's looked into similar issues in the past, came up with the following config for a manually created `SplitChunksPlugin` which appears to have some effect. (I need to tweak it a bit, but at least it is spitting out a new chunk.)

[code]

I'm not sure why `chunks: 'all'` wasn't sufficient, though. Maybe someone from the webpack core team has some thoughts there, and if anything, this

[2019-05-05 06:54] apiel opened #9092 "HMR not working with copy file"
I am using a nodejs script to write source code files in "src" folder. Unfortunatelly HMR doesn't work very well with those files, sometime it detect the change, sometime not.

For that I am using `copy` from `fs-extra`. I tried as well with `readFile` and `outputFile`. What would be the right way to write in the src folder with nodejs and to get properly detected by HMR?

(I wonder if this would

[2019-05-05 19:03] natew commented on #8787
Funny when you re-run into old issues you forgot you opened, in a totally different context!

For some reason this only happens occasionally, if I refresh it goes away usually.

![image](https://user-images.githubusercontent.com/12100/57198913-852c5f80-6f2d-11e9-9b85-3d80f1ec2ba5.png)

Relevant line of code:

![image](https://user-images.githubusercontent.com/12100/57198916-95443f00-6f2d-11e9-95f1

[2019-05-05 23:11] gtournie commented on #5433
I think the use case mentioned by @kidwm is pretty relevant. I need to generate 2 bundles: one with modules and one without.

I can generate 2 bundles with multiple configurations, but my html entry point generated by HtmlWebpackPlugin will never have access to the 2 file names. I can't hard code them either because I'm using [hash] in the file names.

[2019-05-06 05:25] harrybin commented on #9085
@bjyoungblood thanks for your hint. I completely deleted the node_modules folder and installed again.
No change. The dev server still watches all d.ts files within the node_modules folder and causes 60% CPU.

[2019-05-06 07:01] depoulo commented on #5433
@gtournie this is how my team solved that (works with npm scripts as well):

[code]

Of course it's more a hack-around.

[2019-05-06 08:59] zhuqingsong59 opened #9093 "about Dynamic Load"
i want to do Dynamic Load in webpack4,but faild
![image](https://user-images.githubusercontent.com/13329506/57215618-06fcb580-7020-11e9-9b93-0a5838955e1b.png)
![image](https://user-images.githubusercontent.com/13329506/57215652-2562b100-7020-11e9-89f9-1a109a7ed265.png)
it means i can not use 'require.ensure' like this way?
webpack: v4.30.0
babel-core: v6.22.1
vue-cli: v2.9.6

[2019-05-06 09:38] evilebottnawi commented on #9093
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use gitter or stackoverf

[2019-05-06 09:38] #9093 closed

[2019-05-06 09:45] evilebottnawi commented on #9092
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

hmr use memory and you can't us

[2019-05-06 09:45] #9092 closed

[2019-05-06 09:54] evilebottnawi commented on #1312
/cc @bebraw please stop reopen old issues, It is very uncomfortable and may confuse developers, we need open new issues on new problems, thanks

@Ali-architrave we still need reproducible test repo, maybe some of your loaders/plugins have memory leak and using memory ineffective way, please open new issues with reproducible test repo, thanks

[2019-05-06 09:54] #1312 closed

[2019-05-06 09:55] evilebottnawi commented on #9090
@calidion webpack not handle html right now, please provide minimum reproducible test repo, maybe you need open issue in `html-webpack-plugin`

[2019-05-06 09:58] evilebottnawi commented on #9085
Please open issue in `webpack-dev-server` with reproducible test repo

[2019-05-06 09:58] #9085 closed

[2019-05-06 13:25] apiel opened #9094 "HMR don't detect change made with fs.writeFile from nodejs"
# Bug report

**What is the current behavior?**

When a nodejs script is writing code in the "src" folder watched by HMR, the change detection are unstable. Sometime it get detected, sometime not.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
Run this script several time, at some point HMR should not detect the change.

(I am using create-react-app)

**What

[2019-05-06 13:32] evilebottnawi commented on #9094
Already answered. hmr !== files changes. you need watch files

[2019-05-06 13:32] #9094 closed

[2019-05-06 13:33] evilebottnawi commented on #9094
Also be ensure no cached enabled, some loader/plugins or tools can cache you files

[2019-05-06 13:47] apiel commented on #9094
I don't really understand your answer, I am sorry.
I know nothing about webpack and even less about HMR. As a noob, I beleive that when I save a file from my IDE (vscode), it is writing it in my file system. So I try to reproduce it with `fs.writeFile` from node.js that seem to be the same as writing file in file system. Therefor, since `fs.writeFile` is not detected by HMR, I see it as a bug.
Of

[2019-05-06 13:50] evilebottnawi commented on #9094
What is your os? Try to use `usePolling` option for `chokidar` (https://github.com/paulmillr/chokidar#api)

[2019-05-06 13:58] apiel commented on #9094
![image](https://user-images.githubusercontent.com/5873198/57229773-2f33e680-7017-11e9-926a-2995ed521573.png)

The problem is not coming from `chokidar` used in my transpiler. The transpiler work very well. The problem is when the transpiler the write file to the `src` folder webpack don't detect the change (or do you mean webpack use `chokidar` and I should try to use CHOKIDAR_USEPOLLING=1 when I

[2019-05-06 14:01] evilebottnawi commented on #9094
Yes, some filesystem version have bugs with watch, also try to use `10` node, node also have some bugs in watch, we need to determine what problem is not environment side

[2019-05-06 14:06] apiel commented on #9094
Ok, thanks I will give a try.
I still would love to understand, what is the difference between VsCode writing a file and nodejs `fs.writeFile`? Why does HMR behave differently?

[2019-05-06 14:18] evilebottnawi commented on #9094
HMR is not file reloading, HMR - it is code inside you files what allow to you reload page without full reload, using `fs.writeFile` just create `fs` event. So if your code has `hmr` code you will get hot reloading (not full page) otherwise you page was reloaded. So you problem not related to HMR, it is problem with `fs` event

[2019-05-06 14:31] daprahamian commented on #9049
Hi @TheLarkInn,

Thank you for your response. It appears that your guidance is to only have top-level require calls with non-dynamic names. In that case, I am looking to be able to address the following:

1. We sometimes have circular dependencies that we get around by wrapping require calls in a function. An example can be seen [here](https://github.com/mongodb/node-mongodb-native/blob/master/lib

[2019-05-06 19:57] egucciar commented on #6818
Yes, this would be awesome to fix. For now I'll continue to use rollup as this blocks me from using webpack for my bundle-split library.

[2019-05-07 07:36] hidaytrahman commented on #2972
In short - Don't use ES6

[2019-05-07 09:18] shytikov commented on #8644
Is there any workaround for the moment? Is it possible to globally set `webpackMode` to "eager" either in configuration or using command line?

[2019-05-07 14:13] jackyef opened #9095 "Webpack seems to add non-ES5 compliant syntax to generated bundle"
# Bug report

**What is the current behavior?**
On some of the generated chunks, we found that webpack added this snippet to them.
[code]

In other generated chunks, we found that webpack added similar snippets to them, but with different variable
[code]

Notice that the function is exactly the same, other than the different args used (`i` instead of `r`).

On the 2nd line of the 2nd function, we

[2019-05-07 14:24] evilebottnawi commented on #9095
Looks it is problem with minimizer, not webpack, please provide minimum reproducible test repo

[2019-05-07 14:48] jackyef commented on #9095
My bad, it was indeed a problem with the minimizer used. Closing this PR.

[2019-05-07 14:48] #9095 closed

[2019-05-07 14:53] MLoughry commented on #8644
@shytikov I just published a plugin to perform the same behavior: https://www.npmjs.com/package/eager-imports-webpack-plugin

[2019-05-07 15:15] jpreynat commented on #8537
Hi,

We recently switched our app to webpack 5 hoping that we could easily split our server code that is running on Google Cloud Functions.
However, doing so led to unexpected crash of our functions, apparently at random times. Sometimes the functions crash with an "out of memory" status, and sometimes they just end because of a timeout, as if they were hanging. The same functions work well most o

[2019-05-07 15:21] sibelius commented on #8537
@jpreynat could you share your webpack config for v4 and v5?

are you using terser ?

[2019-05-07 15:23] jpreynat commented on #8537
Another less important feedback that I wanted to share is that the `deterministic` option for `moduleIds` and `chunkIds` is taking too much time in our case (we have more than 800 modules in the compiled bundle).

I’ve tried letting the build run for more than 5 minutes during the `DeterministicModuleIdsPlugin` phase and it never ended so I stopped it manually.
Since using the old `size` option in

[2019-05-07 15:25] jpreynat commented on #8537
@sibelius Yes, we are using Terser to mangle our code.
I’ll be glad to share the main part of our config, but since it’s quite big and split in many parts, I’ll have to restructure it a bit first.
I’ll post it in the next hour or so.

[2019-05-07 16:45] jpreynat commented on #8537
@sibelius Here is our current configuration for building the Node app using webpack 5:
[code]

We use the exact same configuration for webpack 4, except that of course the `optimization.splitChunks` is taken into account with webpack 5.

To split our code, I'm using dynamic imports `import('module')`, and simply enable it on webpack 5 by removing the `babel-plugin-dynamic-import-node` module from

[2019-05-07 16:59] jpreynat commented on #8537
To help illustrate this behavior, here is a stacked bar graph of our functions finishing with an "out of memory" execution status.
We deployed using webpack 5 on April 13th.

![image](https://user-images.githubusercontent.com/7927876/57318217-13edd780-70fa-11e9-94d0-5bf5625d6924.png)

Since we redeployed an hour ago with webpack 4, there is no sign of such errors.

[2019-05-07 17:02] evilebottnawi commented on #8537
@jpreynat Looks we have memory leak, do you find place (plugin/loader/option)?

[2019-05-07 17:19] jpreynat commented on #8537
Hi @evilebottnawi,
It seems so yes. But locating it is quite hard, because we use lots of plugins/presets and loaders.
If I have time by the end of the week, I'll try minimizing our config to make a smaller reproducible example.

[2019-05-07 17:27] evilebottnawi commented on #8537
@jpreynat feel free to ping me

[2019-05-07 23:58] gaearon commented on #418
Four years later, @sokra showed me a solution that seems to do exactly what I wanted:

[code]

😄

[2019-05-08 00:59] gaearon commented on #418
https://mobile.twitter.com/dan_abramov/status/1125926905331552263

[2019-05-08 02:30] khanhpn commented on #2882
@hemedani unbelievable, after i added this line, and it worked as well.

[2019-05-08 03:21] #8251 closed

[2019-05-08 05:04] DJAlejandro commented on #8656
Same error in 4.30.0.Fine with  v4.28.2

[2019-05-08 07:22] ChrisSG commented on #5789
Try using a RegExp which exactly matches the directory, as a string as exclusion is also partially matched...

[2019-05-08 08:01] kangkon commented on #8656
Addings of **dynamic-import-node-babel-7** plugin works fine for the latest version of wedkpack. For react you can additionally add **react-loadable/babel** as well.

in webpack.config.js add
`
plugins: [
                        "@babel/plugin-proposal-class-properties",
                        "@babel/syntax-dynamic-import", // For code splitting
                        "react-loadable/babel",

[2019-05-08 08:23] shytikov commented on #8644
@MLoughry thank you! Nice one!

I have also found another workaround. Maybe it's less optimal, but we can limit number of chunks adding [LimitChunkCountPlugin](https://webpack.js.org/plugins/limit-chunk-count-plugin/).

I believe it adds post-processing step, it's a con, but you don't need to install anything — it's a pro.

[2019-05-08 10:14] sokra commented on #9076
* There is no intent to remove `require.ensure`. It's not deprecated, it's only recommended to use `import()` over `require.ensure` because it's part of the ESM spec.
* We can add a magic comment to not evaluate the module (so only load the chunk). Maybe `/* webpackLoad: true | "prefetch" | "preload" */`. This was requested by somebody else before.
* double-module execution: Modules will never eva

[2019-05-08 10:17] sokra commented on #9088
The default cache groups only apply to the root compilation. You need to specify cacheGroups when using the SplitChunksPlugin manually.

`optimization.splitChunks` and the plugin do not carry over to child compilations.

[2019-05-08 10:19] sokra commented on #9078
`import * as nothing from './nothing'` is also tree-shaking when `nothing` is used in a "good" way. i. e. `nothing.something` works. `console.log(nothing)` don't work.

[2019-05-08 10:20] raffomania commented on #811
How is this issue still closed when the only solution is a noisy workaround?

[2019-05-08 10:24] sokra commented on #9075
`[request]` is intended for cases were the name should depend on a variable expression.

In case of `import(/* webpackChunkName: "[request]" */ './lazy')` you can put the text into the comment to: `import(/* webpackChunkName: "lazy" */ './lazy')`. There is no need to use `[request]`.

[2019-05-08 10:27] sokra commented on #9067
Yeah that's a bug in the SplitChunksPlugin when having a chunk with minimal app code and much vendor code.

[2019-05-08 10:29] sokra commented on #9045
This is a shortcoming in webpack 4. It's fixed in webpack 5.

[2019-05-08 12:02] LexSwed opened #9099 "Dynamic import with prefetch doesn't use dynamic publicPath"
# Bug report

Runtime `__webpack_public_path__` is not respected for prefetching chunks.

**What is the current behavior?**

From the docs:

[code]

If I have `publicPath` in `webpack` config, it adds it to the href, e.g. if `publicPath: '/'` then `link` is `<link rel="prefetch" href="/login-modal-chunk.js">`

But if I use dynamic public path via `__webpack_public_path__` then it doesn't added to

[2019-05-08 12:25] yh284914425 opened #9100 "Why webpack4.0 “sideEffects”: false configuration does not remove polyfill content?"
[code]
Webpack4.0 added "sideEffects": false ,Why packaged code still contain polyfill content, shouldn't it be removed by treeShaking?

[2019-05-08 12:27] #9100 closed, assigned to nobody

[2019-05-08 14:54] noahgrant commented on #9076
Thanks for time.

* I was going based on [this webpack v5 doc](https://github.com/webpack/changelog-v5/blob/master/README.md#other-minor-changes) that had this line, but maybe I'm mistaken on what that was referencing:

![image](https://user-images.githubusercontent.com/1355779/57384535-ab3c4480-7165-11e9-850f-0f4a52cc8482.png)

* That sounds good. but what's the difference between `prefetch` and

[2019-05-08 14:58] evilebottnawi commented on #9076
Hook was removed only

https://www.keycdn.com/blog/resource-hints

[2019-05-08 15:18] noahgrant commented on #9076
Oh yeah, I know the differences between preload and prefetch link tags, but you [already provide webpackPrefetch and webpackPreload magic comments](https://webpack.js.org/api/module-methods/#magic-comments). So my question was, in this context specifically, what would `webpackLoad: 'prefetch'` mean?

[2019-05-08 18:29] matthewp commented on #6719
I think at this point basing decisions on stage version isn't the best way to go.  `import.meta` is currently supported in Safari, Chrome, and Firefox. And in EdgeChromium. So we're at near 100% browser support. Unfortunately it seems that more goes into stage versions than just "stability", so its not the best signal.

[2019-05-08 19:26] sokra commented on #418
It's never too late...

[2019-05-08 19:36] Derby1 opened #9101 "webpack prod unicode characters material-ui"

[2019-05-08 19:45] hiroppy commented on #9101
Please use issue-template.

[2019-05-08 19:45] #9101 closed

[2019-05-08 19:54] elliotbonneville commented on #7378
Is there currently a way to suppress these errors? I'm not having any luck with Webpack's `stat` config.

[2019-05-08 19:54] garyo commented on #3078
I may be misunderstanding this issue or the solution shown above, but I got here because I see the same error in my Vue project.
I added to my vue.config.js:
[code]
but now I get a fatal error instead of just a warning message: `Error: cannot find module ./iconv-loader`, which makes sense since webpack is now ignoring it.

[2019-05-08 19:59] natew commented on #7378
For client at least you can: devServer: { clientLogLevel: 'error' } }

On Wed, May 8, 2019 at 12:55 PM Elliot Bonneville <notifications@github.com>
wrote:

[2019-05-08 20:00] elliotbonneville commented on #7378
Thanks, @natew. Is there anything more specific? I'd like to leave other warnings intact.

[2019-05-08 21:11] sibelius commented on #8644
does https://www.npmjs.com/package/eager-imports-webpack-plugin or LimitChunkCountPlugin

breaks HMR? or HMR just works well?

[2019-05-08 21:13] MLoughry commented on #8644
@sibelius I've not tested it with HMR, as my team doesn't use HMR.

[2019-05-08 23:52] jedwards1211 opened #9102 "[Documentation] add guide to automatically retrying chunk loading"
I've seen the advice to override `__webpack_chunk_load__` to implement our own retry behavior, but how do I ensure that I override that function for all chunks?  I assume that if I put my override in my entry module it will only apply to modules in the entry chunk, not modules in other chunks (which may themselves async load additional chunks).

[2019-05-09 01:55] tripodsan commented on #8391
I think octokit's request with is-plain-object have the same issue:

https://github.com/jonschlinkert/is-plain-object/blob/master/package.json defines:
[code]

and octokit just uses:
https://github.com/octokit/request.js/blob/2df74980ae6b9ee410bbbeb17b973637daf14882/lib/request.js#L3

the bundle creates:

[code]

[2019-05-09 02:33] tripodsan commented on #8391
btw, I fixed the problem above ^^^^, by changing the resolve main field order:

[code]

[2019-05-09 06:49] montogeek commented on #9102
@webpack-bot move to webpack/webpack.js.org

[2019-05-09 06:49] #9102 closed

[2019-05-09 08:34] sindresorhus commented on #8826
For anyone else encountering this issue and need a workaround, this is probably the best one: https://twitter.com/kamilogorek/status/1102272038411137025

[2019-05-09 09:01] bz2 commented on #7094
@sokra Did this get deliberately reverted, or can the same fix just be reapplied to master?

[2019-05-09 10:47] paztis commented on #6675
In case of a mono-repository it is problematic because multiple versions of webpack  can cohabit.
The errors apprears for me when processing react-intl after the DefinePlugin is execed:
```ìf (process.env.NODE_ENV === 'production')``` replaced by ```ìf ("production" === 'production')```

It crashes on Compilation.js:697:30 for a dep of type
 ConstDependency {
  module: null,
  expression: '"produc

[2019-05-09 14:05] smashercosmo commented on #8884
@sokra did you have a chance to look at the issue?

[2019-05-09 14:07] pratirupm opened #9103 "Changes publicPath: '../fonts' to 'https://local.dev/{pageName}'/fonts/[filename].[ext]'"
I am new to webpack and I can seem to find what I am doing wrong

Here What I Am Using For CSS:

    {
        test: /\.scss$/,
        use: [
            // creates style nodes from JS strings
            {
                loader: 'style-loader',
                options: {
                    sourceMap: true,
                },
            },
            {
                loader: 'css-loader',

[2019-05-09 14:16] montogeek commented on #9103
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2019-05-09 14:16] #9103 closed

[2019-05-09 14:51] #8262 closed

[2019-05-09 16:45] jedwards1211 commented on #5283
@mohsen1 I don't see any usage of `__webpack_chunk_load__` in that repo

[2019-05-09 17:54] jescalan commented on #1608
Still interested in this. The snippet at the provided link 404s, and the equivalent on the new docs page does not actually work. I just want to know, when watch mode recompiles, which file changed, and its proving to be extremely difficult, unfortunately.

[2019-05-09 19:50] sokra commented on #9076
`webpackLoad: true` webpack would load the chunk with a `<script>` tag (normal priority)
`webpackLoad: "preload"` webpack would load the chunk with a `<link rel="preload">` tag (normal priority, but browser can choose to ignore it, i. e. when using a limited data plan)
`webpackLoad: "prefetch"` webpack would load the chunk with a `<link rel="prefetch">` tag (idle priority and browser can choose to

[2019-05-09 21:09] villesau opened #9108 "ProfilingPlugin produces malformed JSON"
# Bug report

**What is the current behavior?**

When running webpack with ProfilingPlugin, the resulted JSON is malformed. To be precise, the end of file looks following:

[code]

So looks like the output just cuts off. the resulting file size over 200 MB in size.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. run webpack using dev server (not sure if that's rel

[2019-05-09 21:47] rchl opened #9109 "Include stack trace when reporting loading chunk error"
## Feature request

**What is the expected behavior?**

Loading chunk error includes stack trace with code that triggered chunk loading.

**What is motivation or use case for adding/changing the behavior?**

In my production site, with Sentry error logging enabled, "loading chunk" errors are the most frequent ones and given that the errors just say which chunk failed to load (chunk id and URL), it

[2019-05-09 21:51] TheLarkInn commented on #8826
@sindresorhus There's no doubt your contributions to the NodeJS/Isomorphic JS ecosystem is considerable.

The more bundle-able modules are the more positive impact to your modules consumers. So its really important to us, to help you make this easier!

You have the maintainers of Rollup (@lukastaegert), Browserify (@goto-bus-stop), and webpack here all verbally in support of the standard that exis

[2019-05-09 21:55] devongovett commented on #8826
In parcel at least, you can also do this:

[code]

Not sure about other bundlers.

[2019-05-10 03:15] banbanmasa commented on #8656
resolutions doesn't work for me.
I got this error below.
[code]
I use yarn and vue. And `package.json` is like this.
[code]
Same error in v4.28.2 and v4.30.0.

[2019-05-10 03:37] TheLarkInn commented on #8826
We can do similar, but does this error in Browser ENV for non bundler using consumers? That's my guess why that isn't the most feasible.

[2019-05-10 04:13] lukastaegert commented on #8826
It will also error when bundled vanilla Rollup as we do not polyfill globals by default (which is partly because otherwise we would mess up those patterns when bundling for libraries, though).

[2019-05-10 04:33] kangkon commented on #8656
Your problem is not with dynamic import.  It is the issue of less or scss loader (or whatever script you are using). Please add a proper loader for your code.

[2019-05-10 08:16] Tralgar opened #9110 "[Feature request]: functionality by entry"
## Feature request

Hello all,
I have an idea of new feature based on my personnal experience with webpack :
It seems that it is not possible to define usage of plugins, rules, optimization or something else on some specials entries.

**What is the expected behavior?**

The expected behavior (as I've first imagined this) could be to implement a property that allow us to restrict a functionality to

[2019-05-10 08:39] otakustay opened #9112 "Need a util to test rule matches"
## Feature request

**What is the expected behavior?**

Currently webpack's rule matching logic is an internal implement and cannot be reached outside.

**What is motivation or use case for adding/changing the behavior?**

In some cases we'd like to unit test a complex rule containing deep `test`, `and`, `not`, `or` combinations, so we are expecting something like:

[code]

Also, with a growing co

[2019-05-10 10:52] september28 commented on #8302
This issue is actually preventing me from launching my Firefox addon since I need to send sourcemaps to Mozilla for review. I have read the [thread about the Facebook React apps](https://github.com/facebook/create-react-app/issues/6296) as mentioned by @justingrant and tried the suggestions there with no luck.

In desperation, I searched for all instances of "var installedModules" inside the node_

[2019-05-10 11:38] rodogir commented on #8656
Finally got around creating a minimal setup that suffers from the problem mentioned [here](https://github.com/webpack/webpack/issues/8656#issuecomment-485886644). It's a really simple webpack + babel + typescript setup which surprised me. I would have guessed that many other people were affected. Not sure if it is related to the dynamic import issue though.

https://github.com/rodogir/webpack-type

[2019-05-10 11:43] banbanmasa commented on #8656
@kangkon thanks maybe vue-loader does't working.

[2019-05-10 11:45] darkowic commented on #7744
Confirm - the same issue here.

[2019-05-10 12:18] jantimon commented on #6525
Created a small plugin which works in the meantime:

[code]

[2019-05-10 13:23] evilebottnawi commented on #9108
Can you create minimum reproducible test repo?

[2019-05-10 13:34] evilebottnawi commented on #9112
Please provide real use case?

[2019-05-10 13:37] evilebottnawi commented on #6753
bump

[2019-05-10 14:39] villesau commented on #9108
@evilebottnawi Actually now when I started to work on minified repro and built just one file, it looks like Chrome eats the malformed output just fine and shows profiling info like it should. I'm suspecting that in my case the file size is too large for Chrome profiler in this case.

Are there other ways to profile webpack performance than the plugin?

[2019-05-10 14:48] evilebottnawi commented on #9108
@villesau effective only this plugin

[2019-05-10 14:49] villesau commented on #7689
@samccone I think this is the same issue: https://github.com/webpack/webpack/issues/9108

In my case dev tools does not crash, but profiler just resets and does not show the result.

[2019-05-10 14:57] villesau opened #9114 "ProfilingPlugin crashes with devserver and in watch mode"
# Bug report

**What is the current behavior?**

When using ProfilingPlugin and run webpack in `--watch` mode or devserver, following error is thrown:

[code]

After this webpack does not crash completely, but no files are watched anymore. events.json file is produced, but I'm fairly sure it does not contain anything from the point when exception is thrown.

This makes it fairly difficult to debug

[2019-05-10 14:59] villesau commented on #9108
Ok, thanks! To be honest, I don't know if chrome dev tools are actually expecting malformed JSON. At least the profiler can deal with it so it's not a big problem I think. The actualy problem might be in produced file size. This might be the same issue I'm actually experiencing: https://github.com/webpack/webpack/issues/7689

Another bug I encountered: https://github.com/webpack/webpack/issues/911

[2019-05-10 15:01] evilebottnawi commented on #9114
Looks like a bug, feel free to send a PR

[2019-05-10 15:02] evilebottnawi commented on #9108
@villesau anyway, can you create minimum reproducible test repo (ensure problem not in webpack)

[2019-05-10 18:41] #8264 closed

[2019-05-10 19:21] villesau commented on #9114
How the plugin knows when webpack is in watch mode? I think that the plugin should use some different hooks when in watch mode: https://webpack.js.org/api/compiler-hooks/#watching . Looks like `compiler` here: https://github.com/webpack/webpack/blob/master/lib/debug/ProfilingPlugin.js#L167 has `watchMode` (or similar) flag but it's always false no matter wether webpack is in watch mode or not.

Ar

[2019-05-10 19:55] sokra commented on #9110
The config file is JavaScript. You don't have to duplicate the config, you can use variable, iteration or other constructs to create the config.

[code]

[2019-05-10 19:57] sokra commented on #9109
Send a PR

[2019-05-10 20:03] justingrant commented on #8302
FYI, the problems I was running into with React turned out to be fixed by changing Babel configuration. If you configure Babel with `sourceMaps: false` and webpack with `devtool: 'cheap-module-source-map'` then webpack still emits sourcemaps for the bundled code, but those sourcemaps are invalid. Specifically, the `sourcesContent` and `mappings` are internally consistent, but neither of them match

[2019-05-10 20:55] DDroll commented on #6094
@evilebottnawi what's the difference, how many bugs in the current version, if the newer version doesn't work at all?
By the way, rollback to 3.2.1 solved problem for me, thanks, @zoro00000000

[2019-05-10 21:23] jedwards1211 commented on #5021
one thing that confused me at first, which it might help to mention in the docs, is that `__webpack_chunk_load__` gets compiled to `__webpack_require__.e`.

At first I thought it was a local variable and assigning to it would only take effect locally.  It was only when I saw that assigning to it changes the value of `__webpack_require__.e` shared by all modules that I understood why this recommend

[2019-05-10 21:36] TheLarkInn commented on #8826
We do like leveraging `process` however this may cause optimization bailouts for our users inside deep module graphs because we do mock injections on `process` standalone. We do leverage `process.env.NODE_ENV` but looks like @lukastaegert mentioned it is problematic still.

[2019-05-10 21:39] sokra commented on #9020
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-05-10 21:47] devongovett commented on #8826
Parcel inlines `process.browser` similar to how we inline `process.env.NODE_ENV`. When collecting dependencies, we check if they are inside a falsy branch, and ignore if so (leaving `require` as is). This applies to any branch, including `process.env` comparisons and `process.browser` checks, but also any other code we can evaluate statically. Since `process.browser` is inlined, we don't include t

[2019-05-10 21:56] arpowers commented on #9020
Ended up figuring out that it was related to a globbing feature on one of the we pack plugins.

Was ridiculously hard to debig

[2019-05-10 21:56] TheLarkInn commented on #8826
@devongovett That's interesting, perhaps when we use the `target` [feature](https:/webpack.js.org/configuration/target), maybe we should also have a `process.target` or `process.env.target` inlining. I guess it doesn't solve the "people of non bundler" use cases though right (in the browser scenario?).

[2019-05-10 22:02] devongovett commented on #8826
Yeah non-bundler people would be a problem, but if you're using `require` it wouldn't work in a browser anyway right?

[2019-05-10 22:06] ljcrapo commented on #9020
@arpowers what plugin was it?

[2019-05-10 22:09] #9055 closed

[2019-05-10 22:13] arpowers commented on #9020
Style resources loader.

[2019-05-10 22:13] TheLarkInn commented on #8826
@devongovett Haha I told myself the same thing, but a great example is at Microsoft we have some legacy teams using requireJS, and therefore still can consume require's yet get that kind of `process.whatever` code and it nukes.

Not a deal-breaker for the majority, but a consideration haha.

[2019-05-11 08:50] evilebottnawi commented on #8352
Bump

[2019-05-11 08:51] evilebottnawi commented on #9020
Can you create minimum reproducible test repo?

[2019-05-11 08:53] evilebottnawi commented on #6094
Please open issue in dev server repo with reproducible test repo, also we fix many issues in master branch, please try, feel free to report any problem, release was in Monday

[2019-05-11 11:02] wuzinong commented on #7684
Same issue with me, any solution for this case? @jamalabo1

[2019-05-11 19:36] chaeron commented on #1019
I had this problem with a Nativescript-Vue project, trying to require the jasonwebtoken module.  The above worked as a temporary fix, so thanks!

[2019-05-11 22:19] govindrai commented on #2168
Any update to reflect this within webpack itself?

[2019-05-11 23:43] joeldenning commented on #6719
The SystemJS community would also enjoy seeing `import.meta` implemented, especially for webpack entry modules so that they can know from what URL they were downloaded from and dynamically set the public path accordingly. See https://github.com/systemjs/systemjs/issues/1939

Is there consensus on what `import.meta.url` would be for both entry modules and for all other modules? Since webpack module

[2019-05-11 23:45] joeldenning commented on #6719
I would be happy to look into what it would take to PR this -- parsing import.meta and replacing with whatever value is decided on.

[2019-05-12 00:06] MLoughry opened #9117 ""EMFILE: too many open files" error when emitting a large number of assets"
# Bug report

**What is the current behavior?**
I'm working on an i18n plugin to emit our localized strings on a per-locale, per-bundle basis. Given our build already emits ~1,400 code-split JS bundles, and we support nearly 100 locales, that results in a large number of files to emit. Given that Windows only supports ~1024 simultaneous file handles per process (by default, anyway), it's a near-ce

[2019-05-12 00:22] MLoughry commented on #9117
This can be trivially fixed by using `graceful-fs`, but I'm not sure of the maintainers' view on using it as a dependency, or whether it would introduce other issues relating to perf or somesuch.

[2019-05-12 00:41] #6694 closed

[2019-05-12 07:05] wood1986 opened #9118 "unexpected chunk from node_module is generated even not referencing it"
# Bug report

**What is the current behavior?**
[code]

it has `react` chunk as I have not referenced the react code.

**If the current behavior is a bug, please provide the steps to reproduce.**

0. go https://github.com/wood1986/webpack-bug.git
1. `git clone https://github.com/wood1986/webpack-bug.git`
2. `yarn install`
3. `yarn build`

I do not know if it is the tree shaking issue, terser issue

[2019-05-12 15:11] AnalyzePlatypus commented on #3974
I had the same issue in a Vue CLI project.
What a Heisenbug.

The issue went away when I (in a bout of frustration)  deleted by `.babelrc` and restored `babel.config.json` to the default settings.
Is anyone else out there as confused about Babel (and Webpack) as I am?

[2019-05-12 15:30] pfeiferbit commented on #4039
I didn't want to go back to `core-js@2` and for some reason `sourceType: "unambiguous"` only moved the error OP (and I) had to the following error:

    TypeError: wrappedWellKnownSymbolModule.f is not a function

occurring in most Webpack loaders during build.

After looking and searching for some time I stumbled over the following posts:

  * https://github.com/symfony/webpack-encore/issues/552#

[2019-05-12 19:55] ianschmitz commented on #6525
Any chance `target: "universal"` would fix the existing de-optimization when targeting `amd` output such as https://github.com/webpack/webpack/issues/5489? In that issue all of the chunks external dependencies are hoisted to the main bundle AMD dependencies, which means the main bundle will load in dependencies via the AMD loader that aren't yet needed.

[2019-05-12 20:21] dgoldstein0 commented on #8316
Sorry to be clear I opened this thread not because I wanted to hear workaround suggestions (compiling to commonjs was fine for that - but thanks for the alternative ideas) but rather because I thought webpack should provide some warning or error here.

My rough understanding though is that no one piece of the system seems to have the whole picture, so the only ideas I can think of for such a warni

[2019-05-13 07:35] sokra commented on #9117
This commit should fix it: https://github.com/webpack/webpack/commit/9cb42256c67f77b24b04e1e19bd27c866febad6f
You need to upgrade to at least 4.29.0

[2019-05-13 07:39] sokra commented on #9118
`A.jsx` imports `react`. Even if you are not using the exports `react` need to be included and evaluated for its side-effects.

You might flag `A.jsx` or `react` as side-effect-free if you want to optimize it.

[2019-05-13 08:08] wood1986 commented on #9118
Thanks for the explanation. Let me close it for now as I need to try side-effect-free stuff

[2019-05-13 08:08] #9118 closed

[2019-05-13 08:55] atomless commented on #8310
Any update on when Webpack will support outputting native es6 modules? Will it be included in v5?

[2019-05-13 09:05] #9042 closed

[2019-05-13 11:21] #7744 closed

[2019-05-13 11:47] enten commented on #5907
This issue is still opened.

[2019-05-13 13:57] tobiasfrei commented on #8996
still not released? same error on import paperjs/core with webpack 4.29.6 in prod mode.

[2019-05-13 16:22] mmase opened #9124 "Any plans to upgrade watchpack?"
Are there any plans to upgrade watchpack? The version of `fsevents` used by `chokidar` and consequently `watchpack@1.5.0` has issues with node 9 and 10 (no binaries available, high CPU usage).

[2019-05-13 16:31] Shelagh-Lewins opened #9125 "Issue with Bootstrap reset css"
# Bug report

**What is the current behavior?**
Bootstrap css reset is not being built correctly.

The file node_modules/bootstrap/dist/css/bootstrap.css contains this css:
[code]

In my build output, it looks like this:
`*,::;after,::before{;box-sizing:border-box}`
Note the extra semi-colons, before the word 'after' and before the word 'box-sizing'.

I haven't edited the Bootstrap files, or the W

[2019-05-13 18:44] sokra commented on #9124
`watchpack` won't be updated to version 2 in webpack 4 as this would be a breaking change.

It has already be updated to watchpack 2 in webpack 5 on the `next` branch.

[2019-05-13 18:44] sokra commented on #9125
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-05-13 19:39] #9117 closed

[2019-05-13 19:49] jlapointe commented on #959
I'm also getting this problem, using webpack 4.31.0 and SplitChunksPlugin. I've provided a minimal project setup that reproduces the problem: https://gitlab.com/jlapointe/codesplittingtest

I've tried most of the fixes suggested here (change various config fields), but no luck.

The issue seems to occur when there are multiple named entry points and one depends on the other, as mentioned earlier i

[2019-05-13 20:44] jeffposnick commented on #9088
Thanks for the confirmation—it would be lovely to get some more "official" documentation around child compilations ([this unofficial writeup](https://medium.com/@prateekbh/my-experience-writing-a-webpacks-child-compiler-plugin-a1237c175947) by Prateek was my best jumping-off point), but I think this issue is resolved.

[2019-05-13 20:44] #9088 closed

[2019-05-13 22:31] #7135 closed

[2019-05-13 22:45] george-norris-salesforce opened #9129 "Change devtool example to something else"
https://github.com/webpack/webpack/blob/master/examples/source-map/webpack.config.js

Your docs point to this this example that is not very useful. That `webpack.config.js` resembles no `webpack.config.js` I've ever encountered. For examples that demonstrate complicated features like devtool, please make an example that resembles a real world project.

[2019-05-13 23:58] 779g commented on #7179
Having the same issue on webpack 4, both with contenthash and chunkhash. If I find some time I will make a minimum repo. Shall the ticket be reopened ?

[2019-05-14 06:27] sokra commented on #9129
Send a PR and simplify it

[2019-05-14 06:46] paulmorar commented on #9078
@sokra I understand what you are saying but, what I ended up comparing is the whole bundle that ends up being created, and it doesn't seem to do that.

It seems that for my project, if I am using _named imports_, webpack will kindly bundle only the function that I am using, but if I am importing the whole module and only use a function from the module, it will result in bundling all the functions

[2019-05-14 06:49] Ohadkaiser commented on #8656
I have the same problem.
Error in ./src/index.js
Module parse failed: Unexpected token(9:16)
You may need to an appropriate loader to handle this file type.
|
|

|
| // If you want your app to work offline and load faster, you can change

When I do npm ls acorn I see the following :
+-- @svgr/webpack@2.4.1
| `-- @svgr/core@2.4.1
|  `--  h2x-core@1.1.1
|   `--  h2x-parse@1.1.1
|     `-- jsdom@14.1.

[2019-05-14 07:37] lpeliberty commented on #9110
Hum yea you are right ! Thx, so it's not really interesting...

[2019-05-14 07:39] Tralgar commented on #9110
Ok thx !

[2019-05-14 07:39] #9110 closed

[2019-05-14 08:01] sokra commented on #9078
It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2019-05-14 08:47] irudoy commented on #7993
Workaround for webpack@4

[code]

[2019-05-14 09:35] evilebottnawi commented on #9124
Answer above, thanks

[2019-05-14 09:35] #9124 closed

[2019-05-14 09:48] evilebottnawi commented on #9125
Not related to webpack, problem in css minimizer, please open issue in css minimizer plugin or provide configuration here

[2019-05-14 09:48] #9125 closed

[2019-05-14 09:58] evilebottnawi commented on #7993
Somebody can create minimum reproducible test repo?

[2019-05-14 10:00] evilebottnawi commented on #6454
Not related to webpack, if somebody have problem please open issue in webpack-dev-server with minimum reproducible test repo, thanks

[2019-05-14 10:00] #6454 closed

[2019-05-14 11:14] sigod commented on #4817
In our Node project, we use a CommonJS module that is included on both server-side and client-side. Everything worked fine until we added `@babel/plugin-transform-runtime`. It started showing compilation warning mentioned here. And in the browser it just fails with `Uncaught TypeError: Cannot assign to read-only property 'exports' of object '#<Object>'`.

I've discovered that it can be fixed by ad

[2019-05-14 12:08] irudoy commented on #7993
That was my fault. In my case, I didn't handle errors in the compilers [run](https://webpack.js.org/api/node/#run) method. Using Node API you should call `process.exit` manually if something went wrong. Seems like the `bail` option works as expected.

[2019-05-14 12:09] evilebottnawi commented on #7993
/cc @AMDvsTMD @benpolinsky friendly ping, problem still exists, if yes please create minimum reproducible test repo, thanks!

[2019-05-14 13:43] evilebottnawi commented on #8352
For `1` https://github.com/webpack-contrib/terser-webpack-plugin/issues/87

[2019-05-14 13:46] evilebottnawi commented on #8352
For `2` https://webpack.js.org/guides/author-libraries/

[2019-05-14 13:48] evilebottnawi commented on #8352
For `3`

a - we improve minimizer docuemntation
b - same as for any project, no need more information
c - feel free to open any issue in https://github.com/webpack/webpack.js.org

Thanks for issue

[2019-05-14 13:48] #8352 closed

[2019-05-14 16:37] Pauan commented on #8656
@Ohadkaiser Try downgrading Webpack to `4.28.2`. If that doesn't work, then it's a different problem.

You probably need a JSX loader, [like this one](https://babeljs.io/docs/en/babel-preset-react). I recommend using [create-react-app](https://facebook.github.io/create-react-app/docs/getting-started), which handles all of the complicated details for you.

[2019-05-14 17:00] andykais commented on #5866
@frenzzy can you explain how `chunks: "all"` accomplishes this? I have tried multiple configurations under `target: "node"` which still bundle the modules. To be clear, this is the goal

given this input:
[code]
webpack should output the transpiled code while preserving directory structure:
[code]
if it is possible to give us an example repo that would be much appreciated.

`webpack-emit-all-plugi

[2019-05-14 22:51] andykais commented on #5866
just want to share with everyone my working solution:

[code]

what this does is make an entrypoint for every file in the `src/` directory (excluding files that end in `.test.js`)

[2019-05-15 05:48] xthilakx commented on #811
@raffomania Set `resolve.symlinks` to false. By default, it's set to true in webpack4.

https://webpack.js.org/configuration/resolve/#resolve-symlinks

[2019-05-15 06:02] fabb commented on #811
@xthilakx that‘s not an option in the case HMR is needed where webpack needs to watch updates to the linked package. This is necessary when developing a library together with the client app.

https://github.com/webpack/webpack/issues/811#issuecomment-317875352

[2019-05-15 08:21] #8247 closed

[2019-05-15 11:55] darkowic commented on #7744
![Screenshot_2019-05-15_13-49-38](https://user-images.githubusercontent.com/11510581/57773472-5fb30900-7718-11e9-921a-93f53fb9eea6.png)

I installed today the master version and looks like not all chunks are correctly prefixed with the `__webpack_public_path__`
[code]
ideas?
@sokra

[2019-05-15 12:02] darkowic commented on #7744
What I found also is that this happens only on app initialization. When I go to the page, which is adding the prefetch chunk, from another page (client side routing) it has a correct public path.

[2019-05-15 12:08] evilebottnawi commented on #7744
@darkowic can you open new issue with reproducible test repo, thanks

[2019-05-15 12:51] MarekLacoAXA commented on #7378
Maybe this is not a bug, its a feature! (tm) :)
See:
https://github.com/Microsoft/TypeScript/issues/28481

When you export your TS interfaces/types in such a style so that it comply with TS's isolatedModules=true, then you won't get these webpack warnings.

[code]

[2019-05-15 14:10] Shelagh-Lewins commented on #9125
Thanks for the info. My Webpack package.json lists "css-loader": "^2.1.0", as a devDependency. Does that mean css-loader is the css minimizer plugin?

[2019-05-15 14:11] evilebottnawi commented on #9125
@Shelagh-Lewins css-loader is not minimizer and doesn't make minimize since with 1 version

[2019-05-15 14:53] evilebottnawi commented on #4363
@webpack-bot move to weback/webpack-dev-server

[2019-05-15 14:53] #4363 closed

[2019-05-15 14:54] no-more commented on #7288
Issue still active, needs someone to look at it.

Thanks

[2019-05-15 14:56] evilebottnawi commented on #7288
@no-more what is problem? It is impossible detect __dirname and __filename in browser

[2019-05-15 14:58] evilebottnawi commented on #7288
Please provide minimum reproducible test repo, hard to understand what you want

[2019-05-15 15:03] sarkiroka commented on #4363
Is it resolved?

[2019-05-15 15:04] evilebottnawi commented on #4363
Not it is moved to dev server repo and will be solved in next release

[2019-05-15 15:18] Shelagh-Lewins commented on #9125
Thanks, so how do I find what is the minimizer? I don't see anything else in package.json that could be it?

[2019-05-15 15:20] evilebottnawi commented on #9125
https://webpack.js.org/configuration/optimization/#optimizationminimizer

[2019-05-15 16:38] rob-barber opened #9132 "Webpack chunking sourcemaps disappearing in browser"
# Bug report

**What is the current behavior?**
Webpack's source maps do not exist in browser after code splitting.

**If the current behavior is a bug, please provide the steps to reproduce.**
I have created a small project to better understand the issue. It can be downloaded here [https://github.com/rbarber1/Webpack-Chunk-Sourcemap-Bug.git](https://github.com/rbarber1/Webpack-Chunk-Sourcemap-Bug

[2019-05-15 17:00] mcroba commented on #339
How do you use this optional flag?

externals : {
       "react": "React",
       "react-dom": "ReactDOM",
       "app1/dist/component1": "Component1",
       "app2/dist/component2": "Component2"
 }

and I would like to make the component1 or component2 dependencies optional

Thank you in advance for your help