[2022-03-02 11:55] vankop commented on #15303
done https://github.com/webpack/webpack/pull/15424

[2022-03-02 11:55] #15303 closed

[2022-03-02 11:56] WLyKan commented on #15458
just leave a message here, for people need it

[2022-03-02 11:56] #15458 closed

[2022-03-03 04:51] SenyaMur opened #15461 "RawModule is not resolve"
Hi, i use
webpack@5.69.1
react-scripts@5.0.0
xlsx@0.18.2
pnpm for build project

When i try to start my project, I catch an exception

![image](https://user-images.githubusercontent.com/17513692/156498263-cd75e557-e29a-47ca-9052-70a666859ae7.png)

Stack:
[code]
How to fix this exception?

[2022-03-03 05:03] mzahidriaz commented on #4861
I am also facing trouble with just `import` instead `System.import` is working for dynamic imports.

[2022-03-03 06:26] fregante commented on #14800
6 other issues were redirected to this one, let's not make it die

[2022-03-03 08:07] #15372 closed

[2022-03-03 08:09] #15447 closed

[2022-03-03 12:32] hiyuki opened #15466 "Support exclude rules config for cache.buildDependencies"
## Feature request

**What is the expected behavior?**

Exclude some files/directories from the buildDependencies collected by `FileSystemInfo.resolveBuildDependencies()`

**What is motivation or use case for adding/changing the behavior?**

Sometimes some loader reads config from `projectRoot/package.json` by `require()` (for example `postcss-load-config -> lilconfig`) in this case `projectRoot/p

[2022-03-03 12:36] vankop commented on #15466
@hiyuki this behaviour is expected, since this `package.json` is a build dependency

[2022-03-03 12:36] #15466 closed

[2022-03-03 13:28] hiyuki commented on #15466
But in this case I know I have no postcss config in the `package.json`, but in the `postcss.config.js`, because of `lilconfig` trying to `require` both of them, the `package.json` has been regarded as a build dependency, actually the change of `package.json` has no side effect to the webpack compilation.

[2022-03-03 13:31] vankop commented on #15466
for webpack it is impossible to determine this, so it adds all to build dependencies.

[2022-03-03 13:32] hiyuki commented on #15466
Yes I know so I want a config to customize the build dependencies.

[2022-03-03 13:33] alexander-akait commented on #15466
You can't do it

[2022-03-03 13:37] hiyuki commented on #15466
Ok, actually I can pass a load config to `lilconfig` to read `package.json` by `fs.readFile` instead of `require` to avoid this problem.
Thanks for your replies. @vankop @alexander-akait

[2022-03-03 13:53] #15409 closed

[2022-03-03 13:56] alexander-akait commented on #15444
Please create reproducible test repo

[2022-03-03 19:18] raphael10-collab commented on #15444
@alexander-akait

I created a brand new electron project with the bare minimum requirements in order to let you experiment and detect what's going on

Steps to reproduce everything:
1) git clone https://github.com/raphael10-collab/OnnxWebPlaying.git
2) cd
3) yarn type-check
4) in a second screen: yarn start

[2022-03-03 19:49] winniederidder commented on #12719
@alexander-akait Could you give an example of using ECMA modules in the supported fashion? My previous post in this discussion describes my currently working approach, but if there is a better way I will gladly use it (and update my comment accordingly).

[2022-03-03 19:54] alexander-akait commented on #12719
You can try it using `output.module` https://webpack.js.org/configuration/output/#outputmodule to build library

[2022-03-03 19:57] winniederidder commented on #12719
output.module is described as an experimental feature. How likely is it that it will become stable and fully supported?

[2022-03-03 20:04] alexander-akait commented on #12719
I think it is already stable (except real edge cases), maybe we need to do it officially

[2022-03-04 05:02] vankop commented on #14858
bump

[2022-03-04 10:22] #14759 closed

[2022-03-04 10:32] vankop commented on #13537
bump

[2022-03-04 10:32] raphael10-collab commented on #15444
@alexander-akait

Based on the already working `css` settings:

          {
            from: path.resolve(__dirname, "./src/assets/css"),
            to: path.resolve(__dirname, "./dist/assets/css")
          },

I copied the entire `/node_modules/onnxruntime-web/dist/` folder to  `/src/assets/onnxruntime-web` folder

I set in `webpack.config.js` :

      new CopyPlugin({
        patterns: [

[2022-03-04 10:45] vankop commented on #13852
bump

[2022-03-04 14:03] alexander-akait commented on #14893
bump

[2022-03-06 06:43] Divine-Cipher-Cells commented on #15444
Hello I am new to open source but want to contribute into this could you please provide me the resources required to contribute into it

[2022-03-06 11:21] pauldraper commented on #15100
FWIW, I would be confused why watchOptions.followSymlinks would even exist as an option. It only makes sense to be true if resolve symlinks are disabled.

[2022-03-06 14:17] noahehall opened #15476 "optimization type definitions should match string options specified in webpak 5 docs"
# Bug report

**What is the current behavior?**
type def for OptimizationOptions doesnt match webpack 5 docs

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
- `chunkIds?: 'natural' | 'named' | 'size' | 'total-size' | false,`
- `moduleIds?: 'natural' | 'named' | 'hashed' | 'size' | 'total-size' | false,`
- [should both include `deter

[2022-03-06 16:56] ghost opened #15477 "Fails to update index.js when using webpack-dev-server"
# Bug report
I was following the webpack documentation guide.
After installing webpack-dev-server, It's supposed to refresh in place.
However, that is not happening. I got the following error:

Uncaught TypeError: Cannot set properties of undefined (setting './src/index.js')
    at self.webpackHotUpdatewebkack_guide (jsonp chunk loading:44:1)
    at index.17c225e1ecf28bdb9b74.hot-update.js:2:38

H

[2022-03-07 01:01] #13924 closed

[2022-03-07 02:45] innManish commented on #15441
@ar53n ,
see my pull req,
helped or not

[2022-03-07 10:56] hd321kbps opened #15482 "Wrong version Webpack"
![image](https://user-images.githubusercontent.com/9886849/157018338-c43f23f6-69e5-4b43-9cf7-7075373d7d00.png)

**Other relevant information:**
webpack version:  5.70.0
Node.js version: 17.6.0
Operating System:  Windows 11

[2022-03-07 11:02] vankop commented on #15482
hm.. works fine for me. maybe you have` webpack` 5.65 installed globally?

[2022-03-07 11:03] vankop commented on #15477
please create reproducible repo

[2022-03-07 12:13] vankop commented on #14351
please use
[code]
webpack.config.js
[code]
I don't see a reason to implement special case for Node.js api.

[2022-03-07 12:13] #14351 closed

[2022-03-07 15:56] huozhi opened #15484 "Both module and import field in exports field are resolved for same library"
# Bug report

Both "module" export and "import" export of exports field are resolved in duplication.

**What is the current behavior?**

3rd party lib swr's output assets are resolved in different cases:

* When swr is imported, it resolves to `swr/dist/index.esm.js`
* Then subpath import `swr/infinite` is imported, which is relying on `swr`
* Then swr is resolved in 2nd time, but now `swr/dist/in

[2022-03-07 16:55] vankop commented on #15484
You have wrong babel configuration. After `babel-loader` run `Test.component.js` looks like this
[code]
So in case of require `module` export name is used in [exports field](https://nodejs.org/api/packages.html#main-entry-point-export) (result to `esm.js` resolve). In case of resolving `swr` in `swr/infinite` `import` export name is used since it uses `import {} from 'swr'` (result to `mjs` resolv

[2022-03-07 16:55] #15484 closed

[2022-03-07 18:41] huozhi commented on #15484
Thanks @vankop! Looks like removing `@babel/plugin-transform-modules-commonjs` works

[2022-03-07 19:53] danielannan17 opened #15485 "Split Chunks optimisation breaks web workers"
# Bug report

**What is the current behavior?**
When you turn on the split chunks optimisation, workers which are created from a worker script are not able to receive and possibly send messages. Removing the split chunks optimisation from the webpack config restores the functionality however common dependencies will be included in both scripts.

**If the current behavior is a bug, please provide t

[2022-03-07 21:07] Lizzy-Gallagher opened #15486 "Allow turning off tree shaking for external modules or marking external modules as having side-effects"
## Feature request

**What is the expected behavior?**
In my application, I am seeing various external modules (specifically those with side-effect only imports, i.e. "import "myModule"") being removed by tree shaking from the bundle when in production mode.

According to the [tree shaking documentation](https://webpack.js.org/guides/tree-shaking/), I can mark npm packages as having side effects /

[2022-03-08 00:28] leonpatry commented on #12558
what about support for both? named and default exports?

[2022-03-08 01:37] ExampleWasTaken commented on #10035
Having the exact same issue. Would be great if anybody from the maintainers could take a look at this.

[2022-03-08 06:14] vankop commented on #10035
please create a new issue with reproducible repo.

[2022-03-08 06:16] vankop commented on #15486
all external modules should be preserved in bundle. could you provide a reproducible repo with bug?

[2022-03-08 06:30] vankop commented on #15485
Could you provide full reproducible repo (as small as possible), from your description it is unclear..

[2022-03-08 07:07] #15274 closed

[2022-03-08 09:55] carlovenus commented on #11431
Hi, I have the same issue using webpack 5.68.0

`new webpack.optimize.LimitChunkCountPlugin({
                        maxChunks: 1,
                    })`

and i still get chunks

[2022-03-08 09:58] vankop commented on #11431
@carlovenus Could you create a repro?

[2022-03-08 10:05] 2239559319 opened #15490 "sourcemap sources does not support template string"
# Bug report

**What is the current behavior?**

sourcemap sources property does not convert to chunk name

**If the current behavior is a bug, please provide the steps to reproduce.**
config with follow
![image](https://user-images.githubusercontent.com/34960995/157214085-6f436b65-183a-437e-914b-b63095b2fdfc.png)
get sourcemap with
![image](https://user-images.githubusercontent.com/34960995/15721

[2022-03-08 10:10] cool-little-fish commented on #15490
see doc https://webpack.js.org/configuration/output/#outputdevtoolmodulefilenametemplate

[2022-03-08 10:53] carlovenus commented on #11431
It is a Vue/Quasar application, and I have a  quasar.conf.js file where I can configure/extend Webpack:

`extendWebpack (cfg) {

                cfg.plugins.push(
                    new webpack.optimize.LimitChunkCountPlugin({
                        maxChunks: 1
                    })
                )

}`

The build is successful, not getting errors, but js and css files are chunked.
As a ref:

[2022-03-08 11:08] vankop commented on #11431
what webpack version you are using?

[2022-03-08 11:09] vankop commented on #15490
there is no such replacement, see link above. thanks.

[2022-03-08 11:09] #15490 closed

[2022-03-08 11:48] carlovenus commented on #11431
@vankop 5.68.0

[2022-03-08 14:31] SystemParadox opened #15491 "Error when using a regex with managedPaths unless the regex includes a capture group"
# Bug report

**What is the current behavior?**

Using a regex with managedPaths results in the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

It appears that checkManaged uses `match[1]` when it should be using `match[0]`.

Workaround: Enclosing the entire regex in a capture group fixes it.

**What is the expected behavior?**

A reg

[2022-03-08 14:43] SystemParadox commented on #12112
@sokra, @alexander-akait, please can we reopen this? As others have mentioned in #14509, in practice we're only really interested in *excluding* a handful of specific things so a regex seems like completely the wrong solution here. Negative regexes are hard to write, hard to read, and hard to debug.

I've tried using the regex for this and I am still yet to get it working properly. Part of the iss

[2022-03-08 16:19] romellem commented on #14532
@acerspyro are you able to configure [output.hashFunction](https://webpack.js.org/configuration/output/#outputhashfunction) within the webpack config? If you have a loader/plugin that unfortunately [hardcodes](https://github.com/webpack/webpack/issues/14532#issuecomment-998628234) the unsupported `md4` algo, you could use [patch-package](https://www.npmjs.com/package/patch-package) to change this

[2022-03-08 17:50] rossPatton commented on #11477
Same issue for me. Not using this property, but on migration to webpack 5 I am also getting this error

[2022-03-08 18:05] alexander-akait commented on #11477
@rogerprz Some old plugins can modify output options, try to check it

[2022-03-08 18:50] vankop commented on #11012
hm.. this is not done yet.

[2022-03-08 18:51] vankop commented on #11012
I think we can add parser option for this

[2022-03-09 02:14] yangguansen opened #15492 "How to choose plugin hooks about analyze source code dependencies"
I have a question, please help me. I had ask questions on StackOverflow(https://stackoverflow.com/questions/71389265/webpackhow-to-choose-plugin-hooks-about-analyze-source-code-dependencies) and Gitter, but nobody answer me.

Question:
I want to make a webpack plugin about analyze source code dependencies,it can generate depend tree to img from entry file. How to choose hooks about analyze source

[2022-03-09 10:50] karlhorky commented on #13252
@sokra did you have a chance to make a decision here? Should this be in webpack core as you [suggested above](https://github.com/webpack/webpack/issues/13252#issuecomment-828714153)?

Or should this be done in `ts-loader`, potentially as part of https://github.com/TypeStrong/ts-loader/issues/1383 ?

[2022-03-09 10:56] alexander-akait commented on #13252
@karlhorky I think we need a plugin in https://github.com/webpack/enhanced-resolve/ (I already implemented it in thread) and allow customize resolver, allow ts-loader can create custom resolver using loader API and supports it out of box

[2022-03-09 11:02] karlhorky commented on #13252
Oh great, good news, thanks for the update!

So am I understanding correctly: this is already implemented in `enhanced-resolve` and now just needs to be implemented in `ts-loader`?

[2022-03-09 12:30] alexander-akait commented on #13252
@karlhorky It is not implemented in `enhanced-resolve`, but it is easy https://github.com/TypeStrong/ts-loader/issues/1383#issuecomment-968075478, just want to verify @sokra and @vankop support my idea

[2022-03-09 13:11] vankop commented on #13252
I we want parity with `tsc` we can make a resolver plugin.

[2022-03-09 13:23] alexander-akait commented on #13252
@vankop I think it will be good, because ESM is popular, will be great to do it as part of core

[2022-03-09 14:23] MaorDanielD opened #15495 "Package exports - require.context"
Hi,
after upgrading svgr package from version 5.5 to version 6.0.0 I have a problem passing options in require.context
I'm getting an error:

"module not found: Error: Package path ./?{"titleProp":true} is not exported from package ../node_modules/@svgr/webpack (see exports field in ../node_modules/@svgr/webpack/package.json"

(There is exports field in the package.json)

my code:
require.context(

[2022-03-09 14:46] vankop commented on #15495
I think you should ask in `@svgr/webpack` issue tracker. thanks.

[2022-03-09 14:50] MaorDanielD commented on #15495
I don't think so, this relates to the webpack.

https://webpack.js.org/guides/package-exports/

<img width="832" alt="Screen Shot 2022-03-09 at 16 49 56" src="https://user-images.githubusercontent.com/99175500/157465763-59d4eac5-b849-4bff-be2d-dde710dcd805.png">

[2022-03-09 15:13] vankop commented on #15495
please create reproducible repo, I will take a look.

[2022-03-09 15:23] alexander-akait commented on #15495
@vankop problem in `require.context`, we don't know about export so we can't found valid field in `exports`, that is why `context` requests are not good, there is the same issue

[2022-03-09 17:33] gajus commented on #10400
How do you make sure that the paths are consistent if CI is running tests is uniquely generated directories?

[2022-03-09 17:34] gajus commented on #10400
Is there a library I could parse the cache file to rewrite the paths?

In our case, only one fragment of the path changes. It would be a matter of a simple replace operation.

[2022-03-09 17:43] acerspyro commented on #14532
Thanks for the reply! I'll try the monkey-patching solution, seems promising.

I tried changing Webpack's `output.hashFunction` in the Nuxt config, but it either did not work or I did not do it correctly. I'll look into it a bit more, but I have a hunch that something does indeed hardcode `md4` somewhere.

[2022-03-09 18:06] vankop commented on #10400
no..

[2022-03-09 18:17] gajus commented on #10400
Turns out I can just do `gsed -i -e "s/contra-web-app-2/contra-web-app-1/g" 0.pack` and it works.

You could also probably figure out how to manipulate the file using `webpack/lib/util/serialization`, but I was confused by the API.

[2022-03-09 21:20] gajus opened #15498 "Add an option to compress cache using zstd"
At the moment, `cache.compression` gives only `gzip` and `brotli` options. However, zstd is noticeably faster alternative to both of those algorithms. It would be nice if `zstd` option were to be added.

[2022-03-09 21:55] cmonti-bc commented on #536
Darn I really need this to work :(

[2022-03-09 22:23] gajus commented on #14946
Is there a workaround for this?

[2022-03-09 22:25] gajus commented on #14946
I believe that I am facing the same issue:

[code]

[2022-03-09 23:00] chriscalo commented on #536
(If it's an option for you, HTML entry points work in both Vite and Parcel)

[2022-03-09 23:11] dovidweisz opened #15499 "Error resolving root-relative image paths in css for external images"
# Bug report

**What is the current behavior?**

When encountering a root-relative url (IE: `url(/path/to/image.jpg)` ) in css, Webpack attempts to process the asset and throws an error if it fails to do so.

This is fine if the image is local to the repository, or otherwise available at build-time. But if the image is expected to come from another service, the build will fail.

**If the current b

[2022-03-09 23:12] wmertens commented on #536
@cmonti-bc actually, having a server endpoint that outputs the HTML entry dynamically is very nice, it plays well with SSR and allows you to fine-tune every detail. It's also straightforward to cache so performance can be similar to static files.

[2022-03-10 04:26] chenwenqin opened #15500 "can't use production mode when use React.lazy to import component, but the develoption mode is ok."
webpack.prod.config
{
  mode: process.env.NODE_ENV,
  module: {
    rules: [
      {
        test: /\.(js|mjs|jsx|ts|tsx)$/,
        include: path.resolve("./src"),
        loader: 'babel-loader',
        exclude: /node_modules/,
      },
      ......,
    ]
  },
  ......,
  optimization: { splitChunks: { chunks: "all" } },
}

.babelrc
{
  "presets": [
    "@babel/preset-react",
    "@babel/preset

[2022-03-10 04:28] chenwenqin commented on #15500
I‘m sure that the problem is `react.lazy(()=>import('./add.tsx'))`, when i use `import Add from './add'`, this well be ok.

[2022-03-10 05:56] Anatanokami opened #15501 "webpack causes ECONNRESET during build when running on a M1 MacBook"
# Bug report

**What is the current behavior?**

In some of my bigger existing projects using webpack and webpack-dev-server, `npx webpack` and `npx webpack serve` do no longer work as expected since I moved over to my new MacBook Pro (M1 chip).

When running either of the two commands, It shows the following error:

[code]

This happens less often if the project is smaller.

Occurs when using bot

[2022-03-10 06:22] vankop commented on #15498
not sure that this will be implemented. anyway lets keep tracking

[2022-03-10 06:36] vankop commented on #14946
using `experimentalUseImportModule=false` in mini-css should help.

[2022-03-10 06:38] vankop commented on #15499
this should work only with `/* webpackIgnore: true */`? @alexander-akait

[2022-03-10 06:42] vankop commented on #15501
please create a reproducible repo.

[2022-03-10 06:43] vankop commented on #15500
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it. Also will be great to create reproducible repo.

[2022-03-10 06:43] #15500 closed

[2022-03-10 08:43] flyskywhy commented on #4817
`rm -fr node_modules/.cache/*` may fix this issue as describe in doc [Upgrade to react-scripts@5 and Add Web Workers support](https://github.com/flyskywhy/g/blob/master/i%E4%B8%BB%E8%A7%82%E7%9A%84%E4%BD%93%E9%AA%8C%E6%96%B9%E5%BC%8F/t%E5%BF%AB%E4%B9%90%E7%9A%84%E4%BD%93%E9%AA%8C/%E7%94%B5%E4%BF%A1/Tool/%E7%BC%96%E7%A8%8B%E8%AF%AD%E8%A8%80/JavaScript/React%E4%BD%BF%E7%94%A8%E8%AF%A6%E8%A7%A3.md#up

[2022-03-10 08:44] flyskywhy commented on #12549
None of webpack config change above can fix it, only source code change can [fix: react-native-web with react-app-rewired and react-scripts@5 and webpack@5 cause `Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead: ./node_modules/@flyskywhy/react-native-gcanvas/index.js`](https://github.com/flyskywhy/react-native-gcanvas/commit/077dd6f321a1224d4ad

[2022-03-10 08:45] flyskywhy commented on #12040
None of webpack config change above can fix it, only source code change can [fix: react-native-web with react-app-rewired and react-scripts@5 and webpack@5 cause `Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead: ./node_modules/@flyskywhy/react-native-gcanvas/index.js`](https://github.com/flyskywhy/react-native-gcanvas/commit/077dd6f321a1224d4ad

[2022-03-10 09:21] #10179 closed

[2022-03-10 10:02] Anatanokami commented on #15501
I'll try to do that with some dummy files.

[2022-03-10 11:50] alexander-akait commented on #15501
I think bug on Node.js side

[2022-03-10 11:52] alexander-akait commented on #15498
If it is faster, maybe we should use it by default

[2022-03-10 11:56] alexander-akait commented on #15499
Yes, if you need ignore please use `webpackIgnore` comment, also you can achieve this using the `filter` option for the `url` option

[2022-03-10 12:39] rnacken commented on #748
Come on guys, its ~~2017~~ 2022

[2022-03-10 13:17] cmonti-bc commented on #536
Sorry but the project I'm working on cannot afford to have an endpoint to serve the html. Thanks anyway.

[2022-03-10 13:23] andy1547 opened #15502 "Option to merge multiple JSON files during compilation when using asset/resource"
## Feature request

**What is the expected behavior?**

I'm currently using the asset/resource module rule to explicitly generate a JSON bundle containing runtime settings (pure JSON - no JS) with the filename "[name].[contenthash].bundle.json". When importing the JSON file in my entry file I'm provided with the hashed filename, which I pass to a window.fetch request to retrieve the JSON content.

[2022-03-10 13:25] alexander-akait commented on #15502
You need custom loader for this, it is out of scope webpack

[2022-03-10 13:40] andy1547 commented on #15502
@alexander-akait thanks for the quick response.
Is it possible to chain asset/modules and loaders? I'd prevent not to duplicate asset/modules.

[2022-03-10 13:42] alexander-akait commented on #15502
Yes, just use `use` with loaders and set `type: "asset/resource"`

[2022-03-10 14:40] erkanisuf opened #15503 "[HELP] - Webpack dev server on refresh loses /assets/ folder items"
I am using React with webpack 5.68 and dev server 4.7.4 . I am also having /assets/ folder which has some bundles in them that i need in my app. But when i change my route to something else than "/" (using react router) and then if i refresh the page, it will happen that the assets wont load which makes stylings to get lost and other things that i need too.
Folder structure looks like this :
![Scr

[2022-03-10 16:59] vankop commented on #15501
you repo works for me.. my setup `MacBook Pro M1, 2020`

[2022-03-10 17:21] #15499 closed

[2022-03-10 17:36] dovidweisz commented on #15499
What is the `filter` option  for the `url` option?

[2022-03-10 18:00] vankop commented on #15444
your example is very huge.. so very hard to actually understand problem. Could you reduce repo to particularly part that should work? from upstream issue as I understand you need some help with configuration, but it is hard to understand what you want to achieve..

[2022-03-10 18:15] Anatanokami commented on #15501
Huh. That's a bummer.

[code]

[code]

Are you running Node as `arm64`?

[2022-03-10 18:16] Anatanokami commented on #15501
But anyway, then it's most likely not a bug in webpack but something wrong with my setup. Good to know, even though it makes me a bit sad :(

[2022-03-10 18:35] vankop commented on #15501
maybe port already in use.. try to force shutdown other Node.js application from `activity monitor`.

[2022-03-10 18:44] Anatanokami commented on #15501
No other instances running, double checked that. And it also happens when not trying to launch the dev server.

Doesn't seem to be a common issue, otherwise there'd be more people. At least one who's having the same problem in combination with webpack/webpack-dev-server and there seems to be an open bug also on the Node.JS repos: https://github.com/nodejs/node/issues/27916

I'll try to do a clean

[2022-03-10 18:48] hamza1311 opened #15506 "Allowing including additional files/directories to watch with the development server"
## Feature request

**What is the expected behavior?**

Watch specific file(s) or folder(s) in addition to the code from the package being built.

**What is motivation or use case for adding/changing the behavior?**

Consider a project structured like this:
[code]

- `client/` contains the client source code being built and served with webpack - could be an angular app, etc
- `packages/*` contains

[2022-03-10 18:50] alexander-akait commented on #15506
We have https://webpack.js.org/configuration/dev-server/#devserverwatchfiles, please use it

[2022-03-10 18:50] #15506 closed

[2022-03-10 19:15] hamza1311 commented on #15506
I did not know that existed. Thanks!

On Thu, Mar 10, 2022, 11:50 PM Alexander Akait ***@***.***>
wrote:

[2022-03-10 20:02] dovidweisz commented on #15499
Thank you

[2022-03-11 02:22] yinguangyao opened #15507 "__webpack_require__(...).map is not a function"
### Basic info:

- **Node.js version:** v12.14.0
- **jsdom version:** 16.6.0
- **webpack version:** 4.44.2

### Minimal reproduction case

https://github.com/yinguangyao/jsdom-webpack

[code]
### problem performance
The error message is as follows:

[code]
The problem looks to be with psl here.

[2022-03-11 05:42] vankop commented on #15507
from npm install
[code]

[2022-03-11 07:10] vankop commented on #11805
can not reproduce with latest webpack, getting
[code]

[2022-03-11 07:11] vankop commented on #13287
can not reproduce https://github.com/webpack/webpack/issues/11805#issuecomment-1064836537

[2022-03-11 07:11] #13287 closed

[2022-03-11 12:06] ddadon10 opened #15512 "Add a disclaimer in the documentation for third-party loaders and plugins"
The official webpack documentation has guides to use third party loaders and plugins, for example:
- The ts-loader guide https://webpack.js.org/guides/typescript/
- All the loaders from webpack-contrib https://webpack.js.org/loaders/

Without a proper disclaimer, a read of the documentation can think those plugins are maintained by webpack when this is not the case.

Third party plugins potentiall

[2022-03-11 12:11] vankop commented on #15512
created an issue in docs

[2022-03-11 12:11] #15512 closed

[2022-03-11 12:59] wangjinyang opened #15513 "Module federation Throw Error In HMR When Compile A Async Chunk"
# Bug report

**What is the current behavior?**

 <img width="1790" alt="2022-03-11 下午7 20 31" src="https://user-images.githubusercontent.com/18388900/157869714-ae789b2e-69d4-4cfe-ab72-ec653a20f76e.png">

<img width="1791" alt="2022-03-11 下午7 21 23" src="https://user-images.githubusercontent.com/18388900/157869835-1ada5710-333d-45a4-9985-5545f0de9ac1.png">

**If the current behavior is a bug, plea

[2022-03-11 13:02] wangjinyang commented on #15513
[Duplicate of #](https://github.com/webpack/webpack/pull/15514)

[2022-03-11 16:22] theOnlyBoy opened #15516 "Getting entry's filename within `DefinePlugin.runtimeValue` method"
## Feature request

Webpack version: 5.70.0

**What is the expected behavior?**

Would like to get a currently processing webpack entries' filename within `webpack.DefinePlugin`.

**What is motivation or use case for adding/changing the behavior?**

Tried to find a solution, googled and debugged `webpack.DefinePlugin.runtimeValue()` output, but couldn't find any prop that provides a current entry

[2022-03-11 16:42] vankop commented on #15516
I think it is not possible. you can have several entries for one module.

[2022-03-11 17:50] therealgilles opened #15517 "Mandatory extension in ESM module imports documentation (breaking change in v5)"
I've noticed webpack v5 now enforces mandatory extension in ESM module imports and it is documented [here](https://webpack.js.org/guides/ecma-script-modules/).

It would be great if a proper error message was output during the webpack compile. It seems like it would be a simple situation to identify and flag.

It is a breaking change compared to v4 so it should be added to the migration guide.

[2022-03-11 18:44] indiketa opened #15518 "Failing resolving a module at runtime"
# Bug report
**What is the current behavior?**
Webpack compilation finishes without any error nor warning.
At runtime an error is thrown while importing a module through a dynamic import.

"User-space" code `router.js:259`:
[code]
The following error is thrown:

[code]
This is the webpack-generated function causing the error:
[code]
`t` does not exist into `__webpack_require__`.
A needed function

[2022-03-12 04:42] Edge00 opened #15521 "MultiCompiler didn't release memory after one compiler is finished."
# Bug report

**What is the current behavior?**
I use MultiCompiler configs.
If i run them one by one, Webpack can build them all.
[code]
If i run them together, OOM appeares.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
MultiCompiler uses more memory than single compiler.

**What is the expected behavior?**
Each compiler should work separately. when one is

[2022-03-12 05:36] theOnlyBoy commented on #15516
@vankop That's the problem. I can fetch any data related to current source (filename, comments, blocks, etc.), but for some reason there is no entry filename available (which I need the most). Maybe it's possible to upgrade the plugin a little with such value.

[2022-03-12 05:59] vankop commented on #15521
in multicompiler mode next compilation could depends on previous one https://github.com/webpack/webpack/blob/main/schemas/WebpackOptions.json#L396 . but maybe this could be improved.

[2022-03-12 06:01] vankop commented on #15518
could you provide a reproducible repo?

[2022-03-12 06:03] Edge00 commented on #15521
@vankop  Is there any way to stop such behavior because in my scenario, there is no dependencies between multicompilers

[2022-03-12 06:09] vankop commented on #15516
`runtimeValue` evaluated for module, but module could be in several entries (when evaluation happens it is unknown how much entries use this module). e.g.
webpack.config.js
[code]
module with runtime value (file `module.js`)
[code]
e.g. in entry `a` we have module chain a -> c -> d -> module.js
in entry `b` we have module chain b -> module.js

So `__RUNTIME_VALUE__` should be evaluated once but we

[2022-03-12 06:12] theOnlyBoy commented on #15516
@vankop Thank you for the explanation, mate! Appreciate that.

[2022-03-12 06:55] #15516 closed

[2022-03-12 06:56] vankop commented on #15521
not sure.. lets keep tracking issue for now.

[2022-03-12 07:08] Edge00 commented on #15521
The strange thing is even all assets are emited. OOM still appeares at last.

[2022-03-12 11:24] andy1547 commented on #15502
For anyone else reading this, I used the MergeJsonWebpackPlugin to merge JSON files at compile time and the fetch API to retrieve JSON at runtime:
[code]
@alexander-akait thanks for your assistance.

[2022-03-12 11:24] #15502 closed

[2022-03-12 14:19] yaosoft commented on #11066
veru

Yes

[2022-03-12 16:24] SharakPL opened #15522 "Loaders emit the same errors on watch mode, even when already fixed"
# Bug report

**What is the current behavior?**

Each loader in the chain emits the same error in webpack's watch mode, but when the error is fixed and another one is thrown, then only the first loader points to new error. Other loaders still mention old one.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here are relevant parts of my config:
#### webpack.config.js

[2022-03-13 11:05] alexander-akait commented on #15521
@Edge00 Can you provide OOM message?

[2022-03-13 11:09] alexander-akait commented on #15517
Can you explain? We already show an error about it.

[2022-03-13 11:09] Edge00 commented on #15521
@alexander-akait  Sure
[code]

[2022-03-13 11:16] alexander-akait commented on #15521
@Edge00 Cache enabled? What is `mode`? If you can will be great to provide configuration

[2022-03-13 11:27] Edge00 commented on #15521
@alexander-akait Sorry. The configuration are generated by some complicated logic. I supplemented some configuration information on the issue description. If you need more information please let me know. Thank you!

[2022-03-13 13:28] pascuflow commented on #4842
@vjpr So how did you resolve it? I don't want to force a refresh the first time I navigate to page that has a dynamic import.

[2022-03-13 18:29] siawo commented on #11874
Hi @vanceeasleaf, Have you created the webapck plugin? If not how are you achieving the the top level await for IE11?

[2022-03-14 12:35] buchatsky commented on #12759
Workaround that worked for me:
karma.conf.js
[code]

[2022-03-14 16:45] indiketa commented on #15518
Obviously it only fails in one of the several projects I use in webpack, I can't publish all the source code.

All these plugins are used:
[code]
Our approach will be to disable plugins/loaders one by one to detect which is causing the issue (maybe the source... but in webpack4 works perfectly).

**Is there any way to disable webpack generated code obfuscation/mangling for debugging purposes?**

[2022-03-14 16:46] hamza1311 commented on #15506
@alexander-akait I used that and it seems that it doesn't solve the issue. The packages under the `packages` directory are *not* being re-built. Is there a solution to that?

I'll re-open the issue and update the description with more details

[2022-03-14 18:15] indiketa commented on #15518
The issue is:
When a module exports nothing inside a dynamic import chunk, loading another module inside the chunk will make entire loading fail.

https://github.com/indiketa/webpack5-dynamic-import-issue.git

[2022-03-14 18:38] vankop commented on #15518
thanks. I found problem.

[2022-03-14 21:25] duhmojo opened #15529 "Webpack v4 migration to v5 effort is running into a "JavaScript heap out of memory""
# Bug report

Hi. I have a webpack v4 legacy webpack.config.js that I'm trying to update to work with webpack v5. The only hiccup I ran into was my use of `webpack-dev-server -d --host 0.0.0.0 --open` was breaking the new devtool config in v5. So I corrected it to `webpack serve --host 0.0.0.0 --open` and all seemed ok (no errors building or starting) but I can' figure out why it's basically eatin

[2022-03-15 09:38] vankop commented on #15529
This error occurs when the memory allocated for the executing application is less than the required memory. By default, the memory limit in Node.js is 512 MB. To increase this amount, you need to set the memory limit argument `--max-old-space-size=x`. It will help avoid a memory limit issue.

[2022-03-15 10:44] #14927 closed

[2022-03-15 10:44] danielannan17 commented on #15485
I've created the repo
https://github.com/danielannan17/webpack-recreate/tree/main

[2022-03-15 13:30] duhmojo commented on #15529
So I increased the memory limit from the default 512MB to 4GB and it still runs out of memory. The progress options `--progress` still indicates nothing is happening and it takes a while for the memory limit to be hit. Like longer than it took to build with webpack v4.

[2022-03-15 14:36] andy1547 commented on #10022
Can this be reopened, thanks!

[2022-03-15 15:25] duhmojo commented on #15529
I tried profiling webpack in Chrome and here's the top consumers while the progress sits at 10%:

[code]

I only let it run for 5-10 seconds. I figured if there was some controlled loop it would be clear pretty early. I see cachedJoin.js eating up the most time. I'm disabling caching like so:

[code]

Maybe caching isn't disabled? I'm not sure what to make of the profile.

[2022-03-15 15:35] alexander-akait commented on #15529
Do you use polyfill Node.js runtime? I.e. for example do use use `babel-register` (or `ts-register`/`ts-node`/etc) to run webpack?

[2022-03-15 15:40] duhmojo commented on #15529
No, I'm not using babel-register. In my latest webpack.config.js for a dev build I'm just using babel-loader, with babel-refresh for dev where I have new webpack.HotModuleReplacementPlugin():

[code]

[2022-03-15 15:52] duhmojo commented on #15529
Ok, I'm making some progress but I'm not ready to explain it. webpack is now doing something with a config.js that I managed to reduce, and I'm working things back in to see what the issue is.

[2022-03-15 16:10] duhmojo commented on #15529
Ok, I know what the problem is. It's a resolve we have in the config.js that points to some external source code (just in a different directory that we pull in) and when I remove it from the build it completes with webpack v5. When I add it back in I get the high CPU/memory and crash. I'm going to see if I can spot some kind of resolve loop in there. I have no clue how to debug this.

[2022-03-15 16:17] clotee opened #15532 "build target=electron-renderer, Uncaught ReferenceError: global is not defined"
"webpack": "^5.64.4",
    "webpack-dev-server": "^4.6.0",
    "webpack-manifest-plugin": "^4.0.2",

<img width="616" alt="image" src="https://user-images.githubusercontent.com/11476395/158423215-d6c329fa-f390-498f-9212-438293744d95.png">

[2022-03-15 16:20] vankop commented on #15532
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-03-15 16:20] #15532 closed

[2022-03-15 16:21] vankop commented on #15532
Also reproducible repo with webpack config will help a lot.

[2022-03-15 19:47] stefan-toubia opened #15533 "Cannot access '<val>' before initialization."
# Bug report / Question

**What is the current behavior?**

I've been getting a large number of `Cannot access 'something' before initialization` errors. I took a look at a similar issue #12724 and also tried running `CircularDependencyPlugin` to identify any circular dependencies but none were identified. I also use the ESLint rule `import/no-cycle`. Looking at the generated module chunk I can't

[2022-03-15 20:19] alexander-akait commented on #15533
Can you try to disable minification? Maybe terser bug

[2022-03-15 20:28] duhmojo commented on #15529
The problem was an alias to an external directory. I don't know if there was some circular reference causing the problem because the same path was declared twice, but I found the issue by removing the # version because I couldn't find an actual use of it anywhere.

[code]

It builds now. The webpack server isn't serving the bundle, but I'll work on it outside of this issue. Maybe there's something

[2022-03-15 20:28] #15529 closed

[2022-03-15 21:08] jdgomezb commented on #14532
The error was fixed by downgrading NVM from 17 to 16.
Thank you!

JD

[2022-03-16 04:29] desbrowne commented on #11127
In case anyone else runs into this, we had inline script tags that caused this to fail.
[code]
To fix this we replaced `document.getElementsByTagName("script")` with `document.querySelectorAll('script[src]')`

[2022-03-16 05:06] vankop commented on #15529
yeah, that is known bug

[2022-03-16 05:56] #15513 closed

[2022-03-16 06:23] wangjinyang opened #15534 "hrm throw error when works with Module federation"
# Bug report

**What is the current behavior?**

when change code to refer a module from remoteEntry, the generated hot-update.js throw an error `__webpack_modules__ is not defined`

Remote provide remote module `Button` and `Heading` for consume.:
[code]
Remote Module federation has been compiled successfully.

Host consume remote and worked with HMR:

[code]

- The Async Chunk entry `import('./l

[2022-03-16 06:49] singhbalr commented on #14532
Yeah confirmed working after switching node to 16

[2022-03-16 09:44] gfra54 commented on #14532
You can set it up "permanently" with this method
https://askubuntu.com/a/58828/707908

To set variable **only** for current shell:

    VARNAME="my value"

To set it for current shell and **all processes** started from current shell:

    export VARNAME="my value"      # shorter, less portable version

To set it **permanently** for all future bash sessions add such line to your `.bashrc` file in y

[2022-03-16 12:49] Sir-hennihau commented on #11672
I'm also looking for the correct replacement for `compiler.plugin`, anybody has some hints?

[2022-03-17 01:14] mx51damon commented on #10035
Please read [the documentation](https://www.electronjs.org/docs/latest/breaking-changes#default-changed-contextisolation-defaults-to-true) before thumb down !! (This is a suggested solution from Electron documentation)

[2022-03-17 02:40] rodoabad commented on #9297
Can someone explain why this was closed?

[2022-03-17 03:37] maoxiaoke commented on #15372
similar phenomenon was found when using [require.resolveWeak](https://webpack.js.org/api/module-methods/#requireresolveweak) in a pure ESM package @sokra @alexander-akait

[2022-03-17 05:56] tmeasday opened #15541 "Lazy compilation can fail when switching "routes" quickly"
# Bug report

**What is the current behavior?**

When using the experimental lazy compilation feature (in Storybook), when you change stories quickly (thus triggering many different lazy compilation jobs), *sometimes* the HMR for the lazy update can fail in various ways, which can lead to `react-refresh` errors or simply the whole app having to reload itself.

**If the current behavior is a bug, p

[2022-03-17 06:20] vankop commented on #15541
do you using `output.clean=true` ?

[2022-03-17 06:24] vankop commented on #9297
It was answered https://github.com/webpack/webpack/issues/9297#issuecomment-503061903

[2022-03-17 07:28] tmeasday commented on #15541
No, I don't think so. You can see the full webpack config SB generates with `yarn storybook --debug-webpack`.

[2022-03-17 08:35] geroale commented on #10035
Same issue here

[2022-03-17 10:45] suanmei commented on #1191
not work

[2022-03-17 10:50] ashif-sayyad opened #15543 "webpack.config.js exposes module increase the heap memory size while build or serve the application in angular"
I am using the dynamic module federation in angular. in that I am exposes the modules and access in another angular application. but when I am triggered the production build it increase the memory size. and throws the FATAL ERROR:
## Feature request
![K6tNJ](https://user-images.githubusercontent.com/98470160/158793597-d2935563-b357-4f02-bd87-0eb85e7c12b9.png)

**What is the expected behavior?**

*

[2022-03-17 10:55] vankop commented on #15543
This error occurs when the memory allocated for the executing application is less than the required memory. By default, the memory limit in Node.js is 512 MB. To increase this amount, you need to set the memory limit argument --max-old-space-size. It will help avoid a memory limit issue. Please try to use `--max-old-space-size=x`.

[2022-03-17 12:05] alexander-akait commented on #1191
@suanmei You can use it https://webpack.js.org/configuration/other-options/#level

[2022-03-17 12:08] alexander-akait commented on #15543
Also you use `ng`, they can have memory leaking too (due custom plugins or other tools), please report this to angular team, thanks

[2022-03-17 12:08] #15543 closed

[2022-03-17 19:57] jluxenberg opened #15545 "Error: "undefined is not an object" when using "globalObject: this" and "runtimeChunk: single""
# Bug report

**What is the current behavior?**

Using a combination of `globalObject: 'this'` and `runtimeChunk: 'single'` in `webpack.config.js` causes the following error when including the generated code in a browser:
[code]

This issue started on Webpack v5.47.0. I believe it was caused likely caused by this commit:
https://github.com/webpack/webpack/commit/0bd1e789d48f9b3e3ca38d6c48db7c7be53

[2022-03-17 23:10] rodoabad commented on #2933
@alexander-akait You asked me if I could reproduce the error. I finally figured out why I keep having the `meta` error.

It was because in my HTML Webpack Plugin, it was defaulting to `defer` instead of `module`.

For anyone reading this that's using the HTML Webpack Plugin, make sure to update that as well.

It was a pretty big oversight for that, I thought it would automatically switch if `modul

[2022-03-18 03:24] rodoabad commented on #2933
Update, when I do have this setup. I get this error.

[code]
I had to use `fullhash` instead.

[code]

[code]

[code]

[2022-03-18 06:34] hariseshathri opened #15547 "I am migrating my webpack v4 to v5 i'm facing the below issue"
[webpack-cli] D:\22.05\FORMS-1065\core-ui-application\node_modules\webpack-dev-server\lib\servers\WebsocketServer.js:10
  static heartbeatInterval = 1000;
                           ^

SyntaxError: Unexpected token =
    at Module._compile (internal/modules/cjs/loader.js:760:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:827:10)
    at Module.load (internal/modules/cjs/lo

[2022-03-18 06:39] vankop commented on #15547
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it.

From stack trace it looks like your code has [`static` keyword](https://developer.mozilla.org/en-US/docs/Web/JavaScript/

[2022-03-18 06:59] John-Soul opened #15548 "Some folders are ignored when building or compiling."
## Feature request

**What is the expected behavior?**
Some folders are ignored when building or compiling.

**What is motivation or use case for adding/changing the behavior?**
Most project codes are common, and there are multiple projects under the views folder.

example.
I have three projects in one main folder. they use main folder some code, layout, style, components etc.
views/projectA | vie

[2022-03-18 07:05] vankop commented on #15548
Thanks for your issue, you should run only needed entries per run.
____
Or I did not understand what you mean, please explain.

[2022-03-18 07:43] John-Soul commented on #15548
Excuse me for my bad english grammer.
I mean in a vue project, in "views" folder have many project  will be slowly.
![image](https://user-images.githubusercontent.com/20299172/158957360-16cc54aa-72b1-42bb-a0b7-0bfee00f2b4c.png)
How can I ignore other project at runtime or buiding.

For example, when I  npm run dev for project "yhyth", webpack can ignore compile other project. "mzysz", "zyyzz" etc.

[2022-03-18 07:47] vankop commented on #15548
probably better ask in `vue-cli` (or what are you using) issue tracker if it is possible. In webpack you just need to provide correct entrypoint.

[2022-03-18 07:47] #15548 closed

[2022-03-18 08:48] starmooms commented on #15466
In my case, we have to change the version number of `package.json` when we release the project. This leads to cache invalidation. In fact, the dependent module has not changed.

I agree that the cache should be cleared when dependency changes. It would be better to provide some options for more precise control.

For example, some options are provided to control the generation of cache 'hash' of so

[2022-03-18 09:02] vankop commented on #15466
@starmooms not all cache invalidates in your case

[2022-03-18 09:12] starmooms commented on #15466
But, it will take more than `30s` to re resolve build dependencies...

[2022-03-18 11:30] alexander-akait commented on #2933
@rodoabad

Hm, I think it should work as you written, feel free to open an issue

Just interesting why not `contenthash`?

[2022-03-18 15:50] yanavozniuk commented on #15545
the same

[2022-03-18 15:57] vankop commented on #15545
not sure that is legal to remove `"use strict";` there, but maybe we should move it in function..

[2022-03-18 17:48] dangayle opened #15552 "How to skip minification of one file?"
I know it is easy to turn minification off globally, but is there a way to annotate a file to prevent it from getting minified by the bundler?

[2022-03-18 20:20] lubieowoce opened #15554 "Module Federation: unable to share externalized dependency between host and remote"
# Bug report

**TLDR**: `ModuleFederationPlugin` won't expose a host's dependency to a remote if the dependency is an `external`.
To be honest, I'm not completely sure if this is a bug, a missing feature, or just a technical limitation of `ModuleFederationPlugin`... but i'd like to be able to do that 😄

---

### Context

Our module federation setup is pretty standard (except for the externals, app

[2022-03-18 22:31] #14837 closed

[2022-03-19 13:34] trozler opened #15556 "Tree shaking in development - outdated docs?"
When trying to follow the very simple tree shaking guide from the [docs]( https://webpack.js.org/guides/tree-shaking/),  for some reason code does not seem to shake.

Are the docs outdated?

For personal sanity help would be appreciated.

NOTE: code does shake when mode is `production`.
Link to Github repo: https://github.com/trozler/webpack-treeshaking

**What is the expected behavior?**

`square

[2022-03-19 13:42] trozler commented on #15556
Just read this from the bottom of the guide. Closing issue.
However would be incredibly useful if this is mentioned further up in the guide.

[2022-03-19 13:42] #15556 closed

[2022-03-19 13:52] macJames976 opened #15557 "Vue 3 try start development server: Cannot read properties of undefined (reading 'NormalModule')"
[code]
My package.json

[code]

[2022-03-19 13:52] alexander-akait commented on #15556
Feel free to send PR in docs :+1:

[2022-03-19 13:55] alexander-akait commented on #15557
Please open an issue in `vue-loader-v16`

[2022-03-19 15:12] ellenmartin22 opened #15558 "Reverts apache/accumulo#2505"
Reverts apache/accumulo#2505

__Originally posted by @dlmarion in https://github.com/apache/accumulo/pull/2508__

[2022-03-19 15:13] #15558 closed

[2022-03-19 17:12] therealgilles commented on #15517
Sorry for the late reply. The message shown does not say anything about mandatory extension for ESM modules imports, as far as I can see. In my run, it only said it could not find the module without any explanation as to why. A hint would have been a great help.

[2022-03-19 19:11] knightcode opened #15559 "DefinePlugin inserts entire object when desired object property is missing"
# Bug report

**What is the current behavior?**

We collect a bunch of secrets into an object and pass them into Typescript with the DefinePlugin:

[code]

And then refer to them individually like:
[code]

But, if a given property like `VAPID_PUB_KEY`, is missing, the entire `secrets` object is substituted in place of
 just the `secrets` part of the expression, so that it ends up producing:

[code

[2022-03-19 19:39] adhamali450 opened #15560 "Issues with local CSS on mode: "production""
# Bug report

**What is the current behavior?**
Some of the styles doen't get applied on `mode: "production"`

**If the current behavior is a bug, please provide the steps to reproduce.**
to reproduce:
[webpack.config](https://pastebin.com/HF5VPt0Y)
[package.json](https://pastebin.com/2dSNNuYW)

**What is the expected behavior?**
styles renders and it does in `mode: "developement"`

Everyting runs

[2022-03-19 20:04] alexander-akait commented on #15560
Please provide all steps to reproduce

[2022-03-20 02:27] fengerzh commented on #12483
Has this issue been solved?

[2022-03-20 10:08] hktalent opened #15561 "build error:Syntax Error: HookWebpackError: Module build failed (from ./node_modules/less-loader/dist/cjs.js):"
## step
[code]

## error
[code]

[2022-03-20 10:46] vankop commented on #15561
[code]
you have wrong settings for `less-loader` I guess

[2022-03-20 10:46] #15561 closed

[2022-03-20 10:52] #15557 closed

[2022-03-20 11:32] adhamali450 commented on #15560
Well, actually the only step is changing the mode to `production`. Without it eveything is fine.

[2022-03-20 11:41] alexander-akait commented on #12483
I think no, let's reopen

[2022-03-20 11:41] alexander-akait commented on #15560
Can you provide link on your project

[2022-03-20 11:45] adhamali450 commented on #15560
Sure! [here](https://github.com/adhamali450/portfolio)

[2022-03-20 16:14] adhamali450 commented on #15560
[Live version](https://adhamali.tech)
[Github repo](https://github.com/adhamali450/portfolio)

[2022-03-20 18:41] #13559 closed

[2022-03-20 19:40] CryZe opened #15566 "WebAssembly with Reference Types cannot be parsed"
Reopened #13559

# Bug report
WebAssembly modules with enabled Reference Types cannot be loaded. The webpack version I tested this with is 5.38.1

For a minimal reproduction I created this repository: https://github.com/Tarnadas/webpack-5-wasm-reftypes

The error message is the following:

[code]

I used Rust with wasm-bindgen, which provides a cli option to enable reference types. Instead of dire

[2022-03-20 23:55] decademoon commented on #12483
I "fixed" this problem by ignoring files in the `.yarn` directory:

[code]

I think it's a good compromise until the issue is fixed.

[2022-03-21 02:11] kidtzz commented on #14532
thanks this work for me
`export NODE_OPTIONS=--openssl-legacy-provider`
and i'm not downgrade my node
'17.7.1'

[2022-03-21 06:56] 12sam12 opened #15570 "React app compiles with errors if we use absolute imports after adding jsconfig.json"
# Bug report

**What is the current behavior?**
Created using create react app, compiles with errors if we use absolute imports after adding jsconfig.json
Module not found: Error: Can't resolve '@/components'
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Generate a react app using npx create-react-app my-app
Add jsconfig.json
Create component with some absolu

[2022-03-21 07:04] vankop commented on #15570
please ask in create-react-app issue tracker. thanks

[2022-03-21 07:04] #15570 closed

[2022-03-21 08:36] vankop commented on #15566
I think parser does not support them.. (`@webassemblyjs/wasm-parser`) . Right now there is no workaround for this.

[2022-03-21 08:41] 12sam12 commented on #15570
But webpack is only compiling with errors.

[2022-03-21 08:54] vankop commented on #15533
it looks like terser bug, please report in terser issue tracker

[2022-03-21 08:54] #15533 closed

[2022-03-21 09:01] vankop commented on #15554
I think you should use such config
[code]
in both apps, `external` kind of mean to be not part of "build", so sharing it sounds weird.

[2022-03-21 11:25] vankop commented on #15554
I'm not sure that every external module could be shared... ( there is a lot of external module types )

[2022-03-21 11:56] lubieowoce commented on #15554
yeah, i imagine it's not easy, esp. since `ModuleFederationPlugin` itself seems to add an external for the remote... But do you think there's a chance to leave this open as a feature request? Or is this just a `WONTFIX`

[2022-03-21 12:19] alexander-akait commented on #15560
@adhamali450 Can you provide which styles not applied? I have the same result

[2022-03-21 12:26] ashif-sayyad opened #15571 "module federation webpack.config.js expose module increase the build application size in angular"
Hi, I am using the module federation in angular.
without adding module federation it is build the application well and run without any error.
but, when I expose the module from webpack.config.js file. and access in another angular application. when I am triggered the production build it increase the application size. and throws the FATAL ERROR:
![K6tNJ](https://user-images.githubusercontent.com/98

[2022-03-21 12:33] alexander-akait commented on #15571
If you have big application you should increase memory usage, sorry I am afraid it is not fixable, especial without reproducible example

[2022-03-21 12:44] vankop commented on #15571
This error occurs when the memory allocated for the executing application is less than the required memory. By default, the memory limit in Node.js is 512 MB. To increase this amount, you need to set the memory limit argument `--max-old-space-size=x`. It will help avoid a memory limit issue.

[2022-03-21 12:44] #15571 closed

[2022-03-21 12:53] vankop commented on #15517
I think enabling
[code]
https://webpack.js.org/configuration/other-options/#debug
should help

[2022-03-21 13:41] kevinsjoberg commented on #12719
I've been experimenting with this quite a bit and I haven't to get this worker at all. I have an app A that uses a package P that contains a web worker. I get a 404 when the web worker starts as it tries to load the file from the public path `/` while the file in reality is part of the package P.

- I've tried inlining the web worker URL (does not work).
- I've tried using the experimental support

[2022-03-21 13:44] alexander-akait commented on #12719
Can you provide examples?

[2022-03-21 14:00] kevinsjoberg commented on #12719
Sure. Here's an example of trying to use the worker coming from `packages/external-web-worker`. Configured to use ESM.

https://github.com/kevinsjoberg/external-web-worker-example

[2022-03-21 15:45] Kumar-Aakash commented on #15571
@vankop Application is small. Every single component has its own module which is getting lazy-loaded and the app has around 20-30 pages so we have lazy routing for each of them.  I wanted to understand what is the reason where dist size gets increased significantly from a few MBs to GBs. May I get the answer for this so that we can modify our code structure accordingly?

Our problem would be that

[2022-03-21 16:24] lachlanholland1 opened #15572 "Dot env variables not working - process undefined"
I have configured webpack like below and am still getting process undefined error.

`const webpack = require("webpack");
const path = require("path");
const Dotenv = require("dotenv-webpack");

module.exports = () => {
  return {
    entry: "./src/index.js",
    target: "web",
    output: {
      filename: "[name]bundle.js",
      path: path.resolve(__dirname, "dist"),
      clean: true,
    },

[2022-03-21 16:33] #15572 closed

[2022-03-21 16:34] vankop commented on #15571
please create a minimal repro then. thanks.

[2022-03-21 17:06] AprilArcus opened #15573 "5.70.0: ProgressPlugin broken on first build"
In Webpack 5.70.0, ProgressPlugin does not log on the initial build, only on rebuilds.

This behavior was introduced in https://github.com/webpack/webpack/commit/00c57ede11ee10dbb0a42e944b2cd7a038089944.

[2022-03-21 21:02] adhamali450 commented on #15560
@alexander-akait

Styles not applied:
- first 2 inputs on the form (last section on the page)
- background color for the header on browsers that doesn't support backdrop blur.

Keep in mind the current commit on the repo is set with mode = 'development' for testing. If you cloned it locally and tried mode = 'production' you will find the issues mentioned.

[2022-03-22 00:39] decademoon commented on #13552
Is there no webpack 5 loader API to load a module as if it were `require`d and get the final generated module source (after all loaders *and* asset transformation)?

[2022-03-22 02:20] djErock commented on #11952
WIth more and more wide spread adoption of micro front end applications in the industry and the cumbersome nature of mono-repos, it may be time to rethink this...

[2022-03-22 02:27] djErock commented on #11952
I have a suite of packages that are deployed to multiple projects in an enterprise environment. I have the dev config set as such:

`devServer: {
    historyApiFallback: true,
    open: true,
    compress: true,
    port: 3000,
    // watchFiles: [
    //   '../src/**',
    //   '../public/**',
    //   '../node_modules/vcrm*/**',
    // ],
  },
  watchOptions: {
    ignored: [
      '../node_modu

[2022-03-22 05:11] therealgilles commented on #15517
I added the flag but got no indication about the missing extension:

[code]

Am I missing something?

[2022-03-22 05:12] therealgilles commented on #15517
Weirdly using a mjs file import without an extension from within a TypeScript file works without producing an error.

[2022-03-22 08:39] vankop commented on #15573
Hm.. could you provide repro? I have log on initial build.

[2022-03-22 10:36] ExampleWasTaken commented on #10035
@vankop I've created a project with the exact same structure as the one that I initially encountered the issue with: https://github.com/ExampleWasTaken/webpack-issue-10035-demo

The `master` branch faces the issue that is described in the title.
The `attempted-fix` branch has a fix that I found on [StackOverflow](https://stackoverflow.com/a/67336441/13493994) and that has also been attempted by so

[2022-03-22 10:40] alexander-akait commented on #15560
@adhamali450 Sorry, I can't reproduce your problems, please check your disable cache in browser, we don't modify your files, just bundle them, I see you use `postcss-preset-env`, maybe problem in `postcss-preset-env`, but I can't reproduce, you can provide screenshots, maybe it will help

[2022-03-22 11:18] alexander-akait commented on #12719
@kevinsjoberg I see the problem, we have:
[code]

and `r.p+r.u(438)` and `r.b` are not statically analyzable

In theory if you have static public path and base Url, we can optimize our output and create something like:
[code]

So terser compress strings and we will have statically analyzable worker code, another solution is allow to set them (options) using webpack comments and generate code with

[2022-03-22 11:42] vankop commented on #10035
using `globalObject="globalThis"` should help.

[2022-03-22 11:52] vankop commented on #12719
I think library in this case should output ESM module and in this case we will output `new Worker(new URL("<relative_to_output_root_path/worker.js", import.meta.url))`

[2022-03-22 12:07] alexander-akait commented on #12719
@vankop Yep, but it can be some tricky to implement right now...

[2022-03-22 12:31] winniederidder commented on #12719
This is not feasible when developing a library that will be imported by external projects (i.e. as an npm package), as it will be found already bundled within the node modules.  I think this is also the original point of this issue, that it is difficult to do this without worker-loader.

[2022-03-22 12:33] vankop commented on #13552
First, I would like to make clear what
[code]
does

This means webpack applies ALL settings to this module ( like `import x from "x"` ) and return source, map, and module itself, **but** that does not mean that this module depends on original module ( and will be added in code generation results/output ).

So..
@alexander-akait you don't need `${this.resourcePath}.webpack[asset/source]!=!x` reques

[2022-03-22 12:50] keenwon opened #15574 "Can't resolve node builtin modules in esm build dependency"
# Bug report

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

works fine, no warnings

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.70.0
Node.js version: v14.19.0
Operating System: macOS 12.3
Additional tools:

**demo**

repo https://github.com/keenwon/webpack-test, **switch to node-

[2022-03-22 12:59] alexander-akait commented on #15574
Duplicate https://github.com/webpack/webpack/issues/14166

[2022-03-22 12:59] alexander-akait commented on #15574
Please use https://github.com/webpack/webpack/issues/14166#issuecomment-923840210

[2022-03-22 13:27] bastimeyer commented on #13552
I've already explained it here
https://github.com/webpack/webpack/issues/13552#issuecomment-920433570

To give you an explicit example:
https://github.com/streamlink/streamlink-twitch-gui/blob/v2.0.0/src/app/package.json#L18
https://github.com/streamlink/streamlink-twitch-gui/blob/v2.0.0/build/tasks/webpack/loaders/parse-json-loader.js#L25-L37
https://github.com/streamlink/streamlink-twitch-gui/bl

[2022-03-22 15:02] vankop commented on #15485
you don't need to bundle worker first. In webpack@5 you can (and should) use
[code]
webpack will add `<esm worker script>` as a separate entry point and bundle it.

[2022-03-22 15:02] #15485 closed

[2022-03-22 15:36] alexander-akait commented on #15060
@vankop `glob-import-loader` fixed the problem, the main problem here https://github.com/webpack/webpack/issues/15060#issuecomment-1002093799 (but maybe we fixed it?), need to check it, circular import itself, try

**main.ts**

[code]

[2022-03-22 17:42] alessioerosferri commented on #15139
@AlonMeytalVia I am having the same problem, how did you solve it? Thanks

[2022-03-22 20:57] decademoon commented on #13552
@bastimeyer That’s literally my exact use case too.

See https://github.com/usmanyunusov/webpack-webmanifest-loader for a webpack 5 loser which does a similar thing. It loads a webmanifest file (json) and replaces paths to image assets with the final bundled path of that asset. It uses child compilers and stuff which goes over my head.

[2022-03-22 22:47] fforres commented on #13291
<img width="552" alt="image" src="https://user-images.githubusercontent.com/952992/159588627-fad6677d-38cb-4d5a-b74b-5f8eee8ec929.png">

Can an activity be a comment? 😅

I don't mean to be a nuisance, though @sokra should we be pinging you for @vankop's PR can we help to get it out the door/on a good state? 🙏
Any feedback would be appreciated

[2022-03-23 02:31] BOMBWALKER opened #15575 "Alternative Businesses Comunicate"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-03-23 04:38] vankop commented on #15574
your config should be
[code]
where X is used module (`url`, `path` etc)

[2022-03-23 04:41] vankop commented on #10035
it looks like you have some Node.js module in web..

[2022-03-23 04:42] vankop commented on #15060
@alexander-akait
circular import itself works fine in js and css (mini-css) I have checked

[2022-03-23 04:42] #15060 closed

[2022-03-23 04:45] vankop commented on #15575
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-03-23 04:45] #15575 closed

[2022-03-23 04:52] keenwon commented on #15574
I have committed to the **node-prefix** branch([repo](https://github.com/keenwon/webpack-test,))

<img width="858" alt="image" src="https://user-images.githubusercontent.com/5516478/159626311-7f5ae49e-7e12-420e-a50d-44a7b4d52131.png">

![image](https://user-images.githubusercontent.com/5516478/159626382-c2d331c0-d1ae-4d9f-a6af-54bf7f96a37a.png)

[2022-03-23 05:50] bolinfest opened #15576 "BannerPlugin does not honor raw"
# Bug report

**What is the current behavior?**

A string value for `banner` that is a JS comment does not appear to work with `raw: true`.

For example, if I specify the following for a `.css` file that is generated by webpack:

[code]

I would expect `/* hello world */` to get prepended to my file.

Instead, nothing is prepended.

Yes, I know that I could do:

[code]

but that would produce:

[c

[2022-03-23 06:01] bolinfest commented on #15576
Possibly related: https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/64

[2022-03-23 06:09] kevinolivar commented on #15060
Thank you guys!

[2022-03-23 06:27] vankop commented on #15576
without minimizing it works fine?

[2022-03-23 06:37] vankop commented on #15574
ok, I understand what you are doing.. please use `url` and `path` modules in `webpack.config`.. (without `node:` prefix)

settings with `externals` works only for bundling code, not webpack config..

[2022-03-23 06:43] keenwon commented on #15574
Yes, that's the weird part. the `url` also not works

(Please see the first picture of this issue)

[2022-03-23 07:51] AlonMeytalVia commented on #15139
@alessioerosferri using the code in the example @sokra provided.

[2022-03-23 08:15] vankop commented on #15574
I found a problem.. For now I can suggest to use commonjs config format..

[2022-03-23 10:23] ashif-sayyad commented on #15571
@vankop @Kumar-Aakash I have created the demo repos of module federation webpack. and expose the module from webpack.config.js.
port 4202.
please have a look it.
https://github.com/ashif-sayyad/module-federation-demo/tree/master/demo-project

[2022-03-23 10:43] vankop commented on #15571
it does not work for me..
[code]
btw I can not help with angular, you should ask this in angular issue tracker.

[2022-03-23 11:02] vankop commented on #8589
solved in latest webpack version
you will get stack trace like:
[code]

[2022-03-23 11:02] #8589 closed

[2022-03-23 11:06] vankop commented on #7939
fixed in main branch https://github.com/webpack/webpack/pull/15002

[2022-03-23 11:06] #7939 closed

[2022-03-23 11:12] vankop commented on #7814
If this still an issue, please provide a reproducible repo with webpack@5.

[2022-03-23 11:12] #7814 closed

[2022-03-23 11:21] vankop commented on #5630
in `webpack@5` you can create your own chunkFormat + chunkLoading mechanism.. Feel free to create a plugin for that like
https://github.com/webpack/webpack/blob/main/lib/web/JsonpChunkLoadingPlugin.js
https://github.com/webpack/webpack/blob/main/lib/javascript/ArrayPushCallbackChunkFormatPlugin.js

[2022-03-23 11:21] #5630 closed

[2022-03-23 11:24] #11335 closed

[2022-03-23 11:24] vankop commented on #11335
merged again =)

[2022-03-23 11:24] alexander-akait commented on #15576
@bolinfest `BannerPlugin` only for JS, when we will have build-in support for CSS, it will work, currently if you need it you should ask minifier developers to add option for this

@vankop We can mark this as enchantment for built-in CSS support

[2022-03-23 11:27] vankop commented on #9184
please use `import.meta.webpackContext` for that https://github.com/webpack/webpack/pull/15463

[2022-03-23 11:27] #9184 closed

[2022-03-23 11:28] alexander-akait commented on #15452
You don't have permission to do it, please check your user, maybe you run webpack under other user (root/admin?), I can't reproduce it, also please use the issue template in future

[2022-03-23 11:28] #15452 closed

[2022-03-23 11:46] vankop commented on #9194
answered

[2022-03-23 11:46] #9194 closed

[2022-03-23 11:58] vankop commented on #12526
you can use hook like `finish` ( second argument are comments ). btw there is method `parser.getComments(range)` that will return you array of comments in some range.

[2022-03-23 11:58] #12526 closed

[2022-03-23 13:11] ExampleWasTaken commented on #10035
I'm using `target: electron-renderer` along with `nodeIntegration: true`

[2022-03-23 13:26] vankop commented on #15576
technically BannerPlugin processes all assets.. need to test this

[2022-03-23 13:35] alexander-akait commented on #15576
@vankop oh, it means cssnano (built-in minifier) remove it as comment

/cc @ludofischer

[2022-03-23 15:00] #12951 closed

[2022-03-23 15:07] bolinfest commented on #15576
Currently, I am using https://cdn.jsdelivr.net/npm/react-scripts@5.0.0/config/webpack.config.js and trying not to fork it because it is pulled in via create-react-app. This is the workaround I have found thus far:

[code]

[2022-03-23 15:36] vankop commented on #13624
not sure what webpack should do here? @alexander-akait

in code
[code]
so webpack only can add error to parent compilation only..

[2022-03-23 15:44] alexander-akait commented on #13624
@vankop hm, I think failed child compilation should fail parent too, I think we have this behavior

[2022-03-23 18:41] alexander-akait commented on #15576
@ludofischer I think we should implement this `comments` - https://github.com/terser/terser#format-options, i.e. allow to keep some comments, for example `/*! Text */` used only for licences comments and by default most of minimizer preserve them or plugin api to get them https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/utils.js#L109

[2022-03-23 19:28] bolinfest commented on #15576
With respect to "special comments," as I noted in my original bug report:

I would have hoped that listing `BannerPlugin` "last" in the `minimizer` list (or is it the `plugins` list?) would ensure it runs after the other minifiers such that any comment it adds would not get stripped.

At least for `TerserPlugin`, I can use its `preamble` option, though I also had to set `extractComments` to `{cond

[2022-03-24 14:44] enomado commented on #15566
Why webpack try to parse it? can we just use file-loader?

[2022-03-24 15:19] vankop commented on #14228
bump

[2022-03-24 15:45] vankop commented on #15566
There are some exports optimization.. so webpack parsing wasm.

yes, sure. also in webpack@5 there is `asset` type.

[2022-03-24 17:39] patrickfatrick commented on #10035
Another workaround is to simply not use `target: electron-renderer` for now, if you don't need it. `web` works.

[2022-03-24 17:46] Tofandel opened #15580 "import.meta.webpackContext doesn't work if requiring inside npm packages"
# Bug report

**What is the current behavior?**
When requiring files using `import.meta.webpackContext` (added in #15446) that are located within a node_modules folder, eg:

[code]
It doesn't work properly and throws a warning during compilation
[code]

It seems to be adding the context path twice to the request

**If the current behavior is a bug, please provide the steps to reproduce.**
https://

[2022-03-24 18:31] Tofandel commented on #15580
Issue is happening there
https://github.com/webpack/webpack/blob/main/lib/dependencies/RequireContextPlugin.js#L132

[2022-03-24 19:04] ExampleWasTaken commented on #10035
that is exactly what I do. Yet I get the error

[2022-03-24 21:30] rmjwilbur opened #15582 "Uncaught TypeError: Cannot read properties of undefined (reading 'call')"
# Bug report

**What is the current behavior?**
Can't have same package.json name on host and remote. Getting error at some point using module federation, guessing when splitChunks kicks in.

**If the current behavior is a bug, please provide the steps to reproduce.**
Set host's and remote's name in package.json to same value. Try to load a remote page large enough to trigger splitting chunks (aga

[2022-03-25 03:22] d0sboots opened #15584 ""npx webpack" fails with "RangeError: WebAssembly.Instance(): Out of memory: wasm memory""
# Bug report

**What is the current behavior?**
Attempting to run webpack leads to the following error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The issue first appeared in release 5.61:
[code]

The repro environment is an ***empty*** package, no src/ directory. (It dies before that matters.)

The issue appears to be strongly related to this blog post:

[2022-03-25 03:31] mnpenner commented on #14115
I've got the exact same use-case as @uhyo. These errors are finding their way into my Sentry logs and spamming me.

Not really sure what causes them because all the ones I've seen, I try going to the URL and it does exist. Perhaps some race condition when I deploy a new version of the app or their browser is cancelling the request?

Regardless, a way to catch them so I can handle them better would

[2022-03-25 05:47] vankop commented on #15584
Did you try with Node.js v16 ?

[2022-03-25 05:48] vankop commented on #15582
sounds reasonable, webpack relies on package names..

[2022-03-25 09:44] vankop commented on #15580
you should remove several identical `resolve.modules` setting ( or in case of `node_modules` just remove this settings )
<img width="944" alt="Screenshot 2022-03-25 at 12 44 27" src="https://user-images.githubusercontent.com/10380560/160096425-412c6f6c-d916-4d05-b62e-7d51844ed762.png">

[2022-03-25 09:45] vankop commented on #15580
lets keep issue for now.. need to fix this anyway..

[2022-03-25 10:03] Tofandel commented on #15580
There is a fix #15581 ...

[2022-03-25 11:04] vankop commented on #13552
we discussed this internally.. In my opinion there is no need to create specific api for that. mostly you always need an url to this asset. So in case:

You can transform your json to js
json
[code]
transformed
[code]

[2022-03-25 11:04] #13552 closed

[2022-03-25 11:28] alexander-akait commented on #14115
@vankop Can you look at this?

[2022-03-25 11:31] alexander-akait commented on #15584
@d0sboots Can you provide more information, do you using snap/official repository or custom setup/build for Node.js?

[2022-03-25 20:40] d0sboots commented on #15584
I was using the system-global version(s) of Node that come from Debian. 14.19.1 is the latest version on the unstable tree. I'll spend some time today trying different Node versions and report back.

[2022-03-25 21:07] d0sboots commented on #15584
So, here's how this reproduces on my machine. Create an empty directory, install webpack and (optionally) a version of Node:
[code]

Trying to run webpack results in the error:
[code]

I was wrong in my guess about the instances fix in V8; using a Node version past 17.2.0 has no effect:

[code]

But it's *definitely* caused by a change in Webpack; syncing before the m4-based wasm hashing was intro

[2022-03-26 06:11] avishek143 commented on #15477
This is a valid documentation issue.
In the [Development Guide under Using Watch Mode section](https://webpack.js.org/guides/development/#using-watch-mode) the content says:

The follow-on section about webpack-dev-server is expected to provide guidance about creating a setup that would reload new code as it is written and refresh the browser to show the changes. But the code example doesnot do so

[2022-03-26 07:55] ddmy opened #15589 "bannerPlugin设置raw"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-03-26 07:55] #15589 closed

[2022-03-26 08:02] ddmy opened #15590 "使用bannerplugin时设置raw为true报错"
# Bug report

**What is the current behavior?**
[code]
`Build failed with errors.`

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

有些特殊情况我并不希望使用 /**/ 的形式来添加注释，或者我想自己添加注释直接输出到文件当中。但这个行为会引起报错。这可能是webpack内部的限制。所以恳请能支持一下这个功能，增加一个配置项，当开发者确定内容是有效的且符合自身业务的情况下，可以输出原内容到文件中。谢谢。

**Other relevant information:**
webpack version:  5.70.0
Node.j

[2022-03-26 10:22] Mikilll94 opened #15591 "Webpack adds unwanted chunk to the bundle when using conditional dynamic imports based on json file"
# Bug report
In the code I have a JSON config file (config.json):

[code]

I have also a conditional dynamic import:

[code]

Webpack does not understands that `configJson.useUtils` is always false and it adds unwanted `utils.js` chunk to the output bundle.

**What is the current behavior?**
Webpack adds unwanted `utils.js` chunk to the `dist` folder.

**If the current behavior is a bug, please pr

[2022-03-26 11:05] dilyanpalauzov commented on #15560
Looks like https://github.com/webpack-contrib/mini-css-extract-plugin/issues/904:

[2022-03-26 16:36] vankop commented on #15590
`BannerPlugin` works for all assets and in css there is no `//` line comments..

[2022-03-26 16:36] #15590 closed

[2022-03-26 16:38] vankop commented on #15591
yeah, this does not work..

[2022-03-26 22:30] jon-link-jon opened #15592 "node_modules are not excluded"
I have created a minimal file to reproduce the bug, removing extneral dependencies such as path.  I have upgraded to the latest version of webpack and posted on [stackoverflow](https://stackoverflow.com/questions/71563663/why-wont-webpack-ignore-my-node-modules).

# Bug report

**What is the current behavior?**

node_modules are being processed despite exclusion.

**If the current behavior is a bu

[2022-03-27 08:43] vankop commented on #14115
So.. if you try to do "inner" prefetch ( e.g. in case entrypoint => `import(a)` => `import(/* webpackPrefetch: true */b)`) you will get `Uncaught (in promise) ChunkLoadError` when you executing entrypoint and this is quite valid since chunk `b` was failed to prefetch and no `.catch` for it was executed yet..

When code execution will reach `import(/* webpackPrefetch: true */b).catch(e => {})` catc

[2022-03-27 08:43] #14115 closed

[2022-03-27 08:48] vankop commented on #15592
`exclude: ...` means that rule will not be applied to this resources, but webpack will bundle `node_modules/...` if this modules was requested (`import x from "x"`) by user.

[2022-03-27 08:48] #15592 closed

[2022-03-27 19:51] cristian-spiescu opened #15594 "AMD w/ define() doesn't work in a particular case (create-react-app based app; webpack; babel)"
# Bug report

**What is the current behavior?**

I have a .js file which uses AMD using the `define()` method. **IF** the file contains a particular JS warning (i.e. "no-dupe-keys" == an object with duplicate keys such as `{ a: 6, a: 6 }`) **THEN** the `define()` is not currently processed, and it is outputted in the transpiled content (leading to an JS runtime error such as "define is not defined

[2022-03-28 03:14] ddmy commented on #15590
@vankop 感谢，我对你的回复有一些疑问， 我认为`BannerPlugin` 适用用所有文件  是因为有`test ` `include ` `exclude `字段让我们可以更灵活的选择去处理文件，而不应该是在webpack内部做出了这些限制。

或者我想要这样一个配置
[code]

显然，我就希望这个注释在独立的一行，现在也不支持。BannerPlugin不够灵活。

[2022-03-28 03:32] uhyo commented on #14115
@vankop So I understand that prefetch failure cannot always be tied to ` import ()` calls, but closing this issue without any solution isn't quite right. 😢

Currently there is no way of handling failure of prefetch which leads to inevitable error logs on Sentry. How about adding an official way of handling prefetch errors?

[2022-03-28 04:38] vankop commented on #14115
you can use `.catch` still, it will catch error **only** when execution will reach `import()`

[2022-03-28 05:00] vankop commented on #15594
it looks like in production this file processed by babel, that add `import {} from ""` on top of the `define()`

[2022-03-28 07:08] cristian-spiescu commented on #15594
You mean babel rewrites the file such as:

[code]
?

Is there a way to output/view the intermediate files processed by babel, that are then "given" to webpack?

Ideally using some webpack config? Or via debug?

[2022-03-28 07:24] vankop commented on #15594
yes

no..

in stats. you can add a plugin
[code]

[2022-03-28 07:39] sokra commented on #15559
We can fix that case, but with `DefinePlugin({ secrets })` you are saying `replace the "secrets" variable with my secrets`, do webpack is doing that. What you want to do instead is to define it more grandular via:

[code]

so it only replaces the direct reference to a secret.

@vankop will fix the case with `secrets.VAPID_PUB_KEY` nonetheless, but how should be behave in case of `someCall(secrets)

[2022-03-28 07:50] #15545 closed

[2022-03-28 07:52] #15518 closed

[2022-03-28 08:37] cristian-spiescu commented on #15594
Thanks for the pointer. When I got some time, I will try to go the path you are suggesting.

[2022-03-28 09:26] JJPell opened #15595 "Update migration v4 to v5 guide to include env variable changes"
This isn't mentioned in the migration guide but it would be useful to know that when migrating from v4 to v5 you need to change the format of the environment variables passed to your config from the following:

[code]
To this format:
[code]

Otherwise you get the following error:
[code]

[2022-03-28 10:03] clyfish opened #15596 "Async externals don't work with commonjs"
# Bug report

**What is the current behavior?**
Async externals work with es modules, but don't work with commonjs.

**If the current behavior is a bug, please provide the steps to reproduce.**
webpack.config.js (copied from https://github.com/webpack/webpack/blob/v5.70.0/test/configCases/externals/async-externals/webpack.config.js)
[code]
src/index.js
[code]
The console logs
[code]

**What is the

[2022-03-28 10:06] alexander-akait commented on #15584
What is npm version?

[2022-03-28 10:08] alexander-akait commented on #14115
@vankop `catch` is not help here, because we don't rethrow an exception, try to repo above

[2022-03-28 10:19] avishek143 commented on #15477
refresh the browser means reload the browser with the new changed code.> What do you mean - `refresh`?
refresh the browser means reload the browser with the new changed code.

I don't think that is the case. If it is so the documentation must state the same. And there is no code anywhere which will prevent us from mentioning a file that is bundled in the `watchFiles` list.

Anyways, let's focus on

[2022-03-28 10:24] alexander-akait commented on #15477
Please create reproducible repo with example of a problem

[2022-03-28 10:26] vankop commented on #14115
@alexander-akait catch works file
<img width="1266" alt="Screenshot 2022-03-28 at 13 24 23" src="https://user-images.githubusercontent.com/10380560/160378866-2b00531e-d903-4a5f-a7c4-d4cb8a950a9f.png">

index.js
[code]

split.js
[code]

split2.js
[code]

after compile just remove `src_split2_js.js` chunk and run `index.html`

[2022-03-28 10:27] vankop commented on #14115
right now there is a bug that `split.js` also prefetch need a review fix https://github.com/webpack/webpack/pull/15393

[2022-03-28 11:16] vankop commented on #15596
this is expected otherwise `import("promise-external")` will return promise in promise..
Think about it like top level await..

[2022-03-28 11:16] #15596 closed

[2022-03-28 15:47] lv2lrn4lf opened #15597 "webpack node api don't run the same as command line webpack"
Simple, the nodejs webpack api doesn't run the same way as the webpack command line.

I'm trying to write custom loaders and plugins, I'm stuck at the loaders and after banging my head, i see that it doesn't even work the same way as the command line one does. Why is this? How can i make the webpack node API at the same way as the webpack command line?

I want to get the file content from the load

[2022-03-28 15:57] lv2lrn4lf commented on #15597
just delete this... gulp is easier for me.

[2022-03-28 16:42] lv2lrn4lf commented on #15597
@vankop okay.... i don't really know what that mean... do webpack of a discord or a forum i can go to that more relax? thank you for your feedback.

[2022-03-28 16:49] lv2lrn4lf commented on #15597
please delete i'll try gitter

[2022-03-29 09:39] d0sboots commented on #15584
[code]

[2022-03-29 10:59] alexander-akait commented on #15584
I still can't reproduce, as you can see there is no :+1:, maybe related to your env (broken node installation or due debian/testing)

[2022-03-29 19:45] jon-link-jon commented on #15592
I understand that they will be bundled of course, or I could not use React and Redux.  The problem is that webpack is still processing the files, i.e. compiling files that do not need to be compiled.

What normally takes msec is now taking 4 seconds.

[code]

[2022-03-29 20:41] ericatallah commented on #11672
Maybe try: `compiler.hooks.done.tap`

[2022-03-29 21:29] bgirard opened #15600 "Module Federation Docs output.uniqueName Clarification"
# Bug report

**What is the current behavior?**
Section in question is here: https://webpack.js.org/concepts/module-federation/#collision-between-modules-from-different-remotes

This section is unclear and buried into troubleshooting. It's unclear just how important this section might be.

This section is confusing to me. Perhaps I don't understand all the uses cases of Module Federation but to me

[2022-03-30 07:08] vankop commented on #15592
you see this modules in log since they are bundled, but this does not mean that loader was used.

[2022-03-30 09:51] 24kglod opened #15602 "webpack5 seems to catch the error of promise.reject(), causing the page to crash."
# Bug report

**What is the current behavior?**
In my react project built by webpack5, when I encounter promise.reject, the page will report an error.
![image](https://user-images.githubusercontent.com/23623809/160802239-1968f8cc-fd63-41cd-89b3-ae30eb37f592.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
`<button onClick={() => {return Promise.reject()}}>promise

[2022-03-30 10:20] 24kglod commented on #15602
`devServer: {
        client: {
            overlay: false,
        },
}`

[2022-03-30 10:46] vankop commented on #15602
please provide steps to reproduce. Would be great if you reduce this to reproducible repo. thanks

[2022-03-30 11:53] 24kglod commented on #15602
hey bro this is the address of the git repository.
https://github.com/24kglod/webpack5-test

[2022-03-30 12:43] vankop commented on #15602
this error layout is not from webpack.. not sure which module/plugin adds it..

[2022-03-30 12:43] #15602 closed

[2022-03-30 18:04] guelate opened #15603 "[Docs] Update README"
## Feature request

**What is the expected behavior?**

I want to add the dependency for Twitter

[![Twitter follow](https://img.shields.io/twitter/follow/Webpack?style=social)](https://twitter.com/Webpack)

**What is motivation or use case for adding/changing the behavior?**

I think it is important to put forward the community.

[2022-03-30 20:35] alexander-akait commented on #15603
Feel free to send a PR

[2022-03-30 21:01] jon-link-jon commented on #15592
The loader is likely being used because normally it takes < .5 second .... in the msec range to bundle an empty project.  It takes 4 seconds because it is compiling I believe.  Is there a way for me to troubleshoot this further.

I have seen nice clean compiles under < .5s when it is running as it should.   ~ 4 seconds is too long for an empty project.

[2022-03-30 22:14] alexander-akait commented on #15592
Can you provide code? Maybe reproducible example?

[2022-03-31 00:10] jon-link-jon commented on #15592
Here is the repo ...

https://github.com/jon-link-jon/tiny

You should be able to clone it, install it, and run `npm run client` to get the same results.  Or if you just want the config file it is above.

[2022-03-31 00:17] lavcraft opened #15605 "React hooks composition fail when packaging into different entries"
# Bug report

**What is the current behavior?**

React hook `useContext(Context)` doesn't work when call from another hook from different entry

For example:
1. I have `useHook1` and `useHook2`. `useHook2` call `useHook1` inside
2. Configure webpack with two entries - `/src/usr-hook1` and /src/usr-hook2` for some reason
3. Import in main application and use my hooks like this

[code]

Result:
1. `

[2022-03-31 07:13] lavcraft commented on #15605
May be I‘m doing something wrong and need read some docs. Please help navigate to right articles for improve understanding of the problem. Now I’m really disoriented

[2022-03-31 07:32] vankop commented on #15605
I don't think this is webpack problem.. please ask in react issue tracker.

[2022-03-31 07:32] #15605 closed

[2022-03-31 10:23] notflip commented on #12413
@kelly-tock Did you ever find a solution to this?

[2022-03-31 11:32] lzxb opened #15607 "Unsatisfied version ^2.6.14 from ssr-trade of shared singleton module vue (required ^2.6.14)"
# Bug report

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/8424643/161045171-d414b34c-d239-4040-bda5-41b8b803a764.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.70.0
Node.js version: v16.13.2
Operating System: mac
Additional tools:

[c

[2022-03-31 11:32] lzxb commented on #15607
My version meets the requirements, but still raises the warning

[2022-03-31 11:36] vankop commented on #15607
I think version should be semver `x.x.x` not a semver range (in your case `^x.x.x`).

[2022-03-31 12:28] baltsevicha commented on #1643
It works for me, thank you!

[2022-03-31 14:28] vankop commented on #15605
so maybe you just need to add both entrypoints on the page? ( you need to use `dependOn` option in this case https://webpack.js.org/configuration/entry-context/#dependencies )

[2022-03-31 14:35] lavcraft commented on #15605
@vankop this a problem, because i build a library, not a page.

How i do it right inside library?

I try use dependOn. But it crash library loading in ui application
- code with dependOn - https://github.com/lavcraft/react-hooks-composition-in-webpack-entry-problem-example/blob/master/packages/sdk/webpack.config.js#L24
- when add dependOn , my page will crash here - https://github.com/lavcraft/rea

[2022-03-31 14:40] lavcraft commented on #15605
For explanation

i have three files

[code]

For the output i need one shared file - contexts.js , (because react hook useContext check similarity via reference).
And two separate files devices.js and call.js which reuse contexts.js. But now i have thre independent module - devices.js, call.js, contexts.js :)

[2022-03-31 15:28] vankop commented on #15605
but what a reason to create a separate entries? just use your app entrypoint

[2022-03-31 16:00] gtwilliams03 commented on #13291
I have this issue also with the filesystem cache.  I am using yarn as our package manager, and I get a .cache folder inside my root .yarn folder which starts to accumulate webpack cache files inside a "client-development" folder.  It can grow (in development using the hot reloader) to several gigabytes within even an hour of frequent work.  In one case, it crashed my computer because it ate all bu

[2022-03-31 17:50] gtwilliams03 commented on #13291
This was from some basic react app editing with HMR on (as you can see the files are massive and they keep getting generated):

[code]

[2022-03-31 20:48] jon-link-jon commented on #15592
Mine runs between 3400 and 3900 msec.  A lot of variation on one machine.  Can you post your output?
[code]

[2022-03-31 23:59] alexander-akait commented on #15592
My output:
[code]

Anyway you can speed up it using:
[code]

After this my output is:
[code]

[2022-04-01 07:09] vankop commented on #15044
bump

[2022-04-01 07:43] 17736638254 opened #15609 "TypeError: Cannot read properties of undefined (reading 'buildMeta')"
# Bug report

After executing the package command, the console prompts

<img width="384" alt="image" src="https://user-images.githubusercontent.com/59221382/161218256-99484627-a41e-46be-be4d-f4a3dbbd7075.png">

`
/Users/it00013208/Desktop/privateProject/set-user-blog/node_modules/webpack/lib/dependencies/HarmonyImportSpecifierDependency.js:165
                return moduleGraph.getParentModule(thi

[2022-04-01 07:52] 17736638254 commented on #15609
I lowered and locked the webpack version, and that's it.
<img width="350" alt="image" src="https://user-images.githubusercontent.com/59221382/161219749-5f2bc80f-a69d-4f73-924d-ffcd929c3e3f.png">

[2022-04-01 07:57] vankop commented on #15609
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-01 07:57] #15609 closed

[2022-04-01 09:18] vankop commented on #11543
@alexander-akait does worklet module behave same as `Worker` module? I am thinking about maybe this should be separate plugin..

[2022-04-01 10:08] meditating-monkey commented on #11543
@vankop Treating worklets as workers through the URL api causes errors and the audio worklets don't even get registered. Worklets probably behave a bit differently than workers. Also, can we expect a plugin to resolve this issue in the future?

[2022-04-01 10:11] alexander-akait commented on #11543
@vankop hm, they are still workers, just with additional logic, but maybe another plugins with more options is not bad idea...

[2022-04-01 10:49] meditating-monkey commented on #11543
How exactly will the plugin function, if I may ask?

[2022-04-01 11:04] YuanboXue-Amber opened #15610 "webpack removes files specified in package.json sideEffects"
# Bug report

**What is the current behavior?**

Files specified in package.json `sideEffects` is removed

**If the current behavior is a bug, please provide the steps to reproduce.**

Minimum reproduction: https://stackblitz.com/edit/node-thpmrj?file=dist%2Fwebpack.js

Note that _src/lib/package.json_ has `sideEffects: ["./injectDevTools.js"]`, but `injectDevTools.js` does not show up in final re

[2022-04-01 11:18] vankop commented on #15610
webpack does not track transitive `sideEffects` ( in your case it technically should be since `index.js` depends on `injectDevTools.js`), so you should mark all files by yourself.

In other words `sideEffects` flag does not have transitive state, so in your case `index.js` is side effects free.

[2022-04-01 11:18] #15610 closed

[2022-04-01 11:32] YuanboXue-Amber commented on #15610
Thanks for the answer, it worked when I have both index.js and injectDevTools.js in the sideEffects array

[2022-04-01 12:16] sokra commented on #15044
When working with async modules you need to make sure that your are working only with ESM imports. And also make sure to not accidentically transpile them (via babel) to CommonJs (as shown in the screenhot, `(0, _utils).hasRole` is how babel transpiles imports)

[2022-04-01 13:26] #13624 closed

[2022-04-01 14:14] lavcraft opened #15616 "Can't create webpack module with dependOn for import"
Hello. I would like to create three entry points with, on of them is shared.

I'm trying to use `dependOn` entry option. When i will have been added dependOn into entry, entry format changed.

Run code like this in my frontend application:
[code]
And see for module [with **dependOn:**](https://github.com/lavcraft/react-hooks-composition-in-webpack-entry-problem-example/blob/master/packages/sdk/web

[2022-04-01 19:15] thecynicalpaul commented on #11543
It's been working without problems so far! Our Next app is pretty massive, so it's tough to tell if there were any serious build implications, but no issues at this moment.

[2022-04-01 19:39] sdegutis opened #15619 "Webpack is crashing with HookWebpackError: Maximum call stack size exceeded"
# Bug report

Error: `[webpack-cli] HookWebpackError: Maximum call stack size exceeded`

**What is the current behavior?**

Webpack fails with the above error when I run it.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Follow webpack website's instructions verbatim for setting up webpack with TypeScript, HtmlWebpackPlugin, and CopyPlugin
2. Copy 2 woff files an

[2022-04-01 19:58] ekilah commented on #12960
seems to be included in `5.71.0` now 🥳

<img width="961" alt="image" src="https://user-images.githubusercontent.com/3213339/161332955-7db0cf6c-0120-4680-b891-ced174c552b7.png">

[2022-04-01 19:58] sdegutis commented on #15619
Interestingly, it succeeds (and continues to if started in watch-mode) if there's no build dir (e.g. I delete it before running webpack). But it always fails with this error when it sees the build dir when starting.

[2022-04-02 04:50] vankop commented on #15619
do you have such problems with webpack@5.70 ?

[2022-04-02 09:00] lzxb opened #15620 "Module Federation, unused modules will also be loaded during initialization"
<img width="1530" alt="image" src="https://user-images.githubusercontent.com/8424643/161375827-f9d9724c-afbf-47d3-bea1-b8fec026ef3b.png">

[2022-04-02 09:01] lzxb commented on #15620
<img width="958" alt="image" src="https://user-images.githubusercontent.com/8424643/161375893-8bbf94a4-8bec-4d06-9c93-046deef8dd68.png">

[2022-04-02 10:51] jasoncaii commented on #12623
@yashmudgal05 Did you fixed it？I have the same problem 😂  Can you share the solution

[2022-04-02 10:58] alexander-akait commented on #15619
@vankop Maybe related to latest change for child compilations, but need investigate

[2022-04-02 11:01] alexander-akait commented on #15620
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-04-02 11:01] #15620 closed

[2022-04-02 11:26] sdegutis commented on #15619
Yes, that’s why I tried upgrading to the latest.

[2022-04-02 18:00] vankop commented on #15619
Did not get this.. could you create small reproducible repo?

[2022-04-03 00:46] lavcraft commented on #15616
@vankop could it be a bug?
I think, in additional to `webpackChunk_company_sdk` this import should contain exports from this module (useDevices, withDevices in my example)

[2022-04-03 02:49] nyngwang commented on #1908
@chrisdothtml Is it a joke? I got this:

[code]

[2022-04-03 03:23] nyngwang commented on #1908
@sokra Where can I get this info from the documentation?

[2022-04-03 05:11] #15012 closed

[2022-04-03 06:56] vankop commented on #15616
`dependOn` means that parent entry is loaded already, so in case:
[code]
when executing entry A all modules from entry B already loaded and presented in modules cache.

but I'm afraid this option does not work well with libraries, only for bundling application code.

[2022-04-03 07:13] vankop commented on #15012
@alexander-akait so should  we close this?

[2022-04-03 09:48] lavcraft commented on #15616
@vankop thanks. It's interesting, may be somebody can explain this and prove - this  a bug or not.

@sokra could you help me with this question?

[2022-04-03 10:49] rluvaton opened #15621 "yarn benchmark failed with "Your test suite must contain at least one test.""
I'm thinking of contributing and I'm trying to run the benchmarks but it failed with "Your test suite must contain at least one test."

❯ yarn benchmark
yarn run v1.22.18
$ node --max-old-space-size=4096 --experimental-vm-modules --trace-deprecation node_modules/jest-cli/bin/jest --testMatch "<rootDir>/test/*.benchmark.js" --runInBand
(node:19705) ExperimentalWarning: VM Modules is an experimental

[2022-04-03 11:04] rluvaton commented on #15621
So I'm running `node benchmark/benchmark.js` which seems to run benchmarks but fails because of missing fixtures...

[2022-04-03 12:22] alexander-akait commented on #15012
@vankop Not sure, there is different behavior in chrome (in firefox too and another) and Node.js and all says they have valid logic :confused:

[2022-04-03 12:23] alexander-akait commented on #15616
@lavcraft Why you need `dependOn` for libraries, I don't see any reasons for that

[2022-04-03 17:44] lavcraft commented on #15616
@alexander-akait thanks for question.
In a nutshell i demonstrate problem in [this example](https://github.com/lavcraft/react-hooks-composition-in-webpack-entry-problem-example).

Some details and history
1. I have a project with sdk and subprojects who use this sdk and shared project (shared between sdk, ui and backend).
1.1. shared project included to `ui project` as builded dependency as a npm

[2022-04-03 18:44] gaearon commented on #15616
Usually what you should do is extract the shared part into a separate bundle, and then use `externals` to prevent it from being copied into other bundles.

[2022-04-03 19:38] lavcraft commented on #15616
@gaearon right, i understand it. Thanks for this workaround. I prefer to see things through :) And i believe, if some tool have ability - it should works unless in docs not specified that it doesn't work :)

In this case, in my opinion, webpack should work with dependOn for library mode. It can simplify projects and provide ability to share code between entrypoints. Believe that webpack can be a b

[2022-04-04 00:03] lavcraft commented on #15616
@gaearon @alexander-akait tried this way. But nothing changed.

Push reproducible results into [branch depends-on-experiments](https://github.com/lavcraft/react-hooks-composition-in-webpack-entry-problem-example/tree/depends-on-experiments)

Also comment in this thread - https://github.com/facebook/react/issues/24230#issuecomment-1086978269

[2022-04-04 02:39] nyngwang commented on #3216
@addyosmani I'm using the built-in plugin `SplitChunksPlugin` in Webpack 5, it generates many `bundle.js` with sizes all under `150KiB`. But why you're suggesting using **total chunk sizes**? I got this annoying error:

[code]

I don't get the point of this warning using the **total chunk sizes**. The size of `react-dom.production.min.js` is `116KiB`, which is what we cannot control, but it alread

[2022-04-04 03:11] nyngwang commented on #3486
I have the same question as clearly kindly described by so many people @JamesTheHacker @RobertGary1 @rec @adamsmasher. But there is still no reply from maintainers.

We want to know how to really solve this problem, not just disable it!

[2022-04-04 06:15] vankop commented on #3486
you can split chunk ( using `import()` syntax ), but this will make some part of your application async. If this is not an option for you ( loading part of your application asynchronously ), there is no way to reduce entrypoint for you.

[2022-04-04 06:36] JMS-1 commented on #12960
5.71.0 now works event without `environment: { optionalChaining: true }`. Thanks!

[2022-04-04 06:37] ExampleWasTaken commented on #10035
I have tried that, but I get the same error:
[code]

[2022-04-04 06:40] SunHuawei commented on #8833
Is there any further discussion on this? Or should we open another issue for that?

[2022-04-04 07:06] vankop commented on #12960
yes, this is solved in 5.71

[2022-04-04 07:23] vankop commented on #10035
your global object should not be `global`, see https://github.com/webpack/webpack/issues/10035#issuecomment-1075074282

[2022-04-04 07:26] SunHuawei opened #15623 "Code Splitting with System.register and __system_context__.import"
## Feature request

As I don't see the implementation of this in https://github.com/webpack/webpack/issues/8833, so I decided to create new issue here.

**What is the expected behavior?**
1. Code Splitting with System.register

Given
[code]
[code]
[code]
Expect
[code]

2. Convert dynamic `import()` into a `__system_context__.import()`

Given
[code]
[code]
Expect
[code]

**What is motivation or use

[2022-04-04 08:49] rec commented on #3486
@vankop: An easier solution would be to **turn off the bogus warning message**.

[2022-04-04 09:25] #15534 closed

[2022-04-04 09:47] vankop commented on #3486
you can use warning filter https://webpack.js.org/configuration/stats/#statswarningsfilter

[2022-04-04 09:57] rec commented on #3486
Literally millions of people use webpack, and nearly all of them are using it _transitively_ as part of another package.  The only interaction I have ever had with webpack was this bug.

To push the problem onto the users means some big chunk of these millions of people to spend half an hour discovering what webpack is, find this setting, change it, test the results and commit it - simply to handl

[2022-04-04 10:03] vankop commented on #3486
Basic idea of this warning is to help new users ( or users that see this warning first time ) to help them improve UX of there application. For other users there are different [stats](https://webpack.js.org/configuration/stats/) options to play around..

I, personally, understand that warning could be annoying and create extra noise, so we trying to add only really needed warnings and make them us

[2022-04-04 10:13] rec commented on #3486
Thanks for the fast and thoughtful responses!  :-)

On Mon, Apr 4, 2022 at 12:03 PM Ivan Kopeykin ***@***.***>
wrote:

But it fails at that idea, unfortunately.  If you're a beginner and you get
this issue, it's almost certainly because some package you are using has a
"large" component, and there's nothing you can do about it.

More, the threshold is set so low that it's triggered all the time.

[2022-04-04 12:58] JonathanMSifleet commented on #15619
Not much help but I am also getting this issue on 5.71.0

[2022-04-04 13:02] vankop commented on #15619
could you provide stack trace or reduce bug to reproducible repo please

[2022-04-04 13:06] jquintozamora opened #15625 "Cannot read property 'Descendant' of undefined when update to webpack 5.71.0"
When updating to webpack 5.71.0, then I'm having this issue:

[webpack-cli] TypeError: Cannot read property 'Descendant' of undefined
at Object. (/home/vsts/work/1/s/node_modules/css-select/lib/compile.js:36:56)
at Module._compile (internal/modules/cjs/loader.js:1085:14)
at Object.Module._extensions..js (internal/modules/cjs/loader.js:1114:10)
at Module.load (internal/modules/cjs/loader.js:950:32)

[2022-04-04 13:23] jquintozamora commented on #15625
Sorry for confusion, solved, it was related to a different update

[2022-04-04 13:23] #15625 closed

[2022-04-04 13:45] vankop commented on #15619
@sdegutis Could you set `stats.errorDetails=true`? stack trace should be more informative

[2022-04-04 14:04] #13764 closed

[2022-04-04 14:56] Piemontez commented on #12042
I have some problem for similar situation.

In my case, i have one system work in web broswer, and work in dekstop electron app.
The webpack and the system worked perfectly as long as I didn't need to separate functionality from the web and desktop systems.

To solve this situation, I separated files with different extensions webview.tsx and desktop.tsx as "FileOpenMenu.desktop.tsx" and "FileOpenM

[2022-04-04 14:57] Piemontez opened #15626 "resolve.extensions not working for files different from js, jsx"
I have some problem for similar situation.

In my case, i have one system work in web broswer, and work in dekstop electron app.
The webpack and the system worked perfectly as long as I didn't need to separate functionality from the web and desktop systems.

To solve this situation, I separated files with different extensions webview.tsx and desktop.tsx as "FileOpenMenu.desktop.tsx" and "FileOpenM

[2022-04-04 15:15] vankop commented on #15619
could you list all plugins you are using?

[2022-04-04 15:16] sdegutis commented on #15619
Just the two mentioned, Html and Copy.

[2022-04-04 15:17] sdegutis commented on #15619
Relevant dev-deps:

[code]

[2022-04-04 15:22] sdegutis commented on #15619
Relevant webpack config:

[code]

[2022-04-04 15:33] sdegutis commented on #15619
I commented out the entire plugin section:

[code]

Same or similar error:

[code]

[2022-04-04 15:39] vankop commented on #15619
did you update ts-loader?

[2022-04-04 15:52] sdegutis commented on #15619
That solved the crash, but is it still compiling my TypeScript correctly? Is it functionally equivalent to what I started with?

[2022-04-04 15:56] vankop commented on #15619
`transpileOnly` does not generate declaration ( and probably check ts ), but better ask this in `ts-loader` issue tracker.

[2022-04-04 15:56] vankop commented on #15619
probably this bug should be addressed there..

[2022-04-04 17:09] Piemontez commented on #15626
I make simple project to simulate this bug.
[webpackresolverextensions.zip](https://github.com/webpack/webpack/files/8411712/webpackresolverextensions.zip)

After download open project folder and run "yarn && yarn build:webview && yarn build:desktop"

The main problem is in the "src/index.ts", where i try to import "operations" file.

src/index.ts
[code]

operations.desktop.ts
[code]

operations.w

[2022-04-04 17:53] Piemontez commented on #15626
I tryed to use NormalModuleReplacementPlugin, but with him I had the same problem reported here https://github.com/TypeStrong/ts-loader/issues/838

[2022-04-04 21:03] nyngwang commented on #3486
No! It's not just annoying and creating extra noise! This is not the point! The problem is that intuitively people who **care** their product will think that there is will be some instructions to follow to solve this **ERROR**.

We, naive developers, don't have that much background knowledge like you, the maintainers. So we, intuitively, think that we've done something wrong even if it is displaye

[2022-04-05 04:29] nyngwang commented on #9297
To @sokra:

[From the doc](https://webpack.js.org/configuration/output/#outputchunkfilename) the wording is different:

So those chunks created by `splitChunks `(i.e. SplitChunksPlugin) are NOT classified as "non-initial chunk"? This sounds very unintuitive :/.

[2022-04-05 05:42] vankop commented on #9297
means non entrypoint chunk. e.g. in case
index.js
[code]

webpack.config.js
[code]

`index.js` will be bundled in `main.js`, `a` will be bundled in `chunk.js`.

[2022-04-05 05:59] vankop commented on #12031
@alexander-akait what should we do here? sounds like this is limitation to use `globalObject: "this"`

[2022-04-05 06:01] #8896 closed

[2022-04-05 06:34] gsagar230 commented on #11868
@sabeurios I am also facing the same issue which you have faced with jhispter project. Can you please tell me what you have did to fix the issue?

[2022-04-05 06:51] yashmudgal05 commented on #12623
@jasoncaii try to change in start.js by replacing below line:-

const compiler = createCompiler(webpack, config, appName, urls, useYarn);

Replace above line by

const compiler = createCompiler({webpack, config, appName, urls, useYarn});

Also try to replace loaders with rules in webpack.config.js file

[2022-04-05 07:34] nyngwang commented on #9297
@vankop: OK, then for those chunks created by SplitChunksPlugin: will you classify them as initial or non-initial chunk? According to the [docs](https://webpack.js.org/concepts/under-the-hood/#chunks):

But from https://github.com/webpack/webpack/issues/9297#issuecomment-503061903 above:

This seems to express that chunks created by SplitChunksPlugin are initial chunk (thus "This is not affect by

[2022-04-05 08:27] vankop commented on #9297
yeah,  better name this as dynamic import chunk..

[2022-04-05 11:17] alexander-akait commented on #12031
@vankop I think we should not use arrow function in some cases, but yes, it can be tricky to analyze (maybe regexp or warning?)

[2022-04-05 14:02] JonathanMSifleet commented on #15619
This is the error I got after setting `process.traceDeprecation = true;` in Webpack.config

[code]

This must be a memory leak as I have never experienced such high RAM usage with Webpack before.

Config:
[code]

Relevant dependencies:

[code]

I have only just enabled `options: { transpileOnly: true }` as per the recommendation so I will see if I can get this to happen again.

[2022-04-05 15:54] davidzhou23 opened #15630 "[HELP] ' webpack dev' 命令在webpack5无法正常工作"
工程内webpack webpack-cli 和 webpack-dev-server 的版本
[code]
在控制台的错误输出

[code]

[2022-04-05 15:57] jon-link-jon commented on #15592
Thanks for your responses.  However, I would like to understand why my system takes 4 seconds to create and empty project.  The includes libraries (react, react-dom, redux) are already transpiled and minified.  So it should just be a simple concatenation operation.  Is there documentation on how to read the standard output?

[2022-04-05 17:05] vankop commented on #15630
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-05 20:24] JonathanMSifleet commented on #15619
@vankop I can't seem to reproduce it on 5.70. RAM usage is now a far more reasonable 600MB

[2022-04-05 22:07] jaecktec commented on #14310
I just stumbled upon this, and I have a hypothetical solution.

https://webpack.js.org/concepts/module-federation/#promise-based-dynamic-remotes

using this guide you could resolve the url from some sort of rest-api (json/http) which responds with the latest file-name and it's hash. The script would then create the <script> element with that hash in mind.

Any thoughts on that?

[2022-04-06 08:10] vankop commented on #14392
@alexander-akait right now if `[path]` is outside of build context it does not work.. ( there is no asset emit ) so maybe we can just use file-loader logic as a fix here..

[2022-04-06 10:48] JTBrinkmann opened #15633 "in-operator broken; `"property" in object` ALWAYS gets inlined as true"
# Bug report

**What is the current behavior?**

Webpack v5 incorrectly evaluates & bundles `"property" in object` as `true`, when `object` imported from a different file, even if the property is not present in the object (e.g. `"doesNotExist" in { }`).

**If the current behavior is a bug, please provide the steps to reproduce.**

create the following files (e.g. in an empty src folder):
[code]
[c

[2022-04-06 10:49] alexander-akait commented on #15633
/cc @vankop I think critical

[2022-04-06 10:54] alexander-akait commented on #14392
@vankop hm, I think we should have two things - `[path] and `[relative-path]`, because it can be breaking changes, but I agree, current behavior is strange

[2022-04-06 11:14] vankop commented on #15633
yeah, please use `webpack@5.70` for now..

[2022-04-06 11:21] stefanKuijers commented on #15633
I can verify, we had to step back to 5.70 as well

[2022-04-06 14:32] vankop commented on #14226
bump

[2022-04-06 14:49] vankop commented on #12465
all async modules on webpack side behave as top-level-await ( in case if `import x from "async-module"` )

_______

we discussed this internally so.. supporting promises on webpack side would require huge code transformation, that webpack in current version can not perform. There is a [PR](https://github.com/webpack/webpack/pull/15612 ) to add warning in case when output environment does not suppo

[2022-04-06 16:17] ChocolateLoverRaj opened #15635 "Allow resolve plugins to handle fs when target is node"
## Feature request

I have target set to `node`, so webpack automatically sets fs as external. I want my resolve plugin to still be able to modify imports to `fs`.

**What is the expected behavior?**
When a resolve plugin does `resolver.hooks.resolve.tapPromise`, it should be able to handle Node.js modules like `fs` and `http`.

**What is motivation or use case for adding/changing the behavior?**

[2022-04-06 16:33] vankop commented on #15635
use `externals` option, e.g.
[code]
and in entrypoint
[code]

[2022-04-06 16:36] #15635 closed

[2022-04-06 16:58] yoyo837 commented on #15633
This issue also breaks react-redux.

[2022-04-06 18:10] ChocolateLoverRaj commented on #15635
@vankop That doesn't solve my issue because I want to replace `fs` with `memfs` conditionally, depending on the path of the file which is importing `fs`.

[2022-04-06 18:49] vankop commented on #15635
external could be a function in case of fs resolving to fs external should looks like `externals: { fs: "commonjs fs"}`

[2022-04-06 20:32] Quovadisqc commented on #15633
Might help someone that also have the same issue as I had but this also breaks
[Socket-io](https://github.com/socketio/socket.io-client) by making connections throw timeouts because of this
[this function](https://github.com/socketio/engine.io-client/blob/master/lib/transports/websocket.ts#L238)

[2022-04-06 21:35] lfender6445 commented on #10924
I had this issue on node 12 after a few upgrades and I was able to resolve the issue with:

[code]

[2022-04-07 04:19] Rc85 opened #15637 "Webpack watch recompiling but not making changes"
# Bug report

**What is the current behavior?**
![wp-bug1](https://user-images.githubusercontent.com/22307591/162116511-13a07481-f1ab-4ebe-af6c-8bef023bb5f1.png)

Here, you see the `fields` property in my interface file and on the left is the initial build by running `webpack --config server.webpack.dev.config.js --mode development`. Everything seems normal.

![wp-bug2](https://user-images.githubu

[2022-04-07 04:25] Rc85 commented on #15637
Blah, found the solution.

https://github.com/TypeStrong/ts-loader/issues/1138

[2022-04-07 04:25] #15637 closed

[2022-04-07 05:55] DavidDudson commented on #15633
@Quovadisqc We had to rollback to webpack 5.70 due to the use of socke.io aswell.

[2022-04-07 08:21] nyngwang commented on #11821
@dmnsgn: No. But it's still possible to be done in that case :) There are tricks.

[2022-04-07 08:54] marekwalach opened #15638 "Webpack does not watch for file changes"
I want webpack to build expressjs written in typescript and use nodemon to serve (locally) app on each file change. I cant make webpack to watch correctly  - it reloads on package.json or on webpack.config.js files change but not on actual app files.

When i run `npx webpack` it builds and serve app correctly  but nothing is happening on file change.

My setup:
package.json:
[code]

webpack.config

[2022-04-07 09:10] vankop commented on #15638
does webpack rebuild? or it just does not reload? Could you create small reproducible repo please?

[2022-04-07 09:16] marekwalach commented on #15638
On app.ts change it does nothing.
Here is repo: https://github.com/marekwalach/webpack-express-ts-watch-test

[2022-04-07 11:04] sokra commented on #15619
unrelated to the issue, but this will minimize twice. `"..."` does expand to the default terser plugin + the terser plugin you provided.

---

The stack overflow error should probably reported to ts-loader or typescript instead.

[2022-04-07 11:11] sokra commented on #15566
@xtuc

[2022-04-07 11:14] sokra commented on #15594
You probably want to set `"sourceType": "unambiguous"` in your babel config: https://babeljs.io/docs/en/options#sourcetype

[2022-04-07 16:36] alexander-akait commented on #15626
Yep, that is `ts` resolver problem, firstly `ts` converts files to `js` and then `webpack` parses `js` and uses own resolver, so `extensions` will not work for `ts`, because `ts` has own resolver.

Solutions:
1. `transpileOnly` https://github.com/TypeStrong/ts-loader#transpileonly (Recommended), just move types validation step from build (it will speedup build), and also it will emit files as is a

[2022-04-08 07:13] Ark-kun commented on #1643
It does not work for me with v5.71.0 on Windows.

npm linked `absolute_root_path\app\node_modules\some-package` to `absolute_root_path\some-package`

Using `absolute_root_path\app\node_modules\some-package\src` in includes does not work.
Using `absolute_root_path\some-package\src` in includes works.

The hack from https://medium.com/capriza-engineering/sharing-source-code-and-libraries-in-react-bd

[2022-04-08 07:33] vankop commented on #10400
To make cache portable from VCS we need to implement "relative path" + "deterministic" cache features. Since we don't want to implement deterministic cache ( this feature will reduce cache performance a lot ) we decided to not implement this either.
Also this feature will impact cache performance as well.
_________

We will improve docs with some guides to most popular CIs how to setup cache there

[2022-04-08 07:33] #10400 closed

[2022-04-08 07:52] vankop commented on #1643
there is nothing todo with `module.rules` here.. only resolve option make sense. make sure `resolve.symlinks=true` https://webpack.js.org/configuration/resolve/#resolvesymlinks .

Otherwise please add `infrastructureLogging.debug=true` https://webpack.js.org/configuration/other-options/#debug and post stdout here ( there should be log from resolver )

[2022-04-08 09:36] ExampleWasTaken commented on #10035
Yep that makes sense. My question is why it is global in the first place. My target is set to `electron-renderer`. And even if I change it, I get the `require is not defined`thing. Maybe I'm just lost here but I've been sitting on this for a good few weeks now.

[2022-04-08 09:37] bingoYB opened #15641 "Webpack 5 Module Federation error when using optimization.runtimeChunk"
I want to use the module federation feature , but I have a problem when using  attributes `optimization.runtimeChunk`，the error message is as follows:
[code]
and the demo of the problem is reproducible below
https://stackblitz.com/edit/github-hdudnt-pjkjaw?file=app2/webpack.config.js

[2022-04-08 12:32] vankop commented on #10035
it looks like `electron-renderer` should have `global` https://github.com/webpack/webpack/blob/main/lib/config/target.js#L211

[2022-04-08 16:48] await-ovo commented on #15638
I just looked at the code in the repository and webpack rebuild is working fine, maybe just need to set the WebpackShellPluginNext's onBuildEnd scripts to `paralle: true`:

[code]

[2022-04-08 16:54] marekwalach commented on #15638
@await-ovo thank you - it was it. After adding `parallel: true` everything is working as expected.

[2022-04-08 16:54] #15638 closed

[2022-04-08 18:44] archfz commented on #7378
Back. Now updated to webpack 5. So yeah, what about dynamic / start exports?

[code]

My generated types file.
[code]

Imported in webpacked project as.
[code]

How should I handle this? As `export type * from` doesn't seem to be supported in typescript. See https://github.com/microsoft/TypeScript/issues/38306

[2022-04-09 18:05] archfz opened #15643 "Treeshaking with side effect free package is unexpectedly slow"
# Bug report

**What is the current behavior?**

Given that one uses package that has multiple ESM exports, and marked as side effect free, all sub-trees seems to be analyzed or even compiled, which causes great performance loss. Inclusion (or not inclusion) into final bundle works correctly.

**If the current behavior is a bug, please provide the steps to reproduce.**

I've created this setup to

[2022-04-09 18:42] onepseudoxy opened #15644 "npm install not working properly"
**npm install is not working properly**

**Whenever I run npm install
for example npm i -D webpack webpack-cli
I get the following output

up to date, audited 1 package in 13s

found 0 vulnerabilities**

And in the node_modules: there is no webpack folder and the webpack-cli folder is empty
same goes when I do npm i -D jest

**I expect the module to be installed**

**Environment:**
webpack version

[2022-04-09 23:15] kungcode commented on #6460
This works great, though I don't understand where env and argv are defined. Also, I still haven't figured out whey env needs to be passed, and why passing argv by itself won't work in the following:

module.exports = (env, argv) => getConfig(argv.mode);

[2022-04-10 06:21] vankop commented on #15644
Looks like this installation problem is only on your side.. I don't have any issues.

[2022-04-10 06:21] #15644 closed

[2022-04-10 06:28] vankop commented on #15643
yeah, thats how current webpack version works.. tree-shaking happens after building a tree.
_____
Maybe this could be improved in the next major version

[2022-04-10 08:15] archfz commented on #15643
Yeah this would then be a real nice feature.

Question still remains: is there only treebuilding happening? or is there also compilation upon the subtree? or something else that is expensive? Because I don't understand why it's 12x slower. Parsing some imports in couple of files shouldn't take that long.

In case of incremental builds I am not sure I follow. Why does the whole subtree need to be i

[2022-04-10 08:28] a6965921 opened #15646 "webpack @font-face problem"
webpack @font-face problem
`@font-face {
    font-family: 'iconfont';  /* project id 2838616 */
    src: url('');
    src: url('?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_2838616_h34s9inm0q.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_2838616_h34s9inm0q.woff') format('woff'),
    url('https://at.alicdn.com/t/font_2838616_h34s9inm0q.ttf') format('

[2022-04-10 15:07] vankop commented on #15646
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-10 15:09] vankop commented on #15643
all modules are parsed.

not sure what you mean by compilation.. module graph is optimizing  after exports analyze ( side effects apply here ). no output generated for "tree-shaken" modules

Not modules itself by exports that this modules provide.
e.g. in case `A` module  import `B` module and `B` imports unused `C` module (A -> B -> C and C is unused and side effect free)
So on first build A and

[2022-04-10 15:55] archfz commented on #15643
Ok I am no expert in this. Hope it's possible tho.

By compilation I meant running the files through loaders.

[2022-04-10 17:17] vankop commented on #15643
yes, this is a part of creating module graph.

[2022-04-10 17:28] VishalBhandare-Apertumo commented on #12102
no recent communication on this issue.
is this fixed or will never be solved?
can someone suggest alternative for problem?
few configuration changes are not making webpack5 build faster than webpack4.

[2022-04-10 17:41] archfz commented on #15643
Just to make sure I understand correctly. In the above example repo babel will be ran on each file loaded from some-module and its dependencies?

Why is this needed to build the module graph? Ofc talking here about third party packages with precompiled JS. Which is almost always the case with packages.

[2022-04-10 20:25] nyngwang commented on #2031
All idiots. The docs is very clear: https://webpack.js.org/configuration/module/#condition

[2022-04-11 07:20] vankop commented on #15643
yes

because loaders transforms module code and we don't know how resulted code will looks like.

[2022-04-11 07:28] archfz commented on #15643
I will do some more fiddleing to see the impact of the discovery vs loaders running on graph building.

But my initial thought is that for graph building needing loaders to run through the code is an edge case, and maybe should be able to opt out. As what is and what isn't imported in most cases for sideffectfree js won't be changed by loaders. But maybe I am in the wrong here.

[2022-04-11 09:49] NeluQi opened #15650 "glob-parent high security issue in webpack!"
High            Regular expression denial of service in glob-parent

  Package         glob-parent

  Patched in      >=5.1.2

  Path           webpack > watchpack >
                  watchpack-chokidar2 > chokidar > glob-parent

More info       https://github.com/advisories/GHSA-ww39-953v-wcq6

[2022-04-11 10:18] vankop commented on #15650
please upgrade to latest webpack

[2022-04-11 10:18] #15650 closed

[2022-04-11 11:10] piyushmani-raj opened #15651 "webpack 5 load image dynamically from different folder"
I have a webpack 5 and react application and I have to chose a folder at runtime for images based on variable. however I am able to define path using require but in final build images from all folder are included .

const ASSETS_DIR = IVI_CONSTANTS.THEME_CONSTANTS// from external api

asset-folder1
asset-folder2
asset-folder3

<img src={require(`../../assets/${ASSETS_DIR}/${iconName}.svg`).default

[2022-04-11 11:18] #15646 closed

[2022-04-11 11:21] vankop commented on #15651
thats how context `require` works. webpack doesn't know which assets you will use and bundle all of them.

[2022-04-11 11:21] #15651 closed

[2022-04-11 11:33] alexander-akait commented on #12102
@VishalBhandare-Apertumo Please provide profile as minimum (examples are above)

[2022-04-11 11:52] VishalBhandare-Apertumo commented on #12102
We downgraded to webpack4 as seems there was this issue with webpack5. i have moved to new work now. But yes i need to find solution for this problem soon or later. i will communicating in this thread when i start working on fixing this.

@alexander-akait you have been very actively helping people here. thanks a lot.

I will get back to you while debugging issue if required.

For Vue Cli users lin

[2022-04-11 11:56] alexander-akait commented on #15641
Sorry you link is broken and I can't open it

[2022-04-11 11:58] alexander-akait commented on #12102
Yes, will be great to profile and see there is perf problem (maybe in some loaders/plugins?) Feel free to ping me when you will do it

[2022-04-11 12:11] LookRain opened #15652 "Unable to resolve named module to in the current directory in Webpack 5"
# Bug report

**What is the current behavior?**

With a custom resolver plugin, I should be able to resolve a module import to a file under the current directory like:

[code]
should resolve to `src/_box/test-no-dep`.

The plugin code:
[code]

However, this does not work and I got the following error:
[code]

<img width="820" alt="image" src="https://user-images.githubusercontent.com/11829847/1627

[2022-04-11 12:50] evisong opened #15653 "Generated ES module trying to import already-removed empty JS chunk"
# Bug report

**What is the current behavior?**

I'm leveraging Webpack 5's ESM support to generate ESM libraries, in the meanwhile I use `mini-css-extract-plugin` to extract all CSS to a single file. With some typical config, I succeed in the code-splitting in a "_multi JS + single CSS_" style.

However, although the `mini-css-extract-plugin` only generates a single CSS file, the generated entry

[2022-04-11 12:50] vankop commented on #15652
answered in `enhaced-resolve` issue

[2022-04-11 12:50] #15652 closed

[2022-04-11 18:19] archfz commented on #15643
I've made another branch https://github.com/archfz/webpack-treeshake-issue/tree/no_babel_on_modules and here I transformed all jsx in the 3rd party packages to js. I've also made babel not parse files from node modules.

With this change it's confirmed that the loaders are also run on module graph building. Now the slowdown is down from `12x` to only `3.5x`. Which is a big improvement, but still n

[2022-04-11 20:00] HarikrishnanBalagopal commented on #11893
Why is this issue closed?

[2022-04-11 20:16] congineer commented on #11893
@[alexander-akait](https://github.com/alexander-akait) ignored my elaborated comment and did not re-open the issue. However, I found a complex way to work around this issue using type: 'asset/resource' instead of 'webassembly/async' to load the wasm file and monkey-patch it to inject the import object.

[2022-04-11 20:21] HarikrishnanBalagopal commented on #11893
@alexander-akait this is still an issue. If it is possible to pass a `importObject` to wasm somehow then please point me to the relevant documentation. The only thing I found is `asyncWebAssembly` in https://webpack.js.org/configuration/experiments/

[2022-04-11 20:22] HarikrishnanBalagopal commented on #11893
can you elaborate on the workaround?

[2022-04-11 20:35] congineer commented on #11893
@[HarikrishnanBalagopal](https://github.com/HarikrishnanBalagopal) please check in documentation if this issue is solved already. If not, please reply here and I'll do a demo with a screencast to show my hack.  Also, I'll use it to open a new issue for @[alexander-akait](https://github.com/alexander-akait) here. I'm quite busy right now, but will reserve time for it in 2-3 weeks if you really need

[2022-04-11 20:40] alexander-akait commented on #11893
@congineer Can you provide reproducible example? Nothing to use `env`, so maybe problem in your env, need investigate...

[2022-04-11 20:48] congineer commented on #11893
[lexander-akait](https://github.com/alexander-akait) what does env has to do with it? In my comment  Apr 13, 2021 I clearly explained that webpack code has no means to handle the import object: "importObject is not being passed along with fetched binary". If you confirm that you are willing to investigate the issue I'll schedule to create an elaborated demo within 2-3 weeks in my agenda.

[2022-04-11 22:27] cdeutsch commented on #15633
Is this fixed for people in `v5.72.0`?

I'm still stuck on `v5.70.0`, but it's possible it's not the same issue.

[2022-04-12 01:24] rese opened #15654 "Webpack 5 support for --display-modules option"
Webpack 4 had support for `--display-modules` option which seems to have been deprecated in v5 since passing that option gives me `[webpack-cli] Error: Unknown option '--display-modules'`. I can't seem to find an equivalent in the v5 options and I can't find anything online about it being removed.

[2022-04-12 04:21] piyushmani-raj commented on #15651
so how to deal with this scenario , I want images from only folder defined by ASSETS_DIR

[2022-04-12 06:46] yoyo837 commented on #15633
I'm just as confused, `5.72.0` still breaks `react-redux`.

[2022-04-12 06:51] yoyo837 commented on #15633
Double decorators.

[code]

[2022-04-12 07:29] Merynek opened #15656 "Font not found in .less after build"
# Bug report

**What is the current behavior?**
I cant load font from less file.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Font load

**Other relevant information:**
After build: it seems good:
![image](https://user-images.githubusercontent.com/6883795/162904474-74e5ffab-4574-4e3e-95fc-9b8c454c18f4.png)
But when I load

[2022-04-12 07:34] vankop commented on #15651
simple solution will be
[code]
where `ASSETS_DIR` will be your directory in string format.

Hard solution is to create webpack plugin and evaluate `IVI_CONSTANTS.THEME_CONSTANTS` to string.. like this https://github.com/webpack/webpack/blob/main/lib/dependencies/ImportMetaPlugin.js#L156

[2022-04-12 08:04] vankop commented on #15654
I'm not familiar with such option, probably it is related to stats. In `webpack@5` there is a lot stats options ( maybe you need `--stats-modules` ) all [stats options in doc](https://webpack.js.org/configuration/stats/)

[2022-04-12 08:04] #15654 closed, assigned to nobody

[2022-04-12 09:21] suanmei opened #15657 "Can't get external modules in moduleGraph if it's external in webpack5"
# Bug report

My appeal is, some dependencies in my project have been external, and these dependencies are shared by multiple entries. I want to count the external dependencies used by each entry

With webpack4:

[code]

But in webpack5:

[code]

All the dependencies specified in externals lost.

**What is the current behavior?**
All the dependencies specified in externals lost.

**What is the exp

[2022-04-12 09:30] vankop commented on #15657
not sure what you want to achieve. `module.userRequest` in your example should work

[2022-04-12 09:49] suanmei commented on #15657
In my builder, exteral has specified:
[code]

In my project `index.js`:
[code]

Finally, I logged the chunk dependencies:
[code]

`rax` `hlw-rax-text`  `rax-img` are not included

[2022-04-12 09:54] fabis94 commented on #985
@vankop is there a way to get this functionality in webpack@4 as well?

[2022-04-12 10:07] vankop commented on #15657
try to log `module.userRequest`

[2022-04-12 10:14] vankop commented on #985
no, only critical fixes for webpack@4 is possible..

[2022-04-12 10:16] vankop commented on #15656
`outputPath` is related to where asset will be placed but this does not affect module request.

[2022-04-12 10:21] suanmei commented on #15657
Additional info: in `production` mode

log `module.userRequest` then:
[code]

I'm wondering if `chunkGraph` doesn't include external dependencies

[2022-04-12 10:24] evisong commented on #15653
I've tried to add a quick&dirty check in the following loop, it works. With this change, generated `esm.js` is not importing the nonexisting `styles.js` anymore. I'm not sure if this is the right place to do the filtering. If it's the right direction to go, I'll be happy to contribute a PR accordingly.

https://github.com/webpack/webpack/blob/d3a0f8de03f26a83b4d5db3cfe177617a3801df3/lib/esm/Module

[2022-04-12 10:31] vankop commented on #15657
ok, I understood why it does not work.. you need to set `optimization.concatenateModules=false`

[2022-04-12 10:36] vankop commented on #15657
basically what you trying to achieve will not work smoothy with webpack@5. Since modules in chunkGraph are optimized..

you should use `	compilation.hooks.optimizeChunkModules` with
[code]

to run before concatenation https://github.com/webpack/webpack/blob/main/lib/optimize/ModuleConcatenationPlugin.js#L117

[2022-04-12 10:36] #15657 closed

[2022-04-12 10:41] yoyo837 commented on #15633
I'll try it.

[2022-04-12 10:41] fabis94 commented on #985
@vankop are there any docs about how this is supposed to work in webpack@5 or what are the limitations? cause I'm still running into the same issue - three.js is loaded both from the package's own `node_modules` dir and also from a symlinked local packages `viewer` `node_modules` dir (so `./node_modules/three` and `../viewer/node_modules/three`)

[2022-04-12 10:46] vankop commented on #985
@fabis94 from your description is unclear what is wrong..

maybe some dependency ( or different app modules ) is trying to resolve `three.js` and resolve wrong one..

Probably in your case problem is not related to symlinks.. ( it will work same way with non-symlink version ) you can reduce this to reproducible repo I will take a look.

[2022-04-12 10:47] suanmei commented on #15657
Thanks, I will try it

[2022-04-12 10:49] vankop commented on #985
I read the description once more.. I thought this related to symlinks..

"Issue" still exists

[2022-04-12 10:58] vankop commented on #12031
we use it only if environment supports it.

[2022-04-12 11:09] vankop commented on #11382
so all webpack modules should support concatenation.

_______

This should be improved for `library: "module"`, but basically all output should be improved for esm not only removing bootstrap..

[2022-04-12 11:09] #11382 closed

[2022-04-12 11:09] fabis94 commented on #985
Just an idea, but why not just compare if the same version of the same package is already bundled in? Or make that an opt-in feature?

The underlying issue is that after linking in modules, npm doesn't deduplicate the node_modules tree so you can end up having `/node_modules/three` and `../symlinked-package/node_modules/three` both available. And then `three` is imported from `symlinked-package` i

[2022-04-12 11:13] vankop commented on #985
"fix" is possible, but this breaks Node.js resolution algorithm.

[2022-04-12 11:17] yoyo837 commented on #15633
[mini-repo.zip](https://github.com/webpack/webpack/files/8472350/mini-repo.zip)

1. yarn/npm install
2. yarn/npm run dev

I got ` Could not find "store" in the context of "Connect(TestComp)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(TestComp) in connect options.`

I found the soluti

[2022-04-12 11:18] fabis94 commented on #985
I don't really see why people would want the current behaviour (same package with same version being bundled twice), but it could be an opt-in feature, if you think it's gonna cause issues for some.

Anyone trying to deal with these issues and spending hours on it not getting anywhere isn't going to care that the Node.js resolution algorithm is broken, getting dependencies to be properly bundled w

[2022-04-12 11:52] kubaprzetakiewicz commented on #15431
Is there any update to this?

We've set `watchOptions.aggregateTimeout` to `400` - yet we're still marred with double rebuild and HMR issues stemming from it.

<details>
<summary>
Environment details:
</summary>

[code]

</details>

[2022-04-12 12:46] alexander-akait commented on #15633
@vankop Looks like still valid

[2022-04-12 12:57] alexander-akait commented on #11382
@vankop Maybe we can union and describe it in one issue to track it?

[2022-04-12 13:37] cdeutsch commented on #15633
I'm getting a similar error in `mobx-react@6.3.0`

When I have a nested `<Provider>`, the props provided by the parent are missing.

Was thinking this could be a different issue than `in`

[2022-04-13 02:53] SunHuawei commented on #15623
@joeldenning, @guybedford , @sokra, do you have any input?

[2022-04-13 03:29] williamjacobszoon commented on #12465
@aoisummer did you find a solution to bellow?

@alexander-akait Could you please share the link of the documentation where it's referring about polyfills would fix this issue? We are struggling on this issue as we have a requirement to build the project into es5 and we use externals heavily

[2022-04-13 04:15] evisong commented on #15653
For anyone who runs into the same issue, before this is fixed in Webpack officially, you may consider my workaround below.

[code]

This plugin runs right before `ModuleChunkFormatPlugin`, remove the empty chunks (containing no javacript modules) so that the latter only renders `import` code for existing JS chunk files in outputs.

[2022-04-13 07:37] vankop commented on #12465
@williamjacobszoon you should use dynamic import (`import()`) then.. As I said transforming top-level-await (async/await => promises) is not possible in current webpack design..

maybe you can use `babel` for this (for es5 builds transform chunks after compiling..)

[2022-04-13 08:10] vankop commented on #12408
fixed

[2022-04-13 08:10] #12408 closed

[2022-04-13 08:59] congineer commented on #11893
@HarikrishnanBalagopal and @alexander-akait what is the status of your investigations? Has this issue been resolved? Will this ticket be re-opened?

[2022-04-13 09:24] yadunandanbhat commented on #15603
Is this still open? If yes, then can I work on this?

[2022-04-13 12:01] alexander-akait commented on #15603
PR welcome

[2022-04-13 12:03] alexander-akait commented on #11893
@congineer Can you create reproducible example?

[2022-04-13 12:12] congineer commented on #11893
@alexander-akait Ok, I will write a test case and let you know here.

[2022-04-13 13:02] yadunandanbhat commented on #15603
Also the image beside the "downloads" badge is broken. Should I just delete that?

[2022-04-13 13:07] yadunandanbhat commented on #15603
![image](https://user-images.githubusercontent.com/54680617/163186804-b0a651c9-dc30-4814-ab47-1a041a4cd15a.png)

[2022-04-13 13:31] alexander-akait commented on #15603
Ideally will be great to repair it

[2022-04-13 13:33] yadunandanbhat commented on #15603
Which link did it reference? Because opening it is saying 404 error

[2022-04-13 20:24] HudsonGraeme commented on #15625
Just curious, what ended up causing the error? I am running into this same error and haven't found any other information on it

[2022-04-13 20:41] alexander-akait commented on #15625
As you can see problem somewhere in `css-select`, check your packages on using `css-select` and you can find a bug

[2022-04-13 21:18] Piemontez commented on #15626
Thanks for helpful

I solved this one in a similar way as you said in one webpack.config.js

i add webpack.NormalModuleReplacementPlugin plugin and replace postfix name file like that:

[code]
and webpack load correct file for deskop or web version.

[2022-04-13 21:18] #15626 closed

[2022-04-14 05:55] williamjacobszoon commented on #12465
@vankop Could you please share some input on how to use babel on runtime chunk? I tried it didn't work for runtime chunk. Appropriate your help on this matter

[2022-04-14 06:43] markjm commented on #15431
Perhaps not the perfect solution for some of those other less common (i think?) file systems, but I think the linked PR should resolve this issue while still respecting lower accuracy mtimes

[2022-04-14 08:40] tmeasday commented on #15541
OK, I simplified the repro a lot and brought it out of Storybook!

https://github.com/tmeasday/webpack-lazy-compilation-repro-simple

1. `yarn webpack serve`
2. Open browser, ensure "preserve log" is on
3. Run `all()`
4. Notice logs:

[code]

[2022-04-14 08:41] vankop commented on #15541
@tmeasday still does not work with latest webpack?

[2022-04-14 09:44] tmeasday commented on #15541
Hey @vankop. Hmmm, OK, so the reproduction I just posted is fixed in `5.72.0`. But the original issue posted at the top is not. 🤔 I'll keep trying to reproduce in pure webpack.

[2022-04-14 10:46] vankop commented on #12465
not sure about correct config.. I think `@babel/preset-env` will be enough

[2022-04-14 17:37] vjpr commented on #11670
I had the same issue when using Module Federation. If I remove the federated import (`import('MyModule/Button')`), then everything works fine. Adding the federated import and things break.

I am using a proxy to avoid CORS issues, so that `localhost:3000` goes to my `host` app, and `localhost:3000/federation/MyModule` redirects to my `other` app.

When the websocket message arrives, it inits `curr

[2022-04-14 20:13] Poolshark opened #15666 "Error when trying to run React application with babel-plugin-relay and Webpack 5"
I have recently set up my monorepo of multiple React apps with Yarn workspaces and Webbpack 5 (they used to be CRAs, managed with Lerna, built and run via Craco/React Scripts).

I've had a little bit of a hard time to get it all running but I have experienced 2 weird warnings I cannot get rid of and I'm also not sure what happens here:

[code]

The package `babel-plugin-macros` is a dependency of

[2022-04-14 22:13] ljharb commented on #9246
Importing JSON without the assertion is explicitly allowed, and imo encouraged.

[2022-04-15 04:34] williamjacobszoon commented on #12465
@vankop still not working with babel loader as per my understanding the runtime is not loaded via loaders so it's not going through the babel loader.

I was expecting, Webpack would generate code according to the target option specified in the config in all aspects and seems like It is not.

Shouldn't this be a major bug in webpack as It's no honoring the target set by the config when it's generat

[2022-04-15 07:43] janv commented on #2933
I ran into an issue today where `runtimeChunk: single` led to the following code being generated:

[code]
with Terser rightfully complaining that the `export` statement can only appear at the toplevel.
This error was not occurring with `devTool: 'eval'`, and manifested only in the production build.
I can provide further details if that helps.

[2022-04-15 08:12] yadunandanbhat commented on #15603
its saying "First-time contributors need a maintainer to approve running workflows". Please approve it!

[2022-04-15 08:12] yadunandanbhat commented on #15603
The pr is #15667

[2022-04-15 08:32] vankop commented on #12465
@williamjacobszoon not `babel-loader`, just use babel on output ( only for es5 )

______

better use `import()` instead of top-level-await

[2022-04-15 08:33] vankop commented on #12465
It does. By in case of top-level-await it is not possible in current design ( transform async to promises ), so you have 2 options https://github.com/webpack/webpack/issues/12465#issuecomment-1090360739

[2022-04-15 09:16] vankop commented on #15666
this means you have something like
[code]

this is something like
[code]
where `require` is not call expression (`require()`, `require.resolve()`)

in case of `babel-plugin-macros` this is
[code]

[2022-04-15 09:16] #15666 closed

[2022-04-15 09:37] williamjacobszoon commented on #12465
@vankop I'm kind of disappointed see your response. because non of these things are explained in the documentation about using externals will cause the output to be not compatible with es5. I'm getting to know all these things at the final phase of our application development now I have to restructure the whole app again 😭

[2022-04-15 09:40] vankop commented on #12465
yeah, sorry about this.. changing `import x from "x"` to `import("x")` should not be a big problem.

[2022-04-15 10:56] alexander-akait commented on #2933
@janv Looks like bug, can you provide example? Thanks

[2022-04-15 10:59] vankop commented on #14946
this should be solved another way around.. `this.importModule` should not "count" as module, e.g. scenario

`module A` => `module B` ( loader `importModule` `module C`)

here on second build we have only `A` and `B` modules.. (modules are in cache already builded)

[2022-04-15 11:27] janv commented on #2933
@alexander-akait I managed to create a minimal example: https://github.com/janv/webpack-esm-runtimechunk-error

[2022-04-15 12:13] danierlr opened #15668 "Webpack dll plugin seems to be broken"
# Bug report

Webpack dll plugin seems to be broken

**What is the current behavior?**

Webpack dll reference plugin not resolving files from the referenced bundle.

**If the current behavior is a bug, please provide the steps to reproduce.**

Please follow the steps in the minimal reproduction repo
https://github.com/danierlr/WebpackDllPluginDemo

**What is the expected behavior?**

Webpack shoul

[2022-04-15 13:43] barclayd commented on #7378
Adding the following will silence the warnings from webpack:

[code]

[2022-04-15 20:17] bitjson opened #15671 "Dead-code elimination of unused default parameters"
## Feature request

During dead-code elimination/tree shaking, default parameters that aren't used by the bundle can be removed.

**What is the expected behavior?**

For this simple example:

`module.js`:
[code]

`app.js`:

[code]

The produced bundle should include only:
[code]

A detailed example (testing with all known bundlers) is available at this repo: https://github.com/bitjson/shake-defaul

[2022-04-16 06:48] aoisummer commented on #12465
I try to reproduce that today, but it has been fixed in newer version. This issue still exists, which means the feature `externals script` cannot run when your browser does not support async function. Here is my test code:

[code]

webpack: 5.72.0
node: 16.14.2
browser: IE 11

[2022-04-16 07:18] williamjacobszoon commented on #12465
@aoisummer Thanks for the update.

I just found out there is separate issue raised for top-level await generation on es5 target.

[Compile top-level await to ES5 #11874](https://github.com/webpack/webpack/issues/11874)

https://github.com/webpack/webpack/blob/main/lib/async-modules/AwaitDependenciesInitFragment.js

[2022-04-16 11:20] Semigradsky opened #15672 "Suggestion: replace `json-parse-better-errors` to `json-parse-even-better-errors`"
[json-parse-even-better-errors](https://github.com/npm/json-parse-even-better-errors) is a fork of [json-parse-better-errors](https://github.com/zkat/json-parse-better-errors).

Example of improvement in https://github.com/sindresorhus/parse-json/pull/23

[2022-04-16 11:23] alexander-akait commented on #15672
PR welcome

[2022-04-16 12:21] vankop commented on #12465
yeah, lets close this in favor of #11874

[2022-04-16 12:21] #12465 closed

[2022-04-16 12:21] vankop commented on #11874
we discussed this internally so.. supporting promises on webpack side would require huge code transformation, that webpack in current version can not perform. There is a [PR](https://github.com/webpack/webpack/pull/15612) to add warning in case when output environment does not supports async/await.

As user you can:

- build for environment that supports async/await
- don't use top-level-await

[2022-04-16 12:52] Semigradsky commented on #15672
Done

[2022-04-17 00:37] williamjacobszoon commented on #11874
@vankop Just wanted to make sure that this issue will be fixed in a future version of webpack right? adding a warning is a temporary solution I guess.

[2022-04-17 05:42] vankop commented on #11874
we didn't plan this yet.

[2022-04-17 12:14] LIBai11 opened #15674 "WebPack使用require函数来导入组件时,会把指定目录下所有的目录全部遍历"
## Feature request

**What is the expected behavior?**
希望可以改善一下require导入的方式

**What is motivation or use case for adding/changing the behavior?**

比如说xicons这个库有一万多个图标,当我从服务请求回字符串数据后,想通过字符串动态导入这些图标时,就需要用到require,
但这会使我的项目热更新很慢,并且浏览器会因此崩溃

**How should this be implemented in your opinion?**
通过require中的包含的名称参数来动态的辨别大概的位置,比如在文件首字母A-D之间,
或者使用缓存,可以将需要使用的组件缓存起来,避免下次使用再重新遍历

**Are you willing to work on t

[2022-04-17 13:17] alexander-akait commented on #15674
Please use the English, thanks

[2022-04-17 13:17] magicdawn commented on #6630
why closed, don't see a simple solution

[2022-04-17 13:19] LIBai11 commented on #15674
For example, the library xicons has more than 10,000 icons. When I request string data from the service and want to dynamically import these icons through strings, I need to use require.
But it makes my project hot update very slow and the browser crashes because of it

 use the cache, you can cache the components that need to be used to avoid re-traversing the next time you use it

[2022-04-17 15:59] alexander-akait commented on #15674
Please reformat your issue using English

[2022-04-18 12:18] JesonAnne opened #15677 "Cannot access '__WEBPACK_DEFAULT_EXPORT__' before initialization"
it will close

[2022-04-18 12:51] vankop commented on #15677
please reduce this to reproducible repo.. I didn't understand from description what could cause this.

[2022-04-18 13:58] alexander-akait commented on #15677
I think you have circular dependencies

[2022-04-18 18:36] TheLarkInn opened #15679 "Backporting version detection API across major versions"
## Feature request

**What is the expected behavior?**
The version detection logic for webpack has either not existed, changed, or moved from each Major version of webpack.

**What is motivation or use case for adding/changing the behavior?**
As I have been working on a variety of Plugins, I have noticed that each project has been using custom webpack version detection logic. In version 5 this is

[2022-04-19 06:51] JesonAnne commented on #15677
I'm sorry I didn't make that clear. With version 5.56 of webpack, when packaging the output, there is one more line defining default ,than in version 4.44. This line of code causes an error to be reported
[code]

[2022-04-19 07:31] #8648 closed

[2022-04-19 08:00] nilsmartel commented on #7197
having the same issue and nothing described here works

[2022-04-19 08:56] sokra commented on #2933
@janv adding these configuration should help:

[code]

Alternatively that would help `target: 'node12.17'`

Seems like we are detecting an environment that doesn't support `import()`, so we are not choosing ESM as chunk loading/chunk format, but only ESM chunk format correctly supports `library: { type: "module" }` with runtime chunk.

I guess we probably should automatically choose `chunkFormat:

[2022-04-19 12:28] alexander-akait commented on #15677
@JesonAnne Sorry without code it is hard to say there is a problem

[2022-04-19 12:56] #15672 closed

[2022-04-19 13:06] #15633 closed

[2022-04-19 15:30] kubaprzetakiewicz commented on #15431
https://github.com/levymetal/webpack5-double-compile-repro

you can fiddle with the `aggregateTimeout` here and it's sometimes reproducible

[2022-04-19 15:45] alexander-akait commented on #15431
We have patch https://github.com/webpack/watchpack/pull/215, somebody can try it locally?

[2022-04-19 16:22] janv commented on #2933
Thank you very much! This helped indeed to solve that particular problem.

However, it uncovered another issue: In our particular project, we have entry chunks that depend on each other.
This leads to a situation, where webpack generates code that contains two `export default`s! This also strikes me as something that should not be happening. A possible solution might be to always export `__webpack

[2022-04-19 19:06] yusaira-khan commented on #15625
FYI, removing `css-minimizer-webpack-plugin` worked for me.

[2022-04-19 19:21] alexander-akait commented on #15625
@yusaira-khan But you will have unminified CSS

[2022-04-19 22:20] alexander-akait commented on #8648
@vankop Should we keep issues for dll? I think we can improve docs and mark it is legacy with recommendations to migrate on module federation

[2022-04-19 23:55] itsvamshiks opened #15684 "Issue with Webpack 5 : Configuration has unknown properties"
# Bug report

Hello everyone, I have an angular app and using webpack in it. Im getting some errors when upgrading to webpack 5.
Here is the error message:

[code]

This is my webpack.config.js

[code]

And these are my dependencies

[code]

**What is the current behavior?**

When I try to run ng build or ng serve, this error message pops up. It works fine with webpack version 4 (Tried v4.44.2). U

[2022-04-20 00:19] alexander-akait commented on #15684
Please open an issue in angular, there is some problems or inside in basic configuration(if you have) or `AngularCompilerPlugin` modifies options for webpack v4, but you are using webpack v5, sorry we can't fix it here

[2022-04-20 01:53] progerchai commented on #15547
same issue with me:

# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
[code]

**Other relevant information:**

[code]
webpack version:  v5.72.0
Node.js version: v12.13.1
Operating System: Linux 3.10 CentOS Linux 7 (Core)
Additional tools:

[2022-04-20 02:17] alexander-akait commented on #15547
@vankop I think we should fix it, does acorn support it?

[2022-04-20 02:31] progerchai commented on #15547
it seems to be the problem with npm version?
in my case, the project used the wrong npm unser node_modules
I run `rm -rf ~/www/mo_prod/frontend/node_modules/.bin/npm`
the npm directory back to my default install directory `/usr/local/bin/npm` ,and the npm version is back to v6.12.1
However,  it worked!

[2022-04-20 02:33] alexander-akait commented on #15547
What is node version?

[2022-04-20 02:34] progerchai commented on #15547
still v12.13.1

[2022-04-20 06:16] LIMPIX31 opened #15687 "Package path ./browser is not exported from package"
# Bug report

Exports in package,json of my npm package :
[code]

[code]

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

This is the repository I used: [Electron-React-Boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate]).
I already created an issue in this repository and got the answer that

[2022-04-20 06:23] vankop commented on #15687
hm.. we have test for this. Could you create reproducible repo?

[2022-04-20 06:27] LIMPIX31 commented on #15687
I provided a link to the template I was using, I did not change the webpack settings in it.
Does the fact that I installed my module with `npm link` affect it?

[2022-04-20 06:29] vankop commented on #15687
maybe.. we need repro to understand your setup, by default this should work..

[2022-04-20 07:35] LIMPIX31 commented on #15687
This is probably a bug in my package, because I get undefined if I import anything from the root of the package

[2022-04-20 07:35] #15687 closed

[2022-04-20 08:13] noscripter commented on #12506
It should be merged into source file all removed by default.

[2022-04-20 11:05] #15684 closed

[2022-04-20 11:29] vankop commented on #8648
yeah. please migrate to module federatio. thanks.

[2022-04-20 11:32] vankop commented on #15679
technically latest major plugins versions supports only v4/v5. So you can detect v4 when there is no `compiler.webpack` and vice versa for v5.

[2022-04-20 11:54] tmeasday commented on #15541
@vankop I am not quite sure what happened 6 days ago in my comment above, but I came back to this today and tried it again, and it the [reproduction above](https://github.com/webpack/webpack/issues/15541#issuecomment-1098860467) **definitely does occur** in `5.72.0`.

It is a pretty simple reproduction so hopefully it should make the problem clear :)

[2022-04-20 12:05] #15679 closed

[2022-04-20 22:41] #12003 closed

[2022-04-20 23:46] d0sboots commented on #15584
Got around to digging further on this. I suspected this was something specific to my env as well.

[code]

This shows that WASM is basically totally inoperable; trying to allocate anything at all is failing. I'll update again if/when I get to the bottom of this, so that if anyone else runs into the same issue they'll know how to fix it.

[2022-04-21 00:59] d0sboots commented on #15584
I found the issue.

V8 uses 10GB memory allocations in WASM to implement guard regions. Most of this memory is never committed (actually given pages by the VM system), but the _virtual address space_ is still consumed.

I had a 5GB ulimit set, for safety. Once that was removed, everything worked fine.

[2022-04-21 00:59] #15584 closed

[2022-04-21 03:47] FishOrBear commented on #12102
Does ts-loader not support cache?
If I remove the cache-loader, the build time becomes 30s, if I add the cache-laoder, it will be within 10s

[code]

[2022-04-21 07:03] saulpalv commented on #14600
For some practical cases `electron-renderer` target should behave as `nwjs` target

[2022-04-21 07:15] ThenMorning opened #15691 "How to config experiments.outputModule at webpack@4?"
Hi, 'experiments.outputModule' looks like only useful at webpack@5,
and if  has any way to make it at webpack@4?
Because i would like that when i build with webpack@4, the result doesn't has a 'function wrapped'.
Please somebody help!
Thanks!

[2022-04-21 08:43] Airkro commented on #12900
Is possible to support `type` as  `import.meta.webpackContext` parameter?

[2022-04-21 08:55] vankop commented on #12102
`cache-loader` is deprecated, you don't need it with webpack@5

[2022-04-21 09:12] p3k opened #15693 "How do I migrate file-loader with postTransformPublicPath to asset?"
We currently apply the following file-loader configuration:

[code]

According to the docs, migrating this loader with the asset module should look something like this:

[code]

However, as the commented line indicates, there is no support for the `postTransformPublicPath` option in the asset module…

How would I proceed from here, any suggestions?

[2022-04-21 09:33] vankop commented on #15693
there is no `postTransformPublicPath` alternative. webpack does `__webpack_public_path__ + ${p}` by default

[2022-04-21 09:42] vankop commented on #15691
this is only webpack@5 option.

[2022-04-21 09:42] #15691 closed

[2022-04-21 09:47] vankop commented on #12900
there is no `type` in `import.meta.webpackContext`. we don't plan to support more options for `require.context`.

[2022-04-21 09:48] p3k commented on #15693
ah ok thanks for the hint @vankop – is this documented somewhere?

[2022-04-21 09:51] vankop commented on #12900
there is an answer on original issue. please create separate issues.

[2022-04-21 09:51] #12900 closed

[2022-04-21 09:54] vankop commented on #15693
no, this is webpack internal.
wait.. I think if you use `publicPath` it will not concatenate `__webpack_public_path__ + ${p}`, otherwise it will respect `__webpack_public_path__` ( this need to be documented, yes)

[2022-04-21 10:07] p3k commented on #15693
hm, not sure i understand this. what should the generator look like, also regarding the concatenation of `__webpack_public_path__ + ${p}` is not happening when i use `publicPath`?

like this?

[code]

[2022-04-21 10:19] noppa commented on #12102
@FishOrBear Have you tried with Webpack's own [filesystem cache](https://webpack.js.org/configuration/cache/)? It's off (or rather in-memory only) by default.

[code]
should speed up subsequent starts considerably

[2022-04-21 10:24] vankop commented on #15693
e.g. you have
webpack.config.js
[code]
webpack will generate `/public-asset` for assets, if you need to respect `output.publicPath` you should pass `generator.publicPath="/public/public-asset"`

[2022-04-21 10:26] #15693 closed

[2022-04-21 13:56] ZheningLin opened #15694 "Webpack v5 may be not come with the latest terser-webpack-plugin out of the box."
# Bug report

**What is the current behavior?**
Webpack v5 may be not come with the latest terser-webpack-plugin out of the box.

<img width="533" alt="image" src="https://user-images.githubusercontent.com/20638584/164472249-fda6ace6-f5fc-408c-9460-7f3a3c51ab53.png">

<img width="684" alt="image" src="https://user-images.githubusercontent.com/20638584/164472403-f943346b-d904-4106-8eee-4e963267349b

[2022-04-21 16:14] vankop commented on #15694
you should use `optimization: { minimizer: ["...", new YourMinimizerPlugin()] }`

[2022-04-21 16:14] #15694 closed

[2022-04-22 01:27] FishOrBear commented on #12102
I have started in webpack.common.ts
[code]

[2022-04-22 01:30] FishOrBear commented on #12102
Thanks for your reply, I know it's been stopped for maintenance, but if I don't use it, it's slow.

[2022-04-22 02:59] ZheningLin commented on #15694
Thxs.It works, but it doesn't seem very elegant. The doc can add relevant hint.

[2022-04-22 05:00] Idcra opened #15696 "when using babel-loader ,the results will change in different modes,How should I configure it"
[code]
[code]
development result
![image](https://user-images.githubusercontent.com/49867647/164607521-4b913567-0073-45e6-854c-c38c51ac8fb2.png)
production result
![image](https://user-images.githubusercontent.com/49867647/164607477-dba7a325-eae6-473c-8712-c17c009f8bfc.png)

How can I configure it so that the results do not change

[2022-04-22 05:03] Idcra commented on #15696
[code]

[2022-04-22 06:59] vankop commented on #15696
not sure what you expect. On second screenshot there is `devtool` enabled. you can set `devtool=false`.

[2022-04-22 06:59] #15696 closed

[2022-04-22 07:53] Idcra commented on #15696
changed  ["catch"] to .catch, But i need ["catch"]

[2022-04-22 07:54] Idcra commented on #15696
i want webpack not to  change the babel-loader result

[2022-04-22 09:58] alexander-akait commented on #15696
webpack doesn't change babel output, it done by terser check your options

[2022-04-22 10:21] jacobp100 opened #15697 "Output statically resolvable dynamic import expressions"
## Feature request

**What is the expected behavior?**

If I have the following,

[code]

with the config,

[code]

You get the following output

[code]

Notably - the `import("./"+i.u(e))`

Is there a way to force this to output a statically analysable import statement (i.e. `import("./4.js")`)?

**What is motivation or use case for adding/changing the behavior?**

If you're using webpack to prod

[2022-04-22 11:04] alexander-akait commented on #15697
No, it is impossible, we need public path, otherwise it will not work

[2022-04-22 11:26] jacobp100 commented on #15697
@alexander-akait If you follow the logic, the exact same behaviour happens - `import()` is called with `./4.js`. The only change is that in my proposal, there is no abstraction between the `import()` function and its argument, so it's fully statically analysable.

[2022-04-22 11:28] alexander-akait commented on #15697
Why you need it? There are more logic in `i.t`, look at uncompressed code, if you want to create library with statically analizable code there is another issue about it

[2022-04-22 12:06] jacobp100 commented on #15697
Webpack itself really benefits from having static import expressions - so it only makes sense that it should be able to output them as such.

With the changes I've demonstrated, it does work as expected. It doesn't really matter what's happening in `i.t.` here - that happens after the module has been imported.

[2022-04-22 12:09] alexander-akait commented on #15697
Again, we have public path and we should respect it `import("./4.js"))` will not work, not each application have relative assets, there are more different approaches to store assets.

Also there are more JS size, that is not good, can you answer why you need it?

[2022-04-22 12:15] jacobp100 commented on #15697
Yeah - if you set a public path, the `"./4.js"` would be updated in accordance with that. That's what currently happens in the `i.u` function. I'm not seeing the issue.

I'm really not sure which bit isn't clear. Non-statically analysable dynamic imports cause problems for about every build tool - including webpack. If you use webpack to build a library that makes use of a statically analysable dy

[2022-04-22 12:31] alexander-akait commented on #15697
Default public path is "auto", so we need `currentScript` and more logic than just `update string`

Not really

There is another issue about it as I written above https://github.com/webpack/webpack/issues/2933

There are two common solutions for using webpack:
- application, we need more logic for public path and it is impossible to output statically analyzable `import()` (in theory it is possible

[2022-04-23 01:41] Mithrandiirr opened #15701 "webpack cache PackFileCacheStrategy"
i get this issue when i run my app :
[code]

also when the page is loading it takes too long due to __webpack_hmr

[2022-04-23 11:36] sdeass opened #15702 "unable to access on Windows10 platform"
# Bug report

**What is the current behavior?**

able to access on Mac OS platform , unable to access on Windows10 platform when I tried to run npm run dev

**If the current behavior is a bug, please provide the steps to reproduce.**

wish can access  on Windows10

**What is the expected behavior?**

**Other relevant information:**
webpack version:
    "webpack": "^5.24.2",
    "webpack-bundle-ana

[2022-04-23 12:47] galaxy-s10 opened #15703 "devServer.static set false is Not effective"
[code]
is no effective，public still is static directory

[2022-04-23 13:17] alexander-akait commented on #15703
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-04-23 13:17] #15703 closed

[2022-04-23 13:18] alexander-akait commented on #15702
Sorry, not related to webpack, please use stackoverflow for questions

[2022-04-23 13:18] #15702 closed

[2022-04-23 13:48] galaxy-s10 commented on #15703
thank you,i knowed my encounter the problem, i created mini demo ,found is no webpack problem, is me problem

[2022-04-23 21:01] maurotello commented on #14532
I went from 17 to 16.14.2 and the error continues. I'm in a laradock

[2022-04-23 22:41] JF0001 opened #15704 "Caught Exception on Line in _iter-detect.js Module"
**Do you want to request a *feature* or report a *bug*?** Question

Upon a page refresh, the debugger stops on `Array.from(riter, function () { throw 2; });` line of the _iter-detect.js module below. What is the root cause of this?

`var ITERATOR = require('./_wks')('iterator');
var SAFE_CLOSING = false;

try {
  var riter = [7][ITERATOR]();
  riter['return'] = function () { SAFE_CLOSING = true; }

[2022-04-24 05:58] vankop commented on #15704
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-24 05:58] #15704 closed

[2022-04-24 06:04] vankop commented on #15701
Could you reduce this to reproducible repo?

[2022-04-24 13:44] JF0001 commented on #15704
My apologies @vankop You are right, I was looking in the wrong library. I will close this case.

[2022-04-24 15:02] alexander-akait commented on #15701
No problems with webpack, you apply loaders twicy, check your configuration

[2022-04-25 03:14] Badestrand opened #15707 "Webpack removing preact import used by jsx"
# Bug report

**What is the current behavior?**

Webpack strips the `preact` import from the source code which will throw an error when running the JS in the browser: `MyComponent.tsx:8 Uncaught ReferenceError: preact is not defined`.

**If the current behavior is a bug, please provide the steps to reproduce.**

See the minimal repository here: https://github.com/Badestrand/webpack-error-stripping

[2022-04-25 07:03] vankop commented on #15707
in your repro output looks like
[code]

so it looks like you have wrong babel config see
[code]

so `preact` doesn't have any usage => this import was tree-shaken.

[2022-04-25 07:03] #15707 closed

[2022-04-25 07:42] Badestrand commented on #15707
Thank you for looking into it - the .babelrc was missing in the repository but I uploaded it now.

The .babelrc:
[code]
This means the jsx will not result in `React.createElement` but in `preact.h` instead. And then obviously the preact import should not be tree-shaken.

[2022-04-25 08:00] vankop commented on #15707
hm.. looks like `@babel/preset-typescript` removes unused import ( if change exstension to `.jsx` all works fine ). See https://github.com/babel/babel/issues/9723#issuecomment-475018627

[2022-04-25 08:34] fabb opened #15708 "Problem with importing library that contains dynamic imports"
There is a problem when a library is built with webpack, and includes dynamic imports, and then is used in an app that uses webpack too.

## Reproduction

We need a lib that is built with webpack and includes a dynamic import and .d.ts types. And we need an app that is built with webpack too and that imports the lib.

See https://github.com/fabb/webpack-wrapped-dynamic-dependency-problem

### Expe

[2022-04-25 09:30] icy0307 opened #15709 "Unused classes with decorator remain after tree-shaking"
# Bug report

**What is the current behavior?**
I have a class named `Foo` in `Foo.ts`
which is decorated by a custom decorator `FooDecorator`.
[code]
In the entry file `main.ts`, I import `Foo`, wishing it could be removed under some circumstances by using `DefinePlugin`.
For minimal reproduction, let's just use 'false'.
[code]
After esm files be emmited by ts-loader and tree-shaked with webpack,

[2022-04-25 09:39] Badestrand commented on #15707
The order of my presets is env->react->typescript, shouldn't that first resolve the jsx and then pass the resolved code to typescript which now should see all the "preact.h" statements?

I played around with changing the preset order but that didn't seem to change anything.

[2022-04-25 10:02] vankop commented on #15707
hm.. I think you should ask in babel issue tracker how to configure this.. ( or maybe preact ) looks like typescript preset removes import..

[2022-04-25 10:22] vankop commented on #15708
don't use chunks in library, to remove extra chunks you can use
[code]
also there are other cjs library types https://webpack.js.org/configuration/output/#outputlibrarytype

[2022-04-25 10:22] #15708 closed

[2022-04-25 12:38] #15709 closed

[2022-04-25 13:24] fabb commented on #15708
Thanks, limiting the chunks to 1 fixes the .d.ts issue.

The issue that the application puts everything into a single chunk including code that is not needed at runtime still persists though. No wonder when there is only a single library chunk. Not sure if that is fixable with the other output library types. I guess not. Probably I need to make my lib tree-shakable and directly build it with tsc i

[2022-04-25 15:18] HillLiu commented on #15100
It could work by add `cache:false` in top level for yarn link + webpack hot update case.

And don't need others such as napshot.module.hash = true and watchOptions: { followSymlinks: true, }.

https://github.com/react-atomic/reshow/blob/main/packages/reshow-app/src/webpack.client.js#L52

[2022-04-25 20:04] otanim opened #15710 "Uncaught SyntaxError: Unexpected token '}'"
# Bug report

**What is the current behavior?**

Webpack randomly fails to bunle which causes `Uncaught SyntaxError: Unexpected token '}'` error message and broken code:

It seems like it adds the following segment twice, which causes the problem:
[code]
![image](https://user-images.githubusercontent.com/7108843/165164825-293261bc-bbd6-4065-a3fc-cc0d1a8e347f.png)

**If the current behavior is a bu

[2022-04-25 20:19] alexander-akait commented on #15710
You have invalid JS, please provide reproducible test repo, otherwise we can't help

[2022-04-26 10:20] ricardofreeman commented on #15127
Deleting ```package-lock.json``` worked for me

[2022-04-26 10:41] tb2johm opened #15716 "Replaced folder junction link isn't updated by watcher"
# Bug report

**What is the current behavior?**

First of all: I'm not a 100% sure that this really is a webpack issue. We run CRA and from what I understand it uses webpack to watch for code changes.

In our project we have a _config_ folder, this folder (in the _src_ folder) is a junction link (windows) to a folder outside the _src_ folder.

From start (`npm start`) the link works fine, and any

[2022-04-26 10:52] vankop commented on #15716
yeah, do not change symlink while running build..

[2022-04-26 10:53] #15716 closed

[2022-04-26 10:57] tb2johm commented on #15716
Ok, how comes the watch starts working when updating in the file linked at startup? And most importantly, is there anyway to trigger a full "re-watch"? Restarting the dev server takes a couple of minutes, and it would be great if that could be avoided.

[2022-04-26 12:34] flyingDandelionYD opened #15717 "62% 🐶building 668/768 modules 100 active ..."
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-04-26 12:35] ma2ciek commented on #6630
Shouldn't BannerPlugin be designed to just add banners and nothing else? Inserting code via BannerPlugin sounds like a hack for me and the whole discussion confirms that the current behavior - adding the banner before the minification - is not good for adding banners.

[2022-04-26 12:38] flyingDandelionYD opened #15718 "62% 🐶building 668/768 modules 100 active ..."
when I  run dev, It just shutdown the terminal when it goes  about 60%,and  when I  remove some packages, it just works well,
I guess the package may be larger!
But I do not konw why? May it has some other cause?
Thanks!

[2022-04-26 14:44] Jordancle commented on #8480
@the1abel I've been trying to debug this issue for a few hours now and your comment helped me resolve it. Thanks!

[2022-04-26 14:52] #15717 closed

[2022-04-26 14:52] vankop commented on #15717
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-26 14:53] vankop commented on #15718
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us by recreating the issue using one of our templates.

Please fill out all fields, we can't help you without it

[2022-04-26 14:53] #15718 closed

[2022-04-26 16:12] TheLarkInn opened #15720 "Hoist RegExp Literals in SourceMapDevToolPlugin"
# Bug report

**What is the current behavior?**
The use of RegExp literals create unnecessary object references/allocations especially in iterated hot paths like SourceMapDevToolPlugin. We should hoist these to the top of file and give them useful names so people understand what the heck they do.

**If the current behavior is a bug, please provide the steps to reproduce.**
Some Examples:

Mapping

[2022-04-26 23:49] markjm commented on #15720
This makes sense to me - I wonder if you have any perf traces or anything that could show any marked improvement from this change?

[2022-04-27 02:49] flyingDandelionYD opened #15729 "61% building 604/704 modules 100 active ..."
**What is the current behavior?**
run dev ，it just shut down the terminal ,the last log is:  61%  building 604/704 modules 100 active ...

1.when I  remove some other subpackages, it just works well.
2. Maybe , the subpackage is larger(one is 300kb+ , and the other is  900kb+)
3. Do not know why ~ ~

**Other relevant information:**
webpack version:  webpack@4.46.0
Node.js version: node - v14.3.0
O

[2022-04-27 03:25] flyingDandelionYD commented on #15729
When I run dev well, the js bundle is 3M+ .
the js bundle is out of range?

[2022-04-27 08:24] YangtzeQi commented on #15641
i can open it now and i have the same problem
`Loading script failed.
(error: http://localhost:9999/remoteEntry.js)
while loading "./payments" from webpack/container/reference/pwm`

[2022-04-27 10:22] vankop commented on #15729
please create a reproducible repo

[2022-04-27 12:40] tgelu commented on #13457
The issue with this seems to be that you lose the valuable warnings thrown from non-matching shared singletons.
For example, package X which you depend on requires v1 of dependency A but your build says requiredVersion for dependecy A is v2, then in this case you would not get that warning that versions mismatch because the required version is not determined anymore by package X but by your static

[2022-04-28 08:13] WLyKan opened #15738 "splitChunks conflicts with module fedration"
[code]

**What is the current behavior?**
module federation as remote module with config blew:
[code]
when load script `remoteEntry.js`  in shell app, error occurred
[code]

**Other relevant information:**
webpack version:
Node.js version:  v14.19.0
Operating System:
Additional tools:
[code]

[2022-04-28 22:16] TheLarkInn commented on #15720
![image](https://user-images.githubusercontent.com/3408176/165856603-e3c9d5ed-ecc0-47de-ba88-9d0480809d4f.png)

@markjm Here is an example of mem allocation hotpath if this helps. This tree is during the forEach calls referenced in the PR.

[2022-04-29 06:55] zdm opened #15741 "Imports from "node:" namespace are not supported"
# Bug report

**What is the current behavior?**
Code below produce errors:
[code]
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I am expecting, that `events` module will be imported or replaced with the polyfill.

[2022-04-29 15:08] alexander-akait commented on #15710
Maybe you can provide plugin list?

[2022-04-29 15:10] alexander-akait commented on #15741
Because you have `target: 'web'`, you need to use `externals` to support protocol based URLs and Node.js modules in browser or switch to node target if you build code for Node.js, feel free to feedback

[2022-04-29 15:10] #15741 closed

[2022-04-29 19:18] cetorres commented on #15625
I'm using this module on my app: `html-webpack-plugin` that has this dependency:
html-webpack-plugin@5.5.0
  └─┬ pretty-error@4.0.0
    └─┬ renderkid@3.0.0
      └── css-select@4.3.0

I believe `renderkid` is still using an older version of `css-select` 4.3.0 that is not compatible with Node 16. There is a newer version of [css-select](https://www.npmjs.com/package/css-select) 5.1.0 that is now up

[2022-04-29 19:19] cetorres commented on #15625
@jquintozamora how did you solve it? Thanks!

[2022-04-29 22:34] mikob commented on #5087
make sure you have resolve.symlinks set to true

[2022-04-30 08:56] otanim commented on #15710
@alexander-akait, here is the list of used plugins:
- Webpack v5.72.0: AggressiveMergingPlugin
- mini-css-extract-plugin v2.4.5

[2022-04-30 13:47] alexander-akait commented on #14996
bump

[2022-04-30 13:51] alexander-akait commented on #15710
@otanim Can you try to disable AggressiveMergingPlugin? Maybe you can create small example? Just remove most of code

[2022-04-30 14:47] otanim commented on #15710
@alexander-akait, regarding disabling AggressiveMergingPluging, please note that the issue was occurring randomly, like every 15-30 builds (and each takes ~15m), so it would've been quite hard to test.

Regarding providing an example, unfortunately, I'm not in a position to extract any source code from the subject repository. It's an NDA stuff.

[2022-05-01 09:57] jdanil opened #15742 "`experiments.css` cannot be disabled when `experiments.futureDefaults` is enabled"
# Bug report

**What is the current behavior?**

When `experiements.futureDefaults` is enabled but `experiments.css` is disabled, webpack fails with the following error.

[code]

I believe this behaviour was introduced in `5.67.0` via (#15200). Specifically...
https://github.com/webpack/webpack/blob/1489b91a98daf7e59207da7d3b29ad12750a9ecf/lib/config/normalization.js#L185

When `experiments.css` i

[2022-05-01 14:53] alexander-akait commented on #15742
Thanks for a report, feel free to send a fix

[2022-05-01 14:55] alexander-akait commented on #15710
@otanim

I don't ask to provide source code of your project, you can put any code, it is just to provide example of a problem, otherwise we can't help you and an issue will be closed

[2022-05-01 15:02] #15710 closed

[2022-05-01 16:39] itsvamshiks opened #15744 "Webpack 5 Module Federation not importing the remote package"
Hello.

I have a vanilla JS app and an Angular app. I am trying to link both these apps using module federation, both on my local environment. The following is webpack config file for vanilla js app which acts as remote

[code]

Started the webpack-dev-server, so hitting http://localhost.remote.org:8080/remote.js will give me the file. So this is the webpack of my Angular app which is consuming th

[2022-05-01 17:22] alexander-akait commented on #15744
Sorry, `TS2307 : Cannot find module error` is not webpack problem, it is from typescript, we can't fix it here

[2022-05-01 18:35] itsvamshiks commented on #15744
@alexander-akait . Yes, it’s a typescript error which is coming from not being able to import the exposed module using webpack. I wanted some help in figuring out what’s going wrong in exposing and importing the remote using module federation

[2022-05-01 19:23] alexander-akait commented on #15744
You should mark this module as external, for example like you do with external jQuery https://stackoverflow.com/questions/32050645/how-to-use-jquery-with-typescript, sorry this question is not related to webpack

[2022-05-02 02:54] martinrdz1192 opened #15751 "https://firebase.google.com/docs/web/setup?authuser=0&hl=en#register-app"
## Feature request

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2022-05-02 03:00] #15751 closed

[2022-05-02 08:14] pgarzina opened #15752 "CORS on localhost"
This is indirectly connected with Webpack as we are using Angular.

The issue is that after updating Angular 12 to Angular 13 we are no longer able to access our app served on localhost from outside of it, the request is being blocked by CORS. Basically when switching from Webpack 4 to Webpack 5.

this is what worked in Angular 12
`ng s --project app-search --disable-host-check --port 4207 --deplo

[2022-05-02 08:30] vankop commented on #15752
as I see `disableHostCheck` was removed you need to set `allowedHosts: "all"`

[2022-05-02 10:23] #15752 closed

[2022-05-02 10:24] pgarzina commented on #15752
Thanks for the prompt response.

[2022-05-02 13:26] benjamin-stern commented on #237
@Domvel as @m-pd said, full article for embedding with TypeScript: https://blog.johnnyreilly.com/2016/07/23/using-webpacks-defineplugin-with-typescript

[2022-05-02 17:20] musashiM82 opened #15755 "disable vendor chunk"
# Bug report
what is the correct configuration to disable vendor chunk creation? I'm using optimization.splitChunks.cacheGroups.default: false, but this seems not working

**What is the current behavior?**
webpack creates chunk-vendors.js

**If the current behavior is a bug, please provide the steps to reproduce.**
repo example: https://github.com/musashiM82/vue-webpack
* npm i
* npm run build
* f

[2022-05-02 17:22] #15755 closed

[2022-05-02 17:23] musashiM82 commented on #15755
used wrong configuration....
this is the correct one

optimization.splitChunks.cacheGroups.defaultVendors: false

[2022-05-02 22:30] trevorgithub opened #15757 "Webpack module federation not using webpack nonce"
# Bug report

**What is the current behavior?**
When setting a webpack nonce as per the [webpack content security policy page](https://webpack.js.org/guides/csp/), the webpack nonce is not being properly inserted in the remoteEntry.js file, so the desired CSP doesn't pass.

**If the current behavior is a bug, please provide the steps to reproduce.**
I've reproduced the problem on my github, at htt

[2022-05-02 22:57] alexander-akait commented on #15757
Sounds like enhancement

[2022-05-03 00:24] trevorgithub commented on #15757
I thought it was more of a bug, as the [Webpack CSP docs ](https://webpack.js.org/guides/csp/) say:

This is script it both loads and generates.  There's really no workaround, except having a wide open CSP.  Regardless of how it's categorized, I'm really hopeful the team can implement the fix and/or add the feature soon. Module federation is very cool.
Thank you :)

[2022-05-03 03:53] IronLu233 opened #15759 "`return"field" in Module` will be evaluated as `returntrue` or `returnfalse`"
# Bug report
Hi, Webpack team. I found a bug when I upgrade it's version in my work project.

in version 5.71.0, there is a commit eb5d12415052b58098aee261c42ffc85aa20b03b.
It can evaluate the statement like `"Component" in React` to `true` on build time.
However, the is a edge case:
[code]
that will be transformed to "returntrue". It misses a space before "true"

**What is the current behavior?**

[2022-05-03 08:45] vankop commented on #15757
but nonce could be changed and `remoteEntry` could be the same..

[2022-05-03 15:57] vankop commented on #15270
bump

[2022-05-03 17:43] alexander-akait commented on #15759
/cc @vankop maybe related to `in` feature

[2022-05-03 21:48] sachinpatil55 opened #15764 "localIndentName hash Name changed (Webpack To v5 from v4)"
# Bug report

**What is the current behavior?**

- We have upgraded webpack 4 to webpack 5 and everything works fine except localIndentName has changed in CSS bundle files

- we are using css-loader v6.6.0 for webpack 5  and configuration for the css loader is as follows

 {
                        loader: 'css-loader',
                        options: {
                            modules: {

[2022-05-03 22:08] alexander-akait commented on #15764
@webpack-bot move to webpack-contrin/css-loader

[2022-05-03 22:08] #15764 closed

[2022-05-03 22:09] JoSuzuki opened #15765 "Different result from evaluation of `in` operator in build time vs runtime"
# Bug report

**What is the current behavior?**

Starting from version `5.71.0`, when evaluating the operation `const hasPortalSupport = 'createPortal' in ReactDOM`. It generates a bundle with `const hasPortalSupport = false`. Probably connected with PR https://github.com/webpack/webpack/pull/15455.

I've created a [stackblitz repo](https://stackblitz.com/edit/github-rggjgq-guymeq?file=src/index.j

[2022-05-04 02:32] andersk opened #15767 "Top-level await leads to complexity explosion with cyclic imports"
# Bug report

**What is the current behavior?**

In a project with cyclic imports, top-level `await` leads to a massive complexity explosion. On a complete graph of *n* nodes, the time and memory grows as *Θ*(*n*!), which gets very bad quickly.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create the following file as `0.js`:

[code]

2. Create the following fil

[2022-05-04 05:01] #9206 closed

[2022-05-04 08:33] vankop commented on #15765
@JoSuzuki `in` operator could be evaluated only with import specifiers. So in your case we can't evaluate. you can change your code to
[code]
to make build time evaluation work

[2022-05-04 08:33] #15765 closed

[2022-05-04 09:02] vankop commented on #15767
for me all works as expected
<img width="995" alt="Screenshot 2022-05-04 at 12 00 50" src="https://user-images.githubusercontent.com/10380560/166651835-f3037134-2ec7-4ad1-8929-9458aed4d32a.png">

please create a reproducible repo

[2022-05-04 09:45] nicolaelitvac commented on #8677
@yoannmoinet Any luck solving this?

[2022-05-04 09:54] andersk commented on #15767
@vankop Your screenshot shows that you’ve copied the 29-byte file ten times. The recipe I gave above has one 29-byte file, and ten copies of the 170-byte file. Like this:

https://gist.github.com/andersk/0af1a0654516fb53ba7b8e757be4db85

[2022-05-04 14:57] JoSuzuki commented on #15765
@vankop I see, I will update the code accordingly, pardon my ignorance, I have a hard time understanding the way modules are exported/imported, but just to see if I understood more or less of what is happening:

with `import ReactDOM from 'react-dom'` in build time, webpack tries to import the `default export` from `react-dom` which doesn't exist, therefore it is evaluated as `false`, but it exist

[2022-05-04 15:51] vankop commented on #15765
ok.. I see what you mean this was fixed in master https://github.com/webpack/webpack/pull/15660 not published yet

[2022-05-04 16:55] jchip opened #15769 "ModuleFederationPlugin not passing shareScope to ContainerPlugin"
# Bug report

**What is the current behavior?**

When using ModuleFederationPlugin, there is an option `shareScope`, but when ModuleFederationPlugin initializes ContainerPlugin (https://github.com/webpack/webpack/blob/3ad4fcac25a976277f2d9cceb37bc81602e96b13/lib/container/ModuleFederationPlugin.js#L68) it doesn't pass the `shareScope` option, this cause it to use the default scope.

**If the curre

[2022-05-04 16:58] alexander-akait commented on #15769
Fix https://github.com/webpack/webpack/pull/13819

[2022-05-04 18:35] alexander-akait commented on #14818
bump

[2022-05-04 20:49] andersk commented on #15767
In fact, cyclic imports are not necessary to reproduce this. Here an example with 24 modules taking 12 seconds and 1.9 gigabytes, with 2<sup>23</sup> − 1 = 8388607 calls to `whenAll`.

https://gist.github.com/andersk/034cf3103f15f16f7088aae525f15496

[code]

[2022-05-04 21:28] MichaelrMentele opened #15770 "Webpack Profiling Plugin Errors on Load into Chrome Performance Tab"
# Bug report

**What is the current behavior?**
Follow instructions here, get https://webpack.js.org/plugins/profiling-plugin/ and get:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
-- trying to figure out how to shave this down

**What is the expected behavior?**
It should load the events.json into the performance timeline in chrome and let me inspect the fl

[2022-05-05 05:49] WLyKan commented on #15738
thx for reply, i will tr

[2022-05-05 05:49] #15738 closed

[2022-05-05 07:05] vankop commented on #15770
do you using `webpack@5` ?

[2022-05-05 12:07] a474516631 commented on #10400
When gitlab CI has parallel build requirements, although the cache obtained is correct, the build path will be different, because CI builds will add job-Id by default. To solve this problem, it should also be necessary to fix the parallel task packaging path.
There is a configuration in gitlab ci to set this path.
`variables: GIT_CLONE_PATH`

[2022-05-05 12:16] alexander-akait commented on #14386
bump