[2016-09-16 21:18] claudijo commented on #1210
@GrumpyPants Here is the main part of my webpack.config. I hope you can sort it out. (I have split the config into two parts, as described by Juho Vepsäläinen in http://survivejs.com/webpack/introduction/. It's a good read and can probably better explain the details than I could. However, note that his online book does not cover the i18n plugin setup I have hacked up in my config)

[code]

[2016-09-16 21:33] tomascharad commented on #2828
+1

[2016-09-16 22:15] nodesocket opened #3004 "Using output.library breaking in IE 10"
Using:

[code]

Works in Chrome, FireFox, and Safari latest. However in IE 10 console when trying to reference MyLib:

[code]

Also, in the JavaScript console of IE 10 seeing:

[code]

[2016-09-16 23:26] tomascharad commented on #2828
I think that in my case webpack-stream was causing the problem.

[2016-09-17 04:55] steinbachr opened #3005 "require.ensure with ternary operator not splitting code"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
OSX 10.11.1

**Current behavior:**
When using `require.ensure` with a ternary operator, webpack complains that "require function is used in a way in which dependencies cannot be statically extracted" and fails to properly code split.

**Expected/desired behavior:**
webpack properly splits the r

[2016-09-17 06:09] f0rr0 commented on #706
@skaapgif Thanks for the heads up! This was clarified at https://github.com/webpack/webpack/issues/2945

[2016-09-17 12:23] TheLarkInn commented on #2999
Interesting. Fwiw I have never seen this user case before.

[2016-09-17 14:01] sokra commented on #3005
You can rewrite it to `if-else`. `require.ensure` doesn't support dynamic expressions in it's argument. We won't change this, because `require.ensure` eventually become deprecated in favor of ES6 Modules.

[2016-09-17 14:01] #3005 closed

[2016-09-18 01:30] fengyun2 opened #3006 "webpack@1.13.2 compiler generate warnings react@15.3.1"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
Windows 10

**Current behavior:**

[code]

**Expected/desired behavior:**

Without any warning

* **Language:** [ ES6/7]

[2016-09-18 07:43] sokra commented on #3006
see #2694

[2016-09-18 07:43] #3006 closed

[2016-09-18 07:56] sokra commented on #3001
Yep, I'm also a bit annoyed by this. We will do many optimizations after webpack 2. We want to get to a stable working version before optimizing. The cost is small: `r.i(b.a)()` compared to `b.a()`.

[2016-09-18 07:58] sokra commented on #3000
Please ask on StackOverflow.

[2016-09-18 07:58] #3000 closed

[2016-09-18 08:00] yangshun commented on #959
I removed `webpack.optimize.OccurrenceOrderPlugin` and it became fine again.

[2016-09-18 08:05] sokra commented on #2999
@IAMtheIAM looks like it's not transpiled by typescript after AOT transpilation.

The repo is pretty big and uses a ton of plugins. Could you create a simple example which transpiles a single file without plugins etc.

[2016-09-18 08:07] sokra commented on #2992
This doesn't work... only dynamic path values are supported. It must be statically buildable.

[2016-09-18 08:07] #2992 closed

[2016-09-18 08:08] sokra commented on #2987
You need to require the unbundled version of your library.

[2016-09-18 08:12] sokra commented on #2986
@iDams you can add a test case in `test/configCases` for this. Just check if an error is emitted by webpack for resolving (this is possible with a `errors.js` in the test directory, see other test cases).

[2016-09-18 08:14] sokra commented on #2986
In the example the generation of the README fails, because the build fails. Looks fine. You can also run the examples with `node ../../bin/webpack.js example.js js/output.js` or `node ../../bin/webpack.js` depending on the example (check if entry and output is in webpack.config.js).

[2016-09-18 08:15] sokra commented on #2986
no, it should work. Compare your result to the travis build: https://travis-ci.org/webpack/webpack

Check if you done the setup correctly: https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md#setup
The npm link stuff is important.

[2016-09-18 09:13] gaearon opened #3008 "Errors appear duplicated in browser console"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
OSX

**Current behavior:**

Errors in the browser console appear duplicated, regardless of the loader:

<img width="584" alt="screen shot 2016-09-18 at 12 04 43" src="https://cloud.githubusercontent.com/assets/810438/18614527/ad7c0eb0-7d98-11e6-991e-bc63c04ff8d3.png">

<img width="543" alt="scr

[2016-09-18 14:50] gilamran commented on #2297
Same here, running latest Ubuntu support on windows 10. no watch... no error

[2016-09-18 17:46] mr-nicky commented on #675
I have the same issue. (mac os - el capitan 10.11.6).
Solved by removing brackets "`[]`" from the path.
For example:
`/Users/username/test` works fine.
`/Users/username/test [0]` doesn't work.

[2016-09-18 19:54] whitecolor commented on #2558
@sokra It seem it dosen't work in webpack 2? Could you elaborate how to accomplish it in Webpack 2?

[2016-09-18 21:46] pvieira91 commented on #2987
Thanks @sokra
That seems the most reasonable think to do. I tried that approach and in fact it was the best option for us. However, it's important to mention that it comes with trade-offs. For example, as we use typescript and babel, we must enforce the same configuration for the main project and library. This might sound ok but when you have libraries 5 years older than the main app it becomes cu

[2016-09-18 22:52] sokra commented on #2987
I know... I have currently no good solution for this. But I know the problem and hope to find a solution in long-term.

[2016-09-18 22:52] #2987 closed

[2016-09-18 22:54] sokra commented on #2558
`NormalModuleReplacementPlugin`

[2016-09-18 22:55] #2990 closed

[2016-09-19 00:21] nodesocket commented on #3004
Hi @sokra, so is this a known problem?

[2016-09-19 03:04] whitecolor commented on #1949
@bardt what collision do you expect based on hash value? The reason I would like to have meaningful names for chunks (not just numbers) is more easier debug/inspection of build result while dev and event production.

@sokra
Just asked this question on SO http://stackoverflow.com/questions/39564726/webpack2-meaningful-names-of-chunks

[2016-09-19 06:30] sokra commented on #3004
Nit known to me. But interessting

[2016-09-19 08:37] baonguyenyam opened #3010 "Can't load SASS and CSS"
Hi all!
I can not using "ExtractTextPlugin" for css and sass

I set
`webpack.config.js`

[code]

and
`app.component.ts`

[code]

and i run it still error
Uncaught Error: Expected 'styles' to be an array of strings. zone.js:129

Help me, thank so much

[2016-09-19 08:50] amarant commented on #2694
So, I had the same issue and it only happens after a Cmder update in the bash of git-cmd (from Cmder) but not in the windows cmd (from Cmder too).
The root cause is probably because git-cmd bash use the posix subsystem of windows that is case sensitive, when the rest of windows isn't.

[2016-09-19 08:55] adampietrasiak commented on #690
@gaearon seems its not working anymore. JS is throwing 500 errors per sec.

[2016-09-19 11:54] Ciantic opened #3011 "UglifyJs needs an upgrade"
I'm having issues with UglifyJsPlugin in webpack 2.1.0-beta.22, it works without mangling but not with it turned on. However with command line uglifyJs the mangling works, it's newer version.

Could someone upgrade the uglifyjs dependency?

Thanks.

[2016-09-19 12:16] hyzhak commented on #2936
@bebraw I have same problem - files that located in upper directories are not processing correct by `babel-loader` in `webpack`.

[2016-09-19 12:19] bebraw commented on #2936
@hyzhak It's really hard to say anything concrete without seeing the project source. You could try posting the question to Stack Overflow. If it looks like there's a bug (unexpected behavior), feel free to open a separate issue for that.

[2016-09-19 12:24] hyzhak commented on #2936
@bebraw yes, I'm on my way. Give me a half an hour

[2016-09-19 13:15] fbmfbm opened #3012 "Error: Cannot resolve module 'fs' with electron and js"
Hi all,

I'm looking a way to working with electron (as node module ) and **webpack**, but we have some bug with fs module error with it.
But i think it's a common pbm for webpack with use of node and js.

We  have some errore with fs not found : Error: Cannot resolve module 'fs'
and i know we can use the node option in webpack.config with fs as 'empty' but in this wa

**Context :**

You can repro

[2016-09-19 13:48] iDams commented on #2986
@jhnns @sokra Thanks, I will try to add a test in `configCases` + look why I have errors on master

[2016-09-19 14:33] hyzhak commented on #2936
@bebraw ok, it takes more time that I thought but here is the example https://github.com/hyzhak/webpack-babel-folder-issue. I can't put my config + tests files outside of `tests-client` folder, what is the strong requirements of my current project. Take a look on log: https://travis-ci.org/hyzhak/webpack-babel-folder-issue/builds/161048555#L409 as you can see file outside of `tests-client` wan't p

[2016-09-19 14:42] bebraw commented on #2936
@hyzhak Can you add webpack configuration so I can see how it all goes together? If you can make it so that I can run it, even better.

[2016-09-19 14:56] sokra commented on #3011
Please send a PR

[2016-09-19 15:05] hyzhak commented on #2936
@bebraw as you can see I have ever added Travis CI so you be able to see logs https://travis-ci.org/hyzhak/webpack-babel-folder-issue

[2016-09-19 15:08] bebraw commented on #2936
@hyzhak I can't see anything obviously wrong there. Please open a separate issue and link to your test case there.

[2016-09-19 15:47] fbmfbm commented on #3012
Sokra : That's the way !!!

Thank's a lot.
I'have looking for hours on web and doc but don't fins anything about that option.

[2016-09-19 15:57] hyzhak opened #3014 "Webpack with babel-loader don't process js files from sibling directories"
**I'm submitting a bug report**

**Webpack version:**
1.13.2 and  2.1.0-beta.22

**Please tell us about your environment:**
OSX 10.x / Linux

**Current behavior:**
doesn't process js files from sibling/parent directories

**Expected/desired behavior:**
process

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a gis

[2016-09-19 15:58] hyzhak commented on #2936
@bebraw thanks, https://github.com/webpack/webpack/issues/3014 opened

[2016-09-19 17:37] SpaceK33z opened #3015 "`--progress` no longer works for WDS because of a change in webpack"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.22

**Current behavior:**

`webpack-dev-server --progress` or `webpack-dev-server --progress --profile` does not show a progress bar.

Also see https://github.com/webpack/webpack-dev-server/issues/609.

**Expected/desired behavior:**

It should show a progress bar using the parameters above.

Previously, WDS parsed their own paramete

[2016-09-19 18:11] viskin commented on #2138
This worked for me:

[code]

This will generate worker_name.worker.js in output folder. No hash needed.

[2016-09-19 18:13] SpaceK33z commented on #3011
See PR #3016.

[2016-09-19 18:28] andreypopp opened #3017 "Remove support for AMD by default in Webpack 2"
**I'm submitting a feature request**

**Webpack version:**
2.x

**Current behavior:**
Webpack produces code which throws an error when it encounters `define` identifier in source code.

**Expected/desired behavior:**
Webpack doesn't treat `define` identifier in any custom way and make no assumptions about it unless it is configured with `AMDModulePlugin` (or something like that).

**What is the mo

[2016-09-19 19:06] gpresland commented on #2013
Upgraded to webpack 1.13.2 and issue is resolved.

[2016-09-19 19:06] #2013 closed

[2016-09-19 20:50] sokra commented on #3017
I think it's too early to remove AMD. Easy migration from requirejs codebase to webpack is (in my opinion) one mayor reason for people switching.

But I would love to hear more opinions on this topic...

[2016-09-19 20:51] Jorenm commented on #2994
I can confirm this. I was having issues getting my project to watch, and moved it into C:\node\myproject from C:\Program Files (x86)\Ampps\www\myproject and it started watching fine with identical configuration.

[2016-09-19 21:10] thenikso commented on #2145
Also here on OSX and same Chrome as above, breakpoints are not breaking with `eval-cheap-module-source-map`. All works with `source-map` but of course with a much slower compilation.

[2016-09-19 21:55] andreypopp commented on #3017
My intuition speaks against it but it would be interesting to see the numbers of AMD usage.

Anyway, we can provide a separate section in docs on how to migrate to AMD (just add a plugin, right?)—AMD is a legacy and supporting it by default don't make much sense, I think.

[2016-09-19 22:54] Jorenm commented on #2994
Turns out the core of this issue is caused by chokidar. It includes an old version if is-glob. There's a newer version which resolves the issue.

[2016-09-20 00:01] princemaple opened #3018 "beta23 doesn't start if config object includes loader configs because of schema"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.23

**Please tell us about your environment:**
Windows 10

**Current behavior:**

[code]

**Expected/desired behavior:**
Schema should handle loader configurations, maybe?

[2016-09-20 00:20] princemaple commented on #3018
Well, can be worked around by moving the options into the loader object... Not sure if this should be closed, leaving it to maintainers.

[2016-09-20 02:47] TheLarkInn commented on #3018
@princemaple Yes, we just dropped this today, and I've been working furiously on a blogpost, and guide.

Easiest migration steps for custom loader properties in config.

[code]

[2016-09-20 02:48] TheLarkInn commented on #3018
That is also a solution as well.

[2016-09-20 02:49] TheLarkInn commented on #3018
See https://github.com/webpack/webpack/pull/2974#issuecomment-245857168

[2016-09-20 02:51] princemaple commented on #3018
Thanks! I think this is a good move!

On Tue, 20 Sep 2016, 12:47 Sean Larkin <notifications@github.com> wrote:

[2016-09-20 03:17] le0nik commented on #3018
Is there an option to disable validation?

[2016-09-20 03:39] geekingin commented on #1817
This is a very helpful feature! It will help us build a web app with loading page with webpack handling all the assets, no need for loadImg/loadCSS/loadScript any more!

[2016-09-20 05:22] MoOx commented on #3018
That's a shame you introduced this breaking change with no easy way to handle it.
Having to use a plugin offers a really poor DX as it require more boilerplate. Webpack beginner (and even people confortable with) will be really frustrated with this.
The real problem is that ``query`` does not accept anything than json. And since we are in a js file, it's really awkard and frustrating. That's why a

[2016-09-20 05:26] Kovensky commented on #3018
There is an `options` object that takes a raw JS object (though it is possible that further validation forbids non-serializable code), but it seems no loaders besides `css-loader` correctly support it (https://github.com/webpack/webpack/commit/a53799c0ac58983860a27648cdc8519b6a562b89#commitcomment-19089585).

[2016-09-20 06:17] Delagen opened #3019 "Options validation"
**I'm submitting a bug report**

**Webpack version:** 2.1.x

**Please tell us about your environment:**
Windows 10

**Current behavior:**
cannot specify options
[code]

**Expected/desired behavior:**
Does not pass schema validation.

but
[code]
passed

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a gist/jsbin o

[2016-09-20 06:47] donaldpipowitch opened #3020 "configuration.output.devtoolModuleFilenameTemplate schema not working for strings."
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.23

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**

[code]

[code]

**Expected/desired behavior:**

No error.

I really don't know why this error appears. The error message and schema say that a string is valid and allowed. If I change `devtoolModuleFilenameTemplate`from ` './[resource-path]'` to `() =>  '

[2016-09-20 06:53] sokra commented on #3020
@gajus

[2016-09-20 06:54] sokra commented on #3019
@gajus

[2016-09-20 07:32] StrongerSY commented on #1716
I also encounter this problem ! The chunk files' paths are all relative to my website root url ~ But I can't set the path of chunkfile

[2016-09-20 08:01] sokra commented on #3018
@MoOx I hear you are a bit upset about this breaking change. Let me explain it.

The real problem was that loader query doesn't accept any object but only JSON. But some loaders needed plugins. This resulted in a workaround for loader. They took options from webpack configuration. I didn't really like it, because this means there are two ways of passing options to a loader. But as there was no oth

[2016-09-20 08:03] #3011 closed

[2016-09-20 08:06] bang88 commented on #2506
Are the bug is fixed ?

[2016-09-20 08:11] whitecolor opened #3021 "inside the loader: get the chunk(s) file belongs too."
**Webpack version:**
2.x

This is a question on webpack internals that I don not expect to get the answer on SO, so I write it here.

I'm making a loader that has a following need: to get to which chunk(s) do this module belong to?

Simple case:

1) A System.import(B) (dynamic import, so B will be in separate chunk)
2) B import C (normal import)
3) C import D (normal import)

Say `D` is loading us

[2016-09-20 08:31] MoOx commented on #3018
I understand why it was how it was.

Ok this makes me un-upset. I am not used to see release notes for webpack releases so I missed that.

Totally agree.

Thanks for you explanations.

[2016-09-20 09:22] phaistonian opened #3022 "On b23's configuration validation"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.23

**Please tell us about your environment:**
OSX

**Current behavior:**

[code]

**Expected/desired behavior:**
Should work since I am actually passing an array of strings as entry point(s)

[2016-09-20 09:48] sokra commented on #3022
could you include your entry configuration?

[2016-09-20 09:50] phaistonian commented on #3022
@sokra

[code]

[2016-09-20 10:06] gajus commented on #3019
[code]

[2016-09-20 10:08] gajus commented on #3019
[code]

All of these options are valid:

[code]

Please provide a dump of the checked validations. These are contained in the error object's `validationErrors` property.

[2016-09-20 10:11] gajus commented on #3019
See the issue. Working on it.

[2016-09-20 10:32] sokra commented on #3022
doesn't look that wrong...

[2016-09-20 10:33] sokra commented on #3022
@gajus

[2016-09-20 10:34] Delagen commented on #3020
#3019

[2016-09-20 10:38] gajus commented on #3020
This has been fixed in https://github.com/webpack/webpack/pull/3024

[2016-09-20 10:40] gajus commented on #3022
Fixed in https://github.com/webpack/webpack/pull/3024

[2016-09-20 10:41] tuures commented on #3014
the `.babelrc` is in `tests-client` so babel is doing it's transformations only there?, see last paragraph https://babeljs.io/docs/usage/babelrc/, try moving it to project root

[2016-09-20 10:41] phaistonian commented on #3022
@gajus Great work, you all.

Hopefully the new release won't take long to ship.

Thank you.

[2016-09-20 13:10] QWp6t opened #3026 "configuration.module has an unknown property 'preLoaders'"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.23

**Please tell us about your environment:**
Windows 10

**Current behavior:**
When attempting to run webpack, I get told that `preLoaders` is an invalid property on `configuration.module`.

[code]

**Expected/desired behavior:**
It does not appear to be documented anywhere that `preLoaders` have been removed or have been modified

[2016-09-20 13:17] wellyshen opened #3027 "Error: Refused to execute script from 'xxxx/app.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled."
Hi guys, I update the webpack to beta.23, when I run it in development every thing fine, but once I run it in production, the error occurs:

I don't know why, anyone has idea for this?

Here's my webpack config :
[code]

[2016-09-20 13:34] TheLarkInn commented on #3026
This is documented in our release notes: https://github.com/webpack/webpack/releases

You can also refer to the example PR listed under 'Migration Examples' for more assistance.

[2016-09-20 13:49] QWp6t commented on #3026
Oh, I'm stupid. I should have known to look there. Thanks for the quick reply. I appreciate it.

[2016-09-20 13:49] #3026 closed

[2016-09-20 13:50] oojacoboo commented on #689
Same issue as @pheuter on 1.8.1.  Did you get a solution to that @pheuter?

[2016-09-20 13:53] TheLarkInn commented on #3026
No problem.

[2016-09-20 13:54] bebraw commented on #689
@oojacoboo If you feel this is a bug, could you open a separate issue? The issue template guides with that.

[2016-09-20 14:14] oojacoboo opened #3028 "ERROR in unknown runtime environment"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
OSX 10.12

While running webpack-dev-server, I get the following error...

'ERROR in unknown runtime environment'

This is happening on the CLI
- **Language:**
  ES6

[2016-09-20 14:22] oojacoboo opened #3029 "Cannot resolve module 'fs'"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
OSX 10.12

Having the exact same issue as #689 and was requested to open a new issue.

* **Language:**
ES6

[2016-09-20 14:49] Akkuma commented on #3018
@sokra I understand what you're trying to do, but preventing people from **running** webpack at all because of their existence is silly. Looking at the original PR it looks like people were in agreement that this should be a warning at best until there is proper time for people to update their configs. In my own opinion, forcing people to correct schema changes when the webpack build successfully

[2016-09-20 15:03] TheLarkInn commented on #3018
@Akkuma we decided in the end that it was a justifiable tradeoff. I will publish a short migration guide if this will assist you also.

[2016-09-20 15:08] troutowicz commented on #1949
Another benefit to chunk naming is the ability to save a trip when requesting initial assets for a SPA.

https://github.com/webpack/docs/wiki/optimization#single-page-app

[2016-09-20 15:11] sokra commented on #3018
@Akkuma you need to see this change in the context of webpack 1 to webpack 2 migration. Here a proper validation is more valuable as you need the modify the configuration anyway. It doesn't prevent you from running webpack, it just requires a 4 line change. The validation tells you what's wrong.

For the webpack 2 release you'll have a complete upgrade guide where this is all explained in detail.

[2016-09-20 15:16] bebraw commented on #3028
Can you set up a standalone project illustrating this? There's not enough information to debug.

[2016-09-20 15:17] bebraw commented on #3029
Can you set up a standalone project so it's possible to debug this? Thanks.

[2016-09-20 15:20] sokra commented on #3015
The ProgressPlugin need to be applied on the MultiCompiler and not on the nested Compilers, when using multiple configurations.

This change moves it from Compiler to MultiCompiler.

We need to move the `--progress` definition from `bin/config-yargs.js` to `bin/webpack.js`.
And add `--progress` to the devserver.

That way it's at least consistent with `--json` and co, which are also webpack owned

[2016-09-20 15:27] sokra commented on #3027
Does the file exists at this location? If yes, it's a server configuration issue. If no, where is the file?

[2016-09-20 15:32] wellyshen commented on #3027
Yes the file exist at the location, and the error won't happened on webpack2-beta.21

[2016-09-20 15:37] sokra commented on #3027
the server respond with the wrong mimetype...

[2016-09-20 15:37] #3019 closed

[2016-09-20 15:39] wellyshen commented on #3027
@sokra,

Have you tried my repo? I can run it without the error occurs on beta.21, but on beta.23 the error will occur

[2016-09-20 15:42] SpaceK33z commented on #3015
So if I understand it correctly, you're saying:

1. Move the yargs arguments with `group: DISPLAY_GROUP` to a separate file
2. In that file, also add the parsing logic for the display options, but without the JSON part. Essentially [these lines of code](https://github.com/webpack/webpack/blob/master/bin/webpack.js#L193-L238).
3. Update WDS so it also parses those display options

[2016-09-20 15:52] wellyshen commented on #3027
Hello @sokra,

I fixing it by remove the 'eslint-loader' from my config, close this issue.

[2016-09-20 15:52] #3027 closed

[2016-09-20 16:23] Akkuma commented on #3018
My webpack broke from inconsequential properties existing on it. Literally, removing them didn't impact my build before or after the update to beta23, so I don't see how breaking something that had no impact on my build is a positive or justifiable tradeoff. I would have greatly appreciated being told I had useless properties sitting in my config as warnings. I did not appreciate it when it killed

[2016-09-20 16:28] whitecolor opened #3030 "Add -r (require) option to webpack cli"
Why not add `-r (require)` option that would take the list of modules that will be required before requiring config file? (actually this would be passed to `node -r`). That would allow to use config in different formats more easily.

[code]

[code]

The same thing would be useful for webpack-dev-server.

[2016-09-20 16:46] TheLarkInn commented on #3030
Would be a useful feature. I think a PR for this would be happily accepted.

[2016-09-20 17:47] #3020 closed

[2016-09-20 17:51] kevinSuttle commented on #3018
I'm seeing this same thing with Webpack 2.1.0-beta.22. Breaks postcss.

[code]

[2016-09-20 18:04] TheLarkInn commented on #3018
@kevinSuttle please refer to https://github.com/webpack/webpack/issues/3018#issuecomment-248187254

[2016-09-20 18:39] ali commented on #2644
@sokra @TheLarkInn Sounds like DedupePlugin creates/resolves harmony commonjs imports, but won't work when webpack 2 is resolving harmony (es6) imports. Is my understanding correct?

Ran into this issue today. Dedupe plugin failed on a chunk created with `System.import`. As a result, the entry chunk failed to build and webpack exited silently.

[2016-09-20 18:53] PVAngular opened #3031 "Issue with React components in WebPack"
Hello,

 I am using webpack to transpile my JSX React components and I am able to get the generated output file with ES5 code. Now, I want to expose these React Components to Angular templates  because my existing code is built in Angular.

Because of the way WebPack creates local function scope for these React components - I am never able to find react components from within angular. I used expos

[2016-09-20 18:54] mAAdhaTTah opened #3032 "Schema regards `debug` as invalid"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.22

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
`debug` as a key in the config is regarded as invalid by the new schema validation.

**Expected/desired behavior:**
Either this is deprecated configuration or should be regarded as valid by the schema.

[2016-09-20 18:57] sokra commented on #3032
https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#debug

[2016-09-20 18:57] #3032 closed

[2016-09-20 18:59] hyzhak commented on #3014
@tuures I can't do this in that project. I can only hold front-end files inside of `/test-client` directory.

[2016-09-20 19:27] hyzhak commented on #3014
@tuures btw thanks for solution. Here is (https://github.com/hyzhak/webpack-babel-folder-issue/tree/feature/babelrc-for-sources) a branch with `.babelrc` inside of `/src` directory with additional `es2015` installed for `/src` directory and it works like charm tests are passed in TravisCI (https://travis-ci.org/hyzhak/webpack-babel-folder-issue/builds/161427867).  So maybe @bebraw you can close th

[2016-09-20 19:41] tuures commented on #3014
@hyzhak You're welcome. If you can't place `.babelrc` to project root, an alternative is to give babel config through the loader, something like this:
[code]
Remember, the default config for babel is to do nothing. Happy coding!

[2016-09-20 20:18] shshaw commented on #2258
Tried to isolate the issue, and ran a simple test using only watchpack 1.1.0 on a folder with parenthesis. File change detection worked without a hitch.

[2016-09-20 20:21] mofodojodino commented on #3018
I'd just like to point out to everyone that this is a beta version of the software and as a beta version it is still in heavy development, as such breaking changes should be expected. If this is going to cause problems for you in your development life cycle then you really should be using the previous stable version or if you absolutely have to have the latest then lock down your version to a prev

[2016-09-20 20:47] MoOx commented on #3018
@TheLarkInn the solution based on LoaderOptionsPlugin is breaking stuff for css-loader (eg: [path] is missing in localIdentName and [hash] is a global one, so some CSS supposed to be "modules" become global with the same name, so 💥). Unusable in my case.

[2016-09-20 20:53] hustcer commented on #3018
How about:
[code]

[2016-09-20 20:58] kevinSuttle commented on #215
I don't use the extract-text plugin and I put the CSS at the top of my main JS entrypoint. Still out of order.

[2016-09-20 20:59] SpaceK33z commented on #3031
Hi, this question would be better suited for Stack Overflow. You'll get better help over there.

[2016-09-20 21:00] sokra commented on #3018
@MoOx the css-loader does not even use options in configuration. So it should not be affected of these change. You should not even need to change the configuration for the css-loader. Could you add your configuration?

@hustcer https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#resolveroot-resolvefallback-resolvemodulesdirectories

[2016-09-20 21:01] sokra commented on #3018
@mofodojodino Thanks :heart:

[2016-09-20 21:05] MoOx commented on #3018
@sokra I know, that why I don't understand what is happening. In my case, as soon as I enable LoaderOptionsPlugin with nothing in it, css-loader is affected... Well ok I found my issue. It's because of the context, not sure why LoaderOptionsPlugin. Thanks for the link it will help me to stop yelling here :D

[2016-09-20 21:12] hustcer commented on #3018
@sokra  Thanks.

[2016-09-20 21:30] MoOx commented on #2684
@jhnns I just faced this issue and need to add `content: __dirname`...

[2016-09-20 21:48] sokra commented on #3018
@MoOx It looks like the css-loader relies on the `context` option of the configuration. When using the LoaderOptionPlugin you are overriding the options passed to the loader. This means you need something like this when not passing `context` directly to the loader:

[code]

or

[code]

[2016-09-20 22:24] nodesocket commented on #3004
Ok, I figured it out. If I attempt to use `MyLib` in the library itself this causes the error in IE. For some reason Firefox and Chrome don't break.

Example:

[code]

[2016-09-20 22:26] #3031 closed

[2016-09-20 22:28] sokra commented on #3029
Trying to use the filesystem in the browser is a hint that one of your dependency is not suited for in browser usage. You may file a issue on this dependency.

[2016-09-20 22:28] #3029 closed

[2016-09-20 22:50] AlexandruCiobanu commented on #3018
Thank you guys for messing up my build. Big thanks for making me waste hours trying to fix this without documentation of any sort on these changes.

[2016-09-20 22:57] princemaple commented on #3018
Hm, I think some comments are going too far. It's in beta for a reason, and using beta software means you are OK with the risks come with it.

[2016-09-20 23:09] oojacoboo commented on #3029
Assumption that it was trying to be used in the browser was incorrect.  I did need to register the externals for `winston` and `fs` within the webpack config.  Thanks.

[2016-09-20 23:28] jquense commented on #3018
lots folks angry that beta software isn't 100% stable...like what do folks expect. easy to get cut living on the edge

validation is awesome and I'm glad your making it strict. this directly addresses one of the most frustrating issues with using webpack.  thanks for all the excellent work!

[2016-09-21 01:13] TheLarkInn commented on #3018
@AlexandruCiobanu sorry for the time wasted. For what it's worth we published these in our release notes github.com/webpack/webpack/releases

If you have a constructive idea or suggestion for ways we can communicate this better, we are happy to take that into consideration.

[2016-09-21 02:56] Andorbal commented on #981
In my case, the problem was:
`entry: path.resolve(__dirname, '/src/index.js'),`
instead of:
`entry: path.resolve(__dirname, 'src/index.js'),`

Notice the slash in front of src in the original version.

[2016-09-21 03:56] baizn opened #3035 "DllReferencePlugin [HMR] Nothing hot updated."
when I use DllReferencePlugin , HotModuleReplacementPlugin and react-hmre doesn't work, but use CommonsChunkPlugin, that is wroking fine. why ?   what should I do that use DllReferencePlugin  and HotModuleReplacementPlugin  & react-hmre is working fine.
![Uploading image.png…]()

[2016-09-21 04:05] keyiis opened #3036 "problem about webpack with sequelize"
Has somebody try use webpack with sequelize and sqlite3(nodejs orm framework),i tried for a long time without success :disappointed:
below is my question link
https://github.com/sequelize/sequelize/issues/6142

[2016-09-21 04:38] #3014 closed

[2016-09-21 05:06] baizn commented on #3035
ok, detail information is here.
First:
![image](https://cloud.githubusercontent.com/assets/9443867/18698324/c3dc53c6-7ffb-11e6-93ae-a5be3bbedf7f.png)

second:
![image](https://cloud.githubusercontent.com/assets/9443867/18698340/e1fc840c-7ffb-11e6-9d1a-d2bea12604bd.png)

now, when I change some files, HotModuleReplacementPlugin and react-hmre is not working, Look
![image](https://cloud.githubuserco

[2016-09-21 06:23] gabeweaver commented on #3018
Here's [a link to those release](https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.23) notes in the event anyone still hasn't read them . Also here's a link to some early documentation on [migrating from 1.x.x.](https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#resolveroot-resolvefallback-resolvemodulesdirectories ). I also found this [what's

[2016-09-21 06:29] AlexandruCiobanu commented on #3018
I have no problem understanding the risks involved with beta software. However, mind you we are talking about beta 24 which seems something really close to a release version. On such a change, as good as it may be (and it is good to have strict enforcement), it would be preferred to either accompany it with a description of what changed and what to do to make it right again (and there was no readm

[2016-09-21 07:05] sokra commented on #3036
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons.

Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug re

[2016-09-21 07:05] #3036 closed

[2016-09-21 07:09] sokra commented on #3035
Did you include both entry points (app.js and dev.js) in the HTML? (There must only be a single entry point per page).

[2016-09-21 07:53] sokra commented on #3004
ok nice... looks like a browser bug

[2016-09-21 07:53] #3004 closed

[2016-09-21 09:09] jeroentradecast commented on #1849
Running into this problem now. I have multiple configs for different setups, and I'd like webpack-dev-server to target a specific one, or even all if I'd like (passing on different ports per config).

[2016-09-21 09:13] Martin-Wegner opened #3038 "LoaderOptionsPlugin makes my config unusable"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.24

**Please tell us about your environment:**
Linux

**Current behavior:**
This config runs without any problem and warning:

[code]

But when using this config:

[code]

I get those errors:

FYI: In my vendor.ts I import this:

[code]

**Expected/desired behavior:**

Using the LoaderOptionsPlugin instead of the rule option property

[2016-09-21 09:23] sokra commented on #3038
[code]

or

[code]

[2016-09-21 09:27] Martin-Wegner commented on #3038
My production config has this:

[code]

But it fails with the same errors :(

[2016-09-21 09:28] sokra commented on #3038
context should be inside the `options` option.

[2016-09-21 09:31] Martin-Wegner commented on #3038
Ah now it works. Thanks! What is the difference between both possibilities? And should I use the plugin or the options property?

[2016-09-21 10:19] ctrlplusb commented on #1574
I set up HappyPack and a DLL plugin, which led to a 78% increase in build perf.

Side note: I am using webpack 2.

[2016-09-21 10:22] SpaceK33z commented on #3015
Also fixed this in WDS:

https://github.com/webpack/webpack-dev-server/commit/5562fda6753c86db6f7b3861606d6d40d8d008d1
https://github.com/webpack/webpack-dev-server/commit/e3324ab419dc18ae7bdc8a7092b32d831ff86c90

[2016-09-21 10:22] #3015 closed

[2016-09-21 10:42] SpaceK33z commented on #2983
I can confirm this bug. It happens about 1 of 5 times in the examples in `webpack-dev-server`, which use an extremely minimal config. I'm using OSX too.

[2016-09-21 10:53] Kielan commented on #3026
Maybe I should have known also, I got the same error with postcss for local webfonts.

[2016-09-21 11:40] sokra commented on #3038
With `test` you only apply the plugin to a part for the modules. This is better.

[2016-09-21 11:40] #3038 closed

[2016-09-21 13:45] asadsahi opened #3039 "Empty file extensions aren't allowed in Webpack 2 beta.23?"
**I'm submitting a bug report**

Here is the environment
2.x beta 23
Windows 10

Until webpack beta 22, empty files were allowed

[code]

Since beta 23 upgrade we are getting validation errors, After removing the empty file exteions, webpack 2 builds successfully.

[code]

Not sure if this is an intentional change or there is a different way to handle empty file extensions.

Thanks guys, good work

[2016-09-21 14:11] eshimischi commented on #3018
Anybody please describe how to use postcss modules with LoaderOptionsPlugin?
Because this isnt right with .beta24 anymore:
[code]

[2016-09-21 14:23] sanex3339 commented on #1189
@fredericgrati how did you solve this promblem?

[2016-09-21 14:42] hustcer commented on #3018
@eshimischi
This one works for me:
[code]

[2016-09-21 14:49] sokra commented on #3039
https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#resolveextensions

[2016-09-21 14:49] #3039 closed

[2016-09-21 14:56] fredericgrati commented on #1189
I don't remember to have solved this problem with ensure method...
I don't use/need it  :)

[2016-09-21 15:34] asadsahi commented on #3039
Hidden gems of course :)

@sokra from the link you mentioned above, its not clear how we are handling the empty files? link is broken, Would you mind explaining how do we handle empty files now?

[2016-09-21 16:11] cideM opened #3040 "Hot reloading: net::ERR_CONNECTION_REFUSED followed by [WDS] Disconnected!"
**I'm submitting a bug report**

**Webpack version:**
1.13.1

**Webpack dev server version:**
1.16.1

**Please tell us about your environment:**
Linux Xubuntu 16.04

**Current behavior:**
[code]

**Expected/desired behavior:**
[WDS] Hot replacement enabled

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a gist/jsbi

[2016-09-21 17:10] bazalev commented on #3018
@hustcer
thanks for
`context  : __dirname`
without it postcss doesn't work

[2016-09-21 17:39] eshimischi commented on #3018
@hustcer thanks for your advice!! will check it in my code

[2016-09-21 20:10] aaronjensen commented on #834
@Cap32 it works fine for me. Be sure to upgrade webpack-dev-server as well:

[code]

[2016-09-21 20:51] Luddinus commented on #2134
+1

[2016-09-21 20:59] nibblebot opened #3041 "Object.assign is not compatible with node 0.12"
**I'm submitting a bug report**
**Webpack version:**
2.1.0-beta25

**Please tell us about your environment:**
Linux - Node 0.12

**Current behavior:**
cannot compile anymore due to runtime error:

[code]

Solution is to replace `Object.assign` with `require('object-assign')` or update package.json to NOT support node 0.12

[2016-09-21 21:25] davidmerrique commented on #3018
@hustcer Thanks!

I think `debug` and `minimize` should be outside of the `options` object, no? https://gist.github.com/sokra/27b24881210b56bbaff7#loader-options--minimize

[2016-09-21 21:31] cideM commented on #3040
Eh, should have posted to WDS github. Sorry!

[2016-09-21 21:31] #3040 closed

[2016-09-21 21:32] hustcer commented on #3018
@davidmerrique Yes, you are right. Thanks.

[2016-09-21 22:01] whitecolor commented on #3021
@sokra could you elaborate on this?

[2016-09-22 00:03] tomgeorge commented on #3010
This works for me:

In webpack.config.js
[code]

and in my app.component.ts file
[code]

The `ViewEncapsulation` isn't necessary.  I use it for a global look and feel in my app.

[2016-09-22 00:22] Bretto commented on #2977
is there a work around ?

[2016-09-22 00:25] Alexandre-Herve commented on #2168
Did you find a workaround ? I have this problem with vendor JSONStream lib, don't know what to do !

[2016-09-22 00:57] martriay commented on #2168
@Alexandre-Herve I used https://github.com/JavascriptIsMagic/shebang-loader

[2016-09-22 01:35] hansoksendahl commented on #2684
@MoOx I think you meant `context: __dirname`.

[2016-09-22 04:55] jharris4 commented on #1949
+1

I just took a shot at migrating from webpack 1.x to webpack 2.x and losing the ability to name the chunks means it's a lot harder to debug/inspect what's going on with the code splitting

[2016-09-22 06:37] duivvv opened #3042 "configuration.entry error (passing an Array of paths)"
**I'm submitting a bug report**

passing an Array of paths causes a webpack validation error

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
macOS Sierra

**Current behavior:**

passing an Array of paths outputs a WebpackOptionsValidationError

[code]

[code]

**Expected/desired behavior:**

passing an Array of strings should work? ([string])

[2016-09-22 06:44] pigcan commented on #472
@jhnns

[code]

So when I write `css!postcss!less`  how to look up postcss-loader

Thanks

[2016-09-22 07:42] alexey2baranov commented on #353
have the same error on

[2016-09-22 07:43] QuantumInformation opened #3043 "Getting error: configuration.resolve.extensions[0] should not be empty"
**I'm submitting a bug report**

beta 25 breaks my build with: configuration.resolve.extensions[0] should not be empty, even though I have it

**Webpack version:**
webpack@2.1.0-beta.25

**Please tell us about your environment:**
OSX 10.x

You can demo this here:
https://github.com/QuantumInformation/femptoCSS/commit/35ebcee673260ca1b703db166d2aaeed9d6bdc47

[2016-09-22 07:48] duivvv commented on #3043
Remove '' from the array, had the same problem.

[2016-09-22 07:49] kenberkeley commented on #1315
According to this [post](http://www.cnblogs.com/myqianlan/p/5626505.html), the simplest solution may be:
[code]

[2016-09-22 07:53] bebraw commented on #1315
@kenberkeley If you bundle `manifest` within `vendor`, changes made to `app` bundle will lead to changes to `manifest` that will invalidate `vendor` bundle too, correct. That's why it's important to extract it to a file of its own or inline it within HTML (html-webpack-plugin).

[2016-09-22 07:57] MoOx commented on #3043
It's not a bug, it's a feature. Just remote it and it works the same (since beta.23).

[2016-09-22 07:58] QuantumInformation commented on #3043
Great it works thanks.

[2016-09-22 07:58] #3043 closed

[2016-09-22 08:07] kenberkeley commented on #1315
@bebraw

add some code to `app` and build again, see the difference:
( `vendor` still with the same hash )

![qq20160922-0](https://cloud.githubusercontent.com/assets/13287948/18740813/43fa372a-80de-11e6-95df-622a45a70ce7.png)

[2016-09-22 08:12] duivvv commented on #3042
update:

When I remove the dev-server lines it works.
Seems to originate from webpack-dev-server

[2016-09-22 08:16] bebraw commented on #1315
@kenberkeley That was my point, yeah. I've written about the topic [here](http://survivejs.com/webpack/building-with-webpack/splitting-bundles/).

[2016-09-22 08:38] duivvv commented on #3042
Seems to be originating from 'webpack/hot/dev-server'
When I remove this line, it validates.

[2016-09-22 08:44] jiyinyiyong commented on #2828
Same error here, I was playing with [vue 2](https://github.com/vuejs/vue-hackernews-2.0/blob/master/build/webpack.client.config.js)(cloned weeks ago without latest commit actually) it's okay running with the expressjs middleware, but gives errors when I run it with `webpack-dev-server --config ...`

[2016-09-22 12:20] danielearwicker commented on #3018
Simplest way to be clear would be to call it 3.0 instead of 2.1 - see http://semver.org

[2016-09-22 12:32] princemaple commented on #3041
https://github.com/nodejs/LTS

Hold the release until 2017 then... :trollface:

[2016-09-22 12:33] princemaple commented on #3018
Was 2.0 ever released?

[2016-09-22 12:40] jusefb commented on #3043
If I remove the blank extension option the configuration error goes away but now none of my modules will load as they are all loaded without an extension. Is there some specific way I should be specifying blank extension in this new version?

[2016-09-22 12:42] duivvv commented on #3043
@jusefb is the Array empty now?

[2016-09-22 12:49] eshimischi commented on #3018
.. changed everything as @hustcer said and now i have troubles with resolve-url-loader (1.6.0)
my webpack.config.js:

[code]

[code]

hm, what else i need to change?? cause i got:
[code]

[2016-09-22 12:59] TheLarkInn commented on #3042
I see you're using back ticks in that line. Can you switch it to normal strings?

[2016-09-22 13:04] duivvv commented on #3042
tried that, no difference.

If I remove the two lines (webpack/hot/... and webpack-dev-server...) everything seems to work perfectly (even hot reloading, is this normal?)

[2016-09-22 13:07] sivabudh commented on #3018
For people who came here looking for the solution of how to fix:

[code]

with the error of:

[code]

Just change your webpack.config.js to:
[code]

[2016-09-22 13:45] Vizer commented on #1847
Obviously, it makes sense to define naming convention similar to `@angular` and `@types`. So that plugins will be grouped together in config file and in `node_modules` directory.

[2016-09-22 14:35] TheLarkInn commented on #1847
Personally I like the *-webpack-plugin naming convention. It matches the format similarily to core plugins. But I don't have time to :bike: shed

[2016-09-22 15:09] billyjanitsch opened #3044 "Latest beta was mistakenly published as latest"
**I'm submitting a bug report**

**Webpack version:**
1.10.x/2.x

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
`npm view webpack` yields:
[code]

**Expected/desired behavior:**

`2.1.0-beta.25` should have been published with the `beta` tag instead of `latest`. `latest` should remain at `1.13.2`.

Could you please fix the tags so that `npm install webpack` doesn't ins

[2016-09-22 15:13] DJviolin commented on #3044
+1 for this. Now everything broken and v2 examples lacking.

[2016-09-22 15:19] iDams commented on #2986
**Still have failed tests on `master` with a correct setup**

I have done the setup correctly now. Thanks @sokra for pointing the `npm link` stuff. I didn't do it.
But even on `master`, when I run `npm test`, I have 2 failed tests.

<img width="1242" alt="capture d ecran 2016-09-22 a 16 58 19" src="https://cloud.githubusercontent.com/assets/1591702/18753502/d34e28b2-80e5-11e6-821b-1c70dfafd2d1.png

[2016-09-22 15:21] TheLarkInn commented on #3044
Am on this right now. Thank you very much for reporting. I don't think this was intentional.

[2016-09-22 15:21] TheLarkInn commented on #3044
CC @webpack/collab-team

[2016-09-22 15:29] Vizer commented on #1847
There is one benefit using common prefix. It might provide better autocomplete

[2016-09-22 15:31] TheLarkInn opened #3045 "[Help Wanted] Create Typescript typings file from new validation schema"
Now that we have validation [schema.json](https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json) file for our configuration values. We should now generate a typescript typings file based on it. We would like help from anyone in the community willing to do so.

If you are already working on this, please open a PR, and then mark [WIP] so that we know now to review it yet.

[2016-09-22 15:38] billyjanitsch commented on #3044
@DJviolin let's be constructive. It's just a small tag mistake; you can always run `npm install webpack@1` until it gets fixed.

@TheLarkInn thanks for the quick reply. You just need someone with npm privs to run:
[code]

[2016-09-22 15:46] TheLarkInn commented on #3044
Alright I fixed it! :-D

[2016-09-22 15:53] andreypopp opened #3046 "Create Flow typings file from new validation schema"
See #3045: same should be done for Flow as well.

[2016-09-22 15:57] LearnWebCode commented on #3044
@TheLarkInn thanks so much for the quick NPM adjustment, you're my hero! I know the beta is obviously the future, so on a slightly unrelated note, do you know of any good examples / tutorials showing how to config something like the Babel loader with Webpack@V2?

[2016-09-22 16:02] TheLarkInn commented on #3044
http://webpack.js.org/how-to/set-up-hmr-with-react/ This may assist from our new docs page. Some of the versions in the npm install script need to be updated, (maybe you can submit a pr :smirk:)

[2016-09-22 16:03] #3044 closed

[2016-09-22 17:40] NejcZdovc commented on #3045
I can take over this issue. Will create PR when I will have something to show.

[2016-09-22 18:21] phaistonian commented on #3022
FYI,

@gajus, @sokra:  Updated to b25 and the issue is still there.

[2016-09-22 18:44] moo3 commented on #2892
PR merged

[2016-09-22 18:44] #2892 closed

[2016-09-22 19:11] sokra commented on #3022
@gajus could you take another look?

[2016-09-22 19:27] sokra commented on #3042
@gajus looks like the same bug as the other issue...

[2016-09-22 19:30] gajus commented on #3042
Looking into it.

[2016-09-22 19:46] bfricka opened #3047 "b23+ resolve.modulesDirectories not in schema"
**I'm submitting a bug report**
As of b23+, the new schema enforcement doesn't contain an entry for `resolve.modulesDirectories`. I thought this might be an oversight since nothing was specifically mentioned about it in any of the release notes, and like any schema validation issue, it breaks builds.

*NOTE:* This also breaks [Wallaby](http://wallabyjs.com/)

**Webpack version:**
2.1.0-beta.23 - 2

[2016-09-22 20:43] dreyks opened #3048 "b23+ watchOptions.poll does not match the API schema"
**I'm submitting a bug report**
i have
[code]
in webpack config
WSL on Windows 10 does not implement fd, so no inotify for me, I have to use polling

the error I get is
[code]

`console.log(process.env.FORCE_POLL)` resolves to `true`

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
WSL on Windows 10

[2016-09-22 21:30] sokra commented on #3048
It must be a boolean or number.

[2016-09-22 21:30] #3048 closed

[2016-09-22 21:31] sokra commented on #3047
http://webpack.js.org/how-to/upgrade-from-webpack-1/

[2016-09-22 21:31] #3047 closed

[2016-09-22 21:32] dreyks commented on #3048
`process.env.FORCE_POLL` is set to `true`. What is more boolean than that?

[2016-09-22 21:33] dreyks commented on #3048
Or do env variables resolve to strings? How then can it be used in such situation?

[2016-09-22 21:34] sokra commented on #3041
We should update these reference to use the `object-assign` package. This is something for a PR.

[2016-09-22 21:36] sokra commented on #3048
They are strings.

[2016-09-22 22:59] bfricka commented on #3047
Thanks. This is the first time I've seen this documentation for webpack 2. I'll file an issue over at Wallaby for this one.

[2016-09-23 03:26] kcheng-mvp opened #3049 "Click 4 router-links in turn, router-view can render all the pages first time, but click all the links again it router-view does not render."
## **BEFORE YOU SUBMIT** please read the following:
If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a bug report**
**I'm submitting a feature reques

[2016-09-23 03:27] kcheng-mvp commented on #3049
![22](https://cloud.githubusercontent.com/assets/7655276/18773320/a7555d70-8180-11e6-9f4f-2b2259c11276.png)

[2016-09-23 04:14] MoOx commented on #3049
You didn't read and fill the template correctly. This issue completely lack of accurate information.

[2016-09-23 04:46] joshhunt commented on #3018
@TheLarkInn @sokra

Would you consider leaving `context` alone even if you specify options through `LoaderOptionsPlugin`?. Context is kinda important (used for `[hash]` in `css-modules`) and it it's unfortunate that it get's dropped just because you specify _extra_ options through`LoaderOptionsPlugin`

[2016-09-23 05:07] TheLarkInn commented on #3041
Should we update package.json to not support 0.12? Or is there another justification?

[2016-09-23 05:25] vdh commented on #1016
So through a lot of trial and error, I've ended up with a rather monolithic config for multiple common chunks with cache busting (truncated where possible…):

[code]

Which enables loading of the manifest (via inline script) followed by `entry`, `polyfills`, `react`, & `vendor`… before finally loading one of the desired `page` entry points. Each of these 4 chunks will only change their hash when t

[2016-09-23 06:42] sokra commented on #3047
It's new :smile:

[2016-09-23 06:45] sokra commented on #3041
As it's easy to support 0.12 with only a few fixes, we should do so. Starting with 2017 we can drop support.

[2016-09-23 06:45] bfricka commented on #3047
It's awesome! Also, Wallaby just patched for 2.x schema!

[2016-09-23 06:53] sokra commented on #3049
It's totally unclear how webpack should cause this. Please investigate deeper and come back with more detailed information. I doubt webpack causes this issue.

[2016-09-23 06:53] #3049 closed

[2016-09-23 06:54] sokra commented on #3045
Thanks

[2016-09-23 07:53] jusefb commented on #3043
I have tried the following options:

extensions: ['','.ts', '.js'] - throws the above error
extensions: ['.ts', '.js'] - doesn't load any modules without an extension
extensions: [] - does not load any options

[2016-09-23 07:59] adminfyy opened #3050 "example error"
**I'm submitting a bug report**

# buildAll.js error
**under the example folder:
using buildAll.js script would appear this kind of error
"no such file or directory ******.0.js"
because of the template.md  error reference like 'js/0.js'**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
 Windows 10

[2016-09-23 08:05] mbifulco commented on #1468
I'm having this same issue, and none of the above seem to work for me.

[2016-09-23 09:38] bebraw commented on #3050
Can you see this in webpack 2 too?

[2016-09-23 09:44] jpzwarte opened #3051 "Cannot find module 'highlight.js'"
**I'm submitting a bug report**
**Webpack version:**
2.1.0-beta-25
**Please tell us about your environment:**
OSX 10.12

**Current behavior:**
ERROR in [default] example.component.ts:2:22
Cannot find module 'highlight.js'.

**Expected/desired behavior:**
No error.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a

[2016-09-23 09:48] jpzwarte commented on #3051
To be clear: all other imports from node_modules work fine. Only this one triggers the error. It's also the only one with '.js' in the module name.

[2016-09-23 10:10] hezedu commented on #1315
@bebraw if you use `code-spliting` add a new chunk, you will find the 'manifest' is useless

[2016-09-23 10:14] adminfyy commented on #3050
all the same.
lacking some files due to the
"template.md"

[2016-09-23 10:27] wagerfield opened #3052 "DllReferencePlugin manifest specified as a path causes webpack-dev-server to recompile bundle repeatedly"
webpack@2.1.0-beta.25
OSX 10.11.6

Following the release notes for [v2.1.0-beta.23](https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.23), I replaced `manifest: require(manifestPath)` with `manifest: manifestPath` in the `DllReferencePlugin`:

[code]

For single builds using `webpack`, both of these config files works fine.

However, when I use the 'NEW config file' (specifying the manif

[2016-09-23 11:45] lvscar commented on #1642
http://webpack.github.io/docs/node.js-api.html#stats

stats.toJson()
or
stats.toString()

will give you output of the emitWarning/emitError.

[2016-09-23 12:21] hezedu opened #3053 "I have a idea for "splitting-code" chunk's named."
How about use the callback function's name it. It's easy implementation.

[code]

So the chunk's base name is `a_and_b` . and add some fixed prefix.......

[2016-09-23 12:35] atlefren opened #3054 "Wrong main-entry from package.json used when there is a jam-section present"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
Linux

**Current behavior:**
Install an npm-package with a [jam](https://github.com/caolan/jam) config-block in package.json (for example proj4@2.3.15 )

import the package in a file

[code]

Get a warning:

[code]

This is beacaue the jam-config in package.json has a main-entry pointing to a m

[2016-09-23 12:46] sokra commented on #3054
We should remove the jam.main resolving in webpack 2. Do you want to do a PR?

[2016-09-23 12:47] sokra commented on #3051
`--display-error-details`

[2016-09-23 12:50] jpzwarte commented on #3051
Doesn't yield any additional info. Could this perhaps be an issue with awesome-typescript-loader, or is this pure webpack?

[2016-09-23 12:53] atlefren commented on #3054
@sokra Ah, so webpack has logic to handle jam? Makes sense to remove it, as jam seems to be discontinued.

I can give it a try at least, will report back if I'm stuck

[2016-09-23 12:56] jpzwarte commented on #3051
Here's a screenshot: https://www.dropbox.com/s/edi9xhfd4vwanum/Screenshot%202016-09-23%2014.56.20.png?dl=0

[2016-09-23 14:29] zwhitchcox opened #3055 "Webpack"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
Windows 7/Git Bash

**Current behavior:**
when you Ctrl-C during a build, it doesn't stop until the build is complete

**Expected/desired behavior:**
Would like to be able to abort the process before it is complete...works on powershell, but not git bash...webpack 1.13 works in both

* *

[2016-09-23 14:30] vinogradov commented on #1642
@lvscar not actual already but thank you anyways!

[2016-09-23 14:42] baizn commented on #3035
yes，include them。

[2016-09-23 14:49] zwhitchcox opened #3056 "Mixins to Functional"
**I'm submitting a feature request**

**Webpack version:**
2.1.0-beta.25

**Current behavior:**
Mixin Pattern

**Expected/desired behavior:**
Functional style
- **What is the motivation / use case for changing the behavior?**
  I have a proposition to move away from [the mixin pattern](https://facebook.github.io/react/blog/2016/07/13/mixins-considered-harmful.html) and move towards a more function

[2016-09-23 14:58] zwhitchcox opened #3057 "Uncatchable errors in webpack context"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
Windows 7

**Current behavior:**
Cannot catch errors when requiring context modules, as in

[code]

will still throw errors

**Expected/desired behavior:**
in the try catch block, it should catch these errors

[2016-09-23 17:08] baderbuddy opened #3058 "Make node-libs-browser optional"
## **BEFORE YOU SUBMIT** please read the following:

If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a feature request**

**Webpack version:**
2.x

[2016-09-23 17:29] daBishMan opened #3059 "add the google map script to angular-cli scripts array does not work"
1. OS?  Windows 7, 8 or 10. Linux (which distribution). Mac OSX (Yosemite? El Capitan?)
Windows 10 x64

2. Versions. Please run `ng --version`. If there's nothing outputted, please run
in a Terminal: `node --version` and paste the result here:
angular-cli: 1.0.0-beta.15
node: 6.5.0
os: win32 x64

3. Repro steps. Was this an app that wasn't created using the CLI? What change did you
   do on your c

[2016-09-23 20:16] #3055 closed

[2016-09-23 20:17] zwhitchcox commented on #3055
So, the problem was with console.error, not webpack :-0

[2016-09-23 22:11] jusefb commented on #3043
I am not sure that this is correct but after a few series of trial an error I have tried using the * symbol instead of an empty string. This seems to have fixed the problem.So final syntax for the extensions attribute:

extensions: ['*', 'js', 'ts']

Hope this is the intended way to do it

[2016-09-24 00:36] wlingke opened #3060 "Update to 2.1.0-beta.25 causes parseQuery should get a string as first argument"
**I'm submitting a bug report**

**Webpack version:**
2.x

**Please tell us about your environment:**
Windows 10

**Current behavior:**
I recently upgraded to webpack 2 beta 25 from beta 20. In beta 20, my entire configuration worked and the compilation worked. Upgrading to webpack 25 causes this error:

![image](https://cloud.githubusercontent.com/assets/3145536/18804734/2034c5d6-81b4-11e6-9b1a-c

[2016-09-24 02:24] stevewillard commented on #3060
Instead of `loaders` and `query` in your webpack config, you need to update them to the new `rules` and `options`:

https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#moduleloaders-is-now-modulerules

[2016-09-24 05:58] alexey2baranov opened #3061 "can not require file with async/await syntax without bebel-loader"
hello!
Async/await syntax is available in Microsoft Edge (stable) and Google Chrome (by the Experimental Javascript flag) and very close in Firefox at the date of writing this. So I do not want use babel for this feature anymore. How can I webpack async/await'ed files without babel?

[2016-09-24 07:19] MoOx commented on #3061
I guess you cannot. The webpack parser probably does not handle it yet.

[2016-09-24 07:22] MrBlenny commented on #2674
It appears that `target: 'electron-main'` suffers the same issue and included the browser version not the node version.

[2016-09-24 07:46] AlexGalays commented on #1574
Unfortunately, HappyPack doesn't work with any of the typescript loaders :(

[2016-09-24 10:24] aviramga commented on #2431
Hi,
I've thoroughly read all of the above and also followed the steps is this http://blog.rangle.io/optimize-your-angular2-application-with-tree-shaking/ blog but still cannot get tree shaking to work on my app.
Would be awesome if someone could help me with this one.... Thanks!!

[2016-09-24 12:48] gkostyanikov commented on #3060
Having hard times debugging this and still no luck.
[code]
my config:
[code]
        options: {
          presets: [
            ['es2015', { modules: false }],
            'react',
            'stage-0',
          ]
        }
[code]

[2016-09-24 13:27] MoOx commented on #2217
Getting this issue (or at least similar message: `arguments[i].apply is not a function`), using nodejs api. webpack() does not throw an error, but instead pass the error (instanceof Error) instead of the "stats" object (where I were trying to call .toJSON() on, so took me a while to find the origin of the issue). This is pretty weird webpack does call instead of throwing, like it usually does (not

[2016-09-24 16:48] bebraw commented on #3059
Can you try asking at angular-cli? This feels like an upstream issue. I'm not sure if there's much we can do about it in the core.

[2016-09-24 16:50] bebraw commented on #3061
Closing in favor of #2872. Subscribe there. 👍

[2016-09-24 16:50] #3061 closed

[2016-09-24 17:18] shehi commented on #1967
+1

[2016-09-24 17:20] stevewillard commented on #3060
In your rule config try using `use` instead of `loader` or `loaders`

It looks like you missed that change for your url-loader and your babel-loader

[2016-09-24 18:17] gkostyanikov commented on #3060
Unfortunately i've tried more verbose syntax with `use`'s everywhere without success just before the more compact version posted above. I've only omitted `use` section where only one loader in chain(`babel`, `url`) following this example http://webpack.js.org/configuration/. Here is the rewritten version with `use`'s that throws the same error:
[code]

[2016-09-24 19:08] AlexChepura commented on #3060
There is old loader-utils in webpack's package.json "loader-utils": "^0.2.11"
But only latest 0.2.16 is now compatible with webpack 2. For some reason it didn't updated.
Short fix:
npm i loader-utils

[2016-09-24 19:19] lukeapage commented on #3060
Thanks @achicu I got the same problem and was trying to work it out as your message came through. That fixes it for me.

[2016-09-24 19:26] gkostyanikov commented on #3060
@AlexChepura thanks, finally it works!)

[2016-09-24 20:40] #3060 closed

[2016-09-24 20:41] #3059 closed

[2016-09-24 20:41] sokra commented on #3054
yep.

look at `lib/WebpackOptionsDefaulter`

[2016-09-24 23:18] ova2 commented on #2431
@aviramga UglifyJS has a problem (bug) and can not remove dead code. See  https://github.com/blacksonic/typescript-webpack-tree-shaking

[2016-09-25 04:50] aviramga commented on #2431
Thanks @ova2 !
I was not aware of that! Correct me if Im wrong but there are no workarounds at the moment right? only sit back and wait for the webpack team?

[2016-09-25 07:33] bebraw commented on #2018
If still relevant, please re-open. webpack 2 has validation etc. now.

[2016-09-25 07:33] #2018 closed

[2016-09-25 08:10] SpaceK33z commented on #2835
This can be closed, right? #3007 was merged and part of release `v2.1.0-beta.23`.

[2016-09-25 08:18] SpaceK33z commented on #3052
This could be related to #2983.

[2016-09-25 08:19] SpaceK33z commented on #2586
If you still have this issue, please make a more detailed issue in the [webpack-dev-server](https://github.com/webpack/webpack-dev-server/issues) repo.

[2016-09-25 08:44] #2586 closed

[2016-09-25 11:28] zdying commented on #1315
mark

[2016-09-25 13:25] gaearon commented on #3008
For now, I’m working around it like this:
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-dev-utils/formatWebpackMessages.js

[2016-09-25 16:10] matAtWork commented on #2872
The https://github.com/MatAtBread/webpack-async-await plugin (which did this) stopped working, probably due to https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.23. If anyone has a fix that'll stop me having to spend a day working out what changed, it'd be much appreciated.

[2016-09-25 16:24] #2835 closed

[2016-09-25 16:27] leefsmp commented on #1260
Solved by using path.resolve('./src/..') in webpack resolve instead of relative url, as mentioned in comments

[2016-09-25 19:08] r-park commented on #2977
I experienced this same issue using `awesome-typescript-loader`. `ts-loader` doesn't seem to have this issue.

[2016-09-26 03:09] paralin opened #3063 "Sequences of "undefined" in webpack output"
**I'm submitting a bug report**

**Webpack version:**

2.1.0-beta.22

**Please tell us about your environment:**

Linux

**Current behavior:**

The output bundle looks something like this:

[code]

The output bundle is produced by the Karma webpack.test.js bundle from angular2-webpack-starter: https://github.com/AngularClass/angular2-webpack-starter - I've just added some code that references Pixi

[2016-09-26 03:27] paralin commented on #3063
After ignoring the source maps for pixi it's fixed, I think it's a pixi issue.

[2016-09-26 03:27] #3063 closed

[2016-09-26 07:38] NejcZdovc commented on #3045
@TheLarkInn I notice that your ideal PR would be schema converter. I found [this library](https://github.com/bcherny/json-schema-to-typescript) for conversion, but I am getting error described [here](https://github.com/bcherny/json-schema-to-typescript/issues/35). What do you suggest? Should we wait for bugfix or create it manually? I think this library can help us make this process automated and

[2016-09-26 07:45] NejcZdovc commented on #3045
I just found out that @donaldpipowitch is also working on this. I referenced it in this issue.

[2016-09-26 07:46] derkjn commented on #3042
Experiencing the same issue, but only when running webpack with the `--watch` option.
My entry points are as follows:

[code]

[2016-09-26 08:10] donaldpipowitch commented on #3045
I personally would wait for https://github.com/bcherny/json-schema-to-typescript/issues/35 to become solved (or help there to make this happen faster). The other bug which blocked this was already solved (https://github.com/bcherny/json-schema-to-typescript/issues/34).

[2016-09-26 08:21] NejcZdovc commented on #3045
Yes I agree with you

[2016-09-26 09:34] eshimischi commented on #3018
A little hack to solve my issue with resolve-url-loader is [#issuecomment-249522569](https://github.com/bholloway/resolve-url-loader/issues/33#issuecomment-249522569) here

[2016-09-26 12:44] zhaoshengjun commented on #3050
Hi @bebraw ,

I checked the `code-splitted-css-bundle` example and I found the main reason is that the `webpack.config.js` is using `extract-text-webpack-plugin`. This plugin is using some files inside `webpack/lib/`. Due to the folder hierarchy, it cannot find the files so it failed to build.

I've tried to using `resolve` in the `webpack.config.js` but had some trouble to make it work.

If you c

[2016-09-26 12:46] atlefren commented on #3054
I'm sorry, I cannot figure out how the Jam-config is read in ```lib/WebpackOptionsDefaulter```, I've found some references to it in ´´´bin/webpack.js´´´.

However, I cannot find any tests for this resolving, nor do I know how to add apropriate tests. On top of that, npm test fails on my checkout:

[code]
`
So, I guess it's easier for someone with knowledge of the code to fix this. Sorry

[2016-09-26 12:50] ctrlplusb opened #3065 "System.import w/ expression within a target=node bundle"
**I'm submitting a bug report**

**Background**
I used Webpack 2 to bundle my SSR React app.  I bundle both the client and the server (i.e. target=web|node).

Within my configuration I am trying to use the dynamic module imports feature to do code splitting on my routes (i.e. `System.import('../components/App/views/' + viewName + '/index.js')`) .  This code will get run my the `node` bundle, which

[2016-09-26 13:16] TheLarkInn commented on #3045
I would say its more important overall to get the typings, we could create a separate issue for the generator.

The benefit is that the PR workflow is much easier because typings can be generative when changes are made in the codebase

[2016-09-26 13:17] TheLarkInn commented on #3045
@bcherny is there a way we can assist with your tool

[2016-09-26 13:39] cspotcode commented on #3045
Whoever decides to go the programmatic route will need to add more information to the schema.  For example, JSON schema doesn't say anything about the types of arguments to a function.

[bcherney/json-schema-to-typescript](https://github.com/bcherney/json-schema-to-typescript), as far as I know, won't generate function signatures either, so a schema generated by that tool would still need some hum

[2016-09-26 13:43] NejcZdovc commented on #3045
@TheLarkInn ok, so should I create typings by hand for now?

[2016-09-26 13:52] TheLarkInn commented on #3045
I think that would be a viable solution for now.

[2016-09-26 15:18] donaldpipowitch commented on #3045
Sounds good!

[2016-09-26 15:56] Allov commented on #2815
A temporary fix / hack that I've been using is to change the way the script is ran like so:

[code]

This way, it'll force the drive letter to be uppercase. The `cd ..` seems redundant, but Windows won't let us change the directory if it's the same as it ignores cases at this point. :/

[2016-09-26 16:43] Pomax commented on #2815
That solves part of the problem, but will still lead to the same issue cropping up for codebases with both `require('Buffer')` and `require('buffer')` (which are two different things entirely), or code where someone on a case-insensitive OS accidentally writes code with `require('React-Router')` when the rest of the code correctly uses `require('react-router')`.

[2016-09-26 16:50] bcherny commented on #3045
@TheLarkInn I'm working through a backlog of bugs/missing features, no ETA yet. Help would be appreciated.

@cspotcode If there's a standard JSON-schema extension for function signatures (or if you want to propose a custom one), we can potentially support it in json-schema-to-ts. A quick google search turns up https://github.com/yinso/schemalet#functionprocedure-contracts as one option.

[2016-09-26 19:34] IAMtheIAM opened #3066 "Custom loaders directory aka resolveLoader for webpack2?"
QUESTION:

How do we reference custom loaders in webpack 2?
We used to use the `resolveLoader` option from webpack 1, but in webpack 2 that property is not allowed on the schema.

For example, my custom loaders are in `/node_modules_custom`

Thank you.

[2016-09-26 19:39] IAMtheIAM commented on #903
Now we need the webpack 2 compatible version of these scripts.

[2016-09-26 19:58] IAMtheIAM commented on #472
How do we do this in webpack 2? It doesnt allow `resolveLoader.modulesDirectories`

[2016-09-26 20:39] juan-ferrer-toribio opened #3067 "Split asynchronous loaded chunks using a regular expression"
Consider i have the following directory tree in my application:

[code]

And app.js has this content:

[code]

I need a main chunk with the core of my app, but i need to split every language translations of every module in diferent chunks and load them only when requested from the user. Im already using the json-loader for json files and the 'split-by-name-webpack-plugin' but it doesn't works with

[2016-09-26 22:01] ccorcos commented on #690
@sokra all I'm seeing is the webpack test cases...

![image](https://cloud.githubusercontent.com/assets/1794527/18853452/16452b90-83fa-11e6-9026-c79ee6b27017.png)

how do I see the graph for my code?

[2016-09-26 22:05] ccorcos commented on #690
lol. I forgot to stringify:

[code]

So I just got this webpack test case graph back. Thats a little confusing. This worked though :)

[code]

[2016-09-27 05:27] TheLarkInn commented on #3066
Are you sure this is not allowed on the schema. Can you please provide the error message and the version of webpack 2 you were running?

[2016-09-27 06:31] ctrlplusb commented on #3065
Apologies, did further investigation.  This is not a windows only issue.  It's happens on any server (i.e. target node) bundle.  I had a misconfiguration on my unix clone of my app which meant the code in question wasn't being hit.

[2016-09-27 07:25] baizn commented on #3035
what should I do that use DllReferencePlugin and HotModuleReplacementPlugin & react-hmre is working fine？

[2016-09-27 10:04] bebraw commented on #3050
@zhaoshengjun One way to approach it - figure out when it broke. Once you can see how it worked in the past, you might be able to see how to fix it better.

[2016-09-27 10:12] Plortinus commented on #959
I changed `CommonsChunkPlugin.minChunks`  to `Infinity `, the problem is gone, but the `vendors.js` has nothing.

[2016-09-27 10:18] zhaoshengjun commented on #3050
Sure. I will work on it to see if I can fix it.

[2016-09-27 11:06] markrendle opened #3068 "Webpack doesn't transpile 'require' calls in files with 'context' in the name"
**I'm submitting a bug report**

**Webpack version:**
1.13.1

**Please tell us about your environment:**
Windows 7, Node 6.6

**Current behavior:**
I have a TypeScript file called 'contextualDataService.ts', being compiled with the AwesomeTypescriptLoader. That step works OK, but when the resulting JavaScript is passed through to Webpack for bundling, the `require` calls don't get transpiled to `_

[2016-09-27 12:21] sokra commented on #3065
Could you paste the regexp used with the ContextReplacementPlugin?

[2016-09-27 12:25] ctrlplusb commented on #3065
@sokra I have updated my original post to be more reflective of my latest findings. i.e. it's a cross platform issue.  Occurs when executing a target=node webpack bundle that includes System.imports with expressions within.

I have included the regex I use for the ContextPlugin in the post, but here it is again:

[code]

[2016-09-27 12:49] ctrlplusb commented on #3065
@sokra please hold off investigating this.  I don't want to waste your time.  I am trying to create a minimal repo that can represent the error.

[2016-09-27 12:59] ctrlplusb commented on #3065
I managed to create a minimal example where the system.import statement actually works!  I don't think this is an issue with with webpack anymore.  I did some digging and think the issue may be with react-router.

In my application I create a function and then provide it to a react-router configuration.

Here is a cut down brief example:

[code]

I checked the call stack for the error, and found t

[2016-09-27 13:08] ctrlplusb commented on #3065
When I get time I will try create another minimal example that illustrates the issue.

[2016-09-27 13:25] ctrlplusb commented on #3065
Egg on my face!!!

I am so sorry @sokra and @bebraw this is completely my fail.

Erroneous webpack configuration causing the issue:

[code]

Doh!  Looks like this will override any attempt for a System.import to do dynamic chunking.

[2016-09-27 13:25] #3065 closed

[2016-09-27 15:33] jdellaria opened #3069 "Module not found: Error: Can't resolve 'Hammer'"
## **BEFORE YOU SUBMIT** please read the following:
If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.

[2016-09-27 15:40] IAMtheIAM commented on #3066
the resolveLoader option is allowed, but the `moduleDirectories` was removed, so I don't understand how to resolve modules from a directory other than the default node_modules.

```WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.```

[2016-09-27 15:40] jdellaria commented on #3069
This should compile... I believe these files are configured correctly.

Thank You!!

Jon Dellaria
[Uploading webpackHammerError.zip…]()

[2016-09-27 15:58] IAMtheIAM commented on #3066
Actually, I figured it out. We have to use

[code]
And then it resolves them just fine.

[2016-09-27 16:01] jdellaria commented on #3069
I didn't mean to close this issue

Jon

[2016-09-27 16:04] breeswish opened #3070 "webpack2 doesn't support IE8"
es5-shim cannot polyfill getters or setters of Object.defineProperty:

https://github.com/webpack/webpack/blob/master/buildin/module.js#L10

[2016-09-27 16:07] khronic commented on #1967
+1

[2016-09-27 16:09] khronic commented on #672
+1

[2016-09-27 16:11] IAMtheIAM commented on #3066
I tried resolve.modules, but no success.
[code]

~\node_modules\@epegzz\sass-vars-loader doesn't exist

[2016-09-27 19:38] jdalton commented on #3070
jQuery, Prototype, React, & h5bp have already dropped IE8 support and Microsoft only really supports IE 11 and Edge now.

I think dropping IE8 support is a fine thing for Webpack 2. With that Webpack 2 can update it's [buffer](https://www.npmjs.com/package/buffer) dependency to v5.

[2016-09-27 19:44] jdalton commented on #3041
Since webpack 2 is beta I think it's OK to get a bit aggressive with support and cut early.

[2016-09-27 20:39] IAMtheIAM commented on #2999
Thanks guys, I figured it out, it was something silly. Originally I had the `ngc` output the .ngfactory.ts files into `/src/aot-compiled` folder, and the `awesome-typescript-loader` was set to "include" that folder.

Then, at some point I moved the `aot-compiled` folder out of /src and up to the app root. Therefore, awesome-typescript-loader was not allowed to look in that location and transform t

[2016-09-27 20:39] #2999 closed

[2016-09-27 20:51] russellholmes opened #3071 "Exclude JSON Files"
Im using the json-loader to load in son to my module.
That works fine but it bundles the json with the output file and instead, i want web pack to not bundle the json file so anyone can update it without having to rebuild the code.
Any ideas - with example please.

[2016-09-27 21:35] mnpenner commented on #2675
@Kovensky

That part seems to be supported. Search [this page](https://webpack.github.io/docs/code-splitting.html) for `[]`. Although I can't find any information on how that works.

[2016-09-27 21:48] mnpenner commented on #3071
How do you propose this work?

If your target is Node, you can `fs.readFile` and `JSON.decode` the file.

If it's for the browser, you can try the `bundle` loader, or just load your data with `jQuery.ajax` (or your favorite AJAX lib).

[2016-09-27 23:19] fkrauthan opened #3072 "Require.ensure + Require.context to have multiple dynamic loaded chunks"
I was wondering if something like the following is possible.

Given the data structure:
- docs
  - doc1.json
  - doc2.json

And the following code:

[code]

If I understand the current behaviour would be that doc1.json and doc2.json both end up in one chunk together (one external JS file that will be loaded dynamic). But is there any way to change the code so that doc1.json and doc2.json get there

[2016-09-28 00:10] breeswish commented on #3070
ok here is my idea. I think at least the most commonly used part (in this case, the module) should be compatible with ALL JavaScript
 enabled, a-well-accepted-standard implemented browsers.

I don't care about buffer. Those things come from Nodejs, which is not expected to work in browser before webpack. Webpack make it work in browsers. Good. with a browser version requirement. Accepted.

Webpack

[2016-09-28 00:19] jdalton commented on #3070
IE8 is a dead browser on a dead OS. At some point you have to move on.

[2016-09-28 00:40] breeswish commented on #3070
Thanks I agree with that. It is dead. It should be replaced. However I would like to express my thoughts: what webpack should do is to bundle modules. what it shouldn't do is to make working things not working. Even babel won't break existing working code.

[2016-09-28 00:45] jdalton commented on #3070
Major bumps avoid breaking working code as long as your deps ranges are following semver. Babel  has introduced several breaking changes on their major version bumps *(that's the primary reason for a major bump)*

[2016-09-28 00:50] breeswish commented on #3070
Sorry I'm not expressing clearly. I mean, by design, a toolchain which act as a transformer should not break working things.

[2016-09-28 01:01] jdalton commented on #3070
Babel is really a poor example. Babel v6 `preset-es2015` preset lacks IE8 support out of the box and will generate code that doesn't run in IE8.

[2016-09-28 01:03] jdalton commented on #3070
Why not stick with Webpack v1 for unsupported browsers?

[2016-09-28 01:13] breeswish commented on #3070
Yes that's why I am using the term "some". ES modules won't work in ES3, out-of-the-box when using `es2015` preset. However by using other plugins it can be achieved. Can webpack 2 supports ES3 by using other plugins? No. Babel itself doesn't introduce side effects. Webpack 2 itself introduce unavoidable side effects. That's a design issue.

[2016-09-28 01:20] jdalton commented on #3070
Naw. Putting the burden on Webpack to support dead environments is a design issue. Heck you could always run a post process on your code to replace the bits IE8 has issues with. Trying to push your niche concern onto Webpack is pretty lame.

[2016-09-28 03:11] keelii commented on #1189
Different entries indicates different pages, different page should build **ALL** resources to different output directory. If there is a substitution named `entryName` everything will be nice ^!^

[code]

[2016-09-28 03:30] MagicDuck opened #3073 "RecordIdsPlugin slows incremental build with lots of modules"
**I'm submitting a bug report**
**Webpack version:**
1.10.x/2.x

**Please tell us about your environment:**
OSX 10.x / Linux / Windows 10

**Current behavior:**
Our project has around 5000 modules. Profiling webpack told us that the makeRe
ative() function in RecordIdsPlugin takes 2s during each incremental build. If we remove it and use straight module.identifier(), the time taken becomes insigni

[2016-09-28 04:56] TheLarkInn commented on #3073
I think we would certainly welcome a PR for this.

[2016-09-28 04:58] Luchillo commented on #1189
Is that from Webpack 2? i've never knew that we could use the entry name as parameter of the outputh path.

[2016-09-28 05:00] TheLarkInn commented on #3056
@zwhitchcox thank you for the opinion. I think maintainability of the codebase is extremely important.

It is true that webpack's core code is built entirely off of [webpack/tapable](http://github.com/webpack/tapable). A down the road idea would be to first convert the codebase over to typescript. A library as complex and scaled as webpack could definitely benefit from this, and encourage others.

[2016-09-28 05:16] zhaoshengjun commented on #3050
I finally got this. The reason is some `template.md` files are use output file, for example, `js/0.js`. But the output file has been changed to `js/0.output.js`.

I will submit a PR soon to fix all these template errors.

[2016-09-28 06:15] michael8090 commented on #1479
Same here. And it breaks the deploy of our prod server... as we deploy frontend files and backend files on different machines.

[2016-09-28 06:17] keelii commented on #1189
Of course not, it was just my idea.  @Luchillo

[2016-09-28 07:25] dmitry commented on #1479
@michael8090 can you please report webpack and node version, and your paths of deployment on different servers (capistrano or you are using own solution)?

[2016-09-28 08:44] arshtepe commented on #2708
@TheLarkInn I have same error in webpack 2.1.0-beta.25

[2016-09-28 08:47] yangfeiloveG commented on #2296
@MikaAK Thank you so much! It works!

[2016-09-28 09:41] richardscarrott commented on #445
I could do with `outputPath` on the `stats` json, open to a PR?

[2016-09-28 12:06] zwhitchcox commented on #3056
Oh that's a good idea too!

[2016-09-28 12:11] zwhitchcox commented on #3056
Typings help catch a lot of bugs and would render a lot of tests unnecessary too. I think that would definitely help a lot

[2016-09-28 12:40] michael8090 commented on #1479
@dmitry thanks for your concern. I've resolve the problem by adding the `webpack-md5-hash` plugin to the plugins of webpack.

I hope the others facing the same issue could try `webpack-md5-hash` first.

[2016-09-28 12:57] breeswish commented on #3070
@jdalton Sorry but in fact it is really hard to run a post-processor. As said before, only some of the ES6 feature can be transformed to be compatible in ES3, which means for the rest of the features it is difficult. Unfortunately, getters and setters are one of those hard to post-process: https://github.com/webpack/webpack/blob/master/buildin/module.js#L10

[2016-09-28 13:21] michael8090 commented on #1479
@dmitry

I've two machines for development, one is a mbp and the other is a pc.

mbp: node@6.2.2, webpack@1.13.2

pc: node@6.7.1, webpack@1.13.2

On mac I have `projectA` and a `projectB` cloned from A .

Before using the `webpack-md5-hash` plugin, the bundle content of A and B are the same, but the chunkhashes are different.

After using the `webpack-md5-hash`, the bundle content and hashes are t

[2016-09-28 13:24] breeswish commented on #3070
In fact according to NetApplications or StatCounter (the two most authoritative stat), IE8 is the second most popular browser in IE family and has a market share larger than 2%. In NetApplications, IE 8 is even the 3rd popular browser in global and has a market share 6.25% in the last year. In my own opinion the data of NetApplications should be more accurate because StatCounter doesn't take Inter

[2016-09-28 13:27] Luchillo commented on #1189
Oh then let me ask, how would we define the output file name? would it be the same as the folder like `build/pageA/pageA.js` or something alike? unless we define directly the entry's output path that would just make the imports 1 folder longer.

I think maybe would be more beneficial to have a general output (default) and the entry if needed could define it's own output path:
[code]

[2016-09-28 13:28] zhaoshengjun opened #3076 "Normalize property names in schema"
**I'm submitting a feature request**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
OSX 10.x (but it doesn't matter)

**Current behavior:**
In the [schema.json](https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json) file, part `node` has two interesting properties: `__dirname` and `__filename`. These property names are inconsistant with o

[2016-09-28 13:31] sanex3339 commented on #1189
[code]

I like this way. In my project i generate `entry` object dynamically, and want to set `output` folder for each `input` dynamically too. And all additional (not primary) chunks (should be relative to `output` path of main chunk.

[2016-09-28 13:37] dmitry commented on #1479
@michael8090 as I remember, in my case it was an issue when I required react library, or any other lib from the node_modules. When there are no requirements for the node_modules, it worked without issues. I believe once you require, webpack takes absolute path and somehow it changes whole code, so the chunkhash is different.
I don't see any solution how to solve it, may be @sokra knows how?

[2016-09-28 13:37] dmitry commented on #1479
@michael-ciniawsky have you tried webpack >= 2.0?

[2016-09-28 14:48] jdalton commented on #3070
@breeswish

No it's not. You write a simple Node script to load your file in and regex parse out the bits.
Get has hacky as you want.

You're cherry picking a bit. The [h5bp thread](https://github.com/h5bp/html5-boilerplate/issues/1524#issuecomment-238868457) I linked to showed that most stats report it low:
<img width="674" src="https://cloud.githubusercontent.com/assets/4303/18917932/00a6d7de-85

[2016-09-28 17:10] TheLarkInn commented on #3045
@danielrosenwasser do you know any awesome people who might be able to help @bcherny in regards to some schema-to-ts related things?

[2016-09-28 17:30] bcherny commented on #3045
@TheLarkInn Almost there actually, we've been making decent progress. I think https://github.com/bcherny/json-schema-to-typescript/issues/44 is the last blocker, I'll tackle it this week.

[2016-09-28 18:18] kevinSuttle commented on #215
I wonder if using a Map would help.
https://github.com/MoOx/postcss-cssnext/issues/282

[2016-09-28 20:40] brianblakely commented on #2145
`cheap-module-eval-source-map` broken here.  macOS 10.11.6, Chrome 53

[2016-09-28 21:26] jamestautges commented on #3073
I have a fix for watch mode, but I'd like to wait until Saturday for the PR if that's alright

[2016-09-28 21:56] kevinSuttle commented on #1859
How does this work post Webpack 2.1.0-beta23 with the `new webpack.LoaderOptionsPlugin({{}})` API signature?

[2016-09-29 00:25] zhaoshengjun commented on #3056
Let's do this!

Where to start?

[2016-09-29 00:53] zwhitchcox commented on #3056
Yeah, is there any way we could divide the labor up? I'm willing to help, but I think we need some sort of plan.

[2016-09-29 02:33] sokra commented on #3073
The records should stay portable. We could cache the portable identifier on the module instance.

[2016-09-29 02:35] sokra commented on #3076
The properties are named like the variable names.

[2016-09-29 02:37] sokra commented on #3072
System.import in webpack 2 will have the expected semantic. `System.import("./docs/" + name)`

[2016-09-29 02:38] sokra commented on #3071
For target node externals could also be used.

[2016-09-29 02:48] sokra commented on #3070
If this code fragment is the only issue for ie8, feel free to find the commit changing loaded to l and id to i an revert it in a PR.

But keep in mind that the whole es modules stuff is based on getter an won't run on ie8. CommonJs may work.

[2016-09-29 02:52] sokra commented on #3068
Could you include your configuration? `module.noParse`?

[2016-09-29 02:55] sokra commented on #3067
Possible in webpack 2 with System.import

[2016-09-29 02:55] #3067 closed

[2016-09-29 02:57] sokra commented on #2864
Similar bahavior is used in the library/libraryTarget code and could be reused...

[2016-09-29 03:42] jdalton commented on #3070
@sokra You're up for [larger](https://github.com/webpack/webpack/commit/902220a0ea51cbd1c117ff274238eb184131b99f) bundles to support IE8?

[2016-09-29 04:36] fkrauthan commented on #3072
Unfortunately webpack2 will not work for me as I need the ability of (custom) named chunks which is currently not possible with webpack2

[2016-09-29 05:50] TheLarkInn commented on #3056
This would be a huge overhaul but would need to start with the supporting cast:

webpack/tapable
webpack/loader-runner
webpack/enhanced-resolve
webpack/memory-fs

Tapable is the most important. But those are starting points. Once those are done, then webpack/webpack

[2016-09-29 07:05] breeswish commented on #3070
@jdalton I prefer to provide an opt-out for a fallback, like `loose` mode in babel or other modules. Besides, the size advantage by replacing longer words into shorter ones is minimum when gzip is applied.

[2016-09-29 07:48] matteoantoci commented on #2145
Since I received negative feedbacks I clarify my +1: using `cheap-module-eval-source-map` in chrome 53 on macOS 10.11.5 and using webpack 1.13.2 I get the same js contents as @brianblakely:

[code]

[2016-09-29 08:05] dandv opened #3078 ""Critical dependency: the request of a dependency is an expression" in iconv-loader.js"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
Linux

**Current behavior:**
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a gist/jsbin of your webpack configuration.**

[code]

* **Language:** ES6

[2016-09-29 08:44] Kovensky commented on #3078
You seem to be missing `{ test: /\.json($|\?)/, use: 'json-loader' }`. Webpack is failing to parse the `.json` file because, if interpreted as javascript, it looks like a block (think of there being an `if (true)` in front of the `{`); even if it worked, it would export nothing.

[2016-09-29 09:40] chozzz opened #3079 "Serve error after upgrading to newest version of angular-cli"
**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
Linux

**Current behavior:**
Ng serve failing with errors

**Expected/desired behavior:**
No errors given

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem along with a gist/jsbin of your webpack configuration.**
I am currently using `npm link` for

[2016-09-29 09:49] MarkusKramer commented on #3041
I've added a PR for this.

[2016-09-29 10:53] bebraw commented on #3078
Yeah, there's not much we can do about it in the core. You'll have to set up a loader.

[2016-09-29 10:53] #3078 closed

[2016-09-29 13:45] jamestautges commented on #3073
And portable ids also have to be cached on each chunk, yes?

[2016-09-29 17:20] larry-dalmeida commented on #981
This was my config:

`context: __dirname + "/app",

  entry: "./app.js",

  output: {
    path: __dirname + "/dist",
    filename: "app.bundle.js"
  },`

But I am using Windows and the path was incorrect because Windows uses a backslash.

Fixed with this:

`context: __dirname + "\\app",

  entry: "./app.js",

  output: {
    path: __dirname + "\\dist",
    filename: "app.bundle.js"
  },`

Wow. Wha

[2016-09-29 17:44] QuantumInformation commented on #3043
Should this be reopened?

[2016-09-29 22:13] TheLarkInn commented on #3079
@sokra do we need to cut a new release of loaderUtils or is this just stale nested dep?

[2016-09-29 23:24] wayofthefuture commented on #981
Man this one really made me regret being a computer programmer. I was able to resolve the issue by changing:

[code]
To this:
[code]

[2016-09-30 01:50] dandv commented on #3078
Adding

[code]

solved the problem. Thanks.

[2016-09-30 02:19] chozzz commented on #3079
I can confirm this issue does not happen in `beta.15` version.

[2016-09-30 02:47] xingyesh commented on #1583
thanks。 the same problem

[2016-09-30 08:51] floviolleau commented on #2771
Thanks a lot @eromoe. This comment helps me a lot :+1: :+1: . I was stuck on that problem since 2 days...

[2016-09-30 10:24] acostaf commented on #2613
Hi Guys

At this time I am using "typescript": "2.0.3" and "webpack": "2.1.0-beta.24"

I found a fix for this, so in order to stop the whole ... // WEBPACK FOOTER // // ./~/tslint-loader! .... which breaks Visual studio 2015 debugging, you have to set noSources: true for your SourceMapDevToolPlugin

	plugins: [
		....
		new webpack.SourceMapDevToolPlugin({
			filename: '[file].map', noSources: tru

[2016-09-30 10:38] ruscoder commented on #2145
I've found a solution. Use plugin `new webpack.SourceMapDevToolPlugin()` instead of `devtool` param (this param must be removed from configuration).

[2016-09-30 11:22] sppatel commented on #2367
@tomasAlabes can you provide an example of what you did?

[2016-09-30 11:30] MarkusKramer opened #3081 "Improve test coverage of NodeStuffPlugin.js, NormalModuleFactory.js, and NodeSourcePlugin.js"
Tests need to be written for the mentioned modules.

[2016-09-30 11:45] tomasAlabes commented on #2367
Something like this:

[code]
Make all dependencies that start with `i18n!` externals to my library.
Hope it helps.

[2016-09-30 12:05] sppatel commented on #2367
@tomasAlabes thx for the quick response! Its still a bit unclear to me.   So here is specifically what I have.. Here is a require.js/amd module that I have defined that depends on a custom requirejs nls plugin.

[code]

The plugin is a local file e.g nls.js which structurely contains something like..

[code]

When I run web pack it complains about nls!common unable to resolve it.  So is this essen

[2016-09-30 12:19] tomasAlabes commented on #2367
Try using my function with nls instead of i18n and see what happens. Try to imitate how i18n works but with your plugin (you will probably need to define where your plugin is the rjs config).
If possible make a small project with these files and try everything there, it's easier to analyze.

[2016-09-30 12:59] kasparsklavins commented on #2867
On a completely empty project tree shaking does not seem to work for me. On beta 25.
[code]

[2016-09-30 13:52] paddotk commented on #959
Is there (going to be) a solution for those who can't remove the dedupe.js library?

[2016-09-30 14:10] Kovensky commented on #3066
Use `resolveLoader.modules`.

[2016-09-30 14:16] Kovensky commented on #2983
This is most likely the cause: https://github.com/webpack/watchpack/issues/25

[2016-09-30 14:20] SpaceK33z commented on #2983
@Kovensky, ah thanks, that looks like the same problem.

[2016-09-30 15:55] jacob-israel-turner commented on #2145
I can second @brianblakely and @matteoantoci's problems with `cheap-module-eval-source-map`.  I also tried @ruscoder's solution, which did work, but killed performance.  I set `columns` to false, to see if performance would improve, but I got the same problem as before, with the `undefined` in the map.

[2016-09-30 17:47] trzenaro commented on #539
@IAMtheIAM
Is there any file I need to change to apply the setting "cheap-module-source-map"?
I'm just running "ng serve" and I can't find where to change to apply the configuration.

[2016-09-30 18:01] also opened #3082 "setting resolve.plugins option breaks context resolver"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
OS X 10.11.6

**Current behavior:**

Including `resolve: {plugins: []}` in `webpack.config.js` can cause the context resolver to resolve files instead of directories, resulting in build failures like

[code]

`enhanced-resolve` modifies the plugins array that it is passed.
- https://gith

[2016-09-30 22:15] wdhorton commented on #2993
I can work on this

[2016-09-30 23:10] TheLarkInn opened #3083 "RFC: ArrayMap vs Native Map/WeakMap"
I noticed we implement `ArrayMap` in core as seen below:

[code]

Is there benefit in investigating build perf or memory perf by using Map or WeakMap natively instead. (Of course we would have to also consider backwards compatibility).

I gave this a whirl and it seemed to work actually (per tests that is):

[code]

(Not that I'm too keen on adding a method to the prototype (we can investigate mor

[2016-10-01 00:06] AndrewMorsillo opened #3084 "Loaded added via plugin is not used in webpack beta 23+"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.23 and higher

**Please tell us about your environment:**
Linux

**Current behavior:**
Plugin adds a loader to override the contents of a file. The added loader never resolves for the file causing a missing loader error on build.

Ex of added loader:

[code]

`require('./my-config.json')` results in

**Expected/desired behavior:**
`r

[2016-10-01 01:29] yeerkkiller1 commented on #610
I think you want do use: http://stackoverflow.com/questions/34828722/how-can-i-make-webpack-skip-an-require .

[2016-10-01 03:21] barberj commented on #1468
@mbifulco any luck?

[2016-10-01 04:15] Markosyan-AR commented on #2506
You can try to add some random to the scriptName parameter and push browser to load chunks manually
like:
$('head').append(<script scr="myChunk1?version=" + Math.Random()></script>)

[2016-10-01 06:01] OlegLustenko commented on #2812
Have same issues, anyone find solution ?

[2016-10-01 16:10] Kovensky commented on #3083
If a migration is done, the parts that use `clone` could just be updated to do `new Map(oldMap)`.

[2016-10-01 18:33] TheLarkInn commented on #3083
Good point. I think regardless we could probably move out this class to its own module.

[2016-10-01 21:22] aleury commented on #1786
I have a patch for this if no one else has claimed it. I can't seem to find any information about project code style. Does webpack use uppercase variables for all constants?

[2016-10-01 22:08] christianmalek commented on #2671
Did he/she find a solution for this? I have the same problem.

[2016-10-02 01:28] HoangNguyen174 opened #3085 "cls"
## **BEFORE YOU SUBMIT** please read the following:
If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a bug report**
**I'm submitting a feature reques

[2016-10-02 03:00] Goblinlordx commented on #2537
Personally, I am not quite getting what you mean by ```-env.option abcd ``` but I tried this and it doesn't seem to help with anything.  I do believe that doing this automatically based on the -p flag would be reasonable.  I could likely submit a PR if it is ok to resolve this in this way.  Otherwise, for the loads of other people that have also run into this behavior wondering "wtf!?" below is de

[2016-10-02 04:00] axnikitenko commented on #2644
Ubuntu 14.04 LTS
Node v 6.7.0
webpack 2.1.0-beta.22

Console log when building by webpack for production configuration:
[code]
Error display only when i am using DedupePlugin plugin of webpack.

[2016-10-02 06:09] MatthewKosloski commented on #1789
I'm trying to import `normalize-css` and `bourbon` into Webpack; however, I am experiencing difficulty.

A brief summary of my file structure:

	root-folder
		node_modules
		...
			bourbon
				app
					assets
						stylesheets
							_bourbon.scss
			normalize-css
				normalize.css
		...
		src
			components
				Foo
					index.js
					style.scss
			scss
				lib
					bourbon.scss
		webpack.config.js

[2016-10-02 08:49] zhaoshengjun commented on #3050
hi @adminfyy, if you download the new example folder and run `node buildAll.js`, do you have any error?
If not, you may close this issue.

[2016-10-02 08:53] zhaoshengjun commented on #3045
Hi @TheLarkInn, I have a WIP typings file for `schema.json`.

If you and @NejcZdovc like, I canl create a repo so you guys can have a look.

[2016-10-02 10:39] silvenon commented on #1789
`@import 'bourbon'` won't work because a) instead of the main SCSS, `bourbon` has [`index.js` defined as `main`](https://github.com/thoughtbot/bourbon/blob/master/package.json#L23) (not sure what that `index.js` is supposed to be), and b) because modules should be imported with the [`~` prefix](https://github.com/webpack/css-loader#usage), try `@import '~bourbon/core/_bourbon.scss'`.

Concerning `

[2016-10-02 13:50] ArnaudValensi commented on #2145
It also works replacing `devtool: 'cheap-module-eval-source-map'` by `devtool: 'eval-source-map'` (in `webpack.config.development.js`).
I guess it reduces the performances.

[2016-10-02 17:31] paramsingh88 commented on #1479
@dmitry I have the same issue, any help?? I'm using webpack 1.13.1

[2016-10-02 17:38] MatthewKosloski commented on #1789
Thank you @silvenon for replying so quickly.  I tried what you suggested, but no results :/

I installed normalize.css and added `require('normalize.css')` to my `webpack.config.js`, but I still get the "Unexpected token" error.

When I tried `@import '~bourbon/core/_bourbon.scss'` in _./src/components/Foo/style.scss:_, I still get the " File to import not found or unreadable: bourbon" error.  It

[2016-10-02 18:02] nareshbhatia commented on #2782
I am also switching over to webpack 2. I have a complete starter project with React and Redux over here: https://github.com/sapientglobalmarkets/react-redux-seed. However, like everyone else, I am struggling through the issues list to piece together the concepts. It would be great if someone from the webpack team would review my config and comment on my use of webpack 2. I promise to maintain this

[2016-10-02 18:14] massimiliano-delia commented on #883
+1

[2016-10-02 20:28] MagicDuck opened #3087 "make devtool: "source-map" fast by producing concatenated sourcemaps"
**I'm submitting a bug report** (this could be seen as a bug or a feature)
**Webpack version:**
1.10.x/2.x
**Please tell us about your environment:**
OSX 10.x / Linux / Windows 10
**Current behavior:**
Lots of people are currently being forced to use devtool: "source-map", the most expensive sourcemap option, because of a bug in chrome. For example, see: #2145.
This makes the incremental build qui

[2016-10-02 20:46] dmitry commented on #1479
@paramsingh88 there are no solution at the moment. You have to use some webpack plugins or PR with a fix of that issue.

[2016-10-02 21:39] liangsu1210 commented on #1967
+1

[2016-10-03 04:49] MatthewKosloski commented on #1789
Is there a way to import a file only once _or_ change the order?  For example, Normalize.css.  I want it at the very beginning of the cascade.  I figured out how to import it once by importing normalize at the top level component (app.js), but Webpack processes it last and it ends up in the bottom, which is not what I want.

_Consider the following file structure:_

	components
		Foo
			foo.scss

[2016-10-03 06:52] paramsingh88 commented on #1479
Any webpack plugin you can suggest?

[2016-10-03 08:26] jpzwarte commented on #3051
I'm closing this since i'm pretty sure the error comes from awesome-typescript-loader.

[2016-10-03 08:26] #3051 closed

[2016-10-03 08:52] cvle commented on #1949
@troutowicz I was able to do it using a solution combining webpack stats, `__filename` and line of code.

[2016-10-03 09:04] whitecolor commented on #1949
@cvle you could show it

[2016-10-03 09:06] Gpx commented on #1967
Please avoid adding +1 comments, they only add confusion to the issue. Instead, add a reaction to the original comment

[2016-10-03 09:10] jumperchen opened #3088 "The cache mechanism in _webpack_require__ function may break if importing with a same exporting module"
#**I'm submitting a bug report**

**Webpack version:**
2.x

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
The module imported from '../../index' in the \__webpack_require__ cache may break if a class defined in a nested exporting module.

For example,
[code]

This issue won't happen in a simple project, but in our complex project, it did happen.
BTW, the same usage can

[2016-10-03 09:14] dmitry commented on #1479
webpack-md5-hash

[2016-10-03 09:57] AoDev commented on #215
Hi, in my case the order can be ok or not. I use the less preprocessor and different loaders depending on when I want to speed up things.

__Configuration when the order is ok (slower)__
Here we have sourcemaps and css cleanup.
[code]

__Configuration when it's NOT ok__ (faster)
No sourcemap, no CSS cleanup, for local development.
[code]

I don't have time to investigate myself but this can provid

[2016-10-03 10:42] jfrolich opened #3089 "Bug, Sourcemap urls without filename or path (only hash) in Chrome"
**Webpack version:**
2.1.0-beta.24 / 2.1.0-beta.25

**Please tell us about your environment:**
OSX 10.12 Sierra

**Current behavior:**
I have a problem with Webpack, where it shows only the sourcemap hash (webpack:///?d41d). It corresponds to the ?[hash] that is being put behind the sourcemaps in the sources tab in Chrome, but it seems to not to pickup the rest of the path (so clicking it will res

[2016-10-03 11:53] marcofugaro commented on #2537
Agree, it's really confusing that is says this in the changelog:

and then `process.env.NODE_ENV` is undefined in the webpack config.

I usually call webpack setting `NODE_ENV` from the command line, and then I pass that to the code with the `DefinePlugin`.

[2016-10-03 12:41] silvenon commented on #1789
That's weird, webpack should compile only one instance of every module, even if it's been imported multiple times into different files.

I see the problem with Normalize.css ending up at the bottom, that problem never occurred to me. You can't count on the order of `import` statements anyway. What you can do is import Normalize.css from your webpack config:

[code]

This way you can ensure the ord

[2016-10-03 14:56] nezed commented on #1682
@pavel06081991 you want to use asynchronous provide which is not able in Webpack.
You can use [yms](https://github.com/ymaps/modules) or RequireJS workaround

[More about yms (RU)](https://events.yandex.ru/lib/talks/3682/)

[2016-10-03 15:24] nickperkinslondon commented on #950
Why is this closed? None of the linked issued seem to address the problem.  I have a "vendor" bundle whose contents seem to get "randomized" every time I build it.  Exact same modules, different order.  I have tried the "occurrence order plugin" -- it made no difference.  The benefit of splitting bundles is completely lost if the "vendor" bundle gets re-ordered every time, for no reason.  There mu

[2016-10-03 16:13] jhnns commented on #3085
I suppose, this was accidentally?

[2016-10-03 16:13] #3085 closed

[2016-10-03 16:28] jhnns commented on #3088
Thanks for reporting this.

It would be extremely helpful if you could setup a small example project that demonstrates the issue. Please don't use typescript in this example project so that we can narrow it down.

It looks like you cannot reproduce it reliably, is that correct?

Also keep in mind that webpack 2 removes unused code. As long as `BranchB` is not using `BranchA`, it will be excluded.

[2016-10-03 16:35] NejcZdovc commented on #3045
@zhaoshengjun I am almost finished with this and will create PR today/tomorrow. If you would please give a feedback on my PR, any suggestions or improvements are very welcome.

[2016-10-03 16:44] jhnns commented on #3069
Sorry, this is no bug report. It looks like there is an error in your setup. Please file a stackoverflow question.

---

I know that it might be confusing to read error messages, but the error message is actually totally clear about the problem:

1. `ERROR in ./~/sequencejs/scripts/sequence.min.js`

= The problem comes from this file

2. `Module not found`

= A module, that was required in `sequen

[2016-10-03 16:44] #3069 closed

[2016-10-03 16:55] jhnns commented on #3070
Sorry, @sokra but I don't think we should do that.

It *may* be just this little code line for now, but will future changes also be tested on IE8? If we do support IE8, we must ensure that all future changes also do support IE8. That's where I agree with @jdalton: A major version bump is the time to move on.

Shipping code for IE8 is **irresponsibly** because there are no security fixes for this b

[2016-10-03 20:00] daniele-zurico opened #3090 "Webpack2 angular2 npm link"
## **BEFORE YOU SUBMIT** please read the following:
If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a bug report**
**I'm submitting a feature reques

[2016-10-03 20:01] #3090 closed

[2016-10-03 20:13] drphelps opened #3091 "Multicompiler with multiple output paths breaks WDS"
**I'm submitting a feature request**

**Webpack version:**
2.x

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
Currently, a Multicompiler instance with a different `output.path` specified for each config will boil the `outputPath` property down to a "common" path. I'm referring to this block of code https://github.com/webpack/webpack/blob/547295ca0e91dd5bb2c446e2df19c88

[2016-10-03 21:59] leebenson opened #3092 "Tree shaking not working in 2.1.0-beta.25"
**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.25

**Please tell us about your environment:**
macOS Sierra 10.12.1 Beta

**Current behavior:**

Tree shaking doesn't seem to be working. In the 901kb file that's generated in my live production (obviously more code than is shown below), a search on the generated bundle reveals the `youshouldnevereverseethis` string in the source cod

[2016-10-03 22:04] Lemon-King commented on #2131
No need to install it locally, just link the globally installed package to your project. This will make updates far simpler.
npm i webpack -g; npm link webpack --save-dev

[2016-10-03 22:07] mmmeff commented on #1599
Whatever this flag is doing, setting `__dirname: true`fixed it for me.

[2016-10-04 00:05] nodesocket opened #3093 "Provide underscore plugin breaking in IE 10"
Using the `ProvidePlugin()` works with Chrome, Safari, and Firefox. However when I test in IE 10, I am getting a syntax error.

**webpack.config.js**

[code]

**my-lib.js**

[code]

[2016-10-04 00:16] nodesocket commented on #3093
Arggg nevermind. I am idiot, using `const` in native JS code. I need more coffee.

[2016-10-04 00:17] #3093 closed

[2016-10-04 00:23] zhaoshengjun commented on #3045
@NejcZdovc . Awesome! Will check once it's available.

[2016-10-04 00:48] alexortiz201 commented on #1785
Should this callback trigger on  all cases? or only if paused, running, or else?

[2016-10-04 01:16] jhnns commented on #2986
I will keep looking how this is related to the line I removed!

This is exactly why removing this line is a breaking change. You need to adjust the failing test cases, they should use `val-loader!...` instead of just using `val!...`

[2016-10-04 01:37] jumperchen commented on #3088
Yes, it's hard to reproduce this issue in a simple project, I will try to make a runnable example if possible.

In our case, the BranchB will be used, so the BranchA in the BranchB is still undefined, however, the workaround is to import the BranchA by using the following syntax
[code]

[2016-10-04 01:51] jhnns commented on #445
Sure :), just mention me in the PR.

[2016-10-04 02:11] Kovensky commented on #3091
The last time I checked `webpack-dev-server`'s config loading code, it actually just looked in the first config and ignored the rest.

[2016-10-04 03:48] jumperchen commented on #3088
This is a runnable project to reproduce this issue - https://github.com/jumperchen/webpack-issue
Please don't check the usage of the code whether is reasonable or not, it just shows up the issue only.

[2016-10-04 04:12] zhaoshengjun commented on #3092
I tried to replicate your issue, but there are so many missing pieces.
I recreated a repo based on the `file-to-import.js` and `main.js`, using a bare-bone `webpack.config.js` and it worked. You may check it [here](https://github.com/zhaoshengjun/wp-tree-shaking).

If you have a more complete repo to share, I can check it for you to see what's wrong.

[2016-10-04 04:51] amitava82 commented on #3089
Same here

[2016-10-04 05:21] MatthewKosloski commented on #1789
@silvenon Thank you for your quick responses and willingness to help me—really appreciate it!  Unfortunately, Webpack is not easy to get up and running the way you want.

I figured out how to solve the duplicated code problem.  All I did was install a Webpack plugin called [optimize-css-assets-webpack-plugin](https://www.npmjs.com/package/optimize-css-assets-webpack-plugin).  This minifies CSS fil

[2016-10-04 07:30] silvenon commented on #1789
It won't end up in the `bundle.css` because this is the loader you're using for CSS:

[code]

Normalize should end up inside `<style>` tags on your page, please check if that happened. Because you're using CSS Modules, you'll want better control over which stylesheets are processed as CSS Modules and which aren't. I had this problem as well and this is what I've come up with, I modified it accordi

[2016-10-04 07:58] Martin-Wegner commented on #2644
You can't use the DedupePlugin with wbepack2 and Angular 2 until https://github.com/webpack/webpack/issues/2644 is solved.

[2016-10-04 08:25] zamb3zi commented on #815
I'm having a problem getting `watch-run` to work. If I create a plugin as follows, the callback gets called but webpack does not continue packing. What am I missing? Thanks.
[code]

[2016-10-04 08:32] zamb3zi commented on #815
Ah never mind, it's an async method, so:
[code]

[2016-10-04 09:04] antoinerey commented on #3089
Same here

**Webpack version:**
1.13.2

**Please tell us about your environment:**
OSX 10.12 Sierra
Node v6.2.2

[2016-10-04 10:54] pksjce commented on #3081
@MarkusKramer @bebraw  - Tried to run npm test on master. Throws an error at
`Error: Cannot find module 'webpack/lib/removeAndDo'`
Any idea if I'm missing something.

[2016-10-04 12:23] Kovensky commented on #1750
This is still the case in beta.25.

While webpack 2 will, correctly, not re-export any of the unused top-level re-exports, the `__webpack_require__` calls are left in. While this will, at an absolutely pedantic way, keep correctness as all the side-effects of the modules (such as requiring other modules and calling their functions) will still happen, it is not deletable by uglify ([the entry point

[2016-10-04 12:59] zhaoshengjun commented on #3081
I ran into this issue before. That time is because I run `npm link` before I ran the tests. The issue is `npm link` will create the system link into other places where webpack are used. But it forget to create a system link in the current directory.

You may try to create/copy a system link in current webpack source code directory and see how it goes.

[2016-10-04 15:56] khronic commented on #711
Hey guys just wondering if there is any new update on this item?

[2016-10-04 16:14] iamdustan opened #3095 "CSS Modules failing when used in conjuction with ExtractTextWebpackPlugin"
I’ve been working on upgrading our app to webpack 2 and everything worked swimmingly for a while.

Before @TheLarkInn pointed me to http://webpack.js.org/how-to/upgrade-from-webpack-1/ we were 90% working with the old `module: {loaders: [...]}` format using `css-loader?modules` and the ExtractTextWebpackPlugin.

The 10% was configuring our stylus plugin with autoprefixer since polluting the top le

[2016-10-04 16:26] TheLarkInn commented on #3095
@jhnns do you think you'd be able to help me with this one. If we need to move it to `webpack/css-loader` or `webpack/extract-text-webpack-plugin` we can.

[2016-10-04 17:40] iamdustan commented on #3095
Some snippets:

**Using `{loader: css-loader: options: {...}}`**

[code]

inline: ok.
extracted:

[code]

-----

**Using `{loader: css-loader: query: {...}}`**

Dev: ok
Prod:

[code]

[2016-10-04 18:08] kevinSuttle commented on #2945
But what about within the webpack.config.js file itself?

e.g.

Webpack 2 "supports ES6 modules", but you cannot `import` or `export`.

[2016-10-04 18:23] iamdustan commented on #3095
Some progress: https://github.com/iamdustan/webpack-2-extract-css-modules-repro/commit/adec7250b92f90b4117118458df206cfed283507

tldr; using the webpack 1 module resolve format (`loader` instead of `use` and `query` instead of `options`) gets the world working.

Now onto adding Stylus into the mix and seeing if I can keep it working with the other tools. 💪

[2016-10-04 18:34] 9gix opened #3096 "Watch mode doesn't track dependencies of modules resolved from the `resolve.root`"
**I'm submitting a bug report**

**Webpack version:**
1.12.x

**Environment:**
Linux

**Current behavior:**

The watch mode (`webpack --watch`) doesn't track dependencies which modules are resolved from the `resolve.root`.

For example:

    // File: webpack.config.js
    module.exports = {
        resolve: {
            root: ['./projectA/assets', './projectB/assets/'],
        },
        entry:

[2016-10-04 18:37] 9gix commented on #3096
I believe this is related problem. If we set the `entry` as a module resolved over the `root`, any changes in `app1.js` will not be tracked. I'm not sure if this is a bug or an expected behavior of root resolved module.

    // File: webpack.config.js
    module.exports = {
        resolve: {
            root: ['./projectA/assets', './projectB/assets/'],
        },
        entry: 'app1',
    }

[2016-10-04 18:47] gyandeeps commented on #2096
I was thinking this would be good issue to work on (to get my feet wet with webpack code base).  Can anyone give me a good starting point for this issue.
Thanks.

[2016-10-04 19:35] rubencodes opened #3097 "console.warn is not a function"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
macOS Sierra

**Current behavior:**
log-apply-result.js: Uncaught TypeError: console.warn is not a function

**Expected/desired behavior:**
Webpack should either use console.error/console.log, or polyfill console.warn when not available. Or Google Chrome should implement console.warn [as their

[2016-10-04 20:28] joshfarrant commented on #2797
Hi all! I'd just like to throw my two cents in regarding the config file.

The list of available config options is already quite long, and I'd imagine that it's only going to get longer. In itself this is great; more config = more flexibility = happier developers. The more options we have, however, the easier it will be to make mistakes when adding new properties.

My suggestion is that Webpack sh

[2016-10-04 20:33] thunderkid commented on #1914
Having the same problem running `webpack` via `webpack-stream` in `gulp`. I use `gulp.watch` to rerun on code changes, which then just runs
[code]
I'd have thought this would run webpack from scratch each time, but after 5 or so builds I get the out of memory error and have to rerun my gulp file.

[2016-10-04 20:51] andywer commented on #2797
Hey there. A short, opinionated view on web config from me, too.

As a webpack user I think in dev features like *HMR*, *Babel*, *CSS Modules*, *Postcss plugins*. The webpack config instead is sliced diametrically to this: Loaders, plugins, entry points and many more. So in order to get HMR, for instance, which only affects one type of my assets (JS code), I need to edit multiple places: *dev serv

[2016-10-04 21:35] IAMtheIAM commented on #3066
@Kovensky Thanks man! That fixed it/

[code]

[2016-10-04 21:39] IAMtheIAM commented on #3066
One more Question: When should we use resolve.modules vs resolveLoader.modules?

[2016-10-04 21:50] getsnoopy commented on #2161
It seems like this has to do with how `CommonsChunkPlugin` is coded (at least in version `1.13.1`): if the chunk was defined in the entry chunks list, it will not make it into an initial chunk (without an entry point that requires all the include modules); if the chunk was not defined, then it will make it an initial chunk.

I have a similar problem, but with multiple commons chunks. I have the fo

[2016-10-04 21:54] alteredtastes commented on #1584
Helpful npm package for this issue. Solved it for me using zsh.
https://www.npmjs.com/package/add-local-binaries-to-path

[2016-10-04 22:26] hkrutzer commented on #3097
[Chrome does have console.warn](https://developer.mozilla.org/en-US/docs/Web/API/Console/warn)

[2016-10-04 22:27] MatthewKosloski commented on #1789
Thank you for all your help, @silvenon! I adopted the "two loader approach" to match the files with the desired loader.  You were right about Normalize being rendered inline, too. Didn't catch that!

# **TL;DR**

Thank you!  If you'd like to see what I did, check out my [repository](https://github.com/MatthewKosloski/webpack).

# **Long explanation**

_Here is a brief summary of my new project set

[2016-10-04 22:31] rubencodes commented on #3097
So this is weird, I was able to use console.warn outside of my localhost but not in. Looks like this might be a Chrome issue...

[2016-10-04 22:47] #3097 closed

[2016-10-04 23:06] chungtinhlakho commented on #2180
anyone ever got a solution for this?

[2016-10-05 01:45] mbifulco commented on #1468
Not yet, unfortunately :/

[2016-10-05 04:34] f0rr0 commented on #2945
@kevinSuttle try renaming it to `webpack.config.babel.js` and make sure you include `babel-register` in your project.

[2016-10-05 07:58] iDams commented on #2986
Got it, thanks!

[2016-10-05 08:04] 9gix commented on #3096
Apologize for my mistake. This is not a bug. As already mentioned in the [reference](https://webpack.github.io/docs/configuration.html#resolve-root) itself, I must pass the absolute path instead of relative path in the `resolve.root`

[2016-10-05 08:04] #3096 closed

[2016-10-05 08:19] andywer commented on #2797
PS: After having a night's sleep...

I like @joshfarrant's proposed warning on unrecognized options. Would be a helpful feature, but suggesting the right property name might be very complex due to the deeply nested objects.

It's probably **the major problem** of today's webpack config that it looks like the under-the-hood-workings of webpack itself. This is the reason why it feels so unintuitive

[2016-10-05 09:21] Kovensky opened #3098 "`import()` support in webpack 2"
Domenic's [`import()` proposal](https://github.com/domenic/proposal-import-function) is, as of last week, [stage-2](https://github.com/tc39/proposals/commit/0a134c8), and it seems it is more promising to support that than to support the already replaced `System.import`.

The problem, though, is that that requires parser support. Having `import` followed by a `(` token is an early error in acorn...

[2016-10-05 09:38] jhnns commented on #3095
I've cloned the repo and everything is working. Is this resolved? What was the issue? Do we need to add something to the docs?

[2016-10-05 10:07] jhnns commented on #2684
We should still allow to read from the webpack config to allow sane defaults. But I agree that it is good practice to make it overwritable.

[2016-10-05 11:02] michelgotta commented on #3050
Hi @zhaoshengjun and @adminfyy

There is still a error concerning the `template.md` of the `code-splitted-css-bundle`:

Line 32:
# js/style.css

[code]

There is no `js/style.css` for this example, maybe the whole block doesn't make sense here (Maybe copy/pasted from somewhere else) and could be removed? After removing this part the `npm run build:examples` or `node buildAll.js` is doing fine. Cou

[2016-10-05 11:09] lciolecki opened #3099 "Problem with watch on Vagrant"
Hi!

I use webpack 2.1.0-beta.20 verson in yo generator: generator-fountain-webapp. Everything works fine on my local PC, but when I run this on Vagrant then webpack doesn't watch propely. I have added in config:
  watchOptions: {
    poll: true
  }
but this doesn't change anything. It's look like webpack 2 has problem with watch on Vagrant. Mayby anybody has had the same problem?

[2016-10-05 12:20] zhaoshengjun commented on #3050
I think the reason might be the timing. The `buildAll.js` is using `child_process` to run the webpack CLI, which will generate the output files in `js` folder. That's why some of the templates are using `{{js/filename}}` . But sometime it may return early and the output files are not there yet. Hence it causes the error.

If you don't mind, will you try to run the `node buildAll.js` again to see i

[2016-10-05 13:39] tizmagik commented on #1574
@ctrlplusb are you able to share your recipe?

[2016-10-05 14:20] wegry commented on #2908
@bitttttten Mind posting your webpack.config? I'm running into a similar issue with Webpack 2's 25th beta. It seems like the file-loader is the only loader not properly emitting though.

[2016-10-05 14:27] ctrlplusb commented on #1574
@tizmagik - I plan to add this to my open source react [starter kit](https://github.com/ctrlplusb/react-universally) soonish.

[2016-10-05 14:31] shairez opened #3100 "Getting undefined when trying to import cyclic dependencies"
**I'm submitting a bug report**

**Webpack version:**
The code example is at `1.12.13`
but it was tested also at `2.1.0-beta.22`

**Please tell us about your environment:**
Linux

**Current behavior:**
Getting `undefined` when trying to load cyclic es6 module dependencies

**Expected/desired behavior:**
Should not get undefined

**If the current behavior is a bug, please provide the steps to repro

[2016-10-05 14:31] sseletskyy commented on #2145
Thanks @ruscoder, using SourceMapDevToolPlugin made my day
[code]

[2016-10-05 14:49] trueter commented on #1574
@AlexGalays I posted posted some slides back in April regarding configuration of HappyPack and DLL Bundles with Webpack 1.
http://www.slideshare.net/trueter/how-to-make-your-webpack-builds-10x-faster
You can find the "recipe" here: https://gist.github.com/trueter/0e861403e59a9e27a476f3ad7ada1a89

[2016-10-05 15:11] stoikerty commented on #1574
Looks like an obvious good addition for any starter-pack or webpack-related npm-package such as [create-react-app](https://github.com/facebookincubator/create-react-app) or [my own `dev-toolkit`](https://github.com/stoikerty/dev-toolkit) /shameless-plug.

Just wondering if this works well on windows at all, has anybody tried HappyPack on a windows-box by any chance?

[2016-10-05 15:12] tomascharad commented on #3042
+1

[2016-10-05 15:21] hellpf commented on #3089
Same here

[2016-10-05 15:41] EvNaverniouk commented on #3042
For me, I discovered that the culprit is `'webpack/hot/dev-server'`. If I remove that item from the entry list, the rest of the array items work fine.

[2016-10-05 15:43] wegry commented on #2908
We're using Node 6.7 and webpack@2.1.0-beta.25.

[code]

[2016-10-05 16:47] stocks29 commented on #1856
We were having the same problem. We were able to work around it by including the `NamedModulesPlugin` in our config.

[2016-10-05 18:57] Skilgarriff commented on #3042
Having this issue as well :/

[2016-10-05 19:16] faceyspacey commented on #2145
@ruscoder 's solution works, but build speed is almost half as fast.

You can adjust the options here:

https://webpack.github.io/docs/list-of-plugins.html#debugging

to get faster performance. The last 3 (*module, columns, lineToLine*) bring build speed back to where it was, but the line numbers are off. I think if you configure `lineToLine` and the top `test`, `exclude`, `include` options you sh

[2016-10-05 20:26] dmitriid commented on #1245
A more relevant question would be: if I'm not a webpack/plugin developer, there's really no value in these errors. As a devloper I want to see one single error: what happened:

- A loader failed to parse file X at line Y expecting Z.
- webpack failed to find module M referenced from module N even though it looked at directories O, P and Q
- etc.

This entire stacktrace, and loaders' stacktraces an

[2016-10-05 21:03] pdillon commented on #2390
@bebraw Check out at https://github.com/pdillon/webpack-bail-example. Ran into this issue where the babel loader was pulling in files outside of the include path but Uglify bombs out.

[2016-10-05 21:06] TheLarkInn opened #3101 "Include line and loc for configuration validation"
**I'm submitting a feature request**

**Webpack version:**
1.10.x/2.x

**Current behavior:**
We currently don't pass line numbers in the config validations errors.

**Expected/desired behavior:**
 I observed a colleague struggle to find the properties, and suggested this as a feature. I think this would be pretty nice to have.

Would make a great "Help Wanted" PR

[2016-10-05 21:55] gyandeeps commented on #3101
I have never worked on webpack before, can you please provide/guidance on where to start for this particular issue? This would help me to get started.

[2016-10-05 22:15] TheLarkInn commented on #3101
Sure absolutely!!!

@gajus @andreypopp would you also be willing to assist and provide guidance?

[2016-10-05 22:17] TheLarkInn commented on #3101
So I haven't personally worked on this part of the code but filename alone appears to be highly relevant. https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsValidationError.js

[2016-10-05 22:25] TheLarkInn commented on #3101
@gyandeeps let me know if you get stuck anywhere, and I'd this like you can open the PR if you get stuck and we can help just ping us.

[2016-10-05 22:31] budlight commented on #2254
👎

[2016-10-05 23:36] TheLarkInn commented on #3099
I believe you may be missing the aggregateTimeout property as well to add to your bundle.

[2016-10-06 03:53] tysonnero commented on #2145
```devtool: '#inline-source-map'``` is working for me at least in Chrome Canary on Mac.

[2016-10-06 05:22] Kovensky commented on #3100
That is correct behavior.

1. `main.ts` imports `app.module.ts`
2. `app.module.ts` imports `second.module.ts`.

  `app.module.ts`'s module record has the `AppModule` symbol, but as no code can run until the `import`s finish running, it's `undefined` for now.
3. `second.module.ts` imports `app.module.ts`.

  This is ok, and `second.module.ts` receives `app.module.ts`'s module record, but `app.modul

[2016-10-06 06:33] GianlucaGuarini commented on #3092
I have a similar problem. This is my [webpack config file](https://gist.github.com/GianlucaGuarini/ff840d99867e406215b6c390ed1547a6) and I realized it generates a bundle 3.2MB (1.3MB minified) big. I don't understand why in my output code there seem to be core node modules like `Buffer` or `process` (https://github.com/webpack/node-libs-browser) even if they never were required. This issue does no

[2016-10-06 06:57] sahat commented on #1403
Seems like a lot of work just to get ES6 `import/export` working.

[2016-10-06 07:39] leebenson commented on #3092
I'm pushing a repo that has my exact webpack config, that you can build locally and see that tree shaking isn't working. Will have it up in a few mins and post here.

[2016-10-06 07:50] leebenson commented on #3092
Here it is: https://github.com/leebenson/wp-tree-shaking/tree/master

Notes:

- Run `npm i` then `npm run build` locally to build.

- I've included the `dist` folder to show you the same output on my local machine. Search for `youshouldnevereverseethis` in the `dist/public/bundle.js` file, and you'll find it - this should never have landed because it's not referenced by `src/main.js`.

- `npm run

[2016-10-06 08:20] Kovensky commented on #3092
@leebenson you are not giving ES6 modules to webpack; you are giving commonjs transformed by babel. https://github.com/leebenson/wp-tree-shaking/blob/master/dist/server.js#L124-L126

Make sure to use `"presets": [ [ "es2015", { "modules": false } ] ]` in your `.babelrc`.

[2016-10-06 08:26] leebenson commented on #3092
@Kovensky - that's not the problem.

`.babelrc` is only there to transpile `webpack.config.babel.js` - there's a [separate `query` for babel in this file](https://github.com/leebenson/wp-tree-shaking/blob/master/webpack/client.js#L17-L28) that has the correct es2015 loader syntax.

Ignore the `dist/server.js` loader too - I'm not trying to transpile that down to es2015 (it's running through Node6

[2016-10-06 08:41] leebenson commented on #3092
I saw your edit after posting. **This actually fixed it.** Genius! Thanks @Kovensky

[2016-10-06 09:02] zhaoshengjun commented on #3092
Just learned a new trick :smile:

[2016-10-06 09:56] lciolecki commented on #3099
Realy, I don't know what I do wrong.. I set:
  watchOptions: {
    poll: true,
    aggregateTimeout: 100
  }

On local environment everything works fine, but on Vagrant watch option still doesn't work..

[2016-10-06 09:56] 7brend7 commented on #1315
I've used only [webpack-md5-hash](https://github.com/erm0l0v/webpack-md5-hash) plugin and looks like it solves the issue: the hash of common bandle wasn't changed.

I've separated manifest file to check it content and it has valid hashes every time I update some js file... but hash of manifest file doesn't changed.

[2016-10-06 10:28] leebenson commented on #3092
Since we're on the topic of tree shaking, is there any way to convert CommonJS into ES6?

98% of my resulting bundle is pulled from older NPM modules that use `module.exports`, so the benefits of tree shaking are unfortunately limited to a few lines of code.

Rollup has [this plugin](https://github.com/rollup/rollup-plugin-commonjs); is there anything similar in the webpack world?

[2016-10-06 10:32] maiis commented on #3092
@leebenson I was wondering the same thing, and found this issue this morning: #2372
With this trick my build contains 553 chunks instead 800+ earlier.

[2016-10-06 10:34] leebenson commented on #3092
great tip, thanks @maiis - I'll give it a shot.

[2016-10-06 12:03] kutyel commented on #1785
@jantimon is this already fixed or can I work on it? Happy #hacktoberfest!

[2016-10-06 12:35] jantimon commented on #1785
It's not fixed yet

[2016-10-06 12:41] kutyel commented on #1785
Ok perfect, so what is the expected behaviour, what else needs to be done? I am willing to work on this 😉

[2016-10-06 13:25] TheLarkInn commented on #3099
cc @d3viant0ne

[2016-10-06 13:27] TheLarkInn commented on #3099
@lciolecki have you submitted a question on Stack Overflow or reached out on our gitter? There is not enough information for us to know what it's causing your problem.

[2016-10-06 16:40] TheLarkInn commented on #3098
@domenic

Have any of the parsers started working on this that you are aware of? Either that, or maybe I can work with @RReverser and friends to create an extension or grammar plugin (if even possible).

[2016-10-06 16:41] domenic commented on #3098
I am not aware of any parser support, no.

[2016-10-06 17:06] franleplant commented on #1256
Hi! Any updates?

[2016-10-06 17:35] TheLarkInn commented on #3098
Alright, thanks. I'm going to at-least file an issue with ternjs/acorn and then see if I can get the momentum support for the `grammar` type.

[2016-10-06 18:05] lciolecki commented on #3099
@TheLarkInn no, I haven't submited any question on Stack Overflow yet. But I was looking for similar problems..

There https://github.com/lciolecki/fountainjs-example I have put an example fountainjs webapp with Vagrant. You can find there information about installation and configuration all enviroment.

**1. Local enviroment**
Go to project path run `npm install` and next `gulp serve`. When You d

[2016-10-06 19:44] TheLarkInn commented on #3098
https://github.com/ternjs/acorn/issues/441

Okay it appears that we cannot implement this as acorn will wait until stage-4.

[2016-10-06 20:08] ericclemmons commented on #2797
@andywer That was my take as well and what my experiment was aiming to address: _what_ you wanted without worrying about _how_.

The makes Webpack incredibly powerful (and what I think will provide longevity to the project) is that it's very much about the _how_ to accomplish features, which invariably require tweaks depending on how your specific project needs it.

If it were feature based, Webpa

[2016-10-06 20:32] hzitoun commented on #2059
I had the same issue. Resolved that by downgrading to node v5.12.0.

[2016-10-06 21:23] pke commented on #520
@dkreft I agree. Everything should just go into `dependencies`. That way one would not have to worry what `NODE_ENV` points to when calling `npm i`.

[2016-10-06 21:46] dschissler commented on #520
@dkreft @pke You guys are right that @dustingetz doesn't address that big issue but you're solution doesn't address an issue that I will have.  So I have a PHP framework and I'm using Webpack to build front end resources as explained above.  Then eventually I will use a production build to run some Nodejs websocket tech and I'd rather not download all of the webpack stuff for this purely Nodejs pr

[2016-10-06 23:46] guiomie commented on #539
@trzenaro I think this is something youd want to modify in the anglar-cli code.

Take a look at this file, it has a devTools property -> https://github.com/angular/angular-cli/blob/5431abc8457b436e68799f481d0d40c4cdcb29e2/packages/angular-cli/models/webpack-build-development.ts

[2016-10-07 00:21] TheLarkInn commented on #2797
I think in terms of features: more mature plugins (yes write plugins that set config values and call other plugins) could potentially fix this. However as @ericclemmons stated the edge cases && interoperability with other plugins poses a large challenge.

[2016-10-07 01:16] Kovensky commented on #3098
A possible hack could be to have a separate parser (even if custom) that runs first, then only looks for function-like imports and replaces them with, say, a `__webpack_import__` token that can then be looked for in the acorn step.

Function-like import will not move to stage-4 on its own without browsers or build systems like rollup and webpack actually supporting it.

[2016-10-07 01:18] gyandeeps commented on #3101
I started looking into this. What i found was inside `validateWebpackOptions` module we use `ajv` module to validate the options. Based on quick investigation, I dont see any line numbers returned by `ajv` module.

@gajus Do you have any idea on how to get the line numbers of the error or its not possible as of now?

[2016-10-07 06:05] TheLarkInn commented on #3089
Hmm. I have noticed that everyone who reported is on macOS 10.12. Coincidence? Can anyone else reproduce this on a different OS?

[2016-10-07 06:06] TheLarkInn commented on #3091
Maybe we should move this over to WDS. cc @SpaceK33z

[2016-10-07 06:21] amitava82 commented on #3089
Same on Windows 10.

[2016-10-07 07:27] bebraw commented on #2390
@pdillon Thanks. I added this to webpack 2 work. Given there's a test case, it should be easier to figure out the root cause.

[2016-10-07 08:10] SpaceK33z commented on #3091
Yeah it should be moved to the dev server repo.

[2016-10-07 08:22] michael8090 commented on #950
I'm facing the same problem even with `OccurenceOrderPlugin` ( by the way, why is it renamed to `Occur**r**enceOrderPlugin`....) and `recordsPath`. I get different chunk hashes on different machines.......

And I've also found that the chunk hashes before and after uglify are the same.... which indicates webpack calculates the hash before uglify

[2016-10-07 08:28] michael8090 commented on #1479
Update: after using `webpack-md5-hash` the hashes for the same content are the same now. But the content of the bundles on different machines are different.... It looks like the `OccurenceOrderPlugin` doesn't work, as the module orders are not the same. I also tried `recordsPath` but with no luck.

<img width="587" alt="screen shot 2016-10-07 at 4 27 28 pm" src="https://cloud.githubusercontent.com

[2016-10-07 08:37] iDams commented on #2986
Hey, I submitted a PR.

All tests passed on my local but travis-ci on Linux with node.js 5 failed.
<img width="995" alt="capture d ecran 2016-10-07 a 10 28 44" src="https://cloud.githubusercontent.com/assets/1591702/19183668/b05f18d0-8c79-11e6-88ff-f83c6987b626.png">

Do you have any advice on how to debug this?

I've seen couple of options, VM, Travis Build, Vagrant or with a docker image.
I'm on

[2016-10-07 08:43] SpaceK33z commented on #3022
I'm on b25 too but it seems to work. Tested with this entry config:

[code]

@phaistonian, can you share what your `entry` config looks like?

[2016-10-07 08:45] phaistonian commented on #3022
@SpaceK33z of course.

Here it is:

[code]

Perhaps, the issue is that I am importing the entry - as opposed to declaring directly into config.

[2016-10-07 08:48] MilosRasic commented on #1079
It's working as expected, which is processing your generated chunks rather than source files. If you want to ignore only a few modules, extract them into a separate chunk and exclude that one from UglifyJsPlugin.

[2016-10-07 08:49] SpaceK33z commented on #3022
@phaistonian interesting, that looks like the same structure as my config. How do you add that module to your `entry` config?

[2016-10-07 08:53] phaistonian commented on #3022
There :)

![image](https://cloud.githubusercontent.com/assets/796530/19184182/96b5ff1a-8c84-11e6-94b2-cd0fc2c7cd7a.png)

[2016-10-07 08:57] SpaceK33z commented on #3022
@phaistonian, hm even that seems to work for me. Just debugging here, but are you sure you have b25? If you look in `node_modules/webpack/package.json`, in the `_id` property, you can see what version is actually installed.

[2016-10-07 08:58] phaistonian commented on #3022
I am not on b25 since I can't go there because of this issue.

Downgraded to b22.

[2016-10-07 09:03] SpaceK33z commented on #3022
Yeah okay, but did you check if you were actually on b25? Sorry for doubting you, but npm can sometimes ignores the new version if you do a `npm install`. Only asking this because I seem to have the exact same config structure and it works, sorry.

[2016-10-07 09:07] phaistonian commented on #3022
@SpaceK33z More than once, but let me do it again :)

Bundling ...

[2016-10-07 09:11] phaistonian commented on #3022
Here

![image](https://cloud.githubusercontent.com/assets/796530/19184722/1d4c415e-8c87-11e6-8b0a-7d2bfe0a2a21.png)

[2016-10-07 09:17] SpaceK33z commented on #3022
Very weird. I even copied your config for `entry` (it doesn't matter that the files don't actually exist on my disk, it will validate before that) and it still works.

You did check `node_modules/webpack/package.json` and verified it had `"_id": "webpack@2.1.0-beta.25"`, right?

[2016-10-07 09:18] phaistonian commented on #3022
I am on b25.

![image](https://cloud.githubusercontent.com/assets/796530/19184958/34ff5538-8c88-11e6-9191-1d20ccc855fb.png)

[2016-10-07 09:22] phaistonian commented on #3022
I think I got it .

(wtf, btw)

[2016-10-07 09:23] phaistonian commented on #3022
yes.

[code]

and using the newEntry did the trick.

This is (far) beyond me.

[2016-10-07 09:53] phaistonian commented on #3022
The only theory I have is that `entry` is reference and somehow it's mutated when Webpack does the bundling.

Thing is, using `entry: Object.assign({}, entry)` did not the trick as expected.

Fun times.

[2016-10-07 10:11] lavezzi1 opened #3104 "Why bundles are so large?"
Hello community.

I'm doing multiple page app and using vue.js components for my UI so my output file structure looks like:

[code]

When I created more then 15+ pagesI was shocked that every js file (like page1.js, page2.js)  weighs about 1 - 1.5 Mb.

My webpack.config file:
https://gist.github.com/lavezzi1/3b599b8e2adec9561e4bf1f3dffb5505

My package.json file:
https://gist.github.com/lavezzi1/8

[2016-10-07 10:20] refaelos commented on #1468
@mbifulco if you find anything I'd love to see that as well .. :disappointed:

[2016-10-07 10:52] dmitry commented on #1479
@michael8090 I suggest you to try out new webpack version, could be there are fixed this issue.

[2016-10-07 11:09] michael8090 commented on #1479
@dmitry Do you mean webpack2 or the newer minor update of webpack1?

[2016-10-07 11:36] TheLarkInn commented on #3098
That would work.

[2016-10-07 12:08] michael8090 commented on #1479
@dmitry Webpack2 requires Promise pollyfill on old browsers, so it's not an option for our business.

[2016-10-07 12:13] jonrimmer commented on #3022
I was getting the same error. The problem turned out to be a duplicate entry in one of my arrays. I was only able to figure it out by adding some logging to ```WebpackOptionsValidationError.formatValidationError``` to log the underlying error object.

It seems like  the problem is webpack reports the top-level error from the schema validation, but not child errors which include the specific detail

[2016-10-07 12:15] dmitry commented on #1479
@michael8090 I thought about webpack2, major version. What kind of issues do you have when webpack2 is used along with promise pollyfill on older browsers?

[2016-10-07 12:17] phaistonian commented on #3022
@jonrimmer Could you point a how-to on the logging part?

[2016-10-07 12:25] cvle commented on #1949
@whitecolor @troutowicz I refactored my code and put the relevant code into a separate repository and published to npm.

Here is what I use to include initial chunks to the server response:
https://github.com/wikiwi/webpack-initial-chunks.

[2016-10-07 12:37] jonrimmer commented on #3022
@phaistonian I edited ```node_modules/webpack/lib/WedpackOptionsValidationError.js``` and added ```console.dir(err)``` at line 24 (which should be the beginning of the ```formatValidationError``` function declaration).

It logs a pretty complicated object, but I noticed it has a ```children``` array property that contain what look like sub-errors from the validator.

[2016-10-07 13:19] cvle commented on #1949
Here it is: https://github.com/wikiwi/webpack-content-chunks

[2016-10-07 13:38] darkylmnx opened #3105 "Can't access "process.env" variables in index.html or other html files"
How can i get / access webpack ENV (process.env) variables during process time (not runtime in browser) ? the webpack.DefinePlugin(...) doesn't seem to work in html files, i don't have access to ENV variables in the main index.html

any solution ? is it normal ?

[2016-10-07 14:02] TheLarkInn commented on #3098
I suppose we would definitely want that to be a post loader wouldn't we.

[2016-10-07 14:07] pahund commented on #2793
Is there someplace that explains how to use the scope parameter correctly? :-)

[2016-10-07 14:29] troutowicz commented on #1949
@cvle Looks like an interesting approach! But I am no longer lazy loading chunks due to perf issues.

[2016-10-07 16:08] p-decoraid opened #3106 "Consecutive SyntaxErrors are not reported by webpack --watch"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
Linux

**Current behavior:**
1. Run  `webpack --watch`
2. Put a syntax error in a source file. Webpack will report that error.
3. Change the source file to have different content, but still have a syntax error. Webpack will not report the new error.
4. Fix all syntax errors in the file. Webpack

[2016-10-07 16:15] andywer commented on #2797
@ericclemmons You mentioned a lot of good points, but I think the webpack config could still be straightened up to some degree without loss of configuration capabilities, just by sticking to a small set of concepts consistently.

To give you an example: Let's say every functionality of webpack is provided by a *plugin*, even the core functionalities. So you configure a set of plugin, plus your loa

[2016-10-07 16:18] kesne commented on #3098
I'm working on implementing a simple version of this that transforms import function calls to the require.ensure equivalent.

The issue I'm having now is linting syntax errors. So from what I can tell it'll require a PR to Babylon, a babel plugin to enable the new syntax, and requiring usage of babel-eslint.

[2016-10-07 16:18] bebraw commented on #2797
@andywer I agree that decreasing the amount of concepts to learn could be a worthwhile effort. Incidentally there's `webpack.SourceMapDevToolPlugin` already but not a lot of people know it exists. 😄

[2016-10-07 16:26] andywer commented on #2797
PS: Independent from that, the loader `test` regex really bugs me sometimes. It makes composing the webpack config from smaller config snippets nearly impossible.

Just an idea: Having a separate `file type regex => mime-type` mapping (given a set of sane default values most people will probably never have to touch it) and using the MIME type in the loader config might work well:

`loaders: [ { ty

[2016-10-07 16:30] bebraw commented on #2797
@andywer Have you seen [concord](https://github.com/webpack/concord#package-configuration)? Mime based mapping might be in the cards. Not for webpack 2, though, but we'll see after that.

[2016-10-07 16:35] jrgleason commented on #959
I am getting the same thing. I have a coffee file with the following..

webpack compiles fine but when I run I see...

Both run fine with webpack on their own and I have another project that runs fine as well

[code]

App is available here https://github.com/jrgleason/coffee-ng1-ts-ng2-demo/tree/STEP_3

[2016-10-07 16:36] nertzy commented on #2526
This looks like a duplicate of #250

[2016-10-07 16:41] andywer commented on #2797
@bebraw No, but I'll check it out :)

[2016-10-07 16:49] jrgleason commented on #959
In my case I couldn't have ng1 code and ng2 code in different chunks. If I put them in the same chunk it works fine. Could mine be a different issue?

[2016-10-07 16:56] richardscarrott commented on #3095
I too am seeing a similar issue:

[code]

With the following config:

[code]

[2016-10-07 17:08] trzenaro commented on #539
@guiomie
Thank you. That's what i needed. It solved

[2016-10-07 17:29] wcjordan commented on #3105
I'm assuming you're using something like HtmlWebpackPlugin since you reference process (build?) time, not runtime.  To work around similar issues, I've configured my plugin like:

`
Object.assign(pluginConfig, config);
return new HtmlWebpackPlugin({
    vendorsFilename: process.env.NODE_ENV === 'production' ? 'vendors.min.js' : 'vendors.js',
    inject: false,
    hash: true
});
`
or replace with

[2016-10-07 18:01] darkylmnx commented on #3105
@wcjordan well i thought this was more a bug than a question since
`
conf = {
  NODE_ENV: '"production"'
}

new webpack.DefinePlugin({
  'process.env': conf
})
`
gives access to NODE_ENV in any of the js file `src/` of the webpack project but not in html files.

With what you said above, can i access NODE_ENV in the index.html main file of the project ? it doesn't seem to be the case in mine

[2016-10-07 18:29] wcjordan commented on #3105
I don't think what you're asking is a bug nor a supported use case.  Webpack doesn't expect you to be exposing global variables for the main html file to access.  You could try making a "var" build using the [output.libraryTarget config option](http://webpack.github.io/docs/configuration.html#output-librarytarget) and exporting the desired values, but I'm not sure what the use case for that would

[2016-10-07 18:33] #3091 closed

[2016-10-07 18:36] SpaceK33z commented on #3091
See https://github.com/webpack/webpack-dev-server/issues/641

[2016-10-07 18:38] bebraw commented on #3105
Yeah, please re-open at Stack Overflow for more ideas. I would recommend looking into html-webpack-plugin.

[2016-10-07 18:38] #3105 closed

[2016-10-07 18:44] darkylmnx commented on #3105
The use case would be for exemple, adding an API KEY to a script src.

`<script src="https://api.google.com/maps.js?key={{ API_KEY }}"></script>`

Le 7 oct. 2016 20:29, "Chris Jordan" <notifications@github.com> a écrit :

[2016-10-07 18:56] cjwilliams commented on #708
Are there plans/desires to make non-zero exit codes standard? If so, should we not re-open this issue?

[2016-10-07 19:06] bebraw commented on #3105
html-webpack-plugin and a custom template can definitely do that.

[2016-10-07 20:37] bfricka commented on #3104
As far as I can tell your problem is that you don't have a commons chunk for the vendor code, so it's going to be included into each entry module.  Check out the docs on how to extract vendor code from modules into a shared vendor file: [CommonsChunkPlugin](http://webpack.github.io/docs/list-of-plugins.html#commonschunkplugin)

[2016-10-07 22:10] IAMtheIAM opened #3107 "Question: How do we create automated webpack build tests?"
I hope this is the right place for this question. Basically I'm wondering how can we automate the testing of our webpack builds, for both `webpack-dev-server` (dev mode) and `webpack` (production mode)?

I figure there should be some way to run a script, which then executes all specified wds/webpack builds, and checks for "exit code 0" - then it will say "all builds passed".

The reason is because

[2016-10-07 22:12] p-decoraid commented on #3106
Enhancement?

[2016-10-07 22:24] joevp commented on #2708
beta.25 appears to throw an error when passing an empty string to `resolve.extensions`

[2016-10-08 02:16] michael8090 commented on #1479
@dmitry I could not introduce the pollyfill just to make the content hash work...Not worth it.

[2016-10-08 02:21] michael8090 commented on #1479
Update:

It clearly has something to do with the path of the source code. As shown below, 'wtf-webpack', 'wtf-webpack-4' and 'wtf-webpack-5' has 'replace.eddb7ea40a020255062d.js' while 'wtf-webpack-2' has 'replace.73538f954096e7f818b2.js'...

<img width="1054" alt="screen shot 2016-10-08 at 10 04 22 am" src="https://cloud.githubusercontent.com/assets/2306105/19209625/dbf6316e-8d40-11e6-82ba-fd00ac

[2016-10-08 03:20] zhaoshengjun commented on #3107
If you simply just want to check if the npm script runs without error, that should be easy. It's link linting before you commit the changes. You can use git hook  `pre-commit` to run the npm script for you. Here's a article you can reference: http://elijahmanor.com/npm-precommit-scripts/

If you want to make sure the result of the builds are all functioning as expected, that's totally another leve

[2016-10-08 03:20] sokra commented on #3100
Working as specced

[2016-10-08 03:20] #3100 closed

[2016-10-08 05:56] guiomie commented on #539
@trzenaro  I modified the file with 'cheap-eval-source-map' and I don't see an improvement. Did you do something after the modification to the file?

[2016-10-08 06:10] diegohaz commented on #2148
+1 😭

[2016-10-08 07:07] caisah commented on #2708
@joevp I don't think you have to pass an empty string anymore. See this in [the new config example](https://github.com/angular/angular-cli/pull/2237/files#diff-14f7a27a1538756144b408294189f425L33).

[2016-10-08 09:06] shairez commented on #3100
Thanks @Kovensky

The original issue I had was with trying to use Angular's upgrade adapter, which actually uses a delay mechanism like you suggested.

I ran into this `undefined` situation with webpack but not with systemjs,
and I thought I could simulate it using a simple example but apparently not 😄

I'll create an example with the delay to demonstrate the real app I have, and the unexpected be

[2016-10-08 10:22] dmitry commented on #1479
I don't think it will be ever fixed in webpack 1, as the latest updates in webpack v1 were done in April.

[2016-10-08 10:22] fab1an commented on #1315
@bebraw I've read your post, but I've just added `manifest` to `names`. It works me like @kenberkeley says.

[2016-10-08 10:24] fab1an commented on #1315
@bebraw @kenberkeley Oh wait, no it doesn't, I get load errors.

[2016-10-08 10:26] fab1an commented on #1315
It seems like everyone here wants the same but there's no simple way to tell webpack :(.

[2016-10-08 11:07] sokra commented on #3088
I'm pretty sure it's an circular dependency issue.

[2016-10-08 11:07] sokra commented on #3088
And working as expected

[2016-10-08 11:08] sokra commented on #3088
See #3100

[2016-10-08 11:14] sokra commented on #3098
If it's possible I would like to have the `import()` instead of `System.import` in the webpack 2 release.

[2016-10-08 11:16] sokra commented on #3087
Does all browsers support concatenated source maps?

[2016-10-08 13:15] pdillon commented on #2390
@bebraw would it make sense for bail to map to the NoErrorsPlugin, and for the plugin to pass an error to the callback if compilation.errors > 0?

[2016-10-08 13:30] fengxinming opened #3108 "webpack_amd_define_arr is not defined"
Put jquery3 and other Javascript to make one of Javascript file，then I wrote its path to HTML file and opened it in Android before I catch code exception，It show me "webpack_amd_define_arr is not defined"

[2016-10-08 13:36] bebraw commented on #2390
@pdillon I'm not sure. I think we'll have to wait for Tobias to check this out to get the behavior right.

[2016-10-08 19:56] tj opened #3109 "Better error message for missing loader"
## Current behavior

Attempting to get webpack to work with Electron, but when you have a missing loader instead of saying it can't load "json-loader", you get:

Cannot resolve module 'json'

Which makes you think something is doing `require('json')` or similar, which is confusing.

## Expected/desired behavior

Some explicit message referring to a loader.

👊

[2016-10-08 19:59] tj commented on #2069
Anyone have real docs for how to get it working with Electron? I tried `externals: ['fs']` etc, but that compiles to the literal:

[code]

which just throws undefined

[2016-10-08 20:07] trzenaro commented on #539
@guiomie I forgot to mention that It didn't work when I tried to modify the file in the globally angular-cli module.
Take a look at the same file on your project tree
../your-angular-cli-project/node_modules/angular-cli/models/webpack-build-development.js

One more tip:
I'm using "eval" instead of "cheap-eval-source-map" because I had some issues while debugging. I don't know why the generated fil

[2016-10-08 20:12] HumanSprout commented on #2131
...until webpack releases an update that breaks something and you update globally none the wiser with only the local link to your global install

[2016-10-08 20:15] HumanSprout commented on #2131
@Lemon-King  wouldn't that cause problems if a future webpack update is non backwards compatible in a way that affects your build?

[2016-10-08 20:40] andreypopp commented on #3109
I think this is fixed in webpack 2 as `-loader` prefix was removed from there.

[2016-10-08 20:43] tj commented on #3109
oh shit I thought I was on 2.x, I'll close and re-open if it pops up again

[2016-10-08 20:43] #3109 closed

[2016-10-09 02:18] guiomie commented on #539
Thanks for the precisions. I tried with cheap-eval-source-map and eval in my local project node_module folder, and I'm still at around ~10s, maybe it's it my laptop that isn't strong enough.

[2016-10-09 02:30] kesne commented on #3098
I have PRs up to add `import()` syntax support to babylon, so it'll be possible to get linters working soon. Acorn still blocks the webpack parser though.

[2016-10-09 04:44] #2069 closed

[2016-10-09 07:53] timoxley commented on #1788
This silently breaks valid, working code. It should probably be labelled as a bug.

[2016-10-09 08:51] rafde commented on #3104
alternative to vendor code separation.
http://stackoverflow.com/a/38733864/6642256

[2016-10-09 08:55] jasan-s opened #3110 "Require.ensure does not generate separate chunks files"
I had posted this issue on [stackoverflow](http://stackoverflow.com/questions/39757297) over 10 days ago but the issue has not been solved.

**Webpack version:**
 ^1.13.2

**Please tell us about your environment:**
 Windows 7

**Current behavior:**
The build only generates app.js and vendor.js.  code splitting based on require.ensure() does not work. and doesn't generate separate chunk files.

**E

[2016-10-09 12:26] sokra commented on #3101
It's not possible. We validate an object not a file. There are no line information.

[2016-10-09 12:26] #3101 closed

[2016-10-09 12:28] sokra commented on #3079
Stale nested

[2016-10-09 12:28] #3079 closed

[2016-10-09 12:28] fengxinming commented on #3108
I have found a reason probably about strict mode，For example:
jQuery3:
// Edge <= 12 - 13+, Firefox <=18 - 45+, IE 10 - 11, Safari 5.1 - 9+, iOS 6 - 9.1
// throw exceptions when non-strict code (e.g., ASP.NET 4.5) accesses strict mode
// arguments.callee.caller (trac-13335). But as of jQuery 3.0 (2016), strict mode should be common
// enough that all such attempts are guarded in a try block.
"use

[2016-10-09 14:28] telekid commented on #3043
Preventing an empty string seems to run contrary to practices recommended by the new webpack documentation:

https://webpack.js.org/configuration/resolve/#resolve-extensions

Is the documentation outdated?

[2016-10-09 14:42] sokra commented on #1788
Everything behave as specced

[2016-10-09 14:42] #1788 closed

[2016-10-09 15:05] TheLarkInn commented on #3101
I was referring to situations where the config file is read (most common occurrence).

[2016-10-09 16:24] SpaceK33z commented on #326
Closing this very old ticket because this is now a feature request for WDS: https://github.com/webpack/webpack-dev-server/issues/350.

[2016-10-09 16:24] #326 closed

[2016-10-09 16:29] mdb255-pub opened #3111 "Initial call to require.context in webpack entry point is adding all matching files to bundle"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
Windows 10

**Current behavior:**
Calling e.g.,
`require.context('./app', true, /\.js$/);`
alone adds all .js files under ./app to the bundle

**Expected/desired behavior:**
I should need to require each one explicitly, e.g.
[code]

Please see https://github.com/mdb255-pub/webpack-poc/blob/mast

[2016-10-09 17:27] SpaceK33z commented on #2662
You should never use any `[hash]` thingy with dev-server. Aside from this issue, it also results in a memory leak because it will see each output file as a new file every time, so the in-memory files will get bigger and bigger.

In https://github.com/webpack/webpack.js.org/issues/26 I added a note that this should be documented.

[2016-10-09 17:27] #2662 closed

[2016-10-09 17:40] SpaceK33z commented on #1151
Closing this issue since this has become a dumping place of random issues with HMR.

HMR is still very difficult to setup. We are working on improved documentation around this. After that, we'll also start working to make it more easy to use.

[2016-10-09 17:40] #1151 closed

[2016-10-09 17:45] SpaceK33z commented on #960
This is related to https://github.com/webpack/webpack-dev-server/issues/641, so I'm closing this.

[2016-10-09 17:45] #960 closed

[2016-10-09 17:49] SpaceK33z commented on #2914
ping @peshoicov, see above

[2016-10-09 17:50] SpaceK33z commented on #3099
@lciolecki, where exactly are you adding `watchOptions`?

[2016-10-09 18:44] timoxley commented on #1788
@sokra on latest webpack 2 beta?

[2016-10-09 19:14] laggingreflex commented on #2812
Following syntax works:

    {
      module: {
        rules: [
          {
            test: /\.css$/,
            loader: ExtractTextPlugin.extract({
              loader: ['css', 'postcss']
            })
          }
        ]
      },
      plugins: [
        new webpack.LoaderOptionsPlugin({
          options: {
            postcss: [
              require('precss'),
              ...

[2016-10-10 01:31] AlastairTaft commented on #2463
Upgrading to latest rimraf package fixed it for me.

[2016-10-10 01:42] bmayen commented on #2949
https://github.com/Microsoft/BashOnWindows/issues/216 has been closed

[2016-10-10 04:19] StaticSphere commented on #1468
Thanks, @isramv !!!  This worked great for me.

[2016-10-10 04:51] shidaping commented on #368
you do not import vendor.js in your html.
try to add
`<script type="javascript" src="./dist/vendor.js">`
to your html file
before <script type="javascript" src="./dist/app.js">

[2016-10-10 05:49] ryannealmes commented on #2180
I have been trying to get this working like crazy for bootstrap. What was weird is even the simplest example didn't want to work ...

[code]

All I wanted to do was console log the jquery variable `$`. I think the problem is `ProvidePlugin` is broken in `v2.1.0-beta.25`. After downgrading to `"webpack": "^1.13.2"` it started to print out the variable again. I am guessing there has been a breaking

[2016-10-10 05:58] oojacoboo opened #3113 "Typescript support with Webpack 2 entry"
I can't seem to track down the issue on this.  I've just recently upgraded to webpack 2, because some of the plugins I'm trying to use have associated fixes (the joys of the state of js).

I'm currently getting the following when trying to run webpack to build everything...

Module parse failed: /../../index.tsx The keyword 'interface' is reserved (8:0)
You may need an appropriate loader to handle

[2016-10-10 07:34] hitmands opened #3114 "Improve NodeJS Workflow"
While `Universal/ServerSideRendereing/Isomorphic Coding` is going to be the _de facto_ solution to create application using `NodeJS` and `Client Js Frameworks` and, at the same time, `WebPack` is the best tool to handle these kind of applications:
**I Suggest** to provide an `official` **API** or **Documentation** (if the api already exists) to use **WebPack Server Side**.

I found many resources

[2016-10-10 07:44] lciolecki commented on #3099
@SpaceK33z I tried devServer and watchOptions. In my example I tried add this options conf/webpack.conf.js. I use nodejs so I thing the watchOptions is correct option.

[2016-10-10 07:56] michelgotta commented on #3050
@zhaoshengjun Just looked at the problem again. Other examples use the `child_process`, too. Running the `node buildAll.js` again doesn't work for me. I will dig a bit deeper to find the problem with the examples.

[2016-10-10 08:19] SpaceK33z commented on #3099
@lciolecki, ah you're using the Node.js API. In that case you should do something like this:

[code]

The `devServer` property is ignored when using the API instead of CLI.

[2016-10-10 09:21] chungtinhlakho commented on #2180
I went thru the exactly game thing and got mine to work with exposed.  dont
have the code in front of me but will send it to you tomorrow.  remind me.
 thanks

On Sun, Oct 9, 2016 at 10:49 PM, Ryan-Neal Mes <notifications@github.com>
wrote:

[2016-10-10 09:31] matteoantoci commented on #2145
The problems seems related with "cheap" mode. I'd like to have a more performat setup in dev but at the moment I'm using this configuration:
[code]

[2016-10-10 10:04] alexisgahon commented on #1849
Having the same problem/needs. Any update on this ? @sokra

[2016-10-10 10:36] andywer commented on #2797
@bebraw Yeah, [concord](https://github.com/webpack/concord#package-configuration) seems like a good concept to specify the MIME types. One could use this concord config if present or fall back to default types otherwise. Then use the MIME types in the module loader config to apply loaders based on file type, not regexs :)

[2016-10-10 10:43] bitttttten commented on #2908
This will happen if your [path] contains invalid characters. Just to confirm, are you running a Windows OS?

[2016-10-10 11:22] wegry commented on #2908
@bitten I'm using Windows Server 2008. The path contains reserved characters as well ('\\'), but works with webpack 2.1's beta-22.

[2016-10-10 12:08] jhnns commented on #3088
Yep. `BranchA` and `BranchB` have both a circular dependency on `module/index.ts`. Therefore, `BranchA` must be `undefined` as long as `BranchB` is not executed and exported.

Although circular dependencies are generally supported by the module system, it's best to avoid them where possible because it couples both modules tightly together. In fact, most of the time, they can be avoided.

[2016-10-10 12:08] #3088 closed

[2016-10-10 13:46] sjunka commented on #2771
Where is the webpack bundle configuration file for Angular Cli "version": "1.0.0-beta.17"??

[2016-10-10 14:23] kilroy05 commented on #2771
@sjunka angular-cli does not have one

[2016-10-10 15:48] iamdustan commented on #3095
@jhnns just got back from vacation. HEAD of that repo is working because of this commit: https://github.com/iamdustan/webpack-2-extract-css-modules-repro/commit/adec7250b92f90b4117118458df206cfed283507#diff-11e9f7f953edc64ba14b0cc350ae7b9dR30

This is the unexpected part (which may have more real issues I have yet to surface or stumble upon).

The core issue seems to be that the new loader format

[2016-10-10 15:55] kutyel commented on #1785
@jantimon should be fixed now, why is the codecov first check not passing btw? I would appreciate some feedback 😉

[2016-10-10 16:46] mdb255-pub commented on #3111
Sorry, I misunderstood this functionality.  The `require.context('./app', true, /\.js$/);` line does add all the .js files matching the regex to the bundle, but they are not actually included on the page until the `appContext.keys().forEach(appContext);` is applied.

[2016-10-10 16:46] #3111 closed

[2016-10-10 17:09] IAMtheIAM commented on #3107
Thanks, I'll check out that pre-commit idea. I just want to see if the script completes successfully, not test the functionality in the browser. I figured it should be pretty easy.

[2016-10-10 17:54] WalterWeidner commented on #2862
I dug into this a little bit. Looks like it is related to the UglifyJsPlugin. If I comment it out, I get source maps again.

[2016-10-10 18:25] IAMtheIAM opened #3115 "How to lazy load a DLL bundle?"
Require.ensure is awesome. But when I lazy load a huge javascript library, such as `Kendo UI` which is 3MB itself, it adds 10 seconds to my build time.

What I would like is to require.ensure a DLL bundle. I got my DLL bundle working fine, but webpack seems to expect to load it at runtime, and I havent figured out how to lazy load a DLL bundle.

I tried loading with `script-loader`

[code]

But `k

[2016-10-10 20:59] kesne commented on #3098
Would it at all be possible to change the parser from acorn to babylon? That would also be a way to solve this.

[2016-10-10 21:09] TheLarkInn commented on #3098
I know it can with esprima (thanks to a patch I tested from @ariya but I believe esprima follows similar rules for adoption. You can look at Parser.js to try. Keep in mind async import hasn't even been finalized yet and that would also be another similar change.

[2016-10-10 21:34] chungtinhlakho commented on #2180
see the last loader, that does the trick, make jquery,$ available at the global level.  I am using  "webpack": "1.13.2",
    "webpack-dev-server": "^1.16.1"

[code]

[2016-10-11 01:56] Kovensky opened #3116 "Indexed access to star import is miscompiled in webpack 2"
This is very easy to reproduce with coffeescript 1.11's import/export syntax support, as while the syntax will just be emitted as is, actual use of the module record will be subjected to [coffeescript's es3-compatible output](http://coffeescript.org/#try:import%20*%20as%20a%20from%20'b'%0Aa.a.b%28%29%20%23%20works%0Aa.default.b%28%29%20%23%20is%20compiled%20to%20a.b%28%29%0Aa%5B'a'%5D.b%28%29%20%2

[2016-10-11 02:12] prsolucoes opened #3117 "Problems with IMG loading"
I'm submitting a bug report, i think.

Im trying loading images inside <img src""> tag, but the content of src attribute not change after bundle.js generated.

2.1.0-beta.25

Project:
https://github.com/prsolucoes/goci/tree/ng2-aot/web-app

File with correct image tag:
https://github.com/prsolucoes/goci/blob/ng2-aot/web-app/src/app/home/home.component.html

Generated bundle with path:
https://gith

[2016-10-11 02:13] ryannealmes commented on #2180
Thanks @chungtinhlakho, if you checkout my comment I mentioned that I did get it to work with the version you are using, but I can't get it to work with version v2.1.0-beta.25 :/ That is what I am trying to do.

[2016-10-11 08:14] prsolucoes commented on #3117
I have the same problem here:
https://github.com/prsolucoes/angular2-webpack2-starter/issues/1

I have created this starter project and the issue with images/screenshots to understand better.

[2016-10-11 08:51] dlong500 opened #3118 "UglifyJS breaks with new module syntax"
**I'm submitting a bug report**

**Webpack version:**
 2.1.0-beta.25

**Please tell us about your environment:**
Linux x64

**Current behavior:**
I took a working project using the old module syntax (loaders/loader/query) and replaced it with the new syntax (rules/use/options) and I get the following error:
`SyntaxError: Unexpected character '`' [main.min.js:5429,52]`
Note that replacing the synta

[2016-10-11 09:55] PertapaCode opened #3119 "Define module name for AMD when output as UMD"
**I'm submitting a feature request**

Possibility to have a custom name for the AMD module when output the library as UMD.

**Current behavior:**

Now with a configuration like this, only the entry name is set in the module name.

[code]

The output looks like this:

[code]

**Expected/desired behavior:**

I think it might be interesting be possible to pass a string in **umdNamedDefine** and use t

[2016-10-11 10:03] dionysiusmarquis commented on #1788
Are circular dependencies supported now? To be honest, I didn't get the consensus to this topic.

[2016-10-11 12:53] peterjuras opened #3120 "Creating multiple language bundles from one source module"
I'm wondering whether and how webpack can be used to create multiple outputs from a single module.
# Scenario

Our packages have resource files and we are importing them directly:

[code]

The files within the packages are in a default language (english) and will be overriden depending on the loaded language. We only want to load the language that is required, therefore we would want `resources.js

[2016-10-11 13:02] winterbe commented on #701
`npm install fsevents` fixes the issue, however putting `fsevents` into `package.json` breaks builds on other platforms, e.g. linux. So you have to remember that every time you `rm -rf node_modules && npm install` you also have to do `npm install fsevents`.

My brain is lazy so chances are good I totally forget about in a couple of weeks. 😭

[2016-10-11 13:29] Download commented on #2387
Just wanted to chime in that I have been observing this same issue for about a year now. Webpack 1. I have yet to discover a pattern. The bad thing is that after this has occurred, HMR seems no longer functional so we have to restart the app.

It would be great if there at least would be a guard added so that HMR doesn't crash.

[2016-10-11 14:35] rewmike commented on #1967
+1

[2016-10-11 14:40] rewmike commented on #1967
Does anyone have a workaround for this?

[2016-10-11 14:57] Kovensky commented on #1967
There is a `webpack.optimize.RemoveEmptyChunksPlugin`, but I'm not sure it would deal with cases like the snippet in the OP. The code there does have a module in the chunk; it's the module that's empty, not the chunk.

[2016-10-11 15:00] Kovensky commented on #2387
This might have been fixed since there were a few hot reloading changes around June or so.

[2016-10-11 15:02] Kovensky commented on #701
`chokidar` (the indirect dependency that depends on `fsevents`) will install it on its own.

The only case `fsevents` may not be picked up is if you're using a shrinkwrap generated in a non-mac machine. OTOH, if you do use a shrinkwrap generated in a mac, `npm install` itself will fail on non-macs, so pick your poison.

[2016-10-11 15:12] Kovensky commented on #3118
Some plugins look in the wrong place for their options, especially if they were using the wrong API that just happened to work. You might need to use `{ loader: 'loader-name-loader', query: JSON.stringify({ your: 'options' }) }` in some cases :(

[2016-10-11 15:24] Kovensky commented on #3117
Your `root` option given to the `htmlLoader` looks wrong; the `root` there is for URL generation, not for resolving, so it's not a filesystem path.

I am not sure why the result is as it is, though; I would've expected a different kind of nonsense, like `/the/absolute/path/to/your/sources/../../static/images/logo.png`.

[2016-10-11 15:36] onpaws commented on #701
@winterbe I feel the same way about keeping dependencies obvious. Why not make a note in your package.json?

Because JSON [doesn't support comments](https://plus.google.com/+DouglasCrockfordEsq/posts/RK8qyGVaGSr) some folks have come up with [alternative approaches](https://www.quora.com/How-do-I-write-comments-inside-a-JSON-document).

[2016-10-11 15:55] michelgotta commented on #3050
All examples using the `extract-text-webpack-plugin` in the config failing on my system. I'm trying to rebuild the examples without the usage of this plugin.

[2016-10-11 16:11] prsolucoes commented on #3117
I think you are wrong. See here:
https://github.com/webpack/html-loader

[code]

[2016-10-11 16:42] IAMtheIAM commented on #3107
Thank you, @zhaoshengjun git `pre-commit` works exactly as I expected and needed. Perfect.

[2016-10-11 16:42] #3107 closed

[2016-10-11 16:45] bitttttten commented on #2908
My webpack config just looked like yours or any boiler plate config. I was just trying to generate a filename with a timestamp so it ended up like "18:44.js" and just changed it to "18-44.js".

Perhaps they've fixed this by swapping out reserved characters for safe ones in Webpack 2. A way to fix this in Webpack 1 is to dig into your loader and do some kind of regex replace on the `name`.

[2016-10-11 16:55] IAMtheIAM commented on #3110
Have you tried require.ensure without the `=>` arrow function? Meaning, a regular `function(require) {}`

[2016-10-11 17:49] Download commented on #2387
Could we maybe add some diagnostics code? Because upgrading to Webpack 2 is a big time investment and at the moment still very risky.

I understand that it will be very difficult to fix from the current info, but the message clearly indicates that the HMR runtime is in a state it should never be in. The `module.parents` array apparently contains an ID of a module that is no longer found in `instal

[2016-10-11 18:08] dlong500 commented on #3118
I'm not sure that I follow.  If I'm trying to use the new module syntax can you give me an example of a working UglifyJS configuration?

The relevant parts of my webpack configuration (using the new syntax) are as follows:
[code]

[2016-10-11 19:30] scottrippey opened #3121 "Target `electron-main` loads the "browser" version of `bluebird` instead of the "release" version"
**I'm submitting a bug report**

**Webpack version:**
1.10.x

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
I have my webpack target set to `electron-main`
I am requiring `bluebird@3`, which has both `main` and `browser` fields listed in `package.json`.
I expect the `electron-main` target to load the `main` source, but it loads the `browser` source instead, which cause

[2016-10-11 19:30] scottrippey commented on #2674
I too am having this issue with `electron-main`, so I've opened this new ticket: #3121

[2016-10-11 19:46] prsolucoes commented on #3117
After check i understand that if i use "/" on image "src" it will concat with "options.htmlLoader.root". So i change "root" directory to check if it will throw error and it happens OK. The problem is only with the "src" attribute that dont change:

https://www.dropbox.com/s/534rhrvceifow4f/Screenshot%202016-10-11%2016.43.24.png?dl=0

[2016-10-11 21:00] mariotacke opened #3122 "npm@latest points to beta"
New webpack installs install webpack 2 (beta) by default. Is there a reason why the `latest` does not point to `1`? We could utilize the `next` tag to specify 2 until officially released.

`npm view webpack dist-tags` => `{ latest: '2.0.6-beta', beta: '2.1.0-beta.25' }`. Both are `beta` releases.

**EDIT: SOLUTION**
It turned out to be a caching issue with our private `sinopia` server which listed

[2016-10-11 21:05] niieani opened #3123 "An empty Array is not considered a valid entrypoint (configuration validator edge case)"
**I'm submitting a bug report**

**Webpack version:**

**Current behavior:**
Empty Array does not validate as a valid entrypoint. This used to work before validation was introduced.

**Expected/desired behavior:**
An empty Array should be considered valid by the configuration validator, since its contents can be filled programmatically by a plugin.

**Problematic configuration**:

[code]

**Error*

[2016-10-11 22:22] farwayer commented on #3018
@sokra but what is correct way to access this options object from plugin? `query` is still string so useless in many cases. Plugin has access to webpack common config with `options` property but it's hard to find concrete plugin options in config tree. And `LoaderOptionsPlugin` overriding this `options` property with removing all previous values.
So how can plugin get his config options?

[2016-10-11 22:42] TheLarkInn commented on #3123
🤔, interesting find. Is this via an Aurelia webpack plugin? What's the reasoning behind leaving there entry blank?

[2016-10-11 22:44] TheLarkInn commented on #3122
What specifically are you running in npm when you install?

[2016-10-11 22:45] TheLarkInn commented on #3121
Would you be willing to test this on webpack v2

[2016-10-11 22:50] mariotacke commented on #3122
`npm install --save-dev webpack`

[2016-10-11 22:51] TheLarkInn commented on #3118
Just to make sure, works you need able to provide an example of the previous loader syntax you were using?

[2016-10-11 23:06] TheLarkInn commented on #3122
😳 I just fixed this a couple weeks ago. I'm away from a computer for about 30-50min but I'll check this and correct it.

[2016-10-11 23:15] mariotacke commented on #3122
No worries. My team and I appreciate it!

[2016-10-12 00:18] dlong500 commented on #3118
The only changes were using the new syntax (loaders -> rules, loader -> use, and query -> options).  Once I change it back to the following everything works again:
[code]

[2016-10-12 00:23] TheLarkInn commented on #3118
Thank you very much. This should help me narrow down where this big may be hiding. cc @hzoo

[2016-10-12 00:27] TheLarkInn commented on #3118
@Kovensky are you thinking babel-loader is the problem here? Maybe just a bump in loader-utils I'll check the version for that package.

[2016-10-12 01:03] TheLarkInn commented on #3122
<img width="1143" alt="screen shot 2016-10-11 at 8 02 12 pm" src="https://cloud.githubusercontent.com/assets/3408176/19293867/9dd8cc84-8fed-11e6-9f6b-a71806a2cabf.png">

Okay here is the attached console response from me running that command. (I haven't made any changes etc.) Timestamp is included to show you this is as of just now (CST).

Would you double check and confirm, could this be a npm ca

[2016-10-12 01:27] Kovensky commented on #3118
@TheLarkInn tried using `options` instead of `query: JSON.stringify` everywhere in my config -- at least `svg-url-loader` ("parseQuery should get a string as first argument") still crashes, but I couldn't reproduce it with my other loaders (`eslint-loader`, `babel-loader`, `svgo-loader`, `style-loader`, `css-loader`).

I should note that the _only_ loader that behaved correctly in the beta.23 flag

[2016-10-12 02:16] wonderbeyond commented on #708
It's something must! error without status=0 is evil!

[2016-10-12 04:49] mariotacke commented on #3122
Totally a caching issue. We are running a `sinopia` server at work which apparently had this cached. Sorry about the confusion. I cleared my sinopia token in my `.npmrc` and it now resolves fine. Thanks for your help.

[2016-10-12 04:55] kushwahashiv opened #3124 "How to use material icons in webpack from local folder/path of project??"
How to configure wepack.config to use [material icons](https://design.google.com/icons/) from assets/local foder of project??

[2016-10-12 06:25] Meroje commented on #2937
I could not get this to work, but before I open an issue, @andreypopp do you have a sample project showing this feature working ?

[2016-10-12 10:33] JasonBoy commented on #1315
webpack-md5-hash works for me

[2016-10-12 10:48] #3122 closed

[2016-10-12 11:12] niieani commented on #3123
@TheLarkInn the idea is the user CAN set up an empty `app` entry point which is then filled in with dependencies from a named chunk, both via a `require.resolve` or via the `aurelia-webpack-plugin`, but one does not have to specify it, in which case the chunk will be merged with whichever entrypoint required that dependency.

In simple terms, it's about programmatically filling an entrypoint, whic

[2016-10-12 11:45] SpaceK33z commented on #3099
@lciolecki, did the above fix your problem?

[2016-10-12 12:15] paramsingh88 commented on #1479
@dmitry @sokra That's it. I've had enough of this issue. Its so silly of webpack that it creates different chunkhash on different machines for same content. I've tried everything including webpack-md5-hash but no luck. My production app is suffering. I'm moving to gulp+browserify.

[2016-10-12 13:02] lciolecki commented on #3099
@SpaceK33z  It didn't work.. I think I did something wrong. Did You try run my demo at:  https://github.com/lciolecki/fountainjs-example? Maybe when You look at configs in this example, then can You tell mi where I mus't change some options?

[2016-10-12 13:08] dmitry commented on #1479
@paramsingh88 yes, I also felt something like that, but after all, I don't remember, but something were solved an issue for me. I don't believe gulp + browserify could be as advanced as webpack flexible is. I think it's much better to upgrade to the webpack2. :)

[2016-10-12 13:11] dmitry commented on #2215
@sokra any idea where to watch to fix this issue?

[2016-10-12 13:11] satyapal88 opened #3126 "k"
## **BEFORE YOU SUBMIT** please read the following:
If you have a support request or question please
submit them to [StackOverflow](http://stackoverflow.com/questions/tagged/webpack) using the tag `[webpack]` or the [webpack Gitter](https://gitter.im/webpack/webpack). Future support requests will be closed.
(remove this from issue)

**I'm submitting a bug report**
**I'm submitting a feature reques

[2016-10-12 13:18] SpaceK33z commented on #3099
Ah, I think I see what you're doing wrong.

You can remove these lines, since they don't do anything: https://github.com/lciolecki/fountainjs-example/blob/master/conf/webpack.conf.js#L64-L66

On [this line](https://github.com/lciolecki/fountainjs-example/blob/master/conf/webpack.conf.js#L64-L66), change `200` to `{ poll: true }`. `200` is about the `aggregateTimeout` setting, which does not fix an

[2016-10-12 13:18] sokra commented on #3018
this.query is an object when an object is passed. loader-utils parseQuery normalizes this.

[2016-10-12 13:31] sokra commented on #3123
Plugins should not modify the configuration. They can add an entry via plugin hooks. See MultiEntryPlugin or apply the MultiEntryPlugin inside of the Plugin.

[2016-10-12 13:31] TheLarkInn commented on #3126
Closing as there is nothing in this issue.

[2016-10-12 13:31] #3126 closed

[2016-10-12 13:50] niieani commented on #3123
@sokra the plugin **does not modify configuration**, perhaps you misunderstood. It only enforces files are present in a specific chunk with the name `app`, just as if you did `require.ensure(..., 'app')`.

[2016-10-12 14:19] sokra commented on #3115
Use the scriptjs approach. Try a different output.libraryTarget.

[2016-10-12 16:06] IAMtheIAM commented on #3115
I tried all 6 of the [options listed here](https://webpack.github.io/docs/configuration.html#output-librarytarget) and they didn't work for me. I got, "define is not defined", "module is not defined", "exports is not defined", or the same result as using default var "kendo is not defined".

Can you elaborate a little more about how to configure this correctly?

[2016-10-12 16:45] jcubic commented on #2463
I had the same error but with stylus files, I've fixed it by updating all npm modules.

[2016-10-12 17:09] arunasSlenderis commented on #1166
I have the same issue too. I don't know how to remove sequelize from bundling with webpack. Maybe You can give some advice? thank you

[2016-10-12 17:14] blacksonic commented on #2918
It works now :) Check out the @ngtools/webpack peckage in [angular-cli](https://github.com/angular/angular-cli) or my [HelloWorld example](https://github.com/blacksonic/angular2-aot-webpack) with it.

[2016-10-12 17:31] d3viant0ne commented on #3099
@lciolecki - As an aside, I strongly suggest you move from Vagrant to the Docker beta stream if possible. Both Vagrant and pre-beta Docker suffer from shared file system shortcomings that make containerized development a less than optimal experience.

To the actual issue, @SpaceK33z should have you dialed in

[2016-10-12 17:41] TheLarkInn commented on #3121
In [webpack@2.1.0-beta / master](https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L81-L86):

[code]

[2016-10-12 18:11] ichernev opened #3128 "Webpack moment.js integration"
I'm from the moment.js (http://github.com/moment) team, and some of our users that are also your users voice concerns that because of the way webpack is implemented all moment locale files (currently 104) are bundled together, and that increases the size of what is downloaded to the browser.

Recently there was a suggested "fix" in the moment code (https://github.com/moment/moment/pull/3344), but

[2016-10-12 18:16] lciolecki commented on #3099
@d3viant0ne I know.. But some of ouer projects still use Vagrant. In future I want try use Docker :)

@SpaceK33z I tried set:
`  watchOptions: {
    poll: 200
  },
`
And this didn't change anything..

[2016-10-12 18:28] SpaceK33z commented on #3099
You shouldn't use watchOptions here, just pass the object directly.

[2016-10-12 19:00] lciolecki commented on #3099
@SpaceK33z Sorry but I don't understand.. Could You show me where and what I must set in my example for properly work? Sorry but now I'm completely confused..

[2016-10-12 19:03] SpaceK33z commented on #3099
@lciolecki, whoops I made a small mistake. 2 comments ago I said this:

But I gave the wrong link. I meant to say that you should edit this line: https://github.com/lciolecki/fountainjs-example/blob/master/gulp_tasks/webpack.js#L45

So this:

[code]

should become:

[code]

[2016-10-12 19:08] lciolecki commented on #3099
@SpaceK33z Yeah! Finally work! Thank you for solving this problem! :)

[2016-10-12 19:09] SpaceK33z commented on #3099
Awesome!

[2016-10-12 19:09] #3099 closed

[2016-10-12 19:15] SpaceK33z commented on #2258
This is most probably an issue in chokidar, see https://github.com/paulmillr/chokidar/issues/533. There is a [PR open](https://github.com/paulmillr/chokidar/pull/535) to fix it.

[2016-10-12 19:16] SpaceK33z commented on #2439
Dupe of #2258.

[2016-10-12 19:16] #2439 closed

[2016-10-12 19:28] SpaceK33z commented on #539
Closing this issue since there is not really anything to fix here anymore...

[2016-10-12 19:28] #539 closed

[2016-10-12 20:55] farwayer commented on #3018
@sokra Just tested on master. `parseQuery()` parses query **string**. All ok before you trying to pass object which contains **functions**. It's real life case for using loader plugins. For example `postcss-cssnext` constructor returns object with functions so if you try to pass this plugin to postcss-loader inside options object then build will fail.
[code]

`LoaderOptionsPlugin` can be used as w

[2016-10-12 22:44] tleunen commented on #2862
I don't have any `sourceMap` option on my `UglifyJsPlugin`. But I do have one for the css loader.
Maybe a conflict then @WalterWeidner ?

Should we especially set sourceMap: true for Uglify in addition of the `devtool` option?

[2016-10-12 22:45] farwayer commented on #3018
Hm sorry look like problem was in concrete use case. I found very strange bug. If `style-loader` included in `use` chain than `query` will become string.

[2016-10-12 22:47] WalterWeidner commented on #2862
Leaving `sourceMap: false` off of the Uglify plugin was good enough for us.

[2016-10-12 22:54] TheLarkInn commented on #2674
Please check my update to this response.

[2016-10-12 23:03] GoogleAssistant commented on #3128
Hi, how can I help?

[2016-10-13 00:22] tonytamps commented on #3128
@GoogleAssistant What is your purpose?

[2016-10-13 00:45] TheLarkInn commented on #3128
@ichernev thank you so much for reaching out. ❤️❤️❤️❤️

We would be more than happy to help!!!

A cool idea 💡 that might be worth investigating is helping you guys create a 'example' or 'test' fixture of a small use case of webpack and moment together with one or many locales.

Pros:
- the fixture can serve as a point of reference for users in regards to implementation

- you can then run function

[2016-10-13 00:51] tleunen commented on #2862
https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#uglifyjsplugin-sourcemap

[2016-10-13 00:55] ichernev commented on #3128
@TheLarkInn hello, thank you for the prompt response.

I like the fixture idea, we can take example from require.js documentation on our website, which mentions all the different (widely used) use-cases:

http://momentjs.com/docs/#/use-it/require-js/

Basically we'll need an examples for:
* core only (no locales)
* core with a single locale (known in advance)
* core with all locales
* care + dynam

[2016-10-13 03:08] rafde commented on #3128
@ichernev
`new webpack.IgnorePlugin(/(locale)/, /node_modules_.+(momentjs)/),`

[2016-10-13 04:19] Kovensky commented on #3128
@ichernev one problem is that your package.json points the `module` entry point to your raw source code, instead of to a build of the source code that was emitted with ES6 modules. Your coding convention mostly keeps that from being a problem, but the actual issue is triggered by the relative `require` call.

In your `main` entry point, the relative require points to a `locale` folder that has act