[2022-07-29 12:28] alexander-akait commented on #16090
Line is valid, something wrong with static of your application (it can be due invalid public path and non standard place of a static directory), if you need help you can create small reproducible test repo (with your problems and what you expected) and I will help show you how to solve it

[2022-07-29 13:28] sakamossan commented on #16096
I found it was not caused by `terser` but by `tsc`.

[code]

[code]

This is caused by the existance of `Function.name` in JavaScript.

- [Impossible to define static 'length' function on class · Issue #442 · microsoft/TypeScript](https://github.com/microsoft/TypeScript/issues/442)

It is not a webpack issue, so close it. thanks.

[2022-07-29 13:28] #16096 closed

[2022-07-29 18:49] LP1994 commented on #16091
However, I found that if you manually import 'webpack/hot/dev-server.js' and 'webpack-dev-server/client/index.js' into the entry point, you can use both experiments.buildHttp and HMR.

[2022-07-29 18:53] LP1994 commented on #16091
However, it should not be done as I mentioned above, because webpack already provides the hot option and the HMR plugin to enable HMR. And this obviously goes against the "out of the box" philosophy of webpack 5.

[2022-07-29 19:15] LP1994 commented on #16091
My demo library:
https://github.com/LP1994/experiments_buildHttp_hmr.git

There are 6 screenshots inside.

The file on the left in the figure is the compiled file with experiments.buildHttp disabled and hot option enabled, which can use HMR normally.

The file on the right in the picture is a compiled file with experiments.buildHttp enabled and the hot option enabled, but HMR cannot be used normal

[2022-07-30 10:57] Gautam-Arora24 commented on #16040
Can I work on this issue?

[2022-07-30 11:07] Gautam-Arora24 commented on #16040
Can I work on this issue?

[2022-07-30 11:14] snitin315 commented on #16040
@Gautam-Arora24 yes, feel free.

[2022-07-30 13:24] alexander-akait opened #16097 "regression due #15899"
Here you go:
https://github.com/jsg2021/webpak-hanging-bundle-example

_Originally posted by @jsg2021 in https://github.com/webpack/webpack/issues/15899#issuecomment-1151461516_

[2022-07-30 14:11] #15603 closed

[2022-07-30 19:28] #16060 closed

[2022-07-31 01:27] closertb opened #16098 "upgrade to webpack5, libraryTarget system use externals cause error"
# Bug report
when i upgrade my builder to webpack5，it compile right, but it run failed with the error:
[code]
here is my demo code:
[code]

**What is the current behavior?**

I debuged, and found the defference between from v5 and v4:
v4:
![image](https://user-images.githubusercontent.com/22979584/182003784-4459e2f0-a56c-4681-aa44-55c483329fde.png)

v5:
![image](https://user-images.githubuserconte

[2022-07-31 04:28] Vanillma opened #16099 "Two Created Files"
Hello friends
I have been trying to use Webpack for several days.
And I encountered a problem in configuring.
This is my configuration now!
[code]
But during construction, I see that two files are created from index.js...why??...how to disable it??
![Two created .js](https://user-images.githubusercontent.com/95992420/182010018-179fe087-b8c7-4382-a0dd-ee2331594c3d.jpg)

[2022-07-31 06:31] Gautam-Arora24 commented on #16040
Can anyone help me by giving some leads as to where/how to solve this issue? This is my first time contributing to webpack.

[2022-07-31 14:27] karlhorky commented on #13252
Looks like this is in version `5.74.0`: https://github.com/webpack/webpack/releases/tag/v5.74.0

[2022-07-31 15:59] BarrMan commented on #15582
Hey all, I have the same error but none of the above helped.

Looking closely a the error message I can see that the `moduleId` that webpack tries to find is: `webpack/container/remote/myRemoteMFE/Module`, but when trying to retrieve the factory, it tries to look inside of `__webpack_modules__` which contains: `webpack/container/reference/myRemoteMFE`.

<img width="862" alt="Screen Shot 2022-07-31

[2022-08-01 02:26] qq281113270 opened #16107 "in CommonJS，UMD， compile ，Splitting the code will result in an error。"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:    4 or  5
Node.js version:  16
Operating System:  mac or windows
Additional tools:

I was packaging the Node service code，I use，  libraryTarget: "umd", or   libraryTarget: "commonJS",
 If

[2022-08-01 08:56] eramitmittal opened #16108 ""Auto" publicPath does not work well with "amd""
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
if publicPath is set to "auto" and an amd module loader (like require.js) is used to load the output file, wrong publicPath gets computed. The publicPath that gets computed is the path of the last script loaded

**If the current behavior is a bug, please provide the steps to reproduce.**
Please follow

[2022-08-01 09:43] vankop commented on #16108
you have specific logic.. please define `publicPath` in config

[2022-08-01 09:43] #16108 closed

[2022-08-01 10:59] eramitmittal commented on #16108
Hi,

This is not my specific logic. This is how AMD has always worked ('require' function invoking the factory method registered as callback using 'define').

Besides defining publicPath in config is not an option if the AMD library bundled using WebPack is to be released on Internet. At the level of library the required publicPath can't be known beforehand as it will depend on the user of the lib

[2022-08-01 11:01] eramitmittal commented on #16108
Sorry, didn't see it has been marked closed....
Is it right to mark an issue closed without properly understanding the reported issue or at-least waiting for a confirmation from the reporter?

[2022-08-01 11:29] pgarzina commented on #15752
for anyone stumbling across this seems the issue is in webpack-dev-server: https://github.com/webpack/webpack-dev-server/issues/4180

[2022-08-01 13:02] vankop commented on #16108
not sure what you trying to achieve.. `publicPath` should be used only for applications, not for libraries..

In this case there is no way to determine `publicPath` in `"auto"` mode, so you should define it youself..

[2022-08-01 13:24] eramitmittal commented on #16108
Well if a complex enough code (for e.g. monaco-editor) is bundled as a library using webpack and library target is 'amd', wouldn't the webpack output need public path to load chunks or other assets?
Look at the gist I have included in the bug report. The gist is a working example of a library packaged using webpack requiring publicPath to load a chunk. Gist clearly shows the issue.

But, there is

[2022-08-01 13:29] vankop commented on #16108
because chunk content hash is based on data inside of this chunk. therefore, you getting circular dependency => in chunk code you want to have something like `this-chunk.hash.js` and same hash in the naming of this chunk...

[2022-08-01 14:04] eramitmittal commented on #16108
Understood.

Am I right in thinking that the variable '__webpack_require__.p' (i.e. RuntimeGlobals.publicPath) ever ends up in the main module as defined by "output.filename" option in the config file. The chunks actually never define this variable.

If this is true then, AutoPublicPathRuntimeModule will only ever impact the main file (output.filename) which is not hashed!!!
AutoPublicPathRuntimeM

[2022-08-01 17:14] ScriptedAlchemy commented on #16081
[code]

[2022-08-02 03:58] VisonM commented on #15521
the same problem we have too. I record mutli times momory useage in chrome devtool after compiler.close trigger.

![image](https://user-images.githubusercontent.com/40595135/182284385-a0ea5ffe-c680-4051-af91-60e29ef8b5f3.png)

[2022-08-02 07:15] ScriptedAlchemy commented on #11811
It's possible, I maintain both SSR and CSR implementations.

Sidecars work and are free - but I know it can sometimes be a little tricky to get shared modules on next.js via sidecars sometimes, that can be worked around tho

[2022-08-02 08:19] eramitmittal commented on #16108
Also, the fixed code will be using a variable and not hardcoded name. It can't create a circular dependency.

[2022-08-02 08:53] evisong commented on #15653
Hi, @[tommie](https://github.com/tommie), I'm the submitter of https://github.com/guybedford/es-module-shims/issues/295 you've recently resolved, great work indeed!

Excuse me I'm at-ing you here, not really asking for help, but just FYI in case you might run into similar issues when using ESM with Webpack.

[2022-08-02 09:36] vankop commented on #16107
please create small reproducible repo

[2022-08-02 09:39] vankop commented on #16091
there is no url how to handle `jpg` file https://github.com/LP1994/experiments_buildHttp_hmr/blob/master/webpack.config.js#L168 + I'm not sure that this will work with `css-loader`..

[2022-08-02 09:45] LP1994 commented on #16091
I'll add it, but it's the same as before.

[2022-08-02 09:58] LP1994 commented on #16091
<img width="431" alt="image" src="https://user-images.githubusercontent.com/12012671/182347549-8c8e2699-f97d-435e-86b9-0824c3bebcf0.png">
After adding the image processing, it still does not work, and there is still no ws request.

[2022-08-02 10:01] vankop commented on #16091
I didn't get it, so hmr doesn't work entirely or only with `buildHttp`

[2022-08-02 10:04] LP1994 commented on #16091
If buildHttp is enabled, HMR will not work.
Conversely, HMR can still be used without enabling buildHttp.

[2022-08-02 11:17] vankop commented on #16091
@alexander-akait not sure where redirect this.. webpack works fine, looks like hot-middleware not connecting.. ( sounds like bug in options applying )

[2022-08-02 12:33] vankop commented on #15574
solved in https://github.com/webpack/webpack/pull/15611

[2022-08-02 12:33] #15574 closed

[2022-08-02 16:36] DhruvilPatel19 commented on #11033
@ScriptedAlchemy  I Want to know how we can dynamically fetch remotes on server-side (in node server)
also If we are able to fetch remote components on server then I believe it's async process
then how we can make it synchronous process as we can't add 'await' to renderToString(<App />) ?

[2022-08-02 23:45] m4wjw commented on #11658
Have you resolved it? I meet it too with wp5

[2022-08-03 03:34] closertb commented on #16098
@vankop @alexander-akait can someone have a look?

[2022-08-03 08:45] hardfist commented on #16095
But webpack's current behavior is not spec compatible, I made an demo which shows the render result diffs between native css | webpack css | esbuild css, and native css | esbuild render result diffs with webpack's result.
you can see code here https://github.com/hardfist/css-demo.
* index.css
[code]
* after.css
[code]
* before.css
[code]
The webpack's result
[code]
The esbuild's bundle result
[cod

[2022-08-03 08:49] hardfist commented on #16095
we discussed this problem with @evanw before in https://github.com/evanw/esbuild/issues/1946, and esbuild choose more spec-compatible way, and I'm wondering whether esbuild and webpack's behavior could be aligned.

[2022-08-03 13:08] Welleman commented on #14532
Я переустановил nodejs на 16.12.0 версию. Ошибки ушли.

[2022-08-03 17:53] SURAJ-R-P commented on #11868
I am also facing the same issue can you tell me that how did you fixed that error

[2022-08-04 06:26] qq281113270 commented on #16107
Sorry, it's my configuration. I know what to do.

[2022-08-04 07:06] ajayjaggi97 opened #16114 "Cannot read property '__esModule' of undefined"
# Bug report

**What is the current behavior?**
We have a components library where we have multiple entry points setup for components. Since we had nesting of components as well, we were ending up duplicating the code.

Hence we used the optimization block inside the config.
[code]

But after using this to bundle our components lib, and using this library inside the next.js app we get the error
[c

[2022-08-04 08:04] suguanYang opened #16115 "[Discussion] How to estimate the time complexity of the webpack build/compilation?"
Let's say we use typescript on a project, it has 1000 lines of code, and there have 10 esmodule dependencies, and we assume the base compilation complexity of the typescript loader is `n`, and the per dependency bundle is `m`, can we estimate a approximate time complexity of webpack build this project to a single js file? Is there a formula like `<line of code> * <loader complexity> + <number of d

[2022-08-04 08:53] qq281113270 commented on #16107
It depends on how I configure it. If I configure it this way, it's fine
[code]

But I want to add the static, js directory in front of the JS file so that I can better distinguish between JS, HTML and CSS
files. 。

Then I also have a problem configuring Webpack this way
[code]

[2022-08-04 09:11] csvan commented on #14532
What is the estimated release date for Webpack 6 which will have the new hash implementations? Seems like this issue is still very prevalent in the wild despite being marked as fixed. Ideally, workarounds should not be needed to use Webpack.

[2022-08-04 12:35] talsi commented on #16081
hi @ScriptedAlchemy,

thank you for the quick response.

i implemented your suggestion above but seems like it doesn't really solves the issue.
in my case, the issue is when it fails to load a chunk, not the remoteEntry.js.

1. browser loads main.js
2. browser loads all remoteEntry.js files
3. user is working with remote-app-A successfully
4. meanwhile, remote-app-B artifacts has been changed due

[2022-08-04 13:10] vankop commented on #16107
problem in `publicPath`, try to use `publicPath: auto`

[2022-08-04 13:12] vankop commented on #16114
please create small reproducible repo, thanks

[2022-08-04 13:13] #16115 closed

[2022-08-04 18:34] andersk commented on #15767
This seems to have been fixed in v5.73.0 by #15899.

[2022-08-04 18:34] #15767 closed

[2022-08-04 21:13] malkomich opened #16118 "[Module Federation] Exposed container name cannot be 'module'"
# Bug report

**What is the current behavior?**
When the host is application tries to import the remote module, it shows the following error:

[code]

, where "<component_name>" is the name of the exposed component.

---

**If the current behavior is a bug, please provide the steps to reproduce.**
In the remote application, configure the ModuleFederationPlugin name to be 'module':

[code]

---

**

[2022-08-04 21:51] kenlyon opened #16119 "Duplicate path segment error in dynamic imports in Web Worker (webpack 5)"
# Bug report

**What is the current behavior?**
When I use webpack to bundle code that includes a Web Worker which contains a dynamic import, the resulting code erroneously duplicates the file path of the chunk that it's trying to load. Instead of requesting something like `foo/bar/abc.[a1b2c3d4].chunk.js`, it requests `foo/bar/foo/bar/abc.[a1b2c3d4].chunk.js`.

**If the current behavior is a bug,

[2022-08-05 04:55] jpmadrigal07 commented on #15582
Hey all this seems to work for me.

https://stackoverflow.com/a/72746448

The problem is about asynchronous load of the app

[2022-08-05 14:46] kopax-polyconseil commented on #4674
Hi ! I don't get your snippet, how does it work ? It choose randomly ?

[2022-08-05 16:25] gormonn commented on #15557
i have similar problem, when trying to upgrade deps after eject from cra with webpack v5

[2022-08-05 16:47] TusharPardhe opened #16121 "Uncaught TypeError: can't access property "call", Transform is undefined"
# Bug report

**What is the current behavior?**
Using xrpl.js library and trying to import a function but when I use webpack + react it doesnt work, however, its working normally in nodejs without webpack.

**If the current behavior is a bug, please provide the steps to reproduce.**

Steps to reproduce:
1. Import xrpl library
`import { Wallet } from "xrpl";
console.log(Wallet.fromSeed("sstw2w8CxZY

[2022-08-06 07:25] AnmolBansalDEV commented on #16045
I'll like to submit a PR, please assign it to me.

[2022-08-06 09:13] AnmolBansalDEV commented on #16040
hey, where to find `experiments.outputModule` file?

[2022-08-06 12:37] AnmolBansalDEV commented on #16045
I sent a PR making the changes mentioned by @hiyuki in the desc. If any modification is required let me know.

[2022-08-07 03:51] #15697 closed

[2022-08-07 19:15] satinder1624 commented on #11868
Anyone has a solution?

[2022-08-08 03:30] Magin-CC commented on #11868
Easy way to resolve this problem is use `"alias"` configuration.Like this:

[code]

[2022-08-08 03:33] Magin-CC commented on #11868
`fallback` is the fallback for module resolution failed. But if the core module can find the module in module resolution, we don't use `fallback` configuration anymore.

[2022-08-08 06:27] oriSomething opened #16124 "Types issue with having `(RuleSetRule | "...")` instead of `RuleSetRule`"
# Bug report

**What is the current behavior?**

Wrong type of `(RuleSetRule | "...")` repeated in a few places in `types.d.ts`

**If the current behavior is a bug, please provide the steps to reproduce.**

Search for `(RuleSetRule | "...")` in `types.d.ts`

**What is the expected behavior?**

Having just `RuleSetRule`

**Other relevant information:**
webpack version:  `master` / `5.74.0`
Node.js

[2022-08-08 10:21] tzachbon opened #16125 "Resolve module (mjs) incorrectly when using Module Federation Plugin"
# Bug report

**What is the current behavior?**

When using `swr/infinite` with `swr>1.1.2` dependency and sharing it with [Module Federation (SharePlugin)](https://webpack.js.org/concepts/module-federation/)
[code]

We encountered this error:\
![with-mf](https://github.com/tzachbon/swr-mf-error/blob/main/screenshots/with-mf.png?raw=true)

**If the current behavior is a bug, please provide the ste

[2022-08-08 16:26] VisonM opened #16126 "discuss for remove unused argument in runtime function template in webpack5"
I'm not sure if this is a bug or expected feature(not compatibility for the wrong module library)，so I marked it as discuss.

## good case
when we not use module spec keyword like `module`,`require` ,`import`,`export` etc in js file
[code]

in webpack4 ,we will get output like
[code]

but webpack5 ( [maybe this commit](https://github.com/webpack/webpack/commit/2525c8b7aa1db995f57f973f54a1c0989334f

[2022-08-08 23:08] satinder1624 commented on #11868
alias: {
    "os": "YOUR PLOYFILL MODULE"
}

Here what is YOUR PLOYFILL MODULE

[2022-08-09 02:05] prisia opened #16128 "How to solve ./node_modules/handlebars/lib/index.js:15:11-24 - Error: Module not found: Error: Can't resolve 'fs' in module federation config?"
./node_modules/handlebars/lib/index.js:15:11-24 - Error: Module not found: Error: Can't resolve 'fs' in '/Users/dino/Documents/puro/node_modules/handlebars/lib

Hello, i got this error when -> npm start my application
can anyone help me with this?
tried this approach
https://github.com/handlebars-lang/handlebars.js/issues/1174
but it seems not working on my case
Thank you 😄

[2022-08-09 02:16] Magin-CC commented on #11868
Like `"os-browserify/browser"` as in the example above.

[2022-08-09 02:46] Magin-CC commented on #16126
Use the `module` or `exports` api in eval code means that module strong dependence on these two APIs.

If you don't use webpack bundle that module, it also doesn't work in chrome runtime.

btw, that module change its output mode in 2.3.1, maybe upgrade your dependence version is good solution.

[2022-08-09 02:50] Magin-CC commented on #16126
btw,  eval code will prevents the identifiers minify of the scope chain.

[2022-08-09 03:58] VisonM commented on #16126
You are right. but I am more curious about the compatibility considerations of webpack5 for such situations. I also dislike such non-standard libs. (btw v2.3.1 is still in beta 😂, I would choose to release a custom version by self just not use eval）

Can I understand that under the current latest webpack version, or even in future versions, webpack is no longer compatible with such weird libs for

[2022-08-09 04:14] #16128 closed

[2022-08-09 05:46] PiTiLeZarD commented on #5168
Too bad, I'm having the exact same issue now :/

[2022-08-09 06:26] nbinobied commented on #14532
On PowerShell

`$env:NODE_OPTIONS = "--openssl-legacy-provider"`

Worked with Node v18.7.0

[2022-08-09 08:50] LewisCowlesMotive commented on #14532
Did anyone try the `output.hashFunction: "xxhash64"` option in their webpack config? There were two suggestions given, and I see a lot of people trying just one of the options.

Maybe I'll give it a bash.

[2022-08-09 14:29] LewisCowlesMotive commented on #14532
The `xxhash64` only works for newer webpack configs. So if people are on older webpack, try the environment variable (or upgrade webpack).

Also if upgrading webpack works for you, you don't need to specify a `hashFunction`, if you use [`experiments.futureDefaults`](https://webpack.js.org/configuration/experiments/#experimentsfuturedefaults)

[2022-08-09 22:21] satinder1624 commented on #11868
Hello Magin-CC, I try that but it not doing anything. Could you able to look at the code if I send you the repo link? I am trying to solve the issue from last 3 days. I will really appreciate your help.

[2022-08-10 03:25] iamWing commented on #13252
The regex on the tweaked version doesn't seem right to me. Neither `./app.js` or `sha.js` matches the expression.

My suggestion would be use `/.*\/+.+\.js$/` instead. Matching a `/` character in the middle of the path can help identifying if we're importing a local module or not, because if we're importing a dependency installed we usually just write `import something from 'something';`, but if w

[2022-08-10 05:58] ScriptedAlchemy commented on #16081
This is a general problem with any code split application. Not federation specific.

Keep the previous deploy accessible on your cdn. Like all my assets persist in Akamai for 7 days. Because any user who uses dynamic import. Regardless of Federation, still need to be able to access chunks that are listed on the webpack runtime that was loaded.

If you don't want to use a cdn to persist then try ca

[2022-08-10 06:29] promer94 opened #16131 "[Module Federation] when mjs consumes a shared module , it will use shared module as commonjs"
# Bug report
**What is the current behavior?**
Currently when you import a shared module in a .mjs file. It will use shared module as commonjs

Source:
<img width="2239" alt="Screen Shot 2022-08-10 at 14 21 45" src="https://user-images.githubusercontent.com/15878786/183830190-c234032d-0a22-4095-b2db-01c21a867572.png">

Build Result:
<img width="2517" alt="Screen Shot 2022-08-10 at 14 24 08" src="h

[2022-08-10 07:39] karlhorky commented on #13252
@iamWing the `/^\..+\.js$/` regex seems to work for `./app.js`, and it is supposed to filter out `sha.js`:

[code]

[2022-08-10 10:33] Magin-CC commented on #11868
I create a demo project: https://github.com/Magin-CC/webpack-core-alias-demo .
It works well. Maybe you can check your webpack config with this.

[2022-08-10 10:58] huozhi commented on #16125
@keropodium Thanks! I checked, it resolved the issue! cc @tzachbon

[2022-08-10 11:00] huozhi commented on #16131
Can you try this to see if this resolves your issue? https://github.com/webpack/webpack/issues/16125#issuecomment-1210447191

[2022-08-10 12:06] alexander-akait commented on #16119
This problem in `create-react-app`, sorry, we can't fix it here

[2022-08-10 12:06] #16119 closed

[2022-08-10 12:22] alexander-akait commented on #16131
Duplicate https://github.com/webpack/webpack/issues/16125, feel free to feedback

[2022-08-10 12:22] #16131 closed

[2022-08-10 12:28] alexander-akait commented on #16118
Please create reproducible test repo

[2022-08-10 12:43] promer94 commented on #16131
Although this is problem is actully comming from the #16125.

But this is a more general problem about module federation.  The same issuse still happen when it is vue or any other es module libs

<img width="2321" alt="Screen Shot 2022-08-10 at 20 41 04" src="https://user-images.githubusercontent.com/15878786/183904162-f72af9bb-76e7-4566-9d57-cc5bc5700b43.png">

[2022-08-10 12:53] iamWing commented on #13252
My bad for the typo, I actually mean `_/app.js` instead of `./app.js` there.

The reason I'm using `_/app.js` rather then `./app.js` there is because I have path alias configured in `tsconfig` and I think a lot of people do rather than just typing long paths for relative imports, hence I proposed to check for the `/` in the import path to check if it's a realative import instead of `./`.

[2022-08-10 12:55] alexander-akait commented on #16124
Why do you think this is a mistake?

[2022-08-10 12:58] alexander-akait commented on #16131
Give me small time to investigate, because I am thinking we should to solve them together (if no I will reopen)

[2022-08-10 13:03] eps1lon commented on #12492
@sokra Shouldn't the documentation reflect that? Right now the documentation explicitly states to use `getInfrastructureLogger` for plugins:

[code]

[2022-08-10 13:17] promer94 commented on #16131
I would love to do that. But webpack code is really hard to understand for me. I will try my best.

Currently my finding is that shared modules seems lost their `buildMeta` and `mjs` make `strict` become true ?
So it fallback to `default-with-named`
https://github.com/webpack/webpack/blob/9fcaa243573005d6fdece9a3f8d89a0e8b399613/lib/Module.js#L428-L487

https://github.com/webpack/webpack/blob/9fca

[2022-08-10 14:29] alexander-akait commented on #16095
@hardfist If you switch to `css-loader`/`mini-css-extract-plugin` you will get the same as esbuild, so I marked it as bug, I think we should follow spec here.

Also feel free to send a PR with fix you have time

[2022-08-10 17:06] oriSomething commented on #16124
Because nothing really written about it inside https://webpack.js.org/configuration/module/
And to be honest it's not the most intuitive API (Not saying I have a better solution). After seeing https://github.com/webpack/webpack/blob/9fcaa243573005d6fdece9a3f8d89a0e8b399613/lib/config/defaults.js#L80 I see it's actual a thing.
Thanks anyway 🙏 Sorry for wasting your time

[2022-08-10 17:06] #16124 closed

[2022-08-10 23:01] bkotsopoulossc opened #16134 "Invalid value used as weak map key"
# Bug report

**What is the current behavior?**

I have a project where I am using the webpack 5 webassembly resource loader. It works great. The webassembly binary is apart of an npm package that my project depends on.

Sometimes I want to build that webassembly library locally, and when I do, I `yarn link` the other package to my webpack project. I also build a debug version of the webassembly b

[2022-08-11 00:12] satinder1624 commented on #11868
Hi, I really appreciate your effort. I wanna confirm where should I change them as I dont have a web config in the root folder should I create one?
Also I have on webpack.config.js file in client/node_modules/react-script

[2022-08-11 02:17] chenyulun opened #16135 "Webpack5 ES5 Terser compression configuration is incorrect"
# Bug report

**What is the current behavior?**

[code]
input code
[code]
output code
[code]

Webpack target should actively configure Terser's options.compress.arrows = False if ES5 is present

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Error recurrence project
https://github.com/chenyulun/webpack5-test

**What is the expected behavior?**
// Hopefully the

[2022-08-11 03:04] Magin-CC commented on #11868
learn about this: https://create-react-app.dev/docs/available-scripts#npm-run-eject

[2022-08-11 06:40] vankop commented on #16134
please create reproducible repo

[2022-08-11 06:42] vankop commented on #16134
I didn't get this.. could you link github if this loader?

[2022-08-11 07:01] neutraali commented on #15668
One solution you can try is to make sure your `output.library` and `DllPlugin.name` match.

[2022-08-11 07:13] vankop commented on #16135
hm.. yeah, we defaults should be updated..

[2022-08-11 07:18] chenyulun commented on #16135
Has Webpack5 been having problems?
When will it be fixed?

[2022-08-11 07:50] vankop commented on #16126
webpack in general is designed for modules, so webpack doesn't parse `eval()` code. Therefore, this is not possible to support..

[2022-08-11 07:50] #16126 closed

[2022-08-11 08:33] VisonM commented on #16126
@alexander-akait @vankop  Thanks for your patience！🌈  just closed this issue.

I think ` noParse` is  enough for such weird libraries.

I also found [docs about runtime optimization in release blog](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#runtime-modules), but I think it's a little obscure for developers, I may send a docs pr to optimized, make it more understandable, but it's a

[2022-08-11 21:15] alexander-akait commented on #16135
We handle ecma here https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/index.js#L490, so I will fix it on the plugin side

[2022-08-11 22:12] chenyulun commented on #16135
Check that all Terser configurations are ES5 compliant,
tks

[2022-08-11 22:17] chenyulun commented on #16135
Alternatively, it is recommended that the Terser compressor be compatible with an ESMA configuration of 5 without setting the arrows to False

[2022-08-11 22:35] chenyulun commented on #16135
`test.mjs`
[code]
[code]

[2022-08-12 02:05] Faithnone commented on #15532
webpack  target: web

[2022-08-12 05:19] 16188722 opened #16140 "[ext] template string should include leading dot as webpack does"
Operating System: Windows
Node Version: 16.16.0
NPM Version: 8.11.0
webpack Version: 5.74.0
file-loader Version: 6.2.0

**Expected Behavior**
The [ext] template string would be replaced with the file extension including the leading . (dot) as [webpack itself does](https://webpack.js.org/configuration/output/#template-strings)

**Actual Behavior**
The . (dot) is not included means files like exampl

[2022-08-12 08:20] lovetingyuan opened #16142 "ignoreWarnings does not work"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-08-12 08:39] #16142 closed

[2022-08-12 11:54] alexander-akait commented on #16135
@chenyulun

I agree that at least the ecma option should be respected (ideally browserslist).

[2022-08-12 11:55] alexander-akait commented on #16140
`file-loader` is deprecated, please don't use it

[2022-08-12 11:55] #16140 closed

[2022-08-12 12:01] 16188722 commented on #16140
{
test: /.(woff|woff2|ttf|eot)$/,
First method:
type: "asset/resource",
generator: {
filename: "../fonts/[name][ext]",
},

This one also not working, Getting same error

[2022-08-12 12:05] alexander-akait commented on #16140
Please create reproducible test repo, I can't rreproduce it

[2022-08-12 13:48] keropodium commented on #16125
@tzachbon Correct, this issue still needs to be addressed.

[2022-08-12 14:03] alexander-akait commented on #16135
@chenyulun Fix - https://github.com/webpack-contrib/terser-webpack-plugin/pull/509 (swc affected too) + change ecma from 5 should enable more optimizations

[2022-08-12 14:04] alexander-akait commented on #16135
Anyway will be great if terser handle it too

[2022-08-12 14:13] #16135 closed

[2022-08-12 15:05] alexander-akait commented on #16098
Change to: `import { render } from 'react-dom';`.

After babel you have ECMA modules code, so webpack assume code in ECMA Modules and you have `default` import, but you use system js (and load UMD from CDN, when remap methods).

Not sure what is the best solution here...

Also you can change code to:
[code]

[2022-08-12 15:26] alexander-akait commented on #16091
@vankop Bug here https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L1019, `buildHttp` disable `web` target, so webpack-dev-server is assuming we are not in web enviroment and avoid including clients

[2022-08-12 22:08] ScriptedAlchemy opened #16143 "ESM output: single runtime chunk resolved to wrong path when using subpath entrys"
# Bug report

**What is the current behavior?**

If i create entrypoints that include a path in their name, when runtimeChunk: single is set - webpack imports the runtime from the wrong directory.

**If the current behavior is a bug, please provide the steps to reproduce.**

using this config:

[code]

Emits the following
<img width="1250" alt="image" src="https://user-images.githubusercontent.com

[2022-08-13 03:54] ScriptedAlchemy commented on #16125
I think it may be a bug if the default isn’t resolving to something. If you’re doing a “deep” import into the package. Then trailing slash is needed

[2022-08-13 03:58] ScriptedAlchemy commented on #16040
It’s in the ESM directory. There’s a series of plugins there. You can also see what plugins are applied when by looking at the applyOptions file. It takes the config and translates it to plugins applied to compiler.

[2022-08-13 04:05] ScriptedAlchemy commented on #15829
Do you get a warning in browser like “failed to init external” or something along those lines?

[2022-08-13 05:00] LP1994 commented on #16091
@vankop

According to what you said, I changed "!buildHttp && targetProperties && targetProperties.web" in "https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L1026" to " targetProperties && targetProperties.web", although HMR is OK, but the browser console reported a new error:
<img width="857" alt="image" src="https://user-images.githubusercontent.com/12012671/184469225-f880dde0

[2022-08-13 05:41] kenlyon commented on #16119
@alexander-akait Are you saying that because I discovered it in `create-react-app`, or did you determine the cause? If I knew more about which part of the configuration caused it, perhaps I could reproduce it without `create-react-app`. There's a lot of configuration, though, and I don't know enough about it to know which parts contribute to this.

[2022-08-13 18:04] alexander-akait commented on #15824
bump

[2022-08-13 18:07] alexander-akait commented on #15821
bump

[2022-08-13 18:08] alexander-akait commented on #16119
@kenlyon Can you create reproducible test repo?

[2022-08-13 18:21] alexander-akait commented on #16091
@LP1994 Your should not change it in webpack, change it to `true` https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L478, also remove `watchFiles` (from dev server, it is only for resources which are not in bundle, for example - change PHP files)

Because webpack change `compiler.options.externalsPresets` (https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.j

[2022-08-14 12:18] LP1994 commented on #16091
According to what you said, I removed the "watchfiles" option, also, I have added configuration to my demo library(https://github.com/LP1994/experiments_buildHttp_hmr/blob/master/webpack.config.js#L164):
![image](https://user-images.githubusercontent.com/12012671/184536312-f48c1369-9c01-4b72-abee-05f176864aeb.png)

although HMR is OK, but the browser console reported a new error:
![image](https://

[2022-08-14 12:22] alexander-akait commented on #16091
Not sure, I can't reproduce your problem..., can you provide steps?

[2022-08-14 12:38] LP1994 commented on #16091
OK. I have updated my demo library:
https://github.com/LP1994/experiments_buildHttp_hmr.git

After downloading the project, go to the project root directory and execute the commands in the following order:
1)webpack init
2)npm run dev

Other relevant information:
webpack 5.74.0
webpack-dev-server 4.10.0
node 18.7.0
npm 8.17.0

Operating System:
Windows 11 Professional Edition 21H2 22000.832

[2022-08-14 12:40] alexander-akait commented on #16091
Why you run `webpack init`?

[2022-08-14 12:43] LP1994 commented on #16091
Just to initialize the dependencies needed in the project for those who don't have the corresponding npm package installed.

[2022-08-14 12:46] alexander-akait commented on #16091
Also you have:
[code]

 you should not do it, workarond to enalbe HMR and buildHttp right now (I remove unnecessary options, but you can return them if you need):
[code]

[2022-08-14 12:47] alexander-akait commented on #16091
Use `npm i` for this, not `webpack init`

[2022-08-14 12:54] LP1994 commented on #16091
@alexander-akait
thanks. I will try again.

[2022-08-14 13:14] LP1994 commented on #16091
@alexander-akait
Perfect indeed. Thanks again.

When I asked this question at the beginning, I also found that "webpack/hot/dev-server.js" and "webpack-dev-server/client/index.js" were manually added at the entry. can use both experiments.buildHttp and HMR.

However, at the time I thought that since webpack already provides the hot option and the HMR plugin to enable HMR, it would be somewhat redu

[2022-08-14 13:15] LP1994 commented on #16091
@alexander-akait
Thanks again for your prompt reply.

[2022-08-15 02:39] qq281113270 opened #16145 "webpack v5 Webpack-hot-server-middleware Compatibility problems"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
 "webpack": "^5.74.0",
 "webpack-cli": "^4.10.0",
 "webpack-dev-middleware": "3.7.3",
 "webpack-hot-server-middleware": "^0.6.1",
Node.js version:  16
Operating System:  mac  windows
Addit

[2022-08-15 02:47] LP1994 commented on #16091
If anyone else encounters the same problem in the future, you can refer to my demo library.

I have updated my demo library:
https://github.com/LP1994/experiments_buildHttp_hmr.git

Here, thanks again to the maintainers who helped to answer the questions.

Personally, I will close this question first.

[2022-08-15 05:48] malotov opened #16146 "Imported TypeScript enum is undefined in Webpack module object"
# Bug report

webpack version:  5.74.0
Node.js version: 14.15.1
Operating System: Windows 10 Pro

**What is the current behavior?**

Exported enums are undefined at runtime.

![image](https://user-images.githubusercontent.com/61434825/184580300-c95ef352-c710-4468-b6c6-f680d96190a4.png)

`util_types__WEBPACK_IMPORTED_MODULE_0__` contains no property named `SessionViewType`. This enum is exported fr

[2022-08-15 09:32] hardfist opened #16147 "experimental.css not support legacy browser?"
# Bug report

**What is the current behavior?**
experimental.css may not supports legacy browser because it relys on css variable to load css chunk, I'm wondering whether it's by design
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additiona

[2022-08-15 12:32] matzeeable opened #16149 "Chunk / Dynamic import not created for monorepo package"
# Bug report

**What is the current behavior?**

I am using webpack within a monorepo:

[code]

`package-b` is a dependency of `package-a`. `package-b` does not have an own webpack build step as `package-a` has the webpack build process and just consumes the source files directly of `package-b`. When I do a dynamic import in `package-a` of a file in the same package, webpack creates a chunk.

But

[2022-08-15 14:26] closertb commented on #16098
at first, I try to solve the problem by change the export with the default. but i found I should change every project export which use the builder;

now i write the a plugin, change the output code like:

[code]

for now, it is work. but i still suggest, we should solve this problem, whatever it will take

[2022-08-15 15:34] Yegorich555 opened #16150 "How to force sass-loader not to convert escaped string to utf-8"
**Question!**
The issue doesn't related to webpack directly, but tied.

We have discussion on [stackoverflow](https://stackoverflow.com/questions/56800083/browser-sometimes-uses-the-wrong-font-to-render-icons-resulting-in-garbled-text) and according to this one when I use fonts as icons I have the following
[code]

Which with webpack sass-loader converted into
[code]

Generally speaking it's corre

[2022-08-15 15:49] Yegorich555 commented on #16150
I found solution with [css-unicode-loader](https://github.com/styzhang/css-unicode-loader)

[2022-08-15 15:49] #16150 closed

[2022-08-15 15:58] kenlyon commented on #16119
@alexander-akait Yes, I just added one now. It'd be great if you could give it a look for me. It is located here: https://github.com/kenlyon/webpack-duplicate-path-segments. Please follow the instructions in the `README.md` to reproduce it. If you already have `node` and `yarn` installed, it'll be very quick to do.

[2022-08-15 17:01] ashosive commented on #14532
This worked for , thank you

[2022-08-15 17:35] alexander-akait commented on #16145
Please wait answer https://github.com/webpack-contrib/webpack-hot-middleware/issues/426, no need to duplicate, thank you

[2022-08-15 17:35] #16145 closed

[2022-08-15 18:31] alexander-akait commented on #16147
Yes, do you need to support old browsers?

[2022-08-15 20:21] itschip opened #16151 "Module federation dynamic remotes with objects containing React components."
# Bug report

**What is the current behavior?**
I am currently trying to load a React component (functional) which is coming from an object as a remote.
[code]

Now, I am following a pattern from https://github.com/OmerHerera/dynamic_remote
[code]
However, when used in a `ModuleLoader` component like this (below), the `Component` is suddenly undefined or simply and object (even though it logs out

[2022-08-15 21:23] cantrell opened #16152 "LitElement doesn't work when target is 'electron-renderer'"
# Bug report

**What is the current behavior?**
When I set my build target to 'electron-renderer' the app builds fine, but at runtime, I get the error:

[code]

When the target is set to 'web' everything is rendered as expected.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create an Electron project using Webpack and LitElement.
2. Create a build target for you

[2022-08-15 22:31] gardner commented on #14532
Upgrading to `react-scripts` v5 when using `create-react-app` worked for me.

[2022-08-15 23:23] sedghi commented on #6818
Is there any update for this?

[2022-08-15 23:51] ScriptedAlchemy commented on #16143
@alexander-akait  opened a PR https://github.com/webpack/webpack/pull/16153

[2022-08-16 00:31] itschip commented on #16151
Nevermind, we solved it: https://github.com/project-error/npwd/blob/master/phone/src/common/hooks/useExternalApps.tsx

[2022-08-16 00:31] #16151 closed

[2022-08-16 02:12] hardfist commented on #16147
yes, we still need to support old browsers like browser in  android 4.4-

[2022-08-16 06:29] vankop commented on #16152
please create small reproducible repo

[2022-08-16 06:31] jerrykingxyz opened #16155 "experimental.css use @supports with env() will export invalid css"
# Bug report

**What is the current behavior?**

experimental.css use @supports with env() will export invalid css

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
[code]
[code]

export css
[code]

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.74.0
Node.js version: v16.16.0
Operating System:
Additional tools:

[2022-08-16 06:32] vankop commented on #16146
Please you create small reproducible repo.

[2022-08-16 06:34] vankop commented on #16146
As I see from your configuration
[code]

you have `.js` transpiled version as well? sounds like without extension js version is used

[2022-08-16 06:35] malotov commented on #16146
@vankop I should be able to get one up by tomorrow. I found that by downgrading to `5.30.0`, enums were no longer undefined.

[2022-08-16 06:57] vankop commented on #16119
you have public path `./`, you should have `/`, not sure why `create-react-app` set this..

[2022-08-16 07:17] vankop commented on #16149
hm.. maybe you need to unset `cacheGroups` ( or better create `cacheGroup` for `package-b` )

[2022-08-16 09:04] 16188722 commented on #16140
I can't share the code because it is confidential Could you please help me in getting the compatible plugins and loader. List of loader and plugins that we are using is below:
"compression-webpack-plugin": "10.0.0",
    "concurrently": "5.3.0",
    "copy-webpack-plugin": "5.1.2",
    "css-loader": "6.7.1",
    "execa": "1.0.0",
    "file-loader": "6.2.0",
    "font-awesome-sass": "4.7.0",
    "for

[2022-08-16 13:00] alexander-akait commented on #16140
@16188722 I see you still have `file-loader`...

[2022-08-16 13:16] cantrell commented on #16152
Hi, there. Here's a minimal project that demonstrates the issue:

https://github.com/cantrell/Electron-LitElement-TypeScript-Webpack-Boilerplate

When the renderer target is set to `web`, the page renders fine, and I see this:

<img width="912" alt="web" src="https://user-images.githubusercontent.com/138986/184888630-5c142983-2cd1-4246-89df-32909bcdb00c.png">

However, when the renderer target is

[2022-08-16 13:32] alexander-akait commented on #16147
oh, in thsi case css-loader can help here, new approach has better perf and logic, but requires new browsers

[2022-08-16 17:11] alexander-akait commented on #16149
Please, thank you

[2022-08-16 17:12] alexander-akait commented on #16146
webpack don't touch enums, please check your typescript configuration and version

[2022-08-17 00:41] ai commented on #14226
@alexander-akait I decided to review a difference. I started from Chrome. `≥ 61` in Can I Use vs `≥ 63` in webpack.

I used Browserstack to load Chrome 61 and run [ES tests from MDN](https://github.com/mdn/js-examples/tree/master/module-examples). All tests except `dynamic-module-imports` were passed.

Why do you think Chrome 61 does not support ESM?

Maybe there is some bugs?

[2022-08-17 07:36] adamma1024 opened #16158 "Should contentHash happen before the moduleIds process?"
## Feature request

I notice our static dependency file's hash will be changed sometimes. After my investigation it's caused by different `moduleIds`.
I take an experiment to prove it.
First, I saved my project in two version while their `monaco-editor` versions are identity. When I used the `moduleIds: 'named'` and built my  project in prod env. They got the same content hash.
But when I changed

[2022-08-17 09:00] ter9ng commented on #15582
Was having this issue and tried the fixes above. Nothing worked.
My issue was that I had multiple project named "ClientApp" and they all had the same project name in the angular.json file.
**Changing the name of the project in the angular.json file** to unique one solved it for me.

("@angular-architects/module-federation": "^14.3.10")

[2022-08-17 11:36] luckymore opened #16159 "why runtime/chunk not processed by babel-loader？"
# Bug report

**What is the current behavior?**
contain es6 syntax `array destruction`
![image](https://user-images.githubusercontent.com/5390013/185108340-7718ae14-8466-4192-ac37-795eba2b6d15.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

**What is the expected behavior?**
It should be like this
![image](https://user-images.githubusercontent.com

[2022-08-17 12:09] alexander-akait commented on #16159
Please set `target: ['es5', 'web']`, otherwise webpack generate es6 runtime output, thank you

[2022-08-17 12:09] #16159 closed

[2022-08-17 12:16] alexander-akait commented on #14226
@ai As far as I remember when I tested I took information from MDN https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/import (63 there)

[2022-08-17 12:25] mohsinulhaq commented on #15416
@arpu how did you resolve this issue?

[2022-08-17 12:25] alexander-akait commented on #16158
How many chunks you have? Do you extract runtime? If you have dymanic chunks their names are changed so contenthash is different. Maybe you can provide small example?

[2022-08-17 12:27] alexander-akait commented on #15416
There is answer, it is a limitation in some cases, anyway please provide more infromation, so we can answer better why

[2022-08-17 12:28] alexander-akait commented on #16140
`[ext]` is always include leading dot, please provide which files are not include it

[2022-08-17 12:30] alexander-akait commented on #16098
@closertb How we can solve it? You use default import, but want to load it in system js, it should be solved on application side, we align with esm spec and output of other bundlers

[2022-08-17 12:32] alexander-akait commented on #16159
It means you env support `array destruction` and you can use it

[2022-08-17 12:34] mohsinulhaq commented on #15416
@alexander-akait For me, the error started popping up after I removed `worker-loader` in favor of Webpack 5's native support for Web Workers. I am sure it's caused due to `LimitChunkCountPlugin` because disabling it causes builds to pass.

[2022-08-17 12:34] alexander-akait commented on #16159
Anyway if you want to say webpack don't generate it you can use https://webpack.js.org/configuration/output/#outputenvironment and set `destructuring` to `false`

[2022-08-17 12:45] luckymore commented on #16159
thx!!! I never notice this, but why webpack don't use babel take it
[babel online](https://babeljs.io/repl#?browsers=android%3E%3D5%2Cios%3E%3D8&build=&builtIns=usage&corejs=3.21&spec=false&loose=true&code_lz=G4QwTgBA2iA0ECMC6EC80lA&debug=false&forceAllTransforms=true&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Cr

[2022-08-17 12:56] ai commented on #14226
For dynamic `import()` we have exactly the same results:

* https://caniuse.com/es6-module-dynamic-import
* https://github.com/webpack/webpack/blob/main/lib/config/browserslistTargetHandler.js#L107-L126

Did I miss any difference?

[2022-08-17 12:57] mattlewis92 opened #16160 "Disk cache + asset module regression in v5.72.0"
# Bug report

**What is the current behavior?**

Webpack throws this error when using asset modules + disk caching:

during rendering of asset asset/resource|/Users/mattlewis/Code/clickup/frontend/node_modules/.pnpm/resolve-url-loader@5.0.0/node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[0]!/Users/mattlewis/Code/clickup/frontend/node_modules/.pnpm/sass-loader@13.0.2/node_modules/

[2022-08-17 12:59] alexander-akait commented on #16159
Yes, webpack doesn't run babel loader on generated runtime, it will be very bad for perf and increase output, so we have these variables (and get them from browserslist for better DX)

[2022-08-17 12:59] alexander-akait commented on #14226
Looks like fixed, because previously it was not 61, do we have `supports x` for each item from https://github.com/webpack/webpack/blob/main/lib/config/browserslistTargetHandler.js#L127 (i.e. `const`/`arrow-functions`/etc)

[2022-08-17 13:01] alexander-akait commented on #16160
I think you have outdated cache, ideally you should remove cache when you update webpack, maybe we should do it on our side (i.e. store version in cache and invalidate it when version changed), when you remove old cache is it help?

[2022-08-17 13:18] mattlewis92 commented on #16160
I deleted the cache _after_ doing the webpack upgrade though, it was the same version of webpack (`v5.72.0`) that wrote the cache to disk

[2022-08-17 13:28] alexander-akait commented on #16160
/cc @vankop

[2022-08-17 13:29] alexander-akait commented on #15416
When you have `native support for Web Workers`, you always have more than 1 chunk... You can try:
[code]

[2022-08-17 20:00] iyibu opened #16161 "Require.resolve not resolving for target:node bundles"
# Bug report

**What is the current behavior?**
My goal is create a standalone bundle. (Optimization, tree shaking whatever doesn't matter)
Source code has non-standard/unusual coding (for ex. require(require.resolve) instead of require)
I think that this require minimum config of webpack.
Expected scenario: a commonjs script that need any node_modules package and run as portable (without any inst

[2022-08-17 20:03] alexander-akait commented on #16161
Do you have `index.js`?

[2022-08-17 20:06] iyibu commented on #16161
-

[2022-08-17 20:06] iyibu commented on #16161
@alexander-akait yes. i wrote my example source code under **Here is my example code and config for target:node bundle.**

[2022-08-17 20:12] alexander-akait commented on #16161
Try this `const f = require.resolve("./import")`

[2022-08-17 20:18] iyibu commented on #16161
@alexander-akait  If i dont bundle with webpack and run source code with `node ./index.js` everything ok.
But bundled version has a problem.
Imagine that i can NOT change source code.
index.js is an example (source code is more complicated), main.js is bundled version.

[2022-08-17 20:27] alexander-akait commented on #16161
`require(f)()` is not staticailly analizable, so sorry, it is impossible

[2022-08-18 01:45] ai commented on #14226
Let’s replace to Browserslist 🥳

Yeap, we can use it everywhere since you already have Browserslist in dependencies.

[2022-08-18 03:03] Hadokennn opened #16163 "[webpack.cache.PackFileCacheStrategy] Restoring failed for ResolverCachePlugin. SyntaxError: Cannot use import statement outside a module"
# Bug report

**What is the current behavior?**
When packing for the second time, webpack reports 'Restoring failed for ResolverCachePlugin'.
e.g.

<w> [webpack.cache.PackFileCacheStrategy] Restoring failed for ResolverCachePlugin|normal|dependencyType=|commonjs|path=|/Users/keboliu/vscode-shortcut/portal-h5-node/src/views/teleclinict/booking/case-info|request=|@/lib/utils.js from pack: SyntaxErro

[2022-08-18 03:15] Hadokennn commented on #16163
Even though I enable babel transformation of ES module syntax to another module type by auto. It doesn't work.

<w> [webpack.cache.PackFileCacheStrategy] Restoring failed for ResolverCachePlugin|normal|dependencyType=|esm|path=|/Users/keboliu/vscode-shortcut/portal-h5-node/src/router/business-line|request=|@/views/prescription/medical-records/index.vue from pack: SyntaxError: Cannot use import sta

[2022-08-18 11:20] adamma1024 commented on #16158
Thanks for your reply. I found this issue on `monaco-editor` package. It's a third part package, I never change its codes. And I don't know if it used the dymanic chunks within.
Do you mean the `moduleIds` differences are caused by dymanic chunks? Sure, it could have some additional dymanic chunks in our new codes. And it would cause the `moduleIds` difference indeed.
But I think it should not bec

[2022-08-18 11:27] adamma1024 commented on #16158
Btw, what's the rule for calculating the `moduleIds` ? Is there another way to let all of `moduleIds` fixed in the `monaco-editor`. I just know a way is to set `moduleIds: 'named'`. Unfortunately, t will increase the size of the bundle.

[2022-08-18 12:25] mohsinulhaq commented on #11431
@carlovenus what was the solution?

[2022-08-18 13:20] mehmetcozdemir commented on #11431
@mohsinulhaq you can set [this option](https://webpack.js.org/configuration/module/#moduleparserjavascriptdynamicimportmode) to `eager` if you just want to get rid of dynamic import chunks.

[2022-08-18 13:52] mohsinulhaq commented on #11431
@mehmetcozdemir thanks for the help! This didn't work, probably because my chunks are being created by Web Workers and not any dynamic imports. Is there any way to control the chunks created via `new Worker`?

[2022-08-18 14:25] ColinLaws opened #16164 "Paths to relative modules should be expressed as file names"
# Bug report

**What is the current behavior?**
Webpack is failing to bundle a file due to how an imported local module ('webpack/lib/Module.js') is imported (in 'webpack/lib/FileSystem.js').

See here in `FileSystemInfo.js`.

https://github.com/webpack/webpack/blob/9fcaa243573005d6fdece9a3f8d89a0e8b399613/lib/FileSystemInfo.js#L9

I am receiving the following error, which indicates that webpack i

[2022-08-18 19:35] jljorgenson18 commented on #15885
Sorry for the delay. @sod using what you suggested, I confirmed that the issue is still definitely and it seems even worse now. Currently without minification, bootstrap takes about 160ms **with** arrow functions and about 50ms **without**.

This is a really simple fix if you just remove arrow functions from the top module during minification in Webpack.

[2022-08-18 19:46] jljorgenson18 commented on #15885
Just checked with minification and by using the arrowFunction output environment config. I am seeing about 55ms for bootstrap with arrow functions set to false and about 130ms with arrow functions set to true

[2022-08-19 03:09] Hadokennn commented on #16163
the err stack details:

/Users/.../node_modules/mini-css-extract-plugin/dist/CssDependency.js:1\nimport webpack from 'webpack';\n^^^^^^\n\nSyntaxError: Cannot use import statement outside a module\n    at wrapSafe (internal/modules/cjs/loader.js:979:16)\n    at Module._compile (internal/modules/cjs/loader.js:1027:27)\n    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1092:10)\n

[2022-08-19 03:14] Hadokennn commented on #16163
mini-css-extract-plugin/dist/CssDependency.js had been removed in v^1.x.x

[2022-08-19 03:31] Hadokennn commented on #16163
err stack details

[2022-08-19 03:37] Hadokennn commented on #16163
in my case, some packages dependency on mini-css-extract-plugin@v^0.6.0 at earliest.

[2022-08-19 04:08] srikanthathikari opened #16165 "Unable to build webpack sucessfully for test automation"
**Do you want to request a *feature* or report a *bug*?** - Request a feature

**What is the current behavior?**
I am currently using playwright which is a test automation framework. I have end-to-end tests that have long scenario tests. I am trying to split them into multiple files and build them using webpack at run time and run the long scenario from multiple files to a single test. I am not 10

[2022-08-19 06:01] Hadokennn commented on #16163
Maybe vue-loader@15.9.8 which is the latest version to vue2.x is the trouble maker.It depends mini-css-extract-plugin@^0.4.1

[2022-08-19 06:17] vankop commented on #16163
hm.. could you create small reproducible repo? I'll take a look

[2022-08-19 06:35] vankop commented on #16158
what does it means? The important thing is when
[code]
happens with same configuration it should have same content hash (if editor was not changed)

[2022-08-19 06:37] vankop commented on #16158
if you have something like 1st webpack config with one `moduleIds` ( result in 1st content hash ) and change webpack config to another `moduleIds` => this will change content hash since module ids alaso a part of content..

[2022-08-19 06:44] vankop commented on #16164
this log
[code]

looks like a webpack resolve error. Do you bundling webpack?

[2022-08-19 06:45] vankop commented on #16161
you should get an error for `require(f)()` btw

[2022-08-19 08:22] Hadokennn commented on #16163
The reproducible  repo.
 https://github.com/Hadokennn/webpack5-restore-error

thx.

[2022-08-19 12:16] ColinLaws commented on #16164
Yes, I believe you have helped me fix the issue. I was passing my `webpack.config.js` as the last argument to webpack when running `npx webpack example.js webpack.config.js`.

[2022-08-19 12:16] #16164 closed

[2022-08-19 12:38] josuevalrob commented on #15927
Kind of the same issue:
[code]

 Required package: `http`
[code]

like this other 10 logs. and then it ends with:

[code]

[2022-08-19 13:26] ChiLaXCoding opened #16168 "DLLReferencePlugin not working after update to Webpack v5"
# Bug report

**What is the current behavior?**

Webpack build succeeds, but loading the page in the browser throws an error

    at dll-reference vendor_lib (app.js:29526:18)
    at __webpack_require__ (app.js:34046:33)
    at fn (app.js:34270:21)
    at ../../node_modules/react/index.js (app.js:29374:19)
    at __webpack_require__ (app.js:34046:33)
    at fn (app.js:34270:21)
    at eval (react-

[2022-08-19 15:58] alexander-akait commented on #15885
@jljorgenson18 I wrote about it here above (https://github.com/webpack/webpack/issues/13125)

[2022-08-19 16:01] alexander-akait commented on #16158
@adamma1024 Do you have special plugin for `monaco-editor` (if I remember right there is bug there, it was reported multiple times). Also maybe you can create small reprocible test repo?

[2022-08-19 16:03] alexander-akait commented on #11431
@mohsinulhaq You can use multi compiler mode and compiler webworker before compiler compilation (also good for perfomance if you don't change worker a lot)

[2022-08-19 16:05] alexander-akait commented on #16168
Please create reproducible test repo, there are a lot of things changed, thank you

[2022-08-19 16:09] jljorgenson18 commented on #15885
@alexander-akait right, but this is a special case of that issue. An optimization was added here https://github.com/webpack/webpack/commit/806ee08c3f34706a3181aaffc55e5717af57e6df which caused an even worse regression for large UMD bundles.

[2022-08-19 17:05] alexander-akait commented on #15885
@jljorgenson18 I think we should report about it to v8 bug tracker, that is really bad for JS ecosystem, not only for webpack

[2022-08-19 20:55] iyibu commented on #16161
No. Try it with node index.js

[2022-08-19 20:56] iyibu commented on #16161
I am trying with @percel/ncc's elevator. but a little bit weak.

[2022-08-19 21:29] alexander-akait commented on #16161
[code]

is not statical analizable, we don't know how you can change `f`, so we keep `require` as is, but after bundling you don't have `import.js` anymore and get this error, so sorry

[2022-08-19 22:13] alexander-akait commented on #16163
Please update `npm` to the latest version and look at output when you run `npm i` (at warnings too), some dependecies are not compatbility with webpack v5:
- `friendly-errors-webpack-plugin`
- `istanbul-instrumenter-loader`

Please remove:

`${__dirname}/`

from:

[code]

This is invalid and bad for performance, you need to list the files that will affect the build, webpack by default added a conf

[2022-08-20 00:00] Aveline-art opened #16169 "Assets module adding defauly keyword to imports"
# Bug report

**What is the current behavior?**
When importing assets, the compiled file adds the .default keyword whenever the asset is used.

**If the current behavior is a bug, please provide the steps to reproduce.**
[See this for a more thorough write up (not by me)](https://stackoverflow.com/questions/66047474/webpack-5-how-to-import-assets-as-es6-module)

**What is the expected behavior?**

[2022-08-20 07:16] mudassir-jmi commented on #11467
(webpack-internal:///./node_modules/next/dist/pages/_document.js:16:1)

this error show in next js project

[2022-08-20 23:15] ChocolateLoverRaj opened #16171 "Automatically tree shake dynamic imports without needing magic comments"
## Feature request
This is a feature request after I asked this question: https://github.com/webpack/webpack/discussions/15565. The answer to the question said to use `webpackExports` magic comment to manually tree-shake import. This feature request is for webpack to automatically tree shake common dynamic import patterns that only import some exports.

Example of common patterns:
[code]

[code]

[2022-08-21 03:01] fregante commented on #14166
Ping

[2022-08-21 10:11] lingjieding commented on #784
config webpack resolve.symlinks = false fix my problem
ps： webapck3 + babel6

[2022-08-21 20:27] matzeeable commented on #16149
@alexander-akait here I have created a repository: https://stackblitz.com/edit/github-uymwfx-mvoaar?file=packages/package-a/src/index.js

As you can see, I have two functions with dynamic imports. When the dynamic import is within the `package-a` source, all is working as expected. But when using `import()` within another package, no chunk is created.

[2022-08-22 02:41] kenlyon commented on #16119
@vankop The public path of `./` is necessary for our production environment. The application has other path segments before it, like so:
[code]
If I used `/`, I think it would need to be accessed directly via the domain name, like so:
[code]

[2022-08-22 19:29] edusperoni opened #16173 "Using Webpack Module Federation breaks Workers"
# Bug report

**What is the current behavior?**

When using shared modules with Webpack Module Federations, the worker chunk will contain references to shared contexts, but the worker runtime does not contain any information on how to load these contexts.

**If the current behavior is a bug, please provide the steps to reproduce.**

Simple reproduction repo: https://github.com/edusperoni/wmf-worke

[2022-08-22 20:52] edusperoni commented on #16173
After digging quite a lot more, I found that, in `lib/sharing/ConsumeSharedRuntimeModule.js`, replacing:

[code]

With:

[code]

Fixed the issue in the workers (both the test scenario and real world scenario). I'm sure this might not be the correct approach, but maybe those get functions are not properly picking up the required information on a worker context (where most likely everything should b

[2022-08-22 21:12] edusperoni commented on #16173
Ok, I think I found the final issue, but i'm not sure if this is something that we should handle in WMF or the "rest" of webpack.

1. Worker is created in lib/dependencies/WorkerPlugin.js as an `AsyncDependenciesBlock`  https://github.com/webpack/webpack/blob/9fcaa243573005d6fdece9a3f8d89a0e8b399613/lib/dependencies/WorkerPlugin.js#L290
2. lib/buildChunkGraph.js will then call `addAsyncEntrypoint`

[2022-08-23 06:38] ScriptedAlchemy commented on #16173
What about setting runtime: false on module federation plugin?

If you have runtimeChunk: single - it can cause some issues - I've seen similar problems with webpack ESM output when there's multiple entry points and a single runtime chunk

[2022-08-23 07:07] #15677 closed

[2022-08-23 09:26] adamma1024 commented on #16158
Yes, indeed, but it will be changed in the following scenario:
Monday, we released our project named `version1`, the release contained a `monaco.1.js`
Tuesday, some guys add new `dynamic`  modules to the project and released the `version2`. Will it still be calculated to `monaco.1.js`? I think it should be. But the fact is as @alexander-akait  said, it probably was `monaco.2.js` since the `module

[2022-08-23 09:35] adamma1024 commented on #16158
I just used `new MonacoWebpackPlugin({ globalAPI: true })`.
I am not sure that I can provide a reproducible test repo. As we all know, the dependency's module id won't be changed at any time. And I have not found a way to repro it.
But I can promise that I will provide it to you as long as I create a reproducible repo.

[2022-08-23 09:42] adamma1024 commented on #16158
The webpack's config was never changed. But the module id in Monaco has been changed. Just like:
[code]
After compiled:
[code]
If we import a new dynamic module it probably be that:
[code]
So the content hash will be changed when it happens.

[2022-08-23 15:44] david-szabo97 commented on #5866
Is this still on the roadmap?

[2022-08-23 19:45] edusperoni commented on #16173
@ScriptedAlchemy setting runtime false makes no difference in the output. The worker will always have it's own runtime regardless of setting, but WMF will not add the needed information in it due to the things in my previous comment

[2022-08-24 09:43] hoang-dao commented on #11431
@vankop the issue can still be reproducible following the posted repo (https://github.com/LLGZONE/limitchunkplugin-demo) even with updated dependencies
[code]
* webpack: 5.74.0
* webpack-cli: 4.10.0
* node: v16.13.1
* OS: MacOS Monterey

In my case, my project is a monorepo which contains many typescript serverless functions, I follow the entry descriptor as a workaround to build a single bundle f

[2022-08-24 11:31] #15744 closed

[2022-08-24 20:52] ScriptedAlchemy commented on #16173
@vankop  @sokra any ideas here? this looks like a bug in webpack for making worker runtime be an initial chunk

[2022-08-24 21:45] edusperoni commented on #16173
I managed to find a workaround. Thanks so much to @ScriptedAlchemy for the help on this.

Essentially I'm finding chunks that are both entrypoints and runtimes of a group and I mark them as initial.

[code]

I'm interested in finding out a way to do this inside webpack's code, so we can mark these entrypoints as initial if we're using module federation (or maybe this is another condition we might

[2022-08-24 23:07] satinder1624 commented on #11868
Hey, could you please help me -> https://snipboard.io/6b13KT.jpg
I am not able to solve my problem. As long as I import the 2nd line I get a list of errors

[2022-08-25 03:11] s3rgeym opened #16178 "What does it mean"
NON INFORMATIVE ERRORS AFTER UPDATE!!!!!!!!!!!!!!

[code]

[2022-08-25 09:04] liangguangming opened #16179 "HMR Not Working"
"webpack": "^5.74.0",
    "webpack-cli": "^4.10.0",
    "webpack-dev-server": "^4.10.0"

webpack.config.js
[code]

[2022-08-25 12:21] juunzzi opened #16180 "Why is the mode option value injected as process.env.NODE_ENV value?"
### scripts

[code]

In this way, I am injecting the process.env.NODE_ENV value into the environment where the webpack command is executed.

In my React app code, I want to look up the value injected by scripts with process.env.NODE_ENV, but in this case, the value entered in the --mode option is injected.

 ex) `--mode=development` case , process.env.NODE_ENV of React App is development..

I'd li

[2022-08-25 14:31] giladv opened #16181 "dynamic imports always eager loads on library Type: module"
# Bug report

**What is the current behavior?**
dynamic imports always eager loads when ``library.type`` is ``module``

**If the current behavior is a bug, please provide the steps to reproduce.**
- minimal webpack setup with output.libraryTarget = 'module'
- entry file:
[code]

see bundle output: a native import function on the first line although it should be only inside the start function
this

[2022-08-25 22:18] JounQin commented on #15833
ping

[2022-08-25 22:20] SetTrend commented on #15331
@alexander-akait: I believe this issue is still important.

[2022-08-26 05:21] ScriptedAlchemy commented on #16118
Might be a reserved name since there’s module exports and other module references in the runtime code itself

[2022-08-26 05:24] ScriptedAlchemy commented on #16042
Put it under another share scope

[2022-08-26 05:25] ScriptedAlchemy commented on #15641
Runtime:false on the MF plugin

[2022-08-26 05:27] ScriptedAlchemy commented on #15417
I posted on twitter an example of how to fix this with a little loader. Check my recent tweets with media attached

[2022-08-26 10:45] alexander-akait commented on #16178
Please open an issue in vue-cli, it sounds bug somewhere bug in non official plugin/loader

[2022-08-26 10:45] #16178 closed

[2022-08-26 14:57] clyfish commented on #11240
@rzkhosroshahi , try this:
https://github.com/webpack/webpack-dev-server/issues/3038#issuecomment-1220867385

[2022-08-26 20:20] ScriptedAlchemy opened #16191 "Major Build Performance Regressions when using ContainerPlugin in childCompiler"
# Bug report

**What is the current behavior?**
Build should not be 2-3x slower

**If the current behavior is a bug, please provide the steps to reproduce.**
If i create a childCompiler and use `exposes` (ContainerPlugin) a webpack compile (initial compile and dev rebuilds) are twice as slow compared to if i do not expose any modules.

If I run two separate instances of webpack, the speed rebuild

[2022-08-27 03:18] ScriptedAlchemy commented on #16173
This does seem like a legitimate bug, entry flag should check runtime requirements for runtime globals related to module federation (init, get, share, consume) or chunk loading or if chunk includes references to remote-module or provide-module

[2022-08-27 05:49] ScriptedAlchemy commented on #11033
The node technology is currently proprietary.

There's a package on npm called node-mf, it's the least buggy option.

I do plan to release module-federation/node in the near future.

Our internal technology is the the most stable and powers many enterprise clients. It's also what's powering SSR support on next.js and is the core tech running module-federation/aegis (hexagonal backend architecture

[2022-08-27 11:54] account-sxf commented on #6460
This is working for me with webpack-cli ^4.10.0
[code]

[2022-08-28 20:11] #15619 closed

[2022-08-29 06:15] MohammedAshikKP commented on #16128
in webpack config add ` resolve: {
        fallback: {
            fs:false
     },
    },`

this might solve the isse

[2022-08-29 13:17] alexander-akait commented on #15619
If someone faced witht his issue again - feel free to open a new issue, thank you

[2022-08-29 13:22] alexander-akait commented on #16191
@ScriptedAlchemy Do you have any investigation (just for infromation)

[2022-08-29 13:26] alexander-akait commented on #16169
@Aveline-art Sounds like you use typescipt and doesn't setup it, please provide configuration and I will show you how to fix it

[2022-08-29 13:31] alexander-akait commented on #15331
Yeah :+1:

[2022-08-29 13:35] alexander-akait commented on #16173
Makred as bug, feel free to send a fix

[2022-08-29 13:36] alexander-akait commented on #15833
bump, still need a dicussion

[2022-08-29 13:59] alexander-akait commented on #16158
Sounds like a bug in `MonacoWebpackPlugin` (i faced with it some time ago), is it possible to check this bug without this plugin (because we don't have reproducible test repo we should check all possible places)

[2022-08-29 14:01] alexander-akait commented on #16171
Thank you for an issue

[2022-08-29 14:12] alexander-akait commented on #16152
@cantrell Do you solve the problem? Sorry for delay

[2022-08-29 15:34] mhp21 opened #16204 "Need help to upgrade Webpack 4.44.2 to 5.0"
# Bug report

**What is the current behavior?**
Unable to start dev server...

maulikparikh@Mauliks-MBP-2 duke_campus_exp % npm start

(node:3203) [DEP_WEBPACK_MAIN_TEMPLATE_RENDER_MANIFEST] DeprecationWarning: MainTemplate.hooks.renderManifest is deprecated (use Compilation.hooks.renderManifest instead)
(Use `node --trace-deprecation ...` to show where the warning was created)
(node:3203) [DEP_WE

[2022-08-29 15:45] ScriptedAlchemy commented on #16191
I'm investigating. Hood on issue, might be a problem with child compiler hook being called many times

[2022-08-29 16:12] cantrell commented on #16152
Hi, there. I didn't solve the problem (I just found a workaround). I'll reopen if someone is willing to take a look. The repo referenced above is once again available. Thanks!

[2022-08-29 16:16] alexander-akait commented on #16152
@cantrell Can you provide workaround - just for infromation

[2022-08-29 19:11] alexander-akait commented on #11431
So all dynamic imports now is not lazy and you will get one chunk

[2022-08-29 20:50] alexander-akait commented on #16149
Because you have `import { myFunc } from '../../package-b/index.js';`, webpack skips some optimizations for development mode for perf reasons (otherwise we should analizate more things, i.e. which dependeices are lazy and which are initial and decide to move some modules to own chunks and recalculate graph), shortly - you should not rely on a chunk creation mechanism, because there are a lot of op

[2022-08-30 05:43] matzeeable commented on #16149
Hey @alexander-akait !

Unfortunately, `dependOn` is not an option as it is not that dynamic and needs adjustments in the `webpack.config` itself. I gave `webpackMode: "lazy"` a try, but unfortunately it does not work as expected: https://stackblitz.com/edit/github-uymwfx-mvoaar?file=packages/package-b/src/myFunc.js

[code]

This is not correct. The file is imported through the dependency name:

[

[2022-08-30 06:24] ks-stack commented on #15406
+1

[2022-08-30 06:25] ks-stack commented on #15800
+1

[2022-08-30 06:26] ks-stack commented on #15800
why externalsType is only global config?

[2022-08-30 18:18] jon9090 opened #16207 "How to load bundles into the application in runtime after build?"
I want to load two js bundles generated by webpack (`app1.js`, `app2.js`) into my application (`host.js`) context. (I mean after the build by giving a string path of the javascript bundle file)

Something like this possible?
[code]

[2022-08-31 07:45] derpoho commented on #16114
We can confirm this, our splitChunks Setup is like this:

[code]

we also have multiple entry points and the chunks should create different vendor chunks for each of the entry points. It works in production mode, but not in development.

Error ist exactly the same as mentioned above.

[2022-08-31 09:19] icy0307 commented on #11431
@alexander-akait
I am little confused about the relationship between `LimitChunkCountPlugin`, `SplitChunkPlugin` and  `module.parser.javascript.dynamicImportMode`.
What is the relationship between minChunks, maxAsyncRequest, maxInitialRequests in splitchunk and maxChunks in SplitChunkPlugin?
If I set module.parser.javascript.dynamicImportMode something other than 'eager', who has the highest prior

[2022-08-31 09:21] derpoho commented on #16114
i have thrown together a small repo to reproduce this issue: https://github.com/derpoho/webpack-esmodule-error

maybe someone can look into this?

[2022-08-31 10:20] XiaoLin1995 commented on #15833
You can try to use [import-meta-loader](https://www.npmjs.com/package/import-meta-loader).
It will support you to use vite's import.meta in webpack. Because it can convert vite's import.meta syntax to webpack's syntax.

example:
[code]

[2022-08-31 10:32] JounQin commented on #15833
I'm like to have a more standard way because `process` is not standard global variable.

[2022-08-31 11:31] #15260 closed

[2022-08-31 16:20] sabeekaq commented on #16042
@ScriptedAlchemy  - are you referring to [this](https://webpack.js.org/concepts/module-federation/#dynamic-remote-containers)?

[2022-09-01 05:39] fregante commented on #13950
Ping ☺️
The stats are mostly undocumented or unclear to what they refer to to anyone who's not very familiar with webpack.

[2022-09-01 13:23] TheColorRed commented on #10460
@appzuka I had to also change `module` to a version less than `es2020`

[code]

[2022-09-02 16:36] #15674 closed

[2022-09-02 16:53] alexander-akait commented on #15800
@ks-stack What did you mean, please clarify

[2022-09-02 17:11] #15881 closed

[2022-09-02 17:21] alexander-akait commented on #11431
`LimitChunkCountPlugin` just merge chunks, `SplitChunkPlugin` merge them, `LimitChunkCountPlugin` has more priority over `SplitChunkPlugin` (if you added it), `module.parser.javascript.dynamicImportMode` is just a directive how webpack handles dynamic import - i.e. create a new chunk or consider it as part of intiail code (`eager`) and etc (for example - `SplitChunkPlugin` can split dynamic chunks

[2022-09-02 17:21] alexander-akait commented on #14310
bump

[2022-09-02 17:51] #15887 closed

[2022-09-02 18:43] eps1lon opened #16213 "strictExports: true is not enforced if unused module is empty"
# Bug report

[Similar to #4897](https://github.com/webpack/webpack/issues/4897)

**What is the current behavior?**

Importing a non-existent named export from an empty module triggers no warning with `strictExports: true`

**If the current behavior is a bug, please provide the steps to reproduce.**

Repro: https://github.com/eps1lon/webpack-strict-exports-empty

**What is the expected behavior?**

[2022-09-02 20:28] eng-dibo commented on #15975
I created a [minimum repo](https://github.com/eng-dibo/dibo/tree/issue-webpack-require-minimum-repo)

it seems that it fails when building the server via angular builder

**steps:**
1- `npm install`
2- run `npm run start:webpack`, you should see `OK` in your console
3- now run `npm start` you will see an error

note that I only build `src/index.ts` with angular, this file doesn't include any angul

[2022-09-03 05:21] khteh opened #16215 "Module parse failed: Unexpected token (x:y)"
# Bug report
[code]
`next.config.mjs`:
[code]
`tsconfig.json`:
[code]
`next.config.mjs`:
[code]
`next build` errors:
[code]

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-09-03 22:08] ScriptedAlchemy commented on #16042
Look up advanced api module federation. I wrote a medium article a few years ago about some of the share options.

[2022-09-04 05:02] ekkis commented on #9309
`npm webpack --version` yields 8.18.0 but I think I'm also suffering from this bug as it relates to https://github.com/vercel/next.js/discussions/15437

[2022-09-04 06:46] ScriptedAlchemy commented on #15554
So the problem here. I think, is the remote container initialization phase. If a host marks it as external the runtime should still register react, and just point to the global variable.
So the share scope still contains the keys to pass them into remote containers. Otherwise if my remote has import:false set - it crashes because share scope is missing keys, but loadSingleton is still part of the

[2022-09-04 17:49] ChristopherHButler commented on #6680
I wanted to use dynamic imports to choose which module to import. I used require as a work around (posting in case this helps someone trying to do the same):

[code]

[2022-09-04 20:38] lubieowoce commented on #15554
@ScriptedAlchemy tbh it's been a while since i've had this problem, but yeah, iirc being able to just stick the externalized react in the share-scope (if i remember my terminology right) would do the job, i.e. the remote module would then be able to pick it up. but i didn't have enough experience with webpack externals to do that myself 😅

also not sure what to do with the version-negotiation stuf

[2022-09-04 23:45] ScriptedAlchemy commented on #15554
Well if the webpack still registered externals in its api/share scope. Then you could manually specify the version and make the import value be external React

That way share scope registers the global variable along with its version and if it's singleton or not.

Ideally it's still tracked, just not imported.

If you had mixed remotes. Where some may not set external, things would break. So this

[2022-09-05 01:20] lubieowoce commented on #15554
Yeah, this is kind of what we did, except we made the remote in question have two builds - one w/ externalized react (for interop with stuff that externalizes react), and one "vanilla" (for WMF-native things where sharing Just Works). annoying but it works i guess

anyway, i think we agree that it's a useful feature, so do you think this issue should be reopened? like, for me, i no longer have a p

[2022-09-05 03:37] ScriptedAlchemy commented on #15554
I think it should be reopened, this can cause strange regressions where there doesn't need to be.
I believe what would need to change is the SharingRuntimeModule.js

Regarding sharing externals in userspace; something like this might work.

[code]

But we would need a way to ensure it isnt tree shaken out as being "unused" in the graph.

[2022-09-05 04:25] seb-mtl opened #16217 "Cannot read properties of undefined (reading 'length')"
Can be deleted. Moved to Discussions.

[2022-09-05 16:51] #16217 closed

[2022-09-05 17:00] levirtevs opened #16226 "Initiate - Design to code."

[2022-09-05 17:07] #16226 closed

[2022-09-05 17:08] alexander-akait commented on #16226
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-09-05 20:00] alexander-akait commented on #15975
@eng-dibo

[code]

is not statically analizable, also `resolve` is not good idea to use here, because `import(...)` should have URL, not path

[2022-09-05 20:08] alexander-akait commented on #16114
@derpoho Sorry for delay, you need because you extract vendors, shorty - webpack tried to load amodule, but the module is not  available so you got this error:

[code]

You can look at stats output and found it.

[2022-09-05 21:18] eng-dibo commented on #15975
I tried to modify my code to follow your recommendation but I need your help @alexander-akait

first, do you mean that I cannot import files dynamically?

I tried this:
[code]
but I got the same error

[2022-09-05 21:36] alexander-akait commented on #15975
I want to ask you what do you expected? Do you want to keep `import(...)` as is and allow to async loading or do you want to bundle files which will be resolved in `new URL()`?

[2022-09-05 21:40] eng-dibo commented on #15975
what I aim to achive is that I need to make an HTTP request from the browser to my server to bring a file's content dynamically.
this file shouldn't be bundled via wbpack, instead the server file (express.ts) should imports it dynamically and returns it's content

in browser:
[code]

in server:
let filePath = resolve(__dirname, req.params[0])
import(filePath).then(m=> res.json(m.default))
[code]
/

[2022-09-05 22:04] alexander-akait commented on #15975
@eng-dibo The files which will be used in `import(...)` should be copied as assets or they copied by other task(s)/tool(s)?

[2022-09-05 22:10] eng-dibo commented on #15975
it already copied and exists in the `dist` folder in the exact relative paths as source files

[2022-09-06 00:10] alexander-akait commented on #15975
@eng-dibo when you write:

[code]

You create asset module (i.e. webpack copy this file). But as you written above you already have files, so you need to disable it:
1. You can use

[code]

So it will be not statically analizable, but note - `import.meta.url` will be convert to `file://` (look at generated `webpack.js`, for better debug just disable `devtool: false`)

2. (optional) Also if want to

[2022-09-06 00:32] alexander-akait commented on #16149
Why you need it? Webpack has a good optimization logic, so chunks can be merged/inlined/etc

You can set the same values https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L1129 and have the requred chunk, but I **strongly** don't recommend it

[2022-09-06 00:45] alexander-akait commented on #16181
Hm, you can do it using:
[code]

By default webpack hoists them.

[2022-09-06 07:21] jchnxu commented on #10227
as a temporary solution;
https://github.com/OnurGvnc/acorn-with-stage3

`package.json`:

[code]

_Originally posted by @OnurGvnc in https://github.com/webpack/webpack/issues/10227#issuecomment-653408484_

Thanks it helped solve my problem. However my problem is weird because optional chaining is already supported in my own files, the only place it breaks is in a nested dependency I just added node

[2022-09-06 09:51] egor-no commented on #9336
but it's not completed, there's not even an answer here...

[2022-09-06 10:16] matzeeable commented on #16149
@alexander-akait Thanks for your reply.

We are working on a cookie banner solution and here we are in the process of outsourcing JavaScript that is not yet used when the website loads. In this way, we can also achieve corresponding improvements in our Web Vitals Score.

Thanks for the tip, I tried with `sideEffects: true, usedExports: true` and now the chunks are created. Great!

[2022-09-06 10:35] eng-dibo commented on #15975
you probably tested it on Linux not windows

you run `npm run start:webpack`, try running `npm start`

the difference between them is [mentioned here](https://github.com/webpack/webpack/issues/15975#issuecomment-1235872169)

[2022-09-07 02:41] xuebigshuai commented on #15738
???  解决了没 楼主。 我目前是在开发环境下删除这个插件。

[2022-09-07 16:04] alexander-akait commented on #16213
@eps1lon That is intresting, because there is no bug here. Set `type: "javascript/esm"` and you will see it.

Why? Webpack tries by default parse source code using `javascript/auto` (i.e. firstly `javascript/dynamic` then  `javascript/esm` if an exception was thrown). The `strictExports` option works only for  `javascript/esm`. But when a file is empty, webpack successfully parses a file as `javas

[2022-09-07 16:34] eps1lon commented on #16213
If I feed this code to a runtime implementing modules according to spec, it does throw a SyntaxError.
I added a `js-modules` folder to the repro which reproduces with a completely empty `getBiometricsSecret.js` and a `getBiometricsSecret.js` with just `export {}` (and therefore doesn't match what Webpack does).

 So if you don't want to surface these errors, then it's not a bug. But a bundler shou

[2022-09-07 16:49] alexander-akait commented on #16213
Yes, you are right. But webpack consider empty file as `javascript/dynamic` firstly (i.e. non ESM) as I written above.

Yes, it is the bug if you are considering your project as ESM firstly. I just want to say that we can't change this now - it will be a breaking change, so we are considering it for webpack v6. Changing logic now could potentially break code for other developers, that is why I mar

[2022-09-07 16:51] alexander-akait commented on #16213
We considered it even for webpack 5 - https://github.com/webpack/webpack/projects/5#card-10425786 but the feedback then showed that most of the projects are not ready in this, so we postponed it

[2022-09-07 19:30] alexander-akait commented on #15975
@eng-dibo So you have the problem only on windows? Can you say what it an error?

[2022-09-07 19:55] alexander-akait commented on #15824
Yeah, it is intresting, by default when you run serve, we run dev server on both compiation (but we keep files in memory), to solve it we need:
1. Allow to disable dev server for required compilation, here is issue https://github.com/webpack/webpack-cli/issues/2408

As workaround now you can do it:
[code]

I want to close the issue here (in favor https://github.com/webpack/webpack-cli/issues/2408)

[2022-09-07 19:55] #15824 closed

[2022-09-08 06:04] laomu1988 opened #16233 "multiple enties, each entry has its own chunkLoadingGlobal"
## Feature request

**What is the expected behavior?**
 multiple enties, each entry has its own chunkLoadingGlobal，example "webpackChunk_[entryName]"。

**What is motivation or use case for adding/changing the behavior?**
my application is loaded by qiankun, main application and child application has same chunkLoadingGlobal cause scope conflict

**How should this be implemented in your opinion?**
n

[2022-09-08 14:50] vankop commented on #15917
bump

[2022-09-08 14:51] vankop commented on #14386
bump

[2022-09-08 15:04] vankop commented on #15975
it looks like this code will not work on windows correctly
[code]

request params has `/` instead of `\`

[2022-09-08 15:20] vankop commented on #16213
sounds like with `javascript/esm` should be an error.. not sure.

[2022-09-08 15:25] eng-dibo commented on #15975
angular already adds `ts-loader` to module.rules

[2022-09-08 16:02] vankop opened #16234 "improve resolve error"
## Feature request

see https://github.com/webpack/enhanced-resolve/issues/354

**What is the expected behavior?**

more informative error message

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

Module not found error could be improved

**Are you willing to work on this yourself?**
yes

[2022-09-08 19:06] ronilan commented on #15741
FWIW, I got same error while building a `<pkg>` with `target: 'node'`. The `<pkg>` was locally linked to `<other-pkg>` that was also built with `target: 'node'` and that uses `node:events`.

Issue was resolved by running `rm -rf node_modules` and `npm link <other-pkg>` in the `<pkg>` directory.

[2022-09-09 02:46] icy0307 commented on #11431
Sorry, I'm still a little bit confused about  "SplitChunkPlugin merge them". What are they?
`SplitChunkPlugin ` already has `minRemainingSize`, and `minSize`, to set the limit on size. And `maxAsyncRequest`, `maxInitialRequests` limit chunk's count. Should one use LimitChunkCountPlugin and SplitChunkPlugin?

[2022-09-09 05:52] ScriptedAlchemy commented on #15554
@vankop @sokra - any ideas on how we can make this happen?

[2022-09-09 07:08] zhangHongEn opened #16236 "module federation remoteType"
remoteType: "umd" error

# Bug report

**What is the current behavior?**
error

**If the current behavior is a bug, please provide the steps to reproduce.**
https://stackblitz.com/edit/github-faw5we-nztzyp?file=app1%2Fwebpack.config.js

// app1
ModuleFederationPlugin({
  remoteType: "umd",
  remotes: {
    "app2": "app2@http://localhost:3002/remoteEntry.js"
  }
})
// app2
ModuleFederationPlugin({

[2022-09-09 08:08] hardfist opened #16237 "support pass function to loader for better support for prebundle"
## Feature request
support pass loader as a function

**What is the expected behavior?**
support the following usage
[code]
**What is motivation or use case for adding/changing the behavior?**
it's hard to prebundle loader with webpack for tools wrapping webpack if loader only supports string,
and prebundle is key to the stability of these tools

**How should this be implemented in your opinion?**

[2022-09-09 10:42] nkalinov commented on #15864
What about the "...or manually specify version in shared config." part?
Adding `@apollo/client/core: { requiredVersion: 'whatever' }` to `shared` doesn't work. Am I missing something?

[2022-09-09 14:52] alexander-akait commented on #15917
@vankop What do we have to solve here?

[2022-09-09 14:53] alexander-akait commented on #16213
@vankop if you set `javascript/esm` you will get this error, just try it using the repo above

[2022-09-09 15:00] alexander-akait commented on #16237
Sorry, no, we already diccussed about it and decide don't do it (also it will be bad for cache), anyway you can do it in your configuration.

Just create a file, and do this:
[code]

And pass required logic using loader's options.

feel free to feedback

[2022-09-09 15:00] #16237 closed

[2022-09-09 15:07] alexander-akait commented on #15930
bump

[2022-09-09 15:12] alexander-akait commented on #11431
Depends on what you want to get, but most often - No.

`LimitChunkCountPlugin` most often used when you set `target: "node"` to create one executable file.

[2022-09-09 15:26] alexander-akait commented on #16233
That is expected, you can use `optimizations.runtimeChunk` to extract this into own chunk https://webpack.js.org/configuration/optimization/#optimizationruntimechunk. You have multi compiler mode please set the `name` option

[2022-09-09 15:26] #16233 closed

[2022-09-09 16:19] eng-dibo commented on #15975
I asked Angular and they confirmed that webpack magic comments doesn't work in Angular
https://github.com/angular/angular-cli/issues/23862#issuecomment-1238863958

now I look forward for an alternative solution to natively import a module

[2022-09-09 16:39] alexander-akait commented on #15975
@eng-dibo Do you have access or ability ro modify webpack configuration?

[2022-09-09 16:41] eng-dibo commented on #15975
yes, I use [custom webpack](https://www.npmjs.com/package/@angular-builders/custom-webpack)

[2022-09-09 17:02] alexander-akait commented on #15975
In theory you can move `import` to own file and try to set `noParse` https://webpack.js.org/configuration/module/#modulenoparse, so webpack keep them as is, but in this case you need to build ESM (or you can replace `import.meta.url` on something from global scope or get url from currentScript)

[2022-09-09 17:35] eng-dibo commented on #15975
The original issue was using `noParse` (see the issue description)

but as per @vankop 's comment:

[2022-09-09 18:22] eps1lon commented on #16213
I don't get what Webpacks's notion of "type" has anything to do with it other than explaining the implementation. This is just an implementation detail for me.

I understand you don't want to change the behvavior for the default but if I set `strictExports`, I want `strictExports`. It doesn't matter to me wether Webpack considers empty files a different type. JavaScript does not and that's what `s

[2022-09-09 18:35] alexander-akait commented on #16213
You can do it, just set `type: "javascript/esm"` and webpack will do it as you expected. We can't change logic for `type: "javascript/dynamic"`, we don't know original type of JS/TS when we parse them, so when you have empty file we don't know is it ESM or is it CommonJS, you can `require` empty file, even more you can add export in `setTimeout` and another dirty/hacky ways, so we can't report abo

[2022-09-09 18:39] alexander-akait commented on #15975
If webpack comments don't work I think the only solution is `noParse`, does it work for you?

[2022-09-09 18:42] eng-dibo commented on #15975
it doesn't work in windows

[2022-09-09 18:47] alexander-akait commented on #15975
What is the error on windows? Sounds like the problem with can you try: `noParse: /[\/\\]native-require.js$/,`?

[2022-09-09 19:09] laverdet commented on #2933
Looks like import assertions are being stripped out from external modules. These are needed to import JSON files under nodejs v18.x.

[code]

Becomes:
[code]

To be honest I didn't troubleshoot this too much. I'm running Webpack v5.73.0 with a pretty in depth configuration that I'm migrating to module output. It's possible babel or someone else is stripping them before it gets to Webpack but I tho

[2022-09-09 19:18] alexander-akait commented on #2933
@laverdet sounds like a critical bug, can you open an issue?

[2022-09-09 22:10] eng-dibo commented on #15975
great idea because it takes OS-specific path into consideration. I think this will solve the first issue (i.e using native-require),
but is there a workaround to use dynamic import with webpack magic comments in Angular projects?

I will try your recommendation
thank you @alexander-akait so much for your great help

[2022-09-09 22:17] alexander-akait commented on #15975
Feel free to feedback

[2022-09-10 00:58] laverdet opened #16238 "Experimental module output drops external import assertions"
# Bug report

**What is the current behavior?**
When using the experimental module output format import assertions are not emitted in the output.

This is related to #2933, @alexander-akait requested I open a new issue.

**If the current behavior is a bug, please provide the steps to reproduce.**
`main.js`
[code]

`package.json`
[code]

`webpack.config.js`
[code]

At the top of `dist/main.mjs` we

[2022-09-10 12:02] vankop commented on #16213
@eps1lon set
webpack.config
[code]

or in root package.json `type: "module"`

[2022-09-10 12:02] #16213 closed

[2022-09-10 12:04] vankop commented on #16213
right now by default we have `javascript/auto`, this allows bundling esm+cjs together

[2022-09-10 13:11] vankop commented on #16171
it is hard to analyze all imports..

[2022-09-10 13:26] vankop commented on #15941
`<C />` component is used so `react-intl` is used.. (Also it is used in `index.jsx`)

[2022-09-10 13:26] #15941 closed

[2022-09-10 13:54] myNameIsDu commented on #15941
Thanks very much for spending the time to check this issue. But if it the `react-intl` is used, It shouldn't out an error. And now it was outed an error.

<img width="1189" alt="image" src="https://user-images.githubusercontent.com/53305259/189486480-246913b0-4036-4a8f-834a-4d7bf6a0e9d6.png">

[2022-09-10 19:50] ChocolateLoverRaj commented on #16171
@vankop but aren't all dynamic imports already kind of 'analyzed'?

[2022-09-11 06:17] hardfist commented on #16237
why is it bad for cache？

[2022-09-11 15:15] alexander-akait commented on #16213
@vankop Let's keep open for webpack v6, because I think we should solve it in the next major release (maybe we should switch on ESM first)

[2022-09-11 15:22] alexander-akait commented on #16237
Because we can invalidate cache from your variables

[2022-09-11 15:29] alexander-akait commented on #15941
Hm, do you load this component before using?

[2022-09-11 16:03] myNameIsDu commented on #15941
Thanks for your reply,  Here's the example: https://stackblitz.com/edit/webpack-webpack-js-org-tjvtv8?file=src/index.jsx

I loaded `react-intl` in `index.jsx`, And i created another module `external.js`. And it won't throw an error.

<img width="629" alt="image" src="https://user-images.githubusercontent.com/53305259/189537378-3c939ae7-2fdc-4e8f-9125-b33a3e571015.png">

<img width="1348" alt="imag

[2022-09-11 16:29] mori-nobuteru opened #16241 "It's impossible to import a remote module with a dynamic URL"
# Bug report

**What is the current behavior?**

If importing a module of the form:

    `http://my.module/test?queryParam=${something}`

causes Webpack to throw a `Module not found: Error: Can't resolve http://my.module` regardless of externals configuration.

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a function included in the build that looks something

[2022-09-11 17:11] mori-nobuteru commented on #16241
This was actually due to TypeScript converting the import statement into a require statement because the module type was set to commonjs.

[2022-09-11 17:11] #16241 closed

[2022-09-11 22:36] ScriptedAlchemy opened #16242 "Module Federation: Remote Initialization fails with single runtime chunk + multiple entrypoints"
# Bug report

**What is the current behavior?**
If a federated import exists under a specific entrypoint that is not yet loaded, and webpack uses `runtimeChunk: single` - the initialization will fail.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Import different remotes under different entrypoints that are not loaded on the page at the same time.
For examp

[2022-09-11 22:37] ScriptedAlchemy commented on #16236
Remote seems to lose its global scope or not inject container at all when umd

[2022-09-12 01:36] alexander-akait commented on #15941
Please look at this firstly:
[code]

Anyway, I don't see problems here, you don't need to use `weak` here

Please read this https://indepth.dev/posts/1483/demistifying-webpacks-import-function-using-dynamic-arguments, here good explain why it happens

[2022-09-12 02:01] alexander-akait commented on #15941
Also you can do it using:
[code]

[2022-09-12 08:14] alan-agius4 commented on #15100
No, you either enable or disable caching. If you do want to modify the webpack configuration you can do so using 3rd party builders. However, this is not supported by the Angular team.

[2022-09-12 18:53] groundfloorwebb commented on #9337
very helpful @JuanmaMenendez thanks!

[2022-09-12 21:20] CalculonPrime commented on #13537
Is there any way right now to watch the entire src directory or an entire subdirectory of src so that any new source dropped there is automatically webpacked into the output tree?  [This plugin](https://www.npmjs.com/package/webpack-watch-files-plugin) looks promising, but it would be better not to need a plugin.

[2022-09-12 21:33] CalculonPrime commented on #6901
But then all the other development-mode-specific behavior kicks in.  What would be the way to apply only the change that fixes this from development mode, without getting any other development mode settings?

From what I'm seeing right now, the claim in that answer that subsequent changes will be faster is wrong.  Not only are all the source files recompiled in production mode, it takes 23 seconds

[2022-09-13 09:12] hardfist commented on #16237
so webpack use loader path as cache key, if support loader as function then webpack don't know what to use as loader key?

[2022-09-13 10:13] alexander-akait commented on #16237
No, it is not working in this way, we use content of file (i.e. hash) and timestap

[2022-09-13 10:30] hardfist commented on #16237
then why loader function is bad for cache is it's not used as cache key?

[2022-09-13 10:45] alexander-akait commented on #16237
Options are also cached, but when you use own variables we can't track their value

[2022-09-13 13:33] ChengOuyang opened #16248 "require('ts-pattern') not work on webpack5 but work on webpack4."
# Bug report

**What is the current behavior?**

const tsPattern = require('ts-pattern');

The tsPattern is a string but not a module on webpack5, and other library is work.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. npx create-react-app ts-pattern-test
2. cd ts-pattern-test
3. pnpm add ts-pattern
4. code in src/index.js:
[code]

**What is the expected behavi

[2022-09-13 13:54] arcanefoam opened #16249 "Lack of javascript error messages with webpack when missing a dependency"
## Feature request

**What is the expected behavior?**

To get an error message when a dependency is not found at runtime via the webpackBootstrap.

**What is motivation or use case for adding/changing the behavior?**

Currently this functionality is not available. The problem is that compiling and bundling works. But once you load your page, the javascript does not execute and it just silently fa

[2022-09-13 19:23] ryanwilsonperkin commented on #16160
I've also noticed this issue affecting some of our builds that use a cache produced in CI and re-used on subsequent CI runs. For us, it seems to happen particularly when trying to use an SVG asset from the cache. We have approximately the same error message except the asset comes through the image minimizer plugin

[code]

[2022-09-14 01:34] stevemk14ebr commented on #15007
Bad bot!

[2022-09-14 09:45] Ryan-LT commented on #6767
Scrolling through all replies, tried out many of them. This is the most effective one.  Our project hot loader speed has decreased from 10s to just 200ms. Crazy!

[2022-09-14 10:54] alexander-akait commented on #16160
@ryanwilsonperkin hm, we can have bug in `image-minimizer-webpack-plugin`, can you try to create reproducible test repo?

[2022-09-14 13:22] ryanwilsonperkin commented on #16160
Hoping to yes, I haven't been able to reproduce the bug yet unfortunately

[2022-09-14 15:16] alexander-akait commented on #16160
https://github.com/webpack/webpack/blob/main/lib/asset/AssetModulesPlugin.js#L186, hm, filename was lost, what is the version of `image-minimizer-webpack-plugin` (do you have the latest version)? And can you provide options for this plugin?

[2022-09-14 15:20] ryanwilsonperkin commented on #16160
Interestingly it doesn't seem like it's the filename that's getting lost, it's the `data` itself that's `undefined` based on my reading of the error `Cannot read properties of undefined (reading 'get')`

[2022-09-14 18:59] ryanwilsonperkin commented on #16160
@alexander-akait managed to get a minimal reproduction here: https://github.com/ryanwilsonperkin/webpack-16160
This is just using the image minimizing plugin as well as the filesystem cache. Full reproduction steps in the readme of that repo, but I can now reliably reproduce this by rebuilding after making any change to the SVG asset that's being bundled. I suspect that the loader is using content

[2022-09-14 19:32] ryanwilsonperkin commented on #16160
Further discovery, by dropping a couple of console logs in the `AssetModulesPlugin.js` I was able to find that the `data` object is always `undefined` for this asset, it's just that when it's on the second build (after a modification) then the `module.buildInfo.fullContentHash` is also undefined, which causes it to fall through to trying to access the `data.get` method

[2022-09-14 19:45] ryanwilsonperkin commented on #16160
Interestingly, if I install the `imagemin-pngquant` library and add "png" to the list of files that I want to pass through the minifier, it _does not_ cause errors across re-builds, so this does seem to be specific to SVG files.

[2022-09-14 20:06] ChristopherHButler commented on #11778
I am a bit late to the party but in my own Net project I have observed that running 'next build' does not not respect the publicPath property in the webpack config (next.config.js).

I have opened a bug report with next on this here: [https://github.com/vercel/next.js/issues/40558](https://github.com/vercel/next.js/issues/40558) and it's only an issue for me in production because of the way that I

[2022-09-14 23:41] alexander-akait commented on #16160
Thank you for the report, I will look at this soon, I think bug somewhere in `image-minimizer-webpack-plugin`

[2022-09-15 02:58] gyf30827 commented on #28
Has the problem been solved ，How about this one
![image](https://user-images.githubusercontent.com/22958382/190303269-3e948d96-1dac-4f45-8f61-eb0db0ae0260.png)

[2022-09-15 03:19] alexander-akait commented on #28
We don't support IE7, sorry

[2022-09-15 18:26] Tilesto commented on #2882
If someone still has the same problem ) I had this code:
[code]

and it was not working. But then I changed it to:
[code]
And it finally works! .get(*) should be declare after /use("/")

[2022-09-16 00:14] jdb8 opened #16256 "`webpackAST` returned in `extraInfo` from custom loader appears ignored internally"
# Bug report

I *think* this is some kind of bug, but it's a little confusing since this optimisation seems under-advertised. The [docs](https://webpack.js.org/api/loaders/#thiswebpack:~:text=It%20can%20be%20useful%20to%20pass%20an%20abstract%20syntax%20tree%20(AST)%2C%20like%20ESTree%2C%20as%20the%20fourth%20argument%20(meta)%20to%20speed%20up%20the%20build%20time%20if%20you%20want%20to%20share%2

[2022-09-16 00:26] alexander-akait commented on #16160
I found it buggy only when content of a file was changed in loader, looks like somewhere bug in webpack... continue investigation

[2022-09-16 00:30] alexander-akait commented on #16256
Strange, we have a test for this case https://github.com/webpack/webpack/blob/main/test/cases/parsing/precreated-ast/ast-loader.js and test passed, can you provide link on the loader or example how you use it?

[2022-09-16 00:33] alexander-akait commented on #16160
Another intresting thing, if you will use `console.log(new URL("./image.svg", import.meta.url));` - no problems (recommended, because `import png from "./image.png"` is not supported without bundler)

[2022-09-16 00:35] jdb8 commented on #16256
@alexander-akait yeah, that's why I'm surprised this doesn't work - I basically copied that test case.

Here's a simplified version of my loader:

[code]

[2022-09-16 00:45] jdb8 commented on #16256
To simplify even further, even if I replace my loader with:

[code]

I still see `{ extraInfo: null, ast: null }` inside `NormalModule` (from here: https://github.com/webpack/webpack/blob/293e677b355da0d5bc4ddfc97d2afec114912711/lib/NormalModule.js#L794-L799).

I wondered if maybe I was just logging in the wrong place, but `NormalModule` seems like the only location where `webpackAST` is accessed

[2022-09-16 00:49] jdb8 commented on #16256
Actually I may have spoken too soon: I'm trying to simplify things down and may have found _another_ loader which is swallowing up the AST. I'm guessing the issue in my setup might be that I have a secondary AST-unaware loader, which needs to pass through the value of `webpackAST`?

As suspected, likely an issue with my setup. I'll edit this comment if/when I find out the root cause here.

[2022-09-16 02:23] alexander-akait commented on #15936
bump

[2022-09-16 04:15] alexander-akait commented on #16160
Not sure why, but when we do code generation we store only (https://github.com/webpack/webpack/blob/main/lib/Compilation.js#L3326):
[code]

I.e. no `javascript` code generation, but we do `javascript` code generation and store it for `index.js|48527077921e8eaca24c917175b660a5|main` (i.e. for JS module where we have `import ... from ... `). If we change `import ... from ...` to `new URL(...);`, all

[2022-09-16 08:50] gyf30827 opened #16258 "How do I configure exports to use module from package.json before exports when compiling files"
# Bug report

**What is the current behavior?**
webpack config
![image](https://user-images.githubusercontent.com/22958382/190596857-b15e5db3-40ba-456f-b4cc-c1ddd360f109.png)
But export is introduced at compile time
![image](https://user-images.githubusercontent.com/22958382/190597021-e8ad68b1-777b-4269-a2ab-4306e9e66215.png)

**If the current behavior is a bug, please provide the steps to reprodu

[2022-09-16 11:15] rjgotten opened #16259 "Source map names for context modules with parts that look like non-absolute paths are malformed"
# Bug report

**What is the current behavior?**
When a build includes context modules where the regular expression contains something which looks like a relative path, Webpack generates a source map with an incorrect source name that turns the regular expression into an absolute path.

This causes a _mismatch_ in the `getTaskForFile` method of the `SourceMapDevToolPlugin` because the actual module

[2022-09-16 12:48] alexander-akait commented on #16259
honestly, we already had a problem about it, but I can't find it, so let's mark it as bug

[2022-09-16 13:17] ryanwilsonperkin commented on #16160
While I appreciate that this might give us the flexibility of not being bound to the bundler, we're already heavily invested in using the bundler for features like this and wouldn't be likely to change all of our image references to URL-based approaches. It seems like that wouldn't work for `asset/inline`, or if assets are configured with a different output directory.

[2022-09-16 13:40] alexander-akait commented on #16160
Can you clarify?

Anyway I marked it as a bug, because we should fix it

[2022-09-16 14:31] ryanwilsonperkin commented on #16160
In the case of `asset/inline` the bundler would take the asset and inline it into the source as a data URI. If we were using `new URL("./image.svg", import.meta.url)` then i don't think that would work correctly because it would be trying to treat that inlined URI as a relative url with path name. Similar issue for `asset/source`

Thanks! I'm also looking into it, although I'm new to the webpack s

[2022-09-16 15:18] alexander-akait commented on #16160
No, try `new URL("data:image/gif;base64,R0lGODdhMAAwAPAAAAAAAP///ywAAAAAMAAwAAAC8IyPqcvt3wCcDkiLc7C0qwyGHhSWpjQu5yqmCYsapyuvUUlvONmOZtfzgFzByTB10QgxOR0TqBQejhRNzOfkVJ+5YiUqrXF5Y5lKh/DeuNcP5yLWGsEbtLiOSpa/TPg7JpJHxyendzWTBfX0cxOnKPjgBzi4diinWGdkF8kjdfnycQZXZeYGejmJlZeGl9i2icVqaNVailT6F5iJ90m6mvuTS4OK05M0vDk0Q4XUtwvKOzrcd3iq9uisF81M1OIcR7lEewwcLp7tuNNkM3uNna3F2JQFo97Vriy/Xl4/f1cf5VWzXyym7PHhhx4dbgYK

[2022-09-16 16:41] hayyaun commented on #5756
there is also ...(modules.webpackAliases || {}) there, should I put it before that or after it?

[2022-09-16 16:41] hayyaun commented on #5756
"deepcopy": require.resolve("deepcopy")

[2022-09-16 17:20] alexander-akait commented on #16256
@jdb8 Yeah, another loader can do another things, so can you provide example if you configuration with this loader, I will look

[2022-09-17 08:32] trusktr opened #16262 "incorrect "unused pure expression or super""
# Bug report

**What is the current behavior?**

Code like this,

[code]

turns into code like this,

[code]

and the class fails to run because `super()` tries to call `null`.

The input is output from Babel's new Stage 3 decorators. The `static #_` initializer runs code that sets up the `_Foo` variable.

**If the current behavior is a bug, please provide the steps to reproduce.**

I haven't publ

[2022-09-17 08:33] trusktr commented on #16262
Is there a particular option to turn this pruning off?

[2022-09-17 08:49] trusktr commented on #16262
Setting `innerGraph: false` works around the issue.

[2022-09-17 14:42] CalculonPrime opened #16264 "Add option for webpack watch to detect any new file underneath a specific directory (including in subdirectories)"
## Feature request

**What is the expected behavior?**
If you do "webpack --watch" it's currently only detecting and recompiling when existing files are changed.

**What is motivation or use case for adding/changing the behavior?**
I want to be able to drop new jsx files into the source directory tree, and have them automatically be compiled into the output tree.

**How should this be implemented

[2022-09-17 16:29] manuth opened #16265 "Allow Dynamic Import in `commonjs`"
## Feature request

**What is the expected behavior?**
webpack should allow `module` dependencies to be declared using the `externals` setting.

Furthermore, dynamic `import()` calls should be preserved.

**What is motivation or use case for adding/changing the behavior?**
As described in `Node.js`' page, `import()` calls are allowed in `CommonJS` files:
https://nodejs.org/api/esm.html#import-expr

[2022-09-18 11:28] vavra7 commented on #12474
Back to original question. There is actually an option 'emit'.
[code]
I really don't know why it is not documented [here](https://webpack.js.org/guides/asset-modules/).

[2022-09-18 18:55] Tommuh opened #16267 "Shared directory"
Hi guys,

I have searched the webs but I couldn't find a solution for my problem or I simply didn't understand it.
Hopefully you could push me to the right direction.

I have directory for shared components. This directory cannot be placed inside the project because ... reasons.

I tried setting up resolve/alias to the shared components directory and changed all the imports.
When running "npm star

[2022-09-19 08:35] romanlex opened #16270 "Vendor based on entry"
I'm trying to set up splitting chunks based on entry point.
I want to get multiple files:
- `entryA.js` + `vendor.entryA.js`
- `entryB.js` + `vendor.entryB.js`
- `entryC.js` + `vendor.entryC.js`
- `entryD.js` + `vendor.entryD.js`

For this I use multiple cacheGroups in my webpack config
[code]
with `recursiveIssuer`
[code]

It doesn't work properly because:
- I have changed `[contenthash]`each bui

[2022-09-19 11:24] 4127157 commented on #1122
As of webpack 5 is it possible to have different targets per entry in the fashion listed below? Sorry, the thread did not make it clear to me whether it was implemented or not.

[code]

[2022-09-19 11:41] alan-agius4 commented on #15936
Is there any workaround for this? Other than creating a barrel?

[2022-09-19 12:44] rjgotten commented on #16259
Thinking some more on this: most of the false positives here would be resolved if there was a better way to disambiguate context modules and treat their pipe-separated components differently.

Which to me raises the question: why are context modules building all this information into the module path, when factually it can't even be well-represented as part of an URI path to begin with. Regexes don

[2022-09-19 12:56] icy0307 opened #16271 "No tree shaking after dead code removal in dynamic import"
# Bug report
With mode: production on, and "sideEffects:false", exported function that are unused after dead code removal remain in the bundle, if the module is imported dynamically.
https://stackblitz.com/edit/github-2yf5yf?file=dist/main.js

**What is the current behavior?**
 unused function not get removed if the file is imported dynamically

**If the current behavior is a bug, please provide t

[2022-09-19 13:25] rjgotten commented on #16259
That totally worked.
My generated source map now contains what I would expect, with - of course - the regex-specific path separator characters all escaped:
![image](https://user-images.githubusercontent.com/442808/191027592-bfdb647f-a176-474c-8221-9b3e35d73053.png)

I mean, it's _ugly_ ... but I expect browser developer tools will at least show the URI-decoded result so it should be good.

[2022-09-19 13:51] alexander-akait commented on #16265
Do you looking for https://webpack.js.org/configuration/externals/#externalstype, i.e. `import`?

[2022-09-19 13:59] alexander-akait commented on #16259
Yeah, I think we can consider this, feel free to send a PR

[2022-09-19 14:13] alexander-akait commented on #16264
Duplicate of https://github.com/webpack/webpack/issues/13537, anyway you can use https://webpack.js.org/configuration/dev-server/#devserverwatchfiles for dev server if you use it

[2022-09-19 14:13] #16264 closed

[2022-09-19 14:19] alexander-akait commented on #16262
Marked this as critical because it might block to use decorators

[2022-09-19 15:07] alexander-akait commented on #15936
@alan-agius4 currently, no workaround (only multi compiler builds), but feel free to fix send a PR with fix

[2022-09-19 15:20] alexander-akait commented on #12474
@vavra7 Feel free to open an issue in webpack docs repo, thank you https://github.com/webpack/webpack.js.org

[2022-09-19 15:39] alexander-akait commented on #16256
And do you another loaders before you? (They can change JS, so we need to invalidate AST)

[2022-09-19 17:31] jdb8 commented on #16256
@alexander-akait I think that was the issue: my loader above had another custom loader in front of it that was not passing in or returning the `meta` argument:

[code]

Removing that loader, or updating it to pass through the `map` and `meta` arguments resolved the issue (I'm now seeing the console.log in `NormalModule` log what I expect:

[code]

I'm curious though, are there any examples in the

[2022-09-19 17:31] #16256 closed

[2022-09-19 17:43] alexander-akait commented on #16256
@jdb8

PR welcome

Anyway, there is some trick(pseudo code, just idea):

[code]

So you can run any loader inside your loader and do another fancy things

[2022-09-19 20:03] CalculonPrime commented on #16264
I'm not using the dev server in this case.  I posted to the thread you said was a duplicate asking some questions, but there was no response, and that thread appears to be getting closed repeatedly due to inactivity and has to be reopened.

[2022-09-19 23:49] CalculonPrime commented on #16264
Don't there have to be code changes associated with an issue to do a PR?  From what I can tell, no changes have been committed.

[2022-09-20 05:37] icy0307 commented on #16271
I found some relates issue #13028, and understand this could not be done right now.
This issue can be closed in favor of #13028 #14800

But still got some related questions  :
1. As mentioned  in #13028,  magic comment is hard to maintain, especially in large project. If dynamic import is the reason,  can we add some intermediate files to avoid this problem?
I fiddle around a little bit , by addin

[2022-09-21 10:07] markb-trustifi opened #16276 "ERR_REQUIRE_ESM - When running webpack with ES6 module loader script"
# Bug report
I have a ES6 angular 13 project that runs `angular-cli` with `customWebpackConfig` ES6 script:

angular.json:
[code]

custom-webpack.config.mjs
[code]

custom-loader.mjs
[code]

**What is the current behavior?**
[code]

On the other hand, when I add the parameter `type: "module"` in the `use` array:
`use: [{loader: path.resolve('./custom-loader.mjs'), type:"module"}]` I receive an err

[2022-09-21 10:16] markb-trustifi commented on #16276
I'm moving it to the `load-runner`

[2022-09-21 10:16] #16276 closed

[2022-09-21 14:36] shipMatserJack commented on #15053
So the problem is not solved? @webpack-bot

[2022-09-21 16:57] andrewRichardson commented on #16029
Bump @vankop

[2022-09-21 20:04] ZacButko commented on #16125
+1 we just found this bug

I'm not sure from the context whether you mean this is a bug with swr or webpack?

Is the trailing slash a normal convention or is this a workaround?

[2022-09-22 07:52] keating99 opened #16282 "Webpack 4 not outputting bundle to dist folder after upgrade."
I know this question has been asked on a number of occasions but I still am having issues.

I have been working on a legacy project for the past few days. I've been trying to update packages to modernize this project somewhat. This is an Electron application which I create an installer for after packaging so I need to get access to the outputted webpack bundle.

So after a lot of package upgrades

[2022-09-22 10:33] tiger8888 opened #16285 "HMR not working sometimes on webpack 5.74.0"
What is the current behavior?
Hot module reloading is not  refresh page show after change sub component in vue.

If the current behavior is a bug, please provide the steps to reproduce.

Clone https://github.com/tiger8888/webpack-dev-server-bug.
Run npm install.
Run npm run dev.
then:
1. change `<div>sub</div>` to `<div>sub111</div>` in `Sub.vue`
2. change `console.log("111")` to `console.log("111

[2022-09-22 17:21] alexander-akait commented on #16125
Feel free to send a PR

[2022-09-22 21:12] smikula opened #16287 "Include information about ALL chunk groups in stats"
## Feature request

Include information about _all_ chunk groups in stats.  Currently `stats.toJson` provides details about _named_ chunk groups, but there is no way (as far as I can tell) to know what the other chunk groups are.

**What is the expected behavior?**

Stats contains enough information to know all the chunk groups that exist (named and otherwise) and which chunks are in each).

**Wha

[2022-09-22 21:47] alexander-akait commented on #15947
игьз

[2022-09-22 22:07] alexander-akait commented on #16271
@icy0307 This is not hard, the main problem is babel and another transpilers and renaming variables, yes it's fixable, but need more work, if you want to help us feel free to continue dicussion here https://github.com/webpack/webpack/issues/14800 and ask questions

There is a PR with attempts to resolve, so you can build own solution

let's close this, because the root of the problem is https://gi

[2022-09-22 22:07] #16271 closed

[2022-09-22 22:12] alexander-akait commented on #16264
You can send a PR with the new improvement

[2022-09-23 03:23] alexander-akait commented on #16285
Please use `eval-cheap-source-map` for `devtool`

[2022-09-23 03:32] alexander-akait commented on #16285
Bug in `vue-loader`, because if you put `console.log("test');` in `Sub.vue` all will work fine, maybe updating the loader and plugin to the latest stable version fix it, so `script` and `styles` tags work, but `template` is buggy, we can't fix it here, sorry

[2022-09-23 07:37] jsnajdr opened #16289 "Modules in the output bundle are ordered differently on Unix and Windows"
**Steps to reproduce:**
Have two modules with names like:
[code]
and import them in your project. Build the project on Unix and on Windows. We expect the build outputs on both platforms to be identical, but they aren't. On Unix, the output bundle renders the `Week` module first and the `WeekYear` second, while on Windows they are in the opposite order. If you use `contenthash`es in your project, t

[2022-09-23 09:28] dddcxy opened #16290 "Webpack5 whether vue components can be packaged as esmodule for use"
## Feature request

I tried it but got an error
Uncaught TypeError: __webpack_require__.d is not a function

[2022-09-23 12:01] cyrusssssschen commented on #12258
@ScriptedAlchemy
Specifying multiple URLs for single remote id able to be supported now?

[2022-09-23 16:52] tzachbon commented on #16125
I will summarize the issue after a little more investigating:
* When I add `swr` to the shared dependency, it treats it as `commonjs` only when it resolves from the `swr/infinite` context. For example, it resolves correctly when I import it in the index file, and the context is `src/index.js`.
* The reason adding a slash suffix works is because `swr` is not shared anymore (only `swr/infinite` is s

[2022-09-24 04:12] ScriptedAlchemy commented on #12258
Always has been. Remotes take an array

[2022-09-24 11:05] BradPrit09 commented on #14453
Hi Alex, Thank you for your effort. But I have doubt regarding the documentation of the web-pack 5. Specially [EnvironmentPlugin](https://webpack.js.org/plugins/environment-plugin/) and [DefinePlugin](https://webpack.js.org/plugins/define-plugin). There it's mentioned we can use process.env clearly.
Additionally, I can access process.env in my configs, whereas in the migration it's written that we

[2022-09-25 05:11] #15928 closed

[2022-09-25 14:31] alexander-akait commented on #14453
@BradPrit09 in documentation we use directly `process.env.ENV_NAME` (maybe we should improve docs to avoid misleading here, so feel free to do it).

You can use `process.env` inside `webpack.config.js` safely

[2022-09-25 14:40] alexander-akait commented on #16290
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-09-25 14:40] #16290 closed

[2022-09-25 20:49] eslym opened #16293 "fetch api does not parse response headers properly"
# Bug report

**What is the current behavior?**
The fetch api sometimes (but actually most of the time) are getting empty or weird headers
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is the simple reverse proxy i trying to make with bun
[code]
most of the response will became otect-stream when going through this reverse proxy

**What is the expected b

[2022-09-25 20:57] #16293 closed

[2022-09-25 20:57] alexander-akait commented on #16293
We are not bun, sorry

[2022-09-25 20:57] eslym commented on #16293
sorry, i posted it wrongly

[2022-09-26 09:17] Magin-CC commented on #16161
How about give a warning when using dynamic require ?

[2022-09-26 10:23] rjgotten commented on #16259
I'm currently swamped in work leading up to a deadline, but I can take up creating a pull request out of this after.
Might take some time to get there though.

[2022-09-26 15:54] alexander-akait commented on #16161
You can setup linter and catch these cases on CI or during lint step

[2022-09-26 15:55] alexander-akait commented on #16259
Yeah, feel free to ping me

[2022-09-26 19:01] alexander-akait commented on #15944
You used `LimitChunkCountPlugin`,name of entrypoint is `app2` and the name of module federation chunk is `app2`, they are the same, so chunks was merged into one `app2` chunk and you don't have `remoteEntry.js`.

Just give another name for the entrypoint

Feel free to feedback

[2022-09-26 19:01] #15944 closed

[2022-09-27 02:31] #16091 closed

[2022-09-27 03:27] zxf4399 commented on #15944
@alexander-akait
Thanks for your reply.
My goal is that the final file name is **`remoteEntry.js`** and is the **only** JS file. (That's why I use the **same** name)
The bundle name depends on whether there is have **share** property or exposes property of more than **1**.
It's a little weird.

[2022-09-27 04:52] ScriptedAlchemy commented on #16125
I think the issue is in that file since webpack resolves correctly. It must be the "result" here which isn't resolved to the right dependency

[2022-09-27 13:43] its-dibo opened #16299 "context.contextInfo.request doesn't return the correct value"
I created a [minimal reproduction](https://github.com/eng-dibo/issue-webpack-externals), run `npm run build`

in my webpack.config file I added a function to externals[] array, the first argument of this function accepts `context` which contains `contextInfo.request` which is expected to return the exact value provided in `import` or `require` statements.

but the actual value is different, it ret

[2022-09-27 14:15] gabaum10 commented on #11277
This comment needs to be pinned somewhere.  I spent two whole days sifting through issues and comments before finding this.

[2022-09-27 16:24] valoricDe commented on #6717
@Izhaki how is isVendorsModule looking like?

[2022-09-27 18:04] JasonKleban opened #16300 "Quieting printGeneratedCodeForStack() from outputting entire (large) files to console?"
https://github.com/webpack/webpack/blob/18c3590b28fcaaa84b63f18968b09602e4a7e259/lib/javascript/JavascriptModulesPlugin.js#L57-L65

This function seems to be dumping entire large files to console output, flooding the console and making errors difficult to identify.  Is there an option to quiet it down somewhere in the call chain?

[2022-09-27 18:49] alexander-akait commented on #16300
Because it is an error we print all possible infromation, you can't disable it, just fix your errors

[2022-09-27 18:52] alexander-akait commented on #11277
@gabaum10 We have docs here https://webpack.js.org/plugins/module-concatenation-plugin/, so we can add warning about that the plugin enabled by default in the `production` mode and should not be used directly if you don't disable it in `optimizations`, I will be glad if you help us to improve docs, thank you

[2022-09-27 18:54] alexander-akait commented on #15944
You can achive this using webpack magic comments a don't allow webpack generate async chunks, `LimitChunkCountPlugin` is only for simpe solutions, you can't generate all possible cases using it

[2022-09-27 20:26] alexander-akait commented on #16299
Good question, on the one hand yes, on the other resolved path is better to handle complex cases, but we should store the both things, but changing it will be breaking change for us, so let's add the new property - `originalRequest`, feel free to send a PR

[2022-09-28 01:54] zxf4399 commented on #15944
@alexander-akait
Thanks for your help, finally, I found out how to achieve my goal.
Add `module.parser.javascript.dynamicImportMode` = `eager`

Here is the modified configuration:

[code]

[2022-09-28 13:40] JasonKleban commented on #16300
This results in a wall of transformed css so large that it exhausts the console buffer such that the actual error is rolled off.  Also, due to performance issues with console logging in vscode, for example, it adds 25 seconds to the execution time printing out all that garbage.

Something as simple as this allows me to diagnose the issues:

[code]

[2022-09-28 15:31] santinozaracho opened #16306 "Update terser-webpack-plugin to avoid terser vulnerability"
Update [terser-webpack-plugin](https://www.npmjs.com/package/terser-webpack-plugin) to avoid terser vulnerability:

- Filename: terser:5.13.1 | Reference: 1081698 | CVSS Score: 7.0 | Category: | The package terser before 4.8.1, from 5.0.0 and before 5.14.2 are vulnerable to Regular Expression Denial of Service (ReDoS) due to insecure usage of regular expressions.

This can be solved in the last [t

[2022-09-28 16:58] #16306 closed

[2022-09-28 17:00] alexander-akait commented on #16300
Ok, let's reopen this, feel free to send a PR, but we need an option for this

[2022-09-28 17:12] alexander-akait commented on #15944
Yeah, you can avoid webpack comments and set it globally for all `import(...)`s, anyway I recommend not to do it, it is bad for perf, except you really undestand why you do it and why you need it

[2022-09-28 19:35] Izhaki commented on #6717
I really can't remember and no longer have access to the code. As I have been using NextJS for a while now, I haven't done DIY webpack chunk optimisations for years now...

[2022-09-29 13:56] eng-dibo commented on #16299
I see that there is a context wehere `context.contextInfo.issuer` is empty,
i.e. the file is requiring itself
I have to skip this context in order to see the actual context

[code]

you will see something like this (windows)
[code]

in dist/****/file1.js, it requires itself, or accurately it requires the source version of itself
[code]

[2022-09-29 14:04] eng-dibo commented on #16299
also, there is another issue (I updated the minimal repo to address it)

if file1.ts requires 'sub/file2' whitch in its turn requires './file3' (i.e ROOT/sub/file3.ts)
and we added /file3/ into externals[] list.

the scenario would be as following:
file1.js includes the compiled content of file2.js as it, whitch is expected
but file2.js content is `reuire('./file3')` which is excluded from the bun

[2022-09-29 16:09] paztis commented on #13027
facing the same issue: all the css imported in the index.js files are removed, while not the others.
I've found a workaround by adding this in my package.json

    "sideEffects": [
        "index.js",
        "*.css",
        "*.scss"
    ],

I hope index.js in the sideEffects will not keep too much code...

[2022-09-29 16:29] eugenephilipov7 opened #16311 "build optimization problem in prod mode after project migration from NX 13 (Angular 13) to NX 14 (Angular 14)"
# Bug report

We have problem with build optimization in prod mode after project migration from NX 13 (Angular 13) to NX 14 (Angular 14).
In NX 13 we did not have issues.
While running nx run my-mf:serve, we don't have any problem.
Running nx run my-mf:serve:production, we have error.
The same error with nx run my-mf:build --skip-nx-cache.

ERROR NullInjectorError: R3InjectorError[yu -> yu -> unde

[2022-09-29 16:37] myufa commented on #3439
Could you please share the solution?

[2022-09-29 17:22] alexander-akait commented on #16311
Please open an issue in `angular` repo, thank you, but it sound like you have commonjs module, not it is ESM, check it firstly

[2022-09-29 17:22] #16311 closed

[2022-09-29 18:36] reves opened #16312 "Config dependency manager doesn't take into account hooks until "afterResolvers"."
# Bug report

**What is the current behavior?**
I use [configuration dependencies](https://webpack.js.org/configuration/configuration-types/#dependencies) to make sure that the plugins from the second config `'server'` will always be executed after the first config `'client'` output is emitted:

[code]
Doesn't work for [hooks](https://webpack.js.org/api/compiler-hooks/#hooks) like `afterResolvers`

[2022-09-29 19:02] kbruccoleri commented on #11670
This saved me, thanks so much for this!

[2022-09-29 23:00] galaxy-s10 opened #16314 "What is the difference between 'flag' and true of optimization.sideEffects"
[code]
i don't understand "flag" and true，In my opinion, these two are the same。

[2022-09-29 23:09] galaxy-s10 commented on #16314
hi @alexander-akait ,can you explain this？

[2022-09-29 23:32] galaxy-s10 commented on #16314
@sokra ,hi i read https://github.com/webpack/webpack/blob/main/examples/side-effects/README.md,but it no say 'flag' and true difference, you know it or no

[2022-09-29 23:36] galaxy-s10 commented on #16314
I tested the two. No matter 'flag' or 'true', they will not analyze the side effects of the source code. Even if a module has side effects, they will both delete it. But the official document says that when true, they will also analyze the source code, but in fact, it seems that there is no analysis of the source code. The behavior of true is the same as that of 'flag'

[2022-09-30 00:01] galaxy-s10 commented on #16314
this is my demo:https://github.com/galaxy-s10/issue-demo/blob/master/demo1/webpack.config.js，When package.json is false, regardless of optimization Whether the sideEffects value is' flag 'or true, the final code results are the same, and the side effects of the source code will not be checked

[2022-09-30 00:46] alexander-akait commented on #16312
I don't think it is bug, I want to say it is hidden feature, because https://github.com/webpack/webpack/blob/main/lib/WebpackOptionsApply.js#L695, i.e. `afterResolvers` is configuration hook, and all configuration hooks runs concurency

You can add more deps or change the whole configuration in `afterResolvers`, so we need do it before runs

[2022-09-30 01:17] alexander-akait commented on #16312
`HtmlWebpackPlugin` should not use `compiler.hooks.initialize` to get options, that is wrong and invalid, options can be change, so it need to get in the valid hooks, but here workaround:

[code]

/cc @jantimon can we rewrite it, to get entries you can use this hook - https://github.com/webpack/webpack/blob/00c57ede11ee10dbb0a42e944b2cd7a038089944/lib/ProgressPlugin.js#L393, other things is just d

[2022-09-30 02:15] galaxy-s10 opened #16316 "when production model and optimization.sideEffects:true，should ignore package.json sideEffects"
## Feature request
When optimization.sideEffects is set to true, the code will not be analyzed for side effects during production mode construction，
The sideEffects field in package.json will still be used
Whether sideEffects in package.json should be ignored when optimization.sideEffects is true and in production mode

**What is the expected behavior?**
Whether sideEffects in package.json should

[2022-09-30 02:20] alexander-akait commented on #16316
Please be patient we already have dicussion, if it will be consider as bug - we open PR or issue, no need to duplicate

[2022-09-30 02:20] #16316 closed

[2022-09-30 02:22] alexander-akait commented on #16316
`sideEffects` mostly is used for dependecies, no need to setup it on appliction level

[2022-09-30 02:28] galaxy-s10 commented on #16316
Well, I try to configure the dependency

[2022-09-30 03:43] moezbenrebah opened #16317 "webpack didn't generate a dist folder with html and js files"
I used webpack 5 with react 18 to auto-generate my HTML and JS files in the dist folder (as you know), but I missed up a bit with my webpack configuration eventually, I didn't succeed to have my dist folder, and I search on other platforms but I didn't find any solutions.
My webpack configuration, package.json, and index.js files are as follows, (hope you can help me to fix the issue):

[code]

[c

[2022-09-30 06:54] ahabhgk opened #16318 "`devtool: 'eval-nosources-*'` still contains sourcesContent"
# Bug report

**What is the current behavior?**

The source map string converted by the base64 output of `devtool: 'eval-nosources-source-map'` still  contains the `sourcesContent` field.

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is a minimal reproduce:

[code]

[code]

**What is the expected behavior?**

Don't contains the `sourcesContent` field since the

[2022-09-30 06:55] ahabhgk commented on #16318
I think it is related to `EvalSourceMapDevToolPlugin`, I can make a PR if you confirm this is a bug.

[2022-09-30 07:25] zba commented on #1381
there is common sense rule - to no close as duplicate tickets with higher id...

[2022-09-30 09:52] rustam-cloud opened #16319 "external field of config with module federation plugin"
hi, i am using module federation to build a big application, i am using dynamic remotes with the function

/*
(async () => {
return async () => {
    await _webpack_init_sharing_('default');
    const container = await window[scope as keyof typeof window];
    if (!container) return null;
    await container.init(_webpack_share_scopes_.default);
    const factory = await window[scope as keyof type

[2022-09-30 13:45] reves commented on #16312
I guessed about it, but I wasn't sure. Thanks for pointing this out.

[...]
compiler.hooks.initialize.call(compiler)

Such a simple and smart solution. It works great, thank you!

**What's the point?**
I execute the emitted script (it returns static HTML for every route of the client app) and then i apply the `HtmlWebpackPlugin` to generate `.html` files.

[2022-09-30 18:36] srmagura opened #16320 "`entry.chunkLoading = false` is overridden by `SplitChunksPlugin`"
# Bug report

Closely related: https://github.com/webpack/webpack/issues/4819.

**What is the current behavior?**

Here is an example Webpack config, with two entry points `app` and `serviceWorker`. For `app`, the config uses `SplitChunksPlugin` to put `node_modules` in a "vendor" chunk to improve long-term caching. Trying to dynamically load chunks from a service worker has failed each time I hav

[2022-10-01 03:01] #15935 closed

[2022-10-01 10:52] tzachbon commented on #16125
Another small breakthrough for me.
When I added to the [webpack `.mjs` default](https://github.com/tzachbon/webpack/blob/9fcaa243573005d6fdece9a3f8d89a0e8b399613/lib/config/defaults.js#L547) the following config it works:
[code]
The problem is when the consumer extension is `.mjs` too, it breaks for the following reason -
It calls `swr__WEBPACK_IMPORTED_MODULE_0__` and not `swr__WEBPACK_IMPORTED_M

[2022-10-01 14:59] ohmyvander opened #16321 "webpack build warning: export default was not found"
# Bug report

**What is the current behavior?**

I have a project using backbone. When I built the project in my linux server, everything was ok. But when I built it in a docker container, then something went wrong. All node version and npm version are same in two environments, and the operating system are similar too. Here is a very simple example: [webpack-build-demo](https://github.com/ohmyvand

[2022-10-01 21:03] Vladisvob opened #16323 "Thanks for your pull request! It looks like this may be your first contribution to a Google open source project. Before we can look at your pull request, you'll need to sign a Contributor License Agreement (CLA)."
Thanks for your pull request! It looks like this may be your first contribution to a Google open source project. Before we can look at your pull request, you'll need to sign a Contributor License Agreement (CLA).

View this [failed invocation](https://github.com/GoogleChrome/chromium-dashboard/pull/2286/checks?check_run_id=8657706236) of the CLA check for more information.

For the most up to date

[2022-10-02 03:21] iamhasibulhasan commented on #15127
# Didn't help any of these above solution.

An unhandled exception occurred: Cannot find module 'acorn'
Require stack:
- F:\.net-projects\primeng\node_modules\acorn-import-assertions\lib\index.js
- F:\.net-projects\primeng\node_modules\webpack\lib\javascript\JavascriptParser.js
- F:\.net-projects\primeng\node_modules\webpack\lib\javascript\JavascriptModulesPlugin.js
- F:\.net-projects\primeng\node

[2022-10-02 14:05] #16321 closed

[2022-10-02 20:40] alexanderkhivrych commented on #11923
https://okhivrych.io/module-federation-lifehack-custom-container-name

[2022-10-02 22:40] aboe026 opened #16324 "Cannot use typescript references in webpack.config.ts without first building reference"
# Bug report

**What is the current behavior?**
Cannot use typescript references in webpack.config.ts without first building references.

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/aboe026/webpack-typescript-references

**What is the expected behavior?**
There should be a way to configure webpack to automatically build typescript references (bas

[2022-10-03 16:39] Fuugotserved commented on #16321
Juist daarom dus wacht maar af vieze kanker joden

[2022-10-03 18:43] vankop commented on #15701
bump

[2022-10-03 18:44] iSalah-YT commented on #15951
npm install --save-dev webpack-cli   this is work for me thx guys

[2022-10-03 19:17] rahulkumar26 commented on #16317
If I understand the issue , you are trying to generate the assets and not serve? In that case you need to add a build script -
`"build": "webpack --mode production --config config/webpack.config.js",`

[2022-10-03 21:21] orangebokov opened #16330 "Error when compiling typescript in target es2022"
# Bug report

**What is the current behavior?**
Error when compiling typescript in target es2022

**If the current behavior is a bug, please provide the steps to reproduce.**
tsconfig.json
[code]
module1.ts
[code]
module2.ts
[code]
Compiling produces the following file:
[code]
the userId that is in the static block is renamed to module1_userId, and the userId that is in the Change function is not

[2022-10-04 07:03] LP1994 commented on #16330
There are also errors when compiling type scripts in target esnext.

[2022-10-04 07:42] LP1994 commented on #16330
I found that replacing "this.Change" with "Theme.Change" would eliminate the above problems.
But, The class name or "this" can be used inside the static block to refer to the current class.

https://github.com/tc39/proposal-class-static-block#semantics
![image](https://user-images.githubusercontent.com/12012671/193762480-75fd7e15-4798-4f77-8fde-4d4902e344fe.png)

It's a strange phenomenon.

[2022-10-04 09:53] Moin105 commented on #15701
<w> [webpack.cache.PackFileCacheStrategy] Skipped not serializable cache item 'Compilation/modules|C:\Users\DELL\worldenterprises\node_modules\next\dist\build\webpack\loaders\css-loader\src\index.js??ruleSet[1].rules[2].oneOf[4].use[1]!C:\Users\DELL\worldenterprises\node_modules\next\dist\build\webpack\loaders\postcss-loader\src\index.js??ruleSet[1].rules[2].oneOf[4].use[2]!C:\Users\DELL\worldente

[2022-10-04 18:06] cmawhorter commented on #15972
this is an issue with webpack configs [resolve.aliases](https://webpack.js.org/configuration/resolve/) too.  i was going to open a documentation issue but it almost seems like a webpack util for specifying paths makes more sense e.g. `webpack.resolve`

path.resolve is essentially path.join.  there is [module.resolve](https://nodejs.org/api/modules.html#requireresolverequest-options) which will thr

[2022-10-04 18:39] LitileXueZha commented on #14351
@vankop Actually when using `require.resolve` in nodejs, we want it returns the absolute path of this file/module, but webpack bundle it as a module id.

For example:
[code]
Webpack output:
[code]

In browser it maybe worked, but this is not a expected behavior in nodejs.

[2022-10-05 00:20] ScriptedAlchemy commented on #16242
@sokra  @alexander-akait  any workaround we can do till this is resolved?

[2022-10-05 03:45] aidantomcy opened #16333 "Add types for devServer in Configuration type"
## Feature request

**What is the expected behavior?**
When I  add the `Configuration` type to the Webpack config in a TypeScript file,  and add configuration for webpack-dev-server, it throws an error. For example:
[code]
The `Configuration` interface therefore, should have a property for devServer.

**What is motivation or use case for adding/changing the behavior?**
This should be added because

[2022-10-05 04:09] janzenz commented on #8641
@Ratstail91 that's correct I just found out about it now and was pulling my hair off for the past 24 hours.

[2022-10-05 15:25] semiaddict opened #16334 "Random chunk loading errors in production"
# Bug report

**What is the current behavior?**

I am using vue-cli, which uses Webpack in the background to build a vue3 library with multiple entries.
Shared vendor modules are output into separate chunks.
This works great in development, but I get errors related to dynamic chunk loading in random production builds.
I sometimes end up having to run the build process several times (without changi

[2022-10-05 18:13] otanim commented on #15710
I do want to mention, that my previous statement was incorrect, the issue started popping up afterward, we've managed to fix the issue by disabling `yarn`'s asynchronous multithreaded bundling.

[2022-10-05 21:51] rexkenley opened #16335 "Can't resolve *, but it is there."
I am getting a strange error when generating my code artifacts using webpack. But when I went to look for the "missing" modules, it is there.

Example

ERROR in ../../../node_modules/@babel/runtime-corejs3/regenerator/index.js 3:14-54
Module not found: Error: Can't resolve '../helpers/regeneratorRuntime' in 'C:\Temp10\Ahab\node_modules@babel\runtime-corejs3\regenerator'
@ ./src/lib/dependent-optio

[2022-10-06 05:57] semiaddict commented on #16335
This sometimes happens when two versions of a module are installed, either globally or locally.
Are you sure it's loading the correct module (i.e. from the correct location)?

Why is it loading a module from a Temp folder?

Here are some related issues that might be of some help:

- https://github.com/babel/babel/issues/14576
- https://stackoverflow.com/questions/58919016/babel-and-webpack-are-thr

[2022-10-06 08:49] B2D1 opened #16338 "A default export must be at the top level of a file or module declaration."
# Bug report

**What is the current behavior?**

in runtime~main.js, it causes a error named A default export must be at the top level of a file or module declaration.

<img width="538" alt="image" src="https://user-images.githubusercontent.com/36991862/194266916-a4d1e93d-47f4-4eac-9fd6-d6e68ddbc127.png">

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What

[2022-10-06 12:40] alexander-akait commented on #14072
bump

[2022-10-06 12:44] alexander-akait commented on #16317
When you use `serve` (i.e. dev server) all assets are storing in memory for perf reasons, you can use https://webpack.js.org/configuration/dev-server/#devserverdevmiddleware (`true` for all assets or regexp for special to write them on disk), feel free to feedback

[2022-10-06 12:44] #16317 closed

[2022-10-06 14:13] logicchemie opened #16341 "Can it be create a manual Bundle with the webpack?"
I have scripts and styles in variables:
[code]
can it be create a manual bundle.js file with the webpack?

[2022-10-06 14:25] alexander-akait commented on #16319
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-10-06 14:25] #16319 closed

[2022-10-06 14:34] alexander-akait commented on #16318
Yes, sounds like a bug, PR welcome

[2022-10-06 14:47] #16333 closed

[2022-10-06 14:48] #16334 closed, assigned to nobody

[2022-10-06 14:52] alexander-akait commented on #16242
Currently no, we need to fix it inside webpack...

[2022-10-06 14:58] alexander-akait commented on #16338
Please fill out this and will reopen

[2022-10-06 14:58] #16338 closed

[2022-10-06 15:00] alexander-akait commented on #16330
I think related to https://github.com/webpack/webpack/issues/16054

[2022-10-06 16:00] alexander-akait commented on #16143
@sokra We need your advice here

[2022-10-06 17:11] motarek1999 commented on #5469
thank you man after an hour your instructions helped me out.

[2022-10-06 19:18] rahulkumar26 commented on #16320
This is interesting!

If I understand correctly,

- you have one npm module and you want to add this module to each entry. Then what's the reson for using SplitChunks?
- Or, may be you want to just add lodash to each entries and other modules (in future) to be part of Vendor?

if the use case is the 2nd one then why not adding `test: /[\\/]node_modules[\\/]!(lodash)[\\/]/`

[2022-10-06 19:39] srmagura commented on #16320
Hey @rahulkumar26, in reality both entrypoints depend on many more npm modules than just `lodash`. I used only `lodash` in the example to keep things simple.

I want to have a separate vendors chunk for the `app` entry to take advantage of long-term caching. But the way Webpack loads additional chunks seems to be incompatible with service worker, which is why the service worker must be a single JS

[2022-10-06 20:36] alexander-akait commented on #16324
Not related to webpack, you should build `@webpack-typescript-references/env` firstly, if you want to use it late, webpack is not `orchestrator` and don't know which dependecies should be build fisrtly

[2022-10-06 20:36] #16324 closed

[2022-10-06 20:41] alexander-akait commented on #16320
You can't do it, because it is a limitation, you can move service worker bundling to own compilation (i.e. multi compiler mode with `target: 'webworker'`), otherwise webpack just don't know how to load chunk

[2022-10-06 22:49] srmagura commented on #16320
Thanks, yes that was my backup plan. Could this limitation be removed, or should I close the issue?

[2022-10-07 01:17] alexander-akait commented on #16320
I will look in near future on code deeply and I will say, so let's keep open now

[2022-10-07 11:46] LitileXueZha commented on #14351
@alexander-akait Emmmm, we maybe not care files' hash in nodejs. As I know, hash is used for caching and gradually upgrading in browser, these not much affect on server.

In another way,  webpack only keep module id although it also bundle the external moudle.

[code]

[2022-10-07 12:32] alexander-akait commented on #14351
@LitileXueZha Hash used internally not only for contenthash, and for perf/comparation/predictable output. Why you need absolute path?

[2022-10-07 18:00] alexander-akait commented on #16320
@srmagura what about this:
[code]

[2022-10-07 18:05] alexander-akait commented on #16320
So you keep splitting from application (and async chunks) and disable code splitting for `worker` layer

[2022-10-07 19:03] srmagura commented on #16320
Awesome!!! That works. Thank you so much.

[2022-10-07 19:03] #16320 closed

[2022-10-08 04:40] ahaoboy opened #16346 "Remove redundant semicolons after onScriptComplete function"
# Bug report
Remove redundant semicolons after onScriptComplete function.

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
The semicolon is redundant because there is a newline in front.

**What is the expected behavior?**
The redundant semicolons should be removed.

**Other relevant information:**
webpack version:  5.74.0
Node

[2022-10-08 08:38] jordanbtucker opened #16348 "stats: 'errors-warnings' setting does not suppress success message"
# Bug report

**What is the current behavior?**

When the `stats` option is set to `'errors-warnings'`, it still outputs the message `webpack compiled successfully` to the console.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Open `webpack.config.js`.
2. Set the `stats` option to `'errors-warnings'`.
3. Run `webpack`.
4. Note the message `webpack compiled succe

[2022-10-08 10:43] prabhuteja985 commented on #15900
Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:71:19)
    at Object.createHash (node:crypto:133:10)
    at module.exports (C:\Users\admin\Downloads\new\examination-management-system\client\esm-client\node_modules\webpack\lib\util\createHash.js:135:53)
    at NormalModule._initBuildHash (C:\Users\admin\Downloads\new\examination-management-sys

[2022-10-08 10:45] prabhuteja985 commented on #15900
**
Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:71:19)
    at Object.createHash (node:crypto:133:10)
    at module.exports (C:\Users\admin\Downloads\new\examination-management-system\client\esm-client\node_modules\webpack\lib\util\createHash.js:135:53)
    at NormalModule._initBuildHash (C:\Users\admin\Downloads\new\examination-management-

[2022-10-08 10:46] prabhuteja985 opened #16349 "Digital envelope routines not working on react"
# Bug report

Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:71:19)
    at Object.createHash (node:crypto:133:10)
    at module.exports (C:\Users\admin\Downloads\new\examination-management-system\client\esm-client\node_modules\webpack\lib\util\createHash.js:135:53)
    at NormalModule._initBuildHash (C:\Users\admin\Downloads\new\examination-

[2022-10-08 12:43] alexander-akait commented on #16348
Expected, please set `none` if you don't need any message, in another case we always output this message, sorry, we don't want to change it

[2022-10-08 12:43] #16348 closed

[2022-10-08 12:46] alexander-akait commented on #16349
Duplocate https://github.com/webpack/webpack/issues/14532, please update webpack to v5

[2022-10-08 12:46] #16349 closed

[2022-10-08 15:06] VisonM opened #16350 "get assets content in stats?"
### Is there any way to get each `assets/chunk` content in `stats` or `compilation`?

I had set `stats:verbose` and just see each asset is `SizeOnlySource` object. so i can not get chunk source. Am I missing some docs?

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/40595135/194713783-205d1dce-b470-4f19-9c09-a9af38da5391.png">

webpack version: 5.74.0

[2022-10-08 15:07] jordanbtucker commented on #16348
What's the justification for not wanting to change it?

[2022-10-08 15:15] alexander-akait commented on #16350
No, it is impossible, otherwise there will be a large memory consumption, you should use hooks and collect them if you need it

[2022-10-08 15:15] #16350 closed

[2022-10-08 15:18] alexander-akait commented on #16348
`webpack compiled successfully` uses a lot of tools to indicate finished build (especial on CI), I want to say it is historical reasons, there are hooks to change it on the plugin level https://github.com/webpack/webpack/blob/main/lib/stats/StatsPrinter.js, so if you reall want it you can create a small plugin

[2022-10-08 15:39] jordanbtucker commented on #16348
Thanks for the history and suggestion! Would you accept a pull request to mention this in the docs?

[2022-10-08 16:08] VisonM commented on #16350
##### Thanks for such a quick reply 💗!
I agree it will be a large memory consumption,but if each `asset` has more source info will be very useful for `debugging` or `test` and I give an example of what actually happened:

I just try run some test in [css-loader](https://github.com/webpack-contrib/css-loader/blob/master/test/esModule-option.test.js) or [style-loader](https://github.com/webpack-cont

[2022-10-08 16:08] VisonM commented on #16350
##### Thanks for such a quick reply 💗!
I agree it will be a large memory consumption,but if each `asset` has more source info will be very useful for `debugging` or `test` and I give an example of what actually happened:

I just try run some test in [css-loader](https://github.com/webpack-contrib/css-loader/blob/master/test/esModule-option.test.js) or [style-loader](https://github.com/webpack-cont

[2022-10-09 03:42] Nourfaress commented on #11868
check your import ?
It’s not right , i don’t know what is right in your case but it’s all about import
i was have the same issue
 import { Router } from 'express';
the right in my case is
import { Router } from '@angular/router';

[2022-10-09 13:46] carvinlo commented on #13912
bump

[2022-10-09 18:48] aboe026 commented on #16324
I understand that webpack is not an orchestrator, but one of the main uses of Typescript References (and the `--build` flag) is to be able to build dependent projects implicitly, without needing to manually build all dependent projects in the reference tree. I think it would be very intuitive and useful if webpack incorporated support for that aspect of Typescript for it to claim full Typescript s

[2022-10-09 19:07] ranjitha-ravi opened #16351 "Build Issue After Webpack migration from V4 to V5"
# Bug report

**What is the current behavior?**
Current version of webpack: 5.74.0
Seeing an error when running a build -
\node_modules\.bin\webpack-cli:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at wrapSafe (internal/modules/cjs/loader.js:979:16)
    at Module._compile (internal/modules/cjs/loader.js:1027:27)
    at Ob

[2022-10-09 20:52] maksbotan opened #16352 "Webpack cache is not invalidated properly after updating one dependency"
# Bug report

**What is the current behavior?**

When using webpack cache, I get contaminated build after updating one of dependencies. Specifically, my project has a git dependency, after updating commit ref webpack seems to "merge" old one and new one.

**If the current behavior is a bug, please provide the steps to reproduce.**

I tried to construct minimal reproducing example for this, but my

[2022-10-10 13:38] colinrw commented on #13290
@alexander-akait i am getting the error:
```UnhandledSchemeError: Reading from "node:event" is not handled by plugins (Unhandled scheme). Webpack supports "data:" and "file:" URIs by default. You may need an additional plugin to handle "node:" URIs.```

when I try to work with the `discord.js` package. But i keep getting the error mentioned above from this code:
[code]

These are my webpack config

[2022-10-10 19:02] alexander-akait commented on #13290
Please use `externals`, to provide polyfill for `node:` and other protocols

[2022-10-10 19:06] alexander-akait commented on #16348
Yes, of couse, any docs improvements are welcome

[2022-10-10 19:08] alexander-akait commented on #16324
I don't see how we can implement this, we don't know your graph and don't know what depends on what

[2022-10-10 19:16] alexander-akait commented on #16352
You should manually invalidate cache in this case, webpack can't do it for you, you can use https://webpack.js.org/configuration/cache/#cacheversion and store version of dependeices (hash of all urls or something else), if you have ability to use filesystem (for example remote disk), you can put paths here https://webpack.js.org/configuration/cache/#cachebuilddependencies

Feel free to feedback

[2022-10-10 19:16] #16352 closed

[2022-10-10 20:26] maksbotan commented on #16352
Thanks for the answer!

Can you please elaborate a bit about `cache.buildDependencies`? This is a list of file or something else? Can I add `package-lock.json` to it in some way?

[2022-10-10 20:32] alexander-akait commented on #16352
This is a list of files, webpack stores snapshots of them (i.e. timestamp and hash of content, also if it is js, webpack parses them and include all `require`/`import` in deps, too under the hood), so any changes in these files invalidate your build, by default we store this here - https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L364 and webpack-cli by default add `webpakc.conf

[2022-10-10 21:30] maksbotan commented on #16352
Well, this is very confusing behavior. I've set up my CI to store webpack cache between builds. Do I understand correctly that each time I update some of my dependency's version, I have to manually clean that cache?

Would it make sense instead to add `package-lock.json` to `cache.buildDependencies`? Or at least mention this in the docs? I can make PR for that.

[2022-10-10 21:41] alexander-akait commented on #16352
Webpack by default get your `package.json` and store infromation, but if you want to change default `buildDependencies`, you need to include `package.json`, so developer can create any own cache strategy. You can run webpack in watch mode with cache and change `package.json` (and install new deps or update and you will see - webpack compile the new version).

All webpack cache based on snapshot lo

[2022-10-10 22:06] maksbotan commented on #16352
Sorry, I do not follow.

When I set, according to webpack documentation (https://webpack.js.org/configuration/cache/#cachebuilddependencies), `cache.buildDependencies: [__filename]` I __disable__ default behavior of depending on `package.json`?

Or if I don't, why it doesn't work?

[2022-10-10 23:14] alexander-akait commented on #16352
webpack-cli by default add `webpack.config.js` to `buildDependencies`, shortly - `buildDependencies` is list of files on which build depends, so if you have custom webpack runner you should put there all files, `package.json` will be considered in any way because `snapshot` logic depends on it

[2022-10-11 01:02] aboe026 commented on #16324
Typescript abstracts it, you don't need to know the graph, all webpack would need to do is run a `tsc --build` before ingesting the `webpack.config.ts`, the `tsc --build` command would automatically build the graph of the workspace so all/any dependent projects referenced in the `webpack.config.ts` would be properly built.

[2022-10-11 01:32] alexander-akait commented on #16324
Sorry, not it doesn't work as you write, you can have big monorepo and don't use all libraries inside your application, also we don't know which package should be build first, you can have very complex graph, if we will run `tsc --build` before you will get the HUGE perfomance degradation, you can look at `bazel` if you want to desribe how to build your deps, even more you can use `babel` or `swc`

[2022-10-11 03:28] aboe026 commented on #16324
`you can have big monorepo and don't use all libraries inside your application`
Typescript is actually very smart about what it builds and only includes projects in the direct dependency graph.

`also we don't know which package should be build first`
Webpack does not need to know anything about the order of typescript reference dependencies, its all abstracted by Typescript.

`you will get the HU

[2022-10-11 06:56] maksbotan commented on #16352
I have a hypothesis about why I get this behavior. I have a dependency on git _branch_, not a specific commit hash. So anytime I push to that branch and update the dependency, I get changes only in `package-json.lock`, __not__ in `package.json` itself.

May it be the case?

[2022-10-11 10:04] colinrw commented on #13290
@alexander-akait do you have an example on him to add `node:events` to `externals` in my webpack config?

[2022-10-11 11:48] alexander-akait commented on #13290
`externals: { 'node:events': pathToFileWhichContaintPolyfill }`, it can be empty file with `export {}` if you need just mock

[2022-10-11 11:49] alexander-akait commented on #16352
Yes, so you need to use `version` to detect it, anyway if you have changes in `package-json.lock`, you can put them in `buildDependencies` too

[2022-10-11 11:53] alexander-akait commented on #16324
But we don't have ability to undestand it, just running `tsc --build` will have big problem with perfomance

And which library should be build firstly? I don't know

No all projects uses incremental build, some projects add more flags to `tsc --build`, some projects uses babel/swc as I written above, some projects have more complex building and not only run `ts`.

You can just put own command befo

[2022-10-11 12:00] alexander-akait commented on #16039
Just keep dependecies in `node_modules`, webpack remove duplication in the `production` mode

[2022-10-11 12:25] maksbotan commented on #16352
Thank you for the answer!

[2022-10-11 12:52] devvsakib opened #16354 "opensslErrorStack: [ 'error:03000086:digital envelope routines::initialization error' ]"
# Bug report

**What is the current behavior?**
[code]
first server run, it occurs when I reload the page.
then I use `export NODE_OPTIONS=--openssl-privacy-provider`. this solves the error but problem is, when I reopen my code editor after closing, it happens again. I have tried all the possible ways to fix it but failed.

**Other relevant information:**
webpack version:  5
Node.js version: 18.8.

[2022-10-11 16:38] alexander-akait commented on #16236
UMD is just not supported by module federation, so if you want it feel free to send a PR, sorry, it is not high priority, because developers mostly don't use this format for module federation

[2022-10-11 16:42] d-ph commented on #6717
I realise this ticket is already closed, however since it's so easy to end up reading it by finally inputing certain keywords in google, and since the ticket is quite helpful in understanding how to approach "bespoke" code splitting, I'll just leave here how I ended up configuring the SplitChunksPlugin.js in my particular use case, for the next googler to have an easier time.

Use case: Multi-page

[2022-10-11 20:00] cwli24 opened #16358 "Webworker target builds should work for module workers"
## Feature request
When setting webpack config target to `'webworkers'`, the bundled code references `importScripts`. If we then want to run the code as a worker per se, it'd fail for `{type:'module'}` workers.

**What is the expected behavior?**
Webpack output code targeting webworkers should be able to run in both classic and module workers.

**What is motivation or use case for adding/changing

[2022-10-12 04:27] aboe026 commented on #16324
`You can just put own command before run webpack, that is why you have scripts in package.json`
As you can see in the reproduction repository I linked in the initial comment that is exactly what I am doing to work around the issue. It would just be nice if the webpack integration with typescript did that for users natively.

`No one bundler or other tools do it, it is out of scope webpack`
I disag

[2022-10-12 13:50] mattiaferrari02 opened #16359 "Bundle ".wasm" in HTML file"
I need to bundle all my js code in a single html file.
To achieve that I'm using "html-inline-script-webpack-plugin".
It turns out that one of my deps in node_modules now uses WebAssembly and now when i run "webpack --mode production" I obtain an HTML file + a ".wasm" file.
Is there a way to pack also the wasm file in html

[2022-10-12 16:19] alexander-akait commented on #16324
Sorry, we will not implement this, it is out of scope, please use `scripts`/`bazel`/other orchestrators, tomorrow you can have more build tools and we can't support all of them, sorry again

[2022-10-12 16:19] #16359 closed, assigned to nobody

[2022-10-13 01:23] aidantomcy commented on #16333
Thanks!

[2022-10-13 02:56] alexander-akait commented on #16358
Sorry, it is impossible, you can't use `importScripts` for ESM modules

You should build two workers and load them based on ESM supporting, you can use multi compiler mode, feel free to feedback

[2022-10-13 02:56] #16358 closed

[2022-10-13 03:21] cwli24 commented on #16358
@alexander-akait May I ask how do you build for the ESM worker if using `target: webworkers` => build with `importScripts` by default?

[2022-10-13 03:23] Myilvaganan commented on #6505
Worked!!! Thanks. I was facing issue with latest version of @apollo/client
[code]

 after resolving node_modules in webpack.config.js, it's working!!!

[code]

[2022-10-13 06:52] signmeuptwice opened #16361 "Webpack = Variable "interpolation" does not exist"
Using webpack I get error `Variable "interpolation" does not exist.` on `aVue` compiled file.

errors references the comment `For converting {{ interpolation }} values to displayed strings`

If I remove the comment in the compiled file it loads but then I get async components error related to `import { defineAsyncComponent } from "vue";`

so I tried replacing with simple imports and it seems to do

[2022-10-13 08:46] jtomaszewski commented on #11277
So in fact, this reads like "supports library creation, but not really, as it won't work as soon as a webpack-based application wants to use your library".

I think this could be explained with a warning somewhere in https://webpack.js.org/configuration/output/#outputlibrary .

For example, I just spent a few hours configuring webpack to bundle my library (it's a set of React-based components bund

[2022-10-13 13:22] alexander-akait commented on #11277
@jtomaszewski Yes, PR welcome

[2022-10-13 13:23] alexander-akait commented on #16358
You can use `library.type: "module"` to build ESM webworkers

[2022-10-13 18:17] semiaddict commented on #13843
@tommypepsi, did you ever figure out the source of your issue?
I am getting the same type of errors randomly on production builds.
I believe my issue is different from the one described in the original post, but what you wrote sounds closer to my issue (see #16343), for which I'm still trying to find a solution.

[2022-10-13 19:01] cjones26 commented on #11663
Did you ever figure out why this was happening?  I'm seeing the same exact issue.

[2022-10-13 19:15] cjones26 commented on #11663
Looks like this is related to `output.publicPath`.  Changing this from `/` to `auto` in my remote module fixed the issue:

[code]

https://webpack.js.org/guides/public-path/#automatic-publicpath

[2022-10-14 04:45] UNDERCOVERj opened #16366 "About ModuleFederationPlugin host app hot reload when remote app change"
Is there a solution about "both start host app and remote app，then use host url to visit website，when remote app code changes，can host app hot reload，and host url website update immediately?"

[2022-10-14 06:53] DanielC-N commented on #2030
**For those who upgraded from `Webpack 4` to `Webpack 5`**
I'll leave that here in case this helps someone somewhere, one day : https://github.com/webpack/webpack/issues/11800

If you have :
[code]

Webpack 5 will make the exports look like this `module.exports.index=r` ... Because .. some reasons.

You want to get rid of `library` , after this, everything will work fine.

[2022-10-14 13:25] alexander-akait commented on #16366
No solution, bidirectial reloading is not implemented yet, here are multiple issues about it https://github.com/webpack/webpack/discussions/16368 and you more, it is traced

[2022-10-14 13:25] #16366 closed

[2022-10-15 10:42] zhangHongEn commented on #16236
ok, I'm implementing "webpack-4 module consumption". I just want to compare the appearance of "webpack-5" during implementation. In fact, I don't need "module consumption" output as "umd"

[2022-10-15 10:44] #16236 closed

[2022-10-15 17:34] YasharSL commented on #10035
I'm having the same issue while trying to open a new window in my app. None of the solutions worked.

[2022-10-17 00:49] highglow commented on #15900
As a little workaround, you can try running node in DEBUG by setting your environment variable in bash
`export DEBUG=true`
<img width="597" alt="image" src="https://user-images.githubusercontent.com/1484905/196067769-a67b59c0-c1ea-4e17-a14b-b84cfb0f6308.png">

For somereason the DebugHash() alternative worked fine.

[2022-10-17 22:47] indeediansbrett opened #16374 "Hide Invalid Non-Strict Singleton Versions on Production Console"
## Feature request

**What is the expected behavior?**

`index.js:2 Unsatisfied version x.y.z from ------- of shared singleton module ----- (required ^x.y.z)` warnings should not appear on production console.

**What is motivation or use case for adding/changing the behavior?**

End users on browsers see these errors and think there's something wrong with the page.

**How should this be implemente

[2022-10-17 22:55] alexander-akait commented on #16374
PR welcome, but I think it can be the problem for debugging

[2022-10-18 02:31] Donhv opened #16375 "[Security Vulnerability] loader-utils 2.0.0 is deprecated,"
Nexus iq server found Security Vulnerability CVE-2022-37601.
We need migrate loader-utils to 3 version.
could you please give a suggestion a webpack version to fit it?

[2022-10-18 05:38] fantasticsoul opened #16376 "Module Federation is Cool, hel-micro love it"
Introducing [hel-micro]( https://github.com/tnfe/hel), a module federation SDK which is unrelated to tool chain for module consumer.

read this artilce to know more: [why-is-hel-micro-a-better-implementation-of-module-federation]( https://dev.to/fantasticsoul/why-is-hel-micro-a-better-implementation-of-module-federation-21ji)

[2022-10-18 11:10] parrot-designa opened #16377 "Will there be webpack6?"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-10-18 12:59] alexander-akait commented on #16377
Yes, webpack 6 will be, we have small pause for webpack itself (soon it will end), but we are continuing work in webpack ecosystem - loader and plugins, so don't worry, also there are a lot of tasks for webpack v5

[2022-10-18 12:59] #16377 closed

[2022-10-18 13:00] alexander-akait commented on #16375
Not related to webpack, please open an issue in projects where `loader-utils@2` used - need to migrate on v3 (and avoid to using v3, because webpack v5 have almost all API)

[2022-10-18 13:00] #16375 closed

[2022-10-18 14:42] alexander-akait commented on #16152
@cantrell Sorry for delay, but I can't reproduce your problem, I used your reproduce example https://github.com/cantrell/Electron-LitElement-TypeScript-Webpack-Boilerplate and set `electron-renderer`, and all works fine :confused:

[2022-10-19 07:41] samagragupta commented on #6464
The issue is still there.

    compiler.hooks.normalModuleFactory.tap("TestParsePLugin", nmf => {
      nmf.hooks.beforeResolve.tap("IgnorePlugin", this.checkIgnore);
    });

  checkIgnore(resolveData){
    if(resolveData.request == '.Hello.js') {
      return null;
    }
    return resolveData;
  }

If in `checkIgnore` we return `null` we get this error.

[2022-10-19 13:03] srmagura commented on #16320
For anyone who may be reading this — the layers thing _seemed_ to be working but actually broke parts of our app. Specifically, we were seeing React context values not being passed down correctly to code in dynamically-loaded chunks. My best guess is that the React JavaScript got included in multiple chunks.

We've switched to just using a separate Webpack config for the service worker, since this

[2022-10-19 14:12] alexander-akait commented on #16320
@srmagura Can you provide example of the problem?

[2022-10-19 14:38] srmagura commented on #16320
Hey @alexander-akait, here is some information about the problem. I've attached our full Webpack config as well as a webpack-bundle-analyzer screenshot that shows that react-dom has been included in multiple chunks. By the way, I forgot to mention that the problem only occurs in production builds.

Let me know if you think it is worthwhile for me to create a minimal repro for this.

<details>
   <

[2022-10-19 18:22] alexander-akait commented on #16320
@srmagura Sound like you have a module which used react-dom in the service worker and in the app, is it right?

[2022-10-19 18:26] srmagura commented on #16320
No, react-dom is never imported by the service worker. The app is split into multiple chunks, and there are multiple chunks that import react-dom.

[2022-10-19 18:36] alexander-akait commented on #16320
@srmagura Is it possible that another module which used in service worker uses `react-dom`? Can you define https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L1196 and set `layer` for this too? Also set `default: false` and `defaultVendors: false`, so we disable the default split chunks in favor our logic with layer app (if you need vendor for service worker or dynamic chunks you

[2022-10-19 19:33] srmagura commented on #16320
Oh, and I'm positive that the service worker does not depend on react-dom whatsoever. It imports a few `workbox` packages and that is it.

[2022-10-19 23:28] alexander-akait commented on #16320
@srmagura Another idea - you have a component/module which import `react-dom` with another version, if you provide reproducible test repo I can investigate it and say that is wrong here (you can send me it on email, if you want I can sing CLA/NDA)

Can you modify:
[code]

to

[code]

[2022-10-20 02:24] indeediansbrett commented on #16374
Do I not have permission to create a new branch? I have something to PR, but can't push up a new branch.

[2022-10-20 02:53] indeediansbrett commented on #16374
Ah nm, forked it. Will figure out the CLA with my org here.
https://github.com/webpack/webpack/pull/16388

[2022-10-20 06:52] SilentTiger opened #16389 "websocket connect failed after modify webSocketURL"
# Bug report

**What is the current behavior?**
websocket connection failed.

**If the current behavior is a bug, please provide the steps to reproduce.**
Add config of webSocketURL will cause this problem, like this:
![image](https://user-images.githubusercontent.com/764862/196874532-de7e669b-5134-4069-8e04-e3d16d0bd4e0.png)
The connection can not establish:
![image](https://user-images.githubuse

[2022-10-20 08:51] SilentTiger commented on #16389
Ok, I think I've found a solution, just add a "webSocketServer" config which is not on the webpack document.

![image](https://user-images.githubusercontent.com/764862/196902767-0c37e4f1-23c8-47ea-aa5f-e29710f7d25d.png)

[2022-10-20 08:51] #16389 closed

[2022-10-20 13:41] #16152 closed

[2022-10-20 16:26] husayt commented on #15951
switching from npm to yarn helped me in this instance.

[2022-10-21 06:43] rootegg opened #16392 "when devtool: eval-nosources-source-map after build the source code still in sourcesContent"
# Bug report

**What is the current behavior?**

I set devtool: eval-nosources-source-map，after run build, i found  source code still in sourcesContent

**If the current behavior is a bug, please provide the steps to reproduce.**

1、my source code

https://github.com/rootegg/test-webpack

2、set webpack.config.js as blow

[code]

3、run webpack command, get output as blow

[code]

4、use window.btoa

[2022-10-21 10:29] BEGEMOT9I opened #16393 "Package sharing without `main/module` field by `ModuleFederationPlugin`"
Hi! I want to answer about `ModuleFederationPlugin`.
I have a package (`@scope/package`), that doesn't contain `main` or `module` field in `package.json` (the reason: I have a different functionality that splitted internal) and use a utility from that (`import { util } from '@scope/package/utils`). These utlis are exported by `export` field from `package.json`:
[code]
I want to share this package

[2022-10-21 10:45] BEGEMOT9I commented on #16393
Okay, according to https://github.com/webpack/webpack/issues/12594#issuecomment-774641540, i've found thats adding a slash to `package` name at the end must fix the problem.
Btw, @ScriptedAlchemy WDYT about adding this tip to notes or docs?

[2022-10-21 11:31] alexander-akait commented on #16392
Thank for the issue, duplicate of https://github.com/webpack/webpack/issues/16318 and big thank for the PR

[2022-10-21 11:31] #16392 closed

[2022-10-21 12:54] HSQCoollaughing opened #16396 ""webpack": "^5.74.0" document.body is null"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2022-10-21 12:55] JiahuiChen99 commented on #15582
I got the same error as @BarrMan, tried everything aforementioned, but nothing solved the issue. Does anyone know how to fix this??

![module_federation registration](https://user-images.githubusercontent.com/37770349/197200744-7eb07f35-b887-45a2-80b3-504e29e52db2.png)

[2022-10-21 14:11] daTrux opened #16398 "Module Federation shareScope doesn't work as intended"
# Bug report

**What is the current behavior?**
shareScope flag in the shared library object doesn't work as intended. If the shareScope property is added to the “share” object, then the shared package is downloaded multiple times. (One for each microfrontend that imports the package with the shareScope)

**If the current behavior is a bug, please provide the steps to reproduce.**
Here's a link to

[2022-10-21 14:47] aubreyquinn opened #16399 "Magic Comments not working for images"
I am trying to preload/prefetch an image so that I don't have to be connected to the internet at the exact moment to display the image. It's for a "you are offline" page in my app.

I was reading online that the webpack magic comments feature might be able to do that.
[https://medium.com/webpack/link-rel-prefetch-preload-in-webpack-51a52358f84c](https://medium.com/webpack/link-rel-prefetch-preload

[2022-10-21 15:44] alexander-akait commented on #16399
It should be implemented by HtmlWebpackPlugin, webpack generate links only for JS assets

[2022-10-21 15:46] aubreyquinn commented on #16399
Hi @alexander-akait ! That's great! Thank you! Do you have a small code sample of how to do that with the plugin?

[2022-10-21 15:46] shayanfpg9 opened #16400 "Messy Code in the Log.js File"
## Feature request

**What is the expected behavior?**
use fewer lines of code to perform this operations

**What is motivation or use case for adding/changing the behavior?**
having a shorter code

**How should this be implemented in your opinion?**
remove dummy function,
change shouldLog function method,
changing default exported function method

**Are you willing to work on this yourself?**
yes

[2022-10-21 16:11] alexander-akait commented on #16399
No, it should be implemented by an author of the plugin

[2022-10-21 21:16] happymalyo opened #16403 "Invalid or unexpected token (at bundle.js:2:8077) after applying the setup guide on guides/asset-management"
# Bug report
Invalid or unexpected token (at bundle.js:2:8077)

**What is the current behavior?**
webpack-demo
  |- package.json
  |- package-lock.json
  |- webpack.config.js
  |- /dist
    |- bundle.js
    |- index.html
  |- /src
   |- style.css
    |- index.js
  |- /node_modules

**in index.html**
<code>
<!doctype html>
<html>
  <code><head></code>
    <title>Assets management</title><br/>
  <co

[2022-10-22 00:38] LP1994 commented on #16399
What you may need is this plug-in: https://github.com/principalstudio/html-webpack-inject-preload.

[2022-10-22 00:42] LP1994 commented on #16399
It also supports "rel='prefetch '".

[2022-10-22 00:46] alexander-akait commented on #16399
I ask @jantimon (https://github.com/jantimon/html-webpack-plugin/issues/1768#issuecomment-1270227968) to mvoe html-webpack-plugin to webpack-contrib to I will fix a lot of issues and implement such things

[2022-10-22 07:01] samagragupta opened #16405 "Remove common module from child compilation"
I am running a child compilation whose entry is not same as the parent compilation. The entry for child compilation is some another file (Hello.js, not index.js).

Now I want the parent compiler to skip the compilation from Hello.js. So that no extra modules are added in the parent chunks. As in the end I will bundle both these chunks. I want to skip it like that after bundling both chunks from pa

[2022-10-22 10:55] CryZe commented on #15566
Last time you at least gave a warning, and it's marked as completed?? This has to be the worst bot ever.

[2022-10-22 16:06] srmagura commented on #16320
I changed the code to:

[code]

and now react-dom is only included in the big vendor chunk 🙂.

Then I tried changing `chunks` from `all` back to `initial`. Now `react-dom` is included in two chunks, which will cause issues at runtime.

We are going to continue compiling the service worker via separate webpack config since this seems less likely to cause issues. That said, I think I could create a

[2022-10-22 20:45] rodoabad commented on #15701
Still happening for me as well.

Looks like there's no way to turn off this warning?

[2022-10-23 09:44] 2heal1 commented on #16398
`ContainerPlugin` has `shareScope` option , but `ModuleFederationPlugin` not set `shareScope` to `ContainerPlugin`, which cause this problem .

After set `shareScope` option , the shared library are downloaded only once per scope

#16407

[2022-10-23 14:09] 2heal1 commented on #16398
Usually, it can set [remotes.shareScope](https://github.com/webpack/webpack/blob/main/schemas/plugins/container/ModuleFederationPlugin.json#L314) to specify the shareScope that initializes the shared in `host` ,and set [shareScope](https://github.com/webpack/webpack/blob/main/schemas/plugins/container/ModuleFederationPlugin.json#L504) in  `producer`.

But in this case ,it load remote module dynami

[2022-10-24 14:31] alan-agius4 commented on #15980
bump

[2022-10-24 14:49] daTrux commented on #16398
Hi @2heal1 and thank you for your time.
I think I don't understant your messagge fully. I tried your solution [here](https://github.com/2heal1/Module-Federation-Example/commit/69bf8c58c77789a63b3178933c2142df5d12b041), but it seems that now, not only the problem i have is not solved but it also download the packages from `mfe1` that weren't previously downloaded, because there were shared with the

[2022-10-24 15:20] hyshka commented on #16055
I must have missed the notification for this previously @sokra. So to confirm:

Any modules within the `chunks` or `assets` properties of those entries listed via `entrypoints` are expected to be "initial"?

![image](https://user-images.githubusercontent.com/2090758/197561571-1850c1d9-e1bc-483f-8820-8eaf085a37ab.png)

In that case, these are assumed to be "initial" chunks, while all other children

[2022-10-24 15:59] alexander-akait commented on #16320
@srmagura Yeah, will be great to see the minimum reproducible example, so I will answer why it happens

[2022-10-25 03:20] 2heal1 commented on #16398
Hi @daTrux , I miss something to push... And I found webpack@5.74.0 has already fixed PR #16407 .

I update webpack config and push , try [this](https://github.com/daTrux/Module-Federation-Example/commit/69bf8c58c77789a63b3178933c2142df5d12b041) again...

![image](https://user-images.githubusercontent.com/41466093/197674586-823e00ae-a156-4f94-bb44-1219d3408ef9.png)

[2022-10-25 07:20] imki123 commented on #16306
@alexander-akait I have a same issue. `webpack@^5.74.0` have dependencies on `terser-webpack-plugin@^5.1.3`.
`terser-webpack-plugin@^5.1.3` have dependencies on `terser@^5.7.2`.
`terser@^5.7.2(5.10.0)` has a terser vulnerability issue. Plase update dependency on `terser-webpack-plugin`.
![스크린샷 2022-10-25 오후 4 15 23](https://user-images.githubusercontent.com/43270441/197708797-d098ddb4-fbf5

[2022-10-25 13:09] alexander-akait commented on #16306
The latest `terser` version is https://github.com/terser/terser/blob/master/package.json#L7, so run `rm -rf package-lock.json node_modules && npm i`

[2022-10-26 00:25] imki123 commented on #16306
@alexander-akait
Oh, thank you. It works fine. It looks like the yarn.lock file had an older version cached.

[2022-10-26 09:21] sidx1024 opened #16415 "Incorrect file extension in source map when using eval-source-map"
# Bug report

**What is the current behavior?**
- When using `"devtool": "eval-source-map"`, the generated source map contains invalid file extension `.js.js` instead of just `.js`. The same behaviour is seen for `.jsx` files, the extension is `.jsx.js`.
- The following is the source map JSON post converting it from the data URI format. See the value of `file` attribute.
[code]

**If the current b

[2022-10-26 09:24] Smanst3r opened #16416 "Error: Unable to snapshot resolve dependencies"
# Bug report
In process of building "filesystem" cache webpack hits the /home and root / directories and falls with EACCES error
PackFileCacheStrategy :: Error: Unable to snapshot resolve dependencies
![Screenshot from 2022-10-26 12-07-59](https://user-images.githubusercontent.com/8392953/197988209-4a40c681-bbb9-4a18-986c-6375e2c6b516.png)

**What is the current behavior?**
Current behavior: funct

[2022-10-26 09:42] alexander-akait commented on #16415
Thank you for the report, PR welcome

[2022-10-27 09:19] Jinxishihenian opened #16421 "Duplicate global variable names"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

After packaging the file, the global variable name is repeated, resulting in the variable is overwritten, call the wrong method, resulting in an error.

**Other relevant information:**
webpack version:  5.6.0
Node.js version: 16.14.2
Ope

[2022-10-27 11:27] Dachi301 opened #16422 "perView: "auto" how to remove easing animation"

[2022-10-27 11:56] alexander-akait commented on #16422
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-10-27 11:56] #16422 closed

[2022-10-27 13:16] Dachi301 commented on #16422
https://user-images.githubusercontent.com/69164520/198294596-bb12fbe2-5fb0-445f-8aed-e4320a42180d.mp4

I want to remove that easing animation

![sliderRef_img](https://user-images.githubusercontent.com/69164520/198294807-d43b80c3-3a24-4a36-99fe-9e927f6e24f3.jpg)

[2022-10-27 13:18] Dachi301 commented on #16422
When I have perView to auto, it has that animation and I want to prevent that

[2022-10-27 13:40] alexander-akait commented on #16422
Sorry, it is a bug tracker for webpack, please ask this on stackoverflow

[2022-10-27 13:41] karlhorky commented on #13252
I've also opened a corresponding issue in Next.js, since it seems that they have their own flavor of the problem:

- https://github.com/vercel/next.js/issues/41961

[2022-10-27 18:18] indeediansbrett commented on #16374
Can I get a resolution on this MR? We were discussing programmatically removing every warn code snippet in two runtime modules, but I have concerns about maintainability with this approach.

[2022-10-28 09:31] andrewvlgafc opened #16426 "Wrong result css"
hello. use webpack 4.43
in react i install https://www.npmjs.com/package/react-loading-skeleton
Import css as in instruction

original css is

[code]

resulted css is

[code]

this line background-image: linear-gradient(; is not completed. so many other selectors and classes from other packages and my classes not work and not applied.

How to fix it?

Thanks

[2022-10-28 10:56] rb-mwindh opened #16429 "Webpack "lazyStyleTag" configuration won't copy fonts after upgrade to Angular 13"
Hi @alexander-akait ,
I hope you are doing well. Despite the tense and unpleasant situation worldwide, I wanted to ask if you can help me solve my problem:

https://stackoverflow.com/questions/74234161/webpack-lazystyletag-configuration-wont-copy-fonts-after-upgrade-to-angular-1

Cheers, Markus

[2022-10-28 11:55] alexander-akait commented on #16426
Please open an issue in [react-loading-skeleton](https://www.npmjs.com/package/react-loading-skeleton), we don't modify you CSS, sounds like postcss plugin or other tool modify it, so, sorry, we can't fix it here

[2022-10-28 11:55] #16426 closed

[2022-10-28 11:55] alexander-akait commented on #16429
@webpack-bot move to webpack-contrib/style-loader

[2022-10-28 11:55] #16429 closed

[2022-10-29 10:12] Joozty opened #16430 "Allow to specify how automatic public path should be determined"
# Bug report

When building module script and my bundle contains a relative import statement then bundled code contains `import.meta.url` to detect public path. The problem is that the import keyword is supported from [chrome >64](https://caniuse.com/?search=import.meta) but support for javascript modules via script tag was added in [chrome >61](https://caniuse.com/?search=javascript%20modules%20v

[2022-10-29 13:18] Joozty commented on #16430
Actually just realized that it cannot be used like that because `document.currentScript` is null when loaded as `<script type="module"`>` I guess there is no solution for this problem and I will have to learn to live with that. 😢

[2022-10-29 13:18] #16430 closed

[2022-10-29 19:17] devvsakib commented on #14532
one of the most disgusting bug

[2022-10-30 00:34] artemirq commented on #12483
@alexander-akait Looks like still not fixed, let's reopen?

<details>
  <summary>Screenshot</summary>

  ![image](https://user-images.githubusercontent.com/17342159/198857465-b80aa5e3-8076-487a-b631-3b9580a05063.png)
</details>

[2022-10-30 05:34] JeViCo commented on #12506
Keep in mind that path is relative

Also rimraf supports glob-like patterns so you probably want this
[code]

[2022-10-30 09:00] Ahmadshehu54 commented on #15900
Please i face the same problem as this one, please can someone help me with how i am going to solve it

[2022-10-30 18:42] samagragupta opened #16431 "Webpack externals for static file"
I want to add one of my file (module) in externals. So that we can skip that file and its dependecies.

For that I saw this: https://stackoverflow.com/questions/33915826/exclude-module-from-webpack-minification?noredirect=1&lq=1

According to that I tried this:

[code]

Home.js

[code]

App.js

[code]

index.html

[code]

where custom-file.js contain the hello.js content

But when I open the home

[2022-10-31 08:54] braulio-balanza commented on #11893
Hi @congineer, do you know if this issue has been solved? Seems like a no-brainer feature...

[2022-10-31 11:56] fromaline commented on #16415
I'll try to fix this bug

[2022-10-31 13:50] UNDERCOVERj commented on #15582
I meet the same error with you

[2022-10-31 17:57] samagragupta opened #16436 "__WEBPACK_EXTERNAL_MODULE__ is undefined"
# Bug report

**What is the current behavior?**

`__WEBPACK_EXTERNAL_MODULE__Hello_js__` this value is undefined.

**If the current behavior is a bug, please provide the steps to reproduce.**

This is my webpack config.
[code]

I have named the parent compiler's library as `MyLibrary` and child compiler's library as `childLibrary`. Also importing the child compiler's bundle as script.

Bundle.js
[

[2022-10-31 18:04] samagragupta commented on #16436
I am using webpack v4

[2022-11-01 07:02] ZHENGFANNN opened #16437 "TerserWebpackPlugin - build for a long time（有什么方法）"
![image](https://user-images.githubusercontent.com/53977416/199177475-a6dfd7b7-8ed3-4bbc-bb00-6fea4ee283e0.png)

[2022-11-01 12:59] alexander-akait commented on #16437
Yes, minification take a time, you can use `swc` - https://github.com/webpack-contrib/terser-webpack-plugin#swc to speed up