[2017-12-02 16:23] timkendrick commented on #196
@chukkwagon it's pretty hacky, but I got `electron-store` working by adding the following configuration to the `webpack.config.js` for my electron main process:

[code]

The reason for the production check is that my app is unbundled while in dev mode, i.e. the electron main process just loads any npm modules from the local `node_modules` via `require()`. When I build the app (i.e. in production m

[2017-12-02 17:12] JounQin commented on #4772
@sokra The error should be more specific, I wasted a few hours to find out why it throw an error here...

[2017-12-02 17:56] justinmchase commented on #4957
@jayphelps I'm just learning about this but I needed it (shared memory across modules) already for a scenario I'm working on.

I would like to make a language but I don't want to use C or any traditional languages as the base. One of the interesting features about wasm is that you can dynamically compile to wasm and either run it or save it to disk and load it again later.

So I grabbed a compile

[2017-12-02 18:11] harshan89 commented on #4569
I do this all the time

[2017-12-02 18:52] #925 closed

[2017-12-02 19:01] #2090 closed

[2017-12-02 19:02] #2508 closed

[2017-12-03 01:27] tim-stasse commented on #2638
+1

[2017-12-03 10:08] vladimirkr commented on #2972
I solve my issue with https://gist.github.com/nojaf/daf886031072b572bc9a

webpack.config.js
    module: {
        rules: [
            { test: /\.ts(x?)$/, loader: "babel-loader?presets[]=@babel/es2015!ts-loader" }
        ]
    },

tsconfig.js

{
  "compilerOptions": {
    "target": "es6"
  }
}

[2017-12-03 12:24] rosenfeld commented on #6023
I actually changing my mind after reading this article: https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

![image](https://user-images.githubusercontent.com/32246/33525296-f18a730e-d813-11e7-8a16-b01ccd95e8f7.png)

![image](https://user-images.githubusercontent.com/32246/33525300-fd3285a2-d813-11e7-982a-9f1c5a083b5f.png)

Having a separate bundle for IE11 seems reasonab

[2017-12-03 14:06] zhangwilling commented on #4790
@poeschko hi bro, i test lateset webpack@3.9.1 has solved this problem. so i guess it was sovled at 3.7release. anyway,use latest version can fix this bug.

[2017-12-04 07:57] matzito opened #6057 "Module not found: Error: Can't resolve"
Hi guys,

I am trying to migrate my project to webpack, but I've been struggling a lot with this issue:

[code]
I have a custom library that I want to include in my build, this library was created with typescript and AMD modules. I'm also using an index file to re-export stuff and the import everything with something like:

[code]
I have the following project structure:

[code]
My webpack.config:

[2017-12-04 08:46] sokra commented on #6051
Yep, it makes sense to add an options for this output to the configuration.

Could be combined with #5895

Send a PR

[2017-12-04 08:53] sokra commented on #6052
or

DllReferecePlugins should be able to read the manifest from the memory filesystem.

[2017-12-04 08:53] sokra commented on #6053
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-04 08:53] #6053 closed

[2017-12-04 08:55] sokra commented on #6056
Use multiple configurations. Export an array of configurations from the webpack.config.js.

It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a

[2017-12-04 08:55] #6056 closed

[2017-12-04 08:55] sokra commented on #6057
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-04 08:55] #6057 closed

[2017-12-04 09:00] matzito opened #6058 "Module not found: Error: Can't resolve"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

Cannot resolve AMD module with d.ts and index file (re-export)

**If the current behavior is a bug, please provide the steps to reproduce.**

NA

**What is the expected behavior?**

Able to resolve amd re-exported modules.

**If this is a feature request, what is motivation or use case for changing t

[2017-12-04 09:13] sokra commented on #6058
Where is you module named `@common`? I don't see it in your project structure?

[2017-12-04 09:17] Nirazul opened #6059 "`extractComments` option uses url relative to `output.path` instead of its source file"
**Do you want to request a *feature* or report a *bug*?**
I'm not sure, it's probably a FR

**What is the current behavior?**
When using the `UglifyjsWebpackPlugin` with the following options...

[code]

...the file is written in the correct folder but the path that is written into the file is relative to the base directory (I guess it's the `output.path` option) instead of the file. As an example

[2017-12-04 09:23] evilebottnawi commented on #6059
@Nirazul thanks for issue
@webpack-bot move to webpack-contrib/uglifyjs-webpack-plugin

[2017-12-04 09:23] #6059 closed

[2017-12-04 11:17] rosenfeld commented on #6023
@sokra just to be sure, if I use `require.include` that would break tree shaking, right?

[2017-12-04 11:27] #5554 closed

[2017-12-04 13:01] robrichard commented on #6052
@sokra yes that would also be a solution to this problem. Which approach is preferable? I'd be happy to work on a PR if you can point me in the right direction.

[2017-12-04 13:23] #5686 closed

[2017-12-04 13:27] sokra commented on #6052
This would be preferred.

You can solve this by decorating the inputFileSystem with a filesystem reading from two filesystems (the real one and the in-memory one).

[2017-12-04 14:42] Siyanda-Mzam commented on #4569
@akshayjai1 Why does having two `module.exports` in one config file causes an error?

[2017-12-04 15:11] sokra commented on #6023
`entry: ["abc"]` and `require.include("abc")` are threaded like all exports of `abc` are used. So this breaks tree-shaking.

But I guess it's a bit weird that `require.include` uses all exports. I guess we should fix this.

[2017-12-04 15:17] matzito commented on #6058
It is defined in common.js and common.d.ts

common.d.ts
[code]
common.js
[code]

[2017-12-04 15:27] sokra commented on #6023
See PR. `require.include` can be tree-shaking soon.

[2017-12-04 15:29] sokra commented on #6023
Other workarounds are:

* `CommonsChunkPlugin` + `minChunks` as function
* `require.include` + `import`

[2017-12-04 15:31] sokra commented on #6058
webpack doesn't support named AMD modules. You have to use file based naming with anonymous `define`.

[2017-12-04 15:31] #6058 closed

[2017-12-04 15:37] aaronbeall opened #6062 "webpack -p with EnvironmentPlugin doesn't work"
**Do you want to request a *feature* or report a *bug*?**

Bug, or I don't understand the documentation.

**What is the current behavior?**

I am using `webpack -p`, which the [docs describe as as shortcut](https://webpack.js.org/api/cli/#shortcuts) for:

In my `webpack.config.js` I use the `EnvironmentPlugin`:

[code]

However, if I try to use `process.env.NODE_ENV` in `webpack.config.js` I simpl

[2017-12-04 16:01] daft300punk commented on #6062
This is mentioned on the docs page https://webpack.js.org/guides/production/, the para in blue(Technically ...). In case you just want to separate config files in prod and dev, you coul go for a common config file and use webpack-merge to separate differences. What is your use case for needing process.env.NODE_ENV inside webpack config?

[2017-12-04 16:14] aaronbeall commented on #6062
@daft300punk Thanks that definitely explains what I misunderstood.

My use case is to disable `css-loader` source-maps in production, because they are causing a "flash of unstyled content"... separating out a production config for just that one option flag seems a bit heavy at this point, but I guess that's the right way to do it.

[2017-12-04 17:01] SamanthaAdrichem commented on #2537
Please update your documentation then.

https://webpack.js.org/guides/production/#cli-alternatives

states that -p sets both flags. But in webpack 3.9.1 it still only sets this variable for packages run by webpack and not the webpack config itself.

Why use it?

See my repo: https://github.com/SamanthaAdrichem/webpack-3.9.1-splitted-config-angular/blob/master/package.json

i'm using it to load sep

[2017-12-04 17:05] robrichard commented on #6052
What about an option to pass a manifest URL to DllReferencePlugin? Then it can download it over HTTP from the dev server?

[2017-12-04 17:16] rosenfeld commented on #6023
The change to allow tree shaking with require.include is awesome, thanks!

Regarding the workarounds I didn't really understand what you meant or how they would work. But I can wait for the next version of webpack including tree shaking for require.include :)

[2017-12-04 19:56] nikhilgaba opened #6063 "Support logging statements for sourcemaps"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Building a large codebase, sourcemaps do not provide any console logging to show that the build is in fact proceeding forward.
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Add console logging to show the progress of the build durin

[2017-12-04 20:10] sokra opened #6064 "webpack 4.0.0-alpha.0 feedback"
# Big changes

* Node.js 4 is no longer supported. Source Code was upgraded to a higher ecmascript version.
* You have to choose (`mode` or `--mode`) between two modes now: production or development
  * production enables all kind of optimizations to generate optimized bundles
  * development enables comments and hint for development and enables the eval devtool
    * WIP: addition hints in develo

[2017-12-04 20:53] robatwilliams commented on #4911
This is css-loader behaviour. From the documentation of its `sourceMap` option:

[2017-12-04 21:04] jkrems commented on #5153
*Note: this seems to be addressed in webpack 4.*

[2017-12-04 21:11] arackaf opened #6065 "Allow app authors to force libraries into sideEffects: false`"
**Do you want to request a *feature* or report a *bug*?**

Feature Request

**What is the current behavior?**

`sideEffects: false` is (or will be, in webpack 4) a library-level setting.

**If the current behavior is a bug, please provide the steps to reproduce.**

N/A

**What is the expected behavior?**

N/A

**If this is a feature request, what is motivation or use case for changing the behavior

[2017-12-04 21:16] TheLarkInn commented on #6064
cc @skipjack I know we had a separate issue for docs, but wanted to ping you on this also.

[2017-12-04 21:17] TheLarkInn commented on #6064
Also marking as a Contribution opportunity. Testing and reporting feedback is a huge contribution opportunity, and help would be greatly appreciated.

[2017-12-04 22:52] LuisBonsembiante opened #6066 "Error when run de server"
**Do you want to request a *feature* or report a *bug*?**
is a bug

**What is the current behavior?**
ive ...odules/@angular/common/esm5/common.jsError: No module factory available for dependency type: ContextElementDependency
    at Compilation.addModuleDependencies (/home/luis/Proyectos/aconcagua/Folder/aconcagua-ui/node_modules/@angular/cli/node_modules/webpack/lib/Compilation.js:215:21)
    at

[2017-12-04 22:57] dangodev commented on #6064
I re-ran some existing 3.x builds with the alpha just now. No successful builds, due to loader errors (and a webpacker error, in case you’re curious). Here are some errors from the output. I’d be happy to open issues on these loaders if needed.

**ejs-loader**
[code]

**file-loader**
[code]

**vue-loader**
[code]

…And here’s an error from running `webpack` from **[rails/webpacker](https://github.

[2017-12-04 23:12] rosenfeld commented on #6023
@sokra, sorry to bother you again, but I've been searching for several hours and couldn't find how to achieve what I wanted.

I want to generate a static file using HtmlWebpackPlugin, however I export two configurations: one generates bundles for modern browsers (runtime, vendor, app) and the other generates bundles for legacy browsers (legacy-runtime, legacy-vendor, legacy-app). I'd like to be ab

[2017-12-04 23:13] TheLarkInn commented on #6064
**file-loader** (use of context, probably needs to be moved to rootContext). @d3viant0ne I'm going to tackle this. Let's create issue.

**vue-loader** is also a `context` issue. @linusborg - This will be a breaking change, I can help if needed.

The last error I'm not sure which one that is.

[2017-12-04 23:15] TheLarkInn commented on #6064
Thanks @dangodev - The last one is html-webpack-plugin and I've attached an issue already. I'll link up to description.

[2017-12-04 23:28] sdoomz commented on #6064
Trying to build 3.10 project with webpack 4.0.0-alpha.0 - it fails after few second.
Node 7.8.0, 8.9.0.

**eslint-loader**
[code]

[2017-12-04 23:43] TheLarkInn commented on #6064
Yes!

[2017-12-04 23:53] billyjanitsch commented on #6064
Hi @TheLarkInn! Thanks for the opportunity to give feedback and congratulations on the alpha release.

The camel casing of `sideEffects` in package.json is odd, because, by convention, all other fields (including those added by other packages) use dash separation. Would you consider renaming the field to `side-effects`?

[2017-12-05 00:02] michael-ciniawsky commented on #6064
**package.json**
[code]

:)

[2017-12-05 00:03] billyjanitsch commented on #6064
Another general question: how does `mode` interface with `env` as provided by function configs? Are function configs still the recommended way to handle customizing the config depending on the `mode`?

I ask because while it's great that the dev/prod distinction is being made first-class, I'm sure that users will still want to configure webpack's behavior as a function of the environment, and it w

[2017-12-05 00:28] sdoomz commented on #6064
@TheLarkInn what is recommended to use instead of `loaderContext.options` `this._compiler.options`?

[2017-12-05 01:24] davidcalhoun commented on #1236
@avesus Your comment is a gateway drug that opened up a whole realm of solutions for me.  Thanks!

[2017-12-05 02:19] mnpenner commented on #2030
To elaborate, we should just [`libraryExport`](https://webpack.js.org/configuration/output/#output-libraryexport) to `"default"`

[2017-12-05 03:49] yoginth opened #6067 "Got “Blocked:mixed content” on HTTPS website"
**Do you want to request a feature or report a bug?**

Neither but bug on my end

**What is the current behavior?**

I'm Running a Website using Webpack in Production.

I was surprised to see in Chrome console the following error about loading the js file which is mixed with weback and laravel-mix

![untitled-1](https://user-images.githubusercontent.com/10177861/33589080-7e7180da-d99c-11e7-88b8-d0

[2017-12-05 04:33] swarajgiri commented on #6064
@TheLarkInn
Building 3.10 project with webpack 4.0.0-alpha.0
Node - v8.9.1

**offline-plugin:**  `TypeError: compilation.fileDependencies.indexOf is not a function`

<details>
if (compilation.fileDependencies.indexOf(runtimeTemplatePath) === -1 && !_this2.__tests.ignoreRuntime) {

TypeError: compilation.fileDependencies.indexOf is not a function
    at Array.<anonymous> (/var/www/test4/dashboard/n

[2017-12-05 05:13] AlexanderOMara commented on #6064
This behavior does not match Node's current experimental ES module loader.

[Here is a Gist](https://gist.github.com/AlexanderOMara/245e8fceaa4d838d91537e3b79a302e8) to demonstrate that code that will run in Node (with `--experimental-modules`) fails to bundle in this version of Webpack 4 (although I think Webpack 3 could be configured to bundle it).

On a side note, this could also make code that

[2017-12-05 05:33] vramana commented on #6064
@billyjanitsch `devDependencies`, `peerDependencies`, etc.,

[2017-12-05 06:38] sokra commented on #6064
Thanks for being alpha testers... ❤️

[2017-12-05 07:30] billyjanitsch commented on #6064
@sokra

Sorry, mental lapse. You're absolutely right.

Cool! So how does this affect `-d` and `-p` flags -- do they now automatically set the mode (which would, if I'm understanding mode correctly, be equivalent to their current behavior)?

[2017-12-05 07:38] sokra commented on #6064
yes

`-d = --mode development --devtool cheap-module-eval-source-map`
`-p = --mode production --plugin uglifyjs-webpack-plugin`

But this is subject to change as CLI will move into webpack/webpack-cli.

[2017-12-05 07:49] sokra commented on #6023
You best ask in the html-webpack-plugin repo.

Maybe it doesn't work in this scenario. You could also generate the HTML file in a separate node.js after webpack compilation.

[2017-12-05 07:49] sokra commented on #6067
Not a webpack issue.

[2017-12-05 07:49] #6067 closed

[2017-12-05 07:49] sokra commented on #6067
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2017-12-05 07:50] sokra commented on #6066
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2017-12-05 08:33] hmz5 opened #6068 "when webpack-hot-reload show this bug"
webpack: Compiling...
/Applications/XAMPP/xamppfiles/htdocs/production/lat/lat.wap/node_modules/.3.8.1@webpack/lib/Stats.js:221
                                        text += `\n @ ${current.readableIdentifier(requestShortener)}`;
                                                                ^

RangeError: Invalid string length
    at formatError (/Applications/XAMPP/xamppfiles/htdocs/productio

[2017-12-05 09:01] aaroncass commented on #2983
I am also seeing this bug.

I have a barebones project (following https://webpack.github.io/docs/tutorials/getting-started/), and every time I change a file, the browser reloads the page multiple times. webpack only compiles once. This only happens in chrome/chromium (v 62), not in firefox.

OS: Ubuntu 16.04

[2017-12-05 09:09] leesaxby opened #6069 "HMR fails to update if accept module name has file extension and main import doesn't"
**Do you want to request a *feature* or report a *bug*?**
Bug...possibly

**What is the current behavior?**
If you add an extension to either the main app module name `import App from './App'` or `accept` module name ` module.hot.accept('./App.js', () => { render(App); });` HMR fails to update.

[code]

Further detail here: https://github.com/leesaxby/webpack-hmr-issue.

**If the current behavior

[2017-12-05 09:13] EugeneHlushko commented on #5964
Guys can you please set up a small reproduction repo, i could look into it this weekend. @stylehuan @gerdus @swASO

[2017-12-05 09:14] EugeneHlushko commented on #6066
Hi @LuisBonsembiante if you do set up a reproduction repo pls ping me i might look into it this weekend.

[2017-12-05 09:28] kingdaro commented on #6064
I assume you can still use the full `--development` and `--production` flags? Since I prefer that over the shorthands for readability.

[2017-12-05 09:56] OlegLustenko commented on #6064
is it still required to set HotModuleReplacment in development build ?

I reached that error on rebuild
![image](https://user-images.githubusercontent.com/11524061/33600858-3571ca7c-d9b3-11e7-9d0c-5dfed1fdc1ce.png)

[2017-12-05 10:14] Philip-Sultanescu commented on #6066
Problem appears from 3.9.0+, it doesn't appear in 3.8.1

Here is my package.json
  "dependencies": {
    "@angular/animations": "5.0.5",
    "@angular/cdk": "5.0.0-rc.2",
    "@angular/common": "5.0.5",
    "@angular/compiler": "5.0.5",
    "@angular/core": "5.0.5",
    "@angular/flex-layout": "2.0.0-beta.10-4905443",
    "@angular/forms": "5.0.5",
    "@angular/http": "5.0.5",
    "@angular/mater

[2017-12-05 10:19] mcpherson-sa commented on #2983
@aaroncass - Your issue might be the same as what I am seeing. I traced it webpack-dev-server and have raised and issue there: https://github.com/webpack/webpack-dev-server/issues/1210. Am also seeing in on and Chrome/Chromium only, not Firefox. Unfortunately the maintainers of webpack-dev-server closed the issue straight away despite the fact that I had done quite a lot debugging work on the issu

[2017-12-05 10:33] EugeneHlushko commented on #6063
Are you planning to work on this or do you need help? @nikhilgaba

[2017-12-05 10:39] mcpherson-sa commented on #2983
To verify the issue the issue I am seeing in webpack-dev-server follow these steps
- run npm install sleep
- in node_modules/webpack-dev-server/lib/Server.js in the function search for the line:
  `this._sendStats([conn], this._stats.toJson(clientStats), true);`
- add the line sleep.msleep(1000); before the line above.

This should make the issue disappear. It seems to be related to sockjs on Chro

[2017-12-05 11:28] janryWang opened #6070 "dynamic import() chunk basepath"
how to config the basepath?

![image](https://user-images.githubusercontent.com/4060976/33605047-1434e3cc-d9f3-11e7-9103-943cc9ce20e1.png)

[2017-12-05 11:36] timwis commented on #5931
I'm also using `babel-minify-plugin-webpack`. Setting `module.exports.devtool = '#cheap-source-map'` instead of `'#source-map'` did the trick for me.

[2017-12-05 11:39] jrencz commented on #5931
@timwis according to https://webpack.js.org/configuration/devtool/ check-source-map is not recommended for production

[2017-12-05 11:49] janryWang commented on #6070
@sokra

[2017-12-05 12:04] rosenfeld commented on #6023
I didn't ask there because I already knew it wasn't supported, although other people want to achieve the same:

https://github.com/jantimon/html-webpack-plugin/issues/782

The thread even suggests a solution which I didn't actually understand but I tried and it didn't work anyway.

But most importantly, I was curious on the webpack side rather than on the html-webpack-plugin side. It already provi

[2017-12-05 12:14] sokra commented on #6070
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-05 12:14] #6070 closed

[2017-12-05 12:16] sokra commented on #6069
It must be the same string content. You are literally accepting this import selected by source.

[2017-12-05 12:16] sokra commented on #6068
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-05 12:16] #6068 closed

[2017-12-05 12:35] timwis commented on #5931
@jrencz sry, where are you seeing that?

[2017-12-05 12:37] jrencz commented on #5931
@timwis https://webpack.js.org/configuration/devtool/#devtool there's a table in that section

[2017-12-05 12:45] timwis commented on #5931
Ah, right in front of me :P Thanks.

[2017-12-05 13:18] leesaxbygresham commented on #6069
Thanks for the reply.

When the accept name contains the extension (differing from the main app import string).
You update the `App` module and the accept callback will fire once but `App` will be the old version (without changes), then any further changes to `App` won't trigger the accept callback.

Would you be able to  clarify what webpack is doing here, to help in understanding?
Thanks

[2017-12-05 13:46] filipesilva commented on #6064
`postcss-loader` is using `loader._compilation.applyPluginsWaterfall` and thus breaks. This is the same problem as `html-webpack-loader` AFAIK.

Initial tests in Angular CLI showed a 4.7 to 7% improment in rebuild speeds:
![image](https://user-images.githubusercontent.com/4172079/33610198-acbaac34-d9c2-11e7-83cc-c7cd5b150687.png)

This also had stuff that didn't work disabled though so all results

[2017-12-05 16:08] gerdus commented on #5964
just did a npm upgrade to webpack 3.10.0 and my problem seems to have been resolved.

[2017-12-05 17:15] shystruk commented on #1189
No plugins needed for multiple output paths :)

`
const path = require('path');
const PATHS = {
    root: path.join(__dirname, ''),
    app: path.join(__dirname, 'app')
};

entry: {
       // ./build/index.js
        'build/index': [
            `${PATHS.app}/app.js`,
            `${PATHS.app}/app_2.js`
        ],

        // ./library..js
        './library': [
            `${PATHS.library}/libra

[2017-12-05 18:22] nikhilgaba commented on #6063
You could take a go at it. I wont be able to have a look at it until early next week. @EugeneHlushko

[2017-12-05 18:25] #6054 closed

[2017-12-05 18:26] johnnyreilly commented on #6064
Well done for all the hard work! Think I spotted a typo?

Should "not" be "now"?

[2017-12-05 18:39] johnnyreilly commented on #6064
Would it be possible to get some more detail on what migrating a plugin from webpack 3 -> 4 would look like? It's not obvious to me how:

1. Implementation of plugins changes. A worked example and a checklist for things to do to migrate would be super helpful!

2. usage of plugins changes (in terms of `webpack.config.js`. Does it? I'm guessing not.

[2017-12-05 18:45] mauron85 commented on #5984
@sokra I probably failed to express problem, because I don't see your answer as solution.

Because problem I'm describing will appear just by simply loading bundle with script tag.
It's about resolving runtime dependencies in bundle itself.

It's not about I want to do something with BackgroundGeolocation somewhere external from bundle.

[2017-12-05 18:47] mauron85 commented on #5984
In other words:

[code]

[2017-12-05 18:54] TheLarkInn commented on #6064
Yes Johnny. Let me see if I can write up a quick post. :-D

[2017-12-05 18:57] johnnyreilly commented on #6064
Thanks chap!

[2017-12-05 18:58] sokra commented on #6064
[code]

In this case this would be possible too:

[code]

The compat layer automatically redirects all calls to `plugin` to the camelCased hook in `this.hooks`.

If you like Promises `tapPromise` is there for you.

[code]

No.

---

If you want to offer plugins for your plugin you shoud consider a `plugins` property in your plugin options. You can make your own class tapable by adding a `hooks` pr

[2017-12-05 19:02] TheLarkInn commented on #6064
Thanks @sokra

[2017-12-05 19:07] michael-ciniawsky commented on #6064
@filipesilva Open an issue in `postcss-loader` if you have any problems, I will address it there :)

[2017-12-05 19:19] filipesilva commented on #6064
@michael-ciniawsky opened https://github.com/postcss/postcss-loader/issues/319.

[2017-12-05 19:23] johnnyreilly commented on #6064
@sokra - now that's a speedy response! Thanks!

I'm guessing that "MyLoggingPlugin" is just a string that you should use consistently in your plugin code wherever you use `compiler.hooks.hookNameHere` to identify your plugin?

Also, can you confirm that all `compiler.plugin` calls become `compiler.hooks.hookNameHere`? Seems likely!

[2017-12-05 19:31] #4678 closed

[2017-12-05 19:34] sokra commented on #6064
Actually you can use any string as MyLoggingPlugin. It's use by the intercepting api of the plugin system. i. e. the string will be displayed by the ProgressPlugin in the console or used to label profiling information captured. So best use your plugin name. If your plugin is intended to be used multiple times, best also add a unique identifier.

[2017-12-05 20:02] reefloretto commented on #2462
@pts-moog16 did that work for you?

[2017-12-05 20:43] jdalton opened #6072 "Support ESM import/export in config files."
One of the things I've noticed since writing ESM code is that I reach for it all the time, even when writing webpack.config.js files. It would be rad if webpack 4 used something like [@std/esm](https://github.com/standard-things/esm) behind the scenes to load its config files. This would enable support for `import`, `export`, dynamic `import`, and `import.meta` with config files across Node versio

[2017-12-05 22:41] AlisterC93 commented on #748
Still no solution?

Come on guys, its 2017

[2017-12-05 22:46] michael-ciniawsky commented on #6064
`postcss-loader@latest`  is 'fixed' (works) (false alert/user error)

[2017-12-05 22:48] TheLarkInn opened #6074 "Add support for more complex selectors for sideEffects"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
webpack searched for `"sideEffects": false` in package.json to perform the extra optimizations for esm modules. However if `false` is a string, the optimization isn't detected.

We should probably (in the case that package authors might mistake this as "false" vs `false`) put the wrong value in, an

[2017-12-05 23:00] iamakulov commented on #6064
To learn what exact effect the `mode` flag has – see https://github.com/webpack/webpack/blob/next/lib/WebpackOptionsDefaulter.js (Ctrl+F for “.mode”).

(For everyone who was also curious)

[2017-12-05 23:05] Anthony59273 commented on #2157
I'm also having about the same error directly when running WDS. Here are the details:

- Operating System: MacOS 10.12.6
- Node Version: 4.4.3
- NPM Version: 2.15.1
- webpack Version: 3.8.1
- webpack-dev-server Version: 2.9.2

# Code

webpack.config.js
https://gist.github.com/Anthony59273/7329a0a43d972978d09b8f1cdc944173

# Expected Behavior

Dev server runs correctly.

# Actual Behavior

When lau

[2017-12-05 23:19] frosas commented on #3113
@c9s, is your webpack handling `.tsx` files? I had the same error until I matched both `.ts` and `.tsx` files:

[code]

[2017-12-05 23:20] gdborton commented on #5718
Generated Nov 16, on node 6 - Profile of building 400 of our client side files. [400-files.cpuprofile.zip](https://github.com/webpack/webpack/files/1533320/400-files.cpuprofile.zip)

[2017-12-05 23:24] iamakulov commented on #6064
What surprised me though is that the `UglifyJsPlugin` is not enabled in the production mode by default.

My expectations were like “I write `mode: 'production'`, specify entry, output, a couple of loaders, and it just works.” Without minification, the production mode feels half-baked or incomplete – I still have to add additional plugins to make it work.

Would it make sense to enable the `UglifyJ

[2017-12-05 23:29] TheLarkInn commented on #6064
@iamakulov Would you mind linking that one up into a separate issue. I have some specific thoughts about it after playing around a few times and believe it should be left out of the `mode`.

[2017-12-05 23:43] iamakulov opened #6075 "Webpack 4: include UglifyJsPlugin under the production mode"
**Do you want to request a *feature* or report a *bug*?**

A feature.

**What is the current behavior?**

`mode: 'production'` in webpack 4 doesn’t enable the minificator. The code with `mode: 'production'` comes out not fully ready for production.

**What is the expected behavior?**

`mode: 'production'` in webpack 4 enables the minificator (the `UglifyJsPlugin`).

**If this is a feature request,

[2017-12-05 23:43] iamakulov commented on #6064
@TheLarkInn Done! #6075

[2017-12-05 23:53] lencioni commented on #5718
Here's one I generated just now on Node 8.9.0, with just a few of our client side bundles.
[coreflow.cpuprofile.zip](https://github.com/webpack/webpack/files/1533377/coreflow.cpuprofile.zip)

[2017-12-05 23:59] TheLarkInn commented on #6075
So I'm on the fence with this one for a few reasons and I'll open it for discussion:

* we are working towards multiple minifiers (closure, uglify) as being options with pure integrations
* in the past we've seen some upstream issues with our default uglify implementation and since moved out the recommended one (uglify-es) to a separate package (trivial but worth mentioning).

[2017-12-06 00:42] artivilla commented on #2157
@Anthony59273 Try a larger size might help? I'm using `"webpack:dev": "NODE_ENV=development node --max_old_space_size=8096 ./node_modules/.bin/webpack --progress --colors",`

[2017-12-06 01:00] jouni-kantola commented on #6075
Wouldn't this be one of those cases where a default one would be one less thing to configure? uglify by default, override with config.

[2017-12-06 01:10] lencioni commented on #5718
I also just generated a profile using node's tick profiler, in case anyone finds that more useful. I followed the guide at https://blog.continuation.io/node-js-profiling-using-the-v8-tick-profiler/ and ran this profile on top of https://github.com/webpack/webpack/pull/6073

[profile.txt](https://github.com/webpack/webpack/files/1533510/profile.txt)

[2017-12-06 01:49] pelotom commented on #6065
I suspect that in many cases the opposite will be desirable: instead of selectively opting certain libraries _in_ as side effect-free, the builder of an app will want to blanket declare _all_ libraries they use to be free of side effects unless explicitly stated otherwise. Innocent until proven guilty offers the least hassle for achieving maximal tree shaking potential. Perhaps an `"include"`/`"ex

[2017-12-06 02:16] tom10271 commented on #1914
I get the same error while I am just trying to build my code inside a Docker image.

[2017-12-06 02:19] arackaf commented on #6065
Surely if a third-party library declares that it's side-effect free, it can be trusted by default, no?  Do we really think we need to override lodash and force the whole library to be pulled down, even though it's declared as side-effect free?

[2017-12-06 02:33] kzc commented on #6075
@sokra @TheLarkInn If `uglifyjs-webpack-plugin@1.x` is not incorporated into `webpack@4` by default, then it would be better to remove `uglifyjs-webpack-plugin` from webpack's `package.json` altogether:

https://github.com/webpack/webpack/blob/v4.0.0-alpha.0/package.json#L24

There is much user confusion with `webpack -p` running the ES5-only `uglifyjs-webpack-plugin@0.4.6` unconditionally regardl

[2017-12-06 02:42] pelotom commented on #6065
Of course! The purpose of a blacklist wouldn’t be to override library authors who declared `”sideEffects”: false`, although it could be used for that if it turned out they were mistaken. The main use case is so you can by default assume _all_ packages to be side effect-free, then pick out the ones which turn out to have side effects.

[2017-12-06 03:23] primewang commented on #6022
devtool: '#eval-source-map' =====> devtool:'inline-source-map'，

[2017-12-06 03:51] ryancastle commented on #1613
In webpack 3, this resolved the loader issue for a globally installed `ts-loader`.

    resolveLoader: {
        modules: ['/usr/lib/node_modules']
    }

[2017-12-06 05:17] dsitexperts opened #6077 "ERROR in ./src/app.js Module not found: Error: Can't resolve './components/services'"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2017-12-06 05:18] #6077 closed

[2017-12-06 06:36] sokra commented on #5718
side note: How does the performance compare between node 6 and node 8?

[2017-12-06 06:50] CWelshE commented on #6074
I'm not quite sure how to architect the test case(s) for this issue. However, I am looking into existing tests to see if I can reuse anything.

[2017-12-06 07:20] sokra commented on #5718
Here is a condensed version of the profile:

[code]

@bmeurer Could explain this better, but I try to.

InterpreterEntryTrampoline: Looks like calls to the interpreter from optimized code. Maybe some code is not yet optimized, or will never be...

CallFunction_ReceiverIsAny: Looks like a call with `this` being unknown (any state)

KeyedLoadIC_Megamorphic: I guess this is a property access to a obj

[2017-12-06 08:46] iamakulov commented on #6075
Would that prevent us from enabling UglifyJS by default? I.e. if we have a multiple available minifiers, we could make `options.minimize` accept a string with a minifier name (e.g. `options.minimize: 'closure'`) and default it to `'uglifyjs'`.

(Options, in this case, might go into a separate field.)

I agree with @kzc and would also love to see this fixed. We should either include a good working

[2017-12-06 09:04] michael-ciniawsky commented on #6075
`uglifyjs-webpack-plugin` v1.0.0 landed on the `next` (#5940)  but isn't released yet (`webpack v4.0.0-alpha.0`). +1 to not included it as a direct dependency anymore (alias) and instead handle it in a different way via `mode` somehow.

**webpack.config.js**
[code]

[2017-12-06 10:09] sokra commented on #6074
`"sideEffects": "false"` should mark every module as side effect free except a file named `false`

[2017-12-06 10:10] sokra commented on #6072
Propose it to https://github.com/js-cli/js-interpret

[2017-12-06 10:34] marcneander commented on #5995
@sokra Would you mind elaborate? I don't understand

[2017-12-06 11:02] EugeneHlushko commented on #6063
Okay, will take it on Sat, @sokra any comments on this?

[2017-12-06 11:03] EugeneHlushko commented on #6051
@sarkiroka hi are you planning on doing a pr? otherwise i can do and update the docs

[2017-12-06 12:11] marcneander commented on #4392
I noticed that specifying chunks manually works perfectly.

[code]

How I load my modules dynamically in my routes

[code]

[2017-12-06 14:07] spookylukey commented on #1194
The key point here is that 'eval-source-map' is partially broken for Firefox (you can set break points in the original sources, but stack traces from exceptions point uselessly to the compiled version, and typically to an eval at that). 'source-map' works fine, and 'inline-source-map' also works. I haven't tried all the options.

With Chrome, both work.

Please can we re-open, even if it is just a

[2017-12-06 15:21] jdalton commented on #6072
Hi @sokra!

I'm not sure how `js-interpret` relates to how webpack reads its `webpack.config.js` files. Can you go into more on that.

[2017-12-06 16:04] sarkiroka commented on #6051
@EugeneHlushko, no. I will happy when you can do this

[2017-12-06 16:08] evilebottnawi commented on #6048
@webpack-bot move to webpack-contrib/uglifyjs-webpack-plugin

[2017-12-06 16:08] #6048 closed

[2017-12-06 16:15] evilebottnawi commented on #4414
@webpack-bot move to webpack-contrib/uglifyjs-webpack-plugin

[2017-12-06 16:15] #4414 closed

[2017-12-06 16:17] evilebottnawi commented on #5544
@milesj issue still exists with latest `webpack@3` and `uglify-webpack-plugin`?

[2017-12-06 16:20] evilebottnawi commented on #2023
Fixed in latest `uglifyjs-webpack-plugin`, please use latest `uglifyjs-webpack-plugin` version. Feel free to open issue in https://github.com/webpack-contrib/uglifyjs-webpack-plugin if problems appear again. Thank you!

[2017-12-06 16:20] #2023 closed

[2017-12-06 16:36] evilebottnawi commented on #5900
@gabriel-dehan why you pushed `node_modules` to github pages? Also `loaders` => `rules`. And what is error you got?

[2017-12-06 16:56] evilebottnawi commented on #5681
Chrome bug (`Status: Assigned`). Workaround above (https://github.com/webpack/webpack/issues/5681#issuecomment-345861733) Thanks to everyone!

[2017-12-06 16:56] #5681 closed

[2017-12-06 18:00] modosc commented on #5995
@marcneander i got it working, i'll update my example with @sokra's workaround.

still would be nice to have this work out of the box though - it does when not using dynamic requires.

[2017-12-06 18:08] lencioni commented on #5718
I think we saw builds get 1-2 min faster in our tests, which is maybe 5-15%. @gdborton probably has more specific numbers. Also, we haven't rolled out Node 8 fully yet, so we probably won't know the full impact until that happens, which we plan to be on Monday, December 11.

Thanks for the profile analysis!

How would one go about finding this and seeing if it can be improved? This seems like a go

[2017-12-06 18:18] milesj commented on #5544
Can't say that it has. It magically has gone away. We're using webpack 3.8.1 and uglifyjs-webpack-plugin 1.0.1.

I'll close this issue for now.

[2017-12-06 18:18] #5544 closed

[2017-12-06 19:06] pbarbiero commented on #6072
@jdalton https://github.com/webpack/webpack/blob/next/package.json#L14

[2017-12-06 19:22] jdalton commented on #6072
Ah @pbarbiero, this bit?
https://github.com/webpack/webpack/blob/bc1525dd84893ec7d4ab93d6d54443e5ad8ec240/bin/convert-argv.js#L26-L38

I'm not sure what that's proposing though? `@std/esm` doesn't require a special extension to work.
By default it follows Node's proposed ESM rules of `.mjs` but can be unlocked to support unambiguous `.js`. Working with @TheLarkInn briefly it looked like the `"esm"

[2017-12-06 19:22] rowanoulton opened #6080 "Duplicate record entries caused by RuleSet `ref--` keys"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Duplicate entries are added to records when RuleSet `ref--` values are needed and the order of loader config changes. This causes the records file to balloon over time.

**If the current behavior is a bug, please provide the steps to reproduce.**

Please see https://github.com/rowanoulton/w

[2017-12-06 19:24] jdalton commented on #6072
I'm proposing webpack use `@std/esm` to support ESM by default without special extensions.

[2017-12-06 21:28] gdborton commented on #5718
The `hardSourceCacheKeyGenerator` is actually unused, and is left over from our experiments with the hard-source-plugin.  We're actually shelling out to get node and npm versions to use as an overall cache invalidator w/ happypack.

It looks a bit like this:
[code]

createHashFromString looks like this:
[code]

Both of the areas mentioned where we are shelling out are used to prep for the build, `

[2017-12-06 23:00] CWelshE commented on #6074
Oh, I may have completely misunderstood the issue, then. Am I just to implement the case where specifying a `String` instead of a `Boolean` value tells webpack which files are known to have effects? If so, should we allow `Array`s of strings as well?

[2017-12-06 23:07] sscaff1 opened #6082 "Provide an option to replace the js.map hash generated"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We are trying to migrate a legacy development workflow to a more modern workflow by utilizing Webpack. For the time being, we are being forced to source our compiled code that's outputted by Webpack. This is mostly fine except for the fact that webpack adds a unique hash to js.map files everytime i

[2017-12-06 23:20] lencioni commented on #5718
Yeah, probably. I did a quick search for delete in acorn and found a couple of places that might be worth looking into:

- https://github.com/ternjs/acorn/blob/8baca9920fd0f31950f0db554976347e91b96c04/src/lval.js#L48
- https://github.com/ternjs/acorn/blob/e70228bc4b66cfe96eab8e0ac4866a95d6a8a528/src/loose/expression.js#L490

[2017-12-06 23:31] gingur commented on #2875
A bit hackish, but if you export your DLL as UMD (`libraryTarget: "umd"`) you can do the following at the start of your server:
[code]
Now, the fun part is if you want to remove your `node_module` dependencies you would need to pre-define what these dependencies map to.  Example, `react` resolves to `./react/index.js`.  You can do this via a webpack plugin or post webpack script and use that as yo

[2017-12-06 23:32] pwhipp commented on #1399
me too

[2017-12-07 01:23] MagicDuck opened #6083 "Stats.toJson() is taking a lot of the build time on incremental builds (3sec+)"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
During incremental build, the Stats.toJson() takes 3s+ (out of 10s) to do it's thing. See profiler picture below.
![image](https://user-images.githubusercontent.com/95201/33693754-622542e6-daa9-11e7-9776-03de420dce1a.png)

Attached CPU profile from chrome dev tools as well.
[CPU-20171206T171932.zip](ht

[2017-12-07 01:25] MagicDuck commented on #5718
FYI, we're just in the process of upgrading to webpack 3.8.1 and our incremental build times went from around 7s to 10s. The cpu profiler indicates the difference is Stats.toJson(). Issue filed here: https://github.com/webpack/webpack/issues/6083

[2017-12-07 01:29] lencioni commented on #5718
@MagicDuck thanks for the possible lead! Just curious, what project did you see this on?

[2017-12-07 01:36] MagicDuck commented on #5718
it's our internal project at SAP, can't share the source...

[2017-12-07 01:52] Darmody commented on #5470
@rowanoulton

Extract a manifest with the CommonsChunkPlugin is the point. That saves my life.

@huangshuwei

Your chunks is a series of numbers which depend on files' order. So chunks will changing after files added or removed (files' order changed!!!). I resolved this problem by use `webpack.namedChunksPlugin` which use module name as chunks. Hope it is useful.

[2017-12-07 02:04] gdborton commented on #5718
Build setup looks like:
  Compiler: client, entryPoints: 3, modules: 4923

 | node version | webpack version | iteration 0 | iteration 1 | iteration 2 | average time (ms) |
 | ------------ | --------------- | ----------- | ----------- | ----------- | ----------------- |
 | 6.11.1 | 3.10.0 | 109037ms | 26307ms | 24856ms | 53400ms |
 | 6.11.1 | 4.0.0-alpha.0 | 110523ms | 29291ms | 28371ms | 56061.66

[2017-12-07 02:26] lencioni commented on #5718
Can you profile on Node 8.9.0? 8.2.0 was on the previous version of V8 I
believe.

On Wed, Dec 6, 2017, 6:05 PM Gary Borton <notifications@github.com> wrote:

[2017-12-07 03:48] ljharb commented on #5718
I believe v8.4.0 is the first one with the new v8 implementation; comparing 8.3 to 8.4 will be the most instructive.

[2017-12-07 07:39] sokra commented on #6075
On the one hand when included in production mode uglifyjs can get outdated and it's more complex to use other minimizers,

on the other hand it's easier to getting started and we avoid users publishing unminimized bundles to prodution.

...

I guess the arguments pro inclusion have more weight. We can use `optimize.uglifyjs` for options/disable.

Best case: Users only need mode: production to crea

[2017-12-07 07:39] sokra commented on #6075
cc @gaearon

[2017-12-07 07:46] sokra commented on #6083
Do you use any plugin that store the stats in a file?

[2017-12-07 07:50] sokra commented on #6082
Send a PR toremove this hash in the next branch. It's not needed anyway...

[2017-12-07 08:01] sokra commented on #6080
webpack gives these option objects a unqiue ident, by default the position in the config. You can provide your own ident with this config:

[code]

[2017-12-07 08:06] sokra commented on #6074
yep Array of string should be allowed too.

It should support glob expressions too.

[code]

[2017-12-07 08:09] sokra commented on #6072
webpack uses js-interpret to handle transpiling of the configuration file. ESM support should go though the same route. You can propose `.mjs` or `.esm.js` as extension to js-interpret and this should result in ESM support for the webpack configuration file.

[2017-12-07 08:15] sokra commented on #6063
We currently don't have a way for logging in webpack. There is a kind of progress support in the next plugin system, but it doesn't support logging or more inner plugin logging.

We should consider adding logging support to the plugin system.

This can be handled through the `intercept` API:

[code]

[code]

This can be integrated into the ProgressPlugin.

[2017-12-07 08:48] sokra commented on #5734
I currently adding native support for this. It's a bit more involved because require and import need to have different behavior for JSON modules (this is not the case for ESM modules).

[2017-12-07 09:06] michael-ciniawsky commented on #6075
Many folks just generally seemed to be confused by the current `-p` flag's behavior e.g expecting `BabelMinifyPlugin()` to be applied automatically when using it etc. So maybe if the (JS) Minifier (e.g `config.optimization.minifier`) could be customized (with still defaulting to `uglifyjs-webpack-plugin`) and `webpack -p` is 💯 based upon `config.mode = 'production'` && settings in `config.optimiza

[2017-12-07 09:07] melvincarvalho commented on #2145
Same issue Version 55.0.2883.87 Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

[2017-12-07 09:09] webschik opened #6084 "HMR fails in the WebWorker"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
HMR fails in the WebWorker

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]

[code]

Webpack builds 2 files `index.js` and `polyfill.js` and in `webpack/lib/JsonpMainTemplatePlugin.js` it uses `window` that fails in the WebWorker when I start Webpack dev. se

[2017-12-07 09:28] jdalton commented on #6072
Ideally it'd work with just `.js` and `.mjs` as that's where Node is going without the need to register the handler with `js-interpret`. See what I'm getting at?

[2017-12-07 10:23] DmitryGonchar commented on #5021
@sokra How to provide fallback if you load only some files from CDN? E.g. angular and jquery which are set `external:` in webpack config (implemented as in the docs), but not the chunks of your own code?

Right now adding `require(file-loader!pathToLibOnOurServer)` throws error `__webpack_public_path__ is not defined`

Or should it be done with the script which is outside of webpack?

[2017-12-07 11:29] sokra commented on #6084
Did you specify `target: "webworker"`?

[2017-12-07 11:47] webschik commented on #6084
@sokra , with my current webpack setup it's hard to use multiple targets, but I will try to rewrite the config and `target: "webworker"`

[2017-12-07 12:23] kud commented on #1194
The only thing which works everywhere for me is: `cheap-module-inline-source-map`

[2017-12-07 13:07] webschik commented on #6084
@sokra , `target: "webworker"` didn't help.
I've created a repo with a minimal sample of this issue:

https://github.com/webschik/webpack-hmr-worker-bug

[2017-12-07 13:14] bakrkawkji-trustly commented on #5627
@will-stone yeah this issue still exists, my current local solution for it is to run the following bash command to replace it with undefined before deploying my code:

"find /assets/ -type f -name \"*.js\" | xargs sed -i '' 's/([0,1], eval)(\"this\")/undefined/g'"

[2017-12-07 15:11] csvan commented on #2145
Why is this closed? It is clearly still an issue.

[2017-12-07 15:20] sscaff1 commented on #6082
Thank you for the feedback. I'll work on it this weekend!

[2017-12-07 16:10] ooflorent commented on #6082
@sscaff1 I've opened a PR (#6087) to fix this

[2017-12-07 16:27] phcorp commented on #1608
Modified files list can be obtained from compilation chunks as described here: https://webpack.github.io/docs/how-to-write-a-plugin.html

[2017-12-07 16:36] nachomazzara opened #6088 "Callback functions at setState are not working with externals"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm trying to create an open source react component but once I build my component and import it to another project, callback functions at setState are not being dispatched.

It works if I remove `externals`  at `webpack.config.js`

**If the current behavior is a bug, please provide the steps to reprodu

[2017-12-07 17:02] sscaff1 commented on #6082
@ooflorent I tried that, but from my testing, this still creates a unique string after bootstrap. like this:

[code]

`12345` is unique per build. So this doesn't fix the issue above. Can you confirm my findings?

[2017-12-07 17:07] ooflorent commented on #6082
Could you create a gist to reproduce the issue? Once the patch is applied
the hash was gone from devtool's integration tests.
--
Florent Cailhol

[2017-12-07 17:11] Anthony59273 commented on #2157
@artivilla I've tried with `node --max_old_space_size=4096` without success. My WDS process takes about 1.5GB of memory usage so this value (4096) should be enough but I had no result with it.

[2017-12-07 17:40] rowanoulton commented on #6080
@sokra Adding an `ident` property in that way throws a validation error:

[code]

Is it possible that [this schema](https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json#L917-L943) needs to be updated to include the `ident` property?

[2017-12-07 17:52] rowanoulton commented on #6080
I have experimented with the change to schema and it works. Submitted #6089 above for review.

[2017-12-07 18:32] jakeNiemiec commented on #2145
@csvan I know how you feel, I still think Chrome devtools is the best available.

My bug report was recently updated to _WontFix_ saying [_"This is a known issue with webpack; we can't do much"_ because _"Webpack changes the content of the sourcemaps resources"_](https://bugs.chromium.org/p/chromium/issues/detail?id=711026#c2)

It would seem that Chrome has indicated that the fault is solely with

[2017-12-07 19:12] kud commented on #2145
Sourcemaps and browsers together are really weird.

For instance, the only sourcemap which works on both browsers (firefox and chrome) is `cheap-module-inline-source-map`

But this is for webpack itself.

About babel/js now, the sourcemap works also well on both browsers.

However, for css-loader for instance, sourcemap doesn't work at all on firefox but does on chrome.

It's like tennis table her

[2017-12-07 19:21] geovanisouza92 commented on #6064
I hope that this helps: I just updated to alpha version and my build for AWS Lambda worked all fine. Just some plugins and loaders emitted deprecation warnings.

My `webpack.config.js`:

<details>

[code]

</details>

[2017-12-07 19:41] #2451 closed

[2017-12-07 19:50] wzup opened #6090 "Unknown argument: save. Why --save doesn't work?"
From [here](https://webpack.js.org/api/cli/#watch-options)

In real life:

My CLI command. Why `--save` doesn't work?

[code]

[2017-12-07 20:09] jcjolley commented on #811
Still an issue.

[2017-12-07 20:12] d3viant0ne commented on #6075
Given we are moving towards simplifying the on boarding process, I agree with @sokra's point about having a default for the production build.

The de facto minification tool is still uglify, I don't see an issue with defaulting it. We ( on the contrib side ) just need to make a point of updating it in webpack as we release new versions.

[2017-12-07 20:32] MagicDuck commented on #6083
ah, you're right, we are using the ManifestPlugin
![image](https://user-images.githubusercontent.com/95201/33737354-ae728432-db4a-11e7-94ae-8149318638d3.png)

[2017-12-07 20:46] david0178418 commented on #5593
Has there been any additional movement on this discussion in another ticket?

[2017-12-07 20:57] MagicDuck commented on #6083
interesting, rolling back from `webpack-manifest-plugin@1.3.2` to `webpack-manifest-plugin@1.1.0` does not make any difference.

[2017-12-07 21:04] CWelshE commented on #6074
Got it - I'll work on that, and inquire further if I have any difficulties.

[2017-12-07 22:22] PapaStef opened #6091 "EnvironmentPlugin Handles Bracket Notation Inconsistently"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using bracket notation works when using a string directly (i.e. `process.env['TEST_ENV_VAR']`). It does NOT however work when using a string accessed from an object. See the following example:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Add an env var via c

[2017-12-07 22:54] OliverJAsh opened #6092 "CommonsChunkPlugin: extract common modules from entry *and* child chunks to separate commons chunk"
**Do you want to request a *feature* or report a *bug*?**
Potentially a bug or a missing feature

**What is the current behavior?**
Using `CommonsChunkPlugin` and the `async` setting, together with `children: true`, common modules are aggregated from all child chunks into a separate commons chunk. However, I want common modules from all chunks (child and entry chunks) to aggregate into a separate

[2017-12-07 23:01] gdborton commented on #5718
@lencioni @ljharb

Build setup looks like:
  Compiler: client, entryPoints: 3, modules: 4923

 | node version | webpack version | iteration 0 | iteration 1 | iteration 2 | average time (ms) |
 | ------------ | --------------- | ----------- | ----------- | ----------- | ----------------- |
 | 6.11.1 | 3.10.0 | 112250ms | 24899ms | 25377ms | 54175.33333333333ms |
 | 6.11.1 | 4.0.0-alpha.0 | 121385ms

[2017-12-07 23:34] MagicDuck opened #6093 "require.context() rebuilds on every incremental build"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`require.context()` modules get rebuilt even when modifying unrelated file. See image below. In that instance, only the first file was edited, but it seems to rebuild the require.context()'s for the whole product...
![image](https://user-images.githubusercontent.com/95201/33743593-675b45ee-db62-11e7-9b

[2017-12-08 05:06] jithureddy commented on #3242
@nebulr Looks like your solution fixed the issue.

[2017-12-08 05:12] aaronbeall opened #6094 "Runtime TypeError: Cannot read property 'call' of undefined at __webpack_require__"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When I try to run my project with `webpack-dev-server` I get runtime error `Cannot read property 'call' of undefined` at `__webpack_require__`

**If the current behavior is a bug, please provide the steps to reproduce.**

Using this output configuration (which was working previously):
[code]
When I r

[2017-12-08 05:59] sokra commented on #6064
Great to hear @geovanisouza92

[2017-12-08 06:26] TheLarkInn commented on #6064
@sokra doesn't the first `tap` arg also take an object so you could pass metadata into there?

[2017-12-08 07:02] TheLarkInn commented on #6093
@MagicDuck do you think I could twist your arm into repro'ing with a small repro repository that we can test against?

[2017-12-08 07:05] TheLarkInn commented on #6088
This is pretty specific report, however it would be hard for us to try to reproduce. Is there any way you could create a minimized reproducible case that we can test locally?

[2017-12-08 07:08] TheLarkInn commented on #6091
@PapaStef thanks for the report. A few questions: To make sure its still working for you, or you can get the desired behavior, does `process.env[stringmap['someString']]` work?

Also, is there a way you can create a minimal reproducible repository that we can test against? It could greatly improve our ability to test and diagnose the source of the problem locally. Do you have a proposed fix alread

[2017-12-08 07:40] yangxiaolin commented on #2972
i has th same error. use webpack-dev-server 2.7.1 fix me

[2017-12-08 07:41] sokra commented on #5718
That are interesting numbers :+1: Thanks for the profiling...

[2017-12-08 07:51] bmeurer commented on #5718
cc @mathiasbynens

[2017-12-08 08:17] sokra commented on #6064
Yep you can pass more options:

[code]

[2017-12-08 10:10] terencechow commented on #5593
Has anyone got anywhere from this? Looking at my webpack stats I have the below stats (truncated to only show > 50kb id, name & size).

As you can see, I'm importing immutable js 3 times into webpack. This seems really unnecessary. Does this mean my webpack minimized bundle has 3 immutable.js' in it? Note that all of them are using the same version, hence the identical file size.

How can I fix th

[2017-12-08 10:44] agalatan commented on #6094
I try not to combine **chunkhash** with something like **HotModulesReplacement** plugin or **webpack-dev-server**. In general, I try to use **chunkhash** only in Production. Also, we are told **not** to use those plugins in Production.

**Chunkhash**, from what I understand, is not updating correctly (on purpose or not, I don't know) when its content is changing. For safety, I consider it as being

[2017-12-08 10:59] evilebottnawi commented on #6094
@aaronbeall `children: true` for `CommonsChunkPlugin` solve you problem?

[2017-12-08 12:40] zasqw2222 opened #6095 "Create library use webpack error"
[code]

webpack config
[code]

index.js code
[code]

"version": "3.10.0"

[2017-12-08 12:44] RoboBurned commented on #5593
@terencechow in your case when you have the same version of dependency this can be fixed by removing node_modules directory and installing modules again with npm or yarn command. Both commands will place immutable to /node_modules and this package will not be duplicated in sub-directories.

For other cases when we have 3 copies of dependency v1 and 3 copies of v2 I wrote a small plugin
https://git

[2017-12-08 12:54] ooflorent commented on #6095
These are `eslint` errors, not `webpack` ones.

[2017-12-08 13:03] rafis commented on #2031
After using hacks from up there I'm getting following error:

[code]

[2017-12-08 13:14] ooflorent commented on #6090
The option has been removed in #3896 but I don't know why.

[2017-12-08 13:29] tugayilik commented on #4160
I resolved the issue by doing join, instead of resolve

[code]

[2017-12-08 13:51] PapaStef commented on #6091
@TheLarkInn Let me give that a try! And yes, I'd be glad to put together a small repo. I was messing around with the env plugin itself to see if I could duct tape something together, no luck yet though.

[2017-12-08 14:34] PapaStef commented on #6091
@TheLarkInn demo repo: https://github.com/PapaStef/webpack-env-plugin-bracket-notation-test/tree/master

[2017-12-08 16:35] DevSide commented on #4784
I use  explicit` /*#__PURE__*/ `as a workaround.

[code]

[2017-12-08 16:42] insin opened #6097 "Make output.libraryExport's default behaviour smarter for ES2015 module entry points"
**Do you want to request a *feature* or report a *bug*?**

A feature, please!

**What is the current behavior?**

As of Webpack 3.0.0, `output.libraryExport` lets you specify what should be exported for a library, which works perfectly well, but it would be nice if it had some smarts for ES2015 modules as its default behaviour.

**If this is a feature request, what is motivation or use case for ch

[2017-12-08 16:55] aaronbeall commented on #6094
@evilebottnawi Thanks for reply... well currently I `children: true` in my second `CommonsChunkPlugin` instance:

[code]

To be honest I have no idea if this is a good or terrible idea, we initially used the `vendor` chunk then later added the `async` chunk to support dynamic route module loading. This *was* working until recently, afaik.

[2017-12-08 19:21] machineloop commented on #6064
I'm getting the following when I bump up to v4 Alpha, what's the best way to figure out which plugin is breaking?
[code]

[2017-12-08 20:28] #6062 closed

[2017-12-08 20:34] IAMtheIAM commented on #86
If you control your server that hosts the app, such as a node.js app, then you can easily get the hashed filename using the webpack-manifest.

[code]

Then in your index template, you'll need some sort of templating engine. I'm using Pug/Jade

[code]

In order to generate the webpack manifest, you'll need a webpack plugin to do that. I use `assets-manifest-plugin` since I like the style of the out

[2017-12-08 20:38] MagicDuck commented on #6093
@TheLarkInn arm successfully twisted :)
see repro repo here:
https://github.com/MagicDuck/require_context_issue

[2017-12-08 21:09] sscaff1 commented on #6082
@ooflorent my bad. This does in fact correct the issue. Thank you so much for the PR.

[2017-12-08 21:10] #6082 closed

[2017-12-08 21:12] aslushnikov commented on #2145
@jakeNiemiec the issue you're pointing to is about the DevTools Workspaces automapping against sourcemapped files. AFAIU it's not related to the issue discussed here, or am I missing something?

[2017-12-08 21:30] jaketodaro opened #6098 "More flexible options for `output.filename`"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Specifying output file names is not very flexible.

[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**

The current way of specifying output filenames is very limiting. I'm in a situation where (for shitty legacy reasons), I need one of my entry po

[2017-12-09 01:08] jaketodaro commented on #6098
I suppose I could hack around this with separate entries for dev and prod configs like this, but this seems gross and I have to duplicate entries.

#### dev

[code]

#### prod

[code]

[2017-12-09 02:08] wtgtybhertgeghgtwtg commented on #6075
I'd suggest keeping it out of the core `webpack` package, but unless `babel-minify` lands between now and the time `webpack@5` comes into beta, it might be a little pointless.

[2017-12-09 09:12] phyllisstein commented on #6064
Noticed something a bit odd with `webpack-dev-middleware`: the backwards-compatible `plugin` call is only backwards-compatible when the middleware is passed a single configuration object. When it's passed an array of configuration objects, I get the following error:

[code]

I gisted a snippet of my Webpack config, in case that's helpful: <https://gist.github.com/phyllisstein/d58d9516ef3b360156969

[2017-12-09 09:31] githoniel opened #6099 "configurable sourceURL to avoid chromium cross-origin policy"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
As this [Issue](https://github.com/webpack/webpack-dev-server/issues/1222)  describe, Chrome's native Promise global event `onunhandledrejection` not working in webpack-dev-server when using `eval-source-map`

I found It's because of chromium `cross-origin policy` and it's cause by `souce-map url`

[2017-12-09 20:50] Velveeta commented on #5045
Commenting on this to keep it alive. It would still be great if we could load additional assets relative to the url the entry point is loaded from, and not relative to the page url. This would allow us to store our exported bundles and chunks on some external CDN and still be able to load them reliably, without having to specify the publicPath as a fully qualified url path. Deployment scripts ofte

[2017-12-10 10:44] raniesantos commented on #4120
When you scan the document and hoist imports, can't you just **DON'T HOIST IF** there's a clump of imports at the top and no imports were found separate from them?

Or when you do hoist them, do it in the exact same order they're found top to bottom.

[2017-12-10 12:48] cannyedge34 commented on #1720
Getting same error as @stevematdavies, @enriquecaballero

@aunz  this code `new webpack.DefinePlugin({ 'process.env.NODE_ENV' : "'production'" })` throws this error in console:

`You are currently using minified code outside of NODE_ENV === 'production'. This means that you are running a slower development build of Redux. You can use loose-envify (https://github.com/zertosh/loose-envify) for brows

[2017-12-10 19:24] simonjoom commented on #6064
I use webpack 4 (last commit) for my application working good after many test.
i use a rule for json with a personal loader (for routes)
        type: "javascript/esm" is not working, (my requires are not resolved)
for me i have to use "javascript/auto" (parameters that i found in the source code)

Maybe you should to give more documentation about this "javascript/auto" "javascript/dynamic" and "j

[2017-12-10 22:30] bmeck commented on #6072
To clarify. There is not a solid proposal for `.js` ESM in Node yet, the point above is 2 separate things.

[2017-12-10 22:35] TheLarkInn commented on #6051
@EugeneHlushko looks like it's all yours, feel free and ping myself and sokra when the PR is submitted, or if you need any help along the way.

[2017-12-10 22:47] TheLarkInn commented on #6064
@simonjoom what if you just remove the .json rule all together etc.

[2017-12-10 23:20] mehdiFiUpm commented on #3078
where i have to add this ?
loaders: [
  {test: /\.json$/, loader: 'json-loader'}
]

[2017-12-11 06:21] mnn commented on #3274
Issue still persists with updated packages. test repo: https://github.com/mnn/angular2-webpack/

[code]

[2017-12-11 06:44] CWelshE commented on #6074
I've been trying to decipher some segments of this particular Plugin instance, but I might be lacking some context. The first ambiguous thing in here (to me) is the usage of `harmony`, so I ran off to check out examples. As far as I can tell, this is part of how webpack keeps collisions out of imports. I can tell that it will take some time before I grasp the larger web of interaction, so I'll pro

[2017-12-11 07:46] mocheng opened #6103 "Support deep link in library depedency"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Suppose I want to build a library X in bundle file according to https://webpack.js.org/guides/author-libraries/ . The Library X utilize a couple of `lodash` methods, but it doesn't need to bundle `lodash` together, since hosting application should include `lodash` as well. So, library X has `extern

[2017-12-11 08:30] revathskumar commented on #5544
I am facing this issue when I build with my prod config. In development it works fine.

[code]

but the log doesn't have `default`

![screenshot 2017-12-11 02 01 52](https://user-images.githubusercontent.com/463904/33821596-5f15fbe8-de7a-11e7-94af-d685f8bc2026.png)

This is getting generated in the transpiled code.
[code]

In chrome console, I am getting error #959 and In Firefox console I get #54

[2017-12-11 09:16] OrenMe opened #6104 "DefinePlugin not replacing exported tokens when setting Babel preset-env modules to false"
**Do you want to request a *feature* or report a *bug*?**
No

**What is the current behavior?**
When I set babel-preset-env config with `modules: false` the webpack define plugin doesn't replace my defined tokens
Issue happens when I use the tokens directly in the export declarations.

**If the current behavior is a bug, please provide the steps to reproduce.**
Clone this repo: https://github.com/

[2017-12-11 09:16] webschik commented on #6084
@sokra , may we fix this issue?

[2017-12-11 14:25] kgrz commented on #5544
@revathskumar @milesj Just curious, are you both using CommonsChunkPlugin in the environment you were using when this happened?

[2017-12-11 17:00] milesj commented on #5544
@kgrz I was not.

[2017-12-11 19:26] studio174 commented on #5491
@SemihGk I had a similar issue and was able to resolve this by reading through https://github.com/webpack/webpack/issues/5569#issuecomment-325262489 and changing the -d (dev flag) to ```-p```

[code]

[2017-12-11 19:47] sokra commented on #6104
in `export { XXX }` XXX must be a variable declared in the module. It's not valid ESM to export expressions/defined identifiers.

[2017-12-11 19:47] #6104 closed

[2017-12-11 19:50] sokra commented on #6103
[code]

[2017-12-11 19:52] sokra commented on #6099
Did you report this bug to chrome?

[2017-12-11 19:54] sokra commented on #6098
Send a PR

[2017-12-11 19:55] sokra commented on #6095
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-11 19:55] #6095 closed

[2017-12-11 19:59] sokra commented on #6093
This seem to be a bug. It should rebuild depending on the director timestamp.

[2017-12-11 20:00] sokra commented on #6091
Only statically analyseable expressions are replaced.

[2017-12-11 20:03] sokra commented on #6090
removed from documentation

[2017-12-11 20:03] #6090 closed

[2017-12-11 20:07] sokra commented on #6083
Could be... Maybe you find the problem by profiling...

[2017-12-11 20:10] sokra commented on #6088
Looks like a react problem. I'm pretty sure you are importing two different react libraries, one from external and one in the bundle.

[2017-12-11 20:10] #6088 closed

[2017-12-11 20:10] sokra commented on #6080
great

[2017-12-11 20:10] #6080 closed

[2017-12-11 20:14] sokra commented on #6074
https://github.com/webpack/webpack/blob/next/lib/optimize/SideEffectsFlagPlugin.js#L19

`resolveData.relativePath` is the relative path of the file relative to the package.json.

[2017-12-11 20:16] sokra commented on #6072
I don't see a good reason why we should allow import/export in `.js` files. This doesn't seem to be the direction node.js is moving.

For `.mjs` -> add it to `js-interpret`.

[2017-12-11 20:23] jdalton commented on #6072
I see it as dev convenience in much the same way as folks, like Babel, that support parsing configs with [JSON5](https://github.com/json5/json5). The `@std/esm` loader is a ~70 kB, zero dependency loader, that doesn't hijack the global module loader *(so is safe to use within `webpack`)*. You just
[code]
and you get config files that work with or without ESM syntax without having to register anyth

[2017-12-11 22:38] bmeck commented on #6072
I do think there is value in discussing the fact that `webpack` is meant for purely web browser targets. The [updated MIME](https://datatracker.ietf.org/doc/draft-ietf-dispatch-javascript-mjs/) for `text/javascript` still includes `.js` but does not define a goal. Meanwhile Node's usage of `.js` is being registered as a [new MIME](https://github.com/nodejs/TSC/issues/371).

That being said, I pers

[2017-12-11 22:39] nachomazzara commented on #6088
@sokra  you were right! I realized it...  thanks both!

[2017-12-11 22:46] jdalton commented on #6072
Configs are a narrow enough space where dev conveniences, like JSON5, or in this case ESM support are great-to-haves standalones regardless of the surrounding language spec, in the case of JSON5, or Node's support path, in the case of ESM.

[2017-12-11 22:49] bmeck commented on #6072
Every tool specific choice is something to learn and something to context switch upon. I disagree on this as a generalization. I would rather move everything to be uniform and remove the need for that context switching and learning being a permanent situation.

[2017-12-11 22:53] jdalton commented on #6072
You're free to disagree. My years of experience creating utilities and APIs devs :heart: to use gives me a pretty good gut check for things like this. I see this as pure win for devs.

[2017-12-11 23:24] bmeck commented on #6072
I too have years of software experience. However rather than gut, I am looking at all the situations that have had inconsistencies between environments which leads to education problems, search-ability problems, and context switching. I have no objections to any behavior as long as it is on a standards track rather than intentionally adding tool specific inconsistency.

[2017-12-11 23:26] rodrigopavezi opened #6107 "Script packaged with webpack is not loading"
**Do you want to request a *feature* or report a *bug*?**

I would like to report a bug.

**What is the current behavior?**
I have two web components packaged with webpack so when I add both to a HTML page only the first one declared will be loaded by the browser.

**If the current behavior is a bug, please provide the steps to reproduce.**

A running example of this is here: http://install-versio

[2017-12-11 23:29] jdalton commented on #6072
I think that's leaving a lot of dev goodness off the table.

[2017-12-11 23:36] rodrigopavezi commented on #6107
Adding children: true to the CommonsChunkPlugin for vendor solved the problem. Cheers

[2017-12-11 23:36] #6107 closed

[2017-12-11 23:41] bmeck commented on #6072
For these things, the tool can always just make it a standard that can be shared across environments and remove the burdens. Just work with other environments (Node/HTML)  and make it work in a way that can be consistent across all of them. No need to remove use case of `.js` being able to be loaded ESM, just a difference on cooperation versus declaration on how to achieve such a use case. See eff

[2017-12-11 23:48] jdalton commented on #6072
Standards are great. However, user-land  has the freedom to try things, like JSON5 or ESM in configs, out and have that lead to standards growing organically.

🙌

[2017-12-12 00:09] jdalton commented on #6072
Webpack already supports `import`, `export` and dynamic `import` in JS files on it's own without Babel so this would be just an expansion of that into its config files.

[2017-12-12 00:28] bmeck commented on #6072
I agree that user-land is free to try things, not that all things are able to be retrofitted into existing standards. Discussions of userland constructs do not always plan for forward compatibility, and I think rushing `.js` is in the same vein of discussion as coffeescript's creation of `=>` and `->` being [discussed being merged into JS](https://esdiscuss.org/topic/march-24-meeting-notes#content

[2017-12-12 00:31] jdalton commented on #6072
🙌

webpack already supports processing `import`, `export` and dynamic `import` in `.js` files on its own, so this would just be an expansion of that into its configs.

[2017-12-12 00:47] geoshar opened #6108 "module.hot.accept how to use with define"
I have something like:
[code]
I'm trying this
[code]
Nothing good happens, `share` is undefined, on the `./show/share` module, i have:
[code]

Is there a way to solve this, or just i should use `imports` and `exports` instead of `define`?

[2017-12-12 02:59] mocheng commented on #6103
@sokra  Thanks for your response.

If config as your suggestion, then in hosting application there should statements like below.
[code]

This sort of works, but it is awkward. The hosting application must know which function is needed by dynamic loaded library in advance.

[2017-12-12 06:47] revathskumar commented on #5544
@kgrz @milesj with the help @HarshwardhanSingh we figured it out as our issue is related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/456. When we remove the `.scss` import and move it to main chuck everything started working.

[2017-12-12 08:16] probablyup commented on #6065
This was my suggestion to the issue: https://github.com/webpack/webpack/pull/5435#issuecomment-320244895

I think ultimately more configurability will be needed for this feature than a blunt whole-project setting.

[2017-12-12 08:19] probablyup commented on #6072
This isn't true at all.

[2017-12-12 09:52] youta1119 commented on #5053
I had the same problem. but, I found a solution using tsconfig-path. I submitted a pull request, it merged. And updated the document.Please see [docment](https://webpack.js.org/configuration/configuration-languages/).

[2017-12-12 11:08] RehanSaeed commented on #5053
What if you want to use `es2015` module syntax for your code, then I'd need to have a separate `tsconfig.json` just for my webpack configuration files?

I've settled on using the `tsc` command in my NPM scripts to transpile my .ts webpack config to .js. This has the added benefit of not having to rely on `ts-node` as an added dependency and I can use `es2015` module syntax. Find a complete guide o

[2017-12-12 13:49] sokra commented on #6108
[code]

yes, please use import/export if possible. AMD is outdated.

[2017-12-12 13:49] sokra commented on #6108
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-12 13:49] #6108 closed

[2017-12-12 13:50] sokra commented on #6103
Yeah that's the problem with externals... They are disconnected from the application and you have to manage them manually.

[2017-12-12 13:50] #6103 closed

[2017-12-12 13:54] sokra commented on #6092
It's currently not possible.

This hurts your initial app loading performance. Better keep on-demand loaded modules in an async vendor chunk or no vendor chunk at all.

[2017-12-12 14:02] sokra commented on #6072
As a compromise we can add `--config-register` to the CLI which is similar to `-r` in node.

`webpack --config-register @std/esm` would allow to use import/export in configuration. This would also be great for babel users which can choose to use ES201X in webpack.config.js with `--config-register babel-register`...

[2017-12-12 14:05] sokra commented on #6065
We'll add `sideEffects: false` to the rules:

[code]

[2017-12-12 14:23] tderleth commented on #883
+1

[2017-12-12 15:35] jdalton commented on #6072
Support for `-r` like flags are so nice and something that powers-up projects like  [`ava`](https://github.com/avajs/ava#options), [`mocha`](https://mochajs.org/#-r---require-module-name), [`nyc`](https://github.com/istanbuljs/nyc#require-additional-modules), and [`tape`](https://github.com/substack/tape#preloading-modules) with their support!

The *"require"*-like flag use allows for multiple inv

[2017-12-12 16:26] MhMadHamster opened #6113 "module cannot be loaded because required buildin/module being included in another bundle"
**Do you want to request a *feature* or report a *bug*?**
I dont know if this is a bug or by design, if by design then it is a request for a feature i guess

**What is the current behavior?**
I am having problems with modules which are being included in bundles by webpack itself, (for different module declaration i believe), they are located in webpack/buildin directory (not all of them tho). In m

[2017-12-12 16:34] MhMadHamster commented on #6113
I have found a workaround, however, which more look like a hack:
[code]

[2017-12-12 20:31] #4942 closed

[2017-12-12 20:41] #4943 closed

[2017-12-12 20:41] #1700 closed

[2017-12-12 20:51] #4941 closed

[2017-12-12 20:51] #4944 closed

[2017-12-12 21:52] speedDeveloper commented on #215
gatsbyjs/gatsby#1994

[2017-12-13 00:04] githoniel commented on #6099
https://bugs.chromium.org/p/chromium/issues/detail?id=794057#c1

@sokra，It got wont fix....

[2017-12-13 01:43] CWelshE commented on #6074
Oh, thanks for that. This will make things much easier.

[2017-12-13 03:39] xierenyuan commented on #2136
+1

[2017-12-13 07:40] psulek commented on #1576
This little "hack" works for me:

[code]

Basically it "skips" parsing "expressjs".

[2017-12-13 07:51] ev1stensberg commented on #6072
@sokra Could you have the bot move it over to the CLI repo?

[2017-12-13 09:10] sokra commented on #6072
@webpack-bot move to webpack/webpack-cli

[2017-12-13 09:13] sokra commented on #5863
done for webpack 4

[2017-12-13 09:13] #5863 closed

[2017-12-13 09:55] #5333 closed

[2017-12-13 10:19] klis87 commented on #6065
@sokra Adding it to rules only would give this configuration power and responsibility only to application developers (usually for libraries webpack is used only to generate UMD bundle ready for a browser and bundling is left for app devs), however it would be nice to give it also for libraries authors, as they are the ones who know the best which module causes side effects, and which doesn't.

For

[2017-12-13 13:19] leopoldw commented on #1643
@sebelga can you post your code examples? Is the alias pointing to the symlink or no? Tried this with 3 and it didn't work...

[2017-12-13 13:58] JGJP opened #6120 "Output management guide not showing proper diff for webpack.config.js"
**Do you want to request a *feature* or report a *bug*?**
problem in Documentation > Guides

**What is the current behavior?**
the ["Output Management" guide](https://webpack.js.org/guides/output-management/) is a continuation of the previous ["Asset Management" guide](https://webpack.js.org/guides/asset-management/) but the first modification of webpack.config.js is not showing the proper diff fo

[2017-12-13 14:34] janrembold commented on #5202
@dongwoo-kim Are there any news on this topic? I just ran into the same problem.

[2017-12-13 14:42] Wildhoney opened #6121 "Respect semver when using resolve.modules"
[code]

**Do you want to request a *feature* or report a *bug*?**
Unsure, as I don't know whether it's intentional or not.

**What is the current behavior?**
I setup `resolve.modules` as seen above. When the resolve happens, it only takes into consideration a match based on the package name, but doesn't take into consideration the version of the package.

**If the current behavior is a bug, please

[2017-12-13 15:22] arshtepe opened #6122 "Watch doesn`t work correctly with links"
**Do you want to request a *feature* or report a *bug*?**
Bug report.

**What is the current behavior?**
When i create link in node_modules and set symlinks to false, I have problem with watch, it works sometimes (more often it doesn`t work)

**If the current behavior is a bug, please provide the steps to reproduce.**
1. create link
2. set symlinks to false
3. change file by link

**What is the ex

[2017-12-13 15:32] evilebottnawi commented on #6122
@arshtepe webpack version?

[2017-12-13 15:34] arshtepe commented on #6122
@evilebottnawi Sorry, I forgot. I have edited my comment

[2017-12-13 16:21] evilebottnawi commented on #6122
@arshtepe please create minimum reproducible test repo, thank you

[2017-12-13 16:49] michaelBenin commented on #1315
Anyone else coming here needing a solution, just create your own md5 hash.

[code]

Use vendorHash in the vendor filename options:

`filename: `vendor.${vendorHash}.js`

[2017-12-13 17:54] sokra commented on #6121
The package manager (npm or yarn) manage versions for you when using the default resolution. Why does the default doesn't work for you?

[2017-12-13 17:54] sokra commented on #6120
@webpack-bot move to webpack/webpack.js.org

[2017-12-13 17:54] #6120 closed

[2017-12-13 18:50] psabharwal123 opened #6124 "Feature to get the entry file name in a loader"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
it is not possible to get entry filename  in loader

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
it should be possible to get entry file name in loader

**If this is a feature request, what is motivation or use case for changing t

[2017-12-13 22:27] cdtinney commented on #1613
@tomprogers could you expand on how you've done this?

[2017-12-13 23:10] ccorcos opened #6125 "dynamic `import()` without creating a separate module"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Currently whenever you `import()` a module, it will create a separate chunk.

**What is the expected behavior?**

Sometimes you just want lazily import the module, like you would with `require` back in the day.

**If this is a feature request, what is motivation or use case for changing the behavior?

[2017-12-14 08:27] arshtepe commented on #6122
@evilebottnawi  I have created repo https://bitbucket.org/CyBer_UA/webpack-demo/src/344771d7d4b403eb662a9c0e7f23aaedc920f0e9?at=master
For reproduce you need:
[code]
and after you need change file index.js in repo folder
from
[code]
to
[code]
and after webpack do nothing...

[2017-12-14 08:32] Wildhoney commented on #6125
You could still use `require`.

The difference between the two is that the file `require`d will **only** be included in the build if it's used, which will increase the size of your build. There's not much asynchronicity happening because you still just have a single output file, and the user has to download the entire JS before execution begins.

With `import` &ndash; which is part of the official

[2017-12-14 08:52] sokra commented on #6125
https://webpack.js.org/api/module-methods/#import-

see `webpackMode: "eager"`

[2017-12-14 08:52] #6125 closed

[2017-12-14 08:55] sokra commented on #6124
This doesn't work for technical reasons. The module could be used in multiple entries. You can use "multiple configurations" if you want to customize loaders per entry.

[2017-12-14 08:55] #6124 closed

[2017-12-14 09:25] sokra commented on #6122
@webpack-bot move to webpack/watchpack

@evilebottnawi  I have created repo https://bitbucket.org/CyBer_UA/webpack-demo/src/344771d7d4b403eb662a9c0e7f23aaedc920f0e9?at=master
To reproduce you need:
[code]
and after that you need to change file index.js in repo folder
from
[code]
to
[code]
and after webpack do nothing...

[2017-12-14 09:25] #6122 closed

[2017-12-14 09:25] iSanchezDev commented on #3502
Importing scss file on webpack, easiest way. It worked for me!

**Install**
npm install sass-loader node-sass webpack --save-dev

import 'file''

**Webpack file**
... {test: /\.scss$/, loaders: ["style", "css", "sass"]}

[2017-12-14 09:50] veerbala82 opened #6127 "execSync is not a function error"
Hi Folks,

I get the below error when i run "npm run dev" in my poweshell for compiling my web3 app.js file.

Uncaught TypeError: webpack_require(...).execSync is not a function

Following is my code:

var fs = require('fs');

var executeC = require('child_process').execSync('solc --bin --abi --optimize -o bin ./contracts/FoodSafe.sol');;

I have imported web3 and truffle contract in my js file.

[2017-12-14 10:35] ericmdantas commented on #6127
What's your node version?

[2017-12-14 11:00] veerbala82 commented on #6127
v8.9.3

[2017-12-14 12:09] sokra commented on #6127
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-14 12:09] #6127 closed

[2017-12-14 13:39] Belouccio commented on #2254
I have `module.exports = function(env) {
  console.log(env);`
I try all variants, for example `--env='dev'` and get undefined. why?

[2017-12-14 14:15] ericprud opened #6131 "source-map does not work with MinifyPlugin"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Including `devtool: 'source-map'` and `babel-minify-webpack-plugin` gives error:

**If the current behavior is a bug, please provide the steps to reproduce.**
The [ericprud/webpack-source-map-minify-bug](https://github.com/ericprud/webpack-source-map-minify-bug) repo has a [package.json](https://github

[2017-12-14 14:55] stephencranedesign commented on #1576
@psulek this accomplished the same thing, basically telling webpack not to include express in the generated bundle.

`externals: ['express', ... ]`

[2017-12-14 15:06] kisenka commented on #6064
If somebody (like me) didn't understand how loader should gather options in webpack@4 here is an answer - use [loader-utils#getOptions](https://github.com/webpack/loader-utils#getoptions). Please add this info to workaround section for loader authors, it will save much time.

[2017-12-14 15:10] SamanthaAdrichem commented on #2254
i believe your syntax should be --env.development

but really, whats better is doing the following: NODE_ENV=development; webpack ...

we have the following npm run script in package.json using cross-env so that it also works on windows.

`"production:build": "cross-env NODE_ENV=production webpack -p --progress --colors"`

then in the code:
[code]

and use APP_ENV everywhere else

[2017-12-14 15:15] sokra opened #6132 "webpack 4.0.0-alpha.1 feedback"
Changelog diff from [4.0.0-alpha.0](https://github.com/webpack/webpack/issues/6064)

# Big features

* Upgrade uglifyjs-webpack-plugin to v1
  * ES15 support
* `optimization.minimize` has been added to switch minimizing on/off
  * By default: on in production mode, off in development mode
* `optimization.minimizer` has been added to configurate minimizers and options
* CLI has been move to webpack

[2017-12-14 15:16] sokra commented on #6064
New alpha version: https://github.com/webpack/webpack/issues/6132

[2017-12-14 15:16] #6064 closed

[2017-12-14 15:48] iamakulov commented on #6075
🎉 Seems like alpha.1 now includes `optimization.mininize`, and itʼs on in the production mode! #6132

Thanks folks, closing this :–)

[2017-12-14 15:48] #6075 closed

[2017-12-14 18:04] MattCz commented on #2281
I'm facing exactly the same issue. Any ideas how to get rid of that wrapper?

[2017-12-14 18:07] ccorcos commented on #6125
Interesting -- so `require` is going to stick around?

[2017-12-14 19:08] yamafaktory commented on #6132
Hi, awesome work 👍.

When upgrading to `webpack 4.0.0-alpha.1` in conjonction with `webpack-dev-server 3.0.0-alpha5` (I also added `webpack-cli 1.5.2`), I get the following error:

[code]

[2017-12-14 20:03] jakeNiemiec commented on #2145
@aslushnikov I was trying to make the point that the `Workspaces 2` chrome feature that was added for everyone in Chrome 63 breaks Webpack sourcemaps. [Now it seems that the issue is affecting other webpack devs](
https://bugs.chromium.org/p/chromium/issues/detail?id=794564&q=map&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified)

It would have been

[2017-12-14 21:04] fgarcia opened #6133 "SourceMapDevToolPlugin breaks devtool sourcemap"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

Using SourceMapDevToolPlugin disables my source maps

**If the current behavior is a bug, please provide the steps to reproduce.**

I want to generate private sourcemaps. I already generate a sourcemap file with `devtool: 'source-map'`, so I just need the link at the end of my js file. For that I use

[2017-12-14 21:38] nmschulte commented on #1272
_bump._

[2017-12-14 21:41] rafalp commented on #1272
@nmschulte note that this issue was fixed in Webpack 3.5.4:

[2017-12-14 22:53] Wildhoney commented on #6125
Yeh, I see no reason why it'd disappear from Webpack &ndash; `import` makes perfect sense for the browser environment as it's all about bytes over the wire, which we can defer until it's needed.

For Node, `require` makes sense as it gives us the modularity (in the same way `import` does) that we've come to expect from our programming languages. It just so happens that `require` also *sometimes* m

[2017-12-14 23:41] TheLarkInn commented on #5718
@gdborton would you mind checking against 4.0.0-alpha.1 also if possible? Would love to see it added to the chart here.

[2017-12-15 05:14] franjohn21 commented on #5593
It doesn't look like it was ever provided, so I created a repo that shows a simple example of this issue: https://github.com/franjohn21/dedupe-example

FWIW the code being webpacked in that example does _not_ use harmony modules, so ideally webpack 2/3 could maintain parity with webpack 1.

We consistently see higher (>10%) bundle sizes in production apps at NerdWallet when migrating from webpack

[2017-12-15 06:13] psulek commented on #1576
@stephencranedesign yes you're right, that does not help, just tested it right now.

[2017-12-15 06:15] statianzo opened #6135 "Invalid mode shows unrelated schema error message"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Discovered when @TheLarkInn was streaming:

The reported schema error when specifying an invalid `mode` includes additional messaging unrelated to the setting.

**If the current behavior is a bug, please specify repro steps**

Create a webpack.config.js
[code]

Webpack responds with an error message:

[2017-12-15 06:43] TheLarkInn commented on #6132
Linking over #6135

[2017-12-15 06:43] TheLarkInn commented on #6135
Linking #6132

[2017-12-15 10:16] sokra commented on #6135
Yeah, looks like the `"description"` in the schema is wrong. Do you want to send a PR?

[2017-12-15 10:18] sokra commented on #6133
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

Are you minimizing?

[2017-12-15 10:53] krasowskir commented on #1206
good job SudoPlz

[2017-12-15 14:00] statianzo commented on #6135
Sure. I can put something together.

[2017-12-15 14:01] Belouccio commented on #2254
Thank you! Now it works fine)

[2017-12-15 16:15] jakeleboeuf commented on #5682
I'm running into this error now- not clear to me what you all are suggesting you did to resolve the issue?

[2017-12-15 17:02] MovGP0 commented on #196
For some reason I get this error with Angular 5:
[code]
Any tips how to solve this?

[2017-12-15 18:55] christianalfoni opened #6138 "Suggesting webpack.config.json"
**Do you want to request a *feature* or report a *bug*?**
Not request, but suggest a feature ;-)

**What is the current behavior?**
This suggestion is based on the following tweet from @TheLarkInn : https://twitter.com/TheLarkInn/status/941431327890358272. I think the reason developers get a bit off put by the configuration is simple things like `path.join`, regexps and `new webpack.optimize.someP

[2017-12-15 19:09] ggondim commented on #1643
The solution of @jraede worked for me when using the following configuration:

- Windows user (symlinks and webpack seem to work without any workaround in Linux - I use Ubuntu 16.04 LTS, but it failed with my colleague using Windows 7)
- private scoped npm package
- less, styles, css, babel and ngannotate loaders
- webpack 1

Just added to `webpack.config.js` as he suggested:
[code]

[2017-12-15 19:31] croraf opened #6139 "Content Security Policy error using webpack-dev-server"
I'm using:
[code]

My webpack.config.js:
[code]
My src/index.js contains
[code]

When I start webpack-dev-server and go to localhost:9002 I get the following error:
`Content Security Policy: The page’s settings blocked the loading of a resource at self (“default-src http://localhost:9002”). Source: ;(function installGlobalHook(window) {`

Why is that so?

[2017-12-15 19:35] youta1119 commented on #5053
@RehanSaeed

I'm sorry, I was wrong. I found a solution not use another `tsconfig.json`. But this solution depends `ts-node`.
This solution is using the [environment variable](https://github.com/TypeStrong/ts-node) provided by `ts-node` like so.

**package.json**
[code]
I'll send new pull request to webpack.js.org for modify docment later.

[2017-12-15 19:48] GrosSacASac commented on #536
also have a look at https://parceljs.org/ to use html file as entry point , as of now it is not mature enough: that is the only problem

[2017-12-15 20:48] andreialecu commented on #4558
I hate to +1 this, but I have been working around this problem for a long time, and I can probably provide more info:

The only way acceptable way I can get my builds to succeed is to use https://github.com/gdborton/webpack-parallel-uglify-plugin and ensure it uses UglifyJS instead of UglifyES. If I set that plugin into UglifyES mode it will hang at 91% just as the main webpack uglify plugin.

Bui

[2017-12-15 22:09] michaelBenin commented on #1315
Regarding my comment above - that won't work as the bundle is referenced in the vendor file.

[2017-12-16 03:32] phyllisstein commented on #6132
Looks like the `plugin` call is still not working as expected with `MultiCompiler`; it's currently causing issues with `webpack-dev-middleware`'s support for multiple compiler instances, as noted in [this comment](https://github.com/webpack/webpack/issues/6064#issuecomment-350434888) and [this issue](https://github.com/webpack/webpack-dev-middleware/issues/236). My Webpack config and other germane

[2017-12-16 03:42] TheLarkInn commented on #6132
Thank you very much for the report @phyllisstein

[2017-12-16 07:22] TheLarkInn commented on #6138
Did you know: you can already write webpack.config.json. The feature is already supported!

[2017-12-16 08:06] pribilinskiy commented on #536
I suggest to look at [POI](https://poi.js.org) and there's even a [small course at egghead.io](https://egghead.io/courses/make-webpack-easy-with-poi)

[2017-12-16 08:54] lewebdalex commented on #4558
I have the same issue with latest version of webpack.
Everything was running smoothly before.

[2017-12-16 10:01] christianalfoni commented on #6138
You can? Is this documented somewhere? I think it would benefit to use this approach on the introductory documentation of Webpack :) Happy to suggest a change with a PR on that one!

[2017-12-16 15:15] andreialecu commented on #2012
For everyone experiencing the 91% hang, let's get https://github.com/webpack/webpack/issues/4558 reopened. `node --max-old-space-size=6144` does not help with that problem.

There has been some discussion there, but the issue has been closed prematurely.

[2017-12-16 16:15] nealoke commented on #5931
Just wanted to chip in and say that in my case it doesn't matter if i use the `BabiliPlugin()` or not, as long as I don't have the `"webpack-sources": "1.0.1"` installed it always fails.

Also wanted to provide you with my files used:
- [`package.json`](https://gist.github.com/nealoke/b9adc553b63d09e5be3ef8b012d51fde#file-package-json)
- [`webpack.config.js`](https://gist.github.com/nealoke/b9adc5

[2017-12-16 16:41] mishelen commented on #4230
webpack 3.10.0 stats options (not only chunk) are still broken. Of course, some things works for example colors ))

[2017-12-16 21:21] #2119 closed

[2017-12-16 21:22] #4419 closed

[2017-12-17 08:39] sectsect commented on #1732
I created a npm package for entry-points based on these.

See README
https://github.com/sectsect/webpack-sweet-entry

[2017-12-17 09:03] simoniong commented on #5888
@sokra  Are you trying to call `$.keyboard()` in a chrome development console?

[2017-12-17 13:30] andreialecu commented on #4558
I've been debugging this issue and found out it is probably a bug in UglifyJS, see: https://github.com/webpack/webpack/issues/4558#issuecomment-352170623

I'm able to avoid the 91% hang by passing `{ compress: false }` to `UglifyJSPlugin`, eg:

[code]

[2017-12-17 14:03] AZaviruha commented on #1275
If you are using lerna and "monorep", and building packages with webpack - this may help:
https://github.com/lerna/lerna/issues/1049

[code]

[2017-12-17 17:02] djeeg opened #6147 "CommonsChunkPlugin with async generates undefined in file url"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Consider a CCP configuration like this:
- 2 entry points
- a common vendor chunk - to share modules between the two entry points (eg react, polyfill)
- a vendor chunk for entry2 - to share modules between sections (eg common theming)
- a more specific vendor chunk for entry2 for shared edit-mode modul

[2017-12-17 17:14] djeeg commented on #6147
Output for reference

[code]

Also using the simpler boolean async value produces the same error:

[code]

chunk-0-1fa0c0ea.js     495 kB               0  [emitted]  [big]

/bundle/chunk-0-**undefined**.js

[2017-12-17 19:29] djeeg commented on #6147
As solved and documented elsewhere

new webpack.optimize.CommonsChunkPlugin({
	name: "**entry2**",
	chunks: ["section21edit", "section22edit"],
	async: true,
	minChunks: module => /node_modules/.test(module.resource),
}),

Interesting to note that the listed chunks are non-entry and it still seems to works

[2017-12-17 19:29] #6147 closed

[2017-12-18 02:42] yzgc opened #6149 "compression-webpack-plugin"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2017-12-18 05:16] codefacts commented on #426
I am facing the same problem with android browser. Is there any solution to this problem?

[2017-12-18 08:58] evilebottnawi commented on #6149
@yzgc please use English

[2017-12-18 08:58] #6149 closed

[2017-12-18 09:11] pineapplethief commented on #5146
Seeing this too, vendor bundle actually slow down incremental builds in development(

[2017-12-18 09:49] CWelshE commented on #6074
Apologies for the gap!

Here's where I am at:

- `glob` expansion via `glob` (run against the user strings if they both contain `*` and there was no prior match for the current module);
- matches for relative paths.

I need to make tests for:
- arbitrary relative file paths
- glob paths of arbitrary depths and file extensions

I guess there might be some potential slowdown if there's a significant

[2017-12-18 11:33] PanayotCankov commented on #3460
I am using something like:
[code]
Hope it sounds reasonable.

[2017-12-18 13:00] stereobooster commented on #4268
@squadwuschel did you manage to fix this? Or cross posted this issue in another place?

I have the same issue. Reproducible demo https://github.com/stereobooster/razzle-cssmodules

[2017-12-18 15:50] AshMcConnell commented on #5629
I'm having the same issue, I get: -
![image](https://user-images.githubusercontent.com/497941/34114598-1a3b8f88-e40b-11e7-9bae-07dc9502dbe8.png)

[2017-12-18 16:22] EugeneHlushko commented on #6051
@TheLarkInn PR is there for a while, want to join the review as noone is active recently: webpack/webpack-cli#200

[2017-12-18 17:09] sokra commented on #6139
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-18 17:09] #6139 closed

[2017-12-18 18:47] carlosagsmendes commented on #4638
Hi @Ricardo-Marques, just want to say thanks for the code you've shared.

I'm still struggling with _"This method has the advantage of creating a separate async module only if no synchronous chunks require it."_  since I would rather be in control depending on the situation but I guess this is the way that WebPack works.

Best regards,
Carlos

[2017-12-18 20:07] romariolopezc commented on #5682
I also have the error

[2017-12-18 20:59] TheLarkInn commented on #6138
Pretty darn sure you can specific webpack.json and then point --config towards it

[2017-12-18 21:00] #6135 closed

[2017-12-18 21:41] #4718 closed

[2017-12-18 21:55] sompylasar commented on #6132
https://github.com/amireh/happypack/issues/200
Looks like one more breaking change: `compiler.resolvers.loader.resolve` is `undefined`.

[2017-12-18 22:02] sokra commented on #6132
There is a kind of compat layer on `compiler.resolvers`.

[2017-12-18 22:03] gdborton commented on #5718
@TheLarkInn

Build setup looks like:
  Compiler: client, entryPoints: 3, modules: 4923

 | node version | webpack version | iteration 0 | iteration 1 | iteration 2 | average time (ms) |
 | ------------ | --------------- | ----------- | ----------- | ----------- | ----------------- |
 | 6.11.1 | 4.0.0-alpha.1 | 121846ms | 24909ms | 26061ms | 57605ms |
 | 8.2.1 | 4.0.0-alpha.1 | 98626ms | 27505ms |

[2017-12-19 01:30] johnhforrest commented on #4419
+1, would love to see a more supported way of doing this. We cannot move to webpack 2 or 3 without having to do massive amounts of refactoring to support loading modules async.

[2017-12-19 07:59] egorowp commented on #196
@MovGP0 I had same problem. Please [look ](https://github.com/angular/angular/issues/20357#issuecomment-343683491)

[2017-12-19 08:03] sokra commented on #6074
Instead of using `glob`: Convert the glob expression into a RegExp and just test the relative path with it.

`src/**/abc/*.js` => `/\/src\/.+\/abc\/[^\/]+\.js($|\/)/`

`./src/def` => `/^\./src\/def($|\/)/`

[2017-12-19 09:16] OscarBarrett commented on #5682
I ran into this due to a 3rd party module that was providing es6 code (similar to @jakeleboeuf it was related to [date-holidays-parser](https://github.com/commenthol/date-holidays-parser)).

The specific error (`Name expected`) is when UglifyJs tries to parse a `const` declaration.

A quick fix is to make sure that babel compiles the module(s) in question.
Ideally, modules that are used in the bro

[2017-12-19 11:07] msangel commented on #370
-1
I really don't need this. If I would, I will use `glob`.

[2017-12-19 14:43] ev1stensberg commented on #6072
This will be implemented in `v2` of the webpack-cli ( https://github.com/webpack/webpack-cli/commit/ab9421136887b7e9e10f25a39b59fb32f07b5037 ). Encourage you to try it out and give some feedback on if its working out for you or not

[2017-12-19 18:50] TheLarkInn opened #6157 "Prompt users to install webpack-cli on first usage"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
Feature

**What is the expected behavior?**
When I "surface" the webpack cli bin command to my node scripts, I should be able to run webpack without any manual installation.

As a user, when I run `webpack`  command line tool and

[2017-12-19 18:51] TheLarkInn commented on #6157
https://github.com/webpack-contrib/npm-install-webpack-plugin/pull/115/files Maybe this PR is a somewhat okay example of how some of this could be accomplished

[2017-12-19 18:52] TheLarkInn commented on #6132
Adding https://github.com/webpack/webpack/issues/6157

[2017-12-20 06:42] PanJiaChen commented on #5470
@Darmody
`namedChunksPlugin` is suggested for use in development, I have some concerns in production env use it.

[2017-12-20 08:38] engmyahya commented on #5175
@gaearon @sokra

I faced also :

![image](https://user-images.githubusercontent.com/12251024/34198038-51d6f1f8-e582-11e7-8b0b-7dea294e6697.png)

And my fix was to install latest webpack and webpack-dev-server , as followed :
`npm install webpack@latest --save`
`npm install webpack-dev-server@latest --save`

[2017-12-20 09:06] hekegang commented on #2537
const webpack = require('webpack');
  const merge = require('webpack-merge');
  const UglifyJSPlugin = require('uglifyjs-webpack-plugin');
  const common = require('./webpack.common.js');

  module.exports = merge(common, {
    devtool: 'cheap-module-source-map',
    plugins: [
      new UglifyJSPlugin({
        sourceMap: true
      }),
     new webpack.DefinePlugin({
       'process.env': {

[2017-12-20 10:26] sokra commented on #6157
I guess there is somewhere a package for this on npm. I heard rumours that yeoman has some.

[2017-12-20 10:51] joha91 opened #6159 "Webpack Plugin: run command after assets are written to file system"
**Do you want to request a *feature* or report a *bug*?**

This is a Bug

**What is the current behavior?**

I created a very basic Plugin like

[code]

Now in the first comilation process, the "after-emit" event is fired before my bundled files are written to the filesystem. This will cause, that my task to move the files to another location, doesn´t get all files.

**What is the expected behavio

[2017-12-20 11:32] peter-mouland commented on #6132
I've just created this issue within webpack-cli, seems like it might be related to the `optimization.minimize` options now on by default, but the cli still expects the file to exist within webpack.

`var UglifyJsPlugin = require("webpack/lib/optimize/UglifyJsPlugin"); `

https://github.com/webpack/webpack-cli/blob/2402117ae70ce709b059c60026267f7707becb22/bin/convert-argv.js#L512

https://github.co

[2017-12-20 11:44] peter-mouland opened #6162 "webpack v4.0.0-alpha.1 `-p` and webpack-cli error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
running `webpack --config webpack.config.prod.js -p` throws the error :

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Webpack files: https://gist.github.com/peter-mouland/2a4dc737df271b937281f821cea236f8

run: `webpack --config webpack.config.prod.js -p`

**What

[2017-12-20 12:43] ev1stensberg commented on #6162
Hi @peter-mouland , thanks for reporting! Indeed true, this was changed in https://github.com/webpack/webpack/pull/6123 , pushed a fix at https://github.com/webpack/webpack-cli/pull/207/commits/65511f21782f0317fe5c3a5d4b7ea05ce3037e69 ( aka `v2` branch of webpack-cli ), which will be released soon!

[2017-12-20 12:54] MagicPoulp opened #6163 "document in the README where we can go to discuss in long the use of webpack"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Can you document in the README where we can discuss in long the use of webpack? Like a recommended forum (without too much adds or moderation)? Or should I email webpack@beta?
I want to discuss a new way to use webpack with the CSS loeader. The README says go on webpack gitter or on StackOverflow.

[2017-12-20 12:54] MhMadHamster commented on #6113
i would really appreciate any response on this issue. Are you considering this as a bug or this behavior is expected and you wont fix/accept pr with fix for it?

[2017-12-20 13:01] MagicPoulp commented on #6163
actually I found a good workaround. I used gitter as suggested in the README. ANd in gitter, I put a link the the forum where I can discuss it in more detail.

Maybe you could document this usage in the README chapter support as a good clarification for people on how to proceed?

[2017-12-20 13:33] peter-mouland commented on #6162
ah - sorry, i did look for a v2 release and tag, but missed the branch.

for now I can easily remove the `-p` until this is released, so not a problem.

on a related not, should the `-p` option be removed in favour of the `mode: 'production'` or is `-p` still valid in it's own right for webpack v4??

[2017-12-20 13:36] ev1stensberg commented on #6162
Actually fixed this after you posted an issue, so thank you for reporting the issue! `p` is still valid, and I think `p` is nice, cause it gives you a shortcut on the CLI side, i.e `webpack -p` and you're set

[2017-12-20 13:57] MagicPoulp commented on #6163
Thanks for your answer.

I have copied your answer to the separate forum.
https://css-tricks.com/forums/topic/webpack-what-do-you-think-of-this-way-building-css-and-javascript-separately-3/#post-264119

I think this issue ticket should be focused on the real documentation issue. Not to the separate problem I have that made me not find where to go to ask for support.

I repeat it again, a very good

[2017-12-20 14:29] flip111 commented on #4594
I have the same problem with CentOS on a NFS share.

[2017-12-20 14:52] sokra commented on #6162
`-p` will be the shortcut for `--mode production`

[2017-12-20 14:56] sokra commented on #6159
I wonder why this is the case. after-emit is called in the callback of `fs.writeFile`...

Could you try to upgrade your node.js version?

[2017-12-20 15:00] joha91 commented on #6159
I upgraded node to 8.9.3 now.
Same problem !
It´s easier to reproduce if you have many/big files to compile

[2017-12-20 16:24] MagicPoulp commented on #6163
Wait. You said to create an issue on css-loader while I created one on sass-loader. I give up. ANyways my thread was marked as spam on the forum. I will fix this forum thread first.

[2017-12-20 16:33] MagicPoulp commented on #6163
GOod. I could fix the forum thread:
https://www.sitepoint.com/community/t/webpack-what-do-you-think-of-this-way-building-css-and-javascript-separately/284349

[2017-12-20 17:00] jlaurens opened #6167 "dll-app-and-vendor example does not work"
The original example by eoksni has been refactored and completely broken.
A ".bundle" has been removed, but not everywhere.
The unique build folder of eoksni  has been replaced by 2 different js folders but the html file refers to only one of them.

[2017-12-20 17:45] advance512 commented on #196
For those bundling a backend server with webpack, specifically an express one, this was the solution I ended up using:

https://github.com/liady/webpack-node-externals

Make sure you include the node_modules directory with your bundle file in the artifact/Docker image.

Since this is all on server, we don't care as much about total size. Note, however, that a complete bundle will be much smaller t

[2017-12-20 22:01] #5011 closed

[2017-12-20 22:01] #4887 closed

[2017-12-20 23:32] jkrems commented on #5734
/cc @bmeck I *think* this might actually work in node as well? Because "parsing JSON" shouldn't count as code execution..?

[2017-12-20 23:37] bmeck commented on #5734
@jkrems it suffers the same data synchronization issue that I'd like to avoid:

[code]

If that is solved so they stay in sync some way (freezing the target or setting up some form of proxy), seems fine. Curious what to do when `default` is defined. Older EPs stated that `default` would always point to the root of the target even if the object had a `.default` property.

[2017-12-20 23:52] jkrems commented on #5734
Right, the behavior for a JSON file containing `{"default":42,"x":10}` should be explicitly called out. My expectation would be "default is still magic".

Something similar is true for that same file and `import * as ns from './foo.json'`. Would it set `ns` to `{ default: { default: 42, x: 10 }, x: 10 }`? That would be the consistent.

[2017-12-21 04:31] ackmanx commented on #2972
@yangxiaolin Your fix worked for me also, but I found the below in order to use the current version of webpack-dev-server still.

From [uglifyjs-webpack-plugin](https://github.com/webpack-contrib/uglifyjs-webpack-plugin):

The above solved it for me, having the same error "Unexpected token: name (xxxx)". I simply had to explicitly use an updated version of the plugin instead of the aliased one pro

[2017-12-21 04:34] jackhftang commented on #2908
Same here on windows

[2017-12-21 05:04] QuietWind opened #6168 "Find and replace referenced to modules error. modulesWithInfo not find referencedModule"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
// Find and replace referenced to modules
https://github.com/webpack/webpack/blob/c26d1f0d226ee9aa940211fa1b3822de7d09f4d5/lib/optimize/ConcatenatedModule.js#L573

referencedModule maybe is `undefined`

**What is the e

[2017-12-21 05:26] xiaoqiang730730 commented on #2867
the same to me.
I use the example on the doc;
[code]
[code]

[2017-12-21 07:20] mojosoeun opened #6169 "Dynamic Import: split vender and manifest code"
I'm using dynamic imports in my code

[code]
In this code,  there are both vendor and manifest code. So I want to split vender and manifest code without using `CommonsChunkPlugin` in webpack.config.js because I want to set only one entry file.
is there a way to solve this problem?

[2017-12-21 08:22] EugeneHlushko commented on #6168
Hello @QuietWind
I am not able to reproduce the error, can you provide steps to reproduce?

[2017-12-21 09:17] CWelshE commented on #6074
Oh, interesting. I'd not thought of that. I'll convert it over accordingly!

[2017-12-21 09:30] soulteary commented on #6040
there's trick patches, maybe helpful for you.

https://github.com/soulteary/webpack-custom-plugin

----

btw, if you wanna use `full dynamics path` in your project, you may hack the html-template, css backaground url by yourself.

[2017-12-21 09:52] QuietWind commented on #6168
[code]
I learn next.js build code that add entry file only use it,  and my code has this error.

[2017-12-21 11:23] stephencranedesign commented on #1576
@psulek - found this module and it did the trick for me: https://github.com/liady/webpack-node-externals

[2017-12-21 14:31] EugeneHlushko commented on #6168
Still not able to reproduce locally but will this suffice @sokra ?
https://github.com/webpack/webpack/blob/c26d1f0d226ee9aa940211fa1b3822de7d09f4d5/lib/optimize/ConcatenatedModule.js#L573

[code]

[2017-12-21 16:49] minatonda opened #6171 "bug - Object prototype may only be an Object or null: undefined"
**Do you want to request a *feature* or report a *bug*?**
- Bug

**What is the current behavior?**
- I'm having a problem with inherited class.
- Object prototype may only be an Object or null: undefined

**If the current behavior is a bug, please provide the steps to reproduce.**

consider i have :
many ***.factory.ts** files, that inherit from a **base.factory.ts** (i dont have a circular depend

[2017-12-21 17:29] EugeneHlushko commented on #6171
I could look if you set up a small repo with problem isolated @minatonda

[2017-12-21 19:31] rodoabad commented on #5474
Re-installing does not seem to solve this issue.

[2017-12-21 21:15] rodoabad commented on #5474
Anyone else still having this issue?

Note: Re-installing DOES NOT solve the current issue.

[2017-12-21 21:41] #4031 closed

[2017-12-21 22:21] #4998 closed

[2017-12-22 00:36] jschatz1 opened #6174 "Anything that uses createChildCompiler will not throw an error when it should and scripts will pass when they should have failed"
We (@mikegreiling and I at GitLab) discovered this major error in [worker-loader](https://github.com/webpack-contrib/worker-loader/). However, the problem is not worker-loaders fault. The problem exists in webpack which we confirmed by trying other loaders and plugins that use this method (`createChildCompiler`).

While using worker-loader to load a script into the uglify webpack plugin, uglify th

[2017-12-22 06:24] Kovensky opened #6175 "Misleading message on CaseSensitiveModulesWarning when the conflict involves folders"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- src/index.js
[code]

- src/foo.js
[code]

- src/Foo/index.js
[code]

**What is the expected behavior?**

The error message mentions a `Foo.js` file, but there is no `Foo.js`; it is `Foo/index.js`.

The error messag

[2017-12-22 06:31] donaldpipowitch commented on #6132
An answer to @machineloop from the last alpha

You can run `$ node --trace-deprecation ./node_modules/.bin/webpack`. Now you get:

[code]

[2017-12-22 06:41] lawrenceagles commented on #2297
Experiencing this problem with antergos Linux.

[2017-12-22 06:44] lawrenceagles commented on #2297
@artburkart  your suggestion worked for me.

[2017-12-22 07:21] tareqtms opened #6177 ""npm run dev" is taking long time."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
"npm run dev" is taking a long time
**If the current behavior is a bug, please provide the steps to reproduce.**
I am using Vue with Laravel, as it is there by default. I have 18 vue components and 4 JS files (for separate vue instances) and 4 css files to be processed by webpack. Previously, "npm run dev"

[2017-12-22 07:32] sokra commented on #6177
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2017-12-22 07:37] sokra commented on #6175
There is a Foo.js file according to the filesystem. The filesystem is case-insensitive, that's why Foo.js and foo.js addresses the same file. That's the issue.

The problem could be in the loader string too.

---

You can send a PR to improve this message:

* Omit the loader string if there is no diff here.
* Improve the error message to be more readable.
* ...

[2017-12-22 07:42] Kovensky commented on #6175
Oh, I see; the `Foo/index.js` is not being considered at all 🤔

[2017-12-22 09:47] sokra commented on #6175
Ah I see the folder. Yeah, it's not considered because it resolves successfully to `Foo.js` and files are preferred over folders. The behavior is probably different on a case-sensitive filesystem. That's why this warning is useful.

=> Don't name your folder case-insenstive-equal to your files. That doesn't work on case-insensitive filesystem. It may compile successfully on linux, but fails on OSX

[2017-12-22 09:51] sokra commented on #6171
Are you sure? This looks like one.

[2017-12-22 11:05] LingYanSi opened #6178 "Public Path add js variable support"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Public Path donot support  js variable

**If the current behavior is a bug, please provide the steps to reproduce.**
not a bug

**What is the expected behavior?**
I want publicPath support js variable.
like this
[code]

**If this is a feature request, what is motivation or use case for changing the

[2017-12-22 11:08] sokra commented on #6178
`__webpack_public_path__` is writable from inside the bundle.

[2017-12-22 11:08] #6178 closed

[2017-12-22 11:15] sokra commented on #6168
@EugeneHlushko this is not a valid fix. The problem is deeper, but not sure exactly.

@QuietWind Could you create a repro repo?

[2017-12-22 11:44] minatonda commented on #6171
I looked again at the code, and found a circular reference, which was like this:

factory -> service
factory -> component
service -> component

the webpack can not manage this?

[2017-12-22 11:52] sokra opened #6179 "webpack 4.0.0-alpha.2 feedback"
[4.0.0-alpha.0](https://github.com/webpack/webpack/issues/6064)
[4.0.0-alpha.1](https://github.com/webpack/webpack/issues/6132)

# Big features

* WebAssembly modules can now import other modules (JS and WASM)
* Exports from WebAssembly modules are validated by ESM import
  * You'll get a warning/error when trying to import a non-existing export from WASM
* Stats can display modules nested in conc

[2017-12-22 11:52] sokra commented on #6132
new version: https://github.com/webpack/webpack/issues/6179

[2017-12-22 11:52] #6132 closed

[2017-12-22 12:46] #5707 closed

[2017-12-22 12:47] sokra commented on #4949
done

[2017-12-22 12:47] #4949 closed

[2017-12-22 12:47] sokra commented on #4948
done

[2017-12-22 12:47] #4948 closed

[2017-12-22 12:48] sokra commented on #4947
done

[2017-12-22 12:48] #4947 closed

[2017-12-22 12:48] sokra commented on #4946
done

[2017-12-22 12:48] #4946 closed

[2017-12-22 12:49] sokra commented on #4945
Yes, but webpack will also yell at your if you are doing it wrong.

[2017-12-22 12:50] sokra commented on #4945
done

[2017-12-22 12:50] #4945 closed

[2017-12-22 12:52] sokra commented on #6074
Maybe just use https://github.com/fitzgen/glob-to-regexp

[2017-12-22 13:06] pgawali-broadsoft opened #6180 "Error when we use Third party mscgenjs modules: "define cannot be used indirect" with webpack v3.6.0 working fine with v1.12.15"
Bug:
Third party modules like mscgenjs are not compatible with webpack v3.6.0  .Getting error Uncaught Error: define cannot be used indirect .
{
  "name": "mscgenjs",
  "version": "1.9.0",
  "description": "Implementation of MscGen in JavaScript",
  "main": "index.js",
  "dependencies": {
    "amdefine": "1.0.1",
    "requirejs": "2.3.2"
  },

Working fine older"version": "1.12.15".

Environment:

[2017-12-22 13:10] sokra commented on #5718
4.0.0-alpha.2 allows to replace the default hash function with a custom one. @d3viant0ne measured some non-crypto hash functions and as far as I remember metrohash was the fastest (but is a native dependency). This may give a little speed boost...

[2017-12-22 13:35] d3viant0ne commented on #5718
https://github.com/d3viant0ne/hash-perf

[2017-12-22 15:26] EugeneHlushko commented on #6167
This should be closed, doesnt happen automatically @sokra ?

[2017-12-22 15:52] EugeneHlushko commented on #6180
A piece of your code could help. are you doing it like this?
[code]

[2017-12-22 15:57] sokra commented on #6180
Duplicate of #5316

[2017-12-22 15:57] #6180 closed

[2017-12-22 15:58] #6167 closed

[2017-12-22 17:13] AndersDJohnson opened #6182 "feat: add `--babel` option"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Using future syntax in webpack configuration files requires the use of a `.babel.js` extension or running webpack with `babel-node`.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use

[2017-12-22 17:14] sokra commented on #6171
It handles this correctly according to the spec.

ES-class are not hoisted so they don't like circular dependencies that much...

[2017-12-22 17:14] #6171 closed

[2017-12-22 17:15] sokra commented on #6182
@webpack-bot move to webpack/webpack-cli

[2017-12-22 17:15] #6182 closed

[2017-12-22 20:59] AndrejGajdos commented on #1805
+1

[2017-12-22 21:52] grisanu commented on #6157
Hi! I am interested in taking this issue but want to get some clarifications about it first.

I see that in the [v4.0.0-alpha.1](https://github.com/webpack/webpack/issues/6132) pre-release, there is a bullet point about moving the CLI to `webpack-cli` explicitly. I'm assuming that that is what this issue is about?

That when a `webpack` command is 'surfaced' in `package.json` or something and the

[2017-12-22 22:31] #2309 closed

[2017-12-23 00:48] G1anpierre commented on #382
Thanks for sharing! have had the same issue! haha

[2017-12-23 07:15] #6098 closed

[2017-12-23 07:35] sokra commented on #6157
it was intentional to makewebpack-cli not a dependency of webpack:

* Less depenencies when only using the node.js API
* Both projects can develop indiviually.
* Breaking changes for webpack-cli doesn't mean breaking change for webpack and in reverse.

Current you get a error message asking to install webpack-cli when using the CLI from webpack. This could be improved. Instead of an error webpack

[2017-12-23 08:38] sokra commented on #6017
done

[2017-12-23 08:38] #6017 closed

[2017-12-23 08:39] wuchuguang opened #6188 "webpack2, webpack3, require module"
The require in webpack2 and webpack3?
in webpack2 ,i can use require('module') "export default " module
in webpack3,i can use require('module').default "export default" module

[2017-12-23 08:39] sokra commented on #6065
done

for more options regarding configuration in package.json see #6074

[2017-12-23 08:39] #6065 closed

[2017-12-23 08:40] sokra commented on #5734
done

[2017-12-23 08:40] #5734 closed

[2017-12-23 08:42] #1905 closed

[2017-12-23 08:45] sokra commented on #2867
webpack 4 allows you to opt-in into more aggressive tree shaking.

[2017-12-23 08:49] sokra commented on #2899
Regarding unused classes: Transpiles (typescript, babel) need to annotate these transpiled class and minimizers need to handle this. webpack isn't involved in this process (we already remove our reference to the export).

The spec says side effects in this package need to be evaluated. Annotating it with PURE would be incorrect according to the spec. But webpack 4 allows to opt-in into more aggres

[2017-12-23 08:49] #2899 closed

[2017-12-23 09:38] sexualmaniac commented on #2867
@sokra show a working example please for proof. Similar to the example in the first message of the issue, where an external package is used.

[2017-12-23 10:27] sokra commented on #2867
https://github.com/sokra/react-rollup-webpack-test

[2017-12-23 11:05] sexualmaniac commented on #2867
@sokra very interesting, indeed. 👍

Is there any guide/article about added `include` block with packages in webpack config and `sideEffects` flag for developers and library creators?

[2017-12-23 15:14] QuietWind commented on #6168
@sokra this problem is accidental，  I cannot create demo repro.

[2017-12-23 19:48] jkrems commented on #5734
See PR: https://github.com/webpack/webpack/pull/6184

[2017-12-23 22:31] #5035 closed

[2017-12-23 22:35] dalimian opened #6190 "sourcemaps not compatible with long term caching"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
looks like the source map of any chunk contains info about all other chunks.

when i delete a chunk and rebuild the sourcemap content of every other chunk changes

**If the current behavior is a bug, please provide the steps to reproduce.**
1. set `devtool: 'source-map',` in your config
1. usi

[2017-12-24 00:15] tleef opened #6191 "WebpackMissingModule generates a syntax error when preceded by new"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[WebpackMissingModule](https://github.com/webpack/webpack/blob/master/lib/dependencies/WebpackMissingModule.js) generates a syntax error when preceded by `new`

*From [node-mongodb-native](https://github.com/mongodb/node-mongodb-native/blob/6eede9885ec8b50bf54681c6aba0fc28c8721e7c/lib/collection.js#L30

[2017-12-24 12:24] JeSuisAlrick commented on #2964
@Choleriker it probably better you never posted in the first place. You did not explain what you did, dude.

[2017-12-24 21:29] sla100 opened #6192 "Unnecessary eager dynamic import from external module"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**

output.js
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js
[code]

test.js
[code]

**What is the expected behavior?**

output.js
[code]

**Please mention other relevant information such as the browser version, Node.js version, webpack ve

[2017-12-24 22:12] #667 closed

[2017-12-25 00:40] vesper8 commented on #4558
@andreialecu's solution worked for me, but since I'm using UglifyES first I had to install

[code]

And add this at the top of my webpack.mix.js file

[code]

I wish I could use compression though.. but it makes things 100x faster if I don't

[2017-12-25 15:02] hxlniada commented on #4837
can have a try: https://github.com/hxlniada/webpack-hashed-chunkids

[2017-12-25 15:40] peey commented on #625
Is it possible to do this for any loaders? I've defined my loaders correctly in webpack config and have even tried prepending them to the require call itself, e.g.

[code]

But it doesn't work. It always gives me an error like `Error: Module parse failed: Unexpected token (1:6)` which makes me think that it's trying to parse the required file as js.

[2017-12-25 20:33] tomprogers commented on #1613
@cdtinney It's been a while, but this is what I recall.

- My app is in `~/projects/my-app`
- The dependency that I'm npm-linking (which I'm also maintaining) lives in `~/projects/cool-module`
- The problem is that running my-app's build process fails to process cool-module's source correctly

1. `cd ~/projects/cool-module`
2. `npm build` (or whatever script the module provides for compilation)
3.

[2017-12-26 03:56] kidwm commented on #5433
@sokra This would make us to achieve this more easily:
https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

cc. @philipwalton

[2017-12-26 08:53] jefer94 commented on #2537
It's work https://www.npmjs.com/package/dotenv-webpack

[2017-12-26 12:21] ndiezel0 commented on #5908
@sokra it is very easy to miss `var` by mistake. Just because you say "don't do that", doesn't mean that there shouldn't be at least a warning.

[2017-12-26 13:38] wmzy commented on #1866
@joaoreynolds
Let the `followSymlinks` to be `true` work for me : [node_modules/watchpack/lib/DirectoryWatcher.js#L52](https://github.com/webpack/watchpack/blob/9fc9be000ebd3377418c33be21764867e7a5cbcb/lib/DirectoryWatcher.js#L52)

But why not webpack turn on the `followSymlinks` option when `symlinks` is `false`?

[2017-12-26 16:06] pbarbiero opened #6194 "DefinePlugin can cause a ModuleConcatenationPlugin bug"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
ModuleConcatenationPlugin is moving imports needed at runtime to a function with delayed execution

**If the current behavior is a bug, please provide the steps to reproduce.**
Very difficult, we have a (very large) specific application that only recently exposed this once it reached a certain size.

*

[2017-12-26 16:33] pbarbiero commented on #6194
Interesting, I have traced it to this change we made (reverting it resolves the issue):

No issues
[code]

Has issues:
[code]

I was under the impression that the second way (the one with issues) was the safer, more correct way of doing things... We will revert that, but maybe its something that needs to be looked into?

[2017-12-26 17:13] clshortfuse commented on #2145
Just throwing some tips for people on Chrome with issues.

If you have the original files, you don't want to use to include the source code in your source map. Use `nosources-source-map` so that the source map only includes weak references to files and lines. Then Chrome will map that to your workspace files. If you include sources, then you're essentially telling Chrome to look in `webpack://*` f

[2017-12-26 17:32] DrewML commented on #5866
@amirmohsen See https://github.com/DrewML/webpack-emit-all-plugin

[2017-12-26 17:45] FanXiang commented on #1643
@earnubs it's works. thanks !

[2017-12-26 19:11] sokra commented on #2867
Documentation is in progress. It's still in alpha...

[2017-12-26 19:14] sokra commented on #6194
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2017-12-26 19:14] sokra commented on #6188
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-26 19:14] #6188 closed

[2017-12-26 19:17] sokra commented on #6168
@QuietWind

Are you using the latest webpack version?

Are you using any custom plugins?

[2017-12-26 19:24] sokra commented on #6163
We don't have a webpack forum. We don't have the man power to moderate it. It would probably fill up with many questions instead of discussions, so not sure if it's a good idea anyway. If you want to discuss something technical regarding webpack an issue is probably the best place (in the relevant repo). Feel free to post your discussion issue in gitter or twitter to invite people. You can also wr

[2017-12-26 19:24] #6163 closed

[2017-12-26 19:28] sokra opened #6195 "CommonsChunkPlugin should not move runtime by default"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
CCP moves runtime into CC.

**What is the expected behavior?**
CCP should leave runtime in the original chunk.
CCP should have a `runtime: true` option to move runtime into new chunk.

**If this is a feature request, what is motivation or use case for changing the behavior?**
CC should change only

[2017-12-26 21:18] pbarbiero commented on #6194
I have tried to create a small reproducible application, but it seems its a complicated issue that occurs when a bunch of factors are met, which I haven't discovered yet. All I managed to prove was that most of what I disclosed here is inaccurate other than the end result.

I will see if I can pull apart our application to something I can disclose publicly, but its unlikely. I will close this issu

[2017-12-26 23:19] stereobooster commented on #4674
Another way to solve it https://github.com/nodejs/node-eps/pull/60. Not advocating this approach, just want to let you know

[2017-12-26 23:44] TheLarkInn commented on #5718
Also, @gdborton, if you are willing to do so, I have created a plugin based on webpack's new tapable API (it will be added to v4, but needs some visual cleaning up to do). If you are willing to pull alpha.2 or webpack@webpack/webpack#next, you can add this plugin:

https://gist.github.com/TheLarkInn/38d403dfce002e26472fb1b630f3cb8d

This should allow us to get even a more indepth (at the plugin le

[2017-12-26 23:46] andreineculau commented on #5087
bump

[2017-12-27 00:42] cl4pper commented on #3043
Problem solved using this syntax bellow:
	resolve: {
		extensions: [ '*', '.js', '.jsx' ],
	},

[2017-12-27 06:04] hello-guoguo opened #6196 "what's wrong??? cannot open the URL:'https://doc.webpack-china.org/guides/output-management/'"
### Recently,the URL:'https://doc.webpack-china.org' cannot open normal.
### Example,when I open 'https://doc.webpack-china.org/guides/output-management/'
### it's info:
[code]

## Have you ever met???

[2017-12-27 09:23] chbdetta commented on #4807
@VoronFX
It seems `[request]` wont work if constant string literal is used to import module.
e.g.
[code]
In the above code, `[request]` won't be parsed.

But when I change it to something like below:
[code]
now `[request]` will be replaced with `Cat`.

I think maybe `[request]` refer to the variable parts in the import url ? But what if there are more than one variable?

I expected the [request] i

[2017-12-27 09:25] EugeneHlushko commented on #6196
Doesn't look like a bug but a question, try stackoverflow @hello-guoguo

[2017-12-27 09:39] hello-guoguo commented on #6196
@EugeneHlushko emmmmmm...

[2017-12-27 09:47] xgqfrms-gildata commented on #99
# how to set webpack ignore some keywords without uglify ?

![image](https://user-images.githubusercontent.com/29531779/34377830-dd2a49b6-eb2d-11e7-9e69-7a786be52ec2.png)

[2017-12-27 09:48] kambing86 commented on #5157
any update on this? if not then I will write a plugin for this

[2017-12-27 09:49] MagicPoulp commented on #6163
What about the following in CONTRIBUTING.md:

Discussions:
Since gitters is only for small questions to discuss in long, send a link to your forum or blog on gitters.

[2017-12-27 10:09] saschanuissl commented on #6169
Hello @mojosoeun,

wouldn't you want to use the plugin because you only want to use one entry file? Or are there any other reasons?

You could use the `CommonsChunkPlugin` with only one entry file.

Here an useful link to the docs: https://webpack.js.org/plugins/commons-chunk-plugin/#combining-implicit-common-vendor-chunks-and-manifest-file

[code]

For vendor files, that imported from another pla

[2017-12-27 10:19] MagicPoulp opened #6197 "feature: document aternative way to build CSS in isolation and not with CSS imports from JS"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The documentation of webpack explains only one method for loading CSS, the one with CSS import from Javascript.
https://webpack.js.org/guides/asset-management/#loading-css

As discussed here,
https://www.sitepoint.com/community/t/webpack-what-do-you-think-of-this-way-building-css-and-javascript-s

[2017-12-27 11:06] EugeneHlushko commented on #6196
The links work well for me so i suggest asking a question instead of opening an issue :|

[2017-12-27 11:10] damianobarbati commented on #1875
@sokra I'm currently using the `node --max_old_space_size=4096 ./node_modules/webpack/bin/webpack.js` on all of my projects to not have the GC error.

I was wondering: would it be possible to add the memory increase as an arg to the Webpack executable?

I.E: `wepack --max-memory 4096`

[2017-12-27 11:35] rosenfeld commented on #4807
I was able to get `[request]` working in a second attempt. However it would be interesting if I could use something like `[configId]` and be able to set the config id when using multiple configurations. For the time being, I'm using the "map" option with the ManifestPlugin to be able to get separate names for each configuration:

[code]

[2017-12-27 11:43] alubbock commented on #5157
I'm not aware of any update that fixes this, but a plugin would be a great help.

[2017-12-27 12:22] NugzarGaguliya commented on #6191
Have you find solution?

[2017-12-27 14:37] sokra commented on #6163
Sounds good to me.

Send a PR. There is no fast way.

[2017-12-27 15:50] Sinewyk commented on #6194
@pbarbiero Can you tell me your nodejs version ?

I'm hitting a similar bug where ModuleConcatenationPlugin is doing some stuff and breaking my resulting bundle, if I remove it everything works ... BUT, and here's the weird thing:

on node 8.8.1 it works, on node 6.10.3 it doesn't.

Exactly the same project, same branch, same commit, same dependencies (except built binaries). I suspect that orderi

[2017-12-27 15:55] Sinewyk commented on #6194
Ok wtf, I took the two files, I beautified them. Then ran them through a diff tool.
Node 8 on the left, node 6 on the right:
Both declare the export variable:
![image](https://user-images.githubusercontent.com/1826366/34385937-6a642980-eb26-11e7-9221-81fcc37a5b5e.png)

But the bundle resulting from node 6 is clearly broken compared to node 8:
![image](https://user-images.githubusercontent.com/1826

[2017-12-27 15:56] pbarbiero commented on #6194
Sure!

Interestingly, I am hitting this locally with 6.10.2, but also when done in our production server which runs 6.11.3 currently (which reminds me to update that)

Let me give it a shot with node 8 and see what happens.

[2017-12-27 16:04] pbarbiero commented on #6194
I still get the same problem running node 8.9.3, so not the same exact issue as you unfortunately.

[2017-12-27 16:14] Sinewyk commented on #6194
Well, I'll open another issue then. But still, it's confirmed for me. Switched on the "good" machine from node 8 to 6. Exact same error, ran it through beautifier + diff tool, and exact same line, the default export one, is missing now. I'll probably try to take a look at the source code to try to understand, but ...

[2017-12-27 16:15] sokra commented on #6197
One of webpacks core concepts is the idea of **one** dependency graph with all modules (js + css). Building CSS in isolation sounds like a step backwards to me. I won't recommend this as official way.

In addition to this, it's weird to use webpack when building SASS in isolation. In this case just to a task runner to build sass i. e. gulp...

[2017-12-27 16:15] #6197 closed

[2017-12-27 16:16] sokra commented on #6196
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-27 16:16] #6196 closed

[2017-12-27 16:19] sokra commented on #6194
That's really interesting...

Could you try if there is still a difference if you disable uglifyjs?

[2017-12-27 16:21] pbarbiero commented on #6194
For me there is no difference with or without uglifyjs.

I wonder if comparing the working bundle vs the non-working bundle (with the only difference being the defineplugin) would possibly help narrow it down and allow me to eliminate any proprietary data?

[2017-12-27 16:22] sokra commented on #6191
Yeah, that's probably a bug.

But consider that `new require('./db')()` is wrong anyway, because it equal to `var x = new require('./db'); x();`, that's probably not the highest priority...

[2017-12-27 16:39] Sinewyk commented on #6194
@sokra Hu, 2 real differences, not uglified ( node 8 working on the left, node 6 broken on the right):
![image](https://user-images.githubusercontent.com/1826366/34387063-519cfb10-eb2c-11e7-95ce-b5c1ba188409.png)

This is the `t.a = vd` that is missing after uglification on node 6 side

And it's also not writing `__webpack_exports__["default"] =` in the middle of the assignment farther in the file

[2017-12-27 17:28] Sinewyk commented on #6194
I went and put a debug line here https://github.com/webpack/webpack/blob/master/lib/optimize/ConcatenatedModule.js#L741
[code]

On node 8, the interesting line is
`./coreApp ./coreApp true`
on node 6 it's
`./coreApp ./coreApp false`

[2017-12-27 17:38] pbarbiero commented on #6194
I tried comparing my working bundle vs the non-working bundle, and interestingly with the only change being how I use DefinePlugin, my two bundles are MASSIVELY different. Like, incredibly significantly different across the board.

Heres a small example related to my initial report:

Working:
[code]

Broken:
[code]

In addition, the order of concatenated modules are wildly different, not to mentio

[2017-12-27 18:14] light24bulbs commented on #690
I hit "choose file" and it selects, but then nothing happens.  I don't get a next button or any progress.  My stats file is around 12mb.  Is this tool still working?

[2017-12-28 01:09] altano commented on #99
@xgqfrms-gildata this issue is from 2013 and your question doesn't seem to obviously be the same question, so it would probably be a good idea to post a new issue describing your problem.

And while you're at it, you should give a brief description of what problem you're trying to solve, how you're trying to solve it (i.e. your whole config and not a narrow section of it), and why it's not behavin

[2017-12-28 03:07] kambing86 commented on #5157
check this
https://github.com/kambing86/ignore-unchanged-webpack-plugin

feel free to contribute based on your needs

[2017-12-28 04:19] qiyuan-wang commented on #5944
@sokra it is still not work on webpack@4.0.0-alpha.2?

[2017-12-28 05:07] Kovensky commented on #6195
IIUC it was a necessary side-effect on webpack < 4 because of the lack of out-of-order loading support.

[2017-12-28 05:17] Kovensky commented on #5935
This discussion seems to be about being able to publish modern JS for optional consumption (e.g. when debugging), rather than about whether the file is a module or script.

Even if, for `.mjs`, the community goes with `'env', { targets: { node: 9 }, modules: false }`, this would still put things such as async generators as being forever transpiled, even if it might be useful to be able to use the

[2017-12-28 08:43] sokra opened #6201 "remove BinTestCases"
**Do you want to request a *feature* or report a *bug*?**
refactoring

**What is the current behavior?**
webpack-cli is tested in webpack
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
webpack-cli has its own tests
**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other rel

[2017-12-28 09:03] MagicPoulp commented on #6197
Fine. Just curious: is it possible to parallelize builds, as parallel-webpack does, with all modules loaded together? How can it work in parallel since Javascript needs to import CSS from many files?

When building SASS in isolation, it is simpler to use webpack for all builds. Otherwise, one needs to download gulp and to learn gulp.

[2017-12-28 09:21] jorrit commented on #5899
I hope to have created a good repo with a reproduction at https://github.com/jorrit/webpackcommonschunkbug. Just run `npm start` in after running `npm install`. I expect a vendor chunk to be created with momentjs + bluebird. Instead, bluebird ends up in the app chunk and momentjs is duplicated in the dynamically imported chunks.

[2017-12-28 09:42] MagicPoulp commented on #6163
The pull request is ready to merge:
https://github.com/webpack/webpack/pull/6199

[2017-12-28 10:28] phyllisstein commented on #6179
Sorry to be a broken record, but wanted to flag that the issue with plugins and `MultiCompiler` is still extant: https://github.com/webpack/webpack/issues/6132#issuecomment-352157570. Good luck continuing to push towards 4.0, I'm excited to see it live!

[2017-12-28 12:07] Sinewyk commented on #6194
I'm going to spend my day trying to figure out the difference in behavior between node 6 & 8 I think.

Started with adding a debug line
[code]
after that if block https://github.com/webpack/webpack/blob/30329fb3648537ddc801b71f14904a3e762d4ad4/lib/optimize/ConcatenatedModule.js#L736 and saving the output of my build

As I thought, again for my "coreApp" this is what I get (broken 6 left, working 8

[2017-12-28 12:19] jrencz commented on #5199
@sokra I think it should be mentioned in plugin documentation on https://webpack.js.org/plugins/module-concatenation-plugin/

[2017-12-28 12:32] Sinewyk commented on #6194
Come on, I literally need to do just
[code]
to make the bug disappear :rofl:

@sokra Are you keeping hard references of all modules or are you maybe losing/recreating them along the way to spare hard memory limits ? WeakMap, WeakSet usage ? Anything comes to mind as to why keeping a hard global reference to a module would make that equality reference check just work ?

[2017-12-28 13:20] sokra commented on #6194
Afaik Javascript is specced in a way that GC is not visible to the user. Keeping a global reference to an object should not change the behavior (expect for more memory used).

cc @bmeurer

[2017-12-28 13:27] sokra commented on #6194
btw. `rawRequest` depends on timing, but it's not used anyway. (I should remove it...)

---

I could imaging this bug is causes by the unstable behavior in `sort()`...

[2017-12-28 13:34] sokra opened #6205 "[next] add run and watchRun hook to MultiCompiler"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
run and watchRun doesn't exist

**What is the expected behavior?**
run and watchRun hooks should exist. run and watchRun should be forwarded from child compilers.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Compatibility with webpack-dev-middleware

[2017-12-28 14:07] Sinewyk commented on #6194
I added
[code]
in the constructor of `DependenciesBlock` to check timestamps when the reference equality check fails: timestamps are still equals.

Something is making a reference equality check fails, even though it's the same objects :laughing: .

Node 6 is broken :/ and node 8 somehow fixed the issue, even though yesterday I didn't see anything in the v8 bug tracker or nodejs changelog that cou

[2017-12-28 14:46] Sinewyk commented on #6194
See previous comment edit, but that means something (was fixed in || was broken before) 7.0.0, and most notably https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V7.md#notable-changes-14

![image](https://user-images.githubusercontent.com/1826366/34413849-3811463c-ebe6-11e7-9399-5a80b9415966.png)

Is it worth it looking farther than that or just mark node < 7 unsupported ?

[2017-12-28 19:15] ooflorent commented on #6205
I'd like to tackle this one but I'm not sure how I should do it.

1. Using a `SyncHook` (or `AsyncSeriesHook`) and forward the call? My main concern here is that the hook will be called for each child compiler.
[code]
2. Using `compiler.hooks.run.intercept({tap: …})` to hook into the child compiler

Could you give me some hint? cc @sokra @TheLarkInn

[2017-12-28 19:25] brunoabreu opened #6206 "Warning when using webpack/hot/signal"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using `bluebird` as global promise implementation and `webpack/hot/signal`, I always get this warning when doing hot module replacement:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Just use `bluebird` as global promise implementation, enable warnings and d

[2017-12-28 19:48] sokra commented on #6205
1.

Yep it will be called multiple times when multiple children run.

[2017-12-28 19:50] sokra commented on #5199
Yep. Send a PR.

[2017-12-28 19:53] sokra commented on #6206
Send a PR

[2017-12-28 23:31] #5061 closed

[2017-12-29 09:00] #5407 closed

[2017-12-29 09:55] niieani commented on #669
@webpack-bot, you naughty boy!

[2017-12-29 10:48] ooflorent commented on #3277
@whitecolor webpack 4 is written in plain JavaScript. However `webpack-cli` (introduced in webpack 4) is using Flow.

[2017-12-29 10:54] ooflorent commented on #5074
This is the expected behavior. ES modules are strict. So `this` is `undefined`.
See [Value of `this` at top level](http://exploringjs.com/es6/ch_modules.html#_browsers-scripts-versus-modules).

[2017-12-29 15:00] sokra commented on #669
There is a multiStep mode for the HMRPlugin. You can try it if you want but don't expect too much.

[2017-12-29 15:12] mgolshan-talentnet opened #6211 "The index html file is not being generated with HtmlWebpackPlugin in Linux"
I have a react project and while building the project, this command runs:
[code]

When I build the project in Windows, it generates the fingerprinted index file like `index.1514560078687.html` inside the folder `build` along with other assets and files.
But, when I run it in Ubuntu, it generates all files but the index file. Even if I set `filename: '/index.html'`, it won't be generated.

Any idea

[2017-12-29 15:35] sokra commented on #6211
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2017-12-29 15:35] #6211 closed

[2017-12-29 15:44] mgolshan-talentnet commented on #6211
OK.
Sure.
Sorry about that

[2017-12-29 17:52] Maykonn commented on #2451
I'm usign aws web sdk resulting my code in ~3MB!!!!
I try to include externals: [nodeExternals()], this reduce the code to ~30kb but require is not defined :(

[2017-12-29 19:18] vincentriemer commented on #6179
Can there be documentation elaborating how the wasm is compiled in the wasm-simple example? I'm having issues loading some of my own wasm and I want to ensure it's not a user error before bringing it forward.

[2017-12-30 07:14] nerdchacha commented on #5954
In case if someone stumbles upon this

Use similar configuration to get tree shaking working for multiple entry points/ bundles

**Folder Structure**
[code]

**module.js**

[code]

**sum.js**
[code]

**diff.js**
[code]

**webpack.config.js**
[code]

**package.json**
[code]

**start.js**
[code]

**.babelrc**

[code]

The final bundles will have only the functions that were actually used
i.e **`dist

[2017-12-30 22:50] avilv commented on #5478
@ldeavila "cache:false" where? what plugin?

[2017-12-30 23:21] LukeSheard commented on #1562
Did anyone ever get a working demo of an in-memory FS replacement then?

[2017-12-30 23:41] #5077 closed

[2017-12-31 01:57] chrisdothtml commented on #1908
@sokra I've seen this topic come up in a few different issues now, and haven't been able to find an actual reason why the `output.path` needs to be absolute. Is there any reason why webpack can't resolve relative to the cwd by default, considering that is arguably the most common use case (also considering [it defaults to the cwd](https://github.com/webpack/webpack/blob/1ffcd28c0ee225dd224958b3f48

[2017-12-31 13:49] sarkiroka opened #6216 "devtool: "source-map" how to pass publicPath option?"
**Do you want to request a *feature* or report a *bug*?**
I don't know

**What is the current behavior?**
I try to use both of devtool: "source-map" option and this plugin: https://webpack.js.org/plugins/source-map-dev-tool-plugin/
But I cannot found a way to pass publicPath to sourceMap plugin when it defined in devtool.
When I use only the plugin:
[code]
then it generated as well in javascript f

[2018-01-01 00:10] imam commented on #4160
@tugayilik It's working. May I ask you to explain why is it making any difference? I'm curious

[2018-01-01 03:31] genei09 commented on #1914
This might sound odd but how many CPU cores is your host setup with for docker?  I found that increasing to from 2 to 4 eliminated this error for me.

[2018-01-01 07:24] ORESoftware commented on #1531
I need help with this

when I used `ng build --prod` the problem goes away...but when I use `ng build` I get the eval related code. Does anyone know a setting I can use with Angular apps to turn off the unsafe code in development?

[2018-01-01 09:03] sokra opened #6220 "CatchClause can't handle Patterns"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
* The Parser handles pattern in `catch()` incorrectly. i. e. `catch({ message })`.
* The Parser handles empty `catch()` incorrectly. (This is a new spec)

**What is the expected behavior?**
patterns and `null` in catch are parsed correctly

**Please mention other relevant information such as the browse

[2018-01-01 12:55] blikblum opened #6221 "Unused harmony exports are exported in v4.0.0-alpha.2"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Unused harmony exports are exported in v4.0.0-alpha.2 (in v3.10 they are not exported).

**If the current behavior is a bug, please provide the steps to reproduce.**

* Install v4.0.0-alpha.2
* A minimal webpack.config:

[code]

* A module (my-module.js) that exports two objects:
[code]
* An entry (t

[2018-01-01 14:37] rparjun commented on #5543
@sokra I would like to work on this.
I couldn't find the array of files which matches the request in the source(as you mentioned in the comments), I suppose we can do a `fs.readdir` and get all the files in the requested directory?

[2018-01-01 17:29] random-forest commented on #6157
In my opinion, I did it. What should I do next?

[2018-01-01 18:25] tugayilik commented on #4160
@imam According to node.js documentation;

Simply how **resolve** works;

`path.resolve('/foo', '/bar')` _outputs /bar_

This will always result in absolute url, simply passing __dirname as first argument doesn't matter in this case. Calling path.resolve() without any argument will give you __dirname.

According to my example, if i want to use path.resolve i need to use it like `path.resolve('reso

[2018-01-01 20:59] sokra commented on #6157
Send a PR.

[2018-01-01 23:49] NeoVance commented on #1315
@earslap if your cache does not invalidate when the contents of a file changes than perhaps you should look into fixing that.

Personally, I don't understand the obsession with using hashes in file names. There are far more simple, and easy to use methods of versioning files, and cache busting. This really isn't even an issue in webpack's wheel house to solve for you.

I feel like this is not some

[2018-01-02 00:54] QuietWind commented on #6168
version: webpack@3.10.0
plugins: dll-link-webpack-plugin@1.0.4

@sokra

[2018-01-02 01:12] ashblue commented on #1576
https://github.com/liady/webpack-node-externals not only fixed my warnings / errors. It also reduced my file size tremendously from 2mb+ to 10kb.

[2018-01-02 02:46] michael-wolfenden commented on #1315
@NeoVance curious to hear what alternatives there are to file hashing

[2018-01-02 02:47] random-forest commented on #6157
👍

[2018-01-02 04:42] Kielan opened #6223 "impossible to debug based on logs when adding plugins TypeError: arguments[i].apply is not a function"
**Do you want to request a *feature* or report a *bug*?**
This is a bug because there is no documentation and related issues are "old" and not being actively resolved.

**What is the current behavior?**
Whenever I add a plugin such as the chunk below should throw no error. but throws a cryptic message `TypeError: arguments[i].apply is not a function`in webpack 3 and similar in webpack4. There shou

[2018-01-02 08:43] #6206 closed

[2018-01-02 09:29] ooflorent commented on #6223
ˋplugins` should be defined at root level. Not into ˋmoduleˋ.

[2018-01-02 12:01] joe223 commented on #4160
I got the same issues
[code]
`modules` is not working，
this is Error message
[code]

[2018-01-02 12:15] MagicPoulp commented on #6197
I am curious to know if you can parallelize and speed up the build as much when using the official way. See question in previous post.

[2018-01-02 13:08] sokra commented on #6221
Did you run in production mode?

[2018-01-02 13:09] sokra commented on #6216
You can't pass it with `devtool`, use the plugin instead.

[2018-01-02 13:10] sokra commented on #6216
also pass `sourceMap: true` to the UglifyJsPlugin.

[2018-01-02 13:29] phyllisstein commented on #6179
I seem to have stumbled over another error when building for production, this time with what looks like module concatenation:

[code]

Aside from [gisting my config](https://gist.github.com/phyllisstein/67e90ae702e2346fbe7b295146961757), is there any useful detail I can provide about this?

[2018-01-02 13:57] blikblum commented on #6221
No, the script just runs `webpack --display=verbose` with the above config.

Since i'd like to evaluate the output code, production mode would obfuscate being harder to see the generated code.

One thing that i noticed is that v3 logs that only View export is being used (`[only some exports used: View]`), while v4 does not logs that info:

v3 log:
[code]
v4 log:
[code]

[2018-01-02 14:22] #6205 closed

[2018-01-02 14:22] #6201 closed

[2018-01-02 14:32] sokra commented on #6063
The ProgressPlugin has now a new feature to allow fine progress reporting by plugins. This is how it can be used:

[code]

[2018-01-02 14:32] sokra commented on #6063
Somebody can send a PR to add this to expensive plugins

[2018-01-02 14:39] sokra commented on #6221
It only does that optimization in production mode. What's your `mode` setting?

[2018-01-02 15:02] michaelBenin commented on #1315
@michael-wolfenden prior to webpack hashes and manifest, we versioned static files using the git sha or build number, as well as setting `Cache-Control: max-age=31536000`

[2018-01-02 15:51] sokra commented on #6179
@vincentriemer I "compiled" them with this tool: https://cdn.rawgit.com/WebAssembly/wabt/fb986fbd/demo/wat2wasm/

@phyllisstein Could you check with `npm ls webpack` if there are multiple version of webpack somewhere.

[2018-01-02 15:57] blikblum commented on #6221
I did not configured `mode`

The configuration that i know is putting in the config the following options
[code]
If i use `concatenateModules`, nothing is exported (as per design)

Is there any optimization flag that would enable this feature without `concatenateModules`?

[2018-01-02 15:58] vincentriemer commented on #6179
@sokra Ok thanks 🙏, I figured out the issue being that I was compiling via emscripten and it generates a lot of required JS glue code (provided to the wasm via imports) so it seems webpack's wasm loading isn't sufficient for this usecase.

Thanks again for replying!

[2018-01-02 16:37] michael-wolfenden commented on #1315
@NeoVance @michaelBenin the issue with using the git sha or version number is that if you doing continuous deployment and depoying multiple times a day, the vendor bundle version constantly changes with changes to the app bundle version thus invalidating it's cache. This is the problem that file hashes are intended to solve.

[2018-01-02 17:25] mikejacques007 opened #6224 "Where is the documentation for this form of configuration file?"
and should I be using it.  I've spent hours on Google and the webpack site but could not find any mention of this form?

[code]

part does not follow the documentation.  I'm having numerous issues and I'm not sure that this is the culprit but I need to know where the documentation is for this.

[code]

[2018-01-02 18:05] pycarlos commented on #1663
Hi there, Any news?

[2018-01-02 18:31] mhegazy commented on #2899
TypeScript 2.5 and later emits an `@class` comment on classes to inform minifiers that there are transpiled from an ES6 class. See https://github.com/Microsoft/TypeScript/issues/13721 for more details.
It is also worth nothing that to use this with uglify a string-replace plugin is needed to convert to `/** @class */` to `/*@__PURE__*/`. see https://github.com/mishoo/UglifyJS2/issues/2279 for more

[2018-01-02 18:51] kzc commented on #2899
Also worth noting that Babel 7 will emit `/*@__PURE__*/` annotations for class IIFEs.

https://babeljs.io/blog/2017/09/12/planning-for-7.0#pure-annotation-in-specific-transforms-for-minifiers

[2018-01-02 19:10] #6224 closed

[2018-01-02 19:11] sokra commented on #6221
yep, just use `mode: "production"` and omit all the `optimization` stuff.

It actually should give you a warning when omitting the `mode` option.

[2018-01-02 19:34] sindresorhus commented on #2537
I've made a webpack plugin, [`node-env-webpack-plugin`](https://github.com/sindresorhus/node-env-webpack-plugin), that works around this by setting `process.env.NODE_ENV` to `production` in the Node.js process when you run `webpack -p`.

[2018-01-02 21:06] glebmachine commented on #1663
I gave writen image preloader on framework layer, not webpack.

[2018-01-02 21:16] pycarlos commented on #1663
@glebmachine can you share your fix?
I tried to use preload-image-loader but its not work.

[2018-01-02 21:21] danbucholtz commented on #1562
@lukeapage,

We do in Ionic.

Here's the project:
https://github.com/ionic-team/ionic-app-scripts

Here's the overriding of the file system:
https://github.com/ionic-team/ionic-app-scripts/blob/master/src/webpack/ionic-environment-plugin.ts#L54-L55

Here is my implementation of the watching system.
https://github.com/ionic-team/ionic-app-scripts/blob/master/src/webpack/watch-memory-system.ts

Than

[2018-01-02 22:23] glebmachine commented on #1663
That is not a loader for webpack, it's a just some code like this:

[code]

that's all

[2018-01-02 23:10] sindresorhus commented on #196
@sokra @TheLarkInn Can you please reopen? This is super annoying for authors of modules that end up being used by webpack. For example, https://github.com/sindresorhus/electron-store/issues/3. As a module author, I should at least have a way to tell webpack to ignore a `require` statement. I would be ok with something like this:

[code]

[2018-01-03 00:11] #5068 closed

[2018-01-03 01:14] blikblum commented on #6221
By setting `mode: "production"` the modules are concatenated, so there's no reason to have a export at all.

While still not the output i was looking (non concatenated module without exporting unused modules - like v3),  `mode: "production"` removes the unused export from the bundle which, in the end, is the desired effect.

From my mind there's a potential issue  when module concatenation bailout

[2018-01-03 01:14] #6221 closed

[2018-01-03 04:51] dropbeardan commented on #1977
Not sure if ongoing concern, I am currently running:
react: ^16.2.0,
webpack: ^3.8.1

As suggested by #2427, I am able to get the correct response via the following:

[2018-01-03 05:42] NN--- commented on #5828
What is the solution for core-js provide
For instance:
ProvidePlugin([“Object.assign”: “core/fn/Object/assign”])

Unfortunately in this case it replaces Object.assign in core-js and there is no way to say to not replace there.

[2018-01-03 05:45] lukeapage commented on #1562
I think you meant to mention @lukesheard

[2018-01-03 09:26] NN--- opened #6226 "ProviderPlugin should have feature to skip files"
**Do you want to request a *feature* or report a *bug*?**
Feature if it doesn't exist.

**What is the current behavior?**
Currently ProviderPlugin goes over all files and makes changes.
The problem arises with modules which use default object if provided.
For instance:

[code]

Using ProviderPlugin as:

[code]

Then the output is:

[code]

**What is the expected behavior?**
I would like to have ex

[2018-01-03 10:17] sokra commented on #6221
There is also `optimization.usedExports: true`, if you want to try unused export elimination on it's own.

[2018-01-03 12:02] timkendrick commented on #196
To summarise: while webpack is a great resource for statically bundling imports, this issue arises when a 3rd-party library uses a `require()` expression to e.g. load a JSON or JS config file at runtime.

I agree with @sindresorhus' suggestion that there should be some way of indicating to webpack that a specific `require()` expression should be ignored; additionally on the webpack side, it'd be g

[2018-01-03 12:06] timkendrick commented on #196
BTW @sindresorhus I imagine if you need a quick fix for this you can replace the `require(require(pkgPath))` with `JSON.parse(fs.readFileSync(require(pkgPath)))` in https://github.com/sindresorhus/conf/blob/master/index.js – it seems you're not relying on the `require` cache anyway so I'm not sure if there's much benefit to using `require` here… I might well be wrong though!

[2018-01-03 14:55] filipesilva commented on #6179
Heya, I tried updating Angular CLI from `alpha.0` and started having this error:
[code]

Not really sure what's going wrong or how to find the problem. Does this error ring a bell to anyone?

[2018-01-03 15:32] Gullfaxi171 opened #6230 "error reading webpack.config.ts when node_modules is in parent folder"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
my webpack.config.ts (the extension is ts, not js) starts with:
[code]
Building my project works perfectly when webpack.config.ts is in the same folder than node_modules (which contains ts-node and webpack as devDependencies)

However when the *node_modules* folder is in a parent folder, I get

[code

[2018-01-03 17:06] niieani commented on #2592
@webpack-bot fist-bump

[2018-01-03 17:27] technicallyfeasible commented on #5532
I believe this would also get me closer to a fix for my usecase. I am using dynamic splitting on a bundle that is loaded in the browser as well as node (for SSR using React). The bundle fails to load on the server because of the direct access to "window".
I would expect code splitting to support being loaded in both environments and fall back to simple "require" on node.js

[2018-01-03 18:03] amorenew opened #6232 "adding alias by webpack cli"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
I Manually add alias to webpack
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I can add alias from  package.json by script using webpack cli
**If this is a feature request, what is motivation or use case for changing the behavior?**

[2018-01-03 18:06] karaxuna opened #6233 "Import typescript file from another folder with another configuration"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**
Suppose we have following folder structure:

    /folderA
        indexA.ts
        webpackA

[2018-01-03 18:23] kellym commented on #1473
Still experiencing this issue. Haven't found a solution yet, either using `file-loader` or `url-loader`.

[2018-01-03 18:58] eranimo commented on #2911
Can you elaborate?

[2018-01-03 20:01] sokra commented on #6232
webpack allows to configure `resolve.alias`. It's create-react-app that hides this configuration. You should report it there, but I guess they won't add this.

[2018-01-03 20:01] #6232 closed

[2018-01-03 20:15] TheLarkInn opened #6234 "[Refactor] - Move dirTimestamps to Set to prevent deopts"
This is a good contribution opportunity. See [this PR comment](https://github.com/webpack/webpack/pull/6229#pullrequestreview-86355358)

We can move the dirTimestamps to a Set for better performance. Please followup if you have any questions or need direction on this.

Tagging @ooflorent whom can also assist.

[2018-01-03 20:34] #5891 closed

[2018-01-03 21:00] #5970 closed

[2018-01-03 21:09] sokra commented on #6233
A webpack configurations describes a "build" not the "import". What's the motivation for this?

[2018-01-03 21:11] sokra commented on #6230
@webpack-bot move to webpack/webpack-cli

[2018-01-03 21:11] #6230 closed

[2018-01-03 21:12] #6220 closed

[2018-01-03 21:16] sokra commented on #6179
@filipesilva It doesn't ring for me. You should run this with debugger attached to inspect some variables. Call stack doesn't look deep to me...

[2018-01-03 21:21] sokra commented on #6113
vendor-scripts is a parent of a, b and c (see chunks option). You must include the vendor-scripts.js file before including a.js. It's missing in the indexA.html.

Try to run with `--display-entrypoints` to print required output files for each html.

[2018-01-03 21:45] karaxuna commented on #6233
@sokra I have core module written with typescript, also I have 2 more modules written with typescript that should use core module, but with different configuration, one is react native and second is web. I know I can build core and then import js and use typescript definition file, but that's not comfortable when in development mode.

[2018-01-03 22:15] mattfors commented on #5629
I've gotten the same issue and --display-error-details doesn't show any more info still just 'ERROR in'

[2018-01-04 00:21] #5097 closed

[2018-01-04 01:31] HipsterZipster commented on #6179
Which typescript loader options are compatible with this release of 4.0.0-alpha.2? awesome-typescript-loader doesn't seem to be working properly.

[2018-01-04 04:52] milewski commented on #4861
in my case i was using typescript so 1 it was removed the comments, 2 it was transforming the import to a promise ... setting `module:esnext` worked for me

[2018-01-04 06:16] rowdown commented on #6234
I like to help out here.

[2018-01-04 08:13] NameNull opened #6237 "how to visit local webpack-dev-server through LAN"
I add the host 0.0.0.0 to the options of devServer, but I can only visit the file 192.168.0.149:8080 in through local access, but not LAN, why?

[2018-01-04 08:14] NameNull commented on #6237
i defined the port 887

[2018-01-04 08:15] NameNull commented on #6237
![image](https://user-images.githubusercontent.com/11754843/34554983-7277fec2-f16a-11e7-9d03-88b659b14452.png)

[2018-01-04 08:16] NameNull commented on #6237
![image](https://user-images.githubusercontent.com/11754843/34555015-99940f3c-f16a-11e7-8dd1-e277d1cdb6f0.png)

[2018-01-04 08:20] NameNull commented on #6237
![image](https://user-images.githubusercontent.com/11754843/34555104-0dff0f02-f16b-11e7-86aa-66ca888e2d23.png)

B computer

[2018-01-04 08:20] NameNull commented on #6237
A and B is in the same LAN

[2018-01-04 08:22] NameNull commented on #6237
![image](https://user-images.githubusercontent.com/11754843/34555168-537517a2-f16b-11e7-9111-3ddd0f23889f.png)
![image](https://user-images.githubusercontent.com/11754843/34555178-5d24efb6-f16b-11e7-99d2-b965fab9bb76.png)

and my config is here

[2018-01-04 10:09] TurboTim commented on #5474
Yep I am getting the same error, yarn rm/install not working

[2018-01-04 11:04] sokra commented on #6237
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-04 11:04] #6237 closed

[2018-01-04 11:06] sokra commented on #6233
Why do you need a separate webpack configuration for importing the core. Just import it.

[2018-01-04 12:27] karaxuna commented on #6233
@sokra I want core to be isolated, with different aliases.

[2018-01-04 12:34] nename0 opened #6239 "require-ensure should not include initial chunks"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When the `require-ensure` / `__webpack_require__.e` method is generated for the runtime code it includes initial chunks. I think this is wrong because of two reasons:
1. When a [chunk is mapped to a filename](https://github.com/webpack/webpack/blob/9a0da7bcf3e082b4babefd0974a7ce9fe375ffcc/lib/Compilati

[2018-01-04 12:47] pavlovt commented on #4549
I just added to my dev dependencies:
"webpack": "2.2.0",
"webpack-dev-server": "2.3.0"
and it worked.

By the way great work guys from the webpack project - you managed to break probably 90% of the projects which are using your package...

[2018-01-04 12:57] kjabrzyk commented on #2537
I think it has become much easier to do in Webpack 3 with Environment Variables. You can read about them here: https://webpack.js.org/guides/environment-variables/

You can define build script in `package.json` as follows:
[code]
Then you just need to pass `env` variable to your `webpack.config.js`.
For example:

[code]

[2018-01-04 14:03] funcphp commented on #4921
@danielzlotnik +1
Is there a solution?

[2018-01-04 14:05] jaywcjlove commented on #6159
`fs.writeFile` lead to repeated compilation. `after-resolvers write` a file, introduced.
@sokra

[2018-01-04 14:31] filipesilva commented on #6179
@sokra thanks for the tip. After messing around with the debugger and some console.logs for a bit turns out it was the RxJS path mapping alias: https://unpkg.com/rxjs@5.5.2/_esm5/path-mapping

They are used in the webpack config resolve object this way: https://github.com/ReactiveX/rxjs/blob/master/doc/lettable-operators.md#build-and-treeshaking.

Is this perhaps related to `Moved Compiler.resolve

[2018-01-04 14:56] pleerock commented on #1905
I have similar issues with as discussed in angular/angular-cli#5618 . Our project consist of around 2600 files and over 300 chunks and `RemoveParentModulesPlugin` execution takes about 1 hour. We are not able to use neither `build` neither `serve` processes without waiting an hour.

First 10 minutes of CPU profiling of this process:

![webpack-perf-issues](https://user-images.githubusercontent.com

[2018-01-04 15:02] neeharv commented on #6234
@TheLarkInn I'll tackle this, is there a way I can benchmark any perf improvement with this?

[2018-01-04 15:05] sokra commented on #1905
@pleerock Please try with latest webpack version and open a new issue when this still occurs

[2018-01-04 15:07] sokra commented on #6179
@filipesilva ah I see. That's a problem in enhanced-resolve.

[2018-01-04 15:13] MhMadHamster commented on #6113
thanks for reply @sokra i do understand that this would fix the error and why it is fixin it, but the point of this issue is that even if vendor-scripts is a parent of "a" but "a" do not contains any modules which are being placed in vendor-scripts it's shouldnt be required to include vendor-scripts on the page, because otherwise you have to specify chunks options for vendor-scripts and this could

[2018-01-04 15:14] graingert commented on #5578
@sokra what's the difference between https://github.com/webpack/webpack/milestone/15 and https://github.com/webpack/webpack/milestone/17 ?

[2018-01-04 15:19] ooflorent commented on #6234
@neeharv I usually measure perfs by bundling webpack itself or using ˋyarn link webpack` inside a huge project.

[2018-01-04 15:24] neeharv commented on #6234
@ooflorent Thanks! I'll try that out. I'm thinking of editing `NodeWatchFileSystem` to convert the times object from Watchpack to a Map. Does that seem like the right approach?

[2018-01-04 16:00] rosea1 opened #6241 "Watch bug"
BUG

Ok perhaps i am doing this wrong as i am new to webpack but surely i cant be the first person to try this. When i run webpack with the --watch option, it seems to start the watching of the files before all the build occurs. Therefore during the build when im using HTML webpack plugin to create files and using copy plugin to move files to dist folder, webpack seems to get stuck in a loop becau

[2018-01-04 16:02] sokra commented on #6233
hmmm... that doesn't work. Maybe you can have multiple tsconfig files, I don't know. But you can't have multiple webpack configs in one build.

[2018-01-04 16:02] #6233 closed

[2018-01-04 16:07] sokra commented on #6239
That's true.

Try changing `hasRuntime` to `isInitial` in this line https://github.com/webpack/webpack/blob/8e9470cb967d9d15df5c755d3bea07987d73e9a3/lib/Chunk.js#L547

When this works, send a PR.

[2018-01-04 16:22] sokra commented on #5578
4 -> before v4 release
4.x -> after v4 release

[2018-01-04 16:22] sokra commented on #5578
This is done

[2018-01-04 16:22] #5578 closed

[2018-01-04 16:23] filipesilva commented on #6179
@sokra I think there might be a problem with that fix, I tried using `4.0.0-beta.3` and now I get this:
[code]

[2018-01-04 16:25] sokra commented on #6194
It would be great if you look further. We can't mark node 6 as unsupported.

[2018-01-04 17:19] drejohnson commented on #6179
I have the same issue as @filipesilva

[2018-01-04 18:35] pleerock commented on #1905
@sokra do you mean latest 4 alpha version or latest 3.x version?

[2018-01-04 18:46] nickmealey commented on #2983
+1 Also having an issue with this

[2018-01-04 19:03] cedeber commented on #5017
As `chunk.modules` is deprecated, here is a fixed and optimized version:
[code]
Don't forget to remove or change the file extension in `path.basename` as needed.

[2018-01-04 19:19] #6174 closed

[2018-01-04 19:53] sokra commented on #6179
hmm... yeah, I'll fix it

[2018-01-04 19:58] sokra commented on #6179
hopefully it's fixed now

[2018-01-04 20:22] TheLarkInn commented on #196
I believe there is a userland third party plugin that ignores this (specifically designed for bundling your node apps and NodeJs specific modules. Perhaps there's some huristics we can leverage and inform users about this.

@sindresorhus are you starting to ship esm yet for your modules? Not making an argument for not using dynamic requires, but more curious then anything how often you use them.

[2018-01-04 20:49] #6239 closed

[2018-01-04 21:06] nename0 opened #6243 "TemplatedPathPlugin updates chunkhash unnecessarily"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
As I already tried to explain [here](https://github.com/webpack/webpack/pull/6242#issuecomment-355377596):
This code updates the chunkhash of chunks, which have runtime code.
https://github.com/webpack/webpack/blob/9a0da7bcf3e082b4babefd0974a7ce9fe375ffcc/lib/TemplatedPathPlugin.js#L106-L108
However af

[2018-01-04 21:36] sokra opened #6244 "webpack 4.0.0-alpha.3/4 feedback"
[4.0.0-alpha.0](https://github.com/webpack/webpack/issues/6064)
[4.0.0-alpha.1](https://github.com/webpack/webpack/issues/6132)
[4.0.0-alpha.2](https://github.com/webpack/webpack/issues/6179)

# Features

* allow to import JSON via ESM syntax
* add unused exports elimination for JSON modules
* many config options which support placeholders now also support a function
* `entry` defaults to `./src`

[2018-01-04 21:46] sokra commented on #6179
continue testing here: https://github.com/webpack/webpack/issues/6244

[2018-01-04 21:46] #6179 closed

[2018-01-04 22:09] NicholasLYang opened #6245 "Webpacker Breaking Webpack?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
When I run `webpack`, I get the following error:

`webpack config /Users/nicholas/cs_projects/content-editor/config/webpack/development.js not found, please run 'bundle exec rails webpacker:install' to install Webpacker with default configs or add the missing config file for your custom environment.`

Weir

[2018-01-04 23:21] KidkArolis commented on #6244
Hm.. why not `.` as default `entry`? Similar to `node .`. Means you can create `index.js` and choose your src dir. (It's what I'm exploring in https://github.com/KidkArolis/jetpack)

[2018-01-05 00:48] Sinewyk commented on #6194
Well, I've cloned the v8 mirror from github, I've looked through all commits between  5.1.281.109 and 5.4.500.36 looking for (grep) "Object" or "equal" or "reference" and I didn't find anything useful.

For my use case I'll just upgrade to node 8 LTS asap (and while waiting just disable the ModuleConcatenationPlugin) and I'll be good to go.

And by unsupported I meant maybe just a note for the Mod

[2018-01-05 03:37] KhasanovBI commented on #1189
![image](https://user-images.githubusercontent.com/8990821/34594573-ebe138c8-f1e2-11e7-8085-e03f2779736f.png)

[2018-01-05 04:57] MagicDuck commented on #1905
@pleerock i believe @sokra made some improvements to that plugin in 3.8.x

[2018-01-05 05:30] pleerock commented on #1905
@MagicDuck those tests are from webpack@3.10.0

[2018-01-05 07:06] devinRex commented on #4861
Set the comment in .babelrc to false.`comments: false `
`  require.ensure([], (require) => resolve(require('@/views/ensureChunk.vue')), networkError, 'ensureChunk');`

` import(/* webpackChunkName: "import-chunk" */ '../views/importChunk.vue')`

[2018-01-05 09:40] MagicDuck commented on #1905
@pleerock 1 hour seems rather long for even the worst algorithm unless there is a very bad bug. I wonder if  it's spending most of the time garbage collecting cause it's on the edge of the memory limit. Are you giving node enough memory? (max_old_space_size)

[2018-01-05 09:59] ev1stensberg commented on #6157
@random-forest here's an example of how you can do it, using [`inquirer`](https://github.com/SBoudrias/Inquirer.js):

https://github.com/webpack/webpack-cli/blob/master/lib/commands/serve.js

[2018-01-05 10:00] #6162 closed

[2018-01-05 10:47] fhchina opened #6246 "Couldn't use DllPlugin and DllReferencePlugin in same webpack.config.js"
The following is my configuration:
   new webpack.DllReferencePlugin({
            manifest: require('./dist/vendor.manifest.json'),
        }),
        new webpack.DllReferencePlugin({
            manifest: require('./dist/pluginframework.manifest.json'),
        }),
        new webpack.DllPlugin({
            name: '_dll_[name]',
            path: path.join(__dirname, 'dist', '[name].manifest.js

[2018-01-05 10:48] fhchina commented on #6246
but if I remove the DllPlugin as following:
new webpack.DllReferencePlugin({
manifest: require('./dist/vendor.manifest.json'),
}),
new webpack.DllReferencePlugin({
manifest: require('./dist/pluginframework.manifest.json'),
}),

everything works. I just want a Dll can reference another Dll, just like .NET and Java.

[2018-01-05 11:28] donaldpipowitch commented on #6244
I like `./src` as a default `entry`. I _personally_ see more projects with a `src` folder than anything else (maybe someone could analyze projects on GitHub for this...?) and there is probably less need to have a different directory name (so why not offer a default name). As a nice side effect: other languages/frameworks also use `./src` quite often (e.g. Rust with `cargo`).

[2018-01-05 13:58] felipenmoura commented on #125
This is all very interesting.
Is there a way I can/could identify when a watch event was triggered due to a new file, or to a "file changed"?

[2018-01-05 14:15] githoniel opened #6247 "Syntax Error: Unexpected token for async generator"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]
with babelrc
[code]
error with
[code]
If I use babel-stage2 to transform async/await and generator. It works well.
But I don't need it, I just want to use native async generator

**If the current behavior is a bug, please provide the steps to reproduce.**
https://github.com/githoniel/async-gener

[2018-01-05 14:20] filipesilva opened #6248 "RemoveParentModulesPlugin takes a long time with hundreds of chunks"
**Do you want to request a *feature* or report a *bug*?**
I want to report a performance bug.

**What is the current behavior?**
In projects with a lot of chunks, a lot of time is spent on `RemoveParentModulesPlugin`.

The original report (https://github.com/angular/angular-cli/issues/5618#issuecomment-354973859) detailed a 1h build time for a non-production (no uglify etc) build.

The project use

[2018-01-05 14:47] Jack89ita commented on #5455
@yachaka have you found any solutions to this? I've got the same problem..

[2018-01-05 16:06] ooflorent commented on #6247
That's the expected behavior. Async generators are not part of ECMAScript specification, yet, see https://github.com/tc39/proposal-async-iteration for more information. Webpack uses an ES2017 compliant parser and adds support for dynamic imports. That's the only supported feature that is not included in the spec. For others, please use a transpiler.

This does not mean that Webpack have to support

[2018-01-05 16:06] #6247 closed

[2018-01-05 16:49] leohxj commented on #1403
Below is my way to write webpack config with Babel:
- rename `webpack.confg.js` to `webpack.config.babel.js`, make babel-loader can handler webpack config
- turn off  preset option `module: false` in `.babelrc`, because Node.js will execute the result of `webpack.config.babel.js`, if you keep `module: false`, the result will have `import` keyword, Node.js only know `require` in current LTS 'Carbon

[2018-01-05 17:17] sompylasar commented on #6244
I agree with @donaldpipowitch, and having `src` separated from everything else is a pattern that scales better. Leave the root for directories and metadata (package.json etc.).

[2018-01-05 17:56] ooflorent commented on #6248
I have an idea to fix this but I need a repo where the build is moderately long (from 10s to 5min) because of this plugin. Could someone provide it?

[2018-01-05 18:09] filipesilva commented on #6248
I don't have one, I'm sorry... Investigation on this was mostly from exchanges with @pleerock over at angular/angular-cli#5618 (he's the one that experiences the problem).

I'm guessing it's because of the chunk quantity but to be honest it might not be.

[2018-01-05 18:24] TheLarkInn commented on #6244
Precisely what @donaldpipowitch said. This is our opportunity to use a pretty common pattern as a default.

[2018-01-05 19:08] sokra commented on #6245
Report this to webpacker

[2018-01-05 19:08] #6245 closed

[2018-01-05 19:14] sokra commented on #6248
Please try webpack 4. There is a 80% chance that this has been fixed.

[2018-01-05 20:06] pleerock commented on #6248
@filipesilva is it possible to use angular cli with webpack 4? (maybe with night builds) then I can check it?

[2018-01-05 20:07] pleerock commented on #1905
@MagicDuck yes, max_old_space_size is being set by me to 8gb

[2018-01-05 20:08] ooflorent commented on #6248
I've opened a PR to attempt to fix this. Another maybe-solution could be to replace the `Queue` by a `UniqueQueue` to avoid processing the same chunk multiple times.

[2018-01-05 20:16] ooflorent commented on #5304
Fixed in #5338

[2018-01-05 20:16] #5304 closed

[2018-01-05 21:12] TaroWong commented on #2675
My problem is this

` <img src={require`${this.state.currentIco}`} `

Are there any ways to fix this?

[2018-01-05 21:15] KidkArolis commented on #6244
👍

[2018-01-05 21:26] filipesilva commented on #6248
@pleerock I have https://github.com/angular/angular-cli/pull/8611 but it probably will break on stuff. If you want to try it you'll have to link it to your project like detailed in https://github.com/angular/angular-cli#development-hints-for-working-on-angular-cli.

This might be a bit involved though. Happy to get on that screenshare you mentioned to help you set it up. Might have to disable stuf

[2018-01-05 21:31] RoyiNamir opened #6251 "Webpack doesn't use common chunks for Angular lazy loaded modules :"
I'm using Webpack with Angular and Nativescript .
I already know how to make the `compiler` to be removed when  `AOT` compilation.

It seems that CommonsChunkPlugin doesn't work ( or is it) with angular lazy loaded modules

My problem begins with lazy loaded modules. You see , when I load lazy modules ( `0.js` and `1.js` in image) , Where each  uses the `Http Module`  , it seems that `Http` is emb

[2018-01-05 21:41] probablyup commented on #6244
I would question not inspecting the package.json `main` field and using that as the entry.

[2018-01-05 22:12] sokra commented on #6246
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-01-05 22:12] #6246 closed

[2018-01-05 22:17] sokra commented on #6251
Yes the CommonsChunkPlugin supports this too. See documentation

[2018-01-05 22:17] #6251 closed

[2018-01-05 22:20] RoyiNamir commented on #6251
@sokra ive seen and tried with async with children bit it doubled the size of the files.

Can you please tell me what im doing wrong?

[2018-01-06 00:38] phyllisstein commented on #6244
Just following up on <https://github.com/webpack/webpack/issues/6179#issuecomment-354766364>: there was indeed a second Webpack instance installed, by `webpack-common-shake`; removing it resolved the issue.

Now I'm seeing some issues with JSON in production. Without using a JSON loader, the file attaches itself to `module.exports`...

[code]

...but when I import it the code looks for `exports.de

[2018-01-06 00:40] Justineo commented on #3070
A little off the topic: I want to point out that users are not always able to choose the browsers they use. Like here in China, many students/teachers/doctors/…, they use computers provided by their schools/hospitals/governments/…, which might receive a system image recovery everyday to prevent malware/virus/…, especially for poverty areas, where many schools are built with donation so they have r

[2018-01-06 01:21] MagicDuck commented on #3957
@sokra: stupid question. Could we just add an option to webpack which will make it assume that the harmony bindings are not live when turned on. Maybe somebody could correct me, but I can't think of any code where live bindings would be really useful/be a good practice. At least in our code base, I believe this to be the case. To me, it contradicts the whole concept ES6 import/export declaration b

[2018-01-06 01:25] fhchina opened #6252 "Couldn't use DllPlugin and DllReferencePlugin simultaneously in one webpack.config.js"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The following is my configuration, in one webpack.config.js:

[code]

I got the following error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It should correctly run, generate a DLL which depends on another DLL, and output mani