[2018-02-02 17:32] evilebottnawi commented on #6436
@budarin Thanks for issue, out of scope `webpack`, plugin is better for this.

[2018-02-02 17:32] #6436 closed

[2018-02-02 17:54] MtDalPizzol commented on #4445
@wzup , Sorry for the delay. It's a long time since I worked on this issue. I'm not sure if something has changed in newer Webpack versions. Bu notice: the [**repo I made**](https://github.com/MtDalPizzol/webpack-multi-starter) only deals with multiple vendors with common chunks. It gives you **big** vendor chunks, but it gives you **multiple** vendor chunks (one for each endpoint I need). You'll

[2018-02-02 18:07] axetroy opened #6437 "[Feature Request] Use virtual file as entry point"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

You must specify the entry point file path and output dir.

**If the current behavior is a bug, please provide the steps to reproduce.**

not a bugs.

**What is the expected behavior?**

We can specify the code string as an entry point.

**If this is a feature request, what is motivation or use c

[2018-02-02 18:25] axetroy commented on #6437
**For more detail:**

here is the file
- a.js

[code]

- b.js

[code]

I want pack them together.

I the version of current webpack.

I need to create a intermediary file **temp.js**

[code]

and then apply webpack api

[code]

pack done! but ``temp.js`` still there, that's wan't I want.

I can remove it by manual.

but I think, If webpack support virtual file as entry point. that will be cool.

[2018-02-02 19:39] nappy commented on #520
Yes, I think in general the best practice is to add `!/build` to `.npmignore`, so that your `/build` folder is part of the distribution.
That would leave the `dependencies` empty.
The only slightly confusing thing about this practice is, that for example create-react-app uses "npm start" for development. If you are strict about this it just should be a `no operation` because someone depending on y

[2018-02-02 19:51] JustinBeckwith opened #6438 "Uncaught TypeError: Cannot convert undefined or null to object"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

After building a bundle with the `google-auth-library` npm module, I am getting a runtime error in the generated JavaScript:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I put the relevant sources here (they're pretty simple):
https://gist.github.com/JustinBe

[2018-02-03 03:15] edude03 commented on #6326
I'm having the same issue thought with webpack 4.0.0 @ beta.0, from what I can tell so far, certain modules don't get bundled. for example in a file I have index.tsx

[code]
The line `import gql from "graphql-tag"` throws this error. Commenting it out causes the `import Slider from 'react-slick'` line to cause the same error. Moving those lines around to anywhere in my project triggers this error,

[2018-02-03 09:33] CJY0208 commented on #2715
Same question for me now with webpack 3.10.0 while building code like this
[code]

And I got this Error

[code]

The same line as this issue reporter's picture.
I'm going to Stack Overflow for searching the answer...

[2018-02-03 10:09] CJY0208 commented on #959
Same question for me now with webpack 3.10.0 while building code like this
[code]

And I got this Error

[code]

Error disappear after I remove `import 'babel-polyfill'` ...

[2018-02-03 18:58] Spongman commented on #1788
| Everything behave as specced

i was considering using webpack going forward. but this comment changed by mind. thanks for clearing that up for me @sokra

[2018-02-04 04:52] #1223 closed

[2018-02-04 06:52] TheLarkInn commented on #6414
Fixed with #6423

[2018-02-04 06:52] #6414 closed

[2018-02-04 06:57] TheLarkInn commented on #6413
@joshjg can you confirm that #6432 fixes your issue?

Just want to confirm and track.

[2018-02-04 07:00] TheLarkInn commented on #6434
@ekumlin, is there any way for you to verify some of this behavior on webpack 4?

[2018-02-04 15:51] joshjg commented on #6413
@TheLarkInn @sokra Confirmed the fix

[2018-02-04 18:10] catamphetamine opened #6439 "Consider renaming `lazy-once` to `lazy-bulk`"
Or something like that.
The relevant discussion: https://github.com/webpack/webpack.js.org/issues/1805#issuecomment-362858941

[2018-02-04 18:11] jmnsf commented on #959
In case you're bashing your head against the wall trying to figure this out, here's how I bumped into a fix:

In dev/test, add plugin `new webpack.NamedModulesPlugin()`.
In prod, add plugin `new webpack.HashedModuleIdsPlugin()`. Make sure you select a decent [hash digest length](https://webpack.js.org/plugins/hashed-module-ids-plugin/) for the amount of modules you have.

That's it, hope it helps.

[2018-02-05 04:35] TheLarkInn commented on #6413
Appreciate you taking the time to test this.

[2018-02-05 04:37] TheLarkInn commented on #5046
@g0t4 Sorry for the inactivity. This materialized into what we call the "type" property that now lives on the module object themselves. I think it's safe for this to be closed.

[2018-02-05 04:37] #5046 closed

[2018-02-05 05:52] #5339 closed

[2018-02-05 07:25] mikeaustin commented on #4861
I'm also having issues with webpackChunkName with a simple test project. I have chunkFilename and don't strip comments. It always generates a 0.bundle.js

module.exports = {
  entry: './src/index.jsx',
  output: {
    path: path.resolve(__dirname, 'dist'),
    filename: '[name].bundle.js',
    chunkFilename: '[name].bundle.js'
  },
  ...
}

I feel so close! I'm simply separating the login page fro

[2018-02-05 07:35] jonaswindey commented on #2972
Error for me came from the striptags package: https://github.com/ericnorris/striptags/issues/25

[2018-02-05 08:01] leinue commented on #5692
I want this too

[2018-02-05 08:08] isbdnt commented on #2030
babel-loader causes this weird problem.
ignoring the output directory  solves it;
![image](https://user-images.githubusercontent.com/26591233/35793979-be82ad70-0a8e-11e8-8826-aceadf48c69d.png)

[2018-02-05 08:32] milewski commented on #4861
@mikeaustin you know what.. one of my latest project which was working before out of suddenly started to output 0. 1. bundler names too!  it might be a bug with latest version of webpack.. try downgrading it a bit see if that works for you

[2018-02-05 09:01] ooflorent commented on #6437
@axetroy instead of `temp.js` you could do this:

[code]

I don't get why you would like to use a virtual file. Being explicit is always better. If you want to aggregate _imports_, use the above syntax. If you need to inject some code, create separate file or use `BannerPlugin`.

[2018-02-05 09:21] axetroy commented on #6437
@ooflorent
I got a project, pack the all js file into a new file. and all the original file still exist.

but the source code have been change.

**Example: pack them into a new js file**

- a.js

[code]

- b.js

[code]

- c.js

[code]

**expected behavior**

[code]

Use virtual file, I can custom how to pack it without create an intermediary file

**Here is the output**

This part is not the Webpa

[2018-02-05 09:24] ywmail commented on #3538
can anyone reopen this issue?
I'm facing the same problem.

[2018-02-05 09:26] ywmail opened #6440 "feature: DLLPlugin support upgrade without rebuild bundle using this dll"
reopen: https://github.com/webpack/webpack/issues/3538

# **Scenario**
I have a dll bundle called vendor contains common libraries a,b and c, and several app bundles using this vendor. Now library a released a new version

# **Question**
How can I only rebuild the dll bundle so I can use the new version of a, and not rebuild all app bundles using this bundle? I checked the manifest.json generated

[2018-02-05 09:28] axetroy commented on #6437
Any way.

Pack them up, and provider module for original file.

Virtual file make webpack be more personalized.

**Custom how to pack without create an intermediary file**

[2018-02-05 10:55] ooflorent commented on #6440
If you don't want your IDs to change use `RecordsPlugin` or `HashedModuleIdsPlugin`.

[2018-02-05 10:55] #6440 closed

[2018-02-05 12:28] bakrkawkji-trustly commented on #5627
@evilebottnawi can you explain why eval is needed please?

[2018-02-05 12:31] evilebottnawi commented on #5627
@bakrkawkji-trustly return global context

[2018-02-05 12:38] bakrkawkji-trustly commented on #5627
@evilebottnawi let me rephrase my question:
In what case `(1,eval)("this")` will be executed? isn't `Function("return this")()` is healthy enough way to return the global context without using eval? if `Function("return this")()` fails, it's more likely there's something wrong with the browser, so why trying to return the global context using `(1,eval)("this")`? I find this as an overkill way to o

[2018-02-05 13:10] AviVahl commented on #1750
`lodash` released 4.17.5, and the `lodash-es` package now contains the `"sideEffects": false` flag, which allows webpack4 to tree-shake lodash.

I've created a tiny repo showing the behavior: https://github.com/AviVahl/lodash-es-webpack4
There was no need to even use named imports.

[2018-02-05 15:43] hisapy commented on #2867
I've trying different webpack config combinations and what I discovered is that *tree-shaking* does NOT work when using `CommonsChunkPlugin`.

My 2 big libs that won't tree-shake are `rxjs` and `react-md`. If I remove all CommonsChunkPlugin from my plugins list in webpack config then tree-shaking works but I get a lot of repeated code so now I'm analyzing pros vs cons of commons chunks vs tree-sha

[2018-02-05 16:19] thiagoh commented on #2972
// tsconfig.json

`"target": "es6",` -> `"target": "es5",`

[2018-02-05 19:24] nappy commented on #520
@naeramarth7 Because is `npm start` defaults to `node server.js` which is normally what you want to do in production. You _can_ override it by script, but why would you deviate that much from the default and do something only for development there?
I know nothing about your project, other than its a npm project, I would assume `npm install --production && npm start` to **do something** (other than

[2018-02-06 00:23] damassi commented on #5703
Extending @sgal's answer, if rendering a SSR app, node requires `dynamic-import-node` so that it can parse `import()` statements. To use in hand with bundle splitting, add this at the entrypoint to your node app:

[code]

[2018-02-06 01:20] ywmail commented on #6440
@ooflorent Thanks, I think `HashedModuleIdsPlugin` solved my problem.

[2018-02-06 01:23] ywmail commented on #3538
I think `HashedModuleIdsPlugin` solved my problem.

[2018-02-06 01:23] gdborton commented on #6426
[code]

failed our build with:
[code]

Trying the other workaround now.

[2018-02-06 03:33] s1iqbal commented on #6390
Done tackling the problem!

[2018-02-06 03:46] damassi commented on #5703
Here's another solution: https://github.com/webpack/webpack/issues/5703#issuecomment-363267093

[2018-02-06 04:46] caseyWebb opened #6442 "[HMR] Can not accept update using module.hot.update('./file', cb)"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

"0"-prefixed octal literals and octal escape sequences are deprecated; for octal literals use the "0o" prefix instead

**If the current behavior is a bug, please provide the steps to reproduce.**

https://gist.github.com/caseyWebb/a5fdd929638f961ee673581e7d68ddb1

**What is the expected behavior?**

[2018-02-06 05:53] TheLarkInn commented on #2797
Hey all, we've landed some changes into webpack 4  (IRT zero config, easier commons chunk defaults). I think these things are a great start but doesn't solve the whole story. I think presets could be the next best thing, but we'd like to land presets in either 4.x or 5. So I'm going to change the milestone and keep tracking as we are slowly trying to whiddle down requirements for 4.0 release! Than

[2018-02-06 05:55] TheLarkInn commented on #6379
This has been fixed with #6380 by @ooflorent

[2018-02-06 05:58] TheLarkInn commented on #2867
Since this has been implemented in webpack 4 (#next branch), and landed, I'm going to close and lock this issue. Please submit a new issue, with a reproducible case and repo included if you believe there is something specifically that is not getting shaken by _webpack_. Otherwise please submit issues to relative projects (uglify, etc.), where appropriate.

[2018-02-06 05:58] #2867 closed

[2018-02-06 06:03] TheLarkInn commented on #6157
Hi there @abiduzz420, is there a PR already open for this? I'm tracking down all of our outstanding work for webpack 4 and want to get a status on this.

AKA: This will block webpack 4, or we should move this to the webpack 4.x milestone since we have 20 days to release.

[2018-02-06 06:14] TheLarkInn commented on #6036
@chaosheng-git I've not seen a specific commit for this landing in v4, but we are <30 days out from releasing v4 final, would you mind testing this on v4 and seeing if this is still an issue?

Thanks!

[2018-02-06 06:27] TheLarkInn commented on #6036
Will confirm this is an issue still in webpack 4.0.0-beta.

Ironically my case:
Changed file names, and then renamed path names, but had to repeat the @chaosheng-git's steps 3-5 2 times and reuse a filename for this to reproduce. As if the cache is not invalidating after the path/file rename is reused / rereferenced.

[2018-02-06 06:29] TheLarkInn commented on #6036
@sokra are we going to try and land this for v4 release? If so:

- [ ] Identify where contributors can help fix
- [ ] Add tests to guard this

[2018-02-06 06:51] TheLarkInn commented on #6074
@reergymerej is there any notes you could provide to assist others? Happy to help find another contributor.

[2018-02-06 06:52] pathikdevani commented on #4824
Any update?

[2018-02-06 07:23] TheLarkInn commented on #6373
This has landed. Thanks @franjohn21 for your contribution 🙇 🙇 🙇 🙇 🙇 🙇 🙇 🙇

[2018-02-06 07:23] #6373 closed

[2018-02-06 09:15] Rex90 commented on #5736
was this ever resolved?

[2018-02-06 09:26] wuchuguang commented on #5964
var timeout = setTimeout(onScriptComplete, 120000);
/******/ 		script.onerror = script.onload = onScriptComplete;
/******/ 		function onScriptComplete() {

}

webpack.3.10.0
At the wrong sometimes :  Loading chunk xx failed

[2018-02-06 10:44] abiduzz420 commented on #6157
No, not yet @TheLarkInn .I shall get it done soon.

[2018-02-06 10:45] lancee commented on #215
+1 please fix, thanks.

[2018-02-06 11:11] lancee commented on #215
Aha, I found the solution…

Change: `require("foo.css")` to `import "foo.css"` in JS, then I got the right order:

[code]

[2018-02-06 12:57] DenyVeyten opened #6449 "Allow context to accept an array for fallback functionality"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
*context* can be only a string

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
*context* accept an array of strings

**If this is a feature request, what is motivation or use case for changing the behavior?**
It would be great to u

[2018-02-06 18:09] caseyWebb commented on #6442
This was caused by including the `HotModuleReplacementPlugin` with `--hot`

[2018-02-06 18:09] #6442 closed

[2018-02-06 18:20] evilebottnawi commented on #5788
@imkimchi problem still exists?

[2018-02-06 18:22] evilebottnawi commented on #5733
@webpack-bot move to `webpack-contrib/extract-text-webpack-plugin`

Failed test https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/710

[2018-02-06 18:22] #5733 closed

[2018-02-06 18:30] evilebottnawi commented on #5978
@FranckFreiburger
Use:
1. Use `require('file-loader?{...}!convert-to-jpeg?name=[name]jpeg!image.png'`
2. Use `image.convert.png` and add loader `test: /\.convert\.png/`
3. **Best:** Implement in you loader `test/include/exclude` options and filters what files should be converted what not (example in plugin https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L115, bu

[2018-02-06 18:30] #5978 closed

[2018-02-06 18:32] evilebottnawi commented on #5736
@Rex90 use https://github.com/webpack-contrib/expose-loader loader for this purpose. `ProvidePlugin` for other purpose. Thanks!

[2018-02-06 18:32] #5736 closed

[2018-02-06 20:56] MagicDuck opened #6450 "EvalSourceMapDevToolPlugin: add ability to filter out certain modules"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Eval Sourcemap type can be specified through `devtool` option or through instantiating `webpack.EvalSourceMapDevToolPlugin`, but there is no option to include/exclude specific modules.

**What is the expected behavior?**
[code]
**If this is a feature request, what is motivation or use case for chan

[2018-02-06 20:57] MagicDuck commented on #6450
I'll create a PR.

[2018-02-06 21:10] reergymerej commented on #6074
The PR is https://github.com/webpack/webpack/pull/6334.  I just needed to switch the library doing with glob checking to minimatch and update tests.  The test structure is already there.  It's should be as easy as changing the library in the source and the assertions to go along with those in the PR review notes.

[2018-02-06 22:21] sokra commented on #6433
yes there are multiple issues with that:

---

Pre-knowledge:

webpack tries to treat WASM like ESM.
We try to apply all rules/assumptions that apply to ESM to WASM too.
We assume that in future the WASM JS API may be superseeded by a integration of WASM into the ESM module graph.

This means the `imports section` in the WASM file is resolved like `import` statements in ESM and the `export section

[2018-02-06 22:50] TheLarkInn commented on #6433
cc @jsbastien @flagxor @rossberg I wanted to surface this to you all in hopes maybe we can bring this up for the next WASM CG Meeting if discussions are involved. Primarily around the above concerns.

[2018-02-06 23:04] TheLarkInn commented on #6157
No problem! Just tracking progress!

On Tue, Feb 6, 2018 at 2:44 AM Abid Uzair <notifications@github.com> wrote:

[2018-02-06 23:08] TheLarkInn commented on #6036
Awesome! Will you start by submitting a PR, then we can help guide you for tests, etc.

[2018-02-06 23:11] jfbastien commented on #6433
This is worth discussing at the next CG meeting. @TheLarkInn, would you mind adding to the agenda (once it's posted... we just had the meeting today so I haven't created the agenda yet)?

To answer a few points:

1. I think treating WebAssembly like ECMAScript modules is the right thing to do. The JSC implementation uses [exactly the same C++ code under the hood](https://github.com/WebKit/webkit/b

[2018-02-07 01:34] kmiller68 commented on #6433
@sokra For what it's worth, the original design of Wasm actually differs from what is in the initial spec. See the pull request on the design: https://github.com/WebAssembly/design/pull/1018. I'm not sure where this got lost in the transition to the formal spec but I'll file an issue.

[2018-02-07 02:24] chaosheng-git commented on #6036
PR submitted #6451

[2018-02-07 05:08] buoyantair commented on #364
Is this issue fixed? It looks like the PR got merged.. 🤔

[2018-02-07 06:11] #5008 closed

[2018-02-07 06:35] ekumlin commented on #6434
I will take a look, but the migration looks like it may take some time. Will let you know.

[2018-02-07 06:41] #3226 closed

[2018-02-07 08:14] qw789 commented on #5002
I also have the same problem, How to resolve it?

[2018-02-07 10:12] yss14 commented on #5021
Is it somehow possible to get chunk information from the chunk id, which is passed to the `__webpack_chunk_load__` function?

[2018-02-07 11:37] evilebottnawi commented on #5091
@Carpetfizz problem still exists? If yes please create minimum reproducible test repo, thanks!

[2018-02-07 11:59] robertjk commented on #1403
[domjtalbot solution](https://github.com/webpack/webpack/issues/1403#issuecomment-244814526) is the cleanest for me and well explained. Thanks.

[2018-02-07 14:11] dengwanc commented on #4716
my webpack version 2.4.1
got this
[code]

should i upgrade my webpack version to solve this problem ?

[2018-02-07 15:46] backflip commented on #6409
@benthemonkey, there seem to be issues with the config validation when doing this. Example:
[code]

This triggers the following error for me:
[code]

[2018-02-07 15:50] evilebottnawi commented on #6409
@backflip ?
[code]

[2018-02-07 15:59] backflip commented on #6409
I was using on outdated structure, the config needs to be wrapped with `uglifyOptions`:
[code]

Sorry for spamming.

[2018-02-07 16:06] cgray9 opened #6454 "Webpack HMR Infinite Refresh on Chrome"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm having a strange hot reloading issue that I think is related to my environment, but I can't track down what is. I was hoping someone else had run into it and could point me in the right direction. I've been banging my head on this one for several days now.

I'm running dev webpack locally that come

[2018-02-07 16:48] axelnyffenegger commented on #6438
Hello,
This doesn't look like it has anything to do with webpack.
The library you're using targets nodejs and doesn't seem to support the browser.

[2018-02-07 16:55] amerllica commented on #1754
I have a same issue like @kadishmal , but @StevenIseki  and johndous don't help me, So I use @leviwheatcroft way, It seems awesome with its plugin [babel-plugin-webpack-loaders](https://github.com/istarkov/babel-plugin-webpack-loaders), but I've a little error:

In my project I use `PostCSS` with `.pcss` extension file. for running app in client there isn't any issue but in server side rendering,

[2018-02-07 17:00] JustinBeckwith commented on #6438
In this case I'm the library author.  I'm trying to debug why it doesn't work with webpack :). Any tips for debugging?

[2018-02-07 17:05] PlayMa256 commented on #6157
It seems to have a pr already open for this feature #6222 which has conflicts, and nobody fixed those yet.

[2018-02-07 17:17] axelnyffenegger commented on #6438
Oh sorry.
Have you tried directly modifying the bundle to add debugger statements? It's not ideal but it can help a lot.
It looks like the bug you get is from the import of JWT here
https://github.com/google/google-auth-library-nodejs/blob/master/src/index.ts#L21.

In that file it seems like you're using the stream module from node, could it be related?

[2018-02-07 18:18] ev1stensberg commented on #6157
Ping the author, if he isn't responding, go ahead and implement it in your own. Wierd, cause I saw something similar like this at the next branch a while ago, if I recall right.

[2018-02-07 18:24] evilebottnawi commented on #4896
Thanks for issue. Answered in stackoverflow.

[2018-02-07 18:24] #4896 closed

[2018-02-07 18:26] evilebottnawi commented on #2563
@tomascharad friendly ping

[2018-02-07 18:29] evilebottnawi commented on #4786
@webpack-bot move to webpack-contrib/uglifyjs-webpack-plugin

[2018-02-07 18:30] #4786 closed

[2018-02-07 18:37] evilebottnawi commented on #5796
@guilhermevrs can you describe you problem more verbosely?

[2018-02-07 19:21] httpete commented on #1643
I am on the latest webpack 2.11.1 and latest wds. These lines allow me to use my file:.. linked packages in package.json for local dev symlinked and have them update when I change it. The key is the path.resolve you want to make sure you point it to the TOP and only the top node_modules.

`            modules: [
                path.resolve(path.join(__dirname, 'node_modules'))
            ],

[2018-02-07 19:48] PlayMa256 commented on #6157
Author pinged. I will have this done ASAP.

[2018-02-07 22:30] gtdeng commented on #5002
@lydiali9 try clearing your cache and ensuring the vendor.js loads prior to app.js

[2018-02-07 22:46] MagicDuck commented on #6450
Note: docs here say this is possible, but it doesn't work with the code in `master`:
https://webpack.js.org/plugins/eval-source-map-dev-tool-plugin/

[2018-02-08 00:33] dennisli92 commented on #3017
Apologies if this is the wrong thread, but are there other situations where in webpack might modify the global context? I wasted quite a lot of time trying to figure out why my webpack bundle was modifying the global context, until I went through my libraries one by one and stumbled on this thread (via https://github.com/lodash/lodash/issues/3052)

Perhaps a warning at least during builds that amd

[2018-02-08 01:06] MagicDuck commented on #3957
I will add a PR with @thecotne 's suggestion if there is no objection...

[2018-02-08 01:59] ajsharp commented on #1742
I just ran into this issue when trying to include files outside of the webpack project root.

[2018-02-08 03:11] TheLarkInn commented on #6433
@kmiller68, so are you saying both methods can be used in paralell?

[2018-02-08 06:31] #5259 closed

[2018-02-08 06:44] DFallas opened #6457 "Webpack import sass issue"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
I star getting that error from out of the wild, like two weeks ago, this code was working fine
my webpack config has
`const webpack = require('webpack');
const conf = require('./gulp.con

[2018-02-08 08:34] daizch commented on #5964
Hi, I have the same problem too.
 @lewismoten Did you resolve this problem?

[2018-02-08 08:53] wuchuguang commented on #5964
@gerdus i upgrade to webpack 3.10.0,but problem not resloved.

[2018-02-08 09:53] wiloke1 opened #6458 "help me - how to get stats.endTime compiler.plugin invalid"
[code]

[2018-02-08 10:40] evilebottnawi commented on #6458
@wiloke1 please use issue template

[2018-02-08 10:47] evilebottnawi commented on #6457
@webpack-bot move to webpack-contrib/sass-loader

[2018-02-08 10:47] #6457 closed

[2018-02-08 11:54] artemxgruden opened #6459 "webpack 4.0.0-beta.0 different behavior with .mjs files"
**Do you want to request a *feature* or report a *bug*?**
I want to report unexpected behavior

**What is the current behavior?**

# file: /server/main.mjs - with --experimental-modules flag
[code]
# output:
[code]

*****************

# file: /client/main.mjs
[code]
# output:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
#

[2018-02-08 14:38] #6458 closed

[2018-02-08 19:36] bfred-it opened #6460 "webpack 4: access the mode flag from webpack.config.js file"
**Do you want to request a *feature* or report a *bug*?**

*feature*

**If this is a feature request, what is motivation or use case for changing the behavior?**

Since webpack 4 introduces an official `--mode` it'd be nice to be able to access it, otherwise I'm back to the old `process.env.NODE_ENV === 'production'` if I want to customize the production build, like for https://github.com/webpack/

[2018-02-08 19:42] michael-ciniawsky commented on #6460
**webpack.config.js**
[code]

[2018-02-08 19:45] michael-ciniawsky commented on #6460
I suggested to 'inherit'  `mode`  from `process.env.NODE_ENV` in the PR back then, but this was 'rejected', since `webpack` itself should not implicitly rely on any `ENV` variables by default

[2018-02-08 21:06] bfred-it commented on #6460
That's already what I'm doing, I'd rather _only_ use `--mode production`, **not**  `NODE_ENV`.

For example:

[code]
[code]

[2018-02-08 21:24] michael-ciniawsky commented on #6460
Could you try

[code]

[code]

But I think this won't work tbh

Yeah... exposing `mode` to be programmatically accessible in `webpack.config.js` is a good idea imho

[2018-02-08 21:32] PlayMa256 commented on #6157
Quick question: If you have `webpack-cli` installed in your machine, `require.resolve` works?
`require.resolve` was to work on any machine, but somehow here it does not.
I've linked my local `webpack` folder on a dummy project, and although it installs, add to my `package.json`, it still says that `webpack-cli` is not installed.

I just want to double check, instead of submitting a pr and it is a

[2018-02-08 21:49] bfred-it commented on #6460
`this` is empty

[code]
[code]

[2018-02-08 21:56] ev1stensberg commented on #6157
Installing both the CLI and webpack is a nice practice

[2018-02-08 22:16] akanshgulati opened #6461 "How to remove eval and Function constructor from webpack build to avoid CSP issues"
**Do you want to request a *feature* or report a *bug*?**
BUG : [Stackoverflow Link](https://stackoverflow.com/questions/48695579/how-to-remove-eval-and-function-constructor-from-webpack-build-to-avoid-csp-issu)

**What is the current behavior?**
It gives both eval and Function contructor which is not required
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
[cod

[2018-02-08 22:17] akanshgulati commented on #6461
Linked Issue : #5627

[2018-02-08 23:04] PlayMa256 commented on #6157
Well, indeed, since `webpack-cli` will use `webpack` as an api and vice versa.  But i'm saying, require.resolve is more reliable to check if a package is installed than querying the `package.json` file, which is what happens [here](https://github.com/webpack/webpack/blob/next/bin/webpack.js#L5) already. This same clause is throwing an error, even if i already have `webpack-cli` installed. I just w

[2018-02-08 23:16] mbrandys commented on #6460
I think this could do the job: https://webpack.js.org/configuration/configuration-types/#exporting-a-function

When you export function that return object in config file instead of returning object itself you have option to access environment info and options map that you passed to webpack command as arguments in that function.

[2018-02-08 23:38] bfred-it commented on #6460
That seems to work. Are there any caveats to using a function? Like subtle changes of behavior?

[code]

This seems to work correctly with `--mode production`, `-p` and `<no flag>`. 👍 for normalized `argv`

[2018-02-09 00:15] dreki commented on #196
A good fix for this is to use this package: https://www.npmjs.com/package/webpack-node-externals

(credit: https://stackoverflow.com/questions/41692643/webpack-and-express-critical-dependencies-warning)

[2018-02-09 01:05] alansutherland commented on #595
@sokra perhaps I'm missing the point of webpack but so far my experience hasn't been good, it's a struggle. It promises all these great features but seems to take away some very basic things that in my opinion should just work out of the box. Is there a reason it's not configured to recognize svg and fonts formats by default? instead of needing all these extra addons and loaders

[2018-02-09 05:55] buoyantair commented on #4886
@TheLarkInn can you please close this? :D Looks like it's been added looong before. ^-^

[2018-02-09 07:02] #1160 closed

[2018-02-09 07:48] yss14 opened #6462 "Pass import name and webpackChunkName to __webpack_chunk_load__ for more flexibility when loading chunks async"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We can intercept the async loading of chunks by replacing the `__webpack_chunk_load__` function, which offers us only the `chunkID` (like shown in issue #5021). The actual assignment or let's say connection between this `chunkID` and the actual name of the `.js` file is hard coded (from which I hav

[2018-02-09 08:15] michael-ciniawsky commented on #6460
No there shouldn't to my knowledge, I didn't know the `{Function}`  already takes a second param passing the CLI arguments. Then it's already implemented :)

[2018-02-09 08:15] #6460 closed

[2018-02-09 08:52] Jatin-Chitkara commented on #441
@sokra Hi in Webpack .. module.export
output.chunkFilename = './enq[name].chunk.js' is like this and it works perfect on localhost.

But on my prod/stage enviornment i want to load chunks dynamically like:

output.chunkFilename = 'https://stg-m.imimg.com/im-lite/[name].chunk.js'

when i do this the root folder gets appended at start ex:
'https://stg-m.indiamart.com/https://stg-m.imimg.com/im-lite/

[2018-02-09 11:03] ilyazub commented on #1191
@tom10271, are you using [`ProgressPlugin`](https://github.com/webpack/docs/wiki/internal-webpack-plugins#progresspluginhandler)?

[2018-02-09 12:55] ev1stensberg commented on #6157
Could you make a repro repository and I'll have a look @PlayMa256 ?

[2018-02-09 13:18] lodybo opened #6464 "Webpack's IgnorePlugin causes an "TypeError: Cannot read property 'identifier' of undefined""
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Using `webpack.IgnorePlugin` causes compilation to fail with a `TypeError: Cannot read property 'identifier' of undefined` message. The full stack trace:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
I put up an isolated test case on GitHub: https://github.com/lod

[2018-02-09 13:32] maksimsemenov commented on #1315
@michaelBenin can you please explain a little bit more why custom vendor hash will not work. I mean what will happen if bundle had changed, but vendor file still referencing the old bundle. Will it cause any errors?
I was thinking of using it because all other approaches end with different hashes after CI builds, even if vendors were not changed. So want to know what caveats are here.

[2018-02-09 14:37] simonl65 commented on #5320
+1

I just lost hours of work trying to figure why nuxt wouldn't work only to find it was an exclamation mark in my Windows path. I do this all the time - it places my folders higher up the folder list. Please would you consider removing this restriction?

Cheers,
Simon

[2018-02-09 14:48] PlayMa256 commented on #6157
@ev1stensberg download [this](https://github.com/PlayMa256/dummyProject) repo, and link your local `webpack` project inside of it. Than run `npm start` which will throw the error saying you don't have `webpack-cli`.
Install it manually, than run `npm start` again, it should throw the same error again.

Your `webpack/bin/webpack.js` should looks like [this](https://gist.github.com/PlayMa256/efb007c

[2018-02-09 14:50] maciej-gurban commented on #5593
The way I see it, the fix to this issue could be rather trivial. In the directory structure @tomhicks-bsf provided, the same library version is installed twice, and while you may disagree whether this should be done, there should be nothing complex to handle this scenario and import duplicated library twice.

All it would take for this to work is for webpack to check for modules' contents to verif

[2018-02-09 15:18] simonl65 commented on #4906
Why does webpack have this limitation? It's a perfectly valid folder name (at least on Windows).

[2018-02-09 16:06] ev1stensberg commented on #6157
Think the problem with your repro is that you don't have webpack installed as a devDependency. Either way, `require.resolve` will not look for the dependency, it will look for the actual file `webpack-cli`, so if you do something like `npm install webpack webpack-cli` it would still be validated correct. ( still with `npm link` )

If you feel like there's something wrong with that, I can help you

[2018-02-09 16:24] PlayMa256 commented on #6157
Thank you @ev1stensberg ! i misunderstood the linking part of npm!

[2018-02-09 16:41] #6450 closed

[2018-02-09 16:46] ev1stensberg commented on #6157
No worries!

[2018-02-09 17:33] pmunin commented on #5320
I guess the reason for this restriction is module loader syntax (https://webpack.js.org/loaders/).
E.g.: `import Styles from 'style-loader!css-loader?modules!./styles.css';` Not the best design decision, but at least they can provide a message for that so people don't spend a day for finding this.

[2018-02-09 17:35] maciej-gurban commented on #3463
@farism Have you had any luck resolving the issue?

[2018-02-09 17:50] TheLarkInn commented on #4886
Yes thanks a bunch!!¡!

[2018-02-09 17:50] #4886 closed

[2018-02-09 20:20] michaelBenin commented on #1315
@maksimsemenov ~

First off we didn't get this working as intended, this issue is still open.

Basically we found that the vendor file has a reference of the app.js and that caused an error breaking JS.

[2018-02-09 21:45] ThomasLeveque commented on #6323
up

[2018-02-09 22:03] ThomasLeveque opened #6469 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
npm run prod sens an error
![capture](https://user-images.githubusercontent.com/29226450/36051989-38fb421e-0dec-11e8-9d87-f20a9df4d214.PNG)

**If the current behavior is a bug, please provide the steps to reproduce.**
i have followed the next french tutorial : https://www.grafikart.fr/formations/webpac

[2018-02-09 22:26] simonl65 commented on #5320
Agreed - a meaningful message might have saved my hair!

[2018-02-10 02:31] dangodev commented on #6366
@nontachaiwebdev do you have Babel enabled, `babel-plugin-syntax-dynamic-import` installed, and configured to use that plugin?

If you have, then it’s an error in that higher-order component you made. Try something like [react-loadable](https://github.com/thejameskyle/react-loadable) that handles this for you.

Dynamic imports work just fine in React with webpack 3; there are hundreds of projects

[2018-02-10 03:09] farism commented on #3463
@maciej-gurban We've switched to using Yarn workspaces and webpack 3 has been fine.

[2018-02-10 09:05] EugeneHlushko commented on #6469
Did you check possible misconfiguration as the error states? What do you pass to `devtool` in the faulty configuration?

[2018-02-10 09:41] deser commented on #2219
(

[2018-02-10 09:42] deser commented on #2219
(

[2018-02-10 10:35] buoyantair commented on #5493
I feel like this problem can be solved with those beautiful solutions @michael-ciniawsky & @niieani have given. Maybe this issue can be closed, What do you guys think? :D

[2018-02-10 13:01] evilebottnawi commented on #5493
Yes, close issue, thanks everyone!

[2018-02-10 13:01] #5493 closed

[2018-02-10 14:15] #6459 closed

[2018-02-10 14:15] sokra commented on #6459
fixed in 4.0.0-beta.1

[2018-02-10 22:31] johnculviner commented on #443
Nice summary of how to do it in current documentation and even how to assign at runtime:
https://webpack.js.org/configuration/output/#output-publicpath

[2018-02-11 01:41] cjo2 commented on #2508
@jewetnitg  Where are existsSync and join coming from?

[2018-02-11 02:08] bs-thomas commented on #5321
I'm having the issue too with @doronbrikman where I'm only changing the JS file, but CSS file is being emitted.  This slowed down my build significantly.

[2018-02-11 08:13] XZzYassin commented on #2958
Hello? Anybody listening?!!

[2018-02-11 15:23] akanshgulati commented on #6461
@sokra Can you help in this?

[2018-02-11 16:01] billyvg commented on #6413
Is it possible this is also present in 3.x?

[2018-02-12 04:16] trusktr opened #6471 ""Error in unknown" with no trace, no clue"
**Do you want to request a *feature* or report a *bug*?**

Bug with error output?

**What is the current behavior?**

I'm getting some error output like the following:

[code]

and that's the end of the output.

**If the current behavior is a bug, please provide the steps to reproduce.**

I'll post a reproduction soon....

**What is the expected behavior?**

I was hoping any error would have a sta

[2018-02-12 04:28] chensivan commented on #5850
@sokra what does that mean?

@hawx1993 did you fix your problem? I tried pretty much the same and got the same errors.

[2018-02-12 07:59] sokra commented on #6461
You can replace these modules with your own variants avoiding eval and Function.

The first one is from the `global` shim and isn't an issue of CSP.

I don't know where the second one comes from.

[2018-02-12 10:42] sokra commented on #6413
@billyvg no, splitChunks was added in v4

[2018-02-12 11:15] roeycohen commented on #1385
when using yarn, you could add this to your package.json file:
[code]
this will replace webpack original dependency with a more recent one, so you could still use -p switch.

[2018-02-12 11:27] tomascharad commented on #2563
Hi @evilebottnawi ,

Just came back from vacations, give me a couple of days more please.

[2018-02-12 13:52] AnkitOnclick commented on #2771
npm run webpack giving me the following errors:

ERROR in ./~/jest/~/jest-config/build/vendor/jsonlint.js
Module not found: Error: Can't resolve 'file' in 'D:\Projects\HotelApp\hotel-cli
ent\node_modules\jest\node_modules\jest-config\build\vendor'
 @ ./~/jest/~/jest-config/build/vendor/jsonlint.js 730:14-29 730:35-50
 @ ./~/jest/~/jest-config/build/read_config_file_and_set_root_dir.js
 @ ./~/jest/

[2018-02-12 15:24] scriptjs commented on #6460
@bfred-it I have been using a similar approach in my `webpack.config.babel.js` and it behaves properly, running the minimizer only with production from argv.

[code]

[2018-02-12 15:47] peterholmberg commented on #5968
Which polyfill were you missing?

[2018-02-12 16:02] bfred-it commented on #6460
That fails if any other unrelated argument is `production`, it's best to just stick with @mbrandys' solution.

[2018-02-12 20:19] wpcarro commented on #631
I agree with @ericgundrum and I believe that circular dependency warning should exist and should even be an opt-out behavior. I think this would meet most developers' expectations.

[2018-02-12 20:29] EsSpricht commented on #4295
Please don't close this! It would be a massive advantage to allow module hotloading during runtime.

[2018-02-12 23:28] surma opened #6472 "The case for Workers"
**Do you want to request a *feature* or report a *bug*?**

Feature! 🎉

**What is the current behavior?**

(This is gonna be a bit longer.)

Let’s imagine working on a project using [WebWorkers]. Let’s say I am using this great new shiny library [Comlink]. It’s needed by both `main.js` and `worker.js` as Comlink is an abstraction over `postMessage`. Of course both `main.js` and `worker.js` have oth

[2018-02-13 03:07] gdborton commented on #5718
So still trying to build out a profile with webpack 4. Disabled the json-loader, but running into v8 this error now:
[code]

[2018-02-13 03:17] samunplugged commented on #1743
In my case it was a plugin. I added https://www.npmjs.com/package/node-sass-once-importer and my webpack started to behave crazy. This plugin was added to help us remove multiple imports. It worked during dev server start-up, but in watch mode making file changes would randomly cause this error: `FSEvents.framework) FSEventStreamCreate: _FSEventStreamCreate: ERROR: could not open kqueue. `
Fixed b

[2018-02-13 05:42] aguynamedben commented on #1479
This just ruined our Webpack deploy in the 11th hour after 2 weeks of work migrating to Webpack. We had to roll back to figure out what to do. We have 2 webservers behind a load balancer. ~50% of the time, the webserver would request a Webpack-produced file and the request would be routed to the other webserver, resulting in a very confusing situation where some assets loaded and some didn't. It t

[2018-02-13 05:53] aguynamedben commented on #2215
I don't see why this was closed without being explained. @sokra can you explain what you mean with your comment "it was solved at different places by using a relative path. Do you want to create a PR?" I'm open to creating a PR if this issue can be explained a little more.

There is 2.5 years of history at https://github.com/webpack/webpack/issues/1479, maybe this was just closed as a duplicate?

[2018-02-13 06:25] princed commented on #1050
Still invaluable thing for components library maintainers.

[2018-02-13 06:37] lalitmee opened #6473 "React - Module parse failed: You may need an appropriate loader to handle this file type."
- **Webpack Version: "^1.12.12"**

**Do you want to request a *feature* or report a *bug*?**
- I want help in my webpack.config.js. I want to know that is there something wrong in my file.

- I asked on **webpack Gitter** but no one replied. That'w why I am asking here.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

- Link to **[we

[2018-02-13 07:15] franklin-ross commented on #2868
[Here you go](https://github.com/franklin-ross/webpack-issue-2868-repro). Just clone that, run `npm install`, then `npm run build`, then open `index.html` in Chrome.

For me on Windows 10, that produces a console error in Chrome like this:
![image](https://user-images.githubusercontent.com/2695677/36137452-6f7f1914-10e9-11e8-9a8e-bfd8cbdfe679.png), and this kind of thing in the code
![image](https

[2018-02-13 08:29] Kielan opened #6474 "Incomplete Documentation Regarding Implementing BlueBird Promise in New Webpack"
**You want to request a feature/documentation request***

https://webpack.js.org/loaders/babel-loader/
only one approach to "bootstrap "bluebird promise library? There is documentation out there for previous versions of webpack but the do not work, For example this imports/exports strategy does not work.

https://ilikekillnerds.com/2017/03/polyfilling-promises-using-bluebird-webpack-2/

**What is

[2018-02-13 10:44] kiurchv opened #6475 "Unable to import WebAssembly modules bigger than 4KB"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When importing WebAssembly modules bigger than 4KB browser throws
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Import the WASM module bigger than 4KB.

**What is the expected behavior?**

The module should be imported and instantiated correctly.

**If this is

[2018-02-13 10:53] andrew-polyansky opened #6476 "Webpack does't resolve next in line module from `resolve.modules`"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Webpack does't resolve next in line module from `resolve.modules` section if you delete first in line module.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Project structure:
[code]

Resolve options `webpack.config.js`:
[code]

Code:
[code]

1) Build webpack wit

[2018-02-13 11:04] andrew-polyansky opened #6477 "Webpack incorrect resolve `constants` module with `resolve.modules`."
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Webpack incorrect  resolve `constants`  module with `resolve.modules`.

**If the current behavior is a bug, please provide the steps to reproduce.**
Project structure:
[code]

Resolve options `webpack.config.js`:
[code]

Code:
[code]

`constants` will be resolved as `constants-browserify` from `node_

[2018-02-13 11:09] dmitry commented on #1479
@aguynamedben have you tried `webpack-md5-hash`, as I remember it partially solved an issue (don't really remember when it fails to fix).

BTW we had similar server topology: 1 load balancer -> 2 app servers.

[2018-02-13 11:47] graingert commented on #5627
@bakrkawkji-trustly Function(str) is eval.

[2018-02-13 11:54] evilebottnawi commented on #6461
@akanshgulati Thanks for issue, please create minimum reproducible test repo. Also closing as duplicate #5627. Please put your information there. Thanks!

[2018-02-13 11:54] #6461 closed

[2018-02-13 11:58] #4595 closed

[2018-02-13 11:58] #5769 closed

[2018-02-13 11:58] #6413 closed

[2018-02-13 11:58] #6426 closed

[2018-02-13 12:04] sokra commented on #6475
@bmeurer Who can I beg to remove this error from Chrome?

see also https://github.com/webpack/webpack/issues/6433

[2018-02-13 12:09] sokra commented on #6477
`constants` is a node.js core module, but `node.constants: false` should work. What's the content of your `constants/index.js` file.

[2018-02-13 12:14] sokra commented on #6474
create a new file with your polyfill bootstrap code. Add this file as array item to the array provided via `entry`.

[2018-02-13 12:14] sokra commented on #6474
@webpack-bot move to babel/babel-loader

[2018-02-13 12:14] #6474 closed

[2018-02-13 12:15] sokra commented on #6473
Upgrade webpack. The config file is not valid for webpack 1.

[2018-02-13 12:15] #6473 closed

[2018-02-13 12:17] sokra commented on #6472
Currently a `web` compilation and a `webworker` compilation can't share chunks, because they are using different ways to lazy-load chunks. web uses JSONP, webworker uses `importScripts`.

[2018-02-13 12:30] sokra commented on #6472
It may be possible to create a new agnostic target in which chunks have the same format, than something like this could work.

---

For on-demand-loading:

While in web target loading chunk in parallel is easily possible via `<script>` tags, `importScripts` in webworker context is sync and don't allow parallel loading. We would need to use `fetch` instead, which has cross-origin limitation, but I

[2018-02-13 12:32] bmeurer commented on #6475
Redirecting to @mstarzinger from the WebAssembly team.

[2018-02-13 12:48] ryan-roemer commented on #4453
Unfortunately, the latest `webpack@next` is still broken for this issue, and we're coming up on a year of it being open 😿  (`tl;dr` for folks just getting this comment -- if you have multiple entry points in a single config, code imported by **either** ends up in **both** bundles).

I've updated my examples in the error reproduction repository: https://github.com/FormidableLabs/webpack-tree-shakin

[2018-02-13 13:03] jods4 commented on #1634
Can someone do something about the bot? I don't want to leave a dummy comment every 6 months to keep it open.

It's labelled `P2-Very Important` that ought to be enough to keep the bot away.

[2018-02-13 13:11] andrew-polyansky commented on #6477
@sokra just for test is
`constants/index.js`
[code]

[2018-02-13 13:16] surma commented on #6472
I forgot about that bit! In my workaround (see below) I currently also hand-load the chunks using `importScript`. I think an agnostic format that can be loaded by both workers and web would be great to see.

[code]

[2018-02-13 13:16] robertjk commented on #1194
I have similar issue - source maps of CSS are not loaded properly in Firefox Developer Tools (they do load properly in Chrome Developer Tools). I'm presented with errors like below:

`Source map error: Error: sourceMapURL could not be parsed Resource URL: blob:null/b9a1fdd6-c0a3-4426-9df0-d50f1e8dc670 Source Map URL: data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi9ob21lL3JvYmVydC9w

[2018-02-13 13:18] evilebottnawi commented on #1194
@robertjk can you create issue in `style-loader` with reproducible test repo, thanks!

[2018-02-13 13:18] robertjk commented on #1194
@evilebottnawi  Okay, I'll try to.

[2018-02-13 13:19] surma commented on #6472
This feels like early optimization/over-engineering to me. I see where you are coming from, but just supporting WebWorkers with sequential `importScript()` for now seems totally sufficient. Maybe allow to inject another function than `importScript` so developers can write their own loader if they really need parallel fetching. I think in the long run it’s easier to bet on ES6 module loading to lan

[2018-02-13 13:23] malballah opened #6479 "Unknown error"
I ma having an issue when building angular 5 app please look at the screenshot, I do not know how to start to figure it out:

![untitled](https://user-images.githubusercontent.com/6220899/36151907-cfcf4f18-10d1-11e8-9334-095e092925b2.png)

[2018-02-13 13:24] evilebottnawi commented on #6479
@malballah Seems related to https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/231 and https://github.com/jantimon/html-webpack-plugin/issues/849

[2018-02-13 13:39] germansokolov13 commented on #1518
Finding this issue helped me a lot. Because of it I found out that it was `CommonsChunkPlugin` out of all my plugins that prevented me from correctly using target `node`.
I think it would be **very nice** if the plugin would tell a warning if it's being run for the target `node.` This way it would be easier to pinpoint the problem.

[2018-02-13 13:44] plexigras opened #6480 "[documentation/feature request] extending loaders"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

i would like to be able to use a existing loader inside another loader

**If this is a feature request, what is motivation or use case for changing the behavior?**

for example i woul

[2018-02-13 13:46] Kielan commented on #6474
@sokra what data type is the polyfill bootstrap code?

[2018-02-13 13:48] evilebottnawi commented on #6480
@plexigras you can install required loader in you loader repo, looks https://github.com/webpack-contrib/url-loader/blob/master/src/index.js#L42 (we use `fallback` option for other loader)

[2018-02-13 14:14] danshmidt77 opened #6481 "Webpack 4 - Plugin could not be registered at 'html-webpack-plugin-alter-asset-tags'. Hook was not found."
No, bug report.

version 4

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser ver

[2018-02-13 14:15] robertjk commented on #1194
@evilebottnawi : https://github.com/webpack-contrib/style-loader/issues/303

[2018-02-13 14:17] Kielan commented on #6474
so appears to be a babel error, can we confirm that?

[2018-02-13 15:16] niieani commented on #6481
As you can see from the 3rd line of your stacktrace:

[code]

this is not a Webpack issue. Please open an issue at https://github.com/jouni-kantola/inline-chunk-manifest-html-webpack-plugin so the plugin can be upgraded.

[2018-02-13 15:27] michael-ciniawsky commented on #6481
https://github.com/jantimon/html-webpack-plugin/pull/823 `webpack >= v4.0.0` support is pending atm

[2018-02-13 16:10] cecilemuller commented on #1803
Might as well stick to JS for the Webpack config If you use `module`:`esnext` in tsconfig.json (for preserving `import`/`export` statements for Webpack chunks and three shaking): either Webpack would have to force `ts-node` to run with `module`:`commonjs`, either it would need another tsconfig.

However, sticking to `require` and `module.exports` would work, but parts of `@types/webpack` types (li

[2018-02-13 17:36] czelusniakdawid commented on #6323
Hi,

Unfortunately, I am getting the same error when running Webpack on Node 9.5.0 on Debian 9 stretch. Could you help me with debugging this issue?

Webpack: **3.7.1**
npm: **5.6.0**
Node: **9.5.0**
Debian: **9.3.0**

My command:
[code]

**Error:**
[code]

**Logs:**
[code]

Thank you in advance :smiley:

[2018-02-13 17:44] rafde commented on #6400
I had the best experience with `inline-source-map` since it adds the source map to the bundle. Sadly, the size of the bundle increases a lot.

[2018-02-13 18:03] dangodev opened #6483 "output.publicPath config required for dynamic import()"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** Using webpack v4 beta & dynamic `import()`, main chunk spits out relative paths rather than absolute paths. This means code splitting works on the index, but as soon as you get to `/subroute/`, the main file tries to load `/subroute/0.js`, e.g., rather than `/0.js` as it should.

**If the current behav

[2018-02-13 18:45] js2me commented on #2320
I have that problem with webpack-dev-server build, non stop updating :(

[2018-02-13 18:45] lukewagner commented on #6433
To discourage devs from using the sync `WebAssembly.Instance` and `Module` ctors (which, do sync compilation on various engines), Chrome currently throws when these constructors are called with modules bigger than an internal limit (4kb, last I saw).  So that, combined with the fact that it's the worst-case load-time behavior for JSC, means sync `new Instance` should not be used by bundlers.

I wa

[2018-02-13 19:30] shlomiassaf commented on #4861
Following @milewski,

This works, bundle is split
[code]

This does not, one bundle to all imports.
[code]

The issue seems' to be in `import()` only

[2018-02-13 20:00] backwardok opened #6484 "Deps issues due to major bump of ajv"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (sorta)

**What is the current behavior?**
There was a major dependency update to `ajv` in https://github.com/webpack/webpack/pull/6430 and it was released as a patch release. This is resulting in a ripple effect on all other dependencies that rely on `ajv`. For example, [eslint's latest version](https://github.com/eslint/eslin

[2018-02-13 20:01] backwardok commented on #6484
See also https://github.com/webpack-contrib/schema-utils/issues/23

[2018-02-13 20:34] shlomiassaf commented on #4861
This is weird because `ImportPlugin` does the same thing for `System.import` and `import-call` so I'm confused...

For now i'm just using `System.import`, which will be easy to port once I move to Webpack 4, I hope it's fixed there.

[2018-02-13 21:16] simonbuchan commented on #931
Note to future readers, the second link is dead, but the [permalink](https://github.com/facebook/react-native/tree/a829d01bfc3dff3a54a3bf3eaf87d9aab001e652/packager#why-didnt-you-use-webpack) is just a ref to the third.

[2018-02-13 21:30] TheLarkInn commented on #5718
@bmeurer is there something we can do for this?

[2018-02-13 21:36] simonbuchan commented on #6400
Without `module`, you will be debugging the post-loader-transform code, if you are using any, so you probably want `inline-module-source-map`.
The filename template is required not to name the map on disk, it's what the name is *in the source map* - workspaces needs this to find the file on disk so you can save changes back (which, when you have it working, is surprisingly nice)

[2018-02-13 21:52] TheLarkInn commented on #4453
Hmm. What is the need for the Array as entry? This causes an CJS-like merge of your modules and de-opts any hoist + shake, etc.

[2018-02-13 21:56] ryan-roemer commented on #4453
Sorry it's convoluted -- the `scenarios` array is purely for my convenience.

Here's what **doesn't** work and what I'm guessing is the preferred way to declare entry points:

[code]

That **fails** for DCE / tree shaking.

This is what **works**, although I don't like it:

[code]

[2018-02-13 22:13] TheLarkInn commented on #4453
Did you mean to show in your first example that they were wrapped in arrays?

On Tue, Feb 13, 2018, 1:56 PM Ryan Roemer <notifications@github.com> wrote:

[2018-02-13 22:23] ryan-roemer commented on #4453
Or to restate the bug in the simplest terms:

[code]

If `app1` uses only ESM import `red`, and `app2` uses only ESM import `blue`, with both entry points in the above configuration, **both** entry points contain the code of **both** `red` and `blue`.

[2018-02-13 23:34] JoshuaKGoldberg opened #6486 "Allow annotating dynamic import/require calls as non-critical (external)"
**Do you want to request a *feature* or report a *bug*?**

Request a _feature_.

**What is the current behavior?**

No matter what, if you have an `import` or a `require` call that takes in a variable (instead of a string literal), Webpack will warn that the request of a dependency is an expression.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is th

[2018-02-14 00:40] simonbuchan commented on #6191
Same bug with `require.foo = foo`, which gets turned into `!(function ...)().foo = foo` which is also a syntax error. This pattern is used in [`react-native`](https://github.com/facebook/react-native/blob/d220118dbd7a936942f0cd3db69bf03f39333d6c/Libraries/Performance/Systrace.js#L324), and has to be worked around when used by, e.g. haul, with [a custom babel transform](https://github.com/callstack

[2018-02-14 03:52] bmeurer commented on #5718
Hm, looks like misuse of the inspector API. @hashseed or @schuay can you take a look?

[2018-02-14 05:28] Iamguy84 opened #6489 "Webpack is too slow build"
Hi folks,

I am using Asp.net Core 2.0, Angular 5 (Without Angular Project Template) and Webpack 3.8.1
here is my Webpack code as below:
[code]
![webpack screenshot](https://user-images.githubusercontent.com/13044221/36188959-67bafaf8-1171-11e8-829a-abb6e31fdc4c.PNG)

If I Run - development or Watch - development, It will take 30 to 45 sec. Why too long build? Is It possible to build faster?

I am

[2018-02-14 09:36] sokra commented on #6489
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-02-14 09:36] #6489 closed

[2018-02-14 09:38] akanshgulati commented on #6461
@sokra can you tell more about this as how I can remove this issue. Can I define some pattern in config?

[2018-02-14 09:42] sokra commented on #6486
Not sure if you use case make sense.

In general:
* lazy loaded parts of the application shouldn't be entrypoints.
* import() should be passed a module name not a generated filename.

But nevertheless leaving `import()` untouched could make sense and I would accept a PR adding:

[code]

which is ignored by webpack.

Note that this only works with native `import()` support in browser.

---

webpack

[2018-02-14 09:43] sokra commented on #6484
see https://github.com/webpack-contrib/schema-utils/issues/23#issuecomment-365392978

[2018-02-14 09:43] #6484 closed

[2018-02-14 09:43] akanshgulati commented on #6461
@evilebottnawi its not totally a same issue actually. I have provided the reproduction steps in description already. Its a very basic boilerplate of vue using webpack and vue-loader

[2018-02-14 09:44] sokra commented on #6479
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-02-14 09:44] #6479 closed

[2018-02-14 09:45] sokra commented on #6472
fetch + eval is a good option too.

[2018-02-14 09:46] akanshgulati commented on #5627
Can we have some provision to avoid evals in build totally. I tried same code with browserify and vueify which was earlier build with webpack and vue-loader and I found exactly 0 issues of eval or function constructor.

[2018-02-14 11:52] schuay commented on #5718
My guess is that this `ToLocalChecked()` fails: https://github.com/nodejs/node/blob/b58a1cd70a2ccc97bb97bba4464d2b5aaecf5ab5/src/inspector_js_api.cc#L57

If you have a debug build of node, could you confirm / check why it's failing?

[2018-02-14 13:12] plexigras commented on #6480
for now i will just run a separate loader-runner inside my loader

[2018-02-14 14:36] Legends opened #6490 "Cannot find module 'source-map' after installing: `npm install @types/webpack`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Cannot find module 'source-map'  error when running `tsc` after installing:
`npm install @types/webpack`
**If the current behavior is a bug, please provide the steps to reproduce.**
Cannot find module 'source-map'  error when running `tsc` after installing:
`npm install @types/webpack`

**What is the e

[2018-02-14 14:43] j-oliveras commented on #6490
I think you should fill this issue here: https://github.com/DefinitelyTyped/DefinitelyTyped (is the repository for all npm `@types` packages).

[2018-02-14 15:19] #6490 closed

[2018-02-14 15:35] Legends commented on #6490
@j-oliveras This works! Thank you !

[I opened an issue DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/23649)

[2018-02-14 16:42] jsankarlal commented on #2157
i am facing the same issue here.

[2018-02-14 17:10] TheLarkInn commented on #6486
@sokra I had the opportunity to talk to the @JoshuaKGoldberg about this issue. From my take away, it looked like it was more important to be able to have an ability to have some functionality "DRY'd" up like the `.catch()` statements vs the import dynamic. Maybe this is as simple as hoisting the `import()` ref. into a function that handles the catch etc automatically.

[2018-02-14 18:09] giannif commented on #959
@jmnsf were you having the problem intermittently in production, or was it consistent and easy to reproduce? For me, it's only in production, and no one can reproduce. The error is only appearing in New Relic.

I tried upping the hash digest length, no luck though.

Do you not have `NamedModulesPlugin` in prod builds? Or is it in both and you additionally have `HashedModuleIdsPlugin` in prod build

[2018-02-14 18:51] Legends opened #6492 "Useless error message, when executing command: webpack"
**Do you want to request a *feature* or report a *bug*?**
improvement

**What is the current behavior?**
I am trying to use the ExtractTextPlugin and have therefore modified webpack.config.js
Probably there is something wrong with the configuration.
But the error message returned from the comand: `webpack` I cannot interpret.

**If the current behavior is a bug, please provide the steps to reprodu

[2018-02-14 19:32] jmnsf commented on #959
@giannif consistently in dev, it never made it to prod. Interestingly the problem came back eventually in some pages. Our issue in particular was that we were using two separate webpack configs that each generated their own `CommonChunks` file. The problem only surfaced when both files needed to be included in the same page: only one of those will handle webpack's "require" calls, and it may or ma

[2018-02-14 20:42] giannif commented on #959
Thanks @jmnsf for the details.

Here is the missing module. I can see it in the inspector when I debug, but I guess it's not there when the error happens and is reported to New Relic. This module has a few issues in webpack, mostly unrelated, I guess. Here's one that's open #5627.

[code]

Here is what I'm seeing in New Relic:
<img width="732" alt="screen shot 2018-02-14 at 12 29 48 pm" src="https

[2018-02-14 21:51] moo3 opened #6493 "Resolve.alias not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using an alias key which contains substring of another alias results in an error.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
`import app from 'base/config'`
works as expected, returns module src/config.js

`import app from '

[2018-02-14 21:52] zebulonj commented on #4817
In case anyone stumbles across this thread... you'll also see the error reported here if you try to process the `babel-runtime` itself through (i.e., by not excluding it from the babel-loader in webpack).

[2018-02-14 22:22] Rutulpatel7077 commented on #1641
?? Any updates?

[2018-02-14 23:29] eugeneo commented on #5718
@gdborton is there some way I could repro that locally? Feel free to open a bug against node - https://github.com/nodejs/node/issues and cc eugeneo.

[2018-02-14 23:41] rhys-vdw commented on #6262
Also suffering from this issue at present while slowly migrating from JS to TS. Branch changes are particularly annoying as they nearly always involve renames. I tried to `unsafeCache: false` and it didn't appear to work (although I'm not sure if this might be a symptom of other plugins or configuration).

[2018-02-15 01:32] TheLarkInn commented on #6475
@kiurchv do you get this error on Microsoft Edge 16-17(insider)? If so I'll also want to see our Chakra team and platform team fall in line here given the tagged issues discussion.

[2018-02-15 03:47] MagicDuck commented on #2157
Friendly advice: giving version numbers is usually not enough info to get help. You have to think about it from the perspective of the project maintainer. I know i was making this mistake before and wondering why no help was fothcoming 😁. Either provide a repro repository or if that's not possible, try to get some kind of performance log/dump such as an allocation snapshot. It's actually quite eas

[2018-02-15 04:04] Apidcloud commented on #2545
In my case, the problem was related to mangling. Setting `mangle` to **false** solved it (both `uglifyjs-webpack-plugin` and `babel-minify-webpack-plugin` have that option).

[2018-02-15 04:07] NeekSandhu opened #6494 "[Feature] Compiler macros to detect target in JS sources"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Undefined

**What is the expected behavior?**

Presence of compiler macros as seen in `C` or `C++`, set dynamically, and look like `#ifdef _APPLE_` when building for macOS, `#ifdef _WIN32` when building for Windows.

Similarly, would be nice if `webpack` did something similar, for when targetting d

[2018-02-15 04:14] TheLarkInn commented on #6494
This can be done today with webpack.DefinePlugin({})

https://webpack.js.org/plugins/define-plugin/

If this is what you are looking for please feel free and close the issue!

[2018-02-15 04:40] TheLarkInn commented on #2157
Yes second this!! We in fact won't even look into this without a snapshot, heapdump or memtracing profile!

[2018-02-15 05:13] VaishaliRavindran commented on #1641
I couldn't do that using webpack. I wrote gulp task for that.

On Thu, Feb 15, 2018 at 3:53 AM, Rutul Patel <notifications@github.com>
wrote:

--
Regards,
Vaishali R

W: www.infibeam.com

Reduce your environmental footprint. Print only if necessary.

CONFIDENTIALITY INFORMATION AND DISCLAIMER
This email message and its attachments may contain confidential,
proprietary or legally privileged informa

[2018-02-15 05:22] VaishaliRavindran commented on #1641
I couldn't do that using webpack. I wrote gulp task for that.

[2018-02-15 06:58] sokra commented on #6486
DRYing up is possible. Just make sure to keep string and `import()` together.

[code]

[code]

[2018-02-15 07:01] sokra commented on #6492
ts-loader doesn't seem to be configured properly

Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2018-02-15 07:01] #6492 closed

[2018-02-15 07:01] sokra commented on #6480
loaders are just functions. You can call them from other loaders.

[2018-02-15 07:01] #6480 closed

[2018-02-15 07:31] sokra commented on #6433
I also thought about that, but that only works great when WASM has no dependencies.

Shim function would really defeat future performance improvements in JS engines. I think wasm-to-wasm calls will get optimized in engines soon. The benefit of not going through the JS stack is big (afaik at least for v8). (cc @mstarzinger)

This would break a lot of good stuff in WASM. No memory sharing, no tables

[2018-02-15 07:41] #5424 closed

[2018-02-15 07:41] #5342 closed

[2018-02-15 08:38] actra-gschuster opened #6495 "No module factory available for dependency type: ContextElementDependency"
**Do you want to request a *feature* or report a *bug*?**

Possibly a bug - seeking advice on how to track down the error.
It seems to be an imcompatibility between 3.10.0 and 3.11.0 that I'd like to understand so I can solve similiar problems in the future.

**What is the current behavior?**

An angular 6.0.0-beta.4 app compiles fine on Webpack 3.10.0 but fails with the error mentioned in the tit

[2018-02-15 08:45] Legends commented on #6492
It's a bug because it bugs me. I think, `ts-loader` uses the `tsconfig.json`.
Unexpected char at (23:44) doesn't help me at all.... debugging/finding a solution  is hell.
For example, if a C# library produces crap, tweaking compiler options won't help that much..

[2018-02-15 09:26] plexigras commented on #6480
ok and how would i do that?

[2018-02-15 09:45] montogeek commented on #6480
@plexigras Like executing any other function:
[code]

[2018-02-15 09:50] TheLarkInn commented on #6495
Cc @filipesilva

[2018-02-15 10:11] gdborton commented on #5718
We found that it was related to a profile plugin that we had added. To get a stack trace, removing it allowed a build to go through.

Build setup looks like:
  Compiler: client, entryPoints: 2, modules: 3150

 | node version | webpack version | iteration 0 | iteration 1 | iteration 2 | average time (ms) |
 | ------------ | --------------- | ----------- | ----------- | ----------- | ---------------

[2018-02-15 10:18] drcmda commented on #6379
@TheLarkInn @sokra is this in 4.0.0-beta.1 ? It still doesn't seem to work ...

[2018-02-15 10:21] filipesilva commented on #6495
@actra-gschuster error of that type are usually because you have multiple installs of webpack on the same node_modules. Have you checked if that's the case via `npm ls webpack`? You should only have one, since webpack will not function properly with multiple versions present.

Other than that I don't know what the problem could be. If you put up a minimal repro I can take a look.

[2018-02-15 10:23] ooflorent commented on #6379
@drcmda Could you have a look at https://github.com/webpack/webpack/pull/6380/files#diff-01500706b1ed8ba9c79ef1fb8489c553R25? I've added a test (which passes). Maybe you're encountering another issue. Could you create minimal reproducible sample?

[2018-02-15 10:33] drcmda commented on #6379
@ooflorent it's the same as above. If you just run it without an import statement above, it works. But the moment you have an import, it's back to undefined.

[code]

[2018-02-15 10:38] drcmda commented on #6379
@ooflorent there's another thing that's curious, it only happens with the following setup:

[code]

[2018-02-15 10:56] ooflorent commented on #6379
`import` instructs webpack to run the plugin that convert `this` into `undefined`. Since you are applying babel’s transforms it probably conflicts with one of them because the plugin is ran after Babel.

[2018-02-15 10:56] plexigras commented on #6480
i know i can just run `require('raw-loader')(content)` but there are a bunch of loaders that are more complicated then this and they take options and sometimes are async and i don't know how i would run one of those more complicated loaders.

[2018-02-15 11:53] iamakulov opened #6496 "Expose the `mode` option for loaders"
**Do you want to request a *feature* or report a *bug*?**
A feature.

**What is the current behavior?**
Currently, loaders don’t have access to webpack’s `mode` option.

**What is the expected behavior?**
Loaders should have access to `mode`.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Does it make sense to expose the `mode` option to loaders? Loade

[2018-02-15 11:56] evilebottnawi commented on #6496
@iamakulov `css-loader@next` remove minification, it should be do in plugin

[2018-02-15 12:06] iamakulov commented on #6496
@evilebottnawi Oh, I see (ref for everyone else: https://github.com/webpack-contrib/css-loader/pull/639). Thanks for noting this!

Is this going to be released alongside with webpack 4? Is the plugin for minification already available? (Or should I ask these questions in the `css-loader` repo?)

(Asking because I’m working on webpack 4 updates for https://developers.google.com/web/fundamentals/per

[2018-02-15 12:09] evilebottnawi commented on #6496
css (using `cssnano`) - https://github.com/NMFR/optimize-css-assets-webpack-plugin
css with any plugin for minification - https://github.com/NMFR/last-call-webpack-plugin

[2018-02-15 12:11] iamakulov commented on #6496
Thank you!

[2018-02-15 12:13] evilebottnawi commented on #6496
@iamakulov problem is solved?

[2018-02-15 12:17] iamakulov commented on #6496
@evilebottnawi IDK – this is a generic proposal related to all loaders, not just `css-loader`. However, I don’t know other loaders where this might be useful, so feel free to close the issue if you feel it’s irrelevant.

[2018-02-15 12:19] actra-gschuster commented on #6495
It is for sure a problem with multiple versions of webpack.
That's why I wanted to analyze in-depth what exactly causes the issue and am asking for kind of howto debug webpack myself so you don't have to worry with such edge cases.
What I don't get for example is how the second version is pulled into execution when webpack is initially started from the version I specified in package.json.

If that

[2018-02-15 12:30] Rutulpatel7077 commented on #1641
Can you please share that with me please. @VaishaliRavindran

[2018-02-15 12:33] filipesilva commented on #6495
IIRC it is not that the the second version is pulled into the firsts compilation, but rather that different webpack plugins are using different versions of stuff like `ContextElementDependency`.

In this specific case, `@ngtools/webpack` imports `ContextElementDependency`
https://github.com/angular/angular-cli/blob/9a593dd32cb79ec6f581c7bd2d5ca1d4cbdddcdd/packages/%40ngtools/webpack/src/angular_co

[2018-02-15 12:37] AlokBansal8 commented on #6473
My webpack is 3.10 .0
I am still getting this error:

[code]

[2018-02-15 12:38] evilebottnawi commented on #6473
@AlokBansal8 seems you have invalid configuration for `style/css` loader(s)

[2018-02-15 12:39] actra-gschuster commented on #6495
OK, I understand, there's no chance (and need) to try to debug other than bugging library authors to regularly update their dependencies.
For the time being I'll solve it by specifing resolutions in my package.json.

Thanks for your support!

[2018-02-15 12:48] AlokBansal8 commented on #6473
Following is my `webpack.config.babel.js`

[code]

And Following is my `.babelrc` file
[code]
@evilebottnawi Can you please suggest where am I making the mistake.

[2018-02-15 13:05] VaishaliRavindran commented on #1641
For my case, I had a xml file that contained all the filename that needs to
be bundled together. So, using 'gulp-yaml' plugin , I converted that to
JSON and then using 'gulp-bundle-assets' plugin, I bundled those files into
a single file.

On Thu, Feb 15, 2018 at 6:00 PM, Rutul Patel <notifications@github.com>
wrote:

--
Regards,
Vaishali R

W: www.infibeam.com

Reduce your environmental footprint

[2018-02-15 13:07] plexigras commented on #6480
i will just stick with loader-runner as it seams to be working well

[2018-02-15 13:15] lalitmee commented on #6473
@AlokBansal8 first correct your file name. I think it should be `webpack.config.js`. No need to add babel there.

[2018-02-15 13:18] lalitmee commented on #6473
@AlokBansal8 Remove the `js/` form `filename: 'js/bundle.js'`. Since it is a `filename`, it should not contain any folder name. You can describe your folder in the `path` variable.

[2018-02-15 15:14] lukewagner commented on #6433
Are there any problems in addition to what is already being discussed?

When I mentioned shim functions, this was for JS&harr;wasm imports; and even then they weren't always necessary; just to break cycles.  I gave some reasons above why I don't expect wasm&harr;wasm imports to be common at the bundler stage; have you seen any indications otherwise?

By the time wasm&harr;wasm imports have become

[2018-02-15 15:28] plexigras commented on #6344
https://webpack.js.org/configuration/module/#rule-resourcequery is what was looking for

[2018-02-15 15:57] Swivelgames commented on #435
@TheLarkInn @Urthen Any updates on this? Would be awesome to have this. :) This is still an issue, unfortunately.

[2018-02-15 16:39] spion-h4 opened #6497 "ModuleNotFound error"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Current published webpack 3.11.0 generates the following error when used together with worker-loader:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The problem is this commit:

https://github.com/webpack/webpack/commit/e4375f8833eeb39391f868ca9b0409d69d71b768#

[2018-02-15 16:55] spion-h4 opened #6498 "bail = true should not kill watch mode on ModuleNotFound error"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

When `bail = true`, a ModuleNotFound error during a change of the files will cause the entire watch process to either abort or get stuck. Subsequent rebuilds will not happen even if the file changes.

**If the current behavior is a bug, please provide the steps to reproduce.**

* run webpack in watch mode

[2018-02-15 17:07] jdalton commented on #6433
The 4kb limit is a super bummer. Do you know if that applies to the API exposed in Node too?

[2018-02-15 17:23] lukewagner commented on #6433
Sorry, I don't

[2018-02-15 17:55] jdalton commented on #6433
For my use case I need a synchronous form for CJS to allow migrating to the asynchronous ESM form. But without the synchronous option I'm not going to offer the ESM form any time soon since there's no migration path.

The 4 kB limit seems odd since the file is already downloaded so not blocking for network. It's just CPU crunching which could be done in something like web worker.

[2018-02-15 18:16] jdalton commented on #6433
**Update:**

Grabbing some larger wasm payloads 15 kB and 41 kB I was able to get output from
[code]
Which I'm guessing means there is no restriction there *(a good thing)*.

[2018-02-15 18:19] rossberg commented on #6433
@jdalton, a web worker only helps if it can run concurrently, which necessitates an asynchronous API.

Still, not everybody is happy with the 4kB limit for synchronous compilation. Web platform folks felt very strongly about it, though. I don't actually know if V8 activates it on Node as well.

[2018-02-15 18:22] jdalton commented on #6433
A web worker can run the synchronous `Module` call off the UI thread. I think the 4 kB limit is a step too far. We get it, synchronous isn't ideal, but it has its place. Putting a blocker in it like this stop-energy which hinders adoption and worse fosters bad feels among those folks with the ecosystem impact to foster or discourage adoption.

[2018-02-15 18:34] rossberg commented on #6433
What's the point of off-loading to another thread when the UI thread has to block on that other thread finishing?

Agreed with the rest.

[2018-02-15 18:40] jdalton commented on #6433
I'm not going to bikeshed various web worker implementations. You get the gist, it's gravy when you can offload to another thread for crunching.

[2018-02-15 18:45] lukewagner commented on #6433
@jdalton Just confirmed also; I guess it's a browser-only limitation.

[2018-02-15 19:06] scriptjs opened #6499 "Webpack 4.0.0.beta.1 warnings emitted"
**Do you want to request a *feature* or report a *bug*?**
Possible bug

**What is the current behavior?**
Emission of warnings. Not certain where these are being emitted during the build but only present in development mode.
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
Configure webpack with BannerPlugin and HashedModulePlugin. Webpack in `development` mode.

[2018-02-15 19:09] Legends opened #6500 "lodash file size ~1,4MB in size ?"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I use dynamic module imports for importing lodash.js.  After executing  `webpack` it will create a separate file in the dist folder.  The problem is that the file has 1,4MB of size becaue it contains a bunch of source map data in it.
Why is that?
I don't use `  // devtool: "inline-source-map",`.

**If

[2018-02-15 19:37] ypconstante opened #6501 "Infinite loop in Stats.js"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Basically what I have is a index file, requiring a file, and this file ends up requiring the index file.
When generating the error text, the `while(current.issuer)` loop in Stats.js never ends, resulting in the `Invali

[2018-02-15 20:16] TheLarkInn commented on #6499
Hmm. This could be potentially the schemas/ for those plugins? If you are able to reduce further, would you have interest in submitting a PR? Happy to help.

[2018-02-15 20:19] scriptjs commented on #6499
@TheLarkInn Yeah, I can attempt to look into this further. Its annoying to see in my output. The last one, Tapable, was that not something just being introduced? How can it be deprecated?

[2018-02-15 20:37] Legends commented on #6500
I have used webpack with option parameters like this:
`webpack -d --env.dev --display-modules --progress --display-error-details`
The problem here was the -d flag.

[2018-02-15 20:37] #6500 closed

[2018-02-15 20:38] michael-ciniawsky commented on #6499
This is due to changes in the JSON Schema Spec I assume. I guess all [`id`'s](https://github.com/webpack/webpack/blob/master/schemas/plugins/BannerPlugin.json#L2) simply need to be removed. But I need to take a look at the spec (changes) first, but this happened before already

[2018-02-15 22:06] scriptjs commented on #6499
@michael-ciniawsky Thanks. Perhaps a regression then. I work with JSON Schema as well and know about the changes which is now at draft-07

[2018-02-16 02:25] coryc5 commented on #5968
@peterholmberg I believe we were actually missing `Symbol`

[2018-02-16 03:08] scriptjs commented on #6499
@TheLarkInn @michael-ciniawsky So webpack is using draft-04 schema when ajv is at draft-07 that supporting draft-06 without changes. There seem to be a couple of possibilities here. Instead of using ajv as a dependency of webpack, I would suggest removing it as a dependency and  generate a validate method  for each schema. This will eliminate the need to include the parser/validator and reducing w

[2018-02-16 03:57] michael-ciniawsky commented on #6499
For `loaders/plugins`  we use [`schema-utils`](https://github.com/webpack-contrib/schema-utils) which is very basic compared to  `webpack`'s own schema handling. Any suggestions always welcome :)

E.g UglifyJSPlugin isn't updated to the new plugin system yet, since the plugin should also support `webpack =< v4.0.0` for a while to keep maintenance low. It's annoying to get those and a way to silenc

[2018-02-16 05:43] nikhil4326 opened #6502 "Issue in generating multiple vendor bundle"
I am new to webpack, I am using webpack3 with angular 4. I have added dependencies in package.json. I have mentioned dependencies below. For each dependency i want to create respective vendor bundle. Like i have 5 dependencies i want 5 vendor bundles.
[code]
Please help me in creating multiple bundle for each dependency.
if possible please share the pros and cons with this approach.
Thanks in adva

[2018-02-16 07:51] #5324 closed

[2018-02-16 08:11] #5383 closed

[2018-02-16 10:28] sagorshkov opened #6504 "electron-main and electron-renderer targets problem with original-fs module"
**Do you want to request a *feature* or report a *bug*?**
    Bug

**What is the current behavior?**
    If your Webpack's target is **electron renderer** and you try to import **original-fs** built-in module, Webpack will try to find this module in the node-modules to include it in the bundle.

**What is the expected behavior?**
    Webpack should perceive the **original-fs** as the module from t

[2018-02-16 11:22] sharmad-nachnolkar commented on #1223
@sokra I am trying to use this plugin with webpack. It is able to split bundles into smaller chunks but when I am loading these script files in html, these modules are not being executed. Any idea?

[2018-02-16 13:19] raulfdm commented on #2066
I seem to have the same issue! `webpack@3.11.0`

[2018-02-16 13:23] mkapiczy opened #6505 "Multiple library versions conflict with submodules."
**Do you want to request a *feature* or report a *bug*?**
I want to report a potential bug.

I created also a stackoverflow topic, but then decided that it may be a bug, so...
https://stackoverflow.com/questions/48825061/webpack-different-version-of-the-same-library

**What is the current behavior?**

I have a project, which uses the current version of lodash library 4.17.5.

This project has as i

[2018-02-16 14:50] Cecilya commented on #5429
I have the same problem, unfortunately not reliably reproducable - mostly the produced code runs fine but sometimes I get the `module[moduleId] is undefined` error. Normally the error is resolved after refreshing the page, but currently I'm lucky if the page loads after 10 refreshs. Rerunning webpack doesn't seem to help, neither does removing node_modules and reinstalling.

Webpack: 3.10.0
Node:

[2018-02-16 15:15] Eugen-Ask commented on #4303
I got the same

[2018-02-16 15:20] EugeneHlushko commented on #6504
Seems legit, mind if i create PR @sokra ?

[2018-02-16 17:25] hrasoa opened #6507 "webpack 4: Invalid configuration object when using "type" in the rules configuration"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**

Given this configuration:

      {
        test: /\.scss$/,
        type: 'stylesheet',
        use: [
          'sass-loader',
        ],
        exclude: /node_modules/,
      },

When I launch the webpack dev server:

[code]
**If the current behavior is a bug, please provide the

[2018-02-16 19:22] michael-ciniawsky commented on #6507
There isn't a `type: 'stylesheet'` (yet) #6448 and it this wouldn't have any effect, the `{Error}` is correct here atm

[2018-02-16 19:22] #6507 closed

[2018-02-16 22:52] Jexordexan opened #6508 "dev server inline"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-02-16 22:52] #6508 closed

[2018-02-17 01:25] bluepnume opened #6509 "Tree shaking doesn't drop modules and imports, even when it clears the entire module"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I have the following import pattern:

[code]

[code]

Webpack/Uglify correctly strips out `function bar` from my bundle, but I'm still left with the following:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

See above code

**What is the expected behavior?**

Se

[2018-02-17 01:40] js2me commented on #4861
It's very odd so, on typescript and webpack with module esnext dynamic import is worked, and on just JavaScript and webpack dynamic import is not worked , with babel-plugin-dynamic-import too

[2018-02-17 01:42] js2me commented on #4861
@shlomiassaf r u using Typescript when you write
[code]

[2018-02-17 12:07] TX-DSS commented on #2983
I found add watchOptions can fix this problem
[code]

[2018-02-17 15:17] Zear06 commented on #1518
I also wasted some time trying to use `CommonsChunkPlugin` with `taget: 'node'`.
In the end, my solution was to import from the package (from itself) instead of importing the sources of separate chunks.

To prevent webpack from trying to import the package (and fail), it needs to be marked as externals:
[code]

And then you can use those imports
[code]

I uploaded a complete example here: https://

[2018-02-17 16:20] sneharghya opened #6513 "NSP check is reporting vulnerability on latest Webpack package."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-02-17 21:09] Slapbox commented on #2145
This is very much still an issue.

[2018-02-17 23:03] joshlrogers opened #6514 "Webpack not respecting current path"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
When executing webpack within a folder that shares a parent folder with another project that has a webpack config both configs are processed.
/parent/project1
/parent/project2

Running webpack --config [config file] while project2 also processes the webpack config, and reports errors, from project1

**

[2018-02-18 03:32] jevan0307 commented on #6074
Hi, may I take up this issue and continue what @reergymerej has done?

[2018-02-18 08:58] sokra commented on #6501
Weird that this happens. The issuer is the first one requesting the module. Normally there can't be a circularity here.

But anyway it's good to prevent crashing in this case. So send a PR fixing this by aborting when it's circular.

[2018-02-18 09:05] sokra commented on #6498
Why are you using `bail: true` with watching? Which advantages are you expecting?

[2018-02-18 09:05] sokra commented on #6502
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support. The issue tracker is for bug reports and feature discussions. See also [our CONTRIBUTING guidelines](https://github.com/webpack/webpack/blob/master/CONTRIBUTING.md).

[2018-02-18 09:05] #6502 closed

[2018-02-18 09:06] sokra commented on #6504
Yep send a PR

[2018-02-18 09:17] sokra commented on #6505
[code]

This forces all modules to resolve from the root node_modules.

[code]

This resolves node_modules hierachically. This is the default. Just omit this configuration.

[2018-02-18 09:32] Sawtaytoes commented on #4160
I've been having this issue for the last hour trying all sorts of different combinations.

_**NOTE:** This works fine when using `modules`, but `alias` is where I see the issue._

I'm on windows and have my Webpack config in a different directory than my project root and my project is on my secondary `D:` drive. The path I'm sending in is absolute:
[code]

Webpack config:
[code]

In a component, I

[2018-02-18 09:35] sokra commented on #6497
Don't name your packages like node.js internal modules.

[2018-02-18 11:34] lmammino commented on #1754
@amerllica, I am not a PostCSS expert, but you might need the `postcss-import` plugin for babel: https://github.com/postcss/postcss-loader#configuration

[2018-02-18 12:54] buoyantair commented on #4959
Hi @TheLarkInn Can I take this issue? :D I'm sort of familiar with webpack repo but not as much, I'll be rushing back and forth here for help :sweat_smile: Bare with me!

[2018-02-18 13:10] wmertens opened #6516 "Changing entries from plugins"
**Do you want to request a *feature* or report a *bug*?**

A feature

**What is the current behavior?**

The first tap hook that runs is "entry-option", which converts the `entry` option into either a single, multi, or dynamic plugin. This plugin then is called by the hook `make` to create entries with `compilation.addEntry`. This means it's not possible to manipulate the entries in options

This

[2018-02-18 13:15] buoyantair commented on #4959
So I have to just turn a knob on? ;-;

[2018-02-18 14:40] buoyantair commented on #364
@TheLarkInn Hi, is this issue fixed?

[2018-02-18 17:12] romanlex commented on #959
In my case I also have error
[code]
**HashedModuleIdsPlugin** is disabled, and my CommonsChunkPlugins settings is
[code]

[2018-02-18 18:49] ShavidzeT commented on #3128
To use for global scope with webpack loader

**Install**
`yarn add moment expose-loader`

**Add a loader:**
[code]

**import from entry files**
[code]

[2018-02-18 18:59] Legends commented on #6492
Adding parameter `webpack --display-error-details` helps a lot in debugging

[2018-02-18 19:24] joshlrogers commented on #6514
Unable to reproduce at this time when moving to a new parent folder.  This may just have been a file system phenomenon....

[2018-02-18 19:24] #6514 closed

[2018-02-18 19:40] Legends opened #6519 "Question: jQuery - global namespace"
- node v9.5
- webpack  3.11

I saw a sample where the `ProviderPlugin `is used to register `jQuery` globally.
In my case it's the opposite, `jQuery/$ `is already registered as variables under `window`.

Is this the default behaviour when using webpack, that jQuery registers itself globally?

**Webpack.config.js**
[code]
Calling a jQuery plugin, that doesn't expose itself as a module works and does

[2018-02-18 20:18] Jakkob opened #6520 "webpack plugin"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-02-18 20:18] #6520 closed

[2018-02-18 21:34] mnpenner commented on #1403
Without having to move half your configuration into `webpack.config.babel.js`, you should be able to do it this way:

`.babelrc`:

[code]

`webpack.config.babel.js`:

[code]

Then run webpack like this:

[code]

This way it should use the `webpack` env to execute `webpack.config.babel.js`, and the `dev` env to run your code. Then of course you can set up one more for production.

Pretty sure this

[2018-02-18 22:28] Mark083 commented on #1599
[https://webpack.js.org/configuration/node/](https://webpack.js.org/configuration/node/)
AJShippify commented on Nov 7, 2015 that made the parameter true and it wont fix, I fixed doing the opposite, turning parameter false:

[code]

[2018-02-19 01:07] handrews commented on #6499
What would need to happen to get webpack up to draft-07, given that the validator on which it depends supports draft-07?  I don't necessarily mean requiring everything to be draft-07 but perhaps allowing choosing it based on `$schema` and calling ajv with an explicit meta-schema version accordingly.

My apologies if this is a naive question, I'm dropping in from the JSON Schema project and have on

[2018-02-19 01:18] scriptjs commented on #6499
@handrews I really see no barrier at all for upgrading, only whether or not we include a compiled ajv validate method or the validator in webpack. I am for keeping all packages as light as possible since webpack may be used as a lib as well as a command line bundler.

[2018-02-19 07:31] #3871 closed

[2018-02-19 07:43] EugeneHlushko commented on #6513
I think chokidar needs version bump, can submit a pr if that sounds good @sokra

[2018-02-19 07:56] amerllica commented on #1754
Thanks dear @lmammino , you help me a lot these weeks, I know this is my issue and I know You tried a lot to help me.

Actually I used `postcss-loader` in a post above of your post, see my `package.json` , I used it and in `webpack` config I used it too, By the way, I believe this issue is not related to type of preprocessor, even `CSS`, if I import `CSS` in my React component, it cause to error i

[2018-02-19 10:35] theCuriousOne opened #6521 "Breaking change in version 3.11?!"
This is an unintentional breaking change, that was not in the released notes.

Currently there is webpack.js in lib folder, which is not the same as webpack.js in the bin folder like it was in version 3.10

**If the current behavior is a bug, please provide the steps to reproduce.**

I would like to remain the webpack.js in the bin folder like it was in version 3.10, or at least how to use it in t

[2018-02-19 10:36] damianobarbati commented on #6499
Is there any docs/documentation on webpack@4 available online? Or just the post on medium?

[2018-02-19 11:31] Legends commented on #6519
jQuery registers itself globally if you use the source version:

alias: {
            jquery: "jquery/src/jquery",

In order to have jQuery only available inside modules use, remove the alias from above.
The it will automatically use the dist version.

[2018-02-19 11:31] #6519 closed

[2018-02-19 11:54] js2me commented on #587
anyone knows that uglifyjs warnings it is just warnings, that problems its removing?
Just I have in cody that expression:``` if(__DEV__) ```
After build I think so it will be : ```if(1)```
But if I using UglifyJS plugin that conditions will be stay in my production code?

[2018-02-19 12:28] spion-h4 commented on #6498
@sokra I have a config file that specifies bail true by default. I was not sure what to expect. Maybe that the first typescript compilation error will abort the current bundling if `bail: true`, whereas with `bail: false`  bundling will continue despite errors. Certainly not that the process will die in watch mode.

Why am I even allowed to use bail true when watching? Why doesn't webpack ignore t

[2018-02-19 12:31] spion-h4 commented on #6497
Thats not whats going on here. worker-loader is broken because it tries to bundle the above file.

[2018-02-19 12:51] sokra commented on #6521
This didn't change

https://github.com/webpack/webpack/compare/v3.10.0...v3.11.0

[2018-02-19 12:54] sokra commented on #6498
https://webpack.js.org/configuration/other-options/#bail

`bail` will exit webpack when the first error is found. You can use it in watch mode, but it will still exit webpack when the first error is found.

[2018-02-19 12:55] sokra commented on #6497
hmm... This file is not meant to be bundled.

[2018-02-19 12:59] #6504 closed

[2018-02-19 13:09] spion-h4 commented on #6498
At the very least webpack should generate a warning when you try to set bail and watch to true at the same time.

[2018-02-19 13:28] PlayMa256 commented on #6498
Should we tell the user, that he is doing something bad, or something that will not work? I don't so.

[2018-02-19 13:41] donaldpipowitch opened #6522 "Can't create UMD build which can be required by Node"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

If you require a module in the target output UMD you get this error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

* https://github.com/donaldpipowitch/webpack-umd-node
* `$ git clone git@github.com:donaldpipowitch/webpack-umd-node.git && cd webpack-umd-node

[2018-02-19 14:03] sokra commented on #6433
cycles are not the problem in this case (they are another problem).

Consider a part of you application is loaded on demand and contains WASM (this is always the case with webpack when using WASM). Assuming the WASM module depends on some other JS module in that part of the application.

When the user requests that part of the application I want to start downloading the JS and the WASM. I also wan

[2018-02-19 14:04] sokra commented on #6522
At which line does the error happen?

[2018-02-19 14:04] codetheorist commented on #6469
@ThomasLeveque Would you be able to post a gist to your actual config file please?

[2018-02-19 14:05] reergymerej commented on #6074
@jevan0307, please do.  I pushed the work in progress I had.  https://github.com/webpack/webpack/pull/6334/commits/2b45e65364b12dde94658c835495d043758862a6

[2018-02-19 14:17] scriptjs commented on #6499
@damianobarbati For the most part the online docs should work for you. The main changes for me was that you will need to put your uglify plugin into an optimization config since it is no longer handled as a regular plugin.  Second you use modes instead of environment for configuring development vs production. So I am capturing the mode from argv to determine which plugins to load. That was all to

[2018-02-19 14:26] sokra commented on #6522
hmm... I see.

Try `target: "node"` or `output.globalObject: "xxx"`

[2018-02-19 14:38] sokra opened #6525 "Add `target: "universal"`"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
targets are pretty restrictive and a web bundle can't be used in node or webworker.
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
The universal target includes runtime code that runs in web, webworker and node.js. The code can be a

[2018-02-19 14:40] beitaz commented on #6493
I'm so. Any idea?

[2018-02-19 14:41] donaldpipowitch commented on #6522
Is this a new setting? Haven't seen it so far. What should the value be in the case of a universal module?

[2018-02-19 14:46] donaldpipowitch commented on #6522
With `target: 'node'` it throws `Uncaught ReferenceError: global is not defined` if the UMD build is loaded in the browser 😄

[2018-02-19 14:49] rossberg commented on #6433
@sokra:

We have discussed generalising the instantiate function to allow its import object to be a collection of promises of individual objects (or even allow the individual entities to be promises). That should solve the parallel compilation use case without requiring shims.

[2018-02-19 15:34] Moghul commented on #5593
I'd also love some sort of solution for this - I've got several packages with the same dependency and it's being loaded twice.

`yarn install --flat` has removed the duplicates from the subdirectories but they're still duplicated in the bundle.

[2018-02-19 16:35] damianobarbati commented on #6499
Thanks @scriptjs for replying me and sharing your experience even if my q wasn't related to your issue 👍🏻

[2018-02-19 17:46] top1st commented on #1754
check this url

install babel-plugin-css-modules-transform
and add plugins option to .babelrc file

[code]

https://www.npmjs.com/package/babel-plugin-css-modules-transform

[2018-02-19 17:47] garygreen opened #6526 "this.jQuery cannot be shimmed with ProvidePlugin"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The ProvidePlugin does not properly support importing and replacing `this.jQuery` in legacy apps.

**If the current behavior is a bug, please provide the steps to reproduce.**

**test.js**

[code]

This outputs the following:

[code]

If you were to define it as `this2` instead, you get the correct o

[2018-02-19 20:26] mzgoddard opened #6527 "[spec: webpack 5] - A module disk cache between build processes"
## Current Problems & Scenarios

Users get fast webpack builds on large code bases by running continuous processes that watch the file system with webpack-dev-server or webpack's watch option. Starting those continuous processes can take a lot of time to build all the modules for the code base anew to fill the memory cache webpack has to make rebuilds fast. Some webpack uses remove the benefit fro

[2018-02-19 20:30] mzgoddard commented on #6527
#### Related

- https://github.com/webpack/webpack/issues/250
- https://github.com/mzgoddard/hard-source-webpack-plugin/issues/251
- https://gist.github.com/mzgoddard/0b42ad50048f407c1f3ac434a874f8e1

[2018-02-19 21:15] lukewagner commented on #6433
Ah, ok, I was imagining the JS file that called `instantiateStreaming` also contained all the JS code (it had already been downloaded), but it sounds like these are in separate files, so I see why function shims would always be needed.

Agreed with @rossberg here, using shims as a polyfill.

It's not possible to take two arbitrary wasm modules and have them share memory and tables; they have to be

[2018-02-19 22:04] jhchen commented on #6461
I was able to fix the first eval issue by setting [node.global](https://webpack.js.org/configuration/node/#node-global) to false. This will avoid including this [shim](https://github.com/webpack/webpack/blob/master/buildin/global.js) which includes an eval in a try/catch. Not sure if this will be confusing or clarifying but I only observed this CSP warning in Firefox and not Chrome.

[2018-02-19 22:57] tomascharad commented on #2563
Hi, I've done a lot of tests, and the problem might be related with the server.
I just want to make sure that is the case narrowing down the problem the detail.

[2018-02-19 23:22] mikegreiling opened #6528 "Incorrect description in "multiple-entry-points" example for webpack 4"
The `multiple-entry-points` README.md says:

https://github.com/webpack/webpack/blob/master/examples/multiple-entry-points/README.md

However with webpack 4, this no longer seems to be the case.  In the output below, it appears the module system and chunk loading logic exist within `pageA.js` and `pageB.js`.

I am unsure if the description is wrong or if the example output is wrong, but in either

[2018-02-20 02:01] jdavidbakr commented on #2297
Experiencing this on Ubuntu Budgie, but @jaafit your solution worked for me (adding `-d` flag to the script)

[2018-02-20 03:54] lukewagner commented on #6433
Practically speaking, dynamic linking of unrelated modules (i.e., modules that aren't compiled all together as part of the same program/app/system) requires a stable source-language ABI which doesn't exist for any of compile-to-wasm language I've seen (and probably shouldn't until ABI-affecting wasm features like [multiple return values](https://github.com/WebAssembly/multi-value) and [exception h

[2018-02-20 05:53] liz-mars commented on #1805
Had the same problem. Check router.ex. I bet you have a wildcard route grabbing css and forcing it through preprocessing by phoenix. Check your logs for something like

[code]

[2018-02-20 08:01] #1610 closed

[2018-02-20 08:30] staeke commented on #5691
To add to this issue - the main motivation for me is debugging and using together with devtool=eval (and friends).

A really hackish fix to part of the problem is something like

[code]

but ES6 module export names are still rewritten. Please get us an option to disable all this during development.

[2018-02-20 08:30] xtuc opened #6530 "WASM parsing and more"
I was playing around with the [ballercat/wasm-loader](https://github.com/ballercat/wasm-loader), but I believe you want to add first-class support in Webpack?

I would like to share a bit of my work done so far. We have a first implementation of the wasm binary DCE here https://github.com/ballercat/wasm-loader/pull/7 (you might have an idea to collect the usages btw :) ) and I was thinking about a

[2018-02-20 08:52] mkapiczy commented on #6505
Yes, it solved the issue. Thank you.

[2018-02-20 08:52] #6505 closed

[2018-02-20 09:48] evilebottnawi commented on #2563
@tomascharad just try to put other big js file, example react framework, and include this in you html and test

[2018-02-20 11:53] tomascharad commented on #2563
Many thanks!

![image](https://user-images.githubusercontent.com/1534092/36422603-8022e480-161b-11e8-8403-069c806b9d93.png)

[2018-02-20 11:53] #2563 closed

[2018-02-20 12:06] evilebottnawi commented on #2563
@tomascharad :+1:

[2018-02-20 12:29] tomascharad commented on #2563
Will continue trying to solve the problem here: https://github.com/rails/rails/issues/32068

[2018-02-20 14:13] sokra commented on #6530
I tried to use `wasm-dce`, but it seem to have problems with `imports`

[code]

[2018-02-20 14:16] xtuc commented on #6530
Ah sorry about that, could you please share the binary? Is it the one used in the tests here?

[2018-02-20 14:51] sokra commented on #6528
You are right, this behavior changed for v4. module system and chunk loading logic is now in pageA and pageB.

Do you want to send a PR to fix the description in the example? Edit `template.md`.

[2018-02-20 15:10] theCuriousOne commented on #6521
Hmm sorry.  It must have been some strange mistake while fetching the package. Really sorry

[2018-02-20 15:16] shellscape opened #6534 "RFC: Error and Reporting Alignment"
## Proposal for Codifying Errors Across the Ecosystem for Consistent Reporting

While working on `webpack-stylish` one thing has become glaringly obvious: the format of errors in and out of webpack proper, across the ecosystem and between loaders and plugins, is extremely inconsistent. This ultimately provides a _poor user experience when debugging errors._ And would open greater opportunities to

[2018-02-20 15:57] nveenjain commented on #6499
Hey, @scriptjs , guess, this is working fine for me in development, could you please upload webpack.config.js file, so that i can start working on it?

[2018-02-20 16:16] michael-ciniawsky commented on #6534
**loader.js**
[code]

**Plugin.js**
[code]
### `new *Error(err, options, name)`

#### ` {Error}` (`err`)

- The original `{Error}`

#### Options (`options`)

|Name|Type|Default|Description|
|:--:|:--:|:-----:|:----------|
|**`stack`**|`{Boolean}`|`true`|Enable/Disable Stack Traces|
|**`frame`**|`{Boolean}`|`true`|Enable/Disable Code Frames|
|**`details`**|`{Object}`|`{}`|Add additional (webpack) m

[2018-02-20 16:18] shellscape commented on #6534
@michael-ciniawsky can you explain what that is and why you posted it on this thread?

[2018-02-20 16:37] akanshgulati commented on #6461
@jhchen I tried to learn more and turns out setting `node:false` solved my problem. Thanks man

[2018-02-20 17:56] TheLarkInn commented on #6534
@shellscape In cases like watch mode vs not, do we want to have a property in this object for whether or not this is a process exiting vs not process exiting error? I remember there are cases where `bail: true/false` effects this? Does it matter? These aren't suggestive questions but here to spur any other discussion's to help flesh out this scenario.

[2018-02-20 18:01] shellscape commented on #6534
@TheLarkInn I can't recall a scenario where that would make a difference (the current `WebpackError` doesn't account for that and things seem to run without issue). If it would be helpful, that could be added to `metaData` or a dedicated property, it would just have to be used consistently and correctly.

[2018-02-20 18:34] veebz opened #6537 "Webpack4 - Modules Imported from Separate Chunk Initialized More Than Once"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In webpack 3, modules are initialized exactly once.
In webpack@4.0.0-beta2, modules from another chunk are initialized each time they are imported.

This becomes problematic any time you have a module containing global state that is consumed by multiple other modules.  A more specific example would be

[2018-02-20 18:47] matthieu-foucault commented on #3158
Having the same issue with `webpack 3.11.0` and `babel 6.26`

[2018-02-20 18:59] aguynamedben commented on #1479
@dmitry I tried that but was still having issues. I ended up using https://github.com/pirelenito/git-revision-webpack-plugin to use the sha1 from the latest commit. It works for now, but issue this was very surprising and concerning behavior after I had built a lot of trust. The idea of hashing (I think) is to reliably be able to determine if the contents of the files are identical (i.e. for CDN u

[2018-02-20 18:59] Milanzor commented on #370
I also wrote a plugin for this, which adds new entries in watch mode: https://github.com/Milanzor/webpack-watched-glob-entries-plugin => https://www.npmjs.com/package/webpack-watched-glob-entries-plugin

[2018-02-20 19:08] lukewagner commented on #6433
I may be missing the new challenge that's in your example, but why do the steps 1-3 that I mentioned [above](https://github.com/webpack/webpack/issues/6433#issuecomment-365364099) not work (admittedly, using shims)?  In particular, by the time the ModuleEvaluation tick started, `wasm`'s `instantiateStreaming` would have already resolved (during the instantiate phase) and its formerly-`start` funct

[2018-02-20 20:10] haggholm opened #6538 "Webpack imports wrong version of duplicate dependency"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Part of our dependency tree:

[code]

But importing `pixel` fails, because it actually ends up with `mime@2.2.0` (which is incompatible).

**If the current behavior is a bug, please provide the steps to reproduce.**

**Please mention other relevant information such as the browser version, Node.js ver

[2018-02-20 20:31] montogeek commented on #6538
Could you please create a repository with a test case?

[2018-02-20 20:33] rosenfeld commented on #3141
Could this issue be reopened please? Consider something like this:

[code]

So, what is the problem with such approach? Suppose the 'dialog-polyfill' package requires "Object.assign". Then it will raise if the dialog polyfill is executed before es6-object-assign. System.load would allow us to just starting downloading all required polyfills in parallel while allowing us to specify the order when t

[2018-02-20 20:41] ljharb commented on #3141
@rosenfeld polyfills can never be loaded asynchronously; that's just unavoidable.

[2018-02-20 20:51] rosenfeld commented on #3141
That's not true. I actually use the approach I mentioned. I have two configurations in my webpack build, one for legacy browsers (IE11 mostly) with babel targetting ES5 basically and including the Promise polyfill and another one targetting modern browsers. Some polyfills are missing in some of those "modern" browsers, so I load them on demand. It's an SPA with a single point of entry, our client-

[2018-02-20 22:11] ljharb commented on #3141
I believe the way to do *that* is to create an entry point that synchronously imports them, and `import()` that entry point instead.

[2018-02-20 22:18] rosenfeld commented on #3141
This way you end up loading 10 polyfills when the browser only needs one. Even worse, once your application requires a new polyfill it will invalidate the cache.

[2018-02-20 22:21] ljharb commented on #3141
Neither of those is a problem on many major high traffic websites ¯\\\_(ツ)_/¯

Separately, “the method is present” doesn’t ensure its correct, especially for Object.assign - the shim, not your code, should be in charge of whether it’s applied or not.

[2018-02-20 23:36] Legends opened #6539 "Question: Using webpack with VS2017 - ASP.NET Core 2.0"
**The code below works fine in VsCode + webpack**

**Index.ts:**
[code]
I am using the ProvidePlugin to inject jQuery into this script file.

**jQueryPlugin-No-Module.js:**
[code]
**I have copied the all code from VsCode to VS2017-ASP.NET Core Project and just adapted the paths.. Everything runs perfectly except the plugin above,
I get this error:**

![image](https://user-images.githubusercontent.

[2018-02-20 23:47] joepagan opened #6540 "Is it possible to use critical.bundle.js, above vendor.bundle.js in the DOM?"
**Do you want to request a *feature* or report a *bug*?**
Not sure if it's been done before, or, what I am experiencing is a bug, or, just I'm not using it right.

**Please ask questions on StackOverflow or the webpack Gitter**
Banned from StackOverflow, my past has come back to haunt me, despite having done my best to correct all my mistakes. [Asked on Gitter](https://gitter.im/webpack/webpack?at

[2018-02-21 00:28] TheLarkInn commented on #6433
@lukewagner I personally would like to see shims as a last-ditch effort.

Beyond "general discouraging for developers using the Sync cases", are there underlying issues that browsers are having with implementing or supporting this that are not mentioned? It *seems* like there is some sort of underlying concern here that hasn't surfaced itself?

We are hoping to have support for out of the box via

[2018-02-21 00:32] TheLarkInn commented on #6539
I would submit an issue to the JavaScriptServices ASP.NET repo which I believe contains the JavaScript tooling implementation. I will close this, however if you do not get anywhere, please suggest a question on Stack Overflow first, and/or gitter.im.

[2018-02-21 00:32] #6539 closed

[2018-02-21 00:35] TheLarkInn commented on #6534
Agreed

[2018-02-21 00:35] TheLarkInn commented on #6534
In the sake of Stats Objects, and Compiling to stats.json, do we need to explicitly state that all Error Objects need to be serializable?

[2018-02-21 00:52] TheLarkInn commented on #6527
@mzgoddard brilliantly written for your first spec. One question I'd like you to add, and potentially flesh out is: "Should different node version or OS change build hashes or invalidate the cache?"

[2018-02-21 01:35] lukewagner commented on #6433
Some engines (the set of which may change over time) need to do a compilation/specialization step during instantiation based on the physical characteristics of the received `Memory` (see [Section 7.1](https://github.com/WebAssembly/spec/blob/master/papers/pldi2017.pdf) for more details).  Using `WebAssembly.instantiateStreaming` ensures no synchronous janks if this happens.

I assume the shims we'

[2018-02-21 01:41] lukewagner commented on #6433
Oops, I meant to also respond to:

For this, what I suggested above was that, when `a.wasm` imports a table/memory/global defined and exported by wasm module `b.wasm` (perhaps transitively), `b.wasm` can be rewritten to also import the table/memory/global and then the table/memory/global can be created via the JS API and imported by both.  Could this work?  It seems like all of this wiring up happ

[2018-02-21 02:47] shellscape commented on #6534
Yes, they should be serializable. I don't foresee any issue with the proposal being so, but it's possible that classes with extend that error class may implement code that is not. However, I'm not sure how we'd enforce that as yet.

[2018-02-21 06:36] mikegreiling commented on #6528
@nveenjain go for it!  I probably won't have the time to get to it this week 😄

[2018-02-21 07:30] vsDizzy commented on #2281
I bet this could be done by custom plugin. I need to transpile some files and emit them without wrappers.

[2018-02-21 07:49] MhMadHamster commented on #6540
I dont know the content of vendor and critical js so my guess is you need to specify chunks for vendor chunk:
[code]

[2018-02-21 07:56] #6113 closed

[2018-02-21 08:43] amerllica commented on #1754
Thanks a lot dear @top1st , I ❤️  you bro, I, LOVE, YOU, I can not explain my feeling 😭  This is tears of happiness, I love you @top1st , I'm indebted to you for the rest of my life. 🙇

And also special thanks to @lmammino , dear friend who help me a lot. thanks All... 💋 💋 💋

[2018-02-21 09:01] #4735 closed

[2018-02-21 09:13] paulcalabro commented on #4258
So everything in my webpack chunk functions as expected, however, I wasn't able to access jQuery/$ in the _console_ until I followed @ptflp 's advice above and added this to my `app.js`:

[code]
How come the script being loaded in my webpage doesn't expose  jQuery/$? (i.e. why do I need line 2 & 3 above?)

[2018-02-21 09:19] Legends commented on #6539
Ok, thanks for the hint, I will try it in the JS tooling repo.
Regarding your suggestion to post on SO first.... hm... webpack questions do not get an answer quickly there or sometimes never.

[2018-02-21 10:07] Legends commented on #6539
Microsoft closed this issue, without any interest in resolving it...

[2018-02-21 11:11] joepagan commented on #6540
critical.entry.js only includes 1 module & initialises it.
webfontloader.js is the module, it doesn't include/require anything

[I have added this setup to a repo for you](https://github.com/joepagan/webpack-criticaljs-issue-example)

Just `yarn` then `yarn start` and open the `index.html`

If I am to specify what goes in vendor like in your example, does that explicitly tell vendor to only includ

[2018-02-21 11:43] damianobarbati opened #6543 "webpack@4 - [name] identifier ignored in output filename"
**Do you want to request a *feature* or report a *bug*?**
Maybe a bug or a renamed variable?

**What is the current behavior?**
Migrating from @3 to @4, here a simple config:
[code]

Here src/*index.js*: <== filename thus [name] should yield "index"
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
`yarn webpack --mode development --config webpack.config.js`

**W

[2018-02-21 11:48] montogeek commented on #6543
What version of webpack 3 are you using?

[2018-02-21 11:52] stefanKuijers commented on #2239
@celebro's answer solved it for me as well. Thanks!

[2018-02-21 11:53] damianobarbati commented on #6543
[code]

[2018-02-21 12:08] montogeek commented on #6543
Even in webpack 3.11.0 you get `main.js`: https://github.com/montogeek/webpack-filename-output-bug

What version of webpack 3 are you using?

[2018-02-21 12:14] montogeek commented on #6543
You have to name your entry to get `index.js`:
[code]

[2018-02-21 12:31] rosenfeld commented on #3141
I'm talking about bundle size and parsing time, which impact in the initial load. Whether or not the polyfills are conditionally applied is not important. I don't want my clients to download and parse more code than required. Anyway, the technique I described is not something really new, it's just best practice.

[2018-02-21 12:41] damianobarbati commented on #6543
It was that, thanks!

[2018-02-21 12:41] #6543 closed

[2018-02-21 12:46] shellscape commented on #6534
I've updated the proposal, point number 1, to include plans and reasoning for making `WebpackError` abstract.

[2018-02-21 12:46] montogeek commented on #6543
Surprisingly, webpack docs does not mention it, something like: "`main` will be the default name", although you can deduce it by this example (https://webpack.js.org/concepts/entry-points/#single-entry-shorthand-syntax), in any case it would be better to say it explicitly.

[2018-02-21 12:49] damianobarbati commented on #6543
I don't know why but I was sure [name] yielded the filename without extension. It yields the entry label instead.

[2018-02-21 13:07] MhMadHamster commented on #6540
yes

you can make so all modules from node_modules folder will be placed in chunk [check the docs](https://webpack.js.org/plugins/commons-chunk-plugin/#passing-the-minchunks-property-a-function)

as for your example, the problem is: webpack files are being placed in the vendor chunk, so that's why you're getting an error. It runs okay for me in prod mode because of no webpack dev files. Currently,

[2018-02-21 13:10] #6499 closed

[2018-02-21 13:25] sendilkumarn commented on #6157
Just a curious question, why this needs `inquirer` can we do it with any other light weight library (if available) ?

[2018-02-21 13:25] sokra commented on #6538
I bet on your `resolve.modules` uses `path.resolve(__dirname, "node_modules")`, which causes the problem.

[2018-02-21 13:27] sokra commented on #6537
Use `optimization.runtimeChunk: "single"` when using more than one entrypoint in a single page.

[2018-02-21 13:29] Legends commented on #6539
Didn't know that there exist multiple instances of the `jQuery` object. I thought one instance is passed around everywhere.

That's why my jQuery plugin never gets attached to the jQuery object of the calling code, because it gets attached to another copy of `jQuery`.

[Answer on SO](https://stackoverflow.com/questions/29878790/exposing-jquery-plugin-with-webpack)

[2018-02-21 13:31] sokra commented on #6526
Could you check if this is still an issue in webpack 4? We did some changes to the handling of `this` in the parser,

[2018-02-21 13:33] sokra commented on #6522
Maybe that's the better solution: #6525

[2018-02-21 13:39] sokra commented on #6493
Try to switch the order:

[code]

[2018-02-21 13:39] #6521 closed

[2018-02-21 13:41] sokra commented on #364
fixed

[2018-02-21 13:41] #364 closed

[2018-02-21 14:03] montogeek commented on #6525
@sokra Can I give it a try to implement this?

[2018-02-21 14:23] joepagan commented on #6540
Hi Max,

Thanks so much for getting back, appreciate this is a busy repo.

I have now [added the minChunks function](https://github.com/joepagan/webpack-criticaljs-issue-example/commit/cf9150e04354c22be4e4395b9b7b0c6551b64c96#diff-11e9f7f953edc64ba14b0cc350ae7b9d) as per your suggestion to deal with node_modules chunks.

Ah you are right regarding running my production env script `yarn run build`.

[2018-02-21 14:50] sokra commented on #6433
They could compile the code during compilation phase and only do the memory base patching while instantation. Memory base patching must be fast and sync anyway because it is executed on grow and shrink memory too.

Shims doesn't work for the `magicNumber` imported from `c`. You could argue that `get_global` could be rewritten to a imported function call (shim), but that would only work for primiti

[2018-02-21 15:12] sokra commented on #6525
Sure

[2018-02-21 15:23] MhMadHamster commented on #6540
You either need to place smth in the vendor js by specifying modules via array(how i mentioned earlier) or remove vendor at all, because in your current configuration nothing is being placed in the vendor. If you still want to place there modules from node_modules but exclude webpack files you can prob do smth like this:  `return module.context && module.context.includes("node_modules") && !module

[2018-02-21 15:30] nveenjain commented on #6528
I was having a doubt however, shouldn't the unoptimized code be one with development mode?? and in bundle-common.js, we are calling webpack-cli with mode set to none, which i think is not supported now (as it is throwing errors), mode can only be either `development` or `production`?? Should i also edit that?

[2018-02-21 15:35] lukewagner commented on #6433
Thanks a lot for all the consideration!

The memory patching is not the issue, but rather the reservation of ~8gb memories; OS quota limitations can prevent always grabbing this much virtual memory leading to completely different codegen being necessary.

If the memory/table definitions were hoisted out of wasm modules and into `new WebAssembly.Memory`/`Table` JS API calls up front, couldn't these

[2018-02-21 16:10] sokra commented on #6433
## The following rewriting happens to the WASM:

* When memory is exported and imported by other WASM: rewrite to import memory (X1)
* When table is exported and imported by other WASM: rewrite to import table (X2)
* rewrite import global to import function returning the global type
* rewrite `get_global` to `call` of the imported function
* In future we may do the same for `set_global` but this i

[2018-02-21 16:12] sokra commented on #6433
I was talking about the case when ESM exports a memory object and WASM imports it.

`export default new WebAssembly.Memory(..)` and `(memory (import "./x" "default"))`

[2018-02-21 16:15] sokra commented on #6528
The example building system sets `mode`.

[2018-02-21 16:20] damianobarbati opened #6544 "webpack@4 - ERROR in TypeError: __webpack_require__(...) is not a function"
**What is the current behavior?**
I'm trying to migrate from webpack@3 to webpack@4 with a simple config (https://github.com/damianobarbati/yarsk/blob/master/config/webpack.config.js) but I get:
[code]

The bundle analyzer shows that full `lodash-es` is included into the bundle and no tree shaking is happening.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here the

[2018-02-21 16:31] ReeganExE commented on #1385
With **Webpack 4**, `mode: 'production'` will automatically add optimizations plugins.

If you get the following warning/error message when building with  `mode: 'production'`, try fixing by below instruction.
[code]

[2018-02-21 16:51] nveenjain commented on #6528
@sokra, exactly that's what i'm saying the bug is,  i think https://github.com/webpack/webpack/blob/master/examples/build-common.js#L47 sets mode to none. I don't know why this was not reported though. I was completely confused as to what is going on, but after changing mode to development it worked fine and no optimizations were involved, it actually would affect the stats for every unoptimized c

[2018-02-21 16:52] mzgoddard commented on #6527
@TheLarkInn ooo, that's a good question. I added a more specific question relating that to the environment or configuration hash comparison.

I think the node version and OS would be answered separately. It would probably be wise to consider the node version to be comparable to npm/yarn/bower installed dependencies and be part of the environment hash. The OS I think gets to a deeper aspect of why

[2018-02-21 16:56] gilomen2 commented on #1022
@dandigangi thank you! saved me so much frustration.

[2018-02-21 17:04] ljharb commented on #3141
Right - I’m saying that you can’t know whether it’s required until you download and parse the shim.

It is not a best practice to do what you’re suggesting; the best practice is to unconditionally and synchronously send down all possible shims and let them sort out in-browser if they need to be applied or not.

[2018-02-21 17:40] rosenfeld commented on #3141
Well, there are trade-offs. When you send all shims in a single request, it could be faster in HTTP/1, but you're sending more data than needed, which is specially bad for low limit 3G plans for example. When serving over HTTP/2 the impact of the extra requests is not that high. Also, the way I used in the example has better caching for the polyfills and ideally would only load the polyfills in th

[2018-02-21 18:14] veebz commented on #6537
Thanks, that solves it.

[2018-02-21 18:14] #6537 closed

[2018-02-21 18:46] ev1stensberg commented on #6157
Visually, it's looking better. Polymer is using inquirer too

[2018-02-21 18:56] ljharb commented on #3141
You demonstrated it incorrectly; Object.assign is present but broken in a number of environments. This is a common mistake, and is easily resolved by unconditionally loading every shim.

[2018-02-21 19:04] sendilkumarn commented on #6157
I agree, but just out of curiousness, any lightweight library would be interesting to handle this.

[2018-02-21 19:38] kantuni commented on #595
For base 64 [svg-url-loader](https://github.com/bhovhannes/svg-url-loader) worked perfectly.

[2018-02-21 22:32] jakeNiemiec commented on #2145
This issue was [confirmed as intentional](https://twitter.com/ChromeDevTools/status/960972070711476224) by @ChromeDevTools in this thread: https://twitter.com/dan_abramov/status/960324134734573569

There's a lot of talk, but this was the best I could get out of them:

There's 130 people subscribed to this thread, **I think this issue could use a bit more visibility.** I really don't like to see Ch

[2018-02-21 23:26] haggholm commented on #6538
@sokra You bet correctly, that was the problem. Thanks!

[2018-02-21 23:26] #6538 closed

[2018-02-21 23:43] rosenfeld commented on #3141
The basics seems to work well in all supported browsers in our app, so I'm not worried about that. Luckily an application should have their tests run against all supported browsers so we would know if we're using a feature that is missimplemented in some browsers. I don't think this is a compelling reason to deliver much more code to modern browsers than required... When you add all polyfills the

[2018-02-21 23:53] TheLarkInn commented on #6544
There's a couple things that could be problems here so I'm going to try and suggest a few things.

1. Are you using `mode: production` with the latest build of `lodash-es`
2. Are you setting `modules: false` for babel-preset-env in your .babelrc if not, then this will convert modules to commonjs which can't treeshake.

[2018-02-21 23:59] hutch120 commented on #5661
The very popular module webpack-node-externals appears to address this issue:
https://www.npmjs.com/package/webpack-node-externals

[2018-02-22 00:05] damianobarbati commented on #6544
Thanks for helping @TheLarkInn.
1. does tree shaking happens just if production optimizations are enabled like in webpack@3?
2. yes I am => https://github.com/damianobarbati/yarsk/blob/master/package.json#L91

Anyway mode:production doesn't work either because I get a similar error and I'm trying to have the development environment up and running before moving to the production one.

Here what I g

[2018-02-22 02:05] mc-zone commented on #3216
Hi, @TheLarkInn ! I see your code about the target checking for `performance.hints` in #3604 and only `web` and `webworker` show size warnings.  But looks like it was rewritten and now in master is it [WebpackOptionsDefaulter.js#L159](https://github.com/webpack/webpack/blob/244d27a42daccea5e4e211374c111109e18f1059/lib/WebpackOptionsDefaulter.js#L159), not sure when or for what.

Actually in my `ta

[2018-02-22 02:34] adeperio commented on #4160
Yep same, still getting this issue too. Doesn't seem to work at all

[2018-02-22 02:37] mc-zone commented on #435
I'd like to work with it. But how could we detect case wrong with high efficiently? It may bring performance decrease due to bunch of disk read.

Node v9.2 has add an implementation [`fs.realpath.native`](https://nodejs.org/dist/latest-v9.x/docs/api/fs.html#fs_fs_realpath_native_path_options_callback) that can read real path with case-sensitive for a file. I think it performance maybe better than

[2018-02-22 02:47] mc-zone commented on #435
Also add a resolve failed check in webpack/enhanced-resolve#137. Just triggered when request not found in CASE-SENSITIVE env and using `readdir`. Not sure how could we do it elegantly in CASE-INSENSITIVE env.

[2018-02-22 03:05] mc-zone commented on #2878
I've make a PR #2878 to add loader name to error message internally so that people can see what the error comes from clearly.

About the properties mentioned above, on the one hand there maybe duplicated (`name`, `reason` with `message` and `details`), on the other hand I just realized (by sokra 's hint in my PR) that if an Error has got these props, it may have unexpected effect when we using it

[2018-02-22 05:55] coin8086 commented on #5429
I have a similar problem with Webpack 3.8.1 and Angular/cli 1.5.3: it is only when running in Chrome's private mode. I mean my Angular app works well except in Chrome's private mode, in which it encounters an error saying "module[moduleId] is undefined". But I don't know why by checking the error context. So it'd be nice to have something more.

[2018-02-22 08:44] toididau456 commented on #2949
@lahdo thank you!

[2018-02-22 09:00] samouri opened #6547 "Should webpack forbid directly importing transitive dependencies?"
**Do you want to request a *feature* or report a *bug*?**
Feature I think! bugs are in the eye of the beholder :)

**What is the current behavior?**
Webpack allows for application code to depend directly on transitive dependencies

**If the current behavior is a bug, please provide the steps to reproduce.**
minimal example and short writeup is here: https://github.com/samouri/webpack-transitive-de

[2018-02-22 09:07] Sawtaytoes commented on #4160
I was able to resolve this issue on my end.

I was merging Webpack config objects and was accidentally overriding an undefined alias prop with the one that had data.

[2018-02-22 09:29] fubar-coder opened #6548 "Relative url() in css with path *without* quotation marks not resolvable"
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**

Webpack fails to resolve relative paths in a CSS file with a relative url() whose path is not enclosed in quotation marks.

This is the error I get:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I guess that it's a bug, because it's a change in behavior comp

[2018-02-22 09:46] adeperio commented on #4160
As a work around I've used webpack.Define plugins to get environment specific config. That seems to be working pretty well. I pass the environment through a command line parameter when running or building. I then use that to import a .json file with specific environment settings. Hope someone finds that useful too...

`
module.exports = env => {

  var config = require(`../config/${env}.json`)

[2018-02-22 11:23] infusion commented on #2638
+1

[2018-02-22 12:30] evilebottnawi commented on #6548
@fubar-coder not related to `webpack`
@webpack-bot move to postcss/postcss-loader

[2018-02-22 12:30] #6548 closed

[2018-02-22 12:33] evilebottnawi commented on #6513
@EugeneHlushko PR welcome

[2018-02-22 12:33] evilebottnawi commented on #6513
@webpack-bot move to webpack/watchpack

[2018-02-22 12:33] #6513 closed

[2018-02-22 12:35] evilebottnawi commented on #6190
@dalimian can you create minimum reproducible test repo?

[2018-02-22 12:41] evilebottnawi commented on #5647
@wyqydsyq problem still exists? Can you create minimum reproducible test repo?

[2018-02-22 12:44] evilebottnawi commented on #5474
This problem happens when you have old version webpack.
Solution:
1. Remove webpack global `npm remove -g webpack`.
2. Clean npm cache `npm cache clear --force`.
3. Install `webpack`  and deps again.

[2018-02-22 12:44] #5474 closed

[2018-02-22 12:47] evilebottnawi commented on #2602
Solution: https://github.com/airbnb/babel-plugin-dynamic-import-node

[2018-02-22 12:47] #2602 closed

[2018-02-22 12:48] evilebottnawi commented on #2585
Closing due to inactivity.

[2018-02-22 12:48] #2585 closed

[2018-02-22 12:48] evilebottnawi commented on #2585
Please read official docs about writing plugins :+1:

[2018-02-22 12:49] evilebottnawi commented on #2752
Closing due to inactivity. Please test with latest version `css-loader` and feel free to reopen if problem still exists. Also you can use https://github.com/intervolga/optimize-cssnano-plugin plugin. Thanks!

[2018-02-22 12:49] #2752 closed

[2018-02-22 12:52] evilebottnawi commented on #2811
@stephan83 Can you send PR to https://github.com/webpack-contrib/awesome-webpack?

[2018-02-22 13:00] abhishek71994 commented on #3359
Ummm.. Shall I take this up as a first-time-contributor to this repo?

[2018-02-22 13:39] evilebottnawi commented on #3359
@abaracedo PR welcome!

[2018-02-22 13:50] cebence commented on #2362
I was getting these warnings during `ng build` where the only difference is in the case of the drive letter (Windows 10):
[code]

This would mean that it has nothing to do with `import` statements containing capital letters (e.g. `@angular/Core`).
Also, I get warnings both in Command Prompt and PowerShell.
Even the way I switch directories made no difference: `cd /d d:\my-project` or `cd /d D:\my-

[2018-02-22 14:09] alan-agius4 opened #6550 "Copying files won't trigger a rebuild when in watch mode"
**What is the current behavior?**
What I noticed is that when I copy a file the rebuild is not triggered even if I am in watch mode.

The rebuild is triggered only after I change the contents of the copied file.

**If the current behaviour is a bug, please provide the steps to reproduce.**

Example
If you have setup webpack to compile typescript, create a file
**index.ts**
[code]
Then for instance

[2018-02-22 14:14] nveenjain commented on #6528
I'm afraid to say many files have changed.. Was i implementing it right or am i wrong?

[2018-02-22 14:25] evilebottnawi commented on #6550
@alan-agius4 do you use `copy-webpack-plugin`?

[2018-02-22 14:27] alan-agius4 commented on #6550
No, I meant when you copy the file manually. Example `ctrl+c` and `ctrl+p`

[2018-02-22 14:31] evheniy opened #6552 "Node security platform (nsp): vulnerability found"
[code]

https://nodesecurity.io/advisories/566

[2018-02-22 16:09] devblazer opened #6553 "Transpiler is messing up the scope of anonymous functions with short hand syntax ()=>{}"
Bug:

Whenever I specify a shorthand anonymous function like: var func = (a, b) { return a + b }
and call said function using func.call or func.apply, the context of 'this' is not what I assigned.

To reproduce:
[code]

This should output 'not working...', but it does not, due to the context of 'this' being incorrect.

The context of this on an anonymous function can be dynamic when call or apply

[2018-02-22 16:25] rommguy commented on #5123
Thanks @dineshvgp !

[2018-02-22 16:40] sokra commented on #6553
Arrow function don't have their own this scope.

[2018-02-22 16:40] #6553 closed

[2018-02-22 16:44] sokra commented on #6547
webpack doesn't know about "dependencies" in the sense of package managers. It doesn't imply that you are using a package manager. So it doesn't know what your "dependencies" are.

But if this is an issue for you there is an eslint plugin to check this.

[2018-02-22 16:44] #6547 closed

[2018-02-22 17:53] joepagan commented on #6540
Hey thanks for getting back again.

I wonder if using that method will import all dependencies (including devDependencies) from node_modules??

when `console.log(module.context)` in the commonsChunk vendor minChunks function, in my case returns a bunch of paths to the packages:

[code]
So your suggestion didn't work for me as I had `webpack` in 100% of my paths thanks to my repo name.
I managed to

[2018-02-22 18:29] sokra commented on #6544
The error is caused by the html-webpack-plugin. Best report it there.

Otherwise sideEffects seem to be working.

Only these modules from lodash are included. There are also concatenated into a single module:

[code]

Minimized you pay only 2.1kB (1kB.gz) for lodash usage. The most expensive part seem to be the `toString` in lodash...

[2018-02-22 18:30] sokra commented on #6544
webpack-cli help also seem like a bug to me. Best report it to webpack-cli. In no longer happens when the html-webpack-plugin is removed.

[2018-02-22 18:53] stephencookdev commented on #2811
@evilebottnawi did you mean to @ me?

[2018-02-22 19:30] hanxue opened #6555 "Webpack 4 bug with vue.js this"
### Error

I get an `undefined` variable in the generated `app.js` when I upgrade from Webpack 3 to Webpack 4

The relevant Vue.js source file and affected line in the generated `app.js` is [uploaded here](https://gist.github.com/hanxue/63eb5f03a4bd78df2111c9b64a625fcf) . Specifically [line 112,](https://gist.github.com/hanxue/63eb5f03a4bd78df2111c9b64a625fcf#file-pmi-vue-L102) with the variable r

[2018-02-22 19:42] hanxue opened #6556 "Webpack 4 issue with eslint"
### Problem

Unable to run eslint/eslint-loader when using Webpack 4, `npm run dev` results in this

Module build failed: TypeError: Cannot read property 'eslint' of undefined
    at Object.module.exports (/Users/hanxue/PPP/jinrong/node_modules/eslint-loader/index.js:148:17)

### Steps to reproduce

1. Use the Vue.js webpack template at https://github.com/vuejs-templates/webpack
2. Make the necess

[2018-02-22 19:50] montogeek commented on #6556
Thanks for the report, Would you mind creating a repository instead? It will make it easier to debug the problem

[2018-02-22 20:08] TheLarkInn commented on #6552
It looks like according to the advisory here that Hawk needs to update deps to use `hoek@5.0.3`. Let's see how this has bubbled up to chokidar.

[2018-02-22 20:18] sokra commented on #6544
https://github.com/webpack/webpack-cli/pull/276 (incorrect help display in webpack-cli)

[2018-02-22 20:21] sokra commented on #6556
eslint-loader seem to try to access `this.options` which was removed.

As workaround use `new webpack.LoaderOptionsPlugin({ options: {} })`

[2018-02-22 20:24] sokra commented on #6555
Looks correct to me. The `this` here is a top level this, which is undefined in ESM. Looks like a bug in your code.

[2018-02-22 23:01] Urthen commented on #435
The (in)efficiency of my plugin is part of the reason I haven't decided to try and port it to Webpack. Right now the plugin works by, for each path, checking the contents of it's parent directory (which will, so far in practice, always return the correct casing even on case-insensitive systems) and seeing if one matches. This is then performed recursively up to the current working directory.

It h

[2018-02-23 00:49] t47io commented on #6471
I've seen such before. You can open the compiled `global.js` and see what's at line 1 col 7.

[2018-02-23 01:57] #5031 closed

[2018-02-23 02:57] hanxue commented on #6556
Thank you @sokra , adding the following to `webpack.dev.conf.js` made ESLint work with Webpack 4

[code]

[2018-02-23 02:57] #6556 closed

[2018-02-23 04:29] hanxue commented on #6555
Oops, indeed that was a nested object literal.

[2018-02-23 04:29] #6555 closed

[2018-02-23 06:41] iFlameing commented on #6390
@TheLarkInn  I just made a pull request on " Add link to webpack 1 docs in wiki in support section of README in webpack/webpack repo:   is this ok or I have to add more information.

[2018-02-23 07:11] dhruvdutt commented on #2954
@TheLarkInn We can close this now since webpack 4 covers it. :fire: :rocket:

[2018-02-23 07:37] evheniy commented on #6552
https://github.com/mapbox/node-pre-gyp/issues/346

[2018-02-23 08:51] montogeek commented on #2585
Official docs: https://webpack.js.org/contribute/writing-a-plugin/

[2018-02-23 12:16] evilebottnawi commented on #6552
Duplicate https://github.com/webpack/webpack/issues/6513

[2018-02-23 12:16] #6552 closed

[2018-02-23 14:04] vctfernandes commented on #1399
me too

[2018-02-23 14:22] damianobarbati commented on #6544
@sokra I wrote a simple webpack plugin to inject the js assets into the html, no html-webpack-plugin anymore.

Now I get the same error, this time in console once the bundle is running:
[code]

It looks like some internal webpack function is missing from the bundle?

[2018-02-23 14:28] damianobarbati commented on #6544
Done: I was not excluding node_modules from babel transpilation.

[2018-02-23 14:28] #6544 closed

[2018-02-23 14:47] Legends opened #6558 "How to run the examples - ENOENT: no such file or directory"
**Do you want to request a *feature* or report a *bug*?**
bug in examples or unsufficient documentation, to get them up and running.

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/966368/36599696-86af08c8-18b0-11e8-85b9-3d4297fd50a3.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

**Steps taken:**

1. Download webpack from

[2018-02-23 15:31] MhMadHamster commented on #6540
This is an issue with using hmr when you have multiple entries you can check issues on that problem https://github.com/gaearon/react-hot-loader/issues/141 https://github.com/webpack/webpack-dev-server/issues/389

[2018-02-23 16:54] #2954 closed

[2018-02-23 17:10] pleunv commented on #6459
I'm running into similar issues with [graphql-js](https://github.com/graphql/graphql-js) (imported through [graphiql](https://github.com/graphql/graphiql)). graphql-js exports both an index.js and index.mjs but with different named exports. GraphiQL is expecting the ones from the `js` file and choking on the `mjs` exports that are given precedence, leading to a bunch of errors like the following:

[2018-02-23 18:20] flagxor commented on #6433
Catching up on this thread late.

Few things on the 4KB limit:
* It applies only to the UI thread, Workers don't have this limit.
* It's intended to be a developer predictable standing in for jank (i.e. how long is it acceptable for the ui to stall).
* We can raise it if there's a crisp case for by how much.
* 4kb was an intentionally low conservative figure.
* Raising new Instance higher than new

[2018-02-23 18:30] jdalton commented on #6433
Providing a partially broken experience isn't great.
Could it be done with a `console.warn` to inform devs instead of a hard fail for those situations?

[2018-02-23 18:31] jdalton commented on #6433
Though the roundabout API itself is already a kind of opt-in. To "yes, I understand the risks".

[2018-02-23 19:02] lukewagner commented on #6433
Sounds great!

Arg, right.  As soon as [mutable globals](https://github.com/WebAssembly/mutable-global/blob/master/proposals/mutable-global/Overview.md) are available, they could be used instead of function calls.  One tricky case is that constant global imports can be used within [initializer expressions](https://github.com/WebAssembly/design/blob/master/Modules.md#initializer-expression) (to pos

[2018-02-23 21:42] Vadorequest commented on #1599
When I set `__dirname` and `__filename` to false, I get a wrong absolute path:

`/Users/vadorequest/dev/student-loan-simulator-serverless/aws/loan-advisor/.webpack/service/src`

When I set them to true, I get a right relative path:

`src`

I use `console.log(__dirname)` to display the `__dirname`.

How to I get a right absolute path? Here is my webpack.config.js

[code]

[2018-02-23 22:07] kenotron commented on #6248
Still seeing lots of time wasted in this one plugin - keep in mind that this is for inner loop. Any kind of optimization at all done here seems to be unhelpful:

![image](https://user-images.githubusercontent.com/34725/36619208-d40e9006-18a2-11e8-9b9c-a9f80f42f4ec.png)

[2018-02-23 22:34] flagxor commented on #6433
Though we'd need to be thoughtful about leaving latitude for different implementation strategies (like compile at instantiate).
Lowering the limit once it's been raised would be hard.
**It seems like for modules, being able to use instantiateStreaming is ideal.**

In general, I've been encouraged to have less chatty things on the console by devtools folks. Not sure this is always ideal. I often wi

[2018-02-23 22:45] kenotron commented on #6248
For incremental build situations (mode: development) for us, when I put this option in:
[code]

The initial build time went down from total of 150s to 100s while the incremental went from near the full build time to 24s!! I'm happy, but it looks like I can do even more here by removing more plugins in my dev mode build.

[2018-02-23 22:47] lencioni opened #6560 "Add page to documentation that tracks webpack ecosystem status"
[On the Twittersphere, I recently tweeted](https://twitter.com/lencioni/status/966857043058425856):

People seem to think this would be useful as a page in the webpack documentation. I think maybe having a table that lists each plugin or loader or whatever and how ready it is for any given webpack release would be awesome. I think relevant statuses might be unstarted, in progress, merged, and publ

[2018-02-23 22:55] filipesilva commented on #6248
@kenotron yeah I kinda expected that option to be off for development but according to https://medium.com/webpack/webpack-4-mode-and-optimization-5423a6bc597a it's always on.

[2018-02-24 04:40] TheLarkInn commented on #4959
Looks like it!

On Sun, Feb 18, 2018, 5:16 AM buoyantair <notifications@github.com> wrote:

[2018-02-24 10:00] NikhilVerma commented on #3957
Does the source map API support a way to bind variable names to functions?

e.g. If I try to watch "foo" it will internally run ```return __WEBPACK_IMPORTED_MODULE_0__foo__ ["a"];```

[2018-02-24 11:19] sokra commented on #6560
@webpack-bot move to webpack/webpack.js.org

[2018-02-24 11:19] #6560 closed

[2018-02-24 11:40] sokra commented on #6558
Since webpack and webpack-cli has been splitted into two projects, but the examples need webpack-cli to run:
1. Checkout webpack-cli
2. `yarn link` in webpack-cli
3. `yarn link webpack-cli`

But there is an new problem with it: https://github.com/webpack/webpack-cli/pull/278

[2018-02-24 12:46] #6074 closed

[2018-02-24 12:51] joepagan commented on #6540
Thanks for taking a look and suggestion a new solution,

It looks like the fix is to add `webpack/hot/dev-server` & `webpack-dev-server/client?http://localhost:8080` to all of the entry points.
I have tried that as follows:
[code]
Not quite sure if it is required on vendor, but, same results with & without.

At this point I am also not sure wether the `minChunks` function is still required to extr

[2018-02-24 13:43] nveenjain opened #6564 "npm run build:examples failed"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
npm run build:examples fails.
Out of 43, 42 examples fail.
**If the current behavior is a bug, please provide the steps to reproduce.**
cloning repo,
1. npm install
2. npm link
3. npm link webpack
4. npm run build:examples

**What is the expected behavior?**
The command should run and build examples in

[2018-02-24 13:57] julmot commented on #5573
The issue isn't solved.

[2018-02-24 14:08] #6528 closed

[2018-02-24 15:03] nveenjain commented on #6564
related to webpack/webpack-cli#278, closing this issue, sorry.

[2018-02-24 15:03] #6564 closed

[2018-02-24 15:22] kenotron commented on #6248
@filipesilva: it's listed there as always on for production mode.

@sokra: I believe the optimization.removeAvailableModules algo cost should actually be more like 3-4 of those boxes after seeing it in action.

[2018-02-24 15:29] filipesilva commented on #6248
@kenotron `optimization.removeAvailableModules` is listed as `Always Enabled`, not just for production:

![image](https://user-images.githubusercontent.com/4172079/36631931-8908ff6c-1977-11e8-9694-97346af06b17.png)

[2018-02-24 15:32] kenotron commented on #6248
Oh! I misread the word "performance" and thought it said "production" - wow, I obviously hadn't had my morning coffee here yet. I'm surprised that it's always enabled. In my dev environment, my scripts got 20% bigger - I would take that hit during development to gain 2-3x speed on innerloop anyday!

[2018-02-24 15:53] filipesilva commented on #6248
On https://github.com/angular/angular-cli we noticed something similar back on Webpack 3 with TS some time ago. Transpiling to CommonJS modules resulted in MUCH faster rebuilds than ES2015 modules (with ES5 code).

The reason being imports were analysed for tree shaking with ES2015 modules, but not with CommonJS. This was tracked in https://github.com/webpack/webpack/issues/5863 and marked as reso

[2018-02-24 17:46] jevan0307 commented on #6501
Hi, I would like to work on this issue if possible.
However, I can not reproduce this error. May I get more information about how the looped error message is generated, better if there is a small sample code?

[2018-02-24 18:37] ypconstante commented on #6501
I was not able to detect exactly why it happens, sometimes when I am doing the build it just happens.
Don't know what kind of information I could provide to help discover what causes this behavior, but in https://github.com/jantimon/html-webpack-plugin/issues/855, there is a issue with the same error, providing a config that it uses a lot of plugins and loaders I also use in my build.
I think you

[2018-02-24 20:07] AlexMcDee commented on #2537
So. After long time of testing this way best for me.
Solution for windows:
`npm install --save-dev cross-env`

**package.json**
`"scripts": {`
    `"watch": "webpack --watch",`
    `"build:dev": "cross-env NODE_ENV=development webpack",`
    `"build:prod": "cross-env NODE_ENV=production webpack"`
`}`

[2018-02-24 21:41] TheLarkInn commented on #6248
Please let us know what those results are. It will help us validate this
change.

On Sat, Feb 24, 2018, 7:53 AM Filipe Silva <notifications@github.com> wrote:

[2018-02-24 22:12] nveenjain commented on #6526
Can i work on this? i think the problem lies on this line https://github.com/webpack/webpack/blob/master/lib/ProvidePlugin.js#L34

[2018-02-24 22:51] shellscape commented on #6534
@TheLarkInn given that v4 is due to land any day now, and that this RFC contains a breaking change for plugins that push to `compiler.errors` and `compiler.warnings`, I'd like some direction on how to implement this change in the v4 branch. Per the proposal the v3 branch this will spit out warnings to the console. I was hoping to be a bit more forceful with v4.

[2018-02-24 23:16] strobox commented on #6400
Also have problem with css-loader source maps. Temporary solution was "dirty" edition of source code of css-loader and adding `file:///` prfix

[2018-02-25 06:49] TomasHubelbauer opened #6566 "Consider supporting webpack.config.mjs alongside webpack.config.js"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
`webpack.config.mjs` cannot be used in place of `webpack.config.js`.

**What is the expected behavior?**
`webpack.config.mjs` could be used instead of `webpack.config.js`.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Consistency.

[2018-02-25 08:11] #2910 closed

[2018-02-25 08:21] #349 closed, assigned to nobody

[2018-02-25 08:31] #2312 closed

[2018-02-25 08:39] sokra commented on #6566
That shouldn't be an issue. We already support exporting a promise from webpack.config.js.

[2018-02-25 08:40] sokra commented on #6566
@webpack-bot move to webpack/webpack-cli

[2018-02-25 08:40] #6566 closed

[2018-02-25 10:07] MrFrankel commented on #150
I've written a loader that allows you to expose modules from one webpack build to others via a global defined namespace, this lets you define which modules you want to share between the webpack builds and allows you to share common modules while maintaining the bundles intact.

https://github.com/MrFrankel/share-loader/blob/master/README.md

[2018-02-25 11:15] SimenB commented on #3476
FWIW, according to the release notes of webpack 4 `NamedModulesPlugin` is now enabled by default for development

[2018-02-25 12:34] leonmydla commented on #2638
+1

[2018-02-25 12:52] damianobarbati opened #6567 "webpack@4: uglify configuration [feat request]"
- What is the intended way to configure uglify-es without explicitly disabling and then re-requiring uglify plugin with custom configuration?

- Shouldn't be "parallel" enabled by default? Looks like a great way to improve compiling times. https://github.com/webpack-contrib/uglifyjs-webpack-plugin#parallel

I'm asking because unfortunately uglify-es is broken right now and I'm getting `Uncaught Ty

[2018-02-25 13:10] damianobarbati commented on #1385
@ReeganExE if I remove `new UglifyJsPlugin` from config then how can I customize uglify options? (webpack@4)

[2018-02-25 13:29] Legends commented on #6558
Sorry, I am from the .NET side, what do you mean with:

[2018-02-25 13:53] yazeed commented on #2958
Hello! Having the same issue here!

[2018-02-25 18:40] bfred-it commented on #5600
If anyone's wondering, you can disable this in webpack 4 with the config:

[code]

Side note: `concatenateModules` is already enabled in `production` mode.

[2018-02-25 19:46] emilio-martinez commented on #6522
Just ran into this issue while trying to upgrade to Webpack 4.x—I have a lib that is for any env. Looking at my previous releases, `window` used to be in fact `this`.

@sokra when I was looking at what the defaults are, I noticed that there's a `default` for `self`; however, because of the config validation on `target`, you can't just place anything. Was your intent to make `self` the "universal"

[2018-02-25 21:42] julmot opened #6568 "Tapable.plugin is deprecated. Use new API on `.hooks` instead"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**

![topic](https://user-images.githubusercontent.com/8310677/36646814-e5ecfbe2-1a7c-11e8-9a01-89c196249b2e.png)

https://travis-ci.org/julmot/form-components/builds/346048668#L4063-L4081

**If the current behavior is a bug, please provide the steps to reproduce.**

Run the build of [this repository](htt

[2018-02-25 22:16] sunyang713 opened #6569 "Provide default Webpack.run() callback function."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Must manually write a callback function.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I think it would be great if there was a default callback function, just like in the webpack-cli: https://github.com/webpack/webpack-cli/blob/ma

[2018-02-25 22:40] emilio-martinez commented on #6522
It looks like `self` is `Window` in browserland but is `undefined` in `node` anyway. Not sure if `this` is the global for workers.

[2018-02-25 22:59] jdalton opened #6570 "More ModuleConcatenation bailout warnings with Webpack 4 than Webpack 3"
I'm seeing more ModuleConcatenation bailout warnings like
[code]

I'm wondering how to prevent them to be more like Webpack 3.
I tried setting my `module.rules.type` to `"javascript/auto"` but that didn't seem to reduce them.
[code]

[2018-02-25 23:02] jdalton commented on #6570
I have a `target` of `"node"` too.

[2018-02-25 23:16] Andarist opened #6571 "Effectful imports should ignore sideEffects field"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

[code]
with
[code]

does not include imported file in the bundle, which is somewhat OK

**If the current behavior is a bug, please provide the steps to reproduce.**

not a bug

**What is the expected behavior?**

this import is **clearly** effectful, so it actually IMHO should not get dropped reg

[2018-02-26 00:06] backjo opened #6572 "Exporting JS from an inline loader that consumes a JSON file"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (though i might just need to set a property somewhere - couldn't tell from the docs. I suspect this is related to natively supporting JSON modules now.)

**What is the current behavior?**
I have a loader which loads a JSON file and outputs JS code. When I try to use it with Webpack 4, I get a JSON parse error (webpack is trying

[2018-02-26 00:19] michael-ciniawsky commented on #6572
[code]

[2018-02-26 00:28] Darkrender commented on #5548
It is fully accepted now as far as I can tell, and this is still an issue for my projects even with all my dependencies fully updated

[2018-02-26 00:49] mattcolman commented on #4253
I'm also experiencing this issue with webpack 3

[2018-02-26 00:51] backjo commented on #6572
👍

[2018-02-26 01:15] michael-ciniawsky commented on #6572
Nope I don't think so, at least I'm not aware of any :)

[2018-02-26 01:17] backjo commented on #6572
Hmm - alternatively, is there a way to set the default in the webpack config?

[2018-02-26 02:30] mach-kernel commented on #6464
This issue also affects me, same exact versions as @lodybo. Usage:

[code]

[2018-02-26 02:56] michael-ciniawsky commented on #6572
Only `rule.type` (comment above) is possible via `webpack.config.js`

You could hack around it within the loade, if _really_ necessary (I don't recommend it), but that's it

**loader.js**
[code]

Maybe it's time to think about a different approach :)

[2018-02-26 02:56] #6572 closed

[2018-02-26 03:15] shellscape opened #6573 "Webpack Should Include Version in Exports"
**Do you want to request a *feature* or report a *bug*?**

Feature/Improvement

**What is the current behavior?**

Users must load the package and manually parse the package version to determine the version of webpack in use.

**If the current behavior is a bug, please provide the steps to reproduce.**

n/a

**What is the expected behavior?**

As per many large, popular packages do, webpack's defa

[2018-02-26 03:41] backjo commented on #6572
Yeah, definitely rethinking the approach - but this hack helps bridge us :)

Thx @michael-ciniawsky  - much appreciated for your time on this :)

[2018-02-26 04:21] nveenjain commented on #6526
@sokra, I was working on this issue, seems like it could be solved by twinkering with Parser, https://github.com/webpack/webpack/blob/master/lib/Parser.js#L1694 have exprName.name property on which hook could be applied, but in this statements, we have `exprName.free` assigned as `false`. Now currently we walk through this statement according to https://github.com/webpack/webpack/blob/master/lib/P

[2018-02-26 05:59] Vnthf commented on #6409
@backflip But treeshaking not work anymore if I use minimizer option. I think unused option not work in webpack4. right?

[2018-02-26 06:41] sokra commented on #6573
This was reported before by somebody else, I told to "send a PR" but I guess this never happened.
But it definitely makes sense to include the version.

[2018-02-26 06:44] sokra commented on #6571
If `import 'list/fantasy-land'` has a side-effect, you `sideEffects` configuration is wrong.

You can and should include `list/fantasy-land` in your configuration like this:

[code]

[2018-02-26 06:45] sokra commented on #6570
Do you want to hide the warning or fix the problem?

[2018-02-26 06:46] sokra commented on #6569
What should happen with compilation errors? Do you just want to ignore them?

[2018-02-26 07:05] sokra commented on #6568
Did you upgrade the extract-text-webpack-plugin to latest version?

[2018-02-26 07:06] ViswanathLekshmanan opened #6574 "Webpack GC error on command 'webpack -p'"
**What is the current behavior?**
Should build successfully

**If the current behavior is a bug, please provide the steps to reproduce.**
use command 'webpack-p'

**Please mention other relevant information such as the browser version, Node.js version, webpack version, and Operating System.**

Node: v6.9.1, MAC OSX: Sierra 10.12.6, webpack: 3.10.0

<--- Last few GCs --->
  232397 ms: Mark-sweep 12

[2018-02-26 07:06] warrenseine commented on #1530
@webpack-bot Please don’t close.

[2018-02-26 07:07] sokra commented on #6574
Increase the node.js memory `--max-old-space-size 8096`

[2018-02-26 07:24] jdalton commented on #6570
Fix the problem if possible. Is it that v4 is more picky or more thorough?

[2018-02-26 07:53] sokra commented on #6570
hmm could be a problem with externals.

It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-02-26 07:56] sokra commented on #6522
We had to switch to `this` to something else, because `this` is `undefined` with `<script type="module">`

[2018-02-26 08:18] Andarist commented on #6571
I understand how to solve it, [I've did it](https://github.com/funkia/list/pull/17/files) just before posting an issue here and I understand this is not the most popular case, but still think that my argument has some merit - `import 'package'` is side-effectful "by definition" and `sideEffects` could skip such imports by default.

[2018-02-26 09:17] nveenjain commented on #6573
Implemented it in #6575

[2018-02-26 09:29] damianobarbati commented on #6566
Is this approved? Can we define webpack.config.mjs in next versions?

[2018-02-26 09:57] Dirtyburger1338 commented on #6568
Just got the same issue directly after installing webpack

webpack 4.0.0
node 8.9.3
text-webpack-plugin 3.0.2

[2018-02-26 10:06] chrste90 commented on #6568
I think you have to install `v4.0.0-alpha.0`.

As you can see in the release notes under Code Refactoring: `ExtractTextPlugin: update to new plugin system and API's`.

[2018-02-26 10:21] julmot commented on #6568
Can't imagine that relaying on alpha releases is intended.

[2018-02-26 10:25] Dirtyburger1338 commented on #6568
using v4.0.0-alpha.0 worked for me

[2018-02-26 11:09] TomasHubelbauer commented on #6566
@damianobarbati See the moved issue webpack/webpack-cli#282. This will probably take a good, good bit of time to be implemented and released.

[2018-02-26 11:32] AviVahl opened #6576 "webpack 4's "export default" wrapping of dynamic import()s when target is commonjs"
**What is the current behavior?**
In webpack 4, when the target module is using commonjs, the exports are now being automatically wrapped as namespace object with a default export.

So if I call `import('react')`, the type I got in webpack 3 was `Promise<{createElement, Component, ...}>`, while webpack 4 now returns `Promise<{default: {createElement, Component, ...}}>`.

This behavior breaks in Ty

[2018-02-26 12:19] montogeek commented on #6576
You can learn more about this change at https://medium.com/webpack/webpack-4-import-and-commonjs-d619d626b655
I think there is some work being done from ts-loader to make it compatible with webpack 4

[2018-02-26 12:22] montogeek commented on #6569
@sokra They should just be thrown, no?

[2018-02-26 12:26] mihai011 opened #6577 "Webpack 4.0.0 command tutorial"
Report a bug.

I followed the steps from your official "Getting started" page. The latest version is 4.0.0. but the page is referring to version 3.9.1. When i followed the steps with version 4.0.0. the output of the "npx webpack " command was not the same as the one with 3.9.1.The bundle was produced in file "main.js" not "bundle.js". When i followed the tutorial with the 3.9.1 version installed a

[2018-02-26 12:27] ashtrie commented on #1385
do not remove UglifyJsPlugin, just add `sourceMap: true` to its config

[2018-02-26 12:35] montogeek commented on #6558
It means:
1. `git clone https://github.com/webpack/webpack-cli`
2. `cd webpack-cli`
3. `yarn link`
4. `cd to/your/project`
5. `yarn link webpack-cli`

What it does is to create a symlink between webpack-cli and your project.

But you are using `npm`, in that case just replace `yarn` with `npm`

[2018-02-26 12:38] montogeek commented on #6567
If you read the README, you will find https://github.com/webpack-contrib/uglifyjs-webpack-plugin#uglifyoptions, then you will find `compress` options that is used by UglifyJS2 (https://github.com/mishoo/UglifyJS2/tree/harmony#compress-options)

So it would be:
[code]

[2018-02-26 12:49] filipesilva commented on #6248
Ran some benchmarks with https://github.com/filipesilva/angular-cli-test-repo and modified latest Angular CLI master, which uses `webpack@4.0.0` (final).

On `mode: 'development'` with the in the following in `optimization`:
[code]

With these settings rebuilds take an average of 117,483 ms (111227, 124867, 120434, 112090, 118799). Total size is 92.48 MB.

If I add `removeAvailableModules: false`:

[2018-02-26 12:50] damianobarbati commented on #6567
Yes @montogeek that's what I'm trying to do but how?
- if mode=production and I apply UglifyJsPlugin then "section" errors are thrown (because fired 2 times)
- if mode=development other optimizations are disabled (how do I enabled everything but uglify?)
- if mode=development with devtool=source-map and UglifyJsPlugin.sourcemap enabled I get sourcemap not to original sources but transpiled ones.

[2018-02-26 12:53] damianobarbati commented on #1385
@ashtrie thanks but I don't get it: where do I define uglify-es configuration?
All I have are package.json and webpack.config.js to configure my project.

Plus sourcemaps seems to link to transpiled code and not original source: not sure whether uglify or webpack issue (https://github.com/webpack/webpack/issues/6567#issuecomment-368487038)

[2018-02-26 12:56] ReeganExE commented on #1385
@damianobarbati, you might pass it as `minimizer` option rather than push it as plugin part.
[code]

[2018-02-26 13:02] montogeek commented on #6567
`uglifyOptions: { compress: { inline: false }}}`

[2018-02-26 13:02] Legends commented on #6558
Thanks!
I did that now, but still get the error, perhaps of [this](webpack/webpack-cli#278) mentioned by @sokra

[2018-02-26 13:10] stnwk opened #6578 "Webpack 4.0 has incorrect peerDep uglifyjs-webpack-plugin@1.1.8"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

When having `webpack 4.0` installed you get the following warning by npm/yarn

[code]

Although there is already a newer version of uglifyjs-webpack-plugin 1.2.2 https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.2, that adds webpack 4.x as peerDep, webpack itself still onl

[2018-02-26 13:14] damianobarbati commented on #1385
Thanks @ReeganExE, I made it.

[2018-02-26 13:15] damianobarbati commented on #6567
Solved with https://github.com/damianobarbati/yarsk/blob/50b6f352a13ec2e778fa8b252f915550b6132964/config/webpack.config.js#L110

[2018-02-26 13:15] #6567 closed

[2018-02-26 13:18] evilebottnawi commented on #6578
@stnwk `npm cache clear --force && npm install`

[2018-02-26 13:45] montogeek commented on #5573
Related #6525

[2018-02-26 13:46] montogeek commented on #6459
@pleunv Please do

[2018-02-26 13:47] stnwk commented on #6578
@evilebottnawi

I ran `yarn cache clean` (and `npm cache clear --force), even removed the `node_modules` folder and still got the described warning upon runnning `yarn install` :/

[2018-02-26 13:48] evilebottnawi commented on #6578
@stnwk maybe you have global installation?

[2018-02-26 13:51] stnwk commented on #6578
`yarn which webpack` outputs the path to the local webpack node_module.
Same for `uglifyjs-webpack-plugin`

[2018-02-26 14:02] AviVahl commented on #6576
I fail to understand the logic in the blog post:

Consistent, in my view, is:
[code]
The extra wrapping done for the `import()`s in webpack 4 now breaks the above code, doesn't it?
One would have to:
[code]

[2018-02-26 14:19] webmaster128 opened #6579 "Cannot install webpack 4.0.0 using node 6.11.4 (current Ubuntu)"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

I cannot use the latest stable webpack with node v6.11.4 (version shipped with the current Ubuntu).

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

this leads to

[code]

**What is the expected behavior?**

webpack can be installed

**If this is a feature reques

[2018-02-26 14:25] damianobarbati commented on #1679
@bebraw

So I don't need external libs/tools like https://github.com/trivago/parallel-webpack if I'm exporting an array of configurations?
Are they going to spread across different cores automatically?

[2018-02-26 14:30] paologf opened #6580 "Require a img file using a variable into path"
**Do you want to request a *feature* or report a *bug*?**
Report bug

**What is the current behavior?**
I'm not able to require a path using that contains a variable.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here a code example.
If I do this works fine:
`var img = require('/Users/username/folder/imgs/img_name.png');`
, but if I use this:
`var tmpPath = '/Users/

[2018-02-26 14:31] bebraw commented on #1679
@damianobarbati My understanding is that webpack doesn't run parallel like that just yet so it's going to be just a single instance for now.

[2018-02-26 14:38] montogeek commented on #6579
From @sokra twitter: https://twitter.com/wSokra/status/967852475918274561

[2018-02-26 14:39] montogeek commented on #6579
In this specific case enhanced-resolve dependency was updated to ES6 https://github.com/webpack/enhanced-resolve/pull/132

[2018-02-26 14:45] webmaster128 commented on #6579
Regarding twitter: this is a statement on performance, not compatibility. The Webpack 4 release notes mention that Node.js 4 support was dropped, not Nodejs 6.

Regarding enhanced-resolve dependency: thanks for the source of the change. However, a feature upgrade should not affect the patch release (v6.11.4 vs. v6.11.5).

[2018-02-26 14:56] damianobarbati commented on #1679
@sokra would you consider this as a possible feature? Having each entry in a config array spread on available cores?

[2018-02-26 15:43] dbkaplun commented on #922
@sokra is there an updated link? That one is a 404.

[2018-02-26 15:56] montogeek commented on #922
@dbkaplun Try https://webpack.js.org/guides/shimming/, there is a note regarding AMD at the end of the page.

[2018-02-26 15:57] montogeek commented on #922
From the wiki https://github.com/webpack/docs/wiki/shimming-modules#broken-amd (Last update: August 22, 2017)

[2018-02-26 16:14] ematipico commented on #6579
Unless there's a security fix

[2018-02-26 16:24] jdalton commented on #6570
[code]
To see it in v3 use `git checkout master`.

[2018-02-26 17:08] probablyup opened #6581 "Provide a way to pass options to webpack-composed plugins"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
if `mode` is set to `"production"`, there's no (documented) way to instruct webpack to pass along options to a plugin composed by webpack itself, like `uglifyjs-webpack-plugin`

**If the current behavior is a bug, please provide the steps to reproduce.**
n/a

**What is the expected behavior?**
n/a

[2018-02-26 17:11] webmaster128 opened #6582 "IE11 incompatible JavaScript syntax (ES2015 Shorthand property names)"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

In some cases, webpack produces output that uses the ES2015 Shorthand property names, which are not supported by IE11.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

this leads to

[code]

where `concurrency: concurrency` is reduced to `concurrency`.

The same

[2018-02-26 17:27] sokra commented on #6576
cc @johnnyreilly

[2018-02-26 17:43] sokra commented on #6576
The `default` export now exists when `import()`ing CJS and points to the `module.exports` value.

[2018-02-26 17:45] sokra commented on #6577
@webpack-bot move to webpack/webpack.js.org

[2018-02-26 17:45] #6577 closed

[2018-02-26 17:48] sokra commented on #6579
Maybe @TheLarkInn can say why this version was selected?

[2018-02-26 17:51] sokra commented on #6580
webpack does only support simple dynamic dependencies. It's a static bundler and all files need to be able to be determined while compiling. Using absolute paths is also strongly dis-encouraged. Just use static relative paths: `require("./imgs/img_name.png")`

[2018-02-26 17:51] #6580 closed

[2018-02-26 17:52] pbrain19 commented on #1385
None of the fixes above have worked for me. Here are my configs and error. Any idea why it wouldn't work

`
const path = require('path');
const webpack = require('webpack');
const CopyWebpackPlugin = require('copy-webpack-plugin');
const uglify = require('uglify-js');

const env = process.env.NODE_ENV;
const root = 'src';

/**
 * @param {Boolean} tranformCopy - boolean to signal if build should mi

[2018-02-26 17:53] sokra commented on #6581
You can use the `optimization.minimizer` option to configure uglifyjs:

[code]

[2018-02-26 17:55] probablyup commented on #6581
Gotcha. I don't believe that's documented.

This works, but it would be nice to not have to recompose the plugin and replicate all the "mode" behaviors, if that makes sense.

[2018-02-26 17:56] sokra commented on #6582
webpack doesn't change these code. It's written this way in the pica package:

https://github.com/nodeca/pica/blob/44a37e9ec7602ee46e7d7388b374febd872e5281/index.js#L36

You can file an issue there or use transpilation to rewrite it

[2018-02-26 17:56] #6582 closed

[2018-02-26 18:05] julmot commented on #6568
@sokra If using v4.0.0-alpha.0 works (can't confirm), is this the way to go?

[2018-02-26 18:05] webmaster128 commented on #6582
Thanks a lot for the hint and sorry for disturbing you.

My problem was that I compared `node_modules/pica/dist/pica.js` vs. `dist/bundle.js` and not `node_modules/pica/index.js` vs. `dist/bundle.js`.

[2018-02-26 18:16] sokra commented on #6526
I guess in this line https://github.com/webpack/webpack/blob/213226ece261a0e89edb9de15fbc6775418f6041/lib/Parser.js#L2011 you can assign `free = this.scope.topLevelScope`

[2018-02-26 18:35] sokra commented on #6570
I get the warnings but the modules are still concatenated. So it's working correctly but incorrectly displays warnings.

[2018-02-26 19:00] jdalton commented on #6570
Ah nice! Thanks @sokra!

[2018-02-26 19:21] TehShrike opened #6584 "Bug in Webpack 3 and 4: can't `require` a module with a ESM entry point"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

If you `require` a package with a `module` field in its package.json, and the module has an `export default`, the `require` call does not return the default export like it should.

Instead, it returns an object with `default` and `all` properties.

Both of these forms will return the default export:

[2018-02-26 19:22] TehShrike commented on #5756
Related: https://github.com/webpack/webpack/issues/6584

[2018-02-26 19:33] sokra commented on #6584
For ESM the "namespace" object is returned by `require()` (and for `import()`). There is no spec for this, but there is a spec for `import()`. Babel also transpiles ESM this way.
Exposing only the default export would make all other export inaccessible and most packages un-usable from CJS.

As a guideline: When packaging CJS and ESM in a package, expose the same API from both of them. You can't us

[2018-02-26 19:33] #6573 closed

[2018-02-26 19:34] TehShrike commented on #6584
This is especially an issue for users that have `deepmerge` as a transitive dependency.

If a module is written that has `require('deepmerge')`, it will work fine for the author, as long as they test in node, or use any other bundler besides Webpack.

But when a Webpack user tries to use that other module that depends on `deepmerge`, they will get a runtime error that happens inside code that they

[2018-02-26 19:39] TehShrike commented on #6584
@sokra From my view, deepmerge does expose the same entry point for both ESM and CJS.

CJS:
[code]

ESM:
[code]

By doing this, and exposing two separate entry points, it enables both of these forms:

CJS:
[code]

ESM:
[code]

I'm not particularly interested in changing deepmerge to be less friendly to either CJS or ESM consumers.

---

I'm guessing "how do we handle default exports" is an argumen

[2018-02-26 21:56] AviVahl commented on #6576
Verified as fixed. Thanks for the quick bug-fix!

[2018-02-26 21:56] #6576 closed

[2018-02-26 22:32] sergey-shpak opened #6586 "Webpack 4.0 file-loader json issue"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
JSON parse error (' Unexpected token m in JSON at position 0') after `file-loader` plugin handles json files.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Loading json files and no errors.

**If this is a feature request, what

[2018-02-26 22:41] michael-ciniawsky commented on #6586
You don't need any loader for `.json` anymore (since `webpack >= v2.0.0`). `webpack >= v4.0.0` introduced `Module.type` and JSON got it's own `module.type = 'json'` (It doesn't get parsed by the JS Parser anymore). Either remove `json`  from `Rule.test` or explicitly set the `Rule.type` to another `Module.type` e.g  `type = 'javascript/auto'`

**webpack.config.js**
[code]

or

**webpack.config.js*

[2018-02-26 22:41] #6586 closed

[2018-02-27 00:00] henryqdineen opened #6587 "Dynamic imports cause error with multiple entry points"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
We have a module `a` that dynamically imports `b`.
We have two entrypoints:
- "project" imports `a`
- "specs" imports `a` and `b` (meant for unit testing)

`project` is compiled correctly but `specs` causes and error  `__webpack_require__.e is not a function`

If we get remove of the `project` entry po

[2018-02-27 00:10] rgbkrk commented on #6568
I'm no longer using `extract-text-webpack-plugin` anywhere, is there a way to find out which plugin is generating this warning?

[2018-02-27 00:49] nveenjain commented on #6526
@sokra, does `free` property mean `allowed to be renamed`? I'm actually confused as to what `free` represents. Also `topLevelScoped this` represents `exported modules from current module`, will it not cause any ambiguity?? Acc. to me, either we should completely support changing this.propertyName to a module using providPlugin, or not support it at all. That way, we can be sure that user wants it

[2018-02-27 01:49] pmlamotte opened #6589 "No indication of which modules failed to hot reload in Firefox"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When an attempt to update hot modules is unsuccessful due to unaccepted modules, in browsers other than Firefox a console.warn message will appear including the full stack trace of `hotApply` and a message detailing the import tree that was not accepted. This message is useful for determining why a ful

[2018-02-27 01:52] pmlamotte commented on #6589
My reproduction repo only uses 3.10 since I don't know how to get this to work with 4.x since html-webpack-plugin seems to be broken. That said, I believe it affects 4.0 as well.

The problem line appears to be: https://github.com/webpack/webpack/blob/5044762c846a3a83a208853e48785a293fe9ef7d/hot/dev-server.js#L43
[code]

In Firefox, err.stack only gives the stack trace, while chrome includes the m

[2018-02-27 02:19] mnpenner commented on #2012
I'm getting stuck at 70% with webpack 4.0.1:

[code]

[2018-02-27 02:30] MunifTanjim commented on #6483
Exists on v4.0.1

[2018-02-27 02:31] CharlesKumar commented on #6454
Hi @cgray9 ,

I had problem with chrome and node v8.9.4 when i updated the nodejs to v8.9.4

chrome and node.exe was consuming more memory than it should.

Finally I reverted back to nodejs v8.9.1, everything worked fine.

This has been filed as memory leak issue in nodejs/node, try some other versions of nodejs if you still have the problem

[2018-02-27 03:44] dangodev commented on #6483
@MunifTanjim confirmed in 4.0.1. And yup! You nailed it.

I’m going off memory here, but I could have sworn `output.publicPath` defaulted to `/` in v3 and before. That’s no longer the case with v4. Setting that value fixes the issue.

Not sure whether to close the issue, because I’m not sure if that’s an intended design decision with v4 or not.

Seems like it’s a step away from “#0CJS” because I c

[2018-02-27 05:38] probablyup commented on #6571
I agree with @Andarist. If you consider the import statement, a naked import implies “execute everything in this file”, which is side effectful by default.

[2018-02-27 05:51] ruoqianfengshao opened #6590 "dynamic import code compressed though it's in dead code"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
dynamic import code compressed though it's in dead code, I use webpack.optimize.UglifyJsPlugin to try to remove this code but chunkfile still presented in dist directory

**If the current behavior is a bug, please provide the steps to reproduce.**

here is example:
![image](https://user-images.githubus

[2018-02-27 06:33] Rokt33r opened #6592 "HMR only works at the first time."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

HMR only works at the first time. Later on, it keep refreshing page.

![webpack-hmr](https://user-images.githubusercontent.com/5865853/36713942-49af5f2e-1bd3-11e8-8419-7026b327a454.gif)

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/Rokt33r/ts-webpac

[2018-02-27 06:33] webyonet commented on #6590
+1

[2018-02-27 06:41] sunyang713 commented on #6569
Thanks for getting back to me. You bring up a good point, and I'm not sure what the best way to handle that is.

I think one possibility is to ignore compilation errors like you mentioned and use `console.error` to log important aspects of the compilation. This is probably not ideal.

Another possibility I could see is allowing a string parameter that specifies some general behavior for error hand

[2018-02-27 07:46] justtesti commented on #1470
I solved my problem by changing css path like this:
import css from "mycss.css"  ==> import css from "./mycss.css"

[2018-02-27 07:48] #6526 closed

[2018-02-27 08:51] #3631 closed

[2018-02-27 08:57] Tiepiren opened #6593 "使用v4.0.1版本运行中文文档示例里的html-webpack-plugin报错"
使用最新的v4.0.1版本webpack运行中文文档里html-webpack-plugin章节的示例会报错
文档地址：[https://doc.webpack-china.org/guides/output-management/#-htmlwebpackplugin](url)
![image](https://user-images.githubusercontent.com/26787977/36719104-0c63132a-1bdf-11e8-85df-1ee1609fa6a6.png)

[2018-02-27 09:13] jarvis1024 commented on #6593
`npm i -D webpack-contrib/html-webpack-plugin`

[2018-02-27 09:17] TheLarkInn commented on #6592
Does this work correctly without TypeScript? Just wanting to rule out any of the behaviors as possible.

[2018-02-27 09:19] TheLarkInn commented on #6590
Would you please test this in webpack 4? If this still persists then we can confirm work needs to be done to fix this.

[2018-02-27 09:20] TheLarkInn commented on #6589
To use html-webpack-plugin you can use this (for now) doing the following:

`yarn add html-webpack-plugin@webpack-contrib/html-webpack-plugin#master`

[2018-02-27 09:21] haishengXie0712 commented on #6593
@jarvis1024 我尝试了，还是不行

[2018-02-27 09:29] TheLarkInn commented on #6579
It was at the time the latest version of 6. When choosing this version we seeked the advice of Node Evangelists who said that we should be supporting at the minimum the latest patch of Node 6 and no further back. So are you suggesting that we should only concern ourselves with `>=6.11`?

[2018-02-27 09:48] webmaster128 commented on #6579
In #132 it is stated, that 6.4 supports all required features, so this might be a good setting. Given http://node.green, if 6.4 is not sufficient, the next step would be 6.5.0+

Additionally it should be added to the Webpack 4 release notes, which Node versions have been dropped.

[2018-02-27 09:52] evilebottnawi commented on #2012
@mnpenner can you create minimum reproducible test repo?

[2018-02-27 09:53] evilebottnawi commented on #6593
@Tiepiren Please read comment above and use issue template in future. Thanks!

[2018-02-27 09:53] #6593 closed

[2018-02-27 09:56] feiyang0117 opened #6594 "hi,I have the same issue.How to solve it?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack v

[2018-02-27 09:59] #6594 closed

[2018-02-27 09:59] evilebottnawi commented on #6594
@feiyang0117 please recreate issue if problem still exists. Thanks!

[2018-02-27 10:00] feiyang0117 commented on #6594
ok

[2018-02-27 10:01] montogeek commented on #2012
@mnpenner Have you tried increasing your NodeJS memory limit? How big is your project?

[2018-02-27 10:05] feiyang0117 opened #6595 "(node:44011) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead (node:44011) DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead"
Hi,Ihave one issue，when I install html-webpack-plugin and npm run build.It's error.Can youhelp me?

DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead.

webpack:4.0.0 /4.0.1
node:v8.9.4

[2018-02-27 10:07] montogeek commented on #6595
Please use issue template.

[2018-02-27 10:11] feiyang0117 opened #6596 "when I install html-webpack-plugin and npm run build,it's error."
**Do you want to request a *feature* or report a *bug*?**
bug
When I install html-webpack-plugin plugin and npm run build,the issue is happen.I try to install 4.0.1 and 4.0.0 but it still error.

![image](https://user-images.githubusercontent.com/10703466/36722784-741f0668-1be9-11e8-8c9e-25b31eb790bc.png)
node:8.9.4
webpack:4.0.1/4.0.0

[2018-02-27 10:12] #6595 closed

[2018-02-27 10:32] trippingtarballs commented on #6596
https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

See the section titled, **If you use HtmlWebpackPlugin**

<img width="759" alt="screen shot 2018-02-27 at 10 31 32" src="https://user-images.githubusercontent.com/2758507/36723906-697549ce-1ba9-11e8-855d-c4d858e2b697.png">

[2018-02-27 10:33] feiyang0117 commented on #6596
I have just search npm and resolve it just you said.Tks

[2018-02-27 10:34] #6596 closed

[2018-02-27 10:36] ianmays commented on #1272
still seeing this issue on ^3.10.0

[2018-02-27 10:56] nirazul opened #6598 "When emitting runtimeChunk, entry chunks use `chunkFilename` instead of `filename`"
**Do you want to request a *feature* or report a *bug*?**
Bug (?)

**What is the current behavior?**
When defining `options.runtimeChunk` with `true` or another value, my entry modules are being written with the `chunkFilename` option instead of the `filename` option. However, the runtime doesn't seem to load my entry modules. When I add a script tag for the entry file, the page loads normally.

W

[2018-02-27 11:08] eulbot opened #6599 "Process order of exports in index.js file"
Please help me understand a basic principle of webpack. I have a file `iconSet.js`
[code]
and a file `icon.js`
[code]
The exports a barreled in a generated `index.js` like
[code]
When importing the Icons constant via `index.js`, for instance
[code]
an exception is thrown since `iconSet` in `icons.js` is also imported via `index.js` but, in there, exported after `icons`. Is this the expected behavi

[2018-02-27 11:09] evilebottnawi commented on #6599
@eulbot please use issue template

[2018-02-27 11:16] stnwk commented on #6578
Running `yarn upgrade uglifyjs-webpack-plugin` did not help, but apparantely I didn't have the latest yarn version installed.

As soon as I updated the warning was gone.
Thanks for your support! :)

[2018-02-27 11:16] #6578 closed

[2018-02-27 11:18] Rokt33r commented on #6592
@TheLarkInn It works perfectly without TypeScript... 😭

[2018-02-27 11:28] Rokt33r commented on #6592
It has been fixed after I put `transpileOnly` option. I assume this is a problem of ts-loader

[code]

[2018-02-27 11:28] #6592 closed

[2018-02-27 11:49] enjikaka commented on #6586
@michael-ciniawsky https://github.com/webpack-contrib/file-loader/issues/259

Seems like Webpack 4 is not ignoring JSON loaded by other loaders?

[2018-02-27 11:51] sokra commented on #6599
It looks like you just deleted/ignored our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please open a new issue with filled issue template. Also make sure your issue is not a question. Questions

[2018-02-27 11:51] #6599 closed

[2018-02-27 11:53] sokra commented on #6598
The Stats has a `entrypoints` property which contains information about which files you need to add script tags for.

[2018-02-27 11:55] sokra commented on #6590
Did you use the `DefinePlugin` to make `process.env.CURRENT_DOMAIN` compile-time static?

[2018-02-27 11:59] Sparki2002 opened #6600 "Object.defineProperty error in IE8"
Hi,

i'm using the latest webpack 4.
In IE8 I get an error (`Object doesn't support this action`) on Object.defineProperty in module.js

[code]

This even happens using an empty entry file.

[2018-02-27 11:59] sokra commented on #6589
Seems like the formatting is vendor-specific and doesn't include the message in firefox and safari.
We should add the message in these cases. Please send a PR fixing it.

[2018-02-27 12:16] Nirazul commented on #6598
@sokra
Thanks for your answer. I've tried it out and see that one entrypoint is the runtime and the other one is a chunk. Is there any way to programmatically separate the entry files from the chunks?
I need to implement two differen caching strategies (serverside for script tags, and webpack hashes for chunks). For automatic script tag injection, I need to know after compilation, which files I ne

[2018-02-27 12:30] sokra commented on #6598
try to always use hashes. `filename: "[chunkhash].js"`

see `entrypoints` property and include all js files in the list. You don't need folders

All chunks are equal, technically a chunk used at entry time could also used on-demand for another entry. Only the runtime chunks is different, because it includes the runtime.